{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Supplier Balance - {{ year }}{% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    {{ report }}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Company:</th>
                    <th>{{ company.slug }}</th>
                    <th class="text-left">{{ company.name }}</th>
                    <th class="text-right"><a href="#">{{ report_date }}</a></th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th class="text-right">120+ Days</th>
                                    <th class="text-right">90 Days</th>
                                    <th class="text-right">60 Days</th>
                                    <th class="text-right">30 Days</th>
                                    <th class="text-right">Current</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if report|length > 0 %}
                                    {% for supplier in reports %}
                                         <tr >
                                            <td>{{ supplier.code }}</td>
                                            <td>{{ supplier.name }}</td>
                                            <td class="text-right">{{ supplier.one_twenty_day_total|money }}</td>
                                            <td class="text-right">{{ supplier.ninety_day_total|money }}</td>
                                            <td class="text-right">{{ supplier.sixty_day_total|money }}</td>
                                            <td class="text-right">{{ supplier.thirty_day_total|money }}</td>
                                            <td class="text-right">{{ supplier.current_total|money }}</td>
                                            <td class="text-right">
                                                <a href="{% url 'supplier_invoices' supplier.id %}"
                                                   onclick="openDetail(this)">
                                                    {{ supplier.balance }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                         <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">{{ totals.one_twenty_or_more_days|money }}</td>
                                            <td class="text-right">{{ totals.ninety_days|money }}</td>
                                            <td class="text-right">{{ totals.sixty_days|money }}</td>
                                            <td class="text-right">{{ totals.thirty_days|money }}</td>
                                            <td class="text-right">{{ totals.current|money }}</td>
                                            <td class="text-right">{{ totals.total|money }}</td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">There are no supplier balances available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}