{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}  Supplier Balance {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">

        </div>
        <div class="pull-right">
            <div class="form-group">
                <a type="button" href="{% url 'download_invoice_report' %}" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</a>
                <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="__form">
            <span id="loader"></span>
            <div class="container-fluid">
                <form class="form-horizontal" method="get" action="{% url 'supplier_balance' %}"  id="supplier_balance_report" name="supplier_balance_report">
                    <section class="row">
                        <fieldset class="col well">
                                <!-- Main Name Field -->
                                <div class="form-group col-sm-2">
                                   <label class="control-label txt-font12">Processing</label>
                                   <div class="form-controls">
                                      <input  type="checkbox" id="status_processing" name="status" value="processing" style="border: 1px solid #8c8c8c;" {% if 'processing' in statuses %} checked="checked" {% endif %} />
                                   </div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label class="control-label txt-font12">Completed<span class="" id=""></span></label>
                                    <div class="form-controls">
                                        <input  type="checkbox" id="status_completed" name="status" value="completed"" style="border: 1px solid #8c8c8c;" {% if 'completed' in statuses %} checked="checked" {% endif %} />
                                    </div>
                                </div>
                                <!-- Main Name Field -->
                                <div class="form-group col-sm-2">
                                  <label class="control-label txt-font12">Supplier</label>
                                  <select id="id_supplier" name="supplier" class="form-control chosen-select">
                                      <option value="">----</option>
                                      {% for supplier in suppliers %}
                                          <option {% if supplier.selected %} selected="selected" {% endif %} value="{{ supplier.id }}">{{ supplier.name }}</option>
                                      {% endfor %}
                                  </select>
                                </div>

                                <div class="form-group col-sm-2">
                                    <label class="control-label txt-font12">Date </label>
                                    <input class="form-control history_datepicker" type="text" id="date" name="date" value="{{ date|date:'d-b-Y' }}" />
                                </div>
                        </fieldset>
                    </section>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="form-group">
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
                        </div>
                        <div class="form-group">
                            <button type="button" id="file" class="btn btn-primary generate"
                                data-action="file" tabindex="8|add:objects_count }}"
                            >File</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_pdf" class="btn btn-primary generate"
                                data-action="screen" tabindex="9"
                            >
                            Pdf
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary"
                                data-action="cancel" tabindex="10"
                            >Cancel</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="__table">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%">
                    <tr>
                        <th>Company:</th>
                        <th>{{ company.slug }}</th>
                        <th class="text-left">{{ company.name }}</th>
                        <th class="text-right"><a href="#">{{ report_date }}</a></th>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table id="invoices" class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Supplier Code</th>
                                        <th>Supplier Name</th>
                                        <th class="text-right">Unallocated</th>
                                        <th class="text-right">120+ Days</th>
                                        <th class="text-right">90 Days</th>
                                        <th class="text-right">60 Days</th>
                                        <th class="text-right">30 Days</th>
                                        <th class="text-right">Current</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if report.suppliers|length > 0 %}
                                        {% for supplier, range_total in report.suppliers.items %}
                                            {% if range_total.total != 0 %}
                                                 <tr>
                                                    <td>{{ supplier.code }}</td>
                                                    <td>{{ supplier.name }}</td>
                                                    <td class="text-right">{{ range_total.total_unallocated|money }}</td>
                                                    <td class="text-right">{{ range_total.one_twenty_or_more_days|money }}</td>
                                                    <td class="text-right">{{ range_total.ninety_days|money }}</td>
                                                    <td class="text-right">{{ range_total.sixty_days|money }}</td>
                                                    <td class="text-right">{{ range_total.thirty_days|money }}</td>
                                                    <td class="text-right">{{ range_total.current|money }}</td>
                                                    <td class="text-right">
                                                        <a href="{% url 'supplier_invoices' supplier.id %}{{ query_string }}">
                                                            {{ range_total.total|money }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                             <tr>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">{{ report.day_ranges.unallocated.total|money }}</td>
                                                <td class="text-right">{{ report.day_ranges.one_twenty_or_more_days.total|money }}</td>
                                                <td class="text-right">{{ report.day_ranges.ninety_days.total|money }}</td>
                                                <td class="text-right">{{ report.day_ranges.sixty_days.total|money }}</td>
                                                <td class="text-right">{{ report.day_ranges.thirty_days.total|money }}</td>
                                                <td class="text-right">{{ report.day_ranges.current.total|money }}</td>
                                                <td class="text-right">{{ report.total|money }}</td>
                                            </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">There are no supplier balances available</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#supplier_balance_report").submit();
            });
       });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}