{% extends 'base.html' %}
{% block page_title %} Change user password {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% include 'common/form.html' %}
    <div class="form-group">
      <button class="btn btn-primary btn-large" name="submit" type="submit" tabindex="11"><i class="fa fa-check"></i> Submit</button>
    </div>
  </form>
{% endblock %}