{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %} User Accounts {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create-user-account' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a user
        </a>
    </div>
    <style type="text/css">
    tbody>tr:hover{
        background-color: lightgray;
        border-top: 1px solid #000000;
    }
    </style>
    <br />
    <div class="table-responsive">
        <form method="get" class="pull-left">
             <div class="col-lg-2 col-sm-12">
                <div class="form-group">
                    <label for="{{ filter.form.user__username.id_for_label }}">Username:</label>
                    {{ filter.form.user__username|attr:"class:form-control"  }}
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div class="form-group">
                    <label for="{{ filter.form.user__first_name.id_for_label }}">First Name:</label>
                    {{ filter.form.user__first_name|attr:"class:form-control"  }}
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div class="form-group">
                    <label for="{{ filter.user__form.last_name.id_for_label }}">Last Name:</label>
                    {{ filter.form.user__last_name|attr:"class:form-control"  }}
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div class="form-group">
                    <label for="{{ filter.roles.id_for_label }}">Role:</label>
                    {{ filter.form.roles|attr:"class:form-control"  }}
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-12">
                <label>&nbsp;</label><br />
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                <span id="loader" style="display:none;"><img src="/images/loader-medium.gif" ></span>
            </div>
        </form>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if accounts %}
                    {% for account in accounts %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_user_account' account.id %}">
                            <td>{{ account.user.username }}</td>
                            <td>{{ account.user.first_name }}</td>
                            <td>{{ account.user.last_name }}</td>
                            <td>{{ account.user.email }}</td>
                            <td>
                                {% for role in account.roles.all %}
                                    <span class="label label-primary">{{ role.label }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% if account.user.is_active %}
                                    <span class="label label-success">Active</span>
                                {% else %}
                                    <span class="label label-danger">Not Active</span>
                                {% endif %}
                            </td>
                            <td class="text-left actions">
                                <a href="{% url 'edit_user_account' account.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary"
                                   data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'user-account-delete' account.id %}"
                                   data-toggle="tooltip"
                                   title=""
                                   class="btn-sm btn-danger"
                                   data-original-title="Delete"
                                   onclick="return confirm('Are you sure you want to delete this user account')"
                                ><i class="fa fa-trash"></i></a>
                                <a href="{% url 'user-account-change-password' account.id %}" data-toggle="tooltip" title="" class="btn-sm btn-warning" data-original-title="Change Password"><i class="fa fa-lock"></i></a>

                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">There are no user accounts available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}