{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Edit {% endblock page_title %}
{% block content %}
       <style type="text/css">
      #id_permissions{
          height: 1000px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
   </style>
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
      <fieldset class="well">
          <legend>User</legend>
              <div class="form-group control-group {% if form.username.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
                <div class="controls">
                    {% render_field form.username class="form-control" value=user.username disabled='disabled' %}
                    {% if form.username.auto_id  != "id_tos" %}
                        {% if form.username.errors %}<span class="help-inline">{{ form.username.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.code.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.code.id_for_label }}">{{ form.code.label_tag }}</label>
                <div class="controls">
                    {% if can_edit %}
                        {% render_field form.code class="form-control" value=profile.code %}
                    {% else %}
                        {% render_field form.code class="form-control" value=profile.code disabled="disabled" %}
                    {% endif %}

                    {% if form.code.auto_id  != "id_tos" %}
                        {% if form.code.errors %}<span class="help-inline">{{ form.code.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.first_name.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label_tag }}</label>
                <div class="controls">
                    {% render_field form.first_name class="form-control" value=user.first_name %}
                    {% if form.first_name.auto_id  != "id_tos" %}
                        {% if form.first_name.errors %}<span class="help-inline">{{ form.first_name.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.last_name.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label_tag }}</label>
                <div class="controls">
                    {% render_field form.last_name class="form-control" value=user.last_name %}
                    {% if form.last_name.auto_id  != "id_tos" %}
                        {% if form.last_name.errors %}<span class="help-inline">{{ form.last_name.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.email.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
                <div class="controls">
                    {% render_field form.email class="form-control" value=user.email %}
                    {% if form.email.auto_id  != "id_tos" %}
                        {% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.is_active.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label_tag }}</label>
                <div class="controls">
                    {% render_field form.is_active class="form-control" value=user.is_active %}
                    {% if form.is_active.auto_id  != "id_tos" %}
                        {% if form.is_active.errors %}<span class="help-inline">{{ form.is_active.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.valid_to.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.valid_to.id_for_label }}">{{ form.valid_to.label_tag }}</label>
                <div class="controls">
                    {% render_field form.valid_to class="form-control datepicker" value=profile.valid_to readonly="readonly" %}
                    {% if form.valid_to.auto_id  != "id_tos" %}
                        {% if form.valid_to.errors %}<span class="help-inline">{{ form.valid_to.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.number_of_records.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.number_of_records.id_for_label }}">{{ form.number_of_records.label_tag }}</label>
                <div class="controls">
                    {% render_field form.number_of_records class="form-control" value=profile.number_of_records %}
                    {% if form.number_of_records.auto_id  != "id_tos" %}
                        {% if form.number_of_records.errors %}<span class="help-inline">{{ form.number_of_records.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.year.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.year.id_for_label }}">{{ form.year.label_tag }}</label>
                <div class="controls">
                    {% render_field form.year class="form-control" value=profile.year %}
                    {% if form.year.auto_id  != "id_tos" %}
                        {% if form.year.errors %}<span class="help-inline">{{ form.year.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
      </fieldset>
      <fieldset class="well">
          <legend>Password</legend>
              <div class="form-group control-group {% if form.new_password_1.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.new_password_1.id_for_label }}">{{ form.new_password_1.label_tag }}</label>
                <div class="controls">

                    {% render_field form.new_password_1 class="form-control" %}
                    {% if form.new_password_1.auto_id  != "id_tos" %}
                        {% if form.new_password_1.errors %}<span class="help-inline">{{ form.new_password_1.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.new_password_2.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.new_password_2.id_for_label }}">{{ form.new_password_2.label_tag }}</label>
                {% render_field form.new_password_2 class="form-control" %}
                <div class="controls">
                    {% if form.new_password_2.auto_id  != "id_tos" %}
                        {% if form.new_password_2.errors %}<span class="help-inline">{{ form.new_password_2.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>


            <div class="form-group control-group {% if form.change_password.errors %}error{% endif %}">
                <div>
                     <label class=" control-label txt-font12">{{ form.change_password.label_tag }}</div>
                    <div class="controls">
                        <div class="col-sm-8">
                            <div class="checkbox">
                                  <input type="checkbox" name="change_password" id="change_password" value="1">
                                  {% if form.change_password.auto_id  != "id_tos" %}
                                      {% if form.change_password.errors %}<span class="help-inline">{{ form.is_status_transfer_text.errors }}</span>{% endif %}
                                  {% endif %}
                                  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group control-group">
                <div class="row">
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-danger btn-sm" name="submit" id="send_access_credentials"
                                data-ajax-url="{% url 'send_access_credentials' profile.id %}"
                                data-toggle="tooltip"><i class="fa fa-envlope"></i> Send access credentials</button>
                    </div>
                </div>
            </div>
      </fieldset>
      <fieldset class="well">
          <legend>Granting Temporary User Account Access</legend>
{#              <div class="form-group control-group {% if form.temporary_user.errors %}error{% endif %}">#}
{#                <label class=" control-label txt-font12" for="{{ form.temporary_user.id_for_label }}">{{ form.temporary_user.label_tag }}</label>#}
{#                <div class="controls">#}
{#                    {% render_field form.temporary_user class="form-control" value=profile.temporary_user readonly='readonly'%}#}
{#                    {% if form.temporary_user.auto_id  != "id_tos" %}#}
{#                        {% if form.temporary_user.errors %}<span class="help-inline">{{ form.temporary_user.errors }}</span>{% endif %}#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
            <div class="form-group control-group {% if form.from_date.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.from_date.id_for_label }}">{{ form.from_date.label_tag }}</label>
                <div class="controls">
                    {% if can_edit %}
                        {% render_field form.from_date class="form-control datepicker" value=user.from_date readonly='readonly'%}
                    {% else %}
                        {% render_field form.from_date class="form-control datepicker" value=user.from_date disabled='disabled'%}
                    {% endif %}
                    {% if form.from_date.auto_id  != "id_tos" %}
                        {% if form.from_date.errors %}<span class="help-inline">{{ form.from_date.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.expiry_date.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.expiry_date.id_for_label }}">{{ form.expiry_date.label_tag }}</label>
                <div class="controls">
                    {% if can_edit %}
                        {% render_field form.expiry_date class="form-control datepicker" value=profile.expiry_date readonly='readonly'%}
                    {% else %}
                        {% render_field form.expiry_date class="form-control datepicker" value=profile.expiry_date disabled='disabled'%}
                    {% endif %}
                    {% if form.expiry_date.auto_id  != "id_tos" %}
                        {% if form.expiry_date.errors %}<span class="help-inline">{{ form.expiry_date.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
      </fieldset>
    <div class="form-group">
      <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-check"></i> Update</button>

    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/user.js' %}"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs();
      });
    </script>
{% endblock %}