{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<div id="tabs">
  <ul>
     <li><a href="#user">User</a></li>
     <li><a href="#password">Password</a></li>
     <li><a href="#temporary">Granting Temporary User Account Access</a></li>
     <li><a href="#branch">Branch</a></li>
     <li><a href="#limits">Override</a></li>
  </ul>
  <div id="user">
      {% include 'accounts/tabs/profile.html' %}
  </div>
  <div id="password">
      {% include 'accounts/tabs/password.html' %}
  </div>
  <div id="temporary">
      {% include 'accounts/tabs/temporary.html' %}
  </div>
  <div id="branch">
      {% include 'accounts/tabs/branch.html' %}
  </div>
  <div id="limits">
      {% include 'accounts/tabs/limits.html' %}
  </div>
</div>




