{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Edit {% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" action="{% url 'current_user_edit' %}" id="edit_user_account">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                  <button class="btn btn-primary btn-large" id="update_user_account" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>
            </div>
        </div>
        <div class="panel-body align-center">
            {% csrf_token %}
            <div id="tabs">
              <ul>
                 <li><a href="#user">User</a></li>
                 <li><a href="#password">Password</a></li>
                 {% if 'my_profile_temporary_users_yes' in permissions %}
                    <li><a href="#temporary">Granting Temporary User Account Access</a></li>
                 {% endif %}
                 <li><a href="#override">Override</a></li>
              </ul>
              <div id="user">
                  {% include 'accounts/tabs/profile.html' %}
              </div>
              <div id="password">
                  {% include 'accounts/tabs/password.html' %}
              </div>
              {% if 'my_profile_temporary_users_yes' in permissions %}
                  <div id="temporary">
                      {% include 'accounts/tabs/temporary.html' %}
                  </div>
              {% endif %}
              <div id="override">
                  {% include 'accounts/tabs/limits.html' %}
              </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/user.js' %}?{% now 'YmdHis' %}"></script>
    <script type="text/javascript">
      $( function() {
        $( "#tabs" ).tabs();
      });
    </script>
{% endblock %}