{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Edit {{ user }} {% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" action="{% url 'edit_user_account' user.id %}" id="edit_user_account">
    {% csrf_token %}
    {% include "accounts/form.html" %}
    <div class="form-group">
      <button class="btn btn-primary btn-large" id="update_user_account" name="submit" type="submit"><i class="fa fa-check"></i> Update</button>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/user.js' %}?{% now 'dhmisY' %}"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs();
      });
    </script>
{% endblock %}