{% extends 'base.html' %}
{% block page_title %} <h2>Generate Random users</h2> {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% include 'common/form.html' %}

    <div class="form-group">
        <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-gavel"></i> Generate</button>
    </div>
  </form>
{% endblock %}