{% extends 'datatable.html' %}
{% load widget_tweaks %}
{% block page_title %} User Accounts {% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
        <a href="{% url 'create-user-account' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a user
        </a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="accounts" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#accounts").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/users/?format=datatables',
              'columns': [
                { data: 'user', name: 'user__username', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.username : '-';
                    },
                    title:'Username'
                },
                { data: 'user', name: 'user__first_name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.first_name : '-';
                    },
                    title:'First Name'
                },
                { data: 'user', name: 'user__last_name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.last_name : '-';
                    },
                    title:'Last Name'
                },
                { data: 'user', name: 'user__last_name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.email : '-';
                    },
                    title:'Email'
                },
                { data: 'roles', name: 'roles__name', searchable: true, title:'Roles'},
                { data: 'user', name: 'user__is_active', searchable: true, title:'Status'},
                { data: 'id', name: 'actions', searchable: false, title:'Action'}
              ],
             "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        if (data) {
                            let html = [];
                            data.forEach(function(role, index){
                                html.push("<span class='label label-primary'>" + role.label + "</span>")
                            })
                            return html.join('&nbsp;&nbsp;');
                        } else {
                            return '';
                        }
                    },
                    "targets": 4
                },
                {
                    "render": function ( data, type, row ) {
                        if (data.is_active) {
                            return "<span class=\"text-success fa fa-check\"></span>";
                        } else {
                            return "<span class=\"text-danger fa fa-close\"></span>";
                        }
                    },
                    "targets": 5
                },
                {
                    "render": function ( data, type, row ) {
                        let html = []
                        html.push('<a href="'+ row.detail_url +'" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>');
                        html.push('<a href="'+ row.delete_url +'" data-toggle="tooltip" class="btn-sm btn-danger" data-original-title="Delete" onclick="return confirm(\'Are you sure you want to delete this user account\')"><i class="fa fa-trash"></i></a>');
                        html.push('<a href="'+ row.change_password_url +'" data-toggle="tooltip" title="" class="btn-sm btn-warning" data-original-title="Change Password"><i class="fa fa-lock"></i></a>');
                        return html.join("&nbsp;&nbsp;|&nbsp;&nbsp;")
                    },
                    "targets": 6
                }
            ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#accounts tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'user_accounts_index' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });
    });
    </script>
{% endblock %}
