{% extends 'base.html' %}
{% load static %}
{% load invoice_tags %}
{% block page_title %} Login Logs {% endblock page_title %}
{% block actions %}{% endblock %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
          <div class="btn-group pull-right"></div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Profile</th>
                        <th>Date</th>
                        <th>Remote Address</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody id="invoice-list">
                    {% for log in log_entries %}
                        <tr>
                            <td>{{ log.id }}</td>
                            <td>{{ log.profile }}</td>
                            <th>{{ log.timestamp }}</th>
                            <th>{{ log.remote_addr }}</th>
                            <td>{{ log.message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
