<div class="row">
<table class="table-bordered table">
    <thead>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for temporary_profile in profile.temporary_profiles.all %}
            <tr>
                <td>{{ temporary_profile.profile }}</td>
                <td>{{ temporary_profile.start_date }}</td>
                <td>{{ temporary_profile.expiry_date }}</td>
                <td>
                    {% if temporary_profile.has_started %}
                        -
                    {% else %}
                        <a href="">Edit</a>
                        <a href="">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>