{% extends 'modal.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load fixed_asset_tags %}
{% block title %}Create {{ fixed_asset }} Addition{% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="fixed_asset_addition_form"
        action="{% url 'create_fixed_asset_addition' fixed_asset.id %}"
        data-ajax-url="{% url 'create_fixed_asset_addition' fixed_asset.id %}">
       <div class="modal-body">
            {% include 'common/form.html' %}
       </div>
       <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
            <button class="btn btn-primary btn-large" name="save_fixed_asset_addition" type="submit" id="save_fixed_asset_addition"><i class="fa fa-save"></i> Save</button>
       </div>
  </form>
{% endblock %}