{% load invoice_tags %}
<div class="col-lg-12 col-xs-12" id="fixed_assets">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" width="100%" id="fixed-asset-additions">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Asset Number</th>
                    <th>Date Purchased</th>
                    <th>Type</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for addition in additions %}
                    <tr>
                        <td>{{ addition.name }}</td>
                        <td>
                            {% if addition.invoice_account %}
                                <a href="{% url 'invoice_detail' addition.invoice_account.invoice_id %}">{{ addition.fixed_asset.asset_number }}</a>
                            {% elif addition.journal_line %}
                                <a href="{% url 'invoice_detail' addition.journal_line.journal_id %}">{{ addition.fixed_asset.asset_number }}</a>
                            {% else %}
                                {% if addition.fixed_asset.asset_number %}{{ addition.fixed_asset.asset_number }}{% else %}-{% endif %}
                            {% endif %}
                        </td>
                        <td>{{ addition.date }}</td>
                        <td>{{ addition.addition_type }}</td>
                        <td class="text-right">{{ addition.amount|money }}</td>
                        <td class="text-right actions">
                            <a class="manage-addition" id="manage_{{ addition.id }}" href="#"
                               data-modal="{% url 'edit_fixed_asset_addition' addition.fixed_asset_id addition.id %}"
                            >Edit</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">There are no fixed assets additions</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>