{% load i18n %}
{% load invoice_tags %}
<input type="text" id="inventory_item_{{ row_id }}" class="form-control form-control-sm model-inventory-search-{{ row_id }} search-box"
       placeholder="{% translate "Enter code" %}"
       tabindex="{{ tab_index }}"
       data-row-id="{{ row_id }}"
       data-model="inventory"
       data-ajax-url="{% url 'autocomplete_search_list' %}"
       data-ajax-detail-url="{% url 'fetch_inventory_item' %}" />

<input type="hidden" value="" name="inventory_{{ row_id }}"
       id="inventory_{{ row_id }}" data-item-id="{{ row_id }}" />
<input type="hidden" class="allow-negative" value=""
       name="allow_negative_stock_{{ row_id }}"
       id="allow_negative_stock_{{ row_id }}"
       data-item-id="{{ row_id }}" />
<input type="hidden" class="average-price" value=""
       name="average_price_{{ row_id }}"
       id="average_price_{{ row_id }}"
       data-item-id="{{ row_id }}" />
<input type="hidden" class="form-control form-control-sm in-stock" value=""
       name="in_stock_{{ row_id }}"
       id="in_stock_{{ row_id }}"
       data-item-id="{{ row_id }}"
       placeholder=""
>