<select class="form-control form-control-sm line-type"
    name="type_{{ row_id }}" data-row-id="{{ row_id }}"
    id="type_{{ row_id }}" data-ajax-url="{{ module_url }}"
    tabindex="{{ tab_index }}"
>
    <option value="i" {% if line_type == 'i' %} selected="selected" {% endif %}>I</option>
    <option value="t" {% if line_type == 't' %} selected="selected" {% endif %}>T</option>
    {% if with_general %}
        <option value="g" {% if line_type == 'g' %} selected="selected" {% endif %}>G</option>
    {% endif %}
</select>