{% if is_open %}
    <input type="text" class="form-control form-control-sm search-box model-unit-search-{{ row_id }}" value=""
           tabindex="{{ tab_index }}"
           name="unit_item_{{ row_id }}"
           id="unit_item_{{ row_id }}"
           data-item-id="{{ row_id }}"
           data-model="unit"
           data-ajax-url="{% url 'autocomplete_units_search' %}"
    >
    <input type="hidden" class="form-control form-control-sm unit" name="unit_{{ row_id }}" id="unit_{{ row_id }}" value=""
           data-item-id="{{ row_id }}"
            />
{% else %}
    <input type="text" class="form-control form-control-sm unit-box" readonly="readonly" value="" tabindex="{{ tab_index }}"  name="unit_{{ row_id }}" id="unit_{{ row_id }}"
           data-item-id="{{ row_id }}"
    >
<input type="hidden" class="form-control form-control-sm unit" name="unit_id_{{ row_id }}" id="unit_id_{{ row_id }}"
       data-item-id="{{ row_id }}"
       value="" />
{% endif %}
<input type="hidden" class="net-weight" id="net_weight_{{ row_id }}" value=""
       data-item-id="{{ row_id }}" data-row-id="{{ row_id }}"
/>
<input type="hidden" class="gross-weight" id="gross_weight_{{ row_id }}" value=""
       data-item-id="{{ row_id }}" data-row-id="{{ row_id }}"
/>