<input type="text" id="vat_code_item_{{ row_id }}" class="form-control form-control-sm model-vat_code-search-{{ row_id }} search-box"
       tabindex="{{ tab_index }}"
       value="{% if vat_code %}{{ vat_code.code }}{% elif default_vat %}{{ default_vat.code }}{% endif %}"
       data-model="vat_code"
       data-row-id="{{ row_id }}"
       data-ajax-url="{% url 'autocomplete_vat_code' %}"
       data-ajax-detail-url="" />
<input type="hidden" value="{% if default_vat %}{{ default_vat.id }}{% endif %}" name="vat_code_{{ row_id }}" id="vat_code_{{ row_id }}" data-item-id="{{ row_id }}" />
<input type="hidden" value="{% if default_vat %}{{ default_vat.percentage }}{% endif %}" name="vat_percentage_{{ row_id }}"
       id="vat_percentage_{{ row_id }}"
       class="vat-percentage" />
<input type="hidden" value="" name="total_vat_{{ row_id }}" id="total_vat_{{ row_id }}" class="total-vat-amount" />
<input type="hidden" value="" name="vat_amount_{{ row_id }}"{{ row_id }} id="vat_amount_{{ row_id }}" class="vat-amount" />