{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block page_title %}Create Received Item - {{ branch }} {% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="create_goods_received_form"
      action="{% url 'create_general_received' %}">
        {% csrf_token %}
        <div class="form-group {% if form.supplier.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
            <div class="controls">
                {% render_field form.supplier class="form-control chosen-select"  %}
                {% if form.supplier.auto_id  != "id_tos" %}
                    {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.period.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="controls">
                {% render_field form.period class="form-control chosen-select"  %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.date.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="controls">
                {% render_field form.date class="form-control datepicker"  %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.note.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.note.id_for_label }}">{{ form.note.label_tag }}</label>
            <div class="controls">
                {% render_field form.note class="form-control"  %}
                {% if form.note.auto_id  != "id_tos" %}
                    {% if form.note.errors %}<span class="help-inline">{{ form.note.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div id="purchase_order_items">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>{% translate "Stock Code" %}</th>
                        <th>{% translate "Qty Ord" %}</th>
                        <th>{% translate "Unit" %}</th>
                        <th>{% translate "Price Exc" %}</th>
                        <th>{% translate "Price Inc" %}</th>
                        <th>{% translate "Vat" %}</th>
                        <th>{% translate "Vat Amount" %}</th>
                        <th>{% translate "Price Total Exc" %}</th>
                        <th>{% translate "Price Total Inc" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="inventory_received_items_body" data-ajax-url="{% url 'add_inventory_received_row' %}">
                    <tr id="inventory_received_items_placeholder">
                        <td colspan="9">
                            <img src="{% static 'images/loader.gif' %}">
                        </td>
                    </tr>
                    <tr id="actions">
                        <td class="text-right" colspan="9">
                            <button type="button" id="add_received_line" class="btn btn-primary"
                                    data-ajax-url="{% url 'add_inventory_received_row' %}"
                            >Add</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-right"><span id="total_received"></span></td>
                        <td></td>
                        <td class="text-right">
                            <span id="price_excl"></span>
                        </td>
                        <td></td>
                        <td class="text-right">
                            <span id="total_vat"></span>
                             {% render_field form.total_vat class="form-control"  %}
                        </td>
                        <td></td>
                        <td class="text-right"><span id="total_price_excl"></span></td>
                        <td class="text-right">
                            <span id="total_price_inc"></span>
                            {% render_field form.total_amount class="form-control"  %}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
        <div class="controls text-right">
            <a href="{% url 'inventory_received_index' %}" class="btn btn-warning">Cancel</a>
            <button type="button" class="btn btn-primary btn-large" name="submit_goods_received"
                    id="submit_goods_received"><i class="fa fa-save"></i> Record Delivery</button>
        </div>
    </form>
{% endblock  %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory/inventory_received.js' %}?{% now 'YmiHd' %}"></script>
{% endblock %}