{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Create Received Item - {{ branch }} {% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="create_goods_received_form"
      action="{% url 'create_received' %}">
        {% csrf_token %}
        <div class="form-group {% if form.supplier.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
            <div class="controls">
                {% render_field form.supplier class="form-control chosen-select"  %}
                {% if form.supplier.auto_id  != "id_tos" %}
                    {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.period.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="controls">
                {% render_field form.period class="form-control chosen-select"  %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.date.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="controls">
                {% render_field form.date class="form-control datepicker"  %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.note.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.note.id_for_label }}">{{ form.note.label_tag }}</label>
            <div class="controls">
                {% render_field form.note class="form-control"  %}
                {% if form.note.auto_id  != "id_tos" %}
                    {% if form.note.errors %}<span class="help-inline">{{ form.note.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class=" control-label txt-font12" for="enter-totals">Enter Totals</label>
            <div class="controls">
                <input type="checkbox" class="checkbox-input enter-total-manually"
                   id="enter_totals" />
            </div>
        </div>


        <div class="form-group {% if form.purchase_order.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.purchase_order.id_for_label }}">{{ form.purchase_order.label_tag }}</label>
            <div class="controls">
                {% render_field form.purchase_order class="form-control chosen-select"  %}
                {% if form.purchase_order.auto_id  != "id_tos" %}
                    {% if form.purchase_order.errors %}<span class="help-inline">{{ form.purchase_order.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div id="purchase_order_items"></div>

        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
        <div class="controls text-right">
            <a href="{% url 'inventory_received_index' %}" class="btn btn-warning">Cancel</a>
            <button type="button" class="btn btn-primary btn-large" name="submit_goods_received"
                    id="submit_goods_received"><i class="fa fa-save"></i> Record Delivery</button>
        </div>
    </form>
{% endblock  %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory/inventory_received.js' %}?{% now 'YmiHd' %}"></script>
{% endblock %}