{% extends 'base.html' %}
{% load static %}
{% load thumbnail widget_tweaks %}
{% load invoice_tags company_tags %}
{% block page_title %}Received Item - {{ received }}  <span class="pull-right">&nbsp;{{ received }}</span>
{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left">
                <span class="ui-state ui-state-info-text">{{ invoice.status_name }}</span>
            </h5>
        </div>
        <div class="pull-right">
          <a type="button" class="btn btn-primary btn-sm" name="submit" id="print"
            onclick="printHtml('supplier_payment_table');"
            data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
          <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
        </div>
    </div>
    <div class="panel-body align-center" id="invoice_document">
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 text-left" style="padding-right: 3px !important;">
                 {% display_logo received.branch.company 200 75 %}
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4" style="padding-left: 3px !important;; padding-right: 3px !important;">
                {% with company=received.branch.company %}
                    {% include "sales/address/company.html" %}
                {% endwith %}
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 text-right" style="padding-left: 3px !important;">
                <table class="table table-borderless table-condensed">
                    <tr>
                        <td colspan="2"><strong class="h4">Goods Received</strong></td>
                    </tr>
                    <tr>
                        <td>Reference</td>
                        <td>{{ received }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ received.date|date:'d-M-Y' }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row invoice-row" id="customer-data">
            <div class="col-xs-4 col-md-4 col-lg-4 text-left" style="padding-right: 3px !important;">
                <div class="panel panel-default height invoice-col">
                    <div class="panel-heading"><strong>Supplier</strong></div>
                    <div class="panel-body" style="padding: 5px;">
                        <table class="table">
                            <tr>
                                <td>{{ received.supplier.code }}</td>
                            </tr>
                            <tr>
                                <td>{{ received.supplier.name }}</td>
                            </tr>
                            <tr>
                                <td>{{ received.supplier.address_line_1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ received.supplier.address_line_2 }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4" style="padding-left: 3px !important;; padding-right: 3px !important;">
                <div class="panel panel-default height invoice-col">
                    <div class="panel-heading"><strong>Delivery To</strong></div>
                    <div class="panel-body" style="padding: 5px;" id="shipping_to">
                        <table class="table">
                            <tr>
                                <td>{{ received.branch.label }}</td>
                            </tr>
                            <tr>
                                <td>{{ received.branch.address_line_1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ received.branch.address_line_2 }}</td>
                            </tr>
                            <tr>
                                <td>{{ received.branch.town }}, {{ received.branch.area_code }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4" style="padding-left: 3px !important;">
                <div class="panel panel-default height invoice-col">
                    <div class="panel-heading"><strong>Other</strong></div>
                    <div class="panel-body" id="invoice_meta" style="padding: 5px;">
                        <table class="table">
                            <tr>
                                <td>Memo to Supplier</td>
                                <td>{{ received.note }}</td>
                            </tr>
                            <tr>
                                <td>Purchase Order to Supplier</td>
                                <td>
                                    {% if received.purchase_order %}
                                        <a href="{% url 'invoice_detail' received.purchase_order.invoice_id %}?redirect={% url 'view_received' received.id %}">{{ received.purchase_order }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Received By</td>
                                <td>
                                    {% if received.profile %}{{ received.profile }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Date Created</td>
                                <td>
                                    {% if received.created_at %}{{ received.created_at|date:'d-M-Y' }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Time Created</td>
                                <td>
                                    {% if received.created_at %}{{ received.created_at|date:'H:s' }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Company Code</td>
                                <td>{{ received.branch.company.slug }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-info">
                    <div class="panel-body sales-items">
                        <div class="table-responsive">
                           <table width="100%" class="table">
                                <tr class="item-titles">
                                    <th class="po-brdr-r po-pad-left">Stock Code</th>
                                    <th class="po-brdr-r po-pad-left">Description</th>
                                    <th class="po-brdr-r po-pad-right text-right">Qty Ord</th>
                                    <th class="po-brdr-r po-pad-right text-right">Qty Rec.</th>
                                    <th class="po-brdr-r po-pad-right text-right">Short</th>
                                    <th class="po-brdr-r po-pad-left">B/O</th>
                                    <th class="po-brdr-r po-pad-left">Vat</th>
                                    <th class="po-brdr-r po-right-align text-right">Price Exc</th>
                                    <th class="po-brdr-r po-right-align text-right">Price Inc</th>
                                    <th class="po-brdr-r po-right-align text-right">Price Total Exc</th>
                                    <th class="po-brdr-r po-right-align text-right">Price Total Inc</th>
                                </tr>
                                {% for received_item in received.inventory_received.all %}
                                    <tr class="line-items">
                                        <td>{{ received_item.inventory }}</td>
                                        <td>{{ received_item.inventory.description }}</td>
                                        <td class="text-right">{{ received_item.ordered }}</td>
                                        <td class="text-right">{{ received_item.quantity }}</td>
                                        <td class="text-right">{{ received_item.short }}</td>
                                        <td>
                                            {% if received_item.is_back_order %}
                                                <span class="label label-success"><i class="fa fa-check"></i></span>
                                            {% else %}
                                                <span class="label label-danger"><i class="fa fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                        <td>{{ received_item.vat }}</td>
                                        <td class="text-right">{{ received_item.price_excluding|money }}</td>
                                        <td class="text-right">{{ received_item.price_including|money }}</td>
                                        <td class="text-right">{{ received_item.total_price_excluding|money }}</td>
                                        <td class="text-right">{{ received_item.total_price_including|money }}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="line-items">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="po-right-align">&nbsp;</td>
                                    <td class="po-right-align">&nbsp;</td>
                                    <td class="po-right-align">&nbsp;</td>
                                    <td class="po-right-align">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">

            </div>
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                <table width="100%" class="table table-bordered">
                    <tr>
                        <td class="po-total" colspan="10">NETT TOTAL</td>
                        <td class="po-total" >&nbsp;{{ received.total_excl|money }}</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="10">VAT</td>
                        <td class="po-total" >&nbsp;{{ received.total_vat|money }}</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="10">TOTAL ORDER VALUE</td>
                        <td class="po-total" >&nbsp;{{ received.total_amount|money }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales.js' %}?{% now 'HisYmd' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}
