{% extends 'datatable.html' %}
{% load static %}
{% load i18n %}
{% load invoice_tags %}
{% block title %} :: Goods Received {% endblock title %}
{% block page_title %}Goods Received - {{ year }} {% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-right">
         <a {% if year.is_final %}disabled="disabled"{% endif %} class="btn btn-sm btn-primary" href="{% url 'create_general_received' %}"><i class="fa fa-plus"></i> Create New Goods Received General</a>
         <a {% if year.is_final %}disabled="disabled"{% endif %} class="btn btn-sm btn-primary" href="{% url 'create_received' %}"><i class="fa fa-plus-circle"></i> Create New Goods Received PO</a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="goods_received" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Document</th>
                    <th>Document Type</th>
                    <th>Supplier No</th>
                    <th>Delivery Note</th>
                    <th>Supplier</th>
                    <th>Doc Date</th>
                    <th>Ex Vat</th>
                    <th>Incl Vat</th>
                    <th>Linked</th>
                </tr>
            </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#goods_received").DataTable({
            serverSide: true,
            ajax: '/api/v1/inventories/received/?format=datatables',
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'desc' ]],
            processing: true,
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            columns: [
                { data: 'document', name: 'reference', searchable: true, title:'Document' },
                { data: 'document_type', name: 'document_type', searchable: false, title:'Document Type' },
                { data: 'supplier', name: 'supplier__code', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.code : '-';
                    },
                    title:'Supplier Number'
                },
                { data: 'note', name: 'note', searchable: false, title:'Delivery Note'},
                { data: 'supplier', name: 'supplier__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    },
                    title:'Supplier'
                },
                { data: 'date', name: 'date', searchable: false, title:'Doc Date'},
                { data: 'total_excl', name: 'total_excl', searchable: false, title:'Excl. Vat', className: 'text-right' },
                { data: 'total_amount', name: 'total_amount', searchable: false, title:'Incl. Vat', className: 'text-right' },
                { data: 'is_linked', name: 'is_linked', searchable: false, title:'Linked', className: 'actions'}
              ],
            columnDefs: [
                {
                    "render": function ( data, type, row ) {
                        return accounting.toFixed(data, 2)
                    },
                    "targets": 6
                },
                {
                    "render": function ( data, type, row ) {
                        if(row.returned) {
                            return "<span class='completed'><a href='" + row.returned.detail_url + "?redirect={% url "inventory_received_index" %}'>" + row.returned.reference + "</a></span>";
                        } else if (row.invoice) {
                            if (row.is_out_of_flow) {
                                return "<span class='completed text-success'><a href='"+ row.invoice.detail_url +"?redirect={% url "inventory_received_index" %}'>" + row.invoice.reference + "</a></span>";
                            } else {
                                return "<span class='grayout'><a href='"+ row.invoice.detail_url +"?redirect={% url "inventory_received_index" %}'>" + row.invoice.reference + "</a></span>";
                            }
                        } else {
                            return '<span class="grayout">-</span>';
                        }
                    },
                    "targets": 8
                }
            ]
        });

        $('#goods_received tbody').on( 'click', 'tr', function () {
            const rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'inventory_received_index' %}";
            }
        });

    });
    </script>
{% endblock %}