{% load invoice_tags %}
<table class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>Stock Code</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Vat</th>
            <th class="text-right">Price Exc</th>
            <th class="text-right">Price Inc</th>
            <th class="text-right">Price Total Exc</th>
            <th class="text-right">Price Total Inc</th>
        </tr>
    </thead>
    <tbody>
        {% for inventory_item in inventory_received.inventory_items %}
            <tr>
                <td>
                    {{ inventory_item.inventory }}
                    <input type="hidden" value="{{ inventory_item.inventory.id }}"
                           name="inventory_item_{{ inventory_item.id }}"
                           id="inventory_item_{{ inventory_item.id }}"
                    >
                    <input type="hidden" value="{{ inventory_item.amount_vat }}"
                           name="vat_amount_{{ inventory_item.id }}"
                           id="vat_amount_{{ inventory_item.id }}"
                    >
                    <input type="hidden" value="{{ inventory_item.amount_vat }}"
                           name="total_vat_{{ inventory_item.id }}"
                           id="total_vat_{{ inventory_item.id }}"
                           class="vat-amount"
                    >
                    <input type="hidden" value="{% if inventory_item.unit and inventory_item.unit.measure %}{{ inventory_item.unit.measure.extra_quantity }}{% endif %}"
                           id="extra_quantity_{{ inventory_item.id }}"
                    >
                    <input type="hidden" value="{{ inventory_item.vat_code.percentage }}"
                           id="vat_percentage_{{ inventory_item.id }}"
                    >
                </td>
                <td>{{ inventory_item.inventory.description }}</td>
                <td>
                    {{ inventory_item.quantity }}
                    <input type="hidden" class="form-control form-control-sm ordered"
                           value="{{ inventory_item.quantity }}"
                           name="quantity_ordered_{{ inventory_item.id }}"
                           id="quantity_ordered_{{ inventory_item.id }}"
                           data-item-id="{{ inventory_item.id }}"
                    >
                </td>
                <td>{{ inventory_item.vat_code.percentage }}%</td>
                <td class="text-right">
                    <span class="" id="price_excl_{{ inventory_item.id }}">{{ inventory_item.price_excluding|money }}</span>
                </td>
                <td class="text-right">
                    <span class="" id="price_incl_{{ inventory_item.id }}">{{ inventory_item.price_including|money }}</span>
                </td>
                <td class="text-right">
                    <span class="price" id="total_price_exl_{{ purchase_order_item.id }}">{{ inventory_item.total_price_excluding|money }}</span>
                    <input type="hidden" value="{{ inventory_item.total_price_excluding }}"
                           name="total_price_excluding_{{ inventory_item.id }}"
                           id="total_price_excluding_{{ inventory_item.id }}"
                           class="total-price-excl open-input"
                    >
                </td>
                <td class="text-right">
                    <span class="" id="total_price_incl_{{ inventory_item.id }}">{{ inventory_item.total_price_including|money }}</span>
                    <input type="hidden" value="{{ inventory_item.total_price_including }}"
                           name="total_price_including_{{ inventory_item.id }}"
                           id="total_price_including_{{ inventory_item.id }}"
                           class="total-price-incl"
                    >
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td><span id="total_ordered"></span></td>
            <td><span id="total_received"></span></td>
            <td>
                <span id="price_excl"></span>
                <input type="hidden" class="" value="0" name="total_vat" id="id_total_vat" />
            </td>
            <td><span id="price_incl"></span></td>
            <td class="text-right">
                <span id="total_price_excl">{{ inventory_received.total_price_excluding|money }}</span>
                <input type="hidden" name="total_price" value="{{ inventory_received.total_price_excluding|money }}" id="total_price" />
                <input type="hidden" class="" value="0" name="total_amount" id="id_total_amount" />
            </td>
            <td class="text-right"><span id="total_price_inc">{{ inventory_received.total_price|money }}</span></td>
        </tr>
    </tfoot>
</table>