{% load invoice_tags %}
<div class="panel panel-info" id="goods_received_container">
  <div class="panel-heading">Goods Received</div>
  <div class="panel-body" style="overflow:scroll; min-height:500px;"  id="po-page">
        <div class="col-12 text-right">
            <button class="btn btn-success" id="close_purchase_order_invoice_link"
               data-ajax-url="{% url 'invoice_image' invoice.id %}"
            >Close</button>
            <button class="btn btn-primary save-invoice-linking" id="save_goods_received_linking"
                    {% if transactions|length == 0 %}disabled="disabled"{% endif %}
                    data-action="goods_received"
                    data-ajax-url="{% url 'save_invoice_goods_received' invoice_id=invoice.id %}"
            >Save</button>
        </div>
        <div class="col-12" >
            <div class="table-responsive">
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Reference Number</th>
                            <th>Delivery Note</th>
                            <th class="text-right">Order Value</th>
                            <th>Purchase Order</th>
                            <th class="text-right">PO. Order Value</th>
                            <th class="text-center">Select</th>
                            <th>Linked</th>
                        </tr>
                    </thead>
                    <tbody id="linked_items_body">
                        {% for transaction in transactions %}
                             <tr id="row_goods_received_{{ transaction.id }}"
                                 {% if transaction.received_movement %}
                                    data-detail-url="{% url 'returned_inventory_items' returned_id=transaction.id %}"
                                 {% else %}
                                     data-detail-url="{% url 'received_inventory_items' transaction.id %}"
                                {% endif %}
                             data-detail-id="goods_received_details"
                             class="{% if transaction.invoice_account %} grayout {% endif %}"
                         >
                            <td>{{ transaction.created_at|date:'Y-m-d' }}</td>
                            <td class="actions">
                                {% if transaction %}
                                    <a target="_blank" href="{% url 'view_received' transaction.id %}">{{ transaction }}</a>
                                {% elif transaction.returned %}
{#                                    <a target="_blank" href="{% url 'view_returned' transaction.returned.id %}">{{ transaction.returned }}</a>#}
                                {% endif %}
                            </td>
                            <td>
                                {{ transaction.note }}
                            </td>
                            <td class="text-right">
                                {{ transaction.total_excl|money }}
                            </td>
                            <td class="actions">
                                {% if transaction %}
                                    {% if transaction.purchase_order %}
                                        <a target="_blank" href="{% url 'invoice_detail' transaction.purchase_order.invoice_id %}">{{ transaction.purchase_order }}</a>
                                    {% endif %}
                                {% else %}
{#                                    {{ returned.received_movement }}#}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if transaction and transaction.purchase_order %}
                                    {{ transaction.purchase_order.invoice.net_amount }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center actions">
                                <div class="checkbox">
                                    {% if transaction.received_movement %}
                                        <label style="font-size: 1em">
                                            <input type="checkbox"
                                               {% if transaction.invoice_account %}
                                                   data-has="Linked to invoice {{ transaction.invoice_account.invoice_id }}"
                                                   data-out="Out invoice is  {{ invoice.id }}"
                                                   checked="checked"
                                                   disabled="disabled"
                                                       {% if transaction.invoice_account.invoice_id == invoice.id %}
                                                       class="returned-link linked-item-check"
                                                       value="{{ transaction.id }}"
                                                   {% endif %}
                                               {% else %}
                                                   class="returned-link linked-item-check"
                                                   value="{{ transaction.id }}"
                                               {% endif %}
                                               name="goods_returned"
                                               id="goods_returned_{{ transaction.id }}"
                                               data-row-id="{{ transaction.id }}"
                                               data-detail-id="goods_returned_details"
                                                />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </label>
                                    {% else %}
                                        <label style="font-size: 1em">
                                            <input type="checkbox"
                                               {% if transaction.invoice_account  %}
                                                   checked="checked"
                                                   disabled="disabled"
                                                    {% if transaction.invoice_account.invoice_id == invoice.id %}
                                                       class="received-link linked-item-check"
                                                       value="{{ transaction.id }}"
                                                   {% endif %}
                                               {% else %}
                                                   class="received-link linked-item-check"
                                                   value="{{ transaction.id }}"
                                               {% endif %}
                                               name="goods_received"
                                               id="goods_received_{{ transaction.id }}"
                                               data-row-id="{{ transaction.id }}"
                                               data-detail-id="goods_received_details"
                                            />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </label>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="text-left actions">
                                {% if received.invoice_account.invoice %}
                                    <a href="{% url 'invoice_detail' received.invoice_account.invoice_id %}">
                                        {{ received.invoice_account.invoice }}
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                         </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8" class="actions">There are no goods received available</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12" id="goods_received_details">

        </div>
    </div>
</div>


