{% load invoice_tags common_tags %}
<table class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>Stock Code</th>
            <th>Description</th>
            <th>Qty Ord</th>
            <th>Qty Rec.</th>
            <th>Short</th>
            <th>Create BO</th>
            <th>Vat</th>
            <th>Price Exc</th>
            <th>Price Inc</th>
            <th>Price Total Exc</th>
            <th>Price Total Inc</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase_order_item in po_items.inventory_items %}
            <tr>
                <td>
                    {{ purchase_order_item.inventory }}
                    <input type="hidden" value="{{ purchase_order_item.inventory.id }}"
                           name="inventory_item_{{ purchase_order_item.id }}"
                           id="inventory_item_{{ purchase_order_item.id }}"
                    >
                    <input type="hidden" value="{{ purchase_order_item.id }}"
                           name="purchase_order_{{ purchase_order_item.id }}"
                           id="purchase_order_{{ purchase_order_item.id }}"
                    >
                    <input type="hidden" value="{{ purchase_order_item.amount_vat }}"
                           name="vat_amount_{{ purchase_order_item.id }}"
                           id="vat_amount_{{ purchase_order_item.id }}"
                           class="vat"
                    >
                    <input type="hidden" value="{{ purchase_order_item.amount_vat }}"
                           name="total_vat_{{ purchase_order_item.id }}"
                           id="total_vat_{{ purchase_order_item.id }}"
                           class="vat-amount"
                    >
                    <input type="hidden" class="vat-code" value="{{ purchase_order_item.vat_code_id }}"
                           name="vat_code_{{ purchase_order_item.id }}"
                           id="vat_code_{{ purchase_order_item.id }}" />
                    <input type="hidden" value="{{ purchase_order_item.vat_code_id }}"
                           name="vat_code_id_{{ purchase_order_item.id }}"
                           id="vat_code_id_{{ purchase_order_item.id }}" />
                    <input type="hidden" value="{{ purchase_order_item.vat_code.percentage }}"
                           id="vat_percentage_{{ purchase_order_item.id }}"
                           name="vat_percentage_{{ purchase_order_item.id }}"
                    >
                    {% if purchase_order_item.unit_id %}
                        <input type="hidden" value="{{ purchase_order_item.unit_id }}"
                               name="unit_id_{{ purchase_order_item.id }}"
                               id="unit_id_{{ purchase_order_item.id }}" />
                        <input type="hidden" value="{% if purchase_order_item.unit and purchase_order_item.unit.measure %}{{ purchase_order_item.unit.measure.extra_quantity }}{% endif %}"
                               id="extra_quantity_{{ purchase_order_item.id }}"
                        >
                    {% else %}
                        <input type="hidden" value="{{ purchase_order_item.inventory.unit_id }}"
                               name="unit_id_{{ purchase_order_item.id }}"
                               id="unit_id_{{ purchase_order_item.id }}" />
                        <input type="hidden" value="{% if purchase_order_item.inventory.unit and purchase_order_item.inventory.unit.measure %}{{ purchase_order_item.inventory.unit.measure.extra_quantity }}{% endif %}"
                               id="extra_quantity_{{ purchase_order_item.id }}"
                        >
                    {% endif %}
                </td>
                <td>{{ purchase_order_item.inventory.description }}</td>
                <td class="text-right">
                    {{ purchase_order_item.quantity }}
                    <input type="hidden" class="form-control form-control-sm ordered"
                           value="{{ purchase_order_item.quantity }}"
                           name="quantity_ordered_{{ purchase_order_item.id }}"
                           id="quantity_ordered_{{ purchase_order_item.id }}"
                           data-item-id="{{ purchase_order_item.id }}"
                    >
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm received" value=""
                           name="quantity_received_{{ purchase_order_item.id }}"
                           id="quantity_received_{{ purchase_order_item.id }}"
                           data-item-id="{{ purchase_order_item.id }}"
                    >
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm short" value=""
                           name="quantity_short_{{ purchase_order_item.id }}"
                           id="quantity_short_{{ purchase_order_item.id }}"
                           data-item-id="{{ purchase_order_item.id }}"
                           readonly="readonly"
                    >
                </td>
                <td>
                    <input type="checkbox" class="checkbox-input create-back-order"
                           disabled="disabled"
                           name="back_order_{{ purchase_order_item.id }}"
                           id="back_order_{{ purchase_order_item.id }}"
                           data-item-id="{{ purchase_order_item.id }}"
                           value="{{ purchase_order_item.id }}" />
                </td>
                <td>
                    {{ purchase_order_item.vat_code.percentage }}%
                </td>
                <td class="text-right">
                    <input type="text" class="form-control form-control-sm price-exc" value="{{ purchase_order_item.unit_price }}"
                           name="price_{{ purchase_order_item.id }}"
                           id="price_{{ purchase_order_item.id }}"
                           data-item-id="{{ purchase_order_item.id }}"
                    >
                    <input type="hidden" value="{{ purchase_order_item.unit_price }}"
                           name="price_excluding_{{ purchase_order_item.id }}"
                           id="price_excluding_{{ purchase_order_item.id }}"
                           data-item-id="{{ purchase_order_item.id }}" />
                </td>
               <td class="text-right">
                    <span class="" id="price_incl_{{ purchase_order_item.id }}">{{ purchase_order_item.unit_price_with_vat|money }}</span>
                    <input type="hidden" value="{{ purchase_order_item.unit_price_with_vat }}"
                           name="price_including_{{ purchase_order_item.id }}"
                           id="price_including_{{ purchase_order_item.id }}"
                           class="price-incl"
                    >
                </td>
                <td class="text-right">
                    <span class="price" id="total_price_exl_{{ purchase_order_item.id }}">{{ purchase_order_item.total_price|money }}</span>
                    <input type="hidden" value="{{ purchase_order_item.total_price }}"
                           name="total_price_excluding_{{ purchase_order_item.id }}"
                           id="total_price_excluding_{{ purchase_order_item.id }}"
                           class="total-price-excl open-input"
                    >
                </td>
                <td class="text-right">
                    <span class="" id="total_price_incl_{{ purchase_order_item.id }}">{{ purchase_order_item.total_price_with_vat|money }}</span>
                    <input type="hidden" value="{{ purchase_order_item.total_price_with_vat }}"
                           name="total_price_including_{{ purchase_order_item.id }}"
                           id="total_price_including_{{ purchase_order_item.id }}"
                           class="total-price-incl"
                    >
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td class="text-right"><span id="total_ordered">{{ inventory_items.total_ordered }}</span></td>
            <td><span id="total_received">{{ inventory_items.total_received }}</span></td>
            <td><span id="total_short">{{ inventory_items.total_short }}</span></td>
            <td></td>
            <td>
                <span id="total_vat">{{ received.total_vat }}</span>
                <input type="hidden" class="" value="0" name="total_vat" id="id_total_vat" />
            </td>
            <td>
{#                <span id="price_excl">{{ inventory_items.total_unit_price_exl|money }}</span>#}
            </td>
            <td class="text-right">

            </td>
            <td class="text-right">
                <span id="total_price_excl">{{ inventory_items.total_total_price_exl|money }}</span>
            </td>
            <td class="text-right">
                <span id="total_price_inc">{{ inventory_items.total_total_price_inc|money }}</span>
                <input type="hidden" class="" value="0" name="total_amount" id="id_total_amount" />
            </td>
        </tr>
    </tfoot>
</table>