{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}Goods Received - Awaiting Invoice{% endblock page_title %}
{% block content %}
<div class="panel-body">
    <div class="col-12" >
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>{% translate "Date" %}</th>
                        <th>{% translate "Supplier" %}</th>
                        <th>{% translate "Reference Number" %}</th>
                        <th>{% translate "Delivery Note" %}</th>
                        <th>{% translate "Purchase Order" %}</th>
                        <th>{% translate "Link to Document" %}</th>
                        <th class="text-right">{% translate "Amount" %}</th>
                    </tr>
                </thead>
                <tbody id="linked_items_body">
                    {% for transaction in transactions %}
                         <tr id="row_goods_received_{{ transaction.id }}"
                             data-detail-url="{% url 'received_inventory_items' transaction.id %}"
                             data-detail-id="goods_received_details"
                             class=""
                         >
                            <td>{{ transaction.created_at|date:'Y-m-d' }} - {{ transaction.id }}</td>
                            <td>{{ transaction.supplier }}</td>
                            <td>
                                {% if transaction.returned  %}
                                    <a href="{% url 'view_returned' transaction.id %}">{{ transaction.returned }}</a>
                                {% else %}
                                    <a href="{% url 'view_received' transaction.id %}">{{ transaction.received }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {{ transaction.note }}
                            </td>
                            <td>
                                {% if transaction.purchase_order %}
                                    <a href="{% url 'invoice_detail' transaction.purchase_order.invoice_id %}">{{ transaction.purchase_order }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if transaction.invoice_account %}
                                    <a href="{% url 'invoice_detail' transaction.invoice_account.invoice_id %}">{{ transaction.invoice_account.invoice }}</a>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if transaction.returned  %}
                                    {{ transaction.link_amount|money }}
                                {% else %}
                                    {{ transaction.total_excl|money }}
                                {% endif %}
                            </td>
                         </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="actions">
                                {% translate "There are no goods received with no invoice available" %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="6">{% translate "Total" %}</td>
                        <td class="text-right">{{ total|money }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
{% endblock  %}
