{% load static %}
{% load i18n %}
{% load company_linked_objects_tags %}
{% load widget_tweaks %}
<tr class="inventory-item-row {{ row }}" id="row_{{ row }}" data-row-id="{{ row }}">
    <td>
        <select id="{{ row }}_inventory_item" name="inventory_item_{{ row }}"
                class="form-control chosen-select inventory_item receive-inventory-item"
                data-ajax-url="{% url 'inventory_item_search_list' %}"
                data-ajax-inventory-url="{% url 'fetch_inventory_item' %}"
        >
            <option value="">--</option>
        </select>
    </td>
    <td>
        <input type="text" class="form-control validate_number quantity received" id="quantity_received_{{ row }}"
               name="quantity_received_{{ row }}"/>
        <input type="hidden" class="form-control control-quantity control-received"
               id="control_quantity_received_{{ row }}"
               name="control_quantity_received_{{ row }}" />
        <input type="hidden" class="max-order"
               id="max_order_{{ row }}"
               name="max_order_{{ row }}" />
        <input type="hidden" class="ordered"
               id="quantity_ordered_{{ row }}"
               name="quantity_ordered_{{ row }}" />
    </td>
    <td>
        <select id="unit_{{ row }}" name="unit_unit_{{ row }}" class="form-control units chosen-select">
            <option value="">--</option>
        </select>
        <input type="hidden" class="form-control  form-control-sm"
                   id="stock_unit_id_{{ row }}"
                   name="stock_unit_id_{{ row }}" />
        <input type="hidden" class="form-control  form-control-sm"
                   id="stock_unit_code_{{ row }}"
                   name="stock_unit_code_{{ row }}" />
        <input type="hidden" class="form-control  form-control-sm"
                   id="sale_unit_id_{{ row }}"
                   name="sale_unit_id_{{ row }}" />
        <input type="hidden" class="form-control  form-control-sm"
                   id="sale_unit_code_{{ row }}"
                   name="sale_unit_code_{{ row }}" />
        <input type="hidden" class="form-control  form-control-sm"
                   id="unit_id_{{ row }}"git git
                   name="unit_id_{{ row }}" />
        <input type="hidden" class="form-control  form-control-sm"
                   id="unit_code_{{ row }}"
                   name="unit_code_{{ row }}" />
    </td>
    <td>
        <input type="text" class="form-control form-control-sm validate_number calculate_net price-exc" id="price_{{ row }}"
               name="price_{{ row }}">
    </td>
    <td>
        <span id="price_incl_{{ row }}"></span>
        <input type="hidden" class="form-control price-incl" value="" name="price_including_{{ row }}" id="price_including_{{ row }}" />
    </td>

    <td>
        <select id="vat_code_{{ row }}" name="vat_code_{{ row }}" class="form-control calculate_vat chosen-select">
            <option value="">--</option>
            {% for vat_code in vat_codes.all %}
                <option value="{{ vat_code.id }}" data-percentage="{{ vat_code.percentage }}">{{ vat_code }}</option>
            {% endfor %}
        </select>
        <input type="hidden" value="" name="vat_percentage_{{ row }}" id="vat_percentage_{{ row }}"
           class="vat-percentage form-control-sm" />
    </td>
    <td>
        <span id="vat_{{ row }}"></span>
        <input type="hidden" class="form-control vat" value="" name="vat_amount_{{ row }}" id="vat_amount_{{ row }}"  />
    </td>
    <td class="text-right">
        <span id="total_price_exl_{{ row }}"></span>
        <input type="hidden" value="" name="total_price_excluding_{{ row }}" id="total_price_excluding_{{ row }}"
               class="total-price-excl  form-control-sm" />
    </td>
    <td class="text-right">
        <span id="total_price_incl_{{ row }}"></span>
        <input type="hidden" class="form-control total-price-incl" value="" name="total_price_including_{{ row }}" id="total_price_including_{{ row }}" />
    </td>
    <td>
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" id="delete_{{ row }}">
            <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
</tr>
