{% extends 'email.html' %}
{% load static %}
{% load invoice_tags %}
{% block content %}
<h3 style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 14px; font-weight: bold; margin-top: 0; text-align: left;">Dear {{ profile }}</h3>
<p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Thank you for using the Docuflow.co.za website!</p>
<div class="table" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; font-size: 12px; line-height: 1.2em; ">
    <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
        <tr>
            <td>
                <h2>{{ company }}</h2>
                <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Hey {{ profile.user.first_name }} you have invoices in your flow that requires processing.</p>
                <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Your supervisor has been notified that you are behind on processing this.</p>
                <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Please process it within 24 hours or the invoice will be forwarded to your supervisor  for processing</p>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" class="table-condensed" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                    <thead>
                        <tr>
                            <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Invoice</th>
                            <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Document Number</th>
                            <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Supplier</th>
                            <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Comments</th>
                            <th style="text-align: right !important; font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px;" class="text-right">Amount</th>
                            <th style="text-align: right !important; font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px;" class="text-right">Due</th>
                            <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Due Date</th>

                        </tr>
                    </thead>
                    <tbody style="border-top: 2px solid #ecf0f1;">
                        {% for k, invoice in invoices.items %}
                            <tr>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ invoice.invoice_unique }}</td>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ invoice.document_number }}</td>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ invoice.supplier }}</td>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ invoice.comments }}</td>
                                <td style="text-align: right !important; padding: 3px; line-height: inherit; vertical-align: top;" class="text-right">{{ invoice.amount|money }}</td>
                                <td style="text-align: right !important; padding: 3px; line-height: inherit; vertical-align: top;" class="text-right">{{ invoice.open_amount|money }}</td>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{% due_days invoice.due_date %} {{ invoice.due_date }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td style="border: 1px solid #ecf0f1 !important;" colspan="6">There are no documents available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
{% endblock %}