{% extends 'datatable.html' %}
{% load i18n %}
{% block page_title %}Accounts{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
            <a href="{% url 'create_account' %}" class="btn btn-primary" role="button">
                <i class="fa fa-plus-circle"></i> Create New
            </a>
            <a href="{% url 'import_accounts' %}" class="btn labeled btn-info" role="button">
                <i class="fa fa-upload"></i> Import
            </a>
            <a href="{% url 'export_accounts' %}" class="btn labeled btn-default" role="button">
                <i class="fa fa-download"></i> Export
            </a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="accounts" width="100%">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Report</th>
                    <th>Sub Ledger</th>
                    <th>Vat Reporting</th>
                    <th>Cash Flow</th>
                    <th>Deductible</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#accounts").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/company/accounts/?format=datatables',
              'columns': [
                { data: 'code', name: 'code', searchable: true, title:'Code' },
                { data: 'name', name: 'name', searchable: true, title:'Name' },
                { data: 'account_type', name: 'account_type', title:'Type', searchable: false },
                { data: 'report', name: 'report__name', searchable: false,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    },
                    title:'Report Type' },
                { data: 'sub_ledger', name: 'sub_ledger', title:'Sub Ledger', searchable: false },
                { data: 'vat_reporting', name: 'vat_reporting', title:'Vat Reporting', searchable: false },
                { data: 'cash_flow', name: 'cash_flow', title:'Cash Flow Category', searchable: false,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    }
                },
                { data: 'not_deductable', name: 'not_deductable', title:'Non Deductible', searchable: false },
                { data: 'is_active', name: 'is_active', title:'Status' }
              ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 1, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        if (row.not_deductable) {
                            return '<span class="text-danger">Yes</span>';
                        } else {
                            return '<span class="text-success">No</span>';
                        }
                    },
                    "targets": 7
                },
                {
                    "render": function ( data, type, row ) {
                        if (row.is_active) {
                            return '<span class="text-success">Active</span>';
                        } else {
                            return '<span class="text-danger">Not Active</span>';
                        }
                    },
                    "targets": 8
                },
            ],
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#accounts tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'account_list' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });

	//===== Datatable with selectable rows =====//

    /*	$('.datatable-selectable table').dataTable({
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: 'multi',
                aButtons:
                [{
                    sExtends: 'collection',
                    sButtonText: 'Tools <span class="caret"></span>',
                    sButtonClass: 'btn btn-primary',
                    aButtons:    [ 'select_all', 'select_none' ]
                }]
            }
        });*/
    });
    </script>
{% endblock %}