{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Object Item Posting - {{ object_posting }} {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="object_item_posting_form" name="object_item_posting_form"
      action="{% url 'create_object_item_posting' object_posting.id %}">
     <div class="modal-body">
        <span id="result" class="col-12"></span>
        {% csrf_token %}
         <div class="col-12">
            <label for="{{ form.object_item.id_for_label }}">{{ form.object_item.label_tag }}</label>
            {{ form.object_item|add_class:"form-control chosen-select" }}
         </div>

         <div class="col-12">
            <label for="{{ form.percentage.id_for_label }}">{{ form.percentage.label_tag }}</label>
            {{ form.percentage|add_class:"form-control" }}
         </div>
         <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
     </div>
     <div class="modal-footer">
         <button class="btn btn-warning" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary btn-large" name="save_object_posting_item"
                 id="save_object_posting_item"><i class="fa fa-save"></i> Save</button>
    </div>
</form>
{% endblock %}