{% load invoice_tags %}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 pull-left">
            <h4 class=" pull-left">Object items posting</h4>
        </div>
        <div class="col-md-6">
            <a data-modal="{% url 'create_object_item_posting' object_posting_id=object_posting.id %}"
               class="btn btn-sm btn-success  pull-right" role="button">
                <i class="fa fa-plus"></i> New
            </a>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Object Item</th>
                <th>Percentage(%)</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="object_postings">
            {% for object_item_posting in object_item_postings %}
                <tr>
                    <td>{{ object_item_posting.object_item }}</td>
                    <td>{{ object_item_posting.percentage|money }}</td>
                    <td class="actions">
                        <a data-modal="{% url 'edit_object_item_posting' object_item_posting.id %}"
                           href="javascript:void(0);"
                           class="edit_object_posting text-primary"
                           id="delete_object_posting_item_{{ object_item_posting.id }}"
                           ><i class="fa fa-pencil"></i></a>
                        <a href="{% url 'delete_object_posting' object_item_posting.id %}"
                           class="delete_object_posting text-danger"
                           id="delete_object_posting_{{ object_item_posting.id }}"
                           onclick="return confirm('Are you sure you want to delete object item posting')"
                           ><i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">There are no object postings available</td>
                </tr>
            {% endfor %}
        </tbody>
        {% if object_item_postings %}
           <tfoot>
               <tr>
                    <td></td>
                    <td><strong>{{ object_posting.percentage|money }}</strong></td>
                    <td></td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
</div>
