{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags common_tags %}
{% block page_title %} Invoice Status Report - {{ company.slug }} {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
        </div>

        <div class="pull-right">
            <div class="form-group pull-right">
                <a type="button" href="{% url 'download_invoice_report' %}" class="btn btn-primary btn-sm" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</a>
                <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="__table">
            <div class="table-responsive">
                <table id="invoices" class="table table-bordered" width="100%">
                    <thead>
                         <tr class="thead-dark">
                            <td class="text-left" colspan="2"></td>
                            <td>&nbsp;</td>
                            <th class="text-center text-success" colspan="3">Processing</th>
                            <td>&nbsp;</td>
                            <th class="text-center text-warning" colspan="2">Due in 5 Days</th>
                             <td>&nbsp;</td>
                            <th class="text-center text-danger" colspan="2">Overdue</th>
                        </tr>
                        <tr class="thead-light">
                            <th class="text-left">Role</th>
                            <th class="text-left">Users</th>
                            <td>&nbsp;</td>
                            <th class="text-right">Count</th>
                            <th class="text-right">Ave. Days</th>
                            <th class="text-right">Value</th>
                            <td>&nbsp;</td>
                            <th class="text-right">Count</th>
                            <th class="text-right">Value</th>
                            <td>&nbsp;</td>
                            <th class="text-right">Count</th>
                            <th class="text-right">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for role, role_invoice in roles_invoices.items %}
                            <tr>
                                <td class="text-left">{{ role }}</td>
                                <td class="text-left">{{ role_invoice.users }}</td>
                                <td>&nbsp;</td>
                                <td class="text-right">{{ role_invoice.processing.count }}</td>
                                <td class="text-right">{{ role_invoice.processing.average_days|money:0 }}</td>
                                <td class="text-right">{{ role_invoice.processing.value|money:0 }}</td>
                                <td>&nbsp;</td>
                                <td class="text-right">{{ role_invoice.due_in_five_days.count }}</td>
                                <td class="text-right">{{ role_invoice.due_in_five_days.value|money:0 }}</td>
                                <td>&nbsp;</td>
                                <td class="text-right">{{ role_invoice.overdue.count }}</td>
                                <td class="text-right">{{ role_invoice.overdue.value|money:0 }}</td>
                            </tr>
                            {% for invoice_type, invoice_type_detail in role_invoice.invoice_types.items %}
                                <tr>
                                    <td class="text-left"></td>
                                    <td class="text-right px-4 font-italic"><strong><i>{{ invoice_type }}</i></strong></td>
                                    <td>&nbsp;</td>
                                    <td class="text-right font-italic"><i>{{ invoice_type_detail.processing.count }}</i></td>
                                    <td class="text-right font-italic"><i>-</i></td>
                                    <td class="text-right font-italic"><i>{{ invoice_type_detail.processing.value|money:0 }}</i></td>
                                    <td>&nbsp;</td>
                                    <td class="text-right font-italic"><i>{{ invoice_type_detail.due_in_five_days.count }}</i></td>
                                    <td class="text-right font-italic"><i>{{ invoice_type_detail.due_in_five_days.value|money:0 }}</i></td>
                                    <td>&nbsp;</td>
                                    <td class="text-right font-italic"><i>{{ invoice_type_detail.overdue.count }}</i></td>
                                    <td class="text-right font-italic"><i>{{ invoice_type_detail.overdue.value|money:0 }}</i></td>
                                </tr>
                             {% endfor %}
                            <tr>
                                <td colspan="12">&nbsp;</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="12">There are no processing invoices available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-left">Totals</th>
                            <th class="text-left"></th>
                            <th>&nbsp;</th>
                            <th class="text-right">{{ totals.processing.count }}</th>
                            <th class="text-right">{{ totals.processing.average_days }}</th>
                            <th class="text-right">{{ totals.processing.value|money:0 }}</th>
                            <th>&nbsp;</th>
                            <th class="text-right">{{ totals.due_in_five_days.count }}</th>
                            <th class="text-right">{{ totals.due_in_five_days.value|money:0 }}</th>
                            <th>&nbsp;</th>
                            <th class="text-right">{{ totals.overdue.count }}</th>
                            <th class="text-right">{{ totals.overdue.value|money:0 }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}