{% extends 'base.html' %}
{% block page_title %} Edit Source{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}

    <div class="form-group">
         <button class="btn btn-primary btn-large" type="submit"><i class="fa fa-save"></i>  Update </button>
    </div>

  </form>
{% endblock %}