{% extends 'base.html' %}
{% block page_title %} Sources {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>
            <div class="pull-right">
                <a href="{% url 'imap-create-source' %}" class="btn labeled btn-primary" role="button">
                    <i class="fa fa-plus-circle"></i> Create a new imap source
                </a>
            </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Type</th>
                        <th>Host</th>
                        <th>Username</th>
                        <th>Enabled</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for source in sources %}
                        <tr>
                            <td>{{ source.label }}</td>
                            <td>Imap</td>
                            <td>{{ source.host }}</td>
                            <td>{{ source.username }}</td>
                            <td>
                                {% if source.enabled  %}
                                    <span class="label label-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="label label-danger"><i class="fa fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td class="text-left actions">
                                <a href="{% url 'imap-edit-source' source.id %}" data-toggle="tooltip" title="" class="btn-sm btn-success" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'imap-delete-source' source.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Move to trash" onclick="return confirm('Are you sure you want to add this to trash')"><i class="fa fa-trash"></i></a>
                                <a href="{% url 'imap-fetch-email' source.id %}" data-toggle="tooltip" title="" class="btn-sm btn-info" data-original-title="Fetch emails"><i class="fa fa-feed"></i></a>
                                <a href="{% url 'image-test-email-connection' source.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Test Email Connection Now"><i class="fa fa-gear"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">There are no imap sources setup available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}