{% extends 'base.html' %}
{% block page_title %} Log Detail {% endblock page_title %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Checksum</th>
                    <th>Message</th>
                    <th>Message</th>
                    <th>Invoice</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for k, res in log.items %}
                    {% for mail in res.mails %}
                        {% for attachment in mail.attachments %}
                            <tr>
                                <td>{{ attachment.company }}</td>
                                <td>{{ attachment.checksum }}</td>
                                <td>{{ attachment.datetime }}</td>
                                <td>{{ attachment.message }}</td>
                                <td>{{ attachment.invoice }}</td>
                                <td class="text-left actions">{{ attachment.location }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}