{% extends 'base.html' %}
{% block page_title %} Log {% endblock page_title %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Label</th>
                <th>From</th>
                <th>Date</th>
                <th>Message</th>
                <th>Total Fetched</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if logs %}
                    {% for log in logs %}
                            <tr>
                                <td>{{ log.source.company }} - {{ log.source.label }}</td>
                                <td>{{ log.source.mailbox }}</td>
                                <td>{{ log.datetime }}</td>
                                <td>{{ log.message }}</td>
                                <td>{{ log.response.total_fetched }}</td>
                                <td class="text-left actions">
                                    <a href="{% url 'show_email_log' log.id %}" data-toggle="tooltip" title="" class="btn-sm btn-success" data-original-title="View"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no logs</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}