{% extends 'base.html' %}
{% block page_title %} Sources {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_master_imap_source' master_company_id=company.id %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a new imap source
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Label</th>
                <th>Type</th>
                <th>Host</th>
                <th>Username</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if sources %}
                    {% for source in sources %}
                            <tr>
                                <td>{{ source.label }}</td>
                                <td>Imap</td>
                                <td>{{ source.host }}</td>
                                <td>{{ source.username }}</td>
                                <td>
                                    {% if source.enabled  %}
                                        <span class="label label-success"><i class="fa fa-check"></i></span>
                                    {% else %}
                                        <span class="label label-danger"><i class="fa fa-close"></i></span>
                                    {% endif %}
                                </td>
                                <td class="text-left actions">
                                    <a href="{% url 'edit_master_imap_source' master_company_id=company.id pk=source.id %}" data-toggle="tooltip" title="" class="btn-sm btn-success" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'delete_master_imap_source'master_company_id=company.id pk=source.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Move to trash" onclick="return confirm('Are you sure you want to add this to trash')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no imap sources setup available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}