{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Unpaid Invoice by supplier - {{ year }}{% endblock page_title %}
{% block content %}
<style>
    .selected-tr {
        font-weight: bold;
        background-color: #dad7d7 !important;
    }
</style>
<form method="get" action="{% url 'create_sales_payments' %}" id="unpaid_invoices" name="unpaid_invoice_by_customer" class="form-horizontal" >
    <div class="form-group control-group">
        <label class="col-sm-2 control-label txt-font12" for="customer-search">Customer Search</label>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-md" name="customer" id="customer" placeholder="Search customer . . . " />
        </div>
        <div class="col-sm-2 search">
                <button id="search_customer" type="submit"
                class="btn btn-success btn-sm"><i class="fa fa-search"></i> Search</button>
    </div>
    </div>
</form>
<div class="col-sm-12">
    <table class="table align-center table-bordered" width="100%" id="find-unpaid-landing">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Customer Name</th>
                <th>Document Count</th>
                <th class="text-right">Total Due</th>
                <th class="text-right">Discount Available</th>
                <th class="selecta">Select</th>
            </tr>
        </thead>
        <tbody>
            {% if customers_invoices %}
                {% for customer, customer_invoices in customers_invoices.items %}
                    <tr class="parent parent-{{ customer.id }}-tr open-unpaid"
                        id="{{ customer.id }}">
                        <td id="{{ customer.id }}" class="permission-group">
                            {{ customer.number }}
                        </td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer_invoices.invoices|length }}</td>
                        <td class="text-right total">{{ customer_invoices.total|money }}</td>
                        <td class="text-right total">
                            {{ customer_invoices.total_discount|money }}
                        </td>
                        <td class="selecta">
                            <label style="font-size: 1em">
                                <input type="checkbox" class="unpaid-check checkbox-input"
                                       name="unpaid_{{ customer.id }}"
                                       id="unpaid_{{ customer.id }}"
                                       data-customer-id="{{ customer.id }}"
                                       value="{{ customer.id }}" />
                            </label>
                        </td>
                    </tr>
                    <tr id="{{ customer.id }}_thead_parent_invoices"
                        class="parent-{{ customer.id }}-row customer-invoices" style="display:none;">
                        <th>Unique Number</th>
                        <th>Document Type</th>
                        <th class="text-right">Due Date</th>
                        <th class="text-right">Total Due</th>
                        <th class="text-right">Discount Available</th>
                        <th class="selecta">Select</th>
                    </tr>
                    {% for invoice in customer_invoices.invoices %}
                        <tr id="{{ customer.id }}_tbody_parent_invoices"
                            class="parent-{{ customer.id }}-row parent-invoices" style="display:none;">
                            <td>
                                {{ invoice }}
                            </td>
                            <td>{{ invoice.invoice_type }}</td>
                            <td class="text-right">{{ invoice.due_date }}</td>
                            <td class="text-right">{{ invoice.outstanding|money }}
                                <input type="hidden" value="{{ invoice.outstanding }}"
                                       id="supplier_{{ customer.id }}_open_amount_{{ invoice.id }}"
                                       name="invoice_id_{{ invoice.id }}"
                                       data-payment-id="{{ invoice.id }}"
                                       class="parent-{{ customer.id }}-amount-open"
                                />
                            </td>
                            <td class="text-right">{{ invoice.supplier_discount|money }}</td>
                            <td class="selecta">
                                <input type="checkbox" class="checkbox-input parent-invoice pay-{{ customer.id }}-invoice-check"
                                    name="pay_{{ customer.id }}_invoice_{{ invoice.id }}"
                                    id="pay_{{ customer.id }}_invoice_{{ invoice.id }}"
                                    data-parent-id="{{ customer.id }}"
                                    value="{{ invoice.id }}"
                                   style="z-index: 99999 !important;"
                                />
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td colspan="5"></td>
                    <td class="selecta">
                        <button id="pay_now" class="btn btn-primary"
                        data-ajax-url="{% url 'pay_customers' %}"
                        >Pay Selected</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No customer invoices found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
{% endblock %}
