{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Unpaid Invoice by supplier - {{ year }}{% endblock page_title %}
{% block content %}
<style>
    .selected-tr {
        font-weight: bold;
        background-color: #dad7d7 !important;
    }
</style>
<form method="get" action="{% url 'unpaid_invoice_by_supplier' %}" id="unpaid_invoices" name="unpaid_invoice_by_supplier" class="form-horizontal" >
    <fieldset>
        <div class="form-group control-group">
            <label class="col-sm-2 control-label txt-font12" for="{{ filter.form.supplier.id_for_label }}">{{ filter.form.supplier.label }}</label>
            <div class="col-sm-10">{{ filter.form.supplier|attr:"class:form-control chosen-select" }}</div>
        </div>
        <div class="form-group">
           <label class="col-sm-2 control-label txt-font12" for="{{ filter.form.due_date.id_for_label }}">Due Date no later than</label>
           <div class="col-sm-10"> {{ filter.form.due_date|attr:"class:form-control datepicker" }}</div>
        </div>
    </fieldset>
    <div class="search">
        <button id="create_purchase_order_submit" type="submit"
                class="btn btn-success btn-sm"><i class="fa fa-search"></i> Search</button>
    </div>
</form>
<div class="col-sm-12">
    <table class="table align-center table-bordered" width="100%" id="find-unpaid-landing">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Name</th>
                <th>Document Count</th>
                <th></th>
                <th></th>
                <th class="text-right">Total Due</th>
                <th class="text-right">Unallocated Payments</th>
                <th class="text-right">Discount Available</th>
                <th class="selecta">Select</th>
            </tr>
        </thead>
        <tbody>
            {% if supplier_invoices %}
                {% for supplier, supplier_invoice in supplier_invoices.items %}
                    <tr class="supplier supplier-{{ supplier.id }}-tr open-unpaid-supplier"
                        id="{{ supplier.id }}">
                        <td id="{{ supplier.id }}" class="permission-group">
                            {{ supplier.code }}
                        </td>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier_invoice.invoices|length }}</td>
                        <td></td>

                        <td></td>
                        <td class="text-right total">{{ supplier_invoice.total|money }}</td>
                        <td class="text-right total">{{ supplier_invoice.total_payment|money }}</td>
                        <td class="text-right total">
                            {{ supplier_invoice.total_discount|money }}
                        </td>
                        <td class="selecta">
                            <label style="font-size: 1em">
                                <input type="checkbox" class="unpaid-supplier-check checkbox-input"
                                       name="unpaid_supplier_{{ supplier.id }}"
                                       id="unpaid_supplier_{{ supplier.id }}"
                                       data-supplier-id="{{ supplier.id }}"
                                       value="{{ supplier.id }}" />
                            </label>
                        </td>
                    </tr>
                    <tr id="{{ supplier.id }}_thead_supplier_invoices"
                        class="supplier-{{ supplier.id }}-row supplier-invoices" style="display:none;">
                        <th>Unique Number</th>
                        <th>Document Type</th>
                        <th>Document Number</th>
                        <th class="text-right">Document Date</th>
                        <th class="text-right">Due Date</th>
                        <th class="text-right">Total Due</th>
                        <th class="text-right"></th>
                        <th class="text-right">Discount Available</th>
                        <th class="selecta">Select</th>
                    </tr>
                    {% for invoice in supplier_invoice.invoices %}
                        <tr id="{{ supplier.id }}_tbody_supplier_invoices"
                            class="supplier-{{ supplier.id }}-row supplier-invoices" style="display:none;">
                            <td>
                                {{ invoice }}
                            </td>
                            <td>{{ invoice.invoice_type }}</td>
                            <td>{{ invoice.invoice_number }}</td>
                            <td class="text-right">{{ invoice.invoice_date }}</td>
                            <td class="text-right">{{ invoice.due_date }}</td>
                            <td class="text-right">{{ invoice.open_amount|money }}
                                <input type="hidden" value="{{ invoice.open_amount }}"
                                       id="supplier_{{ supplier.id }}_open_amount_{{ invoice.id }}"
                                       name="invoice_id_{{ invoice.id }}"
                                       data-payment-id="{{ invoice.id }}"
                                       class="supplier-{{ supplier.id }}-amount-open"
                                />
                            </td>
                            <td></td>
                            <td class="text-right">{{ invoice.supplier_discount|money }}</td>
                            <td class="selecta">
                                <input type="checkbox" class="checkbox-input supplier-invoice pay-supplier-{{ supplier.id }}-invoice-check"
                                    name="pay_supplier_{{ supplier.id }}_invoice_{{ invoice.id }}"
                                    id="pay_supplier{{ supplier.id }}_invoice_{{ invoice.id }}"
                                    data-supplier-id="{{ supplier.id }}"
                                    value="{{ invoice.id }}"
                                   style="z-index: 99999 !important;"
                                />
                            </td>
                        </tr>
                    {% endfor %}
                    {% for payment in supplier_invoice.payments %}
                        <tr id="{{ supplier.id }}_tbody_supplier_payment"
                                class="supplier-{{ supplier.id }}-row supplier-payments" style="display:none;">
                            <td>
                                {{ payment }}
                                <input type="hidden" value="{{ payment.id }}" id="payment_id_{{ payment.id }}"
                                       name="payment_id_{{ payment.id }}"
                                       class="supplier-{{ supplier.id }}-payment-{{ payment.id }}"
                                />
                            </td>
                            <td>Payment</td>
                            <td class="text-right"></td>
                            <td class="text-right">{{ payment.payment_date }}</td>
                            <td class="text-right"></td>
                            <td class="text-right">
                                {{ payment.display_available_amount|money }}
                                <input type="hidden" value="{{ payment.display_available_amount }}"
                                       id="supplier_{{ supplier.id }}_payment_available_{{ payment.id }}"
                                       name="payment_id_{{ payment.id }}"
                                       data-payment-id="{{ payment.id }}"
                                       class="supplier-{{ supplier.id }}-payment-available"
                                />
                            </td>
                            <td></td>
                            <td class="text-right">
                                {{ payment.total_discount|money }}
                            </td>
                            <td class="selecta">
                                <input type="checkbox" class="checkbox-input supplier-payments pay-supplier-{{ supplier.id }}-payment-check"
                                    name="pay_supplier_{{ supplier.id }}_payment_{{ payment.id }}"
                                    id="pay_supplier{{ supplier.id }}_payment_{{ payment.id }}"
                                    disabled="disabled"
                                    data-supplier-id="{{ supplier.id }}"
                                    value="{{ payment.id }}"
                                    style="z-index: 99999 !important;"
                                />
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td colspan="8"></td>
                    <td class="selecta">
                        <button id="pay_now" class="btn btn-primary"
                        data-ajax-url="{% url 'pay_supplier_invoice' %}"
                        >Pay Selected</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">No supplier invoices found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
{% endblock %}
