{% load widget_tweaks %}
{% load invoice_tags %}
<tr class="payment-line">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>sdss</td>
    <td class="text-right">
        <input class="payment-amount" type="hidden" value="{{ available_payment_amount }}" id="payment_amount" name="payment_amount">
        {{ available_payment_amount|money }}
    </td>
    <td class="text-right">
        {{ available_payment_amount|money }}
    </td>
    <td class="text-right">
        <input class="allocated form-control text-right" type="text" readonly="readonly"
               value="{{ allocated }}" id="payment_allocated" name="payment_allocated">
    </td>
    <td class="text-right">
        <input class="balance form-control text-right" type="hidden" readonly="readonly"
               value="{{ available_payment_amount }}" id="balance" name="balance">
        <span id="balance_str">{{ available_payment_amount|money }}</span>
    </td>
</tr>