{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Customer Sundry Payments {% endblock page_title %}
{% block content %}
<form method="post" id="sundry_payment" name="sundry_payment" class="form-horizontal"
      ction="{% url 'create_sales_sundry_payments' %}">
    {% csrf_token %}
    <div class="col-sm-12">
        <div class="form-group {% if form.period.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="col-sm-8">
                {% render_field form.period class="form-control" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group  {% if form.date.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="col-sm-8">
                {% render_field form.date class="form-control datepicker" %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.customer.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.customer.id_for_label }}">{{ form.customer.label_tag }}</label>
            <div class="col-sm-8">
                {% render_field form.customer class="form-control chosen-select" %}
                {% if form.customer.auto_id  != "id_tos" %}
                    {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group  {% if form.amount.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
            <div class="col-sm-8">
                {% render_field form.amount class="form-control"  %}
                {% if form.amount.auto_id  != "id_tos" %}
                    {% if form.amount.errors %}<span class="help-inline">{{ form.amount.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group  {% if form.reference.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.reference.id_for_label }}">{{ form.reference.label_tag }}</label>
            <div class="col-sm-8">
                {% render_field form.reference class="form-control"  %}
                {% if form.reference.auto_id  != "id_tos" %}
                    {% if form.reference.errors %}<span class="help-inline">{{ form.reference.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

    </div>
    <div class="col-sm-12">
        <table class="table table-bordered invoices" id="customer_sundry_invoices_payment" width="100%">
            <thead>
                <tr>
                    <th>Unique Number</th>
                    <th>Document Type</th>
                    <th>Document Number</th>
                    <th>Due Date</th>
                    <th class="text-right">Invoice Amount</th>
                    <th class="text-right">Discount Available</th>
                    <th class="selecta">Discount Taken</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Select the customer</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <div class="pull-right">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" id="make_payment">Make Payment</button>
        </div>
    </div>

</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales/sundry_payment.js' %}"></script>
{% endblock %}