{% extends 'base.html' %}
{% load static %}
{% block page_title %} Document types {% endblock page_title %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div id="tabs">
          <ul>
             <li><a href="{% url 'module_invoice_type' module_type='purchase' %}">Purchase</a></li>
             <li><a href="{% url 'module_invoice_type' module_type='sales' %}">Sales</a></li>
             <li><a href="{% url 'module_invoice_type' module_type='important-documents' %}">Important Documents</a></li>
          </ul>
          <div id="purchase">
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/document_type.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}