{% load static %}
<div class="panel panel-primary">
  <div class="panel-heading clear-fix">
      <div class="pull-right">
        <a href="{% url 'create_module_invoice_type' module_type=module_type %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus-o"></i> Create
        </a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>File Type</th>
                <th>Account Posting</th>
                <th>Credit</th>
                <th>Default</th>
                <th>Number Start</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if types %}
                {% for type in types %}
                    <tr>
                        <td>{{ type.name }}</td>
                        <td><strong>{{ type.file }}</strong></td>
                        <td>
                            {% if type.is_account_posting  %}
                                <span class="text-success"><i class="fa fa-check"></i></span>
                            {% else %}
                                <span class="text-danger"><i class="fa fa-close"></i></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if type.is_credit  %}
                                <span class="text-success"><i class="fa fa-check"></i></span>
                            {% else %}
                                <span class="text-danger"><i class="fa fa-close"></i></span>
                            {% endif %}
                        </td>
                        <td class="text-left actions">
                              <input type="radio" {% if type.is_default %} checked="checked" {% endif %}
                                     class="default_document_type radio-input"
                                     name="default_document_type"
                                     id="default_document_type_{{ type.id }}"
                                     value="{{ type.id }}"
                                     data-ajax-url="{% url 'update_default_document_type' type.id %}"
                              >
                        </td>
                        <td>{{ type.number_start }}</td>
                        <td class="text-left actions">
                            <a href="{% url 'edit-invoice-type' type.id %}"
                               data-toggle="tooltip"
                               title="" class="btn-sm btn-primary"
                               data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'delete_invoice_type' type.id %}"
                               onclick="return confirm('Are you sure you want to delete this document type')"
                               data-toggle="tooltip" title=""
                               class="btn-sm btn-danger"
                               data-original-title="Delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">There are no document types set </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
  </div>
</div>