{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Payment Forecast {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group pull-right">
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
  </div>
  <div class="panel-body">

        <form class="form-horizontal" method="get" action="{% url 'invoice_payment_forecasting_report' %}" id="invoice_payment_forecasting_report">
              <fieldset>
                    <div class="form-group {% if form.company.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.company.id_for_label }}">{{ form.company.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.company|add_class:"form-control"  }}
                            {% if form.company.auto_id  != "id_tos" %}
                                {% if form.company.errors %}<span class="help-inline">{{ form.company.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.supplier class="form-control" %}
                            {% if form.supplier.auto_id  != "id_tos" %}
                                {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Due Date</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                               {% render_field form.from_due_date class="form-control datepicker" readonly="readonly" %}
                              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                              {% render_field form.to_due_date class="form-control datepicker" readonly="readonly" %}
                              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Accounting Date</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                               {% render_field form.from_accounting_date class="form-control datepicker" readonly="readonly" %}
                              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                              {% render_field form.to_accounting_date class="form-control datepicker" readonly="readonly" %}
                              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                  </div>

                    <div class="form-group control-group {% if form.currency.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.currency.id_for_label }}">{{ form.currency.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.currency class="form-control" %}
                            {% if form.currency.auto_id  != "id_tos" %}
                                {% if form.currency.errors %}<span class="help-inline">{{ form.currency.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.time_period.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.time_period.id_for_label }}">{{ form.time_period.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.time_period class="form-control" %}
                            {% if form.time_period.auto_id  != "id_tos" %}
                                {% if form.time_period.errors %}<span class="help-inline">{{ form.time_period.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

              </fieldset>
        </form>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#invoice_payment_forecasting_report").submit();
            });
       });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}