{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Payment Forecast {% endblock page_title %}
{% block content %}
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
                <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="__form">
            <span id="loader"></span>
            <div class="container-fluid">
                <form class="form-horizontal" method="get"action="{% url 'invoice_payment_forecasting_report' %}"  id="invoice_payment_forecasting_report" name="invoice_payment_forecasting_report">
                    <section class="row">
                        <fieldset class="col well">
                            <!-- Main Name Field -->
                            <div class="form-group col-sm-3">
                              <label class="control-label txt-font12">Processing</label>
                                 <input  type="checkbox" id="status_processing" name="status" value="processing" style="border: 1px solid #8c8c8c;" {% if 'processing' in statuses %} checked="checked" {% endif %} />
                            </div>
                            <div class="form-group col-sm-3">
                              <label class="control-label txt-font12">Completed</label>
                                 <input  type="checkbox" id="status_completed" name="status" value="completed"" style="border: 1px solid #8c8c8c;" {% if 'completed' in statuses %} checked="checked" {% endif %} />
                            </div>
                        </fieldset>
                    </section>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered payment-forecasting" id="payment-forecasting">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th class="text-right">Total Amount</th>

                    </tr>
                </thead>
                <tbody>
                    {% for date_report in report %}
                        <tr>
                            <td class="{% if date_report.is_due %} text-danger {% endif %}">{{ date_report.due_date }}</td>
                            <td class="text-right {% if date_report.is_due %} text-danger {% endif %}">
                                <a href="{% url 'payment_on_due_date' year=date_report.year month=date_report.month day=date_report.day %}{% if 'completed' in statuses and 'processing' in statuses %}?status=completed&status=processing{% else %}{% if 'completed' in statuses %}?status=completed{% endif %}{% if 'processing' in statuses %}?status=processing{% endif %}{% endif %}">
                                {{ date_report.total|money }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th class="text-right">{{ total|money }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-12">
            <h4>Unallocated Payments</h4>
            <table class="table align-center table-bordered" id="find-unpaid-landing">
                <thead>
                    <tr>
                        <th>Supplier</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th class="text-right">Unallocated Payments</th>
                    </tr>
                </thead>
                <tbody>
                    {% if supplier_invoices %}
                        {% for supplier, supplier_invoice in supplier_invoices.items %}
                            <tr class="supplier supplier-{{ supplier.id }}-tr open-unpaid-supplier"
                                id="{{ supplier.id }}">
                                <td id="{{ supplier.id }}" class="permission-group">
                                    {{ supplier.code }}
                                </td>
                                <td>{{ supplier.name }}</td>
                                <td></td>
                                <td class="text-right total">{{ supplier_invoice.total_payment|money }}</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><strong>Totals</strong></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right">{{ total_payment|money }}</td>
                            </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">No supplier invoices found</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#invoice_payment_forecasting_report").submit();
            });
       });
    </script>
{% endblock %}