{% extends 'modal.html' %}
{% block title %} Create Supplier {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="add_supplier_form" action="{% url 'add_supplier' %}">
    {% csrf_token %}
    <div class="modal-body">
        {% include 'supplier/tabs/supplier.html' %}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="save_supplier_btn"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}