{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} DOCUFLOW SUPPLIER DETAILS {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              {% if redirect_url %}
                 <a href="{{ redirect_url }}" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
              {% else %}
                  <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
              {% endif %}
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Company</th>
                    <th>{{ company.slug }}</th>
                    <th class="text-left">{{ company.name }}</th>
                </tr>
                <tr>
                    <th>Supplier</th>
                    <th>{{ supplier.code }}</th>
                    <th class="text-left">{{ supplier.name }}</th>
                </tr>
                <tr>
                    <th>Report for period ending</th>
                    <th>{{ report_date }}</th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Docuflow Unique</th>
                                    <th>Flow Status</th>
                                    <th>Accounting Date</th>
                                    <th>Invoice Date</th>
                                    <th>Due Date</th>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th>Reference 1</th>
                                    <th>Reference 2</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if report.invoices|length > 0 or report.payments|length > 0 %}
                                    {% for supplier_invoice in report.invoices %}
                                        <tr class="{{ supplier_invoice.invoice.invoice_type.code }}" onclick="openDetail(this)"
                                            data-detail-url="{% url 'invoice_detail' supplier_invoice.invoice.id %}?redirect={{ invoice_redirect_url }}">
                                            <td>{{ supplier_invoice.invoice }}</td>
                                            <td>{{ supplier_invoice.invoice.status }}</td>
                                            <td>{{ supplier_invoice.invoice.accounting_date }}</td>
                                            <td>{{ supplier_invoice.invoice.invoice_date }}</td>
                                            <td>{{ supplier_invoice.invoice.due_date }}</td>
                                            <td>{{ supplier_invoice.invoice.invoice_type }}</td>
                                            <td>{{ supplier_invoice.invoice.invoice_number }}</td>
                                            <td>{{ supplier_invoice.invoice.reference_1 }}</td>
                                            <td>{{ supplier_invoice.invoice.reference_2 }}</td>
                                            <td class="text-right">{{ supplier_invoice.open_amount|money }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% for supplier_payment in report.payments %}
                                        <tr class="payment-row" id="{{ supplier_payment.payment.id }}" onclick="openDetail(this)"
                                            data-detail-url="">
                                            <td>{{ supplier_payment.payment }}</td>
                                            <td></td>
                                            <td>{{ supplier_payment.payment.payment_date }}</td>
                                            <td>{{ supplier_payment.payment.payment_date }}</td>
                                            <td></td>
                                            <td>Payment</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">{{ supplier_payment.payment.display_available_amount|money }}</td>
                                        </tr>
                                    {% endfor %}
                                       <tr>
                                            <td colspan="9"></td>

                                            <td class="text-right"><strong>{{ report.total|money }}</strong></td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="11">There are no <strong>invoices not yet posted</strong> available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}