{% extends 'base.html' %}
{% block page_title %} Create Supplier {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
      {% if form.errors %}
          <div class="alert alert-danger">
            <ul class="">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                {% endfor %}
            </ul>
          </div>
          {% if form.non_field_errors %}
              <div class="alert alert-danger">
                 <ul>
                     {% for error in form.non_field_errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                     {% endfor %}
                 </ul>
              </div>
          {% endif %}
    {% endif %}
    {% include 'common/form.html' %}
    <div class="form-group">
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}