{% extends 'base.html' %}
{% load static %}
{% block page_title %} Update Supplier {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div id="tabs">
        <ul>
             <li><a href="#supplier-details">Supplier Details</a></li>
             <li><a href="#control">Control</a></li>
             <li><a href="#banking">Banking</a></li>
             <li><a href="#history">History</a></li>
        </ul>
        <div id="supplier-details">
          {% include 'supplier/tabs/supplier.html' %}
        </div>
        <div id="control">
          {% include 'supplier/tabs/control.html' %}
        </div>
        <div id="banking">
          {% include 'supplier/tabs/banking.html' %}
        </div>
        <div id="history">
          {% include 'supplier/tabs/history.html' %}
        </div>
    </div>
    <div class="form-group">
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'vendor/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/supplier.js' %}"></script>
{% endblock %}