{% extends 'datatable.html' %}
{% load i18n %}
{% block page_title %}Suppliers{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
            <a href="{% url 'create_supplier' %}" class="btn btn-primary" role="button">
                <i class="fa fa-plus-circle"></i> Create New
            </a>

            <a href="{% url 'import_suppliers' %}" class="btn labeled btn-info" role="button">
                <i class="fa fa-upload"></i> Import
            </a>

            <a href="{% url 'sample_suppliers_import_file' %}" class="btn labeled btn-default" role="button">
                <i class="fa fa-download"></i> Sample file
            </a>

      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="suppliers" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Control Account</th>
                    <th>Blocked</th>
                </tr>
            </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#suppliers").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/suppliers/?format=datatables',
              'columns': [
                { data: 'code', name: 'code', searchable: true, title:'Code' },
                { data: 'name', name: 'name', searchable: true, title:'Name' },
                { data: 'default_account', searchable: false, name: 'default_account', title:'Default Account' },
                { data: 'is_blocked', searchable: false, name: 'is_blocked', title:'Blocked' },
                { data: 'is_active', searchable: false, name: 'status', title:'Status' },
              ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'asc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        if (row.is_blocked) {
                            return '<span class="text-danger">Yes</span>';
                        } else {
                            return '<span class="text-success">No</span>';
                        }
                    },
                    "targets": 3
                },
                {
                    "render": function ( data, type, row ) {
                        if (row.is_active) {
                            return '<span class="text-success">Active</span>';
                        } else {
                            return '<span class="text-danger">Not Active</span>';
                        }
                    },
                    "targets": 4
                },
            ],
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#suppliers tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'customer_index' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });

	//===== Datatable with selectable rows =====//

    /*	$('.datatable-selectable table').dataTable({
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: 'multi',
                aButtons:
                [{
                    sExtends: 'collection',
                    sButtonText: 'Tools <span class="caret"></span>',
                    sButtonClass: 'btn btn-primary',
                    aButtons:    [ 'select_all', 'select_none' ]
                }]
            }
        });*/
    });
    </script>
{% endblock %}