{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Opening Balances - {{ year }} {% endblock page_title %}
{% block content %}
<button class="btn btn-success btn-large" type="button" id="copy_opening_balances"
        data-ajax-url="{%  url 'copy_supplier_previous_year_balances' year.id %}"
><i class="fa fa-copy"></i>  Copy opening balances</button>
<div class="row col-12">
    <table class="table table-bordered table-condensed" width="100%">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Description</th>
                <th class="text-right">Opening Balance</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% if suppliers|length > 0 %}
            {% for k, supplier in suppliers.items %}
                <tr class="account-row">
                    <td>{{ supplier.code }}</td>
                    <td>{{ supplier.name }}</td>
                    <td class="text-right">
                        <input type="text" value="{{ supplier.opening_balance|money }}"
                               id="opening_balance_{{ supplier.id }}"
                               name="opening_balance[{{ supplier.id }}]"
                               data-ajax-url="{% url 'update_year_supplier_balance' supplier_id=supplier.id %}"
                               class="account-opening-balance text-right"
                        >
                    </td>
                    <td class="text-center"></td>
                </tr>
            {% endfor %}
            <tr>
                <tr class="totals-row">
                    <td>Sum</td>
                    <td></td>
                    <td class="text-right">
                        <span id="balances_total">{{ total|money }}</span>
                    </td>
                    <td class="text-center"></td>
                </tr>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">There no suppliers</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/opening_balance.js' %}"></script>
    <script type="text/javascript">
        var copyAccountBalances = $("#copy_opening_balances");
        copyAccountBalances.on('click', function(e){
           var ajaxUrl = $(this).data('ajax-url');
           e.preventDefault();
           copyAccountBalances.html("Processing ...");
           $.getJSON(ajaxUrl, function(response){
               responseNotification(response)
               copyAccountBalances.html("<i class='fa fa-copy'></i> Copy opening balances");
           })
        });

    </script>
{% endblock %}