{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Create a new Purchase Order Request {% endblock page_title %}
{% block content %}
<form class="form-horizontal" method="post" action="{% url 'create_inventory_purchase_order' %}" id="po-request">
    {% csrf_token %}
    <div class="col-lg-12">

            <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                <label class="col-sm-2 control-label txt-font12" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.branch class="form-control chosen-select" %}
                    {% if form.branch.auto_id  != "id_tos" %}
                        {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
                <label class="col-sm-2 control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.supplier class="form-control chosen-select" %}
                    {% if form.supplier.auto_id  != "id_tos" %}
                        {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.memo_to_supplier.errors %}error{% endif %}">
                <label class="col-sm-2 control-label txt-font12" for="{{ form.memo_to_supplier.id_for_label }}">{{ form.memo_to_supplier.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.memo_to_supplier class="form-control" %}
                    {% if form.memo_to_supplier.auto_id  != "id_tos" %}
                        {% if form.memo_to_supplier.errors %}<span class="help-inline">{{ form.memo_to_supplier.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <table class="table" width="100%" id="purchase-order-landing">
                <thead>
                    <tr>
                        <th>Inventory Item</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Net value/each</th>
                        <th>Net value/total/quantity</th>
                        <th>VAT Code</th>
                        <th>Vat Amount</th>
                        <th>Order Value</th>
                    </tr>
                </thead>
                <tbody id="purchase_order_items" data-ajax-url="{% url 'add_inventory_purchase_order_row' %}">
                  <tr id="purchase_order_items_placeholder">
                        <td colspan="9">
                            <img src="{% static 'images/loader.gif' %}">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="8">
                            <button name="add_line" id="add_line" class="btn btn-primary"
                                    data-ajax-url="{% url 'add_inventory_purchase_order_row' %}"
                            >Add</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td>Total Values</td>
                    <td></td>
                    <td>
                        <span id="total_net_value"></span>
                        {% render_field form.net_amount %}
                    </td>
                    <td></td>
                    <td>
                        <span id="total_vat_value"></span>
                        {% render_field form.vat_amount %}
                    </td>
                    <td>
                        <span id="total_order_value"></span>
                        {% render_field form.open_amount %}
                        {% render_field form.total_amount %}
                    </td>
                </tfoot>
            </table>
        </div>
        <div class="pull-right form-group control-group">
            <button id="create_purchase_order_submit" type="button"
                   class="btn btn-success btn-sm"><i class="fa fa-save"></i> Request Order</button>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/purchase_order.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}