{% extends 'fullpage.html' %}
{% load static %}
{% load edit_form %}
{% load role_tags %}
{% block stylesheet %}
      <style type="text/css">
        .panel-heading h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: normal;
            width: 75%;
            padding-top: 8px;
        }
        .pull-right .btn {
            width: 90px !important;
        }
    </style>
{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading clearfix" style="overflow: visible !important;">
      <div class="pull-left">
         <span class="panel-title" style="padding-right: 30px;">
             Record {{ invoices.number }}/{{ invoices.paginator.num_pages }}
          </span>
            {% if invoices.has_other_pages %}
                <ul class="pagination btn-group">
                    {% if invoices.has_previous %}
                        <a href="?page=1" type="button" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="?page={{ invoices.previous_page_number }}" type="button" class="btn btn-info"
                           aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled"
                           class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    {% endif %}

                    {% if invoices.has_next %}
                        <a href="?page={{ invoices.next_page_number }}" type="button" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        <a href="?page={{ invoices.paginator.num_pages }}" type="button" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                    {% endif %}
                </ul>
            {% endif %}
      </div>

      <div class="btn-group pull-right">
            <div class="form-group pull-right">
                 <a href="javascript:history.back(-1)"  class="btn btn-default btn-sm"> Previous Level</a>
                {% if invoice.is_approved %}
                    <a href="javascript:void(0);" id="cancelled_purchase_order"
                        data-ajax-url="{% url 'cancelled_purchase_order' invoice.id %}"
                        class="btn btn-primary btn-sm"><i class="fa fa-ban"></i> Cancel
                    </a>
                    <a href="javascript:void(0);" id="email_purchase_order"
                        data-ajax-url="{% url 'email_purchase_order' invoice.id %}"
                        class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email
                    </a>
                    <a href="javascript:void(0);" id="sign_invoice"
                        data-ajax-url="{% url 'order_purchase_order' invoice.id %}"
                        class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Ordered
                    </a>
                    <a class="btn btn-info btn-sm" id="print_purchase_order"
                        href="{% url 'show_purchase_order_view' invoice_id=invoice.id type='print' %}"
                        {% if not can_edit %} disabled="disabled" {% endif %}
                            data-toggle="tooltip"><i class="fa fa-print"></i> Print </a>
                {% elif invoice.is_po_declined %}
                    <a href="javascript:void(0);" id="resubmit_purchase_order"
                        data-ajax-url="{% url 'resubnmit_purchase_order' invoice.id %}"
                       {% if not can_edit %} disabled="disabled" {% endif %}
                        class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Resubmit
                    </a>
                    <button class="btn btn-info btn-sm" name="submit" id="sign_invoice"
                        data-ajax-url="{% url 'file_purchase_order' invoice.id %}"
                        {% if not can_edit %} disabled="disabled" {% endif %}
                            data-toggle="tooltip"><i class="fa fa-folder"></i> File </button>
                {% elif invoice.is_requested %}
                    <button type="button" class="btn btn-danger btn-sm"
                            name="submit" id="decline"
                            data-modal="{% url 'decline_purchase_order' invoice.id %}"
                            data-toggle="tooltip"><i class="fa fa-close"></i> Decline </button>
                    <a href="javascript:void(0);" id="sign_purchase_order"
                        data-ajax-url="{% url 'approve_purchase_order' invoice.id %}"
                        class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Approve
                    </a>
                {% elif invoice.is_ordered %}
                    <a href="javascript:void(0);" id="cancelled_purchase_order"
                        data-ajax-url="{% url 'cancelled_purchase_order' invoice.id %}"
                        class="btn btn-primary btn-sm"><i class="fa fa-ban"></i> Cancel
                    </a>
                    <a class="btn btn-info btn-sm" id="print_purchase_order"
                        href="{% url 'show_purchase_order_view' invoice_id=invoice.id type='print' %}"
                        data-toggle="tooltip"><i class="fa fa-print"></i> Print </a>
                    <span class="btn btn-success btn-sm label-success" disabled="disabled"><i class="fa fa-check"></i> PO Ordered</span>
                {% endif %}
            </div>
      </div>
  </div>
  <div class="panel-body">
      <div class="col-lg-4 col-sm-12">
          <div class="panel panel-info doc-fields">
              <div class="panel-heading">
                    <span class="left">{% if invoice.is_purchase_order %} PO Number {% else %} Document {% endif %} {{ invoice }}</span>
                    <span class="right pull-right">

                         <a href="javascript:void(0);" id="save_invoice_adjustments"
                            data-ajax-url="{% url 'save_invoice_changes' pk=invoice.id type='adjustment' %}"
                            class="btn btn-primary btn-sm save_invoice"
                            {% if not can_edit %} disabled="disabled" {% endif %}
                         ><i class="fa fa-save"></i> Update</a>
                    </span>
              </div>
              <div class="panel-body">
                   {% edit_invoice_form invoice request.session can_edit %}
              </div>
          </div>
          <div class="panel panel-info doc-flow">
              <div class="panel-heading">Flow</div>
              <div class="panel-body text-center">
                {% include "invoice/flow.html" %}
              </div>
          </div>
          {% if invoice.has_account_posting %}
              <div class="panel panel-info posting">
                 <div class="panel-heading">
                    <span class="left">Accounting Posting Line</span>
                    <span class="right pull-right">
                         <button type="button" id="add_invoice_account_posting"
                            class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add</button>
                         &nbsp;&nbsp;&nbsp;
                         <button type="button" id="update_invoice_account_changes"
                            class="btn btn-primary btn-sm" disabled="disabled"><i class="fa fa-save"></i> Update</button>
                    </span>
                 </div>
                 <div class="panel-body" style="overflow:scroll; height:400px;" id="accounting_posting_line"
                      data-ajax-url="{% url 'create_invoice_account_posting' invoice.id %}" data-invoice-id="{{ invoice.id }}">
                 </div>
              </div>
         {% endif %}
      </div>
      <div class="col-lg-8 col-sm-12">
          {% if invoice.is_purchase_order %}
              <div class="panel panel-info" id="invoice_detail_container"
                   data-ajax-url="{% url 'show_purchase_order_view' invoice.id %}">
                <div class="panel-heading">
                  <span class="pull-left">{% if invoice.is_purchase_order %} Purchase Order {% else %} Document {% endif %} Image</span>
                  <span class="pull-right intervention">
                        {% if intervention_is_required %}
                            <a href="javascript:void(0);" class="label label-info" data-toggle="tooltip" title=""
                               data-original-title="{{ intervention_comment }}">
                                Intervention
                            </a>
                        {% endif %}
                        {% if invoice.status and invoice.status.slug == 'decline-request-from-user' %}
                            <span class="label">DECLINE REQUEST</span>
                        {% endif %}
                  </span>
                </div>
                <div class="panel-body" style="overflow:scroll; height:500px;">
                    <iframe href="{% url 'show_purchase_order_view' invoice.id %}" width="1000" height="500"  frameborder="0"></iframe>
                </div>
              </div>
          {% else %}
             <div class="panel panel-info" id="invoice_detail_container"
               data-ajax-url="{% url 'invoice_image' invoice.id %}">
             </div>
          {% endif %}
          <div class="panel panel-info">
              <div class="panel-heading">
                    <span class="left">Comments</span>
                    <span class="right pull-right">
                        <button type="button" class="btn btn-danger btn-large"
                                name="submit" id="add_comment"
                                data-modal="{% url 'add_invoice_comment' invoice_id=invoice.id %}"
                                data-toggle="tooltip"><i class="fa fa-comment"></i> Add Comment</button>
                    </span>
                  </div>
              <div class="panel-body" style="overflow:scroll; height:100px;" id="invoice_comments"
                   data-ajax-url="{% url 'invoice_comments_index' invoice_id=invoice.id %}">
                 Comments
              </div>
          </div>
         {% if invoice.has_account_posting %}
              <div class="panel panel-info" id="account_postings"
                       data-ajax-url="{% url 'account_postings_view' invoice_id=invoice.id %}"
                       data-invoice-id="{{ invoice.id }}">
                  <div class="panel-heading">Account Posting</div>
                  <div class="panel-body" style="overflow:scroll;"
                       data-ajax-url="{% url 'account_postings_view' invoice_id=invoice.id %}"
                       data-invoice-id="{{ invoice.id }}">
                  </div>
              </div>
          {% endif %}
      </div>

  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}