{% load static %}
{% load i18n %}
{% load company_linked_objects_tags %}
{% load widget_tweaks %}
{% load invoice_tags %}

<div class="form-group control-group">
    <label class="col-sm-4 control-label txt-font12" for="{{ form.inventory.id_for_label }}">{{ form.inventory.label_tag }}</label>
    <div class="col-sm-8">
        {{ form.inventory|add_class:"form-control chosen-select" }}
        {{ form.inventory.errors }}
    </div>
</div>

<div class="form-group control-group">
    <label class="col-sm-4 control-label txt-font12" for="{{ form.quantity.id_for_label }}">{{ form.quantity.label_tag }}</label>
    <div class="col-sm-8">
        {{ form.quantity|add_class:"form-control" }}
        {{ form.quantity.errors }}
    </div>
</div>
<div class="form-group control-group">
    <label class="col-sm-4 control-label txt-font12" for="{{ form.unit.id_for_label }}">{{ form.unit.label_tag }}</label>
    <div class="col-sm-8">
        {{ form.unit|add_class:"form-controlchosen-select" }}
        {{ form.unit.errors }}
    </div>
</div>
<div class="form-group control-group">
    <label class="col-sm-4 control-label txt-font12" for="{{ form.order_value.id_for_label }}">{{ form.order_value.label_tag }}</label>
    <div class="col-sm-8">
        {{ form.order_value|add_class:"form-control" }}
        {{ form.order_value.errors }}
    </div>
</div>
<div class="form-group control-group">
    <label class="col-sm-4 control-label txt-font12" for="total_amount">Net value/total/quantity</label>
    <div class="col-sm-8">
        <input type="text" id="net_amount" readonly="readonly"
               {% if purchase_order %} value="{{ purchase_order.net_amount|money }}" {% endif %} />
    </div>
</div>
<div class="form-group control-group">
    <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_code.id_for_label }}">{{ form.vat_code.label_tag }}</label>
    <div class="col-sm-8">
        <select class="vat_code chosen-select" id="id_vat_code" name="vat_code">
            {% for vat_code in vat_codes %}
                <option value="{{ vat_code.id }}" data-percentage="{{ vat_code.percentage }}"
                        {% if purchase_order.vat_code  and vat_code.id ==  purchase_order.vat_code.id %}
                            selected="selected"
                        {% endif %}
                >{{ vat_code }}</option>
            {% endfor %}
        </select>
    </div>
{#    <div class="col-sm-8">#}
{#        {{ form.vat_code|add_class:"form-control chosen-select" }}#}
{#        {{ form.vat_code.errors }}#}
{#    </div>#}
</div>
<div class="form-group control-group">
    <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_amount.id_for_label }}">{{ form.vat_amount.label_tag }}</label>
    <div class="col-sm-8">
        <span id="vat_amount_text"></span>
        <input type="text" id="po_vat_amount" readonly="readonly" name="vat_amount"
           {% if purchase_order %} value="{{ purchase_order.total_vat_amount|money }}" {% endif %} />
        {{ form.vat_amount.errors }}
    </div>
</div>
<div class="form-group control-group">
    <label class="col-sm-4 control-label txt-font12" for="total_amount">Order Value</label>
    <div class="col-sm-8">
        <input type="text" id="total_amount" readonly="readonly"
            {% if purchase_order %} value="{{ purchase_order.total_price_with_vat|money }}" {% endif %} />
    </div>
</div>
 <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
<span data-ajax-url="{% url 'invoice_account_calculate_amount' %}" id="math_operation"></span>