{% extends 'datatable.html' %}
{% load static %}
{% load i18n %}
{% load invoice_tags %}
{% block page_title %}Purchase Orders - {{ branch }}{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-right">
         <a class="btn btn-large btn-success" href="{% url 'create_inventory_purchase_order' %}"><i class="fa fa-plus"></i>  Create New </a>
      </div>
  </div>
  <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="inventory_purchaseorders">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Branch</th>
                        <th>Supplier</th>
                        <th>Supplier code</th>
                        <th>Accounting Date</th>
                        <th>Invoice Date</th>
                        <th class="text-right">Total Amount</th>
                        <th class="text-right">VAT Amount</th>
                        <th class="text-right">Linked</th>
                    </tr>
                </thead>
            </table>
        </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#inventory_purchaseorders").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/inventories/purchaseorders/?format=datatables',
              'columns': [
                { data: 'reference', name: 'invoice__invoice_id', searchable: false, title:'Reference' },
                { data: 'status', name: 'invoice__status__name', searchable: true, title:'Status' },
                { data: 'branch', name: 'invoice__branch__label', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.label : '-';
                    },
                    title:'Branch'
                },
                { data: 'supplier', name: 'invoice__supplier__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    },
                    title:'Supplier'
                },
                { data: 'supplier', name: 'invoice__supplier__code', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.code : '-';
                    },
                    title:'Supplier'
                },
                { data: 'accounting_date', name: 'invoice__accounting_date', searchable: true, title:'Accounting Date'},
                { data: 'invoice_date', name: 'invoice__invoice_date', searchable: true, title:'Invoice Date'},
                { data: 'total_amount', name: 'invoice__total_amount', searchable: true, title:'Total Amount', className: 'text-right'},
                { data: 'vat_amount', name: 'invoice__vat_amount', searchable: true, title:'Vat Amount', className: 'text-right'},
                { data: 'inventory_received', name: 'inventory_received__reference', searchable: true, title:'Linked'}
              ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'desc' ]],
             "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        console.log(data, type)
                        if (row.inventory_received) {
                            console.log('---- In ---')
                            return "<a href='"+ row.inventory_received.detail_url +"?redirect={% url "inventory_purchase_order_index" %}'>" + data.reference + "</a>";
                        } else {
                            return '<span class="grayout">-</span>';
                        }
                    },
                    "targets": 9
                }
            ],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#inventory_purchaseorders tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'inventory_purchase_order_index' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });
    });
    </script>
{% endblock %}