{% load invoice_tags %}
<div class="panel panel-info" id="purchase_orders"
                       data-ajax-url="{% url 'inventory_purchase_order_lines_view' invoice.id %}"
                       data-invoice-id="{{ invoice.id }}" >
  <div class="panel-heading">
      <span class="left">Purchase Orders</span>
  </div>
  <div class="panel-body" style="overflow:scroll; height:118px; ">
      <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Description of goods</th>
                        <th>Qty</th>
                        <th class="text-right">Unit Price</th>
                        <th class="text-right">Net</th>
                        <th class="text-right">Vat</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody id="purchase-order-line-body">
                    {% if po.purchase_orders %}
                        {% for purchase_order in po.purchase_orders %}
                             <tr id="purchase_order_row_{{ purchase_order.id }}"
                                 class="purchase-order-line"
                                 data-purchase-order-line-id="{{ purchase_order.id }}"
                                 data-ajax-url="{% url 'edit_inventory_purchase_order_line' purchase_order.id %}">
                                <td>{{ purchase_order.description }}</td>
                                <td>{{ purchase_order.quantity_in_unit }}</td>
                                <td class="text-right">{{ purchase_order.unit_value|money }}</td>
                                <td class="text-right">{{ purchase_order.order_value|money }}</td>
                                <td class="text-right">{{ purchase_order.vat_amount|money }}</td>
                                <td class="text-right">{{ purchase_order.total|money }}</td>
                                <td class="text-left actions not-editable">
                                    <a href="javascript:void(0)" id="delete_account_posting_{{ purchase_order.id }}"
                                       class="delete-account-posting text-danger"
                                       data-invoice-id="{{ purchase_order.id }}"
                                       data-account-id="{{  purchase_order.id }}"
                                       data-ajax-url="{% url 'delete_invoice_account_posting' purchase_order.id %}"><i class="fa fa-trash"></i></a>
                                </td>
                             </tr>
                        {% endfor %}
                        <tr id="purchase_order_row_footer">
                            <td></td>
                            <td></td>
                            <td></td>
                            <th class="text-right">{{ po.total_order_value|money }}</th>
                            <th class="text-right">{{ po.total_vat|money }}</th>
                            <th class="text-right">{{ po.total|money }}</th>
                         </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="actions">There are no items available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
  </div>
</div>
