{% load static %}
{% load i18n %}
{% load company_linked_objects_tags %}
{% load widget_tweaks %}
<tr class="purchase_order_row {{ row }}" id="row_{{ row }}" data-row-id="{{ row }}">
    <td>
        <select id="{{ row }}_inventory_item" name="inventory_item_{{ row }}"
                class="form-control chosen-select inventory_item"
                data-ajax-url="{% url 'inventory_item_search_list' %}"
                data-ajax-inventory-url="{% url 'fetch_inventory_item' %}"
        >
            <option value="">--</option>
        </select>
    </td>
    <td>
        <input type="text" class="form-control validate_number calculate_net form-control-sm"
               id="{{ row }}_quantity" name="quantity_{{ row }}">
    </td>
    <td>
        <select id="{{ row }}_unit" name="unit_{{ row }}" class="form-control item-units chosen-select">
            <option value="">--</option>
        </select>
    </td>
    <td>
        <input type="text" class="form-control validate_number calculate_net form-control-sm"
               id="{{ row }}_value" name="value_{{ row }}">
    </td>
    <td>
        <span id="row_net_total_{{ row }}"></span>
        <input type="hidden" class="form-control net" value="" name="net_total_{{ row }}" id="{{ row }}_net_total">
    </td>
    <td>
        <select id="{{ row }}_vat_code" name="vat_code_{{ row }}" class="form-control calculate_vat chosen-select">
            <option value="">--</option>
            {% for vat_code in vat_codes %}
                <option value="{{ vat_code.id }}" data-percentage="{{ vat_code.percentage }}">{{ vat_code }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <span id="row_vat_amount_{{ row }}"></span>
        <input type="hidden" class="form-control vat" value="" name="vat_amount_{{ row }}" id="{{ row }}_vat_amount">
    </td>
    <td>
        <span id="row_total_amount_{{ row }}"></span>
        <input type="hidden" class="form-control total" value="" name="total_{{ row }}" id="{{ row }}_total">
    </td>
    <td>
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" id="delete_{{ row }}">
            <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
</tr>
