{% load invoice_tags %}
<h5>Purchase Orders</h5>
<div class="col-12">
    <div class="table-responsive">
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Description of goods</th>
                    <th>Qty</th>
                    <th class="text-right">Unit Price</th>
                    <th class="text-right">Net</th>
                    <th class="text-right">Vat</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody id="purchase_orders">
                {% if po.purchase_orders %}
                    {% for purchase_order in po.purchase_orders %}
                         <tr id="purchase_order_row_{{ purchase_order.id }}">
                            <td>{{ purchase_order.description }}</td>
                            <td>{{ purchase_order.quantity_in_unit }}</td>
                            <td class="text-right">{{ purchase_order.unit_value|money }}</td>
                            <td class="text-right">{{ purchase_order.order_value|money }}</td>
                            <td class="text-right">{{ purchase_order.vat_amount|money }}</td>
                            <td class="text-right">{{ purchase_order.total|money }}</td>
                         </tr>
                    {% endfor %}
                    <tr id="purchase_order_row_footer">
                        <td></td>
                        <td></td>
                        <td></td>
                        <th class="text-right">{{ po.total_order_value|money }}</th>
                        <th class="text-right">{{ po.total_vat|money }}</th>
                        <th class="text-right">{{ po.total|money }}</th>
                     </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="actions">There are no items available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>