{% load invoice_tags %}
<div class="panel panel-info" id="purchase_order_detail_container">
  <div class="panel-heading">Purchase Orders</div>
  <div class="panel-body" style="overflow:scroll; height:1000px;"  id="po-page">
        <div class="col-12 text-right">
            {% if invoice.is_purchase_order %}
                <button class="btn btn-success" id="close_purchase_order_invoice_link"
                   data-ajax-url="{% url 'show_purchase_order_view' invoice.id %}"
                >Close</button>
           {% else %}
                <button class="btn btn-success" id="close_purchase_order_invoice_link"
                   data-ajax-url="{% url 'invoice_image' invoice.id %}"
                >Close</button>
           {% endif %}
            <button class=" btn btn-success" id="save_purchase_order_invoice_link"
               data-ajax-url="{% url 'save_invoice_purchase_orders' invoice_id=invoice.id %}"
            >Save</button>
        </div>
        <div class="col-12" >
            <div class="table-responsive">
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>PO Number</th>
                            <th class="text-right">Order Value</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody id="purchase_orders">
                        {% if purchase_orders %}
                            {% for purchase_order in purchase_orders %}
                                 <tr id="row_purchase_order_{{ purchase_order.id }}"
                                     data-detail-url="{% url 'show_purchase_order_rows' purchase_order.id %}">
                                    <td>{{ purchase_order.created_at|date:'Y-m-d' }}</td>
                                    <td>{{ purchase_order }}</td>
                                    <td class="text-right">{{ purchase_order.total_amount|money }}</td>
                                    <td class="text-left actions">
                                        <div class="checkbox">
                                            <label style="font-size: 1em">
                                                <input type="checkbox" class="purchase-order-check"
                                                       name="purchase_order_{{ purchase_order.id }}"
                                                       id="purchase_order_{{ purchase_order.id }}"
                                                       value="{{ purchase_order.id }}" />
                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                 </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="actions">There are no purchase orders available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12" id="purchase_order_details">

        </div>
    </div>
</div>


