{% load static %}
{% load invoice_tags company_tags %}
{% load thumbnail %}
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
         {% if is_print %}
            {% display_logo invoice.branch.company 200 75 is_print=is_print %}
         {% else %}
            {% display_logo invoice.branch.company 200 75 %}
         {% endif %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4  left-pad right-pad">
        {% with company=invoice.branch.company %}
            {% include "sales/address/company.html" %}
        {% endwith %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <table class="table table-borderless table-condensed">
            <tr>
                <td colspan="2"><strong class="h4">{{ invoice.invoice_type|upper }}</strong></td>
            </tr>
            <tr>
                <td>Vat Registration Number</td>
                <td>{{ invoice.branch.company.vat_number }}</td>
            </tr>
            <tr>
                <td>Document Number</td>
                <td>#{{ invoice }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ invoice.invoice_date|date:'d-M-Y' }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row invoice-row" id="customer-data">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Supplier</strong></div>
            <div class="panel-body" style="padding: 5px;">
                {{ invoice.supplier.code }}<br>
                {{ invoice.supplier.name }}<br>
                {{ invoice.supplier.address_line_1 }}<br>
                {{ invoice.supplier.address_line_2 }}<br>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Ship To</strong></div>
            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                {% if invoice.branch %}
                {{ invoice.branch.label }}<br>
                {{ invoice.branch.address_line_1 }}<br>
                {{ invoice.branch.address_line_2 }}<br>
                {{ invoice.branch.town }}, {{ invoice.branch.area_code }}<br>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Other</strong></div>
            <div class="panel-body" id="invoice_meta" style="padding: 5px;">
                <table class="table" width="100%">
                    <tr>
                        <td class="text-left bold">Memo to Supplier</td>
                        <td class="text-left">{{ invoice.memo_to_supplier }}</td>
                    </tr>
                    <tr>
                        <td class="text-left bold">REQUISITIONER</td>
                        <td class="text-left">{% if created_by %}{{ created_by }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="text-left bold">APPROVED BY</td>
                        <td class="text-left">{% if approved_by %}{{ approved_by }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="text-left bold">ORDERED BY</td>
                        <td class="text-left">{% if ordered_by %}{{ ordered_by }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td class="text-left bold">COMPANY CODE</td>
                        <td class="text-left">{{ invoice.company.slug }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-body sales-items">
                <div class="table-responsive">
                   <table width="100%" class="table">
                        <tr class="item-titles">
                            <td class="po-brdr-r po-pad-left">PRODUCT CODE</td>
                            <td class="po-brdr-r po-pad-left">DESCRIPTION</td>
                            <td class="po-brdr-r po-pad-left">QTY</td>
                            <td class="po-brdr-r po-pad-left">UNIT</td>
                            <td class="po-brdr-r po-right-align">UNIT PRICE</td>
                            <td class="po-brdr-r po-right-align">NETT</td>
                            <td class="po-brdr-r po-right-align">VAT</td>
                            <td class="po-right-align">TOTAL</td>
                        </tr>
                        {% for purchase_order in purchase_order.inventory_items.all %}
                            <tr class="line-items">
                                <td>{{ purchase_order.inventory.inventory.code }}</td>
                                <td>{{ purchase_order.inventory.description }}</td>
                                <td>{{ purchase_order.quantity }}</td>
                                <td>{{ purchase_order.unit }}</td>
                                <td class="po-right-align po-brdr-r">{{ purchase_order.unit_price }}</td>
                                <td class="po-right-align po-brdr-r">{{ purchase_order.order_value|money }}</td>
                                <td class="po-right-align po-brdr-r">{{ purchase_order.vat_amount|money }}</td>
                                <td class="po-right-align">{{ purchase_order.total_price_with_vat|money }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        <table width="100%" class="table table-bordered">
            <tr>
                <td class="po-total">Net Excluding Vat</td>
                <td class="po-total text-right">&nbsp;{{ invoice.sub_total|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Net after Invoice Discount</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.net_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Vat</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.vat_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Total Including Vat</td>
                <td class="po-total text-right" >R&nbsp;{{ invoice.total_amount|money }}</td>
            </tr>
        </table>
    </div>
</div>