{% load invoice_tags inventory_tags %}
<tr id="invoice_item_row_{{ invoice_item.id }}" class="sales-items invoice_item_row"
    data-row-id="{{ invoice_item.id }}"
    data-invoice-id="{{ invoice_item.id }}">
    <td>{{ invoice_item.item_type }}</td>
    <td colspan="5">
        <input type="hidden" name="id_{{ invoice_item.id }}" value="{{ invoice_item.id }}" />
        <input type="text" name="item_description_{{ invoice_item.id }}" value="{{ invoice_item.description }}">
    </td>
    <td class="text-right">
    </td>
    <td class="text-right">
    </td>
    <td class="text-right">
    </td>
    <td class="text-right">

    </td>
    <td class="text-right">

    </td>
    <td class="text-right">
    </td>
    <td class="text-right">
    </td>
    <td>
        <a href="javascript:void(0);" data-row-id="{{ invoice_item.id }}" class="delete-row"
           data-action="delete"
           id="delete_{{ invoice_item.id }}">
         <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ invoice_item.id }}"></i>
        </a>
    </td>
</tr>