{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Supplier Balance Detail {{ age_analysis.supplier }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <a href="{% url 'supplier_age_analysis' %}" id="previous_level" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Prev Level</a>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-xs-12 col-lg-12 col-md-12 report-container" id="supplier_balance" data-auto-generate="1">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Docuflow Unique</th>
                        <th>Flow Status</th>
                        <th>Accounting Date</th>
                        <th>Invoice Date</th>
                        <th>Due Date</th>
                        <th>Document Type</th>
                        <th>Document Number</th>
                        <th>Reference 1</th>
                        <th>Reference 2</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% if invoices or payments %}
                        {% for invoice in invoices %}
                            <tr class="" onclick="openDetail(this)"
                                data-detail-url="{% url 'invoice_detail' invoice.id %}?redirect={% url 'supplier_age_analysis_detail' age_analysis.id %}">
                                <td>{{ invoice }}</td>
                                <td>{{ invoice.status }}</td>
                                <td>{{ invoice.accounting_date }}</td>
                                <td>{{ invoice.invoice_date }}</td>
                                <td>{{ invoice.due_date }}</td>
                                <td>{{ invoice.invoice_type }}</td>
                                <td>{{ invoice.invoice_number }}</td>
                                <td>{{ invoice.reference_1 }}</td>
                                <td>{{ invoice.reference_2 }}</td>
                                <td class="text-right">{{ invoice.amount|money }}</td>
                            </tr>
                        {% endfor %}
                        {% for payment in payments %}
                            <tr class="payment-row" id="{{ payment.id }}" onclick="openDetail(this)"
                                data-detail-url="{% url 'payment_advice' payment.id %}?redirect={% url 'supplier_age_analysis_detail' age_analysis.id %}">
                                <td>{{ payment }}</td>
                                <td></td>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.payment_date }}</td>
                                <td></td>
                                <td>Payment</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">{{ payment.amount|money }}</td>
                            </tr>
                        {% endfor %}
                        {% for ledger in ledgers %}
                            <tr class="payment-row" id="{{ ledger.id }}">
                                <td>{{ ledger.journal_line }}</td>
                                <td></td>
                                <td>{{ ledger.date }}</td>
                                <td>{{ ledger.date }}</td>
                                <td></td>
                                <td>Journal</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">{{ ledger.balance|money }}</td>
                            </tr>
                        {% endfor %}
                           <tr>
                                <td colspan="9"></td>
                                <td class="text-right"><strong>{{ total|money }}</strong></td>
                            </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">There are no <strong>open invoices/payments</strong> available for {{ age_analysis.supplier }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/report.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}