{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Supplier Balance {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form report-form" id="generate_supplier_balance" action="{% url 'generate_supplier_age_analysis' %}"
                  data-ajax-url="{% url 'generate_supplier_age_analysis' %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                                {{ form.period.label_tag }}
                                <div class="controls">
                                    {% render_field form.period class="form-control chosen-select" tabindex="2" %}
                                    {% if form.period.auto_id  != "id_tos" %}
                                        {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label>Supplier</label>
                                <div class="controls">
                                    {% render_field form.supplier class="form-control chosen-select" tabindex="3" %}
                                    {% if form.supplier.auto_id  != "id_tos" %}
                                        {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-4">

                        </div>
                    </div>
                    <div class="panel panel-default height">
                        <div class="panel-heading">Status</div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="row">
                                <div class="col-3">
                                    Processing
                                    <div class="controls">
                                        <input type="checkbox" id="status_processing" name="status" value="processing" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    Complete
                                    <div class="controls">
                                        <input type="checkbox" id="status_completed" name="status" value="completed" />
                                    </div>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="display_print" class="btn btn-primary generate"
                                data-action="print"><i class="fa fa-print"></i> Print</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="display_screen" class="btn btn-primary generate"
                                data-action="screen"><i class="fa fa-window-maximize"></i> Screen</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_excell" class="btn btn-primary generate"
                                    data-ajax-url="{% url 'download_trial_balance' %}" data-action="download">
                                <i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_pdf" class="btn btn-primary generate"
                                    data-action="screen"><i class="fa fa-file-pdf-o"></i> Pdf</button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary" data-action="cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-lg-12 col-md-12 report-container" id="supplier_balance" data-auto-generate="1">
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/report.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}