{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}Create role supplier authorization {% endblock title %}
{% block content %}
<form method="post" action="{% url 'create_supplier_role_authorization' authorization_id=supplier_authorization.id %}"
      id="supplier_role_authorization_form" name="supplier_role_authorization_form" class="form-horizontal">
     <div class="modal-body">
         {% if has_error %}
             <div id="text-reason">{{ message }}</div>
         {% endif %}
        <div class="col-sm-12 form">
            <div class="form-group control-group {% if form.role.errors %}error{% endif %}">
                <label class="col-sm-4 control-label txt-font12" for="{{ form.role.id_for_label }}">{{ form.role.label_tag }}</label>
                <div class="col-sm-8">
                    {% render_field form.role class="form-control chosen-select" %}
                    {% if form.role.auto_id  != "id_tos" %}
                        {% if form.role.errors %}<span class="help-inline">{{ form.role.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.amount.errors %}error{% endif %}">
                <label class="col-sm-4 control-label txt-font12" for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
                <div class="col-sm-8">
                    {% render_field form.amount class="form-control" %}
                    {% if form.amount.auto_id  != "id_tos" %}
                        {% if form.amount.errors %}<span class="help-inline">{{ form.amount.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary save-supplier-authorization-btn" data-text="Processing ..."
                id="supplier_role_authorization">Save</button>
    </div>
</form>
{% endblock %}