{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}Edit supplier role authorization - <strong>{{ supplier }}</strong> {% endblock title %}
{% block content %}
<form method="post" action="{% url 'edit_supplier_role_authorization' object.id %}" id="supplier_role_authorization_form"
      name="supplier_role_authorization_form" class="form-horizontal">
     <div class="modal-body">
         {% if has_error %}
             <div id="text-reason">{{ message }}</div>
         {% endif %}
        <div class="col-sm-12 form">

            <div class="form-group control-group {% if form.amount.errors %}error{% endif %}">
                <label class="col-sm-4 control-label txt-font12" for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
                <div class="col-sm-8">
                    {% render_field form.amount class="form-control" %}
                    {% if form.amount.auto_id  != "id_tos" %}
                        {% if form.amount.errors %}<span class="help-inline">{{ form.amount.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
     <div class="modal-footer">
         <input type="hidden" name="role" id="id_role" value="{{ object.role.id }}">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary save-supplier-authorization-btn" id="supplier_role_authorization">Update</button>
    </div>
</form>
{% endblock %}