{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
{% block page_title %} Supplier Role Authorization - {{ year }} {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clear-fix">
        <div class="pull-left">
            <button type="button" class="btn btn-large btn-success btn-loading"
                    data-modal="{% url 'create_supplier_role_authorization' %}"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    id="create_supplier_authorization_btn">Create</button>
        </div>

      <div class="pull-right">
          <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
          <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
      </div>
  </div>
  <div class="panel-body aligin-center">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed" width="100%">
            <thead>
                <tr class="primary-head">
                    <th>Supplier</th>
                    <th>Authorization Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if supplier_authorizations|length > 0 %}
                    {% for supplier_authorization in supplier_authorizations %}
                        <tr class="supplier-row">
                            <td><strong>{{ supplier_authorization }}</strong></td>
                            <td><strong>{{ supplier_authorizationr.amount }}</strong></td>
                            <td class="actions">
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                                <a href="">Roles</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">Supplier authorizations not available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/supplier_authorization.js' %}"></script>
{% endblock %}
