{% load invoice_tags common_tags %}
{% for back_order_item in back_order_items.all %}
    <tr id="sales_item_{{ back_order_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ back_order_item.id }}"
         data-estimate-id="{{ back_order_item.id }}"
    >
        <td>I</td>
        <td>
            {{ forloop.index0 }}
            {{ back_order_item.inventory.inventory }}&nbsp;&nbsp;
            {{ back_order_item.inventory.description }}
            <input type="hidden" name="estimate_id" value="{{ back_order_item.id }}">
        </td>
        <td class="text-right">
            {{ back_order_item.inventory.available_stock }}
        </td>
        <td class="text-right">
            {{ back_order_item.quantity|quantity }}
            <input type="hidden" name="quantity_ordered_{{ back_order_item.id }}" id="quantity_ordered_{{ back_order_item.id }}"
                   value="{{ back_order_item.quantity }}">
            <input type="hidden" name="in_stock_{{ back_order_item.id }}" id="in_stock_{{ back_order_item.id }}"
                   value="{{ back_order_item.inventory.available_stock }}">
            <input type="hidden" name="allow_negative_stock_{{ back_order_item.id }}" id="allow_negative_stock_{{ back_order_item.id }}"
                   value="0">
        </td>
        <td class="text-right">
            <input type="text" class="form-control form-control-sm quantity"
               value="{{ back_order_item.deliverable_quantity|quantity }}"
               name="quantity_{{ back_order_item.id }}"
               id="quantity_{{ back_order_item.id }}"
               data-item-id="{{ back_order_item.id }}"
            />
        </td>
        <td class="text-center">
            <input type="checkbox" class="checkbox-input create-back-order"
                   {% if back_order_item.is_inventory_available %}disabled="disabled"{% else %}checked="checked"{% endif %}
                   name="back_order_{{ back_order_item.id }}"
                   id="back_order_{{ back_order_item.id }}"
                   data-item-id="{{ back_order_item.id }}"
                   value="{{ back_order_item.id }}"
            />
        </td>
        <td class="text-center">
            {{ back_order_item.unit }}
        </td>
        <td class="text-right">
            {{ back_order_item.price|money }}
            <input type="hidden" class="form-control form-control-sm price"
                   name="price_{{ back_order_item.id }}"
                   id="price_{{ back_order_item.id }}"
                   data-item-id="{{ back_order_item.id }}"
                   value="{{ back_order_item.price }}" />

        </td>
        <td class="text-right">
            {{ back_order_item.price_including|money }}
            <input type="hidden" class="form-control form-control-sm price-including"
                   name="price_including_{{ back_order_item.id }}"
                   id="price_including_{{ back_order_item.id }}"
                   data-item-id="{{ back_order_item.id }}"
                   value="{{ back_order_item.price_including }}" />
            <input type="hidden" class="sub-total"
                   name="sub_total_{{ back_order_item.id }}"
                   id="sub_total_{{ back_order_item.id }}"
                   data-item-id="{{ back_order_item.id }}"
                   value="{{ back_order_item.sub_total }}" />
        </td>
        <td class="text-left">
            <span class="price" id="_discount_percentage_{{ back_order_item.id }}">{{ back_order_item.discount|money }}</span>
            <input type="hidden" class="form-control form-control-sm discount" value="{{ back_order_item.discount }}"
                   name="discount_percentage_{{ back_order_item.id }}"
                   id="discount_percentage_{{ back_order_item.id }}"
                   data-item-id="{{ back_order_item.id }}" />
        </td>
        <td class="text-right">
            <span class="discount-amount" id="discount_amount_{{ back_order_item.id }}"
                  data-item-id="{{ back_order_item.id }}">{{ back_order_item.total_discount_amount|money }}</span>
            <input type="hidden" class="form-control form-control-sm total-discount"
                   value="{{ back_order_item.total_discount_amount }}" readonly="readonly"
                   name="total_discount_{{ back_order_item.id }}"
                   id="total_discount_{{ back_order_item.id }}"
                   data-item-id="{{ back_order_item.id }}" />
        </td>
        <td class="text-right">
            <span class="price-exc" id="total_price_exl_{{ back_order_item.id }}" data-item-id="{{ back_order_item.id }}">
                {{ back_order_item.total_price_excluding|money }}
            </span>
            <input type="hidden" value="{{ back_order_item.total_price_excluding }}"
                   name="total_price_excluding_{{ back_order_item.id }}"
                   id="total_price_excluding_{{ back_order_item.id }}"
                   class="total-price-excl" />
        </td>
        <td class="text-right">
            <span class="total-vat" id="vat_total_{{ back_order_item.id }}" data-item-id="{{ back_order_item.id }}">
                {{ back_order_item.vat_amount|money }}
            </span>
            <input type="hidden" value="{{ back_order_item.vat_code.id }}"
                   name="vat_code_{{ back_order_item.id }}"
                   id="vat_code_{{ back_order_item.id }}"
                   data-percentage="{{ back_order_item.vat_code.percentage }}"
                   class="vat vat-codes"
                   data-item-id="{{ back_order_item.id }}"
                   data-text="{{ back_order_item.vat_code }}"
            />
            <input type="hidden" value="{{ back_order_item.vat }}"
                   name="vat_percentage_{{ back_order_item.id }}"
                   id="vat_percentage_{{ back_order_item.id }}"
                   class="vat-percentage"
            />
            <input type="hidden"
                   name="total_vat_{{ back_order_item.id }}"
                   id="total_vat_{{ back_order_item.id }}"
                   class="total-vat total-vat-amount"
                   value="{{ back_order_item.vat_amount }}"
            />
            <input type="hidden"
                   name="vat_amount_{{ back_order_item.id }}"
                   id="vat_amount_{{ back_order_item.id }}"
                   class="vat-amount"
                   value="{{ back_order_item.vat_amount }}"
            />
        </td>
        <td class="text-right">
            <span class="price" id="total_price_incl_{{ back_order_item.id }}">{{ back_order_item.total_price_including|money }}</span>
            <input type="hidden" value="{{ back_order_item.total_price_including|money }}"
                   name="total_price_including_{{ back_order_item.id }}"
                   id="total_price_including_{{ back_order_item.id }}"
                   class="total-price-incl open-input" />
        </td>
    </tr>
{% endfor %}