{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Comment {% endblock title %}
{% block content %}

     <div class="modal-body">
        <form method="post" novalidate="novalidate" role="form" id="add_account_posting_form" name="add_account_posting_form" action="{% url 'add_accounting_posting' %}">
        {% csrf_token %}
        {% for object_category in object_categories %}
            {% if object_category.slug != 'accounts' %}
                <div class="col-12">
                    <label for="{{ object_category.id }}">{{ object_category.label }}</label>
                    <select id="{{ object_category.id }}" name="object_item" class="form-control">
                        <option value="">--</option>
                        {% if object_category.category_object_items %}
                            {% for object_item in object_category.category_object_items.all %}
                                <option value="{{ object_item.id }}">{{ object_item.label }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            {% endif %}
        {% endfor %}

         <div class="col-12">
            <label for="{{ form.percentage.id_for_label }}">{{ form.percentage.label_tag }}</label>
            {{ form.percentage|add_class:"form-control" }}
        </div>
         <div class="col-12">
            <label for="{{ form.distribution.id_for_label }}">{{ form.distribution.label_tag }}</label>
            {{ form.distribution|add_class:"form-control" }}
        </div>
     <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
  </form>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
     <button type="button" class="btn btn-primary btn-large" name="add_account_posting_submit" id="add_account_posting_submit"><i class="fa fa-save"></i> Add</button>
    </div>

{% endblock %}