{% extends 'base.html' %}
{% load static %}
{% block page_title %}Create Account Posting{% endblock page_title %}
{% block content %}
   <style type="text/css">
      #id_permissions{
          height: 1000px !important;
      }
      #undo_redo, #undo_redo_to {
          min-height: 500px !important;
      }
   </style>
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}
    <div class="form-group">
        <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Next</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account_posting.js' %}"></script>
{% endblock %}