{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Account Posting Proposal{% endblock page_title %}
{% block content %}
<style type="text/css">
    .panel-heading h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 75%;
        padding-top: 8px;
    }
      #undo_redo_to{
          height: 500px !important;
      }
      #undo_redo{
          height: 500px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
</style>
{% if account_postings.paginator.count > 0 %}
        <form method="post" id="account_posting_detail">
          {% csrf_token %}
              <div class="panel panel-primary">
                  <div class="panel-heading clearfix">
                      <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">Record {{ account_postings.number }}/{{ account_postings.paginator.num_pages }}</h5>
                        {% if account_postings.has_other_pages %}
                          <ul class="pagination btn-group pull-left">
                            {% if account_postings.has_previous %}
                                <a href="?page=1" type="button" class="btn btn-info" aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                                <a href="?page={{ account_postings.previous_page_number }}" type="button" class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                            {% else %}
                                <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                                <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                            {% endif %}

                            {% if account_postings.has_next %}
                              <a href="?page={{ account_postings.next_page_number }}" type="button" class="btn btn-info" aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                              <a href="?page={{ account_postings.paginator.num_pages }}" type="button" class="btn btn-info" aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                            {% else %}
                              <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                              <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                            {% endif %}
                          </ul>
                        {% endif %}

                      <div class="btn-group pull-right">
                           <div class="form-group">
                                <a href="{% url 'create_account_posting' %}" class="btn btn-sm btn-success" role="button">
                                    <i class="fa fa-plus"></i> New
                                </a>
                                <button type="submit" id="update_account_posting" class="btn btn-primary btn-sm"
                                        data-ajax-url="{% url 'update_account_posting' account_posting.id %}"><i class="fa fa-save"></i> Update</button>
                                &nbsp;
                                <a href="{% url 'account_posting_index' %}" class="btn btn-sm btn-default" role="button">
                                    <i class="fa fa-angle-left"></i> Prev. Level
                                </a>
                           </div>
                      </div>
                  </div>
                  <div class="panel-body aligin-center">
                        <table class="table align-center" width="">
                            <tr>
                                <td colspan="2">

                                    <div class="form-group control-group">
                                        <label class="col-sm-4 control-label txt-font12" for="account-posting-proposal">Account Posting Proposal</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="id_name" name="name" value="{{ account_posting.label }}" />
                                        </div>
                                    </div>
                                    <div class="form-group control-group">
                                        <label class="col-sm-4 control-label txt-font12" for="status">Status</label>
                                        <div class="col-sm-8">
                                            {% if account_posting.is_active %}
                                                <i clas="fa fa-check"></i>Active
                                            {% else %}
                                                <i clas="fa fa-cancel"></i>Pending
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="account_posting_lines" data-ajax-url="{% url 'account_posting_lines' account_posting.id %}" ></div>
                                </td>
                            </tr>
                        </table>
                  </div>
              </div>
        </form>
{% endif %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account_posting.js' %}"></script>
{% endblock %}