{% extends 'base.html' %}
{% block page_title %} Account Posting Proposal {% endblock page_title %}
{% block content %}
<div class="panel-heading clearfix">
    <div class="pull-left"></div>
    <div class="pull-right">
        <a href="{% url 'create_account_posting' %}" class="btn btn-sm btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> New
        </a>
    </div>
</div>
<div class="panel-body">
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>

            <th>Account posting proposal</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="account_postings">
            {% if account_postings %}
                {% for account_posting in account_postings %}
                    <tr data-detail-url="{% url 'show_account_posting' account_posting.id %}">
                        <td>{{ account_posting.label }}</td>
                        <td>
                            {% if account_posting.is_active %}
                                <span class="label label-success"><i class="fa fa-check"></i></span>
                            {% else %}
                                <span class="label label-danger"><i class="fa fa-close"></i></span>
                            {% endif %}
                        </td>
                        <td class="actions">
                            <a href="{% url 'delete_account_posting' account_posting.id %}"
                               class="delete_account_posting text-danger"
                               id="delete_account_posting_{{ account_posting.id }}"
                               onclick="return confirm('Are you sure you want to delete account posting')"
                            >
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">There are no account postings available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){

            $("#account_postings>tr>td:not(.actions)").on('click', function(){
               // var detailUrl = $("#invoice_log>tr").data('detail-url');
                var detailUrl = $(this).parent('tr').data('detail-url');
                document.location.href = detailUrl;
                return false;
            });


       });
    </script>
{% endblock %}