{% load i18n %}
{% load widget_tweaks %}
   <style type="text/css">
      #id_permissions{
          height: 1000px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
   </style>
<form method="post" novalidate="novalidate" id="logger_edit_invoice">
    {% csrf_token %}
    <div class="form-group control-group {% if form.is_status_transfer_text.errors %}error{% endif %}">
        <div class="row">
            <div class="col-lg-6">{{ form.is_status_transfer_text.label_tag }}</div>
            <div class="col-lg-6">
                <div class="controls">
                    <div class="checkbox">
                      <label style="font-size: 1em">
                          {% if invoice.is_status_transfer_text %}
                              <input type="checkbox" checked="checked" name="is_status_transfer_text" id="is_status_transfer_text" value="1">
                          {% else %}
                              <input type="checkbox" name="is_status_transfer_text" id="is_status_transfer_text" value="1">
                          {% endif %}
                          {% if form.is_status_transfer_text.auto_id  != "id_tos" %}
                              {% if form.is_status_transfer_text.errors %}<span class="help-inline">{{ form.is_status_transfer_text.errors }}</span>{% endif %}
                          {% endif %}
                          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group control-group {% if form.is_blocked_for_transfer.errors %}error{% endif %}">
        <div class="row">
            <div class="col-lg-6">{{ form.is_blocked_for_transfer.label_tag }}</div>
            <div class="col-lg-6">
                <div class="controls">
                    <div class="checkbox">
                      <label style="font-size: 1em">
                          {% if invoice.is_blocked_for_transfer %}
                              <input type="checkbox" checked="checked" name="is_blocked_for_transfer" id="is_blocked_for_transfer" value="1">
                          {% else %}
                              <input type="checkbox" name="is_blocked_for_transfer" id="is_blocked_for_transfer" value="1">
                          {% endif %}
                          {% if form.is_blocked_for_transfer.auto_id  != "id_tos" %}
                              {% if form.is_blocked_for_transfer.errors %}<span class="help-inline">{{ form.is_blocked_for_transfer.errors }}</span>{% endif %}
                          {% endif %}
                          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group control-group {% if form.comment_on_blocking.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.comment_on_blocking.id_for_label }}">{{ form.comment_on_blocking.label_tag }}</label>
        <div class="controls">
            {% render_field form.comment_on_blocking class="form-control" title=invoice.comment_on_blocking %}
            {% if form.comment_on_blocking.auto_id  != "id_tos" %}
                {% if form.comment_on_blocking.errors %}<span class="help-inline">{{ form.comment_on_blocking.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.type_of_matching.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.type_of_matching.id_for_label }}">{{ form.type_of_matching.label_tag }}</label>
        <div class="controls">
            {{ form.type_of_matching|add_class:"form-control"  }}
            {% if form.type_of_matching.auto_id  != "id_tos" %}
                {% if form.type_of_matching.errors %}<span class="help-inline">{{ form.type_of_matching.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.is_classified.errors %}error{% endif %}">
        <div class="row">
            <div class="col-lg-6">{{ form.is_classified.label_tag }}</div>
            <div class="col-lg-6">
                <div class="controls">
                    <div class="checkbox">
                      <label style="font-size: 1em">
                          {% if invoice.is_classified %}
                              <input type="checkbox" checked="checked" name="is_classified" id="is_classified" value="1">
                          {% else %}
                              <input type="checkbox" name="is_classified" id="is_classified" value="1">
                          {% endif %}
                          {% if form.is_classified.auto_id  != "id_tos" %}
                              {% if form.is_classified.errors %}<span class="help-inline">{{ form.is_classified.errors }}</span>{% endif %}
                          {% endif %}
                          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group control-group {% if form.is_payment_stopped.errors %}error{% endif %}">
        <div class="row">
            <div class="col-lg-6">{{ form.is_payment_stopped.label_tag }}</div>
            <div class="col-lg-6">
                <div class="controls">
                    <div class="checkbox">
                      <label style="font-size: 1em">
                          {% if invoice.is_payment_stopped %}
                              <input type="checkbox" checked="checked" name="is_payment_stopped" id="is_payment_stopped" value="1">
                          {% else %}
                              <input type="checkbox" name="is_payment_stopped" id="is_payment_stopped" value="1">
                          {% endif %}
                          {% if form.is_payment_stopped.auto_id  != "id_tos" %}
                              {% if form.is_payment_stopped.errors %}<span class="help-inline">{{ form.is_payment_stopped.errors }}</span>{% endif %}
                          {% endif %}
                          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group control-group {% if form.company.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.company.id_for_label }}">{{ form.company.label_tag }}</label>
        <div class="controls">
            {{ form.company|add_class:"form-control"  }}
            {% if form.company.auto_id  != "id_tos" %}
                {% if form.company.errors %}<span class="help-inline">{{ form.company.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.invoice_type.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.invoice_type.id_for_label }}">{{ form.invoice_type.label_tag }}</label>
        <div class="controls">
            {% render_field form.invoice_type class="form-control" value=invoice.invoice_type %}
            {% if form.invoice_type.auto_id  != "id_tos" %}
                {% if form.invoice_type.errors %}<span class="help-inline">{{ form.invoice_type.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
        <div class="controls">
            {% render_field form.supplier class="form-control" value=invoice.supplier %}
            {% if form.supplier.auto_id  != "id_tos" %}
                {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_name.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.supplier_name.id_for_label }}">{{ form.supplier_name.label_tag }}</label>
        <div class="controls">
            {% render_field form.supplier_name class="form-control" value=invoice.supplier_number %}
            {% if form.supplier_name.auto_id  != "id_tos" %}
                {% if form.supplier_name.errors %}<span class="help-inline">{{ form.supplier_name.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_number.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.supplier_number.id_for_label }}">{{ form.supplier_number.label_tag }}</label>
        <div class="controls">
            {% render_field form.supplier_number class="form-control" value=invoice.supplier_number %}
            {% if form.supplier_number.auto_id  != "id_tos" %}
                {% if form.supplier_number.errors %}<span class="help-inline">{{ form.supplier_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>


    <div class="form-group control-group {% if form.reference1.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.reference1.id_for_label }}">{{ form.reference1.label_tag }}</label>
        <div class="controls">
            {% render_field form.reference1 class="form-control" value=invoice.reference1 %}
            {% if form.reference1.auto_id  != "id_tos" %}
                {% if form.reference1.errors %}<span class="help-inline">{{ form.reference1.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reference2.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.reference2.id_for_label }}">{{ form.reference2.label_tag }}</label>
        <div class="controls">
            {{ form.reference2|add_class:"form-control"  }}
            {% if form.reference2.auto_id  != "id_tos" %}
                {% if form.reference2.errors %}<span class="help-inline">{{ form.reference2.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.flow_proposal.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.flow_proposal.id_for_label }}">
            {{ form.flow_proposal.label_tag }}</label>
        <div class="controls">
            {% render_field form.flow_proposal class="form-control" value=invoice.setting.workflow_proposal.id %}
            {% if form.flow_proposal.auto_id  != "id_tos" %}
                {% if form.flow_proposal.errors %}<span class="help-inline">{{ form.flow_proposal.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.account_posting_proposal.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.account_posting_proposal.id_for_label }}">{{ form.account_posting_proposal.label_tag }}</label>
        <div class="controls">
            {{ form.account_posting_proposal|add_class:"form-control"  }}
            {% if form.account_posting_proposal.auto_id  != "id_tos" %}
                {% if form.account_posting_proposal.errors %}<span class="help-inline">{{ form.account_posting_proposal.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_type.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.vat_type.id_for_label }}">{{ form.vat_type.label_tag }}</label>
        <div class="controls">
            {{ form.vat_type|add_class:"form-control"  }}
            {% if form.vat_type.auto_id  != "id_tos" %}
                {% if form.vat_type.errors %}<span class="help-inline">{{ form.vat_type.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">{{ form.invoice_date.label_tag }}</label>
        <div class="controls">
            {% render_field form.invoice_date class="form-control datepicker" value=invoice.invoice_date readonly="readonly" %}
            {% if form.invoice_date.auto_id  != "id_tos" %}
                {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.due_date.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label_tag }}</label>
        <div class="controls">
            {% render_field form.due_date class="form-control datepicker" value=invoice.due_date readonly="readonly" %}
            {% if form.due_date.auto_id  != "id_tos" %}
                {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.accounting_date.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.accounting_date.id_for_label }}">{{ form.accounting_date.label_tag }}</label>
        <div class="controls">
            {% render_field form.accounting_date class="form-control datepicker" value=invoice.accounting_date readonly="readonly" %}
            {% if form.accounting_date.auto_id  != "id_tos" %}
                {% if form.accounting_date.errors %}<span class="help-inline">{{ form.accounting_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.credit.errors %}error{% endif %}">
        <div class="row">
            <div class="col-lg-6">
                {{ form.credit.label_tag }}
            </div>
            <div class="col-lg-6">
                <div class="checkbox">
                  <label style="font-size: 1em">
                      {{ form.credit }}
                      {% if form.credit.auto_id  != "id_tos" %}
                          {% if form.credit.errors %}<span class="help-inline">{{ form.credit.errors }}</span>{% endif %}
                      {% endif %}
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group control-group {% if form.currency.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.currency.id_for_label }}">{{ form.currency.label_tag }}</label>
        <div class="controls">
            {% render_field form.currency class="form-control" value=invoice.currency %}
            {% if form.currency.auto_id  != "id_tos" %}
                {% if form.currency.errors %}<span class="help-inline">{{ form.currency.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_amount.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.vat_amount.id_for_label }}">{{ form.vat_amount.label_tag }}</label>
        <div class="controls">
            {% render_field form.vat_amount class="form-control" value=invoice.vat_amount %}
            {% if form.vat_amount.auto_id  != "id_tos" %}
                {% if form.vat_amount.errors %}<span class="help-inline">{{ form.vat_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.total_amount.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.total_amount.id_for_label }}">{{ form.total_amount.label_tag }}</label>
        <div class="controls">
            {% render_field form.total_amount class="form-control" value=invoice.total_amount %}
            {% if form.total_amount.auto_id  != "id_tos" %}
                {% if form.total_amount.errors %}<span class="help-inline">{{ form.total_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.comments.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.comments.id_for_label }}">{{ form.comments.label_tag }}</label>
        <div class="controls">
            {{ form.comments|add_class:"form-control"  }}
            {% if form.comments.auto_id  != "id_tos" %}
                {% if form.comments.errors %}<span class="help-inline">{{ form.comments.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.attachment.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.attachment.id_for_label }}">{{ form.attachment.label_tag }}</label>
        <div class="controls">
            {{ form.attachment|add_class:"form-control"  }}
            {% if form.attachment.auto_id  != "id_tos" %}
                {% if form.attachment.errors %}<span class="help-inline">{{ form.attachment.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
</form>