{% extends 'base.html' %}
{% load static %}
{% block page_title %} Invoice Log {% endblock page_title %}
{% block content %}
<style type="text/css">
    .panel-heading h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 75%;
        padding-top: 8px;
    }
      #undo_redo_to{
          height: 500px !important;
      }
      #undo_redo{
          height: 500px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
    tr:hover{
        background-color: lightgray;
        border: 1px solid #0b0b0b;
    }
    tbody>tr:hover{
        background-color: lightgray;
        border-top: 1px solid #000000;
    }
</style>

<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
      <div class="pull-right">
            {% if perms.invoice.add_invoice %}
                <a href="{% url 'create_invoice' %}" class="btn btn-sm btn-primary" role="button">
                    <i class="fa fa-paperclip"></i> New
                </a>
            {% endif %}
            <a href="{% url 'create_invoice' %}" class="btn btn-sm btn-success" role="button">
                <i class="fa fa-calendar"></i> Change accounting date
            </a>
            <a href="{% url 'create_invoice' %}" class="btn btn-sm btn-primary" role="button">
                <i class="fa fa-expand"></i> Transfer
            </a>
            <a href="{% url 'create_invoice' %}" class="btn btn-sm btn-default" role="button">
                <i class="fa fa-paperclip"></i> Match
            </a>
            <a href="javascript:void(0)" data-ajax-url="{% url 'add_to_flow' %}" id="update_invoices" class="btn btn-sm btn-warning" role="button">
                <i class="fa fa-refresh"></i> Update
            </a>
            <a href="javascript:void(0)" class="btn btn-sm btn-info" role="button">
                <i class="fa fa-file-excel-o"></i> Excel
            </a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default" role="button">
                <i class="fa fa-paperclip"></i> Prev. Level
            </a>
      </div>
  </div>
  <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Supplier</th>
                        <th>Supplier code</th>
                        <th>Flow Proposal</th>
                        <th>Accounting Date</th>
                        <th>Due Date</th>
                        <th>Total Amount</th>
                        <th>VAT Amount</th>
                        <th>VAT%</th>
                        <th>Currency</th>
                        <th>Information</th>
                        <th>Status Text</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="invoice_log">
                    {% if invoices %}
                        {% for invoice in invoices %}
                             <tr onclick="openDetail(this)" data-detail-url="{% url 'invoice_queue_detail' invoice.id %}">
                                <td>{{ invoice.company }}</td>
                                <td>
                                    {{ invoice.supplier.name }}
                                </td>
                                <td>
                                    <span class="label label-success">{{ invoice.supplier.code }}</span>
                                </td>
                                <td>
                                    {% if invoice.workflow_activity %}
                                        {{ invoice.workflow_activity.workflow }}
                                    {% endif %}
                                </td>
                                <td>{{ invoice.accounting_date }}</td>
                                <td>{{ invoice.due_date }}</td>
                                <td>{{ invoice.total_amount }}</td>
                                <td>{{ invoice.vat_amount }}</td>
                                <td>{{ invoice.vat }}</td>
                                <td>{{ invoice.currency }}</td>
                                <td><span class="badge">{{ invoice.supplier_invoice_number }}</span></td>
                                <td>
                                    {% if invoice.get_current_state %}
                                        <span class="label label-primary">{{ invoice.get_current_state.state }}</span>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-left actions">
                                    <div class="checkbox">
                                        <label style="font-size: 1em">
                                            <input type="checkbox" class="invoice-to-flow" name="add_to_flow_{{ invoice.id }}" id="id_add_to_flow_{{ invoice.id }}" value="{{ invoice.id }}" />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="9">There are no invoices available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
