{% extends 'base.html' %}
{% load static %}
{% block page_title %} Invoice Detail {% endblock page_title %}
{% block content %}

    {% for invoice in invoices %}
      <div class="panel panel-primary">
          <div class="panel-heading clearfix">
              <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">Record {{ invoices.number }}/{{ invoices.paginator.num_pages }}</h5>
                {% if invoices.has_other_pages %}
                  <ul class="pagination btn-group pull-left">
                    {% if invoices.has_previous %}
    {#                      <li><a href="?page={{ invoices.previous_page_number }}">&laquo;</a></li>#}
                        <a href="?page=1" type="button" class="btn btn-info" aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="?page={{ invoices.previous_page_number }}" type="button" class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% else %}
                        <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% endif %}

                    {% if invoices.has_next %}
                      <a href="?page={{ invoices.next_page_number }}" type="button" class="btn btn-info" aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                      <a href="?page={{ invoices.paginator.num_pages }}" type="button" class="btn btn-info" aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% else %}
                      <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                      <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% endif %}
                  </ul>
                {% endif %}
              <div class="btn-group pull-right">
                    <div class="form-group pull-right">
                        <a href="javascript:void(0);" id="logger_save_invoice_changes" data-ajax-url="{% url 'save_invoice_changes' invoice.id %}" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</a>
                        <button type="button" class="btn btn-danger btn-sm" name="submit" id="delete_invoice" data-modal="{% url 'invoice-delete' invoice.id %}" data-toggle="tooltip"><i class="fa fa-close"></i> Delete</button>
                        <a href="javascript:void(0);" id="add_image" data-ajax-url="{% url 'update_invoice' invoice.id %}" class="btn btn-success btn-sm">Add image</a>
                        <a href="javascript:void(0);" id="transfer_invoice" data-ajax-url="{% url 'update_invoice' invoice.id %}" class="btn btn-info btn-sm">Transfer</a>
                        <a href="javascript:history.back(-1);" class="btn btn-default btn-sm">Prev. Level</a>

                    </div>
              </div>
          </div>
          <div class="panel-body">
              <div class="col-lg-4 col-sm-12">
                  <div class="panel panel-info">
                      <div class="panel-heading">Invoice</div>
                      <div class="panel-body" style="overflow:scroll; height:1300px;">
                            {% include 'invoice/edit_log_form.html' %}
                      </div>
                  </div>
              </div>
              <div class="col-lg-8 col-sm-12">
                  <div class="panel panel-info">
                      <div class="panel-heading">Invoice Image</div>
                      <div class="panel-body" style="overflow:scroll; height:1000px;">
                        {% if invoice.document and invoice.document.image_filename  %}
                             <a class="fancybox-thumb thumbnail" rel="fancybox-thumb"href="{% static 'images/documents/'|add:invoice.document.image_filename %}">
                                <img src="{% static 'images/documents/'|add:invoice.document.image_filename %}" height="580" class="img-responsive" />
                            </a>
                        {% else %}
                            --
                        {% endif %}
                      </div>
                  </div>
                  <div class="panel panel-info">
                      <div class="panel-heading">Account Posting</div>
                      <div class="panel-body" style="overflow:scroll; height:200px;" id="account_postings"  data-ajax-url="{% url 'invoice_account_list' invoice_id=invoice.id %}" data-invoice-id="{{ invoice.id }}">

                      </div>
                  </div>
              </div>

          </div>
      </div>
    {% endfor %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}