<table class="table align-right" style="float: left;">
    <tr>
        <td class="text-left" colspan="2">
            <span class="h4">{{ company.name }}</span>
        </td>
    </tr>
    <tr>
        <td class="text-left" colspan="2">{{ company.address_line_1 }}</td>
    </tr>
    <tr>
        <td class="text-left" colspan="2">{{ company.address_line_2 }}</td>
    </tr>
    {% if company.landline_number %}
        <tr>
            <td class="text-left">Phone:</td>
            <td class="text-left">{{ company.landline_number }}</td>
        </tr>
    {% endif %}
    <tr>
        <td class="text-left">Vat Registration Number:</td>
        <td class="text-left">{{ company.vat_number }}</td>
    </tr>
</table>