{% extends 'base.html' %}
{% block page_title %} Delete Company {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}

   <div class="form-group">
         <button class="btn btn-color btn-large" type="submit" tabindex="11">Confirm delete of this company!</button>
    </div>

  </form>
{% endblock %}