{% extends 'base.html' %}
{% block page_title %} Create Company {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" enctype="multipart/form-data">
    {% include 'common/form.html' %}

    <div class="form-group">
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>
    </div>

  </form>
{% endblock %}