{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Default Accounts{% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div id="tabs">
                  <ul>
                     <li><a href="#purchases">Purchases</a></li>
                     <li><a href="#sales">Sales</a></li>
                     <li><a href="#inventory">Inventory</a></li>
                     <li><a href="#fixed_assets">Fixed Asset</a></li>
                     <li><a href="#payroll">Payroll</a></li>
                     <li><a href="#other">Other</a></li>
                  </ul>
                  <div id="purchases">
                      {% include 'companies/default_account/purchases.html' %}
                  </div>
                  <div id="sales">
                      {% include 'companies/default_account/sales.html' %}
                  </div>
                  <div id="inventory">
                      {% include 'companies/default_account/inventory.html' %}
                  </div>
                  <div id="fixed_assets">
                      {% include 'companies/default_account/fixed_asset.html' %}
                  </div>
                  <div id="payroll">
                      {% include 'companies/default_account/payroll.html' %}
                  </div>
                  <div id="other">
                      {% include 'companies/default_account/other.html' %}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/customer.js' %}"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs({
             load: function( event, ui ) {
                $(".chosen-select").chosen();
             }
        });
      });
  </script>
{% endblock %}