{% extends 'base.html' %}
{% load static %}
{% block page_title %} Updates Company {% endblock page_title %}
{% block content %}
  {{ form.media }}
  <form method="post" novalidate="novalidate" enctype="multipart/form-data">
    {% include 'common/form.html' %}
    <div class="form-group">
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
        $(function(){
            $("#is_vat_registered").on('change', function(e){
                if ($(this).val() == 2) {
                    $("#id_vat_number").prop('required', 'required');
                    $("#id_default_expenditure_account").prop('required', 'required');
                    $("#id_default_vat_account").prop('required', 'required');
                    $("#id_default_supplier").prop('required', 'required');
                    $("#id_default_distribution_account").prop('required', 'required');
                } else {
                    $("#id_vat_number").prop('required', false);
                    $("#id_default_expenditure_account").prop('required', false);
                    $("#id_default_vat_account").prop('required', false);
                    $("#id_default_supplier").prop('required', false);
                    $("#id_default_distribution_account").prop('required', false);
                }
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
{% endblock %}