{% extends 'base.html' %}
{% block page_title %} Companies {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create-company' %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a new company
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Area</th>
                    <th>Package</th>
                    <th>No</th>
                    <th>Outstanding</th>
                    <th>Last Active Days</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if companies %}
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.slug }}</td>
                            <td>{{ company.name }}</td>
                            <td>{{ company.area_code }}</td>
                            <td>
                                {% if company.subscription_plan %}
                                    <span class="label label-primary">{{ company.subscription_plan }}</span>
                                {% endif %}
                            </td>
                            <td>{{ company.invoices|length  }}</td>
                            <td>1</td>
                            <td>0</td>
                            <td>
                                {% if company.status %}
                                    {% if company.status.color %}
                                        <span class="strong label label-{{ company.status.color }}">{{ company.status }}</span>
                                    {% else %}
                                        <span class="strong label label-success">{{ company.status }}</span>
                                    {% endif %}
                                {% else %}
                                    <span class="strong label label-default">Not active</span>
                                {% endif %}
                            </td>
                            <td class="text-left actions">
                                <a href="{% url 'edit_company' company.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'activate_company' company.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Activate Company"><i class="fa fa-check"></i></a>
                                <a href="{% url 'delete_company' company.id %}" onclick="return confirm('Are you sure you want to delete this company')" data-toggle="tooltip" title="Delete company" class="btn-sm btn-danger" data-original-title="Delete Company"><i class="fa fa-trash"></i></a>
                                <div class="btn-group">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Roles<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                      {% for role in company.company_roles.all %}
                                          <li><a href="javascript:void(0);" data-ajax-url="{% url 'company_role_login' role.id %}" id="login_to_company">{{ role }}</a></li>
                                      {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no companies available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
        $(function(){
            $("#login_to_company").on('click', function(e){
                e.stopImmediatePropagation();
                e.preventDefault();
                var ajaxUrl = $(this).data('ajax-url');
                $.getJSON(ajaxUrl, function (response) {
                    responseNotification(response)
                })
            });
        });
    </script>
{% endblock %}