<ul class="list-unstyled nav dropdown-menu dropdown-menu-right">
    {% for company in companies %}
        <li>
            {% if request.session.current_company == company.id %}
                <a class="profile-role" href="javascript:void(0);" data-ajax-url="{% url 'change_company' company.id %}?next={{request.path}}">{{ company }} - {{ company.slug }}</a>
            {% else %}
                <a class="profile-role" href="javascript:void(0);" data-ajax-url="{% url 'change_company' company.id %}?next={{request.path}}">{{ company }} - {{ company.slug }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
