{% load thumbnail  %}
<span class="logo">
  {% if company.logo %}
      {% if is_print or is_email %}
          <img src="{{ company.logo|thumbnail_url:'logo' }}" alt="{{ company }}"  width="{% if width %}{{ width }}{% endif %}"  height="{% if height %}{{ height }}{% endif %}" class="img-responsive" />
      {% else %}
         <img src="{{ company.logo|thumbnail_url:'logo' }}" alt="{{ company }}" class="img-responsive" />
      {% endif %}
  {% else %}
  {% endif %}
</span>
