<ul id="menu" class="in sidebar-nav">
     <li id="menu-clients">
        <a href="#collapse-clients" data-toggle="collapse" class="parent" aria-expanded="true">
            <i class="fa fa-list-alt fw"></i>Clients
        </a>
        <ul id="collapse-clients" class="collapse" aria-expanded="true" style="">
            <li>
               <a href="{% url 'my-companies' %}">All</a>
            </li>
            <li>
               <a href="{% url 'clients' status='new' %}">New Clients</a>
            </li>
            <li>
               <a href="{% url 'clients' status='pending' %}">Pending Clients</a>
            </li>
            <li>
               <a href="{% url 'clients' status='deactivated' %}">Deactivated Clients</a>
            </li>
        </ul>
    </li>
    {% if company %}
        <li id="master-company">
            <a href="#collapse-master-company" data-toggle="collapse" class="parent" aria-expanded="true">
                <i class="fa fa-list-alt fw"></i>Master Company
            </a>
            <ul id="collapse-master-company" class="collapse" aria-expanded="true" style="">
                <li>
                   <a href="{% url 'manage_master_company' master_company_id=company.id %}">Edit</a>
                </li>
                <li>
                   <a href="{% url 'master_file_type_index' master_company_id=company.id %}">Files</a>
                </li>
                <li>
                   <a href="{% url 'master_invoice_types' company_id=company.id %}">Document types</a>
                </li>
                <li>
                    <a href="{% url 'master_permission_group_index' master_company_id=company.id %}">Permission Group</a>
                </li>
                <li>
                   <a href="{% url 'master_role_index' master_company_id=company.id %}">Roles</a>
                </li>
                <li>
                   <a href="{% url 'master_system_access_levels' master_company_id=company.id %}">System Access Levels</a>
                </li>
                <li>
                   <a href="{% url 'master_report_type_index' master_company_id=company.id %}">Report Type</a>
                </li>
                <li>
                   <a href="{% url 'master_vat_code_index' master_company_id=company.id  %}">Vat Code</a>
                </li>
                <li>
                   <a href="{% url 'master_account_posting_index' master_company_id=company.id %}">Account posting proposal</a>
                </li>
                <li>
                   <a href="{% url 'master_company_objects_index' master_company_id=company.id  %}">Objects</a>
                </li>
                <li>
                   <a href="{% url 'master_imap_sources_index' master_company_id=company.id %}">Email Source</a>
                </li>


                <li>
                   <a href="{% url 'master_currency_index' master_company_id=company.id %}">Currency</a>
                </li>

            </ul>
        </li>
    {% else %}
        <li>
           <a href="{% url 'create_master_company' %}"><i class="fa fa-plus-circle fw"></i>Create Master Client</a>
        </li>
    {% endif %}
    <li>
          <a href="{% url 'packages' %}">
            <i class="fa fa-drivers-license-o fw fw"></i>Package Management
          </a>
    </li>
    <li>
       <a href="{% url 'all_companies' %}">
         <i class="fa fa-folder-o fw fw"></i>Invoice Control System
       </a>
    </li>
    <li>
       <a href="{% url 'all_companies' %}">
         <i class="fa fa-money fw fw"></i>Payment Received
       </a>
    </li>
     <li id="menu-catalog">
        <a href="#collapse-Reports" data-toggle="collapse" class="parent" aria-expanded="true">
            <i class="fa fa-bar-chart-o fw"></i>Reports
        </a>
        <ul id="collapse-Reports" class="collapse" aria-expanded="true" style="">
            <li>
                  <a href="{% url 'all_companies' %}"> Outstanding customers Report</a>
            </li>
            <li>
                  <a href="{% url 'all_companies' %}">Payments Received Report</a>
            </li>
            <li>
                  <a href="{% url 'all_companies' %}">Invoices</a>
            </li>
        </ul>
    </li>
    <li>
       <a href="{% url 'all_companies' %}">
         <i class="fa fa-trash fw fw"></i>Purge Old Documents
       </a>
    </li>
    <li>
       <a href="{% url 'fetch_email_log' %}"><i class="fa fa-envelope-square fw"></i>Email Log</a>
    </li>
     <li id="menu-catalog">
        <a href="#collapse-administration" data-toggle="collapse" class="parent" aria-expanded="true">
            <i class="fa fa-gears fw"></i>Administration
        </a>
        <ul id="collapse-administration" class="collapse" aria-expanded="true" style="">
            <li>
                  <a href="{% url 'all_companies' %}"> General</a>
            </li>
            <li>
                  <a href="{% url 'all_companies' %}">SAL</a>
            </li>
            <li>
                  <a href="{% url 'all_companies' %}">Users</a>
            </li>
            <li>
                  <a href="{% url 'all_companies' %}">Flow</a>
            </li>
            <li>
                  <a href="{% url 'all_companies' %}">Roles</a>
            </li>
        </ul>
    </li>
</ul>