{% extends 'base.html' %}
{% block page_title %} Companies {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create-company' %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a new company
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Area</th>
                    <th>Contact</th>
                    <th>Telephone</th>
                    <th>Package Requested</th>
                    <th>Date applied</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if companies %}
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.slug }}</td>
                            <td>{{ company.name }}</td>
                            <td>{{ company.area }}</td>
                            <td>{{ company.contact_person }}</td>
                            <td>{{ company.landline_number }}</td>
                            <td>
                                {% if company.subscription_plan %}
                                    <span class="label label-primary">{{ company.subscription_plan }}</span>
                                {% endif %}
                            </td>
                            <td>{{ company.created_at }}</td>
                            <td class="text-left actions">
                                <a href="{% url 'edit_company' company.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no companies available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}