<ul>
    <li>
        <div>New client request <span class="pull-right">{{ pending }}</span></div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ pending_perc }}%"><span class="sr-only">{{ pending }}</span></div>
        </div>
    </li>
    <li>
        <div>Clients processing <span class="pull-right">{{ processing }}</span></div>
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ processing_perc }}%"><span class="sr-only">{{ processing }}</span></div>
        </div>
    </li>
    <li>
        <div>Active clients<span class="pull-right">{{ active }}</span></div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ active_perc }}%"><span class="sr-only">{{ active }}</span></div>
        </div>
    </li>
</ul>