{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Edit Branch{% endblock page_title %}
{% block content %}
   <form method="post" novalidate="novalidate">
       {% include 'common/form.html' %}
       <div class="form-group">
          <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-check"></i> Update</button>
       </div>
</form>
{% endblock %}
