{% extends 'base.html' %}
{% block page_title %} Branches {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
   <div class="panel-heading clearfix">
      <div class="pull-left"></div>
      <div class="pull-right">
        <a href="{% url 'create_branch' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> Create
        </a>
      </div>
   </div>
   <div class="panel-body align-center">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Head Office</th>
                        <th>Default/Master</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for branch in branches %}
                        <tr>
                            <td>{{ branch }}</td>
                            <td>
                                {% if branch.is_head_office %}
                                    <span class="bold text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="bold text-danger"><i class="fa fa-cancel"></i></span>
                                {% endif %}
                            </td>
                            <td class="text-left actions">
                              <label style="font-size: 1em">
                                  <input type="radio" {% if branch.is_default %} checked="checked" {% endif %}
                                         class="default_year"
                                         name="default_year"
                                         id="default_year_{{ branch.id }}"
                                         value="{{ branch.id }}",
                                         data-ajax-url="{% url 'update_master_branch' branch.id %}"
                                         onchange="updateMasterBranch(this, '{{ branch.id }}')"
                                  >
                              </label>
                            </td>
                            <td class="text-left actions">
                               <a href="{% url 'edit_branch' branch.id %}"
                                  data-toggle="tooltip" title="" class="btn-sm btn-primary"
                                  data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                               <a href="{% url 'delete_branch' branch.id %}" onclick="return confirm('Are you sure you want to delete this branch')"
                                  data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                  data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">There are no branches available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function(){
{#            $('.default_workflow').on("change", function(e){#}
{#                var ajaxUrl = $("this").data('ajax-url');#}
{#                $.post(ajaxUrl, {#}
{#                    is_default: true,#}
{#                    csrfmiddlewaretoken: window.csrftoken#}
{#                }, function(response){#}
{#                    responseNotification(response)#}
{#                }, 'json');#}
{#            });#}
        });
        function updateMasterBranch(el, year_id)
        {
            var ajaxUrl = $(el).data('ajax-url')
            $.post(ajaxUrl, {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}