{% load role_tags %}
<li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% current_branch profile_id company_id  %}<i class="fa fa-caret-down fa-fw"></i>
     </a>
    {% if profile_branches|length > 0 %}
        <ul class="list-unstyled nav dropdown-menu dropdown-menu-right">
            {% for branch in profile_branches %}
                <li>
                    {% if request.session.branch_id == branch.id %}
                        <a class="profile-branch profile-item" href="javascript:void(0);" data-ajax-url="{% url 'change_branch' branch.id %}?next={{request.path}}">{{ branch.label }}</a>
                    {% else %}
                        <a class="profile-branch profile-item" href="javascript:void(0);" data-ajax-url="{% url 'change_branch' branch.id %}?next={{request.path}}">{{ branch.label }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</li>