{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Budget Account  - {{ budget }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button id="update_account_budget" class="btn btn-primary">Update</button>
            <a href="{% url 'view_budget' budget.id %}" type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Prev. Level</a>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <form id="account_budget" action="{% url 'save_account_budget' budget.id budget_account.account.id %}" method="post">
                    {% csrf_token %}
                    <div class="panel panel-primary " style="margin-top: 10px !important;">
                        <div class="panel-heading clear-fix">
                            <div class="pull-left">
                                {{ budget_account.account }}
                            </div>
                            <div class="pull-right">
                                Account
                            </div>
                        </div>
                        <div class="panel-body align-center">
                            <table id="" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Year</th>
                                        <th class="text-right">Period</th>
                                        <th>Amount</th>
                                        <th>%</th>
                                        <th>Accumulated</th>
                                        <th>% Accumulated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for budget_account_period in account_periods.all %}
                                        <tr>
                                            <td>{{ budget.year }}</td>
                                            <td class="text-right">{{ budget_account_period.period }}</td>
                                            <td>
                                                <input type="text" name="period_{{ period.id }}"
                                                       id="budget_{{ budget_account.account.id }}_period_{{ period.id }}"
                                                       value="{{ budget_account_period.amount }}"
                                                       class="text-right form-control form-control-sm budget-amount"
                                                >
                                            </td>
                                            <td class="text-right"><span id="amount_percentage_{{ period.id }}"></span></td>
                                            <td class="text-right"><span id="accumulated_amount_{{ period.id }}"></span></td>
                                            <td class="text-right"><span id="accumulated_percentage_{{ period.id }}"></span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-right">Totals</td>
                                        <td></td>
                                        <td class="text-right">
                                            <input type="text" readonly="readonly" name="totals" id="period_totals" value="{{ budget_account.budget_total }}" class="form-control form-control-sm text-right" />
                                            <span id="account_total">{{ budget_account.budget_total }}</span>
                                        </td>
                                        <td class="text-right">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/budget.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}
