<form id="account_budget" action="{% url 'save_account_budget' budget.id account.id %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <table class="table table-bordered">
                <tr>
                    <td class="bold">Account</td>
                    <td>{{ account }}</td>
                </tr>
                <tr>
                    <td class="bold">Budget</td>
                    <td>{{ budget }}</td>
                </tr>
            </table>
        </div>
        <div class="col-6"></div>
    </div>
    {% if budget.object_items %}
        {% for object_item in budget.object_items.all %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group control-group">
                        <label>{{ object_item.company_object }}</label>
                        <div class="controls">
                            {{ object_item }}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="panel panel-primary " style="margin-top: 10px !important;">
        <div class="panel-heading clear-fix">
            <div class="pull-left">

            </div>
            <div class="pull-right">
                Account
            </div>
        </div>
        <div class="panel-body align-center">
            <table class="table table-bordered" width="50%">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Period</th>
                        <th class="text-right">Amount</th>
                        <th>%</th>
                        <th class="text-right">Accumulated</th>
                        <th class="text-right">% Accumulated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for period, budget_amount in periods.items %}
                        <tr>
                            <td>{{ budget.year }}</td>
                            <td class="text-right">{{ period.period }}</td>
                            <td>
                                <input type="text" name="period_{{ period.id }}"
                                       data-account-id="{{ account.id }}"
                                       data-period-id="{{ period.id }}"
                                       id="budget_{{ account.id }}_period_{{ period.id }}"
                                       value="{{ budget_amount.amount }}"
                                       class="text-right form-control form-control-sm budget-amount"
                                />
                            </td>
                            <td class="text-right"><span id="amount_percentage_{{ period.id }}"></span></td>
                            <td class="text-right"><span id="accumulated_amount_{{ period.id }}"></span></td>
                            <td class="text-right"><span id="accumulated_percentage_{{ period.id }}"></span></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right">Totals</td>
                        <td></td>
                        <td class="text-right">
                            <input type="text" name="totals" id="period_totals" value="{{ total_amount }}" class="form-control form-control-sm text-right" />
                            <span id="account_total"></span>
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-success" id="split_total" disabled="disabled">Split</button>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</form>
