{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Budget  - {{ budget }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <a href="{% url 'budget_index' %}" type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Prev. Level</a>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="row">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item prev" style="{% if page == 1 %} display: none {% endif %}">
                        <button class="btn btn-primary page-link previous-account" tabindex="-1"><< Previous</button>
                    </li>
                    <li>
                        <small id="page_num">{{ page }}</small>/{{ total_pages }}
                        <input type="hidden" name="page" id="page" value="{{ page }}" />
                        <input type="hidden" name="total_pages" id="total_pages" value="{{ total_pages }}" />
                    </li>
                    <li class="page-item next">
                        <button class="btn btn-primary page-link next-account" tabindex="-1">Next >></button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
           <div class="col-lg-12 col-xs-12 data-container" id="budget_accounts" data-ajax-url="{% url 'budget_accounts' budget_id=budget.id %}"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/budget.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}