{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %} Edit {{ account }} {% endblock title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}

<form id="account_budget" action="{% url 'save_account_budget' budget.id account.id %}" method="post">
    {% csrf_token %}
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-lg-12 col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <td>Account</td>
                        <td>{{ account }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-sm-12">
                <table id="" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th class="text-right">Period</th>
                            <th>Amount</th>
                            <th>%</th>
                            <th>Accumulated</th>
                            <th>% Accumulated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for period, budget_period in account_periods.items %}
                            <tr>
                                <td>{{ budget.year }}</td>
                                <td class="text-right">{{ period }}</td>
                                <td>
                                    <input type="text" name="period_{{ period.id }}"
                                           id="budget_{{ account.id }}_period_{{ period.id }}"
                                           data-period-id="{{ period.id }}"
                                           value="{{ budget_period.amount }}"
                                           class="text-right form-control form-control-sm budget-amount"
                                    >
                                </td>
                                <td class="text-right"><span id="amount_percentage_{{ period.id }}"></span></td>
                                <td class="text-right"><span id="accumulated_amount_{{ period.id }}"></span></td>
                                <td class="text-right"><span id="accumulated_percentage_{{ period.id }}"></span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right">Totals</td>
                            <td></td>
                            <td class="text-right">
                                <input type="text" name="totals" id="period_totals"
                                       value="{{ budget_account.budget_total|money }}" class="form-control form-control-sm text-right" />
                                <span id="account_total">{{ budget_account.budget_total|money }}</span>
                            </td>
                            <td class="text-right">
                                <button type="button" class="btn btn-success" id="split_total" disabled="disabled">Split</button>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="submit_budget" type="button" id="submit_budget"><i class="fa fa-save"></i> Save</button>
    </div>
</form>
{% endblock %}