{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
<form class="form ledger-form" id="ledger_search" action="{% url 'generate_general_ledger' %}" data-ajax-url="{% url 'generate_general_ledger' %}">
    <div class="panel-body">
        <div class="row">
            <div class="col-6">
                <div class="form-group control-group {% if form.from_account.errors %}error{% endif %}">
                    {{ form.from_account.label_tag }}
                    <div class="controls">
                        {% render_field form.from_account class="form-control chosen-select" tabindex=1 autofocus=1 %}
                        {% if form.from_account.auto_id  != "id_tos" %}
                            {% if form.from_account.errors %}<span class="help-inline">{{ form.from_account.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group control-group {% if form.to_account.errors %}error{% endif %}">
                    {{ form.to_account.label_tag }}
                    <div class="controls">
                        {% render_field form.to_account class="form-control chosen-select" tabindex=1 %}
                        {% if form.to_account.auto_id  != "id_tos" %}
                            {% if form.to_account.errors %}<span class="help-inline">{{ form.to_account.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
         {% for company_object in company_objects %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group control-group">
                        <label>{{ company_object }}</label>
                        <div class="controls">
                            <select name="object_items" id="object_item"
                                    class="form-control objects chosen-select"
                                    tabindex="3">
                                <option value="all_{{ company_object.id }}">All</option>
                                {% for object_item in company_object.object_items.all %}
                                    <option value="{{ object_item.id }}">{{ object_item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-6">
                <div class="form-group control-group {% if form.from_date.errors %}error{% endif %}">
                    {{ form.from_date.label_tag }}
                    <div class="controls">
                        {% render_field form.from_date class="form-control datepicker" tabindex=3|add:counter %}
                        {% if form.from_date.auto_id  != "id_tos" %}
                            {% if form.from_date.errors %}<span class="help-inline">{{ form.from_date.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group {% if form.to_date.errors %}error{% endif %}">
                    <label class=" control-label txt-font12" for="{{ form.to_date.id_for_label }}">{{ form.to_date.label_tag }}</label>
                    <div class="controls">
                        {% render_field form.to_date class="form-control datepicker" tabindex=4|add:counter %}
                        {% if form.to_date.auto_id  != "id_tos" %}
                            {% if form.to_date.errors %}<span class="help-inline">{{ form.to_date.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default height">
            <div class="panel-heading">Break By</div>
                <div class="panel-body" style="padding: 5px;">
                    <div class="row">
                        <div class="col-3">
                            None
                            <div class="controls">
                                <input type="radio" name="break_by" id="none" value="none" class="radio-input" tabindex="{{ 5|add:counter }}" />
                            </div>
                        </div>
                        <div class="col-3">
                            Break by objects
                            <div class="controls">
                                <input type="radio" disabled="disabled" name="break_by" id="by_objects" value="by_objects" class="radio-input" tabindex="{{ 6|add:counter }}" />
                            </div>
                        </div>
                        <div class="col-3">
                            Suffix
                            <div class="controls">
                                <input type="radio" name="break_by" id="by_suffix" value="by_suffix" class="radio-input" tabindex="{{ 7|add:counter }}" />
                            </div>
                        </div>
                        <div class="col-3">
                            Each period separate:
                            <div class="controls">
                                <input type="radio" disabled="disabled" name="break_by" id="by_periods" value="separate_period" class="radio-input" tabindex="{{ 8|add:counter }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="panel panel-default height">
            <div class="panel-heading">Options</div>
            <div class="panel-body" style="padding: 5px;">
                <div class="row">
                    <div class="col-3">
                        {{ form.show_detail.label_tag }}
                        <div class="controls">
                            {% render_field form.show_detail class="checkbox-input" tabindex=7|add:counter %}
                            {% if form.show_detail.auto_id  != "id_tos" %}
                                {% if form.show_detail.errors %}<span class="help-inline">{{ form.show_detail.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-3">
                        {{ form.show_detail_module.label_tag }}
                        <div class="controls">
                            {% render_field form.show_detail_module class="checkbox-input" tabindex=8|add:counter %}
                            {% if form.show_detail_module.auto_id  != "id_tos" %}
                                {% if form.show_detail_module.errors %}<span class="help-inline">{{ form.show_detail_module.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
     <div class="footer">
        <div class="form-inline">
            <div class="form-group">
                <button type="submit" id="display_print" class="btn btn-primary generate"
                        tabindex="{{ 12|add:counter }}" data-action="print"><i class="fa fa-print"></i> Print</button>
            </div>
            <div class="form-group">
                <button type="button" id="display_screen" class="btn btn-primary generate"
                        data-ajax-url="{% url 'generate_general_ledger' %}"
                        data-action="screen" tabindex="{{ 13|add:counter }}"><i class="fa fa-window-maximize"></i> Screen</button>
            </div>
            <div class="form-group">
                <button type="submit" id="display_pdf" class="btn btn-primary generate" data-action="screen"
                        tabindex="{{ 14|add:counter }}">
                 <i class="fa fa-file-pdf-o"></i>   Pdf
                </button>
            </div>
            <div class="form-group">
                <button type="button" id="excell" class="btn btn-primary generate" data-action="download"
                        data-ajax-url="{% url 'download_general_ledger' %}"
                        tabindex="{{ 15|add:counter }}">
                    <i class="fa fa-file-excel-o"></i> Excell</button>
            </div>
            <div class="form-group">
                <button type="button" id="cancel" class="btn btn-primary generate" data-action="cancel"
                        tabindex="{{ 16|add:counter }}"> Cancel</button>
            </div>
        </div>
    </div>
</form>