{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
<table class="table table-bordered table-condensed" width="100%">
    <thead>
        <tr class="primary-head">
            <th>Account</th>
            <th>Name</th>
            {% if linked_models_count %}
                <th colspan="{{ linked_models_count }}"></th>
            {% endif %}
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="secondary-head">
            <th>Date</th>
            {% for k, linked_model in linked_models.items %}
                <th>{{ linked_model.label }}</th>
            {% endfor %}
            <th></th>
            <th>Module</th>
            <th>Journal Number</th>
            <th>Journal Text</th>
            <th>Customer/Supplier</th>
            <th>Text</th>
            <th class="text-right">Debit</th>
            <th class="text-right">Credit</th>
            <th class="text-right">Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for account_code, journal_account_line in journal_lines.items %}
            <tr class="journal-account-row">
                <td><strong>{{ account_code }}</strong></td>
                <td><strong>{{ journal_account_line.account.name }}</strong></td>
                <td class="date"></td>
                {% if linked_models_count > 0 %}
                    <td colspan="{{ linked_models_count }}"></td>
                {% endif %}
                <td colspan="5"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                {% if linked_models_count > 0 %}
                    <td colspan="{{ linked_models_count }}"></td>
                {% endif %}
                <td></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td colspan="2" class="text-right"><strong>Incoming Balance</strong></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right">{{ journal_account_line.incoming_balance|money }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                {% if linked_models_count %}
                    <td colspan="{{ linked_models_count }}"></td>
                {% endif %}
                <td></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td colspan="2" class="text-right"><strong>Initial balance</strong></td>
                <td class="text-right">{{ journal_account_line.initial_credit|money }}</td>
                <td class="text-right">{{ journal_account_line.initial_debit|money }}</td>
                <td class="text-right">{{ journal_account_line.initial_balance|money }}</td>
            </tr>
            {% for period, period_lines in journal_account_line.periods.items %}
                <tr>
                    <td colspan="3"><strong>Period: {{ period }}</strong></td>
                    {% if linked_models_count %}
                        <td colspan="{{ linked_models_count }}"></td>
                    {% endif %}
                    <td colspan="8"></td>
                </tr>
                {% for day_journal_lines in period_lines %}
                    {% for l_id, journal_line in day_journal_lines.items %}
                        <tr class="journal-line-row" style="border: #8c8c8c 1px solid; background-color: #f5f2f2;">
                            <td>{{ journal_line.date|date:'d-M Y' }}</td>
                            <td>
                                {% if journal_line.vat_type %}
                                    {% if journal_line.vat_report %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-ban text-danger"
                                           data-original-title="Invoice does not vat report"
                                           data-toggle="tooltip"></i>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% for o, object_link in journal_line.object_links.items %}
                                <td>
                                    {% if object_link.value %}
                                        {{ object_link.value }}
                                    {% endif %}
                                </td>
                            {% endfor %}

                            <td>{{ journal_line.module_name }}</td>
                            <td>{{ journal_line.journal_number }}</td>
                            <td>
                                {% if journal_line.journal_text %}
                                    {{ journal_line.journal_text }}
                                {% endif %}
                            </td>
                            <td>
                                {% if journal_line.supplier %}
                                    {{ journal_line.supplier }}
                                {% endif %}
                            </td>
                            <td>
                                {% if journal_line.text %}
                                    {{ journal_line.text }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if journal_line.debit > 0 %}
                                    {{ journal_line.debit|money }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if journal_line.credit > 0 %}
                                    {{ journal_line.credit|money }}
                                {% endif %}
                            </td>
                            <td class="text-right">{{ journal_line.balance|money }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td colspan="3"></td>
                    {% if linked_models_count %}
                        <td colspan="{{ linked_models_count }}"></td>
                    {% endif %}
                    <td colspan="8"></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                {% if linked_models_count %}
                    <td colspan="{{ linked_models_count }}"></td>
                {% endif %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="text-right">Movement for period</td>
                <td class="text-right">{{ journal_account_line.total_debit|money }}</td>
                <td class="text-right">{{ journal_account_line.total_credit|money }}</td>
                <td class="text-right">{{ journal_account_line.balance|money }}</td>
            </tr>
            <tr>
                <td></td>
                {% if linked_models_count %}
                    <td colspan="{{ linked_models_count }}"></td>
                {% endif %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="text-right">Balance Carry Forward</td>
                <td></td>
                <td></td>
                <td class="text-right">{{ journal_account_line.outstanding|money }}</td>
            </tr>
            <tr>
                {% if linked_models_count %}
                    <td colspan="{{ linked_models_count }}"><hr /></td>
                {% endif %}
                <td colspan="17"><hr /></td>

            </tr>
        {% endfor %}
    </tbody>
    <tfoot>

    </tfoot>
</table>