{% load static %}
{% load widget_tweaks %}
{% load invoice_tags report_tags %}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table {% if not is_print %}table-bordered{% endif %}">
            <tr>
                <td colspan="2"><strong>General Ledger report</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ general_ledger.year.start_date }} - {{ general_ledger.year.end_date }}</td>
            </tr>
            <tr>
                <td>General Ledger for</td>
                <td>{{ report_title }}</td>
            </tr>
            <tr>
                <td>Report for period(s)</td>
                <td></td>
            </tr>
            <tr>
                <td>Period dates(s)</td>
                <td>{{ general_ledger.start_date }} - {{ general_ledger.end_date }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 text-right">
        {% updates_summary general_ledger.year.company general_ledger.year general_ledger.start_date general_ledger.end_date %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 text-left">
        <table class="table {% if not is_print %}table-bordered table-condensed{% endif %}" width="100%">
            <thead>
                <tr class="primary-head">
                    <th colspan="3">Account</th>
                    <th colspan="4">Name</th>
                    {% if is_print %}
                        <th colspan="6" class="text-right"></th>
                    {% else %}
                        <th colspan="{{ 6|add:general_ledger.linked_models_count }}" class="text-right"></th>
                    {% endif %}
                </tr>
                <tr>
                    <th>{% if is_print %}P{% else %}Period{% endif %}</th>
                    <th style="width: 100px !important;">Date</th>
                    {% if not is_print %}
                        {% for k, linked_model in general_ledger.linked_models.items %}
                            <th>{{ linked_model.label }}</th>
                        {% endfor %}
                        <th>Suffix</th>
                        <th class="text-right">Vat</th>
                    {% endif %}
                    <th>Module</th>
                    <th>JNL/Nr</th>
                    <th>Customer/Supplier</th>
                    <th>Journal Text</th>
                    <th>Text</th>
                    <th class="text-right">Debit</th>
                    <th class="text-right">Credit</th>
                    <th class="text-right">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for account, account_lines in general_ledger.journal_lines.items %}
                    <tr class="journal-account-row">
                        <td colspan="3"><strong>{{ account.1 }}</strong></td>
                        <td colspan="4"><strong>{{ account.2 }}</strong></td>
                        {% if is_print %}
                            <td colspan="2"></td>
                        {% else %}
                            <td colspan="{{ general_ledger.linked_models_count }}"></td>
                            <td colspan="3"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if is_print %}
                           <td class="text-right" colspan="7"><strong>Incoming Balance</strong></td>
                        {% else %}
                           <td class="text-right" colspan="{{ 9|add:general_ledger.linked_models_count }}"><strong>Incoming Balance</strong></td>
                        {% endif %}
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right">{{ account_lines.incoming_balance|money }}</td>
                    </tr>
                    <tr>
                        {% if is_print %}
                           <td class="text-right" colspan="7"><strong>Initial balance</strong></td>
                        {% else %}
                           <td class="text-right" colspan="{{ 9|add:general_ledger.linked_models_count }}"><strong>Initial balance</strong></td>
                        {% endif %}
                        <td class="text-right">{{ account_lines.initial_debit|money }}</td>
                        <td class="text-right">{{ account_lines.initial_credit|money }}</td>
                        <td class="text-right">{{ account_lines.initial_balance|money }}</td>
                    </tr>
                    {% for line_id, journal_line in account_lines.lines.items %}
                        <tr class="journal-line-row"
                            style="border: #8c8c8c 1px solid; {% if not is_print %}background-color: #f5f2f2;{% endif %}"
                            {% if journal_line.line.invoice_id %}
                                 onclick="openInvoiceDetail(this)"
                                 data-detail-url="{% url 'invoice_detail' journal_line.line.invoice_id  %}"
                            {% endif %}
                            >
                            <td>{{ journal_line.line.journal__period__period }}</td>
                            <td style="width: 100px !important;">
                                {% if journal_line.line.journal__date %}
                                    {{ journal_line.line.journal__date|date:'d-M Y' }}
                                {% else %}
                                    {{ journal_line.line.accounting_date|date:'d-M Y' }}
                                {% endif %}
                            </td>
                            {% if not is_print %}
                                {% for k, object_link in journal_line.object_links.items %}
                                    <td>
                                        {% if object_link.label %}
                                            {{ object_link.label }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td>{{ journal_line.line.suffix }}</td>
                                <td>
                                    {% if journal_line.line.vat_code_id %}
                                        {% if journal_line.line.vat_report_id %}
                                            <i class="fa fa-check text-success"></i>
                                        {% else %}
                                            <i class="fa fa-ban text-danger"
                                               data-original-title="Invoice does not vat report"
                                               data-toggle="tooltip"></i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>{{ journal_line.module }}</td>
                            <td>{{ journal_line.line.journal__journal_number }}</td>
                            <td>
                                {% if journal_line.line.ledger_type_reference %}
                                    {{ journal_line.line.ledger_type_reference }}
                                {% endif %}
                            </td>
                            <td>
                                {% if journal_line.line.journal__journal_text %}
                                    {{ journal_line.line.journal__journal_text }}
                                {% endif %}
                            </td>
                            <td>
                                {% if journal_line.line.text %}
                                    {{ journal_line.line.text }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if journal_line.debit != 0 %}
                                    {{ journal_line.debit|money }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if journal_line.credit != 0 %}
                                    {{ journal_line.credit|money }}
                                {% endif %}
                            </td>
                            <td class="text-right">{{ journal_line.balance|money }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        {% if is_print %}
                            <td colspan="7" class="text-right">Movement for period</td>
                        {% else %}
                            <td colspan="{{ 9|add:general_ledger.linked_models_count }}" class="text-right">Movement for period</td>
                        {% endif %}
                        <td class="text-right">{{ account_lines.movement_debit|money }}</td>
                        <td class="text-right">{{ account_lines.movement_credit|money }}</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr>
                        {% if is_print %}
                            <td colspan="7" class="text-right">Balance Carry Forward</td>
                        {% else %}
                            <td colspan="{{ 9|add:general_ledger.linked_models_count }}" class="text-right">Balance Carry Forward</td>
                        {% endif %}
                        <td class="text-right">{{ account_lines.account_debit|money }}</td>
                        <td class="text-right">{{ account_lines.account_credit|money }}</td>
                        <td class="text-right">{{ account_lines.outstanding|money }}</td>
                    </tr>
                    <tr>
                        {% if is_print %}
                            <td colspan="10"><hr /></td>
                        {% else %}
                            <td colspan="{{ 12|add:general_ledger.linked_models_count }}"><hr /></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>