{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
<table class="table table-bordered table-condensed" width="100%">
    <thead>
        <tr class="primary-head">
            <th>Suffix</th>
            <th class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for suffix, amount in general_ledger.journal_lines.items %}
            <tr class="journal-account-row">
                <td>{% if suffix %}{{ suffix }}{% else %}(blank){% endif %}</td>
                <td class="text-right">{{ amount }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="journal-account-row">
            <td><strong>Total</strong></td>
            <td class="text-right">{{ general_ledger.total }}</td>
        </tr>
    </tfoot>
</table>