{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Create a Delivery{% endblock page_title %}
{% block content %}
<style type="text/css">
label {
    font-weight: normal !important;
}
</style>
<form method="post" novalidate="novalidate" id="delivery_form"
  action="{% url 'create_estimate_delivery' estimate_id=estimate.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading ">&nbsp;
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-large save-delivery" name="submit_delivery_and_continue"
                    id="submit_delivery_and_continue"
                    data-action="continue"><i class="fa fa-save"></i> Send</button>
                <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
            </div>
        </div>
        <div class="panel-body align-center">
            <div class="container-fluid" id="estimate_delivery">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4 text-left">
                         {% display_logo company 200 75 %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        {% include "sales/address/company.html" %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 text-right">
                        <table class="table table-borderless table-condensed" width="100%">
                            <tr>
                                <td><strong class="h4">SEND TO DELIVERY</strong></td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Vat Registration Number</td>
                                <td>{{ company.vat_number }}</td>
                            </tr>
                            <tr>
                                <td>Document Number</td>
                                <td>#{{ estimate }}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{ date|date:'d-M-Y' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
               <div class="row" id="customer-data">
                        <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                            <div class="panel panel-default height invoice-col">
                                <div class="panel-heading">Customer</div>
                                <div class="panel-body" style="padding: 5px;">
                                    {% with sales_invoice=estimate %}
                                        {% include "sales/address/postal.html" %}
                                    {% endwith %}
                                    <input type="hidden" id="invoice_discount" name="discount_percentage" value="{% if estimate.discount_percentage %}{{ estimate.discount_percentage }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-default height invoice-col">
                                <div class="panel-heading">Delivery To</div>
                                <div class="panel-body" style="padding: 5px;" id="shipping_to">
                                    {% with sales_invoice=estimate %}
                                        {% include "sales/address/delivery.html" %}
                                    {% endwith %}
                                    <table class="table">
                                        <tr>
                                            <td>{{ form.delivery_method.label_tag }}</td>
                                            <td>
                                                {% render_field form.delivery_method class="form-control form-control-sm " %}
                                                {% if form.delivery_method.auto_id  != "id_tos" %}
                                                    {% if form.delivery_method.errors %}<span class="help-inline">{{ form.delivery_method.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ form.delivery_term.label_tag }}</td>
                                            <td>
                                                {% render_field form.delivery_term class="form-control form-control-sm" %}
                                                {% if form.delivery_term.auto_id  != "id_tos" %}
                                                    {% if form.delivery_term.errors %}<span class="help-inline">{{ form.delivery_term.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ form.date.label_tag }}</td>
                                            <td>
                                                {% render_field form.date class="form-control form-control-sm future_datepicker" %}
                                                {% if form.date.auto_id  != "id_tos" %}
                                                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ form.delivery_time.label_tag }}</td>
                                            <td>
                                                {% render_field form.delivery_time class="form-control form-control-sm" %}
                                                {% if form.delivery_time.auto_id  != "id_tos" %}
                                                    {% if form.delivery_time.errors %}<span class="help-inline">{{ form.delivery_time.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-default height invoice-col">
                                <div class="panel-heading">&nbsp;</div>
                                <div class="panel-body" style="padding: 5px;">
                                    {% include "estimates/estimate.html" %}
                                    <table class="table">
                                        <tr>
                                            <td>{{ form.purchase_order.label_tag }}</td>
                                            <td>
                                                {% render_field form.purchase_order class="form-control form-control-sm" %}
                                                {% if form.purchase_order.auto_id  != "id_tos" %}
                                                    {% if form.purchase_order.errors %}<span class="help-inline">{{ form.purchase_order.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">&nbsp;</div>
                                <div class="panel-body">
                                    <div id="delivery_items">
                                        <table class="table table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Code/Description</th>
                                                    <th class="text-right">Stock</th>
                                                    <th class="text-right">Quantity</th>
                                                    <th class="text-right">Delivered</th>
                                                    <th class="text-center">Back Order</th>
                                                    <th>Unit</th>
                                                    <th class="text-right">Price</th>
                                                    <th class="text-right">Price Inc</th>
                                                    <th>Disc(%)</th>
                                                    <th class="text-right">Discount Amount</th>
                                                    <th class="text-right">Net Price</th>
                                                    <th class="text-right">Vat</th>
                                                     <th class="text-right">Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="delivery_estimate_items_body" data-ajax-url="{% url 'estimate_delivery_items' estimate_id=estimate.id %}">
                                                <tr id="delivery_estimate_items_placeholder">
                                                    <td colspan="14">
                                                        <img src="{% static 'images/loader.gif' %}">
                                                    </td>
                                                </tr>
                                                <tr id="actions">
                                                    <td class="text-right" colspan="14">
                                                    </td>
                                                    <td>
                                                        <button type="button" id="add_delivery_line" class="btn btn-primary"
                                                                data-ajax-url="{% url 'add_delivery_items' %}"
                                                        >Add</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                {% if estimate.customer.is_price_on_delivery %}
                                                    <tr>
                                                        <td class="po-total" colspan="13">Sub Total</td>
                                                        <td class="po-total" >&nbsp;
                                                            <span id="sub_total"></span>
                                                            {% render_field form.sub_total %}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="po-total" colspan="13">Line Discounts</td>
                                                        <td class="po-total" >&nbsp;
                                                            <span id="total_discount"></span>
                                                            {% render_field form.line_discount %}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr id="customer_discounts" style="{% if estimate.has_customer_discount %} display: table-row; {% else %} display: none; {% endif %}">
                                                        <td class="po-total" colspan="13">Customer Discounts</td>
                                                        <td class="po-total" >&nbsp;
                                                            <span id="customer_invoice_discounts"></span>
                                                            {% render_field form.customer_discount %}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="po-total" colspan="13">Amount Excluding Vat</td>
                                                        <td class="po-total" >&nbsp;
                                                            <span id="net_total"></span>
                                                            {% render_field form.net_amount %}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="po-total" colspan="13">Vat</td>
                                                        <td class="po-total">&nbsp;
                                                            <span id="total_vat_amount"></span>
                                                            {% render_field form.vat_amount %}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="po-total" colspan="13">Amount Including Vat</td>
                                                        <td class="po-total" >&nbsp;
                                                            <span id="total_order_value"></span>
                                                            {% render_field form.total_amount %}
                                                            <input type="hidden" id="default_vat" value="{{ default_vat }}">
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                {% else %}
                                                    {% render_field form.sub_total %}
                                                    {% render_field form.line_discount %}
                                                    {% render_field form.customer_discount %}
                                                    {% render_field form.net_amount %}
                                                    {% render_field form.vat_amount %}
                                                    {% render_field form.total_amount %}
                                                    <input type="hidden" id="default_vat" value="{{ default_vat }}">
                                                {% endif %}
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div>
                                <table class="table table-bordered" width="100%">
                                    <tr>
                                        <td class="po-total">Gross Weight</td>
                                        <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="po-total">Net Weight</td>
                                        <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="po-total">Total Items</td>
                                        <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            {% if estimate.customer.is_price_on_delivery %}
                                <div class="customer-discount-calculation" style="display: none;" id="calculation_summary">
                                    <table class="table table-bordered table-condensed table-striped" width="50%">
                                        <thead>
                                            <tr>
                                                <th>Vat Recon</th>
                                                <th class="text-right">Excl</th>
                                                <th class="text-right">Vat</th>
                                            </tr>
                                        </thead>
                                        <tbody id="summary_body">
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Total</td>
                                                <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                                <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap-timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/delivery.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}