{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Suffix Ledger - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form report-form" id="suffix_report" action="{% url 'generate_suffix_report' %}" data-ajax-url="{% url 'generate_suffix_report' %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.account.errors %}error{% endif %}">
                                {{ form.from_account.label_tag }}
                                <div class="controls">
                                    {% render_field form.account class="form-control chosen-select" tabindex=1 autofocus=1 %}
                                    {% if form.account.auto_id  != "id_tos" %}
                                        {% if form.account.errors %}<span class="help-inline">{{ form.account.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.from_date.errors %}error{% endif %}">
                                {{ form.from_date.label_tag }}
                                <div class="controls">
                                    {% render_field form.from_date class="form-control datepicker" tabindex=3|add:counter %}
                                    {% if form.from_date.auto_id  != "id_tos" %}
                                        {% if form.from_date.errors %}<span class="help-inline">{{ form.from_date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.to_date.errors %}error{% endif %}">
                                <label class=" control-label txt-font12" for="{{ form.to_date.id_for_label }}">{{ form.to_date.label_tag }}</label>
                                <div class="controls">
                                    {% render_field form.to_date class="form-control datepicker" tabindex=4|add:counter %}
                                    {% if form.to_date.auto_id  != "id_tos" %}
                                        {% if form.to_date.errors %}<span class="help-inline">{{ form.to_date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="display_print" class="btn btn-primary generate"
                                    tabindex="{{ 12|add:counter }}" data-action="print"><i class="fa fa-print"></i> Print</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="display_screen" class="btn btn-primary generate"
                                    data-ajax-url="{% url 'generate_suffix_report' %}"
                                    data-action="screen" tabindex="{{ 13|add:counter }}"><i class="fa fa-window-maximize"></i> Screen</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_pdf" class="btn btn-primary generate" data-action="screen"
                                    tabindex="{{ 14|add:counter }}">
                             <i class="fa fa-file-pdf-o"></i>   Pdf
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="cancel" class="btn btn-primary generate" data-action="cancel"
                                    tabindex="{{ 16|add:counter }}"> Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 col-xs-12 report-container" id="suffix_report"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/report.js' %}?{% now 'YmdHis' %}ss"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_account').focus().select();
        });
    </script>
{% endblock %}}