{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
<table class="table table-bordered table-condensed" width="100%">
    <thead>
        <tr class="primary-head">
            <th>Suffix</th>
            <th class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bold">Opening Balance</td>
            <td class="text-right">
                {% if report.opening_balance %}
                    {{ report.opening_balance.amount|money }}
                {% else %}
                    {{ 0|money }}
                {% endif %}
            </td>
        </tr>
        {% for suffix, amount in report.journal_lines.items %}
            <tr class="suffix-row" id="row_{{ forloop.counter }}" data-row-id="{{ forloop.counter }}">
                <td>
                    {% if suffix %}
                        <a href="javascript:void(0);" id="open_suffix_line_{{ forloop.counter }}" data-id="{{ forloop.counter }}"
                           class="open-suffix" data-ajax-url="{% url 'open_suffix_lines' report.account.id %}?suffix={{ suffix|urlencode }}">{{ suffix }}</a>
                    {% else %}
                        <a href="javascript:void(0);" id="open_suffix_line_{{ forloop.counter }}" data-id="{{ forloop.counter }}"
                           class="open-suffix" data-ajax-url="{% url 'open_suffix_lines' report.account.id %}?suffix=blank">(blank)</a>
                    {% endif %}
                </td>
                <td class="text-right">{{ amount|money }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="journal-account-row">
            <td><strong>Total</strong></td>
            <td class="text-right">{{ report.total|money }}</td>
        </tr>
    </tfoot>
</table>