{% load widget_tweaks %}
{% load invoice_tags report_tags %}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Age Analysis</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
            <tr>
                <td>Period</td>
                <td>{{ period.from_date }} - {{ period.to_date }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ report_date }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel-body align-center">
    <div class="table-responsive">
        <table id="invoices" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Supplier Code</th>
                    <th>Supplier Name</th>
                    <th class="text-right">Unallocated</th>
                    <th class="text-right">120+ Days</th>
                    <th class="text-right">90 Days</th>
                    <th class="text-right">60 Days</th>
                    <th class="text-right">30 Days</th>
                    <th class="text-right">Current</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                {% if report %}
                    {% for supplier_report in report %}
                         <tr >
                            <td>{{ supplier_report.code }}</td>
                            <td>{{ supplier_report.name }}</td>
                            <td class="text-right">{{ supplier_report.payment_total|money }}</td>
                            <td class="text-right">{{ supplier_report.one_twenty_day|money }}</td>
                            <td class="text-right">{{ supplier_report.ninety_day|money }}</td>
                            <td class="text-right">{{ supplier_report.sixty_day|money }}</td>
                            <td class="text-right">{{ supplier_report.thirty_day|money }}</td>
                            <td class="text-right">{{ supplier_report.current|money }}</td>
                            <td class="text-right">
                               <a href="{% url 'supplier_invoices' supplier_report.id %}"
                                  onclick="openDetail(this)">{{ supplier_report.balance|money }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                         <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{ totals.receipt_total|money }}</td>
                            <td class="text-right">{{ totals.one_twenty_or_more_days|money }}</td>
                            <td class="text-right">{{ totals.ninety_days|money }}</td>
                            <td class="text-right">{{ totals.sixty_days|money }}</td>
                            <td class="text-right">{{ totals.thirty_days|money }}</td>
                            <td class="text-right">{{ totals.current|money }}</td>
                            <td class="text-right">{{ totals.total|money }}</td>
                        </tr>
                {% else %}
                    <tr>
                        <td colspan="9">There are no customers balances available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>