{% if redirect_url %}
    <a href="{{ redirect_url  }}" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
{% else%}
    <a href="javascript:history.back(-1)" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
{% endif %}