{% load invoice_tags %}
<table class="table table-bordered" width="100%">
 <thead>
    <tr>
        <th></th>
        <th>Per Date</th>
        <th>Account</th>
        <th class="text-right">Debit</th>
        <th class="text-right">Credit</th>
    </tr>
 </thead>
 <tbody>
    {% for k, distribution in distributions.items %}
        <tr>
            <td>{{ distribution.period }}</td>
            <td>{{ distribution.day|date:'d/m/Y' }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for invoice_account in distribution.accounts %}
            <tr>
                <td></td>
                <td></td>
                <td>{{ invoice_account.account }}</td>
                <td class="text-right">{{ invoice_account.amount|money }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>{{ distribution.distribution_account.code }}</td>
            <td></td>
            <td class="text-right">{{ distribution.total|money }}</td>
        </tr>
    {% endfor %}
 </tbody>
 <tfoot>
    <tr>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>Total distribution account</td>
        <td class="text-right">{{ total_distribution|money }}</td>
        <td class="text-right">
            {{ total_distribution|money }}
            <input type="hidden" id="total_amount" name="total_amount" value="{{ total_distribution }}" />
        </td>
    </tr>
 </tfoot>
</table>