{% extends 'modal.html' %}
{% load static %}
{% block title %} Distribution {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form"
        id="create_journal_distribution" name="create_journal_distribution"
        action="{% url 'create_journal_distribution' %}">
     <div class="modal-body">
        <div class="col-lg-12">
             <table class="table table-bordered" width="100%">
                 <thead>
                    <tr>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Select</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                        <td>{{ account.code }}</td>
                        <td>
                            {{ amount }}
                            <input type="hidden" id="amount" value="{{ amount }}">
                        </td>
                        <td>
                            <input type="checkbox" class="distribution-invoice-account checkbox-input"
                                name="invoice_accounts"
                                id="invoice_account_{{ account.id }}"
                                checked="checked"
                                value="{{ account.id }}" />
                        </td>
                    </tr>
                 </tbody>
             </table>
        </div>
        <div class="col-lg-12">
            {% include 'common/form.html' %}
            <div class="form-group pull-right">
                <button type="button" class="btn btn-primary btn-large" id="distribute_journal_accounts"
                        data-ajax-url="{% url 'journal_distribute_accounts' %}"
                >Distribute</button>
            </div>
        </div>
        <div class="col-lg-12" id="account_distribution">
            {% include "journals/distribution/accounts_distribution.html" %}
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-large" name="create_journal_distribution_submit"
                type="button" id="create_journal_distribution_submit"><i class="fa fa-save"></i> Accept</button>
    </div>
  </form>

{% endblock %}