{% extends 'modal.html' %}
{% load static %}
{% block title %} Distribution Journals {{ year }} {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="create_distribution_journals" name="create_distribution_journals" action="{% url 'run_distribution_journal' %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-large" name="create_distribution_journal_submit"
                type="button" id="create_distribution_journal_submit"><i class="fa fa-save"></i> Create</button>
    </div>
  </form>

{% endblock %}