{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %}Distribution {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left"></h5>
            </div>

          <div class="pull-right">
              <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
            <div class="table-responsive">
                <div class="col-12" id="distribution_table">
                    {% include 'invoice/distribution/accounts_distribution.html' %}
                </div>
                <div class="col-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary btn-sm" name="submit" id="send_email"
                                data-ajax-url=""
                                data-toggle="tooltip"><i class="fa fa-envelope"></i> Email</button>
                        <a type="button" class="btn btn-primary btn-sm" name="submit" id="print"
                           onclick="printHtml('distribution_table');"
                           data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
                    </div>
                </div>
            </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
