{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Payments {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="distributions" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Months</th>
                        <th>Starting Date</th>
                        <th class="text-right">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if distributions %}
                        {% for distribution in distributions %}
                            <tr data-distribution-url="{% url 'show_invoice_account_distribution' distribution.id %}">
                                <td>{{ distribution }}</td>
                                <td>{{ distribution.nb_months }}</td>
                                <td>{{ distribution.starting_at }}</td>
                                <td class="text-right">{{ distribution.total_amount|money }}</td>
                                <td class="text-left actions">
                                    <a href="{% url 'show_invoice_account_distribution' distribution.id %}" target="_blank">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">There are no distributions</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#distributions>tbody>tr>td").on('click', function(){
                var detailUrl = $(this).parent('tr').data('distribution-url');
                document.location.href = detailUrl;
                return false;
            });


       });
    </script>
{% endblock %}