{% extends 'modal.html' %}
{% load static %}
{% block title %} Comment Attachment {% endblock title %}
{% block content %}

     <div class="modal-body">
        <a href="{{ upload_url }}{{ comment.attachment }}">Attachment</a>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>

{% endblock %}