{% extends 'base.html' %}
{% block page_title %} Document Templates {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create-template' %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a new template
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Filename</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if templates %}
                    {% for template in templates %}
                            <tr>
                                <td><a href="">{{ template.label }}</a></td>
                                <td>{{ template.filename }}</td>
                                <td class="text-left actions">
                                    <a href="{% url 'edit-template' template.id   %}">Edit</a> |
                                    <a href="{% url 'delete-template' template.id   %}">Delete</a>
                                </td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no document templates available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}