{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Update {{ group_level_item }}  {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" id="edit_journal_level"
      action="{% url 'edit_group_level_item'  pk=group_level_item.id group_level_id=group_level.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-large"
                name="update_group_level" id="update_group_level"><i class="fa fa-save"></i> Update</button>
    </div>
</form>
{% endblock %}