{% extends 'base.html' %}
{% block page_title %} {{ group_level }}  {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_group_level_item' group_level_id=group_level.id %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus-o"></i> Create
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if group_level_items %}
                    {% for group_level_items in group_level_items %}
                        <tr>
                            <td>{{ group_level_item }}</td>
                            <td class="text-left actions">
                               <a href="{% url 'edit_group_level_item' pk=group_level_item.id group_level_id=group_level.id  %}" data-toggle="tooltip" title="" class="btn-sm btn-success" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                               <a href="{% url 'delete_group_level_item' pk=group_level_item.id group_level_id=group_level.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no {{ group_level }} added</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}