{% extends 'base.html' %}
{% load static %}
{% load invoice_tags %}
{% block page_title %} Role Changes {% endblock page_title %}
{% block actions %}{% endblock %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
          <div class="btn-group pull-right"></div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Company</th>
                        <th>Invoice Series</th>
                        <th>Serial No.</th>
                        <th>Event</th>
                        <th>Original Value</th>
                        <th>New Value</th>
                        <th>Last Changed</th>
                        <th>Last Changed By</th>
                    </tr>
                </thead>
                <tbody id="invoice-list">
                    {% for log in log_entries %}
                        <tr>
                            <td>{{ log.object_id }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ log }}</td>
                            <td>
                                {{ log.changes_str|split|safe }}

                            </td>
                            <td></td>
                            <th>{{ log.timestamp }}</th>
                            <td>{{ log.actor }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
     jQuery(function($){
         $("#invoice-trash").on('click', function(e){
             e.preventDefault();
             $(this).after("<br /><span id='loading'>Loading ...</span>");

             $.get("/invoices/list/", {
               in_trash: 1
             }, function(responseHtml){
                $("#invoice-list").html( responseHtml );
                $("#loading").remove();
             });

         });
     });
  </script>
{% endblock %}
