{% extends 'datatable.html' %}
{% load widget_tweaks %}
{% block page_title %} Roles {% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
        <a href="{% url 'create_role' %}" class="btn btn-sm btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a role
        </a>
        <a href="{% url 'role_search' %}" class="btn btn-sm btn-default" role="button">
            <i class="fa fa-paperclip"></i> Prev. Level
        </a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="roles" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
                <th>Role</th>
                <th>Name</th>
                <th>Group</th>
                <th>Invoice Flow Escalation</th>
                <th>Supervisor</th>
                <th></th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#roles").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/roles/?format=datatables',
              'columns': [
                { data: 'name', name: 'name', searchable: true, title:'Role' },
                { data: 'label', name: 'label', searchable: true, title:'Name'},
                { data: 'groups', name: 'permission_groups__name', searchable: true, title:'Groups'},
                { data: 'manager_role', name: 'manager_role__name', searchable: true, title:'Invoice Flow Escalation',
                    render(data, type, row){
                        return data ? data.label : '';
                    }
                },
                { data: 'supervisor_role', name: 'supervisor_role__name', searchable: true, title:'Supervisor',
                    render(data, type, row){
                        return data ? data.label : '';
                    }
                },
                { data: 'id', name: 'actions', searchable: false, title:'Action', className: 'text-right'}
              ],
             "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        if (data) {
                            let html = [];
                            data.forEach(function(role, index){
                                html.push("<span class='label label-primary'>" + role.label + "</span>")
                            })
                            return html.join('&nbsp;&nbsp;');
                        } else {
                            return '';
                        }
                    },
                    "targets": 2
                },
                {
                    "render": function ( data, type, row ) {
                        let html = []
                        html.push('<a href="'+ row.detail_url +'" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>');
                        html.push('<a href="'+ row.delete_url +'" data-toggle="tooltip" class="btn-sm btn-danger" data-original-title="Delete" onclick="return confirm(\'Are you sure you want to delete this user account\')"><i class="fa fa-trash"></i></a>');
                        html.push('<a href="'+ row.permissions_url +'" data-toggle="tooltip" title="" class="btn-sm btn-warning" data-original-title="Role Permissions"><i class="fa fa-lock"></i></a>');
                        return html.join("&nbsp;&nbsp;|&nbsp;&nbsp;")
                    },
                    "targets": 5
                }
            ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#roles tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'roles_index' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });
    });
    </script>
{% endblock %}
