{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %}Roles  {% endblock page_title %}
{% block content %}
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="ui vertical segment actions">
        <a href="{% url 'create_master_role' master_company_id=company.id %}" class="btn btn-sm btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a role
        </a>
    </div>
<div class="col-lg-12">
    <form class="pull-left" method="get" action="{% url 'create_master_role' master_company_id=company.id  %}">
        <div class="col-lg-3 col-sm-12">
          <div class="form-group">
             <label for="{{ filter.form.name.id_for_label }}" class="control-labels">Role:</label>
             {{ filter.form.name|attr:"class:form-control"  }}
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div class="form-group">
             <label for="{{ filter.form.label.id_for_label }}" class="control-labels">Name:</label>
             {{ filter.form.label|attr:"class:form-control"  }}
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div class="form-group">
              <label for="{{ filter.form.permission_groups.id_for_label }}" class="control-labels">Permission Group:</label>
              {{ filter.form.permission_groups|attr:"class:form-control"  }}
          </div>
        </div>

        <div class="form-group col-lg-3 col-sm-12">
            <label>&nbsp;</label><br />
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
            <span id="loader" style="display:none;"><img src="/images/loader-medium.gif" ></span>
        </div>
    </form>
</div>
<div class="table-responsive">

    <table class="table table-bordered" width="100%">
        <thead>
            <tr>
                <th>Role</th>
                <th>Name</th>
                <th>Group</th>
                <th>Invoice Flow Escalation</th>
                <th>Supervisor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if roles %}
                {% for role in roles %}
                    <tr onclick="openDetail(this)"
                        data-detail-url="{% url 'edit_master_role' master_company_id=company.id pk=role.id %}">
                       <td>{{ role.name }}</td>
                       <td>{{ role.label }}</td>
                       <td>
                           {% for permission_group in role.permission_groups.all %}
                              <span class="label label-primary">{{ permission_group }}</span>
                           {% endfor %}
                       </td>
                       <td>{{ role.manager_role }}</td>
                        <td>{{ role.supervisor_role }}</td>
                       <td class="text-left actions">
                            <a href="{% url 'edit_master_role' master_company_id=company.id pk=role.id %}" data-toggle="tooltip" title="Edit Role" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'delete_master_role' master_company_id=company.id pk=role.id %}" onclick="return confirm('Are you sure you want to delete this role')" data-toggle="tooltip" title="Delete Role" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                       </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">There are no master roles available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}