<ul id="menu" class="in sidebar-nav">
    {% for menu_item in menu_items %}
        {% if 'children' in menu_item %}
            <li id="menu-catalog">
                <a href="#collapse-{{ menu_item.id }}-{{ forloop.counter0 }}" data-toggle="collapse" class="parent" aria-expanded="true"><i class="fa {{ menu_item.icon }} fw"></i>
                    {{ menu_item.label }}
                </a>
                <ul id="collapse-{{ menu_item.id }}-{{ forloop.counter0 }}" class="collapse" aria-expanded="true" style="">
                    {% for menu_child in menu_item.children %}
                        {% if 'children' in menu_child %}
                              <li>
                                <a href="#collapse-child-{{ menu_child.id }}-{{ forloop.counter0 }}" data-toggle="collapse" class="parent collapsed" aria-expanded="true">
                                    {{ menu_child.label }}
                                </a>
                                <ul id="collapse-child-{{ menu_child.id }}-{{ forloop.counter0 }}" class="collapse">
                                   {% for child in menu_child.children %}
                                       {% if 'children' in child %}
                                           <li>
                                                <a href="#collapse-child-child-{{ child.id }}-{{ forloop.counter0 }}" data-toggle="collapse" class="parent collapsed" aria-expanded="true">
                                                    {{ child.label }}
                                                </a>
                                               <ul id="collapse-child-child-{{ child.id }}-{{ forloop.counter0 }}" class="collapse">
                                                   {% for child_child in child.children %}
                                                       <li><a href="{{ child_child.url  }}">{{ child_child.label }}</a></li>
                                                   {% endfor %}]
                                               </ul>
                                           </li>
                                       {% else %}
                                           <li>
                                              {% if child.is_modal %}
                                                  <a href="javascript:void(0);"  data-menu-modal="{{ child.url  }}">
                                                    {{ child.label }}
                                                  </a>
                                              {% else %}
                                                  <a href="{{ child.url  }}">
                                                    {{ child.label }}
                                                  </a>
                                              {% endif%}
                                           </li>
                                       {% endif%}
                                   {% endfor %}
                                 </ul>
                              </li>
                        {% else %}
                          <li>
                            <a href="{{ menu_child.url }}"> {{ menu_child.label }}</a>
                          </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% elif menu_item %}
          <li>
              <a href="{{ menu_item.url }}">
                  <i class="fa {{ menu_item.icon }} fw"></i>{{ menu_item.label }}
              </a>
          </li>
        {% endif %}
    {% endfor %}
</ul>
