{% load static %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
      #id_permissions{
          height: 1000px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
</style>
<div class="row" id="object_permissions">
    <div class="form-group col-sm-4">
        <select multiple="multiple" class="form-control" id="undo_redo" name="unassigned_permissions">
            {% for namespace, permissions in left_list %}
               <option value="{{ namespace.id }}">{{ namespace.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-2 col-xs-2">
        <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
        <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block">
            <i class="fa fa-angle-double-right"></i>
        </button>
        <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block">
            <i class="fa fa-angle-right"></i>
        </button>
        <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block">
            <i class="fa fa-angle-left"></i>
        </button>
        <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block">
            <i class="fa fa-angle-double-left"></i>
        </button>
        <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
    </div>
    <div class="form-group col-sm-4">
        <select multiple="multiple" class="form-control" id="undo_redo_to" name="role_permissions">
            {% for namespace, permissions in right_list %}
               <option value="{{ namespace.id }}">{{ namespace.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/vendor/multiselect/multiselect.min.js' %}"></script>
<script type="text/javascript">
// using jQuery
$(function(){

    $('#undo_redo').multiselect({
        search: {
            left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
        },
        fireSearch: function(value) {
            return value.length > 3;
        }
    });
});
</script>