{% extends "public.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}
    <div class="form-group">
      <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-key"></i> Login </button>
    </div>
    <ul class="inline list-inline">
        <li><a href="{% url 'signup' %}">Join?</a></li>
        <li><a href="{% url 'password_reset' %}">Lost password?</a></li>
    </ul>
</form>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}