{% extends "public.html" %}
{% block content %}
<form method="post" action="" novalidate="novalidate">
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}

    {% csrf_token %}
    {% include 'common/form.html' %}
    <div class="form-group">
      <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
    </div>
    <ul class="inline list-inline">
        <li><a href="{% url 'signup' %}">Join?</a></li>
        <li><a href="{% url 'password_reset' %}">Lost password?</a></li>
    </ul>
</form>

{% endblock %}