{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
{% block page_title %} Inventory Valuation - {{ branch }} {% endblock page_title %}
{% block content %}
    <table class="table table-condensed" width="100%">
        <tr>
            <td>Age Lines</td>
            <td>Balancing Lines</td>
            <td>Ledger Lines</td>
        </tr>
        <tr>
            <td valign="top" style="vertical-align: top !important;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Supplier</th>
                            <th>Period</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    {% for age_line in age_lines %}
                       {% if age_line.balance != 0 %}
                           <tr>
                               <td>{{ age_line.supplier }}</td>
                               <td>{{ age_line.period }}</td>
                               <td>{{ age_line.balance }}</td>
                           </tr>
                       {% endif %}
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td></td>

                            <td>{{ age_total }}</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
            <td valign="top" style="vertical-align: top !important;">
                <table class="table">
                    {% for opening_balance in opening_balances %}
                       <tr>
                           <td>{{ opening_balance.account }}</td>
                           <td></td>
                           <td></td>
                           <td>{{ opening_balance.amount }}</td>
                       </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">------------------------------------------------------------------------------------------------------------------------------------------------------</td>
                    </tr>
                    {% for b_amt, b_data in balancing_data.items %}
                       {% if b_data.id > 63202 %}
                           <tr>
                               <td>
                                   {{ b_data.text }}({{ b_data.id }})
                               </td>
                               <td>{{ b_data.account }}</td>
                               <td>{{ b_data.date }}</td>
                               <td>{{ b_data.amount }}</td>
                           </tr>
                       {% endif %}
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td>{{ balancing_total }}</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
            <td valign="top" style="vertical-align: top !important;">
                <table class="table">
                    {% for opening_balance in opening_balances %}
                       <tr>
                           <td>{{ opening_balance.account }}</td>
                           <td></td>
                           <td></td>
                           <td>{{ opening_balance.amount }}</td>
                       </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">------------------------------------------------------------------------------------------------------------------------------------------------------</td>
                    </tr>
                    {% for ledger in ledger_lines %}
                       {% if ledger.id > 63202 %}
                           <tr style="{% if ledger.miss_match %}color:darkred !important;{% endif %}">
                               <td>
                                   {{ ledger.text }}({{ ledger.id }})
                               </td>
                               <td>{{ ledger.account }}</td>
                               <td>{{ ledger.date }}</td>
                               <td>{{ ledger.amount }}</td>
                           </tr>
                       {% endif %}
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td>{{ ledger_total }}</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
