{% load static i18n %}
{% load invoice_tags %}
<table class="table table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th class="text-center">Total</th>
        </tr>
    </thead>
    <tbody>
        <td class="text-center">
            <h1 class="huge text-success">{{ amount|money:0 }}</h1>
        </td>
    </tbody>
</table>