{% load invoice_tags %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Provision for Leave</th>
            <th>DF Control Suppliers</th>
            <th>VAT Return Submitted</th>
            <th>DF Control Invoices Not Yet Posted</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ provision_for_leave|money }}</td>
            <td>{{ df_control_suppliers|money }}</td>
            <td>{{ vat_return_submitted|money }}</td>
            <td>{{ df_control_invoices_not_yet_posted|money }}</td>
        </tr>
    </tbody>
</table>