{% load invoice_tags %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer Control </th>
            <th>Pre-Paid Expenses</th>
            <th>Input Vat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ customer_control|money }}</td>
            <td>{{ pre_paid_expenses|money }}</td>
            <td>{{ input_vat|money }}</td>
        </tr>
    </tbody>
</table>