{% load static i18n %}
{% load invoice_tags %}
<table class="table table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th colspan="3">&nbsp;</th>
        </tr>
        <tr>
            <th class="text-center">Turnover</th>
            <th class="text-center">Budget</th>
            <th class="text-center">Achievement</th>
        </tr>
    </thead>
    <tbody>
        <td class="text-center">
            <h1 class="huge text-success">{{ turnover|money:0 }}</h1>
        </td>
        <td class="text-center">
            <h1 class="huge text-success">{{ budget|money:0 }}</h1>
        </td>
        <td class="text-center">
            <h1 class="huge text-success">{{ achievement|money:0 }}%</h1>
        </td>
    </tbody>
</table>