<table class="table table-condensed" width="100%">

    <tr>
        <td>Invoices in flow</td>
        <td>
            {% if open_batches %}
                <span class="text-danger bold">{{ open_batches }}</span>
            {% else %}
                <span class="text-success">0</span>
            {% endif %}
        </td>
    </tr>
    {% if has_incoming_updates %}
        <tr>
            <td>Incoming Updates</td>
            <td>
                {% if incoming %}
                    <span class="text-danger bold">{{ incoming }}</span>
                {% else %}
                    <span class="text-success">0</span>
                {% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>Posting Updates</td>
        <td>
            {% if posting %}
                <span class="text-danger bold">{{ posting }}</span>
            {% else %}
                <span class="text-success">0</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Payment Updates</td>
        <td>
            {% if payments %}
                <span class="text-danger bold">{{ payments }}</span>
            {% else %}
                <span class="text-success">0</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"><strong>Sales Updates</strong></td>
    </tr>
    <tr>
        <td>Tax Invoice</td>
        <td>
            {% if sales_tax_invoice %}
                <span class="text-danger bold">{{ sales_tax_invoice }}</span>
            {% else %}
                <span class="text-success">0</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Tax Credit Note</td>
        <td>
            {% if sales_tax_credit_note %}
                <span class="text-danger bold">{{ sales_tax_credit_note }}</span>
            {% else %}
                <span class="text-success">0</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Cash Up</td>
        <td>
            {% if cash_ups %}
                <span class="text-danger bold">{{ cash_ups }}</span>
            {% else %}
                <span class="text-success">0</span>
            {% endif %}
        </td>
    </tr>
</table>