{% extends 'base.html' %}
{% load static %}
{% block page_title %} 	Closing the year  {{ year }} {% endblock page_title %}
{% block content %}
    <h4>Closing the year {{ year }}</h4>
    <br />
    <div class="table-responsive" id="process_year_in_stages" data-ajax-url="{% url 'year_closing' year.id %}">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bold">Initiating year end</td>
                    <td>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <td>Shutting login screen</td>
                    <td>
                        <span class="process-year text-danger" id="shutting_login_screen">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Posting the closing journals</td>
                    <td>
                        <span class="process-year text-danger" id="posting_closing_journals">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Closing the periods</td>
                    <td>
                        <span class="process-year text-danger" id="closing_periods">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bold" colspan="2">Checking final closing = opening in next year</td>
                </tr>
                <tr>
                    <td>Fixed Asset Register</td>
                    <td>
                        <span class="process-year text-danger" id="fixed_asset_register">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>General Ledger</td>
                    <td>
                        <span class="process-year text-danger" id="general_ledger">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Inventory</td>
                    <td>
                        <span class="process-year text-danger" id="inventory">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Customer Ledgers</td>
                    <td>
                        <span class="process-year text-danger" id="customer_ledger">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Supplier Ledgers</td>
                    <td>
                        <span class="process-year text-danger" id="supplier_ledger">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Distribution Balances</td>
                    <td>
                        <span class="process-year text-danger" id="distribution_balance">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Goods Received - Awaiting Invoice Balances</td>
                    <td>
                        <span class="process-year text-danger" id="goods_received_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Invoices Not Yet Posted</td>
                    <td>
                        <span class="process-year text-danger" id="invoices_not_year_posted">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="bold">Final Reporting</td>
                </tr>
                <tr>
                    <td>Changing the status to Final</td>
                    <td>
                        <span class="process-year text-danger" id="change_state_to_final">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Save final General Ledger to PDF</td>
                    <td>
                        <span class="process-year text-danger" id="general_ledger_to_pdf">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Save final Inventory ledger to PDF</td>
                    <td>
                        <span class="process-year text-danger" id="inventory_to_pdf">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Save final Customer ledger to PDF</td>
                    <td>
                        <span class="process-year text-danger" id="customer_ledger_to_pdf">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Save final Supplier ledger to PDF</td>
                    <td>
                        <span class="process-year text-danger" id="supplier_ledger_to_pdf">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Save final Balance Sheet to PDF</td>
                    <td>
                        <span class="process-year text-danger" id="balance_sheet_to_pdf">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Save final income statement by period to PDF</td>
                    <td>
                        <span class="process-year text-danger" id="income_statement_to_pdf">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Save final Trial Balance to PDF</td>
                    <td>
                        <span class="process-year text-danger" id="trial_balance_to_pdf">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Change status of next year to "Open"</td>
                    <td>
                        <span class="process-year text-danger" id="open_next_year">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Opening Login</td>
                    <td>
                        <span class="process-year text-danger" id="opening_login">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span class="process-year text-danger" id="done"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/year.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}