{% extends 'base.html' %}
{% block page_title %} Closing the year {% endblock page_title %}
{% block content %}
    <h4>Closing the year</h4>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bold">Initiating year end</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Posting the closing journals</td>
                    <td>
                        <span class="text-danger" id="posting_closing_journals">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Closing the periods</td>
                    <td>
                        <span class="text-danger" id="closing_the_periods">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bold">Checking final closing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fixed Asset Register</td>
                    <td>
                        <span class="text-danger" id="fixed_assets_register">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>General Ledger</td>
                    <td>
                        <span class="text-danger" id="general_ledger">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Inventory</td>
                    <td>
                        <span class="text-danger" id="inventory">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Customer Ledgers</td>
                    <td>
                        <span class="text-danger" id="customer_ledgers">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Supplier Ledgers</td>
                    <td>
                        <span class="text-danger" id="supplier_ledgers">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Distribution Balances</td>
                    <td>
                        <span class="text-danger" id="distribution_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Goods Received - Awaiting Invoice Balances</td>
                    <td>
                        <span class="text-danger" id="goods_received_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Invoices Not Yet Posted</td>
                    <td>
                        <span class="text-danger" id="invoices_not_year_posted">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="bold">Final Reporting</td>
                </tr>
                <tr>
                    <td>Changing the status to Final</td>
                    <td>
                        <span class="text-danger" id="change_status_to_final">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Opening {{ year }} Year</td>
                    <td>
                        <span class="text-danger" id="opening_year">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Opening first period</td>
                    <td>
                        <span class="text-danger" id="opening_first_peirod">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Opening Login</td>
                    <td>
                        <span class="text-danger" id="opening_login">Waiting to run</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $('.year-status').on("click", function(e){
                e.preventDefault();
                console.log($(this).data('ajax-url'))
                $.getJSON($(this).data('ajax-url'), function(response){
                    responseNotification(response)
                });
            });
        });
        function updateCurrentActiveYear(el, year_id)
        {
            $.post($(el).data('ajax-url'), {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}