{% extends 'base.html' %}
{% block page_title %} Vat Reports {% endblock page_title %}
{% block content %}
    <div class="alert alert-warning">
        <p>
            Check that all VAT reports have been run
        </p>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Vat Reports</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for period in periods %}
                    <tr>
                        <td>{{ period }}</td>
                        <td>
                            {% if period.has_vat_reports %}
                                <span class="text-success">Filled</span>
                            {% else %}
                                <span class="text-danger">Not Filled</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <a href="{% url 'complete_finalize' year.id %}" class="btn btn-primary btn-large" type="submit"> Continue</a>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-large" name="reset" type="reset"> Cancel</button>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}