{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Create a Delivery{% endblock page_title %}
{% block stylesheet %}
{# <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}" />
{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="delivery_form"
  action="{% url 'create_estimate_delivery' estimate_id=estimate.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading ">&nbsp;
          <div class="pull-right">
            <a href="{% url 'sales_delivery_index' %}" class="btn btn-warning">Cancel</a>
            <button type="button" class="btn btn-primary btn-large save-delivery" name="submit_delivery_and_continue"
                    id="submit_delivery_and_continue"
                    data-action="continue"><i class="fa fa-save"></i> Save</button>
            <button type="button" class="btn btn-primary btn-large save-delivery" name="submit_delivery_and_print"
                    id="submit_delivery_and_print"
                    data-action="print"><i class="fa fa-print"></i> Save and Print</button>
          </div>
      </div>
      <div class="panel-body aligin-center">
           <div id="">
                <table class="table table-condensed table-bordered" id="delivery-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="line" width="50%">
                                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                                         <div class="controls">
                                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                                            {% if form.branch.auto_id  != "id_tos" %}
                                                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="line" width=50%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        <div id="">
                                           {% display_logo company 200 75 %}
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">DELIVERY NOTE</strong><br><br>
                                        Number:&nbsp;&nbsp;#
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td><strong>Cash Customer:</strong></td>
                                     <td><strong>Shipping To:</strong></td>
                                     <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ estimate.customer_name }}
                                        {% render_field form.customer_name class="form-control form-control-sm" value=estimate.customer_name %}
                                        <input type="hidden" id="line_discount" value="">
                                        <input type="hidden" id="invoice_discount" value="">
                                    </td>
                                    <td></td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.delivery_method.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.delivery_method.id_for_label }}">{{ form.delivery_method.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.delivery_method class="form-control form-control-sm" %}
                                                {% if form.delivery_method.auto_id  != "id_tos" %}
                                                    {% if form.delivery_method.errors %}<span class="help-inline">{{ form.delivery_method.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_street">
                                            {{ estimate.postal.address_line_1 }}
                                            <input type="hidden" name="postal_street" value="{{ estimate.postal.address_line_1 }}">
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_street">
                                            {{ estimate.delivery.address_line_1 }}
                                            <input type="hidden" name="delivery_street" value="{{ estimate.delivery.address_line_1 }}">
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.period.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.period class="form-control form-control-sm" %}
                                                {% if form.period.auto_id  != "id_tos" %}
                                                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_city">
                                            {{ estimate.postal.city }}
                                            <input type="hidden" name="postal_city" value="{{ estimate.postal.city }}">
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_city">
                                            {{ estimate.delivery.city }}
                                            <input type="hidden" name="delivery_city" value="{{ estimate.delivery.city }}">
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.date class="form-control form-control-sm future_datepicker" %}
                                                {% if form.date.auto_id  != "id_tos" %}
                                                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_province">
                                            {{ estimate.postal.province_name }}
                                            <input type="hidden" name="postal_province" value="{{ estimate.province }}">
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_province">
                                            {{ estimate.postal.province_name }}
                                            <input type="hidden" name="delivery_province" value="{{ estimate.postal.province }}">
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.delivery_time.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.delivery_time.id_for_label }}">{{ form.delivery_time.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.delivery_time class="form-control form-control-sm" %}
                                                {% if form.delivery_time.auto_id  != "id_tos" %}
                                                    {% if form.delivery_time.errors %}<span class="help-inline">{{ form.delivery_time.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_country">
                                            {{ estimate.postal.country.name }}
                                            <input type="hidden" name="postal_country" value="{{ estimate.postal.country }}">
                                        </span>
                                    </td>
                                    <td>
                                       <span id="delivery_country">
                                            {{ estimate.delivery.country.name }}
                                            <input type="hidden" name="delivery_country" value="{{ estimate.delivery.country }}">
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.purchase_order.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.purchase_order.id_for_label }}">{{ form.purchase_order.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.purchase_order class="form-control form-control-sm" %}
                                                {% if form.purchase_order.auto_id  != "id_tos" %}
                                                    {% if form.purchase_order.errors %}<span class="help-inline">{{ form.purchase_order.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="text-right">
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="text-right">

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" colspan="{{ cols }}">
                        <div class="form-group control-group {% if form.notes.errors %}error{% endif %}">
                            <label class="control-label txt-font12" for="{{ form.notes.id_for_label }}">{{ form.notes.label_tag }}</label>
                            <div class="controls">
                                {% render_field form.notes class="form-control form-control-sm" %}
                                {% if form.notes.auto_id  != "id_tos" %}
                                    {% if form.notes.errors %}<span class="help-inline">{{ form.notes.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">DELIVERY CREATED BY</td>
                                    <td class="text-left" colspan="3">DATE CREATED</td>
                                    <td class="text-left" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if profile %}{{ profile }}{% endif %}</td>
                                    <td class="text-left" colspan="3">{% if date %}{{ date|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-left" colspan="3">{% if date %}{{ date|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3"><span id="branch_text">{{ branch }}</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <div id="delivery_items">
                                <table class="table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Code/Description</th>
                                            <th class="text-right">Stock</th>
                                            <th class="text-right">Quantity</th>
                                            <th class="text-right">Delivered</th>
                                            <th class="text-center">Back Order</th>
                                            <th>Unit</th>
                                            <th class="text-right">Price</th>
                                            <th class="text-right">Price Inc</th>
                                            <th>Disc(%)</th>
                                            <th class="text-right">Discount Amount</th>
                                            <th class="text-right">Net Price</th>
                                            <th class="text-right">Vat</th>
                                             <th class="text-right">Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="delivery_estimate_items_body" data-ajax-url="{% url 'estimate_delivery_items' estimate_id=estimate.id %}">
                                        <tr id="delivery_estimate_items_placeholder">
                                            <td colspan="16">
                                                <img src="{% static 'images/loader.gif' %}">
                                            </td>
                                        </tr>
                                        <tr id="actions">
                                            <td class="text-right" colspan="16">
                                                <button type="button" id="add_delivery_line" class="btn btn-primary"
                                                        data-ajax-url="{% url 'add_delivery_items' %}"
                                                >Add</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr class="totals">
                        <td colspan="{{ cols }}" class="text-right">
                            <table width="100%" class="table">
                                <tr>
                                    <td class="po-total" colspan="14">SUB TOTAL</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="sub_total"></span>
                                        {% render_field form.sub_total %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">LINE DISCOUNTS</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_discount"></span>
                                        {% render_field form.line_discount %}
                                    </td>
                                </tr>
                                <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                    <td class="po-total" colspan="14">CUSTOMER DISCOUNTS</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="customer_invoice_discounts"></span>
                                        {% render_field form.customer_discount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">NETT TOTAL</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="net_total"></span>
                                        {% render_field form.net_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">VAT</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_vat_amount"></span>
                                        {% render_field form.vat_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">TOTAL DELIVERY VALUE</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_order_value"></span>
                                        {% render_field form.total_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="space" colspan="{{ cols }}">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Gross Weight</td>
                                    <td class="po-total" >&nbsp;{{ estimate.gross_weight|money }}</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Net Weight</td>
                                    <td class="po-total" >&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Total Items</td>
                                    <td class="po-total" >&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="customer-discount-calculation" style="display: none;" id="calculation_summary">
                        <td colspan="1" class="align-left">
                            <table class="table table-bordered table-condensed table-striped" width="50%">
                                <thead>
                                    <tr>
                                        <th>Vat Recon</th>
                                        <th class="text-right">Excl</th>
                                        <th class="text-right">Vat</th>
                                    </tr>
                                </thead>
                                <tbody id="summary_body">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                        <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <td colspan="11">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Signed by Customer as received</td>
                        <td class="text-right writtable" colspan=4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Print Name:</td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Date: </td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
                <div class="form-group">
                   <span class="ajax-loader" id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
                </div>
                <div class="controls text-right">
                    <input type="hidden" id="default_vat" value="{{ default_vat }}">
{#                    <div class="form-group {% if form.is_picking_slip_required.errors %}error{% endif %}">#}
{#                        <label class=" control-label txt-font12" for="{{ form.is_picking_slip_required.id_for_label }}">#}
{#                            {{ form.is_picking_slip_required.label_tag }}#}
{#                            {% render_field form.is_picking_slip_required class="form-control checkbox-inline" %}#}
{#                            {% if form.is_picking_slip_required.auto_id  != "id_tos" %}#}
{#                                {% if form.is_picking_slip_required.errors %}<span class="help-inline">{{ form.is_picking_slip_required.errors }}</span>{% endif %}#}
{#                            {% endif %}#}
{#                        </label>#}
{#                    </div>#}
                </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap-timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/delivery.js' %}"></script>
{% endblock %}