{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load inventory_tags invoice_tags %}
{% block title %} Create Customer {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="customer_form" action="{% url 'add_customer' %}">
    {% csrf_token %}
    <div class="modal-body">
        {% include "customer/basic.html" %}
        <div id="statement_days" class="show form-group control-group {% if form.statement_days.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.statement_days.id_for_label }}">{{ form.statement_days.label_tag }}</label>
            <div class="controls">
                {% render_field form.statement_days class="form-control" %}
                {% if form.statement_days.auto_id  != "id_tos" %}
                    {% if form.statement_days.errors %}<span class="help-inline">{{ form.statement_days.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="save_customer_btn"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}