{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} {% translate 'Customer Age Analysis' %}  - {{ year }}{% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> {% translate 'Print' %}</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> {% translate 'Prev. Level' %}</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>{% translate 'Company' %}:</th>
                    <th>{{ company.slug }}</th>
                    <th class="text-left">{{ company.name }}</th>
                    <th class="text-right"><a href="#">{{ report_date }}</a></th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>{% translate 'Customer Code' %}</th>
                                    <th>{% translate 'Customer Name' %}</th>
                                    <th class="text-right">{% translate 'Unallocated' %}</th>
                                    <th class="text-right">{% translate '120+ Days' %}</th>
                                    <th class="text-right">{% translate '90 Days' %}</th>
                                    <th class="text-right">{% translate '60 Days' %}</th>
                                    <th class="text-right">{% translate '30 Days' %}</th>
                                    <th class="text-right">{% translate 'Current' %}</th>
                                    <th class="text-right">{% translate 'Total' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if report %}
                                    {% for customer_report in report %}
                                         <tr >
                                            <td>{{ customer_report.number }}</td>
                                            <td>{{ customer_report.name }}</td>
                                             <td class="text-right">{{ customer_report.receipt_total|money }}</td>
                                            <td class="text-right">{{ customer_report.one_twenty_day_invoice|money }}</td>
                                            <td class="text-right">{{ customer_report.ninety_day_invoice|money }}</td>
                                            <td class="text-right">{{ customer_report.sixty_day_invoice|money }}</td>
                                            <td class="text-right">{{ customer_report.thirty_day_invoice|money }}</td>
                                            <td class="text-right">{{ customer_report.current_invoice_total|money }}</td>
                                            <td class="text-right">
                                               <a href="{% url 'age_analysis_detail' customer_report.id %}"
                                                  onclick="openDetail(this)">{{ customer_report.balance|money }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                         <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">{{ totals.receipt_total|money }}</td>
                                            <td class="text-right">{{ totals.one_twenty_or_more_days|money }}</td>
                                            <td class="text-right">{{ totals.ninety_days|money }}</td>
                                            <td class="text-right">{{ totals.sixty_days|money }}</td>
                                            <td class="text-right">{{ totals.thirty_days|money }}</td>
                                            <td class="text-right">{{ totals.current|money }}</td>
                                            <td class="text-right">{{ totals.total|money }}</td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">{% translate 'There are no customers balances available' %}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}