{% extends 'base.html' %}
{% load  i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}{% translate ' Customer Invoices DETAILS' %} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              {% if redirect_url %}
                 <a href="{{ redirect_url }}" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
              {% else %}
                  <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
              {% endif %}
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>{% translate 'Company' %}</th>
                    <th>{{ company.slug }}</th>
                    <th class="text-left">{{ company.name }}</th>
                </tr>
                <tr>
                    <th>{% translate 'Customer' %}</th>
                    <th>{{ customer.number }}</th>
                    <th class="text-left">{{ customer.name }}</th>
                </tr>
                <tr>
                    <th>{% translate 'Report for period ending' %}</th>
                    <th>{{ report_date }}</th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>{% translate 'Docuflow Unique' %}</th>
                                    <th>{% translate 'Status' %}</th>
                                    <th>{% translate 'Accounting Date' %}</th>
                                    <th>{% translate 'Invoice Date' %}</th>
                                    <th>{% translate 'Due Date' %}</th>
                                    <th>{% translate 'Document Type' %}</th>
                                    <th class="text-right">{% translate 'Total' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if invoices|length > 0 or receipts|length > 0 %}
                                    {% for invoice in invoices.all %}
                                        {% if invoice.open_amount != 0 %}
                                            <tr class="{{ invoice.invoice_type.code }}" onclick="openDetail(this)">
                                                <td>{{ invoice }}</td>
                                                <td>{{ invoice.status_name }}</td>
                                                <td>{{ invoice.invoice_date }}</td>
                                                <td>{{ invoice.invoice_date }}</td>
                                                <td>{{ invoice.due_date }}</td>
                                                <td>{{ invoice.invoice_type }}</td>
                                                <td class="text-right">{{ invoice.open_amount|money }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {% for receipt in receipts.all %}
                                        {% if receipt.balance != 0 %}
                                            <tr class="payment-row" id="{{ receipt.id }}" onclick="openDetail(this)"
                                                data-detail-url="">
                                                <td>{{ receipt }}</td>
                                                <td></td>
                                                <td>{{ receipt.date }}</td>
                                                <td>{{ receipt.date }}</td>
                                                <td></td>
                                                <td>Receipt</td>
                                                <td class="text-right">{{ receipt.balance|money }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                       <tr>
                                            <td colspan="6"></td>

                                            <td class="text-right"><strong>{{ total|money }}</strong></td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">There are no <strong>invoices available</strong> available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}