{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}
<div class="row">
    <div class="col-4">
        <div class="form-group control-group {% if form.number.errors %}error{% endif %}">
            {{ form.number.label_tag }}
            <div class="controls">
                {% render_field form.number class="form-control" readonly=readonly %}
                {% if form.number.auto_id  != "id_tos" %}
                    {% if form.number.errors %}<span class="help-inline">{{ form.number.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group {% if form.is_active.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label_tag }}</label>
            <div class="controls">
                {% render_field form.is_active class="form-control"  %}
                {% if form.is_active.auto_id  != "id_tos" %}
                    {% if form.is_active.errors %}<span class="help-inline">{{ form.is_active.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <label>Created</label>: &nbsp;&nbsp;{{ customer.created_at|date:"d F Y" }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
            <div class="controls">
                {% render_field form.name class="form-control" %}
                {% if form.name.auto_id  != "id_tos" %}
                    {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
            <div class="form-group control-group {% if form.vat_number.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.vat_number.id_for_label }}">
                    {{ form.vat_number.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.vat_number class="form-control" %}
                    {% if form.vat_number.auto_id  != "id_tos" %}
                        {% if form.vat_number.errors %}
                            <span class="help-inline">{{ form.vat_number.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
    </div>
</div>
<div class="row">
    {% with postal_address=customer.postal_address %}
        <div class="col-6">
            <div class="form-group control-group">
               <div class="controls">
                   <h2 class="control-label">Postal</h2>
                </div>
            </div>
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">Street</label>
                    <input class="form-control postal" name="postal_street" id="street"
                    {% if customer and postal_address.address_line_1 %}
                       value="{{ postal_address.address_line_1 }}"
                   {% endif %}
                    />
                </div>
            </div>
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">City</label>
                    <input class="form-control postal" name="postal_city" id="city"
                    {% if customer and postal_address.city %}
                       value="{{ postal_address.city}}"
                   {% endif %}
                    />
                </div>
            </div>
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">Postal Code</label>
                    <input class="form-control postal" name="postal_postal_code" id="postal_code"
                    {% if customer and postal_address.postal_code %}
                       value="{{ postal_address.postal_code }}"
                   {% endif %}
                    />
                </div>
            </div>
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">Country</label>
                   {% render_field form.postal_country class="form-control chosen-select" %}
                   {% if form.postal_country.auto_id  != "id_tos" %}
                      {% if form.postal_country.errors %}
                          <span class="help-inline">{{ form.postal_country.errors }}</span>
                      {% endif %}
                   {% endif %}
                </div>
            </div>
            {% if customer %}
                <div class="form-group control-group" id="select_province" style="{% if not customer.postal_address.is_south_africa %}display:none{% endif %}">
                   <div class="controls">
                       <label class="control-label">Province</label>
                        {% render_field form.postal_province class="form-control chosen-select" %}
                        {% if form.postal_province.auto_id  != "id_tos" %}
                            {% if form.postal_province.errors %}
                                <span class="help-inline">{{ form.postal_province.errors }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group control-group" id="enter_province" style="{% if not customer.postal_address or customer.postal_address.is_south_africa %}display:none{% endif %}">
                   <div class="controls">
                       <label class="control-label">Province</label>
                        {% render_field form.country_province class="form-control" %}
                        {% if form.country_province.auto_id  != "id_tos" %}
                            {% if form.country_province.errors %}
                                <span class="help-inline">{{ form.country_province.errors }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="form-group control-group" id="select_province">
                   <div class="controls">
                       <label class="control-label">Province</label>
                        {% render_field form.postal_province class="form-control chosen-select" %}
                        {% if form.postal_province.auto_id  != "id_tos" %}
                            {% if form.postal_province.errors %}
                                <span class="help-inline">{{ form.postal_province.errors }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group control-group" id="enter_province" style="display: none;">
                   <div class="controls">
                       <label class="control-label">Province</label>
                        {% render_field form.country_province class="form-control" %}
                        {% if form.country_province.auto_id  != "id_tos" %}
                            {% if form.country_province.errors %}
                                <span class="help-inline">{{ form.country_province.errors }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endwith  %}
    {% with delivery_address=customer.delivery_address %}

    {% endwith  %}
</div>

<div class="form-group control-group {% if form.phone_number.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.phone_number.id_for_label }}">
        {{ form.phone_number.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.phone_number class="form-control" %}
        {% if form.phone_number.auto_id  != "id_tos" %}
            {% if form.phone_number.errors %}
                <span class="help-inline">{{ form.phone_number.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group control-group {% if form.cell_number.errors %}error{% endif %}">
            {{ form.cell_number.label_tag }}
            <div class="controls">
                {% render_field form.cell_number class="form-control" %}
                {% if form.cell_number.auto_id  != "id_tos" %}
                    {% if form.cell_number.errors %}<span class="help-inline">{{ form.cell_number.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group {% if form.accepted_sms_marketing.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.accepted_sms_marketing.id_for_label }}">{{ form.accepted_sms_marketing.label_tag }}</label>
            <div class="controls">
                {% render_field form.accepted_sms_marketing class="form-control"  %}
                {% if form.accepted_sms_marketing.auto_id  != "id_tos" %}
                    {% if form.accepted_sms_marketing.errors %}<span class="help-inline">{{ form.accepted_sms_marketing.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group control-group {% if form.email.errors %}error{% endif %}">
            {{ form.email.label_tag }}
            <div class="controls">
                {% render_field form.email class="form-control" %}
                {% if form.email.auto_id  != "id_tos" %}
                    {% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group {% if form.accepted_email_marketing.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.accepted_email_marketing.id_for_label }}">{{ form.accepted_email_marketing.label_tag }}</label>
            <div class="controls">
                {% render_field form.accepted_email_marketing class="form-control"  %}
                {% if form.accepted_email_marketing.auto_id  != "id_tos" %}
                    {% if form.accepted_email_marketing.errors %}<span class="help-inline">{{ form.accepted_email_marketing.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group control-group {% if form.contact_person.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.contact_person.id_for_label }}">
                {{ form.contact_person.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.contact_person class="form-control" %}
                {% if form.contact_person.auto_id  != "id_tos" %}
                    {% if form.contact_person.errors %}
                        <span class="help-inline">{{ form.contact_person.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group control-group {% if form.account_person.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.account_person.id_for_label }}">
                {{ form.account_person.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.account_person class="form-control" %}
                {% if form.account_person.auto_id  != "id_tos" %}
                    {% if form.account_person.errors %}
                        <span class="help-inline">{{ form.account_person.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group control-group {% if form.salesman.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.salesman.id_for_label }}">
                {{ form.salesman.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.salesman class="form-control" %}
                {% if form.salesman.auto_id  != "id_tos" %}
                    {% if form.salesman.errors %}
                        <span class="help-inline">{{ form.salesman.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>