{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Create Customer{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="customer_form" action="{% url 'create_customer' %}?redirect={{ request.GET.redirect }}">
    {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div id="tabs">
                  <ul>
                     <li><a href="#customer-details">Customer Details</a></li>
                     <li><a href="#other-information">Other Information</a></li>
                     <li><a href="#discount-and-prices">Discount and Prices</a></li>
                     <li><a href="#printing-setup">Printing Setup</a></li>
                  </ul>
                  <div id="customer-details">
                      {% include 'customer/tabs/customer_details.html' %}
                  </div>
                  <div id="other-information">
                      {% include 'customer/tabs/other_informations.html' %}
                  </div>
                  <div id="discount-and-prices">
                      {% include 'customer/tabs/discount_and_prices.html' %}
                  </div>
                  <div id="printing-setup">
                      {% include 'customer/tabs/printing_setup.html' %}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-large" id="save_customer" type="button">
            <i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/customer.js' %}?{% now 'dHisYm' %}"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs();
      });
  </script>
{% endblock %}