<div class="row">
    <div class="col-6">
        <table class="table" width="100%" valign="top">
            <tbody>
                 <tr>
                    <td colspan="4">{{ branch_inventory.own.inventory.full_name }}</td>
                </tr>
                <tr>
                    <th colspan="4">Location</th>
                </tr>
                <tr>
                    <td>Store Area</td>
                    <td>{{ branch_inventory.own.inventory.store_area }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Bin Location</td>
                    <td>{{ branch_inventory.own.inventory.bin_location }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="2">Normal Pricing</td>
                    <td>{{ branch_inventory.own.inventory.cost_price }}</td>
                    <td>{{ branch_inventory.own.inventory.selling_price }}</td>
                </tr>
                <tr>
                    <td>Including Vat</td>
                    <td>{{ branch_inventory.own.inventory.cost_price }}</td>
                    <td>{{ branch_inventory.own.inventory.cost_price }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Excluding Vat</td>
                    <td>{{ branch_inventory.own.inventory.cost_price }}</td>
                    <td>{{ branch_inventory.own.inventory.cost_price }}</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="2">Campaign Pricing</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                </tr>
                <tr>
                    <td>Including Vat</td>
                    <td>{{ branch_inventory.own.inventory.selling_price }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Excluding Vat</td>
                    <td>{{ branch_inventory.own.inventory.selling_price_with_vat }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table" width="100%"  valign="top">
            <thead>
                <tr>
                    <th>Inventory Levels</th>
                    <th class="text-right">On Hand</th>
                    <th class="text-right">On Order</th>
                    <th class="text-right">On Reserve</th>
                    <th class="text-right">Available</th>
                    <th>Last Counted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Own</td>
                    <td class="text-right">{{ branch_inventory.own.total_in_hand }}</td>
                    <td class="text-right">{{ branch_inventory.own.total_ordered }}</td>
                    <td class="text-right">{{ branch_inventory.own.on_reserve}}</td>
                    <td class="text-right">{{ branch_inventory.own.total_in_hand }}</td>
                    <td></td>
                </tr>
                {% for branch_inventory in branch_inventories.branches.items %}
                    <tr>
                        <td>{{ branch_inventory.branch }}</td>
                        <td class="text-right">{{ detail.total_in_hand }}</td>
                        <td class="text-right">{{ branch_inventory.in_order }}</td>
                        <td class="text-right">{{ detail.total_in_hand }}</td>
                        <td class="text-right">{{ detail.total_in_hand }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
{#                <tr>#}
{#                    <td>Totals</td>#}
{#                    <td class="text-right">{{ totals.total_received }}</td>#}
{#                    <td class="text-right">{{ totals.total_returned }}</td>#}
{#                    <td class="text-right">{{ totals.total_balance_stock }}</td>#}
{#                    <td class="text-right"></td>#}
{#                    <td></td>#}
{#                </tr>#}
            </tfoot>
        </table>
    </div>

</div>
