{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Edit Customer{% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="customer_form" action="{% url 'edit_customer' customer.id %}?redirect={{ request.GET.redirect }}">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left">
          </div>
          <div class="pull-right">
            <button class="btn btn-primary btn-large" id="save_customer" type="button">
                <i class="fa fa-save"></i> Update</button>
            <a href="{% url 'customer_index' %}" id="customers" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body align-center">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div id="tabs">
                      <ul>
                         <li><a href="#customer-details">Customer Details</a></li>
                         <li><a href="#other-information">Other Information</a></li>
                         <li><a href="#delivery-address">Delivery Address</a></li>
                         <li><a href="#discount-and-prices">Discount and Prices</a></li>
                         <li><a href="#printing-setup">Printing Setup</a></li>
                         <li><a href="#statistics">Statistics</a></li>
                         <li><a href="#fixed-customer-prices">FIXED CUSTOMER PRICES</a></li>
                         <li><a href="#quantity-equals-discount">QUANTITY EQUALS % DISCOUNT</a></li>
                         <li><a href="#quantity-equals-price">QUANTITY EQUALS DISCOUNTED PRICE</a></li>
                      </ul>
                      <div id="customer-details">
                          {% include 'customer/tabs/customer_details.html' %}
                      </div>
                      <div id="other-information">
                          {% include 'customer/tabs/other_informations.html' %}
                      </div>
                      <div id="delivery-address">
                          {% include 'address/index.html' %}
                      </div>
                      <div id="discount-and-prices">
                          {% include 'customer/tabs/discount_and_prices.html' %}
                      </div>
                      <div id="printing-setup">
                          {% include 'customer/tabs/printing_setup.html' %}
                      </div>
                      <div id="statistics">
                          {% include 'customer/tabs/statistics.html' %}
                      </div>
                      <div id="fixed-customer-prices">
                         {% include 'pricing/index.html' %}
                      </div>
                      <div id="quantity-equals-discount">
                          {% include 'pricing/quantity_discounts/index.html' %}
                      </div>
                      <div id="quantity-equals-price">
                          {% include 'pricing/quantity_prices/index.html' %}
                      </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/customer.js' %}?{% now 'HisYmd' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/pricing.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/Chart.min.js' %}"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs();
         $.getJSON('{% url 'customer_history' %}', {
             customer_id: '{{ customer.id }}'
         }, function(response){
            new Chart(document.getElementById("customer_history"),{
                "type":"line","data":{"labels":response.periods,"datasets":[{"label":"History","data":response.data,"fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},"options":{}
            });
         });

      });
    </script>
{% endblock %}