{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

        <fieldset class="well">
            <legend>Customer Details</legend>
            <div class="row">
                <div class="col-6">
                    <div class="form-group control-group {% if form.number.errors %}error{% endif %}">
                        {{ form.number.label_tag }}
                        <div class="controls">
                            {% render_field form.number class="form-control" readonly='readonly' %}
                            {% if form.number.auto_id  != "id_tos" %}
                                {% if form.number.errors %}<span class="help-inline">{{ form.number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group {% if form.is_active.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.is_active class="form-control"  %}
                            {% if form.is_active.auto_id  != "id_tos" %}
                                {% if form.is_active.errors %}<span class="help-inline">{{ form.is_active.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
                <div class="controls">
                    {% render_field form.name class="form-control" %}
                    {% if form.name.auto_id  != "id_tos" %}
                        {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.vat_number.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.vat_number.id_for_label }}">
                    {{ form.vat_number.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.vat_number class="form-control" %}
                    {% if form.vat_number.auto_id  != "id_tos" %}
                        {% if form.vat_number.errors %}
                            <span class="help-inline">{{ form.vat_number.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group control-group">
                       <div class="controls">
                           <h2 class="control-label">Postal</h2>
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">Street</label>
                            <input class="form-control postal" name="postal_street" id="street"
                            {% if customer and customer.postal_address.address_line_1 %}
                               value="{{ customer.postal_address.address_line_1 }}"
                           {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">City</label>
                            <input class="form-control postal" name="postal_city" id="city"
                            {% if customer and customer.postal_address.city %}
                               value="{{ customer.postal_address.city}}"
                           {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">Province</label>
                            {% render_field form.postal_province class="form-control chosen-select" %}
                            {% if form.postal_province.auto_id  != "id_tos" %}
                                {% if form.postal_province.errors %}
                                    <span class="help-inline">{{ form.postal_province.errors }}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">Postal Code</label>
                            <input class="form-control postal" name="postal_postal_code" id="postal_code"
                            {% if customer and customer.postal_address.postal_code %}
                               value="{{ customer.postal_address.postal_code }}"
                           {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">Country</label>
                           {% render_field form.postal_country class="form-control chosen-select" %}
                           {% if form.postal_country.auto_id  != "id_tos" %}
                              {% if form.postal_country.errors %}
                                  <span class="help-inline">{{ form.postal_country.errors }}</span>
                              {% endif %}
                           {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group control-group">
                       <div class="controls">
                          <h2 class="control-label">Delivery</h2>
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">Street</label>
                            <input class="form-control delivery" name="delivery_street" id="street"
                            {% if customer and customer.delivery_address.address_line_1 %}
                               value="{{ customer.delivery_address.address_line_1 }}"
                           {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">City</label>
                            <input class="form-control delivery" name="delivery_city" id="city"
                            {% if customer and customer.delivery_address.city %}
                               value="{{ customer.delivery_address.city}}"
                           {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">Province</label>
                            {% render_field form.delivery_province class="form-control chosen-select" %}
                            {% if form.delivery_province.auto_id  != "id_tos" %}
                                {% if form.delivery_province.errors %}
                                    <span class="help-inline">{{ form.delivery_province.errors }}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">Postal Code</label>
                            <input class="form-control delivery" name="delivery_postal_code" id="postal_code"
                            {% if customer and customer.delivery_address.postal_code %}
                               value="{{ customer.delivery_address.postal_code }}"
                           {% endif %}
                            />
                        </div>
                    </div>
                    <div class="form-group control-group">
                       <div class="controls">
                           <label class="control-label">Country</label>
                            {% render_field form.delivery_country class="form-control chosen-select" %}
                            {% if form.delivery_country.auto_id  != "id_tos" %}
                                {% if form.delivery_country.errors %}
                                    <span class="help-inline">{{ form.delivery_country.errors }}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group control-group {% if form.phone_number.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.phone_number.id_for_label }}">
                    {{ form.phone_number.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.phone_number class="form-control" %}
                    {% if form.phone_number.auto_id  != "id_tos" %}
                        {% if form.phone_number.errors %}
                            <span class="help-inline">{{ form.phone_number.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group control-group {% if form.cell_number.errors %}error{% endif %}">
                        {{ form.cell_number.label_tag }}
                        <div class="controls">
                            {% render_field form.cell_number class="form-control" %}
                            {% if form.cell_number.auto_id  != "id_tos" %}
                                {% if form.cell_number.errors %}<span class="help-inline">{{ form.cell_number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group {% if form.accepted_sms_marketing.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.accepted_sms_marketing.id_for_label }}">{{ form.accepted_sms_marketing.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.accepted_sms_marketing class="form-control"  %}
                            {% if form.accepted_sms_marketing.auto_id  != "id_tos" %}
                                {% if form.accepted_sms_marketing.errors %}<span class="help-inline">{{ form.accepted_sms_marketing.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group control-group {% if form.email.errors %}error{% endif %}">
                        {{ form.email.label_tag }}
                        <div class="controls">
                            {% render_field form.email class="form-control" %}
                            {% if form.email.auto_id  != "id_tos" %}
                                {% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group {% if form.accepted_email_marketing.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.accepted_email_marketing.id_for_label }}">{{ form.accepted_email_marketing.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.accepted_email_marketing class="form-control"  %}
                            {% if form.accepted_email_marketing.auto_id  != "id_tos" %}
                                {% if form.accepted_email_marketing.errors %}<span class="help-inline">{{ form.accepted_email_marketing.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group control-group {% if form.contact_person.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.contact_person.id_for_label }}">
                    {{ form.contact_person.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.contact_person class="form-control" %}
                    {% if form.contact_person.auto_id  != "id_tos" %}
                        {% if form.contact_person.errors %}
                            <span class="help-inline">{{ form.contact_person.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.account_person.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.account_person.id_for_label }}">
                    {{ form.account_person.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.account_person class="form-control" %}
                    {% if form.account_person.auto_id  != "id_tos" %}
                        {% if form.account_person.errors %}
                            <span class="help-inline">{{ form.account_person.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.credit_limit.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.credit_limit.id_for_label }}">
                    {{ form.credit_limit.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.credit_limit class="form-control" %}
                    {% if form.credit_limit.auto_id  != "id_tos" %}
                        {% if form.credit_limit.errors %}
                            <span class="help-inline">{{ form.credit_limit.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </fieldset>
        <fieldset class="well">
            <legend>Other Information</legend>
            <div class="form-group control-group {% if form.payment_term.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.payment_term.id_for_label }}">{{ form.payment_term.label_tag }}</label>
                <div class="controls">
                    {% render_field form.payment_term class="form-control" %}
                    {% if form.payment_term.auto_id  != "id_tos" %}
                        {% if form.payment_term.errors %}<span class="help-inline">{{ form.payment_term.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div id="statement_days" class="{% if customer.is_statement_days %} show {% else %} hide  {% endif %}form-group control-group {% if form.statement_days.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.statement_days.id_for_label }}">{{ form.statement_days.label_tag }}</label>
                <div class="controls">
                    {% render_field form.statement_days class="form-control" %}
                    {% if form.statement_days.auto_id  != "id_tos" %}
                        {% if form.statement_days.errors %}<span class="help-inline">{{ form.statement_days.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            <div id="invoice_days" class="{% if customer.is_statement_days %} hide {% else %} show  {% endif %}form-group control-group {% if form.days.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.days.id_for_label }}">
                    {{ form.days.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.days class="form-control" %}
                    {% if form.days.auto_id  != "id_tos" %}
                        {% if form.days.errors %}
                            <span class="help-inline">{{ form.days.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.is_debit_order_client.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.is_debit_order_client.id_for_label }}">
                    {{ form.is_debit_order_client.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.is_debit_order_client class="form-control" %}
                    {% if form.is_debit_order_client.auto_id  != "id_tos" %}
                        {% if form.is_debit_order_client.errors %}
                            <span class="help-inline">{{ form.is_debit_order_client.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.delivery_term.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.delivery_term.id_for_label }}">
                    {{ form.delivery_term.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.delivery_term class="form-control" %}
                    {% if form.delivery_term.auto_id  != "id_tos" %}
                        {% if form.delivery_term.errors %}
                            <span class="help-inline">{{ form.delivery_term.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.delivery_method.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.delivery_method.id_for_label }}">
                    {{ form.delivery_method.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.delivery_method class="form-control" %}
                    {% if form.delivery_method.auto_id  != "id_tos" %}
                        {% if form.delivery_method.errors %}
                            <span class="help-inline">{{ form.delivery_method.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.document_layout.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.document_layout.id_for_label }}">
                    {{ form.document_layout.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.document_layout class="form-control" %}
                    {% if form.document_layout.auto_id  != "id_tos" %}
                        {% if form.document_layout.errors %}
                            <span class="help-inline">{{ form.document_layout.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <fieldset class="well">
            <legend>Discount and Prices</legend>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Statement Discount Terms</th>
                            <th>Line Discount</th>
                            <th>Invoice Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <input type="checkbox" id="statement_is_discount" name="is_discount_statement"
                                {% if customer and customer.discount_terms.statement.is_discounted %}
                                   checked="checked"
                                {% endif %}
                                />
                            </td>
                            <td>
                                <input type="checkbox" id="line_is_discount" name="is_discount_line"
                                {% if customer and customer.discount_terms.line.is_discounted %}
                                   checked="checked"
                                {% endif %}
                                />
                            </td>
                            <td>
                                <input type="checkbox" id="invoice_is_discount" name="is_discount_invoice"
                                {% if customer and customer.discount_terms.invoice.is_discounted %}
                                   checked="checked"
                                {% endif %}
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td>
                                <input type="text" class="form-control form-control-sm" id="statement_discount" name="discount_price_statement"
                                {% if customer and customer.discount_terms.statement.discount %}
                                   value="{{ customer.discount_terms.statement.discount }}"
                                {% endif %}
                                />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" id="line_discount" name="discount_price_line"
                                {% if customer and customer.discount_terms.line.discount %}
                                   value="{{ customer.discount_terms.line.discount }}"
                                {% endif %}
                                />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" id="invoice_discount" name="discount_price_invoice"
                                {% if customer and customer.discount_terms.invoice.discount %}
                                   value="{{ customer.discount_terms.invoice.discount }}"
                                {% endif %}
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group control-group {% if form.discount_days.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.discount_days.id_for_label }}">
                    {{ form.discount_days.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.discount_days class="form-control" %}
                    {% if form.discount_days.auto_id  != "id_tos" %}
                        {% if form.discount_days.errors %}
                            <span class="help-inline">{{ form.discount_days.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.is_interest_charged.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.is_interest_charged.id_for_label }}">
                    {{ form.is_interest_charged.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.is_interest_charged class="form-control" %}
                    {% if form.is_interest_charged.auto_id  != "id_tos" %}
                        {% if form.is_interest_charged.errors %}
                            <span class="help-inline">{{ form.is_interest_charged.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.interest.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.interest.id_for_label }}">
                    {{ form.interest.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.interest class="form-control" %}
                    {% if form.interest.auto_id  != "id_tos" %}
                        {% if form.interest.errors %}
                            <span class="help-inline">{{ form.interest.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.days_unpaid.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.days_unpaid.id_for_label }}">
                    {{ form.days_unpaid.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.days_unpaid class="form-control" %}
                    {% if form.days_unpaid.auto_id  != "id_tos" %}
                        {% if form.days_unpaid.errors %}
                            <span class="help-inline">{{ form.days_unpaid.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.df_number.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.df_number.id_for_label }}">
                    {{ form.df_number.label_tag }}
                </label>
                <div class="controls">
                    DF-#{% render_field form.df_number class="form-control" %}
                    {% if form.df_number.auto_id  != "id_tos" %}
                        {% if form.df_number.errors %}
                            <span class="help-inline">{{ form.df_number.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.is_price_on_delivery.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.is_price_on_delivery.id_for_label }}">
                    {{ form.is_price_on_delivery.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.is_price_on_delivery class="form-control" %}
                    {% if form.is_price_on_delivery.auto_id  != "id_tos" %}
                        {% if form.is_price_on_delivery.errors %}
                            <span class="help-inline">{{ form.is_price_on_delivery.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <fieldset class="well">
            <legend>Printing Setup</legend>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Documents</th>
                            <th>Print methods for our records</th>
                            <th>Copy to customer</th>
                            <th>Print Method for customer</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for document_type in document_types %}
                            <tr>
                                <td>{{ document_type }}</td>
                                <td>
                                    <select id="record_print_{{ document_type.id }}" name="print_records_{{ document_type.id }}" class="form-control form-control-sm">
                                        <option {% if customer and customer.printing_setup.documents.our_records == 'print' %} selected="selected" {% endif %}
                                                value="print">Print</option>
                                        <option value="email"
                                                {% if customer and customer.printing_setup.documents.our_records == 'email' %} selected="selected" {% endif %}
                                        >Email</option>
                                        <option value="pdf"
                                                {% if customer and customer.printing_setup.documents.our_records == 'pdf' %} selected="selected" {% endif %}
                                        >PDF</option>
                                        <option value="no_print"
                                            {% if customer and customer.printing_setup.documents.our_records == 'no_print' %} selected="selected" {% endif %}
                                        >No Printing</option>
                                        <option value="df_email">Docuflow Email</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" id="copy_{{ document_type.id }}" name="copy_{{ document_type.id }}"
                                       {% if customer and customer.printing_setup.documents.our_records %}
                                           value="{{ customer.printing_setup.documents.copy }}"
                                       {% else %}
                                           value="0"
                                       {% endif %}
                                    />
                                </td>
                                <td>
                                    <select id="customer_print_{{ document_type.id }}" name="print_customers_{{ document_type.id }}" class="form-control form-control-sm">
                                        <option value="print"
                                            {% if customer and customer.printing_setup.documents.customer == 'print' %} selected="selected" {% endif %}
                                        >Print</option>
                                        <option value="email"
                                            {% if customer and customer.printing_setup.documents.customer == 'email' %} selected="selected" {% endif %}
                                        >Email</option>
                                        <option value="pdf"
                                            {% if customer and customer.printing_setup.documents.customer == 'pdf' %} selected="selected" {% endif %}
                                        >PDF</option>
                                        <option value="no_print"
                                            {% if customer and customer.printing_setup.documents.customer == 'no_print' %} selected="selected" {% endif %}
                                        >No Printing</option>
                                        <option value="df_email">Docuflow Email</option>
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="well">
            <legend>Statistics</legend>
            <div class="row">
                <table class="table" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Turnover Ex VAT</th>
                            <th>Gross Profit</th>
                            <th>GP%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Actual This Year</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Actual Prior Year</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </fieldset>
