{% extends 'datatable.html' %}
{% load i18n %}
{% block page_title %}Customer{% endblock page_title %}
{% block datatable %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left">
          </div>
          <div class="pull-right">
             <a class="btn btn-large btn-success" href="{% url 'transfer_salesman' %}"><i class="fa fa-chain-broken"></i> Transfer Salesman</a>
             <a class="btn btn-large btn-success" href="{% url 'import_customers' %}"><i class="fa fa-upload"></i> Import</a>
             <a class="btn btn-large btn-success" href="{% url 'create_customer' %}"><i class="fa fa-plus-circle"></i> Create New</a>
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="customers" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Customer Number</th>
                  <th>Name</th>
                  <th>Vat Number</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Contact Person</th>
                  <th>Payment Term</th>
                  <th>Status</th>
                </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#customers").DataTable({
            serverSide: true,
            ajax: '/api/v1/customers/?format=datatables',
            columns: [
                { data: 'number', name: 'number', searchable: true, title:'Customer Number' },
                { data: 'name', name: 'name', searchable: true, title:'Name' },
                { data: 'vat_number', name: 'vat_number', title:'Vat Number', 'visible': false },
                { data: 'email', name: 'email', searchable: true, title:'Email' },
                { data: 'phone_number', name: 'phone_number', searchable: true, title:'Phone Number' },
                { data: 'contact_person', name: 'contact_person', searchable: true, title:'Contact Person' },
                { data: 'term_of_payment', name: 'term_of_payment', searchable: false, sortable: false, title:'Payment Term' },
                { data: 'is_active', name: 'is_active', searchable: false, title:'Status', className: 'text-center'},
            ],
            columnDefs: [
                {
                    render: function ( data, type, row ) {
                        if (data) {
                            return "<span class=\"text-success fa fa-check\"></span>";
                        } else {
                            return "<span class=\"text-danger fa fa-close\"></span>";
                        }
                    },
                    targets: 7
                },
            ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 2, 'desc' ]],
        });

        $('#customers tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            console.log(rowData)
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'customer_index' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });

    });
    </script>
{% endblock %}