{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Opening Balances - {{ year }} {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel-heading clearfix">
  <div class="pull-left"></div>
  <div class="pull-right">
    <button class="btn btn-success btn-large" type="button" id="copy_opening_balances"
            data-ajax-url="{%  url 'copy_customer_previous_year_balances' year.id %}"
    ><i class="fa fa-copy"></i>  Copy opening balances</button>
  </div>
</div>
<div class="row col-12">
    <table class="table table-bordered table-condensed" width="100%">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Description</th>
                <th class="text-right">Opening Balance</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% if customers|length > 0 %}
            {% for k, customer in customers.items %}
                <tr class="account-row">
                    <td>{{ customer.code }}</td>
                    <td>{{ customer.name }}</td>
                    <td class="text-right">
                        <input type="text" value="{{ customer.opening_balance|money }}"
                               id="opening_balance_{{ customer.id }}"
                               name="opening_balance[{{ customer.id }}]"
                               data-ajax-url="{% url 'update_year_customer_balance' customer_id=customer.id %}"
                               class="account-opening-balance text-right"
                        >
                    </td>
                    <td class="text-center"></td>
                </tr>
            {% endfor %}
            <tr class="totals-row">
                <td>Sum</td>
                <td></td>
                <td class="text-right">
                    <span id="balances_total">{{ total|money }}</span>
                </td>
                <td class="text-center"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">There no accounts</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/opening_balance.js' %}"></script>
    <script type="text/javascript">
        const copyAccountBalances = $("#copy_opening_balances");
        copyAccountBalances.on('click', function(e){
           e.preventDefault();
           copyAccountBalances.html("Processing ...");
           $.getJSON($(this).data('ajax-url'), function(response){
               responseNotification(response)
               copyAccountBalances.html("<i class='fa fa-copy'></i> Copy opening balances");
           })
        });

    </script>
{% endblock %}