{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags vat%}

<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left">
         {% display_logo company 200 75 %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        {% include "sales/address/company.html" %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-right">
        <table class="table table-borderless table-condensed">
            <tr>
                <td colspan="2"><strong class="h4">Statement</strong></td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ invoice.invoice_date|date:'d-M-Y' }}</td>
            </tr>
            <tr>
                <td>Account Number</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body sales-items">
                <div class="table-responsive">
                   <table width="100%" class="table">
                        <tr class="item-titles">
                            <th class="po-brdr-r po-pad-left">Date</th>
                            <th class="po-brdr-r po-pad-left">Reference</th>
                            <th class="po-brdr-r po-pad-right text-right">Description</th>
                            <th class="po-brdr-r po-right-align text-right">Debit</th>
                            <th class="po-brdr-r po-pad-left text-right">Credit</th>
                            <th class="po-brdr-r po-pad-left text-right">Balance</th>
                        </tr>
                        {% for invoice in invoices %}
                                <tr class="line-items">
                                    <td>
                                        {{ invoice.invoice_date }}
                                    </td>
                                    <td>{{ invoice }}</td>
                                    <td class="text-right">{{ invoice }}</td>
                                    <td class="text-right">{{ invoice.debit|money }}</td>
                                    <td class="text-right">{{ invoice.credit|money  }}%</td>
                                    <td class="text-right">{{ invoice.balance|money }}</td>
                                </tr>
                        {% empty %}
                            <tr class="line-items">
                                <td colspan="5">No invoices found</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <table width="100%" class="table table-bordered">
            <tr>
                <td class="po-total">120+ Days</td>
                <td class="po-total">90 Days</td>
                <td class="po-total">60 Days</td>
                <td class="po-total">30 Days</td>
                <td class="po-total">Current</td>
            </tr>
            <tr>
                <td class="po-total text-right" >R&nbsp;{{ invoice.total_amount|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ invoice.total_amount|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ invoice.total_amount|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ invoice.total_amount|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ invoice.total_amount|money }}</td>
            </tr>
        </table>
    </div>
</div>
