{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} INVENTORY ITEM VIEW {% endblock page_title %}
{% block content %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                    <input type="text" id="view_inventory_item" class="form-control-sm autocomplete-inventory-item"
                           data-ajax-url="{% url 'inventory_item_search_list' %}" >
                <button id="search_inventory_item" class="btn btn-primary"
                 class="btn btn-large btn-success btn-loading create-journal"
                        data-loading-text="<i class='fa fa-spinner'></i> Loading"
                        data-ajax-url="{% url 'search_inventory_item' %}"
                >Search</button>
            </div>

          <div class="pull-right">
              &nbsp;
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="col-sm-12" id="inventory_item_detail" data-ajax-url="{% url 'detailed_view_inventory_item' %}">

        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/purchase_order.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}