{% extends 'base.html' %}
{% block page_title %} Years {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-right">
        <a href="{% url 'create_year' %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> New
        </a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Year End</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Last Period Open</th>
                    <th>Status</th>
                    <th>Change</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for year in years %}
                    <tr>
                        <td onclick="openDetail(this)" data-detail-url="{% url 'edit_year' year.id %}">{{ year.year }}</td>
                        <td onclick="openDetail(this)" data-detail-url="{% url 'edit_year' year.id %}">{{ year.start_date }}</td>
                        <td onclick="openDetail(this)" data-detail-url="{% url 'edit_year' year.id %}">{{ year.year_end_at }}</td>
                        <td onclick="openDetail(this)" data-detail-url="{% url 'edit_year' year.id %}">
                            {% if year.last_period_open %}{{ year.last_period_open }}{% else %}-{% endif %}
                        </td>
                        <td onclick="openDetail(this)" data-detail-url="{% url 'edit_year' year.id %}">
                            {% if year.is_running %}
                                <span class="text-info bold">{{ year.status }}</span>
                            {% elif year.is_closing %}
                                <span class="text-warning bold">{{ year.status }}</span>
                            {% elif year.is_final %}
                                <span class="text-success bold">{{ year.status }}</span>
                            {% else %}
                                <span class="text-danger bold">{{ year.status }}</span>
                            {% endif %}
                        </td>
                        <td class="text-left actions">
                            {% if year.can_be_started %}
                                <a href="javascript:void(0);" data-ajax-url="{% url 'change_year_status' pk=year.id to='start' %}"
                                   class="year-status" id="change_to_started">Start</a>
                            {% elif year.is_closing %}
                                <a href="javascript:void(0);" data-ajax-url="{% url 'change_year_status' pk=year.id to='final' %}"
                                   class="year-status" id="change_to_final">Change to final</a>
                            {% endif %}
                        </td>
                        <td class="text-left actions">
                            <a href="{% url 'edit_year' year.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary"
                               data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">There are no years set </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $('.year-status').on("click", function(e){
                e.preventDefault();
                $.getJSON($(this).data('ajax-url'), function(response){
                    responseNotification(response)
                });
            });
        });
        function updateCurrentActiveYear(el, year_id)
        {
            $.post($(el).data('ajax-url'), {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}