{% extends 'base.html' %}
{% load static %}
{% block page_title %} Copy Opening Balances {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group">
        <p>Do you want to copy the closing balances on the General Ledger for each account to the {{ year }} table</p>
        <a href="{% url 'years_index' %}" class="btn btn-danger btn-large" ><i class="fa fa-warning"></i>  No</a>
        <button class="btn btn-success btn-large" type="button" id="copy_opening_balances"
                data-ajax-url="{%  url 'copy_previous_year_balances' year.id %}"
        ><i class="fa fa-save"></i>  Yes</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript">
        var copyAccountBalances = $("#copy_opening_balances");
        copyAccountBalances.on('click', function(e){
           e.preventDefault();
           copyAccountBalances.html("Processing ...");
           $.getJSON($(this).data('ajax-url'), function(response){
               responseNotification(response)
               copyAccountBalances.html("<i class='fa fa-save'></i> Yes");
           })
        });

    </script>
{% endblock %}