{% if profile_years|length > 0 %}
    <ul class="list-unstyled nav dropdown-menu dropdown-menu-right">
        {% for year in profile_years %}
            <li>
                {% if default_year_id == year.id %}
                    <a class="profile-year profile-item" href="javascript:void(0);" data-ajax-url="{% url 'change_year' year.id %}?next={{request.path}}">{{ year }}</a>
                {% else %}
                    <a class="profile-year profile-item" href="javascript:void(0);" data-ajax-url="{% url 'change_year' year.id %}?next={{request.path}}">{{ year }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}