{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Edit Role{% endblock page_title %}
{% block content %}
   <style type="text/css">
      #id_permissions{
          height: 500px !important;
      }
   </style>
   <form method="post" novalidate="novalidate">
            <fieldset class="well">
                <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
                    <label class="control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
                    <div class="controls">
                        {{ form.name|attr:"class:form-control"  }}
                        {% if form.name.auto_id  != "id_tos" %}
                            {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row" id="permissions">
                    <div class="form-group col-sm-4">
                        {{ form.permissions|attr:"class:form-control" }}
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
                        <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block">
                            <i class="fa fa-angle-double-right"></i>
                        </button>
                        <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                        <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block">
                            <i class="fa fa-angle-double-left"></i>
                        </button>
                        <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
                    </div>
                    <div class="form-group col-sm-4">

                    </div>
            </div>
        </fieldset>
    <div class="form-group">
      <button class="btn btn-primary btn-large" name="submit" type="submit" tabindex="11"><i class="fa fa-check"></i> Update!</button>
    </div>
</form>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{% static 'js/vendor/multiselect/multiselect.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_permissions').multiselect({
                search: {
                    left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                    right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                },
                fireSearch: function(value) {
                    return value.length > 3;
                }
            });
        });
    </script>
{% endblock %}
