{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %}Permission  {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_role' %}" class="btn btn-sm btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a role
        </a>
    </div>
    <style type="text/css">
    tbody>tr:hover{
        background-color: lightgray;
        border-top: 1px solid #000000;
    }
    </style>
    <br />
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="table-responsive">
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Group</th>
                    <th>Supervisor Role</th>
                    <th>Manager Role</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                    <tr onclick="openDetail(this)" data-detail-url="{% url 'role_permission_detail' role_id=role.id %}">
                       <td>{{ role.name }}</td>
                       <td>{{ role.label }}</td>
                       <td>
                            <span class="label label-primary">{{ role.permission_group }}</span>
                       </td>
                       <td>{{ role.supervisor_role }}</td>
                        <td>{{ role.manager_role }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">There are no roles available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}