{% extends 'base.html' %}
{% block page_title %} Roles {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create-roles' %}" class="btn labeled btn-default" role="button">
            <i class="icon icon-plus"></i> Create a role
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if roles %}
                    {% for role in roles %}
                            <tr>
                                <td class="task-desc">
                                    <a href="">{{ role.label }}</a>
                                </td>
                                <td class="text-left actions">
                                    <a class="btn btn-primary btn-xs" href="{% url 'update-roles' role.id   %}">Edit</a> |
                                    <a class="btn btn-primary btn-xs" href="{% url 'update-roles' role.id   %}">Members</a> |
                                    <a class="btn btn-primary btn-xs" href="{% url 'role-permissions' role.id   %}">Role Permissions</a> |
                                    <a class="btn btn-danger btn-xs" href="{% url 'update-roles' role.id   %}">Delete</a>
                                </td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no roles available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}