{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Stock Count{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <a class="btn btn-large btn-success"
                   href="{% url 'create_stock_count' %}">Create New</a>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Document</th>
                        <th>Document Type</th>
                        <th>Supplier No</th>
                        <th>Supplier</th>
                        <th>Doc Date</th>
                        <th>Ex Vat</th>
                        <th>Incl Vat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if goods %}
                        {% for good in goods %}
                            <tr>
                                <td>{{ good.inventory_item }}</td>
                                <td>{{ good.movement_type }}</td>
                                <td>{{ good.supplier.code }}</td>
                                <td>{{ good.supplier }}</td>
                                <td>{{ good.created_at }}</td>
                                <td>{{ good.inventory_item }}</td>
                                <td>{{ good.inventory_item }}</td>
                                <td>
                                    <input type="checkbox" class="checkbox-input action"
                                           name="action"
                                           id="action"
                                           value="action" />
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no goods received or returned</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}