{% load invoice_tags %}
<tr id="sales_item_{{ row_id }}" class="sales-items invoice_item_row" data-row-id="{{ row_id }}">
    <td >
        <select class="form-control form-control-sm chosen-select line-type"
                name="type_{{ row_id }}" data-row-id="{{ row_id }}"
                id="type_{{ row_id }}" data-ajax-url="{% url 'add_estimate_items' %}">
            <option value="i" {% if line_type == 'i' %} selected="selected" {% endif %}>I</option>
            <option value="t" {% if line_type == 't' %} selected="selected" {% endif %}>T</option>
            <option value="g" {% if line_type == 'g' %} selected="selected" {% endif %}>G</option>
        </select>
    </td>
    <td>
        <input class="form-control" name="description_{{ row_id }}" id="description_{{ row_id }}" />
        <select class="form-control chosen-select model-search-{{ row_id }}" name="account_{{ row_id }}"
               id="account_{{ row_id }}"
                data-model="account"
                data-ajax-url="{% url 'company_accounts_search' %}"
{#                data-ajax-detail-url="{% url 'api_account_detail' %}"#}
                style="width: 80px !important;"
        >
             <option value="">--</option>
        </select>
    </td>
    <td>
        <input type="text" class="form-control form-control-sm quantity" value=""
               name="quantity_{{ row_id }}"
               id="quantity_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >        
{#        <input type="text" class="form-control form-control-sm ordered" value=""#}
{#               name="ordered_{{ row_id }}"#}
{#               id="ordered_{{ row_id }}"#}
{#               data-item-id="{{ row_id }}"#}
{#               placeholder="1"#}
{#        >#}
    </td>
    <td>
        <input type="text" readonly="readonly" class="form-control form-control-sm" value="0"
               id="order_quantity_{{ row_id }}"
               data-item-id="{{ row_id }}"
               placeholder="1"
        >
        <input type="hidden" class="form-control form-control-sm" readonly="readonly" value="1"
               name="allow_negative_stock_{{ row_id }}"
               id="allow_negative_stock_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
        <input type="hidden" class="form-control form-control-sm unit"
           name="unit_id_{{ row_id }}"
           id="unit_id_{{ row_id }}"
           data-item-id="{{ row_id }}"
           value="" />
{#        <input type="hidden" class="net-weight"#}
{#               id="net_weight_{{ row_id }}"#}
{#               data-item-id="{{ row_id }}"#}
{#               value="" />#}
{#        <input type="hidden" class="gross-weight"#}
{#               id="gross_weight_{{ row_id }}"#}
{#               data-item-id="{{ row_id }}"#}
{#               value="" />#}
    </td>
    <td class="text-right" >
        <input type="text" class="form-control form-control-sm price"
               name="price_{{ row_id }}"
               id="price_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
        <input type="hidden" value=""
               name="price_including_{{ row_id }}"
               id="price_including_{{ row_id }}"
               class="price-including" />
    </td>
    <td >
        <input type="text" class="form-control form-control-sm discount" value=""
               name="discount_percentage_{{ row_id }}"
               id="discount_percentage_{{ row_id }}"
               data-item-id="{{ row_id }}"
               placeholder="0"
        />
    </td>
    <td class="text-right" >
        <span class="discount-amount" id="discount_amount_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" class="form-control form-control-sm total-discount" value="" readonly="readonly"
               name="total_discount_{{ row_id }}"
               id="total_discount_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-right" >
        <span class="price-exc" id="total_price_exl_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" value=""
               name="total_price_excluding_{{ row_id }}"
               id="total_price_excluding_{{ row_id }}"
               class="total-price-excl open-input"
        >
        <input type="hidden" value="}"
               name="sub_total_{{ row_id }}"
               id="sub_total_{{ row_id }}"
               class="sub-total"
        />
    </td>
    <td >
        <select class="form-control form-control-sm vat"
               name="vat_code_{{ row_id }}"
               id="vat_code_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
            {% for vat_code in vat_codes %}
                <option value="{{ vat_code.id }}"
                        data-percentage="{{ vat_code.percentage }}"
                        selected="{% if vat_code.is_default %} selected {% endif %}"
                >{{ vat_code.code }}</option>
            {% endfor %}
        </select>
            <input type="hidden" value="{{ default_vat_code.percentage }}"
                   name="vat_percentage_{{ row_id }}"
                   id="vat_percentage_{{ row_id }}"
                   class="vat-percentage"
            />
    </td>
    <td class="text-right" >
        <span class="total-vat" id="vat_total_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" value=""
               name="total_vat_{{ row_id }}"{{ row_id }}
               id="total_vat_{{ row_id }}"
               class="total-vat-amount"
        >
    </td>
    <td class="text-right" >
        <span class="price" id="total_price_incl_{{ row_id }}"></span>
        <input type="hidden" value="" name="total_price_including_{{ row_id }}"
               id="total_price_including_{{ row_id }}"
               class="total-price-incl open-input"
        >
    </td>
    <td class="text-center">
        {% if is_deletable %}
            <a href="javascript:void(0);" data-row-id="{{ row_id }}" class="delete-row" id="delete_{{ row_id }}">
                <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row_id }}"></i>
            </a>
        {% endif %}
    </td>
</tr>