{% extends 'base.html' %}
{% load static %}
{% load invoice_tags company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% block page_title %}Create Cash Estimate{{ invoice_type }} {% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="estimate_form"
  action="{% url 'create_cash_estimate' %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">&nbsp;&nbsp;
         <div class="pull-right">
            <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_continue"
                    data-action="continue"
                    id="submit_estimate_and_continue"><i class="fa fa-save"></i> Save and Continue</button>
            <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_email"
                    data-action="email"
                    id="submit_estimate_and_email"><i class="fa fa-save"></i> Save and Send Email</button>
            <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_send_to_df"
                    data-action="send_to_df"
                    id="submit_estimate_and_send_to_df"><i class="fa fa-save"></i> Save and Send to DF</button>
            <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_print"
                    data-action="print"
                    id="submit_estimate_and_print"><i class="fa fa-save"></i> Save and Print</button>
         </div>
      </div>
      <div class="panel-body aligin-center">
           <div class="sales-invoice">
                <table class="table table-condensed table-bordered" id="estimate-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="line" width="50%">
                                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                                         <div class="controls">
                                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                                            {% if form.branch.auto_id  != "id_tos" %}
                                                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="line" width=50%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        <div id="">
                                           {% display_logo company 200 75 %}
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">CASH ESTIMATE</strong><br><br>
                                        Number:&nbsp;&nbsp;#
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ date.date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td><strong>Customer:</strong></td>
                                     <td><strong>Shipping To:</strong></td>
                                     <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% render_field form.customer_name class="form-control form-control-sm" tabindex=1  %}
                                        {% if form.customer_name.auto_id  != "id_tos" %}
                                            {% if form.customer_name.errors %}<span class="help-inline">{{ form.customer_name.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="form-group control-group">
                                            <label class="col-sm-4 control-label">Pick Up</label>
                                            <div class="col-sm-8">
                                                {% render_field form.is_pick_up class="form-control checkbox-input checkbox-inline" tabindex=1  %}
{#                                                <input type="checkbox" {% if is_pick_up %} checked="checked" {% endif %}#}
{#                                                       class="form-control checkbox-input checkbox-inline"#}
{#                                                       name="pick_up" id="pick_up" tabindex="6" />#}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.period.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.period class="form-control form-control-sm" tabindex="11" %}
                                                {% if form.period.auto_id  != "id_tos" %}
                                                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control postal" name="postal_street" id="street"  tabindex=2
                                            {% if invoice and invoice.postal.street %}
                                               value="{{ invoice.postal.street }}"
                                            {% endif %}
                                            placeholder="Street"
                                            />
                                    </td>
                                    <td>
                                        <div class="a-delivery" style="{% if is_pick_up %} visibility: hidden; {% endif %}">
                                            <input class="form-control delivery delivery-address" name="delivery_street" id="street" tabindex="7"
                                                {% if invoice and invoice.delivery.street %}
                                                   value="{{ invoice.delivery.street }}"
                                                {% endif %}
                                                placeholder="Delivery Street"
                                                />
                                        </div>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.date class="form-control form-control-sm datepicker" tabindex="12" %}
                                                {% if form.date.auto_id  != "id_tos" %}
                                                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                   <input class="form-control postal" name="postal_city" id="city"  tabindex=3
                                        {% if invoice and invoice.postal.city %}
                                           value="{{ invoice.postal.city}}"
                                        {% endif %}
                                        placeholder="City"
                                    />
                                    </td>
                                    <td>
                                       <div class="a-delivery" style="{% if is_pick_up %} visibility: hidden; {% endif %}">
                                         <input class="form-control delivery delivery-address" name="delivery_city" id="city" tabindex="8"
                                            {% if invoice and invoice.delivery.city %}
                                               value="{{ invoice.delivery.city}}"
                                            {% endif %}
                                            placeholder="Delivery City"
                                         />
                                      </div>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.expires_at.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.expires_at.id_for_label }}">{{ form.expires_at.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {{ expires_at }}
                                                {% render_field form.expires_at class="form-control form-control-sm future_datepicker" tabindex="13" %}
                                                {% if form.expires_at.auto_id  != "id_tos" %}
                                                    {% if form.expires_at.errors %}<span class="help-inline">{{ form.expires_at.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        {% render_field form.postal_province class="form-control chosen-select" tabindex=4 style="width:350px" %}
                                        {% if form.postal_province.auto_id  != "id_tos" %}
                                            {% if form.postal_province.errors %}
                                                <span class="help-inline">{{ form.postal_province.errors }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="a-delivery" style="{% if is_pick_up %} visibility: hidden; {% endif %}">
                                            {% render_field form.delivery_province class="form-control delivery-address chosen-select" tabindex="9" style="width:350px" %}
                                            {% if form.delivery_province.auto_id  != "id_tos" %}
                                                {% if form.delivery_province.errors %}
                                                    <span class="help-inline">{{ form.delivery_province.errors }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.phone_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.phone_number class="form-control form-control-sm" tabindex="13" %}
                                                {% if form.phone_number.auto_id  != "id_tos" %}
                                                    {% if form.phone_number.errors %}<span class="help-inline">{{ form.phone_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       {% render_field form.postal_country class="form-control chosen-select" tabindex=5 style="width:350px" %}
                                       {% if form.postal_country.auto_id  != "id_tos" %}
                                          {% if form.postal_country.errors %}
                                              <span class="help-inline">{{ form.postal_country.errors }}</span>
                                          {% endif %}
                                       {% endif %}
                                    </td>
                                    <td>
                                        <div class="a-delivery" style="{% if is_pick_up %} visibility: hidden; {% endif %}">
                                            {% render_field form.delivery_country class="form-control delivery-address chosen-select" tabindex="10" style="width:350px" %}
                                            {% if form.delivery_country.auto_id  != "id_tos" %}
                                                {% if form.delivery_country.errors %}
                                                    <span class="help-inline">{{ form.delivery_country.errors }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="text-right"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" colspan="{{ cols }}">
                        <div class="form-group control-group {% if form.notes.errors %}error{% endif %}">
                            <label class="control-label txt-font12" for="{{ form.notes.id_for_label }}">{{ form.notes.label_tag }}</label>
                            <div class="controls">
                                {% render_field form.notes class="form-control form-control-sm"  tabindex="14"%}
                                {% if form.notes.auto_id  != "id_tos" %}
                                    {% if form.notes.errors %}<span class="help-inline">{{ form.notes.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">ESTIMATE CREATED BY</td>
                                    <td class="text-center" colspan="3">DATE CREATED</td>
                                    <td class="text-center" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if profile %}{{ profile }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if date %}{{ date|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if date %}{{ date|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3">{{ branch }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table class="table" width="100%">
                                <tr>
                                    <th>Type</th>
                                    <th>Stock Code/Description</th>
                                    <th class="text-left">Quantity</th>
                                    <th class="text-right">Unit</th>
                                    <th class="text-left">Unit Price</th>
                                    <th class="text-right">Disc(%)</th>
                                    <th class="text-right">Discount</th>
                                    <th class="text-right">Net Price</th>
                                    <th class="text-right">Vat</th>
                                    <th class="text-right">Vat Amount</th>
                                    <th class="text-right">Total Incl</th>
                                    <th class=""></th>
                                </tr>
                                <tbody id="estimate_items_body" data-ajax-url="{% url 'add_estimate_items' %}">
                                    <tr id="estimate_items_placeholder">
                                        <td colspan="12">
                                            <img src="{% static 'images/loader.gif' %}">
                                        </td>
                                    </tr>
                                    <tr id="actions">
                                        <td class="text-right" colspan="12">
                                            <button type="button" id="add_estimate_line" class="btn btn-primary"
                                                    data-ajax-url="{% url 'add_estimate_items' %}"
                                            >Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr class="totals">
                        <td colspan="{{ cols }}" class="text-right">
                            <table width="100%" class="table">
                              <tr>
                                    <td class="po-total" colspan="14">SUB TOTAL</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="sub_total"></span>
                                        {% render_field form.sub_total %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">LINE DISCOUNTS</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_discount"></span>
                                        {% render_field form.line_discount %}
                                    </td>
                                </tr>
                                <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                    <td class="po-total" colspan="14">CUSTOMER DISCOUNTS</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="customer_invoice_discounts"></span>
                                        {% render_field form.customer_discount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">NETT TOTAL</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="net_total"></span>
                                        {% render_field form.net_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">VAT</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_vat_amount"></span>
                                        {% render_field form.vat_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">TOTAL ESTIMATE VALUE</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_order_value"></span>
                                        {% render_field form.total_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="space" colspan="{{ cols }}">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Gross Weight</td>
                                    <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Net Weight</td>
                                    <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Total Items</td>
                                    <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="customer-discount-calculation" style="display: none;" id="calculation_summary">
                        <td class="text-left" colspan="3">
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">Vat Summary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vat on line ordered</td>
                                        <td class="text-right">{{ estimate.vat_amount|money }}</td>
                                    </tr>
                                    <tr>
                                        <td>Vat on customer discounts</td>
                                        <td class="text-right">{{ estimate.vat_on_customer_discount|money }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right">{{ estimate.total_customer_invoice_vat|money }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <td class="space" colspan="8">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
                <div class="form-group">
                   <span class="ajax-loader" id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
                </div>
                <div class="controls text-right">
                    <input type="hidden" id="default_vat" value="{{ default_vat }}">
{#                    <div class="form-group {% if form.is_picking_slip_required.errors %}error{% endif %}">#}
{#                        <label class=" control-label txt-font12" for="{{ form.is_picking_slip_required.id_for_label }}">{{ form.is_picking_slip_required.label_tag }}</label>#}
{#                        <div class="controls">#}
{#                            {% render_field form.is_picking_slip_required class="form-control"  %}#}
{#                            {% if form.is_picking_slip_required.auto_id  != "id_tos" %}#}
{#                                {% if form.is_picking_slip_required.errors %}<span class="help-inline">{{ form.is_picking_slip_required.errors }}</span>{% endif %}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}

                </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/estimate.js' %}"></script>
{% endblock %}