{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Create Customer Estimate {% endblock page_title %}
{% block stylesheet %}

{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="estimate_form"
      action="{% url 'create_customer_estimate' %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
            <a href="{% url 'estimates_index' %}" class="btn btn-warning"><i class="fa fa-ban"></i> Cancel</a>
            <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_continue"
                    id="submit_estimate_and_continue"
                    data-action="continue"><i class="fa fa-forward"></i> Continue</button>
            <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_email"
                    id="submit_estimate_and_email"
                    data-action="email"><i class="fa fa-envelope"></i> Send Email</button>
            <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_send_to_df"
                    id="submit_estimate_and_send_to_df"
                    data-action="send_to_df"><i class="fa fa-file-pdf-o"></i> Send to DF</button>
            <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_print"
                    id="submit_estimate_and_print"
                    data-action="print"><i class="fa fa-print"></i> Print</button>
          </div>
      </div>
      <div class="panel-body aligin-center">
           <div id="sales-document">
                <table class="table table-condensed table-bordered" id="estimate-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="line" width="50%">
                                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                                         <div class="controls">
                                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                                            {% if form.branch.auto_id  != "id_tos" %}
                                                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="line" width=50%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        <div id="">
                                            {% display_logo company 200 75 %}
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">ESTIMATE</strong><br><br>
                                        Number:&nbsp;&nbsp;#
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td><strong>Customer:</strong></td>
                                     <td><strong>Shipping To:</strong></td>
                                     <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% render_field form.customer class="form-control form-control-sm chosen-select"  %}
                                        {% if form.customer.auto_id  != "id_tos" %}
                                            {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                        {% endif %}
                                        <input type="hidden" id="line_discount">
                                        <input type="hidden" id="invoice_discount">
                                        <a href="{% url 'create_customer' %}?redirect={% url 'create_customer_estimate' %}"><i class="fa fa-plus"></i></a>
                                    </td>
                                    <td></td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.period.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.period class="form-control form-control-sm" %}
                                                {% if form.period.auto_id  != "id_tos" %}
                                                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span name="postal_street" id="postal_street"></span>
                                    </td>
                                    <td><span class="delivery" id="delivery_street"></span></td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.date class="form-control form-control-sm datepicker" %}
                                                {% if form.date.auto_id  != "id_tos" %}
                                                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="postal" id="postal_city"></span></td>
                                    <td><span class="delivery" id="delivery_city"></span></td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.expires_at.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.expires_at.id_for_label }}">{{ form.expires_at.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.expires_at class="form-control form-control-sm future_datepicker" %}
                                                {% if form.expires_at.auto_id  != "id_tos" %}
                                                    {% if form.expires_at.errors %}<span class="help-inline">{{ form.expires_at.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="postal" id="postal_province"></span></td>
                                    <td>
                                        <span class="delivery" id="delivery_province"></span>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group">
                                            <label class="col-sm-4 control-label txt-font12" for="pricing">Salesman</label>
                                            <div class="col-sm-8">
                                            {% render_field form.salesman class="form-control form-control-sm chosen-select" %}
                                            {% if form.salesman.auto_id  != "id_tos" %}
                                                {% if form.salesman.errors %}<span class="help-inline">{{ form.salesman.errors }}</span>{% endif %}
                                            {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="postal" id="postal_country"></span></td>
                                    <td><span class="delivery" id="delivery_country"></span></td>
                                    <td class="text-right">
                                         <div class="form-group control-group">
                                            <label class="col-sm-4 control-label txt-font12" for="pricing">Pricing</label>
                                             <div class="col-sm-8">
                                                <select id="id_pricing" name="pricing" class="form-control form-control-sm">

                                                </select>
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="text-right">

                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="text-right">

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" colspan="{{ cols }}">
                        <div class="form-group control-group {% if form.notes.errors %}error{% endif %}">
                            <label class="control-label txt-font12" for="{{ form.notes.id_for_label }}">{{ form.notes.label_tag }}</label>
                            <div class="controls">
                                {% render_field form.notes class="form-control form-control-sm" %}
                                {% if form.notes.auto_id  != "id_tos" %}
                                    {% if form.notes.errors %}<span class="help-inline">{{ form.notes.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">ESTIMATE CREATED BY</td>
                                    <td class="text-left" colspan="3">DATE CREATED</td>
                                    <td class="text-left" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if profile %}{{ profile }}{% endif %}</td>
                                    <td class="text-left" colspan="3">{% if date %}{{ date|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-left" colspan="3">{% if date %}{{ date|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3"><span id="branch_text">{{ branch }}</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <div id="estimate_items">
                                <table class="table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Code/Description</th>
                                            <th>Quantity</th>
                                            <th>Unit</th>
                                            <th>Price</th>
                                            <th>Disc(%)</th>
                                            <th>Discount Amount</th>
                                            <th>Net Price</th>
                                            <th>Vat</th>
                                            <th>Vat Amount</th>
                                            <th>Total</th>
                                            <th>Order Item</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="estimate_items_body" data-ajax-url="{% url 'add_estimate_items' %}">
                                        <tr id="estimate_items_placeholder">
                                            <td colspan="13">
                                                <img src="{% static 'images/loader.gif' %}">
                                            </td>
                                        </tr>
                                        <tr id="actions">
                                            <td class="text-right" colspan="13">
                                                <button type="button" id="add_estimate_line" class="btn btn-primary"
                                                        data-ajax-url="{% url 'add_estimate_items' %}"
                                                >Add</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr class="totals">
                        <td colspan="{{ cols }}" class="text-right">
                            <table width="100%" class="table">
                                <tr>
                                    <td class="po-total" colspan="14">SUB TOTAL</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="sub_total"></span>
                                        {% render_field form.sub_total %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">LINE DISCOUNTS</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_discount"></span>
                                        {% render_field form.line_discount %}
                                    </td>
                                </tr>
                                <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                    <td class="po-total" colspan="14">CUSTOMER DISCOUNTS</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="customer_invoice_discounts"></span>
                                        {% render_field form.customer_discount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">NETT TOTAL</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="net_total"></span>
                                        {% render_field form.net_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">VAT</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_vat_amount"></span>
                                        {% render_field form.vat_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">TOTAL DELIVERY VALUE</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_order_value"></span>
                                        {% render_field form.total_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="space" colspan="{{ cols }}">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Gross Weight</td>
                                    <td class="po-total" >&nbsp;{{ estimate.gross_weight|money }}</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Net Weight</td>
                                    <td class="po-total" >&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Total Items</td>
                                    <td class="po-total" >&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="customer-discount-calculation" style="display: none;" id="calculation_summary">
                        <td colspan="1" class="align-left">
                            <table class="table table-bordered table-condensed table-striped" width="50%">
                                <thead>
                                    <tr>
                                        <th>Vat Recon</th>
                                        <th class="text-right">Excl</th>
                                        <th class="text-right">Vat</th>
                                    </tr>
                                </thead>
                                <tbody id="summary_body">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                        <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <td colspan="11">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Signed by Customer as received</td>
                        <td class="text-right writtable" colspan=4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Print Name:</td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Date: </td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
                <div class="form-group">
                   <span class="ajax-loader" id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
                </div>
                <div class="controls text-right">
                    <input type="hidden" id="default_vat" value="{{ default_vat }}">
                </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/estimate.js' %}"></script>
{% endblock %}