{% extends 'base.html' %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load company_tags invoice_tags sales_tags %}
{% block page_title %}Create Proforma {{ invoice_type }} {% endblock page_title %}
{% block stylesheet %}{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="sales_invoice_form" action="{% url 'create_proforma_invoice' %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <a href="{% url 'sales_proforma_invoice_index' %}" class="btn btn-warning">Cancel</a>
                <button type="button" class="btn btn-primary btn-large save-invoice" name="submit_invoice"
                        data-action="save"
                        id="submit_invoice"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
        <div class="panel-body align-center">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                         <div class="controls">
                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                            {% if form.branch.auto_id  != "id_tos" %}
                            {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-8"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    {% display_logo company 200 75 %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                        {% include "sales/address/company.html" %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <table class="table" width="100%">
                        <tr>
                            <td colspan="2">
                                <strong class="h4" id="estimate_type">{{ invoice_type }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Vat Registration Number:</td>
                            <td>{{ company.vat_number }}</td>
                        </tr>
                        <tr>
                            <td> Document Number:</td>
                            <td>#</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="customer-data">
                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">
                            <div class="pull-left">Customer</div>
                            <div class="pull-right">
                                <a href="{% url 'create_customer' %}?redirect={% url 'create_estimate' %}"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="form-group">
                                {% render_field form.customer class="form-control form-control-sm chosen-select"  %}
                                {% if form.customer.auto_id  != "id_tos" %}
                                    {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                {% endif %}
                                <input type="hidden" id="line_discount">
                                <input type="hidden" id="invoice_discount" name="discount_percentage">
                                <div id="customer_full_name"></div>
                            </div>
                            <div id="customer_details">
                                <div class="customer">
                                    <span id="postal_street"></span>
                                    <span class="postal" id="postal_city"></span>
                                    <span class="postal" id="postal_province"></span>
                                    <span class="postal" id="postal_country"></span>
                                    <input type="hidden" name="credit_limit" id="credit_limit" value="0">
                                    <span class="font-italic" id="credit_limit_val"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">
                            <div class="pull-left">Deliver To:</div>
                            <div class="pull-right">
                                Pick Up &nbsp;&nbsp; {% render_field form.is_pick_up class="" tabindex=1  %}
                            </div>
                        </div>
                        <div class="panel-body" style="padding: 5px;">
                            <div id="delivery_is_pick_up" style="display: none;">Pick Up</div>
                            <div class="clearfix"></div>
                            <div id="shipping_to">
                                <span class="delivery" id="delivery_street"></span>
                                <span class="delivery" id="delivery_city"></span>
                                <span class="delivery" id="delivery_province"></span>
                                <span class="delivery" id="delivery_country"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body" style="padding: 5px;">
                            <table class="table">
                                <tr class=" {% if form.estimate_number.errors %}error{% endif %}">
                                    <td>{{ form.estimate_number.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.estimate_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                        {% if form.estimate_number.auto_id  != "id_tos" %}
                                            {% if form.estimate_number.errors %}<span class="help-inline">{{ form.estimate_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.po_number.errors %}error{% endif %}">
                                    <td>{{ form.po_number.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.po_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                        {% if form.po_number.auto_id  != "id_tos" %}
                                            {% if form.po_number.errors %}<span class="help-inline">{{ form.po_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.vat_number.errors %}error{% endif %}">
                                    <td>{{ form.vat_number.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.vat_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                        {% if form.vat_number.auto_id  != "id_tos" %}
                                            {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.period.errors %}error{% endif %}">
                                    <td>{{ form.period.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.period class="form-control form-control-sm" %}
                                        {% if form.period.auto_id  != "id_tos" %}
                                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.invoice_date.errors %}error{% endif %}">
                                    <td>{{ form.invoice_date.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.invoice_date class="form-control form-control-sm datepicker" %}
                                        {% if form.invoice_date.auto_id  != "id_tos" %}
                                            {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.due_date.errors %}error{% endif %}">
                                    <td>{{ form.due_date.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.due_date class="form-control form-control-sm datepicker" %}
                                        {% if form.due_date.auto_id  != "id_tos" %}
                                            {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.salesman.errors %}error{% endif %}">
                                    <td><label class="col-sm-4 control-label txt-font12" for="salesman">Salesman</label></td>
                                    <td class="text-right">
                                        {% render_field form.salesman class="form-control form-control-sm" %}
                                        {% if form.salesman.auto_id  != "id_tos" %}
                                            {% if form.salesman.errors %}<span class="help-inline">{{ form.salesman.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.pricing.errors %}error{% endif %}">
                                    <td><label class="col-sm-4 control-label txt-font12" for="pricing">Pricing</label></td>
                                    <td class="text-right">
                                        <select id="id_pricing" name="pricing" class="form-control form-control-sm"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" width="100%">
                                    <tr>
                                        <th>Type</th>
                                        <th>Stock Code/Description</th>
                                        <th class="text-left">Quantity</th>
                                        <th class="text-right">Unit</th>
                                        <th class="text-left">Unit Price</th>
                                        <th class="text-right">Disc(%)</th>
                                        <th class="text-right">Discount</th>
                                        <th class="text-right">Net Price</th>
                                        <th class="text-right">Vat</th>
                                        <th class="text-right">Vat Amount</th>
                                        <th class="text-right">Total Incl</th>
                                        <th class=""></th>
                                    </tr>
                                    <tbody id="invoice_items_body" data-ajax-url="{% url 'add_proforma_invoice_items' %}">
                                        <tr id="invoice_items_placeholder">
                                            <td colspan="12">
                                                <img src="{% static 'images/loader.gif' %}">
                                            </td>
                                        </tr>
                                        <tr id="actions">
                                            <td class="text-right" colspan="12">
                                                <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                                        data-ajax-url="{% url 'add_proforma_invoice_items' %}"
                                                >Add</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div>
                        <table class="table table-bordered" width="100%">
                            <tr>
                                <td class="po-total" colspan="14">Gross Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Net Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Total Items</td>
                                <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="panel customer-discount-calculation" id="calculation_summary" >
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                            <tr>
                                <td class="po-total" colspan="14">Line Discounts</td>
                                <td class="po-total" >&nbsp;
                                    <span id="total_discount"></span>
                                    {% render_field form.line_discount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Net Excluding Vat</td>
                                <td class="po-total text-right" >&nbsp;
                                    <span id="sub_total"></span>
                                    {% render_field form.sub_total %}
                                </td>
                            </tr>
                            <tr id="_customer_discounts">
                                <td class="po-total" colspan="14">Customer Discounts</td>
                                <td class="po-total text-right">&nbsp;
                                    <span id="customer_invoice_discounts"></span>
                                    {% render_field form.customer_discount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Net after Invoice Discount</td>
                                <td class="po-total text-right">&nbsp;
                                    <span id="net_total"></span>
                                    {% render_field form.net_amount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Vat</td>
                                <td class="po-total text-right">&nbsp;
                                    <span id="total_vat_amount"></span>
                                    {% render_field form.vat_amount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Total Including Vat</td>
                                <td class="po-total text-right">&nbsp;
                                    <span id="total_order_value"></span>
                                    <input type="hidden" value="{{ default_vat }}" id="default_vat" />
                                    {% render_field form.total_amount %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">

                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="panel customer-discount-calculation" id="calculation_summary"  style="display: none;">
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                            <thead>
                                <tr>
                                    <th>Vat Recon</th>
                                    <th class="text-right">Excl</th>
                                    <th class="text-right">Vat</th>
                                </tr>
                            </thead>
                            <tbody id="summary_body">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                    <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}