- {{ estimate.delivery_to }} -
<table class="table align-right" style="float: left;">
    {% if not estimate.is_cash %}
        <tr>
            <td class="text-left">{{ estimate.customer.delivery.street }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ estimate.customer.delivery_address.address_line_1 }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ estimate.customer.delivery_address.city }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ estimate.customer.delivery_address.postal_code }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ estimate.customer.delivery_address.province_name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ estimate.customer.delivery_address.country.name }}</td>
        </tr>
    {% else %}
        {% if estimate.is_pick_up %}
            <tr>
                <td class="text-left">Pick Up</td>
            </tr>
        {% elif estimate.delivery %}
            {% if estimate.delivery.address_line_1 %}
                <tr>
                    <td class="text-left">{{ estimate.delivery.address_line_1 }}</td>
                </tr>
            {% endif %}
            {% if estimate.delivery.city %}
                <tr>
                    <td class="text-left">{{ estimate.delivery.city }}</td>
                </tr>
            {% endif %}
            {% if estimate.delivery.province_name %}
                <tr>
                    <td class="text-left">{{ estimate.delivery.province_name }}</td>
                </tr>
            {% endif %}
            {% if estimate.delivery.postal_code %}
                <tr>
                    <td class="text-left">{{ estimate.delivery.postal_code }}</td>
                </tr>
            {% endif %}
            {% if estimate.delivery.country %}
                <tr>
                    <td class="text-left">{{ estimate.delivery.country.name }}</td>
                </tr>
            {% endif %}
        {% endif %}
    {% endif %}
</table>