{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load invoice_tags comment_tags %}
{% block page_title %}Proforma Invoice - {{ invoice }}  <span class="pull-right">&nbsp;{{ invoice }}</span>{% endblock page_title %}
{% block stylesheets %}
{% endblock %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left">
                <span class="ui-state ui-state-info-text">{{ invoice.status_name }}</span>
            </h5>
        </div>
      <div class="pull-right">
        {% block action_buttons %}
            <button type="button" class="btn btn-primary btn-sm single-action"
                    name="credit_invoice"
                    id="credit_invoice"
                    data-action="copy_invoice"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    data-ajax-url="{% url 'make_proforma_invoices' %}"
                    data-invoice-id="{{ invoice.id }}"
                    data-toggle="tooltip"><i class="fa fa-credit-card"></i> Invoice</button>
            <a href="{% url 'proforma_invoice_detail' invoice.id  %}?print=1" type="button" class="btn btn-primary btn-sm"
            data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
            <a href="{% url 'sales_proforma_invoice_index'  %}" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
        {% endblock %}
      </div>
  </div>
  <div class="panel-body align-center" id="invoice_document">
     {% include "proforma/template.html" %}
  </div>
  <div class="row">
    <div class="col-8">{% comments invoice.id content_type.id %}</div>
    <div class="col-4"></div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales.js' %}?{% now 'HisYmd' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}
