 <table class="table align-right" style="float: right;" width="100%">
    <tr>
        <td>Vat Number:</td>
        <td class="text-left">{{ estimate.display_vat_number }}</td>
    </tr>
    {% if estimate %}
        <tr>
            <td>Collection/Delivery:</td>
            <td class="text-left">
                {% if estimate.picking_slip %}
                    <a href="{% url 'picking_detail' estimate.picking_slip.id %}">{{ estimate.picking_slip }}</a>
                {% elif estimate.estimate_deliveries %}
                    <a href="{% url 'delivery_detail' estimate.estimate_deliveries.id %}">{{ estimate.estimate_deliveries }}</a>
                {% else %}
                    #
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if estimate.delivery %}
        <tr>
            <td>Delivery Number:</td>
            <td class="text-left">
                {% if estimate.delivery %}
                    <a href="{% url 'delivery_detail' estimate.delivery.id %}">{{ estimate.delivery_number }}</a>
                {% else %}
                    {{ estimate.delivery_number }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if estimate.po_number %}
        <tr>
            <td>Purchase Order:</td>
            <td class="text-left">{{ estimate.po_number }}</td>
        </tr>
    {% endif %}
    {% if estimate.salesman %}
        <tr>
            <td>Salesman:</td>
            <td class="text-left">
                {{ estimate.salesman }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>Period:</td>
        <td class="text-left">{{ estimate.period }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td class="text-left">{{ estimate.date|date:'d-M-Y' }}</td>
    </tr>
    <tr>
        <td>Valid Until:</td>
        <td class="text-left">{{ estimate.expires_at|date:'d-M-Y' }}</td>
    </tr>
    {% if estimate.customer.phone_number %}
        <tr>
            <td>Telephone Number:</td>
            <td class="text-left">
                {{ estimate.customer.phone_number }}
            </td>
        </tr>
    {% endif %}
</table>