{% extends 'base.html' %}
{% load static %}
{% load i18n invoice_tags %}
{% block page_title %}Pro Forma DOCUMENTS {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
             <a class="btn btn-large btn-success" href="{% url 'create_proforma_invoice' %}">
                 <i class="fa fa-plus-circle"></i> Create</a>
             <button type="button" class="btn btn-primary btn-sm single-action" name="invoice" id="invoice"
                     data-ajax-url="{% url 'make_proforma_invoices' %}"
                     data-toggle="tooltip"><i class="fa fa-folder-open"></i> Invoice</button>
{#             <button type="button" class="btn btn-primary btn-sm bulk-action" name="remove" id="remove"#}
{#                     data-confirm="1"#}
{#                     data-confirm-text="Are you sure you want to remove these estimates"#}
{#                     data-ajax-url="{% url 'remove_proforma_invoices' %}"#}
{#                     data-toggle="tooltip"><i class="fa fa-trash"></i> Remove</button>#}
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table  id="sales_documents" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Document</th>
                        <th>Document Type</th>
                        <th>Customer Nr</th>
                        <th>Customer Name</th>
                        <th>Doc Date</th>
                        <th class="text-right">Ex Vat</th>
                        <th class="text-right">Incl Vat</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                        <tr data-detail-url="{% url 'proforma_invoice_detail' invoice.id %}?redirect={{ 'sales_proforma_invoices_index' }}">
                            <td>{{ invoice }}</td>
                            <td>{{ invoice.invoice_type.name }}</td>
                            <td>{{ invoice.customer.number }}</td>
                            <td>{{ invoice.customer.name }}</td>
                            <td>{{ invoice.invoice_date|date:"d, M Y" }}</td>
                            <td class="text-right">{{ invoice.net_amount|money }}</td>
                            <td class="text-right">{{ invoice.total_amount|money }}</td>
                            <td class="actions">
                                {% if not invoice.is_invoiced %}
                                    <input type="checkbox" class="checkbox-input invoice-action"
                                           data-invoice-id="{{ invoice.id }}"
                                           name="action"
                                           id="action_{{ invoice.id }}"
                                           value="{{ invoice.id }}" />
                                {% endif %}
                            </td>
                            <td class="bold">
                                {% if invoice.is_invoiced %}
                                    <span class="label label-success">{{ invoice.status }}</span>
                                {% else %}
                                    <span class="label label-default">{{ invoice.status }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9">There are no proforma invoices found</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Last</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
{% endblock %}