{% load invoice_tags %}
<tr id="sales_item_{{ row_id }}" class="sales-items invoice_item_row" data-row-id="{{ row_id }}">
    <td>
        <select class="form-control form-control-sm chosen-select line-type"
                name="type_{{ row_id }}" data-row-id="{{ row_id }}"
                id="type_{{ row_id }}" data-ajax-url="{% url 'add_estimate_items' %}"
                tabindex="15"
        >
            <option value="i" {% if line_type == 'i' %} selected="selected" {% endif %}>I</option>
            <option value="t" {% if line_type == 't' %} selected="selected" {% endif %}>T</option>
            <option value="g" {% if line_type == 'g' %} selected="selected" {% endif %}>G</option>
        </select>
    </td>
    <td>
        <select class="form-control chosen-select model-search-{{ row_id }}" name="inventory_item_{{ row_id }}"
                tabindex="16"
                data-model="inventory"
               id="inventory_item_{{ row_id }}"
               data-ajax-url="{% url 'inventory_item_search_list' %}"
               data-ajax-detail-url="{% url 'fetch_inventory_item' %}"
        >
             <option value="">--</option>
        </select>
        <input type="hidden" class="form-control form-control-sm description" value=""
               tabindex="17"
               name="description_{{ row_id }}"
               id="description_{{ row_id }}"
               data-item-id="{{ row_id }}"
               placeholder="Description"
        >
        <input type="hidden" class="allow-negative" value=""
               tabindex="17"
               name="allow_negative_stock_{{ row_id }}"
               id="allow_negative_stock_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-left">
        <input type="text" class="form-control form-control-sm quantity text-left" value=""
               tabindex="18"
               name="quantity_{{ row_id }}"
               id="quantity_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-left">
        <input type="text" class="form-control form-control-sm" readonly="readonly" value=""
               tabindex="19"
               name="unit_{{ row_id }}"
               id="unit_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
        <input type="hidden" class="form-control form-control-sm unit"
               name="unit_id_{{ row_id }}"
               id="unit_id_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
        <input type="hidden" class="net-weight"
               id="net_weight_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
        <input type="hidden" class="gross-weight"
               id="gross_weight_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
    </td>
    <td class="text-left" >
        <input type="text" class="form-control form-control-sm price text-left"
               tabindex="20"
               name="price_{{ row_id }}"
               id="price_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
        <input type="hidden" class="form-control form-control-sm price-including"
               name="price_including_{{ row_id }}"
               id="price_including_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
    </td>
    <td class="text-right" >
        <input type="text" class="form-control form-control-sm discount" value=""
               tabindex="21"
               name="discount_percentage_{{ row_id }}"
               id="discount_percentage_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-right" >
        <span class="discount-amount" id="discount_amount_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" class="form-control form-control-sm total-discount" value="" readonly="readonly"
               name="total_discount_{{ row_id }}"
               id="total_discount_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-right">
        <span class="price-exc" id="total_price_exl_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" value=""
               name="total_price_excluding_{{ row_id }}"
               id="total_price_excluding_{{ row_id }}"
               class="total-price-excl"
        />
        <input type="hidden" value=""
               name="sub_total_{{ row_id }}"
               id="sub_total_{{ row_id }}"
               class="sub-total"
        />
    </td>
    <td>
        <select class="form-control form-control-sm vat"
               name="vat_code_{{ row_id }}"
               id="vat_code_{{ row_id }}"
               data-item-id="{{ row_id }}"
                tabindex="22"
        >
            {% for vat_code in vat_codes %}
                <option value="{{ vat_code.id }}"
                         tabindex="17"
                        data-percentage="{{ vat_code.percentage }}"
                >{{ vat_code.code }}</option>
            {% endfor %}
        </select>
            <input type="hidden" value=""
               name="vat_percentage_{{ row_id }}"
               id="vat_percentage_{{ row_id }}"
               class="vat-percentage"
        >
    </td>
    <td class="text-right">
        <span class="total-vat" id="vat_total_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" value="{{ row_id }}"
               name="total_vat_{{ row_id }}"
               id="total_vat_{{ row_id }}"
               class="total-vat-amount"
        >
    </td>
    <td class="text-right">
        <span class="price" id="total_price_incl_{{ row_id }}"></span>
        <input type="hidden" value="" name="total_price_including_{{ row_id }}"
               id="total_price_including_{{ row_id }}"
               class="total-price-incl open-input"
        >
    </td>
{#    <td class="text-right">#}
{#        <span class="order-items" id="order_item_{{ row_id }}"></span>#}
{#    </td>#}
    <td class="text-center">
        {% if is_deletable %}
            <a href="javascript:void(0);" data-row-id="{{ row_id }}" class="delete-row" id="delete_{{ row_id }}">
                <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row_id }}"></i>
            </a>
        {% endif %}
    </td>
</tr>
