{% extends 'modal.html' %}
{% load static %}
{% block title %} Inventory quantities not available {% endblock title %}
{% block content %}

<form method="post" novalidate="novalidate" id="create_back_order_form" name="create_back_order_form">
     <div class="modal-body">
        <span class="ui-state ui-state-error-text">Invoice could not be created. Do you want to create back order for inventories not available?</span>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal"
                data-ajax-url="{% url 'estimate_invoice_back_order_notice' %}"
                name="create_back_order"
        >No</button>
        <button class="btn btn-primary btn-large modal-submit-btn"
                data-ajax-url="{% url 'estimate_invoice_back_order_notice' %}"
                name="create_back_order"
                id="create_back_order"><i class="fa fa-save"></i> Yes</button>
    </div>
</form>

{% endblock %}