{% load invoice_tags %}
<tr id="sales_item_{{ row_id }}" class="sales-items invoice_item_row" data-row-id="{{ row_id }}">
    <td>
        <select class="form-control form-control-sm chosen-select line-type"
                name="type_{{ row_id }}" data-row-id="{{ row_id }}"
                id="type_{{ row_id }}" data-ajax-url="{% url 'add_estimate_items' %}">
            <option value="i" {% if line_type == 'i' %} selected="selected" {% endif %}>I</option>
            <option value="t" {% if line_type == 't' %} selected="selected" {% endif %}>T</option>
            <option value="g" {% if line_type == 'g' %} selected="selected" {% endif %}>G</option>
        </select>
    </td>
    <td colspan="5">
        <input class="form-control form-control-sm" name="item_description_{{ row_id }}" id="item_description_{{ row_id }}"
               placeholder="Description"
        />
    </td>
    <td class="text-right" colspan="4"></td>
    <td class="text-center">
        {% if is_deletable %}
            <a href="javascript:void(0);" data-row-id="{{ row_id }}" class="delete-row" id="delete_{{ row_id }}">
                <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row_id }}"></i>
            </a>
        {% endif %}
    </td>
</tr>
