{% extends 'modal.html' %}
{% load static %}
{% load invoice_tags %}
{% block title %} Estimate Tracking - {{ estimate }}{% endblock title %}
{% block content %}
    <div class="container table-responsive">
    <table class="table table-bordered" width="100%">
        <tr>
            <td>Created By</td>
            <td class="text-left">{% if estimate.profile %}{{ estimate.profile }}{% endif %}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td class="text-left">{% if estimate.role %}{{ estimate.role }}{% endif %}</td>
        </tr>
        <tr>
            <td>Date Created</td>
            <td class="text-left">{% if estimate.created_at %}{{ estimate.created_at|date:'d-M-Y' }}{% endif %}</td>
        </tr>
        <tr>
            <td>Time Created</td>
            <td class="text-left">{% if estimate.created_at %}{{ estimate.created_at|date:'H:s' }}{% endif %}</td>
        </tr>
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>By</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.profile }} - {{ comment.role }}</td>
                                <td>{{ comment.comment }}</td>
                                <td>{{ comment.created_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    </div>
{% endblock %}