{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Picking Slip - {{ picking_slip }}  <span class="pull-right">&nbsp;{{ picking_slip }}</span>
{% endblock page_title %}
{% block stylesheet %}
{# <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}" />
{% endblock stylesheet %}

{% block content %}
<form method="post" novalidate="novalidate" id="delivery_note_form"
      action="{% url 'picking_detail' picking_slip.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left"></h5>
            </div>

          <div class="pull-right">
            <a type="button" class="btn btn-primary btn-sm" name="submit" id="print"
               onclick="printHtml('picking-slip-document');"
               data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
             <button type="button" class="btn btn-primary btn-sm action-picking_slip"
                     name="save_delivery_note" id="save_delivery_note"
                     data-toggle="tooltip"><i class="fa fa-newspaper-o"></i> Delivery Notes</button>
             <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
           <div id="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4 text-left">
                     {% display_logo company 200 75 %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    {% include "sales/address/company.html" %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 text-right">
                    <table class="table table-borderless table-condensed">
                        <tr>
                            <td colspan="2"><strong class="h4">SEND FOR PICKING</strong></td>
                        </tr>
                        <tr>
                            <td>Vat Registration Number</td>
                            <td>{{ company.vat_number }}</td>
                        </tr>
                        <tr>
                            <td>Document Number</td>
                            <td>#</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="customer-data">
                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Customer</div>
                        <div class="panel-body" style="padding: 5px;">
                            {% with sales_invoice=back_order %}
                                {% include "sales/address/postal.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Delivery To</div>
                        <div class="panel-body" style="padding: 5px;" id="shipping_to">
                            {% with sales_invoice=back_order %}
                                {% include "sales/address/delivery.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body" id="invoice_meta" style="padding: 5px;">
                            {% include "estimates/estimate.html" %}
                            <table class="table" width="100%">
                                <tr class="{% if form.delivery_method.errors %}error{% endif %}">
                                    <td>
                                        <label class="col-sm-12 control-label txt-font12" for="{{ form.delivery_method.id_for_label }}">{{ form.delivery_method.label_tag }}</label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            {% render_field form.delivery_method class="form-control form-control-sm chosen-select" %}
                                            {% if form.delivery_method.auto_id  != "id_tos" %}
                                                {% if form.delivery_method.errors %}<span class="help-inline">{{ form.delivery_method.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="{% if form.delivery_term.errors %}error{% endif %}">
                                    <td>
                                        <label class="col-sm-12 control-label txt-font12" for="{{ form.delivery_term.id_for_label }}">{{ form.delivery_term.label_tag }}</label>
                                    </td>
                                    <td>
                                          <div class="col-md-12">
                                            {% render_field form.delivery_term class="form-control form-control-sm chosen-select" %}
                                            {% if form.delivery_term.auto_id  != "id_tos" %}
                                                {% if form.delivery_term.errors %}<span class="help-inline">{{ form.delivery_term.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="{% if form.delivery_method.errors %}error{% endif %}">
                                    <td>
                                        <label class="control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            {% render_field form.date class="form-control form-control-sm datepicker" %}
                                            {% if form.date.auto_id  != "id_tos" %}
                                                {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-condensed table-bordered" id="picking-slip-document" width="100%">
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">PICKING SLIP CREATED BY</td>
                                    <td class="text-center" colspan="3">DATE CREATED</td>
                                    <td class="text-center" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if profile %}{{ profile }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if created_at %}{{ created_at|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if created_at %}{{ created_at|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3">{{ estimate.branch }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body">
                            <table class="table" width="100%">
                                <tr class="item-titles">
                                    <th class="po-brdr-r po-pad-left">Stock Code</th>
                                    <th class="po-brdr-r po-pad-left">Description</th>
                                    <th class="po-brdr-r po-pad-right">Store Area</th>
                                    <th class="po-brdr-r po-pad-right">Rack</th>
                                    <th class="po-brdr-r po-pad-right">Bin</th>
                                    <th class="po-brdr-r po-pad-right">Stock Level</th>
                                    <th class="po-brdr-r po-pad-right text-right">Qty Requested</th>
                                    <th class="po-brdr-r po-pad-right text-right">Qty To Pick</th>
                                    <th class="po-brdr-r po-pad-right text-right">Create Picking</th>
                                    <th class="po-brdr-r po-pad-right text-right">Balance</th>
                                    <th class="po-brdr-r po-pad-right text-right">Create Back Order</th>
                                </tr>
                                {% for estimate_item in estimate_items %}
                                    {% with sales_item=estimate_item row=estimate_item.id %}
                                        {% include 'pickingslip/sales_item.html' %}
                                    {% endwith %}
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12"></div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div>
                        <table class="table table-bordered" width="100%">
                            <tr>
                                <td class="po-total">Gross Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total">Net Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total">Total Items</td>
                                <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total">Total Items sent for picking</td>
                                <td class="po-total" >&nbsp;<span id="total_send_for_picking"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total">Total items on back order</td>
                                <td class="po-total" >&nbsp;<span id="total_on_back_order"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    Printed via Docuflow &copy; www.docuflow.co.za
                </div>
            </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap-timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/delivery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/picking_slip.js' %}"></script>
{% endblock %}
