{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Create Picking Slip from {{ delivery }}  <span class="pull-right">&nbsp;{{ estimate }}</span>
{% endblock page_title %}
{% block stylesheet %}
{# <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}" />
{% endblock stylesheet %}

{% block content %}
<form method="post" novalidate="novalidate" id="picking_slip_form"
      action="{% url 'create_picking_slip_from_delivery' delivery_id=delivery.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left"></h5>
            </div>

          <div class="pull-right">
            <a type="button" class="btn btn-primary btn-sm" name="submit" id="print"
               onclick="printHtml('picking-slip-document');"
               data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
             <button type="button" class="btn btn-primary btn-sm action-picking_slip"
                     id="save_picking_slip"
                     data-toggle="tooltip"><i class="fa fa-inbox"></i> Save</button>
             <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
           <div id="po-page">
                <table class="table table-condensed table-bordered" id="picking-slip-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        {% display_logo company 200 75 %}
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">PICKING SLIP</strong><br><br>
                                        Number:&nbsp;&nbsp;#
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ delivery.date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <div class="clear clearfix col-md-12">
                                <div class="float-left pull-left col-4">
                                   {% if delivery.customer %}
                                        <table class="table align-right" style="float: left;">
                                            <tr>
                                                <td><strong>CUSTOMER DELIVERY:</strong><br></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.number }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.delivery_address.street }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.delivery_address.postal_code }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.delivery_address.province_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.delivery_address.country.name }}</td>
                                            </tr>
                                        </table>
                                    {% endif %}
                                </div>
                                <div class="float-left pull-left col-4">
                                   {% if delivery.customer %}
                                        <table class="table align-right" style="float: left;">
                                            <tr>
                                                <td><strong>Delivery To:</strong><br></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.postal_address.address_line_1 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.postal_address.postal_code }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.postal_address.province_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.customer.postal_address.country.name }}</td>
                                            </tr>

                                        </table>
                                    {% else %}
                                        <table class="table align-right" style="float: left;">
                                            <tr>
                                                <td><strong>Delivery To:</strong><br></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.delivery.address_line_1 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.delivery.postal_code }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.delivery.province_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ delivery.delivery.country.name }}</td>
                                            </tr>

                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="space text-left" colspan="{{ cols }}">&nbsp;
                             {% if delivery.notes %}
                                <strong>Notes: </strong>{{ delivery.notes }}<br>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">PICKING SLIP CREATED BY</td>
                                    <td class="text-center" colspan="3">DATE CREATED</td>
                                    <td class="text-center" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if profile %}{{ profile }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if created_at %}{{ created_at|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if created_at %}{{ created_at|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3">{{ delivery.branch }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table class="table" width="100%">
                                <tr class="item-titles">
                                    <th class="po-brdr-r po-pad-left">Stock Code</th>
                                    <th class="po-brdr-r po-pad-left">Description</th>
                                    <th class="po-brdr-r po-pad-right">Store Area</th>
                                    <th class="po-brdr-r po-pad-right">Rack</th>
                                    <th class="po-brdr-r po-pad-right">Bin Location</th>
                                    <th class="po-brdr-r po-pad-right text-right">Quantity</th>
                                </tr>
                                {% for delivery_item in delivery.delivery_items.all %}
                                    <tr id="sales_item_{{ picking_slip_item.id }}" class="sales-items picking_slip_item_row"
                                        data-row-id="{{ picking_slip_item.id }}"
                                        data-picking-slip-id="{{ picking_slip_item.id }}">
                                        <td>
                                            {{ delivery_item.inventory }}
                                            <input type="hidden" name="delivery_item_id" value="{{ delivery_item.id }}">
                                            <input type="hidden" class="form-control form-control-sm price"
                                                   name="price_{{ delivery_item.id }}"
                                                   id="price_{{ delivery_item.id }}"
                                                   data-item-id="{{ delivery_item.id }}"
                                                   value="{{ delivery_item.price }}" />
                                                    <input type="hidden" class="form-control form-control-sm price-including"
                                                           name="price_including_{{ delivery_item.id }}"
                                                           id="price_including_{{ delivery_item.id }}"
                                                           data-item-id="{{ delivery_item.id }}"
                                                           value="{{ delivery_item.price_including }}" />
                                                    <input type="hidden" class="sub-total"
                                                           name="sub_total_{{ delivery_item.id }}"
                                                           id="sub_total_{{ delivery_item.id }}"
                                                           data-item-id="{{ delivery_item.id }}"
                                                           value="{{ delivery_item.sub_total }}" />
                                                    <input type="hidden" class="form-control form-control-sm discount" value="{{ delivery_item.discount }}"
                                                           name="discount_percentage_{{ delivery_item.id }}"
                                                           id="discount_percentage_{{ delivery_item.id }}"
                                                           data-item-id="{{ delivery_item.id }}" />
                                                    <input type="hidden" class="form-control form-control-sm total-discount"
                                                           value="{{ delivery_item.total_discount_amount }}" readonly="readonly"
                                                           name="total_discount_{{ delivery_item.id }}"
                                                           id="total_discount_{{ delivery_item.id }}"
                                                           data-item-id="{{ delivery_item.id }}" />
                                                    <input type="hidden" value="{{ delivery_item.total_price_excluding }}"
                                                           name="total_price_excluding_{{ delivery_item.id }}"
                                                           id="total_price_excluding_{{ delivery_item.id }}"
                                                           class="total-price-excl" />
                                                    <input type="hidden" value="{{ delivery_item.vat_code.id }}"
                                                           name="vat_code_{{ delivery_item.id }}"
                                                           id="vat_code_{{ delivery_item.id }}"
                                                           data-percentage="{{ delivery_item.vat_code.percentage }}"
                                                           class="vat vat-codes"
                                                           data-item-id="{{ delivery_item.id }}"
                                                           data-text="{{ delivery_item.vat_code }}"
                                                    />
                                                    <input type="hidden" value="{{ delivery_item.vat }}"
                                                           name="vat_percentage_{{ delivery_item.id }}"
                                                           id="vat_percentage_{{ delivery_item.id }}"
                                                           class="vat-percentage"
                                                    />
                                                    <input type="hidden"
                                                           name="total_vat_{{ delivery_item.id }}"
                                                           id="total_vat_{{ delivery_item.id }}"
                                                           class="total-vat total-vat-amount"
                                                           value="{{ delivery_item.total_vat_amount }}"
                                                    />
                                                     <input type="hidden" value="{{ delivery_item.total_price_including|money }}"
                                                           name="total_price_including_{{ delivery_item.id }}"
                                                           id="total_price_including_{{ delivery_item.id }}"
                                                           class="total-price-incl open-input" />
             <input type="hidden" value="{{ delivery_item.inventory.gross_weight }}"
                    id="gross_weight_{{ delivery_item.id }}"
                    data-row-id="{{ delivery_item.id }}"
                    class="gross-weight" />
             <input type="hidden" value="{{ delivery_item.inventory.weight }}"
                    id="net_weight_{{ delivery_item.id }}"
                    data-row-id="{{ delivery_item.id }}"
                    class="net-weight" />
                                        </td>
                                        <td>{{ delivery_item.inventory.description }}</td>
                                        <td>{{ delivery_item.inventory.store_area }}</td>
                                        <td>{{ delivery_item.inventory.rack }}</td>
                                        <td>{{ delivery_item.inventory.bin_location }}</td>
                                        <td class="text-right">
                                            {{ delivery_item.quantity|money }}
                                            <input type="hidden" class="picked" id="picked_{{ delivery_item.id }}"
                                                   data-row-id="{{ delivery_item.id }}"
                                                   name="picked_{{ delivery_item.id }}"
                                                   value="{{ delivery_item.quantity }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="10"></td>
                        <td class="po-total" >Quantity</td>
                        <td class="text-right">Picked</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="10">Total Items</td>
                        <td class="po-total" >&nbsp;{{ delivery.total_quantity|money }}</td>
                        <td class="text-right writtable">
                            <span id="total_picked"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap-timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/delivery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/picking_slip.js' %}"></script>
{% endblock %}
