{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load compress %}
{% block page_title %} Distribution Balance - {{ year }} {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button type="button" id="run_distribution_journal"
                    data-modal="{% url 'run_distribution_journal' %}"
            class="btn btn-large btn-success">Run Distribution Journal</button>
            <button type="submit" id="display_excell" class="btn btn-primary generate"
                    data-ajax-url="{% url 'download_distribution_balances' %}" data-action="download">
                <i class="fa fa-file-excel-o"></i> Excel</button>
            <a href="javascript:history.back(-1);" id="previous_page" class="btn btn-default btn-sm"> Prev. Level</a>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <h2 class="card-title"><strong>{{ company }}</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6 text-left">
                <table width="100%" class="table table-bordered">
                    <tr>
                        <td colspan="2"><strong>Distribution Balance</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2">Preliminary</td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td>{{ year.start_date }} - {{ year.end_date }}</td>
                    </tr>
                    <tr>
                        <td>Report date</td>
                        <td>{{ report_date }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 table-responsive">
                <table class="table table-bordered" width="100%">
                    <tr>
                        <td colspan="4">
                            <table id="invoices" class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if distributions|length > 0 %}
                                        {% for distribution in distributions %}
                                             <tr>
                                                <td>{{ distribution.title }}</td>
                                                <td class="text-right">
                                                    <a href="{% url 'distribution_balance_detail' distribution.id %}">
                                                        {{ distribution.total_credit|money }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                         <tr>
                                            <td></td>
                                            <td class="text-right">{{ total|money }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">There are no distribution balances available</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#distribution_balance_report").submit();
            });
       });
    </script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
    {% endcompress %}
{% endblock %}