{% extends 'base.html' %}
{% block page_title %} Interventions{% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_rule_based_workflow' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus"></i> New
        </a>
    </div>
    <br />

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Company</th>
                    <th>Type of document</th>
                    <th>Event</th>
                    <th>Supplier</th>
                    <th>Item Type</th>
                    <th>Expense Type</th>
                    <th>Currency</th>
                    <th>Blocked</th>
                    <th>Distribution</th>
                    <th>Reinvoice</th>
                    <th>Asset</th>
                    <th>Amount</th>
                    <th>Amount Check</th>
                    <th>Flow Proposal</th>
                    <th>Role</th>
                    <th>Manager role added to flow?</th>
                </tr>
            </thead>
            <tbody>
                {% if rules %}
                    {% for rule in rules %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_rule_based_workflow' rule.id %}">
                            <td></td>
                            <td>{{ rule.company.code }}</td>
                            <td>{{ rule.document_type }}</td>
                            <td>{{ rule.event }}</td>
                            <td>{{ rule.supplier }}</td>
                            <td>{{ rule.item_type }}</td>
                            <td>{{ rule.expense_type }}</td>
                            <td>
                                {% if company.currency %}
                                    {{ company.currency }}
                                {% endif %}
                            </td>
                            <td>{{ rule.is_blocked }}</td>
                            <td>{{ rule.distribution }}</td>
                            <td>{{ rule.reinvoice }}</td>
                            <td></td>
                            <td>{{ rule.amount }}</td>
                            <td>{{ rule.amount_check_value }}</td>
                            <td>{{ rule.flow_proposal }}</td>
                            <td>{{ rule.role }}</td>
                            <td>{{ rule.manager_role_to_flow }}</td>
                            <td class="actions">
                                <a href="{% url 'delete_rule_based_workflow' rule.id %}" onclick="confirm('Are you sure you want to delete this intervention')"
                                   data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no rule based workflow available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}