{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Intervention {% endblock page_title %}
{% block content %}

<form method="get" novalidate="novalidate" action="{% url 'rule_based_workflow' %}">
    <div class="col-12" id="amount">
        <label for="{{ form.event.id_for_label }}">{{ form.event.label_tag }}</label>
        {{ form.event|add_class:"form-control" }}
        {{ form.event.errors }}
    </div>

    <div class="col-12">
        <label for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
        {{ form.supplier |add_class:"form-control chosen-select" }}
    </div>
    <div class="col-12" style="display: none" id="percentage">
        <label for="{{ form.document_type.id_for_label }}">{{ form.document_type.label_tag }} <em>(0.1 - 100)</em></label>
        {{ form.document_type|add_class:"form-control" }}
        {{ form.document_type.errors }}
    </div>
    <div class="col-12">
        <label for="{{ form.flow_proposal.id_for_label }}">{{ form.flow_proposal.label_tag }}</label>
        {{ form.flow_proposal |add_class:"form-control" }}
    </div>
    <div class="col-12">
        <label for="{{ form.role.id_for_label }}">{{ form.role.label_tag }}</label>
        {{ form.role |add_class:"form-control" }}
    </div>
    {% for object_category in object_categories %}
        {% if object_category.slug != 'accounts' %}
            <div class="col-12">
                <label for="{{ object_category.id }}">{{ object_category.label }}</label>
                <select id="{{ object_category.id }}" name="object_item" class="form-control chosen-select">
                    <option value="">--</option>
                    {% if object_category.category_object_items %}
                        {% for object_item in object_category.category_object_items.all %}
                            <option value="{{ object_item.id }}">{{ object_item.label }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        {% endif %}
    {% endfor %}
    <div class="col-12">
        <label for="{{ form.item_type.id_for_label }}">{{ form.item_type.label_tag }}</label>
        {{ form.item_type|add_class:"form-control" }}
    </div>
    <div class="col-12">
        <label for="{{ form.expense_type.id_for_label }}">{{ form.expense_type.label_tag }}</label>
        {{ form.expense_type|add_class:"form-control" }}
    </div>
    <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
    <div class="form-group">
        <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-search"></i> Search</button>
    </div>
</form>
{% endblock %}