{% extends 'modal.html' %}
{% load static %}
{% block title %} Update Incoming Invoices {{ year }} {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form"
        id="create_vat_report" name="create_vat_report"
        action="{% url 'create_update_incoming_report' %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-large" name="create_update_incoming_report_submit"
                type="button" id="create_update_incoming_report_submit"><i class="fa fa-save"></i> Create</button>
    </div>
  </form>

{% endblock %}