{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Update incoming invoices - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                 <tr>
                                    <th colspan="11"></th>
                                    <th class="text-right">Debit</th>
                                    <th class="text-right">Debit</th>
                                    <th class="text-right">Credit</th>
                                </tr>
                                <tr>
                                    <th>Per</th>
                                    <th>Docuflow Unique</th>
                                    <th>Accounting Date</th>
                                    <th>Document Date</th>
                                    <th>Due Date</th>
                                    <th>Supplier Name</th>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th>Reference 1</th>
                                    <th>Reference 2</th>
                                    <th>Vat Type</th>
                                    <th class="text-right">NETT</th>
                                    <th class="text-right">VAT</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if invoices|length > 0 %}
                                    {% for k, invoice in invoices.items %}
                                        <tr>
                                            <td>{{ journal.period }}</td>
                                            <td>{{ invoice.docuflow_unique }}</td>
                                            <td>{{ invoice.accounting_date }}</td>
                                            <td>{{ invoice.invoice_date }}</td>
                                            <td>{{ invoice.due_date }}</td>
                                            <td>{{ invoice.supplier_name }}</td>
                                            <td>{{ invoice.document_type }}</td>
                                            <td>{{ invoice.supplier_inv }}</td>
                                            <td>{{ invoice.reference_1 }}</td>
                                            <td>{{ invoice.reference_2 }}</td>
                                            <td>{{ invoice.vat_type }}</td>
                                            <td class="text-right">{{ invoice.debit_nett|money }}</td>
                                            <td class="text-right">{{ invoice.debit_vat|money }}</td>
                                            <td class="text-right">{{ invoice.credit_total|money }}</td>
                                        </tr>
                                    {% endfor %}
                                       <tr>
                                            <td colspan="10"></td>
                                            <td></td>
                                             <td class="text-right"><strong>{{ report.total_net|money }}</strong></td>
                                            <td class="text-right"><strong>{{ report.total_vat|money }}</strong></td>
                                            <td class="text-right"><strong>{{ report.total|money }}</strong></td>
                                        </tr>
                                    <tr>
                                        <td colspan="5">There are no invoices available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}