{% for line_item in ledger_lines %}
    <tr class="detail row-{{ ledger.id }}"
        {% if ledger.is_return %}
            style="color: #FF0000 !important;"
        {% else %}
            style="color: #08A20D !important;"
        {% endif %}
    >
        <td>{{ ledger.period }}</td>
        <td>{{ ledger.date|date:'d-M Y' }}</td>
        <td>{{ ledger.module_name }}</td>
        <td>{{ ledger.journal_number }}</td>
        <td>{{ ledger.text }}</td>
        <td>
            {% if ledger.content_object.purchase_order %}
                {{ ledger.content_object.purchase_order }}
            {% endif %}
        </td>
        <td>{{ ledger.supplier }}</td>
        <td class="text-right">1</td>
        <td class="text-right">{{ ledger.value }}</td>
        <td></td>
    </tr>
{% endfor %}