{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Customer Ledger report</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
            <tr>
                <td>Customer Ledger for</td>
                <td>{{ report_title }}</td>
            </tr>
            <tr>
                <td>Report for period(s)</td>
                <td></td>
            </tr>
            <tr>
                <td>Period dates(s)</td>
                <td>{{ start_date }} - {{ end_date }}</td>
            </tr>
        </table>
    </div>
{#    <div class="col-xs-6 col-md-6 col-lg-6 text-right">#}
{#        {% updates_summary company year start_date end_date %}#}
{#    </div>#}
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 text-left">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed" width="100%">
                <thead>
                    <tr class="primary-head">
                        <th>Customer</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Period</th>
                        <th>Date</th>
                        <th>Module</th>
                        <th>Journal Number</th>
                        <th>Journal Text</th>
                        <th>PO/Invoice Delivery</th>
                        <th class="text-right">Debit</th>
                        <th class="text-right">Credit</th>
                        <th class="text-right">Balance</th>
                        <th class="text-right">Paid</th>
                    </tr>
                </thead>
                <tbody>
                    {% if customer_ledgers|length > 0 %}
                        {% for customer, ledgers in customer_ledgers.items %}
                            <tr class="journal-account-row">
                                <td>
                                    <a href="" id="movement_breakdown_{{ customer.id }}" class="ledger-inventory-item"
                                       data-customer-id="{{ customer.id }}"
                                    ><strong>{{ customer.number }}</strong></a>
                                </td>
                                <td><strong>{{ customer }}</strong></td>
                                <td><strong>{{ customer.name }}</strong></td>
                                <td colspan="8"></td>
                            </tr>
                           <tr>
                                <td colspan="6" class="text-right"><strong>Incoming Balance</strong></td>
                               <td class="text-right"></td>
                               <td class="text-right"></td>
                                <td class="text-right">{{ ledgers.incoming_balance|money }}</td>
                            </tr>
                            <tr>
                                <td class="text-right" colspan="6"><strong>Initial balance</strong></td>
                                <td class="text-right">{{ ledgers.initial_debit|money }}</td>
                                <td class="text-right">{{ ledgers.initial_credit|money }}</td>
                                <td class="text-right">{{ ledgers.initial_balance|money }}</td>
                            </tr>
                            <tr>

                            </tr>
                            {% for ledger_line in ledgers.lines %}
                                <tr class="ledger-line line-row {% if ledger_line.line.is_pending %} not-updated {% endif %}"
                                    id="row_{{ ledger_line.line.invoice.id }}">
                                    <td>{{ ledger_line.line.period }}</td>
                                    <td>{{ ledger_line.line.date|date:'d-M Y' }}</td>
                                    <td>{{ ledger_line.line.module_name }}</td>
                                    <td>
                                        {% if ledger_line.line.ledger %}
                                            {{ ledger_line.line.ledger.journal_number }}
                                        {% endif %}
                                    </td>
                                    <td>{{ ledger_line.line.text }}</td>
                                    <td>{{ ledger_line.line.journal_number }}</td>
                                    <td class="text-right">{{ ledger_line.debit_amount|money }}</td>
                                    <td class="text-right">{{ ledger_line.credit_amount|money }}</td>
                                    <td class="text-right">{{ ledger_line.balance|money }}</td>
                                    <td>
                                        <a href="javascript:void(0);" class=""><i class="fa fa-info-circle"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6" class="text-right">Movement for period</td>
                                <td class="text-right">{{ ledgers.movement_debit|money }}</td>
                                <td class="text-right">{{ ledgers.movement_credit|money }}</td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right">Balance Carry Forward</td>
                                <td class="text-right">{{ ledgers.debit|money }}</td>
                                <td class="text-right">{{ ledgers.credit|money }}</td>
                                <td class="text-right">{{ ledgers.balance|money }}</td>
                            </tr>
                            <tr>
                                <td colspan="9"><hr /></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="9">Customers ledger not available</td>
                        </tr>
                    {% endif %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</div>