{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Measures{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
             <a href="{% url 'create_measure' %}" class="btn labeled btn-primary" role="button">
                <i class="fa fa-plus-circle"></i> Create
             </a>
          </div>
      </div>
      <div class="panel-body aligin-center">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Allowed Extra Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if measures %}
                            {% for measure in measures %}
                                <tr>
                                    <td>{{ measure }}</td>
                                    <td class="text-left actions">
                                       <span class="bold text-success">{{ measure.extra_quantity }}</span>
                                    </td>
                                    <td class="text-left actions">
                                       <a href="{% url 'edit_measure' measure.id %}"
                                          data-toggle="tooltip" title="" class="btn-sm btn-primary"
                                          data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                       <a href="{% url 'delete_measure' measure.id %}" onclick="return confirm('Are you sure you want to delete this measure')"
                                          data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                          data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">There are no measures available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function(){
{#            $('.default_workflow').on("change", function(e){#}
{#                var ajaxUrl = $("this").data('ajax-url');#}
{#                $.post(ajaxUrl, {#}
{#                    is_default: true,#}
{#                    csrfmiddlewaretoken: window.csrftoken#}
{#                }, function(response){#}
{#                    responseNotification(response)#}
{#                }, 'json');#}
{#            });#}
        });
        function updateMasterBranch(el, year_id)
        {
            var ajaxUrl = $(el).data('ajax-url')
            $.post(ajaxUrl, {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}