{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
{% block page_title %} Customer Statements - {{ year }} {% endblock page_title %}
{% block content %}
<style type="text/css">

</style>
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form ledger-form" id="generate_customer_ledger" action="{% url 'customer_statements' %}"
                  data-ajax-url="{% url 'customer_statements' %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group control-group">
                                <label for="layout">Layout</label>
                                <div class="controls">
                                    <select name="layout" id="layout"
                                            class="form-control accounts chosen-select"
                                            tabindex="1">
                                        <option value="default">Default</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label class=" control-label txt-font12" for="from_customer">Customer</label>
                                <div class="controls">
                                    <select class="form-control chosen-select" id="from_customer" name="from_customer">
                                        {% for from_customer in from_customers %}
                                            <option value="{{ from_customer.number }}">{{ from_customer.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class=" control-label txt-font12" for="to_customer">Customer</label>
                                <div class="controls">
                                    <select class="form-control chosen-select" id="to_customer" name="to_customer">
                                        {% for to_customer in to_customers %}
                                            <option value="{{ to_customer.number }}">{{ to_customer.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.from_date.errors %}error{% endif %}">
                                {{ form.from_date.label_tag }}
                                <div class="controls">
                                    {% render_field form.from_date class="form-control datepicker" %}
                                    {% if form.from_date.auto_id  != "id_tos" %}
                                        {% if form.from_date.errors %}<span class="help-inline">{{ form.from_date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.to_date.errors %}error{% endif %}">
                                <label class=" control-label txt-font12" for="{{ form.to_date.id_for_label }}">{{ form.to_date.label_tag }}</label>
                                <div class="controls">
                                    {% render_field form.to_date class="form-control datepicker"  %}
                                    {% if form.to_date.auto_id  != "id_tos" %}
                                        {% if form.to_date.errors %}<span class="help-inline">{{ form.to_date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="display_print" class="btn btn-primary generate"
                                data-action="display-print" tabindex="{{ 6 }}"
                            >Print</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="display_screen" class="btn btn-primary generate"
                                data-action="screen" tabindex="{{ 7 }}"
                            >Screen</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="file" class="btn btn-primary generate"
                                data-action="file" tabindex="{{ 8 }}"
                            >File</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_pdf" class="btn btn-primary generate"
                                data-action="screen" tabindex="{{ 9 }}"
                            >
                            Pdf
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary"
                                data-action="cancel" tabindex="{{ 10 }}"
                            >Cancel</button>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 col-xs-12 data-container" id="customer_ledger">
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/ledger.js' %}"></script>
{% endblock %}
