{% extends 'modal.html' %}
{% load i18n %}
{% block page_title %} Delete Location {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="modal_form" action="{% url 'delete_fixed_asset_location' fixed_asset_id=location.fixed_asset_id pk=location.id %}">
    {% csrf_token %}
    <div class="modal-body">
        Are you sure you want to delete this location?.
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger modal-submit"
                data-loading-text="<i class='fa fa-spinner'></i> Processing" id="modal_save_btn">
            <i class="fa fa-trash fa-sm text-white-50"></i>&nbsp;&nbsp;{% translate "Confirm" %}</button>
    </div>
  </form>
{% endblock %}