{% extends 'modal.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load fixed_asset_tags %}
{% block title %}{{ fixed_asset }} Locations {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="modal_form"
        action="{% url 'save_fixed_asset_location' fixed_asset.id %}"
        data-ajax-url="{% url 'save_fixed_asset_location' fixed_asset.id %}">
        {% csrf_token %}
       <div class="modal-body">
            <table class="table-bordered table">
                <thead>
                    <tr>
                        <th>Branch</th>
                        <th>Breakdown</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for location in locations %}
                        <tr>
                            <td>{{ location.branch }}</td>
                            <td>{{ location.percentage }}%</td>
                            <td>

                            </td>
                        </tr>
                    {% endfor %}
                    <tr id="add_row" class="add-row">
                        <td></td>
                        <td></td>
                        <td><a href="#" id="add_location" class="add-location add-split"
                               data-ajax-url="{% url "add_location_line" fixed_asset.id  %}">{% translate "Add" %}</a></td>
                    </tr>
                </tbody>
            </table>
       </div>
       <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
            <button class="btn btn-primary btn-large" name="save_fixed_asset_location" type="submit" id="modal_save_btn"><i class="fa fa-save"></i> Save</button>
       </div>
  </form>
{% endblock %}