{% load i18n %}
<table class="table-bordered table">
    <thead>
        <tr>
            <th>Branch</th>
            <th>Breakdown</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.branch }}</td>
                <td>{{ location.percentage }}%</td>
                <td>
                    <a href="#" data-modal="{% url 'delete_fixed_asset_location' fixed_asset_id=location.fixed_asset_id pk=location.id %}">Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No locations found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>