<tr class="location-row fixed-asset-percentage-split-row" data-row-id="{{ row }}">
    <td>
        <select name="location_branch_{{ row }}" id="id_location_branch_{{ row }}"
                class="form-control form-control-sm">
            <option value="">Branch</option>
            {% for branch in branches %}
                <option value="{{ branch.id }}">{{ branch }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <input type="text" class="form-control form-control-sm split-percentage text-right"
               name="location_percentage_split_{{ row }}" id="id_location_percentage_split_{{ row }}" />
    </td>
    <td></td>
</tr>