{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<fieldset class="well">
      <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.branch.id_for_label }}">
            {{ form.branch.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.branch class="form-control chosen-select"  %}

            {% if form.branch.auto_id  != "id_tos" %}
                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
      <div class="form-group control-group">
          <label class="control-label txt-font12" for="branches">Access to</label>
          <div class="controls">
              <select class="form-control" name="branches" id="branches" multiple="multiple">
                  {% for branch in branches %}
                      <option value="{{ branch.id }}"
                              {% if branch.id in profile_branches %} selected="selected" {% endif %}>
                          {{ branch.label }}
                      </option>
                  {% endfor %}
              </select>
          </div>
      </div>
{#    <div class="form-group control-group {% if form.branches.errors %}error{% endif %}">#}
{#        <label class=" control-label txt-font12" for="{{ form.branches.id_for_label }}">{{ form.branches.label_tag }}</label>#}
{#        {% render_field form.branches %}#}
{#        <div class="controls">#}
{#            {% if form.branches.auto_id  != "id_tos" %}#}
{#                {% if form.branches.errors %}<span class="help-inline">{{ form.branches.errors }}</span>{% endif %}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

</fieldset>