{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<fieldset class="well">
      <div class="form-group control-group {% if form.username.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
        <div class="controls">
            {% render_field form.username class="form-control" value=account.username%}
            {% if form.username.auto_id  != "id_tos" %}
                {% if form.username.errors %}<span class="help-inline">{{ form.username.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.code.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.code.id_for_label }}">{{ form.code.label_tag }}</label>
        <div class="controls">
            {% render_field form.code class="form-control" value=profile.code  %}
            {% if form.code.auto_id  != "id_tos" %}
                {% if form.code.errors %}<span class="help-inline">{{ form.code.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.first_name.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label_tag }}</label>
        <div class="controls">
            {% render_field form.first_name class="form-control" value=account.first_name %}
            {% if form.first_name.auto_id  != "id_tos" %}
                {% if form.first_name.errors %}<span class="help-inline">{{ form.first_name.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.last_name.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label_tag }}</label>
        <div class="controls">
            {% render_field form.last_name class="form-control" value=account.last_name %}
            {% if form.last_name.auto_id  != "id_tos" %}
                {% if form.last_name.errors %}<span class="help-inline">{{ form.last_name.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.email.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
        <div class="controls">
            {% render_field form.email class="form-control" value=account.email %}
            {% if form.email.auto_id  != "id_tos" %}
                {% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.number_of_records.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.number_of_records.id_for_label }}">{{ form.number_of_records.label_tag }}</label>
        <div class="controls">
            {% render_field form.number_of_records class="form-control" value=profile.number_of_records %}

            {% if form.number_of_records.auto_id  != "id_tos" %}
                {% if form.number_of_records.errors %}<span class="help-inline">{{ form.number_of_records.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
        <div class="controls">
            {% render_field form.branch class="form-control" value=profile.branch %}

            {% if form.branch.auto_id  != "id_tos" %}
                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.role.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.role.id_for_label }}">{{ form.role.label_tag }}</label>
        <div class="controls">
            {% render_field form.role class="form-control" value=profile.role %}

            {% if form.role.auto_id  != "id_tos" %}
                {% if form.role.errors %}<span class="help-inline">{{ form.role.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
</fieldset>