{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Forecasting Report - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form ledger-form" id="forecasting_report" action="{% url 'generate_forecasting_report' %}"
                  data-ajax-url="{% url 'generate_forecasting_report' %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.is_processing.errors %}error{% endif %}">
                                {{ form.is_processing.label_tag }}
                                <div class="controls">
                                    {% render_field form.is_processing class="form-control" tabindex="2" %}
                                    {% if form.is_processing.auto_id  != "id_tos" %}
                                        {% if form.is_processing.errors %}<span class="help-inline">{{ form.is_processing.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.is_completed.errors %}error{% endif %}">
                                <label class=" control-label txt-font12" for="{{ form.is_completed.id_for_label }}">{{ form.is_completed.label_tag }}</label>
                                <div class="controls">
                                    {% render_field form.is_completed class="form-control" tabindex="3" checked='checked' %}
                                    {% if form.is_completed.auto_id  != "id_tos" %}
                                        {% if form.is_completed.errors %}<span class="help-inline">{{ form.is_completed.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="display_print" class="btn btn-primary generate"
                                data-action="print"
                            >Print</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="display_screen" class="btn btn-primary generate"
                                data-action="screen"
                            >Screen</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="file" class="btn btn-primary generate"
                                data-action="file"
                            >File</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_pdf" class="btn btn-primary generate"
                                data-action="screen"
                            >
                            Pdf
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary"
                                data-action="cancel"
                            >Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-lg-12 col-md-12 data-container" id="forecasting_report">
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/ledger.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}