{% load static %}
{% load widget_tweaks %}
{% load invoice_tags report_tags %}
{{ report.payments }}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ year.company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Forecasting report</strong></td>
            </tr>
            <tr>
                <td>Year</td>
                <td class="text-right">{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered payment-forecasting" id="payment-forecasting">
        <thead>
            <tr>
                <th>Date</th>
                <th class="text-right">Total Amount</th>

            </tr>
        </thead>
        <tbody>
            {% for date_report in report.invoices %}
                <tr>
                    <td class="{% if date_report.is_due %} text-danger {% endif %}">{{ date_report.due_date }}</td>
                    <td class="text-right {% if date_report.is_due %} text-danger {% endif %}">
                        {{ date_report.total_open|money }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th class="text-right">{{ report.invoices_total|money }}</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="col-sm-12">
    <h4>Unallocated Payments</h4>
    <table class="table align-center table-bordered" width="100%">
        <thead>
            <tr>
                <th>Supplier</th>
                <th class="text-right">Unallocated Payments</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier_code, unpaid_amount in report.suppliers.items %}
                <tr>
                    <td id="{{ payment.id }}">
                        {{ supplier_code }}
                    </td>
                    <td class="text-right total">{{ unpaid_amount|money }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No supplier invoices found</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th class="text-right">{{ report.payments_total|money }}</th>
            </tr>
        </tfoot>
    </table>
</div>