{% extends 'base.html' %}
{% block page_title %} Delete Report Type {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group">
        <button class="btn btn-danger btn-large" name="submit" type="submit"><i class="fa fa-trash"></i> Delete this report type</button>
    </div>

  </form>
{% endblock %}