{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %} Report Types {% endblock page_title %}
{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for report_type in report_types %}
                <tr>
                    <td>{{ report_type.id }}</td>
                    <td>{{ report_type.name }}</td>
                    <td>{{ report_type.account_type_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">There are no accounts available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}