{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %} Report Types {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_master_report_type' master_company_id=company.id  %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a report type
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if report_types %}
                    {% for report_type in report_types %}
                        <tr>
                            <td>{{ report_type.id }}</td>
                            <td>{{ report_type.name }}</td>
                            <td>{{ report_type.account_type_name }}</td>
                            <td class="text-left actions">
                                <a href="{% url 'edit_master_report_type' master_company_id=company.id pk=report_type.id %}"
                                   data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'delete_master_report_type' master_company_id=company.id pk=report_type.id %}"
                                   data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete" onclick="return confirm('Are you sure you want to delete this report type')"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">There are no accounts available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}