{% load invoice_tags %}
<table class="table table-condensed">
    <thead>
        <tr>
            <th class="border-0">Type</th>
            <th class="border-0">Account</th>
            <th class="border-0">Stock Code/Description</th>
            <th class="text-right">Quantity</th>
            <th class="border-0 text-right">Price</th>
            <th class="border-0 text-right">Net Price</th>
            <th class="border-0 text-right">Vat Code</th>
            <th class="border-0 text-right">Vat Amount</th>
            <th class="border-0">Total Incl</th>
        </tr>
    </thead>
    <tbody>
        {% for fixed_asset_id, fixed_asset in fixed_assets.items %}
            <tr id="sales_item_{{ fixed_asset_id }}" class="sales-items fixed-asset" data-row-id="{{ fixed_asset_id }}">
                <td>
                    <label class="label label-info">G</label>
                </td>
                <td>
                    <label id="profit_loss_account_{{ fixed_asset_id }}" data-original-title="" data-toggle="tooltip" title="">

                    </label>
                    <input type="hidden" class="fixed-asset-account" value=""
                           name="account_id_{{ fixed_asset_id }}"
                           id="account_id_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                    >
                    <input type="hidden" value="{{ profit_on_asset_account.id }}"
                           name="profit_account_id_{{ fixed_asset_id }}"
                           id="profit_account_id_{{ fixed_asset_id }}"
                           data-account-name="{{ profit_on_asset_account.name }}"
                           data-account-code="{{ profit_on_asset_account.code }}"
                           data-item-id="{{ fixed_asset_id }}" />
                    <input type="hidden" value="{{ loss_on_asset_account.id }}"
                           name="loss_account_id_{{ fixed_asset_id }}"
                           id="loss_account_id_{{ fixed_asset_id }}"
                           data-account-name="{{ loss_on_asset_account.name }}"
                           data-account-code="{{ loss_on_asset_account.code }}"
                           data-item-id="{{ fixed_asset_id }}" />
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm description" value="{{ fixed_asset.asset.name }}"
                           name="description_{{ fixed_asset_id }}"
                           id="description_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                           placeholder="Description"
                           readonly="readonly"
                    >
                    <input type="hidden" class="average-price" value=""
                           name="average_price_{{ fixed_asset_id }}"
                           id="average_price_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                    >
                </td>
                <td>
                    <input type="text" readonly="readonly" class="form-control form-control-sm quantity" value="{{ fixed_asset.asset.quantity }}"
                           name="quantity_{{ fixed_asset_id }}"
                           id="quantity_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                           placeholder="1" />
                    <input type="hidden" class="form-control form-control-sm ordered" value="{{ fixed_asset.asset.quantity }}"
                           name="ordered_{{ fixed_asset_id }}"
                           id="ordered_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                           readonly="readonly"
                           placeholder="1" >
                    <input type="hidden" class="form-control form-control-sm quantity-received"
                           value="{{ fixed_asset.asset.quantity }}"
                           name="quantity_received_{{ fixed_asset_id }}"
                           id="quantity_received_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                           readonly="readonly"
                           placeholder="1" >

                </td>
                <td class="text-right">
                    <input type="text" class="form-control form-control-sm price"
                           name="price_{{ fixed_asset_id }}"
                           id="price_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                           value="" />
                    <input type="hidden" value=""
                           name="price_including_{{ fixed_asset_id }}"
                           id="price_including_{{ fixed_asset_id }}"
                           class="price-including" />
                    <input type="hidden" class="net-book-value"
                           id="net_book_value_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                           value="{{ fixed_asset.net_book_value }}" />
                </td>
                <td class="text-right">
                    <span class="price-exc" id="total_price_exl_{{ fixed_asset_id }}" data-item-id="{{ fixed_asset_id }}"></span>
                    <input type="hidden" value=""
                           name="total_price_excluding_{{ fixed_asset_id }}"
                           id="total_price_excluding_{{ fixed_asset_id }}"
                           class="total-price-excl open-input"
                    >
                    <input type="hidden" value="{{ fixed_asset_id }}"
                           name="sub_total_{{ fixed_asset_id }}"
                           id="sub_total_{{ fixed_asset_id }}"
                           class="sub-total"
                    />
                </td>
                <td>
                    <select class="form-control form-control-sm vat-code"
                           name="vat_code_{{ fixed_asset_id }}"
                           id="vat_code_{{ fixed_asset_id }}"
                           data-item-id="{{ fixed_asset_id }}"
                    >
                        {% for vat_code in vat_codes %}
                            <option value="{{ vat_code.id }}"
                                    {% if vat_code.is_default %} selected="selected" {% endif %}
                                    data-percentage="{{ vat_code.percentage }}">{{ vat_code }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" value=""
                       name="vat_percentage_{{ fixed_asset_id }}"
                       id="vat_percentage_{{ fixed_asset_id }}"
                       class="vat-percentage" />
                </td>
                <td class="text-right">
                    <span class="total-vat" id="vat_total_{{ fixed_asset_id }}" data-item-id="{{ fixed_asset_id }}"></span>
                    <input type="hidden" value=""
                           name="vat_amount_{{ fixed_asset_id }}"
                           id="vat_amount_{{ fixed_asset_id }}"
                           class="" >
                    <input type="hidden" value=""
                           name="total_vat_{{ fixed_asset_id }}"
                           id="total_vat_{{ fixed_asset_id }}"
                           class="vat-amount" >
                </td>
                <td class="text-right">
                    <span class="price total-price" id="total_price_incl_{{ fixed_asset_id }}"></span>
                    <input type="hidden" value="" name="total_price_including_{{ fixed_asset_id }}"
                           id="total_price_including_{{ fixed_asset_id }}"
                           class="total-price-incl open-input"
                    >
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="po-total" colspan="8">SUB TOTAL</td>
            <td class="po-total">
                <span id="sub_total"></span>
            </td>
        </tr>
    {#        <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">#}
    {#            <td class="po-total" colspan="8">CUSTOMER DISCOUNTS</td>#}
    {#            <td class="po-total">#}
    {#                <span id="customer_invoice_discounts"></span>#}
    {#            </td>#}
    {#        </tr>#}
        <tr>
            <td class="po-total" colspan="8">NETT TOTAL</td>
            <td class="po-total">
                <span id="total_price_excl"></span>
            </td>
        </tr>
        <tr>
            <td class="po-total" colspan="8">VAT</td>
            <td class="po-total">
                <span id="vat_total"></span>
                <input type="hidden" id="default_vat" value="{{ default_vat}}">
            </td>
        </tr>
        <tr>
            <td class="po-total" colspan="8">TOTAL ORDER VALUE</td>
            <td class="po-total">
                <span id="total_price_inc"></span>
            </td>
        </tr>
        <tr>
            <td class="po-total" colspan="8">Net Profit/Loss</td>
            <td class="po-total">
                <span id="net_profit_loss"></span>
                <input type="hidden" name="net_profit_loss" id="id_net_profit_loss" value="" />
            </td>
        </tr>
    </tfoot>
</table>