{% extends 'base.html' %}
{% load static %}
{% load invoice_tags %}
{% load widget_tweaks %}
{% block page_title %}Confirm Fixed Assets Disposals{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="confirm_disposal_form" action="{% url 'confirm_dispose_assets' %}">
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Assets to be disposed</div>
                <div class="panel-body">
                    <table class="table table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>Assets</th>
                                <th>Asset Number</th>
                                <th>Last Depreciation Date</th>
                                <th class="text-right">Net Book Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, fixed_asset in fixed_assets.assets.items %}
                                <tr>
                                    <td>
                                        {{ fixed_asset.asset.name }}
                                        <input type="hidden" name="assets_{{ fixed_asset.id }}" value="{{ fixed_asset.id }}" />
                                    </td>
                                    <td>{{ fixed_asset.asset.asset_number }}</td>
                                    <td>{{ fixed_asset.last_depreciation_date|date:'d/m/Y' }}</td>
                                    <td class="text-right">{{ fixed_asset.net_book_value|money }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                    <input type="hidden" id="total_net_book_value" value="{{ fixed_assets.total_net_book_value }}">
                                    {{ fixed_assets.total_net_book_value|money }}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button type="button" data-modal-url="{% url 'create_disposal_invoice' %}" id="confirm_asset_disposal"
            class="btn btn-primary">Confirm Asset Disposal</button>

</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}"></script>
{% endblock %}