{% extends 'base.html' %}
{% load static %}
{% load invoice_tags %}
{% load widget_tweaks %}
{% block page_title %} Fixed Assets Disposals - {{ year }} {% endblock page_title %}
{% block content %}
<form class="form-horizontal" method="post" id="disposals_form">
    {% csrf_token %}
    <div class="panel panel-primary"    >
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
        <div class="panel-body align-center">
            <div class="col-lg-12 col-xs-12" id="create_receipt_box">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label>Search</label>
                                <div class="controls">
                                    <input type="text" name="search" value="" placeholder="Search" id="fixed_asset_search" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12" id="fixed_assets">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" width="100%" id="fixed-asset-disposals">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Asset Number</th>
                                <th>Date Purchased</th>
                                <th>Unique Number</th>
                                <th class="text-right">Cost Price</th>
                                <th class="text-right">Acc Depr</th>
                                <th class="text-right">NBV</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category, category_assets in categories.items %}
                                <tr>
                                    <th class="table-header" colspan="13">{{ category }}</th>
                                </tr>
                                {% for fixed_asset, asset in category_assets.assets.items %}
                                    <tr>
                                        <td>{{ fixed_asset}}</td>
                                        <td>{{ fixed_asset.asset_number }}</td>
                                        <td>{{ fixed_asset.date_purchased }}</td>
                                        <td>{{ fixed_asset.asset_number }}</td>
                                        <td class="text-right">{{ asset.closing_balance|money }}</td>
                                        <td class="text-right">{{ asset.closing_depreciation|money }}</td>
                                        <td class="text-right">{{ asset.net_book_value|money }}</td>
                                        <td class="text-left actions">
                                            <input type="checkbox" class="disposal-check"
                                                   name="dispose_{{ fixed_asset.id }}"
                                                   id="dispose_{{ fixed_asset.id }}"
                                                   value="{{ fixed_asset.id }}" />
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="11">&nbsp;</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6">There are no fixed assets available for disposals</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="submit" id="cancel" class="btn btn-primary action"
                            data-action="cancel" tabindex="{{ 6 }}"
                        >Cancel</button>
                    </div>
                    <div class="form-group">
                        <button id="dispose_assets" type="submit"
                                data-ajax-url="{% url 'dispose_assets' %}"
                                class="btn btn-success btn-sm"><i class="fa fa-save"></i> Dispose</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}"></script>
{% endblock %}