{% load role_tags %}
{% if profiles %}
    <li class="{% if profiles|length > 1 %}dropdown{% endif %}">
         {% if the_profile %}
             <a href="#" {% if profiles|length > 1 %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
                {% current_profile company_id user_id the_profile.id %} {% if profiles|length > 1 %}<i class="fa fa-caret-down fa-fw"></i>{% endif %}
             </a>
         {% endif %}
        {% if profiles|length > 1 %}
            <ul class="list-unstyled nav dropdown-menu dropdown-menu-right">
                {% for temp_profile in profiles %}
                    <li>
                        <a class="profile profile-item" href="javascript:void(0);" data-ajax-url="{% url 'grant_profile_access' temp_profile.pk  %}?next={{request.path}}">{{ temp_profile }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}