{% load role_tags %}
{% for temporary_profile in temporary_profiles %}
    <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ temporary_profile.profile }}<i class="fa fa-caret-down fa-fw"></i>
         </a>
        {% profile_roles temporary_profile.profile_id %}
    </li>
{% endfor %}