{% extends 'modal.html' %}
{% load static %}
{% block title %} Edit Comment {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="comment_journal_form" name="comment_journal_form"
        action="{% url 'edit_journal_comment' comment.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="comment_submit" type="submit" id="comment_submit"><i class="fa fa-save"></i> Update</button>
    </div>
  </form>

{% endblock %}