{% extends 'modal.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="create_posting_invoice_update"
      name="create_posting_invoice_update" action="{% url 'create_journal_for_posting_invoice' %}">
    {% csrf_token %}
    <div class="modal-body">
        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
            <div class="col-sm-4" for="{{ form.period.id_for_label }}">
                <label class="control-label txt-font12" for="{{ form.period.id_for_label }}">
                    {{ form.period.label }}
                </label>
            </div>
            <div class="col-sm-8">
                {% render_field form.period class="form-control" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
            <div class="col-sm-4" for="{{ form.date.id_for_label }}">
                <label class="control-label txt-font12" for="{{ form.date.id_for_label }}">
                    {{ form.date.label }}
                </label>
            </div>
            <div class="col-sm-8">
                {% render_field form.date class="form-control datepicker" %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary modal-save" id="save_update"> <i class="fa fa-arrow-circle-up"></i>  Update</button>
    </div>
</form>
{% endblock %}