{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} Update posting invoices - {{ year }}  {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                  <button type="button" class="btn btn-sm btn-primary btn-loading create-journal"
                          {% if year.is_final %}disabled="disabled"{% endif %}
                          data-loading-text="<i class='fa fa-spinner'></i> Processing"
                          data-modal="{% url 'create_journal_for_posting_invoice' %}"
                          id="journal_for_posting_invoice"> <i class="fa fa-arrow-circle-up"></i> UPDATE POSTING INVOICES</button>
            </div>
            <div class="pull-right"></div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Date</th>
                        <th>Created Date</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for update in updates %}
                        <tr onclick="openDetail(this)"
                            {% if company.run_incoming_document_journal %}
                                data-detail-url="{% url 'posting_invoice_journal_detail' update.id %}"
                            {% else %}
                                data-detail-url="{% url 'invoice_posting_dont_record_detail' update.id %}"
                            {% endif %}
                        >
                            <td>{{ update }}</td>
                            <td>{{ update.date }}</td>
                            <td>{{ update.created_at }}</td>
                            <td>{{ update.role }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">There are no updated posting available for selected year</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Last</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/posting_update.js' %}"></script>
{% endblock %}