{% extends 'modal.html' %}
{% load static %}
{% block title %} Close Month{{ year }} {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="modal_form" name="create_month_close"
        action="{% url 'create_month_close' %}"
        data-ajax-url="{% url 'create_month_close' %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-large" name="create_month_close_submit"
                type="button" id="modal_save_btn"><i class="fa fa-save"></i> Continue</button>
    </div>
  </form>
{% endblock %}