{% extends 'base.html' %}
{% load static compress %}
{% load invoice_tags %}
{% block page_title %} Month Close {% endblock page_title %}
{% block content %}
    <div class="row">
        <button id="run_vat_report"
           data-modal="{% url 'create_month_close' %}"
           class="btn btn-large btn-success">Month Close</button>
    </div>
    <br />
    <div class="table-responsive">
    </div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/period.js' %}"></script>
    {% endcompress %}
{% endblock %}