{% extends 'base.html' %}
{% load static compress %}
{% load invoice_tags %}
{% block page_title %} Month Close {% endblock page_title %}
{% block content %}
    {% if has_pending_updates %}
        <div class="col-md-12">
            <div class="">
                <h6 class="text-danger"><i class="text-"></i> Oh snap! You got an error!</h6>
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%">
                        <tr>
                            <th>Month Close:</th>
                            <th>{{ period }}</th>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        {% if incoming_updates_count > 0 %}
                            <tr>
                                <td colspan="2"><strong>Incoming Invoices Updates</strong></td>
                            </tr>
                            <tr>
                                <td class="text-danger">
                                    There are invoices in the flow with an accounting date equal or before to the month you are closing.<br />
                                    Either part these invoices or Change the Accounting Date to reflect the next month and then run Month End Close again
                                </td>
                                <td>
                                    <ul>
                                        {% for incoming_update in incoming_updates %}
                                            <li>{{ incoming_update }} - {{ incoming_update.status }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% endif %}
                        {% if account_postings_count > 0 %}
                            <tr>
                                <td colspan="2"><strong>Account Posting Updates</strong></td>
                            </tr>
                            <tr>
                                <td class="text-danger">Please run your account posting updates report</td>
                                <td>
                                    <ul>
                                        {% for account_posting in account_postings %}
                                            <li>{{ account_posting }} - {{ account_posting.status }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% elif distributions_count > 0 %}
                            <tr>
                                <td colspan="2"><strong>Distributions</strong></td>
                            </tr>
                            <tr>
                                <td class="text-danger">
                                    <span>Found Distributions not processed</span>
                                </td>
                                <td>
                                    <span data-ajax-url="{% url 'run_month_end_distributions' period=period.id %}"
                                            id="distribution_pending">Found Distributions not processed</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% endif %}
                        {% if payments_count > 0 %}
                            <tr>
                                <td colspan="2"><strong>Payment Updates</strong></td>
                            </tr>
                            <tr>
                                <td class="text-danger">Please run your payment updates report</td>
                                <td>
                                    <ul>
                                        {% for payment in payments %}
                                            <li>{{ payment }} - {{ payment.payment_type }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% endif %}
                        {% if sales_updates_count > 0 %}
                            <tr>
                                <td colspan="2"><strong>Updates Sales Module</strong></td>
                            </tr>
                            <tr>
                                <td class="text-danger">
                                    Sales Module updates have not been updated. Update these and then run a Month End Close again
                                </td>
                                <td>
                                    <ul>
                                        {% for sales_update in sales_updates %}
                                            <li>{{ sales_update }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% endif %}
                        {% if cashup_updates_count > 0 %}
                            <tr>
                                <td colspan="2"><strong>Updates Sales Module</strong></td>
                            </tr>
                            <tr>
                                <td class="text-danger">
                                   Cash Ups have not been done
                                </td>
                                <td>
                                    <ul>
                                        {% for cashup_update in cashup_updates %}
                                            <li>{{ cashup_update }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% endif %}
                        {% if vat_lines_count > 0 %}
                            <tr>
                                <td colspan="2"><strong>Vat Reports</strong></td>
                            </tr>
                            <tr class="text-danger">
                                <td colspan="2">Please run your vat submission report</td>
                            </tr>
                             <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% endif %}
                        {% if depreciation_count > 0 %}
                            <tr>
                                <td colspan="2"><strong>Depreciation Updates</strong></td>
                            </tr>
                            <tr class="text-danger">
                                <td colspan="2">Please run your depreciation updates</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% endif %}
                        {% if is_pending_vat_updates %}
                            <tr>
                                <td colspan="2"><strong>Pending vat update</strong></td>
                            </tr>
                            <tr class="text-danger">
                                <td colspan="2">Vat Report has to be updated</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <h6>You are about to close your month, are you happy with the following:</h6>
            <div>
                <ul>
                    <li>Closing all the previous months not locked</li>
                    <li>Your Bank Reconciliation is done</li>
                    <li>Your Monthly Income Statement is a fair presentation of your month</li>
                    <li>Your Balance Sheet Accounts are a fair presentation of your Assets and Liabilities</li>
                </ul>
            </div>
            <div>
               <a href="" class="btn btn-large btn-primary">Previous</a>
                {% if not has_pending_updates %}
                    <button type="button" id="save_close_month"
                            data-ajax-url="{% url 'save_month_close' period_id=period.id %}"
                            class="btn btn-large btn-success"><i class='fa fa-lock'></i> Lock Month</button>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/period.js' %}"></script>
    {% endcompress %}
{% endblock %}