{% extends 'modal.html' %}
{% load widget_tweaks %}
{% load static i18n %}
{% block title %}{% translate 'Update Fixed Assists Depreciation' %} {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="create_depreciation_update"
      name="create_depreciation_update" action="{% url 'create_fixed_asset_updates' %}">
    {% csrf_token %}
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 col-xs-12" id="create_payment_box">
                <div class="row mb-3" style="margin-bottom: 5px !important;">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                         <label class="col-sm-3 text-left" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                         <div class="col-sm-9 text-left">
                            {% render_field form.period class="form-control chosen-select" %}
                            {% if form.period.auto_id  != "id_tos" %}
                                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                            {% endif %}
                         </div>
                    </div>
                </div>
                <div class="row mb-3" style="margin-bottom: 5px !important;">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                         <label class="col-sm-3 text-left" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                         <div class="col-sm-9 text-left">
                            {% render_field form.date class="form-control datepicker" %}
                            {% if form.date.auto_id  != "id_tos" %}
                                {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                            {% endif %}
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">{% translate "Cancel" %}</button>
        <button class="btn btn-primary modal-save" id="save_update">{% translate "Update" %}</button>
    </div>
</form>
{% endblock %}