{% extends 'base.html' %}
{% load widget_tweaks i18n %}
{% load invoice_tags %}
{% block page_title %} {% translate 'Update of fixed assets'  %} - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Report Unique Number:</th>
                    <th>{{ journal.report_unique_number }}</th>
                    <th class="text-right">Jnl</th>
                    <th class="text-right">
                        {% if journal.ledger %}
                             <a href="{% url 'journal_lines' journal.ledger.id %}">{{ journal.ledger.journal_number }}</a>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>{{ journal.created_by.code }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Role:</th>
                    <th>{{ journal.role }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Date:</th>
                    <th>
                        <u>{{ journal.date|date:'d, M Y' }}</u>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Created Date:</th>
                    <th>{{ journal.created_at|date:'d, M Y' }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th colspan="11"></th>
                                    <th class="text-right"></th>
                                    <th class="text-center" colspan="3">Depreciation </th>
                                    <th class="text-right"></th>
                                </tr>
                                <tr>
                                    <th>Per</th>
                                    <th>Asset</th>
                                    <th>Date Purchased</th>
                                    <th>Own Asset Number</th>
                                    <th>Supplier</th>
                                    <th>Location</th>
                                    <th>Quantity</th>
                                    <th>Asset Account</th>
                                    <th>Accumulated Depr. Account</th>
                                    <th>Depr. Account</th>
                                    <th>Depr. Method</th>
                                    <th class="text-right">Depr. Rate</th>
                                    <th class="text-right">Opening</th>
                                    <th class="text-right">Value</th>
                                    <th class="text-right">Accumulated</th>
                                    <th class="text-right">Net Book Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if updates|length > 0 %}
                                    {% for asset_update in updates.assets %}
                                        <tr>
                                            <td>{{ asset_update.period }}</td>
                                            <td>{{ asset_update.asset }}</td>
                                            <td>{{ asset_update.asset.date_purchased }}</td>
                                            <td>{{ asset_update.asset.own_asset_number }}</td>
                                            <td>{{ asset_update.asset.supplier}}</td>
                                            <td>{{ asset_update.asset.location }}</td>
                                            <td>{{ asset_update.asset.quantity }}</td>
                                            <td>{{ asset_update.asset.asset_account.code }}</td>
                                            <td>{{ asset_update.asset.accumulated_depreciation_account.code }}</td>
                                            <td>{{ asset_update.asset.depreciation_account.code }}</td>
                                            <td>{{ asset_update.asset.method_name }}</td>
                                            <td class="text-right">{{ asset_update.asset.depreciation_rate_percentage }}</td>
                                            <td class="text-right">{{ asset_update.opening_depreciation_value|money }}</td>
                                            <td class="text-right">{{ asset_update.depreciation|money }}</td>
                                            <td class="text-right">{{ asset_update.closing_depreciation|money }}</td>
                                            <td class="text-right">{{ asset_update.net_book_value|money }}</td>
                                        </tr>
                                    {% endfor %}
                                       <tr>
                                            <td colspan="11"></td>
                                            <td></td>
                                            <td class="text-right"><strong>{{ updates.total_opening_depreciation|money }}</strong></td>
                                            <td class="text-right"><strong>{{ updates.total_updated_depreciation|money }}</strong></td>
                                            <td class="text-right"><strong>{{ updates.total_closing_depreciation|money }}</strong></td>
                                            <td class="text-right"><strong>{{ updates.total_net_book_value|money }}</strong></td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">There are no invoices available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}