{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} Update fixed assets - {{ year }} {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">

      <div class="panel-heading clearfix">
            <div class="pull-left">
                <button type="button" class="btn btn-large btn-success btn-loading"
                        data-modal="{% url 'create_fixed_asset_updates' %}"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        id="journal_for_incoming_invoice"> <i class="fa fa-arrow-circle-up"></i> UPDATE DEPRECIATION</button>
            </div>
            <div class="pull-right"></div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Date</th>
                        <th>Created Date</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for update in updates %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'fixed_asset_journal_detail' update.id %}">
                            <td>{{ update.report_unique_number }}</td>
                            <td>{{ update.date }}</td>
                            <td>{{ update.created_at }}</td>
                            <td>{{ update.role }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">There are no updated fixed assets available for the selected year</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/fixed_asset_update.js' %}"></script>
{% endblock %}