{% extends 'modal.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load fixed_asset_tags %}
{% block title %}Create {{ fixed_asset }} Depreciation Split{% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="modal_form"
        action="{% url 'save_fixed_asset_object_depreciation' fixed_asset.id %}?{{ query_str }}"
        data-ajax-url="{% url 'save_fixed_asset_object_depreciation' fixed_asset.id %}?{{ query_str }}">
        {% csrf_token %}
       <div class="modal-body">
            <table class="table-bordered table">
                <thead>
                    <tr>
                        <th>Object</th>
                        <th>Description</th>
                        <th>Breakdown</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for depreciation_split in depreciation_splits %}
                        <tr>
                            {% if depreciation_split.object_posting %}
                                <td>{{ depreciation_split.object_posting.name }}</td>
                                <td>-</td>
                            {% else %}
                                <td>{{ depreciation_split.object_item.code }}</td>
                                <td>{{ depreciation_split.object_item.label }}</td>
                            {% endif %}
                            <td>{{ depreciation_split.percentage }}%</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    <tr id="add_row" class="add-row">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#" id="add_object_depreciation_line" class="add-depreciation-split add-split"
                               data-ajax-url="{% url "add_object_depreciation_line" fixed_asset.id  %}?{{ query_str }}">{% translate "Add" %}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
       </div>
       <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
            <button class="btn btn-primary btn-large" name="save_fixed_asset_depreciation_split" type="submit" id="modal_save_btn"><i class="fa fa-save"></i> Save</button>
       </div>
  </form>
{% endblock %}