<table class="table-bordered table">
    <thead>
        <tr>
            <th>Object</th>
            <th>Description</th>
            <th>Breakdown</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for depreciation_split in depreciation_splits %}
            <tr>
                <td>{{ depreciation_split }}</td>
                <td>{{ depreciation_split.description }}</td>
                <td>{{ depreciation_split.percentage }}%</td>
                <td>
                    <a href="#" data-modal="{% url 'create_child_depreciation_split' fixed_asset_id=depreciation_split.fixed_asset_id parent_id=depreciation_split.id %}">Split</a>
                    <a href="#" data-modal="{% url 'delete_depreciation_split' fixed_asset_id=depreciation_split.fixed_asset_id pk=depreciation_split.id %}">Delete</a>
                </td>
            </tr>
            {% for split_child in depreciation_split.children.all %}
                <tr style="font-family: 'Noto Sans Old Italic'; font-style: italic !important;">
                    {% if split_child.object_posting %}
                        <td class="px-5" style="padding-left: 15px !important;">{{ split_child.object_posting.name }}</td>
                        <td>-</td>
                    {% else %}
                        <td class="px-5" style="padding-left: 15px !important;">{{ split_child.object_item.code }}</td>
                        <td>{{ split_child.object_item.label }}</td>
                    {% endif %}
                    <td>{{ split_child.percentage }}%</td>
                    <td>
                        <a href="#" data-modal="{% url 'delete_depreciation_split' fixed_asset_id=depreciation_split.fixed_asset_id pk=split_child.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td colspan="4">No depreciation split setup found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>