<tr class="depreciation-split-row fixed-asset-percentage-split-row" data-row-id="{{ row }}">
    <td>
        <select class="depreciation-object-item" data-row="{{ row }}" name="depreciation_split_item_{{ row }}" id="depreciation_split_item_{{ row }}"
                class="form-control form-control-sm">
            <option value="">Select Object</option>
            {% if object_items %}
                <optgroup label="Company Objects">
                    {% for object_item in object_items %}
                        <option value="object_item_{{ object_item.id }}" data-label="{{ object_item.label }}">{{ object_item.code }}</option>
                    {% endfor %}
                </optgroup>
            {% endif %}
            {% if object_postings %}
                <optgroup label="Objects for expenses Split">
                    {% for object_posting in object_postings %}
                        <option value="object_posting_{{ object_posting.id }}" data-label="{{ object_posting.name }}">{{ object_posting.name }}</option>
                    {% endfor %}
                </optgroup>
            {% endif %}
        </select>
    </td>
    <td id="depreciation_percentage_object_item_label_{{ row }}"></td>
    <td>
        <input type="text" class="form-control form-control-sm split-percentage text-right"
               name="depreciation_percentage_split_{{ row }}" id="depreciation_percentage_split_{{ row }}" />
    </td>
    <td></td>
</tr>