{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}Create pricing - <strong>{{ customer }}</strong> {% endblock title %}
{% block content %}
<form method="post" action="{% url 'create_pricing' customer_id=customer.id %}" id="pricing_form"
      name="pricing_form" class="form-horizontal">
     <div class="modal-body">
         {% if has_error %}
             <div id="text-reason">{{ message }}</div>
         {% endif %}
        <div class="col-sm-12 form">
            <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
                <label class="col-sm-4 control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
                <div class="col-sm-8">
                    {% render_field form.name class="form-control" %}
                    {% if form.name.auto_id  != "id_tos" %}
                        {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary save-btn" id="save_pricing">Save</button>
    </div>
</form>
{% endblock %}