<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-right">
         <button data-modal="{% url 'create_pricing' customer_id=customer.id %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus-o"></i> Create
         </button>
      </div>
  </div>
  <div class="panel-body align-center">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="pricings">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pricings %}
                        {% for pricing in pricings %}
                            <tr>
                                <td>{{ pricing.name }}</td>
                                <td class="text-right actions">
                                    <button class="btn btn-primary" data-modal="{% url 'create_fixed_pricing' pricing_id=pricing.id %}"><i class="fa fa-plus"></i>Add Fixed Prices</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-primary" data-modal="{% url 'import_fixed_pricing' pricing_id=pricing.id %}"><i class="fa fa-plus"></i>Upload</button>
                                    &nbsp;&nbsp;
                                    <button class="btn btn-primary" data-modal="{% url 'fixed_pricing_index' pricing_id=pricing.id %}"><i class="fa fa-eye"></i>View Pricing</button>
                                    &nbsp;&nbsp;
                                    <a href="{% url 'edit_pricing' pricing.id %}"
                                       data-toggle="tooltip"
                                       title="" class="btn-sm btn-primary"
                                       data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'delete_pricing' pricing.id %}"
                                       onclick="return confirm('Are you sure you want to delete this pricing')"
                                       data-toggle="tooltip" title=""
                                       class="btn-sm btn-danger"
                                       data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">There are no pricing</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
  </div>
</div>