{% load invoice_tags common_tags  %}
{% for delivery_item in delivery_items.all %}
    {% if delivery_item.is_inventory and delivery_item.inventory %}
        <tr id="sales_item_{{ delivery_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ delivery_item.id }}"
             data-delivery-id="{{ delivery_item.id }}"
        >
            <td>{{ delivery_item.item_type }}</td>
            <td>
             {{ delivery_item.inventory.inventory }}&nbsp;&nbsp;
             <input type="hidden" name="delivery_id" value="{{ delivery_item.id }}">
             <input type="hidden" value="{{ delivery_item.inventory.gross_weight }}"
                    id="gross_weight_{{ delivery_item.id }}"
                    data-row-id="{{ delivery_item.id }}"
                    class="gross-weight" />
             <input type="hidden" value="{{ delivery_item.inventory.weight }}"
                    id="net_weight_{{ delivery_item.id }}"
                    data-row-id="{{ delivery_item.id }}"
                    class="net-weight" />
            </td>
            <td>{{ delivery_item.inventory.description }}</td>
            <td class="text-right">
                {% if delivery_item.is_invoicable %}
                    <span class="text-success">{{ delivery_item.inventory.invoicable_stock|quantity }}</span>
                {% else %}
                    <span class="text-warning">{{ delivery_item.inventory.invoicable_stock|quantity }}</span>
                {% endif %}
                <input type="hidden" name="in_stock_{{ delivery_item.id }}" id="in_stock_{{ delivery_item.id }}"
                       value="{{ delivery_item.inventory.invoicable_stock|quantity }}">
            </td>
            <td class="text-right">
                {{ delivery_item.quantity|money }}
                <input type="hidden" name="quantity_ordered_{{ delivery_item.id }}" id="quantity_ordered_{{ delivery_item.id }}"
                       value="{{ delivery_item.quantity }}">
            </td>
            <td class="text-right">
                <input type="text" class="form-control form-control-sm quantity"
                   value="{{ delivery_item.invoicable_stock|quantity }}"
                   name="quantity_{{ delivery_item.id }}"
                   id="quantity_{{ delivery_item.id }}"
                   data-item-id="{{ delivery_item.id }}"
                />
                <input type="hidden" name="invoiced_{{ delivery_item.id }}" id="invoiced_{{ delivery_item.id }}"
                       value="{{ delivery_item.invoicable_stock }}">
            </td>
            <td class="text-center">
                <input type="checkbox" class="checkbox-input create-back-order"
                       {% if delivery_item.is_invoicable %}disabled="disabled"{% else %}checked="checked"{% endif %}
                       name="back_order_{{ delivery_item.id }}"
                       id="back_order_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}"
                       value="{{ delivery_item.id }}"
                />
            </td>
            <td class="text-center">{{ delivery_item.unit }}</td>
            <td class="text-right">
                {{ delivery_item.price|money }}
                <input type="hidden" class="form-control form-control-sm price"
                       name="price_{{ delivery_item.id }}"
                       id="price_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}"
                       value="{{ delivery_item.price }}" />

            </td>
            <td class="text-right">
                {{ delivery_item.price_including|money }}
                <input type="hidden" class="form-control form-control-sm price-including"
                       name="price_including_{{ delivery_item.id }}"
                       id="price_including_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}"
                       value="{{ delivery_item.price_including }}" />
                <input type="hidden" class="sub-total"
                       name="sub_total_{{ delivery_item.id }}"
                       id="sub_total_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}"
                       value="{{ delivery_item.sub_total }}" />
            </td>
            <td class="text-left">
                <span class="price" id="_discount_percentage_{{ delivery_item.id }}">{{ delivery_item.discount|money }}</span>
                <input type="hidden" class="form-control form-control-sm discount" value="{{ delivery_item.discount|money }}"
                       name="discount_percentage_{{ delivery_item.id }}"
                       id="discount_percentage_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}" />
            </td>
            <td class="text-right">
                <span class="discount-amount" id="discount_amount_{{ delivery_item.id }}"
                      data-item-id="{{ delivery_item.id }}">{{ delivery_item.discount_amount|money }}</span>
                <input type="hidden" class="form-control form-control-sm total-discount"
                       value="{{ delivery_item.discount_amount }}" readonly="readonly"
                       name="total_discount_{{ delivery_item.id }}"
                       id="total_discount_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}" />
                <input type="hidden" class="form-control form-control-sm discount-amount"
                       value="{{ delivery_item.discount_amount }}" readonly="readonly"
                       name="discount_amount_{{ delivery_item.id }}"
                       id="discount_amount_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}" />
            </td>
            <td class="text-right">
                <span class="price-exc" id="total_price_exl_{{ delivery_item.id }}" data-item-id="{{ delivery_item.id }}">
                    {{ delivery_item.total_price_excluding|money }}
                </span>
                <input type="hidden" value="{{ delivery_item.total_price_excluding }}"
                       name="total_price_excluding_{{ delivery_item.id }}"
                       id="total_price_excluding_{{ delivery_item.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ delivery_item.id }}" data-item-id="{{ delivery_item.id }}">
                    {{ delivery_item.vat_amount|money }}
                </span>
                <input type="hidden" value="{{ delivery_item.vat_code.id }}"
                       name="vat_code_{{ delivery_item.id }}"
                       id="vat_code_{{ delivery_item.id }}"
                       data-percentage="{{ delivery_item.vat_code.percentage }}"
                       class="vat vat-codes"
                       data-item-id="{{ delivery_item.id }}"
                       data-text="{{ delivery_item.vat_code }}"
                />
                <input type="hidden" value="{{ delivery_item.vat }}"
                       name="vat_percentage_{{ delivery_item.id }}"
                       id="vat_percentage_{{ delivery_item.id }}"
                       class="vat-percentage"
                />
                <input type="hidden"
                       name="total_vat_{{ delivery_item.id }}"
                       id="total_vat_{{ delivery_item.id }}"
                       class="total-vat total-vat-amount"
                       value="{{ delivery_item.vat_amount }}"
                />
                <input type="hidden"
                       name="vat_amount_{{ delivery_item.id }}"
                       id="vat_amount_{{ delivery_item.id }}"
                       class="vat-amount"
                       value="{{ delivery_item.vat_amount }}"
                />
            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ delivery_item.id }}">{{ delivery_item.total_price_including|money }}</span>
                <input type="hidden" value="{{ delivery_item.total_price_including|money }}"
                       name="total_price_including_{{ delivery_item.id }}"
                       id="total_price_including_{{ delivery_item.id }}"
                       class="total-price-incl open-input" />
            </td>
        </tr>
    {% elif delivery_item.is_account %}
        <tr id="sales_item_{{ delivery_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ delivery_item.id }}"
             data-delivery-id="{{ delivery_item.id }}"
        >
            <td>{{ delivery_item.item_type }}</td>
            <td>
                {{ delivery_item.account.code }}&nbsp;&nbsp;
                <input type="hidden" name="delivery_id" value="{{ delivery_item.id }}">
            </td>
            <td>{{ delivery_item.description }}</td>
            <td class="text-right">-</td>
            <td class="text-right">
                {{ delivery_item.quantity|money }}
                <input type="hidden" name="in_stock_{{ delivery_item.id }}" id="in_stock_{{ delivery_item.id }}"
                       value="{{ delivery_item.inventory.quantity }}">
                <input type="hidden" id="allow_negative_stock_{{ delivery_item.id }}" value="1" />
                <input type="hidden" name="quantity_ordered_{{ delivery_item.id }}" id="quantity_ordered_{{ delivery_item.id }}"
                       value="{{ delivery_item.quantity }}">
            </td>
            <td class="text-right">
                <input type="text" class="form-control form-control-sm quantity"
                   value="{{ delivery_item.quantity|quantity }}"
                   name="quantity_{{ delivery_item.id }}"
                   id="quantity_{{ delivery_item.id }}"
                   data-item-id="{{ delivery_item.id }}"
                />
            </td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-right">
                {{ delivery_item.price|money }}
                <input type="hidden" class="form-control form-control-sm price"
                       name="price_{{ delivery_item.id }}"
                       id="price_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}"
                       value="{{ delivery_item.price }}" />

            </td>
            <td class="text-right">
                {{ delivery_item.price_including|money }}
                <input type="hidden" class="form-control form-control-sm price-including"
                       name="price_including_{{ delivery_item.id }}"
                       id="price_including_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}"
                       value="{{ delivery_item.price_including }}" />
                <input type="hidden" class="sub-total"
                       name="sub_total_{{ delivery_item.id }}"
                       id="sub_total_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}"
                       value="{{ delivery_item.sub_total }}" />
            </td>
            <td class="text-left">
                <span class="price" id="_discount_percentage_{{ delivery_item.id }}">{{ delivery_item.discount|money }}</span>
                <input type="hidden" class="form-control form-control-sm discount" value="{{ delivery_item.discount|money }}"
                       name="discount_percentage_{{ delivery_item.id }}"
                       id="discount_percentage_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}" />
            </td>
            <td class="text-right">
                <span class="discount-amount" id="discount_amount_{{ delivery_item.id }}"
                      data-item-id="{{ delivery_item.id }}">{{ delivery_item.discount_amount|money }}</span>
                <input type="hidden" class="form-control form-control-sm total-discount"
                       value="{{ delivery_item.discount_amount }}" readonly="readonly"
                       name="total_discount_{{ delivery_item.id }}"
                       id="total_discount_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}" />
               <input type="hidden" class="form-control form-control-sm discount-amount"
                       value="{{ delivery_item.discount_amount }}" readonly="readonly"
                       name="discount_amount_{{ delivery_item.id }}"
                       id="discount_amount_{{ delivery_item.id }}"
                       data-item-id="{{ delivery_item.id }}" />
            </td>
            <td class="text-right">
                <span class="price-exc" id="total_price_exl_{{ delivery_item.id }}" data-item-id="{{ delivery_item.id }}">
                    {{ delivery_item.total_price_excluding|money }}
                </span>
                <input type="hidden" value="{{ delivery_item.total_price_excluding }}"
                       name="total_price_excluding_{{ delivery_item.id }}"
                       id="total_price_excluding_{{ delivery_item.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ delivery_item.id }}" data-item-id="{{ delivery_item.id }}">
                    {{ delivery_item.vat_amount|money }}
                </span>
                <input type="hidden" value="{{ delivery_item.vat_code.id }}"
                       name="vat_code_{{ delivery_item.id }}"
                       id="vat_code_{{ delivery_item.id }}"
                       data-percentage="{{ delivery_item.vat_code.percentage }}"
                       class="vat vat-codes"
                       data-item-id="{{ delivery_item.id }}"
                       data-text="{{ delivery_item.vat_code }}"
                />
                <input type="hidden" value="{{ delivery_item.vat }}"
                       name="vat_percentage_{{ delivery_item.id }}"
                       id="vat_percentage_{{ delivery_item.id }}"
                       class="vat-percentage"
                />
                <input type="hidden"
                       name="total_vat_{{ delivery_item.id }}"
                       id="total_vat_{{ delivery_item.id }}"
                       class="total-vat total-vat-amount"
                       value="{{ delivery_item.vat_amount }}"
                />
                <input type="hidden"
                       name="vat_amount_{{ delivery_item.id }}"
                       id="vat_amount_{{ delivery_item.id }}"
                       class="vat-amount"
                       value="{{ delivery_item.vat_amount }}"
                />
            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ delivery_item.id }}">{{ delivery_item.total_price_including|money }}</span>
                <input type="hidden" value="{{ delivery_item.total_price_including|money }}"
                       name="total_price_including_{{ delivery_item.id }}"
                       id="total_price_including_{{ delivery_item.id }}"
                       class="total-price-incl open-input" />
            </td>
        </tr>
    {% elif delivery_item.is_description %}
        <tr id="sales_item_{{ delivery_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ delivery_item.id }}"
             data-delivery-id="{{ delivery_item.id }}"
        >
            <td>{{ delivery_item.item_type }}</td>
            <td colspan="12">
                {{ delivery_item.description }}&nbsp;&nbsp;
                <input type="hidden" name="delivery_id" value="{{ delivery_item.id }}">
            </td>
            <td class="text-right">
            </td>
        </tr>
    {% endif %}
{% endfor %}