{% extends 'modal.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block title %}{% translate 'Update' %} {{ invoice_type }}{% endblock %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="create_sales_invoice_update"
      name="create_sales_invoice_update" action="{% url 'create_sales_invoice_update' invoice_type=invoice_type.value %}">
    {% csrf_token %}
    <div class="modal-body">
        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
            <div class="col-sm-4">
                <label class="control-label txt-font12" for="{{ form.period.id_for_label }}">
                    {{ form.period.label }}
                </label>
            </div>
            <div class="col-sm-8">
                {% render_field form.period class="form-control" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
            <div class="col-sm-4">
                <label class="control-label txt-font12" for="{{ form.date.id_for_label }}">
                    {{ form.date.label }}
                </label>
            </div>
            <div class="col-sm-8">
                {% render_field form.date class="form-control datepicker" %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">{% translate 'Cancel' %}</button>
        <button class="btn btn-primary modal-save" id="save_update">{% translate 'Save' %}</button>
    </div>
</form>
{% endblock %}