{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Update Record <span class="pull-right">&nbsp;{{ update }}</span>{% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Report Unique Number:</th>
                    <th>{{ update }}</th>
                    <th class="text-right">Jnl</th>
                    <th class="text-right">
                         {% if update.journal %}
                             <a href="{% url 'journal_lines' update.journal.id %}">{{ update.journal.journal_number }}</a>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>{{ update.profile.code }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Role:</th>
                    <th>{{ update.role }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Date:</th>
                    <th>
                        <u>{{ update.date|date:'d, M Y' }}</u>
                    </th>
                    <th class="text-right">Created At</th>
                    <th class="text-right">
                        <u>{{ update.created_at|date:'d, M Y' }}</u>
                    </th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th>Your Reference</th>
                                    <th class="text-right">Net Amount</th>
                                    <th class="text-right">Discount</th>
                                    <th class="text-right"> Vat Amount</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if update_invoices|length > 0 %}
                                    {% for invoice_update in update_invoices %}
                                        <tr>
                                            <td>{{ invoice_update.invoice.invoice_type }}</td>
                                            <td>{{ invoice_update.invoice }}</td>
                                            <td>{{ invoice_update.invoice.id }}</td>
                                            <td class="text-right">{{ invoice_update.invoice.net_amount|money }}</td>
                                            <td class="text-right">{{ invoice_update.invoice.discount_amount|money }}</td>
                                            <td class="text-right">{{ invoice_update.invoice.vat_amount|money }}</td>
                                            <td class="text-right">{{ invoice_update.invoice.total_amount|money }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="7">
                                                 <table width="100%" class="table table-condensed table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Code</th>
                                                            <th>Inventory</th>
                                                            <th>Cost Of Sales Account</th>
                                                            <th>GL Account</th>
                                                            <th>Sales Account</th>
                                                            <th>Quantity</th>
                                                            <th>Opening</th>
                                                            <th>Closing</th>
                                                            <th class="text-right">Price</th>
                                                            <th class="text-right">Total</th>
                                                        </tr>
                                                    </thead>
                                                    {% for breakdown in invoice_update.breakdown %}
                                                        <tr>
                                                            <td>{{ breakdown.invoice_item.inventory }}</td>
                                                            <td>{{ breakdown.invoice_item.inventory.description }}</td>
                                                            <td>{{ breakdown.invoice_item.inventory.cost_of_sales_account.code }}</td>
                                                            <td>{{ breakdown.invoice_item.inventory.gl_account.code }}</td>
                                                            <td>{{ breakdown.invoice_item.inventory.sales_account.code }}</td>
                                                            <td>{{ breakdown.quantity|money }}</td>
                                                            <td><em>{{ breakdown.opening|money }}</em></td>
                                                            <td><em>{{ breakdown.closing|money }}</em></td>
                                                            <td class="text-right">{{ breakdown.price|money }}</td>
                                                            <td class="text-right">{{ breakdown.total|money }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="5"></th>
                                                            <th>{{ invoice_update.total_quantity|money }}</th>
                                                            <th colspan="2"></th>
                                                            <th class="text-right"></th>
                                                            <th class="text-right">{{ invoice_update.breakdown_total|money }}</th>
                                                        </tr>
                                                    </tfoot>
                                                 </table>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8">There are no updated invoices available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}