{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} Update {% if invoice_type == 'tax-credit-note' %} CREDIT NOTES {% else %} INVOICES {% endif %} - {{ year }}  {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <button type="button" class="btn btn-sm btn-primary btn-loading create-update"
                    {% if year.is_final %}disabled="disabled"{% endif %}
                    data-modal="{% url 'create_sales_invoice_update' invoice_type=tax_credit_note %}"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    id="journal_for_sales_invoice"> <i class="fa fa-arrow-up"></i>  UPDATE CREDIT NOTES</button>
            <button type="button" class="btn btn-sm btn-primary btn-loading create-update"
                    {% if year.is_final %}disabled="disabled"{% endif %}
                    data-modal="{% url 'create_sales_invoice_update' invoice_type=tax_invoice %}"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    id="journal_for_sales_invoice"> <i class="fa fa-arrow-circle-up"></i>  UPDATE INVOICES</button>
        </div>
       <div class="pull-right"></div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="invoices" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Date</th>
                    <th>Created At</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% if updates %}
                    {% for update in updates %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'sales_update_detail' update.id %}">
                            <td>{{ update }}</td>
                            <td>{{ update.date|date:"d-M-Y" }}</td>
                            <td>{{ update.created_at }}</td>
                            <td>{{ update.role }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">There are no updates available for selected year</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales/update_invoice.js' %}"></script>
{% endblock %}