{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Roles  {% endblock page_title %}
{% block content %}
      <div class="panel panel-primary">
          <div class="panel-heading clearfix">
              <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
          </div>
          <div class="panel-body aligin-center">
            <form class="form-horizontal" method="get"action="{% url 'role_permissions_index' %}"  id="filter" name="role-filter">
              <div class="form-group">
                <label for="{{ filter.form.label.id_for_label }}" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                  {{ filter.form.label|attr:"class:form-control"  }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                    <span id="loader" style="display:none;"><img src="/images/loader-medium.gif" ></span>
                </div>
              </div>
            </form>
          </div>
      </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/multiselect/multiselect.min.js' %}"></script>
    <script type="text/javascript">
    // using jQuery
        $(function(){

            $("#save_role_object_permissions").on('click', function(e){
                var objectId = $("#id_register").val();
                //var rolePermissions = $("#undo_redo_to").val();
                var roleId = $(this).data('role-id');
                var roleObjectPermissions = [];
                var rolePermissionSelect = document.getElementById("undo_redo_to");
                for (var i = 0; i < rolePermissionSelect.options.length; i++) {
                     roleObjectPermissions.push(rolePermissionSelect.options[i].value)
                }

                $.getJSON('{% url 'role_save_object_permissions' %}', {
                    role_object_permissions: roleObjectPermissions,
                    object_id: objectId,
                    role_id: roleId
                }, function(response){
                    $.notify({
                        title: 'Update role object permissions',
                        message: response.text
                    },{
                        type: (response.error ? 'error' : 'success')
                    });
                });
                e.preventDefault();
            });

            $("#id_register").on('click', function(){
                var registeredObject = $(this).val();
                var selectedObjects = $("#undo_redo_to");
                var availableObjects = $("#undo_redo");
                //var ajaxUrl = $(this).data('ajax-url');
                var roleId = $(this).data('role-id');
                selectedObjects.empty();
                availableObjects.empty();
                var ajaxUrl = "{% url 'role_object_permissions' %}";
                if (!roleId) {
                    alert('Role not found');
                } else {
                    $.get(ajaxUrl, {
                       object_id: registeredObject,
                       role_id: roleId
                    }, function(response){
                        var leftHtml = [];
                        var rightHtml = [];
                        var filterHtml = [];
                        filterHtml.push("<option value=''>--please select--</option>");
                        $.each(response['right_list'], function(index, leftList){
                            var optionHtml = "<option value='"+leftList.id+"'>"+leftList.name+"</option>";
                            rightHtml.push(optionHtml);
                            filterHtml.push(optionHtml);
                        });
                        $.each(response['left_list'], function(index, leftList){
                            var optionHtml = "<option value='"+leftList.id+"'>"+leftList.name+"</option>";
                            leftHtml.push(optionHtml);
                            filterHtml.push(optionHtml);
                        });
                        selectedObjects.html( rightHtml );
                        availableObjects.html( leftHtml );
                        $("#" + registeredObject + "_filter").html( filterHtml );
                    });
                }
            });

            $('#undo_redo').multiselect({
                search: {
                    left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                    right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                },
                fireSearch: function(value) {
                    return value.length > 3;
                }
            });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}