{% extends 'base.html' %}
{% load static %}
{% load thumbnail widget_tweaks %}
{% load company_tags common_tags invoice_tags vat sales_tags %}
{% block page_title %}CREATE Purchase Order {% endblock page_title %}
{% block stylesheet %}{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="purchase_order_form"  action="{% url 'create_purchaseorder' %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">&nbsp;
          <div class="pull-right">
               <button type="button"
                       class="btn btn-primary btn-large save-purchase-order"
                       name="create_purchaseorder"
                       data-action-url="{% url 'create_purchaseorder' %}"
                       id="create_purchaseorder"
                       data-loading-text="<i class='fa fa-spinner'></i> Processing"
                       data-action="continue"><i class="fa fa-save"></i> Save</button>
              {% previous_level_btn %}
          </div>
      </div>
      <div class="panel-body align-center">
           <div class="sales-document">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4 text-left">
                         {% display_logo company 200 75 %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        {% include "sales/address/company.html" %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 text-right">
                        <table class="table table-borderless table-condensed">
                            <tr>
                                <td><strong class="h4">{{ invoice_type|upper }}</strong></td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Vat Registration Number</td>
                                <td>{{ company.vat_number }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" id="customer-data">
                    <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                            <div class="panel panel-default height invoice-col">
                                <div class="panel-heading">
                                    <div class="pull-left">Supplier</div>
                                    <div class="pull-right">
                                        <a href="{% url 'create_supplier' %}?redirect={% url 'create_purchaseorder' %}"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding: 5px;">
                                    <div class="form-group">
                                        {% render_field form.supplier class="form-control form-control-sm chosen-select" tabindex="1" autofocus='1'  %}
                                        {% if form.supplier.auto_id  != "id_tos" %}
                                            {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                    <div id="supplier_details">
                                        <table class="table">
                                            <tr>
                                                <td><span id="supplier_address_line_1"></span></td>
                                            </tr>
                                            <tr>
                                                <td><span id="supplier_address_line_2"></span></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="panel panel-default height invoice-col">
                            <div class="panel-heading">Ship To</div>
                            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                                <div class="form-group">
                                    {% render_field form.branch class="form-control form-control-sm chosen-select" tabindex="1" autofocus='1'  %}
                                    {% if form.branch.auto_id  != "id_tos" %}
                                        {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div id="branch_details">
                                    <table class="table">
                                        <tr>
                                            <td><span id="branch_address_line_1"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span id="branch_address_line_2"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span id="branch_town"></span></td>
                                        </tr>
                                        <tr>
                                            <td><span id="branch_province"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="panel panel-default height invoice-col">
                            <div class="panel-heading">&nbsp;</div>
                            <div class="panel-body" style="padding: 5px;">
                                <div class="form-group">
                                    {% render_field form.memo_to_supplier class="form-control form-control-sm   " tabindex="1" autofocus='1' placeholder='Memo to supplier' %}
                                    {% if form.memo_to_supplier.auto_id  != "id_tos" %}
                                        {% if form.memo_to_supplier.errors %}<span class="help-inline">{{ form.memo_to_supplier.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">&nbsp;</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table" width="100%">
                                        <tr>
                                            <th class="border-0">Type</th>
                                            <th class="border-0">Code</th>
                                            <th class="border-0">Description</th>
                                            <th class="border-0 text-center">Quantity</th>
                                            <th class="border-0">Unit</th>
                                            <th class="border-0 text-center">Price Excl</th>
                                            <th class="border-0">Disc(%)</th>
                                            <th class="border-0 text-center">Discount</th>
                                            <th class="border-0 text-center">Net Price</th>
                                            <th class="border-0 text-center">Vat</th>
                                            <th class="border-0 text-center">Vat Amount</th>
                                            <th class="border-0 text-center">Total Incl</th>
                                            <th></th>
                                        </tr>
                                        <tbody id="purchaseorder_items_body" data-ajax-url="{% url 'add_purchaseorder_row' %}">
                                            <tr id="purchaseorder_items_placeholder">
                                                <td colspan="13">
                                                    <img src="{% static 'images/loader.gif' %}">
                                                </td>
                                            </tr>
                                            <tr id="actions">
                                                <td class="text-right" colspan="13">
                                                    <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                                            data-ajax-url="{% url 'add_purchaseorder_row' %}?invoice_type=estimate">Add</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="po-total" colspan="11">Sub Total</td>
                                                <td class="po-total" colspan="2">&nbsp;
                                                    <span id="sub_total"></span>
                                                    {% render_field form.sub_total %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="11">Amount Excluding Vat</td>
                                                <td class="po-total" colspan="2">&nbsp;
                                                    <span id="net_total"></span>
                                                    {% render_field form.net_amount %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="11">Vat</td>
                                                <td class="po-total" colspan="2">&nbsp;
                                                    <span id="total_vat_amount"></span>
                                                    {% render_field form.vat_amount %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="11">Amount Including Vat</td>
                                                <td class="po-total" colspan="2">&nbsp;
                                                    <span id="total_order_value"></span>
                                                    {% render_field form.total_amount %}
                                                    <input type="hidden" id="default_vat" value="{{ default_vat}}" />
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/purchase_order.js' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}