<form method="post" novalidate="novalidate" role="form" id="purchase_order_form" name="purchase_order_form"
      action="{% url 'create_inventory_purchase_order_line' invoice_id=invoice.id %}" class="form-horizontal">
     {% include "inventorypurchaseorder/form.html" %}
    <span id="loader" style="display:none;"><img src="/static/images/loader-medium.gif"></span>
</form>