{% extends 'modal.html' %}
{% load static %}
{% block title %} Decline Purchase Order {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form" id="decline_invoice_form" name="decline_invoice_form" action="{% url 'decline_purchaseorder' purchase_order.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="decline_invoice_submit" type="submit" id="decline_invoice_submit"><i class="fa fa-save"></i> Decline</button>
    </div>
  </form>
{% endblock %}