{% extends 'datatable.html' %}
{% load static %}
{% load i18n %}
{% load invoice_tags %}
{% block page_title %}{{ branch }} Purchase Orders - {{ year }}{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-right">
         <a class="btn btn-large btn-primary" href="{% url 'create_purchaseorder' %}"
            {% if year.is_final %}disabled="disabled"{% endif %}
         ><i class="fa fa-plus-circle"></i>  Create New </a>
      </div>
  </div>
  <div class="panel-body align-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="purchaseorders">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Branch</th>
                        <th>Supplier</th>
                        <th>Supplier code</th>
                        <th>Accounting Date</th>
                        <th>Invoice Date</th>
                        <th class="text-right">Total Amount</th>
                        <th class="text-right">VAT Amount</th>
                        <th class="text-right">Linked</th>
                    </tr>
                </thead>
            </table>
        </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#purchaseorders").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/purchaseorders/?format=datatables',
              'columns': [
                { data: 'reference', name: 'invoice__invoice_id', searchable: false, title:'Reference' },
                { data: 'status', render: function(data, type, row){
                        return row.invoice.status ? row.invoice.status.name : ''
                    }, name: 'invoice__status__name', searchable: true, title:'Status' },
                { data: 'branch', name: 'invoice__branch__label', searchable: true,
                    render: function(data, type, row) {
                        return row.invoice.branch ? row.invoice.branch.label : '';
                    },
                    title:'Branch'
                },
                { data: 'supplier', name: 'invoice__supplier__name', searchable: true,
                    render: function(data, type, row) {
                        return row ? row.invoice.supplier.name : '-';
                    },
                    title:'Supplier'
                },
                { data: 'supplier', name: 'invoice__supplier__code', searchable: true,
                    render: function(data, type, row) {
                        return row ? row.invoice.supplier.code : '-';
                    },
                    title:'Supplier'
                },
                { data: 'accounting_date', name: 'invoice__accounting_date', searchable: true, title:'Accounting Date',
                    render: function(data, type, row) {
                        return row ? row.invoice.accounting_date : '-';
                    }
                },
                { data: 'invoice_date', name: 'invoice__invoice_date', searchable: true, title:'Invoice Date',
                    render: function(data, type, row) {
                        return row ? row.invoice.invoice_date : '-';
                    }
                },
                { data: 'total_amount', name: 'invoice__total_amount', searchable: true, title:'Total Amount', className: 'text-right',
                    render: function(data, type, row) {
                        return row ? row.invoice.total_amount : '-';
                    }
                },
                { data: 'vat_amount', name: 'invoice__vat_amount', searchable: true, title:'Vat Amount', className: 'text-right',
                    render: function(data, type, row) {
                        return row ? row.invoice.vat_amount : '-';
                    }
                },
                { data: 'inventory_received', name: 'inventory_received__reference', searchable: false, title:'Linked'}
              ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'desc' ]],
             "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        if (row.inventory_received) {
                            return "<a href='"+ row.inventory_received.detail_url +"?redirect={% url "inventory_purchase_order_index" %}'>" + row.inventory_received.document + "</a>";
                        } else {
                            return '<span class="grayout">-</span>';
                        }
                    },
                    "targets": 9
                }
            ],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#purchaseorders tbody').on( 'click', 'tr', function () {
            const rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'purchaseorder_index' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });
    });
    </script>
{% endblock %}