{% load static %}
{% load invoice_tags company_tags %}
{% load thumbnail %}
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
         {% if is_print %}
            {% display_logo purchase_order.invoice.company 200 75 is_print=is_print %}
         {% else %}
            {% display_logo purchase_order.invoice.company 200 75 %}
         {% endif %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4  left-pad right-pad">
        {% with company=purchase_order.invoice.company %}
            {% include "sales/address/company.html" %}
        {% endwith %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <table class="table table-borderless table-condensed">
            <tr>
                <td colspan="2"><strong class="h4">{{ purchase_order.invoice.invoice_type|upper }}</strong></td>
            </tr>
            <tr>
                <td>Vat Registration Number</td>
                <td>{{ purchase_order.invoice.company.vat_number }}</td>
            </tr>
            <tr>
                <td>Document Number</td>
                <td>#{{ purchase_order }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ purchase_order.invoice.invoice_date|date:'d-M-Y' }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row invoice-row" id="customer-data">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Supplier</strong></div>
            <div class="panel-body" style="padding: 5px;">
                {{ purchase_order.invoice.supplier.code }}<br>
                {{ purchase_order.invoice.supplier.name }}<br>
                {{ purchase_order.invoice.supplier.address_line_1 }}<br>
                {{ purchase_order.invoice.supplier.address_line_2 }}<br>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Ship To</strong></div>
            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                {% if purchase_order.invoice.branch %}
                    {{ purchase_order.invoice.branch.label }}<br>
                    {{ purchase_order.invoice.branch.address_line_1 }}<br>
                    {{ purchase_order.invoice.branch.address_line_2 }}<br>
                    {{ purchase_order.invoice.branch.town }}, {{ purchase_order.invoice.branch.area_code }}<br>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Other</strong></div>
            <div class="panel-body" id="invoice_meta" style="padding: 5px;">
                <table class="table" width="100%">
                    <tr>
                        <td class="text-left">Memo to Supplier</td>
                        <td class="text-left">{{ purchase_order.memo_to_supplier }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Requisitioner</td>
                        <td class="text-left">{{ purchase_order.requested_by }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Approved By</td>
                        <td class="text-left">{{ purchase_order.approved_by }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Ordered By</td>
                        <td class="text-left">{{ purchase_order.ordered_by }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Company Code</td>
                        <td class="text-left">{{ purchase_order.invoice.company.slug }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-body sales-items">
                <div class="table-responsive">
                   <table width="100%" class="table">
                        <tr class="item-titles">
                            <td class="po-brdr-r po-pad-left">PRODUCT CODE</td>
                            <td class="po-brdr-r po-pad-left">DESCRIPTION</td>
                            <td class="po-brdr-r po-pad-left">QTY</td>
                            <td class="po-brdr-r po-pad-left">UNIT</td>
                            <td class="po-brdr-r po-right-align">UNIT PRICE</td>
                            <td class="po-brdr-r po-right-align">NETT</td>
                            <td class="po-brdr-r po-right-align">VAT</td>
                            <td class="po-right-align">TOTAL</td>
                        </tr>
                        {% for purchase_order_line in purchase_order.purchaseorder_items.all %}
                            {% if purchase_order_line.is_account %}
                                <tr class="line-items">
                                    <td>{{ purchase_order_line.account.code }}</td>
                                    <td>{{ purchase_order_line.description }}</td>
                                    <td>{{ purchase_order_line.quantity }}</td>
                                    <td>{{ purchase_order_line.unit }}</td>
                                    <td class="po-right-align po-brdr-r">{{ purchase_order_line.unit_price }}</td>
                                    <td class="po-right-align po-brdr-r">{{ purchase_order_line.net_amount|money }}</td>
                                    <td class="po-right-align po-brdr-r">{{ purchase_order_line.vat_amount|money }}</td>
                                    <td class="po-right-align">{{ purchase_order_line.total_amount|money }}</td>
                                </tr>
                            {% elif purchase_order_line.is_text %}
                                <tr class="line-items">
                                    <td colspan="8">{{ purchase_order_line.description }}</td>
                                </tr>
                            {% elif purchase_order_line.is_inventory %}
                                <tr class="line-items">
                                    <td>{{ purchase_order_line.inventory.inventory.code }}</td>
                                    <td>{{ purchase_order_line.inventory.description }}</td>
                                    <td>{{ purchase_order_line.quantity }}</td>
                                    <td>{{ purchase_order_line.unit }}</td>
                                    <td class="po-right-align po-brdr-r">{{ purchase_order_line.unit_price }}</td>
                                    <td class="po-right-align po-brdr-r">{{ purchase_order_line.net_amount|money }}</td>
                                    <td class="po-right-align po-brdr-r">{{ purchase_order_line.vat_amount|money }}</td>
                                    <td class="po-right-align">{{ purchase_order_line.total_amount|money }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        <table width="100%" class="table table-bordered">
            <tr>
                <td class="po-total">Net Excluding Vat</td>
                <td class="po-total text-right">&nbsp;{{ purchase_order.invoice.sub_total|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Net after Invoice Discount</td>
                <td class="po-total text-right" >&nbsp;{{ purchase_order.invoice.net_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Vat</td>
                <td class="po-total text-right" >&nbsp;{{ purchase_order.invoice.vat_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Total Including Vat</td>
                <td class="po-total text-right" >R&nbsp;{{ purchase_order.invoice.total_amount|money }}</td>
            </tr>
        </table>
    </div>
</div>