{% load invoice_tags sales_tags %}
<tr id="po_item_{{ row }}" class="po-items po-item-row" data-row-id="{{ row }}">
    <td>
        {% line_types row start module_url line_type col.col0 %}
    </td>
    <td colspan="6">
        {% description_cell row start col.col1 %}
    </td>
    <td colspan="6">&nbsp;</td>
    <td class="text-center">
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" id="delete_{{ row }}">
            <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
    <td>
        <span class="profit" id="gross_profit_{{ row }}"></span>
    </td>
</tr>
