{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load invoice_tags company_tags sales_tags %}
{% load vat %}
{% block page_title %}EDIT CUSTOMER INVOICE - {{ invoice }} <span class="pull-right">&nbsp;{{ invoice }}</span>{% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="sales_invoice_form"
    action="{% url 'edit_customer_invoice' invoice.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
                <a href="{% url 'sales_delivery_index' %}" class="btn btn-warning">Cancel</a>
                <button type="button" class="btn btn-primary btn-large  save-invoice" name="submit_invoice"
                        id="submit_invoice_and_continue"
                        data-action="continue"><i class="fa fa-save"></i> Update</button>
          </div>
      </div>
      <div class="panel-body align-center">
           <div id="sales-document">
                <table class="table table-condensed table-bordered" id="delivery-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols|add:'-6' }}">
                            <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                             <div class="controls">
                                {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                                {% if form.branch.auto_id  != "id_tos" %}
                                    {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </td>
                        <td class="line" colspan="{{ cols|add:'-5' }}">

                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        <div id="">
                                           {% display_logo company 200 75 %}
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">{{ invoice.invoice_type }}</strong><br><br>
                                        Number:&nbsp;&nbsp;#{{ invoice }}
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ invoice.date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><strong>Customer:</strong></td>
                                     <td colspan="2"></td>
                                     <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% render_field form.customer class="form-control form-control-sm chosen-select"  %}
                                        {% if form.customer.auto_id  != "id_tos" %}
                                            {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                        {% endif %}
                                        <input type="hidden" id="line_discount" value="{% if invoice.customer %}{{ invoice.customer.line_discount }}{% endif %}" />
                                        <input type="hidden" id="invoice_discount" value="{% if invoice.customer %}{{ invoice.customer.customer_discount }}{% endif %}" />
                                    </td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.delivery_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.delivery_number.id_for_label }}">{{ form.delivery_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.delivery_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                                {% if form.delivery_number.auto_id  != "id_tos" %}
                                                    {% if form.delivery_number.errors %}<span class="help-inline">{{ form.delivery_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_street">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.delivery_address.address_line_1 }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="delivery" id="delivery_street">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.postal_address.address_line_1 }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.estimate_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.estimate_number.id_for_label }}">{{ form.estimate_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.estimate_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                                {% if form.estimate_number.auto_id  != "id_tos" %}
                                                    {% if form.estimate_number.errors %}<span class="help-inline">{{ form.estimate_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="postal" id="postal_city">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.delivery_address.city }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="delivery" id="delivery_city">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.postal_address.city }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.po_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.po_number.id_for_label }}">{{ form.po_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.po_number class="form-control form-control-sm" %}
                                                {% if form.po_number.auto_id  != "id_tos" %}
                                                    {% if form.po_number.errors %}<span class="help-inline">{{ form.po_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="postal" id="postal_province">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.postal_address.province_name }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="delivery" id="delivery_province">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.delivery_address.province_name }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.vat_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.vat_number class="form-control form-control-sm vat-number" %}
                                                {% if form.vat_number.auto_id  != "id_tos" %}
                                                    {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="postal" id="postal_country">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.postal_address.country.name }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="delivery" id="delivery_country">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.delivery_address.country.name }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.period class="form-control form-control-sm"  %}
                                                {% if form.period.auto_id  != "id_tos" %}
                                                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="postal" id="postal_province">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.postal_address.postal_code }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="delivery" id="delivery_province">
                                            {% if invoice.customer %}
                                                {{ invoice.customer.delivery_address.postal_code }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">{{ form.invoice_date.label_tag }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.invoice_date class="form-control form-control-sm datepicker" %}
                                                {% if form.invoice_date.auto_id  != "id_tos" %}
                                                    {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span id=""></span></td>
                                    <td><span id=""></span></td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.due_date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.due_date class="form-control form-control-sm datepicker" readonly="readonly"  %}
                                                {% if form.due_date.auto_id  != "id_tos" %}
                                                    {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" colspan="{{ cols }}">
                            <div class="form-group control-group {% if form.comments.errors %}error{% endif %}">
                                <label class="control-label txt-font12" for="{{ form.comments.id_for_label }}">{{ form.comments.label_tag }}</label>
                                <div class="controls">
                                    {% render_field form.comments class="form-control form-control-sm" %}
                                    {% if form.comments.auto_id  != "id_tos" %}
                                        {% if form.comments.errors %}<span class="help-inline">{{ form.comments.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">INVOICE CREATED BY</td>
                                    <td class="text-center" colspan="3">DATE CREATED</td>
                                    <td class="text-center" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if invoice.profile %}{{ invoice.profile }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if invoice.created_at %}{{ invoice.created_at|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if invoice.created_at %}{{ invoice.created_at|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3">{{ invoice.branch }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            {% invoice_linked_objects request.session.company request.session.role invoice 'horizontal' %}
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>

                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table class="table" width="100%">
                                <tr>
                                    <th class="">Type</th>
                                    <th class="">Stock Code/Description</th>
                                    <th class="text-right">Quantity On Hand</th>
                                    <th class="text-right">Invoiced</th>
                                    <th class="text-right">Back Order</th>
                                    <th class="">Unit</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">Price Excl</th>
                                    <th class="">Disc(%)</th>
                                    <th class="text-right">Discount</th>
                                    <th class="text-right">Net Price</th>
                                    <th class="text-right">Vat</th>
                                    <th class="text-right">Total Incl</th>
                                </tr>
                                <tbody id="invoice_items_body" data-ajax-url="{% url 'edit_invoice_items' invoice_id=invoice.id %}">
                                    <tr id="invoice_items_placeholder">
                                        <td colspan="15">
                                            <img src="{% static 'images/loader.gif' %}">
                                        </td>
                                    </tr>
                                    <tr id="actions">
                                        <td class="text-right" colspan="15">
                                            <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                                    data-ajax-url="{% url 'add_invoice_items' %}"
                                            >Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="line-items">
                        {% for i in i|rjust:cols %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr class="line-items">
                        {% for i in i|rjust:cols %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="po-total" colspan="11">SUB TOTAL</td>
                        <td class="po-total" >
                            <span id="sub_total">{{ invoice.sub_total|money }}</span>
                            {% render_field form.sub_total %}
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="11">LINE DISCOUNTS</td>
                        <td class="po-total">
                            <span id="total_discount">{{ invoice.line_discount|money }}</span>
                            {% render_field form.line_discount %}
                        </td>
                    </tr>
                    {% if customer_discount != 0 %}
                        <tr>
                            <td class="po-total" colspan="11">CUSTOMER DISCOUNTS</td>
                            <td class="po-total" >
                                <span id="customer_invoice_discounts">{{ invoice.customer_discount|money }}</span>
                                {% render_field form.customer_discount %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="po-total" colspan="11">NETT TOTAL</td>
                        <td class="po-total">
                            <span id="net_total">{{ invoice.net_total|money }}</span>
                            {% render_field form.net_amount %}
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="11">VAT</td>
                        <td class="po-total" >
                            <span id="total_vat_amount">{{ invoice.total_customer_invoice_vat|money }}</span>
                            {% render_field form.vat_amount %}
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="11">TOTAL ESTIMATE VALUE</td>
                        <td class="po-total">
                            <span id="total_order_value">{{ invoice.total_amount|money }}</span>
                            {% render_field form.total_amount %}
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="11">Gross Weight</td>
                        <td class="po-total" >
                            <span id="total_gross_weight">{{ invoice.gross_weight|money }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="11">Net Weight</td>
                        <td class="po-total" >
                            <span id="total_net_weight">{{ invoice.net_weight|money }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="11">Total Items</td>
                        <td class="po-total">
                            <span id="total_received">{{ invoice.total_quantity|money }}</span>
                        </td>
                    </tr>
                    {% vat_summary invoice invoice.invoice_items.all %}
                    <tr class="signing-footer">
                        <td>Signed by Customer as received</td>
                        <td class="text-right writtable" colspan=4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Print Name:</td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Date: </td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
                <div class="form-group">
                   <span class="ajax-loader" id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
                </div>
                <div class="controls text-right">
                    <input type="hidden" id="default_vat" value="{{ default_vat}}">

                </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}"></script>
{% endblock %}