{% extends 'base.html' %}
{% load static i18n %}
{% load thumbnail widget_tweaks %}
{% load invoice_tags vat company_tags sales_tags %}
{% block page_title %}EDIT INVOICE - {{ invoice }} <span class="pull-right">&nbsp;{{ invoice }}</span>{% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="sales_invoice_form"
    action="{% url 'edit_invoice' invoice.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <a href="{% url 'sales_documents_index' %}" class="btn btn-warning">{% translate 'Cancel' %}</a>
                <button type="button" class="btn btn-primary btn-large save-invoice" name="submit_invoice"
                        id="submit_invoice_and_continue"
                        data-action="continue"><i class="fa fa-save"></i> {% translate 'Update' %}</button>
            </div>
        </div>
        <div class="panel-body align-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                            <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                             <div class="controls">
                                {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                                {% if form.branch.auto_id  != "id_tos" %}
                                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                       {% display_logo company 200 75 %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        {% include "sales/address/company.html" %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <table class="table">
                            <tr>
                                <td>
                                    <span class="h4">{{ invoice.invoice_type }}</span>
                                    <input type="hidden" id="id_invoice_type" name="invoice_type" value="{{ invoice.invoice_type.id }}" />
                                </td>
                                <td class="text-right">{{ invoice }}</td>
                            </tr>
                            {% if invoice.is_recurring %}
                                <tr>
                                    <td>{% translate 'Recurring' %} </td>
                                    <td class="text-right">
                                        <i class="text-success fa fa-check-circle-o"></i>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{% translate 'Date' %}</td>
                                    <td class="text-right">{{ invoice.invoice_date|date:'d-M-Y' }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <div class="row" id="customer-data">
                    <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                        <div class="panel panel-default height invoice-col">
                            <div class="panel-heading">
                                <div class="pull-left">{% translate 'Date' %}</div>
                                <div class="pull-right">
                                </div>
                            </div>
                            <div class="panel-body" style="padding: 5px;">
                                <div class="form-group">
                                    {% render_field form.customer class="form-control form-control-sm chosen-select"  %}
                                    {% if form.customer.auto_id  != "id_tos" %}
                                        {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                    {% endif %}
                                    <input type="hidden" id="line_discount">
                                    <input type="hidden" id="invoice_discount">

                                    <div id="customer_full_name"></div>
                                </div>
                                <div id="customer_details">
                                    <div class="customer">
                                        {% with sales_invoice=invoice %}
                                            {% include "sales/address/edit_postal.html" %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="panel panel-default height invoice-col ">
                            <div class="panel-heading">{% translate 'Shipping To' %}:</div>
                            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                                {% with sales_invoice=invoice %}
                                    {% include "sales/address/edit_delivery.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="panel panel-default height invoice-col">
                            <div class="panel-heading">&nbsp;</div>
                            <div class="panel-body" style="padding: 5px;">
                                <table class="table">
                                    <tr class=" {% if form.estimate_number.errors %}error{% endif %}">
                                        <td>{{ form.estimate_number.label_tag }}</td>
                                        <td class="text-right">
                                            {% render_field form.estimate_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                            {% if form.estimate_number.auto_id  != "id_tos" %}
                                                {% if form.estimate_number.errors %}<span class="help-inline">{{ form.estimate_number.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class=" {% if form.po_number.errors %}error{% endif %}">
                                        <td>{{ form.po_number.label_tag }}</td>
                                        <td class="text-right">
                                            {% render_field form.po_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                            {% if form.po_number.auto_id  != "id_tos" %}
                                                {% if form.po_number.errors %}<span class="help-inline">{{ form.po_number.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class=" {% if form.vat_number.errors %}error{% endif %}">
                                        <td>{{ form.vat_number.label_tag }}</td>
                                        <td class="text-right">
                                            {% render_field form.vat_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                            {% if form.vat_number.auto_id  != "id_tos" %}
                                                {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class=" {% if form.period.errors %}error{% endif %}">
                                        <td>{{ form.period.label_tag }}</td>
                                        <td class="text-right">
                                            {% if invoice.is_recurring %}
                                                {% render_field form.period class="form-control form-control-sm" disabled='disabled' %}
                                            {% else %}
                                                {% render_field form.period class="form-control form-control-sm" %}
                                            {% endif %}
                                            {% if form.period.auto_id  != "id_tos" %}
                                                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class=" {% if form.invoice_date.errors %}error{% endif %}">
                                        <td>{{ form.invoice_date.label_tag }}</td>
                                        <td class="text-right">
                                            {% if invoice.is_recurring %}
                                                {% render_field form.invoice_date class="form-control form-control-sm datepicker" disabled="disabled" %}
                                            {% else %}
                                                {% render_field form.invoice_date class="form-control form-control-sm datepicker" %}
                                            {% endif %}
                                            {% if form.invoice_date.auto_id  != "id_tos" %}
                                                {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class=" {% if form.due_date.errors %}error{% endif %}">
                                        <td>{{ form.due_date.label_tag }}</td>
                                        <td class="text-right">
                                            {% if invoice.is_recurring %}
                                                {% render_field form.due_date class="form-control form-control-sm datepicker" disabled="disabled" %}
                                            {% else %}
                                                {% render_field form.due_date class="form-control form-control-sm datepicker" %}
                                            {% endif %}
                                            {% if form.due_date.auto_id  != "id_tos" %}
                                                {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class=" {% if form.salesman.errors %}error{% endif %}">
                                        <td><label class="col-sm-4 control-label txt-font12" for="salesman">Salesman</label></td>
                                        <td class="text-right">
                                            {% render_field form.salesman class="form-control form-control-sm" %}
                                            {% if form.salesman.auto_id  != "id_tos" %}
                                                {% if form.salesman.errors %}<span class="help-inline">{{ form.salesman.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class=" {% if form.pricing.errors %}error{% endif %}">
                                        <td><label class="col-sm-4 control-label txt-font12" for="pricing">Pricing</label></td>
                                        <td class="text-right">
                                            <select id="id_pricing" name="pricing" class="form-control form-control-sm"></select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% invoice_linked_objects request.session.company request.session.role None 'horizontal' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">&nbsp;</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="border-0">{% translate 'Type' %}</th>
                                                <th class="border-0">{% translate 'Stock Code' %}</th>
                                                <th>{% translate 'Description' %}</th>
                                                <th class="text-right">{% translate 'Stock' %}</th>
                                                <th class="text-right">{% translate 'Quantity' %}</th>
                                                <th class="text-right">{% translate 'Invoiced' %}</th>
                                                <th class="text-right">{% translate 'Unit' %}</th>
                                                <th class="text-right">{% translate 'Price' %}</th>
                                                <th class="text-right">{% translate 'Disc' %}(%)</th>
                                                <th class="text-right">{% translate 'Discount' %}</th>
                                                <th class="text-right">{% translate 'Net Price' %}</th>
                                                <th class="text-right">{% translate 'Vat' %}</th>
                                                <th class="text-right">{% translate 'Vat Amount' %}</th>
                                                <th class="">{% translate 'Total Incl' %}</th>
                                                <th class=""></th>
                                            </tr>
                                        </thead>
                                        <tbody id="invoice_items_body" data-ajax-url="{% url 'edit_invoice_items' invoice_id=invoice.pk %}">
                                            <tr id="invoice_items_placeholder">
                                                <td colspan="14">{% translate 'Loading' %} ...</td>
                                            </tr>
                                            <tr id="actions">
                                                <td colspan="14"></td>
                                                <td>
                                                    <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                                            data-ajax-url="{% url 'add_invoice_items' %}"
                                                    >{% translate 'Add' %}</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">{% translate 'Line Discounts' %}</td>
                                                <td class="po-total">
                                                    <span id="total_discount"></span>
                                                    {% render_field form.line_discount %}
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">{% translate 'Sub Total' %}</td>
                                                <td class="po-total">
                                                    <span id="sub_total"></span>
                                                    {% render_field form.sub_total %}
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                                <td class="po-total" colspan="13">{% translate 'Customer Discounts' %}</td>
                                                <td class="po-total">
                                                    <span id="customer_invoice_discounts"></span>
                                                    {% render_field form.customer_discount %}
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">{% translate 'Amount Excluding Vat' %}</td>
                                                <td class="po-total">
                                                    <span id="net_total"></span>
                                                    {% render_field form.net_amount %}
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">{% translate 'Vat' %}</td>
                                                <td class="po-total">
                                                    <span id="total_vat_amount"></span>
                                                    <input type="hidden" id="default_vat" value="{{ default_vat}}">
                                                    {% render_field form.vat_amount %}
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">{% translate 'Total Including Vat' %}</td>
                                                <td class="po-total">
                                                    <span id="total_order_value"></span>
                                                    {% render_field form.total_amount %}
                                                    <input type="hidden" id="invoice_type" value="{{ invoice_type.code }}" />
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td class="space" colspan="15">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row " style="display: none;">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div>
                            <table class="table table-bordered" width="100%">
                                <tr>
                                    <td class="po-total" colspan="14">{% translate 'Gross Weight' %}</td>
                                    <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Net Weight</td>
                                    <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Total Items</td>
                                    <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="panel customer-discount-calculation" id="calculation_summary" >
                            <table class="table table-bordered table-condensed table-striped" width="50%">
                                <thead>
                                    <tr>
                                        <th>Vat Recon</th>
                                        <th class="text-right">Excl</th>
                                        <th class="text-right">Vat</th>
                                    </tr>
                                </thead>
                                <tbody id="summary_body">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                        <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    </div>
                    <div class="col-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}?{% now "YmdHis" %}"></script>
{% endblock %}