{% load invoice_tags inventory_tags common_tags sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items invoice_item_row"
    data-row-id="{{ row }}"
    data-invoice-item-id="{{ invoice_item.id }}">
    <td data-toggle="tooltip" data-original-title="Inventory">
        {{ invoice_item.item_type }}
    </td>
    <td data-toggle="tooltip" data-original-title="{{ invoice_item.inventory }}">
        {{ invoice_item.inventory.inventory }}
        <input type="hidden" name="inventory_{{ row }}" value="{{ invoice_item.inventory_id }}" />
        <input type="hidden" name="id_{{ row }}" value="{{ invoice_item.id }}" />
        <input type="hidden" class="allow-negative" value="{{ invoice_item.inventory.allow_negative_stock }}"
               name="allow_negative_stock_{{ row }}"
               id="allow_negative_stock_{{ row }}"
               data-item-id="{{ row }}" />
        <input type="hidden" class="average-price" value="{{ invoice_item.inventory.average_price }}"
               name="average_price_{{ row }}"
               id="average_price_{{ row }}"
               data-item-id="{{ row }}" />
        <input type="hidden" class="form-control form-control-sm in-stock" value="{{ invoice_item.inventory.available_stock }}"
               name="in_stock_{{ row }}"
               id="in_stock_{{ row }}"
               data-item-id="{{ row }}" />
    </td>
    <td>
        {{ invoice_item.inventory.description }}
    </td>
    <td class="text-right">
        {{ invoice_item.inventory.available_stock }}
    </td>
    <td class="text-right">
        {% quantity_cell row 0 col.col0 invoice_item.quantity %}
    </td>
    <td class="text-right">
        {% invoiced_cell row 0 col.col1 invoice_item.quantity %}
    </td>
    <td class="text-right">
        {{ invoice_item.inventory.unit }}
    </td>
    <td class="text-right">
        {% price_cell row 0 col.col2 invoice_item.price %}
    </td>
    <td class="text-right">
        {% discount_cell row 0 col.col3 invoice_item.discount %}
    </td>
    <td class="text-right">
        <span class="discount-amount" id="discount_amount_{{ row }}"
              data-item-id="{{ invoice_item.id }}">{{ invoice_item.discount_amount|money }}</span>
    </td>
    <td class="text-right">
        <span class="price-exc" id="total_price_exl_{{ row }}" data-item-id="{{ invoice_item.id }}">
            {{ invoice_item.total_price_excluding|money }}
        </span>
    </td>
    <td class="text-right">
        {% vat_code_cell row 0 vat_code col.col4 invoice_item.vat_code %}
    </td>
    <td class="text-right">
        <span class="total-vat" id="vat_total_{{ row }}" data-item-id="{{ invoice_item.id }}">
            {{ invoice_item.vat|money }}
        </span>
    </td>
    <td class="text-right">
        <span class="price" id="total_price_incl_{{ row }}">{{ invoice_item.total_price_including|money }}</span>
    </td>
    <td class="text-center">
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row"
           data-action="delete"
           id="delete_{{ row }}">
         <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
</tr>