{% load invoice_tags inventory_tags sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items invoice_item_row"
    data-row-id="{{ row }}"
    data-invoice-item-id="{{ invoice_item.id }}">
    <td data-toggle="tooltip" data-original-title="Text">{{ invoice_item.item_type }}</td>
    <td colspan="5">
        <input type="hidden" name="id_{{ row }}" value="{{ invoice_item.id }}" />
        {% description_cell row 0 col.col0 invoice_item.description %}
    </td>
    <td class="text-right"></td>
    <td class="text-right"></td>
    <td class="text-right"></td>
    <td class="text-right"></td>
    <td class="text-right"></td>
    <td class="text-right"></td>
    <td colspan="2" class="text-right"></td>
    <td class="text-center">
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row"
           data-action="delete"
           id="delete_{{ row }}">
         <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
</tr>