{% extends 'base.html' %}
{% load static %}
{% block page_title %}Create System Access Levels{% endblock page_title %}
{% block content %}

<form method="post" novalidate="novalidate">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left"></div>
          <div class="pull-right">
            <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive col-lg-12">
            {% csrf_token %}
            {% include 'common/form.html' %}
            {% include 'group/group_permissions.html' %}
        </div>
      </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/multiselect/multiselect.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){

            $('#undo_redo').multiselect({
                search: {
                    left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                    right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                },
                fireSearch: function(value) {
                    return value.length > 3;
                }
            });
        });
    </script>
{% endblock javascript %}