{% load static %}
{% load widget_tweaks %}
{% load group_permissions_form %}
<style>
    .permission-group {
        background-color: #43a5d5;
        color: white;"
    }

    .parent-children {
        background-color: #adbbc2;
        color: white;"
    }

    .menu-item-header {
        height: 30px;
        font-size: 1em;
        padding: 8px 10px;
        background: #0b91d2;
        color: #FFFFFF;
        font-weight: bolder;
        margin: 10px 0 0 0;
        border-bottom: 1px solid #EEE;
        z-index: 99;
        position: relative;
    }

    .hide-permissions {
        float: right;
        margin-left: 10px;
        margin-top: -3px;
    }

    .show-permissions {
        float: right;
        margin-left: 10px;
        margin-top: -3px;
        display: none;
    }
</style>
<table class="table align-center" width="100%" cellpadding="10" cellspacing="10">
    {% for menu_item in menu_items %}
        {% if menu_item.children %}
            <tr class="table-header">
                <td colspan="2">
                   <h3 data-menu-item-id="{{ menu_item.id }}" id="{{ menu_item.id }}" class="menu-item-header">
                      <span class="pull-left">{{ menu_item.label }}</span>
                      <span class="pull-right">
                          <span class="hide-permissions" id="hide_permissions_{{ menu_item.id }}"><i class="fa fa-angle-down"></i></span>
                          <span class="show-permissions" id="show_permissions_{{ menu_item.id }}"><i class="fa fa-angle-right"></i></span>
                      </span>
                    </h3>
                </td>
            </tr>
            <tr style="display:none;" id="{{ menu_item.id }}_parent" class="permissions-{{ menu_item.id }}">
                <td>{{ menu_item.label }}</td>
                <td>
                    {% permission_select menu_item group_permissions  %}
                </td>
            </tr>
            {% for child in menu_item.children %}
                {% if child.children %}
                    <tr id="{{ child.id }}_children" class="parent-children permissions-{{ menu_item.id }}" style="display:none;" >
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ child.label }}</td>
                        <td>
                            {% permission_select child group_permissions  %}
                        </td>
                    </tr>
                    <tr id="{{ child.id }}_grand_children" class="permissions-{{ menu_item.id }}" style="display:none;" >
                        <td colspan="2">
                            <table class="table" width="100%">
                                {% for grand_child in child.children %}
                                    <tr>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ grand_child.label }}</td>
                                        <td>
                                            {% permission_select grand_child group_permissions  %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% else %}
                    <tr id="{{ child.id }}_child" class="permissions-{{ menu_item.id }}" style="display:none;" >
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ child.label }}</td>
                        <td>
                            {% permission_select child group_permissions  %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr class="table-header">
                <td colspan="2">
                   <h3 data-menu-item-id="{{ menu_item.id }}" id="{{ menu_item.id }}" class="menu-item-header">
                      <span class="pull-left">{{ menu_item.label }}</span>
                      <span class="pull-right">
                          <span class="hide-permissions" id="hide_permissions_{{ menu_item.id }}"><i class="fa fa-angle-down"></i></span>
                          <span class="show-permissions" id="show_permissions_{{ menu_item.id }}"><i class="fa fa-angle-right"></i></span>
                      </span>
                    </h3>
                </td>
            </tr>
            <tr  style="display:none;" id="{{ menu_item.id }}_permissions" class="permissions-{{ menu_item.id }}">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ menu_item.label }}</td>
                <td>
                    {% permission_select menu_item group_permissions  %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr class="table-header">
        <td colspan="2">
           <h3 data-menu-item-id="invoice_fields" id="invoice_fields" class="menu-item-header">
              <span class="pull-left">Invoice Fields</span>
              <span class="pull-right">
                  <span class="hide-permissions" id="hide_permissions_invoice_fields"><i class="fa fa-angle-down"></i></span>
                  <span class="show-permissions" id="show_permissions_invoice_fields"><i class="fa fa-angle-right"></i></span>
              </span>
            </h3>
        </td>
    </tr>
    {% for invoice_field in invoice_fields %}
        <tr  style="display:none;" id="invoice_fields_permissions" class="permissions-invoice_fields">
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ invoice_field.label }}</td>
            <td>
                {% permission_select invoice_field group_permissions  %}
            </td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript">
    function openPermissions(el)
    {
        $(".permissions-" + $(el).data('id')).toggle();
        return false;
    }
    $(".menu-item-header").on("click", function(e){
        e.preventDefault();
        const menuItemId = $(this).data('menu-item-id');
        const menuItemTable = $(".permissions-" + menuItemId);
        const hideIcon  = $("#hide_permissions_" + menuItemId);
        const showIcon  = $("#show_permissions_" + menuItemId);

        if (menuItemTable.is(":hidden")) {
            menuItemTable.addClass('opened').removeClass('closed').show();
            hideIcon.hide();
            showIcon.show();
        } else {
            menuItemTable.addClass('closed').removeClass('opened').hide();
            hideIcon.show();
            showIcon.hide();
        }
    });

    $(".sub-category-header").on("click", function(e){
        e.preventDefault();
        const categoryId = $(this).data('category-id');
        const categoryTable = $(".category-" + categoryId + '-assets');
        const hideSubCategoryIcon  = $("#hide_sub_category_" + categoryId);
        const showSubCategoryIcon  = $("#show_sub_category_" + categoryId);

        if (categoryTable.is(":hidden")) {
            categoryTable.addClass('opened').removeClass('closed').show();
            hideSubCategoryIcon.hide();
            showSubCategoryIcon.show();
        } else {
            categoryTable.addClass('closed').removeClass('opened').hide();
            hideSubCategoryIcon.show();
            showSubCategoryIcon.hide();
        }
    });
</script>