{% if 'options' in menu_item %}
    <select class="form-control" name="{{ permission }}" id="{{ permission }}">
        {% for option in permission_options %}
            {% if option.selected == 'selected' %}
               <option value="{{ option.value }}" selected="selected">{{ option.label }}</option>
            {% else %}
               <option value="{{ option.value }}">{{ option.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endif %}