<table class="table table-bordered" width="100%">
    {% for group_children in group_permission.children %}
        {% if group_children.children %}
            {% menu_children group_children  %}
        {% else %}
            <tr style="" id="{{ group_permission.id }}_permissions">
                <td colspan="2" >
                    <table class="table" width="100%">
                        <tr>
                            <td>{{ group_children.label }}</td>
                            <td>
                                {% permission_select group_children group_permission None assigned_group_permissions  %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>