
<div class="panel-body align-center">
    <div class="col-lg-12 col-xs-12">
        <div class="panel-body">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered" width="100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>Code</th>
                                <th>Customer Name</th>
                                <th>
                                    Select&nbsp;&nbsp;&nbsp;<input type="checkbox" id="all_customers">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <td>{{ customer.number }}</td>
                                    <td>{{ customer.name }}</td>
                                    <td class="text-center">
                                        <input type="checkbox" name="customers" id="customer_{{ customer.id }}" value="{{ customer.id }}" class="customers" />
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">No customers found for this salesman</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>