{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
{% block page_title %} Salesman {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clear-fix">
        <div class="pull-left">
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-large btn-success btn-loading"
                    data-modal="{% url 'create_salesman' %}"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    id="create_salesman"><i class="fa fa-plus-circle"></i> Create</button>
        </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed" width="100%">
            <thead>
                <tr class="primary-head">
                    <th>Code</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if salesmans|length > 0 %}
                    {% for salesman in salesmans %}
                        <tr class="salesman-row">
                            <td><strong>{{ salesman.code }}</strong></td>
                            <td class="text-left">{{ salesman.name }}</td>
                            <td class="actions">
                                <a href="javascript:void(0);" data-modal="{% url 'edit_salesman' salesman.id %}"><i class="fa fa-pencil"></i></a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                               <a href="{% url 'delete_salesman' salesman.id %}" class="ui-state-error-text"
                                  onclick="confirm('Are you sure you want to delete this salesmen')"><i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">Salesman not available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/salesman.js' %}"></script>
{% endblock %}
