{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Transfer Salesman {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<form class="form" method="post" id="transfer_salesman_form" action="{% url 'transfer_salesman' %}"
  data-ajax-url="{% url 'transfer_salesman' %}" novalidate="novalidate">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
        <div class="panel-body align-center">
            <div class="col-lg-12 col-xs-12">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.from_salesman.errors %}error{% endif %}">
                                {{ form.from_salesman.label_tag }}
                                <div class="controls">
                                    {% render_field form.from_salesman class="form-control chosen-select" tabindex="2" %}
                                    {% if form.from_salesman.auto_id  != "id_tos" %}
                                        {% if form.from_salesman.errors %}<span class="help-inline">{{ form.from_salesman.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.to_salesman.errors %}error{% endif %}">
                                <label class=" control-label txt-font12" for="{{ form.to_salesman.id_for_label }}">{{ form.to_salesman.label_tag }}</label>
                                <div class="controls">
                                    {% render_field form.to_salesman class="form-control chosen-select"  tabindex="3" %}
                                    {% if form.to_salesman.auto_id  != "id_tos" %}
                                        {% if form.to_salesman.errors %}<span class="help-inline">{{ form.to_salesman.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="transfer" class="btn btn-primary generate" data-action="transfer">Transfer</button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary" data-action="cancel" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 data-container" data-ajax-url="{% url 'salesman_customers' %}" id="customers_list"></div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/salesman.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}