<div class="row">
    <table class="table-bordered table">
        <thead>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for temporary_profile in profiles %}
                <tr>
                    <td>{{ temporary_profile.profile }}</td>
                    <td>{{ temporary_profile.start_date }}</td>
                    <td>{{ temporary_profile.expiry_date }}</td>
                    <td>
                        {% if temporary_profile.has_started %}
                            {% if not temporary_profile.has_expired %}
                                <a href="{% url 'temporary_profile_edit' profile_id=temporary_profile.temporary_id pk=temporary_profile.pk %}?redirect={{ redirect }}">Edit</a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'temporary_profile_edit' profile_id=temporary_profile.temporary_id pk=temporary_profile.pk %}?redirect={{ redirect }}">Edit</a>
                            <a onclick="confirm('Are you sure you want to delete this temporary profile')" href="{% url 'temporary_profile_delete' profile_id=temporary_profile.temporary_id pk=temporary_profile.pk %}?redirect={{ redirect }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No temporary profiles found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>