{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Documents {% endblock page_title %}
{% load invoice_tags %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/tablesorter/theme.bootstrap_3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablesorter/jquery.tablesorter.pager.min.css' %}">
{% endblock stylesheets %}
{% block content %}
    <style>

/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
    display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
}
    /* pager wrapper, div */
.pager {
  padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.pager {
  background-color: #e6eeee;
}
/* pager navigation arrows */
.pager img {
  vertical-align: middle;
  margin-right: 2px;
}
/* pager output text */
.pager .pagedisplay {
  font-size: 11px;
  padding: 0 5px 0 5px;
  width: 50px;
  text-align: center;
}

/*** loading ajax indeterminate progress indicator ***/
#tablesorterPagerLoading {
  background: rgba(255,255,255,0.8) url(icons/loading.gif) center center no-repeat;
  position: absolute;
  z-index: 1000;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.pager img.disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
}
    </style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group pull-right">
                <a type="button" href="{% url 'download_invoice_report' %}" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</a>
                <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete_report" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
  </div>
  <div class="panel-body">
      <div class="table-responsive">
            <table> <!-- bootstrap classes added by the uitheme widget -->
              <thead>
                  <tr>
                    <th data-column-id="status">Status</th>
                    <th data-column-id="id">ID</th>
                    <th data-column-id="supplier">Supplier</th>
                    <th data-column-id="supplier_name">Supplier's name</th>
                    <th data-column-id="supplier">Supplier's inv. no.</th>
                    <th data-column-id="document_type">Document Type.</th>
                    <th data-column-id="reference_1r">Reference 1.</th>
                    <th data-column-id="reference_1">Reference 2.</th>
                    <th data-column-id="period">Period</th>
                    <th data-column-id="accounting_date">Accounting date</th>
                    <th data-column-id="invoice_date">Invoice date</th>
                    <th data-column-id="due_date">Due date</th>
                    <th data-column-id="payment_date">Payment date</th>
                    <th data-column-id="net_amount" class="text-right">Net Amount</th>
                    <th data-column-id="vat_amount" class="text-right">VAT Amount</th>
                    <th data-column-id="amount" class="text-right">Amount</th>
                    <th data-column-id="currency">Currency</th>
                    <th data-column-id="exchange_rate">Exchange Rate</th>
                  </tr>
              </thead>
              <tfoot>
                <tr>
                  <th colspan="18" class="ts-pager form-inline">
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-default first"><span class="glyphicon glyphicon-step-backward"></span></button>
                      <button type="button" class="btn btn-default prev"><span class="glyphicon glyphicon-backward"></span></button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-default next"><span class="glyphicon glyphicon-forward"></span></button>
                      <button type="button" class="btn btn-default last"><span class="glyphicon glyphicon-step-forward"></span></button>
                    </div>
                    <select class="form-control input-sm pagesize" title="Select page size">
                      <option selected="selected" value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="all">All Rows</option>
                    </select>
                    <select class="form-control input-sm pagenum" title="Select page number"></select>
                  </th>
                </tr>
              </tfoot>
              <tbody>
              </tbody>
            </table>
      </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/tablesorter/jquery.tablesorter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/tablesorter/jquery.tablesorter.widgets.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/tablesorter/extras/jquery.tablesorter.pager.min.js' %}"></script>

    <script type="text/javascript">
    // using jQuery
    $(function(){

          // NOTE: $.tablesorter.themes.bootstrap is ALREADY INCLUDED in the jquery.tablesorter.widgets.js
          // file; it is included here to show how you can modify the default classes
          $.tablesorter.themes.bootstrap = {
            // these classes are added to the table. To see other table classes available,
            // look here: http://getbootstrap.com/css/#tables
            table        : 'table table-bordered table-striped',
            caption      : 'caption',
            // header class names
            header       : 'bootstrap-header', // give the header a gradient background (theme.bootstrap_2.css)
            sortNone     : '',
            sortAsc      : '',
            sortDesc     : '',
            active       : '', // applied when column is sorted
            hover        : '', // custom css required - a defined bootstrap style may not override other classes
            // icon class names
            icons        : '', // add "bootstrap-icon-white" to make them white; this icon class is added to the <i> in the header
            iconSortNone : 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
            iconSortAsc  : 'glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
            iconSortDesc : 'glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
            filterRow    : '', // filter row class; use widgetOptions.filter_cssFilter for the input/select element
            footerRow    : '',
            footerCells  : '',
            even         : '', // even row zebra striping
            odd          : ''  // odd row zebra striping
          };

          // call the tablesorter plugin and apply the uitheme widget
          $("table").tablesorter({
            // this will apply the bootstrap theme if "uitheme" widget is included
            // the widgetOptions.uitheme is no longer required to be set
            theme : "bootstrap",

            widthFixed: true,

            headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!

            // widget code contained in the jquery.tablesorter.widgets.js file
            // use the zebra stripe widget if you plan on hiding any rows (filter widget)
            widgets : [ "uitheme", "filter", "columns", "zebra" ],

            widgetOptions : {
              // using the default zebra striping class name, so it actually isn't included in the theme variable above
              // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
              zebra : ["even", "odd"],

              // class names added to columns when sorted
              columns: [ "primary", "secondary", "tertiary" ],

              // reset filters button
              filter_reset : ".reset",

              // extra css class name (string or array) added to the filter element (input or select)
              filter_cssFilter: "form-control",

              // set the uitheme widget to use the bootstrap theme class names
              // this is no longer required, if theme is set
              // ,uitheme : "bootstrap"

            }
          })
          .tablesorterPager({

             ajaxUrl : '{% url "invoices_list_json" %}?{filterList:filter}&{sortList:column}',

          // process ajax so that the following information is returned:
          // [ total_rows (number), rows (array of arrays), headers (array; optional) ]
          // example:
          // [
          //   100,  // total rows
          //   [
          //     [ "row1cell1", "row1cell2", ... "row1cellN" ],
          //     [ "row2cell1", "row2cell2", ... "row2cellN" ],
          //     ...
          //     [ "rowNcell1", "rowNcell2", ... "rowNcellN" ]
          //   ],
          //   [ "header1", "header2", ... "headerN" ] // optional
          // ]
          // OR
          // return [ total_rows, $rows (jQuery object; optional), headers (array; optional) ]
          ajaxProcessing: function(data) {
            if (data && data.hasOwnProperty('rows')) {
              var indx, r, row, c, d = data.rows,
              // total number of rows (required)
              total = data.total_rows,
              // array of header names (optional)
              headers = data.headers,
              // cross-reference to match JSON key within data (no spaces)
              headerXref = headers.join(',').replace(/\s+/g,'').split(','),
              // all rows: array of arrays; each internal array has the table cell data for that row
              rows = [],
              // len should match pager set size (c.size)
              len = d.length;
              // this will depend on how the json is set up - see City0.json
              // rows
              for ( r=0; r < len; r++ ) {
                row = []; // new row array
                // cells
                for ( c in d[r] ) {
                  if (typeof(c) === "string") {
                    // match the key with the header to get the proper column index
                    indx = $.inArray( c, headerXref );
                    // add each table cell data to row array
                    if (indx >= 0) {
                      row[indx] = d[r][c];
                    }
                  }
                }
                rows.push(row); // add new row array to rows array
              }
              // in version 2.10, you can optionally return $(rows) a set of table rows within a jQuery object
              return [ total, rows ];
            }
          },

          // Set this option to false if your table data is preloaded into the table, but you are still using ajax
          processAjaxOnInit: true,

          // output string - default is '{page}/{totalPages}';
          // possible variables: {size}, {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
          // also {page:input} & {startRow:input} will add a modifiable input in place of the value
          output: '{startRow} to {endRow} ({totalRows})',

          // apply disabled classname (cssDisabled option) to the pager arrows when the rows
          // are at either extreme is visible; default is true
          updateArrows: true,

          // starting page of the pager (zero based index)
          page: 0,

          // Number of visible rows - default is 10
          size: 25,

          // Saves the current pager page size and number (requires storage widget)
          savePages: true,
          // Saves tablesorter paging to custom key if defined.
          // Key parameter name used by the $.tablesorter.storage function.
          // Useful if you have multiple tables defined
          storageKey: 'tablesorter-pager',

          // Reset pager to this page after filtering; set to desired page number (zero-based index),
          // or false to not change page at filter start
          pageReset: 0,

          // if true, the table will remain the same height no matter how many records are displayed.
          // The space is made up by an empty table row set to a height to compensate; default is false
          fixedHeight: false,

          // remove rows from the table to speed up the sort of large tables.
          // setting this to false, only hides the non-visible rows; needed if you plan to
          // add/remove rows with the pager enabled.
          removeRows: false,

          // If true, child rows will be counted towards the pager set size
          countChildRows: false,

          // css class names of pager arrows
          cssNext        : '.next',  // next page arrow
          cssPrev        : '.prev',  // previous page arrow
          cssFirst       : '.first', // go to first page arrow
          cssLast        : '.last',  // go to last page arrow
          cssGoto        : '.gotoPage', // page select dropdown - select dropdown that set the "page" option

          cssPageDisplay : '.pagedisplay', // location of where the "output" is displayed
          cssPageSize    : '.pagesize', // page size selector - select dropdown that sets the "size" option

          // class added to arrows when at the extremes; see the "updateArrows" option
          // (i.e. prev/first arrows are "disabled" when on the first page)
          cssDisabled    : 'disabled', // Note there is no period "." in front of this class name
          cssErrorRow    : 'tablesorter-errorRow', // error information row

            // target the pager markup - see the HTML block below
            container: $(".ts-pager")



          });

		// filter button demo code
		$('button.filter').click(function() {
			var col = $(this).data('column'),
				txt = $(this).data('filter');
			$('table').find('.tablesorter-filter').val('').eq(col).val(txt);
			$('table').trigger('search', false);
			return false;
		});

		// toggle zebra widget
		$('button.zebra').click(function() {
			var t = $(this).hasClass('btn-success');
//			if (t) {
				// removing classes applied by the zebra widget
				// you shouldn't ever need to use this code, it is only for this demo
//				$('table').find('tr').removeClass('odd even');
//			}
			$('table')
				.toggleClass('table-striped')[0]
				.config.widgets = (t) ? ["uitheme", "filter"] : ["uitheme", "filter", "zebra"];
			$(this)
				.toggleClass('btn-danger btn-success')
				.find('i')
				.toggleClass('glyphicon-ok glyphicon-remove').end()
				.find('span')
				.text(t ? 'disabled' : 'enabled');
			$('table').trigger('refreshWidgets', [false]);
			return false;
		});

    });
    </script>
{% endblock %}