{% extends 'datatable.html' %}
{% load i18n %}
{% block page_title %} {{ year }} Documents {% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="invoices" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th width="6%">Status</th>
                    <th width="5%">ID</th>
                    <th>Supplier</th>
                    <th width="8%">Supplier Name</th>
                    <th width="9%">Invoice Number.</th>
                    <th>Document Type.</th>
                    <th>References</th>
                    <th>Period</th>
                    <th>Accounting date</th>
                    <th>Invoice date</th>
                    <th>Due date</th>
                    <th>Payment date</th>
                    <th class="text-right">Net Amount</th>
                    <th class="text-right">VAT Amount</th>
                    <th class="text-right">Amount</th>
                </tr>
            </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#invoices").DataTable({
            serverSide: true,
            deferLoading: true,
            ajax: '/api/v1/purchases-invoices?format=datatables',
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 1, 'desc' ]],
            processing: true,
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            columns: [
                { data: 'status', name: 'status', searchable: true,
                    render(data) {
                        return data ? data.name : ''
                    }
                },
                { data: 'reference', name: 'reference', searchable: true},
                { data: 'supplier', name: 'supplier__name', searchable: true,
                    render(data) {
                        return data ? data.code : ''
                    }
                },
                { data: 'supplier_name', name: 'supplier_name', searchable: true},
                { data: 'invoice_number', name: 'invoice_number', searchable: true},
                { data: 'invoice_type', name: 'invoice_type', searchable: true,
                    render(data) {
                        return data ? data.name : ''
                    }
                },
                { data: 'references', name: 'references', searchable: true,
                    render(data, type, row) {
                        return data ? row['references'].join(', ') : ''
                    }
                },
                { data: 'period', name: 'period__period', searchable: true,
                    render(data) {
                        return data ? data.period : ''
                    }
                },
                { data: 'accounting_date', name: 'accounting_date', searchable: true},
                { data: 'invoice_date', name: 'invoice_date', searchable: true},
                { data: 'due_date', name: 'due_date', searchable: true},
                { data: 'payment_date', name: 'payment_date', searchable: true},
                { data: 'net_amount', name: 'net_amount', searchable: true},
                { data: 'vat_amount', name: 'vat_amount', searchable: true},
                { data: 'total_amount', name: 'total_amount', searchable: true},
              ]
        });

        table.column(0).search('{{ status_slug }}', false, false, true);

        // make ajax to call server
        table.draw();

        $('#invoices tbody').on( 'click', 'tr', function () {
            const rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'show_invoice_report' %}";
            }
        });
    });
    </script>
{% endblock %}