{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} {{ year }} Documents {% endblock page_title %}
{% load invoice_tags %}
{% block stylesheets %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.3/css/fixedHeader.dataTables.min.css" />
{% endblock stylesheets %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
.dataTables_length {
    float: left !important;
}
.dataTables_filter {
    float: right !important;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group pull-right">
                <a type="button" href="{% url 'download_invoice_report' %}" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</a>
                <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete_report" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
  </div>
  <div class="panel-body">
        <div class="__table">
          <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>ID</th>
                        <th>Invoice Id</th>
                        <th>Supplier</th>
                        <th>Supplier's name</th>
                        <th>Supplier's inv. no.</th>
                        <th>Document Type.</th>
                        <th>Reference 1.</th>
                        <th>Reference 2.</th>
                        <th>Period</th>
                        <th>Accounting date</th>
                        <th>Invoice date</th>
                        <th>Due date</th>
                        <th>Payment date</th>
                        <th class="text-right">Net Amount</th>
                        <th class="text-right">VAT Amount</th>
                        <th class="text-right">Amount</th>
                        <th>Currency</th>
                        <th>Exchange Rate</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
          </div>
        </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/fixedheader/3.1.3/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>

    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">
    // using jQuery
    $(function(){

        var table = $("#dataTable").DataTable({
            'ajax': {
               url: '/api/v1/invoices/?format=datatables',
                data: {'rows': '{{display_rows}}' }
            },
            pagingType: 'full_numbers',
            columns: [
                { data: 'status', name: 'status', searchable: true, title:'Status', width: '10%' },
                { data: 'id', name: 'id', searchable: true, title:'ID' , width: '10%'},
                { data: 'ref', name: 'ref', title:'Invoice Id', 'visible': false },
                { data: 'supplier', name: 'supplier', searchable: true, title:'Supplier' },
                { data: 'supplier_name', name: 'supplier_name', searchable: true, title:'Supplier\'s Name' },
                { data: 'invoice_number', name: 'invoice_number', searchable: true, title:'Invoice Number' },
                { data: 'document_type', name: 'document_type', searchable: true, title:'Document Type' },
                { data: 'reference_1', name: 'reference_1', searchable: true, title:'Reference 1' },
                { data: 'reference_2', name: 'reference_2', searchable: true, title:'Reference 2' },
                { data: 'period', name: 'period', searchable: true, title:'Period' },
                { data: 'accounting_date', name: 'accounting_date', searchable: true, title:'Accounting Date' },
                { data: 'invoice_date', name: 'invoice_date', searchable: true, title:'Invoice Date' },
                { data: 'due_date', name: 'due_date', searchable: true, title:'Due Date'},
                { data: 'payment_date', name: 'payment_date', searchable: true, title:'Payment Date'},
                { data: 'net_amount', name: 'net_amount', searchable: true, title:'Net Amount'},
                { data: 'vat_amount', name: 'vat_amount', searchable: true, title:'Vat Amount'},
                { data: 'total_amount', name: 'total_amount', searchable: true, title:'Amount'},
                { data: 'currency_code', name: 'currency_code', searchable: true, title:'Currency'},
                { data: 'exchange_rate', name: 'exchange_rate', searchable: true, title:'Exchange Rate'}
            ],
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 2, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
        });

        $('#dataTable tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            if (rowData.edit_url) {
                document.location.href = rowData.edit_url + "?redirect={% url 'show_invoice_report' %}";
            }
        });
    });
    </script>
{% endblock %}