{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
{% block page_title %} Supplier Authorization - {{ year }} {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clear-fix">
        <div class="pull-left">
        </div>

      <div class="pull-right">
            <button type="button" class="btn btn-large btn-success btn-loading"
                    data-modal="{% url 'create_supplier_authorization' %}"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    id="create_supplier_authorization_btn"><i class="fa fa-plus"></i> Create</button>
      </div>
  </div>
  <div class="panel-body aligin-center">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed" width="100%">
            <thead>
                <tr class="primary-head">
                    <th>Supplier</th>
                    <th class="text-left"s>Authorization Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if supplier_authorizations|length > 0 %}
                    {% for supplier_authorization in supplier_authorizations %}
                        <tr class="supplier-row">
                            <td><strong>{{ supplier_authorization.supplier }}</strong></td>
                            <td class="text-left">{{ supplier_authorization.amount|money }}</td>
                            <td class="actions">
                                <a href="javascript:void(0);"
                                   data-modal="{% url 'edit_supplier_authorization' supplier_authorization.id %}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                               <a href="javascript:void(0);" class="ui-state-error-text"
                                   data-modal="{% url 'delete_supplier_authorization' supplier_authorization.id %}">
                                    <i class="fa fa-trash"></i>
                                </a>
                               <a href="javascript:void(0);" class="ui-state-ok-text"
                                   data-modal="{% url 'create_supplier_role_authorization' authorization_id=supplier_authorization.id %}">
                                   Roles</i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table" width="100%">
                                    {% for role_authorization in supplier_authorization.role_authorizations.all %}
                                        <tr>
                                            <td>{{ role_authorization.role }}</td>
                                            <td>{{ role_authorization.amount|money }}</td>
                                            <td>
                                                <a href="javascript:void(0);"
                                                   data-modal="{% url 'edit_supplier_role_authorization' role_authorization.id %}">Edit</a>
                                                <a href="javascript:void(0);"
                                                   data-modal="{% url 'delete_supplier_role_authorization' role_authorization.id %}">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Supplier authorizations not available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/supplier_authorization.js' %}"></script>
{% endblock %}
