{% extends 'base.html' %}
{% block page_title %} {{ object }}  {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_object_item' object_id=object.id %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus-o"></i> Create
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if objectitems %}
                    {% for objectitem in objectitems %}
                        <tr>
                            <td>{{ objectitem.label }}</td>
                            <td>{{ objectitem.code }}</td>
                            <td class="text-left actions">
                               <a href="{% url 'edit_object_item' pk=objectitem.id object_id=object.id  %}" data-toggle="tooltip" title="" class="btn-sm btn-success" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                               <a href="{% url 'delete_object_item' pk=objectitem.id object_id=object.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no {{ object }} added</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}