{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Permissions {% endblock page_title %}
{% block content %}
<style type="text/css">
    .panel-heading h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 75%;
        padding-top: 8px;
    }
      #undo_redo_to{
          height: 500px !important;
      }
      #undo_redo{
          height: 500px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
</style>
<form method="post" action="{% url 'role_permission_detail' role.id %}" id="role_objects_permissions">
  {% csrf_token %}
      <div class="panel panel-primary">
          <div class="panel-heading clearfix">
              <div class="pull-right">
                <button type="submit" id="save_role_object_permissions" class="btn btn-primary btn-sm"
                        data-role-id="{{ role.id }}"><i class="fa fa-save"></i> Save</button>
                <a href="{% url 'permission_roles_index' %}" class="btn btn-default btn-sm">Prev. Level</a>
              </div>
          </div>
          <div class="panel-body aligin-center">
                <table class="table align-center" width="100">
                    <tr>
                        <td colspan="2">
                            <table class="table">
                                <tr>
                                    <th>Role</th>
                                    <td>{{ role.label }}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{ role.label }}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <label class="control-label txt-font12" for="{{ form.register.id_for_label }}">{{ form.register.label_tag }}</label>
                                    </th>
                                    <td>
                                      <div class="controls">
                                        <select class="form-control chosen-select" id="id_register" name="register" data-role-id="{{ role.id }}">
                                            <option value="">--</option>
                                            <option value="account">Account</option>
                                            {% for k, company_object in company_objects.items %}
                                                <option value="{{ k }}">{{ company_object.label }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if form.register.errors %}<span class="help-inline">{{ form.register.errors }}</span>{% endif %}
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Also show closed</th>
                                    <td>
                                      <div class="checkbox">
                                          <label style="font-size: 1em">
                                              <input type="checkbox" name="show_closed" id="id_show_closed" value="1" />
                                              <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                          </label>
                                      </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <fieldset class="well" id="object_permissions">
                                <div class="row" id="permissions">
                                    <div class="form-group col-sm-4">
                                        <select multiple="multiple" class="form-control" id="undo_redo" name="unassigned_permissions">
                                            {% for namespace in left_list %}
                                               <option value="{{ namespace.id }}">{{ namespace.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
                                        <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block">
                                            <i class="fa fa-angle-double-right"></i>
                                        </button>
                                        <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block">
                                            <i class="fa fa-angle-right"></i>
                                        </button>
                                        <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block">
                                            <i class="fa fa-angle-left"></i>
                                        </button>
                                        <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block">
                                            <i class="fa fa-angle-double-left"></i>
                                        </button>
                                        <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <select multiple="multiple" class="form-control" id="undo_redo_to" name="role_permissions">
                                            {% for namespace in right_list %}
                                               <option value="{{ namespace.id }}">{{ namespace.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                </table>
          </div>
      </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/multiselect/multiselect.min.js' %}"></script>
    <script type="text/javascript">
    // using jQuery
        $(function(){

            $("#save_role_object_permissions").on('click', function(e){
                const objectId = $("#id_register").val();
                //var rolePermissions = $("#undo_redo_to").val();
                const roleId = $(this).data('role-id');

                let roleObjectPermissions = [];
                let rolePermissionSelect = document.getElementById("undo_redo_to");
                for (let i = 0; i < rolePermissionSelect.options.length; i++) {
                     roleObjectPermissions.push(rolePermissionSelect.options[i].value)
                }

                $.post('{% url 'role_save_object_permissions' %}', {
                    role_object_permissions: roleObjectPermissions,
                    object_id: objectId,
                    role_id: roleId
                }, function(response){
                    $.notify({
                        title: 'Update role object permissions',
                        message: response.text
                    },{
                        type: (response.error ? 'error' : 'success')
                    });
                });
                e.preventDefault();
            });

            $("#id_register").on('change', function(){
                var registeredObject = $(this).val();
                var selectedObjects = $("#undo_redo_to");
                var availableObjects = $("#undo_redo");
                //var ajaxUrl = $(this).data('ajax-url');
                var roleId = $(this).data('role-id');
                selectedObjects.empty();
                availableObjects.empty();
                var ajaxUrl = "{% url 'role_object_permissions' %}";
                if (!roleId) {
                    alert('Role not found');
                } else {
                    $.getJSON(ajaxUrl, {
                       object: registeredObject,
                       role_id: roleId
                    }, function(response){
                        var leftHtml = [];
                        var rightHtml = [];
                        var filterHtml = [];
                        filterHtml.push("<option value=''>--please select--</option>");
                        $.each(response['right_list'], function(index, leftList){
                            var optionHtml = "<option value='"+leftList.id+"' style='"+ (leftList.sub_ledger === null ?  '' : 'color: red;') +"'>"+leftList.name+"</option>";
                            console.log("Right list")
                            console.log(leftList.sub_ledger)
                            rightHtml.push(optionHtml);
                            filterHtml.push(optionHtml);
                        });
                        $.each(response['left_list'], function(index, leftList){
                            console.log("Left list")
                            console.log(leftList.sub_ledger)
                            var optionHtml = "<option value='"+leftList.id+"' style='"+ (leftList.sub_ledger === null ?  '' : 'color: red;') +"'>"+leftList.name+"</option>";
                            leftHtml.push(optionHtml);
                            filterHtml.push(optionHtml);
                        });
                        selectedObjects.html( rightHtml );
                        availableObjects.html( leftHtml );
                        $("#" + registeredObject + "_filter").html( filterHtml );
                    });
                }
            });

            $('#undo_redo').multiselect({
                search: {
                    left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                    right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                },
                fireSearch: function(value) {
                    return value.length > 3;
                }
            });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}