{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Edit Role{% endblock page_title %}
{% block content %}
   <style type="text/css">
      #id_permissions{
          height: 1000px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
    input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        position: relative;
        height: 13px;
        -webkit-appearance: none;
        background: #F2FCFF !important;
        border: 1px solid #000000;
    }
    input[type="radio"] {
        height: 16px;
        border: 1px solid #000000;
    }
   </style>
  <form method="post" novalidate="novalidate" action="{% url 'edit_role' role.id %}">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
          <div class="pull-right">
                <button class="btn btn-primary btn-sm" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>

                <a href="{% url 'roles_index' %}" class="btn btn-sm btn-default" role="button">
                    <i class="fa fa-paperclip"></i> Prev. Level
                </a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="row">
              <div class="col-lg-6 col-sm-12">
                  <fieldset class="well">
{#                       <div class="form-group control-group {% if form.name.errors %}error{% endif %}">#}
{#                          <label class="control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>#}
{#                          <div class="controls">#}
{#                              {{ form.name|attr:"class:form-control"  }}#}
{#                              {% if form.name.auto_id  != "id_tos" %}#}
{#                                  {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}#}
{#                              {% endif %}#}
{#                          </div>#}
{#                      </div>#}
                      <div class="form-group control-group {% if form.label.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.label.id_for_label }}">{{ form.label.label_tag }}</label>
                          <div class="controls">
                              {{ form.label|attr:"class:form-control"  }}
                              {% if form.label.auto_id  != "id_tos" %}
                                  {% if form.label.errors %}<span class="help-inline">{{ form.label.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                      <div class="form-group control-group {% if form.authorization_amount.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.authorization_amount.id_for_label }}">{{ form.authorization_amount.label_tag }}</label>
                          <div class="controls">
                              {{ form.authorization_amount|attr:"class:form-control"  }}
                              {% if form.authorization_amount.auto_id  != "id_tos" %}
                                  {% if form.authorization_amount.errors %}<span class="help-inline">{{ form.authorization_amount.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                      <div class="form-group control-group {% if form.can_be_inserted_in_flow.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.can_be_inserted_in_flow.id_for_label }}">{{ form.can_be_inserted_in_flow.label_tag }}</label>
                          <div class="controls">
                              {{ form.can_be_inserted_in_flow |attr:"class:form-control" }}
                              {% if form.label.auto_id  != "id_tos" %}
                                  {% if form.can_be_inserted_in_flow.errors %}<span class="help-inline">{{ form.can_be_inserted_in_flow.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                    </fieldset>
                    <fieldset class="well">
                      <legend>Role Supervisor</legend>
                      <div class="form-group control-group {% if form.manager_role.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.manager_role.id_for_label }}">{{ form.manager_role.label_tag }}</label>
                          <div class="controls">
                              {{ form.manager_role|attr:"class:form-control chosen-select"  }}
                              {% if form.manager_role.auto_id  != "id_tos" %}
                                  {% if form.manager_role.errors %}<span class="help-inline">{{ form.manager_role.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                      <div class="form-group control-group {% if form.reminder_to_role_days.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.reminder_to_role_days.id_for_label }}">{{ form.reminder_to_role_days.label_tag }}</label>
                          <div class="controls">
                              {{ form.reminder_to_role_days|attr:"class:form-control"  }}
                              {% if form.reminder_to_role_days.auto_id  != "id_tos" %}
                                  {% if form.reminder_to_role_days.errors %}<span class="help-inline">{{ form.reminder_to_role_days.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                      <div class="form-group control-group {% if form.supervisor_role.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.supervisor_role.id_for_label }}">{{ form.supervisor_role.label_tag }}</label>
                          <div class="controls">
                              {{ form.supervisor_role|attr:"class:form-control chosen-select"  }}
                              {% if form.supervisor_role.auto_id  != "id_tos" %}
                                  {% if form.supervisor_role.errors %}<span class="help-inline">{{ form.supervisor_role.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                    </fieldset>
                    <fieldset class="well">
                      <legend>Reminders</legend>

{#                      <div class="form-group control-group {% if form.invoice_account_to_role_days.errors %}error{% endif %}">#}
{#                          <label class="control-label txt-font12" for="{{ form.invoice_account_to_role_days.id_for_label }}">{{ form.invoice_account_to_role_days.label_tag }}</label>#}
{#                          <div class="controls">#}
{#                              {{ form.invoice_account_to_role_days|attr:"class:form-control"  }}#}
{#                              {% if form.invoice_account_to_role_days.auto_id  != "id_tos" %}#}
{#                                  {% if form.invoice_account_to_role_days.errors %}<span class="help-inline">{{ form.invoice_account_to_role_days.errors }}</span>{% endif %}#}
{#                              {% endif %}#}
{#                          </div>#}
{#                      </div>#}
                      <div class="form-group control-group {% if form.send_reminder_after_inbox.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.send_reminder_after_inbox.id_for_label }}">{{ form.send_reminder_after_inbox.label_tag }}</label>
                          <div class="controls">
                              {{ form.send_reminder_after_inbox|attr:"class:form-control"  }}
                              {% if form.send_reminder_after_inbox.auto_id  != "id_tos" %}
                                  {% if form.send_reminder_after_inbox.errors %}<span class="help-inline">{{ form.send_reminder_after_inbox.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                      <div class="form-group control-group {% if form.send_reminder_before_due_date_days.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.send_reminder_before_due_date_days.id_for_label }}">{{ form.send_reminder_before_due_date_days.label_tag }}</label>
                          <div class="controls">
                              {{ form.send_reminder_before_due_date_days|attr:"class:form-control"  }}
                              {% if form.send_reminder_before_due_date_days.auto_id  != "id_tos" %}
                                  {% if form.send_reminder_before_due_date_days.errors %}<span class="help-inline">{{ form.send_reminder_before_due_date_days.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                      <div class="form-group control-group {% if form.direct_reminder.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.direct_reminder.id_for_label }}">{{ form.direct_reminder.label_tag }}</label>
                          <div class="controls">
                              {{ form.direct_reminder|attr:"class:form-control"  }}
                              {% if form.direct_reminder.auto_id  != "id_tos" %}
                                  {% if form.direct_reminder.errors %}<span class="help-inline">{{ form.direct_reminder.errors }}</span>{% endif %}
                              {% endif %}
                          </div>
                      </div>
                  </fieldset>
              </div>
              <div class="col-lg-6 col-sm-12">
                  <fieldset class="">
                      <div class="form-group control-group">
                          <label class="control-label txt-font12" for="permission_group_user_accounts">User for Role</label>
                          <div class="controls">
                              <select class="form-control" name="permission_group_user_accounts" id="permission_group_user_accounts" multiple="multiple">
                                  {% for user_account in user_accounts %}
                                      <option value="{{ user_account.id }}" {% if user_account.id in role_profiles %} selected="selected" {% endif %} >{{ user_account.user.first_name }} {{ user_account.user.last_name }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>
                      <div class="form-group control-group {% if form.permission_groups.errors %}error{% endif %}">
                          <label class="control-label txt-font12" for="{{ form.permission_groups.id_for_label }}">{{ form.permission_groups.label_tag }}</label>
                          <div class="controls">
                              <table class="table table-bordered table-condensed">
                                  <tbody>
                                  {% for permission_group in permission_groups %}
                                      <tr>
                                          <td>{{ permission_group.label }}</td>
                                          <td>
                                                  <!--<label style="font-size: 1em">-->
                                                      <!--{% if permission_group.id in role_permission_groups %}-->
                                                          <!--<input type="checkbox" checked="checked" name="permission_groups" id="permission_group_{{ permission_group.id }}" value="{{ permission_group.id }}">-->
                                                      <!--{% else %}-->
                                                          <!--<input type="checkbox" name="permission_groups" id="permission_group_{{ permission_group.id }}" value="{{ permission_group.id }}">-->
                                                      <!--{% endif %}-->
                                                  <!--</label>-->
                                              <label style="font-size: 1em">
                                                  {% if permission_group.id in role_permission_groups %}
                                                      <input type="radio" checked="checked" name="permission_groups" id="permission_group" value="{{ permission_group.id }}">
                                                  {% else %}
                                                      <input type="radio" name="permission_groups" id="permission_group" value="{{ permission_group.id }}">
                                                  {% endif %}
                                              </label>
                                          </td>
                                      </tr>
                                  {% endfor %}
                                  </tbody>
                              </table>
                              {% if form.permission_groups.auto_id  != "id_tos" %}
                                  {% if form.permission_groups.errors %}
                                      <span class="help-inline">{{ form.permission_groups.errors }}
                                      </span>
                                  {% endif %}
                              {% endif %}
                          </div>
                      </div>
                  </fieldset>
              </div>
            </div>
      </div>
    </div>

  </form>
{% endblock %}