{% extends 'base.html' %}
{% block page_title %} Role Members {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create-user-group' %}" class="btn labeled btn-default" role="button">
            <i class="icon icon-plus"></i> Add role member
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if groups %}
                    {% for group in groups %}
                            <tr>
                                <td class="task-desc">
                                    <a href="">{{ group.label }}</a>
                                </td>
                                <td>
                                    {% if group.is_active  %}
                                        <span class="label label-success">Active</span>
                                    {% else %}
                                        {{ group.is_active }}
                                    {% endif %}
                                </td>

                                <td class="text-left actions">
                                    <a href="{% url 'edit_role' group.id   %}">Edit</a> |
                                    <a href="{% url 'role_members' group.id   %}">Members</a> |
                                    <a href="{% url 'delete_role' group.id   %}">Delete</a>
                                </td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no user accounts available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}