{% load role_tags %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% current_role role_id profile_id company_id %}<i class="fa fa-caret-down fa-fw"></i>
    </a>
    {% if profile_roles %}
        <ul class="list-unstyled nav dropdown-menu dropdown-menu-right">
            {% for role in profile_roles %}
                <li>
                    {% if request.session.role == role.id %}
                        <a class="profile-role profile-item" href="javascript:void(0);" data-ajax-url="{% url 'change_role' role.id %}?next={{request.path}}">{{ role.label }}</a>
                    {% else %}
                        <a class="profile-role profile-item" href="javascript:void(0);" data-ajax-url="{% url 'change_role' role.id %}?next={{request.path}}">{{ role.label }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif  %}
</li>