{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}
<fieldset class="well">
    <legend>Discount and Prices</legend>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Statement Discount Terms</th>
                    <th>Line Discount</th>
                    <th>Invoice Discount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <input type="checkbox" id="is_statement_discount" name="is_statement_discount"
                        {% if customer and customer.is_statement_discount %}checked="checked"{% endif %}
                        />
                    </td>
                    <td>
                        <input type="checkbox" id="is_line_discount" name="is_line_discount"
                        {% if customer and customer.is_line_discount %}checked="checked"{% endif %}
                        />
                    </td>
                    <td>
                        <input type="checkbox" id="is_invoice_discount" name="is_invoice_discount"
                        {% if customer and customer.is_invoice_discount %}checked="checked"{% endif %}
                        />
                    </td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="statement_discount" name="statement_discount"
                        {% if customer and customer.statement_discount %}value="{{ customer.statement_discount }}"{% endif %}
                        />
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="line_discount" name="line_discount"
                        {% if customer and customer.line_discount %}value="{{ customer.line_discount }}"{% endif %}
                        />
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" id="invoice_discount" name="invoice_discount"
                        {% if customer and customer.invoice_discount %}value="{{ customer.invoice_discount }}"{% endif %}
                        />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group control-group {% if form.discount_days.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.discount_days.id_for_label }}">
            {{ form.discount_days.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.discount_days class="form-control" %}
            {% if form.discount_days.auto_id  != "id_tos" %}
                {% if form.discount_days.errors %}
                    <span class="help-inline">{{ form.discount_days.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.is_interest_charged.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.is_interest_charged.id_for_label }}">
            {{ form.is_interest_charged.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.is_interest_charged class="form-control" %}
            {% if form.is_interest_charged.auto_id  != "id_tos" %}
                {% if form.is_interest_charged.errors %}
                    <span class="help-inline">{{ form.is_interest_charged.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.interest.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.interest.id_for_label }}">
            {{ form.interest.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.interest class="form-control" %}
            {% if form.interest.auto_id  != "id_tos" %}
                {% if form.interest.errors %}
                    <span class="help-inline">{{ form.interest.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.days_unpaid.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.days_unpaid.id_for_label }}">
            {{ form.days_unpaid.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.days_unpaid class="form-control" %}
            {% if form.days_unpaid.auto_id  != "id_tos" %}
                {% if form.days_unpaid.errors %}
                    <span class="help-inline">{{ form.days_unpaid.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group control-group {% if form.df_number.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.df_number.id_for_label }}">
                    {{ form.df_number.label_tag }}
                </label>
                <div class="controls">
                    DF-#{% render_field form.df_number class="form-control" %}
                    {% if form.df_number.auto_id  != "id_tos" %}
                        {% if form.df_number.errors %}
                            <span class="help-inline">{{ form.df_number.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" id="df_supplier" data-supplier-id="{{ customer.supplier_id }}"
                {% if customer.df_number %} style="display: none;" {% endif %}>
            <div class="form-group control-group">
                <label class=" control-label txt-font12" for="supplier">
                    Supplier
                </label>
                <div class="controls">
                    <input type="text" id="id_supplier" data-ajax-url="{% url 'suppliers_by_df_number' %}"
                           class="form-control" value="{{ customer.supplier.code }}">
                    <input type="hidden" id="id_supplier_id" placeholder="Enter supplier code to search" name="supplier"
                           value="{% if customer.supplier_id %}{{ customer.supplier_id }}{% endif %}" >
                    <span id="search_loader"></span>
                    <span class="help-inline" id="supplier_response">
                        {% if not customer.supplier %}Enter supplier code above to search{% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
   <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group control-group {% if form.external_company_number.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.external_company_number.id_for_label }}">
                    {{ form.external_company_number.label_tag }}
                </label>
                <div class="controls">
                    {% render_field form.external_company_number class="form-control" %}
                    {% if form.external_company_number.auto_id  != "id_tos" %}
                        {% if form.external_company_number.errors %}
                            <span class="help-inline">{{ form.external_company_number.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
   </div>
   <div class="form-group control-group {% if form.is_price_on_delivery.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.is_price_on_delivery.id_for_label }}">
            {{ form.is_price_on_delivery.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.is_price_on_delivery class="form-control" %}
            {% if form.is_price_on_delivery.auto_id  != "id_tos" %}
                {% if form.is_price_on_delivery.errors %}
                    <span class="help-inline">{{ form.is_price_on_delivery.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</fieldset>