{% load i18n %}
{% load static widget_tweaks %}
{% load invoice_tags inventory_tags %}
    <fieldset class="well">
        <legend>Other Information</legend>
        <div class="form-group control-group {% if form.payment_term.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.payment_term.id_for_label }}">{{ form.payment_term.label_tag }}</label>
            <div class="controls">
                {% render_field form.payment_term class="form-control chosen-select" %}
                {% if form.payment_term.auto_id  != "id_tos" %}
                    {% if form.payment_term.errors %}<span class="help-inline">{{ form.payment_term.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div id="statement_days" class="{% if customer.is_statement_days %} show {% else %} hide  {% endif %}form-group control-group {% if form.statement_days.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.statement_days.id_for_label }}">{{ form.statement_days.label_tag }}</label>
            <div class="controls">
                {% render_field form.statement_days class="form-control" %}
                {% if form.statement_days.auto_id  != "id_tos" %}
                    {% if form.statement_days.errors %}<span class="help-inline">{{ form.statement_days.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div id="invoice_days" class="{% if customer.is_statement_days %} hide {% else %} show  {% endif %}form-group control-group {% if form.days.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.days.id_for_label }}">
                {{ form.days.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.days class="form-control" %}
                {% if form.days.auto_id  != "id_tos" %}
                    {% if form.days.errors %}
                        <span class="help-inline">{{ form.days.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group control-group {% if form.credit_limit.errors %}error{% endif %}">
                    {{ form.credit_limit.label_tag }}
                    <div class="controls">
                        {% render_field form.credit_limit class="form-control" %}
                        {% if form.credit_limit.auto_id  != "id_tos" %}
                            {% if form.credit_limit.errors %}<span class="help-inline">{{ form.credit_limit.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class=" control-label txt-font12" for="">Total Invoiced</label>
                    <div class="controls">
                        <span id="total_invoiced">
                            {{ customer.total_invoiced }}
                        </span>
                        <input id="total_invoiced" type="hidden" value="{{ customer.balance_amount }}">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group {% if form.available_credit.errors %}error{% endif %}">
                    <label class=" control-label txt-font12" for="{{ form.available_credit.id_for_label }}">{{ form.available_credit.label_tag }}</label>
                    <div class="controls">
                        <span id="available_credit">
                            {{ customer.calculate_available|money }}
                        </span>
                        {% render_field form.available_credit value=customer.calculate_available class="form-control"  %}
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group control-group {% if form.is_debit_order_client.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.is_debit_order_client.id_for_label }}">
                {{ form.is_debit_order_client.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.is_debit_order_client class="form-control" %}
                {% if form.is_debit_order_client.auto_id  != "id_tos" %}
                    {% if form.is_debit_order_client.errors %}
                        <span class="help-inline">{{ form.is_debit_order_client.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.delivery_term.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.delivery_term.id_for_label }}">
                {{ form.delivery_term.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.delivery_term class="form-control  chosen-select" %}
                {% if form.delivery_term.auto_id  != "id_tos" %}
                    {% if form.delivery_term.errors %}
                        <span class="help-inline">{{ form.delivery_term.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.delivery_method.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.delivery_method.id_for_label }}">
                {{ form.delivery_method.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.delivery_method class="form-control  chosen-select" %}
                {% if form.delivery_method.auto_id  != "id_tos" %}
                    {% if form.delivery_method.errors %}
                        <span class="help-inline">{{ form.delivery_method.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.document_layout.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.document_layout.id_for_label }}">
                {{ form.document_layout.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.document_layout class="form-control" %}
                {% if form.document_layout.auto_id  != "id_tos" %}
                    {% if form.document_layout.errors %}
                        <span class="help-inline">{{ form.document_layout.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.default_account.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.default_account.id_for_label }}">
                {{ form.default_account.label_tag }}
            </label>
            <div class="controls">
                {% render_field form.default_account class="form-control  chosen-select" %}
                {% if form.default_account.auto_id  != "id_tos" %}
                    {% if form.default_account.errors %}
                        <span class="help-inline">{{ form.default_account.errors }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </fieldset>