<table class="table align-right" style="float: left;">
    <tr>
        <td class="text-left">{{ customer }}</td>
    </tr>
    <tr>
        <td class="text-left">{{ customer.name }}</td>
    </tr>
    <tr>
        <td class="text-left">{{ customer.postal_address.address_line_1 }}</td>
    </tr>
    <tr>
        <td class="text-left">{{ customer.postal_address.city }}</td>
    </tr>
    <tr>
        <td class="text-left">{{ customer.postal_address.postal_code }}</td>
    </tr>
    <tr>
        <td class="text-left">{{ customer.postal_address.province_name }}</td>
    </tr>
    <tr>
        <td class="text-left">{{ customer.postal_address.country.name }}</td>
    </tr>
</table>