{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

    <fieldset class="well">
        <legend>Printing Setup</legend>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Documents</th>
                        <th>Print methods for our records</th>
                        <th>Copy to customer</th>
                        <th>Print Method for customer</th>

                    </tr>
                </thead>
                <tbody>
                    {% for document_type in document_types %}
                        <tr>
                            <td>{{ document_type }}</td>
                            <td>
                                <select id="record_print_{{ document_type.id }}" name="print_records_{{ document_type.id }}" class="form-control form-control-sm">
                                    <option {% if customer and customer.printing_setup.documents.our_records == 'print' %} selected="selected" {% endif %}
                                            value="print">Print</option>
                                    <option value="email"
                                            {% if customer and customer.printing_setup.documents.our_records == 'email' %} selected="selected" {% endif %}
                                    >Email</option>
                                    <option value="pdf"
                                            {% if customer and customer.printing_setup.documents.our_records == 'pdf' %} selected="selected" {% endif %}
                                    >PDF</option>
                                    <option value="no_print"
                                        {% if customer and customer.printing_setup.documents.our_records == 'no_print' %} selected="selected" {% endif %}
                                    >No Printing</option>
                                    <option value="df_email">Docuflow Email</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" id="copy_{{ document_type.id }}" name="copy_{{ document_type.id }}"
                                   {% if customer and customer.printing_setup.documents.our_records %}
                                       value="{{ customer.printing_setup.documents.copy }}"
                                   {% else %}
                                       value="0"
                                   {% endif %}
                                />
                            </td>
                            <td>
                                <select id="customer_print_{{ document_type.id }}" name="print_customers_{{ document_type.id }}" class="form-control form-control-sm">
                                    <option value="print"
                                        {% if customer and customer.printing_setup.documents.customer == 'print' %} selected="selected" {% endif %}
                                    >Print</option>
                                    <option value="email"
                                        {% if customer and customer.printing_setup.documents.customer == 'email' %} selected="selected" {% endif %}
                                    >Email</option>
                                    <option value="pdf"
                                        {% if customer and customer.printing_setup.documents.customer == 'pdf' %} selected="selected" {% endif %}
                                    >PDF</option>
                                    <option value="no_print"
                                        {% if customer and customer.printing_setup.documents.customer == 'no_print' %} selected="selected" {% endif %}
                                    >No Printing</option>
                                    <option value="df_email">Docuflow Email</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>
