{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

<fieldset class="well">
    <legend>Total Sold</legend>
    <div class="row">
        <div class="col-6">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Month</th>
                        <th class="text-right">Inc</th>
                        <th class="text-right">Vat</th>
                        <th class="text-right">Excl</th>
                    </tr>
                </thead>
                <tbody>
                    {% for period_history in customer.periods.all %}
                        <tr>
                            <td>{{ period_history.period }}</td>
                            <td>{{ period_history.period.name }}</td>
                            <td class="text-right">{{ period_history.net_amount }}</td>
                            <td class="text-right">{{ period_history.vat_amount }}</td>
                            <td class="text-right">{{ period_history.total_amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td class="text-right">{{ customer.total_net }}</td>
                        <td class="text-right">{{ customer.total_vat }}</td>
                        <td class="text-right">{{ customer.total }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-6">
            <canvas id="customer_history" class="chartjs" width="1540" height="770" style="display: block; height: 385px; width: 770px;"></canvas>
        </div>
    </div>
</fieldset>


<fieldset class="well">
    <legend>Statistics</legend>
    <div class="row">
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Turnover Ex VAT</th>
                    <th>Gross Profit</th>
                    <th>GP%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Actual This Year</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Actual Prior Year</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</fieldset>
