{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} Customer History {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-body align-center">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                  {% render_field form.customer %}
              </div>
          </div>
          <div class="col-sm-12" id="customer_detail"
               data-ajax-url="{% url 'view_customer_history' %}"
               data-ajax-history-url="{% url 'customer_history_data' %}">
          </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'vendor/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/customer.js' %}?{% now 'YHimds' %}"></script>
{% endblock %}