  <form method="post" novalidate="novalidate" role="form" id="approve_invoice_form" name="approve_invoice_form" action="{% url 'approve_invoice' invoice.id %}">
     <div class="modal-body">
        {% csrf_token %}

        <fieldset class="well">
            <div class="form-group">
                <label for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
                {{ form.amount|add_class:"form-control" }}
            </div>
        </fieldset>


        <fieldset class="well">
            <div class="form-group">
                <label for="{{ form.account.id_for_label }}">{{ form.account.label_tag }}</label>
                {{ form.account|add_class:"form-control" }}
            </div>
        </fieldset>

        <fieldset class="well">
            <div class="form-group">
                <label for="{{ form.comment.id_for_label }}">{{ form.comment.label_tag }}</label>
                {{ form.comment|add_class:"form-control" }}
            </div>
        </fieldset>
{#        {% if perms.invoice.add_invoiceaccount %}#}
            <div class="row" id="accounts_list" style="display: none;">
                <table class="table table-bordered" id="accounts_table" width="100%">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>% of amount</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

{#       {% endif %}#}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="approve_invoice_submit" type="submit" id="approve_invoice_submit"><i class="fa fa-save"></i> Approve</button>
    </div>
  </form>
