{% load static %}
{% load widget_tweaks %}
{% if invoice.get_current_state  %}
    {% if can_transition %}
        <div class="form-group pull-right">
           <button type="button" class="btn btn-danger btn-large" name="submit" id="decline" data-modal="{% url 'decline_invoice' invoice.id %}" data-toggle="tooltip"><i class="fa fa-close"></i> Decline </button>
           <button class="btn btn-success btn-large" name="submit" id="approve" data-modal="{% url 'approve_invoice' invoice.id %}" data-toggle="tooltip"><i class="fa fa-check"></i> Assign to account </button>
        </div>
    {% endif %}
{% else %}
    {% if perms.workflow.can_start_workflow %}
        <div class="form-group pull-right">
           <a href="{% url 'invoice-add-to-flow' invoice.id %}" data-toggle="tooltip" title="Add to flow" class="btn btn-large btn-info" data-original-title="Add to flow"><i class="fa fa-plus-square"></i> Add to flow</a>
        </div>
    {% endif %}
{% endif %}
