{% extends 'modal.html' %}
{% load static i18n %}
{% block title %} {% translate 'Approve Invoice Decline' %} {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="approve_invoice_decline_form" name="approve_invoice_decline_form" action="{% url 'approve_invoice_decline' invoice.id %}">
     <div class="modal-body">
         {% translate 'Do you approve this invoice or want to change the status back to active' %}
         <div id="text-reason" style="display: none;">
            {% include 'common/form.html' %}
         </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">{% translate 'Close' %}</button>
         <button class="btn btn-warning btn-large"
                 data-ajax-url="{% url 'change_invoice_decline_status' invoice.id %}"
                 data-loading-text="<i class='fa fa-spinner'></i> Processing"
                 name="change_invoice_status_submit" type="submit" id="change_invoice_status_submit"><i class="fa fa-chain-broken"></i> {% translate 'Change Status' %}</button>
        <button class="btn btn-primary btn-large" name="approve_invoice_submit" type="submit" id="approve_invoice_submit"><i class="fa fa-check"></i> {% translate 'Approve' %}</button>
    </div>
  </form>

{% endblock %}