{% extends 'modal.html' %}
{% load static %}
{% block title %} Select Accounting Date {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="update_accounting_date_form" name="update_accounting_date_form" action="{% url 'change_accounting_date' %}">
     <div class="modal-body">
         {% csrf_token %}
         <input type="hidden" id="accounting_date" name="accounting_date">
         <div id="accounting_date_datepicker"></div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" data-ajax-url="{% url 'change_accounting_date' %}" name="update_accounting_date" type="submit" id="update_accounting_date"><i class="fa fa-check"></i> Save</button>
    </div>
  </form>

{% endblock %}