{% extends 'base.html' %}
{% block page_title %} Delete Invoice {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group">
         <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Confirm delete of this invoice!</button>
    </div>

  </form>
{% endblock %}