{% extends 'fullpage.html' %}
{% load static %}
{% load compress %}
{% block page_title %}
    <span class="left">Create Document</span>
    <span class="right pull-right"></span>
{% endblock page_title %}

{% block content %}

  <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">Create New Document</h5>
          <div class="btn-group pull-right">
                <div class="form-group pull-right">
                    <a href="{% url 'invoice_log' %}" class="btn btn-default btn-sm">Prev. Level</a>
                    <button id="save_invoice" data-ajax-url="{% url 'create_invoice' %}" type="submit"
                            class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                    <button type="button" id="save_invoice_add_to_flow" class="btn btn-success btn-loading"
                            data-loading-text="<i class='fa fa-spinner'></i> Processing"
                           {% if invoice.supplier.is_blocked %} disabled="disabled" {% endif %}
                            data-ajax-url="{% url 'create_invoice' %}">
                        <i class="fa fa-caret-square-o-right"></i> Add to flow</button>
                    <a href="javascript:void(0);" id="add_image"
                       data-modal="{% url 'upload_invoice_image' %}"
                       data-ajax-url="{% url 'upload_invoice_image' %}"
                       class="btn btn-success btn-sm"> <i class="fa fa-upload"></i> Upload</a>
                </div>
          </div>
      </div>
      <div class="panel-body">
          <div class="col-lg-4 col-sm-12">
              <div class="panel panel-info">
                  <div class="panel-heading">Document</div>
                  <div class="panel-body" style="overflow:scroll; height:1300px;">
                      {% include 'invoice/form.html' %}
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-sm-12">
              <div class="panel panel-info" id="create_invoice_detail_container">
                  <div class="panel-heading">Document Image</div>
                  <div class="panel-body" style="overflow:scroll; height:1000px;">
                  <div id="invoice_pdf" data-pdf-url=""></div>
              </div>
              <div style="overflow:scroll; height:200px; padding: 10px !important;" id="create_account_postings"
                   data-ajax-url=""
                   data-invoice-id="">
              </div>
          </div>

      </div>
  </div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
    {% endcompress %}
{% endblock %}