{% extends 'modal.html' %}
{% load static i18n %}
{% block title %} {% translate 'Decline Invoice' %} {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="decline_invoice_form" name="decline_invoice_form" action="{% url 'decline_invoice' invoice.id %}">
      {% csrf_token %}
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate 'Close' %}</button>
        <button class="btn btn-primary btn-large" name="decline_invoice_submit"
                data-loading-text="<i class='fa fa-spinner'></i> {% translate 'Processing' %}"
                data-is-paid="{% if invoice.is_paid %}1{% else %}0{% endif %}"
                type="submit" id="decline_invoice_submit"><i class="fa fa-save"></i> {% translate 'Decline' %}</button>
    </div>
  </form>

{% endblock %}