{% extends 'modal.html' %}
{% load static %}
{% block title %} Error {% endblock title %}
{% block content %}

     <div class="modal-body">
         This invoice has been requested to be decline it, it can only be approved or declined.
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Ok</button>
    </div>

{% endblock %}