{% extends 'fullpage.html' %}
{% load static %}
{% load edit_form %}
{% load role_tags %}
{% load compress %}
{% block stylesheet %}
{% endblock %}

{% block content %}
    {% if invoice.is_purchase_order %}
        {% include "invoice/purchase_order.html" %}
    {% else %}
        {% include "invoice/show.html" %}
    {% endif %}
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/loadingoverlay.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/tipped/tipped.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
        {% if invoice.is_purchase_order %}
            <script type="text/javascript" src="{% static 'js/purchase_order.js' %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
        {% endif %}
        <script type="text/javascript">
            jQuery(function(){
                Tipped.create('.distribution', 'Distribution Details', {behavior: 'mouse', maxWidth: 200});
                $('.invoice-col').matchHeight();
            });
        </script>
    {% endcompress %}
{% endblock %}