{% if days < 0 %}
    <i class="fa fa-clock-o text-{% if level %} {{ level }} {% else %}danger{% endif %}" data-toggle="tooltip"
        data-original-title="Overdue by {{ due_days }} days"></i>
{% elif days < 7 %}
    <i class="fa fa-clock-o text-{% if level %} {{ level }} {% else %}warning{% endif %}" data-toggle="tooltip"
        data-original-title="Due in {{ due_days }} days"></i>
{% else %}
    <i class="fa fa-clock-o text-{% if level %} {{ level }} {% else %}success{% endif %}" data-toggle="tooltip"
        data-original-title="Due in {{ due_days }} days"></i>
{% endif %}