{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load common_tags %}
<form method="post" novalidate="novalidate" id="edit_invoice" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %} " >
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_supplier' in permissions and can_edit %}
                {% render_field form.supplier class="form-control chosen-select" value=invoice.supplier %}
            {% else  %}
                {% render_field form.supplier class="form-control chosen-select" value=invoice.supplier readonly='readonly' %}
            {% endif %}
            {% if form.supplier.auto_id  != "id_tos" %}
                {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_name.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_name.id_for_label }}">{{ form.supplier_name.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_supplier_name' in permissions and can_edit %}
                {% render_field form.supplier_name class="form-control" value=invoice.supplier_name %}
            {% else %}
                {% render_field form.supplier_name class="form-control" value=invoice.supplier_number readonly='readonly' %}
            {% endif %}
            {% if form.supplier_name.auto_id  != "id_tos" %}
                {% if form.supplier_name.errors %}<span class="help-inline">{{ form.supplier_name.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_number.id_for_label }}">{{ form.supplier_number.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_supplier_number' in permissions and can_edit %}
                {% render_field form.supplier_number class="form-control" value=invoice.supplier_number %}
            {% else %}
                {% render_field form.supplier_number class="form-control" value=invoice.supplier_number readonly='readonly'%}
            {% endif %}
            {% if form.supplier_number.auto_id  != "id_tos" %}
                {% if form.supplier_number.errors %}<span class="help-inline">{{ form.supplier_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
        <div class="form-group control-group {% if form.vat_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_vat_number' in permissions and can_edit %}
                {% render_field form.vat_number class="form-control" value=invoice.vat_number %}
            {% else %}
                {% render_field form.vat_number class="form-control" value=invoice.vat_number readonly='readonly' %}
            {% endif %}
            {% if form.vat_number.auto_id  != "id_tos" %}
                {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_account_ref.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_account_ref.id_for_label }}">{{ form.supplier_account_ref.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_supplier_account_reference' in permissions %}
                {{ form.supplier_account_ref|add_class:"form-control"  }}
            {% else  %}
                {{ form.supplier_account_ref|add_class:"form-control"  }}
            {% endif %}
            {% if form.supplier_account_ref.auto_id  != "id_tos" %}
                {% if form.supplier_account_ref.errors %}<span class="help-inline">{{ form.supplier_account_ref.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.invoice_type.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_type.id_for_label }}">{{ form.invoice_type.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_document_type' in permissions %}
                {% render_field form.invoice_type class="form-control adjustable" value=invoice.invoice_type %}
            {% else %}
                {% render_field form.invoice_type class="form-control adjustable" value=invoice.invoice_type readonly='readonly'%}
            {% endif %}
            <input type="hidden" value="{{ invoice.invoice_type.id }}" id="id_invoice_type_val">
            {% if form.invoice_type.auto_id  != "id_tos" %}
                {% if form.invoice_type.errors %}<span class="help-inline">{{ form.invoice_type.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    {% if 'can_manage_invoice_linking_to_purchase_order' in permissions and has_purchase_orders %}
        <div class="form-group control-group">
            <label class="col-sm-4 control-label txt-font12" for="link_purchase_order">Link Purchase Order</label>
            <div class="col-sm-8">
                <a href="javascript:void(0);"
                   data-ajax-url="{% url 'link_to_purchase_order' invoice.id %}"
                   class="invoice-linked"
                   id="link_invoice_to_purchase_order"><i class="fa fa-eye"></i></a>
            </div>
        </div>
   {% endif %}
    {% if 'can_manage_invoice_link_receipt' in permissions and has_receipts %}
        <div class="form-group control-group">
            <label class="col-sm-4 control-label txt-font12" for="link_receipt">Link Receipts</label>
            <div class="col-sm-8">
                <a href="javascript:void(0);"
                   data-ajax-url=""
                   id="link_invoice_to_reciept"><i class="fa fa-eye"></i></a>
            </div>
        </div>
   {% endif %}
    <div class="form-group control-group {% if form.invoice_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_number.id_for_label }}">{{ form.invoice_number.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_document_number' in permissions and can_edit %}
                {% render_field form.invoice_number class="form-control" value=invoice.invoice_number %}
            {% else %}
                {% render_field form.invoice_number class="form-control" value=invoice.invoice_number readonly='readonly' %}
            {% endif %}
            {% if form.invoice_number.auto_id  != "id_tos" %}
                {% if form.invoice_number.errors %}<span class="help-inline">{{ form.invoice_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.reference1.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reference1.id_for_label }}">{{ form.reference1.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_reference_number' in permissions %}
                {% render_field form.reference1 class="form-control" value=invoice.reference1 %}
            {% else  %}
                {% render_field form.reference1 class="form-control" value=invoice.reference1 readonly="readonly" %}
            {% endif %}
            {% if form.reference1.auto_id  != "id_tos" %}
                {% if form.reference1.errors %}<span class="help-inline">{{ form.reference1.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reference2.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reference2.id_for_label }}">{{ form.reference2.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_reference_number' in permissions %}
                {% render_field form.reference2 class="form-control" value=invoice.reference2 %}
            {% else  %}
                {% render_field form.reference2 class="form-control" value=invoice.reference2 readonly="readonly" %}
            {% endif %}
            {% if form.reference2.auto_id  != "id_tos" %}
                {% if form.reference2.errors %}<span class="help-inline">{{ form.reference2.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_period' in permissions %}
                {% render_field form.period class="form-control" %}
            {% else  %}
                {% render_field form.period class="form-control" readonly="readonly" %}
            {% endif %}
            {% if form.period.auto_id  != "id_tos" %}
                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.accounting_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.accounting_date.id_for_label }}">{{ form.accounting_date.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_accounting_date' in permissions and can_edit %}
                {% render_field form.accounting_date class="form-control datepicker" value=invoice.accounting_date %}
            {% else %}
                {% render_field form.accounting_date class="form-control datepicker" value=invoice.accounting_date %}
            {% endif %}
            {% if form.accounting_date.auto_id  != "id_tos" %}
                {% if form.accounting_date.errors %}<span class="help-inline">{{ form.accounting_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">{{ form.invoice_date.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_document_date' in permissions and can_edit %}
                {% render_field form.invoice_date class="form-control datepicker" value=invoice.invoice_date %}
            {% else %}
                {% render_field form.invoice_date class="form-control datepicker" value=invoice.invoice_date readonly='readonly' %}
            {% endif %}
            {% if form.invoice_date.auto_id  != "id_tos" %}
                {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.due_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_due_date' in permissions %}
                {% if invoice.due_date %}
                    {% render_field form.due_date class="form-control datepicker" value=invoice.due_date %}
                {% else %}
                    {% render_field form.due_date class="form-control datepicker" %}
                {% endif %}
            {% else  %}
                {% if invoice.due_date %}
                    {% render_field form.due_date class="form-control" value=invoice.due_date %}
                {% else %}
                    {% render_field form.due_date class="form-control" readonly="readonly" %}
                {% endif %}
            {% endif %}
            {% if form.due_date.auto_id  != "id_tos" %}
                {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>


    <div class="form-group control-group {% if form.total_amount.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.total_amount.id_for_label }}">{{ form.total_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_total_amount' in permissions and can_edit %}
                {% render_field form.total_amount class="form-control adjustable money " value=invoice.total_amount %}
            {% else %}
                {% render_field form.total_amount class="form-control adjustable money" value=invoice.total_amount readonly='readonly' %}
            {% endif %}
            <input type="hidden" value="{{ invoice.total_amount }}" id="id_total_amount_val" />
            {% if form.total_amount.auto_id  != "id_tos" %}
                {% if form.total_amount.errors %}<span class="help-inline">{{ form.total_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_amount.errors %}error{% endif %}" style="{% if not invoice.company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_amount.id_for_label }}">{{ form.vat_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_vat_amount' in permissions and can_edit %}
                {% if is_vat_registered %}
                    {% render_field form.vat_amount class="form-control adjustable money" value=invoice.vat_amount %}
                {% else %}
                    {% render_field form.vat_amount class="form-control adjustable money" value=invoice.vat_amount %}
                {% endif %}
            {% else %}
                {% render_field form.vat_amount class="form-control" value=invoice.vat_amount readonly='readonly' %}
            {% endif %}
            <input type="hidden" value="{{ invoice.vat_amount }}" id="id_vat_amount_val" />
            {% if form.vat_amount.auto_id  != "id_tos" %}
                {% if form.vat_amount.errors %}<span class="help-inline">{{ form.vat_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
        <div class="form-group control-group {% if form.vat_code.errors %}error{% endif %}">
            <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_code.id_for_label }}">{{ form.vat_code.label_tag }}</label>
            <div class="col-sm-8">
                {% if 'invoice_fields_vat_code_yes' in permissions %}
                    {% render_field form.vat_code class="form-control" value=invoice.vat_code %}
                {% else  %}
                    {% render_field form.vat_code class="form-control chosen-select" value=invoice.vat_code %}
                {% endif %}
                {% if form.vat_code.auto_id  != "id_tos" %}
                    {% if form.vat_code.errors %}<span class="help-inline">{{ form.vat_code.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    <div class="form-group control-group {% if form.net_amount.errors %}error{% endif %}" style="{% if not invoice.company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.net_amount.id_for_label }}">{{ form.net_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_vat_type' in permissions and can_edit %}
                {% render_field form.net_amount class="form-control adjustable money" value=invoice.net_amount %}
            {% else %}
                {% render_field form.net_amount class="form-control adjustable money" value=invoice.net_amount readonly='readonly' %}
            {% endif %}
            <input type="hidden" value="{{ invoice.net_amount }}" id="id_net_amount_val" />
            {% if form.net_amount.auto_id  != "id_tos" %}
                {% if form.net_amount.errors %}<span class="help-inline">{{ form.net_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    {% render_field form.sales_invoice %}

    {% if vat_method == 'calculate' %}
{#          <div class="alert alert-warning">#}
{#            <strong>This Supplier is set to calculate the VAT from the TOTAL invoice value.#}
{#                This invoice is more than R5000 so SARS requires the VAT to show separate, please either change the Supplier Settings to "Find VAT on Invoice" OR just check that VAT is showing as a seperate line on the invoice before sending the invoice to Flow</strong>#}
{#          </div>#}
    {% endif %}


</form>