{% load static i18n %}
{% load widget_tweaks %}
<form method="post" novalidate="novalidate" id="logger_edit_invoice" class="form-horizontal"
      action="{% url 'invoice_queue_detail' invoice.id %}">
    {% csrf_token %}
    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %} {% if invoice.supplier.is_blocked %} warning text-warning {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
        <div class="col-sm-6">
            {% if 'can_manage_invoice_supplier' in permissions %}
                {{ form.supplier|add_class:"form-control chosen-select" }}
            {% else  %}
                {% render_field form.supplier class="form-control chosen-select" value=invoice.supplier readonly="readonly" %}
            {% endif %}
            {% if form.supplier.auto_id  != "id_tos" %}
                {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
            {% endif %}
            <span id="supplier_detail_url" data-ajax-url="{% url 'supplier_detail' %}"></span>
        </div>
         <div class="pull-right">
            <a href="javascript:void(0);"  data-modal="{% url 'add_supplier' %}"><i class="fa fa-plus-circle"></i></a>
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_name.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_name.id_for_label }}">{{ form.supplier_name.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_supplier_name' in permissions %}
                {% render_field form.supplier_name class="form-control" value=invoice.supplier_number %}
            {% else  %}
                {% render_field form.supplier_name class="form-control" value=invoice.supplier_number readonly="readonly" %}
            {% endif %}
            {% if form.supplier_name.auto_id  != "id_tos" %}
                {% if form.supplier_name.errors %}<span class="help-inline">{{ form.supplier_name.errors }}</span>{% endif %}
            {% endif %}

        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_number.id_for_label }}">{{ form.supplier_number.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_supplier_number' in permissions %}
                {% render_field form.supplier_number class="form-control" value=invoice.supplier_number %}
            {% else  %}
                {% render_field form.supplier_number class="form-control" value=invoice.supplier_number readonly="readonly" %}
            {% endif %}
            {% if form.supplier_number.auto_id  != "id_tos" %}
                {% if form.supplier_number.errors %}<span class="help-inline">{{ form.supplier_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_vat_number' in permissions %}
                {% render_field form.vat_number class="form-control" value=invoice.vat_number %}
            {% else %}
                {% render_field form.vat_number class="form-control" value=invoice.vat_number readonly='readonly' %}
            {% endif %}
            {% if form.vat_number.auto_id  != "id_tos" %}
                {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_account_ref.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_account_ref.id_for_label }}">{{ form.supplier_account_ref.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_supplier_number' in permissions %}
                {{ form.supplier_account_ref|add_class:"form-control"  }}
            {% else  %}
                {{ form.supplier_account_ref|add_class:"form-control"  }}
            {% endif %}
            {% if form.supplier_account_ref.auto_id  != "id_tos" %}
                {% if form.supplier_account_ref.errors %}<span class="help-inline">{{ form.supplier_account_ref.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.invoice_type.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_type.id_for_label }}">{{ form.invoice_type.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_document_type' in permissions %}
                {% render_field form.invoice_type class="form-control" value=invoice.invoice_type %}
            {% else  %}
                {% render_field form.invoice_type class="form-control" value=invoice.invoice_type readonly="readonly" %}
            {% endif %}
            {% if form.invoice_type.auto_id  != "id_tos" %}
                {% if form.invoice_type.errors %}<span class="help-inline">{{ form.invoice_type.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    {% if 'can_manage_invoice_linking_to_purchase_order' in permissions %}
        <div class="form-group control-group">
            <label class="col-sm-4 control-label txt-font12" for="link_purchase_order">Link Purchase Order</label>
            <div class="col-sm-8">
                <a hre="javascript:void(0);"
                   data-ajax-url="{% url 'link_to_purchase_order' invoice.id %}"
                   id="link_invoice_to_purchase_order"><i class="fa fa-eye"></i></a>
            </div>
        </div>
    {% endif %}

    <div class="form-group control-group {% if form.invoice_number.errors %}error{% endif %} {% if invoice.is_duplicate_invoice_number %} error text-danger {% endif %} ">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_number.id_for_label }}">{{ form.invoice_number.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_document_number' in permissions %}
                {% render_field form.invoice_number class="form-control" value=invoice.invoice_number %}
            {% else  %}
                {% render_field form.invoice_number class="form-control" value=invoice.invoice_number readonly="readonly" %}
            {% endif %}
            {% if form.invoice_number.auto_id  != "id_tos" %}
                {% if form.invoice_number.errors %}<span class="help-inline">{{ form.invoice_number.errors }}</span>{% endif %}
            {% endif %}
            {% if invoice.is_duplicate_invoice_number %}<span class="help-inline text-danger">Duplicate invoice number</span>{% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reference1.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reference1.id_for_label }}">{{ form.reference1.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_reference_number' in permissions %}
                {% render_field form.reference1 class="form-control" value=invoice.reference1 %}
            {% else  %}
                {% render_field form.reference1 class="form-control" value=invoice.reference1 readonly="readonly" %}
            {% endif %}
            {% if form.reference1.auto_id  != "id_tos" %}
                {% if form.reference1.errors %}<span class="help-inline">{{ form.reference1.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reference2.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reference2.id_for_label }}">{{ form.reference2.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_reference_number' in permissions %}
                {% render_field form.reference2 class="form-control" value=invoice.reference2 %}
            {% else  %}
                {% render_field form.reference2 class="form-control" value=invoice.reference2 readonly="readonly" %}
            {% endif %}
            {% if form.reference2.auto_id  != "id_tos" %}
                {% if form.reference2.errors %}<span class="help-inline">{{ form.reference2.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.workflow.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.workflow.id_for_label }}">
        {{ form.workflow.label_tag }}</label>
        {% if 'can_manage_invoice_flow_proposal' in permissions %}
            <div class="col-sm-6">
                {% if 'can_manage_invoice_flow_proposal' in permissions %}
                    {% render_field form.workflow class="form-control chosen-select" value=invoice.workflow.id %}
                {% else  %}
                    {% render_field form.workflow class="form-control chosen-select" value=invoice.workflow.id readyonly="readonly" %}
                {% endif %}
                {% if form.workflow.auto_id  != "id_tos" %}
                    {% if form.workflow.errors %}<span class="help-inline">{{ form.workflow.errors }}</span>{% endif %}
                {% endif %}
            </div>
            <div class="col-sm-1 text-right" id="proposal_link" style="{% if not default_workflow %} display: none {% endif %}">
                {% if default_workflow %}
                   <a href="javascript:void(0);"
                      data-invoice-id="{{ invoice.id }}"
                      data-ajax-url="{% url 'show_workflow' %}?workflow_id={{ default_workflow.id }}&invoice_id={{ invoice.id }}"
                      id="view_flow_proposal"><i class="fa fa-eye"></i></a>
                {% else %}
                    <a href="javascript:void(0);" data-ajax-url="" id="view_flow_proposal"><i class="fa fa-eye"></i></a>
                {% endif %}
            </div>
            <div class="col-sm-1 text-right">
               <a href="{% url 'create_workflow' %}?redirect={% url 'invoice_queue_detail' invoice.id %} " id="create_flow_proposal"><i class="fa fa-plus"></i></a>
            </div>
        {% else %}
            <div class="col-sm-7">
                {% if 'can_manage_invoice_flow_proposal' in permissions %}
                    {% render_field form.workflow class="form-control chosen-select" value=invoice.workflow.id %}
                {% else  %}
                    {% render_field form.workflow class="form-control chosen-select" value=invoice.workflow.id readyonly="readonly" %}
                {% endif %}
                {% if form.workflow.auto_id  != "id_tos" %}
                    {% if form.workflow.errors %}<span class="help-inline">{{ form.workflow.errors }}</span>{% endif %}
                {% endif %}
            </div>
            <div class="col-sm-1 text-right">
               <a href="{% url 'create_workflow' %}?redirect={% url 'invoice_queue_detail' invoice.id %} " id="create_flow_proposal"><i class="fa fa-plus"></i></a>
            </div>
        {% endif %}
    </div>

    <div class="form-group control-group {% if form.account_posting_proposal.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.account_posting_proposal.id_for_label }}">{{ form.account_posting_proposal.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_account_posting_proposal' in permissions %}
                {% render_field form.account_posting_proposal class="form-control chosen-select" value=invoice.account_posting_proposal.id %}
            {% else  %}
                {% render_field form.account_posting_proposal class="form-control chosen-select" value=invoice.account_posting_proposal.id readyonly="readonly" %}
            {% endif %}
            {% if form.account_posting_proposal.auto_id  != "id_tos" %}
                {% if form.account_posting_proposal.errors %}<span class="help-inline">{{ form.account_posting_proposal.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_accounting_date' in permissions %}
                {% render_field form.period class="form-control" %}
            {% else  %}
                {% render_field form.period class="form-control" %}
            {% endif %}
            {% if form.period.auto_id  != "id_tos" %}
                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.accounting_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.accounting_date.id_for_label }}">{{ form.accounting_date.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_accounting_date' in permissions %}
                {% if invoice.accounting_date %}
                    {% render_field form.accounting_date class="form-control datepicker" value=invoice.accounting_date %}
                {% else %}
                    {% render_field form.accounting_date class="form-control datepicker" %}
                {% endif %}
            {% else  %}
                {% if invoice.accounting_date %}
                    {% render_field form.accounting_date class="form-control" value=invoice.accounting_date %}
                {% else %}
                    {% render_field form.accounting_date class="form-control" %}
                {% endif %}
            {% endif %}
            {% if form.accounting_date.auto_id  != "id_tos" %}
                {% if form.accounting_date.errors %}<span class="help-inline">{{ form.accounting_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">{{ form.invoice_date.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_document_date' in permissions %}
                {% if invoice.invoice_date %}
                    {% render_field form.invoice_date class="form-control datepicker" value=invoice.invoice_date  %}
                {% else %}
                    {% render_field form.invoice_date class="form-control datepicker"  %}
                {% endif %}
            {% else  %}
                {% if invoice.invoice_date %}
                    {% render_field form.invoice_date class="form-control" value=invoice.invoice_date %}
                {% else %}
                    {% render_field form.invoice_date class="form-control" %}
                {% endif %}
            {% endif %}
            {% if form.invoice_date.auto_id  != "id_tos" %}
                {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.due_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_due_date' in permissions %}
                {% if invoice.due_date %}
                    {% render_field form.due_date class="form-control datepicker" value=invoice.due_date %}
                {% else %}
                    {% render_field form.due_date class="form-control datepicker" %}
                {% endif %}
            {% else  %}
                {% if invoice.due_date %}
                    {% render_field form.due_date class="form-control" value=invoice.due_date  %}
                {% else %}
                    {% render_field form.due_date class="form-control"  %}
                {% endif %}
            {% endif %}
            {% if form.due_date.auto_id  != "id_tos" %}
                {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.total_amount.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.total_amount.id_for_label }}">{{ form.total_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_total_amount' in permissions %}
                {% render_field form.total_amount class="form-control math-operation money invoice-net-calculator" value=invoice.total_amount %}
            {% else  %}
                {% render_field form.total_amount class="form-control invoice-net-calculator" value=invoice.total_amount readonly="readonly" %}
            {% endif %}
            {% if form.total_amount.auto_id  != "id_tos" %}
                {% if form.total_amount.errors %}<span class="help-inline">{{ form.total_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_amount.errors %}error{% endif %}" style="{% if not invoice.company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_amount.id_for_label }}">{{ form.vat_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_vat_amount' in permissions %}
                {% if is_vat_registered %}
                    {% render_field form.vat_amount class="form-control math-operation invoice-net-calculator" value=invoice.vat_amount %}
                {% else %}
                    {% render_field form.vat_amount class="form-control math-operation money invoice-net-calculator" value=invoice.vat_amount %}
                {% endif %}
            {% else  %}
                {% if is_vat_registered %}
                    {% render_field form.vat_amount class="form-control math-operation invoice-net-calculator" value=invoice.vat_amount  readonly="readonly" %}
                {% else %}
                    {% render_field form.vat_amount class="form-control math-operation money invoice-net-calculator" value=invoice.vat_amount readonly="readonly" %}
                {% endif %}
            {% endif %}
            {% if form.vat_amount.auto_id  != "id_tos" %}
                {% if form.vat_amount.errors %}<span class="help-inline">{{ form.vat_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_code.errors %}error{% endif %}"  style="{% if not invoice.company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_code.id_for_label }}">{{ form.vat_code.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_vat_type' in permissions %}
                {% render_field form.vat_code class="form-control"  %}
            {% else  %}
                {% render_field form.vat_code class="form-control chosen-select" readonly="readonly" %}
            {% endif %}
            {% if form.vat_code.auto_id  != "id_tos" %}
                {% if form.vat_code.errors %}<span class="help-inline">{{ form.vat_code.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.net_amount.errors %}error{% endif %}" style="{% if not invoice.company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.net_amount.id_for_label }}">{{ form.net_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_net_amount' in permissions %}
                {% render_field form.net_amount class="form-control math-operation money" value=invoice.net_amount %}
            {% else  %}
                {% render_field form.net_amount class="form-control" value=invoice.net_amount readonly="readonly" %}
            {% endif %}
            {% if form.net_amount.auto_id  != "id_tos" %}
                {% if form.net_amount.errors %}<span class="help-inline">{{ form.net_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    {% if vat_method == 'calculate' and invoice.net_amount > 5000 %}
          <div class="alert alert-warning">
            <strong>This Supplier is set to calculate the VAT from the TOTAL invoice value. This invoice is more than R5000 so SARS requires the VAT to show seperate, please either change the Supplier Settings to "Find VAT on Invoice" OR just check that VAT is showing as a seperate line on the invoice before sending the invoice to Flow</strong>
          </div>
    {% endif %}

    <div class="form-group control-group {% if form.is_protected.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.is_protected.id_for_label }}">{{ form.is_protected.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.is_protected class="form-control checkbox-input" value=1 %}
            {% if form.is_protected.auto_id  != "id_tos" %}
                {% if form.is_protected.errors %}<span class="help-inline">{{ form.is_protected.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.comments.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.comments.id_for_label }}">{{ form.comments.label_tag }}</label>
        <div class="col-sm-8">
            {% if 'can_manage_invoice_comment' in permissions %}
                {% render_field form.comments class="form-control" value=invoice.comments %}
            {% else  %}
                {% render_field form.comments class="form-control" value=invoice.comments readonly="readonly" %}
            {% endif %}
            {% if form.comments.auto_id  != "id_tos" %}
                {% if form.comments.errors %}<span class="help-inline">{{ form.comments.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.attachment.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.attachment.id_for_label }}">{{ form.attachment.label_tag }}</label>
        <div class="col-sm-8">
             {% if 'can_manage_invoice_attachment' in permissions %}
                 {{ form.attachment|add_class:"form-control"  }}
            {% else  %}
                {% render_field form.attachment class="form-control" value=invoice.comments disabled="disabled" %}
            {% endif %}
            {% if form.attachment.auto_id  != "id_tos" %}
                {% if form.attachment.errors %}<span class="help-inline">{{ form.attachment.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <span id="vat_codes" data-vat-codes-url="{% url 'module_vat_codes_list' type='input'  %}"></span>
    <span id="validate_document_number" data-validate-document-number-url="{% url 'validate_document_number'  %}"></span>
</form>
