{% extends 'base.html' %}
{% load static %}
{% block page_title %} Update Invoice {% endblock page_title %}
{% block content %}
  {% if invoice.is_valid %}
      <span class="label label-success">Invoice is Valid</span>
  {% else %}
     <span class="label label-error">Invoice is not yet valid</span>
  {% endif %}
  <div class="row">
      <div class="col-lg-6 col-sm-12">
          <form method="post" novalidate="novalidate">
            {% csrf_token %}
            {% include 'common/form.html' %}
            <div class="form-group">
               <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-edit"></i> Update</button>
            </div>
          </form>
      </div>
      <div class="col-lg-6 col-sm-12">
        {% if invoice.document and invoice.document.image_filename  %}
             <a class="fancybox-thumb thumbnail" rel="fancybox-thumb"href="{% static 'images/documents/'|add:invoice.document.image_filename %}">
                <img src="{% static 'images/documents/'|add:invoice.document.image_filename %}" height="580" class="img-responsive"  />
            </a>
        {% else %}
            --
        {% endif %}
      </div>
  </div>
{% endblock %}