{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Email Supplier {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="email_supplier_form" name="email_supplier_form" action="{% url 'email_supplier_modal' invoice.id %}">
     <div class="modal-body">

            {% csrf_token %}
            <div class="col-12" >
                <label for="to-address">To</label>
                {{ form.to|add_class:"form-control" }}
                {{ form.to.errors }}
                <p class="help-block"><em>email separated by comma</em></p>
            </div>
            <div class="col-12">
                <label for="{{ form.subject.id_for_label }}">{{ form.subject.label_tag }}</label>
                {{ form.subject|add_class:"form-control" }}
                {{ form.subject.errors }}
            </div>
            <div class="col-12">
                <label for="{{ form.message.id_for_label }}">{{ form.message.label_tag }}</label>
                {{ form.message |add_class:"form-control" }}
            </div>

     </div>
     <div class="modal-footer">
         <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
         <button type="button" class="btn btn-success btn-large" name="send_email_submit" id="send_email_submit"><i class="fa fa-save"></i> Send</button>
    </div>
</form>
{% endblock %}