{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<form method="post" novalidate="novalidate" id="create_invoice" class="form-horizontal" action="{% url 'create_invoice' %}">
    {% csrf_token %}
    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
        <div class="col-sm-8">
            <div class="pull-left">
                {% render_field form.supplier class="form-control chosen-select"  %}
                {% if form.supplier.auto_id  != "id_tos" %}
                    {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                {% endif %}
                <span id="supplier_detail_url" data-ajax-url="{% url 'supplier_detail' %}"></span>
            </div>
            <div class="pull-right">
                <a href="javascript:void(0);"  data-modal="{% url 'add_supplier' %}"><i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_name.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_name.id_for_label }}">{{ form.supplier_name.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.supplier_name class="form-control" %}
            {% if form.supplier_name.auto_id  != "id_tos" %}
                {% if form.supplier_name.errors %}<span class="help-inline">{{ form.supplier_name.errors }}</span>{% endif %}
            {% endif %}

        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_number.id_for_label }}">{{ form.supplier_number.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.supplier_number class="form-control" %}
            {% if form.supplier_number.auto_id  != "id_tos" %}
                {% if form.supplier_number.errors %}<span class="help-inline">{{ form.supplier_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.is_protected.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.is_protected.id_for_label }}">{{ form.is_protected.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.is_protected class="form-control checkbox-input" value=1 %}
            {% if form.is_protected.auto_id  != "id_tos" %}
                {% if form.is_protected.errors %}<span class="help-inline">{{ form.is_protected.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.vat_number class="form-control" %}
            {% if form.vat_number.auto_id  != "id_tos" %}
                {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_account_ref.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_account_ref.id_for_label }}">{{ form.supplier_account_ref.label_tag }}</label>
        <div class="col-sm-8">
            {{ form.supplier_account_ref|add_class:"form-control"  }}
            {% if form.supplier_account_ref.auto_id  != "id_tos" %}
                {% if form.supplier_account_ref.errors %}<span class="help-inline">{{ form.supplier_account_ref.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.invoice_type.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_type.id_for_label }}">{{ form.invoice_type.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.invoice_type class="form-control" %}
            {% if form.invoice_type.auto_id  != "id_tos" %}
                {% if form.invoice_type.errors %}<span class="help-inline">{{ form.invoice_type.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.invoice_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_number.id_for_label }}">{{ form.invoice_number.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.invoice_number class="form-control" %}
            {% if form.invoice_number.auto_id  != "id_tos" %}
                {% if form.invoice_number.errors %}<span class="help-inline">{{ form.invoice_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reference1.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reference1.id_for_label }}">{{ form.reference1.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.reference1 class="form-control" %}
            {% if form.reference1.auto_id  != "id_tos" %}
                {% if form.reference1.errors %}<span class="help-inline">{{ form.reference1.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reference2.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reference2.id_for_label }}">{{ form.reference2.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.reference2 class="form-control" %}
            {% if form.reference2.auto_id  != "id_tos" %}
                {% if form.reference2.errors %}<span class="help-inline">{{ form.reference2.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.flow_proposal.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.flow_proposal.id_for_label }}">
        {{ form.flow_proposal.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.flow_proposal class="form-control chosen-select" %}
            {% if form.flow_proposal.auto_id  != "id_tos" %}
                {% if form.flow_proposal.errors %}<span class="help-inline">{{ form.flow_proposal.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.account_posting_proposal.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.account_posting_proposal.id_for_label }}">{{ form.account_posting_proposal.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.account_posting_proposal class="form-control chosen-select" %}
            {% if form.account_posting_proposal.auto_id  != "id_tos" %}
                {% if form.account_posting_proposal.errors %}<span class="help-inline">{{ form.account_posting_proposal.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.period class="form-control" %}
            {% if form.period.auto_id  != "id_tos" %}
                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.accounting_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.accounting_date.id_for_label }}">{{ form.accounting_date.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.accounting_date class="form-control datepicker" %}
            {% if form.accounting_date.auto_id  != "id_tos" %}
                {% if form.accounting_date.errors %}<span class="help-inline">{{ form.accounting_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">{{ form.invoice_date.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.invoice_date class="form-control datepicker" %}
            {% if form.invoice_date.auto_id  != "id_tos" %}
                {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.due_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.due_date class="form-control datepicker" %}
            {% if form.due_date.auto_id  != "id_tos" %}
                {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.total_amount.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.total_amount.id_for_label }}">{{ form.total_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.total_amount class="form-control invoice-net-calculator" %}
            {% if form.total_amount.auto_id  != "id_tos" %}
                {% if form.total_amount.errors %}<span class="help-inline">{{ form.total_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_amount.errors %}error{% endif %}" style="{% if not company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_amount.id_for_label }}">{{ form.vat_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.vat_amount class="form-control math-operation money invoice-net-calculator" %}
            {% if form.vat_amount.auto_id  != "id_tos" %}
                {% if form.vat_amount.errors %}<span class="help-inline">{{ form.vat_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_code.errors %}error{% endif %}" style="{% if not company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_code.id_for_label }}">{{ form.vat_code.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.vat_code class="form-control chosen-select" %}
            {% if form.vat_code.auto_id  != "id_tos" %}
                {% if form.vat_code.errors %}<span class="help-inline">{{ form.vat_code.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.net_amount.errors %}error{% endif %}" style="{% if not company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.net_amount.id_for_label }}">{{ form.net_amount.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.net_amount class="form-control" %}
            {% if form.net_amount.auto_id  != "id_tos" %}
                {% if form.net_amount.errors %}<span class="help-inline">{{ form.net_amount.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>


    <div class="form-group control-group {% if form.comments.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.comments.id_for_label }}">{{ form.comments.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.comments class="form-control" %}
            {% if form.comments.auto_id  != "id_tos" %}
                {% if form.comments.errors %}<span class="help-inline">{{ form.comments.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

{#    <div class="form-group control-group {% if form.image.errors %}error{% endif %}">#}
{#        <label class="col-sm-4 control-label txt-font12" for="{{ form.image.id_for_label }}">{{ form.image.label_tag }}</label>#}
{#        <div class="col-sm-8">#}
{#            {% render_field form.image class="form-control" %}#}
{#            {% if form.image.auto_id  != "id_tos" %}#}
{#                {% if form.image.errors %}<span class="help-inline">{{ form.image.errors }}</span>{% endif %}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
    <input type="hidden" name="invoice_image" id="invoice_image" value="" />

    <div class="form-group control-group {% if form.attachment.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.attachment.id_for_label }}">{{ form.attachment.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.attachment class="form-control" %}
            {% if form.attachment.auto_id  != "id_tos" %}
                {% if form.attachment.errors %}<span class="help-inline">{{ form.attachment.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <span id="validate_document_number" data-validate-document-number-url="{% url 'validate_document_number'  %}"></span>
</form>
