<div class="panel-heading">
  <span class="pull-left">
      {% if invoice.is_purchase_order %} Purchase Order {% else %} Document {% endif %}  Image
      {% if invoice.is_protected %}
        <span class="ml-5 text-danger">
            |  Protected
            {% if can_view_doc %}
                <input type="checkbox" id="mark_as_protected" value="1" class="form-control checkbox-input"
                       {% if invoice.is_protected %}checked="checked"{% endif %}
                       data-ajax-url="{% url 'mark_invoice_as_protected' invoice.pk %}" />
            {% endif %}
        </span>
    {% endif %}
  </span>

    {% if intervention_is_required %}
        <span class="pull-right intervention">
            <a href="javascript:void(0);" class="label label-info" data-toggle="tooltip" title=""
               data-original-title="{{ intervention_comment }}" style="margin-right: 5px;" >
                Intervention
            </a>
        </span>
    {% endif %}

    {% if invoice.status %}
        {% if invoice.is_paid %}
           <span class="pull-right label label-success" style="margin-left: 5px;">Payment Processed</span>
        {% elif invoice.is_partially_paid %}
           <span class="pull-right label label-warning" style="margin-left: 5px;">Partially Paid</span>
        {% endif %}

        {% if invoice.status.slug == 'decline-request-from-user' %}
            <span style="margin-right: 5px;" class="pull-right label label-warning">DECLINE REQUEST</span>
        {% else %}
            <span style="margin-right: 5px;" class="pull-right label label-success"> {{ invoice.status }}</span>
        {% endif %}
    {% endif %}
</div>
<div class="panel-body" style="overflow:scroll; height:500px;">
    {% block invoice_detail %}
        {% if can_view_doc %}
            {% if invoice.has_file %}
                <div id="invoice_pdf" data-pdf-url="{{ MEDIA_URL }}{{ invoice.file_location }}"></div>
            {% endif %}
        {% else %}
            <div id="invoice_pdf_protected" class="text-danger">Protected</div>
        {% endif %}
    {% endblock %}
</div>