{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block page_title %} DOCUMENTS - {{ year }} {% endblock page_title %}
{% block content %}
    <style>
        #invoice-list tr:hover{
            background-color: #D3D3D3;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left"><span id="loading" class="text-right">Loading ... <img src="{% static 'images/loader.gif' %}"></span></div>
            <div class="pull-right">
                <select id="toggle_invoices" class="form-control" data-ajax-url="{% url 'invoices_list' %}">
                    <option value="my_current_invoices" selected="selected">Current Documents</option>
                    <option value="my_upcoming_invoices">Upcoming Documents</option>
                    <option value="in_trash">In Trash</option>
                </select>
            </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-items-list" id="role_invoices">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Document Type</th>
                        <th>Document No</th>
                        <th>Supplier</th>
                        <th>Accounting Date</th>
                        <th>Document Date</th>
                        <th class="text-right">Total Amount</th>
                        <th class="text-right">Due</th>
                        <th>Due Date</th>
                        <th>Latest Comment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="invoice_table" data-ajax-url="{% url 'invoices_list' %}">

                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    {% compress js %}
      <script type="text/javascript" src="{% static 'js/invoice.js' %}"> </script>
    {% endcompress %}
{% endblock %}
