{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<div class="row account-amount" data-counter="{{ counter }}">
    <div class="col-6">
        <label for="{{ form.account_1.id_for_label }}">{{ form.account_1.label_tag }}</label>
        {{ form.account_1|add_class:"form-control" }}
    </div>
    <div class="col-6">
        <label for="{{ form.percentage_1.id_for_label }}">{{ form.percentage_1.label_tag }}</label>
        <div class="input-group">
            <div class="input-group-addon">%</div>
            {{ form.percentage_1|add_class:"form-control" }}
            <div class="input-group-addon"> of {{ invoice.total_amount }}</div>
        </div>
        {{ form.percentage.errors }}
    </div>
</div>