{% load static %}
{% load invoice_tags %}
{% if invoices %}
    {% for invoice in invoices %}
        {% if is_upcoming %}
            <tr data-detail-url="{% url 'invoice_detail' invoice.id %}?type=upcoming&page={{ forloop.counter }}&redirect_url={% url 'all-invoices' %}">
        {% else %}
            <tr data-detail-url="{% url 'invoice_detail' invoice.id %}?page={{ forloop.counter }}&redirect_url={% url 'all-invoices' %}">
        {% endif %}
            <td>{{ invoice.status }}</td>
            <td>
                {{ invoice.invoice_type }}
            </td>
            <td>{{ invoice.invoice_number }}</td>
            <td>
                {% if invoice.supplier.name %}
                    {{ invoice.supplier.name }}
                {% endif %}
            </td>
            <td>{{ invoice.accounting_date }}</td>
            <td>{{ invoice.invoice_date }}</td>
            <td class="text-right">{{ invoice.total_amount|money }}</td>
            <td class="text-right">{{ invoice.open_amount|money }}</td>
            <td>
                {% if invoice.open_amount != 0 %}
                    {% due_days invoice.due_date %} {{ invoice.due_date }}
                {% endif %}
            </td>
            {% if invoice.comments %}
                <td class="actions" data-original-title="{{ invoice.comments }}" data-toggle="tooltip">
                    <div class="truncated" id="content_{{ invoice.id }}">
                        {{ invoice.comments|safe|truncatechars_html:40 }}
                    </div>
                    <div class="full-content" id="full_content_{{ invoice.id }}">
                        {{ invoice.comments|safe }}
                    </div>
                     {% if invoice.comments|length > 40 %}
                         <a href="javascript:void(0)" class="content-show content actions"
                            data-content-id="{{ invoice.id }}"
                            id="show_{{ invoice.id }}">More</a>
                         <a href="javascript:void(0)" style="display: none;" class="content-hide content actions"
                            data-content-id="{{ invoice.id }}"
                            id="hide_{{ invoice.id }}">Less</a>
                     {% endif %}
                </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                {% if invoice.has_intervention %}
                    <span class="label label-info intervention" data-toggle="tooltip" title=""
                    data-original-title="">
                    Intervention
                    </span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="12">There are no documents available</td>
    </tr>
{% endif %}
