{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Documents Log {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <div class="form-group pull-right">
                <a href="{% url 'create_invoice' %}" class="btn btn-sm btn-primary" role="button">
                    <i class="fa fa-plus"></i> Add New Document
                </a>
                <a href="javascript:void(0);" id="change_accounting_date" class="btn btn-sm btn-success" role="button"
                   data-ajax-url="{% url 'change_accounting_date' %}"><i class="fa fa-calendar"></i> Change accounting date
                </a>
                <a href="javascript:void(0);" class="btn btn-sm btn-primary" role="button" id="add_invoices_to_flow"
                   data-ajax-url="{% url 'add_to_flow' %}"
                >
                    <i class="fa fa-caret-square-o-right"></i> Add to flow
                </a>
                <a href="#" class="btn btn-sm btn-default" role="button">
                    <i class="fa fa-search"></i> Match
                </a>
                <button type="button" class="btn btn-success btn-loading"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-ajax-url="{% url 'fetch_emails' %}" id="fetch_emails">
                    <i class="fa fa-refresh"></i> Update</button>
            </div>
        </div>
  </div>
  <div class="panel-body">
      <div id="fetch_result">

      </div>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Supplier</th>
                        <th>Supplier code</th>
                        <th>Invoice number</th>
                        <th>Flow Proposal</th>
                        <th>Accounting Date</th>
                        <th>Invoice Date</th>
                        <th class="text-right">Total Amount</th>
                        <th class="text-right">VAT Amount</th>
                        <th>VAT%</th>
                        <th>Information</th>
                        <th>Status Text</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="invoice_log">
                    {% for invoice in invoices %}
                         <tr data-detail-url="{% url 'invoice_queue_detail' invoice.id %}">
                            <td>{{ invoice }}</td>
                            <td>
                                {{ invoice.supplier.name }}
                            </td>
                            <td>
                                {{ invoice.supplier.code }}
                            </td>
                            <td>
                                {{ invoice.invoice_number }}
                            </td>
                            <td>
                                {% if invoice.workflow %}
                                    {{ invoice.workflow }}
                                {% else %}
                                    {{ company.default_flow_proposal }}
                                {% endif %}
                            </td>
                            <td>{{ invoice.accounting_date }}</td>
                            <td>{{ invoice.invoice_date }}</td>
                            <td class="text-right">{{ invoice.total_amount|money }}</td>
                            <td class="text-right">{{ invoice.vat_amount|money }}</td>
                            <td>{{ invoice.vat }}</td>
                            <td><span class="badge">{{ invoice.supplier_invoice_number }}</span></td>
                            <td>
                                -
                            </td>
                            <td class="text-left actions">
                                <input type="checkbox" class="invoice-check" name="invoice_{{ invoice.id }}" id="invoice_{{ invoice.id }}" value="{{ invoice.id }}" />
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="15" class="actions">There are no documents available</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Last</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#show_captured_invoice").submit();
            });

            $("#invoice_log>tr>td:not(.actions)").on('click', function(){
               // var detailUrl = $("#invoice_log>tr").data('detail-url');
                var detailUrl = $(this).parent('tr').data('detail-url');
                document.location.href = detailUrl;
                return false;
            });


       });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
