{% extends 'modal.html' %}
{% load static %}
{% block title %} Park Invoice{% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="park_invoice_form" name="park_invoice_form" action="{% url 'park_invoice' invoice.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-large" name="park_invoice_submit" id="park_invoice_submit"><i class="fa fa-save"></i> Park It</button>
    </div>
  </form>

{% endblock %}