{% extends 'modal.html' %}
{% load static %}
{% block title %} Upload Payroll {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="modal_form"
        action="{% url 'upload_invoice_payroll' invoice.id %}"
        data-ajax-url="{% url 'upload_invoice_payroll' invoice.id %}"
  >
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
         <button class="btn btn-primary btn-large" name="add_invoice_payroll_submit" type="submit" id="modal_save_btn"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>

{% endblock %}