{% extends 'base.html' %}
{% load static %}
{% block page_title %} Update Invoice Status {% endblock page_title %}
{% block content %}
  <div class="row">
      <div class="col-lg-6 col-sm-12">
          <form method="post" novalidate="novalidate">
          <table class="table table-responsive">
                <tr>
                    <td>Reference</td>
                    <td>{{ invoice.reference }}</td>
                </tr>
                <tr>
                    <td>Supplier</td>
                    <td>{{ invoice.supplier.name }}</td>
                </tr>
                <tr>
                    <td>Company Registration Number</td>
                    <td>{{ invoice.company_registration_number }}</td>
                </tr>
                <tr>
                    <td>Invoice Number</td>
                    <td>{{ invoice.invoice_number }}</td>
                </tr>
                <tr>
                    <td>Vat Number</td>
                    <td>{{ invoice.vat_number }}</td>
                </tr>
                <tr>
                    <td>Invoice Date</td>
                    <td>{{ invoice.invoice_date }}</td>
                </tr>
                <tr>
                    <td>Accounting Date</td>
                    <td>{{ invoice.accounting_date }}</td>
                </tr>
                <tr>
                    <td>Sub Total</td>
                    <td>{{ invoice.sub_total }}</td>
                </tr>
                <tr>
                    <td>Vat Amount</td>
                    <td>{{ invoice.vat_amount }}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{ invoice.total_amount }}</td>
                </tr>
            </table>
            {% include 'common/form.html' %}
            <div class="form-group pull-right">
               <button class="btn btn-danger btn-large" name="submit" id="decline"><i class="fa fa-close"></i> Decline </button>
               <button class="btn btn-success btn-large" name="submit" id="approve"><i class="fa fa-check"></i> Approve </button>
            </div>
          </form>
      </div>
      <div class="col-lg-6 col-sm-12">
        {% if invoice.document and invoice.document.image_filename  %}
             <a class="fancybox-thumb thumbnail" rel="fancybox-thumb"href="{% static 'images/documents/'|add:invoice.document.image_filename %}">
                <img src="{% static 'images/documents/'|add:invoice.document.image_filename %}" height="580" class="img-responsive"  />
            </a>
        {% else %}
            --
        {% endif %}
      </div>
  </div>
{% endblock %}
