{% load static %}
{% load edit_form %}
{% load role_tags %}
{% load invoice_tags %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix" style="overflow: visible !important;">
        <div class="pull-left">
        <span class="panel-title" style="padding-right: 30px;">Record {{ invoices.number }}/{{ invoices.paginator.num_pages }}
        </span>
        {% if invoices.has_other_pages %}
            {% if is_upcoming %}
                <ul class="pagination btn-group">
                    {% if invoices.has_previous %}
                        <a href="?type=upcoming&page=1" type="button" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="?type=upcoming&page={{ invoices.previous_page_number }}" type="button" class="btn btn-info"
                           aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled"
                           class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    {% endif %}

                    {% if invoices.has_next %}
                        <a href="?type=upcoming&page={{ invoices.next_page_number }}" type="button" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        <a href="?type=upcoming&page={{ invoices.paginator.num_pages }}" type="button" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="pagination btn-group">
                    {% if invoices.has_previous %}
                        <a href="?page=1" type="button" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="?page={{ invoices.previous_page_number }}" type="button" class="btn btn-info"
                           aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled"
                           class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    {% endif %}

                    {% if invoices.has_next %}
                        <a href="?page={{ invoices.next_page_number }}" type="button" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        <a href="?page={{ invoices.paginator.num_pages }}" type="button" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                    {% endif %}
                </ul>
            {% endif %}
        {% endif %}
      </div>
      <div class="btn-group pull-right">
        <div class="form-group pull-right">
            {% if redirect_url %}
                <a href="{{ redirect_url }}"  class="btn btn-default btn-sm"> Previous Level</a>
            {% else %}
                <a href="javascript:history.back(-1)"  class="btn btn-default btn-sm"> Previous Level</a>
            {% endif %}
            {% if invoice.is_approved and can_order_purchase_order %}
                <button id="cancel_purchase_order"
                        data-ajax-url="{% url 'cancelled_purchase_order' invoice.id %}?redirect_url={% if invoice.is_inventory and redirect_url %}{{ redirect_url }}{% endif %}"
                        class="btn btn-primary btn-sm"><i class="fa fa-ban"></i> Cancel
                </button>
                <button id="email_purchase_order"
                        data-ajax-url="{% url 'single_purchaseorders_action' action='email' %}"
                        data-purchase-order-id="{{ invoice.purchaseorder.id }}"
                        class="btn btn-primary btn-sm single-action"><i class="fa fa-envelope"></i> Email
                </button>
                <button id="sign_purchase_order"
                        data-ajax-url="{% url 'order_purchaseorder' invoice_id=invoice.id %}?redirect_url={% if invoice.is_inventory and redirect_url %}{{ redirect_url }}{% endif %}"
                        data-save-ajax-url="{% url 'update_invoice' invoice.id %}"
                        class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Ordered
                </button>
                 {% if invoice.is_inventory %}
                     <a href="{% url 'show_inventory_purchase_order_print_view' invoice_id=invoice.id  %}?print=1"
                       class="btn btn-info btn-sm" id="print_purchase_order"
                            {% if not can_edit %} disabled="disabled" {% endif %}
                       data-toggle="tooltip"><i class="fa fa-print"></i> Print </a>
                 {% else %}
                    <a href="{% url 'purchase_order_detail' invoice.id %}?print=1"
                       class="btn btn-info btn-sm" id="print_purchase_order"
                            {% if not can_edit %} disabled="disabled" {% endif %}
                       data-toggle="tooltip"><i class="fa fa-print"></i> Print </a>
                 {% endif%}
            {% elif invoice.is_po_declined %}
                <button id="resubmit_purchase_order"
                        data-ajax-url="{% url 'resubmit_purchaseorder' invoice.purchaseorder.id %}?redirect_url={{ redirect_url }}"
                        data-save-ajax-url="{% url 'update_invoice' invoice.id %}"
                        {% if not can_edit %} disabled="disabled" {% endif %}
                        class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Resubmit
                </button>
                <button class="btn btn-info btn-sm" name="submit" id="sign_purchase_order"
                    data-ajax-url="{% url 'file_purchase_order' invoice.id %}?redirect_url={% if invoice.is_inventory and redirect_url %}{{ redirect_url }}{% endif %}"
                    {% if not can_edit %} disabled="disabled" {% endif %}
                        data-toggle="tooltip"><i class="fa fa-folder"></i> File </button>
            {% elif invoice.is_requested and can_approve_purchase_order %}
                <button type="button" class="btn btn-danger btn-sm"
                        name="submit" id="decline"
                        data-modal="{% url 'decline_purchaseorder' invoice.purchaseorder.id %}?redirect_url={% if invoice.is_inventory and redirect_url %}{{ redirect_url }}{% endif %}"
                        data-toggle="tooltip"><i class="fa fa-close"></i> Decline </button>
                <button id="sign_purchase_order"
                        data-save-ajax-url="{% url 'update_invoice' invoice.id %}"
                        data-ajax-url="{% url 'approve_purchaseorder' invoice_id=invoice.id %}?redirect_url={% if invoice.is_inventory and redirect_url %}{{ redirect_url }}{% endif %}"
                        class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> Approve
                </button>
            {% elif invoice.is_ordered %}
                <button id="cancel_purchase_order"
                        data-ajax-url="{% url 'cancelled_purchase_order' invoice.id %}?redirect_url={% if invoice.is_inventory and redirect_url %}{{ redirect_url }}{% endif %}"
                        class="btn btn-primary btn-sm"><i class="fa fa-ban"></i> Cancel
                </button>
                <a href="{% url 'purchaseorder_detail' invoice.purchaseorder.id %}?print=1"
                   class="btn btn-info btn-sm" id="print_purchase_order"
                   data-toggle="tooltip"><i class="fa fa-print"></i> Print </a>
                <span class="btn btn-success btn-sm label-success"
                      disabled="disabled"><i class="fa fa-check"></i> PO Ordered</span>
            {% endif %}
        </div>
      </div>
  </div>
  <div class="panel-body">
      <div class="col-lg-4 col-sm-12">
          <div class="panel panel-info doc-fields">
              <div class="panel-heading">
                    <span class="left">PO Number</span>
                    <span class="right pull-right">
                        {{ invoice }}
                        <button id="save_invoice_adjustments"
                                data-ajax-url="{% url 'save_invoice_changes' pk=invoice.id type='adjustment' %}"
                                class="btn btn-primary btn-sm save_invoice"
                                {% if not can_edit %} disabled="disabled" {% endif %}
                        ><i class="fa fa-save"></i> Update</button>
                    </span>
              </div>
              <div class="panel-body">
                  {% edit_invoice_form invoice permissions can_edit profile_id profile_year_id  %}
              </div>
          </div>
          <div class="panel panel-info doc-flow">
              <div class="panel-heading">Flow</div>
              <div class="panel-body text-center" id="invoice_flows" data-ajax-url="{% url 'invoice_flows' invoice_id=invoice.id %}?can_edit={{ can_edit }}">
                Loading ...
              </div>
          </div>
          {% if invoice.is_requested %}
              <div class="panel panel-info posting">
                 <div class="panel-heading">
{#                    <span class="left">Purchase Order Lines</span>#}
{#                    <span class="right pull-right">#}
{#                         <button type="button" id="add_purchase_order_line"#}
{#                            class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add</button>#}
{#                         &nbsp;&nbsp;&nbsp;#}
{#                         <button type="button" id="update_purchase_order_line"#}
{#                            class="btn btn-primary btn-sm" disabled="disabled"><i class="fa fa-save"></i> Update</button>#}
{#                    </span>#}
                 </div>
                 <div class="panel-body" style="overflow:scroll; height:400px;" id="purchase_order_lines"
                      {% if invoice.is_inventory and redirect_url %}
                         data-ajax-url="{% url 'add_purchaseorder_row' %}"
                      {% else %}
                         data-ajax-url="{% url 'add_purchaseorder_row' %}"
                      {% endif %}
                 ></div>
              </div>
          {% endif %}
      </div>
      <div class="col-lg-8 col-sm-12">
          <div class="panel panel-info clearfix " id="purchase_order_detail_container"
               style="overflow:scroll; height:500px;"
               data-ajax-url="{% url 'purchaseorder_view' invoice.purchaseorder.id %}"
          >
            <div class="panel-heading">
              <span class="pull-left">Purchase Order Image</span>
              <span class="pull-right intervention">
                {% if invoice.is_decline_requested %}
                    <span class="label">DECLINE REQUEST</span>
                {% endif %}
              </span>
            </div>
            <div class="panel-body " style="overflow:scroll; height:500px;">
               {% if invoice.is_inventory %}
                   <iframe href="{% url 'show_inventory_purchase_order_view' invoice.id %}" width="1000" height="500"  frameborder="0"></iframe>
               {% else %}
                   <iframe href="{% url 'purchaseorder_view' invoice.id %}" width="1000" height="500"  frameborder="0"></iframe>
               {% endif %}
            </div>
          </div>
          <div class="panel panel-info clearfix">
              <div class="panel-heading">
                    <span class="left">Comments</span>
                    <span class="right pull-right">
                        <button type="button" class="btn btn-danger btn-large"
                                name="submit" id="add_comment"
                                data-modal="{% url 'add_invoice_comment' invoice_id=invoice.id %}"
                                data-toggle="tooltip"><i class="fa fa-comment"></i> Add Comment</button>
                    </span>
                  </div>
              <div class="panel-body" style="overflow:scroll; height:100px;" id="purchase_order_comments"
                   data-ajax-url="{% url 'invoice_comments_index' invoice_id=invoice.id %}">
                 Comments
              </div>
          </div>

      </div>
  </div>
</div>