{% extends 'fullpage.html' %}
{% load static %}
{% load compress %}
{% load edit_form %}
{% block page_title %}
    <span class="left">Document Log Detail  {% if invoice.invoice_number %} - {{ invoice.invoice_number }} {% endif %}</span>
    <span class="right pull-right">
        {% if invoice.supplier.is_blocked %}
            <span class="label label-warning">Supplier is blocked</span>
        {% endif %}
    </span>
{% endblock page_title %}
{% block content %}

  <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">Record {{ invoices.number }}/{{ invoices.paginator.num_pages }}</h5>
            {% if invoices.has_other_pages %}
              <ul class="pagination btn-group pull-left">
                {% if invoices.has_previous %}
                      <li><a href="?page={{ invoices.previous_page_number }}">&laquo;</a></li>
                    <a href="?page=1" type="button" class="btn btn-info" aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                    <a href="?page={{ invoices.previous_page_number }}" type="button" class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                {% else %}
                    <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                    <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                {% endif %}

                {% if invoices.has_next %}
                  <a href="?page={{ invoices.next_page_number }}" type="button" class="btn btn-info" aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                  <a href="?page={{ invoices.paginator.num_pages }}" type="button" class="btn btn-info" aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                {% else %}
                  <button type="button" disabled="disabled" class="btn btn-info" aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                  <button type="button" disabled="disabled" class="btn btn-info" aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                {% endif %}
              </ul>
            {% endif %}
          <div class="btn-group pull-right">
                <div class="form-group pull-right">
                    <a href="{% url 'invoice_log' %}" class="btn btn-default btn-sm">Prev. Level</a>
                    {% if locked_status.is_locked and locked_status.locked_by %}
                        <span class="label label-danger">Locked by {{ locked_status.locked_by }}</span>
                    {% else %}
                        <button type="button" id="reject_invoice" class="btn btn-primary btn-sm"
                                data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                data-modal="{% url 'reject_invoice' invoice.id %}">
                            <i class="fa fa-times-circle"></i> Reject</button>
                        <a type="button" class="btn btn-danger btn-sm" id="delete_invoice" href="{% url 'invoice-delete' invoice.id %}" onclick="return confirm('Are you sure you want to delete  this invoice, this is a HARD delete')" data-toggle="tooltip" {% if invoice.supplier.is_blocked %} disabled="disabled" {% endif %}><i class="fa fa-close"></i> Delete</a>
                        <button id="add_image" data-modal="{% url 'add_invoice_image' invoice.id %}"
                                data-ajax-url="{% url 'add_invoice_image' invoice.id %}"
                                class="btn btn-success btn-sm"> <i class="fa fa-plus-square-o"
                                {% if invoice.supplier.is_blocked %} disabled="disabled" {% endif %}></i> Add image</button>
                        <button id="logger_save_invoice_changes" class="btn btn-primary btn-sm"><i class="fa fa-save" {% if invoice.supplier.is_blocked %} disabled="disabled" {% endif %}></i> Save</button>
                        <button type="button" id="add_to_flow" class="btn btn-success btn-loading"
                                data-loading-text="<i class='fa fa-spinner'></i> Processing"
                               {% if invoice.supplier.is_blocked %} disabled="disabled" {% endif %}
                                data-ajax-url="{% url 'add_invoice_to_flow' invoice.id %}">
                            <i class="fa fa-play"></i> Add to flow</button>
                    {% endif %}
                </div>
          </div>
      </div>
      <div class="panel-body">
          <div class="col-lg-4 col-sm-12">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      {% if invoice.is_inventory %}
                          PO Number {{ invoice.inventory_purchase_order }}
                      {% elif invoice.is_purchase_order %}
                          PO Number {{ invoice }}
                      {% else %}
                          Document {{ invoice }}
                      {% endif %}
                  </div>
                  <div class="panel-body" style="overflow:scroll; height:850px;">
                        {% edit_log_form invoice permissions profile year  %}
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-sm-12">
              <div class="panel panel-info" id="invoice_detail_container">
                  <div class="panel-heading">{% if invoice.is_purchase_order %} Purchase Order {% else %} Document {% endif %} Image</div>
                  <div class="panel-body" style="overflow:scroll; height:650px;">
                    {% if invoice.has_file %}
                        <div id="invoice_pdf" data-pdf-url="{{ MEDIA_URL }}{{ invoice.file_location }}"></div>
                    {% endif %}
                  </div>
              </div>
              <div style="overflow:scroll; height:200px; padding: 10px !important;" id="account_postings"
                   data-ajax-url="{% url 'account_postings_view' invoice_id=invoice.id %}"
                   data-invoice-id="{{ invoice.id }}">
              </div>
          </div>

      </div>
  </div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/loadingoverlay.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        // using jQuery
        $(function(){
            const invoicePdf = $("#invoice_pdf")
            if (invoicePdf.length) {
                 PDFObject.embed(invoicePdf.data('pdf-url'), "#invoice_pdf");
            }
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}