{% extends 'modal.html' %}
{% load static %}
{% block title %} Reject Invoice{% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="reject_invoice_decline_form" name="reject_invoice_decline_form" action="{% url 'reject_invoice' invoice.id %}">
     <div class="modal-body">
         Are you sure you want to reject this invoice?
     </div>
     <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-primary btn-large" name="reject_invoice_submit" type="submit" id="reject_invoice_submit" data-ajax-url="{% url 'save_reject_invoice' invoice.id %}"><i class="fa fa-check"></i> Yes</button>
    </div>
  </form>

{% endblock %}