<div class="panel panel-info" id="invoice_detail_container"
     data-ajax-url="{% url 'invoice_image' invoice.id %}"
     style="background-color: black !important;">
    <div class="panel-heading">
      <span class="pull-left">{% if invoice.is_purchase_order %} Purchase Order {% else %} Document {% endif %}  Image</span>
        {% if intervention_is_required %}
            <span class="pull-right intervention">
                <a href="javascript:void(0);" class="label label-info" data-toggle="tooltip" title=""
                   data-original-title="{{ intervention_comment }}" style="margin-right: 5px;" >
                    Intervention
                </a>
            </span>
        {% endif %}
        {% if invoice.status %}
            {% if invoice.is_paid %}
               <span class="pull-right label label-success" style="margin-left: 5px;">Payment Processed</span>
            {% elif invoice.is_partially_paid %}
               <span class="pull-right label label-warning" style="margin-left: 5px;">Partially Paid</span>
            {% endif %}

            {% if invoice.status.slug == 'decline-request-from-user' %}
                <span style="margin-right: 5px;" class="pull-right label label-warning">DECLINE REQUEST</span>
            {% else %}
                <span style="margin-right: 5px;" class="pull-right label label-success">{{ invoice.status }}</span>
            {% endif %}
        {% endif %}
    </div>
    <div class="container panel-body" style="background-color: white !important; max-height: 526px; overflow: scroll;">
         {% with invoice=invoice.sales_invoice is_print='1' %}
             <div id="invoice_pdf"></div>{% include "sales/template.html" %}</div>
         {% endwith %}
    </div>
</div>
