{% load static i18n %}
{% load edit_form %}
{% load role_tags %}
{% load invoice_tags %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix" style="overflow: visible !important;">
      <div class="pull-left">
         <span class="panel-title" style="padding-right: 30px;">
             Record {{ invoices.number }}/{{ invoices.paginator.num_pages }}
          </span>
            {% if invoices.has_other_pages %}
                {% if is_upcoming %}
                    <ul class="pagination btn-group">
                        {% if invoices.has_previous %}
                            <a href="?type=upcoming&page=1" type="button" class="btn btn-info"
                               aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                            <a href="?type=upcoming&page={{ invoices.previous_page_number }}" type="button" class="btn btn-info"
                               aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                        {% else %}
                            <button type="button" disabled="disabled" class="btn btn-info"
                               aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                            <button type="button" disabled="disabled"
                               class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                        {% endif %}

                        {% if invoices.has_next %}
                            <a href="?type=upcoming&page={{ invoices.next_page_number }}" type="button" class="btn btn-info"
                               aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            <a href="?type=upcoming&page={{ invoices.paginator.num_pages }}" type="button" class="btn btn-info"
                               aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                        {% else %}
                            <button type="button" disabled="disabled" class="btn btn-info"
                               aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                            <button type="button" disabled="disabled" class="btn btn-info"
                               aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                        {% endif %}
                    </ul>
                {% else %}
                    <ul class="pagination btn-group">
                        {% if invoices.has_previous %}
                            <a href="?page=1{% if redirect_url %}&redirect={{ redirect_url }}{% endif %}" type="button" class="btn btn-info"
                               aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                            <a href="?page={{ invoices.previous_page_number }}{% if redirect_url %}&redirect={{ redirect_url }}{% endif %}" type="button" class="btn btn-info"
                               aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                        {% else %}
                            <button type="button" disabled="disabled" class="btn btn-info"
                               aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                            <button type="button" disabled="disabled"
                               class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                        {% endif %}

                        {% if invoices.has_next %}
                            <a href="?page={{ invoices.next_page_number }}{% if redirect_url %}&redirect={{ redirect_url }}{% endif %}" type="button" class="btn btn-info"
                               aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            <a href="?page={{ invoices.paginator.num_pages }}{% if redirect_url %}&redirect={{ redirect_url }}{% endif %}" type="button" class="btn btn-info"
                               aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                        {% else %}
                            <button type="button" disabled="disabled" class="btn btn-info"
                               aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                            <button type="button" disabled="disabled" class="btn btn-info"
                               aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endif %}
      </div>

      <div class="btn-group pull-right">
            <div class="form-group pull-right">
                {% if locked_status.is_locked and locked_status.locked_by %}
                    <span class="label label-danger">Locked by {{ locked_status.locked_by }}</span>
                {% elif can_edit  %}
                    <a href="{% url 'all-invoices' %}"  class="btn btn-default btn-sm"> Prev. Level</a>
                    <button class="btn btn-info btn-sm" name="invoice_tracking" id="invoice_tracking"
                            data-modal="{% url 'invoice_tracking' invoice_id=invoice.id %}"
                            data-toggle="tooltip"><i class="fa fa-dedent"></i> Tracking</button>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:void(0);" id="account_posting_proposal" data-ajax-url="{% url 'validate_invoice' invoice.id %}">Account Posting Proposal</a></li>
                          {% if invoice.supplier %}
                              <li><a href="{% url 'show_supplier_invoices' invoice.supplier.id %}" id="account_posting_history" data-ajax-url="{% url 'show_supplier_invoices' invoice.supplier.id %}">Account Posting History</a></li>
                          {%endif %}
                          <li><a href="javascript:void(0);" id="email_supplier_modal" data-modal="{% url 'email_supplier_modal' invoice.id %}" data-ajax-url="{% url 'email_supplier_modal' invoice.id %}">Email The Supplier</a></li>
                          <li>
                              {% if is_parked %}
                                 <a href="javascript:void(0);" id="unpark_invoice" data-ajax-url="{% url 'unpark_invoice' invoice.id %}">UnPark It</a>
                              {% else %}
                                 <a href="javascript:void(0);" id="park_invoice" data-modal="{% url 'park_invoice' invoice.id %}" data-ajax-url="{% url 'park_invoice' invoice.id %}">Park It</a>
                              {% endif %}
                          </li>
                        </ul>
                    </div>
                    {% if invoice.is_paid %}
                        <button class="btn btn-info btn-sm" id="invoice_payments"
                                data-ajax-url="{% url 'invoice_payments' invoice_id=invoice.id %}"
                                data-toggle="tooltip"><i class="fa fa-paper-plane-o"></i> {% translate 'Payment' %} </button>
                    {% else %}
                        <button class="btn btn-info btn-sm" id="invoice_payment"
                                data-ajax-url="{% url 'pay_supplier_invoice' %}"
                                data-supplier-id="{{ invoice.supplier_id }}"
                                data-invoice-id="{{ invoice.id }}"
                                data-redirect-url="{% url 'invoice_detail' invoice.id %}"
                                {% if not can_edit %} disabled="disabled" {% endif %}
                                data-toggle="tooltip"><i class="fa fa-money"></i> Pay </button>
                    {% endif %}
                    <button id="validate_invoice"
                       data-ajax-url="{% url 'validate_invoice' invoice.id %}"
                       {% if not can_edit %} disabled="disabled" {% endif %}
                       class="btn btn-warning btn-sm"><i class="fa fa-check-circle"></i> Validate</button>
                    {% if can_edit %}
                        {% if invoice.is_decline_requested %}
                           <button type="button" class="btn btn-danger btn-sm" name="submit" id="approve_invoice_decline"
                                   data-modal="{% url 'approve_invoice_decline' invoice.id %}"
                                   data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                   data-toggle="tooltip"><i class="fa fa-close"></i> Approve </button>
                        {% else %}
                            <button type="button" class="btn btn-danger btn-sm" name="submit" id="decline"
                                    data-modal="{% url 'decline_invoice' invoice.id %}"
                                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                    data-toggle="tooltip"><i class="fa fa-close"></i> Decline </button>
                        {% endif %}
                    {% else %}
                        {% if invoice.is_decline_requested %}
                           <button type="button" class="btn btn-danger btn-sm" name="submit" id="approve_invoice_decline"
                                   data-modal="{% url 'approve_invoice_decline' invoice.id %}"
                                   data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                   data-toggle="tooltip"  disabled="disabled"><i class="fa fa-close"></i> Approve </button>
                        {% else %}
                            <button type="button" class="btn btn-danger btn-sm" name="submit" id="decline"
                                    data-modal="{% url 'decline_invoice' invoice.id %}"
                                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                    data-toggle="tooltip" disabled="disabled"><i class="fa fa-close"></i> Decline </button>
                        {% endif %}
                    {% endif %}
                    <button id="save_invoice_changes"
                           data-ajax-url="{% url 'update_invoice' invoice.id %}"
                           {% if not can_edit %} disabled="disabled" {% endif %}
                           class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>

                    {% if not invoice.is_decline_requested  %}
                        {% if can_edit %}
                            {% if invoice.is_decline_requested %}
                                <button id="invoice_decline_requested" class="btn btn-success btn-sm"
                                        data-modal="{% url 'invoice_decline_requested_notification' invoice.id %}"
                                        data-ajax-url="{% url 'invoice_decline_requested_notification' invoice.id %}"
                                        data-ajax-update-invoice-url="{% url 'update_invoice' invoice.id %}"
                                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                ><i class="fa fa-check-circle"></i> Sign</button>
                            {% else %}
                                <button id="sign_invoice" class="btn btn-success btn-sm"
                                        data-ajax-url="{% url 'sign_invoice_changes' invoice.id %}?page={{ invoices.number }}&count={{ invoices.paginator.num_pages }}"
                                        data-ajax-update-invoice-url="{% url 'update_invoice' invoice.id %}?page={{ invoices.number }}&count={{ invoices.paginator.num_pages }}"
                                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                ><i class="fa fa-check-square-o"></i> Sign</button>
                            {% endif %}
                        {% else %}
                            <button id="sign_invoice"
                                    data-modal="{% url 'sign_invoice_changes' invoice.id %}?page={{ invoices.number }}&count={{ invoices.paginator.num_pages }}"
                                    data-ajax-url="{% url 'sign_invoice_changes' invoice.id %}?page={{ invoices.number }}&count={{ invoices.paginator.num_pages }}"
                                    data-ajax-update-invoice-url="{% url 'update_invoice' invoice.id %}?page={{ invoices.number }}&count={{ invoices.paginator.num_pages }}"
                                    class="btn btn-success btn-sm" disabled="disabled"><i class="fa fa-check-circle"></i> Sign </button>
                        {% endif %}

                    {% endif %}
                {% elif invoice.is_final_signed %}
                    {% if redirect_url %}
                        <a href="{{ redirect_url }}"  class="btn btn-default btn-sm"> Prev. Level</a>
                    {% else %}
                        <button href="javascript:history.back(-1)"  class="btn btn-default btn-sm"> Prev. Level</button>
                    {% endif %}
                    <button class="btn btn-info btn-sm" name="invoice_tracking" id="invoice_tracking"
                            data-modal="{% url 'invoice_tracking' invoice_id=invoice.id %}"
                            data-toggle="tooltip"><i class="fa fa-train"></i> Tracking</button>
                    <button class="btn btn-info btn-sm" name="undo_sign" id="undo_sign"
                            data-ajax-url="{% url 'undo_signing' invoice.id %}"
                            data-toggle="tooltip"><i class="fa fa-undo"></i> Undo Sign </button>
                {% else %}
                    <button class="btn btn-info btn-sm" name="invoice_tracking" id="invoice_tracking"
                            data-modal="{% url 'invoice_tracking' invoice_id=invoice.id %}"
                            data-toggle="tooltip"><i class="fa fa-dedent"></i> Tracking</button>
                    <button class="btn btn-info btn-sm" id="invoice_payments"
                            data-ajax-url="{% url 'invoice_payments' invoice_id=invoice.id %}"
                            data-toggle="tooltip"><i class="fa fa-paper-plane-o"></i> Payment </button>
                    {% if redirect_url %}
                        <a href="{{ redirect_url }}"  class="btn btn-default btn-sm"> Previous Level</a>
                    {% else %}
                        <button href="javascript:history.back(-1)"  class="btn btn-default btn-sm"> Previous Level</button>
                    {% endif %}
                {% endif %}
            </div>
      </div>
  </div>
  <div class="panel-body">
      <div class="col-lg-4 col-sm-12">
          <div class="panel panel-info doc-fields">
              <div class="panel-heading">
                    <span class="left">Document {{ invoice }}</span>
                    <span class="right pull-right">
                         <button id="save_invoice_adjustments" data-action="adjustment" class="btn btn-primary btn-sm"
                                 data-ajax-url="{% url 'update_invoice' invoice.id %}"
                                 data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                 {% if not can_edit %} disabled="disabled" {% endif %}>
                             <i class="fa fa-save"></i> Update</button>
                    </span>
              </div>
              <div class="panel-body">
                   {% edit_invoice_form invoice permissions can_edit profile_id year.id  %}
              </div>
          </div>
          <div class="panel panel-info doc-flow">
              <div class="panel-heading">Flow</div>
              <div class="panel-body text-center" id="invoice_flows" data-ajax-url="{% url 'invoice_flows' invoice_id=invoice.id %}?can_edit={{ can_edit }}">
                Loading ...
              </div>
          </div>
          {% if invoice.has_account_posting %}
              <div class="panel panel-info posting">
                 <div class="panel-heading">
                    <span class="left">Accounting Posting Line</span>
                    <span class="right pull-right">
                         <button type="button" id="add_invoice_account_posting" class="btn btn-primary btn-sm"
                                 data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                 data-toggle="tooltip"><i class="fa fa-plus"></i> Add</button>
                         &nbsp;&nbsp;&nbsp;
                         <button type="button" id="update_invoice_account_changes" class="btn btn-primary btn-sm"
                                 data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                 data-toggle="tooltip"
                                 disabled="disabled"><i class="fa fa-save"></i> Update</button>
                    </span>
                 </div>
                 <div class="panel-body" style="overflow:scroll; height:400px;" id="accounting_posting_line"
                      data-ajax-url="{% url 'create_invoice_account' invoice_id=invoice.id %}"
                      data-invoice-id="{{ invoice.id }}">
                 </div>
              </div>
          {% endif %}
      </div>
      <div class="col-lg-8 col-sm-12">
          {% if invoice.sales_invoice %}
                {% include "invoice/sales_invoice.html" %}
          {% else %}
              <div class="panel panel-info" id="invoice_detail_container"
                 data-ajax-url="{% url 'invoice_image' invoice.id %}">
              </div>
          {% endif %}
          <div class="panel panel-info">
              <div class="panel-heading">
                    <span class="left">Comments</span>
                    <span class="right pull-right">
                        <button type="button" class="btn btn-danger btn-large"
                                name="submit" id="add_comment"
                                data-modal="{% url 'upload_invoice_payroll' invoice_id=invoice.id %}"
                                data-toggle="tooltip"><i class="fa fa-upload"></i> Import Payroll</button>
                        <button type="button" class="btn btn-danger btn-large"
                                name="submit" id="add_comment"
                                data-modal="{% url 'add_invoice_comment' invoice_id=invoice.id %}"
                                data-toggle="tooltip"><i class="fa fa-comment"></i> Add Comment</button>
                    </span>
                  </div>
              <div class="panel-body" style="overflow:scroll; height:100px;" id="invoice_comments"
                   data-ajax-url="{% url 'invoice_comments_index' invoice_id=invoice.id %}">
                 Comments
              </div>
          </div>
         {% if invoice.has_account_posting %}
              <div class="panel panel-info" id="account_postings"
                       data-ajax-url="{% url 'account_postings_view' invoice_id=invoice.id %}"
                       data-invoice-id="{{ invoice.id }}">
                  <div class="panel-heading">Account Posting</div>
                  <div class="panel-body" style="overflow:scroll;"
                       data-ajax-url="{% url 'account_postings_view' invoice_id=invoice.id %}"
                       data-invoice-id="{{ invoice.id }}">
                  </div>
              </div>
          {% endif %}
      </div>

  </div>
</div>
