{% extends 'modal.html' %}
{% load static %}
{% block title %} Sign Invoice {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="comment_invoice_form" name="comment_invoice_form" action="{% url 'sign_invoice_changes' invoice.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="add_invoice_comment_submit" type="submit" id="add_invoice_comment_submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>

{% endblock %}