{% extends 'base.html' %}
{% load static %}
{% load invoice_tags %}
{% block page_title %} {{ status }} Invoices  {% endblock page_title %}
{% block actions %}
{% endblock %}
{% block content %}
    <style>
        #invoice-list tr:hover{
            background-color: #D3D3D3;
        }
    </style>

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
      </div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-items-list" id="role_invoices">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Document Type</th>
                        <th>Supplier</th>
                        <th>Supplier code</th>
                        <th class="text-right">Total Amount</th>
                        <th>Currency</th>
                        <th>Accounting Date</th>
                        <th>Document Date</th>
                        <th>Due Date</th>
                        <th>Serial no</th>
                        <th>Latest Comment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="invoice-list">

                {% if invoices %}
                    {% for invoice in invoices %}
                        <tr data-detail-url="{% url 'invoice_detail' invoice.id %}?status={{ status.slug }}&page={{ forloop.counter }}&redirect={% url 'show_status_invoices' slug=status.slug %}">
                            <td>{{ invoice.status__name }}</td>
                            <td>
                                {{ invoice.invoice_type__name }}
                            </td>
                            <td>
                                {% if invoice.supplier__name %}
                                    {{ invoice.supplier__name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if invoice.supplier__code %}
                                    {{ invoice.supplier__code }}
                                {% endif %}
                            </td>
                            <td class="text-right">{{ invoice.total_amount|money }}</td>
                            <td></td>
                            <td>{{ invoice.accounting_date }}</td>
                            <td>{{ invoice.invoice_date }}</td>
                            <td>{% due_days invoice.due_date %} {{ invoice.due_date }}</td>
                            <td>{{ invoice.df_number }}</td>
                            {% if invoice.comments %}
                                <td class="actions" data-original-title="{{ invoice.comments }}" data-toggle="tooltip">
                                    <div class="truncated" id="content_{{ invoice.id }}">
                                        {{ invoice.comments|safe|truncatechars_html:40 }}
                                    </div>
                                    <div class="full-content" id="full_content_{{ invoice.id }}">
                                        {{ invoice.comments|safe }}
                                    </div>
                                     {% if invoice.comments|length > 40 %}
                                         <a href="javascript:void(0)" class="content-show content actions"
                                            data-content-id="{{ invoice.id }}"
                                            id="show_{{ invoice.id }}">More</a>
                                         <a href="javascript:void(0)" style="display: none;" class="content-hide content actions"
                                            data-content-id="{{ invoice.id }}"
                                            id="hide_{{ invoice.id }}">Less</a>
                                     {% endif %}
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>
                                {% if invoice.flows__intervention_at %}
                                    <span class="label label-info intervention" data-toggle="tooltip" title=""
                                    data-original-title="">
                                    Intervention
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="12">There are no {{ status }} documents available</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
  </script>
{% endblock %}
