<ul>
    <li>
        <div>Documents Incoming <span class="pull-right">{{ incoming }}</span></div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ incoming_perc }}%"><span class="sr-only">{{ incoming }}</span></div>
        </div>
    </li>
    <li>
        <div>Documents Processing <span class="pull-right">{{ processing }}</span></div>
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ processing_perc }}%"><span class="sr-only">{{ processing }}</span></div>
        </div>
    </li>
    <!--
    <li>
        <div>Documents Completed <span class="pull-right">{{ completed }}</span></div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ completed_perc }}%"><span class="sr-only">{{ completed }}</span></div>
        </div>
    </li> -->
</ul>