{% extends 'modal.html' %}
{% load static %}
{% load invoice_tags %}
{% block title %} Invoice Tracking {% endblock title %}
{% block content %}
    <div class="container table-responsive">
        <table class="table" width="100%">
            {% if report.incoming %}
                <tr>
                    <td>
                        <h4>Update of Incoming Invoice Report</h4>
                        <table width="100%" class="table">
                            <thead>
                                 <tr>
                                    <th colspan="5"></th>
                                    <th class="text-right">Debit</th>
                                    <th class="text-right">Debit</th>
                                    <th class="text-right">Credit</th>
                                </tr>
                                <tr>
                                    <th>Created At</th>
                                    <th>Report</th>
                                    <th>Journal</th>
                                    <th>Created By</th>
                                    <th>Role</th>
                                    <th class="text-right">NETT</th>
                                    <th class="text-right">VAT</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice_journal in report.incoming %}
                                    <tr>
                                        <td>{{ invoice_journal.journal.created_at }}</td>
                                        <td>
                                            {% if invoice_journal.journal %}
                                                <a href="{% url 'invoice_journal_detail' invoice_journal.journal.id %}?invoice_id={{ invoice_journal.invoice_id }}" target="_blank">{{ invoice_journal.journal }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if invoice_journal.journal.ledger %}
                                                <a  href="{% url 'journal_lines' invoice_journal.journal.ledger.id %}?invoice_id={{ invoice_journal.invoice_id }}" target="_blank">{{ invoice_journal.journal.ledger }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ invoice_journal.journal.created_by }}</td>
                                        <td>{{ invoice_journal.journal.role }}</td>
                                        <td class="text-right">{{ invoice_journal.net_amount|money }}</td>
                                        <td class="text-right">{{ invoice_journal.vat_amount|money }}</td>
                                        <td class="text-right">{{ invoice_journal.total_amount|money }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    <h4>Update of Posting invoices</h4>
                    <table width="100%" class="table">
                        <thead>
                             <tr>
                                <th colspan="5"></th>
                                <th class="text-right">Debit</th>
                                <th class="text-right">Debit</th>
                                <th class="text-right">Credit</th>
                            </tr>
                            <tr>
                                <th>Created At</th>
                                <th>Report</th>
                                <th>Journal</th>
                                <th>Created By</th>
                                <th>Role</th>
                                <th class="text-right">NETT</th>
                                <th class="text-right">VAT</th>
                                <th class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice_journal in report.posting %}
                                <tr>
                                    <td>{{ invoice_journal.journal.created_at }}</td>
                                    <td>
                                        {% if invoice_journal.journal %}
                                            <a href="{% url 'posting_invoice_journal_detail' invoice_journal.journal.id %}?invoice_id={{ invoice_journal.invoice_id }}" target="_blank">{{ invoice_journal.journal }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if invoice_journal.journal.ledger %}
                                            <a  href="{% url 'journal_lines' invoice_journal.journal.ledger.id %}?invoice_id={{ invoice_journal.invoice_id }}" target="_blank">{{ invoice_journal.journal.ledger }}</a>
                                        {% elif invoice_journal.ledger %}
                                            <a  href="{% url 'journal_lines' invoice_journal.ledger.id %}?invoice_id={{ invoice_journal.invoice_id }}" target="_blank">{{ invoice_journal.ledger }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ invoice_journal.journal.created_by }}</td>
                                    <td>{{ invoice_journal.journal.role }}</td>
                                    <td class="text-right">{{ invoice_journal.net_amount|money }}</td>
                                    <td class="text-right">{{ invoice_journal.vat_amount|money }}</td>
                                    <td class="text-right">{{ invoice_journal.total_amount|money }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Update of Payment</h4>
                    <table width="100%" class="table">
                        <thead>
                             <tr>
                                <th colspan="5"></th>
                                <th class="text-right">Debit</th>
                                <th class="text-right">Debit</th>
                                <th class="text-right">Credit</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Created At</th>
                                <th>Reference</th>
                                <th>Report</th>
                                <th>Journal</th>
                                <th>Created By</th>
                                <th>Role</th>
                                <th class="text-right">NETT</th>
                                <th class="text-right">VAT</th>
                                <th class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice_payment in report.payments %}
                                <tr>
                                    <td>{{ invoice_payment.payment.created_at }}</td>
                                    <td>
                                        {% if invoice_payment.payment %}
                                            <a href="{% url 'payment_advice' payment_id=invoice_payment.payment.id %}?invoice_id={{ invoice_payment.invoice_id }}" target="_blank">{{ invoice_payment.payment }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if invoice_payment.payment.journal %}
                                            <a href="{% url 'payments_invoice_journal_detail' invoice_payment.payment.journal.id %}?invoice_id={{ invoice_payment.invoice_id }}" target="_blank">{{ invoice_payment.payment.journal }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if invoice_payment.payment.journal and invoice_payment.payment.journal.ledger  %}
                                            <a  href="{% url 'journal_lines' invoice_payment.payment.journal.ledger.id %}?invoice_id={{ invoice_payment.invoice_id }}" target="_blank">{{ invoice_payment.payment.journal.ledger }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ invoice_payment.payment.profile }}</td>
                                    <td>{{ invoice_payment.payment.role }}</td>
                                    <td class="text-right">{{ invoice_payment.amount|money }}</td>
                                    <td class="text-right">{{ invoice_payment.amount|money }}</td>
                                    <td class="text-right">{{ invoice_payment.amount|money }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}