{% extends 'modal.html' %}
{% load static %}
{% block title %} Invoice with variance {% endblock title %}
{% block content %}

     <div class="modal-body">
         Not all lines have been posted, do you want to correct this or just continue to send the invoice in the flow.
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary btn-large" data-dismiss="modal">Edit</button>
        <button class="btn btn-success btn-large" name="sign_invoice_with_variance_submit"
                type="submit" id="sign_invoice_with_variance_submit"
                data-ajax-url="{% url 'sign_invoice_with_variance' invoice.id %}"><i class="fa fa-check"></i> Send</button>
    </div>

{% endblock %}