{% extends 'base.html' %}
{% block page_title %}Create Payment Method{% endblock page_title %}
{% block content %}

  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}

    <div class="form-group">
        <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}