{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Edit Payment Method{% endblock page_title %}
{% block content %}
   <form method="post" novalidate="novalidate">
   {% csrf_token %}
       {% include 'common/form.html' %}
    <div class="form-group">
      <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-check"></i> Update</button>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
        $(function(){

            const willChooseAccountOnCashUp = $("#id_is_depositable");

            hideShowAccount(willChooseAccountOnCashUp);

            willChooseAccountOnCashUp.on('change', function(e){
                hideShowAccount($(this));
            });
        });

        function hideShowAccount(el)
        {
            if (el.is(":checked")) {
                $("label[for='id_account']").css({'visibility': 'hidden'});
                $("#id_account").css({'visibility': 'hidden'});
                $("#id_account_chosen").css({'visibility': 'hidden'});
            } else {
                $("label[for='id_account']").css({'visibility': 'visible'});
                $("#id_account").css({'visibility': 'visible'});
                $("#id_account_chosen").css({'visibility': 'visible'});
            }
        }
    </script>
{% endblock %}