{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<div class="row">
    <div class="col-12">
        <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
            {{ form.name.label_tag }}
            <div class="controls">
                {% render_field form.name class="form-control" %}
                {% if form.name.auto_id  != "id_tos" %}
                    {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group control-group {% if form.is_active.errors %}error{% endif %}">
            {{ form.is_active.label_tag }}
            <div class="controls">
                {% render_field form.is_active class="form-control" %}
                {% if form.is_active.auto_id  != "id_tos" %}
                    {% if form.is_active.errors %}<span class="help-inline">{{ form.is_active.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group control-group {% if form.is_depositable.errors %}error{% endif %}">
            {{ form.is_depositable.label_tag }}
            <div class="controls">
                {% render_field form.is_depositable class="form-control" %}
                {% if form.is_depositable.auto_id  != "id_tos" %}
                    {% if form.is_depositable.errors %}<span class="help-inline">{{ form.is_depositable.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row" id="account_container">
    <div class="col-12">
        <div class="form-group control-group {% if form.account.errors %}error{% endif %}">
            {{ form.account.label_tag }}
            <div class="controls">
                {% render_field form.account class="form-control chosen-select" %}
                {% if form.account.auto_id  != "id_tos" %}
                    {% if form.account.errors %}<span class="help-inline">{{ form.account.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group control-group {% if form.has_change.errors %}error{% endif %}">
            {{ form.has_change.label_tag }}
            <div class="controls">
                {% render_field form.has_change class="form-control" %}
                {% if form.has_change.auto_id  != "id_tos" %}
                    {% if form.has_change.errors %}<span class="help-inline">{{ form.has_change.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group control-group {% if form.modules.errors %}error{% endif %}">
            {{ form.modules.label_tag }}
            <div class="controls">
                <table class="tbl">
                    {% for module_id, module in modules.items %}
                        <tr>
                            <td>
                                {{ module }}
                            </td>
                            <td>
                                <label>
                                    <input {% if module in payment_method.modules %} checked="checked" {% endif %} type="checkbox" name="modules" value="{{ module_id }}" class="form-control" id="id_modules_{{ module_id }}">
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
