{% extends 'base.html' %}
{% block page_title %} Payment Methods {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
         <a href="{% url 'create_payment_method' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> Create
         </a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-items-list">
            <thead>
                <tr>
                    <th>Name</th>
                    {% for k, module in modules %}
                        <th>{{ module }}</th>
                    {% endfor %}
                    <th>Has Change</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if payment_methods %}
                    {% for payment_method in payment_methods %}
                        <tr data-detail-url="{% url 'edit_payment_method' payment_method.id %}">
                            <td>{{ payment_method.name }}</td>
                            {% for i, module in modules %}
                                <td>
                                    {% if i in payment_method.module_list %}
                                        <span class="bold text-success"><i class="fa fa-check"></i></span>
                                    {% else %}
                                        <span class="bold text-danger"><i class="fa fa-close"></i></span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td>
                                {% if payment_method.payment_option and payment_method.payment_option.has_change %}
                                    <span class="bold text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="bold text-danger"><i class="fa fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                {% if payment_method.is_active %}
                                    <span class="bold text-success">Active</span>
                                {% else %}
                                    <span class="bold text-danger">In-active</span>
                                {% endif %}
                            </td>
                            <td class="text-left actions">
                               <a href="{% url 'edit_payment_method' payment_method.id %}"
                                  data-toggle="tooltip" title="" class="btn-sm btn-primary"
                                  data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                               <a href="{% url 'delete_payment_method' payment_method.id %}" onclick="return confirm('Are you sure you want to delete this payment method')"
                                  data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                  data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no payment methods available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}