<input type="text" class="form-control form-control-sm price money-box text-left"
       tabindex="{{ tab_index }}"
       name="price_{{ row_id }}"
       id="price_{{ row_id }}"
       data-item-id="{{ row_id }}"
       value="{% if value %}{{ value }}{% else %}0{% endif %}" />
<input type="hidden" class="form-control form-control-sm price-including"
       name="price_including_{{ row_id }}"
       id="price_including_{{ row_id }}"
       data-item-id="{{ row_id }}"
       value="" />
<input type="hidden" value=""
       name="total_price_excluding_{{ row_id }}"
       id="total_price_excluding_{{ row_id }}"
       class="total-price-excl open-input"
>
<input type="hidden" value="}"
       name="sub_total_{{ row_id }}"
       id="sub_total_{{ row_id }}"
       class="sub-total"
/>
<input type="hidden" value="" name="total_price_including_{{ row_id }}"
       id="total_price_including_{{ row_id }}"
       class="total-price-incl open-input"
>
