<input type="text" class="form-control form-control-sm unit-box" readonly="readonly" value=""
       tabindex="{{ tab_index }}"
       name="unit_{{ row_id }}"
       id="unit_{{ row_id }}"
       data-item-id="{{ row_id }}"
>
<input type="hidden" class="form-control form-control-sm unit"
       name="unit_id_{{ row_id }}"
       id="unit_id_{{ row_id }}"
       data-item-id="{{ row_id }}"
       value="" />
<input type="hidden" class="net-weight"
       id="net_weight_{{ row_id }}"
       data-item-id="{{ row_id }}"
       value="" />
<input type="hidden" class="gross-weight"
       id="gross_weight_{{ row_id }}"
       data-item-id="{{ row_id }}"
       value="" />