{% extends 'base.html' %}
{% block page_title %} Delete Supplier Domain{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group">
         <button class="btn btn-danger btn-large" type="submit"> <i class="fa fa-trash"></i>  Confirm delete of this supplier domain</button>
    </div>
  </form>
{% endblock %}