{% extends 'base.html' %}
{% block page_title %} Update Supplier Domain {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}

    <div class="form-group">
         <button class="btn btn-primary btn-large" type="submit">Update!</button>
    </div>

  </form>
{% endblock %}