{% extends 'base.html' %}
{% block page_title %} Supplier Domain {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create-supplier-domain' supplier_id=supplier.id %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a supplier domain
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if domains %}
                    {% for domain in domains %}
                        <tr>
                            <td>{{ domain.name }}</td>
                            <td class="text-left actions">
                                <a href="{% url 'edit-supplier-domain' supplier_id=domain.supplier.id pk=domain.id %}" data-toggle="tooltip" title="Edit" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'delete-supplier-domain' supplier_id=domain.supplier.id pk=domain.id %}" data-toggle="tooltip" title="Delete" onclick="confirm('Are you sure you want to delete this domain')" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no document templates available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}