{% extends 'modal.html' %}
{% load static %}
{% block title %} Add Role{% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form" id="add_flow_level_role_form" name="add_flow_level_role_form"
        action="{% url 'create_workflow_level_role' level_id=level.id workflow_id=workflow.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="add_flow_level_role_submit" type="submit" id="add_flow_level_role_submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>

{% endblock %}