{% extends 'modal.html' %}
{% load static %}
{% block title %} Add Workflow Level {% endblock title %}
{% block content %}
      <form method="post" novalidate="novalidate" role="form" id="workflow_level_form"
            name="workflow_level_form"
            action="{% url 'add_level' after=after %}"
      >
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="add_flow_level_submit" type="submit" id="add_flow_level_submit"><i class="fa fa-save"></i> Add</button>
    </div>
  </form>

{% endblock %}
