{% if flow_level.level.id %}
    <li  class="list-group-item-{{ flow_level.level.id }}" id="level_{{ flow_level.level.id }}">
           <div class="list-group-item-text"  style="padding: 20px; border: 1px solid darkred; border-radius: 5px;">
               <span class="pull-right">
                   <a class="ui-state-error-text delete_level pull-right"
                          id="delete_level_{{ flow_level.level }}"
                          href="{% url 'delete_workflow_level' level_id=flow_level.level.id workflow_id=workflow.id %}"
                           onclick="confirm('Are you sure you want to delete this level')"
                       ><i class="fa fa-trash"></i></a>
                  <i class="fa fa-user pull-left "></i>
                  <a href="javascript:void(0)"
                     id="create_workflow_level_role"
                     data-modal="{% url 'create_workflow_level_role' level_id=flow_level.level.id workflow_id=workflow.id %}"
                     class="label label-primary pull-right"><i class="fa fa-plus"></i>
                  </a>
                </span>

                <ul class="list-inline inline">
                    {% for role in flow_level.roles %}
                        <li class="list-inline-item" id="level_{{ flow_level.level }}_role_{{ role.id }}">
                            <span style="color: #f1eded; padding: 2px 4px; background-color: #007bff !important; display: inline; min-height: 100px;">{{ role }}</span>
                               <a class="ui-state-error-text delete_workflow_level_role"
                                  id="delete_workflow_{{ workflow.id }}_level_{{ level.id }}_role_{{ role.id }}"
                                  onclick="confirm('Are you sure you want to delet this role')"
                                  href="{% url 'delete_workflow_level_role' workflow_id=workflow.id level_id=flow_level.level.id role_id=role.id  %}">
                                <i class="fa fa-trash"></i></a>
                            <br />
                        </li>
                    {% endfor %}
                </ul>
           </div>

        <!-- if this flow has signed this invoice, then we can nologer add after it -->
        <div class="list-group-item text-right">
           <a href="javascript:void(0)"
              id="add_flow"
              data-modal="{% url 'add_workflow_level' after=flow_level.level.sort_order workflow_id=workflow.id %}"
              class="label label-info"><i class="fa fa-plus"></i>
           </a>

        </div>
        <div class="list-group-item" style="padding: 10px;"><i class="fa fa-angle-down"></i></div>
    </li>
{% else %}
    <li  class="list-group-item-1" id="level_1">

           <div class="list-group-item-text"  style="padding: 20px; border: 1px solid darkred; border-radius: 5px;">
               <span class="pull-right">
                  <i class="fa fa-user pull-left "></i>
                  <a href="javascript:void(0)"
                     id="add_workflow_role"
                     data-modal="{% url 'add_workflow_level_role' level=1 workflow_id=workflow.id %}"
                     class="label label-primary pull-right"><i class="fa fa-plus"></i>
                  </a>
                </span>
           </div>

        <!-- if this flow has signed this invoice, then we can nologer add after it -->
        <div class="list-group-item text-right">
           <a href="javascript:void(0)"
              id="add_workflow_level"
              data-modal="{% url 'add_wk_level' after=1 workflow_id=workflow.id %}"
              class="label label-info"><i class="fa fa-plus"></i>
           </a>

        </div>
        <div class="list-group-item" style="padding: 10px;"><i class="fa fa-angle-down"></i></div>
    </li>
{% endif %}