<li  class="list-group-item-{{ flow_level.level }}" id="level_{{ flow_level.level }}">

       <div class="list-group-item-text"  style="padding: 20px; border: 1px solid darkred; border-radius: 5px;">
           <span class="pull-right">
              <i class="fa fa-user pull-left "></i>
              <a href="javascript:void(0)"
                 id="add_flow_role"
                 data-modal="{% url 'add_level_role' level=flow_level.level %}"
                 class="label label-primary pull-right"><i class="fa fa-plus"></i>
              </a>
            </span>

            <ul class="list-inline inline">
                {% for role in flow_level.roles %}
                    <li class="list-inline-item" id="level_{{ flow_level.level }}_role_{{ role.id }}">
                        <span style="color: #f1eded; padding: 2px 4px; background-color: #007bff !important; display: inline; min-height: 100px;">{{ role }}</span>
                           <a class="ui-state-error-text delete_invoice_flow_role"
                              href="javascript:void(0);"
                              id="delete_invoice_flow_role_{{ role.id }}"
                              data-ajax-url="{% url 'delete_level_flow_role' level=flow_level.level role_id=role.id  %}">
                            <i class="fa fa-trash"></i></a>
                        <br />
                    </li>
                {% endfor %}
            </ul>
       </div>

    <!-- if this flow has signed this invoice, then we can nologer add after it -->
    <div class="list-group-item text-right">
       <a href="javascript:void(0)"
          id="add_flow"
          data-modal="{% url 'add_level' after=flow_level.level %}"
          class="label label-info"><i class="fa fa-plus"></i>
       </a>

    </div>
    <div class="list-group-item" style="padding: 10px;"><i class="fa fa-angle-down"></i></div>
</li>