	body {
    margin: 0;
    overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}
ul{
	margin: 0px;
}
h1,h2,h3,h3,h5,p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.inner {
    margin: 0 auto;
    width: 1200px;
    max-width: 90%;
}
div#header {
    width: 100%;
    overflow: hidden;
    min-height: 103px;
    height: auto;
    margin: 0 auto;
    background-color: #0C1E50;
    padding-top: 15px;
}
div#logo_holder {
    margin-top: 10px;
    float: left;
}
div#header_right {
    float: right;
}
div#header_contact ul li {
    list-style: none;
    float: left;
    display: inline-block;
}
div#header_contact ul li a {
    color: #9FA6AE;
    font-size: 15px;
    text-decoration: none;
}
div#header_contact ul li:first-child a {
    border-right: solid 1.5px rgba(150, 158, 168, 0.5);
    padding-right: 35px;
    margin-right: 29px;
}
div#header_contact ul li a:hover {
    color: white;
}
div#header_contact {
    display: block;
    overflow: hidden;
    margin-bottom: 18px;
    float: right;
    clear: both;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
ul#main_menu li {
    list-style: none;
    float: left;
    display: inline-block;
}
ul#main_menu li a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 24px;
    line-height: 1em;
    border-right: solid 1px rgba(228, 229, 230, 0.5);
}
ul#main_menu li:last-child a {
    padding-right: 0px;
    border-right: none;
}
ul#main_menu li a:hover, ul#main_menu li a:active {
    color: #9FA6AE;
    text-decoration: underline;
}
div#main_nav {
    display: block;
    clear: both;
}
ul#main_menu,div#header_contact ul {
    margin: 0;
}
div#background {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.background_img img {
    width: 100%;
}
div#strapline {
    position: absolute;
    top: 58%;
    text-align: center;
    left: 0;
    right: 0;
}
div#main_strapline h2 {
    font-size: 45px;
    color: #0C1E50;
    font-weight: 300;
    line-height: 1em;
}
div#main_strapline {
    margin-bottom: 35px;
}
div#sub_strapline {
    margin: 0 auto;
    width: 850px;
    float: none;
    display: block;
}
div#sub_strapline h3 {
    color: #0C1E50;
    font-size: 18px;
    font-weight: 400;
}
.mod_header {
    background-color: #0C1E50;
    overflow: hidden;
    text-align: center;
    margin: 0 auto 60px;
    height: 118px;
}
.mod_header h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 200;
    line-height: 1em;
    margin-top: 36px;
}
form#contact {
    width: 100%;
    max-width: 100%;
}
form#contact input.input_field {
    background-color: #EDEEF2;
    border: none;
    height: 71px;
    width: 370px;
    padding-left: 21px;
    margin: 3px;
    display: inline-block;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #5f6367;
    font-weight: 600;
}
form#contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
    text-transform: uppercase;
    font-size: 18px;
    color: #9FA6AE;
    font-weight: 600;
}
form#contact :-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-transform: uppercase;
    font-size: 18px;
    color: #9FA6AE;
    font-weight: 600;
}
form#contact ::-ms-input-placeholder { /* Microsoft Edge */
    text-transform: uppercase;
    font-size: 18px;
    color: #9FA6AE;
    font-weight: 600;
}
input#submit {
    background-color: #FF874C;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    height: 71px;
    width: 397px;
    border: none;
    margin-left: 2px;
}
input#submit:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    color: #ff874c;
    border: solid 1px #ff874c;
}

.submit {
    background-color: #FF874C;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    margin-left: 2px;
}
.submit:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    color: #ff874c;
    border: solid 1px #ff874c;
}

.mod_intro_text p {
    color: #8A939B;
    font-size: 20px;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
}
div#contact_mod {
    width: 100%;
    overflow: hidden;
    margin: 0 auto 93px;
}
.mod_intro_text {
    margin: 0 auto 11px;
}
div#happy_clients {
    background-color: #DADCE4;
    width: 100%;
    overflow: hidden;
    padding-top: 38px;
    padding-bottom: 65px;
}
div#happy_clients h2 {
    font-size: 45px;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    margin-bottom: 70px;
    line-height: 1em;
}
div#happy_clients table {
    width: 100%;
}
div#happy_clients table td {
    display: inline-block;
    width: 19.8%;
}
div#happy_clients table td img {
    display: block;
    margin: 0 auto;
    float: none;
}
div#docu_features {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 106px;
}
div#docu_features_header h1 {
    font-size: 45px;
    color: #0C1E50;
    font-weight: 900;
    text-align: center;
    line-height: 1em;
}
div#docu_features_header {
    margin: 0 auto 103px;
}
.singup_cta {
    border: solid 2px #FF874C;
    border-radius: 3px;
}
.singup_cta:hover {
    background-color: #FF874C;
    border: solid 3px #dadce4;
}
.singup_cta:hover a {
    color: #ffffff;
}
.singup_cta a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: #FF874C;
    font-size: 25px;
    font-weight: 700;
    padding-top: 24px;
    padding-bottom: 29px;
    line-height: 1em;
}
div#docu_features_holder {
    margin-bottom: 106px;
    overflow: hidden;
}
div#feat_items_col_1 {
    float: left;
    display: inline-block;
    width: 339px;
    overflow: hidden;
}
div#feat_items_col_2 {
    float: left;
    display: inline-block;
    width: 339px;
    padding-left: 48px;
    padding-right: 42px;
    border-left: solid 1px #DADCE4;
    border-right: solid 1px #DADCE4;
    margin-right: 48px;
    margin-left: 42px;
}
div#feat_items_col_3 {
    width: 339px;
    float: left;
    display: inline-block;
}
.feat_item_title h3 {
    color: #0C1E50;
    font-size: 18px;
    font-weight: 900;
    margin-top: 16px;
    line-height: 1em;
}
.feat_item_img {
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.feature_item_top {
    height: 52px;
    margin-bottom: 30px;
}
.feat_item_title {
    float: left;
    display: inline-block;
}
div#feat_item_text p {
    font-size: 18px;
    color: #0C1E50;
    font-weight: 400;
}
div.feature_item {
    margin-bottom: 60px;
}












div#footer {
    background-color: #DADCE4;
    min-height: 120px;
    height: auto;
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 15px;
}
div#footer_logo {
    float: left;
}
div#footer_nav {
    float: right;
    margin-top: 21px;
}
ul#footer_menu li {
    float: left;
    display: inline-block;
}
ul#footer_menu li a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    padding: 6px 16px;
    font-weight: 600;
}
ul#footer_menu {
    margin: 0;
}

.bold_100{
	font-weight: 100;
}
.bold_200{
	font-weight: 200;
}
.bold_300{
	font-weight: 300;
}
.bold_400{
	font-weight: 400;
}
.bold_500{
	font-weight: 500;
}
.bold_600{
	font-weight: 600;
}
.bold_700{
	font-weight: 700;
}
.bold_800{
	font-weight: 800;
}
.bold_900{
	font-weight: 900;
}



/* ------------------------- PACKAGES STYLING ------------ */


.carousel {
    height: 448px !important;
}
.carousel .carousel-item {
    width: 459px !important;
    height: 448px !important;
    cursor: pointer;
    opacity: 1 !important;
}
a.pack_readmore {
    color: #FF874C;
    font-size: 15px;
    border: solid 1px #FF874C;
    padding: 4px 25px;
    border-radius: 2px;
    line-height: 1em;
    font-weight: 600;
}
a.pack_readmore:hover {
    background-color: #FF874C;
    color: #ffffff;
    text-decoration: underline;
}
p.pack_item_intro {
    font-size: 18px;
    color: #0C1E50;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 35px;
}
ul.pack_item_details {
    margin-bottom: 45px;
}
ul.pack_item_details li {
    font-size: 15px;
    color: #0C1E50;
    list-style-type: disc !important;
    list-style-position: inside;
    font-weight: 600;
    line-height: 1.2em;
}
div.pack_item_header {
    overflow: hidden;
    height: 71px;
    padding-left: 18px;
    padding-right: 30px;
    padding-top: 22px;
}
div#pack_item_header_1 {
    background-color: #FFECE3;
}
div#pack_item_header_1 p {
    color: #FF874C;
}
div.pack_item_header p.pack_item_title {
    font-size: 25px;
    font-weight: 600;
    float: left;
    display: inline-block;
    line-height: 1em;
}
div.docu_pack_item {
    background-color: #ffffff;
}
span.bulletpoint {
    font-size: 11px;
    margin-right: 11px;
    position: relative;
    top: -4px;
}
.pack_item_content {
    padding-top: 20px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;
}
p.pack_item_price {
    font-size: 24px;
    float: right;
    font-weight: 300;
    line-height: 1em;
}
div#pack_item_header_2 {
    background-color: #FFD7C4;
}
div#pack_item_header_2 p.pack_item_title {
    color: #FF864C;
}
div#pack_item_header_2 p {
    color: #FF864C;
}
div#pack_item_header_3 {
    background-color: #FFAD86;
}
div#pack_item_header_3 p {
    color: #ffffff;
}
div#docu_packages {
    padding-top: 100px;
    padding-bottom: 55px;
    background-color: #ECEDF1;
}
div#pack_item_header_4 {
    background-color: #FF9562;
}
div#pack_item_header_4 p {
    color: #ffffff;
}
div#pack_item_header_5 {
    background-color: #FF7C3E;
}
div#pack_item_header_5 p {
    color: #ffffff;
}