div#po-page {
	padding: 20px;
	border: 1px solid #4C4D4D;
	font-family: Verdana, Geneva, sans-serif;
	width: auto;
	float: left;
}

table#po-docu {
	font-size: 14px;
	color: #4C4D4D;
	width: 1000px;
	vertical-align: top;
}

td.space {
	padding: 5px 0px;
}

td.line {
	border-top: 1px solid #ccc;
}

table#po-docu td {
	vertical-align: top;
}

table#po-docu #logo {
	width: 127px ;
	height: 58px;
	border: 1px solid #ccc; 			margin: 0px 50px;
}

.po-deets {
	text-align: right;
}

.po-ship {
	border-left: 1px solid #ccc;
	padding-left: 20px;
}

tr.item-titles {font-size: 14px; font-weight: bold;}

.df-copyright {
	text-align: center;
	font-size:	10px;
	padding: 5px;
}

.po-total {
	text-align: right;
	border-right: 1px solid #ccc;
	padding-right: 10px;
}

.po-brdr-r {
	border-right: 1px solid #ccc;
	padding-right: 10px;
}

.po-right-align {
	text-align: right;
}

.po-pad-left {
	padding-left: 10px;
}
