@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,greek-ext,vietnamese);
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	/*font-family: 'Open Sans', sans-serif;*/
	color: #2c3e50;
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
.page-header {
	vertical-align: middle;
	margin: 5px 0 5px 0;
	padding: 0;
	border-bottom: 1px solid #e9e9e9;
}
.page-header h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #4c4d5a;
	display: inline-block;
	margin-bottom: 15px;
	text-shadow: 0 1px #fff;
}
.breadcrumb {
	display: inline-block;
	background: none;
	margin: 8px 0 19px 0;
	padding: 0 10px;
	border-radius: 0;
}
.breadcrumb li a {
	color: #999999;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
.breadcrumb li a:hover {
	text-decoration: none;
}
.breadcrumb li + li:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #BBBBBB;
	padding: 0 5px;
	font-size: 10px;
}
a:hover, a:focus {
	text-decoration: none;
}
#container {
	min-height: 100%;
	width: 100%;
	position: relative;
	background: #f6f6f6;
	overflow: hidden;
}
/*.container-fluid {
	padding: 0 20px;
}*/
#header {
	min-height: 0px;
	background: #0C1E50;
	border-bottom: none;
	margin: 0;
	padding: 0;
}
#header .container-fluid {
	padding: 0;
}
#header .navbar-header {
	transition: 0.3s all;
	width: 230px;
	display: none;
}
#header .navbar-brand {
	margin-left: 8px;
}

#header .navbar-nav > li {
	display: inline-block;
}
/*#header .navbar-right > li {
	border-left: 1px solid #eee;
}*/

#header .navbar-right {
	margin-right: 0;
	margin: 0px 0px 0px 0px;
	float: right;
}
#header #user-profile {
	max-width: 30px;
	margin-right: 15px;
}

#header .nav > li > a {
	padding: 0px 21px;
	line-height: 45px;
	cursor: pointer;
	color: #fff;
	border-left: 0px solid #E1E1E1;
}

#header .nav > li.dropdown > a {
	padding-left: 10px;
	padding-right: 10px;
}
#header .nav > li.dropdown > a {
	padding-left: 10px;
	padding-right: 10px;
}
/* Desktop */
@media (min-width: 768px){
	#header .navbar-header {
		display: inline-block;
	}

	#header #user-profile {
		max-width: none;
	}

	#header .nav > li > a {
		line-height: 35px;
	}
	
	ul.nav.navbar-nav.navbar-right {

    line-height: 60px !important;
    height: 60px;
    vertical-align: middle;
    padding: 12px 0px;

}

#send_access_credentials {
    width: 100%;
}

fieldset.col.well {
    padding: 0px 8px;
}


.tablesorter-headerRow {
    font-size: 8px !important;
}

.page-title {
    background: #FF884E;
    padding: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
}

#pay_suppliers_invoices td {
    font-size: 12px;
}

ul.list-inline.inline li {
    float: left;
}

div.current li.flow-role.pending-role {
	background: #EEA6AD;	
	padding: 5px;
	height: 55px;
	width: 135px;
	font-size: 14px;
	margin: 2px;
}

div.current li.flow-role.parked-role {
	background: #F8F8B8;	
	padding: 5px;
	height: 55px;
	width: 135px;
	font-size: 14px;
	margin: 2px;
}

div.current li.flow-role.escalated-role, .escalated-role {
	background: #DADADA;	
	padding: 5px;
	height: 55px;
	width: 135px;
	font-size: 14px;
	margin: 2px;
}


div.processing li.flow-role.processing-role {
	background: #BFE4FF;	
	padding: 5px;
	height: 55px;
	width: 135px;
	font-size: 14px;
	margin: 2px;
}

li.flow-role.processed-role {
	background: #D5EAD7;	
	padding: 5px;
	height: 55px;
	width: 135px;
	font-size: 14px;
	margin: 2px;
}

div.signed ul.list-inline.inline li.list-inline-item {
	background: #D5EAD7;	
	padding: 5px;
	height: 55px;
	width: 135px;
	font-size: 14px;
	margin: 2px;
}


div.list-group-item ul.list-inline.inline small {
    font-size: 10px;
    line-height: 0.5;
}

div.list-group.flows p.list-group-item-text {
    width: 26px;
    position: absolute;
    right: 0px;
    z-index: 0;
}
	
}

#button-menu {
	line-height: 30px;
	font-size: 24px;
	float: left;
	padding: 10px 16px;
	line-height: 25px;
	display: inline-block;
	cursor: pointer;
	color: #6D6D6D;
	border-right: 1px solid #eee;
}
/* Desktop */
@media (min-width: 768px){
	#button-menu {
		display: none;
	}
}
#column-left {
	width: 300px;
	height: 100%;
	overflow: auto;
	background-color: #0C1E50;
	position: absolute;
	top: 0px;
	left: -235px;
	padding-top: 60px;
	z-index: 10;
}
#column-left::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(200,200,200,0);
}
#column-left::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(128,139,156,0.2);
}
#content {
	padding-bottom: 40px;
}
#column-left, #content, #footer {
	transition: all 0.3s;
}
#column-left + #content, #column-left + #content + #footer {
	position: relative;
	left: 0px;
}
#column-left.active {
	left: 0px;
}
#column-left.active + #content, #column-left.active + #content + #footer {
	left: 300px;
}
/* Desktop */
@media (min-width: 768px){
	#column-left {
		left: 0px;
	}
	#column-left + #content.active, #column-left + #content + #footer {
		left: 0px;
		margin-left: 300px;
	}

	#column-left.active + #content, #column-left.active + #content + #footer {
		left: 0px;
		margin-left: 300px;
	}
}

/* Navigation */
#navigation {
	text-transform: uppercase;
	padding: 5px;
	color: #FFFFFF;
	/*background: #19222E;*/
	display: block;
}

/* Menu */
#menu, #menu ul, #menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu {
	margin-bottom: 25px;
}
#menu li a {
	text-decoration: none;
	display: block;
	padding: 5px;
	cursor: pointer;
	border-bottom: 0px solid #515151;
}
#menu li a.parent:after {
	font-family: FontAwesome;
	float: right;
	margin-right: 8px;
}
#menu li a.parent:after {
	content: "\f107";
}
#menu li a.collapsed:after {
	content: "\f105";
}
/* 1st lvl */
#menu > li {
	position: relative;
	border-bottom: 1px solid #2b3642;
}
#menu > li > a {
	font-size: 11px;
	color: #b3cbdd;
	padding-left: 20px;
	border-bottom: 0px solid #585858;
}
#menu > li > a:hover {
	background-color: #444444;
}
#menu > li > a > i {
	font-size: 13px !important;
	width: 18px;
	margin-right: 5px;
}
#menu > li.active > a {
	color: #0b91d2;
	background-color: #171b21;
}
#menu > li > ul {
	background-color: #293141;
}
/* 2nd lvl */
#menu li li a {
	color: #7f8a9b;
}
#menu li li a:before {
	content: "\f101";
	font-size: 13px;
	font-family: FontAwesome;
	margin-left: 10px;
	margin-right: 10px;
	transition: margin ease 0.5s;
}
#menu li li a:hover:before {
	margin-right: 20px;
}
#menu li li a:hover {
	color: #FFFFFF;
	background-color: #242d37;
}
#menu li li.active > a {
	color: #0b91d2;
	background-color: #242d37;
}
#menu li ul a {
	padding-left: 20px;
	font-size: 11px;
}
#menu li li ul a {
	padding-left: 40px;
}
#menu li li li ul a {
	padding-left: 60px;
}
#menu li li li li ul a {
	padding-left: 80px;
}

/* footer */
#footer {
	height: 100px;
	text-align: center;
}
/* Navs
/* Tabs */
.nav-tabs > li > a {
	color: #a5a5a5;
	border-radius: 2px 2px 0 0;
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}
.nav-tabs {
	margin-bottom: 25px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	font-weight: bold;
	color: #333;
}
.form-control:hover {
	border: 1px solid #b9b9b9;
	border-top-color: #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
div.required .control-label:not(span):before, td.required:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
.btn-group {
	white-space: nowrap;
}
.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
	font-family: FontAwesome;
	color: #1E91CF;
	content: "\f059";
	margin-left: 4px;
}
fieldset legend {
	padding-bottom: 5px;
}
input[type="radio"], input[type="checkbox"] {
	margin: 2px 0 0;
}
.radio, .checkbox {
	min-height: 18px;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	position: relative;
	width: 13px;
	width: 16px \0;
	height: 13px;
	height: 16px \0;
	-webkit-appearance: none;
	background: white;
	border: 1px solid #dcdcdc;
	border: 1px solid transparent \0;
	border-radius: 1px;
}
input[type="radio"]:focus, .radio input[type="radio"]:focus, .radio-inline input[type="radio"]:focus, input[type="checkbox"]:focus, .checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus {
	border-color: #4d90fe;
	outline: 0;
}
input[type="radio"]:active, .radio input[type="radio"]:active, .radio-inline input[type="radio"]:active, input[type="checkbox"]:active, .checkbox input[type="checkbox"]:active, .checkbox-inline input[type="checkbox"]:active {
	background-color: #ebebeb;
	border-color: #c6c6c6;
}
input[type="radio"]:checked, .radio input[type="radio"]:checked, .radio-inline input[type="radio"]:checked, input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked {
	background: #fff;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	width: 15px;
	width: 18px \0;
	height: 15px;
	height: 18px \0;
	border-radius: 1em;
}
input[type="radio"]:checked::after, .radio input[type="radio"]:checked::after, .radio-inline input[type="radio"]:checked::after {
	position: relative;
	top: 3px;
	left: 3px;
	display: block;
	width: 7px;
	height: 7px;
	content: '';
	background: #666;
	border-radius: 1em;
}
input[type="checkbox"]:hover, .checkbox input[type="checkbox"]:hover, .checkbox-inline input[type="checkbox"]:hover {
	border-color: #c6c6c6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	-webkit-box-shadow: none \9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	box-shadow: none \9;
}
input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {
	position: absolute;
	top: -6px;
	left: -5px;
	display: block;
	content: url('../images/checkmark.png');
}
.table thead td {
	font-weight: bold;
}
.table thead > tr > td, .table tbody > tr > td {
	vertical-align: middle;
}
.table a.asc:after {
	content: " \f106";
	font-family: FontAwesome;
}
.table a.desc:after {
	content: " \f107";
	font-family: FontAwesome;
}
.pagination {
	margin: 0;
}
.form-group {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
}
.form-group + .form-group {
	border-top: 1px solid #ededed;
}
/* Panels */
.panel {
	border-radius: 0px;
}
.panel .panel-heading {
	position: relative;
	overflow: hidden;
}
.panel-heading h3 i {
	margin-right: 5px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.panel-heading h3 {
	font-weight: 500;
	display: inline-block;
}
/* Primary Panel */
.panel-primary {
	border: 1px solid #c3e4f6;
}
.panel-primary .panel-heading {
	color: #1e91cf;
	border-color: #96d0f0;
	background: white;
}
/* Default Panel */
.panel-default {
	border: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
}
.panel-default .panel-heading {
	color: #4c4d5a;
	border-color: #dcdcdc;
	background: #f6f6f6;
	text-shadow: 0 -1px 0 rgba(50,50,50,0);
}
.img-thumbnail i {
	color: #FFFFFF;
	background-color: #EEEEEE;
	text-align: center;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	padding-top: 20px;
	vertical-align: middle;
	display: inline-block;
}
.img-thumbnail.list i {
	width: 40px;
	height: 40px;
	padding-top: 10px;
}
/* Tiles */
.tile {
	margin-bottom: 15px;
	border-radius: 3px;
	color: #FFFFFF;
	transition: all 1s;
}
.tile-primary {
	background-color: #1b80c2;
}
.tile-success {
	background-color: #53b953;
}
.tile-warning {
	background-color: #f3aa41;
}
.tile-danger {
	background-color: #e45847;
}
.tile:hover {
	opacity: 0.95;
}
.tile a {
	color: #FFFFFF;
}
.tile-heading {
	padding: 5px 8px;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
	background-color: rgba(255,255,255,0.1);
}
.tile .tile-heading .pull-right {
	transition: all 1s;
	opacity: 0.7;
}
.tile:hover .tile-heading .pull-right {
	opacity: 1;
}
.tile-body {
	padding: 15px;
	color: #FFFFFF;
	line-height: 48px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.tile .tile-body i {
	font-size: 50px;
	opacity: 0.3;
	transition: all 1s;
}
.tile:hover .tile-body i {
	color: #FFFFFF;
	opacity: 1;
}
.tile .tile-body h2 {
	font-size: 42px;
}
.tile-footer {
	padding: 5px 8px;
	background-color: rgba(0,0,0,0.1);
}
#stats {
	border-radius: 2px;
	color: #808b9c;
	background: #2e3a47;
	margin: 15px 20px;
	padding: 5px 0;
}
#stats ul, #stats li {
	padding: 0;
	margin: 0;
	list-style: none;
}
#stats li {
	font-size: 11px;
	color: #9d9d9d;
	padding: 5px 10px;
	border-bottom: 1px dotted #373737;
}
#stats div:first-child {
	margin-bottom: 4px;
}
#stats .progress {
	height: 3px;
	margin-bottom: 0;
}
.jqvmap-label {
	z-index: 999;
}
.alert {
	overflow: auto;
}

/* Fix form-group margin inside the modal */
.modal-body .form-group {
	margin: 0;
}
/* Fixed Sumernote Button Height */
.note-toolbar.panel-heading i {
	font-size: 14px;
}
/* Filemanager Folder Size */
#filemanager .fa-folder.fa-5x {
	font-size: 10.5em;
}
#extension-list {
	color: #4b525d;
}
#extension-list h2 {
	margin-top: 54px;
	margin-bottom: 44px;
}
#extension-list section {
	border: 1px solid #ddd;
}
#extension-list section > div {
	position: relative;
}
#extension-list section > div + div {
	border-top: 1px solid #ddd;
	padding: 10px;
}
#extension-list section:hover {
	border: 1px solid #1b80c2;
}
#extension-list > .row {
	margin-top: 40px;
}
#extension-list > .row > * {
	margin-bottom: 30px;
}

#extension-list .extension-preview {
	min-height: 150px;
}
#extension-list .extension-preview .extension-description {
	position: absolute;
	background-color: rgba(36, 45, 55, 0.9);
	color: #fff;
	padding: 10px;
	font-size: 14px;
	line-height: 16px;
	opacity: 0;
	height: 100%;
	width: 100%;
}
#extension-list .extension-preview .extension-description:hover {
	opacity: 1;
}
 @media screen and (min-width: 992px) and (max-width: 1199px) {
#extension-list .extension-preview {
	min-height: 123px;
}
#extension-list .extension-preview .extension-description {
	font-size: 12.5px;
	padding: 6px;
}
}
#extension-list .extension-preview img {
	margin: 0 auto;
}
#extension-list .extension-name {
	min-height: 100px;
}
#extension-list .extension-name p {
	color: #000;
	margin-bottom: 0;
	font-weight: 600;
}
#extension-list .extension-name p:first-child {
	font-size: 17px;
}
#extension-list .extension-name p span {
	color: #4b525d;
	font-weight: 400;
}
#extension-list .extension-name h4 a, #extension-list .extension-name p a {
	color: #000;
}
#extension-list .extension-name + div > .row {
	margin-top: 0;
}
 @media screen and (min-width: 992px) and (max-width: 1199px) {
#extension-list .extension-name + div > .row {
	font-size: 14px;
}
}
#extension-list i {
	color: #10b4e9;
}
#extension-list span {
	font-weight: 600;
}

#marketplace-extension-info #banner img {
	margin-left: auto;
	margin-right: auto;
}
#marketplace-extension-info .extension-review {
	border-top: 5px solid #1b80c2;
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#marketplace-extension-info .nav-tabs {
	font-size: 14px;
}
#marketplace-extension-info .nav-tabs + .tab-content {
	margin-top: 30px;
	margin-bottom: 30px;
}
#marketplace-extension-info iframe {
	width: 100%;
	height: 500px;
}
 @media screen and (max-width: 767px) {
#marketplace-extension-info iframe {
	height: 350px;
}
}
#marketplace-extension-info #buy {
	color: #4b525d;
}
#marketplace-extension-info #buy #price {
	color: #000;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
}
#marketplace-extension-info #buy i {
	color: #10b4e9;
}
#marketplace-extension-info #buy hr {
	border-color: #ddd;
	margin: 10px 0;
}
#marketplace-extension-info #sales {
	color: #4b525d;
}
#marketplace-extension-info #sales i {
	color: #7ec239;
	margin-right: 10px;
	font-size: 24px;
}
#marketplace-extension-info #sales strong {
	font-size: 24px;
}
#marketplace-extension-info #comment {
	color: #4b525d;
}
#marketplace-extension-info #comment i {
	margin-right: 10px;
	font-size: 22px;
}
#marketplace-extension-info #comment strong {
	font-size: 22px;
}
#marketplace-extension-info .reply > div {
	margin-top: 15px;
}

#marketplace-extension-info .well .media {
	line-height: 1.2;
}
#marketplace-extension-info .well .media .media-body {
	padding-top: 6px;
}
#marketplace-extension-info .well .media .media-body span {
	font-size: 24px;
	font-weight: 600;
}
#marketplace-extension-info .well .media .media-body small {
	color: #878f9a;
}
 @media screen and (max-width: 992px) {
#marketplace-extension-info .container-fluid {
	padding-bottom: 30px;
}
}
.list-check {
	list-style: none;
}
.list-check li::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	margin-left: -30px;
	width: 29px;
	display: inline-block;
	color: #7ebd38;
}
.list-check.list-color-blue li::before {
	color: #02afe9;
}

.well.filter {
	background-color: #ffffff;
}


@font-face {
	font-family: 'opencart';
	src: url('fonts/docuflow.eot?h4wsna');
	src: url('fonts/docuflow.eot?h4wsna#iefix') format('embedded-opentype'), url('fonts/docuflow.ttf?h4wsna') format('truetype'), url('fonts/docuflow.woff?h4wsna') format('woff'), url('fonts/docuflow.svg?h4wsna#opencart') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="opencart-icon-"], [class*=" opencart-icon-"] {
	font-family: 'opencart' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.opencart-icon-comment:before {
	content: "\e91b";
}
.opencart-icon-cart-mini:before {
	content: "\e91c";
}


.is-invalid-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }

	#column-left.active {
		margin-left: -250px;
	}
	
	
	.table-responsive tr {
    font-size: 11px;
}

.maxl{
  margin:25px ;
}
.inline{
  display: inline-block;
}
.inline + .inline{
  margin-left:10px;
}
.radio{
  color:#999;
  font-size:15px;
  position:relative;
}
.radio span{
  position:relative;
   padding-left:20px;
}
.radio span:after{
  content:'';
  width:15px;
  height:15px;
  border:3px solid;
  position:absolute;
  left:0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
   cursor: pointer;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio input[type="radio"]:checked + span{
  color:#0B8;
}
.radio input[type="radio"]:checked + span:before{
    content:'';
  width:5px;
  height:5px;
  position:absolute;
  background:#0B8;
  left:5px;
  top:6px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}

h3.page-title {
	font-size: 18px;
    background-color: #1e2a36;
    color: white;
    padding: 3px;
	text-transform: capitalize;
}

#sync_emails {
    padding: 2px 3px;
}

#sidebarCollapse {
    background: none;
    font-size: 20px;
}

table.table.table-bordered tr:hover {
    background: #eee;
}


img.docuflow-logo {
width: 220px !important; height: auto !important;
}

.logo{
	float: left;
    margin-bottom: 5px;
	color: #1e91cf;
    text-decoration: none;
}


.img-logo {
	width: 200px !important;
	margin: 5px 0px;
}

#invoice_detail_container {
    background: #333;
}

div#po-page {
	padding: 20px;
	font-family: Verdana, Geneva, sans-serif;
	width: 100%;
	margin: 20px auto;
	background: #fff;
	box-shadow: 2px 2px 3px #000;	
}

table#po-docu {
	font-size: 12px;
	color: #4C4D4D;
	width: 950px;
	vertical-align: top;
}
table#invoice-document {
	font-size: 12px;
	color: #4C4D4D;
	vertical-align: top;
}

td.space {
	padding: 5px 0px;	
}

td.line {
	border-top: 1px solid #ccc;
}

table#po-docu td {
	vertical-align: top;	
}

table#po-docu #logo {
	min-width: 127px ;
	min--height: 58px;
	margin: 0px 50px;
}

.po-deets {
	text-align: right;	
}

.po-ship {
	border-left: 1px solid #ccc;
	padding-left: 20px;
}	

tr.item-titles {font-size: 14px; font-weight: bold;}

.df-copyright {
	text-align: center;
	font-size:	10px;
	padding: 5px;	
}

.po-total {
	text-align: right;
	border-right: 1px solid #ccc;
	padding-right: 10px;	
}

.po-brdr-r {
	border-right: 1px solid #ccc;
	padding-right: 10px;	
}

.po-right-align {
	text-align: right;	
}

.po-pad-left {
	padding-left: 10px;	
}

.table td, th {
    font-size: 11px;
    font-family: inherit;
}
input.checkbox-input {
    border: 1px solid #8c8c8c !important;
}
input.radio-input {
    border: 1px solid #8c8c8c !important;
}

span.small {
	font-size: 10px !important;
}

span.intervention {
    background-color: #FE874C !important;
}

#save_invoice_adjustments {
	margin-top: 0px;
	margin-bottom: 1px;
	display: none;
}

.panel-heading .form-control{
	display: inline-block;
	width: auto;
    padding: 0px 3px;
	margin-left: 3px;
}

table#invoices tbody>tr:hover {
	background-color: lightgray;
	border-top: 1px solid #000000;
}

.input-group-label {
    padding: 0px 0px !important;
    font-weight: normal;
    line-height: 1;
    color: #2c3e50;
    text-align: center;
    background-color: #ecf0f1;
    border: 1px solid #dce4ec;
    border-radius: 4px;
}

#undo_redo_to{
  min-height: 500px !important;
}
#undo_redo{
  min-height: 500px !important;
}

.form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.table-header{
    background-color: #e3ebed !important;
}

.bold{
    font-weight: bolder;
}

.signing-footer {
	height: 40px !important;
}


.writtable {
	border-bottom: 1px solid #000000 !important;
}


.md-input {
    position: relative;
    margin-bottom: 30px;
}
    .md-input .md-form-control {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-bottom: 2px solid #CACACA;
        box-shadow: none;
        width: 100%;
    }

    .md-input label {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .md-input .bar:before {
        left: 50%;
    }

    .md-input .bar:after {
        right: 50%;
    }

    .md-input .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    .md-input .md-form-control:focus ~ label, .md-input .md-form-control:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #183D5D;
}
.md-input .bar:before, .md-input .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #03A9F4;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input .md-form-control:focus ~ .bar:before, .md-input .md-form-control:focus ~ .bar:after {
    width: 50%;
}

.form-control-small {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
	width: 50%;
}

.grayout, .sales-item-picked, .not-updated, .draft, .pending {
	color: #A3A3A3 !important;
}

.show {
	display: none;
}

.hide {
	display: block;
}

.select-2, .django-select2 {
  width: 200px;
}

ul.form-control {
	list-style: none;
}

ul.form-control li {
	margin-left: 10px;
	padding: 5px;
}

ul.form-control li label input[type='checkbox']{
	display: inline-block;
	padding-left: 10px;
	margin-top: -1px;
}

.full-content {
	display: none;
}

.totals-line {
	background-color: #e1e5e6;
	color: #000000;
}

.btn-gray {
    color: rgba(92, 92, 92, 0.73);
    background-color: rgba(12, 12, 12, 0.64);
    border-color: #3498DB;
	color: white !important;
}

.left-pad {
	 padding-right: 3px !important;
}
.right-pad {
	 padding-right: 3px !important;
}

.quantity-box {
    width: 75px !important;
}

.money-box {
    width: 80px !important;
}

.quantity-box {
    width: 75px !important;
}

.unit-box {
    width: 50px !important;
}

.search-box {
    width: 70px !important;
}


.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



.loading-start,.btn-teal.loading-start,label.loading-start{
	background:#52bcc7 url(/images/response-loader.gif) no-repeat 50%;pointer-events:none;color:transparent;
}
input[type="submit"].loading-stop,input[type="submit"].loading-error,.btn-teal.loading-stop,.btn-teal.loading-error{
	background:#52bcc7;pointer-events:auto;color:#fff;
}
label.loading-start{
	background:transparent url(/images/upload-loader.gif) no-repeat 50%;
}

.loading {background:url('/images/ajax-loader.gif') no-repeat right center;}

.scrollable {height: 70%; overflow: auto;}

.thead-blue {
	background-color: #0C1E50;
	color: #FFFFFF;
}

.active-button {
    background-color: grey !important;
    color: white !important;
	border: grey !important;
}

@-ms-viewport{width:device-width}html{-webkit-box-sizing:border-box;box-sizing:border-box;-ms-overflow-style:scrollbar}*,::after,::before{-webkit-box-sizing:inherit;box-sizing:inherit}.container{position:relative;margin-left:auto;margin-right:auto;padding-right:15px;padding-left:15px}@media (min-width:576px){.container{padding-right:15px;padding-left:15px}}@media (min-width:768px){.container{padding-right:15px;padding-left:15px}}@media (min-width:992px){.container{padding-right:2px;padding-left:2px}}@media (min-width:1200px){.container{padding-right:2px;padding-left:2px}}@media (min-width:576px){.container{width:540px;max-width:100%}}@media (min-width:768px){.container{width:720px;max-width:100%}}@media (min-width:992px){.container{width:960px;max-width:100%}}@media (min-width:1200px){.container{width:1140px;max-width:100%}}.container-fluid{position:relative;margin-left:auto;margin-right:auto;padding-right:2px;padding-left:2px}@media (min-width:576px){.container-fluid{padding-right:15px;padding-left:15px}}@media (min-width:768px){.container-fluid{padding-right:2px;padding-left:2px}}@media (min-width:992px){.container-fluid{padding-right:5px;padding-left:5px}}@media (min-width:1200px){.container-fluid{padding-right:5px;padding-left:5px}}.row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}@media (min-width:576px){.row{margin-right:0px;margin-left:0px}}@media (min-width:768px){.row{margin-right:0px;margin-left:0px}}@media (min-width:992px){.row{margin-right:0px;margin-left:0px}}@media (min-width:1200px){.row{margin-right:0px;margin-left:0px}}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}@media (min-width:576px){.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{padding-right:15px;padding-left:15px}}@media (min-width:768px){.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{padding-right:15px;padding-left:15px}}@media (min-width:992px){.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{padding-right:2px;padding-left:2px}}@media (min-width:1200px){.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{padding-right:2px;padding-left:2px}}.col{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto}.col-1{-webkit-box-flex:0;-webkit-flex:0 0 8.333333%;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-webkit-box-flex:0;-webkit-flex:0 0 16.666667%;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-webkit-box-flex:0;-webkit-flex:0 0 33.333333%;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-webkit-box-flex:0;-webkit-flex:0 0 41.666667%;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-webkit-box-flex:0;-webkit-flex:0 0 58.333333%;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-webkit-box-flex:0;-webkit-flex:0 0 66.666667%;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-webkit-box-flex:0;-webkit-flex:0 0 83.333333%;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-webkit-box-flex:0;-webkit-flex:0 0 91.666667%;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.pull-0{right:auto}.pull-1{right:8.333333%}.pull-2{right:16.666667%}.pull-3{right:25%}.pull-4{right:33.333333%}.pull-5{right:41.666667%}.pull-6{right:50%}.pull-7{right:58.333333%}.pull-8{right:66.666667%}.pull-9{right:75%}.pull-10{right:83.333333%}.pull-11{right:91.666667%}.pull-12{right:100%}.push-0{left:auto}.push-1{left:8.333333%}.push-2{left:16.666667%}.push-3{left:25%}.push-4{left:33.333333%}.push-5{left:41.666667%}.push-6{left:50%}.push-7{left:58.333333%}.push-8{left:66.666667%}.push-9{left:75%}.push-10{left:83.333333%}.push-11{left:91.666667%}.push-12{left:100%}.offset-1{margin-left:8.333333%}.offset-2{margin-left:16.666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.333333%}.offset-5{margin-left:41.666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.333333%}.offset-8{margin-left:66.666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.333333%}.offset-11{margin-left:91.666667%}@media (min-width:576px){.col-sm{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto}.col-sm-1{-webkit-box-flex:0;-webkit-flex:0 0 8.333333%;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-sm-2{-webkit-box-flex:0;-webkit-flex:0 0 16.666667%;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-sm-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-webkit-box-flex:0;-webkit-flex:0 0 33.333333%;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-webkit-box-flex:0;-webkit-flex:0 0 41.666667%;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-webkit-box-flex:0;-webkit-flex:0 0 58.333333%;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-webkit-box-flex:0;-webkit-flex:0 0 66.666667%;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-webkit-box-flex:0;-webkit-flex:0 0 83.333333%;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-sm-11{-webkit-box-flex:0;-webkit-flex:0 0 91.666667%;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.pull-sm-0{right:auto}.pull-sm-1{right:8.333333%}.pull-sm-2{right:16.666667%}.pull-sm-3{right:25%}.pull-sm-4{right:33.333333%}.pull-sm-5{right:41.666667%}.pull-sm-6{right:50%}.pull-sm-7{right:58.333333%}.pull-sm-8{right:66.666667%}.pull-sm-9{right:75%}.pull-sm-10{right:83.333333%}.pull-sm-11{right:91.666667%}.pull-sm-12{right:100%}.push-sm-0{left:auto}.push-sm-1{left:8.333333%}.push-sm-2{left:16.666667%}.push-sm-3{left:25%}.push-sm-4{left:33.333333%}.push-sm-5{left:41.666667%}.push-sm-6{left:50%}.push-sm-7{left:58.333333%}.push-sm-8{left:66.666667%}.push-sm-9{left:75%}.push-sm-10{left:83.333333%}.push-sm-11{left:91.666667%}.push-sm-12{left:100%}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.333333%}.offset-sm-2{margin-left:16.666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.333333%}.offset-sm-5{margin-left:41.666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.333333%}.offset-sm-8{margin-left:66.666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.333333%}.offset-sm-11{margin-left:91.666667%}}@media (min-width:768px){.col-md{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto}.col-md-1{-webkit-box-flex:0;-webkit-flex:0 0 8.333333%;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-md-2{-webkit-box-flex:0;-webkit-flex:0 0 16.666667%;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-md-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-webkit-box-flex:0;-webkit-flex:0 0 33.333333%;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-webkit-box-flex:0;-webkit-flex:0 0 41.666667%;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-webkit-box-flex:0;-webkit-flex:0 0 58.333333%;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-webkit-box-flex:0;-webkit-flex:0 0 66.666667%;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-webkit-box-flex:0;-webkit-flex:0 0 83.333333%;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-11{-webkit-box-flex:0;-webkit-flex:0 0 91.666667%;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.pull-md-0{right:auto}.pull-md-1{right:8.333333%}.pull-md-2{right:16.666667%}.pull-md-3{right:25%}.pull-md-4{right:33.333333%}.pull-md-5{right:41.666667%}.pull-md-6{right:50%}.pull-md-7{right:58.333333%}.pull-md-8{right:66.666667%}.pull-md-9{right:75%}.pull-md-10{right:83.333333%}.pull-md-11{right:91.666667%}.pull-md-12{right:100%}.push-md-0{left:auto}.push-md-1{left:8.333333%}.push-md-2{left:16.666667%}.push-md-3{left:25%}.push-md-4{left:33.333333%}.push-md-5{left:41.666667%}.push-md-6{left:50%}.push-md-7{left:58.333333%}.push-md-8{left:66.666667%}.push-md-9{left:75%}.push-md-10{left:83.333333%}.push-md-11{left:91.666667%}.push-md-12{left:100%}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.333333%}.offset-md-2{margin-left:16.666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.333333%}.offset-md-5{margin-left:41.666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.333333%}.offset-md-8{margin-left:66.666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.333333%}.offset-md-11{margin-left:91.666667%}}@media (min-width:992px){.col-lg{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto}.col-lg-1{-webkit-box-flex:0;-webkit-flex:0 0 8.333333%;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-lg-2{-webkit-box-flex:0;-webkit-flex:0 0 16.666667%;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-lg-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-webkit-box-flex:0;-webkit-flex:0 0 33.333333%;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-webkit-box-flex:0;-webkit-flex:0 0 41.666667%;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-webkit-box-flex:0;-webkit-flex:0 0 58.333333%;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-webkit-box-flex:0;-webkit-flex:0 0 66.666667%;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-webkit-box-flex:0;-webkit-flex:0 0 83.333333%;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-11{-webkit-box-flex:0;-webkit-flex:0 0 91.666667%;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.pull-lg-0{right:auto}.pull-lg-1{right:8.333333%}.pull-lg-2{right:16.666667%}.pull-lg-3{right:25%}.pull-lg-4{right:33.333333%}.pull-lg-5{right:41.666667%}.pull-lg-6{right:50%}.pull-lg-7{right:58.333333%}.pull-lg-8{right:66.666667%}.pull-lg-9{right:75%}.pull-lg-10{right:83.333333%}.pull-lg-11{right:91.666667%}.pull-lg-12{right:100%}.push-lg-0{left:auto}.push-lg-1{left:8.333333%}.push-lg-2{left:16.666667%}.push-lg-3{left:25%}.push-lg-4{left:33.333333%}.push-lg-5{left:41.666667%}.push-lg-6{left:50%}.push-lg-7{left:58.333333%}.push-lg-8{left:66.666667%}.push-lg-9{left:75%}.push-lg-10{left:83.333333%}.push-lg-11{left:91.666667%}.push-lg-12{left:100%}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.333333%}.offset-lg-2{margin-left:16.666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.333333%}.offset-lg-5{margin-left:41.666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.333333%}.offset-lg-8{margin-left:66.666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.333333%}.offset-lg-11{margin-left:91.666667%}}@media (min-width:1200px){.col-xl{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;width:auto}.col-xl-1{-webkit-box-flex:0;-webkit-flex:0 0 8.333333%;-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-xl-2{-webkit-box-flex:0;-webkit-flex:0 0 16.666667%;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-xl-3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-webkit-box-flex:0;-webkit-flex:0 0 33.333333%;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-5{-webkit-box-flex:0;-webkit-flex:0 0 41.666667%;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-webkit-box-flex:0;-webkit-flex:0 0 58.333333%;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-xl-8{-webkit-box-flex:0;-webkit-flex:0 0 66.666667%;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-webkit-box-flex:0;-webkit-flex:0 0 83.333333%;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-11{-webkit-box-flex:0;-webkit-flex:0 0 91.666667%;-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.pull-xl-0{right:auto}.pull-xl-1{right:8.333333%}.pull-xl-2{right:16.666667%}.pull-xl-3{right:25%}.pull-xl-4{right:33.333333%}.pull-xl-5{right:41.666667%}.pull-xl-6{right:50%}.pull-xl-7{right:58.333333%}.pull-xl-8{right:66.666667%}.pull-xl-9{right:75%}.pull-xl-10{right:83.333333%}.pull-xl-11{right:91.666667%}.pull-xl-12{right:100%}.push-xl-0{left:auto}.push-xl-1{left:8.333333%}.push-xl-2{left:16.666667%}.push-xl-3{left:25%}.push-xl-4{left:33.333333%}.push-xl-5{left:41.666667%}.push-xl-6{left:50%}.push-xl-7{left:58.333333%}.push-xl-8{left:66.666667%}.push-xl-9{left:75%}.push-xl-10{left:83.333333%}.push-xl-11{left:91.666667%}.push-xl-12{left:100%}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.333333%}.offset-xl-2{margin-left:16.666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.333333%}.offset-xl-5{margin-left:41.666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.333333%}.offset-xl-8{margin-left:66.666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.333333%}.offset-xl-11{margin-left:91.666667%}}