.workflow-container {
    padding: 20px;
    border: 1px solid #4C4D4D;
    font-family: Verdana, Geneva, sans-serif;
    width: auto;
    float: left;
}
.workflow {
    padding: 20px;
    border: 1px solid #4C4D4D;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    float: left;
    min-height: 100%;
    position: relative;
    background: #f6f6f6;
    overflow: hidden;
}
.workflow-role {
    background: #BFE4FF;
    height: 40px;
    width: 135px;
    font-size: 14px;
    margin: 2px;
    text-align: center;
    padding-top: 12px;
}
.workflow-level {
    text-align: center;
}