{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load common_tags invoice_tags sales_tags %}
{% block page_title %} Allocate Customer Receipts - {{ year }}  {% endblock page_title %}
{% block content %}
<form class="form receipt-form" id="create_receipt" action="{% url 'allocate_receipt' %}" data-ajax-url="{% url 'allocate_receipt' %}">
    {% csrf_token %}
    <div class="panel panel-primary"    >
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
        <div class="panel-body align-center">
            <div class="col-lg-12 col-xs-12" id="create_receipt_box">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group {% if form.customer.errors %}error{% endif %}">
                                    {{ form.customer.label_tag }}
                                    <div class="controls">
                                        {% render_field form.customer class="form-control chosen-select" %}
                                        {% if form.customer.auto_id  != "id_tos" %}
                                            {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                                    {{ form.period.label_tag }}
                                    <div class="controls">
                                        {% render_field form.period class="form-control" %}
                                        {% if form.period.auto_id  != "id_tos" %}
                                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
                                    {{ form.date.label_tag }}
                                    <div class="controls">
                                        {% render_field form.date class="form-control datepicker"  %}
                                        {% if form.date.auto_id  != "id_tos" %}
                                            {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-xs-12 data-container" id="customer_invoices">
                <table class="table table-bordered invoices" width="100%">
                    <thead>
                        <tr>
                            <th>Unique Number</th>
                            <th>Document Type</th>
                            <th>Document Number</th>
                            <th>Due Date</th>
                            <th class="text-right">Invoice Amount</th>
                            <th class="text-right">Discount Available</th>
                            <th class="selecta">Discount Taken</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Select the customer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="submit" id="cancel" class="btn btn-primary action"
                            data-action="cancel" tabindex="{{ 6 }}"
                        >Cancel</button>
                    </div>
                    <div class="form-group">
                        <button type="button" id="print" class="btn btn-primary action"
                            data-action="print" tabindex="{{ 7 }}"
                        >Print</button>
                    </div>
                    <div class="form-group">
                        <button type="button" id="save" class="btn btn-primary action" disabled="disabled"
                            data-action="save" tabindex="{{ 8 }}"
                        >Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales/receipt.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}
