{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %} {% if invoice_type == 'credit-note' %} Credit Note Payout {% else %} Invoice Receipt {% endif %} {% endblock title %}
{% block content %}
  <form method="post" action="{% url 'create_cash_invoice_receipt' %}?amount={{ total }}" novalidate="novalidate" role="form" id="cash_invoice_receipt_form" name="cash_invoice_receipt_form">
     {% csrf_token %}
     <div class="modal-body">
        <table class="table" id="payment_methods_table">
            <tbody>
                <tr>
                    <td colspan="2">Invoice Value</td>
                    <td class="text-right">
                        <span id="total_payment">{{ total|money }}</span>
                        {% render_field form.amount id='total_invoice_amount' %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Date</td>
                    <td>
                        {% render_field form.date class="form-control form-control-sm datepicker text-right" tabindex=1  %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <th colspan="3">Customer Paid As Below</th>
                </tr>
                {% for payment_method in payment_methods %}
                    {% if payment_method.payment_option and payment_method.payment_option.has_change %}
                        <tr>
                            <td colspan="2">
                                {{ payment_method }}
                                <input type="hidden" name="payment_method" value="{{ payment_method.id }}" />
                            </td>
                            <td>
                                <input type="text" id="amount_{{ payment_method.id }}"
                                       class="text-right form-control form-control-sm money invoice-payment-amount"
                                       data-has-change="1"
                                       name="amount_{{ payment_method.id }}" />
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">
                                {{ payment_method }}
                                <input type="hidden" name="payment_method" value="{{ payment_method.id }}" />
                            </td>
                            <td>
                                <input type="text" id="amount_{{ payment_method.id }}"
                                       class="text-right form-control form-control-sm money invoice-payment-amount"
                                       name="amount_{{ payment_method.id }}" />
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for receipt in receipts %}
                    <tr>
                        <td>
                            Credit on customer
                            <input type="hidden" name="receipts" value="{{ receipt.id }}" />
                        </td>
                        <td>{{ receipt.balance }}</td>
                        <td>
                            <input type="text" id="receipt_amount_{{ receipt.id }}"
                                   class="text-right form-control form-control-sm money invoice-payment-amount"
                                   name="receipt_amount_{{ receipt.id }}" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr id="change_row" style="display: none;">
                    <td colspan="2"><strong>Change</strong></td>
                    <td class="text-right">
                        <span class="bold" id="change_val">{{ total|money }}</span>
                        <input type="hidden" name="_balance" id="_id_balance" value="">
                        <input type="hidden" name="change" id="change" value="">
                    </td>
                </tr>
                <tr id="balance_row">
                    <td colspan="2"><strong>Balance</strong></td>
                    <td class="text-right">
                        <span class="bold" id="balance">{{ total|money }}</span>
                        <input type="hidden" name="balance" id="id_balance" value="">
                    </td>
                </tr>
            </tfoot>
        </table>
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary btn-large modal-save" disabled="disabled"
                name="cash_invoice_payment_continue"
                id="cash_invoice_payment_continue"><i class="fa fa-save"></i> Continue</button>
    </div>
  </form>
{% endblock %}