{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %} Invoices Receipt {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="invoice_receipt_form" name="invoice_receipt_form"
        action="{% url 'create_invoices_receipt' %}" data-ajax-url="{% url 'create_invoices_receipt' %}"
  >
     <div class="modal-body">
        <table class="table" id="payment_methods_table">
            <thead>
                <tr>
                    <th>{{ customer }}</th>
                    <th class="text-right">
                        <span id="total_payment">{{ total|money }}</span>
                        <input type="hidden" id="total_invoice_amount" name="amount" value="{{ total }}" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Date</th>
                    <td>
                        {% render_field form.date class="form-control form-control-sm datepicker" tabindex=1  %}
                    </td>
                </tr>
                <tr>
                    <th colspan="2"></th>
                </tr>
                {% for payment_method in payment_methods %}
                    <tr>
                        <td>
                            {{ payment_method }}
                            <input type="hidden" name="payment_method" value="{{ payment_method.id }}" />
                        </td>
                        <td>
                            <input type="text" id="amount_{{ payment_method.id }}" class="text-right form-control form-control-sm money invoice-amount" name="amount_{{ payment_method.id }}" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Balance</strong></td>
                    <td class="text-right"><span class="bold" id="balance">{{ total|money }}</span></td>
                </tr>
            </tfoot>
        </table>
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary btn-large modal-save" disabled="disabled" name="save_receipts" id="save_receipts"><i class="fa fa-save"></i> Continue</button>
    </div>
  </form>
{% endblock %}