{% load static %}
{% load widget_tweaks %}
{% load invoice_tags sales_tags %}
<tr class="payments payment-row-{{ row_id }} {% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}" data-row-id="{{ row_id }}">
    <td>
        {% account_cell row_id start col.col1 %}
{#        <input type="text" class="form-control form-control-sm search-box" id="payment_account_{{ row_id }}" placeholder="Enter Account Code" data-row-id="{{ row_id }}" />#}
{#        <input type="hidden" name="account_{{ row_id }}" id="id_account_{{ row_id }}" />#}
    </td>
    <td><span id="account_description_{{ row_id }}"></span></td>
    <td></td>
    <td></td>
    <td class="text-right">
        {% vat_code_cell row_id start default_vat_code col.col2 %}
{#        <input type="text" class="form-control form-control-sm search-box" id="payment_vat_code_{{ row_id }}" placeholder="Enter Vat Code" data-row-id="{{ row_id }}" />#}
{#        <input type="hidden" name="vat_code_{{ row_id }}" id="id_vat_code_{{ row_id }}" />#}
    </td>
    <td class="text-right">
        <span id="amount_excluding_vat_{{ row_id }}" class="amount-excluding-vat"></span>
    </td>
    <td class="text-right">
        <span id="vat_amount_{{ row_id }}"></span>
        <input type="hidden" name="vat_amount_{{ row_id }}" id="id_vat_amount_{{ row_id }}" value="" />
    </td>
    <td></td>
    <td class="text-right">
        <input type="text" name="payment_amount_{{ row_id }}" id="id_payment_amount_{{ row_id }}" class="payment-amount" />
    </td>
    <td></td>
    <td></td>
    <td></td>
</tr>