{% extends 'modal.html' %}
{% block page_title %} Delete Receipt {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="delete_receipt_form" action="{% url 'delete_receipt' object.id %}">
    {% csrf_token %}
    <div class="modal-body">
        Are you sure you want to delete this receipt?.
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger btn-large" name="submit" type="submit" id="submit_delete"
        ><i class="fa fa-trash"></i> Delete this receipt</button>
    </div>
  </form>
{% endblock %}