{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags company_tags %}
{% block page_title %}{% translate "Receipt Record" %}<span class="pull-right">&nbsp;{{ receipt.payment }}</span>
{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left">
            </h5>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-success btn-loading action"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    data-ajax-url="" id="re_email">
                <i class="fa fa-envelope"></i> {% translate "Email" %}</button>
            <a href="{% url 'receipt_detail' receipt.id %}?print=1" type="button" class="btn btn-primary btn-sm"
                data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> {% translate "Prev. Level" %}</a>
        </div>
    </div>
    {% include 'receipts/template.html' %}
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sales/receipt.js' %}?{% now 'YmdHis' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}
