{% extends 'modal.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %} {% translate 'Edit Invoices Receipt' %} {{ receipt }} {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="cash_invoice_receipt_form" name="cash_invoice_receipt_form"
        action="{% url 'edit_cash_invoice_receipt' invoice.id %}" data-ajax-url="{% url 'edit_cash_invoice_receipt' invoice.id %}"
  >
    {% csrf_token %}
     <div class="modal-body">
        <table class="table" id="payment_methods_table">
            <tbody>
                <tr>
                    <td colspan="2">{% translate 'Invoice Value' %}</td>
                    <td class="text-right">
                        <span id="total_payment">{{ total|money }}</span>
                        <input type="hidden" id="total_invoice_amount" name="amount" value="{{ total }}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">{% translate 'Date' %}</td>
                    <td>
                        {% render_field form.date class="form-control form-control-sm datepicker text-right" tabindex=1  %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <th colspan="3">{% translate 'Customer Paid As Below' %}</th>
                </tr>
                {% for payment_method, payment in payment_methods.items %}
                    {% if payment_method.payment_option and payment_method.payment_option.has_change %}
                        <tr>
                            <td colspan="2">
                                {{ payment_method }}
                                <input type="hidden" name="payment_method" value="{{ payment_method.id }}" />
                            </td>
                            <td>
                                <input type="text" id="amount_{{ payment_method.id }}" data-has-change="1"
                                       class="text-right form-control form-control-sm money invoice-payment-amount"
                                       name="amount_{{ payment_method.id }}" />
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">
                                {{ payment_method }}
                                <input type="hidden" name="payment_method" value="{{ payment_method.id }}" />
                            </td>
                            <td>
                                {% if payment %}
                                    <input type="text" id="amount_{{ payment_method.id }}" class="text-right form-control form-control-sm money invoice-payment-amount" name="amount_{{ payment_method.id }}" value="{{ payment.amount }}" />
                                {% else %}
                                    <input type="text" id="amount_{{ payment_method.id }}" class="text-right form-control form-control-sm money invoice-payment-amount" name="amount_{{ payment_method.id }}" />
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for receipt in receipts %}
                    <tr>
                        <td>
                            {% translate 'Credit on customer' %}
                            <input type="hidden" name="receipts" value="{{ receipt.id }}" />
                        </td>
                        <td>{{ receipt.amount }}</td>
                        <td>
                            <input type="text" id="receipt_amount_{{ receipt.id }}"
                                   class="text-right form-control form-control-sm money invoice-payment-amount"
                                   name="receipt_amount_{{ receipt.id }}" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><strong>{% translate 'Balance' %}</strong></td>
                    <td class="text-right"><span class="bold" id="balance">{{ total_amount|money }}</span></td>
                </tr>
            </tfoot>
        </table>
     </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-large modal-save" disabled="disabled"
                id="cash_invoice_payment_continue"><i class="fa fa-save"></i> {% translate 'Continue' %}</button>
    </div>
  </form>
{% endblock %}