{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load common_tags invoice_tags sales_tags %}
{% block page_title %} Edit Receipt Capture - {{ year }} {% endblock page_title %}
{% block content %}
<form class="form receipt-form" id="create_receipt" action="{% url 'edit_receipt' receipt.id %}" data-ajax-url="{% url 'create_receipt' %}">
    {% csrf_token %}
    <div class="panel panel-primary"    >
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
        <div class="panel-body align-center">
            <div class="col-lg-12 col-xs-12" id="create_receipt_box">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
                                {{ form.date.label_tag }}
                                <div class="controls">
                                    {% render_field form.date class="form-control datepicker" %}
                                    {% if form.date.auto_id  != "id_tos" %}
                                        {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.amount.errors %}error{% endif %}">
                                {{ form.amount.label_tag }}
                                <div class="controls">
                                    {% render_field form.amount class="form-control" readonly='readonly' %}
                                    {% if form.amount.auto_id  != "id_tos" %}
                                        {% if form.amount.errors %}<span class="help-inline">{{ form.amount.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.customer.errors %}error{% endif %}">
                                {{ form.customer.label_tag }}
                                <div class="controls">
                                    {% render_field form.customer class="form-control chosen-select"  %}
                                    {% if form.customer.auto_id  != "id_tos" %}
                                        {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.payment_method.errors %}error{% endif %}">
                                {{ form.payment_method.label_tag }}
                                <div class="controls">
                                    {% render_field form.payment_method class="form-control chosen-select" %}
                                    {% if form.payment_method.auto_id  != "id_tos" %}
                                        {% if form.payment_method.errors %}<span class="help-inline">{{ form.payment_method.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.reference.errors %}error{% endif %}">
                                {{ form.reference.label_tag }}
                                <div class="controls">
                                    {% render_field form.reference class="form-control" %}
                                    {% if form.reference.auto_id  != "id_tos" %}
                                        {% if form.reference.errors %}<span class="help-inline">{{ form.reference.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 data-container" id="customer_invoices">
                {% include 'receipts/open_invoices.html' %}
            </div>
        </div>
        <div class="panel-footer clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="submit" id="cancel" class="btn btn-primary action"
                            data-action="cancel" tabindex="{{ 6 }}"
                        >Cancel</button>
                    </div>
                    <div class="form-group">
                        <button type="button" id="print" class="btn btn-primary action"
                            data-action="print" tabindex="{{ 7 }}"
                        >Print</button>
                    </div>
                    <div class="form-group">
                        <button type="button" id="save" class="btn btn-primary action" disabled="disabled"
                            data-action="save" tabindex="{{ 8 }}"
                        >Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales/receipt.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}
