{% extends 'datatable.html' %}
{% load static widget_tweaks i18n %}
{% load invoice_tags %}
{% block page_title %} {% translate "Receipts" %} - {{ year }} {% endblock page_title %}
{% block datatable %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>
            <div class="pull-right">
                <a {% if year.is_final %}disabled="disabled"{% endif %} href="{% url 'create_receipt' %}" type="button" class="btn btn-sm btn-info" id="create" data-toggle="tooltip"><i class="fa fa-plus-circle"></i> {% translate "Create" %}</a>
            </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="receipts" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>{% translate "Number" %}</th>
                        <th>{% translate "Date paid" %}</th>
                        <th>{% translate "Customer" %}</th>
                        <th class="text-right">{% translate "Total amount" %}</th>
                        <th>{% translate "Cash Up" %}</th>
                        <th>{% translate "Updated" %}</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){

        $(document).on("click", ".delete-action", function(e){
            e.preventDefault();
            const el = $(this);
            const confirmText = el.data('confirm-text');
            if (confirm(confirmText)) {
                el.hide();
                $("#actions").html("Processing ...");
                $.ajax({
                  url: el.data('ajax-url'),
                  type: 'DELETE',
                  dataType: 'json',
                  success: function(response){
                    responseNotification(response)
                  }
                });
            }
            return false;
        });


        var table = $("#receipts").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/sales/receipts/?format=datatables',
              'columns': [
                { data: 'reference', name: 'receipt_id', searchable: true, title:'Number'},
                { data: 'date', name: 'date', searchable: true, title:'Date Paid'},
                { data: 'customer', name: 'customer__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    },
                    title:'Customer'
                },
                { data: 'amount', name: 'amount', searchable: true, title:'Total Amount', className: 'text-right'},
                { data: 'cash_up', name: 'cash_up__cashup_id', searchable: true, title:'Cash Up'},
                { data: 'cash_up', name: 'cash_up__cashup_id', searchable: true, title:'Updated'},
                { data: 'id', name: 'actions', searchable: false, title:'Actions', className: 'actions' }
              ],
             "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        if (data) {
                            return data.reference;
                        } else {
                            return '';
                        }
                    },
                    "targets": 4
                },
                {
                    "render": function ( data, type, row ) {
                        if (data) {
                            return "<span class=\"text-success fa fa-check\"></span>";
                        } else {
                            return "<span class=\"text-danger fa fa-close\"></span>";
                        }
                    },
                    "targets": 5
                },
                {
                    "render": function ( data, type, row ) {
                        let html = []
                        html.push("<div class='action' id='actions'>");
                        if (row.is_open) {
                            html.push('<a href="' + row.edit_url + '" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>');
                            html.push('<a href="#" data-ajax-url="'+ row.delete_url +'" data-toggle="tooltip" class="btn-sm btn-danger delete-action" data-original-title="Delete" data-confirm-text="Are you sure you want to delete this receipt"><i class="fa fa-trash"></i></a>');
                        } else {
                            html.push("<span class='label label-warning' title='Locked' data-original-title='Locked' data-toggle='tooltip'><i class='fa fa-lock'></i></span>");
                        }
                        html.push("</div>");
                        return html.join("&nbsp;&nbsp;|&nbsp;&nbsp;")
                    },
                    "targets": 6
                }
            ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#receipts tbody').on('click', 'tr>td', function(){
            const rowData = table.row(this).data();
            if (rowData.detail_url && !$(this).hasClass('actions')) {
                document.location.href = rowData.detail_url + "?redirect={% url 'receipts_index' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });
    });
    </script>
{% endblock %}