{% load invoice_tags %}
<table class="table table-striped table-bordered">
  <tr>
    <td>Payment</td>
    <td>Date</td>
    <td class="text-right">Paid</td>
  </tr>
  {% if receipt|length > 0 %}
      <tr class="line-items">
        <td>{{ receipt }}</td>
        <td>{{ receipt.payment_date|date:'Y-m-d' }}</td>
        <td class="text-right">{{ invoce.total_amount|money }}</td>
      </tr>
  {% else %}
      <tr>
         <td class="line" colspan="3">No payments found</td>
      </tr>
  {% endif %}
  <tr>
    <td class="line" colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td class="line" colspan="2">Open&nbsp;</td>
    <td class="text-right" colspan="3">{{ invoice.open_amount|money }}</td>
  </tr>
</table>