{% load widget_tweaks %}
{% load invoice_tags %}

<table class="table" id="payment_methods_table" width="100%">
    <thead>
        <tr>
            <th>{{ customer }}</th>
            <th class="text-right">
                <span id="total_payment">{{ total|money }}</span>
                <input type="hidden" id="total_invoice_amount" name="amount" value="{{ total }}" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Date</th>
            <td>
                {% render_field form.date class="form-control form-control-sm datepicker text-right" tabindex=1  %}
            </td>
        </tr>
        <tr>
            <th colspan="2"></th>
        </tr>
        {% for payment_method in payment_methods %}
            {% if payment_method.payment_option and payment_method.payment_option.has_change %}
                <tr>
                    <td>
                        {{ payment_method }}
                        <input type="hidden" name="payment_method" value="{{ payment_method.id }}" />
                    </td>
                    <td>
                        <input type="text" id="amount_{{ payment_method.id }}"
                               class="text-right form-control form-control-sm money invoice-payment-amount"
                               data-has-change="1"
                               name="amount_{{ payment_method.id }}" />
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        {{ payment_method }}
                        <input type="hidden" name="payment_method" value="{{ payment_method.id }}" />
                    </td>
                    <td>
                        <input type="text" id="amount_{{ payment_method.id }}"
                               class="text-right form-control form-control-sm money invoice-payment-amount"
                               name="amount_{{ payment_method.id }}" />
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr id="change_row" style="display: none;">
            <td><strong>Change</strong></td>
            <td class="text-right">
                <span class="bold" id="change_val">{{ total|money }}</span>
                <input type="hidden" name="_balance" id="_id_balance" value="">
                <input type="hidden" name="change" id="change" value="">
            </td>
        </tr>
        <tr id="balance_row">
            <td><strong>Balance</strong></td>
            <td class="text-right">
                <span class="bold" id="balance">{{ total|money }}</span>
                <input type="hidden" name="balance" id="id_balance" value="">
            </td>
        </tr>
    </tfoot>
</table>
