{% load static %}
{% load widget_tweaks %}
{% load invoice_tags sales_tags %}

<div class="table-responsive">
    <table class="table" id="payment_methods_table">
        <thead>
            <tr>
                <th>Document Number</th>
                <th>Document Date</th>
                <th>Due Date</th>
                <th class="text-right">Original</th>
                <th class="text-right">Open</th>
                <th class="text-right">Discount</th>
                <th class="text-right"></th>
                <th class="text-right">Amount</th>
                <th class="text-right">Allocate</th>
                <th>Pay</th>
                <th class="text-right">New Open</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice, discounts in invoices.items %}
                <tr class="invoice-row" data-row-id="{{ invoice.id }}">
                    <td>{{ invoice }}</td>
                    <td>{{ invoice.invoice_date }}</td>
                    <td>{{ invoice.due_date }}</td>
                    <td class="text-right">
                        {{ invoice.total_amount|money }}
                        <input type="hidden" class="original-amount" value="{{ invoice.total_amount|money }}" id="original_amount_{{ invoice.id }}" />
                    </td>
                    <td class="text-right">
                        {{ invoice.open_amount|money }}
                        <input type="hidden" class="open-amount" value="{{ invoice.open_amount|money }}" id="open_amount_{{ invoice.id }}" />
                    </td>
                    <td class="text-right">
                        {{ discounts.discount|money }}
                        <input type="hidden" class="discount-amount" value="{{ discounts.discount }}" id="discount_amount_{{ invoice.id }}" name="discount_{{ invoice.id }}" />
                        <input type="hidden" class="discounted-invoice-amount" value="{{ discounts.amount|money }}" id="discounted_invoice_amount_{{ invoice.id }}" />
                    </td>
                    <td>
                        <input type="checkbox" data-invoice-id="{{ invoice.id }}" class="checkbox-input discount" value="{{ invoice.id }}" id="is_discounted_{{ invoice.id }}" name="is_discounted_{{ invoice.id }}" />
                    </td>
                    <td class="text-right">
                        <span id="discounted_open_amount_{{ invoice.id }}">{{ invoice.open_amount|money }}</span>
                        <input type="hidden" class="discounted-amount" value="{{ invoice.open_amount|money }}" id="discounted_amount_{{ invoice.id }}" />
                    </td>
                    <td class="text-right">
                        <input type="text" data-invoice-id="{{ invoice.id }}" class="invoice-amount text-right" value="{{ invoice.open_amount|money }}" id="amount_{{ invoice.id }}" />
                        <input type="hidden" data-invoice-id="{{ invoice.id }}" class="invoice-amount text-right" name="amount_{{ invoice.id }}" value="{{ invoice.open_amount|money }}" id="id_amount_{{ invoice.id }}" />
                    </td>
                    <td>
                        <input type="checkbox" data-invoice-id="{{ invoice.id }}" class="checkbox-input pay" value="{{ invoice.id }}" name="pay_{{ invoice.id }}" id="pay_{{ invoice.id }}" />
                    </td>
                    <td class="text-right">
                        <span class="new-open" id="open_{{ invoice.id }}">{{ invoice.open_amount|money }}</span>
                        <input type="hidden" class="invoice-open-amount" value="{{ invoice.open_amount|money }}" id="invoice_open_amount_{{ invoice.id }}" name="open_amount_{{ invoice.id }}" />
                    </td>
                </tr>
            {% endfor %}
            {% for ledger, ledger_discount in ledgers.items %}
                <tr class="journal-row" data-row-id="{{ ledger.id }}">
                    <td>{{ ledger.journal_line.journal }}</td>
                    <td>{{ ledger.date }}</td>
                    <td>{{ ledger.date }}</td>
                    <td class="text-right">
                        {{ ledger.amount|money }}
                        <input type="hidden" class="original-amount" value="{{ ledger.amount|money }}" id="original_amount_{{ ledger.id }}" />
                    </td>
                    <td class="text-right">
                        {{ ledger.balance|money }}
                        <input type="hidden" class="open-amount" value="{{ ledger.balance }}" id="open_amount_{{ ledger.id }}" />
                    </td>
                    <td class="text-right">
                        {{ ledger_discount.discount|money }}
                        <input type="hidden" class="discount-amount" value="{{ ledger_discount.discount }}" id="discount_amount_{{ ledger.id }}" name="is_discount_{{ ledger.id }}" />
                        <input type="hidden" class="discounted-invoice-amount" value="{{ ledger_discount.amount|money }}" id="discounted_invoice_amount_{{ ledger.id }}" />
                    </td>
                    <td>
                        <input type="checkbox" data-ledger-id="{{ ledger.id }}" class="checkbox-input discount" value="{{ ledger.id }}" id="discount_{{ ledger.id }}" name="discount_{{ ledger.id }}" />
                    </td>
                    <td class="text-right">
                        <span id="discounted_open_amount_{{ ledger.id }}">{{ ledger.balance|money }}</span>
                        <input type="hidden" class="discounted-amount" value="{{ ledger.balance|money }}" id="discounted_amount_{{ ledger.id }}" />
                    </td>
                    <td class="text-right">
                        <input type="text" data-ledger-id="{{ ledger.id }}" class="invoice-amount text-right" value="{{ ledger.balance|money }}" id="amount_{{ ledger.id }}" />
                        <input type="hidden" data-ledger-id="{{ ledger.id }}" class="invoice-amount text-right" name="amount_{{ ledger.id }}" value="{{ ledger.balance|money }}" id="id_amount_{{ ledger.id }}" />
                    </td>
                    <td>
                        <input type="checkbox" data-ledger-id="{{ ledger.id }}" class="checkbox-input pay" value="{{ ledger.id }}" name="pay_ledger_{{ ledger.id }}" id="pay_ledger_{{ ledger.id }}" />
                    </td>
                    <td class="text-right">
                        <span class="new-open" id="open_{{ ledger.id }}">{{ ledger.balance|money }}</span>
                        <input type="hidden" class="journal-open-amount" value="{{ ledger.balance|money }}" id="invoice_open_amount_{{ ledger.id }}" name="open_amount_{{ ledger.id }}" />
                    </td>
                </tr>
            {% endfor %}
            {% if invoices|length > 0 or ledgers|length > 0 %}
                <tr>
                    <td colspan="3">&nbsp;&nbsp;</td>
                    <td class="text-right"><span id="original_total"></span></td>
                    <td class="text-right"><span id="open_total"></span></td>
                    <td class="text-right"><span id="discount_total"></span></td>
                    <td class="text-right"></td>
                    <td class="text-right"><span id="discounted_total"></span></td>
                    <td class="text-right">
                        <span id="variance_amount"></span>
                        <input type="hidden" id="id_variance" value="" />
                    </td>
                    <td class="text-right"><span id="discounted_total"></span></td>
                    <td></td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="11">&nbsp;&nbsp;</td>
            </tr>
            {% if receipts|length > 0 %}
                <tr>
                    <td colspan="11"><strong>Allocate</strong></td>
                </tr>
                {% for receipt_payment in receipts %}
                    <tr class="receipts allocation">
                        <td>{{ receipt_payment }}</td>
                        <td>{{ receipt_payment.date }}</td>
                        <td>{{ receipt_payment.date }}</td>
                        <td class="text-right">{{ receipt_payment.total_amount|money }}</td>
                        <td class="text-right">
                            {{ receipt_payment.open_amount|money }}
                            <input type="hidden" id="receipt_original_balance_{{ receipt_payment.id }}" value="{{ receipt_payment.open_amount }}" />
                        </td>
                        <td class="text-right">
                        </td>
                        <td colspan="2"></td>
                        <td class="text-right">
                            <input type="text" id="receipt_open_balance_{{ receipt_payment.id }}" value="{{ receipt_payment.open_amount|money }}" class="allocate-payment-amount text-right" />
                        </td>
                        <td>
                            <input type="checkbox" data-receipt-id="{{ receipt_payment.id }}" class="checkbox-input allocate-receipt" value="{{ receipt_payment.id }}" name="receipt_allocate_{{ receipt_payment.id }}" id="receipt_allocate_{{ receipt_payment.id }}" />
                        </td>
                        <td class="text-right">
                            <span id="open_receipt_balance_{{ receipt_payment.id }}">{{ receipt_payment.open_amount|money }}</span>
                            <input type="hidden" id="receipt_balance_{{ receipt_payment.id }}" name="receipt_balance_{{ receipt_payment.id }}" value="{{ receipt_payment.balance }}" class="open-receipt-balance" />
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr class="invoices-break">
                <td colspan="11">
                    <hr />
                </td>
            </tr>
            <tr class="payments-header">
                <th>Code</th>
                <th>Account Description</th>
                <th></th>
                <th></th>
                <th>Vat</th>
                <th>Vat Description</th>
                <th class="text-right">Excluding</th>
                <th class="text-right">Vat Amount</th>
                <th class="text-right"></th>
                <th>Allocate</th>
                <th></th>
                <th></th>
            </tr>
            <tr class="payment-invoices-break">
                <td colspan="12">
                    <hr />
                </td>
            </tr>
            <tr class="add-payments">
                <td colspan="11"></td>
                <td class="text-right">
                    <button id="add_payment_line" class="btn btn-primary"
                            data-payment-line-url="{% url 'receipt_payment_line' %}">Add</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr id="change_row" style="display: none;">
                <td colspan="8" class="text-right"><strong>Change</strong></td>
                <td class="text-right">
                    <span class="bold" id="change_val">{{ total|money }}</span>
                    <input type="hidden" name="change" id="id_change" value="">
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="balance_row">
                <td colspan="8" class="text-right"><strong>Open/Balanced</strong></td>
                <td class="text-right">
                    <span class="bold" id="balance">{{ total|money }}</span>
                    <input type="hidden" name="balance" id="id_balance" value="">
                </td>
                <td></td>
                <td class="text-right">
                    <span class="bold" id="payment_amount">{{ total|money }}</span>
                    <input type="hidden" id="id_payment_amount" value="">
                </td>
            </tr>
        </tfoot>
    </table>
</div>