{% load static %}
{% load widget_tweaks %}
{% load invoice_tags sales_tags %}
<tr class="sundry-allocations payments payment-row-{{ row }} {% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}" data-row-id="{{ row }}">
    <td>
        {% account_cell row start col.col0 %}
{#        <input type="text" class="form-control form-control-sm search-box" id="payment_account_{{ row }}" placeholder="Enter Account Code" data-row-id="{{ row }}" />#}
{#        <input type="hidden" name="account_{{ row }}" id="id_account_{{ row }}" />#}
    </td>
    <td><span id="account_description_{{ row }}"></span></td>
    <td></td>
    <td></td>
    <td class="text-right">
        {% vat_code_cell row start default_vat_code col.col1 %}
{#        <input type="text" class="form-control form-control-sm search-box" id="payment_vat_code_{{ row }}" placeholder="Enter Vat Code" data-row-id="{{ row }}" />#}
{#        <input type="hidden" name="vat_code_{{ row }}" id="id_vat_code_{{ row }}" />#}
    </td>
    <td class="text-right">
        <span id="vat_description_{{ row }}" class="vat-description">{{ default_vat_code.label }}</span>
    </td>
    <td class="text-right">
        <span id="amount_excluding_vat_{{ row }}" class="amount-excluding-vat"></span>
    </td>
    <td class="text-right">
        <span class="total-vat" id="vat_total_{{ row }}" data-item-id="{{ row }}"></span>
    </td>
    <td class="text-right pull-right">
        <input type="text" name="payment_amount_{{ row }}" id="id_payment_amount_{{ row }}" class="payment-amount form-control form-control-sm" data-row-id="{{ row }}" />
    </td>
    <td></td>
    <td></td>
    <td></td>
</tr>