{% extends 'modal.html' %}
{% load static %}
{% load invoice_tags %}
{% block title %} Invoice Cash Receipt {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="invoice_cash_receipt_form" name="invoice_cash_receipt_form"
        action="{% url 'cash_invoice_payments' invoice.id %}"
  >
     <div class="modal-body">
        <table class="table" id="payment_methods_table">
            <thead>
                <tr>
                    <th>{{ invoice.customer_name }}</th>
                    <th class="text-right">
                        {{ invoice.total_amount|money }}
                        <input type="hidden" id="total_invoice_amount" name="amount" value="{{ invoice.total_amount }}" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Date</th>
                    <td>
                        <input type="text" class="datepicker form-control form-control-sm" name="date" id="date" />
                    </td>
                </tr>
                <tr>
                    <th colspan="2"></th>
                </tr>
                {% for payment_method in payment_methods %}
                    <tr>
                        <td>
                            {{ payment_method }}
                            <input type="hidden" name="payment_method" value="{{ payment_method.id }}" />
                        </td>
                        <td>
                            <input type="text" id="amount_{{ payment_method.id }}" class="text-right form-control form-control-sm money invoice-amount" name="amount_{{ payment_method.id }}" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Balance</strong></td>
                    <td class="text-right"><span class="bold" id="balance"></span></td>
                </tr>
            </tfoot>
        </table>
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary btn-large modal-save" disabled="disabled" name="save_receipts" id="save_receipts"><i class="fa fa-save"></i> Continue</button>
    </div>
  </form>
{% endblock %}