{% load static widget_tweaks i18n %}
{% load invoice_tags company_tags %}
<div class="panel-body align-center">
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 text-left">
             {% if is_print %}
                {% display_logo receipt.branch.company 200 75 is_print=is_print %}
             {% else %}
                {% display_logo receipt.branch.company 200 75 %}
             {% endif %}
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
            {% with company=receipt.branch.company %}
                {% include "companies/address.html" %}
            {% endwith %}
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 text-right">
            <table class="table table-borderless table-condensed">
                <tr>
                    <td colspan="2"><strong class="h4">{% translate "Customer Receipt" %}</strong></td>
                </tr>
                <tr>
                    <td>{% translate "Receipt Number" %}</td>
                    <td>#{{ receipt }}</td>
                </tr>
                <tr>
                    <td>{% translate "Date" %}</td>
                    <td>{{ receipt.date|date:'d-M-Y' }}</td>
                </tr>
                <tr>
                    <td>{% translate "Reference" %}</td>
                    <td>{{ receipt.reference }}</td>
                </tr>
                {% if receipt.cash_up %}
                <tr>
                    <td>{% translate "Cash Up" %}</td>
                    <td>
                        <a href="{% url "cash_up_detail" receipt.cash_up_id %}" target="_blank">{{ receipt.cash_up }}</a>
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="row invoice-row" id="customer-data">
        <div class="col-xs-4 col-md-4 col-lg-4 text-left">
            <div class="panel panel-default height invoice-col">
                <div class="panel-body" style="padding: 5px;">
                    <table class="table align-right" style="float: left;">
                        <tr>
                            <td class="text-left"><strong>{% translate "Customer Account" %}</strong></td>
                            <td class="text-left">{{ receipt.customer }}</td>
                        </tr>
                        <tr>
                            <td class="text-left"><strong>{% translate "Customer Name" %}</strong></td>
                            <td class="text-left">{{ receipt.customer.name }}</td>
                        </tr>
                        {% with postal_address=receipt.customer.postal_address %}
                            <tr>
                                <td></td>
                                <td class="text-left">{{ postal_address.address_line_1 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-left">{{ postal_address.city }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-left">{{ postal_address.postal_code }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-left">{{ postal_address.province_name }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-left">{{ postal_address.country.name }}</td>
                            </tr>
                        {% endwith %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 text-left">
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
            <div class="panel panel-default height invoice-col">
                <div class="panel-body" id="invoice_meta" style="padding: 5px;">
                    <table class="table align-right" style="float: left;">
                        <tr>
                            <td class="text-left">{% translate "Received By" %}</td>
                            <td colspan="2" class="text-right">{{ receipt.created_by }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">{% translate "Reference Text" %}</td>
                            <td colspan="2" class="text-right">{{ receipt.reference }}</td>
                        </tr>
                        {% for receipt_method in receipt.payments.all %}
                            <tr>
                                <td class="text-left">{{ receipt_method.payment_method }}</td>
                                <td class="text-right">{{ receipt_method.amount|money }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        {% if receipt.total_discounts %}
                            <tr>
                                <td class="text-left">{{ discount_account }}</td>
                                <td class="text-right">{{ receipt.total_discounts|money }}</td>
                                <td class="text-right"><span class="text-danger">*</span></td>
                            </tr>
                        {% endif %}
                        {% if receipt.payment_method.has_change %}
                            <tr>
                                <td class="text-left">{% translate "Change given" %}</td>
                                <td class="text-right">{{ receipt.change|money }}</td>
                                <td></td>
                            </tr>
                        {% endif %}
                        {% for payment in receipt.accounts.all %}
                            <tr>
                                <td class="text-left">{{ payment.account }}</td>
                                <td class="text-right">{{ payment.amount|money }}</td>
                                <td class="text-right strong">
                                    {% if payment.vat_code and payment.vat_amount %}
                                        <span class="text-danger">*</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-left"><strong>{% translate "Total to be allocated" %}</strong></td>
                            <td class="text-right">{{ receipt.total_allocated|money }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="invoices" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-right">Original</th>
                    <th class="text-right">Open</th>
                    <th class="text-right">Discount</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                {% if receipt.invoices.count > 0 or receipt.receipt_payments.count > 0 or receipt.customer_ledger.count %}
                    {% for invoice_receipt in receipt.invoices.all %}
                        <tr>
                            <td>{{ invoice_receipt.invoice.invoice_type }}</td>
                            <td>
                                {% if is_print %}
                                    {{ invoice_receipt.invoice }}
                                {% else %}
                                    <a href="{% url 'view_sales_invoice' invoice_receipt.invoice.id %}" target="_blank">{{ invoice_receipt.invoice }}</a>
                                {% endif %}
                            </td>
                            <td class="text-right">{{ invoice_receipt.invoice.total_amount|money }}</td>
                            <td class="text-right">{{ invoice_receipt.invoice.open_amount|money }}</td>
                            <td class="text-right">{{ invoice_receipt.discount }}</td>
                            <td class="text-right">{{ invoice_receipt.amount|money }}</td>
                        </tr>
                    {% endfor %}
                    {% for customer_ledger in receipt.customer_ledgers.all %}
                        <tr>
                            <td>{% translate 'Journal' %}</td>
                            <td>
                                {% if is_print %}
                                    {{ customer_ledger.ledger.journal_line.journal }}
                                {% else %}
                                    <a href="{% url 'journal_detail' customer_ledger.ledger.journal_line.journal.id %}" target="_blank">{{ customer_ledger.ledger.journal_line.journal }}</a>
                                {% endif %}
                            </td>
                            <td class="text-right">{{ customer_ledger.amount|money }}</td>
                            <td class="text-right">{{ customer_ledger.open_amount|money }}</td>
                            <td class="text-right"></td>
                            <td class="text-right">{{ customer_ledger.amount_paid|money }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">There are no receipt invoices available</td>
                    </tr>
                {% endif %}
                {% for receipt_allocation in receipt.allocations.all %}
                    <tr>
                        <td>{% translate 'Receipt' %}</td>
                        <td>
                            {% if is_print %}
                                {{ receipt_allocation.receipt }}
                            {% else %}
                                <a href="{% url 'receipt_detail' receipt_allocation.receipt.id %}" target="_blank">{{ receipt_allocation.receipt }}</a>
                            {% endif %}
                        </td>
                        <td class="text-right">{{ receipt_allocation.allocated|money }}</td>
                        <td class="text-right">{{ receipt_allocation.receipt.balance|money }}</td>
                        <td class="text-right"></td>
                        <td class="text-right">{{ receipt_allocation.allocated|money }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">&nbsp;&nbsp;</td>
                    <td class="text-right">{{ receipt.total_original|money }}</td>
                    <td class="text-right">{{ receipt.total_open|money }}</td>
                    <td class="text-right">{{ receipt.total_discounts|money }}</td>
                    <td class="text-right">{{ receipt.allocation_amount|money }}</td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;&nbsp;</td>
                </tr>
{#                <tr>#}
{#                    <td class="text-left" colspan="5"><strong>Total Allocated</strong></td>#}
{#                    <td class="text-right">{{ receipt.total_allocation|money }}</td>#}
{#                </tr>#}
                {% if receipt.balance %}
                    <tr>
                        <td>Still Open</td>
                        <td>{{ receipt }}</td>
                        <td colspan="3"></td>
                        <td class="text-right">{{ receipt.balance|money }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered" width="50%">
        <tr>
            <td><span class="text-danger">*</span>Vat Included</td>
            <td class="text-right">{{ receipt.total_vat|money }}</td>
        </tr>
    </table>
</div>