{% extends 'public.html' %}
{% load static %}
{% block page_title %}
{% endblock page_title %}
{% block content %}
<div class="card">
    <div class="card-header clear-fix">
        <div class="pull-left">Receipt &nbsp;{{ receipt }}</div>
        <div class="pull-right">
            <a href="javascript:history.back(-1)" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-backward"></i> Prev. Level</a>
        </div>
    </div>
    <div class="card-body">
         {% include 'receipts/template.html' %}
    </div>
</div>

{% endblock %}
