{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Capture Stock Count - {{ stock_count }}{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="capture_count_form" action="{% url 'save_stock_capture_count' stock_count.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left"></div>

            <div class="pull-right">
               <button class="btn btn-large btn-success" id="capture_count">Update Count</button>
               <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
            </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="row">
            <table class="table">
                <tr>
                    <td><strong>Branch</strong></td>
                    <td>{{ stock_count.branch }}</td>
                </tr>
                <tr>
                    <td><strong>Count Sheet</strong></td>
                    <td>{{ stock_count }}</td>
                </tr>
                <tr>
                    <td><strong>Created By</strong></td>
                    <td>{{ stock_count.captured_by }}</td>
                </tr>
                <tr>
                    <td><strong>Date Captured</strong></td>
                    <td>{{ stock_count.date }}</td>
                </tr>
                <tr>
                    <td><strong>Count Type</strong></td>
                    <td>{{ stock_count.count_type_name }}</td>
                </tr>
                {% if stock_count.count %}
                    <tr>
                        <td><strong>Count Type</strong></td>
                        <td>{{ stock_count.count }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Inventory</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Counted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory_item in stock_count.inventory_items.all %}
                        <tr>
                            <td>{{ inventory_item.inventory.full_name }}</td>
                            <td class="text-right">
                                {{ inventory_item.original_quantity }}
                                <input type="hidden" name="quantity_{{ inventory_item.id }}" id="quantity_{{ inventory_item.id }}" value="{{ inventory_item.in_stock }}" />
                            </td>
                            <td class="text-right">
                                <input type="text" tabindex="{{ forloop.counter0|add:3 }}" name="quantity_counted_{{ inventory_item.id }}" id="quantity_counted_{{ inventory_item.id }}" />
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">There are no stock to be counted found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory/stock_count.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}