{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Create Stock Count - {{ branch }} {% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="stock_count_sheet_form"
          action="{% url 'create_stock_count' %}" class="form">
        {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-left">
            </div>
            <div class="pull-right">
            </div>
        </div>
        <div class="panel-body">
            <div class="row" style="padding: 5px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group {% if form.date.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.date class="form-control datepicker"  %}
                            {% if form.date.auto_id  != "id_tos" %}
                                {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group {% if form.show_stock_on_hand.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.show_stock_on_hand.id_for_label }}">{{ form.show_stock_on_hand.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.show_stock_on_hand class="form-control"  %}
                            {% if form.show_stock_on_hand.auto_id  != "id_tos" %}
                                {% if form.show_stock_on_hand.errors %}<span class="help-inline">{{ form.show_stock_on_hand.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group {% if form.branch.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.branch class="form-control chosen-select"  %}
                            {% if form.branch.auto_id  != "id_tos" %}
                                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group {% if form.captured_by.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.captured_by.id_for_label }}">{{ form.captured_by.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.captured_by class="form-control"  %}
                            {% if form.captured_by.auto_id  != "id_tos" %}
                                {% if form.captured_by.errors %}<span class="help-inline">{{ form.captured_by.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading panel-default">Count type</div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="form-group">
                                <div class="controls">
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>All Stock</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="radio" name="count_type" id="count_type_all_stock" value="1" class="form-control" />
                                        </div>
                                        <div class="col-6 how-many" id="all_stock">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>Select Stock Item(s)</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="radio" name="count_type" id="count_type_select_stock" value="5" class="form-control" />
                                        </div>
                                        <div class="col-6 how-many">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>Random</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="radio" name="count_type" id="count_type_random" value="0" class="form-control" />
                                        </div>
                                        <div class="col-6 how-many" id="random" style="display: none;">
                                            <label class="control-label txt-font12">How Many</label>
                                            <div class="controls">
                                                <input type="text" id="random_count" name="count_0" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>Highest Item Value</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="radio" name="count_type" id="count_type_highest_item_value" value="2" class="form-control" />
                                        </div>
                                        <div class="col-6 how-many" id="highest_item_value" style="display: none;">
                                            <label class="control-label txt-font12">How Many</label>
                                            <div class="controls">
                                                <input type="text" id="highest_item_value_count" name="count_2" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <label>Highest Total Value</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="radio" name="count_type" id="count_type_highest_total_value" value="3" class="form-control" />
                                        </div>
                                        <div class="col-6 how-many" id="highest_total_value" style="display: none;">
                                            <label class="control-label txt-font12">How Many</label>
                                            <div class="controls">
                                                <input type="text" id="highest_total_value_count" name="count_3" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Highest Quantity</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="radio" name="count_type" id="count_type_highest_quantity" value="4" class="form-control" />
                                        </div>
                                        <div class="col-6 how-many" id="highest_quantity" style="display: none;">
                                            <label class="control-label txt-font12">How Many</label>
                                            <div class=" controls">
                                                <input type="text" id="highest_quantity_count" name="count_4" value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="controls text-right">
                <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
                <button class="btn btn-warning" data-dismiss="modal">Close</button>
                <button style="display: none;" type="button" class="btn btn-primary btn-large" name="generate_next"
                        id="generate_next"> Next <i class="fa fa-arrow-circle-o-right"></i></button>
                <button type="button" class="btn btn-primary btn-large" name="generate_stock_count_report"
                        id="generate_stock_count_report"><i class="fa fa-save"></i> Generate</button>
            </div>
        </div>
    </div>
</form>
{% endblock  %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/lodash.js' %}?{% now 'YmdHis' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory/stock_count.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}