{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Stock Count Report - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Report Unique Number:</th>
                    <th>{{ stock_count }}</th>
                    <th class="text-right">Jnl</th>
                    <th class="text-right">
                         {% if stock_count.ledger %}
                             <a href="{% url 'journal_lines' stock_count.ledger.id %}">{{ stock_count.ledger.journal_number }}</a>
                         {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>{{ stock_count.captured_by }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Role:</th>
                    <th>{{ journal.role }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Report Date:</th>
                    <th>
                        <u>{{ stock_count.date|date:'d, M Y' }}</u>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Created Date:</th>
                    <th>
                        {{ stock_count.created_at|date:'d, M Y' }}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Inventory</th>
                                    <th class="text-right">Original Quantity</th>
                                    <th class="text-right">Counted</th>
                                    <th class="text-right">Variance</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">Total Adjusted</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for inventory_item in stock_count.inventory_items.all %}
                                    <tr>
                                        <td>{{ inventory_item.inventory_id }} {{ inventory_item.inventory }}</td>
                                        <td class="text-right">{{ inventory_item.original_quantity }}</td>
                                        <td class="text-right">{{ inventory_item.quantity }}</td>
                                        <td class="text-right">
                                            {% if inventory_item.original_quantity < inventory_item.quantity %}
                                                <span class="text-danger">{{ inventory_item.variance }}</span>
                                            {% else %}
                                                {{ inventory_item.variance }}
                                            {% endif %}
                                        </td>
                                        <td class="text-right">{{ inventory_item.price|money }}</td>
                                        <td class="text-right">
                                            {% if inventory_item.original_quantity < inventory_item.quantity %}
                                                <span class="text-danger">{{ inventory_item.total_value|money }}</span>
                                            {% else %}
                                                {{ inventory_item.total_value|money }}
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5">There are no inventory items available</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td colspan="5" class="text-right">{{ stock_count.total_value|money }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}