{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Stock Count {{ year }}{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
            </div>

          <div class="pull-right">
              <a class="btn btn-sm btn-primary"
                 {% if year.is_final %}disabled="disabled"{% endif %}
                 href="{% url 'create_stock_count' %}">Create New</a>
              {% comment %}<a class="btn btn-large btn-success" href="{% url 'create_stock_count' %}">Capture Count</a>{% endcomment %}
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"
              ><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="3" class="text-center">Report Run</th>
                        <th colspan="3" class="text-center">Count Captured</th>
                        <th colspan="2" class="text-center">Variances</th>
                        <th></th>
                    </tr>
                    <tr class="thead-light" style="background-color: lightgrey">
                        <th>Stock Count</th>
                        <th>Status</th>
                        <th>Branch</th>
                        <th>Lines</th>
                        <th>Quantity</th>
                        <th>Value</th>
                        <th>Lines</th>
                        <th>Quantity</th>
                        <th>Lines</th>
                        <th>Quantity</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if stock_counts|length > 0 %}
                        {% for stock_count in stock_counts %}
                            <tr>
                                <td>{{ stock_count }}</td>
                                <td>{{ stock_count.status_name }}</td>
                                <td>{{ stock_count.branch }}</td>
                                <td>
                                    {% if stock_count.count %}
                                        {{ stock_count.count }}
                                    {% else %}
                                        {{ stock_count.report_lines }}
                                    {% endif %}
                                </td>
                                <td>{{ stock_count.report_quantity }}</td>
                                <td>{{ stock_count.report_value }}</td>
                                <td>{{ stock_count.count_lines }}</td>
                                <td>{{ stock_count.count_quantity }}</td>
                                <td>{{ stock_count.count_value }}</td>
                                <td>{{ stock_count.variance_quantity }}</td>
                                <td>{{ stock_count.variance_value }}</td>
                                <td>
                                    {% if stock_count.is_adjusted %}
                                        <a href="{% url 'stock_count_detail' stock_count.id %}" class="btn btn-success" id="capture_count">View Report</a>
                                    {% else %}
                                        {% if stock_count.is_selected_stock %}
                                            {% if stock_count.has_inventories %}
                                                {% if stock_count.is_generated %}
                                                    <a href="{% url 'stock_count_capture_stock' stock_count.id %}"
                                                       {% if year.is_final %}disabled="disabled"{% endif %}
                                                       class="btn btn-primary" id="capture_count">Capture Count</a>
                                                {% elif stock_count.is_counted %}
                                                    <a href="{% url 'view_variance' stock_count.id %}" class="btn btn-primary" id="capture_count">View Variance</a>
                                                {% endif%}
                                            {% else %}
                                                <a href="{% url 'select_stock_count' stock_count.id %}" class="btn btn-warning">Select Stock</a>
                                            {% endif%}
                                        {% else %}
                                            {% if stock_count.is_generated %}
                                                <a href="{% url 'stock_count_capture_stock' stock_count.id %}"
                                                   {% if year.is_final %}disabled="disabled"{% endif %}
                                                   class="btn btn-primary" id="capture_count">Capture Count</a>
                                            {% elif stock_count.is_counted %}
                                                <a href="{% url 'view_variance' stock_count.id %}" class="btn btn-primary" id="capture_count">View Variance</a>
                                            {% endif%}
                                        {% endif%}
                                    {% endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="11">There are no stock counts found</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}