{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Variance Adjustment {% endblock title %}
{% block content %}

<form method="post" action="{% url 'make_stock_variance_adjustment' stock_count.id %}" id="save_adjustment_form"
      class="form-horizontal">
    {% csrf_token %}
    <div class="modal-body">
        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.period class="form-control chosen-select" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.date class="form-control datepicker" %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.reason.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.reason.id_for_label }}">{{ form.reason.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.reason class="form-control" %}
                {% if form.reason.auto_id  != "id_tos" %}
                    {% if form.reason.errors %}<span class="help-inline">{{ form.reason.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group price-choice price">
            <label class="col-sm-2 control-label txt-font12">Average</label>
            <div class="col-sm-10">
                <input type="radio" class="checkbox-sm adjustment-price"
                       id="price_type_average"
                       name="price_type"
                       value="average"
                />
            </div>
        </div>
        <div class="form-group control-group price-choice price">
            <label class="col-sm-2 control-label txt-font12">Last Price</label>
            <div class="col-sm-10">
                <input type="radio" class="checkbox-sm adjustment-price"
                       id="price_type_last_price"
                       name="price_type"
                       value="last_price"
                />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="submit_adjustment" type="submit" id="submit_adjustment"><i class="fa fa-check"></i> Adjust</button>
    </div>
</form>
{% endblock %}
