{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Select inventory - {{ stock_count }}{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="select_stock_count_form" action="{% url 'save_selected_stock_count_inventory' stock_count.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
            </div>

          <div class="pull-right">
              <button class="btn btn-large btn-success" id="select_stock_items">Save</button>
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
         <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Inventory</th>
                        <th class="text-right">Quantity</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory in inventory_items %}
                        <tr>
                            <td>{{ inventory.full_name }}</td>
                            <td class="text-right">
                                {{ inventory.in_stock }}
                            </td>
                            <td>
                                <input class="checkbox-input" type="checkbox" name="inventory_item"
                                       id="inventory_item_{{ inventory.id }}" value="{{ inventory.id }}" />
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">There are no inventories found to be selected</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory/stock_count.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}