{% load invoice_tags inventory_tags %}
<tr id="sales_item_{{ invoice_item.id }}" class="sales-items invoice_item_row"
    data-row-id="{{ invoice_item.id }}"
    data-invoice-id="{{ invoice_item.id }}">
    <td>I</td>
    <td>
        {{ invoice_item.inventory.inventory }} - {{ invoice_item.inventory.description }}
        <input type="hidden" name="id_{{ invoice_item.id }}" value="{{ invoice_item.id }}" />
    </td>
    <td class="text-right">
        {{ invoice_item.inventory.in_stock|quantity }}
    </td>
    <td class="text-right">
        <input type="text" class="quantity text-right"
           value="{{ invoice_item.available_quantity|quantity }}"
           name="quantity_{{ invoice_item.id }}"
           id="quantity_{{ invoice_item.id }}"
           data-item-id="{{ invoice_item.id }}"
        />
        <input type="hidden" class="text-right"
           value="{{ invoice_item.available_quantity|quantity }}"
           name="in_stock_{{ invoice_item.id }}"
           id="in_stock_{{ invoice_item.id }}"
           data-item-id="{{ invoice_item.id }}"
        />
        <input type="hidden" class="text-right invoiced" value="{{ invoice_item.available_quantity|quantity }}"
               name="invoiced_{{ invoice_item.id }}"
               id="invoiced_{{ invoice_item.id }}"
               data-item-id="{{ invoice_item.id }}"
               placeholder="1"
        >
        <input type="hidden" class="text-right ordered" value="{{ invoice_item.available_quantity|quantity }}"
               name="ordered_{{ invoice_item.id }}"
               id="ordered_{{ invoice_item.id }}"
               data-item-id="{{ invoice_item.id }}"
               placeholder="1"
        >
        <input type="hidden" class="allow-negative" value="0"
               name="allow_negative_stock_{{ invoice_item.id }}"
               id="allow_negative_stock_{{ invoice_item.id }}"
               data-item-id="{{ invoice_item.id }}"
        >
    </td>
    <td class="text-right">
        {{ invoice_item.inventory.unit }}
    </td>
    <td class="text-right">
        {{ invoice_item.price|money }}
        <input type="hidden"
               name="price_{{ invoice_item.id }}"
               id="price_{{ invoice_item.id }}"
               data-item-id="{{ invoice_item.id }}"
               value="{{ invoice_item.price|money }}" />
        <input type="hidden" class="sub-total"
               name="sub_total_{{ invoice_item.id }}"
               id="sub_total_{{ invoice_item.id }}"
               data-item-id="{{ invoice_item.id }}"
               value="{{ invoice_item.sub_total }}" />
    </td>
    <td class="text-right">
        {{ invoice_item.discount|money }}
        <input type="hidden" class="form-control form-control-sm discount" value="{{ invoice_item.discount }}"
               name="discount_percentage_{{ invoice_item.id }}"
               id="discount_percentage_{{ invoice_item.id }}"
               data-item-id="{{ invoice_item.id }}" />
        <input type="hidden" class="form-control form-control-sm total-discount" value="{{ invoice_item.total_discount }}"
               readonly="readonly" name="total_discount_{{ invoice_item.id }}" id="total_discount_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
    </td>
    <td class="text-right">
        <span class="price-exc" id="total_price_exl_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
            {{ invoice_item.total_price_excluding|money }}
        </span>
        <input type="hidden" value="{{ invoice_item.total_price_excluding }}"
               name="total_price_excluding_{{ invoice_item.id }}"
               id="total_price_excluding_{{ invoice_item.id }}"
               class="total-price-excl" />
    </td>
    <td class="text-right">
        <span class="total-vat" id="vat_total_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
            {{ invoice_item.vat|money }}
        </span>
        <input type="hidden" value="{{ invoice_item.vat }}"
               name="vat_percentage_{{ invoice_item.id }}"
               id="vat_percentage_{{ invoice_item.id }}"
               class="vat-percentage"
        >
        <input type="hidden" value="{{ invoice_item.vat_code.id }}"
               name="vat_code_{{ invoice_item.id }}"
               id="vat_code_{{ invoice_item.id }}"
               data-percentage="{{ invoice_item.vat_code.percentage }}"
               class="vat vat-codes"
               data-item-id="{{ invoice_item.id }}"
               data-text="{{ invoice_item.vat_code }}"
        />
        <input type="hidden"
               name="total_vat_{{ invoice_item.id }}"
               id="total_vat_{{ invoice_item.id }}"
               class="total-vat total-vat-amount"
               value="{{ invoice_item.total_vat_amount }}"
        />
    </td>
    <td class="text-right">
        <span id="price_incl_{{ invoice_item.id }}">{{ invoice_item.total_vat_amount|money }}</span>
        <input type="hidden" class="form-control form-control-sm price-including"
           name="price_including_{{ invoice_item.id }}"
           id="price_including_{{ invoice_item.id }}"
           data-item-id="{{ invoice_item.id }}"
           value="{{ invoice_item.price_including }}" />
    </td>
    <td class="text-right">
        <span class="price" id="total_price_incl_{{ invoice_item.id }}">{{ invoice_item.total_price_including|money }}</span>
        <input type="hidden" value="{{ invoice_item.total_price_including|money }}"
               name="total_price_including_{{ invoice_item.id }}"
               id="total_price_including_{{ invoice_item.id }}"
               class="total-price-incl open-input"
        >
    </td>
    <td>
        <a href="javascript:void(0);" data-row-id="{{ invoice_item.id }}" class="delete-row"
           data-action="delete"
           id="delete_{{ invoice_item.id }}">
         <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ invoice_item.id }}"></i>
        </a>
    </td>
</tr>