{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} General Ledger - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            {% include 'ledger/form.html' %}
        </div>
        <div class="col-lg-12 col-xs-12 data-container" id="general_ledger"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/ledger.js' %}?{% now 'YmdHis' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_from_account').focus().select();
        });
    </script>
{% endblock %}}