{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} General Ledger - {{ year }} {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="row col-12">
</div>
<div class="row col-12" id="general_ledger">
    <table class="table table-bordered table-condensed" width="100%">
        <thead>
            <tr>
                <th colspan="12"></th>
                <th class="text-right">Open</th>
                <th class="text-right">Running</th>
            </tr>
            <tr>
                <th>Per</th>
                <th>Docuflow Unique</th>
                <th>Accounting Date</th>
                <th>Document Date</th>
                <th>Due Date</th>
                <th>Document Type</th>
                <th>Document Number</th>
                <th>Reference 1</th>
                <th>Reference 2</th>
                <th class="text-right">Original Amount</th>
                <th class="text-right">Allocated Amount</th>
                <th>Allocated Ref</th>
                <th class="text-right">Balance</th>
                <th class="text-right">Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier, supplier_ledgers in ledger.items %}
                <tr class="supplier-ledger-row">
                    <td><strong>{{ supplier.code }}</strong></td>
                    <td><strong>{{ supplier.name }}</strong></td>
                    <td colspan="12"></td>
                </tr>
                {% for supplier_ledger in supplier_ledgers.ledger_lines %}
                    <tr class="supplier-ledger-row">
                        <td>{{ supplier_ledger.line.invoice.period }}</td>
                        <td>{{ supplier_ledger.line.invoice }}</td>
                        <td>{{ supplier_ledger.line.invoice.accounting_date }}</td>
                        <td>{{ supplier_ledger.line.invoice.invoice_date }}</td>
                        <td>{{ supplier_ledger.line.invoice.due_date }}</td>
                        <td>{{ supplier_ledger.line.invoice.invoice_type }}</td>
                        <td>{{ supplier_ledger.line.invoice.invoice_number }}</td>
                        <td>{{ supplier_ledger.line.invoice.reference_1 }}</td>
                        <td>{{ supplier_ledger.line.invoice.reference_2 }}</td>
                        <td class="text-right">{{ supplier_ledger.line.credit_total|money }}</td>
                        <td class="text-right"></td>
                        <td></td>
                        <td class="text-right">{{ supplier_ledger.line.credit_total|money }}</td>
                        <td class="text-right">{{ supplier_ledger.balance|money }}</td>
                    </tr>
                {% endfor %}
                <tr class="supplier-ledger-row">
                    <td colspan="14">&nbsp;</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ledger.js' %}"></script>
{% endblock %}