{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Create Goods Returned - {{ branch }} {% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="create_goods_returned"
      action="{% url 'create_returned' %}">
        {% csrf_token %}
        <div class="form-group {% if form.supplier.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
            <div class="controls">
                {% render_field form.supplier class="form-control chosen-select"  %}
                {% if form.supplier.auto_id  != "id_tos" %}
                    {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.period.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="controls">
                {% render_field form.period class="form-control"  %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.date.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="controls">
                {% render_field form.date class="form-control datepicker"  %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.note.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.note.id_for_label }}">{{ form.note.label_tag }}</label>
            <div class="controls">
                {% render_field form.note class="form-control"  %}
                {% if form.note.auto_id  != "id_tos" %}
                    {% if form.note.errors %}<span class="help-inline">{{ form.note.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

{#        <div class="form-group {% if form.inventory.errors %}error{% endif %}">#}
{#            <label class=" control-label txt-font12" for="{{ form.inventory.id_for_label }}">{{ form.inventory.label_tag }}</label>#}
{#            <div class="controls">#}
{#                {% render_field form.inventory class="form-control chosen-select"  %}#}
{#                {% if form.inventory.auto_id  != "id_tos" %}#}
{#                    {% if form.inventory.errors %}<span class="help-inline">{{ form.inventory.errors }}</span>{% endif %}#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}

        <div class="form-group {% if form.received_movement.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.received_movement.id_for_label }}">{{ form.received_movement.label_tag }}</label>
            <div class="controls">
                {% render_field form.received_movement class="form-control chosen-select"  %}
                {% if form.received_movement.auto_id  != "id_tos" %}
                    {% if form.received_movement.errors %}<span class="help-inline">{{ form.received_movement.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div id="supplier_inventory_received_items"></div>

        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
        <div class="controls text-right">
            <button type="button" class="btn btn-primary btn-large" name="submit_goods_returned"
                    id="submit_goods_returned"><i class="fa fa-save"></i> Record Return</button>
        </div>
    </form>
{% endblock  %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}