{% extends 'base.html' %}
{% load static %}
{% load i18n invoice_tags %}
{% block title %}Goods Returned{% endblock title %}
{% block page_title %}Goods Returned {{ year }}{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <div class="pull-left">
        </div>
        <div class="pull-right">
          <a {% if year.is_final %}disabled="disabled"{% endif %} class="btn btn-sm btn-primary" href="{% url 'create_returned' %}"><i class="fa fa-plus-circle"></i> Create New </a>
        </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="goods_returned" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Document</th>
                        <th>Document Type</th>
                        <th>Supplier No</th>
                        <th>Supplier</th>
                        <th>Doc Date</th>
                        <th class="text-right">Ex Vat</th>
                        <th class="text-right">Incl Vat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="goods">
                    {% for returned_item in returned_items %}
                        <tr data-detail-url="{% url 'view_returned' returned_item.id %}?redirect={% url 'inventory_returned_index' %}">
                            <td>{{ returned_item }}</td>
                            <td>{{ returned_item.document_type }}</td>
                            <td>{{ returned_item.supplier.code }}</td>
                            <td>{{ returned_item.supplier }}</td>
                            <td>{{ returned_item.created_at|date:"d, M Y" }}</td>
                            <td class="text-right">{{ returned_item.total_excl|money }}</td>
                            <td class="text-right">{{ returned_item.total_amount|money }}</td>
                            <td class="actions">
                                {% if returned_item.has_invoice_account %}
                                    {% if returned_item.invoice_account.invoice.is_out_of_flow %}
                                        <span class="completed">
                                            <a href="{% url 'invoice_detail' returned_item.invoice_account.invoice_id %}">
                                                {{ returned_item.invoice_account.invoice }}
                                            </a>
                                        </span>
                                    {% else %}
                                        <span class="grayout">
                                            <a href="{% url 'invoice_detail' returned_item.invoice_account.invoice_id %}">
                                                {{ returned_item.invoice_account.invoice }}
                                            </a>
                                        </span>
                                    {% endif %}
                                {% elif returned_item.is_completed %}
                                    <a href="{% url 'view_received' returned_item.received_movement.id %}" class="text-success">
                                        {{ returned_item.received_movement }}
                                    </a>
                                {% else %}
                                    <span class="grayout">-</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8">There are no goods returned</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="8" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Last</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}