{% load invoice_tags %}
<table class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>Stock Code</th>
            <th>Description</th>
            <th>Qty Original</th>
            <th>Qty On Hand</th>
            <th>Qty Ret.</th>
            <th>Vat</th>
            <th>Price Exc</th>
            <th>Price Inc</th>
            <th>Price Total Exc</th>
            <th>Price Total Inc</th>
        </tr>
    </thead>
    <tbody>
        {% for item in received.inventory_items %}
            <tr>
                <td>
                    {{ item.received.inventory }}
                    <input type="hidden" class="form-control form-control-sm inventory-item" value="{{ item.received.inventory.id }}"
                           name="inventory_item_{{ item.received.id }}"
                           id="inventory_item_{{ item.received.id }}" />
                    <input type="hidden" class="form-control-sm inventory-received-item" value="{{ item.received.id }}"
                       name="inventory_received_{{ item.received.id }}"
                       id="inventory_received_{{ item.received.id }}" />
                </td>
                <td>{{ item.received.inventory.description }}</td>
                <td>
                    {{ item.received.quantity }}
                    <input type="hidden" class="qty-ordered" value="{{ item.received.quantity }}"
                           name="quantity_ordered_{{ item.received.id }}"
                           id="quantity_ordered_{{ item.received.id }}" />
                </td>
                <td>
                    {{ item.received.inventory.in_stock }}
                    <input type="hidden" class="max-quantity" value="{{ item.received.inventory.in_stock }}"
                           name="max_quantity_{{ item.received.id }}"
                           id="max_quantity_{{ item.received.id }}" />
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm received" value="{{ item.in_hand }}"
                           name="quantity_received_{{ item.received.id }}"
                           id="quantity_received_{{ item.received.id }}"
                           data-item-id="{{ item.received.id }}" />
                </td>
                <td>
                    {{ item.received.inventory.vat_code }}
                    <input type="hidden" class="vat-code" value="{{ item.received.vat_id }}"
                           name="vat_code_{{ item.received.id }}"
                           id="vat_code_{{ item.received.id }}" />
                    <input type="hidden" class="vat-percentage" value="{{ item.received.vat.percentage }}"
                           name="vat_percentage_{{ item.received.id }}"
                           id="vat_percentage_{{ item.received.id }}" />
                    <input type="hidden" class="vat-amount" value="{{ item.received.vat_amount }}"
                           name="vat_amount_{{ item.received.id }}"
                           id="vat_amount_{{ item.received.id }}" />
                </td>
                <td>
                    {{ item.received.price_excluding|money }}
                    <input type="hidden" class="price-exc" value="{{ item.received.price_excluding }}"
                           name="price_{{ item.received.id }}"
                           id="price_{{ item.received.id }}" />
                </td>
                <td>
                    <span id="price_incl_{{ item.received.id }}">{{ item.received.price_including|money }}</span>
                    <input type="hidden" class=" price-incl" value="{{ item.received.price_including }}"
                            name="price_including_{{ item.received.id }}"
                            id="price_including_{{ item.received.id }}" />
                </td>
                <td>
                    <span id="total_price_exl_{{ item.received.id }}">
                        {{ item.received.total_price_excluding|money }}</span>
                    <input type="hidden" class="form-control form-control-sm total-price-excl" value="{{ item.received.total_price_excluding }}"
                            name="total_price_excluding_{{ item.received.id }}"
                            id="total_price_excluding_{{ item.received.id }}" />
                </td>
                <td>
                    <span id="total_price_incl_{{ item.received.id }}">
                        {{ item.received.total_price_including|money }}</span>
                    <input type="hidden" class="form-control form-control-sm total-price-incl"
                           value="{{ item.received.total_price_including }}"
                            name="total_price_including_{{ item.received.id }}"
                            id="total_price_including_{{ item.received.id }}" />
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td><span id="total_ordered">{{ received.total_ordered }}</span></td>
            <td><span id="total_on_hand">{{ received.total_received }}</span></td>
            <td><span id="total_received"></span></td>
            <td>
                <span id="vat_total">{{ received.total_vat }}</span>
                <input type="hidden" class="" value="0" name="total_vat" id="id_total_vat" />
            </td>
            <td>
                <span id="price_excl">{{ received.total_price_exl|money }}</span>
            </td>
            <td>
                <span id="price_incl">{{ received.total_price_in|money }}</span>
                <input type="hidden" class="" value="0" name="total_amount" id="id_total_amount" />
            </td>
            <td><span id="total_price_excl">{{ received.total_total_price_exl|money }}</span></td>
            <td><span id="total_price_inc">{{ received.total_total_price_inc|money }}</span></td>
        </tr>
    </tfoot>
</table>