{% load static %}
{% load i18n %}
{% load company_linked_objects_tags %}
{% load widget_tweaks %}
<tr class="inventory_item_row {{ row }}" id="row_{{ row }}" data-row-id="{{ row }}">
    <td>
        <select id="{{ row }}_inventory_item" name="inventory_item_{{ row }}"
                class="form-control chosen-select inventory_item">
            <option value="">--</option>
            {% for inventory_item in inventory_items %}
                <option value="{{ inventory_item.inventory.id }}"
                        data-unit="{{ inventory_item.inventory.unit }}"
                        data-units-url="{% url 'measure_units' %}"
                        {% if inventory_item.inventory.vat_code %}
                            data-vat-id="{{ inventory_item.inventory.vat_code.id }}"
                        {% endif %}
                        {% if inventory_item.inventory.unit %}
                            data-unit-id="{{ inventory_item.inventory.unit.id }}"
                        {% endif %}
                        {% if inventory_item.inventory.measure %}
                            data-measure="{{ inventory_item.inventory.measure.id }}"
                        {% endif %}
                        data-price="{{ inventory_item.inventory.selling_price }}"
                        {% if inventory_item.inventory.min_reorder %}
                            data-min-order="{{ inventory_item.inventory.min_reorder }}"
                        {% endif %}
                        data-max-order="{{ inventory_item.in_hand }}"
                        {% if inventory_item.inventory.supplier %}
                            data-preferred-supplier="{{ inventory_item.inventory.supplier }}"
                            data-preferred-supplier-id="{{ inventory_item.inventory.supplier.id }}"
                        {% endif %}
                >{{ inventory_item.inventory.full_name }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <input type="text" class="form-control validate_number quantity received" id="quantity_received_{{ row }}"
               name="quantity_received_{{ row }}"/>
    </td>
    <td>
        <select id="unit_{{ row }}" name="unit_{{ row }}" class="form-control units">
            <option value="">--</option>
        </select>
    </td>
    <td>
        <input type="text" class="form-control validate_number calculate_net price-exc" id="price_{{ row }}"
               name="price_{{ row }}">
    </td>
    <td>
        <span id="total_price_exl_{{ row }}"></span>
        <input type="hidden" value="" name="total_price_excluding_{{ row }}" id="total_price_excluding_{{ row }}"
               class="total-price-excl" />
    </td>
    <td>
        <select id="vat_code_{{ row }}" name="vat_code_{{ row }}" class="form-control calculate_vat">
            <option value="">--</option>
            {% for vat_code in vat_codes.all %}
                <option value="{{ vat_code.id }}" data-percentage="{{ vat_code.percentage }}">{{ vat_code }}</option>
            {% endfor %}
        </select>
    </td>
    <td>

        <span id="vat_{{ row }}"></span>
        <input type="hidden" class="form-control vat" value="" name="vat_amount_{{ row }}" id="vat_amount_{{ row }}"  />
    </td>
    <td>
        <span id="price_incl_{{ row }}"></span>
        <input type="hidden" class="form-control price-incl" value="" name="price_including_{{ row }}" id="price_including_{{ row }}" />
    </td>
    <td>
        <span id="total_price_incl_{{ row }}"></span>
        <input type="hidden" class="form-control total-price-incl" value="" name="total_price_including_{{ row }}" id="total_price_including_{{ row }}" />
    </td>
</tr>
