{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
<table class="table table-bordered invoices" id="supplier_sundry_invoices_payment" width="100%">
    <thead>
        <tr>
            <th>Unique Number</th>
            <th>Document Type</th>
            <th>Document Number</th>
            <th>Document Date</th>
            <th>Due Date</th>
            <th class="text-right">Original</th>
            <th class="text-right">Open</th>
            <th class="text-right">Allocate</th>
            <th class="text-right">New Open</th>
        </tr>
    </thead>
        <tbody>
            {% if invoices|length > 0 %}
                {% for invoice in invoices %}
                    <tr class="invoices">
                        <td>{{ invoice }}</td>
                        <td>{{ invoice.invoice_type }}</td>
                        <td>{{ invoice.invoice_number }}</td>
                        <td>{{ invoice.accounting_date }}</td>
                        <td>{{ invoice.due_date }}</td>
                        <td class="text-right">
                            <input class="invoice-amount" type="hidden" value="{{ invoice.total_amount }}" id="invoice_amount_{{ invoice.id }}" name="invoice_amount_{{ invoice.id }}">
                            {{ invoice.total_amount|money }}
                        </td>
                        <td class="text-right">
                            <input class="invoice-open-amount" type="hidden" value="{{ invoice.open_amount }}" id="open_amount_{{ invoice.id }}" name="open_amount_{{ invoice.id }}">
                            {{ invoice.open_amount|money }}
                        </td>
                        <td class="text-right">
                            <input type="text" class="form-control allocate-payment text-right" name="invoice_amount_paid_{{ invoice.id }}"
                                   data-invoice-id="{{ invoice.id }}" id="allocate_{{ invoice.id }}"
                                   value=""  />
                        </td>
                        <td class="text-right">
                            <input type="text" readonly="readonly" class="form-control text-right open-amount" name="open_amount_{{ invoice.id }}"
                                id="open_{{ invoice.id }}" value="{{ invoice.open_amount }}" />
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No invoices found for this supplier</td>
                </tr>
            {% endif %}
            {% if payments|length > 0 or ledger_payments|length > 0 %}
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right"></th>
                    <th class="text-right"><em>Still to be allocated</em></th>
                    <th class="text-right"></th>
                    <th class="text-right"></th>
                </tr>
                {% for payment in payments %}
                    <tr class="payments">
                        <td>
                            {{ payment }}
                            <input type="hidden" value="{{ payment.id }}" id="payment_id" name="payment_id">
                        </td>
                        <td>Payment</td>
                        <td></td>
                        <td>{{ payment.payment_date }}</td>
                        <td>{{ payment }}</td>
                        <td class="text-right">
                            <input class="payment-amount" type="hidden" value="{{ payment.balance }}"
                                   id="payment_amount_{{ payment.id }}" name="payment_amount_{{ payment.id }}">
                            {{ payment.total_amount|money }}
                        </td>
                        <td class="text-right">
                            {{ payment.amount_available|money }}
                        </td>
                        <td class="text-right">
                            <input class="allocated form-control text-right" type="text" value=""
                                   data-payment-id="{{ payment.id }}"
                                   id="payment_allocated_{{ payment.id }}" name="payment_allocated_{{ payment.id }}">
                        </td>
                        <td class="text-right">
                            <input class="open-amount balance form-control text-right" type="text" readonly="readonly"
                                   id="balance_{{ payment.id }}" name="balance_{{ payment.id }}" value="" />
                        </td>
                    </tr>
                {% endfor %}
                {% for ledger_payment in ledger_payments %}
                    <tr class="payments general-ledger">
                        <td>
                            {{ ledger_payment.journal_line }}
                            <input type="hidden" value="{{ ledger_payment.id }}" id="payment_id" name="payment_id" />
                        </td>
                        <td>Journal</td>
                        <td></td>
                        <td>{{ ledger_payment.date }}</td>
                        <td></td>
                        <td class="text-right">
                            <input class="payment-amount" type="hidden" value="{{ ledger_payment.balance }}"
                                   id="payment_amount_{{ ledger_payment.id }}" name="payment_amount_{{ ledger_payment.id }}">
                            {{ ledger_payment.total_amount|money }}
                        </td>
                        <td class="text-right">
                            {{ ledger_payment.available_amount|money }}
                        </td>
                        <td class="text-right">
                            <input class="allocated form-control text-right" type="text" value=""
                                   data-payment-id="{{ ledger_payment.id }}"
                                   id="payment_allocated_{{ ledger_payment.id }}"
                                   name="ledger_payment_allocated_{{ ledger_payment.id }}">
                        </td>
                        <td class="text-right">
                            <input class="open-amount balance form-control text-right" type="text" readonly="readonly"
                                   id="balance_{{ ledger_payment.id }}" name="balance_{{ ledger_payment.id }}" value="" />
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No funds to allocate</td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot class="totals">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">{{ total|money }}</td>
                <td class="text-right">{{ total_open|money }}</td>
                <td class="text-right">
                    <span id="allocated_amount"></span>
                </td>
                <td class="text-right">
                    <span id="total_new_open">{{ total_new_open|money }}</span>
                </td>
            </tr>
        </tfoot>
</table>