{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks compress %}
{% load invoice_tags %}
{% block page_title %} Allocate Supplier Sundry Payments - {{ year }} {% endblock page_title %}
{% block content %}
<form method="post" id="allocate_sundry_payment" name="allocate_sundry_payment" class="form-horizontal"
      action="{% url 'allocate_sundry_payment' %}">
    {% csrf_token %}
    <div class="col-sm-12">
        <div class="form-group{% if form.supplier.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
            <div class="col-sm-8">
                {% render_field form.supplier class="form-control chosen-select" %}
                {% if form.supplier.auto_id  != "id_tos" %}
                    {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group {% if form.period.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="col-sm-8">
                {% render_field form.period class="form-control" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group  {% if form.payment_date.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.payment_date.id_for_label }}">{{ form.payment_date.label_tag }}</label>
            <div class="col-sm-8">
                {% render_field form.payment_date class="form-control datepicker" %}
                {% if form.payment_date.auto_id  != "id_tos" %}
                    {% if form.payment_date.errors %}<span class="help-inline">{{ form.payment_date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <table class="table table-bordered invoices" id="supplier_sundry_invoices_payment" width="100%">
            <thead>
                <tr>
                    <th>Unique Number</th>
                    <th>Document Type</th>
                    <th>Document Number</th>
                    <th>Due Date</th>
                    <th class="text-right">Invoice Amount</th>
                    <th class="text-right">Discount Available</th>
                    <th class="selecta">Discount Taken</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">Select the supplier</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="controls text-right">
        <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        <button class="btn btn-primary btn-large save-payment" id="update_payment"
                disabled="disabled"><i class="fa fa-save"></i> Update Payment</button>
    </div>

</form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
    {% endcompress %}
{% endblock %}