{% extends 'modal.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}{% translate 'Delete supplier payment' %} - <strong>{{ payment }}</strong> {% endblock title %}
{% block content %}
<form method="post" action="{% url 'delete_payment' payment.id %}" id="delete_payment_form" name="delete_payment_form" class="form-horizontal">
    {% csrf_token %}
     <div class="modal-body">
        <div class="row">
            <div class="text-danger">
                {% translate 'Are you sure you want to delete this payment' %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">{% translate "Cancel" %}</button>
        <button type="button" class="btn btn-primary" id="delete_payment_btn">{% translate "Comfirm" %}</button>
    </div>
</form>
{% endblock %}