{% extends 'modal.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}{% translate 'Create supplier payment' %} - <strong>{{ supplier }}</strong> {% endblock title %}
{% block content %}
<form method="post"
      action="{% url 'create_supplier_payment' supplier_id=supplier.id %}" id="pay_supplier_invoices"
      name="pay_supplier_invoices" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
     <div class="modal-body">
        <div class="row">
        {% if has_error %}
             <div id="text-reason">{{ message }}</div>
        {% else %}
        {% if has_unallocated_payments and invoice_id %}
            <div class="alert alert-danger">
                {% translate 'There is a credit on this supplier, we suggest you sign the invoice and rather pay it through pay supplier' %}
            </div>
        {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered invoices" id="pay_supplier_invoice">
                    <tr>
                        <td>
                            <table class="table" width="100%">
                                <thead>
                                    <tr>
                                        <th>{% translate 'Unique Number' %}</th>
                                        <th>{% translate 'Document Type' %}</th>
                                        <th>{% translate 'Document Number' %}</th>
                                        <th>{% translate 'Due Date' %}</th>
                                        <th class="text-right">{% translate 'Total Due' %}</th>
                                        <th class="text-right">{% translate 'Discount Available' %}</th>
                                        <th class="selecta">{% translate 'Discount Taken' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invoice in supplier_invoices.invoices %}
                                        <tr>
                                            <td>{{ invoice }}</td>
                                            <td>{{ invoice.invoice_type }}</td>
                                            <td>{{ invoice.invoice_number }}</td>
                                            <td>{{ invoice.due_date }}</td>
                                            <td class="text-right">
                                                <input class="invoice-amount" type="hidden" value="{{ invoice.open_amount }}"
                                                       data-open-amount="{{ invoice.open_amount }}"
                                                       data-is-credit="{% if invoice.is_credit_type %}1{% else %}0{% endif %}"
                                                       id="invoice_amount_{{ invoice.id }}" name="invoice_amount_{{ invoice.id }}">
                                                {{ invoice.open_amount|money }}
                                            </td>
                                            <td class="text-right">
                                                <input class="invoice-discount" type="hidden" value="{{ invoice.supplier_discount }}" id="invoice_discount_{{ invoice.id }}" name="invoice_discount_{{ invoice.id }}">
                                                {{ invoice.supplier_discount|money }}
                                            </td>
                                            <td class="selecta">
                                                <input type="checkbox" class="checkbox-input discount-invoice-check"
                                                       name="discount_invoice_{{ invoice.id }}" id="discount_invoice_{{ invoice.id }}"
                                                       value="{{ invoice.id }}" />
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% for payment in supplier_invoices.payments %}
                                        <tr>
                                            <td>{{ payment }}</td>
                                            <td>{% translate 'Payment' %}</td>
                                            <td>{{ payment}}</td>
                                            <td>{{ payment.payment_date }}</td>
                                            <td class="text-right">
                                                <input class="payment-amount" type="hidden" value="{{ payment.available_amount }}" id="payment_amount_{{ payment.id }}" name="payment_amount_{{ payment.id }}">
                                                {{ payment.display_available_amount|money }}
                                            </td>
                                            <td class="text-right">
                                                {{ 0|money }}
                                            </td>
                                            <td class="selecta">-</td>
                                        </tr>
                                    {% endfor %}
                                    {% for ledger, amount in supplier_invoices.ledgers.items %}
                                        <tr>
                                            <td>{{ ledger.journal_line }}</td>
                                            <td>{% translate 'Journal' %}</td>
                                            <td>{{ ledger }}</td>
                                            <td>{{ ledger.date }}</td>
                                            <td class="text-right">
                                                <input class="ledger-amount" type="hidden" value="{{ ledger.balance }}"
                                                       id="ledger_amount_{{ ledger.id }}"
                                                       name="ledger_amount_{{ ledger.id }}">
                                                {{ ledger.balance |money }}
                                            </td>
                                            <td class="text-right">
                                                {{ 0|money }}
                                            </td>
                                            <td class="selecta">-</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">{{ supplier_invoices.total|money }}</td>
                                        <td class="text-right">{{ supplier_invoices.total_discount|money }}</td>
                                        <td class="selecta">
                                            <input type="checkbox" class="discount-check checkbox-input"
                                                name="discount_invoices"
                                                id="discount_invoice"
                                                value="1"  />
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12" id="create_payment_box">
                {% include 'payment/form.html' %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">{% translate "Cancel" %}</button>
        <button type="button" class="btn btn-primary" id="make_payment">{% translate "Make Payment" %}</button>
    </div>
{% endif %}
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}