{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks compress %}
{% load company_tags %}
{% block page_title %}{% translate 'Payment Record/Remittance Advice' %} <span class="pull-right">&nbsp;{{ payment_report.payment }}</span>
{% endblock page_title %}
{% block content %}
<style type="text/css">
    table#invoices tbody>tr:hover{
        background-color: lightgray;
        border-top: 1px solid #000000;
    }
</style>
<form method="post" id="payment_form" action="{% url 'payment_advice' payment_id=payment_report.payment.id %}"
      enctype="multipart/form-data">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clear-fix">
        <div class="pull-left"><h5 class="panel-title pull-left"></h5></div>
        <div class="pull-right">
            <button type="button" class="btn btn-success btn-loading"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    data-ajax-url="{% url 'email_supplier_payment' payment_id=payment_report.payment.id %}" id="send_email">
                <i class="fa fa-envelope"></i> {% translate 'Email' %}</button>
            <a href="{% url 'payment_advice' payment_id=payment_report.payment.id %}?print=1" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> {% translate 'Print' %}</a>
            <button type="submit" class="btn btn-primary btn-sm" name="submit"><i class="fa fa-cloud-upload"></i> {% translate 'Save Only' %}</button>
            <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> {% translate 'Prev. Level' %}</a>
        </div>
      </div>
      {% include 'payment/template.html' %}
      <div class="panel-body align-center">
          <div class="row">
            <div class="col-3">{% translate 'Proof of payment if available' %}</div>
            <div class="col-4"></div>
            <div class="col-4 pull-right">
                {% if payment_report.payment.attachment %}
                    <a href="{{ upload_url }}{{ payment_report.payment.attachment }}" target="_blank">{% translate 'Attachment' %}</a>
                {% else %}
                    <div class="col-6 pull-left">
                        {% render_field form.attachment class="form-control" %}
                        {% if form.attachment.auto_id  != "id_tos" %}
                            {% if form.attachment.errors %}<span class="help-inline">{{ form.attachment.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="col-6 pull-right">
                        <button type="submit" class="btn btn-primary btn-sm" name="submit" id="upload_document"
                                data-toggle="tooltip"><i class="fa fa-upload"></i> {% translate 'Upload' %}</button>
                    </div>
                {% endif %}
            </div>
          </div>
      </div>
      <div class="panel-body align-center">
          <div class="text-center" id="proof_of_payment_viewer">
            {% if payment_report.payment.attachment %}
                <iframe src="{{ upload_url }}{{ payment_report.payment.attachment }}" height="50%" width="50%" class="align-center"></iframe>
            {% endif %}
          </div>
      </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
    {% endcompress %}
{% endblock %}
