{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %}Payment Record/Remittance Advice
    <span class="pull-right">&nbsp;{{ payment_report.payment }}</span>
{% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
<form method="post" id="payment_form" action="{% url 'edit_payment' payment_report.payment.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left"></h5>
            </div>

          <div class="pull-right">
            <input type="submit" class="btn btn-primary btn-sm" name="submit" value="Update Payment">
              <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body align-center">
          <div class="row">
            <div class="col-3">
                {% with company=payment_report.payment.company %}
                    {% include "companies/logo.html" %}
                {% endwith %}
            </div>
            <div class="col-4 text-center">
                {% with company=payment_report.payment.company %}
                    {% include "companies/address.html" %}
                {% endwith %}
            </div>
            <div class="col-4 text-right-right">
                <div class="pull-right text-right">
                    <h4>Remittance Advice</h4>
                    <p>{{ payment_report.payment }}</p>
                </div>
            </div>
          </div>
      </div>
      <div class="panel-body align-center">
            <div class="table-responsive" id="supplier_payment_table">
                {% include 'payment/payment.html' %}
            </div>
      </div>
      <div class="panel-body align-center">
            <div class="table-responsive" id="supplier_payment_form">
                {% include 'payment/form.html' %}
            </div>
      </div>
      <div class="panel-body align-center">
          <div class="row">
            <div class="col-4 pull-right">
                {% if payment_report.payment.attachment %}
                    <a href="{{ upload_url }}{{ payment_report.payment.attachment }}" target="_blank">Attachment</a>
                {% endif %}
            </div>
          </div>
      </div>
      <div class="panel-body align-center">
          <div class="text-center" id="proof_of_payment_viewer">
            {% if payment_report.payment.attachment %}
                <iframe src="{{ upload_url }}{{ payment_report.payment.attachment }}" height="50%" width="50%" class="align-center" />
            {% endif %}
          </div>
      </div>
      <div class="pull-right">

      </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
