{% extends 'email.html' %}
{% load static %}
{% load invoice_tags company_tags %}
{% block content %}
<h3 style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 14px; font-weight: bold; margin-top: 0; text-align: left;">Dear {{ payment_report.payment.supplier }}</h3>
<p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Thank you for using the Docuflow.co.za website!</p>
<div class="table" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; font-size: 12px; line-height: 1.2em; ">
<table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
    <tr>
        <td>
            <table width="100%" class="table-condensed" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
               <tr>
                  <td>
                    {% with company=payment_report.payment.company %}
                        {% display_logo company 200 75 is_print=1 %}
                    {% endwith %}
                  </td>
                  <td>
                    {% with company=payment_report.payment.company %}
                        {% include "companies/address.html" %}
                    {% endwith %}
                  </td>
                  <td>
                      <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 30px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                        <tr>
                            <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">Remittance Advice</td>
                            <td>{{ payment_report.payment }}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">Created By</td>
                            <td>{{ payment_report.payment.profile }}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">Created At</td>
                            <td>{{ payment_report.payment.created_at }}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">For supplier</td>
                            <td>{{ payment_report.payment.supplier }} - {{ payment_report.payment.account.code }}</td>
                        </tr>
                      </table>
                  </td>
              </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="table table-bordered" width="100%" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                <tr>
                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; font-size: 12px; line-height: 1.2em; ">{{ payment_report.payment.description|safe }}</td>
                </tr>
                <tr>
                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; font-size: 12px; line-height: 1.2em; ">&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; font-size: 12px; line-height: 1.2em; ">Detail of the above payment are as follows</td>
                </tr>
                <tr>
                    <td>
                        <table id="invoices" class="table table-bordered" width="100%" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 30px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                            <thead>
                                <tr>
                                    <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Document Type</th>
                                    <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Document Number</th>
                                    <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Your Reference</th>
                                    <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Our Reference</th>
                                    <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: right;" class="text-right">Allocated Total</th>
                                    <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: right;" class="text-right">Discount Taken</th>
                                    <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: right;" class="text-right">%</th>
                                    <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: right;" class="text-right">Net Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if payment_report.invoice_payments|length > 0 %}
                                    {% for invoice_payment in payment_report.invoice_payments %}
                                        <tr onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'invoice_detail' invoice_payment.invoice.id %}?redirect={{ request_url }}">
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ invoice_payment.invoice.invoice_type }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ invoice_payment.invoice.invoice_number }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ invoice_payment.invoice.id }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ invoice_payment.invoice }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right">{{ invoice_payment.amount|money }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right">{{ invoice_payment.discount|money }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right">{{ invoice_payment.percentage_discount }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right">{{ invoice_payment.net_amount|money }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if payment_report.payment.discount_disallowed %}
                                         <tr class="">
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;" colspan="4"></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;" class="text-right">Discounts previously disallowed</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right"><strong>{{ payment_report.payment.discount_disallowed|money }}</strong></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;" class="text-right"></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right"><strong>{{ payment_report.discount_disallowed|money }}</strong></td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;" colspan="8">There are no supplier invoice paid available</td>
                                    </tr>
                                {% endif %}
                                {% if payment_report.child_payments|length > 0 or payment_report.ledger_payments|length > 0 %}
                                    {% for payment_child in payment_report.child_payments %}
                                        <tr onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'payment_advice' payment_child.payment.id %}?redirect={{ request_url }}">
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">Payment Advice</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ payment_child.payment }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ payment_child.payment }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;"></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right">{{ payment_child.amount_allocated|money }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right"></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right"></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right">{{ payment_child.amount_allocated|money }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% for ledger_payment in payment_report.supplier_ledger_payments %}
                                        <tr onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'payment_advice' ledger_payment.payment.id %}?redirect={{ request_url }}">
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">Journal</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ ledger_payment.ledger.journal_line.journal }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;"></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ ledger_payment.ledger.journal_line.journal }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right">{{ ledger_payment.amount|money }}</td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;" class="text-right"></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;" class="text-right"></td>
                                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0; text-align: right;" class="text-right">{{ ledger_payment.amount|money }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                       <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: bold; padding: 10px 0;" colspan="8">&nbsp;</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: bold; padding: 10px 0;" colspan="4"></td>
                                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: bold; padding: 10px 0; text-align: right;" class="text-right"><strong>{{ payment_report.invoice_total|money }}</strong></td>
                                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: bold; padding: 10px 0; text-align: right;" class="text-right"><strong>{{ payment_report.total_discount|money }}</strong></td>
                                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: bold; padding: 10px 0;" class="text-right"></td>
                                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: bold; padding: 10px 0; text-align: right;" class="text-right"><strong>{{ payment_report.total|money }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}