{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}

<div class="form">
    {% render_field form.supplier %}
    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.period class="form-control chosen-select" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.payment_date.id_for_label }}">{{ form.payment_date.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.payment_date class="form-control datepicker" %}
                {% if form.payment_date.auto_id  != "id_tos" %}
                    {% if form.payment_date.errors %}<span class="help-inline">{{ form.payment_date.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.account.id_for_label }}">{{ form.account.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.account class="form-control chosen-select" %}
                {% if form.account.auto_id  != "id_tos" %}
                    {% if form.account.errors %}<span class="help-inline">{{ form.account.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.payment_method.id_for_label }}">{{ form.payment_method.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.payment_method class="form-control chosen-select"  %}
                {% if form.payment_method.auto_id  != "id_tos" %}
                    {% if form.payment_method.errors %}<span class="help-inline">{{ form.payment_method.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.total_amount.id_for_label }}">{{ form.total_amount.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.total_amount class="form-control" value=supplier_invoices.total %}
                {% if form.total_amount.auto_id  != "id_tos" %}
                    {% if form.total_amount.errors %}<span class="help-inline">{{ form.total_amount.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.total_discount.id_for_label }}">{{ form.total_discount.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.total_discount class="form-control" %}
                {% if form.total_discount.auto_id  != "id_tos" %}
                    {% if form.total_discount.errors %}<span class="help-inline">{{ form.total_discount.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-6 col-sm-6 col-md-6">
            <label class="col-sm-6 text-left" for="{{ form.discount_disallowed.id_for_label }}">{{ form.discount_disallowed.label_tag }}</label>
            <div class="col-sm-6 text-left">
                {% render_field form.discount_disallowed class="form-control" %}
                {% if form.discount_disallowed.auto_id  != "id_tos" %}
                    {% if form.discount_disallowed.errors %}<span class="help-inline">{{ form.discount_disallowed.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 {% if form.adjustment_account.errors %}error{% endif %}">
            <label class="col-sm-4 text-right" for="{{ form.adjustment_account.id_for_label }}">{{ form.adjustment_account.label_tag }}</label>
            <div class="col-sm-8 text-left">
                {% render_field form.adjustment_account class="form-control chosen-select adjustments" disabled="disabled" %}
                {% if form.adjustment_account.auto_id  != "id_tos" %}
                    {% if form.adjustment_account.errors %}<span class="help-inline">{{ form.adjustment_account.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.remittance_text.id_for_label }}">{{ form.remittance_text.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.remittance_text class="form-control adjustments"  disabled="disabled" %}
                {% if form.remittance_text.auto_id  != "id_tos" %}
                    {% if form.remittance_text.errors %}<span class="help-inline">{{ form.remittance_text.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.vat_code.id_for_label }}">{{ form.vat_code.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.vat_code class="form-control chosen-select" %}
                {% if form.vat_code.auto_id  != "id_tos" %}
                    {% if form.vat_code.errors %}<span class="help-inline">{{ form.vat_code.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.net_amount.id_for_label }}">{{ form.net_amount.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.net_amount class="form-control"  value=supplier_invoices.total readonly='readonly' %}
                {% if form.net_amount.auto_id  != "id_tos" %}
                    {% if form.net_amount.errors %}<span class="help-inline">{{ form.net_amount.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.reference.id_for_label }}">{{ form.reference.label_tag }}</label>
             <div class="col-sm-9 text-left">
                {% render_field form.reference class="form-control"  %}
                {% if form.reference.auto_id  != "id_tos" %}
                    {% if form.reference.errors %}<span class="help-inline">{{ form.reference.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

{#    <div class="row mb-3" style="margin-bottom: 5px !important;">#}
{#        <div class="col-lg-12 col-sm-12 col-md-12">#}
{#             <label class="col-sm-3 text-left" for="{{ form.memo.id_for_label }}">{{ form.memo.label_tag }}</label>#}
{#             <div class="col-sm-9 text-left">#}
{#                {% render_field form.memo class="form-control" %}#}
{#                {% if form.memo.auto_id  != "id_tos" %}#}
{#                    {% if form.memo.errors %}<span class="help-inline">{{ form.memo.errors }}</span>{% endif %}#}
{#                {% endif %}#}
{#             </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row mb-3" style="margin-bottom: 5px !important;">
        <div class="col-lg-12 col-sm-12 col-md-12">
             <label class="col-sm-3 text-left" for="{{ form.attachment.id_for_label }}">
                 {{ form.memo.label_tag }}
                 <small> Proof of payment if available</small>
             </label>

             <div class="col-sm-9 text-left">
                {% render_field form.attachment class="form-control" %}
                {% if form.attachment.auto_id  != "id_tos" %}
                    {% if form.attachment.errors %}<span class="help-inline">{{ form.attachment.errors }}</span>{% endif %}
                {% endif %}
             </div>
        </div>
    </div>

</div>