{% extends 'datatable.html' %}
{% load static i18n %}
{% block page_title %}Payments{% endblock page_title %}
{% block datatable %}
    <div class="panel panel-primary">
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="payments" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                    <th>{% translate "Remittance Number" %}</th>
                    <th>{% translate "Date paid" %}</th>
                    <th>{% translate "Supplier" %}</th>
                    <th class="text-right">{% translate "Total amount" %}</th>
                    <th>{% translate "Payment method" %}</th>
                    <th>{% translate "Period" %}</th>
                    <th>{% translate "Updated" %}</th>
                    <th class="actions"></th>
                </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/payment.js' %}?d={% now 'His' %}"></script>
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#payments").DataTable({
              serverSide: true,
              processing: true,
              ajax: '/api/v1/purchases/payments/?format=datatables',
              pagingType: 'full_numbers',
              iDisplayLength: '{{display_rows}}',
              lengthMenu:  JSON.parse("{{ menu_length }}"),
              order: [[ 1, 'desc' ]],
              columns: [
                { data: 'payment_reference', name: 'payment_reference', searchable: false, title:'Remittance Number' },
                { data: 'payment_date', name: 'payment_date', searchable: true, title:'Date Paid' },
                { data: 'supplier', name: 'supplier__name', title:'Supplier' },
                { data: 'total_amount', name: 'total_amount', title:'Total Amount' },
                { data: 'payment_method', name: 'payment_method__name', title:'Payment Method' },
                { data: 'period', name: 'period', searchable: false, title:'Period'},
                { data: 'is_updated', name: 'is_updated', searchable: false, title:'Updated'},
                { data: 'is_locked', name: 'is_locked', searchable: false, title:'Actions', className: 'actions'},
              ],
             columnDefs: [
                {
                    "render": function ( data, type, row ) {
                        if (data) {
                            const date = moment(data);
                            return `${date.format('MMM, DD, YYYY')}`
                        } else {
                            return ''
                        }
                    },
                    "targets": 1
                },
                {
                    "render": function ( data, type, row ) {
                        if (row.is_updated) {
                            return '<span class="text-success fa fa-check"></span>';
                        } else {
                            return '<span class="text-danger fa fa-close"></span>';
                        }
                    },
                    "targets": 6
                },
                {
                    "render": function ( data, type, row ) {
                        if (row.is_locked) {
                            return '<i class="text-warning fa fa-lock"></i>';
                        } else {
                            let html = []
                            html.push('<a href="" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>')
                            html.push('<a href="#" data-modal="'+ row['delete_url'] +'" data-text="(\'Are you sure you want to delete this payment\')" data-toggle="tooltip" title="" class="btn-sm btn-danger delete-payment" data-original-title="Delete"><i class="fa fa-trash"></i></a>')
                            return html.join(' ');
                        }
                    },
                    "targets": 7
                },
            ],
        });

        $('#payments').on('click', 'td:not(actions)', function (e) {
            const rowData = table.row( $(this).parent() ).data();
            if (!$(this).hasClass('actions') && rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'inventory_index' %}";
            }
            return;
        });

    });
    </script>
{% endblock %}


