{% load static %}
{% load invoice_tags %}
{% load thumbnail %}
<div id="po-page">
    <div class="col-12 text-right">
        <button class="btn btn-success" id="close_invoice_payment_link"
           data-ajax-url="{% url 'invoice_image' invoice.id %}"
        >Close</button>

    </div>
    <div class="col-12 text-right">
        <table class="table table-striped table-bordered">
          <tr>
            <td>Payment</td>
            <td>Date</td>
            <td class="text-right">Paid</td>
          </tr>
          {% if invoice_payments|length > 0 %}
              {% for invoice_payment in invoice_payments %}
                  <tr class="line-items">
                    <td>
                        {% if invoice_payment.payment.journal %}
                            <span data-toggle="tooltip" data-original-title="Update {{ invoice_payment.payment.journal }}"
                                    class="text-success">{{ invoice_payment.payment }}</span>
                        {% else %}
                            <span  data-toggle="tooltip" data-original-title="Pending Update"
                                    class="text-danger">{{ invoice_payment.payment }}</span>
                        {% endif %}
                    </td>
                    <td>{{ invoice_payment.payment.payment_date|date:'Y-m-d' }}</td>
                    <td class="text-right">{{ invoice_payment.allocated|money }}</td>
                  </tr>
              {% endfor %}
          {% else %}
              <tr>
                 <td class="line" colspan="3">No payments found</td>
              </tr>
          {% endif %}
          <tr>
            <td class="line" colspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td class="line" colspan="2">Open&nbsp;</td>
            <td class="text-right" colspan="3">{{ invoice.open_amount|money }}</td>
          </tr>
        </table>
    </div>
</div>