{% extends 'base.html' %}
{% load static compress %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Unpaid Invoice by supplier - {{ year }}{% endblock page_title %}
{% block content %}
<style>
    .selected-tr {
        font-weight: bold;
        background-color: #dad7d7 !important;
    }
</style>
<form method="get" action="{% url 'unpaid_invoice_by_supplier' %}" id="unpaid_invoices" name="unpaid_invoice_by_supplier" class="form-horizontal" >
<div class="panel panel-primary"    >
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
        <div class="panel-body align-center">
            <div class="col-lg-12 col-xs-12" id="create_receipt_box">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label class="control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label }}</label>
                                <div class="controls">
                                    {{ form.supplier|attr:"class:form-control chosen-select" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label class="control-label txt-font12" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label }}</label>
                                <div class="controls">
                                    {{ form.due_date|attr:"class:form-control datepicker" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group">
                                <div class="controls">
                                    <button type="button" name="search" id="search_unpaid_invoices" class="btn btn-primary"
                                            data-ajax-url="{% url 'generate_unpaid_invoices' %}"
                                            data-loading-text="<i class='fa fa-spinner'></i> Processing">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 data-container" id="supplier_invoices">
                <div class="col-sm-12 table-responsive">
                    <table class="table align-center table-bordered" width="100%" id="pay_suppliers">
                        <thead>
                            <tr>
                                <th>Supplier</th>
                                <th>Name</th>
                                <th>Document Count</th>
                                <th></th>
                                <th></th>
                                <th class="text-right">Total Due</th>
                                <th class="text-right">Unallocated Payments</th>
                                <th class="text-right">Discount Available</th>
                                <th class="selecta">Select</th>
                            </tr>
                        </thead>
                        <tbody id="supplier_sundry_invoices_payment">
                            {% if supplier_invoices or ledgers  %}
                                {% for supplier, supplier_invoice in supplier_invoices.items %}
                                    <tr class="parent parent-{{ supplier.id }}-tr open-unpaid"
                                        id="{{ supplier.id }}">
                                        <td id="{{ supplier.id }}" class="permission-group">
                                            {{ supplier.code }}
                                        </td>
                                        <td>{{ supplier.name }}</td>
                                        <td>{{ supplier_invoice.invoices|length }}</td>
                                        <td></td>

                                        <td></td>
                                        <td class="text-right total">{{ supplier_invoice.total|money }}</td>
                                        <td class="text-right total">{{ supplier_invoice.total_payment|money }}</td>
                                        <td class="text-right total">
                                            {{ supplier_invoice.total_discount|money }}
                                        </td>
                                        <td class="selecta actions">
                                            <label style="font-size: 1em">
                                                <input type="checkbox" class="unpaid-check checkbox-input"
                                                       name="unpaid_{{ supplier.id }}"
                                                       id="unpaid_{{ supplier.id }}"
                                                       data-supplier-id="{{ supplier.id }}"
                                                       value="{{ supplier.id }}" />
                                            </label>
                                        </td>
                                    </tr>
                                    <tr id="{{ supplier.id }}_thead_supplier_invoices"
                                        class="parent-{{ supplier.id }}-row parent-invoices" style="display:none;">
                                        <th>Unique Number</th>
                                        <th>Document Type</th>
                                        <th>Document Number</th>
                                        <th class="text-right">Document Date</th>
                                        <th class="text-right">Due Date</th>
                                        <th class="text-right">Total Due</th>
                                        <th class="text-right"></th>
                                        <th class="text-right">Discount Available</th>
                                        <th class="selecta">Select</th>
                                    </tr>
                                    {% for invoice in supplier_invoice.invoices %}
                                        <tr id="{{ supplier.id }}_tbody_invoices"
                                            class="parent-{{ supplier.id }}-row parent-invoices"
                                            data-detail-url="{% url 'invoice_detail' invoice.id %}?redirect={% url 'unpaid_invoice_by_supplier' %}"
                                            style="display:none;">
                                            <td>&nbsp;&nbsp;&nbsp;{{ invoice }}</td>
                                            <td>{{ invoice.invoice_type }}</td>
                                            <td>{{ invoice.invoice_number }}</td>
                                            <td class="text-right">{{ invoice.invoice_date }}</td>
                                            <td class="text-right">{{ invoice.due_date }}</td>
                                            <td class="text-right">{{ invoice.open_amount|money }}
                                                <input type="hidden" value="{{ invoice.open_amount }}"
                                                       id="supplier_{{ supplier.id }}_open_amount_{{ invoice.id }}"
                                                       name="invoice_id_{{ invoice.id }}"
                                                       data-payment-id="{{ invoice.id }}"
                                                       class="supplier-{{ supplier.id }}-amount-open"
                                                />
                                                <input type="hidden" value="{{ invoice.open_amount }}"
                                                       id="parent_{{ supplier.id }}_open_amount_{{ invoice.id }}"
                                                       name="invoice_id_{{ invoice.id }}"
                                                       data-payment-id="{{ invoice.id }}"
                                                       class="parent-{{ supplier.id }}-amount-open"
                                                />
                                            </td>
                                            <td></td>
                                            <td class="text-right">{{ invoice.supplier_discount|money }}</td>
                                            <td class="selecta actions">
                                                <input type="checkbox" class="checkbox-input parent-invoice pay-{{ supplier.id }}-invoice-check"
                                                    name="pay_{{ supplier.id }}_invoice_{{ invoice.id }}"
                                                    id="pay_{{ supplier.id }}_invoice_{{ invoice.id }}"
                                                    data-supplier-id="{{ supplier.id }}"
                                                    value="{{ invoice.id }}"
                                                   style="z-index: 99999 !important;"
                                                />
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% for payment in supplier_invoice.payments %}
                                        <tr id="{{ supplier.id }}_tbody_parent_payment"
                                                class="parent-{{ supplier.id }}-row parent-payments" style="display:none;">
                                            <td>
                                                &nbsp;&nbsp;&nbsp;{{ payment }}
                                                <input type="hidden" value="{{ payment.id }}" id="payment_id_{{ payment.id }}"
                                                       name="payment_id_{{ payment.id }}"
                                                       class="supplier-{{ supplier.id }}-payment-{{ payment.id }}"
                                                />
                                            </td>
                                            <td>Payment</td>
                                            <td class="text-right"></td>
                                            <td class="text-right">{{ payment.payment_date }}</td>
                                            <td class="text-right"></td>
                                            <td></td>
                                            <td class="text-right">
                                                {{ payment.unpaid_amount|money }}
                                                <input type="hidden" value="{{ payment.unpaid_amount }}"
                                                       id="supplier_{{ supplier.id }}_payment_available_{{ payment.id }}"
                                                       name="payment_id_{{ payment.id }}"
                                                       data-payment-id="{{ payment.id }}"
                                                       class="supplier-{{ supplier.id }}-payment-available"
                                                />
                                            </td>
                                            <td class="text-right">{{ payment.total_discount|money }}</td>
                                            <td class="selecta actions">
                                                <input type="checkbox" class="checkbox-input parent-payments pay-{{ supplier.id }}-payment-check"
                                                    name="pay_{{ supplier.id }}_payment_{{ payment.id }}"
                                                    id="pay_{{ supplier.id }}_payment_{{ payment.id }}"
                                                    data-supplier-id="{{ supplier.id }}"
                                                    value="{{ payment.id }}"
                                                    style="z-index: 99999 !important;"
                                                />
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% for ledger in supplier_invoice.ledgers %}
                                        <tr id="{{ supplier.id }}_tbody_parent_payment"
                                                class="parent-{{ supplier.id }}-row parent-payments" style="display:none;">
                                            <td>
                                                &nbsp;&nbsp;&nbsp;{{ ledger.journal_line }}
                                                <input type="hidden" value="{{ ledger.id }}" id="ledger_id_{{ ledger.id }}"
                                                       name="ledger_id_{{ ledger.id }}"
                                                       class="supplier-{{ supplier.id }}-ledger-{{ ledger.id }}"
                                                />
                                            </td>
                                            <td>Journal</td>
                                            <td></td>
                                            <td class="text-right">{{ ledger.date }}</td>
                                            <td></td>
                                            <td class="text-right">
                                                <input type="hidden" value="{{ ledger.balance }}"
                                                       id="supplier_{{ supplier.id }}_ledger_available_{{ ledger.id }}"
                                                       name="ledger_id_{{ ledger.id }}" data-ledger-id="{{ ledger.id }}"
                                                       class="supplier-{{ ledger.id }}-ledger-available"
                                                />
                                                {{ ledger.total_amount|money }}
                                            </td>
                                            <td class="text-right">{{ ledger.balance|money }}</td>
                                            <td class="text-right">-</td>
                                            <td class="selecta actions">
                                                <input type="checkbox" class="checkbox-input parent-ledgers pay-{{ supplier.id }}-ledger-check"
                                                    name="pay_{{ supplier.id }}_ledger_{{ ledger.id }}"
                                                    id="pay_{{ supplier.id }}_ledger_{{ ledger.id }}"
                                                    data-supplier-id="{{ supplier.id }}"
                                                    value="{{ ledger.id }}"
                                                />
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9">No supplier invoices found</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="submit" id="cancel" class="btn btn-primary action"
                            data-action="cancel" tabindex="6"
                        >Cancel</button>
                    </div>
                    <div class="form-group">
                        <button type="button" id="print" class="btn btn-primary action"
                            data-action="print" tabindex="7"
                        >Print</button>
                    </div>
                    <div class="form-group">
                        <button type="button" id="pay_now" class="btn btn-primary"
                                disabled="disabled"
                                data-ajax-url="{% url 'pay_supplier_invoice' %}"
                        >Pay Selected</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/loadingoverlay.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
    {% endcompress %}
{% endblock %}
