{% load invoice_tags %}
{% load i18n %}
<div class="table-responsive">
    <table class="table" width="100%">
        <tr>
            <td colspan="2">{{ payment_report.payment.description|safe }}</td>
        </tr>
        <tr>
            <td colspan="2">{% translate 'Detail of the above payment are as follows' %}</td>
        </tr>
        <tr>
            <td colspan="4">
                <table id="invoices" class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>{% translate 'Document Type' %}</th>
                            <th>{% translate 'Document Number' %}</th>
                            <th>{% translate 'Your Reference' %}</th>
                            <th>{% translate 'Our Reference' %}</th>
                            <th class="text-right">{% translate 'Allocated Total' %}</th>
                            <th class="text-right">{% translate 'Discount Taken' %}</th>
                            <th class="text-right">%</th>
                            <th class="text-right">{% translate 'Net Amount' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if payment_report.invoice_payments|length > 0 %}
                            {% for invoice_payment in payment_report.invoice_payments %}
                                <tr onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'invoice_detail' invoice_payment.invoice.id %}?redirect={{ request_url }}">
                                    <td>{{ invoice_payment.invoice.invoice_type }}</td>
                                    <td>{{ invoice_payment.invoice.invoice_number }}</td>
                                    <td>{{ invoice_payment.invoice.id }}</td>
                                    <td>
                                        {% if is_print %}
                                            {{ invoice_payment.invoice }}
                                        {% else %}
                                            <a href="{% url 'invoice_detail' invoice_payment.invoice.id %}" target="_blank">{{ invoice_payment.invoice }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">{{ invoice_payment.amount|money }}</td>
                                    <td class="text-right">{{ invoice_payment.discount|money }}</td>
                                    <td class="text-right">{{ invoice_payment.percentage_discount }}</td>
                                    <td class="text-right">{{ invoice_payment.net_amount|money }}</td>
                                </tr>
                            {% endfor %}
                            {% if payment_report.payment.discount_disallowed %}
                                 <tr class="">
                                    <td colspan="4"></td>
                                    <td class="text-right">
                                        {% if payment_report.payment.remittance_text %}
                                            {{ payment_report.payment.remittance_text }}
                                        {% else %}
                                            {% translate 'Other adjustments to Payment' %}
                                        {% endif %}
                                    </td>
                                    <td class="text-right"><strong>{{ payment_report.payment.discount_disallowed|money }}</strong></td>
                                    <td class="text-right"></td>
                                    <td class="text-right"><strong>{{ payment_report.discount_disallowed|money }}</strong></td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="8">{% translate 'There are no supplier invoice paid available' %}</td>
                            </tr>
                        {% endif %}
                        {% if payment_report.child_payments|length > 0 or payment_report.ledger_payments|length > 0 %}
                            {% for payment_child in payment_report.child_payments %}
                                <tr onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'payment_advice' payment_child.payment.id %}?redirect={{ request_url }}">
                                    <td>{% translate 'Payment Advice' %}</td>
                                    <td>{{ payment_child.payment }}</td>
                                    <td>
                                        {% if is_print %}
                                            {{ payment_child.payment }}
                                        {% else %}
                                            <a href="{% url 'payment_advice' payment_child.payment.id %}" target="_blank">{{ payment_child.payment }}</a>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td class="text-right">{{ payment_child.amount_allocated|money }}</td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right">{{ payment_child.amount_allocated|money }}</td>
                                </tr>
                            {% endfor %}
                            {% for ledger_payment in payment_report.ledger_payments %}
                                <tr onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'payment_advice' ledger_payment.payment.id %}?redirect={{ request_url }}">
                                    <td>{% translate 'Journal' %}</td>
                                    <td>{{ ledger_payment.ledger.journal_line.journal }}</td>
                                    <td></td>
                                    <td>{{ ledger_payment.ledger.journal_line.journal }}</td>
                                    <td class="text-right">{{ ledger_payment.amount|money }}</td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                    <td class="text-right">{{ ledger_payment.amount|money }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                               <td colspan="8">&nbsp;</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right"><strong>{{ payment_report.invoice_total|money }}</strong></td>
                            <td class="text-right"><strong>{{ payment_report.total_discount|money }}</strong></td>
                            <td class="text-right"></td>
                            <td class="text-right"><strong>{{ payment_report.total|money }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
