{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Payments - {{ year }}{% endblock page_title %}
{% block content %}
<div class="row col-12" id="app" style="height: auto !important; min-height: 0px !important;" data-company-id="{{ year.company.slug }}" data-url="/api/v1/journals">
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'bundles/js/payment.min.js' %}?c5ce01ac3e7dc4dbf5f8"></script>
{% endblock %}