{% extends 'base.html' %}
{% load static widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Payments - {{ year }} {% endblock page_title %}
{% block stylesheet %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/jqgrid/ui.jqgrid-bootstrap4.css' %}" />
{% endblock stylesheet %}
{% block content %}
    <style type="text/css">
        table#payments tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="payments" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Remitance Number</th>
                        <th>Date paid</th>
                        <th>Supplier</th>
                        <th class="text-right">Total amount</th>
                        <th>Payment method</th>
                        <th>Period</th>
                        <th>Updated</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                        <tr data-payments-url="{% url 'payment_advice' payment.id %}">
                            <td>{{ payment }}</td>
                            <td>{{ payment.payment_date }}</td>
                            <td>{{ payment.supplier }}</td>
                            <td class="text-right">{{ payment.net_amount|money }}</td>
                            <td>{{ payment.payment_method }}</td>
                            <td>{{ payment.period }}</td>
                            <td class="actions">
                                {% if payment.journal %}
                                    <span class="label label-success"
                                          data-toggle="tooltip" title="{{ payment.journal }} on {{ payment.journal.created_at }}"
                                          data-original-title="{{ payment.journal.created_at }}"
                                    ><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="label label-danger"><i class="fa fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td class="actions">
                                {% if payment.is_open %}
                                    <a href="{% url 'edit_payment' payment.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'delete_payment' payment_id=payment.id %}"
                                       onclick="return confirm('Are you sure you want to delete this payment')"
                                       data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                {% else %}
                                    <span class="label label-warning" title="Locked"
                                          data-original-title="Locked" data-toggle="tooltip"
                                    ><i class="fa fa-lock"></i></span>
                                {% endif %}
                            </td>
                        </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">There are no payments available</td>
                    </tr>
                {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Last</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#    <script src="{% static "frontend//static/main.js" %}"></script>#}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#payments>tbody>tr>td:not(.actions)").on('click', function(){
                var detailUrl = $(this).parent('tr').data('payments-url');
                document.location.href = detailUrl;
                return false;
            });
       });
    </script>
{% endblock %}