{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
<table class="table table-bordered invoices" id="supplier_sundry_invoices_payment" width="100%">
    <thead>
        <tr>
            <th>Unique Number</th>
            <th>Document Type</th>
            <th>Document Number</th>
            <th>Document Date</th>
            <th>Due Date</th>
            <th class="text-right">Original</th>
            <th class="text-right">Open</th>
            <th class="text-right">Allocate</th>
            <th class="text-right">New Open</th>
        </tr>
    </thead>
        <tbody>
            {% if invoices|length > 0 %}
                {% for invoice in invoices %}
                    <tr class="invoices">
                        <td>{{ invoice }}</td>
                        <td>{{ invoice.invoice_type }}</td>
                        <td>{{ invoice.invoice_number }}</td>
                        <td>{{ invoice.accounting_date }}</td>
                        <td>{{ invoice.due_date }}</td>
                        <td class="text-right">
                            <input class="invoice-amount" type="hidden" value="{{ invoice.total_amount }}" id="invoice_amount_{{ invoice.id }}" name="invoice_amount_{{ invoice.id }}">
                            {{ invoice.total_amount|money }}
                        </td>
                        <td class="text-right">
                            <input class="invoice-open-amount" type="hidden" value="{{ invoice.open_amount }}" id="open_amount_{{ invoice.id }}" name="open_amount_{{ invoice.id }}">
                            {{ invoice.open_amount|money }}
                        </td>
                        <td class="text-right">
                            <input type="text" class="form-control allocate-payment text-right" name="allocate_{{ invoice.id }}"
                                   data-invoice-id="{{ invoice.id }}" id="allocate_{{ invoice.id }}" value="" />
                        </td>
                        <td class="text-right">
                            <input type="text" readonly="readonly" class="form-control text-right" name="open_amount_{{ invoice.id }}"
                                id="open_{{ invoice.id }}" value="" />
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No invoices found for this supplier</td>
                </tr>
            {% endif %}
            {% for payment in payments %}
                <tr class="payments">
                    <td>
                        {{ payment }}
                        <input type="hidden" value="{{ payment.id }}" id="payment_id" name="payment_id">
                    </td>
                    <td>Payment</td>
                    <td></td>
                    <td>{{ payment.payment_date }}</td>
                    <td></td>
                    <td class="text-right">
                        <input class="payment-amount" type="hidden" value="{{ payment.available_amount }}" id="payment_amount_{{ payment.id }}" name="payment_amount_{{ payment.id }}">
                        {{ payment.display_available_amount|money }}
                    </td>
                    <td class="text-right">
                        {{ payment.display_available_amount|money }}
                    </td>
                    <td class="text-right">
                        <input class="allocated form-control text-right" type="text" readonly="readonly"
                               value="{{ payment.display_available_amount }}" id="total_allocated_{{ payment.id }}" name="total_allocated_{{ payment.id }}">
                    </td>
                    <td class="text-right">
                        <input class="balance form-control text-right" type="text" readonly="readonly"
                               value="{{ payment.display_available_amount }}"
                               id="balance_{{ payment.id }}" name="balance_{{ payment.id }}">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="totals">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">{{ total|money }}</td>
                <td class="text-right">{{ total_open|money }}</td>
                <td class="text-right"><span id="total_allocation">{{ new_open|money }}</span></td>
                <td class="text-right"><span id="total_balance">{{ new_open|money }}</span></td>
            </tr>
        </tfoot>

</table>