{% extends 'base.html' %}
{% load static i18n %}
{% load compress widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} {% translate "Supplier Sundry Payments" %} {% endblock page_title %}
{% block content %}
<form method="post" id="sundry_payment_form" name="sundry_payment_form" class="form-horizontal" action="{% url 'sundry_payment' %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row text-left">
                <div class="col-sm-12">
                <div class="form-group{% if form.supplier.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
                    <div class="col-sm-8">
                        {% render_field form.supplier class="form-control chosen-select" %}
                        {% if form.supplier.auto_id  != "id_tos" %}
                            {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {% if form.period.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                    <div class="col-sm-8">
                        {% render_field form.period class="form-control" %}
                        {% if form.period.auto_id  != "id_tos" %}
                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group  {% if form.payment_date.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.payment_date.id_for_label }}">{{ form.payment_date.label_tag }}</label>
                    <div class="col-sm-8">
                        {% render_field form.payment_date class="form-control datepicker" %}
                        {% if form.payment_date.auto_id  != "id_tos" %}
                            {% if form.payment_date.errors %}<span class="help-inline">{{ form.payment_date.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group  {% if form.account.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.account.id_for_label }}">{{ form.account.label_tag }}</label>
                    <div class="col-sm-8">
                        {% render_field form.account class="form-control chosen-select" %}
                        {% if form.account.auto_id  != "id_tos" %}
                            {% if form.account.errors %}<span class="help-inline">{{ form.account.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group  {% if form.total_amount.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.total_amount.id_for_label }}">{{ form.total_amount.label_tag }}</label>
                    <div class="col-sm-8">
                        {% render_field form.total_amount class="form-control" value=supplier_invoices.total  %}
                        {% if form.total_amount.auto_id  != "id_tos" %}
                            {% if form.total_amount.errors %}<span class="help-inline">{{ form.total_amount.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group  {% if form.payment_method.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.payment_method.id_for_label }}">{{ form.payment_method.label_tag }}</label>
                    <div class="col-sm-8">
                        {% render_field form.payment_method class="form-control chosen-select"  %}
                        {% if form.payment_method.auto_id  != "id_tos" %}
                            {% if form.payment_method.errors %}<span class="help-inline">{{ form.payment_method.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group  {% if form.reference.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.reference.id_for_label }}">{{ form.reference.label_tag }}</label>
                    <div class="col-sm-8">
                        {% render_field form.reference class="form-control"  %}
                        {% if form.reference.auto_id  != "id_tos" %}
                            {% if form.reference.errors %}<span class="help-inline">{{ form.reference.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group  {% if form.memo.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.memo.id_for_label }}">{{ form.memo.label_tag }}</label>
                    <div class="col-sm-8">
                        {% render_field form.memo class="form-control" %}
                        {% if form.memo.auto_id  != "id_tos" %}
                            {% if form.memo.errors %}<span class="help-inline">{{ form.memo.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group  {% if form.attachment.errors %}error{% endif %}">
                    <label class="col-sm-2 control-label txt-font12" for="{{ form.attachment.id_for_label }}">{{ form.attachment.label_tag }}
                        <br />
                        <small> Proof of payment if available</small>
                    </label>
                    <div class="col-sm-8">
                        {% render_field form.attachment class="form-control" %}
                        {% if form.attachment.auto_id  != "id_tos" %}
                            {% if form.attachment.errors %}<span class="help-inline">{{ form.attachment.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div style="display: none;">
                    {% render_field form.comment %}
                </div>
                </div>
            </div>
            <div class="panel panel-default height">
                <div class="panel-heading">&nbsp;</div>
                <div class="panel-body" style="padding: 5px;">
                    <div class="col-sm-12">
                        <table class="table table-bordered invoices" id="supplier_sundry_invoices_payment" width="100%">
                            <thead>
                                <tr>
                                    <th>Unique Number</th>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th>Due Date</th>
                                    <th></th>
                                    <th class="text-right">Amount</th>
                                    <th></th>
                                    <th class="text-right">Discount Available</th>
                                    <th class="text-right selecta">Discount Taken</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="payment-line">
                                    <td colspan="7">Select the supplier</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-default" type="reset">Cancel</button>
                <button class="btn btn-primary" id="make_payment">Make Payment</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/payment.js' %}"></script>
    {% endcompress %}
{% endblock %}