{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %} Unpaid Invoice by supplier - <strong>{{ supplier }}</strong> {% endblock title %}
{% block content %}
<form method="post" action="{% url 'record_suppliers_payment' supplier_id=supplier.id %}"
      id="pay_supplier_invoices" name="pay_supplier_invoices" class="form-horizontal">
     <div class="modal-body">
         {% if has_error %}
             <div id="text-reason">{{ message }}</div>
         {% else %}

            <div class="col-sm-12">
                <table class="table table-bordered invoices" id="pay_supplier_invoice">
                    <tr>
                        <td>
                            <table class="table" width="100%">
                                <thead>
                                    <tr>
                                        <th>Unique Number</th>
                                        <th>Document Type</th>
                                        <th>Document Number</th>
                                        <th>Due Date</th>
                                        <th class="text-right">Invoice Amount</th>
                                        <th class="text-right">Discount Available</th>
                                        <th class="selecta">Discount Taken</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invoice in supplier_invoices.invoices %}
                                        <tr>
                                            <td>{{ invoice.unique_number }}</td>
                                            <td>{{ invoice.invoice_type }}</td>
                                            <td>{{ invoice.invoice_number }}</td>
                                            <td>{{ invoice.due_date }}</td>
                                            <td class="text-right">
                                                <input class="invoice-amount" type="hidden" value="{{ invoice.amount }}" id="invoice_amount_{{ invoice.id }}" name="invoice_amount_{{ invoice.id }}">
                                                {{ invoice.amount|money }}
                                            </td>
                                            <td class="text-right">
                                                <input class="invoice-discount" type="hidden" value="{{ invoice.discount }}" id="invoice_discount_{{ invoice.id }}" name="invoice_discount_{{ invoice.id }}">
                                                {{ invoice.discount|money }}
                                            </td>
                                            <td class="selecta">
                                                <input type="checkbox" class="checkbox-input discount-invoice-check"
                                                    name="discount_invoice_{{ invoice.id }}"
                                                    id="discount_invoice_{{ invoice.id }}"
                                                    value="{{ invoice.id }}" />
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">{{ supplier_invoices.total|money }}</td>
                                        <td class="text-right">{{ supplier_invoices.total_discount|money }}</td>
                                        <td class="selecta">
                                            <input type="checkbox" class="discount-check checkbox-input"
                                                name="discount_invoices"
                                                id="discount_invoice"
                                                value="1"  />
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                {% include 'payment/form.html' %}
            </div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" id="make_payment">Make Payment</button>
        </div>
    {% endif %}
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}