{% load static i18n %}
{% load company_tags %}
<div class="panel-body align-center">
  <table width="100%" class="table-condensed">
      <tr>
          <td>
            {% with company=payment_report.payment.company %}
                {% display_logo company 200 75 is_email %}
            {% endwith %}
          </td>
          <td>
            {% with company=payment_report.payment.company %}
                {% include "companies/address.html" %}
            {% endwith %}
          </td>
          <td>
              <table class="table" width="100%">
                <tr>
                    <td>{% translate 'Remittance Advice' %}</td>
                    <td class="bold">{{ payment_report.payment }}</td>
                </tr>
                <tr>
                    <td>{% translate 'Created By' %}</td>
                    <td>{{ payment_report.payment.profile }}</td>
                </tr>
                <tr>
                    <td>{% translate 'Created At' %}</td>
                    <td>{{ payment_report.payment.created_at }}</td>
                </tr>
                <tr>
                    <td>{% translate 'For supplier' %}</td>
                    <td>{{ payment_report.payment.supplier }} - {{ payment_report.payment.account.code }}</td>
                </tr>
                {% if not is_print and ledger %}
                    <tr>
                        <td>{% translate 'Journal' %}</td>
                        <td><a target="_blank" href="{% url 'journal_lines' ledger.journal.id %}">{{ ledger.journal }}</a></td>
                    </tr>
                {% endif %}
              </table>
          </td>
      </tr>
  </table>
</div>
<div class="panel-body align-center">
    <div class="table-responsive" id="supplier_payment_table">
        {% include 'payment/payment.html' %}
    </div>
</div>