{% extends 'modal.html' %}
{% load static %}
{% block title %} Not allocated {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="not_allocated" name="not_allocated"
        action="{% url 'sundry_payment_not_allocated' %}">
     <div class="modal-body">
         <div class="alert alert-warning">
             You have not allocated the amount of payment, should it be left unallocated
         </div>
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">No</button>
        <button class="btn btn-primary btn-large"
                name="continue_payment" type="submit" id="continue_payment"><i class="fa fa-save"></i> Yes</button>
    </div>
  </form>

{% endblock %}