{% load invoice_tags %}
{% if supplier_invoices or ledgers  %}
    {% for supplier, supplier_invoice in supplier_invoices.items %}
        <tr class="parent parent-{{ supplier.id }}-tr open-unpaid"
            id="{{ supplier.id }}">
            <td id="{{ supplier.id }}" class="permission-group">
                {{ supplier.code }}
            </td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier_invoice.invoices|length }}</td>
            <td></td>

            <td></td>
            <td class="text-right total">{{ supplier_invoice.total|money }}</td>
            <td class="text-right total">{{ supplier_invoice.total_payment|money }}</td>
            <td class="text-right total">
                {{ supplier_invoice.total_discount|money }}
            </td>
            <td class="selecta actions">
                <label style="font-size: 1em">
                    <input type="checkbox" class="unpaid-check checkbox-input"
                           name="unpaid_{{ supplier.id }}"
                           id="unpaid_{{ supplier.id }}"
                           data-supplier-id="{{ supplier.id }}"
                           value="{{ supplier.id }}" />
                </label>
            </td>
        </tr>
        <tr id="{{ supplier.id }}_thead_supplier_invoices"
            class="parent-{{ supplier.id }}-row parent-invoices" style="display:none;">
            <th>Unique Number</th>
            <th>Document Type</th>
            <th>Document Number</th>
            <th class="text-right">Document Date</th>
            <th class="text-right">Due Date</th>
            <th class="text-right">Total Due</th>
            <th class="text-right"></th>
            <th class="text-right">Discount Available</th>
            <th class="selecta">Select</th>
        </tr>
        {% for invoice in supplier_invoice.invoices %}
            <tr id="{{ supplier.id }}_tbody_invoices"
                class="parent-{{ supplier.id }}-row parent-invoices"
                data-detail-url="{% url 'invoice_detail' invoice.id %}?redirect={% url 'unpaid_invoice_by_supplier' %}"
                style="display:none;">
                <td>&nbsp;&nbsp;&nbsp;{{ invoice }}</td>
                <td>{{ invoice.invoice_type }}</td>
                <td>{{ invoice.invoice_number }}</td>
                <td class="text-right">{{ invoice.invoice_date }}</td>
                <td class="text-right">{{ invoice.due_date }}</td>
                <td class="text-right">{{ invoice.open_amount|money }}
                    <input type="hidden" value="{{ invoice.open_amount }}"
                           id="supplier_{{ supplier.id }}_open_amount_{{ invoice.id }}"
                           name="invoice_id_{{ invoice.id }}"
                           data-payment-id="{{ invoice.id }}"
                           class="supplier-{{ supplier.id }}-amount-open"
                    />
                    <input type="hidden" value="{{ invoice.open_amount }}"
                           id="parent_{{ supplier.id }}_open_amount_{{ invoice.id }}"
                           name="invoice_id_{{ invoice.id }}"
                           data-payment-id="{{ invoice.id }}"
                           class="parent-{{ supplier.id }}-amount-open"
                    />
                </td>
                <td></td>
                <td class="text-right">{{ invoice.supplier_discount|money }}</td>
                <td class="selecta actions">
                    <input type="checkbox" class="checkbox-input parent-invoice pay-{{ supplier.id }}-invoice-check"
                        name="pay_{{ supplier.id }}_invoice_{{ invoice.id }}"
                        id="pay_{{ supplier.id }}_invoice_{{ invoice.id }}"
                        data-supplier-id="{{ supplier.id }}"
                        value="{{ invoice.id }}"
                        style="z-index: 99999 !important;"
                    />
                </td>
            </tr>
        {% endfor %}
        {% for payment in supplier_invoice.payments %}
            <tr id="{{ supplier.id }}_tbody_parent_payment"
                    class="parent-{{ supplier.id }}-row parent-payments" style="display:none;">
                <td>
                    &nbsp;&nbsp;&nbsp;{{ payment }}
                    <input type="hidden" value="{{ payment.id }}" id="payment_id_{{ payment.id }}"
                           name="payment_id_{{ payment.id }}"
                           class="supplier-{{ supplier.id }}-payment-{{ payment.id }}"
                    />
                </td>
                <td>Payment</td>
                <td class="text-right"></td>
                <td class="text-right">{{ payment.payment_date }}</td>
                <td class="text-right"></td>
                <td></td>
                <td class="text-right">
                    {{ payment.unpaid_amount|money }}
                    <input type="hidden" value="{{ payment.unpaid_amount }}"
                           id="supplier_{{ supplier.id }}_payment_available_{{ payment.id }}"
                           name="payment_id_{{ payment.id }}"
                           data-payment-id="{{ payment.id }}"
                           class="supplier-{{ supplier.id }}-payment-available"
                    />
                </td>
                <td class="text-right">{{ payment.total_discount|money }}</td>
                <td class="selecta actions">
                    <input type="checkbox" class="checkbox-input parent-payments pay-{{ supplier.id }}-payment-check"
                        name="pay_{{ supplier.id }}_payment_{{ payment.id }}"
                        id="pay_{{ supplier.id }}_payment_{{ payment.id }}"
                        data-supplier-id="{{ supplier.id }}"
                        value="{{ payment.id }}"
                        style="z-index: 99999 !important;"
                    />
                </td>
            </tr>
        {% endfor %}
        {% for ledger in supplier_invoice.ledgers %}
            <tr id="{{ supplier.id }}_tbody_parent_payment"
                    class="parent-{{ supplier.id }}-row parent-payments" style="display:none;">
                <td>
                    &nbsp;&nbsp;&nbsp;{{ ledger.journal_line }}
                    <input type="hidden" value="{{ ledger.id }}" id="ledger_id_{{ ledger.id }}"
                           name="ledger_id_{{ ledger.id }}"
                           class="supplier-{{ supplier.id }}-ledger-{{ ledger.id }}"
                    />
                </td>
                <td>Journal</td>
                <td></td>
                <td class="text-right">{{ ledger.date }}</td>
                <td></td>
                <td class="text-right">
                    <input type="hidden" value="{{ ledger.balance }}"
                           id="supplier_{{ supplier.id }}_ledger_available_{{ ledger.id }}"
                           name="ledger_id_{{ ledger.id }}" data-ledger-id="{{ ledger.id }}"
                           class="supplier-{{ ledger.id }}-ledger-available"
                    />
                    {{ ledger.total_amount|money }}
                </td>
                <td class="text-right">{{ ledger.balance|money }}</td>
                <td class="text-right">-</td>
                <td class="selecta actions">
                    <input type="checkbox" class="checkbox-input parent-ledgers pay-{{ supplier.id }}-ledger-check"
                        name="pay_{{ supplier.id }}_ledger_{{ ledger.id }}"
                        id="pay_{{ supplier.id }}_ledger_{{ ledger.id }}"
                        data-supplier-id="{{ supplier.id }}"
                        value="{{ ledger.id }}"
                    />
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
{% else %}
    <tr>
        <td colspan="9">No supplier invoices found</td>
    </tr>
{% endif %}