{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} Update payment invoices - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left">
              <button type="button" class="btn btn-sm btn-primary btn-loading create-journal"
                      {% if year.is_final %}disabled="disabled"{% endif %}
                      data-loading-text="<i class='fa fa-spinner'></i> Processing"
                      data-modal="{% url 'create_journal_for_payment_invoice' %}"
                      id="journal_for_payment_invoice"> <i class="fa fa-arrow-circle-up"></i> UPDATE PAYMENTS</button>
          </div>
          <div class="pull-right">
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Date</th>
                        <th>Created Date</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in journals %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'payments_invoice_journal_detail' journal.id %}">
                            <td>{{ journal }}</td>
                            <td>{{ journal.date }}</td>
                            <td>{{ journal.created_at }}</td>
                            <td>{{ journal.role }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">There are no updated payments available for the selected year</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Last</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/payment_update.js' %}"></script>
{% endblock %}