{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} {% translate 'Update payments' %} - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> {% translate 'Print' %}</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> {% translate 'Prev. Level' %}</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>{% translate 'Report Unique Number' %}:</th>
                    <td>{{ journal }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>{% translate 'Role' %}:</th>
                    <td>{{ journal.role }}</td>
                    {% if journal.ledger %}
                        <td>{{ Journal }}</td>
                        <td><a href="{% url 'journal_lines' journal.ledger_id %}?redirect={% url 'payments_invoice_journal_detail' journal.id  %}">
                            {{ journal.ledger }}</a>
                        </td>
                    {% else %}
                       <td></td>
                       <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>{% translate 'User in role' %}:</th>
                    <td>
                        {{ role_profiles }}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>{% translate 'Report Date' %}:</th>
                    <td><u>{{ journal.date }}</u></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>{% translate 'Created At' %}:</th>
                    <td>{{ journal.created_at }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>{% translate 'Period' %}</th>
                                    <th>{% translate 'Payment Date' %}</th>
                                    <th>{% translate 'Remittance' %}</th>
                                    <th>Docuflow {% translate 'Unique' %}</th>
                                    <th>{% translate 'Invoice Date' %}</th>
                                    <th>{% translate 'Due Date' %}</th>
                                    <th>{% translate 'Supplier' %}</th>
                                    <th>{% translate 'Document Type' %}</th>
                                    <th>{% translate 'Document Number' %}</th>
                                    <th class="text-right">{% translate 'Vat' %}</th>
                                    <th class="text-right">{% translate 'Invoice Total' %}</th>
                                    <th class="text-right">{% translate 'Vat On Discount' %}</th>
                                    <th class="text-right">{% translate 'Net Discount' %}</th>
                                    <th class="text-right">{% translate 'Net Payment' %}</th>
                                    <th>{% translate 'Account Number' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if journal_report.payments|length > 0 %}
                                    {% for payment in journal_report.payments %}
                                        <tr>
                                            <td>{{ payment.payment.period }}</td>
                                            <td>{{ payment.payment.date|date:'d-M-Y' }}</td>
                                            <td>{{ payment.payment }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">{{ payment.total_vat_on_discount|money }}</td>
                                            <td class="text-right">{{ payment.payment_discount|money }}</td>
                                            <td class="text-right">{{ payment.total_amount|money }}</td>
                                            <td>{{ payment.payment.account.code }}</td>
                                        </tr>
                                        {% if payment.display_self %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <strong>{{ payment.payment.payment_type_name }}</strong>
                                                </td>
                                                <td>{{ payment.payment.payment_date|date:'d-M-Y' }}</td>
                                                <td></td>
                                                <td>{{ payment.payment.supplier.name }}</td>
                                                <td>{% translate 'Payment' %}</td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-right">{{ payment.payment.total_amount|money }}</td>
                                                <td class="text-right">0.00</td>
                                                <td class="text-right">0.00</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endif %}
                                        {% for invoice_payment in payment.payment.invoices.all %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{ invoice_payment.invoice }}</td>
                                                <td>{{ invoice_payment.invoice.accounting_date|date:'d-M-Y' }}</td>
                                                <td>{{ invoice_payment.invoice.due_date|date:'d-M-Y' }}</td>
                                                <td>{{ invoice_payment.invoice.supplier.name }}</td>
                                                <td>{{ invoice_payment.invoice.invoice_type }}</td>
                                                <td>{{ invoice_payment.invoice.invoice_number }}</td>
                                                <td class="text-right">{{ invoice_payment.vat }}</td>
                                                <td class="text-right">{{ invoice_payment.amount|money }}</td>
                                                <td class="text-right">{{ invoice_payment.vat_on_discount|money }}</td>
                                                                                                                                                                                                                                                                        <td class="text-right">{{ invoice_payment.net_discount|money }}</td>
                                                <td></td>
                                                <td data-original-title="{{ debit_credit_account }}">{{ default_supplier_account.code }}</td>

                                            </tr>
                                        {% endfor %}
                                        {% for child_payment in payment.payment.children.all %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{ child_payment.payment }}</td>
                                                <td>{{ child_payment.payment.payment_date|date:'d-M-Y' }}</td>
                                                <td></td>
                                                <td></td>
                                                <td>{{ child_payment.payment.supplier.name }}</td>
                                                <td>{% translate 'Payment' %}</td>
                                                <td></td>
                                                <td class="text-right">{{ child_payment.amount_allocated|money }}</td>
                                                <td class="text-right">0.00</td>
                                                <td class="text-right">0.00</td>
                                                <td></td>
                                                <td data-original-title="{{ debit_credit_account }}">{{ default_supplier_account.code }}</td>

                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                       <tr>
                                            <td colspan="15">&nbsp;</td>
                                       </tr>
                                       {% if journal_report.total_discounts %}
                                           <tr>
                                               <td></td>
                                                <td colspan="7" class="text-right">Discounts</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{ discount_received_account.code }}</td>
                                                <td class="text-right"><strong>{{ journal_report.total_discounts|money }}</strong></td>
                                                <td colspan="2"></td>
                                           </tr>
                                           <tr>
                                               <td></td>
                                                <td colspan="7" class="text-right">{% translate 'Vat on Discounts' %}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{ debit_vat_account.code }}</td>
                                                <td class="text-right"><strong>{{ report.total|money }}</strong></td>
                                                <td></td>
                                            </tr>
                                       {% endif %}
                                       <tr>
                                            <td colspan="9" class="text-right">Journals</td>
                                            <td></td>
                                            <td class="text-right"><strong>{{journal_report.supplier_account}}</strong></td>
                                            <td class="text-right"><strong>{{journal_report.vat_account}}</strong></td>
                                            <td class="text-right"><strong>{{journal_report.discount_received_account}}</strong></td>
                                            <td colspan="2"></td>
                                       </tr>
                                       <tr>
                                            <td colspan="8"></td>
                                            <td class="text-right">{% translate 'Totals' %}</td>
                                            <td></td>
                                            <td class="text-right"><strong>{{ journal_report.invoice_total|money }}</strong></td>
                                            <td class="text-right"><strong>{{ journal_report.vat_on_discount_total|money }}</strong></td>
                                            <td class="text-right"><strong>{{ journal_report.total_discount|money }}</strong></td>
                                            <td class="text-right"><strong>{{ journal_report.total_net_payment|money }}</strong></td>
                                            <td></td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">{% translate 'There are no updated payments available for the selected year' %}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}