{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}Update address</strong> {% endblock title %}
{% block content %}
<form method="post" action="{% url 'edit_address' address.id %}" id="address_form"
      name="address_form" class="form-horizontal" novalidate="novalidate">
    {% csrf_token %}
     <div class="modal-body">
         {% if has_error %}
             <div id="text-reason">{{ message }}</div>
         {% endif %}
        <div class="col-sm-12 form">
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">Street</label>
                   {% render_field form.address_line_1 class="form-control" %}
                </div>
            </div>
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">City</label>
                   {% render_field form.city class="form-control" %}
                </div>
            </div>
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">Province</label>
                    {% render_field form.province class="form-control" %}
                    {% if form.province.auto_id  != "id_tos" %}
                        {% if form.province.errors %}
                            <span class="help-inline">{{ form.province.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">Postal Code</label>
                   {% render_field form.postal_code class="form-control" %}
                </div>
            </div>
            <div class="form-group control-group">
               <div class="controls">
                   <label class="control-label">Country</label>
                    {% render_field form.country class="form-control chosen-select" %}
                    {% if form.delivery_country.auto_id  != "id_tos" %}
                        {% if form.delivery_country.errors %}
                            <span class="help-inline">{{ form.delivery_country.errors }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary save-btn" id="save_address">Save</button>
    </div>
</form>
{% endblock %}