<div class="panel panel-primary">
  <div class="panel-heading clear-fix">
      <div class="pull-right">
         <button data-modal="{% url 'create_address' customer_id=customer.id %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus-o"></i> Create
         </button>
      </div>
  </div>
  <div class="panel-body align-center">
        {{ addresses }}
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="addresses">
                <thead>
                    <tr>
                        <th>Street</th>
                        <th>City</th>
                        <th>Province</th>
                        <th>Country</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for address in delivery_addresses %}
                        <tr>
                            <td>{{ address.address_line_1 }}</td>
                            <td>{{ address.city }}</td>
                            <td>{{ address.province }}</td>
                            <td>{{ address.country.name }}</td>
                            <td class="text-left actions">
                                <a data-modal="{% url 'edit_address' address.id %}"
                                   data-toggle="tooltip"
                                   title="" class="btn-sm btn-primary"
                                   data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a data-modal="{% url 'delete_address' address.id %}"
                                   data-toggle="tooltip" title=""
                                   class="btn-sm btn-danger"
                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">There are no addresses</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
  </div>
</div>