{% if content_object.customer %}
    <table class="table align-right" style="float: left;">
        <tr>
            <td><strong>CUSTOMER DELIVERY:</strong><br></td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.number }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.delivery_address.address_line_1 }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.delivery_address.city }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.delivery_address.postal_code }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.delivery_address.province_name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.delivery_address.country.name }}</td>
        </tr>
    </table>
{% else %}
    <table class="table align-right" style="float: left;">
        <tr>
            <td><strong>Cash Customer:</strong><br></td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.customer_name }}
                <input type="hidden" name="customer_name" value="{{ content_object.customer_name }}">
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.postal.address_line_1 }}
                <input type="hidden" name="postal_street" value="{{ content_object.postal.address_line_1 }}">
            </td>
        </tr>
       <tr>
            <td class="text-left">
                {{ content_object.postal.city }}
                <input type="hidden" name="postal_street" value="{{ content_object.postal.city }}">
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.postal.postal_code }}
                <input type="hidden" name="postal_postal_code" value="{{ content_object.postal.postal_code }}">
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.postal.city }}
                <input type="hidden" name="postal_city" value="{{ content_object.postal.city }}" />
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.postal.province_name }}
                <input type="hidden" name="postal_province" value="{{ content_object.postal.province }}" />
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.postal.country.name }}
                <input type="hidden" name="postal_country" value="{{ content_object.postal.country }}" />
            </td>
        </tr>
    </table>
{% endif %}