{% if content_object.customer %}
    <table class="table align-right" style="float: left;">
        <tr>
            <td><strong>Delivery To:</strong><br></td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.postal_address.address_line_1 }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.postal_address.city }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.postal_address.postal_code }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.postal_address.province_name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ content_object.customer.postal_address.country.name }}</td>
        </tr>

    </table>
{% else %}
    <table class="table align-right" style="float: left;">
        <tr>
            <td><strong>Delivery To:</strong><br></td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.delivery.address_line_1 }}
                <input type="hidden" name="delivery_street" value="{{ content_object.delivery.address_line_1 }}" />
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.delivery.postal_code }}
                <input type="hidden" name="delivery_postal_code" value="{{ content_object.delivery.postal_code }}" />
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.delivery.city }}
                <input type="hidden" name="delivery_city" value="{{ content_object.delivery.city }}" />
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.delivery.province_name }}
                <input type="hidden" name="delivery_province" value="{{ content_object.delivery.province }}" />
            </td>
        </tr>
        <tr>
            <td class="text-left">
                {{ content_object.delivery.country.name }}
                <input type="hidden" name="delivery_country" value="{{ content_object.delivery.country }}" />
            </td>
        </tr>
    </table>
{% endif %}