{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Picking Slip - {{ picking_slip }}  <span class="pull-right">&nbsp;{{ picking_slip }}</span>
{% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="delivery_note_form"
      action="{% url 'picking_detail' picking_slip.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                {% include 'pickingslip/status.html' %}
            </div>

            <div class="pull-right">
                <button type="button" data-modal="{% url 'picking_slip_tracking' picking_slip.id %}"
                        class="btn btn-primary btn-sm tracking"
                        name="tracking" id="tracking"
                        data-toggle="tooltip"><i class="fa fa-th-list"></i> Tracking</button>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                {% if picking_slip.can_manage %}
                    {% if picking_slip.is_pick_up %}
                        <button type="button" class="btn btn-primary btn-sm"
                             name="save_delivery_note" id="save_delivery_note"
                             data-toggle="tooltip"><i class="fa fa-hand-grab-o"></i> Collection</button>
                    {% else %}
                        <button type="button" class="btn btn-primary btn-sm"
                         name="save_delivery_note" id="save_delivery_note"
                         data-toggle="tooltip"><i class="fa fa-truck"></i> Delivery</button>
                    {% endif %}
                    <button type="button" class="btn btn-primary btn-sm action-picking_slip picking-slip-action"
                            data-picking-slip-id="{{ picking_slip.id }}"
                            data-ajax-url="{% url 'single_picking_slip_action' action='remove' %}"
                            name="remove_picking_slip" id="remove_picking_slip"
                            data-toggle="tooltip"><i class="fa fa-trash-o"></i> Remove</button>
                {% endif %}
                <a href="{% url 'picking_detail' picking_slip.id %}?print=1" type="button"
                   class="btn btn-primary btn-sm" data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
                <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
            </div>
        </div>
    </div>
    <div class="panel-body align-center">
        {% include "pickingslip/template.html" %}
    </div>
    {% render_field form.period %}
    {% render_field form.branch %}
    {% render_field form.date %}
    {% render_field form.customer %}
    {% render_field form.sub_total %}
    {% render_field form.line_discount %}
    {% render_field form.customer_discount %}
    {% render_field form.net_amount %}
    {% render_field form.vat_amount %}
    {% render_field form.total_amount %}
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap-timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/delivery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/picking_slip.js' %}?{% now 'YmdHis' %}"></script>

    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}
