{% extends 'datatable.html' %}
{% load static i18n %}
{% load invoice_tags %}
{% block page_title %}{% translate 'Picking Slips' %} {{ branch }}{% endblock page_title %}
{% block datatable %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">

          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="picking_slips" class="table table-bordered table-items-list" width="100%">
                <thead>
                    <tr>
                        <th>{% translate 'Picking Slip Number' %}</th>
                        <th>{% translate 'Customer Name' %}</th>
                        <th>{% translate 'DF Number' %}</th>
                        <th>{% translate 'Picking Date' %}</th>
                        <th>{% translate 'Status' %}</th>
                    </tr>
                </thead>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
        {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#picking_slips").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/sales/pickingslips/?format=datatables',
              'columns': [
                { data: 'document_number', name: 'picking_id', searchable: true},
                { data: 'customer', name: 'customer__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    }
                },
                { data: 'customer', name: 'customer__number', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.number : '-';
                    }
                },
                { data: 'date', name: 'date', searchable: true},
                { data: 'status_name', name: 'status', searchable: true}
              ],
              "columnDefs": [
                {
                "render": function ( data, type, row ) {
                    return displayDate(data)
                },
                "targets": [3]
                },
                {
                "render": function ( data, type, row ) {
                    if (row['status'] === 'REMOVED') {
                        return "<span class='text-danger'>" + data + "</span> ";
                    } else if (row['status'] === 'SEND_FOR_PICKING') {
                        return "<span class='text-warning'>" + data + "</span> ";
                    } else if (row['status'] === 'INVOICED') {
                        return "<span class='text-success'>" + data + "</span> ";
                    } else if (row['status'] === 'COMPLETED') {
                        return "<span class='text-success'>" + data + "</span> ";
                    } else {
                        return "<span class='text-primary'> "+ data +"</span>";
                    }
                },
                "targets": 4
                }
             ],
             pagingType: 'full_numbers',
             iDisplayLength: '{{display_rows}}',
             lengthMenu:  JSON.parse("{{ menu_length }}"),
             order: [[ 3, 'desc' ], [ 0, 'desc' ]],
             dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
             tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
             }
        });

        $('#picking_slips').on('click', 'td', function() {
            const tdClasses =  $(this).prop('class').split(' ')
            if (tdClasses.indexOf('actions') < 0) {
                const tr = $(this).parent();
                const rowData = table.row(tr).data();
                if (rowData.detail_url) {
                    document.location.href = rowData.detail_url + "?redirect={% url 'picking_slips' %}";
                }
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });

    });
    </script>
    <script type="text/javascript" src="{% static 'js/delivery.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}