<table class="table align-right" style="float: right;">
    {% if picking_slip.content_type.model == 'estimate' %}
        <tr>
            <td>Estimate Number:</td>
            <td class="text-right">{{ content_object }}</td>
        </tr>
    {% elif picking_slip.content_type.model == 'delivery' %}
        <tr>
            <td>Delivery:</td>
            <td class="text-right">
                <a href="{% url 'delivery_detail' content_object.id %}">{{ content_object }}</a>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>{% if picking_slip.is_pick_up %}Collection{% else %}Delivery{% endif %} Method:</td>
        <td class="text-right">{{ picking_slip.delivery_method }}</td>
    </tr>
    <tr>
        <td>{% if picking_slip.is_pick_up %}Collection{% else %}Delivery{% endif %} Term:</td>
        <td class="text-right">{{ picking_slip.delivery_term }}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td class="text-right">{{ picking_slip.date }}</td>
    </tr>
    <tr>
        <td>Time:</td>
        <td class="text-right">{% if picking_slip.delivery_time %}{{ picking_slip.delivery_time }}{% endif %}</td>
    </tr>
    <tr>
        <td>Salesman:</td>
        <td class="text-right">{% if picking_slip.salesman %}{{ picking_slip.salesman }}{% endif %}</td>
    </tr>
    <tr>
        <td>Purchase Order:</td>
        <td class="text-right">{% if picking_slip.purchase_order %}{{ picking_slip.purchase_order }}{% endif %}</td>
    </tr>
    {% if picking_slip.estimate %}
        <tr>
            <td>Estimate:</td>
            <td class="text-right">
                <a href="{% url 'estimate_detail' picking_slip.estimate.id %}">{{ picking_slip.estimate }}</a>
            </td>
        </tr>
    {% endif %}
</table>