{% load invoice_tags sales_tags common_tags %}
<tr class="line-items sales-items" data-row-id="{{ row }}">
    <td>
        {{ sales_item.inventory }}
        <input type="hidden" class="net-weight"
               id="net_weight_{{ row }}"
               data-item-id="{{ sales_item.id }}"
               data-row-id="{{ row }}"
               value="{{ sales_item.inventory.weight }}" />
        <input type="hidden" class="gross-weight"
               id="gross_weight_{{ row }}"
               data-item-id="{{ sales_item.id }}"
               data-row-id="{{ row }}"
               value="{{ sales_item.inventory.gross_weight }}" />
        <input type="hidden" name="inventory_item_{{ estimate_item.id }}" value="{{ estimate_item.inventory.id }}" />
        <input type="hidden" name="id_{{ sales_item.id }}" value="{{ sales_item.id }}" />
        {% if is_invoice == 1 %}
            <input type="hidden" id="in_stock_{{ sales_item.id }}" value="{{ sales_item.quantity }}" />
        {% else%}
            <input type="hidden" id="in_stock_{{ sales_item.id }}" value="{{ sales_item.inventory.available_stock|quantity }}" />
        {% endif %}
        <input type="hidden" id="allow_negative_stock_{{ sales_item.id }}" value="{% if sales_item.inventory.allow_negative_stocks %}1{% else %}-1{% endif %}" />
    </td>
    <td>{{ sales_item.inventory.description }}</td>
    <td>{{ sales_item.inventory.store_area }}</td>
    <td>{{ sales_item.inventory.rack }}</td>
    <td>{{ sales_item.inventory.bin_location }}</td>
    <td>
        {% if is_invoice == 1 %}
            <span class="stock-level">{{ sales_item.quantity|money }}</span>
            <input type="hidden" id="available_qty_{{ row }}" name="available_qty_{{ row }}" value="{{ sales_item.quantity|money }}" />
        {% else %}
            <input type="hidden" id="available_qty_{{ row }}" name="available_qty_{{ row }}" value="{{ sales_item.inventory.available_stock|money }}" />
            {% if sales_item.is_available  == -1 %}
                <span class="label label-warning"
                      data-toggle="tooltip"
                      data-original-title="There is stock but not enough to fill the quantity estimated."
                ><i class="fa fa-check"></i></span>
            {% elif sales_item.is_available  %}
                <span class="label label-success"
                      data-toggle="tooltip"
                      data-original-title="Stock available."
                ><i class="fa fa-check"></i></span>
            {% else %}
                <span class="label label-danger"
                      data-toggle="tooltip"
                      data-original-title="Stock not available."
                ><i class="fa fa-close"></i></span>
            {% endif %}
            <span class="stock-level">{{ sales_item.inventory.available_stock|money }}</span>
        {% endif %}
    </td>
    <td class="text-right">
        {{ sales_item.quantity|quantity }}
        <input type="hidden" class="quantity-ordered" id="received_{{ row }}"
               data-row-id="{{ row }}"
               name="received_{{ row }}"
               value="{{ sales_item.quantity|quantity }}">
        <input type="hidden" class="quantity-available"
               id="quantity_available_{{ row }}"
               data-row-id="{{ row }}"
               name="quantity_available_{{ row }}"
               value="{{ sales_item.picking_quantity|quantity }}">
    </td>
    <td class="text-right">
        <input type="hidden"
               id="picking_quantity_{{ sales_item.id }}"
               data-row-id="{{ row }}" value="{{ sales_item.picking_quantity|quantity }}" />
        {% if is_invoice == 1 %}
            <input type="text" disabled="disabled"
                   class="form-control-sm text-right quantity quantity-box"
                   data-row-id="{{ row }}"
                   value="{{ sales_item.quantity|quantity }}">
            <input type="hidden" id="quantity_{{ row }}"
                   class="quantity quantity-box"
                   data-row-id="{{ row }}"
                   name="quantity_{{ row }}"
                   value="{{ sales_item.quantity|quantity }}">
        {% else %}
            <input type="text" id="quantity_{{ row }}"
                   class="form-control-sm text-right quantity quantity-box"
                   data-row-id="{{ row }}"
                   name="quantity_{{ row }}"
                   value="{{ sales_item.picking_quantity|quantity }}">
        {% endif%}
        <input type="hidden" class="price"
               name="price_{{ row }}"
               id="price_{{ row }}"
               data-item-id="{{ row }}"
               value="{{ sales_item.price }}" />
        <input type="hidden" class="price-including"
               name="price_including_{{ row }}"
               id="price_including_{{ row }}"
               data-item-id="{{ sales_item.id }}"
               value="{{ sales_item.price_including }}" />
        <input type="hidden" class="sub-total"
               name="sub_total_{{ row }}"
               id="sub_total_{{ row }}"
               data-item-id="{{ sales_item.id }}"
               value="{{ sales_item.sub_total }}" />
        <input type="hidden" class="discount" value="{{ sales_item.discount|money }}"
               name="discount_percentage_{{ row }}"
               id="discount_percentage_{{ row }}"
               data-item-id="{{ sales_item.id }}" />
        <input type="hidden" class="total-discount"
               value="{{ sales_item.discount_amount }}"
               name="total_discount_{{ row }}"
               id="total_discount_{{ row }}"
               data-item-id="{{ sales_item.id }}" />
        <input type="hidden" value="{{ sales_item.total_price_excluding }}"
               name="total_price_excluding_{{ row }}"
               id="total_price_excluding_{{ row }}"
               class="total-price-excl" />
        <input type="hidden" value="{{ sales_item.vat_code.id }}"
               name="vat_code_{{ row }}"
               id="vat_code_{{ row }}"
               data-percentage="{{ sales_item.vat_code.percentage }}"
               class="vat vat-codes"
               data-item-id="{{ sales_item.id }}"
               data-text="{{ sales_item.vat_code }}"
        />
        <input type="hidden" value="{{ sales_item.vat }}"
               name="vat_percentage_{{ row }}"
               id="vat_percentage_{{ row }}"
               class="vat-percentage"
        />
        <input type="hidden"
               name="total_vat_{{ row }}"
               id="total_vat_{{ row }}"
               class="total-vat total-vat-amount"
               value="{{ sales_item.vat_amount }}"
        />
        <input type="hidden"
               name="vat_amount_{{ row }}"
               id="vat_amount_{{ row }}"
               class="vat-amount"
               value="{{ sales_item.vat_amount }}"
        />
        <input type="hidden" value="{{ sales_item.total_price_including|money }}"
               name="total_price_including_{{ row }}"
               id="total_price_including_{{ row }}"
               class="total-price-incl open-input" />
    </td>
    <td class="text-right">
        <input type="checkbox" class="create-picking text-right"
               id="is_picked_{{ row }}"
               data-row-id="{{ row }}"
               name="is_picked_{{ row }}"
               value="1" {% if sales_item.picking_quantity > 0 %}checked="checked"{% else %}disabled="disabled"{% endif %} />
    </td>
    <td class="text-right">
        <span id="balance_picking_{{ row }}">{{ sales_item.picking_balance|money }}</span>
        <input type="hidden" class="quantity-balance"
               id="picking_balance_{{ row }}"
               data-row-id="{{ row }}"
               name="picking_balance_{{ row }}"
               value="{{ sales_item.picking_balance|quantity }}">
    </td>
    <td class="text-right">
        {% if is_invoice == 1 %}
            <input type="checkbox" class="back-order text-right"
                   id="back_order_{{ row }}"
                   data-row-id="{{ row }}"
                   name="back_order_{{ row }}"
                   value="1" disabled="disabled"  />
        {% else %}
            <input type="checkbox" class="back-order text-right"
                   id="back_order_{{ row }}"
                   data-row-id="{{ row }}"
                   name="back_order_{{ row }}"
                   value="1" {% if sales_item.is_inventory_available %} disabled="disabled" {% else %} checked="checked" {% endif %}  />
        {% endif %}
        <input type="hidden" class="picked text-right" id="picked_{{ row }}"
               data-row-id="{{ row }}"
               name="picked_{{ row }}"
               value="{{ sales_item.quantity|quantity }}" />
    </td>
</tr>