{% if picking_slip.is_removed %}
    <span class="completed text-danger">{{ picking_slip.status_name }}</span>
{% elif picking_slip.is_completed %}
    <span class="completed text-success">{{ picking_slip.status_name }}</span>
{% elif picking_slip.is_in_progress %}
    <span class="text-danger">{{ picking_slip.status_name }}</span>
{% elif picking_slip.is_send_for_picking %}
    <span class="text-warning">{{ picking_slip.status_name }}</span>
{% endif %}