{% load static i18n %}
{% load thumbnail widget_tweaks %}
{% load company_tags invoice_tags common_tags vat %}
<div class="container-fluid" id="picking_slip">
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 text-left">
             {% if is_print %}
                {% display_logo company 200 75 is_print=is_print %}
             {% else %}
                {% display_logo company 200 75 %}
             {% endif %}
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4">
            {% include "sales/address/company.html" %}
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 text-right">
            <table class="table table-borderless table-condensed">
                <tr>
                    <td><strong class="h4">{% translate 'PICKING SLIP' %}</strong></td>
                    <td>#{{ picking_slip }}</td>
                </tr>
                <tr>
                    <td>{% translate 'Vat Registration Number' %}</td>
                    <td>{{ company.vat_number }}</td>
                </tr>
                <tr>
                    <td>{% translate 'Date' %}</td>
                    <td>{{ picking_slip.date|date:'d-M-Y' }}</td>
                </tr>
                {% if picking_slip.back_order %}
                    <tr>
                        <td>{% translate 'Picking Slip' %}</td>
                        <td>{{ picking_slip.back_order }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="row" id="customer-data">
        <div class="col-xs-4 col-md-4 col-lg-4 pull-left right-pad">
            <div class="panel panel-default height invoice-col">
                <div class="panel-heading">{% translate 'Customer' %}</div>
                <div class="panel-body" style="padding: 5px;">
                    {% with sales_invoice=picking_slip %}
                        {% include "sales/address/postal.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
            <div class="panel panel-default height invoice-col">
                <div class="panel-heading">{% translate 'Delivery To' %}</div>
                <div class="panel-body" style="padding: 5px;" id="shipping_to">
                    {% with sales_invoice=picking_slip %}
                        {% include "sales/address/delivery.html" %}
                    {% endwith %}
                    {% if picking_slip.is_completed and picking_slip.delivery %}
                        <table class="table">
                            <tr>
                                <td><strong>Number</strong>:</td>
                                <td class="text-right">
                                    <a href="{% url 'delivery_detail' picking_slip.delivery.id %}">{{ picking_slip.delivery }}</a>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
            <div class="panel panel-default height invoice-col">
                <div class="panel-heading">&nbsp;</div>
                <div class="panel-body" id="picking_meta" style="padding: 5px;">
                    {% include "pickingslip/picking.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
             {% if not is_print%}
                <div class="panel-heading">&nbsp;</div>
             {% endif %}
                <div class="panel-body sales-items">
                    <table class="table table-condensed table-bordered" id="picking-slip-document" width="100%">
                        <tr>
                            <td class="space" colspan="{{ cols }}">
                                <table class="table" width="100%">
                                    <tr class="item-titles">
                                        <th class="po-brdr-r po-pad-left">{% translate 'Stock Code' %}</th>
                                        <th class="po-brdr-r po-pad-left">{% translate 'Description' %}</th>
                                        <th class="po-brdr-r po-pad-right">{% translate 'Store Area' %}</th>
                                        <th class="po-brdr-r po-pad-right">{% translate 'Rack' %}</th>
                                        <th class="po-brdr-r po-pad-right">{% translate 'Bin Location' %}</th>
                                        <th class="po-brdr-r po-pad-right text-right">{% translate 'Quantity' %}</th>
                                        <th class="po-brdr-r po-pad-right text-right">{% translate 'Picked' %}</th>
                                        <th class="text-center">{% translate 'Back Order' %}</th>
                                    </tr>
                                    {% for picking_slip_item in picking_slip_items.all %}
                                        <tr id="sales_item_{{ picking_slip_item.id }}" class="sales-items picking_slip_item_row"
                                            data-row-id="{{ picking_slip_item.id }}"
                                            data-picking-slip-id="{{ picking_slip_item.id }}"
                                        >
                                            <td>
                                                {{ picking_slip_item.inventory }}
                                                {% if not is_print %}
                                                <input type="hidden" name="picking_slip_item_id" value="{{ picking_slip_item.id }}">
                                                <input type="hidden" class="form-control form-control-sm price"
                                                       name="price_{{ picking_slip_item.id }}"
                                                       id="price_{{ picking_slip_item.id }}"
                                                       data-item-id="{{ picking_slip_item.id }}"
                                                       value="{{ picking_slip_item.price }}" />
                                                        <input type="hidden" class="quantity-balance"
                                                               id="picking_balance_{{ picking_slip_item.id }}"
                                                               data-row-id="{{ picking_slip_item.id }}"
                                                               name="picking_balance_{{ picking_slip_item.id }}"
                                                               value="{{ picking_slip_item.picking_balance|quantity }}">
                                                        <input type="hidden" class="in-stock"
                                                               name="in_stock_{{ picking_slip_item.id }}"
                                                               id="in_stock_{{ picking_slip_item.id }}"
                                                               data-item-id="{{ picking_slip_item.id }}"
                                                               value="{{ picking_slip_item.inventory.in_stock }}" />
                                                        <input type="hidden" class="quantity-available"
                                                               id="quantity_available_{{ picking_slip_item.id }}"
                                                               data-row-id="{{ picking_slip_item.id }}"
                                                               name="quantity_available_{{ picking_slip_item.id }}"
                                                               value="{{ picking_slip_item.inventory.in_stock|quantity }}">
                                                        <input type="hidden" class="price-including"
                                                               name="price_including_{{ picking_slip_item.id }}"
                                                               id="price_including_{{ picking_slip_item.id }}"
                                                               data-item-id="{{ picking_slip_item.id }}"
                                                               value="{{ picking_slip_item.price_including }}" />
                                                        <input type="hidden" class="sub-total"
                                                               name="sub_total_{{ picking_slip_item.id }}"
                                                               id="sub_total_{{ picking_slip_item.id }}"
                                                               data-item-id="{{ picking_slip_item.id }}"
                                                               value="{{ picking_slip_item.sub_total }}" />
                                                        <input type="hidden" class="discount" value="{{ picking_slip_item.discount }}"
                                                               name="discount_percentage_{{ picking_slip_item.id }}"
                                                               id="discount_percentage_{{ picking_slip_item.id }}"
                                                               data-item-id="{{ picking_slip_item.id }}" />
                                                        <input type="hidden" class="total-discount"
                                                               value="{{ picking_slip_item.total_discount_amount }}"
                                                               name="total_discount_{{ picking_slip_item.id }}"
                                                               id="total_discount_{{ picking_slip_item.id }}"
                                                               data-item-id="{{ picking_slip_item.id }}" />
                                                        <input type="hidden" value="{{ picking_slip_item.total_price_excluding }}"
                                                               name="total_price_excluding_{{ picking_slip_item.id }}"
                                                               id="total_price_excluding_{{ picking_slip_item.id }}"
                                                               class="total-price-excl" />
                                                        <input type="hidden" value="{{ picking_slip_item.vat_code.id }}"
                                                               name="vat_code_{{ picking_slip_item.id }}"
                                                               id="vat_code_{{ picking_slip_item.id }}"
                                                               data-percentage="{{ picking_slip_item.vat_code.percentage }}"
                                                               class="vat vat-codes"
                                                               data-item-id="{{ picking_slip_item.id }}"
                                                               data-text="{{ picking_slip_item.vat_code }}" />
                                                        <input type="hidden" value="{{ picking_slip_item.vat }}"
                                                               name="vat_percentage_{{ picking_slip_item.id }}"
                                                               id="vat_percentage_{{ picking_slip_item.id }}"
                                                               class="vat-percentage" />
                                                        <input type="hidden"
                                                               name="vat_amount_{{ picking_slip_item.id }}"
                                                               id="vat_amount_{{ picking_slip_item.id }}"
                                                               class="vat-amount"
                                                               value="{{ picking_slip_item.vat_amount }}" />
                                                        <input type="hidden"
                                                               name="total_vat_{{ picking_slip_item.id }}"
                                                               id="total_vat_{{ picking_slip_item.id }}"
                                                               class="total-vat total-vat-amount"
                                                               value="{{ picking_slip_item.total_vat_amount }}" />
                                                         <input type="hidden" value="{{ picking_slip_item.total_price_including|money }}"
                                                               name="total_price_including_{{ picking_slip_item.id }}"
                                                               id="total_price_including_{{ picking_slip_item.id }}"
                                                               class="total-price-incl open-input" />
                                                         <input type="hidden" value="{{ picking_slip_item.inventory.gross_weight }}"
                                                                id="gross_weight_{{ picking_slip_item.id }}"
                                                                data-row-id="{{ picking_slip_item.id }}"
                                                                class="gross-weight" />
                                                         <input type="hidden" value="{{ picking_slip_item.inventory.weight }}"
                                                                id="net_weight_{{ picking_slip_item.id }}"
                                                                data-row-id="{{ picking_slip_item.id }}"
                                                                class="net-weight" />
                                                {% endif %}
                                            </td>
                                            <td>{{ picking_slip_item.inventory.description }}</td>
                                            <td>{{ picking_slip_item.inventory.store_area }}</td>
                                            <td>{{ picking_slip_item.inventory.rack }}</td>
                                            <td>{{ picking_slip_item.inventory.bin_location }}</td>
                                            <td class="text-right">{{ picking_slip_item.quantity|quantity }}</td>
                                            <td class="text-right ">
                                                {% if not is_print %}
                                                    {% if picking_slip.is_completed %}
                                                        <input type="text" disabled="disabled"
                                                         class="form-control-small quantity form-control text-right pull-right"
                                                         id="quantity_{{ picking_slip_item.id }}"
                                                         data-row-id="{{ picking_slip_item.id }}"
                                                         name="quantity_{{ picking_slip_item.id }}"
                                                         value="{{ picking_slip_item.picked|quantity }}">
                                                    {% else %}
                                                        <input type="hidden"
                                                                 class=" picked"
                                                                 id="picked_{{ picking_slip_item.id }}"
                                                                 data-row-id="{{ picking_slip_item.id }}"
                                                                 name="picked_{{ picking_slip_item.id }}"
                                                                 value="{{ picking_slip_item.quantity|quantity }}">
                                                        <input type="text"
                                                                 class="form-control-small quantity form-control pull-right quantity-ordered quantity-box"
                                                                 id="quantity_{{ picking_slip_item.id }}"
                                                                 data-row-id="{{ picking_slip_item.id }}"
                                                                 name="quantity_{{ picking_slip_item.id }}"
                                                                 value="{{ picking_slip_item.quantity|quantity }}">
                                                    {% endif %}

                                                    <input type="hidden"
                                                           value="{{ picking_slip_item.quantity|quantity }}"
                                                           name="received_{{ picking_slip_item.id }}"
                                                           id="received_{{ picking_slip_item.id }}"
                                                           data-item-id="{{ picking_slip_item.id }}"
                                                    />
                                                {% else %}
                                                    {{ picking_slip_item.picked|quantity }}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                {% if not is_print %}
                                                    <input type="checkbox" class="back-order checkbox-input"
                                                           name="back_order_{{ picking_slip_item.id }}"
                                                           id="back_order_{{ picking_slip_item.id }}"
                                                           data-item-id="{{ picking_slip_item.id }}"
                                                           disabled="disabled"
                                                    >
                                                {% endif %}
                                             </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                       {% if delivery.display_prices %}
                            {% if  customer_discount != 0 %}
                                <tr>
                                    <td class="text-left" colspan="3">
                                        {% vat_summary sales_invoice=picking_slip sales_invoice_items=picking_slip_items.all %}
                                    </td>
                                    <td class="space" colspan="8">&nbsp;</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
            <table class="table table-bordered" width="100%">
                <tr class="signing-footer">
                    <td width="40%">{% translate 'Signed by Driver/Delivery Responsible' %}</td>
                    <td width="60%" class="text-right writtable" colspan="6"></td>
                </tr>
                <tr class="signing-footer">
                    <td width="40%">{% translate 'Print Name' %}:</td>
                    <td width="60%" class="text-right writtable" colspan="6"></td>
                </tr>
                <tr class="signing-footer">
                    <td width="40%">{% translate 'Date' %}: </td>
                    <td width="60%" class="text-right writtable" colspan="6"></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
            <div>
                {% with gross_weight=sales_invoice.gross_weight net_weight=picking_slip.net_weight quantity=picking_slip.total_quantity %}
                    {% include "sales/partials/weight_summary.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-12 text-center">
            Printed via Docuflow &copy; www.docuflow.co.za
        </div>
    </div>
</div>