{% load static i18n %}
{% load invoice_tags %}
<table class="table align-right" style="float: right;">
    {% if invoice.linked_invoice %}
        <tr>
            <td>{% translate "Original Invoice" %}:</td>
            <td class="text-right"><a href="{% url 'view_sales_invoice' invoice.linked_invoice.id %}" target="_blank">{{ invoice.linked_invoice }}</a></td>
        </tr>
    {% endif %}
    {% if invoice.delivery %}
        <tr>
            <td>{% translate "Delivery" %}:</td>
            <td class="text-right">
                <a href="{% url 'delivery_detail' invoice.delivery.id %}">{{ invoice.delivery }}</a>
            </td>
        </tr>
        {% if invoice.delivery.estimate %}
            <tr>
                <td>{% translate "Estimate" %}:</td>
                <td class="text-right">
                    <a href="{% url 'estimate_detail' invoice.delivery.estimate_id %}">{{ invoice.delivery.estimate }}</a>
                </td>
            </tr>
        {% endif %}
    {% endif %}
    {% if invoice.estimate %}
        <tr>
            <td>{% translate "Estimate" %}:</td>
            <td class="text-right">
                <a href="{% url 'estimate_detail' invoice.estimate.id %}">
                    {{ invoice.estimate }}
                </a>
            </td>
        </tr>
    {% elif invoice.estimate_number %}
        <td>Vår referens:</td>
        <td class="text-right">{{ invoice.estimate_number }}</td>
    {% endif %}
    {% if invoice.is_picking_slip_required and delivery.picking_slip %}
        <tr>
            <td>{% translate "Picking Slip" %}:</td>
            <td class="text-right">
                <a href="{% url 'picking_detail' invoice.picking_slip.id %}">{{ invoice.picking_slip }}</a>
            </td>
        </tr>
    {% endif %}
    {% if invoice.po_number %}
        <tr>
           <td>Er referens:</td>
            <td class="text-right">{{ invoice.po_number }}</td>
        </tr>
    {% endif %}
    {% if invoice.customer.external_company_number %}
        <tr>
           <td>BGC Ref:</td>
            <td class="text-right">{{ invoice.customer.external_company_number }}</td>
        </tr>
    {% endif %}
    {% if invoice.customer.is_interest_charged and invoice.customer.interest %}
        <tr>
           <td>Dröjsmålsränta:</td>
            <td class="text-right">{{ invoice.customer.interest }}%</td>
        </tr>
    {% endif %}
    <tr>
        <td>Ditt MOMS Reg.nr:</td>
        <td class="text-right">
            {% if invoice.is_cash %}
                {{ invoice.vat_number }}
            {% else %}
                {{ invoice.customer.vat_number }}
            {% endif  %}
        </td>
    </tr>
    {% if invoice.salesman %}
        <tr>
            <td>{% translate "Salesman" %}:</td>
            <td class="text-right">
                {{ invoice.salesman }}
            </td>
        </tr>
    {% endif %}
    {% if invoice.period and not is_print %}
        <tr>
            <td>Period:</td>
            <td class="text-right">{{ invoice.period }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>Förfallodatum:</td>
        <td class="text-right">{{ invoice.due_date|date:"Y-m-d" }}</td>
    </tr>
    {% if not is_print %}
        {% if invoice.customer.credit_limit %}
            <tr>
                <td>{% translate "Credit Limit" %}:</td>
                <td class="text-right">{{ invoice.customer.credit_limit|money }}</td>
            </tr>
        {% endif %}
        {% if invoice.customer.credit_limit %}
            <tr>
                <td>{% translate "Available Credit" %}:</td>
                <td class="text-right">{{ invoice.customer.available_credit|money }}</td>
            </tr>
        {% endif %}
    {% endif %}
</table>