{% load i18n static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags vat inventory_tags %}
<div class="row">
    {% if company.logo %}
        <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
             {% if is_print %}
                {% display_logo invoice.branch.company 200 75 is_print=is_print %}
             {% else %}
                {% display_logo invoice.branch.company 200 75 %}
             {% endif %}
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
            {% with company=invoice.branch.company %}
                {% include "sales/formats/swe/company.html" %}
            {% endwith %}
        </div>
    {% else %}
        <div class="col-xs-8 col-md-8 col-lg-8 text-left right-pad">
            {% with company=invoice.branch.company %}
                {% include "sales/formats/swe/company.html" %}
            {% endwith %}
        </div>
    {% endif %}
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <table class="table table-borderless table-condensed">
            <tr>
                <td><strong class="h4">{{ invoice.invoice_type|upper }}</strong></td>
                <td>#{{ invoice }}</td>
            </tr>
            <tr>
                <td>Vår MOMS Reg.nr:</td>
                <td>{{ invoice.branch.company.vat_number }}</td>
            </tr>
            <tr>
                <td>Datum:</td>
                <td>{{ invoice.invoice_date|date:"Y-m-d" }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row invoice-row" id="customer-data">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Kund</strong></div>
            <div class="panel-body" style="padding: 5px;">
                {% with sales_invoice=invoice %}
                    {% include "sales/address/postal.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Leverans</strong></div>
            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                {% with sales_invoice=invoice %}
                    {% include "sales/formats/swe/delivery.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Annat</strong></div>
            <div class="panel-body" id="invoice_meta" style="padding: 5px;">
                {% include "sales/formats/swe/meta.html" %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-body sales-items">
                <div class="table-responsive">
                   <table width="100%" class="table">
                        <tr class="item-titles">
                            {% if not is_print %}
                                <th class="">Code</th>
                            {% endif %}
                            <th class="">Benämning</th>
                            <th class="text-right">Antal</th>
                            <th class="text-right">À-pris</th>
                            <th class="text-right">Rabatt (%)</th>
                            <th class="text-right">Rabatt</th>
                            <th class="text-right">Netto</th>
                            <th class="text-right">Moms</th>
                            <th class="text-right">Brutto</th>
                        </tr>
                        {% for invoice_item in invoice.invoice_items.all %}
                            {% if invoice_item.inventory %}
                                <tr class="line-items">
                                    {% if not is_print %}
                                        <td>{{ invoice_item.inventory }}</td>
                                    {% endif %}
                                    <td>{{ invoice_item.inventory.description }}</td>
                                    <td class="text-right">{{ invoice_item.quantity|quantity }}</td>
                                    <td class="text-right">{{ invoice_item.price|money }}</td>
                                    <td class="text-right">{{ invoice_item.discount|money  }}%</td>
                                    <td class="text-right">{{ invoice_item.total_discount_amount|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_price_excluding|money }}</td>
                                    <td class="text-right">{{ invoice_item.vat_amount|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_price_including|money }}</td>
                                </tr>
                            {% elif invoice_item.account %}
                                <tr class="line-items">
                                    {% if not is_print %}
                                        <td>
                                            <span data-original-title="{{ invoice_item.account }}" data-toggle="tooltip">{{ invoice_item.account.code }}</span>
                                        </td>
                                    {% endif %}
                                    <td>{{ invoice_item.description }}</td>
                                    <td class="text-right">{{ invoice_item.quantity|money }}</td>
                                    <td class="text-right">{{ invoice_item.price|money }}</td>
    {#                                <td class="text-right">{{ invoice_item.price_including|money }}</td>#}
                                    <td class="text-right">{{ invoice_item.discount|money  }}%</td>
                                    <td class="text-right">{{ invoice_item.total_discount_amount|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_price_excluding|money }}</td>
                                    <td class="text-right">{{ invoice_item.vat_amount|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_price_including|money }}</td>
                                </tr>
                            {% else %}
                                <tr class="line-items">
                                    <td colspan="6">{{ invoice_item.description }}</td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        {% if banks %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">{% translate "Bankkonto" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bank in banks %}
                        <tr>
                            <td>{{ bank.bank_name }}</td>
                            <td>{{ bank.account_number }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>{% translate 'No banking details found' %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        <table width="100%" class="table table-bordered">
            <tr>
                <td class="po-total">Belopp</td>
                <td class="po-total text-right">&nbsp;{{ invoice.sub_total|money }}</td>
            </tr>
{#            <tr>#}
{#                <td class="po-total">LINE DISCOUNTS</td>#}
{#                <td class="po-total" >&nbsp;{{ invoice.line_discount|money }}</td>#}
{#            </tr>#}
            {% if customer_discount != 0 %}
                <tr>
                    <td class="po-total">Kundrabatt</td>
                    <td class="po-total text-right" >&nbsp;{{ invoice.customer_discount|money }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="po-total">Netto Exklusiv moms</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.net_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Moms</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.vat_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Totalt Brutto Belopp</td>
                <td class="po-total text-right">{{ invoice.total_amount|money }}</td>
            </tr>
        </table>
        {% swe_vat_summary invoice invoice.invoice_items.all %}
    </div>
</div>

