{% load i18n %}
<table class="table align-right" style="float: left;">
    <tr>
        <td class="text-left">
            <span class="h4">{{ company.name }}</span>
        </td>
    </tr>
    <tr>
        <td class="text-left">{{ company.address_line_1 }}</td>
    </tr>
    <tr>
        <td class="text-left">{{ company.address_line_2 }}</td>
    </tr>
    <tr>
        <td class="text-left">{% translate "Phone:" %} {% if company.landline_number %}{{ company.landline_number }}{% endif %}</td>
    </tr>
</table>