{% load static i18n %}
<table class="table align-right" style="float: left;">
    {% if sales_invoice.is_pick_up %}
        <tr>
            <td class="text-left">{% translate "Pick Up" %}</td>
        </tr>
    {% elif sales_invoice.has_delivery_address %}
        {% if sales_invoice.delivery_to.address_line_1 %}
            <tr>
                <td class="text-left">{{ sales_invoice.delivery_to.address_line_1 }}</td>
            </tr>
        {% elif sales_invoice.delivery_to.street %}
            <tr>
                <td class="text-left">{{ sales_invoice.delivery_to.street }}</td>
            </tr>
        {% endif %}

        {% if sales_invoice.delivery_to.city %}
        <tr>
            <td class="text-left">{{ sales_invoice.delivery_to.city }}</td>
        </tr>
        {% endif %}
        {% if sales_invoice.delivery_province %}
            <tr>
                <td class="text-left">{{ sales_invoice.delivery_province }}</td>
            </tr>
        {% endif %}
        {% if sales_invoice.delivery_to.postal_code %}
            <tr>
                <td class="text-left">{{ sales_invoice.delivery_to.postal_code }}</td>
            </tr>
        {% endif %}
        {% if sales_invoice.delivery_to.country or sales_invoice.delivery_to.country_name %}
            <tr>
                <td class="text-left">{{ sales_invoice.delivery_country }}</td>
            </tr>
        {% elif sales_invoice.delivery_country %}
            <tr>
                <td class="text-left">{{ sales_invoice.delivery_country }}</td>
            </tr>
        {% endif %}
    {% else  %}
        {% with customer_delivery=sales_invoice.customer.delivery_address %}
            <tr>
                <td class="text-left">
                    {{ customer_delivery.address_line_1 }}
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    {{ customer_delivery.city }}
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    {{ customer_delivery.postal_code }}
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    {{ customer_delivery.province_name }}
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    {{ customer_delivery.country.name }}
                </td>
            </tr>
        {% endwith %}
    {% endif %}
</table>