{% load widget_tweaks %}
<table class="table">
    <tbody>
        {% if invoice.has_delivery_address %}
            {% with delivery_to=sales_invoice.delivery_to %}
                <tr>
                    <td>
                        {% if delivery_to.street %}
                            {% render_field form.delivery_street class="form-control form-control-sm" value=delivery_to.street %}
                        {% elif delivery_to.address_line_1 %}
                            {% render_field form.delivery_street class="form-control form-control-sm" value=delivery_to.address_line_1 %}
                        {% else %}
                            {% render_field form.delivery_street class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_street.auto_id  != "id_tos" %}
                            {% if form.delivery_street.errors %}<span class="help-inline">{{ form.delivery_street.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if delivery_to.city %}
                            {% render_field form.delivery_city class="form-control form-control-sm" value=delivery_to.city %}
                        {% else %}
                            {% render_field form.delivery_city class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_city.auto_id  != "id_tos" %}
                            {% if form.delivery_city.errors %}<span class="help-inline">{{ form.delivery_city.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if delivery_to.province %}
                            {% render_field form.delivery_province class="form-control form-control-sm" value=delivery_to.province %}
                        {% elif delivery_to.province_name %}
                            {% render_field form.delivery_province class="form-control form-control-sm" value=delivery_to.province_name %}
                        {% else %}
                            {% render_field form.delivery_province class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_province.auto_id  != "id_tos" %}
                            {% if form.delivery_province.errors %}<span class="help-inline">{{ form.delivery_province.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if delivery_to.postal_code %}
                            {% render_field form.delivery_postal_code class="form-control form-control-sm" value=delivery_to.postal_code %}
                        {% else %}
                            {% render_field form.delivery_postal_code class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_postal_code.auto_id  != "id_tos" %}
                            {% if form.delivery_postal_code.errors %}<span class="help-inline">{{ form.delivery_postal_code.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if delivery_to.country %}
                            {% render_field form.delivery_country class="form-control form-control-sm" value=delivery_to.country %}
                        {% else %}
                            {% render_field form.delivery_country class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_country.auto_id  != "id_tos" %}
                            {% if form.delivery_country.errors %}<span class="help-inline">{{ form.delivery_country.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endwith %}
        {% elif sales_invoice.is_pick_up %}
            <tr>
                <td class="text-left">Pick Up</td>
            </tr>
        {% else  %}
            {% with customer_delivery=sales_invoice.customer.delivery_address %}
                <tr>
                    <td class="text-left">
                        {% if customer_delivery.address_line_1 %}
                            {% render_field form.delivery_street class="form-control form-control-sm" value=customer_delivery.address_line_1 %}
                        {% else %}
                            {% render_field form.delivery_street class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_street.auto_id  != "id_tos" %}
                            {% if form.delivery_street.errors %}<span class="help-inline">{{ form.delivery_street.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% if customer_delivery.city %}
                            {% render_field form.delivery_city class="form-control form-control-sm" value=customer_delivery.city %}
                        {% else %}
                            {% render_field form.delivery_city class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_city.auto_id  != "id_tos" %}
                            {% if form.delivery_city.errors %}<span class="help-inline">{{ form.delivery_city.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% if customer_delivery.postal_code %}
                            {% render_field form.delivery_postal_code class="form-control form-control-sm" value=customer_delivery.postal_code %}
                        {% else %}
                            {% render_field form.delivery_postal_code class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_postal_code.auto_id  != "id_tos" %}
                            {% if form.delivery_postal_code.errors %}<span class="help-inline">{{ form.delivery_postal_code.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% if customer_delivery.province_name %}
                            {% render_field form.delivery_province class="form-control form-control-sm" value=customer_delivery.province_name %}
                        {% else %}
                            {% render_field form.delivery_province class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_province.auto_id  != "id_tos" %}
                            {% if form.delivery_province.errors %}<span class="help-inline">{{ form.delivery_province.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        {% if customer_delivery.country %}
                            {% render_field form.delivery_country class="form-control form-control-sm" value=customer_delivery.country %}
                        {% else %}
                            {% render_field form.delivery_country class="form-control form-control-sm" %}
                        {% endif %}
                        {% if form.delivery_country.auto_id  != "id_tos" %}
                            {% if form.delivery_country.errors %}<span class="help-inline">{{ form.delivery_country.errors }}</span>{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endwith %}
        {% endif %}
    </tbody>
</table>