<table class="table align-right" style="float: left;">
    {% if sales_invoice.postal %}
        {% if sales_invoice.customer %}
            <tr>
                <td class="text-left">
                    <input id="customer_name" name="customer_name" type="text" class="form-control form-control-sm" placeholder="Customer Name" value="{% if sales_invoice.customer_name %}{{ sales_invoice.customer_name }}{% else %}{{ sales_invoice.customer.name }}{% endif %}">
                </td>
            </tr>
        {% endif %}
        {% with postal=sales_invoice.postal %}
            {% if postal.street %}
                <tr>
                    <td class="text-left">
                        <input name="postal_street" type="text" class="form-control form-control-sm" placeholder="Street" value="{{ postal.street }}">
                    </td>
                </tr>
            {% endif %}
            {% if postal.city %}
                <tr>
                    <td class="text-left">
                        <input name="postal_city" type="text" class="form-control form-control-sm" placeholder="City" value="{{ postal.city }}">
                    </td>
                </tr>
            {% endif %}
            {% if sales_invoice.postal_province %}
                <tr>
                    <td class="text-left">
                        <input name="postal_province_name" type="text" class="form-control form-control-sm" value="{{ sales_invoice.postal_province }}" placeholder="Province">
                    </td>
                </tr>
            {% endif %}
            {% if postal.postal_code %}
                    <tr>
                        <td class="text-left">
                            <input name="postal_postal_code" type="text" class="form-control form-control-sm" value="{{ postal.postal_code }}" placeholder="Postal Code">
                        </td>
                    </tr>
            {% endif %}
            {% if sales_invoice.postal_country %}
                <tr>
                    <td class="text-left">
                        <input name="postal_country_name" type="text" class="form-control form-control-sm" value="{{ sales_invoice.postal_country }}" placeholder="Country">
                    </td>
                </tr>
            {% endif %}
        {% endwith %}
    {% else %}
        <tr>
            <td class="text-left">{{ sales_invoice.customer }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ sales_invoice.customer.name }}</td>
        </tr>
        {% with postal_address=sales_invoice.customer.postal_address %}
            <tr>
                <td class="text-left">{{ postal_address.address_line_1 }}</td>
            </tr>
            <tr>
                <td class="text-left">{{ postal_address.city }}</td>
            </tr>
            <tr>
                <td class="text-left">{{ postal_address.postal_code }}</td>
            </tr>
            <tr>
                <td class="text-left">{{ postal_address.province_name }}</td>
            </tr>
            <tr>
                <td class="text-left">{{ postal_address.country.name }}</td>
            </tr>
        {% endwith %}
    {% endif %}
</table>