{% load i18n %}
<table class="table align-right" style="float: left;">
    {% if sales_invoice.postal %}
        {% if sales_invoice.customer %}
            <tr>
                <td class="text-left">
                    {% if is_print or is_email %}
                        {% if sales_invoice.customer_name %}
                            {{ sales_invoice.customer_name }}
                        {% else %}
                            {{ sales_invoice.customer.name }}
                        {% endif %}
                    {% else %}
                        <a href="{% url "edit_customer" sales_invoice.customer.id %}" target="_blank">
                            {% if sales_invoice.customer_name %}
                                {{ sales_invoice.customer_name }}
                            {% else %}
                                {{ sales_invoice.customer.name }}
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% with postal=sales_invoice.postal %}
            {% if postal.street %}
                <tr>
                    <td class="text-left">{{ postal.street }}</td>
                </tr>
            {% elif postal.address_line_1 %}
                <tr>
                    <td class="text-left">{{ postal.address_line_1 }}</td>
                </tr>
            {% endif %}
            {% if postal.city %}
                <tr>
                    <td class="text-left">{{ postal.city }}</td>
                </tr>
            {% endif %}
            {% if sales_invoice.postal_province %}
                <tr>
                    <td class="text-left">{{ sales_invoice.postal_province }}</td>
                </tr>
            {% endif %}
            {% if postal.postal_code %}
                    <tr>
                        <td class="text-left">{{ postal.postal_code }}</td>
                    </tr>
            {% endif %}
            {% if sales_invoice.postal_country %}
                <tr>
                    <td class="text-left">{{ sales_invoice.postal_country }}</td>
                </tr>
            {% endif %}
        {% endwith %}
    {% else %}
        <tr>
            <td class="text-left">
                {% if is_print %}
                    {{ sales_invoice.customer }}
                {% else %}
                    <a href="{% url "edit_customer" sales_invoice.customer.id %}" target="_blank">
                        {{ sales_invoice.customer }}
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="text-left">{{ sales_invoice.customer.name }}</td>
        </tr>
        {% with postal_address=sales_invoice.customer.postal_address %}
            <tr>
                <td class="text-left">{{ postal_address.address_line_1 }}</td>
            </tr>
            <tr>
                <td class="text-left">{{ postal_address.city }}</td>
            </tr>
            <tr>
                <td class="text-left">{{ postal_address.postal_code }}</td>
            </tr>
            <tr>
                <td class="text-left">{{ postal_address.province_name }}</td>
            </tr>
            <tr>
                <td class="text-left">{{ postal_address.country.name }}</td>
            </tr>
        {% endwith %}
        {% if sales_invoice.customer.phone_number %}
            {% if sales_invoice.invoice_type.is_default_format %}
                <tr>
                    <td class="text-left">
                        {% translate "Phone Number" %}:&nbsp;&nbsp;{{ sales_invoice.customer.phone_number }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-left">
                        {% translate "Telephone Number" %}:&nbsp;&nbsp;{{ sales_invoice.customer.phone_number }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}

    {% endif %}
</table>