{% load i18n %}
{% load static %}
{% load widget_tweaks invoice_tags %}
<fieldset class="well">
      <div class="form-group control-group {% if form.override_limit.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.override_limit.id_for_label }}">
            {{ form.override_limit.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.override_limit class="form-control"  %}

            {% if form.override_limit.auto_id  != "id_tos" %}
                {% if form.override_limit.errors %}<span class="help-inline">{{ form.override_limit.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
</fieldset>