{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<fieldset class="well">
      <div class="form-group control-group {% if form.new_password_1.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.new_password_1.id_for_label }}">{{ form.new_password_1.label_tag }}</label>
        <div class="controls">
            {% if 'my_profile_password_yes' in permissions %}
                {% render_field form.new_password_1 class="form-control"  %}
            {% else %}
                {% render_field form.new_password_1 class="form-control"  readonly="readonly" %}
            {% endif %}

            {% if form.new_password_1.auto_id  != "id_tos" %}
                {% if form.new_password_1.errors %}<span class="help-inline">{{ form.new_password_1.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.new_password_2.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.new_password_2.id_for_label }}">{{ form.new_password_2.label_tag }}</label>
        {% if 'my_profile_password_yes' in permissions %}
            {% render_field form.new_password_2 class="form-control" %}
        {% else %}
            {% render_field form.new_password_2 class="form-control" readonly="readonly" %}
        {% endif %}
        <div class="controls">
            {% if form.new_password_2.auto_id  != "id_tos" %}
                {% if form.new_password_2.errors %}<span class="help-inline">{{ form.new_password_2.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

</fieldset>