{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<fieldset class="well">
      <div class="form-group control-group {% if form.username.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.username class="form-control" value=account.username %}
            {% else %}
                {% render_field form.username class="form-control" value=account.username readonly="readonly" %}
            {% endif %}
            {% if form.username.auto_id  != "id_tos" %}
                {% if form.username.errors %}<span class="help-inline">{{ form.username.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.code.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.code.id_for_label }}">{{ form.code.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.code class="form-control" value=profile.code %}
            {% else %}
                {% render_field form.code class="form-control" value=profile.code readonly="readonly"   %}
            {% endif %}
            {% if form.code.auto_id  != "id_tos" %}
                {% if form.code.errors %}<span class="help-inline">{{ form.code.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.first_name.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.first_name class="form-control" value=account.first_name %}
            {% else %}
                {% render_field form.first_name class="form-control" value=account.first_name  readonly="readonly" %}
            {% endif %}
            {% if form.first_name.auto_id  != "id_tos" %}
                {% if form.first_name.errors %}<span class="help-inline">{{ form.first_name.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.last_name.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.last_name class="form-control" value=account.last_name %}
            {% else %}
                {% render_field form.last_name class="form-control" value=account.last_name readonly=readonly %}
            {% endif %}
            {% if form.last_name.auto_id  != "id_tos" %}
                {% if form.last_name.errors %}<span class="help-inline">{{ form.last_name.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.email.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.email class="form-control" value=account.email %}
            {% else %}
                {% render_field form.email class="form-control" value=account.email readonly=readonly %}
            {% endif %}
            {% if form.email.auto_id  != "id_tos" %}
                {% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.number_of_records.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.number_of_records.id_for_label }}">
            {{ form.number_of_records.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.number_of_records class="form-control" value=profile.number_of_records %}
            {% else %}
                {% render_field form.number_of_records class="form-control" value=profile.number_of_records readonly="readonly" %}
            {% endif %}

            {% if form.number_of_records.auto_id  != "id_tos" %}
                {% if form.number_of_records.errors %}<span class="help-inline">{{ form.number_of_records.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.can_view_protected_document.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.can_view_protected_document.id_for_label }}">
            {{ form.can_view_protected_document.label_tag }}</label>
        <div class="controls">
            {% render_field form.can_view_protected_document class="form-control checkbox-input" value=1 %}
            {% if form.can_view_protected_document.auto_id  != "id_tos" %}
                {% if form.can_view_protected_document.errors %}<span class="help-inline">{{ form.can_view_protected_document.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.is_active.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.is_active.id_for_label }}">
            {{ form.is_active.label_tag }}</label>
        <div class="controls">
            {% render_field form.is_active class="form-control checkbox-input" value=1 %}
            {% if form.is_active.auto_id  != "id_tos" %}
                {% if form.is_active.errors %}<span class="help-inline">{{ form.is_active.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>


</fieldset>