{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<fieldset class="well">
      <div class="form-group control-group {% if form.temporary_user.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.temporary_user.id_for_label }}">{{ form.temporary_user.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.temporary_user class="form-control" %}
            {% else %}
                {% render_field form.temporary_user class="form-control" readonly='readonly' %}
            {% endif %}

            {% if form.temporary_user.auto_id  != "id_tos" %}
                {% if form.temporary_user.errors %}<span class="help-inline">{{ form.temporary_user.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.start_date.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.start_date.id_for_label }}">{{ form.start_date.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.start_date class="form-control datepicker" %}
            {% else %}
                {% render_field form.start_date class="form-control" %}
            {% endif %}
            {% if form.from_date.auto_id  != "id_tos" %}
                {% if form.from_date.errors %}<span class="help-inline">{{ form.from_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.expiry_date.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.expiry_date.id_for_label }}">{{ form.expiry_date.label_tag }}</label>
        <div class="controls">
            {% if can_manage_profile %}
                {% render_field form.expiry_date class="form-control datepicker" %}
            {% else %}
                {% render_field form.expiry_date class="form-control" %}
            {% endif %}
            {% if form.expiry_date.auto_id  != "id_tos" %}
                {% if form.expiry_date.errors %}<span class="help-inline">{{ form.expiry_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
</fieldset>

<div id="temporary_profiles" data-ajax-url="{% url 'temporary_profile_index' profile_id=profile.id %}?redirect={% url 'edit_user_account' profile.user_id %}"></div>