{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
<div class="table-responsive">
    <table class="table table-bordered table-condensed" width="100%">
        <thead>
            <tr class="primary-head">
                <th>{% translate "SKU" %}</th>
                <th>{% translate "Name" %}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>{% translate "Period" %}</th>
                <th>{% translate "Date" %}</th>
                <th>{% translate "Module" %}</th>
                <th>{% translate "Journal Number" %}</th>
                <th>{% translate "Journal Text" %}</th>
                <th>{% translate "PO/Invoice Delivery" %}</th>
                <th>{% translate "Customer/Supplier" %}</th>
                <th class="text-right">{% translate "Quantity" %}</th>
                <th class="text-right">{% translate "Value" %}</th>
                <th class="text-right">{% translate "Balance" %}</th>
            </tr>
        </thead>
        <tbody>
            {% if inventories|length > 0 %}
                {% for inventory in inventories %}
                    <tr class="journal-account-row">
                        <td colspan="1">
                            <strong>
                            <span id="inventory_breakdown_{{ inventory.id }}" class="ledger inventory-item"
                               data-inventory-id="{{ inventory.id }}"
                               data-ajax-url="{% url 'inventory_ledger_breakdown' inventory.id %}"
                            >{{ inventory }}</span>
                            </strong>
                        </td>
                        <td colspan="2"><strong>{{ inventory.description }}</strong></td>
                        <td class="date"></td>
                        <td colspan="6"></td>
                    </tr>
                    <tr class="journal-account-row">
                        <td colspan="6"></td>
                        <td class="text-right"><strong>Incoming Balance</strong></td>
                        <td class="text-right">{{ inventory.opening_quantity|money }}</td>
                        <td class="text-right">{{ inventory.opening_price|money }}</td>
                        <td class="text-right">{{ inventory.opening_value|money }}</td>
                    </tr>
                    {% for ledger_line in inventory.ledgers.all %}
                            <tr class="ledger-line line-row {% if ledger_line.line.is_pending %} draft {% endif %}"
                            id="row_{{ ledger_line.line.id }}"
                        >
                            <td>{{ ledger_line.period }}</td>
                            <td>{{ ledger_line.date|date:'d-M Y' }}</td>
                            <td>{{ ledger_line.module }}</td>
                            <td>
                                {% if ledger_line.journal %}
                                     <a href="{% url 'journal_lines' ledger_line.journal_id %}">{{ ledger_line.journal }}</a>
                                {% endif %}
                            </td>
                            <td>{{ ledger_line.text }}</td>
                            <td>
                                {{ ledger_line.object_reference }}
                            </td>
                            <td>
                                {{ ledger_line.object_owner }}
                            </td>
                            <td class="text-right">{{ ledger_line.quantity|money }}</td>
                            <td class="text-right">
                                {% if ledger_line.is_completed %}
                                   {{ ledger_line.value|money }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if ledger_line.is_completed %}
                                    {{ ledger_line.line_total|money }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="display: none;" id="breakdown_row_{{ inventory.id }}">
                        <td colspan="10">
                            <div id="inventory_breakdown_{{ inventory.id }}" class="breakdown"></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2"></td>
                        <td class="text-right">{{ inventory.closing_quantity|quantity }}</td>
                        <td class="text-right">{{ inventory.closing_price|money }}</td>
                        <td class="text-right">{{ inventory.closing_value|money }}</td>
                    </tr>
                    <tr>
                        <td colspan="16"><hr /></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="18">{% translate "Inventory ledger not available" %}</td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>