{% extends 'base.html' %}
{% block page_title %} Non Banking Date {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
         <a href="{% url 'create-nonbankingdays' %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> Create a new non banking day
         </a>
      </div>
  </div>
  <div class="panel-body align-center">
     <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if nonbankingdays %}
                    {% for nonbankingday in nonbankingdays %}
                            <tr>
                                <td>{{ nonbankingday.name }}</td>
                                <td>{{ nonbankingday.day }}</td>
                                <td>{{ nonbankingday.day }}</td>
                                <td class="text-left actions">
                                    <a href="{% url 'edit-nonbankingdays' nonbankingday.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'delete-nonbankingdays' nonbankingday.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">There are no Non banking days available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
     </div>
  </div>
</div>
{% endblock %}