{% load widget_tweaks %}
<div class="panel panel-primary">
  <div class="panel-heading clear-fix">
      <div class="pull-right">
         <a href="{% url 'create_sales_vat_code' %}" class="btn btn-primary">
            <i class="fa fa-plus-o"></i> Create
         </a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Label</th>
                    <th>Percentage</th>
                    <th>Account</th>
                    <th>Default</th>
                    <th>Capital</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for vat_code in vat_codes %}
                    <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_vatcode' vat_code.id %}">
                       <td>{{ vat_code.code }}</td>
                       <td>{{ vat_code.label }}</td>
                       <td>{{ vat_code.percentage }}%</td>
                       <td>{{ vat_code.account }}</td>
                        <td>
                            {% if vat_code.is_default %}
                                <span class="text-success fa fa-check"></span>
                            {% else %}
                                <span class="text-danger fa fa-close"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if vat_code.is_capital %}
                                <span class="text-success fa fa-check"></span>
                            {% else %}
                                <span class="text-danger fa fa-close"></span>
                            {% endif %}
                        </td>
                       <td class="text-left actions">
                            <a href="{% url 'edit_vatcode' vat_code.id %}" data-toggle="tooltip" title=""  data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'delete_vatcode' vat_code.id %}" onclick="confirm('Are you sure you want to delete this vat code')" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                       </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">There are no vat codes available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>