{% extends 'email.html' %}
{% load static invoice_tags %}
{% block page_title %} Customer Statement - {{ customer }} {% endblock page_title %}
{% block content %}

<h3 style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 14px; font-weight: bold; margin-top: 0; text-align: left;">Dear {{ name }}</h3>
<p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Thank you for using the Docuflow.co.za website!. This is an email statement.</p>
<div class="table" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; font-size: 12px; line-height: 1.2em; ">
    <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
      <!-- Body content -->
      <tr>
        <td class="content-cell">
          <div class="f-fallback">
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
              <tr>
                <td align="center">
                  <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 30px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                    <tr>
                      <td align="center" style="border-bottom: 1px solid #edeff2;font-size: 12px; line-height: 1.2em; font-weight: bold;">
                        <a href="{{ action_url }}" target="_blank">View Statement</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table class="table table-bordered" width="100%" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
              <tr>
                <td colspan="2">
                    <table id="invoices" class="table table-bordered" width="100%" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 30px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                        <tr>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">120+ Days</td>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">90 Days</td>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">60 Days</td>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">30 Days</td>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Current</td>
                        </tr>
                        <tr>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">R&nbsp;{{ one_twenty_days_total|money }}</td>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">R&nbsp;{{ ninety_days_total|money }}</td>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">R&nbsp;{{ sixty_days_total|money }}</td>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">R&nbsp;{{ thirty_days_total|money }}</td>
                            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">R&nbsp;{{ current_total|money }}</td>
                        </tr>
                    </table>
                </td>
              </tr>
            </table>
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">If you have any questions about this invoice, simply reply to this email or reach out to our <a href="{{support_url}}">support team</a> for help.</p>
            <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Cheers,
              <br>The Docuflow Team
            </p>
            <!-- Sub copy -->
            <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #FFFFFF; border: 2px dashed #9BA2AB; margin: 0; margin-bottom: 25px; margin-top: 25px; padding: 24px; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
              <tr>
                <td>
                  <p class="f-fallback sub">If you’re having trouble with the button above, copy and paste the URL below into your web browser.</p>
                  <p class="f-fallback sub">{{action_url}}</p>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
</div>
{% endblock %}

