{% load static i18n %}
<table class="table table-bordered purchase_content" width="100%">
    <tr>
        <td colspan="2"><strong class="h4">{% translate "Statement" %}</strong></td>
    </tr>
    <tr>
        <td>{% translate "Date" %}</td>
        <td>{{ statement_date|date:'d-M-Y' }}</td>
    </tr>
    <tr>
        <td>{% translate "Page" %}</td>
        <td>1</td>
    </tr>
    <tr>
        <td>{% translate "Account Number" %}</td>
        <td>{{ customer.number }}</td>
    </tr>
    <tr>
        <td>{% translate "Vat Number" %}</td>
        <td>{{ customer.vat_number }}</td>
    </tr>
</table>