{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Customer Statements - {{ year }}{% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<form class="form ledger-form" id="generate_report" action="{% url 'generate_customer_statements' %}"
  data-ajax-url="{% url 'generate_customer_statements' %}">
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary btn-sm submit-action" data-url="{% url 'show_statements' view_type='show' %}" id="screen"  data-ajax-url="{% url 'screen_customer_statements' %}"><i class="fa fa-camera"></i> Screen</button>
            <button type="button" class="btn btn-primary btn-sm submit-action" data-url="{% url 'show_statements' view_type='print'  %}" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
            <button type="button" class="btn btn-primary btn-sm ajax-action" data-ajax-url="{% url 'email_customer_statements' %}" id="email" data-toggle="tooltip"><i class="fa fa-envelope"></i> Email</button>
            <button type="button" class="btn btn-primary btn-sm ajax-action" data-ajax-url="{% url 'generate_pdfs' %}" id="pdf" data-toggle="tooltip"><i class="fa fa-file-pdf-o"></i> Pdf</button>
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group control-group">
                                <label for="layout">Layout</label>
                                <div class="controls">
                                    <select name="layout" id="layout"
                                            class="form-control accounts chosen-select"
                                            tabindex="1">
                                        <option value="default">Default</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.from_customer.errors %}error{% endif %}">
                                {{ form.from_customer.label_tag }}
                                <div class="controls">
                                    {% render_field form.from_customer class="form-control chosen-select" tabindex="2" %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.to_customer.errors %}error{% endif %}">
                                {{ form.to_customer.label_tag }}
                                <div class="controls">
                                    {% render_field form.to_customer class="form-control chosen-select" tabindex="3" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.from_period.errors %}error{% endif %}">
                                {{ form.from_period.label_tag }}
                                <div class="controls">
                                    {% render_field form.from_period class="form-control chosen-select" tabindex="4" %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.to_period.errors %}error{% endif %}">
                                {{ form.to_period.label_tag }}
                                <div class="controls">
                                    {% render_field form.to_period class="form-control chosen-select" tabindex="5" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default height">
                        <div class="panel-heading">Options</div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="row">
                                <div class="col-6">
                                    <label>Movement and Outstanding balance</label>
                                    <div class="controls">
                                        <input type="checkbox" id="movement_and_outstanding_balance"
                                               name="movement_and_outstanding_balance" value="1" checked="checked" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label>Customers with emails</label>
                                    <div class="controls">
                                        <input type="radio" id="customer_with_emails" name="customer_emails"
                                               value="with" checked="checked" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>Movement and No Outstanding balance</label>
                                    <div class="controls">
                                        <input type="checkbox" id="movement_and_no_outstanding_balance"
                                               name="movement_and_no_outstanding_balance" value="1" />
                                    </div>
                                </div>
                                <div class="col-6">
                                     <label>Customers without emails</label>
                                    <div class="controls">
                                        <input type="radio" id="customer_without_emails" name="customer_emails"
                                               value="without" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>Only Outstanding balance</label>
                                    <div class="controls">
                                        <input type="checkbox" id="only_outstanding_balance" name="only_outstanding_balance"
                                               value="1" />
                                    </div>
                                </div>
                                 <div class="col-6">
                                    <label>All</label>
                                    <div class="controls">
                                        <input type="radio" id="all_customer" name="customer_emails"
                                               value="all" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label>Dormant for period</label>
                                    <div class="controls">
                                        <input type="checkbox" id="dormant_for_period" name="dormant_for_period"
                                               value="1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="button" id="display_screen" class="btn btn-primary generate"
                                data-action="screen" tabindex="18"
                            >Generate</button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary"
                                data-action="cancel" tabindex="21"
                            >Cancel</button>
                        </div>
                    </div>
                </div>

        </div>
        <div class="col-lg-12 col-xs-12 data-container" id="customer_ledger">
        </div>
    </div>
</div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/ledger.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}