{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags vat%}

<table class="table" cellspacing="10" cellpadding="2">
    <tr>
        <td class="">
            {% display_logo customer.company 200 75 %}
        </td>
        <td class="" style="padding-left: 10px;">
          {% include "statement/header.html" %}
        </td>
    </tr>
</table>
<div class="row invoice-row" id="postal-address">
    <div class="col-xs-12 col-md-12 col-lg-12 text-left">
        <div class="panel panel-default height invoice-col">
            <div class="panel-body" style="padding: 5px;">
                {% with customer=customer %}
                    {% include "customer/customer.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body sales-items">
                <div class="table-responsive">
                   <table width="100%" class="table table-bordered purchase_content">
                        <tr class="item-titles">
                            <th>Date</th>
                            <th>Reference</th>
                            <th>Your Ref. Number</th>
                            <th>Description</th>
                            <th class="text-right">Debit</th>
                            <th class="text-right">Credit</th>
                            <th class="text-right">Balance</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right strong">Opening Balance</td>
                            <td class="text-right">{{ statement.opening_movement|money }}</td>
                            <td class="text-right"></td>
                            <td class="text-right">{{ statement.closing_movement|money }}</td>
                        </tr>
                        {% for ledger, line in statement.first_page_lines.items %}
                            <tr class="line-items">
                                <td>{{ ledger.date }}</td>
                                <td>
                                    {% if is_public %}
                                        <a href="{{ line.link_url }}">{{ ledger.text }}</a>
                                    {% else %}
                                        {{ ledger.text }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ledger.journal_number %}
                                        {{ ledger.journal_number }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ ledger.document_type }}
                                </td>
                                <td class="text-right">
                                    {% if ledger.debit > 0 %}
                                        {{ ledger.debit|money }}
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    {% if ledger.credit > 0 %}
                                        {{ ledger.credit|money }}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ line.balance|money }}</td>
                            </tr>
                        {% empty %}
                            <tr class="line-items">
                                <td colspan="6">No invoices found</td>
                            </tr>
                        {% endfor %}
                        {% if not statement.other_pages %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"></td>
                                <td class="text-right">{{ statement.debit|money }}</td>
                                <td class="text-right">{{ statement.credit|money  }}</td>
                                <td class="text-right">{{ statement.balance|money }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% if statement.other_pages %}
    <div class="table-responsive">
       <table width="100%" class="table table-bordered purchase_content">
            <tr class="item-titles">
                <th class="po-brdr-r po-pad-left">Date</th>
                <th class="po-brdr-r po-pad-left">Reference</th>
                <th class="po-brdr-r po-pad-right text-right">Description</th>
                <th class="po-brdr-r po-right-align text-right">Debit</th>
                <th class="po-brdr-r po-pad-left text-right">Credit</th>
                <th class="po-brdr-r po-pad-left text-right">Balance</th>
            </tr>
            {% for ledger, line in statement.other_pages.items %}
                <tr class="line-items">
                    <td>
                        {{ ledger.date }}
                    </td>
                    <td>
                        {% if is_public %}
                            <a href="{{ line.link_url }}">{{ ledger.text }}</a>
                        {% else %}
                            {{ ledger.text }}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if ledger.content_type.name == 'invoice' %}
                            {{ ledger.linked_object.invoice_type }}
                        {% else  %}
                            Receipt
                        {% endif  %}
                    </td>
                    <td class="text-right">
                        {% if ledger.debit > 0 %}
                            {{ ledger.debit|money }}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if ledger.credit > 0 %}
                            {{ ledger.credit|money }}
                        {% endif %}
                    </td>
                    <td class="text-right">{{ line.balance|money }}</td>
                </tr>
            {% empty %}
                <tr class="line-items">
                    <td colspan="5">No invoices found</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td class="text-right"></td>
                <td class="text-right">{{ statement.debit|money }}</td>
                <td class="text-right">{{ statement.credit|money  }}</td>
                <td class="text-right">{{ statement.balance|money }}</td>
            </tr>
        </table>
    </div>

{% endif %}
<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <table width="100%" class="table table-bordered purchase_content">
            <tr>
                <td class="po-total">120+ Days</td>
                <td class="po-total">90 Days</td>
                <td class="po-total">60 Days</td>
                <td class="po-total">30 Days</td>
                <td class="po-total">Current</td>
            </tr>
            <tr>
                <td class="po-total text-right" >R&nbsp;{{ one_twenty_days_total|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ ninety_days_total|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ sixty_days_total|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ thirty_days_total|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ current_total|money }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row invoice-row" id="banking-details">
    <div class="col-xs-12 col-md-12 col-lg-12 text-left">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">Banking Details</div>
            <div class="panel-body" style="padding: 5px;">
                <div class="row invoice-row">
                    <div class="col-xs-6 col-md-6 col-lg-6 text-left">

                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-6 text-right">
                        <em>Kindly quote your ACCOUNT NUMBER when making payment</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>