{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags vat%}

<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <table width="100%" class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Number</th>
                    <th>Email</th>
                    <th class="text-right">Balance</th>
                    <th>
                        <input class="checkbox-input" type="checkbox" id="ledger_all" value="all" />
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td class="text-left">{{ customer.name }}</td>
                        <td class="text-left">{{ customer.number }}</td>
                        <td class="text-left">{{ customer.email }}</td>
                        <td class="po-total">
                            <a href="{% url 'generate_customer_statement' customer_id=customer.id %}?to_period={{ to_period }}&from_period={{ from_period }}">{{ customer.balance|money }}</a>
                        </td>
                        <td>
                            <input class="checkbox-input ledger-line single-action" type="checkbox" name="customer[{{ ledger.customer.email }}]" value="{{ customer.id }}" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
