{% extends 'base.html' %}   
{% load static i18n %}
{% block page_title %} {% translate "Customer Statement" %} - {{ customer }} {% endblock page_title %}
{% block content %}
<style type="text/css">

</style>
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <a href="{{ print_url }}" type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</a>
            <button type="button" class="btn btn-primary btn-sm action" data-customer-id="{{ customer.id }}" id="email" data-ajax-url="{{ email_url }}" data-toggle="tooltip"><i class="fa fa-envelope"></i> {% translate "Email" %}</button>
            <a href="{{ pdf_url }}" type="button" class="btn btn-primary btn-sm" id="download_pdf" data-toggle="tooltip"><i class="fa fa-file-pdf-o"></i> {% translate "Pdf" %}</a>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            {% include 'statement/template.html' %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/customer.js' %}?{% now 'Ymhis' %}"></script>
{% endblock %}

