{% load static i18n %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags vat%}
<div class="row">
    <div class="col-xs-8 col-md-8 col-lg-8 text-left">
         {% if is_print %}
            {% display_logo customer.company 200 75 is_print=is_print %}
         {% else %}
            {% display_logo customer.company 200 75 %}
         {% endif %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-right">
        {% include "statement/header.html" %}
    </div>
</div>
<div class="row invoice-row" id="postal-address">
    <div class="col-xs-12 col-md-12 col-lg-12 text-left">
        <div class="panel panel-default height invoice-col">
            <div class="panel-body" style="padding: 5px;">
                {% with customer=customer %}
                    {% include "customer/customer.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body sales-items">
                <div class="table-responsive">
                   <table width="100%" class="table table-bordered purchase_content">
                        <tr class="item-titles">
                            <th>{% translate "Date" %}</th>
                            <th>{% translate "Reference" %}</th>
                            <th>{% translate "Your Ref. Number" %}</th>
                            <th>{% translate "Description" %}</th>
                            <th class="text-right">{% translate "Debit" %}</th>
                            <th class="text-right">{% translate "Credit" %}</th>
                            <th class="text-right">{% translate "Balance" %}</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="strong">{% translate "Opening Balance" %}</td>
                            <td class="text-right">{{ statement.opening_movement|money }}</td>
                            <td class="text-right"></td>
                            <td class="text-right">{{ statement.closing_movement|money }}</td>
                        </tr>
                        {% for ledger, line in statement.lines.items %}
                            <tr class="line-items">
                                <td>{{ ledger.date }}</td>
                                <td>
                                    {% if is_public %}
                                        <a href="{{ line.link_url }}">{{ ledger.text }}</a>
                                    {% else %}
                                        {{ ledger.text }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ledger.journal_number %}
                                        {{ ledger.journal_number }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ ledger.document_type }}
                                </td>
                                <td class="text-right">
                                    {% if ledger.debit > 0 %}
                                        {{ ledger.debit|money }}
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    {% if ledger.credit > 0 %}
                                        {{ ledger.credit|money }}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ line.balance|money }}</td>
                            </tr>
                        {% empty %}
                            <tr class="line-items">
                                <td colspan="6">{% translate "No invoices found" %}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td class="text-right">{{ statement.debit|money }}</td>
                            <td class="text-right">{{ statement.credit|money  }}</td>
                            <td class="text-right">{{ statement.balance|money }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <table width="100%" class="table table-bordered purchase_content">
            <tr>
                <td class="po-total">120+ {% translate "Days" %}</td>
                <td class="po-total">90 {% translate "Days" %}</td>
                <td class="po-total">60 {% translate "Days" %}</td>
                <td class="po-total">30 {% translate "Days" %}</td>
                <td class="po-total">{% translate "Current" %}</td>
            </tr>
            <tr>
                <td class="po-total text-right" >R&nbsp;{{ one_twenty_days_total|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ ninety_days_total|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ sixty_days_total|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ thirty_days_total|money }}</td>
                <td class="po-total text-right" >R&nbsp;{{ current_total|money }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row invoice-row" id="banking-details">
    <div class="col-xs-12 col-md-12 col-lg-12 text-left">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">{% translate "Banking Details" %}</div>
            <div class="panel-body" style="padding: 5px;">
                <div class="row invoice-row">
                    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
                        {% with bank=account_details %}
                            {% include "sales/bank.html" %}
                        {% endwith %}
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-6 text-right">
                        <em>{% translate "Kindly quote your ACCOUNT NUMBER when making payment" %}</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>