{% extends 'public.html' %}
{% load static %}
{% block content %}
    <style type="text/css">
        body {
            font-size: 11px !important;
        }
    </style>
<div class="card">
    <div class="card-header clear-fix">
        <div class="pull-left">Customer Statement - {{ customer }}</div>
        <div class="pull-right">
            <a href="{{ print_url }}" type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
            <a href="{{ pdf_url }}" type="button" class="btn btn-info btn-sm" id="download_pdf" data-toggle="tooltip"><i class="fa fa-file-pdf-o"></i> Pdf</a>
        </div>
    </div>
    <div class="card-body">
        {% include 'statement/template.html' %}
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/customer.js' %}"></script>
{% endblock %}

