{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Copy Estimate {{ estimate }}{% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="estimate_form"
  action="{% url 'create_estimate_copy' estimate_id=estimate.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading ">&nbsp;
            <div class="pull-right">
                <a href="{% url 'estimates_index' %}" class="btn btn-warning">Cancel</a>
                <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_copy"
                    id="submit_estimate_copy"
                    data-action="continue"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate_and_print"
                    id="submit_estimate_and_print"
                    data-action="print"><i class="fa fa-print"></i> Save and Print</button>
            </div>
        </div>
        <div class="panel-body align-center">
            <div id="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4 text-left">
                         {% display_logo company 200 75 %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        {% include "sales/address/company.html" %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 text-right">
                        <table class="table table-borderless table-condensed">
                            <tr>
                                <td colspan="2"><strong class="h4">ESTIMATE</strong></td>
                            </tr>
                            <tr>
                                <td>Vat Registration Number</td>
                                <td>{{ company.vat_number }}</td>
                            </tr>
                            <tr>
                                <td>Document Number</td>
                                <td>#</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" id="customer-data">
                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Customer</div>
                        <div class="panel-body" style="padding: 5px;">
                            {% with sales_invoice=estimate %}
                                {% include "sales/address/postal.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Delivery To</div>
                        <div class="panel-body" style="padding: 5px;" id="shipping_to">
                            {% with sales_invoice=estimate %}
                                {% include "sales/address/delivery.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body" id="invoice_meta" style="padding: 5px;">
                            {% include "estimates/estimate.html" %}
                            <table class="table" width="100%">
                                <tr class="{% if form.period.errors %}error{% endif %}">
                                    <td>
                                        {{ form.period.label_tag }}
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            {% render_field form.period class="form-control form-control-sm" %}
                                            {% if form.period.auto_id  != "id_tos" %}
                                                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="{% if form.date.errors %}error{% endif %}">
                                    <td>
                                        {{ form.date.label_tag }}
                                    </td>
                                    <td>
                                          <div class="col-md-12">
                                            {% render_field form.date class="form-control form-control-sm future_datepicker" %}
                                            {% if form.date.auto_id  != "id_tos" %}
                                                {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr class="{% if form.expires_at.errors %}error{% endif %}">
                                    <td>
                                        {{ form.expires_at.label_tag }}
                                    </td>
                                    <td>
                                        <div class="col-md-12">
                                            {% render_field form.expires_at class="form-control form-control-sm future_datepicker" %}
                                            {% if form.expires_at.auto_id  != "id_tos" %}
                                                {% if form.expires_at.errors %}<span class="help-inline">{{ form.expires_at.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body">
                            <table class="table" width="100%">
                                <thead>
                                    <tr class="item-titles">
                                        <th>Type</th>
                                        <th>Code/Description</th>
                                        <th class="text-right">Stock</th>
                                        <th class="text-right">Quantity</th>
                                        <th>Unit</th>
                                        <th class="text-right">Price</th>
                                        <th class="text-right">Price Inc</th>
                                        <th class="text-right">Disc(%)</th>
                                        <th class="text-right">Discount Amount</th>
                                        <th class="text-right">Net Price</th>
                                        <th class="text-right">Vat</th>
                                         <th class="text-right">Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="estimate_items_body" data-ajax-url="{% url 'estimate_copy_items' estimate_id=estimate.id %}">
                                    <tr id="estimate_items_placeholder">
                                        <td colspan="16">
                                            <img src="{% static 'images/loader.gif' %}">
                                        </td>
                                    </tr>
                                    <tr id="actions">
                                        <td class="text-right" colspan="16">
                                            <button type="button" id="add_estimate_line" class="btn btn-primary"
                                                    data-ajax-url="{% url 'add_estimate_copy_items' %}?is_new=1"
                                            >Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="po-total" colspan="14">SUB TOTAL</td>
                                        <td class="po-total" >&nbsp;
                                            <span id="sub_total"></span>
                                            {% render_field form.sub_total %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="po-total" colspan="14">LINE DISCOUNTS</td>
                                        <td class="po-total" >&nbsp;
                                            <span id="total_discount"></span>
                                            {% render_field form.line_discount %}
                                        </td>
                                    </tr>
                                    <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                        <td class="po-total" colspan="14">CUSTOMER DISCOUNTS</td>
                                        <td class="po-total" >&nbsp;
                                            <span id="customer_invoice_discounts"></span>
                                            {% render_field form.customer_discount %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="po-total" colspan="14">NETT TOTAL</td>
                                        <td class="po-total" >&nbsp;
                                            <span id="net_total"></span>
                                            {% render_field form.net_amount %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="po-total" colspan="14">VAT</td>
                                        <td class="po-total" >&nbsp;
                                            <span id="total_vat_amount"></span>
                                            {% render_field form.vat_amount %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="po-total" colspan="14">TOTAL ESTIMATE VALUE</td>
                                        <td class="po-total" >&nbsp;
                                            <span id="total_order_value"></span>
                                            {% render_field form.total_amount %}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div>
                        <table class="table table-bordered" width="100%">
                            <tr>
                                <td class="po-total">Gross Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total">Net Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total">Total Items</td>
                                <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total">Total Items sent for picking</td>
                                <td class="po-total" >&nbsp;<span id="total_send_for_picking"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total">Total items on back order</td>
                                <td class="po-total" >&nbsp;<span id="total_on_back_order"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="customer-discount-calculation" style="display: none;" id="calculation_summary">
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                            <thead>
                                <tr>
                                    <th>Vat Recon</th>
                                    <th class="text-right">Excl</th>
                                    <th class="text-right">Vat</th>
                                </tr>
                            </thead>
                            <tbody id="summary_body">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                    <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div class="controls text-right">
                <input type="hidden" id="default_vat" value="{{ default_vat }}">
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap-timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/estimate.js' %}"></script>
{% endblock %}