{% load invoice_tags %}
<tr id="sales_item_{{ row_id }}" class="sales-items estimate_item_row" data-row-id="{{ row_id }}">
    <td>
        <select class="form-control form-control-sm chosen-select line-type" name="type_{{ row_id }}" data-row-id="{{ row_id }}"
               id="type_{{ row_id }}" data-ajax-url="{% url 'add_estimate_copy_items' %}">
            <option value="i" {% if line_type == 'i' %} selected="selected" {% endif %}>I</option>
            <option value="t" {% if line_type == 't' %} selected="selected" {% endif %}>T</option>
        </select>
    </td>
    <td>
        <select class="form-control select2" name="inventory_item_{{ row_id }}"
               id="inventory_item_{{ row_id }}" data-ajax-url="{% url 'inventory_item_search_list' %}"
                data-ajax-inventory-url="{% url 'fetch_inventory_item' %}"
        >
             <option value="">--</option>
        </select>
        <input type="hidden" class="form-control form-control-sm description" value=""
               name="description_{{ row_id }}"
               id="description_{{ row_id }}"
               data-item-id="{{ row_id }}"
               placeholder="Description"
        >
        <input type="hidden" class="allow-negative" value=""
               name="allow_negative_stock_{{ row_id }}"
               id="allow_negative_stock_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-right">
        <span class="available-stock" id="available_in_stock_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" class="form-control form-control-sm in-stock" value=""
               name="in_stock_{{ row_id }}"
               id="in_stock_{{ row_id }}"
               data-item-id="{{ row_id }}"
               placeholder=""
        >
    </td>
    <td class="text-right">
        <input type="text" class="form-control form-control-sm quantity" value=""
               name="quantity_{{ row_id }}"
               id="quantity_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td>
        <input type="text" class="form-control form-control-sm" readonly="readonly" value=""
               name="unit_{{ row_id }}"
               id="unit_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
        <input type="hidden" class="form-control form-control-sm unit"
               name="unit_id_{{ row_id }}"
               id="unit_id_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
        <input type="hidden" class="net-weight"
               id="net_weight_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
        <input type="hidden" class="gross-weight"
               id="gross_weight_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
    </td>
    <td class="text-right">
        <input type="text" class="form-control form-control-sm price"
               name="price_{{ row_id }}"
               id="price_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
    </td>
    <td class="text-right">
        <span id="price_incl_{{ row_id }}"></span>
        <input type="hidden" class="form-control form-control-sm price-including"
               name="price_including_{{ row_id }}"
               id="price_including_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
    </td>
    <td>
        <input type="text" class="form-control form-control-sm discount" value=""
               name="discount_percentage_{{ row_id }}"
               id="discount_percentage_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-right">
        <span class="discount-amount" id="discount_amount_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" class="form-control form-control-sm total-discount" value="" readonly="readonly"
               name="total_discount_{{ row_id }}"
               id="total_discount_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-right">
        <span class="price-exc" id="total_price_exl_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" value="{{ row_id }}"
               name="total_price_excluding_{{ row_id }}"
               id="total_price_excluding_{{ row_id }}"
               class="total-price-excl"
        />
        <input type="hidden" value="{{ row_id }}"
               name="sub_total_{{ row_id }}"
               id="sub_total_{{ row_id }}"
               class="sub-total"
        />
    </td>
    <td>
        <select class="form-control form-control-sm vat"
               name="vat_code_{{ row_id }}"
               id="vat_code_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
            {% for vat_code in vat_codes %}
                <option value="{{ vat_code.id }}"
                        data-percentage="{{ vat_code.percentage }}"
                >{{ vat_code }}</option>
            {% endfor %}
        </select>
            <input type="hidden" value="{{ row_id }}"
               name="vat_percentage_{{ row_id }}"
               id="vat_percentage_{{ row_id }}"
               class="vat-percentage"
        >
        {#<span class="total-vat" id="vat_total_{{ row_id }}" data-item-id="{{ row_id }}"></span>#}
        <input type="hidden" value="{{ row_id }}"
               name="total_vat_{{ row_id }}"
               id="total_vat_{{ row_id }}"
               class="total-vat-amount"
        >
    </td>

    <td class="text-right">
        <span class="price" id="total_price_incl_{{ row_id }}"></span>
        <input type="hidden" value="" name="total_price_including_{{ row_id }}"
               id="total_price_including_{{ row_id }}"
               class="total-price-incl open-input"
        >
    </td>
    <td class="text-center">
        <span class="order-items" id="order_item_{{ row_id }}"></span>
        <a href="javascript:void(0);" data-row-id="{{ row_id }}" class="delete-row" id="delete_{{ row_id }}">
            <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row_id }}"></i>
        </a>
    </td>
</tr>
