{% extends 'modal.html' %}
{% load static %}
{% block title %} Update field values for {{ invoice_field.label }} {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="template_field_values_form" name="template_field_values_form" action="{% url 'update_field_values' field_id=invoice_field.field %}">
      {% csrf_token %}
     <div class="modal-body">
         <textarea class="form-control" id="values" name="values" cols="10" rows="15">{{ invoice_field.values }}</textarea>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="template_field_values_submit" type="submit" id="template_field_values_submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>

{% endblock %}