{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %}Permission  {% endblock page_title %}
{% block content %}
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
          <div class="pull-right">
                <a href="{% url 'create_role' %}" class="btn btn-sm btn-primary" role="button">
                    <i class="fa fa-plus"></i> Create a role
                </a>
                <a href="{% url 'permission_search' %}" class="btn btn-sm btn-default" role="button">
                    <i class="fa fa-paperclip"></i> Prev. Level
                </a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <form method="get" class="pull-right">
                <div class="col-lg-8 col-sm-12">
                    <div class="form-group">
                        <label for="{{ filter.form.label.id_for_label }}">Name:</label>
                        {{ filter.form.label|attr:"class:form-control"  }}
                    </div>
                </div>
                <div class="form-group col-lg-3 col-sm-12">
                    <label>&nbsp;</label><br />
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                    <span id="loader" style="display:none;"><img src="/images/loader-medium.gif" ></span>
                </div>
            </form>
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Supervisor Role</th>
                        <th>Manager Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% if roles %}
                        {% for role in roles %}
                            <tr onclick="openDetail(this)" data-detail-url="{% url 'role_permission_detail' role_id=role.id %}">
                               <td>{{ role.name }}</td>
                               <td>{{ role.label }}</td>
                               <td>
                                    <span class="label label-primary">{{ role.permission_group }}</span>
                               </td>
                               <td>{{ role.supervisor_role }}</td>
                                <td>{{ role.manager_role }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no roles available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}