<nav id="column-left">
 <a id="navigation"><span class="fa fa-bars"></span> Docuflow</a>
    <ul id="menu" class="in sidebar-nav">
        {% for menu_item in menu_items %}
            {% if 'children' in menu_item %}
                <li id="menu-catalog">
                    <a href="#collapse-{{ menu_item.id }}-{{ forloop.counter0 }}" data-toggle="collapse" class="parent" aria-expanded="true"><i class="fa {{ menu_item.icon }} fw"></i>
                        {{ menu_item.label }}
                    </a>
                    <ul id="collapse-{{ menu_item.id }}-{{ forloop.counter0 }}" class="collapse" aria-expanded="true" style="">
                        {% for menu_child in menu_item.children %}
                            {% if 'children' in menu_child %}
                                  <li>
                                    <a href="#collapse-child-{{ menu_child.id }}-{{ forloop.counter0 }}" data-toggle="collapse" class="parent collapsed" aria-expanded="true">
                                        {{ menu_child.label }}
                                    </a>
                                    <ul id="collapse-child-{{ menu_child.id }}-{{ forloop.counter0 }}" class="collapse">
                                       {% for child in menu_child.children %}
                                           <li>
                                              <a href="{{ child.url  }}">
                                                {{ child.label }}
                                              </a>
                                           </li>
                                       {% endfor %}
                                     </ul>
                                  </li>
                            {% else %}
                              <li>
                                <a href="{{ menu_child.url }}"> {{ menu_child.label }}</a>
                              </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% elif menu_item %}
              <li>
                  <a href="{{ menu_item.url }}">
                      <i class="fa {{ menu_item.icon }} fw"></i>{{ menu_item.label }}
                  </a>
              </li>
            {% endif %}
        {% endfor %}
    </ul>
        <div id="stats" class="sidebar-nav">
            <ul>
                <li>
                    <div>Invoices Completed <span class="pull-right">0%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span class="sr-only">0%</span></div>
                    </div>
                </li>
                <li>
                    <div>Invoices Processing <span class="pull-right">0%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span class="sr-only">0%</span></div>
                    </div>
                </li>
                <li>
                    <div>Other Statuses <span class="pull-right">0%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"><span class="sr-only">0%</span></div>
                    </div>
                </li>
            </ul>
        </div>
</nav>