{% extends 'base.html' %}
{% block page_title %} Role permissions {% endblock page_title %}
{% block content %}
    {{ left_list }}
    {{ right_list }}
<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
        <h3>Permissions for role: New Roles</h3>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h4>
                Available permissions
            </h4>
                <hr>
                <div class="well">
                    <form name="left_list" method="post" action="" class="">
                        {% csrf_token %}
                        <div class="form-group ">
                            <select multiple="multiple" class="choice_form form-control" id="id_left_list-selection" name="left_list-selection" size="14" required="">
                                {% for namespace, permissions in left_list %}
                                   <option value="{{ namespace }}">{{ namespace.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" name="left_list-submit" type="submit"><i
                                    class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h4>
                Granted permissions
            </h4>
                <hr>
                <div class="well">
                    <form name="right_list" method="post" action="" class="">
                        {% csrf_token %}
                        <div class="form-group ">
                            <select multiple="multiple" class="choice_form form-control" id="id_right_list-selection" name="right_list-selection" size="14" required="">
                                {% for namespace, permissions in right_list %}
                                   <option value="{{ namespace }}">{{ namespace.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" name="right_list-submit" type="submit"><i
                                    class="fa fa-minus"></i> Remove
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}