<ul class="list-unstyled nav">
    {% for profile_role in profile_roles %}
        <li>
            {% if request.session.role == profile_role.role.id %}
                <a class="profile-role" href="javascript:void(0);" data-ajax-url="{% url 'change_role' profile_role.role.id %}?next={{request.path}}">{{ profile_role.role.label }}ddddd</a>
            {% else %}
                <a class="profile-role" href="javascript:void(0);" data-ajax-url="{% url 'change_role' profile_role.role.id %}?next={{request.path}}">{{ profile_role.role.label }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>