{% extends 'base.html' %}
{% block page_title %} Create Role Permissions {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}

    <div class="txt-center row">
         <button class="btn btn-color btn-large" type="submit" tabindex="11">Create!</button>
    </div>

  </form>
{% endblock %}