{% extends 'base.html' %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load company_tags invoice_tags sales_tags %}
{% block page_title %}Create a Delivery{{ invoice_type }} {% endblock page_title %}
{% block stylesheet %}{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="delivery_form"
  action="{% url 'create_sales_delivery' %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
            <a href="{% url 'sales_delivery_index' %}" class="btn btn-warning">Cancel</a>
            <button type="button" class="btn btn-primary btn-large save-delivery" name="submit_delivery_and_continue"
                    id="submit_delivery_and_continue"
                    data-action="continue"><i class="fa fa-save"></i> Save</button>
            <button type="button" class="btn btn-primary btn-large save-delivery" name="submit_delivery_and_print"
                    id="submit_delivery_and_print"
                    data-action="print"><i class="fa fa-print"></i>Print</button>
          </div>
      </div>
      <div class="panel-body align-center">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                         <div class="controls">
                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                            {% if form.branch.auto_id  != "id_tos" %}
                            {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-8"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    {% display_logo company 200 75 %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    {% include "sales/address/company.html" %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <table class="table table-borderless table-condensed">
                        <tr>
                            <td><strong class="h4">DELIVERY NOTE</strong></td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>Vat Registration Number</td>
                            <td>{{ company.vat_number }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="customer-data">
                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">
                            <div class="pull-left">Customer</div>
                            <div class="pull-right">
                                <a href="{% url 'create_customer' %}?redirect={% url 'create_sales_delivery' %}"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="form-group">
                                {% render_field form.customer class="form-control form-control-sm chosen-select" tabindex='1'  %}
                                {% if form.customer.auto_id  != "id_tos" %}
                                    {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                {% endif %}
                                <input type="hidden" id="line_discount">
                                <input type="hidden" id="invoice_discount">
                                <div id="customer_full_name"></div>
                            </div>
                            <div id="postal_customer_form" style="display: none">
                                <div class="form-group">
                                    {% render_field form.customer_name class="form-control form-control-sm" tabindex='2' placeholder='Customer Name'  %}
                                    {% if form.customer_name.auto_id  != "id_tos" %}
                                        {% if form.customer_name.errors %}<span class="help-inline">{{ form.customer_name.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_street class="form-control form-control-sm" tabindex='2' placeholder='Street'  %}
                                    {% if form.postal_street.auto_id  != "id_tos" %}
                                        {% if form.postal_street.errors %}<span class="help-inline">{{ form.postal_street.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_city class="form-control form-control-sm" tabindex='3' placeholder='City'  %}
                                    {% if form.postal_city.auto_id  != "id_tos" %}
                                        {% if form.postal_city.errors %}<span class="help-inline">{{ form.postal_city.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_province class="form-control form-control-sm" tabindex='4'  placeholder='Province' %}
                                    {% if form.postal_province.auto_id  != "id_tos" %}
                                        {% if form.postal_province.errors %}<span class="help-inline">{{ form.postal_province.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_postal_code class="form-control form-control-sm" tabindex='5'  placeholder='Postal Code' %}
                                    {% if form.postal_postal_code.auto_id  != "id_tos" %}
                                        {% if form.postal_postal_code.errors %}<span class="help-inline">{{ form.postal_postal_code.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_country class="form-control form-control-sm" tabindex='6'  placeholder='Country' %}
                                    {% if form.postal_country.auto_id  != "id_tos" %}
                                        {% if form.postal_country.errors %}<span class="help-inline">{{ form.postal_country.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div id="customer_details">
                                <div class="customer">
                                    <span id="postal_street"></span>
                                    <span class="postal" id="postal_city"></span>
                                    <span class="postal" id="postal_province"></span>
                                    <span class="postal" id="postal_country"></span>
                                    <input type="hidden" name="credit_limit" id="credit_limit" value="0">
                                    <span class="font-italic" id="credit_limit_val"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Deliver To:</div>
                        <div class="panel-body" style="padding: 5px;">
                            <div id="delivery_customer_form" class="shipping-to" style="display: none">
                                 <div class="form-group {% if form.delivery_address.errors %}error{% endif %}">
                                    {% render_field form.address_id %}
                                    {% render_field form.delivery_address class="form-control form-control-sm form-control form-control-sm-sm" tabindex='8' %}
                                    {% if form.delivery_address.auto_id  != "id_tos" %}
                                        {% if form.delivery_address.errors %}<span class="help-inline">{{ form.delivery_address.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_street class="form-control form-control-sm" tabindex='9' placeholder='Street'  %}
                                    {% if form.delivery_street.auto_id  != "id_tos" %}
                                        {% if form.delivery_street.errors %}<span class="help-inline">{{ form.delivery_street.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_city class="form-control form-control-sm" tabindex='10' placeholder='City'  %}
                                    {% if form.delivery_city.auto_id  != "id_tos" %}
                                        {% if form.delivery_city.errors %}<span class="help-inline">{{ form.delivery_city.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_province class="form-control form-control-sm" tabindex='11' placeholder='Province'  %}
                                    {% if form.delivery_province.auto_id  != "id_tos" %}
                                        {% if form.delivery_province.errors %}<span class="help-inline">{{ form.delivery_province.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_postal_code class="form-control form-control-sm" tabindex='12' placeholder='Postal Code'  %}
                                    {% if form.delivery_postal_code.auto_id  != "id_tos" %}
                                        {% if form.delivery_postal_code.errors %}<span class="help-inline">{{ form.delivery_postal_code.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_country class="form-control form-control-sm" tabindex='13'  %}
                                    {% if form.delivery_country.auto_id  != "id_tos" %}
                                        {% if form.delivery_country.errors %}<span class="help-inline">{{ form.delivery_country.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body" style="padding: 5px;">
                             <table class="table">
                                 <tr class="{% if form.delivery_method.errors %}error{% endif %}">
                                     <td>{{ form.delivery_method.label_tag }}</td>
                                     <td>
                                        {% render_field form.delivery_method class="form-control form-control-sm" tabindex="18" %}
                                        {% if form.delivery_method.auto_id  != "id_tos" %}
                                            {% if form.delivery_method.errors %}<span class="help-inline">{{ form.delivery_method.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.delivery_method.errors %}error{% endif %}">
                                     <td>{{ form.delivery_term.label_tag }}</td>
                                     <td>
                                        {% render_field form.delivery_term class="form-control form-control-sm" tabindex="19" %}
                                        {% if form.delivery_term.auto_id  != "id_tos" %}
                                            {% if form.delivery_term.errors %}<span class="help-inline">{{ form.delivery_term.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.period.errors %}error{% endif %}">
                                     <td>{{ form.period.label_tag }}</td>
                                     <td>
                                        {% render_field form.period class="form-control form-control-sm" tabindex="20" %}
                                        {% if form.period.auto_id  != "id_tos" %}
                                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.date.errors %}error{% endif %}">
                                     <td>{{ form.date.label_tag }}</td>
                                     <td>
                                        {% render_field form.date class="form-control form-control-sm datepicker" tabindex="21" %}
                                        {% if form.date.auto_id  != "id_tos" %}
                                            {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.delivery_time.errors %}error{% endif %}">
                                     <td>{{ form.delivery_time.label_tag }}</td>
                                     <td>
                                        {% render_field form.delivery_time class="form-control form-control-sm" tabindex="22" %}
                                        {% if form.delivery_time.auto_id  != "id_tos" %}
                                            {% if form.delivery_time.errors %}<span class="help-inline">{{ form.delivery_time.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.purchase_order.errors %}error{% endif %}">
                                     <td>{{ form.purchase_order.label_tag }}</td>
                                     <td>
                                        {% render_field form.purchase_order class="form-control form-control-sm" tabindex="23" %}
                                        {% if form.purchase_order.auto_id  != "id_tos" %}
                                            {% if form.purchase_order.errors %}<span class="help-inline">{{ form.purchase_order.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                             </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body">
                            <div class="table-responsive" id="delivery_items">
                                <table class="table table-bordered" width="100%" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Stock</th>
                                            <th>Quantity</th>
                                            <th>Delivered</th>
                                            <th>Back Order</th>
                                            <th>Unit</th>
                                            <th>Price</th>
                                            <th>Disc(%)</th>
                                            <th>Discount Amount</th>
                                            <th>Net Price</th>
                                            <th>Vat</th>
                                            <th>Vat Amount</th>
                                            <th>Total</th>
                                            <th>Order Item</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="delivery_items_body" data-ajax-url="{% url 'add_delivery_items' %}">
                                        <tr id="delivery_items_placeholder">
                                            <td colspan="17">
                                                <img src="{% static 'images/loader.gif' %}">
                                            </td>
                                        </tr>
                                        <tr id="actions">
                                            <td class="text-right" colspan="17">
                                                <button type="button" id="add_delivery_line" class="btn btn-primary"
                                                        data-ajax-url="{% url 'add_delivery_items' %}"
                                                >Add</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div>
                        <table class="table table-bordered" width="100%">
                            <tr>
                                <td class="po-total" colspan="14">Gross Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Net Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Total Items</td>
                                <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="panel customer-discount-calculation" id="calculation_summary" >
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                          <tr>
                                <td class="po-total" colspan="14">SUB TOTAL</td>
                                <td class="po-total" >&nbsp;
                                    <span id="sub_total"></span>
                                    {% render_field form.sub_total %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">LINE DISCOUNTS</td>
                                <td class="po-total" >&nbsp;
                                    <span id="total_discount"></span>
                                    {% render_field form.line_discount %}
                                </td>
                            </tr>
                            <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                <td class="po-total" colspan="14">CUSTOMER DISCOUNTS</td>
                                <td class="po-total" >&nbsp;
                                    <span id="customer_invoice_discounts"></span>
                                    {% render_field form.customer_discount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">NETT TOTAL</td>
                                <td class="po-total" >&nbsp;
                                    <span id="net_total"></span>
                                    {% render_field form.net_amount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">VAT</td>
                                <td class="po-total" >&nbsp;
                                    <span id="total_vat_amount"></span>
                                     <input type="hidden" id="default_vat" value="{{ default_vat }}">
                                    {% render_field form.vat_amount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">TOTAL DELIVERY VALUE</td>
                                <td class="po-total" >&nbsp;
                                    <span id="total_order_value"></span>
                                    {% render_field form.total_amount %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-12">

                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="panel customer-discount-calculation" id="calculation_summary"  style="display: none;">
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                            <thead>
                                <tr>
                                    <th>Vat Recon</th>
                                    <th class="text-right">Excl</th>
                                    <th class="text-right">Vat</th>
                                </tr>
                            </thead>
                            <tbody id="summary_body">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                    <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row signing-footer">
                <div>Signed by Customer as received</div>
                <div class="text-right writtable" colspan=4"></div>
                <div class="space" colspan="9">&nbsp;</div>
            </div>
            <div class="row signing-footer">
                <div>Print Name:</div>
                <div class="text-right writtable" colspan="4"></div>
                <div class="space" colspan="9">&nbsp;</div>
            </div>
            <div class="row signing-footer">
                <div>Date: </div>
                <div class="text-right writtable" colspan="4"></div>
                <div class="space" colspan="9">&nbsp;</div>
            </div>
            <div class="row signing-footer">
                <div class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</div>
            </div>
      </div>
    </div>
</form>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap-timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/delivery.js' %}??{% now "YmdHis" %}"></script>
    <script>
        $(function(){
            $('.height').matchHeight();
        });
    </script>
{% endblock %}