<table class="table">
    {% if delivery.is_cash %}
        {% if delivery.customer_name %}
            <tr>
                <td class="text-left">{{ delivery.customer_name }}</td>
            </tr>
        {% elif delivery.estimate.customer_name %}
            <tr>
                <td class="text-left">{{ delivery.estimate.customer_name }}</td>
            </tr>
        {% endif %}
        {% if delivery.postal %}
            {% if delivery.postal.address_line_1 %}
            <tr>
                <td class="text-left">{{ delivery.postal.address_line_1 }}</td>
            </tr>
            {% endif %}
            {% if delivery.postal.city %}
            <tr>
                <td class="text-left">{{ delivery.postal.city }}</td>
            </tr>
            {% endif %}
            {% if delivery.postal.province_name %}
            <tr>
                <td class="text-left">{{ delivery.postal.province_name }}</td>
            </tr>
            {% endif %}
            {% if delivery.postal.postal_code %}
                <tr>
                    <td class="text-left">{{ delivery.postal.postal_code }}</td>
                </tr>
            {% endif %}
            {% if delivery.postal.country %}
            <tr>
                <td class="text-left">{{ delivery.postal.country.name }}</td>
            </tr>
            {% endif %}
        {% endif %}
    {% else %}
        <tr>
            <td class="text-left">{{ delivery.customer.number }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ delivery.customer.name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ delivery.customer.postal_address.street }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ delivery.customer.postal_address.postal_code }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ delivery.customer.postal_address.province_name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ delivery.customer.postal_address.country.name }}</td>
        </tr>
    {% endif %}
</table>