<table class="table align-right" style="float: right;">
    {% if delivery.purchase_order %}
        <tr>
            <td>Purchase Order:</td>
            <td class="text-right">{{ delivery.purchase_order }}</td>
        </tr>
    {% endif %}
    {% if delivery.estimate %}
        <tr>
            <td>Estimate:</td>
            <td class="text-right">
                <a href="{% url 'estimate_detail' delivery.estimate.id %}">{{ delivery.estimate }}</a>
            </td>
        </tr>
    {% endif  %}
    {% if delivery.picking_slip %}
        <tr>
            <td>Picking Slip:</td>
            <td class="text-right">
                <a href="{% url 'picking_detail' delivery.picking_slip_id %}">{{ delivery.picking_slip }}</a>
            </td>
        </tr>
        {% if delivery.picking_slip.estimate %}
            <tr>
                <td>Estimate:</td>
                <td class="text-right">
                    <a href="{% url 'estimate_detail' delivery.picking_slip.estimate_id %}">{{ delivery.picking_slip.estimate }}</a>
                </td>
            </tr>
        {% endif  %}
    {% elif delivery.parent %}
        <tr>
            <td>{{ delivery.category_name }}:</td>
            <td class="text-right">
                <a href="{% url 'delivery_detail' delivery.parent.id %}">{{ delivery.parent }}</a>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>{{ delivery.category_name }} Method:</td>
        <td class="text-right">{{ delivery.delivery_method }}</td>
    </tr>
    <tr>
        <td>{{ delivery.category_name }} Term:</td>
        <td class="text-right">{{ delivery.delivery_term }}</td>
    </tr>
    <tr>
        <td>{{ delivery.category_name }} Date & Time:</td>
        <td class="text-right">{{ delivery.date }}&nbsp;{{ delivery.delivery_time }}</td>
    </tr>
    {% if delivery.customer %}
        <tr>
            <td>Customer Phone Number:</td>
            <td class="text-right">{{ delivery.customer.phone_number }}</td>
        </tr>
    {% endif %}
    {% if delivery.salesman %}
        <tr>
            <td>Salesman:</td>
            <td class="text-right">{{ delivery.salesman }}</td>
        </tr>
    {% endif %}
</table>