<table class="table align-right" style="float: left;">
    {% if not delivery.is_cash %}
        <tr>
            <td class="text-left">{{ delivery.customer.delivery.street }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ delivery.customer.delivery_address.postal_code }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ delivery.customer.delivery_address.province_name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ delivery.customer.delivery_address.country.name }}</td>
        </tr>
    {% else %}
        {% if delivery.is_pick_up %}
            <tr>
                <td class="text-left">Pick Up</td>
            </tr>
        {% elif delivery.estimate and delivery.estimate.is_pick_up %}
            <tr>
                <td class="text-left">Pick Up</td>
            </tr>
        {% elif delivery.delivery %}
            {% if delivery.delivery.address_line_1 %}
                <tr>
                    <td class="text-left">{{ delivery.delivery.address_line_1 }}</td>
                </tr>
            {% endif %}
            {% if delivery.delivery.city %}
                <tr>
                    <td class="text-left">{{ delivery.delivery.city }}</td>
                </tr>
            {% endif %}
            {% if delivery.delivery.province_name %}
                <tr>
                    <td class="text-left">{{ delivery.delivery.province_name }}</td>
                </tr>
            {% endif %}
            {% if delivery.delivery.postal_code %}
                <tr>
                    <td class="text-left">{{ delivery.delivery.postal_code }}</td>
                </tr>
            {% endif %}
            {% if delivery.delivery.country %}
                <tr>
                    <td class="text-left">{{ delivery.delivery.country.name }}</td>
                </tr>
            {% endif %}
        {% endif %}
    {% endif %}
</table>