{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load static %}
{% load invoice_tags %}
{% load vat %}
{% block page_title %}Delivery - {{ delivery }}  <span class="pull-right">&nbsp;{{ delivery }}</span>
{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            {% include "deliveries/status.html" %}
        </div>

      <div class="pull-right">
                  <button class="btn btn-info btn-sm" name="delivery_tracking" id="delivery_tracking"
                data-modal="{% url 'delivery_tracking' delivery.id %}"
                data-toggle="tooltip"><i class="fa fa-dedent"></i> Tracking</button>
            &nbsp;&nbsp;|&nbsp;&nbsp;
         {% if delivery.can_manage %}
             {% if delivery.can_invoice %}
                 <button type="button" class="btn btn-primary btn-sm single-action" name="invoice" id="invoice"
                         data-delivery-id="{{ delivery.id }}"
                         data-ajax-url="{% url 'single_delivery_action' action='invoice' %}"
                         data-toggle="tooltip"><i class="fa fa-inbox"></i> Invoice</button>
             {% else %}
                 <button type="button" class="btn btn-primary btn-sm single-action" name="invoice" id="invoice"
                         data-delivery-id="{{ delivery.id }}"
                         data-ajax-url="{% url 'single_delivery_action' action='complete' %}"
                         data-toggle="tooltip"><i class="fa fa-check-circle-o"></i> Complete</button>
             {% endif %}
             <button type="button" class="btn btn-primary btn-sm single-action" name="re_email" id="re_email"
                     data-delivery-id="{{ delivery.id }}"
                     data-ajax-url="{% url 'single_delivery_action' action='email' %}"
                     data-toggle="tooltip"><i class="fa fa-envelope"></i> Email</button>
             <button type="button" class="btn btn-danger btn-sm single-action" name="remove" id="remove"
                     data-delivery-id="{{ delivery.id }}"
                     data-ajax-url="{% url 'single_delivery_action' action='remove'  %}"
                     data-toggle="tooltip"><i class="fa fa-trash"></i> Remove</button>
         {% endif %}
           <a href="{% url 'delivery_detail' delivery.id %}?print=1" type="button" class="btn btn-primary btn-sm print"
           data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
         <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
      </div>
  </div>
  <div class="panel-body align-center" id="delivery_invoice">
        {% include "deliveries/template.html" %}
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/delivery.js' %}?{% now 'YmdHis' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}
