{% extends 'datatable.html' %}
{% load static i18n %}
{% load invoice_tags %}
{% block page_title %}{% translate 'Deliveries not invoiced' %}{% endblock page_title %}
{% block datatable %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">

          </div>
          <div class="pull-right">
             <a class="btn btn-large btn-success" href="{% url 'create_sales_delivery' %}">
                 <i class="fa fa-plus"></i> {% translate 'Create' %}</a>
              &nbsp;&nbsp;|&nbsp;&nbsp;
             <a class="btn btn-large btn-success single-action"
                data-ajax-url="{% url 'single_delivery_action' action='invoice' %}">
                 <i class="fa fa-folder-open"></i> {% translate 'Invoice' %}</a>
             <a class="btn btn-large btn-success bulk-action"
                data-ajax-url="{% url 'remove_delivery_note' %}">
                 <i class="fa fa-trash"></i> {% translate 'Remove' %}</a>
          </div>
      </div>
      <div class="panel-body algin-center">
        <div class="table-responsive">
            <table id="deliveries" class="table table-bordered table-items-list" width="100%">
                <thead>
                    <tr>
                        <th>{% translate 'Delivery Number' %}</th>
                        <th>{% translate 'Customer Name' %}</th>
                        <th>{% translate 'Customer Number' %}</th>
                        <th>{% translate 'Delivery Date' %}</th>
                        <th>{% translate 'Value' %}</th>
                        <th>{% translate 'Action' %}</th>
                        <th>{% translate 'Status' %}</th>
                    </tr>
                </thead>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
        {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#deliveries").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/sales/deliveries/?format=datatables',
              'columns': [
                { data: 'document_number', name: 'delivery_id', searchable: true},
                { data: 'customer', name: 'customer__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    }
                },
                { data: 'customer', name: 'customer__number', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.number : '-';
                    }
                },
                { data: 'date', name: 'date', searchable: true},
                { data: 'total_amount', name: 'total_amount', searchable: true, className: 'text-right'},
                { data: 'status_name', name: 'status', searchable: true},
                { data: 'id', name: 'id', searchable: false, title:'Action', className: 'actions text-center'}
              ],
             "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        return displayDate(data)
                    },
                    "targets": [3]
                },
                {
                    "render": function ( data, type, row ) {
                        if (data) {
                            return accounting.formatMoney(data)
                        } else {
                            return '-'
                        }
                    },
                    "targets": [4]
                },
                {
                    "render": function ( data, type, row ) {
                        if (row['status'] === 'REMOVED') {
                            return "<span class='text-danger'>" + data + "</span> ";
                        } else if (row['status_name'] === 'INVOICED') {
                            return "<span class='text-success'>" + data + "</span> ";
                        } else {
                            return "<span class='text-warning'> "+ data +"</span>";
                        }
                    },
                    "targets": 5
                },
                {
                    "render": function ( data, type, row ) {
                        if (data === 'Deleted') {
                            return "<span class='text-warning'>-</span>";
                        } else {
                            return "<input type='checkbox' class='checkbox-input delivery-action' data-delivery-id='"+ data +"' name='delivery_action_"+ data +"' id='delivery_action_"+ data + "' value='"+ data +"' />";
                        }
                    },
                    "targets": 6
                }
            ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 6, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#deliveries').on('click', 'td', function() {
            const tdClasses =  $(this).prop('class').split(' ')
            if (tdClasses.indexOf('actions') < 0) {
                const tr = $(this).parent();
                const rowData = table.row(tr).data();
                if (rowData.detail_url) {
                    document.location.href = rowData.detail_url + "?redirect={% url 'estimates_index' %}";
                }
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });

    });
    </script>
    <script type="text/javascript" src="{% static 'js/delivery.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}