{% load invoice_tags sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items delivery_item_row" data-row-id="{{ row }}">
    <td>
        {% line_types row start module_url line_type col.col1 False %}
    </td>
    <td>
        {% inventory_cell row start col.col2 %}
    </td>
    <td>
        <span id="inventory_item_description_{{ row }}"></span>
    </td>
    <td>
        <span id="available_in_stock_{{ row }}"></span>
    </td>
    <td>
        {% quantity_cell row start col.col3 %}
    </td>
    <td>
        {% invoiced_cell row start col.col4 %}
    </td>
    <td>
        {% back_order_cell row start col.col5 %}
    </td>
    <td>
        {% unit_cell row start col.col6 %}
    </td>
    <td>
        {% price_cell row start col.col7 %}
    </td>
    <td>
        {% discount_cell row start col.col8 %}
    </td>
    <td>
        <span class="discount-amount" id="discount_amount_{{ row }}" data-item-id="{{ row }}">
            {% if estimate_item %}
                {{ estimate_item.discount_amount|money }}
           {% endif %}
        </span>
    </td>
    <td class="text-right">
        <span class="price-exc" id="total_price_exl_{{ row }}" data-item-id="{{ row }}">
        {% if estimate_item %}
            {{ estimate_item.total_price_excluding|money }}
       {% endif %}
        </span>
    </td>
    <td>
        {% vat_code_cell row start default_vat_code col.col9 %}
    </td>
    <td>
        <span class="total-vat" id="vat_total_{{ row }}" data-item-id="{{ row }}">
           {% if estimate_item %}
                {{ estimate_item.vat|money }}
           {% endif %}
        </span>
    </td>
    <td>
        <span class="price" id="total_price_incl_{{ row }}">
           {% if estimate_item %}
                {{ estimate_item.total_price_including|money }}
           {% endif %}
        </span>
    </td>
    <td class="text-center">
        <span class="order-items" id="order_item_{{ row }}">
           {% if estimate_item and estimate_item.inventory %}
               {% if estimate_item.inventory.available_stock > 0 %}
                  <span class="ui-state-ok-text">Yes</span>
               {% else %}
                   <span class="ui-state-error-text">No</span>
               {% endif %}
           {% endif %}
        </span>
    </td>
    <td class="text-center">
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" id="delete_{{ row }}">
            <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
</tr>
