{% extends 'base.html' %}
{% load static %}
{% load invoice_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}Delivery - {{ delivery }}  <span class="pull-right">&nbsp;{{ delivery }}</span>
{% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="picking_slip_form"
  action="{% url 'picking_detail' picking_slip.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left"></h5>
            </div>

          <div class="pull-right">
            <a type="button" class="btn btn-primary btn-sm" name="submit" id="print"
               onclick="printHtml('picking-slip-document');"
               data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
             <button type="button" class="btn btn-primary btn-sm action-picking_slip"
                     id="complete_picking_slip"
                     data-toggle="tooltip"><i class="fa fa-inbox"></i> Complete</button>
             <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
           <div id="po-page">
                <table class="table table-condensed table-bordered" id="picking-slip-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        <div id="">
                                            <img src="{{ company.company_logo }}" width="150" height="50"/>
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">PICKING SLIP</strong><br><br>
                                        Number:&nbsp;&nbsp;{{ picking_slip }}
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ picking_slip.date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <div class="clear clearfix col-md-12">
                                <div class="float-left pull-left col-4">
                                   {% if picking_slip.delivery.customer %}
                                        <table class="table align-right" style="float: left;">
                                            <tr>
                                                <td><strong>CUSTOMER DELIVERY:</strong><br></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.number }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.delivery_address.street }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.delivery_address.postal_code }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.delivery_address.province_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.delivery_address.country.name }}</td>
                                            </tr>
                                        </table>
                                    {% endif %}
                                </div>
                                <div class="float-left pull-left col-4">
                                   {% if picking_slip.delivery.customer %}
                                        <table class="table align-right" style="float: left;">
                                            <tr>
                                                <td><strong>Delivery To:</strong><br></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.postal_address.address_line_1 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.postal_address.postal_code }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.postal_address.province_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.customer.postal_address.country.name }}</td>
                                            </tr>

                                        </table>
                                    {% else %}
                                        <table class="table align-right" style="float: left;">
                                            <tr>
                                                <td><strong>Delivery To:</strong><br></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.address_line_1 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.postal_code }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.province_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ picking_slip.delivery.country.name }}</td>
                                            </tr>

                                        </table>
                                    {% endif %}
                                </div>
                                <div class="float-right pull-right">
                                    <table class="table align-right" style="float: right;">
                                        <tr>
                                            <td><strong>PURCHASE ORDER</strong>:</td>
                                            <td class="text-right">{{ picking_slip.delivery.purchase_order }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Delivery</strong>:</td>
                                            <td class="text-right">{{ picking_slip.delivery }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>DELIVERY METHOD</strong>:</td>
                                            <td class="text-right">{{ picking_slip.delivery.delivery_method }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>DELIVERY DATE & TIME</strong>:</td>
                                            <td class="text-right">{{ picking_slip.date }}&nbsp;{{ delivery.delivery_time }}</td>
                                        </tr>
                                        {% if delivery.customer %}
                                            <tr>
                                                <td><strong>CUSTOMER PHONE NUMBER</strong>:</td>
                                                <td class="text-right">{{ picking_slip.customer.phone_number }}</td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="space text-left" colspan="{{ cols }}">&nbsp;
                             {% if picking_slip.notes %}
                                <strong>Notes: </strong>{{ picking_slip.notes }}<br>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">PICKING SLIP CREATED BY</td>
                                    <td class="text-center" colspan="3">DATE CREATED</td>
                                    <td class="text-center" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if picking_slip.profile %}{{ picking_slip.profile }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if picking_slip.created_at %}{{ picking_slip.created_at|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if picking_slip.created_at %}{{ picking_slip.created_at|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3">{{ picking_slip.branch }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table class="table" width="100%">
                                <tr class="item-titles">
                                    <th class="po-brdr-r po-pad-left">Stock Code</th>
                                    <th class="po-brdr-r po-pad-left">Description</th>
                                    <th class="po-brdr-r po-pad-right">Store Area</th>
                                    <th class="po-brdr-r po-pad-right">Rack</th>
                                    <th class="po-brdr-r po-pad-right">Bin Location</th>
                                    <th class="po-brdr-r po-pad-right text-right">Quantity</th>
                                    <th class="po-brdr-r po-pad-right text-right">Picked</th>
                                    <th class="text-center">Back Order</th>
                                </tr>
                                {% for picking_slip_item in picking_slip.picking_slip_items.all %}
                                    <tr class="line-items">
                                        <td>{{ picking_slip_item.inventory }}</td>
                                        <td>{{ picking_slip_item.inventory.description }}</td>
                                        <td>{{ picking_slip_item.inventory.store_area }}</td>
                                        <td>{{ picking_slip_item.inventory.rack }}</td>
                                        <td>{{ picking_slip_item.inventory.bin_location }}</td>
                                        <td class="text-right">{{ picking_slip_item.quantity|money }}</td>
                                        <td class="text-right writtable">
                                        &nbsp;&nbsp;<input type="hidden" class="received" id="received_{{ picking_slip_item.id }}"
                                                  name="received_{{ picking_slip_item.id }}" value="{{ picking_slip_item.quantity|money }}">
                                        &nbsp;&nbsp;<input type="text" class="form-control-small picked form-control pull-right"
                                                 id="picked_{{ picking_slip_item.id }}"
                                                 data-row-id="{{ picking_slip_item.id }}"
                                                 name="picked_{{ picking_slip_item.id }}" value="{{ picking_slip_item.quantity|money }}">
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" class="back-order checkbox-input"
                                                   name="back_order_{{ picking_slip_item.id }}"
                                                   id="back_order_{{ picking_slip_item.id }}"
                                                   data-item-id="{{ picking_slip_item.id }}"
                                                   disabled="disabled"
                                            >
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr class="line-items">
                        {% for i in i|rjust:cols %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr class="line-items">
                        {% for i in i|rjust:cols %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="po-total" colspan="5"></td>
                        <td class="po-total" >Quantity</td>
                        <td class="text-right">Picked</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="5">Total Items</td>
                        <td class="po-total" >&nbsp;{{ picking_slip.total_quantity|money }}</td>
                        <td class="text-right writtable">
                            &nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                   {% if delivery.display_prices %}
                        {% if  customer_discount != 0 %}
                            <tr>
                                <td class="text-left" colspan="3">
                                    <table class="table table-bordered table-condensed table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Vat Summary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Vat on line ordered</td>
                                                <td class="text-right">{{ picking_slip.vat_amount|money }}</td>
                                            </tr>
                                            <tr>
                                                <td>Vat on customer discounts</td>
                                                <td class="text-right">{{ picking_slip.vat_on_customer_discount|money }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Total</td>
                                                <td class="text-right">{{ picking_slip.total_customer_invoice_vat|money }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                                <td class="space" colspan="8">&nbsp;</td>
                            </tr>
                        {% endif %}
                    {% endif %}

                    <tr class="signing-footer">
                        <td>Signed by Driver/Delivery Responsible</td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="2">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Print Name:</td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="2">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Date: </td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/picking_slip.js' %}"></script>
{% endblock %}
