{% if delivery.is_removed %}
    <span class="text-danger">
        {{ delivery.status_name }}
    </span>
{% else %}
    <span class="{% if delivery.is_invoiced %}text-success{% else %}text-warning{% endif %}">
        {{ delivery.status_name }}
    </span>
{% endif %}