{% load static i18n %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags vat%}
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left">
         {% if is_print %}
            {% display_logo company 200 75 is_print=is_print %}
         {% else %}
            {% display_logo company 200 75 %}
         {% endif %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
            {% include "sales/address/company.html" %}
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-right">
        <table class="table table-borderless table-condensed">
            <tr>
                <td><strong class="h4">{{ delivery.category_name|upper }}</strong></td>
                <td>#{{ delivery }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong class="h4">{{ delivery.invoice_type|upper }}</strong></td>
            </tr>
            <tr>
                <td>{% translate 'Vat Registration Number' %}</td>
                <td>{{ company.vat_number }}</td>
            </tr>
            <tr>
                <td>{% translate 'Date' %}</td>
                <td>{{ delivery.date|date:'d-M-Y' }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row" id="customer-data">
    <div class="col-xs-4 col-md-4 col-lg-4 pull-left">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">{% translate 'Customer' %}</div>
            <div class="panel-body" style="padding: 5px;">
                {% with sales_invoice=delivery %}
                    {% include "sales/address/postal.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">{% translate 'Delivery To' %}</div>
            <div class="panel-body"  id="shipping_to">
                {% with sales_invoice=delivery %}
                    {% include "sales/address/delivery.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body" style="padding: 5px;">
                {% include "deliveries/delivery.html" %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body table-responsive">
                <div class="">
                   <table width="100%" class="table">
                        <tr class="item-titles">
                            <th class="po-brdr-r po-pad-left">{% translate 'Stock Code' %}</th>
                            <th class="po-brdr-r po-pad-left">{% translate 'Description' %}</th>
                            <th class="po-brdr-r po-pad-right text-right">{% translate 'Quantity' %}</th>
                            <th class="po-brdr-r po-pad-right text-right">{% translate 'Received' %}</th>
                            {% if delivery.display_prices %}
                                <th class="po-brdr-r po-right-align text-right">{% translate 'Price Exc' %}</th>
                                <th class="po-brdr-r po-right-align text-right">{% translate 'Price Inc' %}</th>
                                <th class="po-brdr-r text-right">{% translate 'Discount' %}%</th>
                                <th class="po-brdr-r text-right">{% translate 'Discount' %}</th>
                                <th class="po-brdr-r po-right-align text-right">{% translate 'Total Exc' %}</th>
                                <th class="po-brdr-r text-right">{% translate 'Vat' %}</th>
                                <th class="po-brdr-r po-right-align text-right">{% translate 'Total Inc' %}</th>
                            {% endif %}
                        </tr>
                        {% for delivery_item in delivery_items.all %}
                            <tr id="sales_item_{{ delivery_item.id }}" class="sales-items picking_slip_item_row"
                                                data-row-id="{{ delivery_item.id }}"
                                                data-delivery-item-id="{{ delivery_item.id }}">
                                <td>
                                    {{ delivery_item.inventory }}
                                    <input type="hidden" name="delivery_item_id" value="{{ delivery_item.id }}">
                                    <input type="hidden" class="form-control form-control-sm price"
                                           name="price_{{ delivery_item.id }}"
                                           id="price_{{ delivery_item.id }}"
                                           data-item-id="{{ delivery_item.id }}"
                                           value="{{ delivery_item.price }}" />
                                            <input type="hidden" class="form-control form-control-sm price-including"
                                                   name="price_including_{{ delivery_item.id }}"
                                                   id="price_including_{{ delivery_item.id }}"
                                                   data-item-id="{{ delivery_item.id }}"
                                                   value="{{ delivery_item.price_including }}" />
                                            <input type="hidden" class="sub-total"
                                                   name="sub_total_{{ delivery_item.id }}"
                                                   id="sub_total_{{ delivery_item.id }}"
                                                   data-item-id="{{ delivery_item.id }}"
                                                   value="{{ delivery_item.sub_total }}" />
                                            <input type="hidden" class="form-control form-control-sm discount" value="{{ delivery_item.discount }}"
                                                   name="discount_percentage_{{ delivery_item.id }}"
                                                   id="discount_percentage_{{ delivery_item.id }}"
                                                   data-item-id="{{ delivery_item.id }}" />
                                            <input type="hidden" class="form-control form-control-sm total-discount"
                                                   value="{{ delivery_item.total_discount_amount }}" readonly="readonly"
                                                   name="total_discount_{{ delivery_item.id }}"
                                                   id="total_discount_{{ delivery_item.id }}"
                                                   data-item-id="{{ delivery_item.id }}" />
                                            <input type="hidden" value="{{ delivery_item.total_price_excluding }}"
                                                   name="total_price_excluding_{{ delivery_item.id }}"
                                                   id="total_price_excluding_{{ delivery_item.id }}"
                                                   class="total-price-excl" />
                                            <input type="hidden" value="{{ delivery_item.vat_code.id }}"
                                                   name="vat_code_{{ delivery_item.id }}"
                                                   id="vat_code_{{ delivery_item.id }}"
                                                   data-percentage="{{ delivery_item.vat_code.percentage }}"
                                                   class="vat vat-codes"
                                                   data-item-id="{{ delivery_item.id }}"
                                                   data-text="{{ delivery_item.vat_code }}"
                                            />
                                            <input type="hidden" value="{{ delivery_item.vat }}"
                                                   name="vat_percentage_{{ delivery_item.id }}"
                                                   id="vat_percentage_{{ delivery_item.id }}"
                                                   class="vat-percentage"
                                            />
                                            <input type="hidden"
                                                   name="total_vat_{{ delivery_item.id }}"
                                                   id="total_vat_{{ delivery_item.id }}"
                                                   class="total-vat total-vat-amount"
                                                   value="{{ delivery_item.total_vat_amount }}"
                                            />
                                             <input type="hidden" value="{{ delivery_item.total_price_including|money }}"
                                                   name="total_price_including_{{ delivery_item.id }}"
                                                   id="total_price_including_{{ delivery_item.id }}"
                                                   class="total-price-incl open-input" />
                                             <input type="hidden" value="{{ delivery_item.quantity|money }}"
                                                   name="quantity_{{ delivery_item.id }}"
                                                   id="quantity_{{ delivery_item.id }}"
                                                   class="quantity-incl " />
                                </td>
                                <td>{{ delivery_item.inventory.description }}</td>
                                <td class="text-right">{{ delivery_item.quantity|money }}</td>
                                <td class="text-right writtable" style="{% if is_print %}border-bottom: 1px solid #000000 !important;{% endif %}">
                                    &nbsp;&nbsp;&nbsp;
                                </td>
                                {% if delivery.display_prices %}
                                    <td class="text-right">{{ delivery_item.price|money }}</td>
                                    <td class="text-right">{{ delivery_item.price_including|money }}</td>
                                    <td class="text-right">{{ delivery_item.discount|money }}%</td>
                                    <td class="text-right">{{ delivery_item.discount_amount|money }}</td>
                                    <td class="text-right">{{ delivery_item.net_price|money }}</td>
                                    <td class="text-right">{{ delivery_item.vat_amount|money }}</td>
                                    <td class="text-right">{{ delivery_item.total_price_including|money }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {% if delivery.display_prices %}
            <table width="100%" class="table table-bordered">
                <tr>
                    <td class="po-total">{% translate 'Net Excluding Total' %}</td>
                    <td class="po-total" >&nbsp;{{ delivery.sub_total|money }}</td>
                </tr>
                {% if customer_discount != 0 %}
                    <tr>
                        <td class="po-total">{% translate 'Customer Discount' %}</td>
                        <td class="po-total" >&nbsp;{{ delivery.customer_discount|money }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="po-total">{% translate 'Net after Invoice Discount' %}</td>
                    <td class="po-total" >&nbsp;{{ delivery.net_amount|money }}</td>
                </tr>
                <tr>
                    <td class="po-total">Vat at 15%</td>
                    <td class="po-total" >&nbsp;{{ delivery.vat_amount|money }}</td>
                </tr>
                <tr>
                    <td class="po-total">{% translate 'Total Due' %}</td>
                    <td class="po-total" >R&nbsp;{{ delivery.total_amount|money }}</td>
                </tr>
            </table>
        {% elif is_print %}
            {% include "sales/signature.html" %}
        {% endif %}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {% with gross_weight=delivery.gross_weight net_weight=delivery.net_weight quantity=delivery.total_quantity %}
            {% include "sales/partials/weight_summary.html" %}
        {% endwith %}
    </div>
</div>
{% if delivery.display_prices %}
    <div class="row">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12">
    {#        <p>We thank you for your patrionage, and wish to see much more text here. Please note that invoices that are not paid by the due date will have interest charged at XX% per month</p>#}
        </div>
        <div class="col-xs-6  col-lg-6 col-md-6 col-sm-12">
            {% vat_summary invoice delivery.delivery_items.all %}
        </div>
    </div>
{% endif %}
{% if is_print and delivery.display_prices %}
    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
            {% include "sales/signature.html" %}
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-12 text-center">
            Printed via Docuflow &copy; www.docuflow.co.za
        </div>
    </div>
{% endif %}