{% load sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items delivery_item_row" data-row-id="{{ row }}">
    <td>
        {% line_types row start module_url line_type col.col1 False %}
    </td>
    <td colspan="7">
        {% description_cell row start col.col2 %}
    </td>
    <td colspan="8"></td>
    <td class="text-center">
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" id="delete_{{ row }}">
            <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
</tr>
