{% load invoice_tags inventory_tags sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items invoice_item_row estimate_item_row"
            data-row-id="{{ row }}"
            data-estimate-id="{{ estimate_item.id }}"
        >
            <td>
                {{ estimate_item.item_type }}
            </td>
            <td>
                {{ estimate_item.account.code }}&nbsp;&nbsp;
                <input type="hidden" name="in_stock_{{ row }}" id="in_stock_{{ row }}"
                       value="{{ estimate_item.quantity }}">
                <input type="hidden" name="allow_negative_stock_{{ row }}" id="allow_negative_stock_{{ row }}"
                       value="1">
                <input type="hidden" name="estimate_id_{{ row }}" id="estimate_id_{{ row }}"
                       value="{{ estimate_item.id }}">
            </td>
            <td>{{ estimate_item.description }}</td>
            <td class="text-right">
                {% quantity_cell row 0 col.col1 estimate_item.quantity %}
            </td>
            <td class="text-center">
                {{ estimate_item.unit }}
            </td>
            <td class="text-right">
                {% price_cell row 0 col.col2 estimate_item.price %}
            </td>

            <td class="text-left">
                {% discount_cell row 0 col.col3 estimate_item.discount %}
            </td>
           <td class="text-right">
                <span class="discount-amount" id="discount_amount_{{ row }}"
                      data-item-id="{{ estimate_item.id }}">{{ estimate_item.total_discount_amount|money }}</span>
           </td>
            <td class="text-right">
                <span id="price_incl_{{ row }}">{{ estimate_item.price_including|money }}</span>
            </td>
            <td class="text-right">
                {% vat_code_cell row 0 vat_code col.col4 estimate_item.vat_code %}
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ row }}" data-item-id="{{ estimate_item.id }}">
                    {{ estimate_item.vat_amount|money }}
                </span>

            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ row }}">{{ estimate_item.total_price_including|money }}</span>
            </td>
            <td>
                <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row"
                   data-action="delete"
                   id="delete_{{ row }}">
                 <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
                </a>
            </td>
        </tr>