{% load invoice_tags inventory_tags sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items invoice_item_row estimate_item_row"
    data-row-id="{{ row }}"
    data-estimate-id="{{ estimate_item.id }}">
    <td>
        {{ estimate_item.item_type }}
    </td>
    <td colspan="10">
        <input type="text" name="description_{{ row }}" id="description_{{ row }}" value="{{ estimate_item.description }}" class="form-control" />
        <input type="hidden" name="estimate_id_{{ row }}" id="estimate_id_{{ estimate_item.id }}"
               value="{{ estimate_item.id }}">
    </td>
    <td>
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" data-action="delete"
           id="delete_{{ row }}">
         <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
</tr>