<div class="mod_header">
    <h2>Contact us today</h2>
</div>

<div class="row mt-5 my-5">
    <div class="col-lg-3 col-sm-12 col-md-4"></div>
	<aside class="col-lg-6 col-sm-12 col-md-6">
<!-- ============================ COMPONENT FEEDBACK  ================================= -->
	<div class="card">
      <div class="mod_intro_text mt-5">
        <p class="text-muted">We will love to tell you more about <span class="bold_800">docuflow</span><br>
        Leave us a few details and we&#39;ll be in touch as soon as possible!</p>
      </div>
      <div class="card-body">
      <form id="contact" action="{% url 'enquiry' %}" method="post">
        <div class="form-row">
			<div class="col form-group">
				<label>Name</label>
			  	<input type="text" id="name" name="name" class="form-control" placeholder="Name">
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				<label>Email</label>
			  	<input type="email" id="email" name="email" class="form-control" placeholder="Email">
			</div> <!-- form-group end.// -->
		</div> <!-- form-row.// -->
        <div class="form-row">
			<div class="col form-group">
				<label>Company</label>
			  	<input type="text" id="company" name="company" class="form-control" placeholder="Company">
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				<label>Email</label>
			  	<input type="text" id="phone_no" name="phone_no" class="form-control" placeholder="Phone No">
			</div> <!-- form-group end.// -->
		</div> <!-- form-row.// -->
		<div class="form-group">
			<label>Message?</label>
			<textarea class="form-control" rows="3" id="message" name="message" placeholder="Message"></textarea>
		</div>
		<button type="submit" class="btn submit btn-block" id="submit" onclick="return sendEnquiry(this)">Send Enquiry</button>
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
<!-- ============================ COMPONENT FEEDBACK END.// ================================= -->
	</aside>
	<div class="col-lg-4 col-sm-12 col-md-4"></div>
</div>