{% load invoice_tags %}
<tr class="invoice-account-posting-line {% if account.is_vat %} vat {% else %} expenditure {% endif %}" >
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}" class="{% if not can_edit %} not-editable {% endif %}"></td>
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}" class="{% if not can_edit %} not-editable {% endif %}">{{ account.invoice_account.account_profile }}</td>
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}"
        data-toggle="tooltip" data-original-title="{{ account.account }}"
        class="{% if not can_edit %} not-editable {% endif %}">{{ account.account.code }}</td>
    {% for k, linked_model in linked_models.items %}
        {% invoice_account_linked_model_values k account can_edit %}
    {% endfor %}
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}" class="{% if not can_edit %} not-editable {% endif %}">{{ account.suffix }}</td>
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}" class="{% if not can_edit %} not-editable {% endif %}">{{ account.vat_code }}</td>
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}" class="not-editable">
        {% if account.can_distribute %}
            {% if account.distribution %}
               <a href="javascript:void(0);"
                  data-modal="{% url 'edit_distribution' account.distribution.id %}">Yes</a>
            {% elif can_edit %}
               <a href="javascript:void(0);"
                  data-modal="{% url 'create_distribution' content_type_id=content_type.id object_id=account.id %}">No</a>
            {% endif %}
        {% else %}
            {% if account.distribution %}
{#               <a href="javascript:void(0);" data-html="true" data-original-title="{{ account.distribution }}" data-toggle="tooltip"#}
{#                  >Yes</a>#}
               <a href="javascript:void(0);"
                  data-modal="{% url 'edit_distribution' account.distribution.id %}">Yes</a>
            {% else %}
               <span class="no-distribution">No</span>
            {% endif %}
        {% endif %}
    </td>
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}" class="text-right  {% if not can_edit %} not-editable {% endif %}">{{ account.amount|money }}</td>
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}" class="{% if not can_edit %} not-editable {% endif %}">{{ account.percentage }}</td>
    <td data-account-id="{{ account.id }}" data-invoice-id="{{ account.invoice_id }}"
        data-ajax-url="{{ account.url }}" id="show_comment_{{ account.id }}"
        data-modal="{% url 'account_postings_show_comment' account.id %}" class="{% if not can_edit %} not-editable {% endif %}">
        {% if account.reinvoice %} Yes {% else %} No {% endif %}
    </td>
    <td class="not-editable">
        {% if can_edit %}
            <a href="javascript:void(0);" id="show_comment_{{ exp_account.id }}"
                data-original-title="{{ account.comment }}" data-toggle="tooltip"
               data-modal="{% url 'account_postings_show_comment' account.id %}">{% if account.comment %} Yes {% else %} No {% endif %}</a>
        {% else %}
            {% if account.comment %} <span data-original-title="{{ account.comment }}" data-toggle="tooltip">Yes</span> {% else %} No {% endif %}
        {% endif %}
    </td>
    <td class="text-left actions not-editable">
        {% if can_edit %}
            <a href="javascript:void(0)" id="delete_account_posting_{{ account.id }}"
               class="delete-account-posting text-danger"
               data-invoice-id="{{ account.invoice_id }}"
               data-account-id="{{  account.id }}"
               data-ajax-url="{% url 'delete_invoice_account_posting' account.id %}"><i class="fa fa-trash"></i></a>
        {% endif %}
    </td>
</tr>