{% load invoice_tags %}
{% for account in accounts %}
    <tr class="invoice-account-posting-line">
        <td onclick="Invoice.openEditAccountPosting(this, '{{ account.id }}')" data-invoice-id="{{ account.invoice_id }}" data-ajax-url="{% url 'edit_invoice_account' account.id %}"></td>
        <td onclick="Invoice.openEditAccountPosting(this, '{{ account.id }}')" data-invoice-id="{{ account.invoice_id }}" data-ajax-url="{% url 'edit_invoice_account' account.id %}">{{ account.account.code }}</td>
        <td>
            {% for k, linked_model in linked_models.items %}
                {% linked_model_values k linked_model account.object_links %}
            {% endfor %}
        </td>
        <td onclick="Invoice.openEditAccountPosting(this, '{{ account.id }}')" data-invoice-id="{{ account.invoice_id }}" data-ajax-url="{% url 'edit_invoice_account' account.id %}">{% if account.vat_line %} Yes {% else %} No {% endif %}</td>
        <td onclick="Invoice.openEditAccountPosting(this, '{{ account.id }}')" data-invoice-id="{{ account.invoice_id }}" data-ajax-url="{% url 'edit_invoice_account' account.id %}"></td>
        <td onclick="Invoice.openEditAccountPosting(this, '{{ account.id }}')" data-invoice-id="{{ account.invoice_id }}" data-ajax-url="{% url 'edit_invoice_account' account.id %}" class="text-right">{{ account.amount }}</td>
        <td onclick="Invoice.openEditAccountPosting(this, '{{ account.id }}')" data-invoice-id="{{ account.invoice_id }}" data-ajax-url="{% url 'edit_invoice_account' account.id %}">{{ account.percentage }}</td>
        <td onclick="Invoice.openEditAccountPosting(this, '{{ account.id }}')" data-invoice-id="{{ account.invoice_id }}" data-ajax-url="{% url 'edit_invoice_account' account.id %}">{% if account.reinvoice %} Yes {% else %} No {% endif %}</td>
        <td><a href="javascript:void(0);" id="show_comment_{{ account.id }}"  data-modal="{% url 'account_postings_show_comment' account.id %}">{% if account.comment %} Yes {% else %} No {% endif %}</a></td>
        <td onclick="Invoice.openEditAccountPosting(this, '{{ account.id }}')" data-invoice-id="{{ account.invoice_id }}" data-ajax-url="{% url 'edit_invoice_account' account.id %}">{{ account.date }}</td>
        <td class="text-left actions">

        </td>
    </tr>
{% endfor %}