{% extends 'modal.html' %}
{% load static %}
{% block title %} Comment {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="comment_invoice_account_form" name="comment_invoice_account_form" action="{% url 'account_postings_show_comment' invoice_account.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="add_invoice_account_comment_submit" type="submit" id="add_invoice_account_comment_submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}