{% load static %}
{% load i18n %}
{% load invoice_tags %}
{% load widget_tweaks %}
    {% csrf_token %}
    <div class="form-group control-group">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
        <div class="col-sm-8">
            {{ form.amount|add_class:"form-control" }}
            {{ form.amount.errors }}
        </div>
    </div>

    <div class="form-group control-group">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.account.id_for_label }}">{{ form.account.label_tag }}</label>
        <div class="col-sm-8">
            {{ form.account|add_class:"form-control" }}
            {{ form.account.errors }}
        </div>
    </div>

    {% if invoice_account %}
        {% invoice_account_linked_objects request.session.company request.session.role invoice_account.id 'horizontal'%}
    {% else %}
        {% invoice_account_linked_objects request.session.company request.session.role None 'horizontal' %}
    {% endif %}

    <div class="form-group control-group">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.suffix.id_for_label }}">{{ form.suffix.label_tag }}</label>
        <div class="col-sm-8">
            {{ form.suffix|add_class:"form-control" }}
            {{ form.suffix.errors }}
        </div>
    </div>

    <div class="form-group control-group">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.comment.id_for_label }}">{{ form.comment.label_tag }}</label>
        <div class="col-sm-8">
            {{ form.comment|add_class:"form-control" }}
            {{ form.comment.errors }}
        </div>
    </div>
    <div class="form-group control-group" style="{% if not invoice.company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_line.id_for_label }}">{{ form.vat_line.label_tag }}</label>
        <div class="col-sm-8">
            {{ form.vat_line|add_class:"form-control" }}
            {{ form.vat_line.errors }}
        </div>
    </div>
    <div class="form-group control-group" style="{% if not invoice.company.is_vat_registered %} display: none {% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_code.id_for_label }}">{{ form.vat_code.label_tag }}</label>
        <div class="col-sm-8">
            {{ form.vat_code|add_class:"form-control" }}
            {{ form.vat_code.errors }}
        </div>
    </div>
    <div class="form-group control-group">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reinvoice.id_for_label }}">{{ form.reinvoice.label_tag }}</label>
        <div class="col-sm-8">
            {{ form.reinvoice|add_class:"form-control" }}
            {{ form.reinvoice.errors }}
        </div>
    </div>
     <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
    <span data-ajax-url="{% url 'invoice_account_calculate_amount' %}" id="math_operation"></span>