{% extends 'base.html' %}
{% block page_title %} Invoice accounts {% endblock page_title %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Invoice Ref</th>
                    <th>Account</th>
                    <th>Assigned By</th>
                    <th>Amount</th>
                    <th>% of net amount</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if accounts %}
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.invoice.id }}</td>
                            <td>{{ account.account.name }}</td>
                            <td>{{ account.profile }}</td>
                            <td>{{ account.amount }}</td>
                            <td>{{ account.percentage }}</td>
                            <td>{{ account.created_at }}</td>
                            <td class="text-left actions"></td>

                        </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="4">There are no invoice accounts</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}