{% load invoice_tags %}
<div class="panel panel-info" id="account_postings"
                       data-ajax-url="{% url 'account_postings_view' invoice_id=invoice.id %}"
                       data-invoice-id="{{ invoice.id }}" >
  <div class="panel-heading">
      <span class="left">
            <span>
                Account Posting
            </span>
            <span><a href="javascript:void(0);"
                     id="goods_received"
                     class="goods-received"
                     onclick="Invoice.loadInvoiceLinkingPage($(this))"
                     data-invoice-id="{{ invoice.id }}"
                     data-ajax-url="{% url 'link_invoice_goods_received' invoice_id=invoice.id %}">
                <i class="fa fa-eye-slash"></i></a>
            </span>
      </span>
      <span class="pull-right">
            <span>Net Variance: &nbsp;&nbsp;
                   <a href="javascript:void(0);"
                      onclick="Invoice.openEditAccountPosting(this, '{{ account_postings.holding_account.id }}')"
                      data-invoice-id="{{ invoice.id }}"
                      data-ajax-url="{% url 'create_invoice_account' invoice_id=invoice.id %}?amount={{ account_posting_variance }}">
                       <strong>{{ account_posting_variance }}</strong></a>
            </span>
            |
            Vat Variance: &nbsp;&nbsp;
            <a href="javascript:void(0);"
               onclick="Invoice.openEditAccountPosting(this, '{{ vat_account_postings.holding_account.id }}')"
               data-invoice-id="{{ invoice.id }}"
               data-ajax-url="{% url 'create_invoice_account' invoice_id=invoice.id %}?amount={{ vat_posting_variance }}">
                <strong>{{ vat_posting_variance }}</strong></a>
      </span>
  </div>
  <div class="panel-body" style="overflow:scroll; height:118px; ">
      <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Signed</th>
                        <th>Posted</th>
                        <th>Account</th>
                        {% for k, linked_model in linked_models.items %}
                            <th>{{ linked_model.label }}</th>
                        {% endfor %}
                        <th>Suffix</th>
                        <th>Vat Code</th>
                        <th>Dist</th>
                        <th class="text-right">Amount</th>
                        <th>% of net amount</th>
                        <th>Reinvoice</th>
                        <th>Text</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if expenditure_postings or vat_postings %}
                        {% for account in expenditure_postings %}
                            {% with can_edit=can_edit %}
                                {% include "invoiceaccount/account.html" %}
                            {% endwith %}
                        {% endfor %}
                        {% if invoice.company.is_vat_registered %}
                            {% for vat_account_posting in vat_postings %}
                                {% with account=vat_account_posting %}
                                    {% include "invoiceaccount/account.html" %}
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if linked_models_count > 0 %}
                                <td colspan="{{ linked_models_count }}"></td>
                            {% endif %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{ total|money }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">There are no invoice accounts</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
  </div>
</div>
