{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %} Show Invoices {% endblock page_title %}
{% block content %}
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Company</th>
                        <th>Supplier</th>
                        <th>Supplier's name</th>
                        <th>Supplier's inv. no.</th>
                        <th>Delivery slip. no</th>
                        <th>Purchase order. no</th>
                        <th>Contract</th>
                        <th>Invoice date</th>
                        <th>Due date</th>
                        <th>Reference 1</th>
                        <th>Reference 2</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>VAT Amount</th>
                        <th>Fee Amount 1</th>
                        <th>Fee Amount 2</th>
                        <th>Fee Amount 3</th>
                        <th>Payment Ref</th>
                        <th>Bank Account</th>
                        <th>Alias</th>
                        <th>Invoice image</th>
                        <th>Number of images</th>
                        <th>Number of lines</th>
                        <th>File type</th>
                        <th>Transferred</th>
                        <th>Invoice series</th>
                        <th>Serial no.</th>
                    </tr>
                </thead>
                <tbody>
                    {% if invoices %}
                        {% for invoice in invoices %}
                            <tr>
                                <td></td>
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.created_on }}</td>
                                <td>{{ invoice.company }}</td>
                                <td>{{ invoice.supplier }}</td>
                                <td>{{ invoice.supplier }}</td>
                                <td>{{ invoice.supplier.code }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ invoice.invoice_date }}</td>
                                <td>{{ invoice.due_date }}</td>
                                <td>Reference 1</td>
                                <td>Reference 2</td>
                                <td></td>
                                <td>{{ invoice.net_amount }}</td>
                                <td>{{ invoice.vat_amount }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ invoice.image }}</td>
                                <td>{{ invoice.document.nb_pages }}</td>
                                <td>{{ invoice.document.file_type }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no invoices available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}