{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Journals{% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="row col-12">
    <div class="col-6">

    </div>
    <div class="col-6 pull-right">
        <ul class="pull-right" style="list-style: none;">
            <li>
                <a type="button" class="btn btn-large btn-success">Run Distribution Journal</a>
            </li>
            <li>
                <a  type="button" class="btn btn-large btn-danger"> Run Template Journal</a>
            </li>
            <li>
                <a href="{% url 'create_generate_journal' %}" type="button" class="btn btn-large btn-info">New General Journal</a>
            </li>
        </ul>
    </div>
</div>
<div class="row col-12">
    <table class="table table-bordered table-condensed" width="100%">
        <thead>
            <tr>
                <th>Journal No</th>
                <th>Accounting Date</th>
                <th>Module</th>
                <th>Journal Text</th>
                <th>Sum</th>
                <th>Comment</th>
                <th>Attach</th>
                <th>Correction</th>
                <th>By</th>
                <th>Status of period</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}