{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Show Captured Invoices {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group pull-right">
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
        <form class="form-horizontal" method="get"action="{% url 'show_invoice_report' %}"  id="show_invoice_report" name="role-filter">
        <section class="">
            <fieldset class="col well">
                <div class="row">
                    <!-- Main Name Field -->
                   <div class="form-group col-sm-1">
                      <label for="date" class="control-label">From Date</label>
                      {% render_field filter.from_date class="form-control datepicker" readonly="readonly" %}
                   </div>
                   <div class="form-group col-sm-1">
                      <label for="date" class="control-label">To Date</label>
                      {{ filter.to_date|add_class:"form-control"  }}
                   </div>
                   <div class="form-group col-sm-1">
                      <label class="control-label txt-font12" for="{{ filter.company.id_for_label }}">
                            {{ filter.company.label_tag }}
                      </label>
                      {{ filter.company|add_class:"form-control"  }}
                   </div>
                   <div class="form-group col-sm-1">
                      <label for="{{ filter.form.status.id_for_label }}" class="control-label">Status:</label>
                      {{ filter.form.status|attr:"class:form-control"  }}
                   </div>
                   <div class="form-group col-sm-1">
                      <label for="{{ filter.supplier.id_for_label }}" class="control-label">Supplier</label>
                      {{ filter.form.supplier|attr:"class:form-control"  }}
                   </div>
                   <div class="form-group col-sm-1">
                        <label class="control-label txt-font12" for="reference1">Reference 1</label>
                        <input type="text" name="reference1" id="reference1" class="form-control">
                    </div>
                    <div class="form-group col-sm-1">
                        <label class="control-label txt-font12" for="reference2">Reference 2</label>
                        <input type="text" name="reference2" id="reference2" class="form-control">
                    </div>
                    <div class="form-group col-sm-1">
                        <label for="{{ filter.total_amount.id_for_label }}" class="control-label">Total Amount</label>
                        {{ filter.form.total_amount|attr:"class:form-control"  }}
                    </div>
                    <div class="form-group col-sm-1">
                        <label class="control-label txt-font12" for="alias">Alias</label>
                        <input type="text" name="alias" id="alias" class="form-control">
                    </div>
                    <div class="form-group col-sm-1">
                        <label class="control-label txt-font12" for="invoice_series">Invoice Series</label>
                        <input type="text" name="invoice_series" id="invoice_series" class="form-control">
                    </div>
                    <div class="form-group col-sm-1">
                        <label class="control-label txt-font12" for="serial_number">Serial Number</label>
                        <input type="text" name="serial_number" id="serial_number" class="form-control">
                    </div>
                    <div class="form-group col-sm-1">
                        <label class="control-label txt-font12" for="number_of_lines">Number of lines:</label>
                        <input type="text" name="number_of_lines" id="number_of_lines" class="form-control">
                    </div>
                </div>
            </fieldset>
        </section>
        </form>
        <div class="__table">
            <div class="table-responsive">
                <!-- Show / Hide Column Div -->
                <div class="top-content clearfix">
                    <div id="show-hide-column" style="margin: 0 auto; max-width: 1170px;"></div>
                </div>
                <!-- Show / Hide Column Div -->
                <table id="dataTable" class="table table-bordered tablesorter bootstrap-popup" width="100%">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>ID</th>
                            <th>Capture Date</th>
                            <th>Company</th>
                            <th>Supplier</th>
                            <th>Supplier's name</th>
                            <th>Supplier's inv. no.</th>
                            <th>Delivery slip. no</th>
                            <th>Purchase order. no</th>
                            <th>Contract</th>
                            <th>Invoice date</th>
                            <th>Due date</th>
                            <th>Reference 1</th>
                            <th>Reference 2</th>
                            <th>Currency</th>
                            <th class="text-right">Amount</th>
                            <th class="text-right">VAT Amount</th>
                            <th>Fee Amount 1</th>
                            <th>Fee Amount 2</th>
                            <th>Fee Amount 3</th>
                            <th>Payment Ref</th>
                            <th>Bank Account</th>
                            <th>Alias</th>
                            <th>Invoice image</th>
                            <th>Number of images</th>
                            <th>Number of lines</th>
                            <th>File type</th>
                            <th>Transferred</th>
                            <th>Invoice series</th>
                            <th>Serial no.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if invoices %}
                            {% for invoice in invoices %}
                                <tr  data-invoice-url="{% url 'invoice_detail' invoice.id %}">
                                    <td>{{ invoice.status }}</td>
                                    <td>{{ invoice }}</td>
                                    <td>{{ invoice.created_at }}</td>
                                    <td>{{ invoice.company.slug }}</td>
                                    <td>{{ invoice.supplier }}</td>
                                    <td>{{ invoice.supplier }}</td>
                                    <td>{{ invoice.supplier.code }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ invoice.invoice_date }}</td>
                                    <td>{{ invoice.due_date }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ invoice.currency_code }}</td>
                                    <td class="text-right">{{ invoice.net_amount|money }}</td>
                                    <td class="text-right">{{ invoice.vat_amount|money }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ invoice.image }}</td>
                                    <td>{{ invoice.document.nb_pages }}</td>
                                    <td></td>
                                    <td>{{ invoice.document.file_type }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="30">There are no invoices available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/tablesorter/jquery.tablesorter.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/tablesorter/jquery.tablesorter.widgets.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/tablesorter/widgets/widget-columnSelector.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#show_captured_invoice").submit();
            });

            $("#dataTable>tbody>tr>td").on('click', function(){
                var detailUrl = $(this).parent('tr').data('invoice-url');
                document.location.href = detailUrl;
                return false;
            });
            	$(".custom-popup").tablesorter({
                    theme: 'blue',
                    widgets: ['zebra', 'columnSelector', 'stickyHeaders'],
                    widgetOptions : {
                        // target the column selector markup
                        columnSelector_container : $('#columnSelector'),
                        // column status, true = display, false = hide
                        // disable = do not display on list
                        columnSelector_columns : {
                            0: 'disable' /* set to disabled; not allowed to unselect it */
                        },
                        // remember selected columns (requires $.tablesorter.storage)
                        columnSelector_saveColumns: true,

                        // container layout
                        columnSelector_layout : '<label><input type="checkbox">{name}</label>',
                        // layout customizer callback called for each column
                        // function($cell, name, column) { return name || $cell.html(); }
                        columnSelector_layoutCustomizer : null,
                        // data attribute containing column name to use in the selector container
                        columnSelector_name  : 'data-selector-name',

                        /* Responsive Media Query settings */
                        // enable/disable mediaquery breakpoints
                        columnSelector_mediaquery: true,
                        // toggle checkbox name
                        columnSelector_mediaqueryName: 'Auto: ',
                        // breakpoints checkbox initial setting
                        columnSelector_mediaqueryState: true,
                        // hide columnSelector false columns while in auto mode
                        columnSelector_mediaqueryHidden: true,

                        // set the maximum and/or minimum number of visible columns; use null to disable
                        columnSelector_maxVisible: null,
                        columnSelector_minVisible: null,
                        // responsive table hides columns with priority 1-6 at these breakpoints
                        // see http://view.jquerymobile.com/1.3.2/dist/demos/widgets/table-column-toggle/#Applyingapresetbreakpoint
                        // *** set to false to disable ***
                        columnSelector_breakpoints : [ '20em', '30em', '40em', '50em', '60em', '70em' ],
                        // data attribute containing column priority
                        // duplicates how jQuery mobile uses priorities:
                        // http://view.jquerymobile.com/1.3.2/dist/demos/widgets/table-column-toggle/
                        columnSelector_priority : 'data-priority',

                        // class name added to checked checkboxes - this fixes an issue with Chrome not updating FontAwesome
                        // applied icons; use this class name (input.checked) instead of input:checked
                        columnSelector_cssChecked : 'checked',

                        // class name added to rows that have a span (e.g. grouping widget & other rows inside the tbody)
                        columnSelector_classHasSpan : 'hasSpan',

                        // event triggered when columnSelector completes
                        columnSelector_updated : 'columnUpdate'
                    }
                });

                /*** Bootstrap popover demo ***/

                // initialize column selector using default settings
                // note: no container is defined!
                $(".bootstrap-popup").tablesorter({
                    theme: 'blue',
                    widgets: ['zebra', 'columnSelector', 'stickyHeaders']
                });

                // call this function to copy the column selection code into the popover
                $.tablesorter.columnSelector.attachTo( $('.bootstrap-popup'), '#popover-target');

                $('#popover')
                    .popover({
                        placement: 'right',
                        html: true, // required if content has HTML
                        content: $('#popover-target')
                    });

       });
    </script>
{% endblock %}