{% extends 'base.html' %}
{% block page_title %} Delete System Access Level{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group">
        <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Confirm delete of this permission group</button>
    </div>
  </form>
{% endblock %}