{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load group_permissions_form %}
{% block page_title %} System Access Levels {% endblock page_title %}
{% block content %}
<style type="text/css">
    .panel-heading h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 75%;
        padding-top: 8px;
    }
      #undo_redo_to{
          height: 500px !important;
      }
      #undo_redo{
          height: 500px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
</style>
 <form method="post" action="" id="permission_group_permissions">
      <div class="panel panel-default">
          <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">Record {{ groups.number }}/{{ groups.paginator.num_pages }}</h5>
                {% if groups.has_other_pages %}
                  <ul class="pagination btn-group pull-left">
                    {% if groups.has_previous %}
                        <a href="?page=1" type="button" class="btn btn-info" aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="?page={{ groups.previous_page_number }}" type="button" class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% else %}
                        <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% endif %}

                    {% if groups.has_next %}
                      <a href="?page={{ groups.next_page_number }}" type="button" class="btn btn-info" aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                      <a href="?page={{ groups.paginator.num_pages }}" type="button" class="btn btn-info" aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% else %}
                      <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                      <a href="javascript:void(0);" type="button" disabled="disabled" class="btn btn-info" aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% endif %}
                  </ul>
                {% endif %}

              <div class="btn-group pull-right">
                <a href="{% url 'create_permission_group' %}" class="btn btn-sm btn-primary" role="button">
                    <i class="fa fa-plus"></i> New
                </a>
                <button type="submit" id="save_permission_group_permissions" class="btn btn-success btn-sm" data-ajax-url="{% url 'save_permission_group_permissions' %}"><i class="fa fa-save"></i> Save</button>
              </div>
          </div>
          <div class="panel-body aligin-center">
            {% if groups.paginator.count > 0 %}
                {% for group in groups %}
                    {% csrf_token %}
                    <fieldset class="well">
                        <div class="form-group control-group ">
                            <label class="control-label txt-font12" for="id_label">
                                <label for="id_label">Label:</label>
                            </label>
                            <div class="controls">
                                <input type="text" name="label" id="id_label" class="form-control" maxlength="200" value="{{ group.label }}">
                            </div>
                        </div>

                        <div class="form-group control-group ">
                            <label class="control-label txt-font12" for="id_is_active">
                                <label for="id_is_active">Is active:</label>
                            </label>
                            <div class="controls">
                                <select name="is_active" id="id_is_active" class="form-control">
                                    <option value="1" {% if group.is_active == false %} selected="selected" {% endif %}>Unknown</option>
                                    <option value="2" {% if group.is_active == 1 %} selected="selected" {% endif %}>Yes</option>
                                    <option value="3" {% if group.is_active == 0 %} selected="selected" {% endif %}>No</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="group_id" id="group_id" value="{{ group.id}}" />
                    </fieldset>
                    {% permission_group_permissions group %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">Groups not found</div>
            {% endif %}
          </div>
      </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
        <script type="text/javascript">
    // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        $("#save_permission_group_permissions").on('click', function(e){
            var ajaxUrl = $(this).data('ajax-url');
            e.preventDefault();
            $("#permission_group_permissions").ajaxSubmit({
                url: ajaxUrl,
                dataType: 'json',
                success: function(response, statusText, xhr, $form)  {
                    $.notify({ title: '', message: response.text},{ type: (response.error ? 'danger' : 'success') });
                    // for normal html responses, the first argument to the success callback
                    // is the XMLHttpRequest object's responseText property

                    // if the ajaxSubmit method was passed an Options Object with the dataType
                    // property set to 'xml' then the first argument to the success callback
                    // is the XMLHttpRequest object's responseXML property

                    // if the ajaxSubmit method was passed an Options Object with the dataType
                    // property set to 'json' then the first argument to the success callback
                    // is the json data object returned by the server
                    //jQuery("#total").html( response.total );
                    //jQuery("#total_value").val( response.total );
                }
            });
        });
    </script>


{#    <script type="text/javascript" src="{% static 'js/permission_group.js' %}"></script>#}
{% endblock %}