{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %} Edit System Access Levels{% endblock page_title %}
{% block content %}
   <style type="text/css">
      #id_permissions{
          height: 500px !important;
      }
      #undo_redo, #undo_redo_to {
          min-height: 500px !important;
      }
   </style>
   <form method="post" novalidate="novalidate">
       {% include 'common/form.html' %}
       <fieldset class="well">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     My Profile
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Specify temporary users for your roles</label>
                        <div class="col-sm-10">
                            <select class="form-control"></select>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      My Invoices
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body form-horizontal">
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Invoice Product - Process Supplier invoices</label>
                        <div class="col-sm-10">
                            <select class="form-control"></select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Manage invoice header</label>
                        <div class="col-sm-10">
                            <select class="form-control"></select>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse in" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Reports
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse in" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Administration
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                  </div>
                </div>
              </div>
            </div>
       </fieldset>

       <fieldset class="well">
            <div class="row" id="permissions">
                <div class="form-group col-sm-4">
                    <select multiple="multiple" class="form-control" id="undo_redo" name="unassigned_permissions">
                        {% for namespace, permissions in left_list %}
                           <option value="{{ namespace.id }}">{{ namespace.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
                    <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                    <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block">
                        <i class="fa fa-angle-right"></i>
                    </button>
                    <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block">
                        <i class="fa fa-angle-left"></i>
                    </button>
                    <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block">
                        <i class="fa fa-angle-double-left"></i>
                    </button>
                    <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
                </div>
                <div class="form-group col-sm-4">
                    <select multiple="multiple" class="form-control" id="undo_redo_to" name="role_permissions">
                        {% for namespace, permissions in right_list %}
                           <option value="{{ namespace.id }}">{{ namespace.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>
       <div class="form-group">
          <button class="btn btn-primary btn-large" name="submit" type="submit" tabindex="11"><i class="fa fa-check"></i> Update!</button>
       </div>
    </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/multiselect/multiselect.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){

            $('#undo_redo').multiselect({
                search: {
                    left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                    right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                },
                fireSearch: function(value) {
                    return value.length > 3;
                }
            });
        });
    </script>
{% endblock javascript %}