{% load group_permissions_form %}
<style>
    .permission-group {
         background-color: #0b91d2;
        color: white;"
    }
</style>
 <table class="table align-center" width="100%" cellpadding="10" cellspacing="10">
    {% for group_permission in permission_group_permissions %}
        <tr>
            {% if group_permission.options %}
                <th>{{ group_permission.label }}</th>
                <td>
                    {% permission_select group_permission group_permission None assigned_group_permissions  %}
                </td>
            {% else %}
                <th colspan="2" id="{{ group_permission.id }}" class="permission-group" onclick="openPermissions(this)">
                    {{ group_permission.label }}
                </th>
            {% endif %}
        </tr>
        <tr style=""  id="{{ group_permission.id }}_permissions">
            <td colspan="2">
                <table class="table" width="100%">
                {% if group_permission.children %}
                    {% for group_children in group_permission.children %}
                        {% if group_children.children %}

                            <tr>
                                {% if group_children.options %}
                                    <th>{{ group_children.label }}</th>
                                    <td>
                                        {% permission_select group_children group_permission None assigned_group_permissions  %}
                                    </td>
                                {% else %}
                                    <th>
                                        {{ group_children.label }}
                                    </th>
                                {% endif %}
                            </tr>
                             <tr>
                                <td colspan="2">
                                   <table class="table" width="100%">
                                       {% for child in group_children.children %}
                                            <tr>
                                                <td>{{ child.label }}</td>
                                                <td>
                                                    {% permission_select child group_permission group_children assigned_group_permissions  %}
                                                </td>
                                            </tr>
                                       {% endfor %}
                                   </table>
                                </td>
                             </tr>
                        {% else %}
                            <tr style="" id="{{ group_permission.id }}_permissions">
                                <td colspan="2" >
                                    <table class="table" width="100%">
                                        <tr>
                                            <td>{{ group_children.label }}</td>
                                            <td>
                                                {% permission_select group_children group_permission None assigned_group_permissions  %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                {% endif %}
                </table>
            </td>
        </tr>
   {% endfor %}

</table>
<script type="text/javascript">
    function openPermissions(el)
    {
        $("#" + $(el).attr('id')+"_permissions").toggle();
        return false;
    }
</script>