{% extends 'base.html' %}
{% block page_title %} System Access Levels{% endblock page_title %}
{% block content %}
<style type="text/css">
    tbody>tr:hover{
        background-color: lightgray;
        border-top: 1px solid #000000;
    }
</style>
    {% if perms.accounts.add_role %}
        <div class="ui vertical segment">
            <a href="{% url 'create_permission_group' %}" class="btn labeled btn-primary" role="button">
                <i class="fa fa-plus"></i> Create a permission group
            </a>
        </div>
    {% endif %}
    <br />
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if groups %}
                    {% for group in groups %}
                        <tr onclick="openDetail(this)" data-id="{{ group.id }}" data-detail-url="{% url 'edit_permission_group' group.id %}">
                            <td class="task-desc">
                                {{ group.label }}
                            </td>
                            <td>
                                {% if group.is_active  %}
                                    <span class="label label-success">Active</span>
                                {% else %}
                                    <span class="label label-danger">Disabled</span>
                                {% endif %}
                            </td>
                            <td class="text-left actions">
                                <a href="{% url 'edit_permission_group' group.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'delete_permission_group' group.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                <a href="{% url 'permission_group_members' group.id   %}" data-toggle="tooltip" title="" class="btn-sm btn-warning" data-original-title="Members"><i class="fa fa-users"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no permission groups available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}