{% load widget_tweaks %}
<div class="mod_header">
    <h2>Contact us today</h2>
</div>

<div class="row mt-5 my-5">
    <div class="col-lg-3 col-sm-12 col-md-4"></div>
	<aside class="col-lg-6 col-sm-12 col-md-6">
<!-- ============================ COMPONENT FEEDBACK  ================================= -->
	<div class="card">
      <div class="mod_intro_text mt-5">
        <p class="text-muted">We will love to tell you more about <span class="bold_800">docuflow</span><br>
        Leave us a few details and we&#39;ll be in touch as soon as possible!</p>
      </div>
      <div class="card-body">
      <form id="contact" action="{% url 'enquiry' %}" method="post" novalidate="novalidate">
        {% csrf_token %}
        <div class="form-row">
             <div class="col form-group control-group  {% if form.name.errors %}error{% endif %}">
                {{ form.name.label_tag }}
                {% render_field form.name class="form-control" %}
                {% if form.name.auto_id  != "id_tos" %}
                    {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                {% endif %}
            </div>
             <div class="col form-group control-group {% if form.email.errors %}error{% endif %}">
                {{ form.email.label_tag }}
                {% render_field form.email class="form-control" %}
                {% if form.email.auto_id  != "id_tos" %}
                    {% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}
                {% endif %}
            </div>
		</div> <!-- form-row.// -->
        <div class="form-row">
             <div class="col form-group control-group {% if form.company.errors %}error{% endif %}">
                {{ form.company.label_tag }}
                {% render_field form.company class="form-control" %}
                {% if form.company.auto_id  != "id_tos" %}
                    {% if form.company.errors %}<span class="help-inline">{{ form.company.errors }}</span>{% endif %}
                {% endif %}
            </div>
             <div class="col form-group control-group {% if form.phone_number.errors %}error{% endif %}">
                {{ form.phone_number.label_tag }}
                {% render_field form.phone_number class="form-control" %}
                {% if form.phone_number.auto_id  != "id_tos" %}
                    {% if form.phone_number.errors %}<span class="help-inline">{{ form.phone_number.errors }}</span>{% endif %}
                {% endif %}
            </div>
		</div> <!-- form-row.// -->
		<div class="form-group">
            {{ form.message.label_tag }} ?
            {% render_field form.message class="form-control" %}
            {% if form.message.auto_id  != "id_tos" %}
                {% if form.message.errors %}<span class="help-inline">{{ form.message.errors }}</span>{% endif %}
            {% endif %}
		</div>
		<button type="button" class="btn submit btn-block" id="send_enquiry">Send Enquiry</button>
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
<!-- ============================ COMPONENT FEEDBACK END.// ================================= -->
	</aside>
	<div class="col-lg-4 col-sm-12 col-md-4"></div>
</div>