{% extends 'layout.html' %}
{% load static %}
{% load thumbnail %}
{% block stylesheet %}
    <script type="text/javascript" src="{% static 'vendor/slick/slick-theme.css' %}"></script>
{% endblock stylesheet %}
{% block content %}
<div class="container-fluid mt-5 my-5">
    <div class="row">
        {% for plan in plans %}
            {% if plan.description %}
                <div class="col-md-3 ">
                    <article class="card  item-pricing">
                        <h6 class="card-header">
                            <small class="text-uppercase">{{ plan.description }}</small>
                        </h6>
                        <div class="card-body">
                            <p class="price">R<strong>{{ plan.price }} </strong> monthly</p>

                            <ul class="list-check" style="min-height: 120px">
                                <li>
                                    {{ plan.invoices_from }}
                                    {% if plan.invoices_to > 0  %} -
                                        <strong>{{ plan.invoices_to }}</strong>
                                    {% else %}
                                        <strong>+</strong>
                                    {% endif %} Docs/month
                                </li>
                                {% for plan_item in plan.plan_items %}
                                    <li>{{ plan_item }}</li>
                                {% endfor %}
                                <li>Customer Service</li>
                                <li>Sub-accounts</li>
                                <li>Unlimited products</li>
                            </ul>
                            <a href="{% url 'plan_signup' plan.slug %}" class=" btn submit btn-block">Sign Up</a>
                        </div> <!-- card-body.// -->
                    </article> <!-- item-pricing .// -->
                </div> <!-- col.// -->
            {% endif %}
        {% endfor %}
    </div>

</div>
{% include 'enquiry/enquire.html' %}


<div id="docu_features">
	<div class="inner">

	<div id="docu_features_header">
		<h1>Go paperless with Docuflow</h1>
	</div>


	<div id="docu_features_holder">


		<div id="feat_items_col_1">

		<div class="feature_item" id="feature_item_1">
			<div class="feature_item_top">

				<div class="feat_item_img">
					<img src="{% static 'images/icons/icon-organise.png' %}">
				</div>

				<div class="feat_item_title">
					<h3>Document Organization</h3>
				</div>
			</div>


			<div id="feat_item_text">
				<p>Documents flow into the system automatically via an email, limiting the number of envelopes or printing of documents required</p>
			</div>

		</div>


	<div class="feature_item" id="feature_item_2">
			<div class="feature_item_top">

				<div class="feat_item_img">
					<img src="{% static 'images/icons/icon-vat-prep.png' %}">
				</div>

				<div class="feat_item_title">
					<h3>Vat Preperation</h3>
				</div>
			</div>

		<div id="feat_item_text">
			<p>Claim your VAT once the document arrives into the docuflow system, not when your creditors person has captured the document when received from your management</p>
		</div>
	</div>



		<div class="feature_item" id="feature_item_3">
			<div class="feature_item_top">

				<div class="feat_item_img">
					<img src="{% static 'images/icons/icon-reporting.png' %}">
				</div>

				<div class="feat_item_title">
					<h3>Reporting</h3>
				</div>
			</div>

		<div id="feat_item_text">
			<p>Various standard reports to help and assist your accountant to know exactly what is happening, giving you better, quicker feedback on your business</p>
		</div>
		</div>

	</div>



	<div id="feat_items_col_2">


		<div class="feature_item" id="feature_item_4">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-backup.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Proper backup</h3>
					</div>
				</div>

			<div id="feat_item_text">
				<p>All documents are stored in the cloud in a two backup storage system always ensuring that your documents are always available</p>
			</div>
		</div>




		<div class="feature_item" id="feature_item_5">
			<div class="feature_item_top">

				<div class="feat_item_img">
					<img src="{% static 'images/icons/icon-track-documents.png' %}">
				</div>

				<div class="feat_item_title">
					<h3>Approve and Track Documents</h3>
				</div>
			</div>

		<div id="feat_item_text">
			<p>On the go, anywhere, anytime a company employee can go in and approve, track, run a report on any document and see where it is, what happened to it and who signed it</p>
		</div>
		</div>

		<div class="feature_item" id="feature_item_6">
			<div class="feature_item_top">

				<div class="feat_item_img">
					<img src="{% static 'images/icons/icon-standardized-posting.png' %}">
				</div>

				<div class="feat_item_title">
					<h3>Standardized Account Posting</h3>
				</div>
			</div>

		<div id="feat_item_text">
			<p>With the ability to attach standard account posting onto suppliers, it helps to allow your numbers to come through more consistent giving you a better comparison</p>
		</div>
		</div>



	</div>




	<div id="feat_items_col_3">

		<div class="feature_item" id="feature_item_3">
			<div class="feature_item_top">

				<div class="feat_item_img">
					<img src="{% static 'images/icons/icon-handling.png' %}">
				</div>

				<div class="feat_item_title">
					<h3>Better Control, Faster handling</h3>
				</div>
			</div>

			<div id="feat_item_text">
				<p>Reduce the risk for fraud, handle the document faster without losing track of the document at any stage and have full control of the document</p>
			</div>
		</div>


		<div class="feature_item" id="feature_item_6">
			<div class="feature_item_top">

				<div class="feat_item_img">
					<img src="{% static 'images/icons/icon-avoid-duplication.png' %}">
				</div>

				<div class="feat_item_title">
					<h3>Avoid duplication of documents</h3>
				</div>
			</div>

		<div id="feat_item_text">
			<p>The system keeps an eye out for you to ensure that you do not pay an document twice by mistake and ensures that only approved documents are paid</p>
		</div>
		</div>


		<div class="feature_item" id="feature_item_9">
			<div class="feature_item_top">

				<div class="feat_item_img">
					<img src="{% static 'images/icons/icon-intervention.png' %}">
				</div>

				<div class="feat_item_title">
					<h3>Intervention</h3>
				</div>
			</div>

            <div id="feat_item_text">
                <p>Allows the system to determine if a document needs to flow through to a supervisor, to review the document before it is paid. Easy to setup, better control again for top management</p>
            </div>
		</div>

	</div>
</div>

<div class="singup_cta">
	<a href="{% url 'plans_pricing' %}">Sign up now and take control of your business expenses</a>
</div>



</div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'vendor/slick/slick.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#docu_packages').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 3,
            responsive: [
                {
                  breakpoint: 768,
                  settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 3
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                  }
                }
            ]
      });
    });
    </script>
{% endblock %}