<tr>
    <td>Created By</td>
    <td class="text-left">{% if sales_invoice.profile %}{{ sales_invoice.profile }}{% endif %}</td>
</tr>
<tr>
    <td>Role</td>
    <td class="text-left">{% if sales_invoice.role %}{{ sales_invoice.role }}{% endif %}</td>
</tr>
<tr>
    <td>Date Created</td>
    <td class="text-left">{% if sales_invoice.created_at %}{{ sales_invoice.created_at|date:'d-M-Y' }}{% endif %}</td>
</tr>
<tr>
    <td>Time Created</td>
    <td class="text-left">{% if sales_invoice.created_at %}{{ sales_invoice.created_at|date:'H:s' }}{% endif %}</td>
</tr>