{% load static i18n %}
<table class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>{% translate "By" %}</th>
            <th>{% translate "Comment" %}</th>
            <th>{% translate "Number" %}</th>
            <th>{% translate "Date" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for tracking in trackings %}
            <tr>
                <td>{{ tracking.profile }} - {{ tracking.role }}</td>
                <td>{{ tracking.comment }}</td>
                <td>
                    {% if tracking.data.link_url and tracking.data.reference%}
                        <a href="{{ tracking.data.link_url }}" target="_blank" >{{ tracking.data.reference }}</a>
                    {% else %}
                        {{ tracking.data.reference }}
                    {% endif %}
                </td>
                <td>{{ tracking.created_at }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">{% translate "No tracking found" %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>