{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Roles Overview {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="Search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group pull-right form-inline">
                <select id="template" class="form-control">
                    <option>--select template--</option>
                </select>
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
  </div>
  <div class="panel-body">

        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
              <fieldset>
                    <div class="form-group {% if form.company.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.company.id_for_label }}">{{ form.company.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.company|add_class:"form-control"  }}
                            {% if form.company.auto_id  != "id_tos" %}
                                {% if form.company.errors %}<span class="help-inline">{{ form.company.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.account.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.account.id_for_label }}">{{ form.account.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.account class="form-control" %}
                            {% if form.account.auto_id  != "id_tos" %}
                                {% if form.account.errors %}<span class="help-inline">{{ form.account.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.user.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.user.id_for_label }}">{{ form.user.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.user class="form-control" %}
                            {% if form.user.auto_id  != "id_tos" %}
                                {% if form.user.errors %}<span class="help-inline">{{ form.user.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.show_details.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.show_details.id_for_label }}">{{ form.show_details.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.show_details class="form-control" %}
                            {% if form.show_details.auto_id  != "id_tos" %}
                                {% if form.show_details.errors %}<span class="help-inline">{{ form.show_details.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.show_company_permission.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.show_company_permission.id_for_label }}">{{ form.show_company_permission.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.show_company_permission class="form-control"%}
                            {% if form.show_company_permission.auto_id  != "id_tos" %}
                                {% if form.show_company_permission.errors %}<span class="help-inline">{{ form.show_company_permission.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>


                    <div class="form-group control-group {% if form.show_account_permission.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.show_account_permission.id_for_label }}">{{ form.show_account_permission.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.show_account_permission class="form-control" %}
                            {% if form.show_account_permission.auto_id  != "id_tos" %}
                                {% if form.show_account_permission.errors %}<span class="help-inline">{{ form.show_account_permission.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.show_object_permission.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.show_object_permission.id_for_label }}">{{ form.show_object_permission.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.show_object_permission|add_class:"form-control"  }}
                            {% if form.show_object_permission.auto_id  != "id_tos" %}
                                {% if form.show_object_permission.errors %}<span class="help-inline">{{ form.show_object_permission.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.show_item_type_permission.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.show_item_type_permission.id_for_label }}">{{ form.show_item_type_permission.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.show_item_type_permission|add_class:"form-control"  }}
                            {% if form.show_object_permission.auto_id  != "id_tos" %}
                                {% if form.show_item_type_permission.errors %}<span class="help-inline">{{ form.show_item_type_permission.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.show_expense_type_permission.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.show_expense_type_permission.id_for_label }}">{{ form.show_expense_type_permission.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.show_expense_type_permission|add_class:"form-control"  }}
                            {% if form.show_expense_type_permission.auto_id  != "id_tos" %}
                                {% if form.show_expense_type_permission.errors %}<span class="help-inline">{{ form.show_expense_type_permission.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.active.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.active.id_for_label }}">{{ form.active.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.active|add_class:"form-control"  }}
                            {% if form.active.auto_id  != "id_tos" %}
                                {% if form.active.errors %}<span class="help-inline">{{ form.active.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.number_of_lines.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.number_of_lines.id_for_label }}">{{ form.number_of_lines.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.number_of_lines|add_class:"form-control"  }}
                            {% if form.number_of_lines.auto_id  != "id_tos" %}
                                {% if form.number_of_lines.errors %}<span class="help-inline">{{ form.number_of_lines.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
              </fieldset>
        </form>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}