{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %}  Roles Overview{% endblock page_title %}
{% block content %}
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Role</th>
                        <th>Name</th>
                        <th>User Group</th>
                        <th>Amount Limit</th>
                        <th>Role Administrator</th>
                        <th>Role Supervisor</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% if roles %}
                        {% for role in roles %}
                            <tr>
                               <td>
                                   {% for role_profile in role.profiles.all %}
                                       {{ role_profile.profile }},
                                   {% endfor %}
                               </td>
                               <td>{{ role.name }}</td>
                               <td>{{ role.label }}</td>
                               <td>
                                   {% for permission_group in role.permission_groups.all %}
                                       {{ permission_group }}
                                   {% endfor %}
                               </td>
                               <td>{{ role.authorization_amount }}</td>
                               <td>{{ role.manager_role }}</td>
                               <td>{{ role.supervisor_role }}</td>
                               <td>Active</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no roles available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}