{% extends 'base.html' %}
{% load static %}
{% block page_title %} Delivery Methods {% endblock page_title %}
{% block content %}
   <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
             <a href="{% url 'create_delivery_method' %}" class="btn btn-primary" role="button">
                <i class="fa fa-plus-circle"></i> Create
            </a>
          </div>
      </div>
      <div class="panel-body align-center">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if delivery_methods %}
                            {% for delivery_method in delivery_methods %}
                                <tr>
                                    <td>{{ delivery_method.name }}</td>
                                    <td class="text-left actions">
                                        <a href="{% url 'edit_delivery_method' delivery_method.id %}"
                                           data-toggle="tooltip"
                                           title="" class="btn-sm btn-primary"
                                           data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                        <a href="{% url 'delete_delivery_method' delivery_method.id %}"
                                           onclick="return confirm('Are you sure you want to delete this delivery method')"
                                           data-toggle="tooltip" title=""
                                           class="btn-sm btn-danger"
                                           data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">There are no delivery methods</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/delivery_method.js' %}"></script>

{% endblock %}