{% load i18n %}
{% load static %}
{% load widget_tweaks %}

<div class="form-group control-group {% if form.asset_account.errors %}error{% endif %}">
    <label class="control-label txt-font12" for="{{ form.asset_account.id_for_label }}">{{ form.asset_account.label_tag }}</label>
    <div class="controls">
        {% render_field form.asset_account class="form-control chosen-select" %}
        {% if form.asset_account.auto_id  != "id_tos" %}
            {% if form.asset_account.errors %}<span class="help-inline">{{ form.asset_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.accumulated_depreciation_account.errors %}error{% endif %}">
    <label class="control-label txt-font12" for="{{ form.accumulated_depreciation_account.id_for_label }}">{{ form.accumulated_depreciation_account.label_tag }}</label>
    <div class="controls">
        {% render_field form.accumulated_depreciation_account class="form-control  chosen-select" %}
        {% if form.accumulated_depreciation_account.auto_id  != "id_tos" %}
            {% if form.accumulated_depreciation_account.errors %}<span class="help-inline">{{ form.accumulated_depreciation_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.depreciation_account.errors %}error{% endif %}">
    <label class="control-label txt-font12" for="{{ form.depreciation_account.id_for_label }}">{{ form.depreciation_account.label_tag }}</label>
    <div class="controls">
        {% render_field form.depreciation_account class="form-control chosen-select"  %}
        {% if form.depreciation_account.auto_id  != "id_tos" %}
            {% if form.depreciation_account.errors %}<span class="help-inline">{{ form.depreciation_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.depreciation_method.errors %}error{% endif %}">
    <label class="control-label txt-font12" for="{{ form.depreciation_method.id_for_label }}">{{ form.depreciation_method.label_tag }}</label>
    <div class="controls">
        {% render_field form.depreciation_method class="form-control chosen-select" %}
        {% if form.depreciation_method.auto_id  != "id_tos" %}
            {% if form.depreciation_method.errors %}<span class="help-inline">{{ form.depreciation_method.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.depreciation_rate.errors %}error{% endif %}">
    <label class="control-label txt-font12" for="{{ form.depreciation_rate.id_for_label }}">{{ form.depreciation_rate.label_tag }}</label>
    <div class="controls">
        {% if is_section_b or is_section_c  %}
            {% render_field form.depreciation_rate class="form-control" readonly="readonly" %}
        {% else %}
            {% render_field form.depreciation_rate class="form-control" %}
        {% endif %}
        {% if form.depreciation_rate.auto_id  != "id_tos" %}
            {% if form.depreciation_rate.errors %}<span class="help-inline">{{ form.depreciation_rate.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>