{% extends 'base.html' %}
{% block page_title %}Delete Asset Category{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="confirm_disposal_form" action="{% url 'save_assets_disposal' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Assets to be disposed</th>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset in assets %}
                            <tr>
                                <td>{{ asset.name }}</td>
                                <td>{{ asset.asset_number }}</td>
                                <td>{{ asset.cost_price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{ assets_total }}</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Details of disposal</th>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>Period</td>
                                <td></td>
                                <td>{{ period }}</td>
                            </tr>
                            <tr>
                                <td>Date of disposal</td>
                                <td></td>
                                <td>{{ period }}</td>
                            </tr>
                            <tr>
                                <td>Invoice</td>
                                <td></td>
                                <td>{{ period }}</td>
                            </tr>
                            <tr>
                                <td>Selling price</td>
                                <td></td>
                                <td>{{ period }}</td>
                            </tr>
                            <tr>
                                <td>Net Profit/Loss on sale of assets</td>
                                <td></td>
                                <td class="text-right">{{ period }}</td>
                            </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{ assets_total }}</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </table>

    <button type="button" id="confirm_asset_disposal" class="btn btn-primary">Confirm Asset Disposal</button>
  </form>
{% endblock %}