{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Create Opening Asset{% endblock page_title %}
{% block content %}

  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'fixedasset/form.html' %}

    <div class="form-group">
        <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}"></script>
{% endblock %}