{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Deprecitaion Adjustment - {{ year }} {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<form action="{% url 'depreciation_adjustments' %}" method="post" id="depreciation_adjustments_form" name="depreciation_adjustments_form">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix" style="overflow: visible !important;">
            <div class="pull-left">
            </div>

            <div class="pull-right">
                  {% render_field form.period class="form-control pull-right"  %}
                  {% if form.period.auto_id  != "id_tos" %}
                     {% if form.perioderrors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                  {% endif %}
                  <span class="pull-right">in</span>
                  <button type="button" class="btn btn-primary btn-sm pull-right"
                          name="update_depreciation_adjustments"
                          id="update_depreciation_adjustments"
                          data-toggle="tooltip"><i class="fa fa-save"></i> Update</button>

            </div>
        </div>
        <div class="panel-body">
            {% csrf_token %}
            <table class="table table-bordered table-condensed" width="100%">
                <thead>
                    <tr>
                        <th>Asset Description</th>
                        <th class="text-right">Closing Depreciation</th>
                        <th class="text-right">New Closing Balance</th>
                        <th class="text-right">Adjustment</th>
                        <th class="text-right">Reason</th>
                    </tr>
                </thead>
                <tbody>
                {% if fixed_assets|length > 0 %}
                    {% for k, asset_category in fixed_assets.items %}
                        <tr>
                            <th class="table-header" colspan="13">{{ asset_category.category }}</th>
                        </tr>
                        {% for f, fixed_asset in asset_category.assets.items %}
                            <tr class="fixed-asset-row">
                                <td>{{ fixed_asset.asset.name }}</td>
                                <td class="text-right">
                                    {{ fixed_asset.closing_depreciation|money }}
                                     <input type="hidden" value="{{ fixed_asset.closing_depreciation }}"
                                            name="opening_depreciation_{{ fixed_asset.id }}"
                                            id="opening_depreciation_{{ fixed_asset.id }}" />
                                </td>
                                <td class="text-right">
                                    <input type="text" value="{{ fixed_asset.closing_depreciation|money }}"
                                           data-asset-id="{{ fixed_asset.id }}"
                                           data-closing-depreciation="{{ fixed_asset.closing_depreciation }}"
                                           id="closing_depreciation_{{ fixed_asset.id }}"
                                           name="closing_depreciation_{{ fixed_asset.id }}"
                                           class="form-control fixed-asset-closing-depreciation text-right"
                                    >
                                </td>
                                <td class="text-right">
                                    {% if fixed_asset.adjustment %}
                                        <input type="text" id="depreciation_adjustment_{{ fixed_asset.id }}" value="" readonly="readonly" />
                                        <input type="hidden"
                                               data-asset-id="{{ fixed_asset.id }}"
                                               id="depreciation_adjustment_value_{{ fixed_asset.id }}"
                                               name="depreciation_adjustment_value_{{ fixed_asset.id }}"
                                               value=""
                                               class="form-control fixed-asset-depreciation-adjustment text-right"
                                        >
                                    {% else %}
                                        <input type="text" id="depreciation_adjustment_{{ fixed_asset.id }}"  readonly="readonly"/>
                                        <input type="hidden" value=""
                                               data-asset-id="{{ fixed_asset.id }}"
                                               id="depreciation_adjustment_value_{{ fixed_asset.id }}"
                                               name="depreciation_adjustment_value_{{ fixed_asset.id }}"
                                               class="form-control fixed-asset-depreciation-adjustment text-right"
                                        >
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    <input type="text" value=""
                                           data-asset-id="{{ fixed_asset.id }}"
                                           id="reason_{{ fixed_asset.id }}"
                                           name="reason_{{ fixed_asset.id }}"
                                           class="form-control"
                                    >
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="12">&nbsp;</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <tr class="totals-row">
                            <td>Sum</td>
                            <td></td>
                            <td class="text-right">
                                <span id="balances_total">{{ total|money }}</span>
                            </td>
                            <td class="text-right">
                                <span id="balances_total">{{ total_depreciation|money }}</span>
                            </td>
                        </tr>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">There no accounts</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}"></script>
{% endblock %}