{% extends 'base.html' %}
{% block page_title %} Fixed Assets Disposals {% endblock page_title %}
{% block content %}
<form class="form-horizontal" method="post" id="po-request">
    {% csrf_token %}
    <div class="col-lg-12">
        <div class="text-left">
            <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
                <label class="col-sm-2 control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.supplier class="form-control chosen-select" %}
                    {% if form.supplier.auto_id  != "id_tos" %}
                        {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.memo_to_supplier.errors %}error{% endif %}">
                <label class="col-sm-2 control-label txt-font12" for="{{ form.memo_to_supplier.id_for_label }}">{{ form.memo_to_supplier.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.memo_to_supplier class="form-control" %}
                    {% if form.memo_to_supplier.auto_id  != "id_tos" %}
                        {% if form.memo_to_supplier.errors %}<span class="help-inline">{{ form.memo_to_supplier.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                <label class="col-sm-2 control-label txt-font12" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.branch class="form-control" %}
                    {% if form.branch.auto_id  != "id_tos" %}
                        {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="table" width="100%" id="fixed-asset-disposals">
                <thead>e No	Cost	Acc Depr	NBV	Select

                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Asset Number</th>
                        <th>Date Purchased</th>
                        <th>Unique Number</th>
                        <th>Cost Price</th>
                        <th>Acc Depr</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if fixed_assets %}
                        {% for fixed_asset in fixed_assets %}
                            <tr>
                                <td>{{ fixed_asset }}</td>
                                <td>{{ fixed_asset.category }}</td>
                                <td>{{ fixed_asset.asset_number }}</td>
                                <td>{{ fixed_asset.date_purchased }}</td>
                                <td>{{ fixed_asset.asset_number }}</td>
                                <td>{{ fixed_asset.asset_number }}</td>
                                <td>{{ fixed_asset.cost_price }}</td>
                                <td class="text-left actions">
                                    <div class="checkbox">
                                        <label style="font-size: 1em">
                                            <input type="checkbox" class="disposal-check"
                                                   name="dispose_{{ fixed_asset.id }}"
                                                   id="dispose_{{ fixed_asset.id }}"
                                                   value="{{ fixed_asset.id }}" />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no fixed assets available for disposals</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="pull-right form-group control-group">
            <button id="dispose_assets" type="submit"
                   data-ajax-url="{% url 'dispose_assets' %}"
                   class="btn btn-success btn-sm"><i class="fa fa-save"></i> Dispose</button>
        </div>
    </div>
</form>

{% endblock %}