{% extends 'base.html' %}
{% load static i18n %}
{% load compress %}
{% load widget_tweaks %}
{% block page_title %}{% translate "Edit Asset - " %} {{ fixed_asset }} {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left"></div>
      <div class="pull-right">
        {% block action_buttons %}
            <button type="button" class="btn btn-success action btn-loading"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    data-modal="{% url 'create_fixed_asset_addition' fixed_asset.id %}" id="complete_draft">
            <i class="fa fa-plus-circle"></i> {% translate "Addition" %}</button>
            &nbsp;&nbsp; | &nbsp;&nbsp;
              <a href="{% url 'fixed_asset_index' %}" id="previous_level" class="btn btn-default btn-sm"> {% translate "Prev. Level" %}</a>
        {% endblock %}
      </div>
  </div>
  <div id="fixed_asset" class="panel-body align-center p-5">
       <form method="post" novalidate="novalidate">
           <div class="row">
               <div class="col-6">
                   {% include 'fixedasset/form.html' %}
               </div>
               <div class="col-6">
                   <div class="panel panel-primary mb-3">
                        <div class="panel-heading clearfix">
                              <div class="pull-left">Locations</div>
                              <div class="pull-right">
                                <button type="button" class="btn btn-success action btn-loading"
                                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                        data-modal="{% url 'create_fixed_asset_location' fixed_asset.id %}" id="complete_draft">
                                <i class="fa fa-plus-circle"></i> {% translate "Add Location" %}</button>
                              </div>
                        </div>
                        <div class="panel-body">
                            <div id="locations" class="fixed-asset-links" data-ajax-url="{% url 'fixed_asset_locations' fixed_asset_id=fixed_asset.id %}?"></div>
                        </div>
                   </div>
                   <div class="panel panel-primary mb-3">
                        <div class="panel-heading clearfix">
                              <div class="pull-left">Depreciation Split</div>
                              <div class="pull-right">
                                <button type="button" class="btn btn-success action btn-loading"
                                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                        data-modal="{% url 'create_fixed_asset_object_depreciation' fixed_asset.id %}" id="create_fixed_asset_object_depreciation">
                                <i class="fa fa-plus-circle"></i> {% translate "Add Depreciation Split" %}</button>
                              </div>
                        </div>
                        <div class="panel-body">
                            <div id="object_depreciations" class="fixed-asset-links" data-ajax-url="{% url 'fixed_asset_object_depreciation' fixed_asset_id=fixed_asset.id %}?"></div>
                        </div>
                   </div>

                   <div class="panel panel-primary mb-3">
                        <div class="panel-heading clearfix">
                              <div class="pull-left">Warranty</div>
                              <div class="pull-right">
                                <button type="button" class="btn btn-success action btn-loading"
                                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                        data-modal="{% url 'create_fixed_asset_warranty' fixed_asset.id %}" id="create_warranty">
                                <i class="fa fa-plus-circle"></i> {% translate "Add Warranty" %}</button>
                              </div>
                        </div>
                        <div class="panel-body">
                            <div id="warranties" class="fixed-asset-links" data-ajax-url="{% url 'fixed_asset_warranty' fixed_asset_id=fixed_asset.id %}?"></div>
                        </div>
                   </div>

                   <div class="panel panel-primary mb-3">
                        <div class="panel-heading clearfix">
                              <div class="pull-left">Additions</div>
                              <div class="pull-right">
                                <button type="button" class="btn btn-success action btn-loading"
                                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                        data-modal="{% url 'create_fixed_asset_addition' fixed_asset.id %}" id="create_warranty">
                                <i class="fa fa-plus-circle"></i> {% translate "Addition" %}</button>
                              </div>
                        </div>
                        <div class="panel-body">
                            <div id="additions" class="fixed-asset-links" data-ajax-url="{% url 'fixed_asset_additions' fixed_asset_id=fixed_asset.id %}?"></div>
                        </div>
                   </div>
               </div>
           </div>
           <div class="form-group">
              <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-check"></i> Update</button>
           </div>
        </form>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}"></script>
    {% endcompress %}
{% endblock %}