{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load fixed_asset_tags %}

    {% csrf_token %}
    <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
        <div class="controls">
            {% render_field form.name class="form-control"  %}
            {% if form.name.auto_id  != "id_tos" %}
                {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.category.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.account.id_for_label }}">{{ form.category.label_tag }}</label>
        <div class="controls">
            {% render_field form.category class="form-control chosen-select" %}
            {% if form.category.auto_id  != "id_tos" %}
                {% if form.category.errors %}<span class="help-inline">{{ form.category.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.cost_price.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.cost_price.id_for_label }}">{{ form.cost_price.label_tag }}</label>
        <div class="controls">
            {% render_field form.cost_price class="form-control" %}
            {% if form.cost_price.auto_id  != "id_tos" %}
                {% if form.cost_price.errors %}<span class="help-inline">{{ form.cost_price.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.date_purchased.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.date_purchased.id_for_label }}">{{ form.date_purchased.label_tag }}</label>
        <div class="controls">
            {% render_field form.date_purchased class="form-control datepicker" %}
            {% if form.date_purchased.auto_id  != "id_tos" %}
                {% if form.date_purchased.errors %}<span class="help-inline">{{ form.date_purchased.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

{#    <div class="form-group control-group {% if form.asset_number.errors %}error{% endif %}">#}
{#        <label class="control-label txt-font12" for="{{ form.asset_number.id_for_label }}">{{ form.asset_number.label_tag }}</label>#}
{#        <div class="controls">#}
{#            {{ form.asset_number|add_class:"form-control"  }}#}
{#            {% if form.asset_number.auto_id  != "id_tos" %}#}
{#                {% if form.asset_number.errors %}<span class="help-inline">{{ form.asset_number.errors }}</span>{% endif %}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

    <div class="form-group control-group {% if form.own_asset_number.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.own_asset_number.id_for_label }}">{{ form.own_asset_number.label_tag }}</label>
        <div class="controls">
            {% render_field form.own_asset_number class="form-control" %}
            {% if form.own_asset_number.auto_id  != "id_tos" %}
                {% if form.own_asset_number.errors %}<span class="help-inline">{{ form.own_asset_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
        <div class="controls">
            {% render_field form.supplier class="form-control" %}
            {% if form.supplier.auto_id  != "id_tos" %}
                {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.location.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.location.id_for_label }}">{{ form.location.label_tag }}</label>
        <div class="controls">
            {% render_field form.location class="form-control" %}
            {% if form.location.auto_id  != "id_tos" %}
                {% if form.location.errors %}<span class="help-inline">{{ form.location.errors }}</span>{% endif %}
            {% endif %}
        </div>

    </div>

    <div class="form-group control-group {% if form.quantity.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.quantity.id_for_label }}">{{ form.quantity.label_tag }}</label>
        <div class="controls">
            {% render_field form.quantity class="form-control" %}
            {% if form.quantity.auto_id  != "id_tos" %}
                {% if form.quantity.errors %}<span class="help-inline">{{ form.quantity.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div id="asset_accounts">
        {% if fixed_asset.category %}
            {% include 'fixedasset/category_defaults.html' %}
        {% endif %}
    </div>

    {% if fixed_asset %}
        {% fixed_asset_linked_objects company fixed_asset %}
    {% else %}
        {% fixed_asset_linked_objects company None  %}
    {% endif %}