{% extends 'base.html' %}
{% load static i18n %}
{% block page_title %}{% translate "Import Fixed Assets" %} {% endblock page_title %}
{% block content %}
<form autocomplete="off" method="post" class="import-fixed-assets-form" enctype="multipart/form-data" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}
    <div class="mt-3">
        <button type="submit" id="save" class="btn btn-primary">{% translate "Save" %}</button>
    </div>
</form>
{% endblock %}
{% block javascript %}
{% endblock %}