{% extends 'base.html' %}
{% load static i18n %}
{% load compress %}
{% load widget_tweaks %}
{% block page_title %} Fixed Assets - {{ company }} {% endblock page_title %}
{% block content %}
<style>
    .panel-heading {
        overflow: visible !important;
    }

    .main-category-header {
        height: 30px;
        font-size: 1em;
        padding:8px 15px;
        background: #0C1E50;
        color: #FFFFFF;
        font-weight: bolder;
        margin: 15px 0 0 0;
        border-bottom: 1px solid #EEE;
        z-index: 99;
        position: relative;
    }

    .hide-category {
        float: right;
        margin-left: 10px;
        margin-top: -3px;
    }

    .show-category {
        float: right;
        margin-left: 10px;
        margin-top: -3px;
        display: none;
    }
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left"></div>
      <div class="pull-right">
        {% block action_buttons %}
            <a href="{% url 'create_fixed_asset' %}" class="btn labeled btn-primary" role="button">
                <i class="fa fa-plus-circle"></i> {% translate 'Create' %}
            </a>
            <a id="import_assets" class="btn btn-large btn-success" href="{% url 'import_fixed_assets' %}"><i class="fa fa-upload"></i>   {% translate "Import" %}</a>
        {% endblock %}
      </div>
  </div>
  <div id="fixed_asset" class="panel-body align-center p-5">

        {% if missing_report %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Cost Price</th>
                        <th>Date Purchased</th>
                        <th>Own Asset Number</th>
                        <th>Supplier</th>
                        <th>Location</th>
                        <th>Qty</th>
                        <th>Opening Cost</th>
                        <th>Opening Acc. Depr</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for missing_row in missing_report %}
                        <tr>
                            <td>{{ missing_row.fixed_asset.name }}</td>
                            <td>
                                {% if missing_row.missing.category %}
                                    <span class="text-danger">{{ missing_row.fixed_asset.category }}</span>
                                {% else %}
                                    {{ missing_row.fixed_asset.category }}
                                {% endif %}
                            </td>
                            <td>{{ missing_row.fixed_asset.cost_price }}</td>
                            <td>{{ missing_row.fixed_asset.date_purchased }}</td>
                            <td>{{ missing_row.fixed_asset.own_asset_number }}</td>
                            <td>{{ missing_row.fixed_asset.supplier }}</td>
                            <td>{{ missing_row.fixed_asset.location }}</td>
                            <td>{{ missing_row.fixed_asset.quantity }}</td>
                            <td>{{ missing_row.fixed_asset.opening_cost }}</td>
                            <td>{{ missing_row.fixed_asset.opening_account_depreciation }}</td>
                            <td>
                                {% if missing_row.missing.branch %}
                                    <span class="text-danger">{{ missing_row.fixed_asset.branch }}</span>
                                {% else %}
                                    {{ missing_row.fixed_asset.branch }}
                                {% endif %}
                            </td>
                            {% for split, value in missing_row.fixed_asset.splits.items %}
                                <td>
                                     {% if missing_row.missing.object_items and split in missing_row.missing.object_items %}
                                        <span class="text-danger">{{ split }}</span>
                                    {% else %}
                                        {{ split }}
                                    {% endif %}
                                </td>
                                <td>{{ value.percentage }}</td>
                                {% for k, val in value.projects.items %}
                                    <td>
                                        {% if missing_row.missing.object_items and k in missing_row.missing.object_items %}
                                            <span class="text-danger">{{ k }}</span>
                                        {% else %}
                                            {{ k }}
                                        {% endif %}
                                    </td>
                                    <td>{{ val }}</td>
                                {% endfor %}
                            {% endfor %}
                            <td>
                                {% if missing_row.missing.message %}
                                    <span class="text-danger">{{ missing_row.missing.message }}</span>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

       <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>{% translate 'Name' %}</th>
                    <th class="text-right">{% translate 'Cost Price' %}</th>
                    <th>{% translate 'Date Purchased' %}</th>
                    <th>{% translate 'Own Asset Number' %}</th>
                    <th>{% translate 'Supplier' %}</th>
                    <th>{% translate 'Location' %}</th>
                    <th>{% translate 'Quantity' %}</th>
                    <th>{% translate 'Asset Account' %}</th>
                    <th>{% translate 'Accumulated Depr. Account' %}</th>
                    <th>{% translate 'Depr. Account' %}</th>
                    <th>{% translate 'Depr. Method' %}</th>
                    <th class="text-right">{% translate 'Depr. Rate' %}</th>
                    <th>{% translate 'Action' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for main_category, sub_categories in categories.items %}
                    <tr class="table-header">
                        <th colspan="14">
                           <h3 data-category-id="{{ main_category.id }}" id="{{ main_category.id }}" class="main-category-header">
                              <span class="pull-left">{{ main_category }}</span>
                              <span class="pull-right">
                                  <span class="hide-category" id="hide_category_{{ main_category.id }}"><i class="fa fa-angle-down"></i></span>
                                  <span class="show-category" id="show_category_{{ main_category.id }}"><i class="fa fa-angle-right"></i></span>
                              </span>
                            </h3>
                        </th>
                    </tr>
                    {% for category, category_assets in sub_categories.categories.items %}
                        <tr class="table-header category-{{ main_category.id }}-sub-categories" style="display: none;">
                            <th class="table-header" colspan="19">
                               <h3 data-category-id="{{ category.id }}" id="{{ category.id }}" class="sub-category-header" style="height: 30px; font-size: 1em; padding:8px 15px; background: #485472; color: #FFFFFF; font-weight: bolder; margin: 15px 0 0 0; border-bottom: 1px solid #EEE; z-index: 99; position: relative;">
                                  <span class="pull-left">{{ category }}</span>
                                  <span class="pull-right">
                                     <span class="hide-category" id="hide_sub_category_{{ category.id }}"><i class="fa fa-angle-down"></i></span>
                                     <span class="show-category" id="show_sub_category_{{ category.id }}"><i class="fa fa-angle-right"></i></span>
                                  </span>
                                </h3>
                            </th>
                        </tr>
                        {% for fixed_asset, asset in category_assets.assets.items %}
                            {% if fixed_asset.invoice_account %}
                                <tr onclick="openDetail(this)"
                                    data-detail-url="{% url 'invoice_detail' fixed_asset.invoice_account.invoice_id %}"
                                    style="display: none;"
                                    {% if fixed_asset.is_pending_update %}
                                        class="category-{{ category.id }}-assets ui-state-error-text"
                                    {% elif fixed_asset.is_pending %}
                                        class="category-{{ category.id }}-assets grayout"
                                    {% else %}
                                        class="category-{{ category.id }}-assets"
                                    {% endif %}>
                            {% else %}
                                <tr class="category-{{ category.id }}-assets {% if fixed_asset.is_pending_update %} ui-state-error-text {% elif fixed_asset.is_pending %} grayout {% endif %}" style="display: none;">
                            {% endif %}
                                <td></td>
                                <td>{{ fixed_asset }}</td>
                                <td class="text-right">{{ fixed_asset.cost_price }}</td>
                                <td>{{ fixed_asset.date_purchased }}</td>
                                <td>{{ fixed_asset.own_asset_number }}</td>
                                <td>{{ fixed_asset.supplier}}</td>
                                <td>{{ fixed_asset.location }}</td>
                                <td>{{ fixed_asset.quantity }}</td>
                                <td>{{ fixed_asset.asset_account.code }}</td>
                                <td>{{ fixed_asset.accumulated_depreciation_account.code }}</td>
                                <td>{{ fixed_asset.depreciation_account.code }}</td>
                                <td>{{ fixed_asset.method_name }}</td>
                                <td class="text-right">{{ fixed_asset.depreciation_rate_percentage }}</td>
                                <td class="text-left actions">
                                   <a href="{% url 'edit_fixed_asset' fixed_asset.id %}"
                                      data-toggle="tooltip" title="" class="btn-sm btn-primary"
                                      data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                   <a href="{% url 'delete_fixed_asset' fixed_asset.id %}" onclick="return confirm('Are you sure you want to delete this fixed asset')"
                                      data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                      data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr class="category-{{ main_category.id }}-assets" >
                        <th colspan="14">&nbsp;</th>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="14">{% translate 'There are no assets available' %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}"></script>
    {% endcompress %}
{% endblock %}