{% extends 'modal.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load fixed_asset_tags %}
{% block title %}
    <div class="row clearfix">
        <div class="col-8 text-left pull-left">Asset Details - {{ invoice_account.account }} - {{ invoice_account.amount }}</div>
        <div class="col-4 text-right pull-right">{{ count_linked }} of {{ count }}</div>
    </div>
{% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form" id="create_invoice_asset" name="create_invoice_asset"
        action="{% url 'create_invoice_asset' invoice_id=invoice_account.invoice_id invoice_account_id=invoice_account.id %}">
      {% csrf_token %}
     {% render_field form.year class="form-control"  %}
     <div class="modal-body">
     <div class="alert alert-warning" style="margin-bottom: 4px;">You have posted to an asset account, please complete the asset details below</div>

        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4" style="margin-bottom: 4px;">
            <button id="add_new" data-action="new-asset" data-option-value="{{ new_asset }}" class="btn btn-warning btn-large fixed-asset-action"><i class="fa fa-plus"></i> ADD NEW</button>
            <button id="asset_addition" data-action="asset-addition" data-option-value="{{ asset_addition }}" class="btn btn-primary btn-large fixed-asset-action"><i class="fa fa-plus-circle"></i> ADDITION</button>
        </div>

        <div class="form-group control-group action-options new-asset asset-addition {% if form.category.errors %}error{% endif %}" style="display: none;">
            <label class="control-label txt-font12" for="{{ form.category.id_for_label }}">{{ form.category.label_tag }}</label>
            <div class="controls">
                {% render_field form.category class="form-control"  %}
                {% if form.category.auto_id  != "id_tos" %}
                    {% if form.category.errors %}<span class="help-inline">{{ form.category.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group control-group action-options new-asset asset-addition {% if form.name.errors %}error{% endif %}" style="display: none;">
            <label class="control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
            <div class="controls">
                {% render_field form.name class="form-control"  %}
                {% if form.name.auto_id  != "id_tos" %}
                    {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="new-asset action-options" style="display: none;">

            <div class="form-group control-group {% if form.own_asset_number.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.own_asset_number.id_for_label }}">{{ form.own_asset_number.label_tag }}</label>
                <div class="controls">
                    {% render_field form.own_asset_number class="form-control" %}
                    {% if form.own_asset_number.auto_id  != "id_tos" %}
                        {% if form.own_asset_number.errors %}<span class="help-inline">{{ form.own_asset_number.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group control-group {% if form.location.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.location.id_for_label }}">{{ form.location.label_tag }}</label>
                <div class="controls">
                    {% render_field form.location class="form-control" %}
                    {% if form.location.auto_id  != "id_tos" %}
                        {% if form.location.errors %}<span class="help-inline">{{ form.location.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group control-group {% if form.quantity.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.quantity.id_for_label }}">{{ form.quantity.label_tag }}</label>
                <div class="controls">
                    {% render_field form.quantity class="form-control" %}
                    {% if form.quantity.auto_id  != "id_tos" %}
                        {% if form.quantity.errors %}<span class="help-inline">{{ form.quantity.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group control-group {% if form.asset_account.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.asset_account.id_for_label }}">{{ form.asset_account.label_tag }}</label>
                <div class="controls">
                    {% render_field form.asset_account class="form-control chosen-select" %}
                    {% if form.asset_account.auto_id  != "id_tos" %}
                        {% if form.asset_account.errors %}<span class="help-inline">{{ form.asset_account.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group control-group {% if form.accumulated_depreciation_account.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.accumulated_depreciation_account.id_for_label }}">{{ form.accumulated_depreciation_account.label_tag }}</label>
                <div class="controls">
                    {% render_field form.accumulated_depreciation_account class="form-control" %}
                    {% if form.accumulated_depreciation_account.auto_id  != "id_tos" %}
                        {% if form.accumulated_depreciation_account.errors %}<span class="help-inline">{{ form.accumulated_depreciation_account.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

             <div class="form-group control-group {% if form.depreciation_account.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.depreciation_account.id_for_label }}">{{ form.depreciation_account.label_tag }}</label>
                <div class="controls">
                    {% render_field form.depreciation_account class="form-control chosen-select" %}
                    {% if form.depreciation_account.auto_id  != "id_tos" %}
                        {% if form.depreciation_account.errors %}<span class="help-inline">{{ form.depreciation_account.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group control-group {% if form.depreciation_method.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.depreciation_method.id_for_label }}">{{ form.depreciation_method.label_tag }}</label>
                <div class="controls">
                    {% render_field form.depreciation_method class="form-control chosen-select" %}
                    {% if form.depreciation_method.auto_id  != "id_tos" %}
                        {% if form.depreciation_method.errors %}<span class="help-inline">{{ form.depreciation_method.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group control-group {% if form.depreciation_rate.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.depreciation_rate.id_for_label }}">{{ form.depreciation_rate.label_tag }}</label>
                <div class="controls">
                    {% render_field form.depreciation_rate class="form-control" %}
                    {% if form.depreciation_rate.auto_id  != "id_tos" %}
                        {% if form.depreciation_rate.errors %}<span class="help-inline">{{ form.depreciation_rate.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            {% fixed_asset_linked_objects company None  %}

        </div>
        <div class="asset-addition action-options" style="display: none;">

            <div class="form-group control-group {% if form.asset_category.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.asset_category.id_for_label }}">{{ form.asset_category.label_tag }}</label>
                <div class="controls">
                    {% render_field form.asset_category class="form-control" %}
                    {% if form.asset_category.auto_id  != "id_tos" %}
                        {% if form.asset_category.errors %}<span class="help-inline">{{ form.asset_category.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group control-group {% if form.asset.errors %}error{% endif %}">
                <label class="control-label txt-font12" for="{{ form.asset.id_for_label }}">{{ form.asset.label_tag }}</label>
                <div class="controls">
                    {% render_field form.asset class="form-control"  %}
                    {% if form.asset.auto_id  != "id_tos" %}
                        {% if form.asset.errors %}<span class="help-inline">{{ form.asset.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
     <div class="modal-footer" style="display: none;">
         {% render_field form.asset_option %}
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="save_invoice_asset" type="submit" id="save_invoice_asset"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}