{#{% if form_style and form_style == 'horizontal'%}#}
{#    {% for k, model in object_categories.items %}#}
{#        <div class="form-group control-group">#}
{#            <label class="col-sm-4 control-label txt-font12" for="object_item_{{ k }}">{{ model.label }}</label>#}
{#            <div class="col-sm-8">#}
{#                <select id="object_item_{{ k }}" name="object_item" class="form-control chosen-select">#}
{#                    <option value="">--</option>#}
{#                        {% for o, object_item in model.objects.items %}#}
{#                            {% if model.value and model.value == object_item.id  %}#}
{#                                <option value="{{ object_item.id }}" selected="selected">{{ object_item }}</option>#}
{#                            {% else %}#}
{#                                <option value="{{ object_item.id }}">{{ object_item }}</option>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                </select>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% else %}#}
{#    {% for k, model in object_categories.items %}#}
{#        <div class="col-12">#}
{#            <label for="object_item_{{ k }}">{{ model.label }}</label>#}
{#            <select id="object_item_{{ k }}" name="object_item" class="form-control chosen-select">#}
{#                <option value="">--</option>#}
{#                    {% for object_item in model.objects %}#}
{#                        {% if model.value and model.value == object_item.id  %}#}
{#                            <option value="{{ object_item.id }}" selected="selected">{{ object_item }}</option>#}
{#                        {% else %}#}
{#                            <option value="{{ object_item.id }}">{{ object_item }}</option>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#            </select>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endif %}#}

{% for k, company_object in object_categories.items %}
    {% if form_style and form_style == 'horizontal'%}
        <div class="form-group control-group">
            <label class="col-sm-4 control-label txt-font12" for="object_item_{{ k }}">{{ company_object.label }}</label>
            <div class="col-sm-8">
                {% include 'fixedasset/object_item_select.html' %}
            </div>
        </div>
    {% else %}
        <div class="col-12">
            <label for="object_item_{{ k }}">{{ company_object.label }}</label>
            {% include 'fixedasset/object_item_select.html' %}
        </div>
    {% endif %}
{% endfor %}
