<select id="object_item_{{ k }}" name="object_item" class="form-control chosen-select">
    <option value="">--</option>
    {% for object_item in company_object.objects %}
        {% if company_object.value and company_object.value == object_item.id  %}
            <option value="{{ object_item.id }}" selected="selected">{{ object_item }}</option>
        {% else %}
            <option value="{{ object_item.id }}">{{ object_item }}</option>
        {% endif %}
    {% endfor %}
    {% for object_posting in company_object.object_postings %}
        {% if company_object.posting_value and company_object.posting_value == object_posting.id  %}
            <option value="object-posting-{{ object_posting.id }}" selected="selected">{{ object_posting }}</option>
        {% else %}
            <option value="object-posting-{{ object_posting.id }}">{{ object_posting }}</option>
        {% endif %}
    {% endfor %}
</select>