{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Opening Balances - {{ year }} {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>

<button class="btn btn-success btn-large" type="button" id="copy_opening_balances"
        data-ajax-url="{%  url 'copy_fixed_asset_previous_year_balances' year.id %}"
><i class="fa fa-copy"></i>  Copy opening balances</button>

<div class="row col-12">
    <table class="table table-bordered table-condensed" width="100%">
        <thead>
            <tr>
                <th>Asset Description</th>
                <th class="text-right">Original Cost</th>
                <th class="text-right">Opening Cost</th>
                <th class="text-right">Opening Acc. Depr</th>
            </tr>
        </thead>
        <tbody>
        {% if fixed_assets|length > 0 %}
            {% for k, asset_category in fixed_assets.items %}
                <tr>
                    <th class="table-header" colspan="13">{{ asset_category.category }}</th>
                </tr>
                {% for f, fixed_asset in asset_category.assets.items %}
                    <tr class="fixed-asset-row">
                        <td>{{ fixed_asset.asset.name }}</td>
                        <td class="text-right">{{ fixed_asset.asset.cost_price|money }}</td>
                        <td class="text-right">
                            <input type="text" value="{{ fixed_asset.opening_asset_value|money }}"
                                   data-asset-id="{{ fixed_asset.id }}"
                                   id="opening_balance_{{ fixed_asset.id }}"
                                   name="opening_balance[{{ fixed_asset.id }}]"
                                   data-ajax-url="{% url 'update_year_fixed_asset_balance' fixed_asset_id=fixed_asset.asset.id %}"
                                   class="form-control fixed-asset-opening-balance text-right"
                            >
                        </td>
                        <td class="text-right">
                            <input type="text" value="{{ fixed_asset.opening_depreciation_value|money }}"
                                   data-asset-id="{{ fixed_asset.id }}"
                                   id="opening_depreciation_value_{{ fixed_asset.id }}"
                                   name="opening_depreciation_value_[{{ fixed_asset.id }}]"
                                   data-ajax-url="{% url 'update_year_fixed_asset_balance' fixed_asset_id=fixed_asset.asset.id %}"
                                   class="form-control fixed-asset-opening-balance text-right"
                            >
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="12">&nbsp;</td>
                </tr>
            {% endfor %}
            <tr>
                <tr class="totals-row">
                    <td>Sum</td>
                    <td></td>
                    <td class="text-right">
                        <span id="balances_total">{{ total|money }}</span>
                    </td>
                    <td class="text-right">
                        <span id="balances_total">{{ total_depreciation|money }}</span>
                    </td>
                </tr>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">There no accounts</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}"></script>
{% endblock %}