{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks compress %}
{% load invoice_tags %}
{% block page_title %} {% translate 'Fixed Register' %} - {{ year }} {% endblock page_title %}
{% block content %}
<style>
    .panel-heading {
        overflow: visible !important;
    }

    .main-category-header {
        height: 30px;
        font-size: 1em;
        padding:8px 15px;
        background: #0C1E50;
        color: #FFFFFF;
        font-weight: bolder;
        margin: 15px 0 0 0;
        border-bottom: 1px solid #EEE;
        z-index: 99;
        position: relative;
    }

    .hide-category {
        float: right;
        margin-left: 10px;
        margin-top: -3px;
    }

    .show-category {
        float: right;
        margin-left: 10px;
        margin-top: -3px;
        display: none;
    }
</style>
<div class="panel panel-primary">
      <div class="panel-heading clearfix" style="">
        <div class="pull-left">{{ register.assets_count }} assets</div>
        <div class="pull-right">
          <button class="btn btn-primary" type="button" id="copy_previous_year_opening_balances"
                  data-loading-text="<i class='fa fa-spinner'></i> Processing"
                  data-ajax-url="{%  url 'copy_fixed_asset_previous_year_balances' year.id %}"><i class="fa fa-copy"></i>  {% translate 'Copy opening balance' %}</button>
          <button type="button" onclick="print()" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> {% translate 'Print' %}</button>
          <a type="button" class="btn btn-primary btn-sm" href="{%  url 'download_fixed_assets' %}" id="Print" data-toggle="tooltip"><i class="fa fa-file-excel-o"></i> Download</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive col-12" id="asset_register">
                <table class="closed table table-bordered">
                    <thead>
                        <tr class="table-header">
                            <td colspan="8" class="table-header"></td>
                            <td class="text-center table-header" colspan="5"><h5>{% translate 'Asset' %}</h5></td>
                            <td class="text-center table-header" colspan="4"><h5>{% translate 'Depreciation' %}</h5></td>
                            <td class="text-center table-header" colspan="2"><h5>{% translate 'Book Value' %}</h5></td>
                        </tr>
                        <tr class="table-header">
                            <th></th>
                            <th>{% translate 'Fixed Asset' %}</th>
                            <th>{% translate 'Account' %}</th>
                            <th>{% translate 'DF Unique' %}</th>
                            <th>{% translate 'Date Purchased' %}</th>
                            <th class="text-right">{% translate 'Cost Price' %}</th>
                            <th class="text-right">{% translate 'Method' %}</th>
                            <th class="text-right">{% translate 'Rate' %}</th>
                            <th class="text-right">{% translate 'Opening' %} <br /> {{ year.start_date|date:"d/m/Y" }}</th>
                            <th class="text-right">{% translate 'Disposals' %}</th>
                            <th class="text-right">{% translate 'Addition' %}</th>
                            <th class="text-right">{% translate 'Revaluation' %}</th>
                            <th class="text-right">{% translate 'Closing' %} <br /> {{ period.to_date|date:"d/m/Y" }}</th>
                            <th class="text-right">{% translate 'Opening' %} <br /> {{ year.start_date|date:"d/m/Y" }}</th>
                            <th class="text-right">{% translate 'Disposal' %}</th>
                            <th class="text-right">{% translate 'Current Year' %}</th>
                            <th class="text-right">{% translate 'Closing' %} <br /> {{ period.to_date|date:"d/m/Y" }}</th>
                            <th class="text-right">{{ period.to_date|date:"d/m/Y" }}</th>
                            <th class="text-right">{{ first_period|date:"d/m/Y" }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for main_category, sub_categories in register.categories.items %}
                            <tr class="table-header">
                                <th colspan="19">
                                   <h3 data-category-id="{{ main_category.id }}" id="{{ main_category.id }}" class="main-category-header">
                                      <span class="pull-left">{{ main_category }} - {{ sub_categories.assets_count }}</span>
                                      <span class="pull-right">
                                        <span class="label-primary"></span>
                                        <span class="hide-category" id="hide_category_{{ main_category.id }}"><i class="fa fa-angle-down"></i></span>
                                        <span class="show-category" id="show_category_{{ main_category.id }}"><i class="fa fa-angle-right"></i></span>
                                      </span>
                                    </h3>
                                </th>
                            </tr>
                            {% for category, category_assets in sub_categories.categories.items %}
                                <tr class="table-header category-{{ main_category.id }}-sub-categories" style="display: none;">
                                    <th class="table-header" colspan="19">
                                       <h3 data-category-id="{{ category.id }}" id="{{ category.id }}" class="sub-category-header" style="height: 30px; font-size: 1em; padding:8px 15px; background: #485472; color: #FFFFFF; font-weight: bolder; margin: 15px 0 0 0; border-bottom: 1px solid #EEE; z-index: 99; position: relative;">
                                          <span class="pull-left">{{ category }} - {{ category_assets.assets_count }}</span>
                                          <span class="pull-right">
                                            <span class="label-primary"></span>
                                            <span class="hide-category" id="hide_sub_category_{{ category.id }}"><i class="fa fa-angle-down"></i></span>
                                            <span class="show-category" id="show_sub_category_{{ category.id }}"><i class="fa fa-angle-right"></i></span>
                                          </span>
                                        </h3>
                                    </th>
                                </tr>
                                {% for fixed_asset, asset in category_assets.assets.items %}
                                    {% if fixed_asset.invoice_account %}
                                        <tr {% if not fixed_asset.asset_additions %} onclick="openDetail(this)" {% endif %} data-fixed-asset-id="{{ fixed_asset.id }}"
                                            data-detail-url="{% url 'invoice_detail' fixed_asset.invoice_account.invoice_id %}"
                                            style="display: none;"
                                            {% if fixed_asset.is_pending_update %}
                                                class="category-{{ category.id }}-assets ui-state-error-text"
                                            {% elif fixed_asset.is_pending %}
                                                class="category-{{ category.id }}-assets grayout"
                                            {% else %}
                                                class="category-{{ category.id }}-assets"
                                            {% endif %}>
                                    {% elif fixed_asset.journal_line %}
                                        <tr {% if not fixed_asset.asset_additions %} onclick="openDetail(this)" {% endif %} data-fixed-asset-id="{{ fixed_asset.id }}"
                                            data-detail-url="{% url 'journal_detail' fixed_asset.journal_line.journal_id %}"
                                            style="display: none;"
                                            class="category-{{ category.id }}-assets"
                                            >
                                    {% else %}
                                        <tr data-fixed-asset-id="{{ fixed_asset.id }}" class="category-{{ category.id }}-assets  {% if fixed_asset.is_pending_update %} ui-state-error-text {% elif fixed_asset.is_pending %} grayout {% endif %}" style="display: none;">
                                    {% endif %}
                                        <td class="{% if fixed_asset.asset_additions %} open-additions {% endif %}"></td>
                                        <td class="{% if fixed_asset.asset_additions %} open-additions {% endif %}" id="{{ fixed_asset_id }}">{{ fixed_asset }}</td>
                                        <td class="{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ fixed_asset.category.account.code }}</td>
                                        <td>
                                            {% if fixed_asset.invoice_account %}
                                                <a href="{% url 'invoice_detail' fixed_asset.invoice_account.invoice_id %}">{{ fixed_asset.asset_number }}</a>
                                            {% else %}
                                                {{ fixed_asset.asset_number }}
                                            {% endif %}
                                        </td>
                                        <td class="{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ fixed_asset.date_purchased }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ fixed_asset.cost_price|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ fixed_asset.method_name }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ fixed_asset.depreciation_rate_percentage }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.initial_balance|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.disposals|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.additions|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.revaluations|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.closing_balance|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.opening_depreciation_balance|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.depreciation_disposal|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.current_year_depreciation|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.closing_depreciation|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.closing_book_value|money }}</td>
                                        <td class="text-right{% if fixed_asset.asset_additions %} open-additions {% endif %}">{{ asset.opening_net_book_value|money }}</td>
                                    </tr>
                                    {% for addition in fixed_asset.asset_additions %}
                                        {% if addition.invoice_account %}
                                            <tr onclick="openDetail(this)"
                                                 {% if fixed_asset.is_pending_update %}
                                                    style="color: #1eb715; display: none;"
                                                    class="asset-{{ fixed_asset.id }}-addition ui-state-error-text"
                                                {% elif fixed_asset.is_pending %}
                                                    style="display: none;"
                                                    class="asset-{{ fixed_asset.id }}-addition grayout"
                                                {% else %}
                                                    style="color: #1eb715; display: none;"
                                                    class="asset-{{ fixed_asset.id }}-addition"
                                                {% endif %}
                                                data-detail-url="{% url 'invoice_detail' addition.invoice_account.invoice_id %}">
                                       {% elif addition.journal_line %}
                                            <tr onclick="openDetail(this)"
                                                style="{% if addition.is_disposal %}color: #15b7b7;{% elif addition.is_revaluation %}color: #a7b715;{% else %}color: #1eb715;{% endif %} display: none;"
                                                class="asset-{{ fixed_asset.id }}-addition"
                                                data-detail-url="{% url 'journal_detail' addition.journal_line.journal_id %}">
                                        {% else %}
                                            <tr {% if fixed_asset.is_pending_update %}
                                                    style="color: #1eb715; display: none;"
                                                    class="asset-{{ fixed_asset.id }}-addition ui-state-error-text"
                                                {% elif fixed_asset.is_pending %}
                                                    style="display: none;"
                                                    class="asset-{{ fixed_asset.id }}-addition grayout"
                                                {% else %}
                                                    style="color: #1eb715; display: none;"
                                                    class="asset-{{ fixed_asset.id }}-addition"
                                                {% endif %}>
                                        {% endif %}
                                            <td>****</td>
                                            <td id="{{ addition.id }}">&nbsp;&nbsp;&nbsp;{{ addition.name }}</td>
                                            <td class="text-right">
                                                {% if addition.invoice_account %}
                                                    {{ addition.invoice_account.invoice }}
                                                {% elif addition.journal_line %}
                                                    {{ addition.journal_line.journal }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">{{ addition.date }}</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">
                                                {% if addition.is_disposal %}
                                                    {{ addition.amount|money }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {% if addition.is_addition %}
                                                    {{ addition.amount|money }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                {% if addition.is_revaluation %}
                                                    {{ addition.amount|money }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                            <td class="text-right">-</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                <tr class="category-{{ main_category.id }}-sub-categories" style="display: none;">
                                    <td></td>
                                    <td colspan="4"><strong>{% translate 'Totals' %}</strong></td>
                                    <td class="text-right bold">{{ category_assets.cost_price|money }}</td>
                                    <td colspan="2"></td>
                                    <td class="text-right bold">{{ category_assets.opening_balance|money }}</td>
                                    <td class="text-right bold">{{ category_assets.disposals|money }}</td>
                                    <td class="text-right bold">{{ category_assets.additions|money }}</td>
                                    <td class="text-right bold">{{ category_assets.revaluations|money }}</td>
                                    <td class="text-right bold">{{ category_assets.closing_balance|money }}</td>
                                    <td class="text-right bold">{{ category_assets.opening_depreciation_balance|money }}</td>
                                    <td class="text-right bold">{{ category_assets.depreciation_disposal|money }}</td>
                                    <td class="text-right bold">{{ category_assets.depreciation|money }}</td>
                                    <td class="text-right bold">{{ category_assets.closing_depreciation_balance|money }}</td>
                                    <td class="text-right bold">{{ category_assets.net_book_value|money }}</td>
                                    <td class="text-right bold">{{ category_assets.opening_net_book_value|money }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="category-{{ main_category.id }}-assets">
                                <td></td>
                                <td colspan="4"><strong>Sub Total </strong></td>
                                <td class="text-right bold">{{ sub_categories.cost_price|money }}</td>
                                <td></td>
                                <td></td>
                                <td class="text-right bold">{{ sub_categories.opening_balance|money }}</td>
                                <td class="text-right bold">{{ sub_categories.disposals|money }}</td>
                                <td class="text-right bold">{{ sub_categories.additions|money }}</td>
                                <td class="text-right bold">{{ sub_categories.revaluations|money }}</td>
                                <td class="text-right bold">{{ sub_categories.closing_balance|money }}</td>
                                <td class="text-right bold">{{ sub_categories.opening_depreciation_balance|money }}</td>
                                <td class="text-right bold">{{ sub_categories.depreciation_disposal|money }}</td>
                                <td class="text-right bold">{{ sub_categories.depreciation|money }}</td>
                                <td class="text-right bold">{{ sub_categories.closing_depreciation_balance|money }}</td>
                                <td class="text-right bold">{{ sub_categories.net_book_value|money }}</td>
                                <td class="text-right bold">{{ sub_categories.opening_net_book_value|money }}</td>
                            </tr>
                            <tr class="category-{{ main_category.id }}-assets" style="display: none;">
                                <td colspan="19">&nbsp;</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        {% if register.categories %}
                            <tr>
                                <td colspan="19">&nbsp;</td>
                            </tr>
                            <tr style="background-color: lightgray !important;">
                                <td></td>
                                <td><strong>{% translate 'Totals' %} </strong></td>
                                <td colspan="3"></td>
                                <td class="text-right bold">{{ register.cost_price|money }}</td>
                                <td></td>
                                <td></td>
                                <td class="text-right bold">{{ register.opening_balance|money }}</td>
                                <td class="text-right bold">{{ register.disposals|money }}</td>
                                <td class="text-right bold">{{ register.additions|money }}</td>
                                <td class="text-right bold">{{ register.revaluations|money }}</td>
                                <td class="text-right bold">{{ register.closing_balance|money }}</td>
                                <td class="text-right bold">{{ register.depreciation_opening_balance|money }}</td>
                                <td class="text-right bold">{{ register.depreciation_disposal|money }}</td>
                                <td class="text-right bold">{{ register.current_year_depreciation|money }}</td>
                                <td class="text-right bold">{{ register.depreciation_closing_balance|money }}</td>
                                <td class="text-right bold">{{ register.net_book_value|money }}</td>
                                <td class="text-right bold">{{ register.opening_net_book_value|money }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="19" class="p-5">No assets found</td>
                            </tr>
                        {% endif %}
                    </tfoot>
                </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/jquery.blockUI.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}?{% now 'YmdHis' %}"></script>
    {% endcompress %}
{% endblock %}