{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
<table class="table table-bordered" style="width: 100%">
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <thead>
        <tr class="thead-dark">
            <th class="text-center">{{ period.to_date|date:"d/m/Y" }}</th>
            <th class="text-center">Balance Sheet Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">
                <h1 class="huge {% if is_balancing %}text-success{% else %}text-danger{% endif %}">{{ register.net_book_value|money:0 }}</h1>
            </td>
            <td class="text-center">
                <h1 class="huge {% if is_balancing %}text-success{% else %}text-danger{% endif %}">{{ balance_sheet_total|money:0 }}</h1>
            </td>
        </tr>
    </tbody>
</table>