{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}New Interventions {% endblock page_title %}
{% block content %}

  <form method="post" novalidate="novalidate">
    {% csrf_token %}
        {% include 'intervention/form.html' %}
         <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        <div class="form-group">
            <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
        </div>
  </form>
{% endblock %}