{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load company_linked_objects_tags %}
 <fieldset>
    <legend>Conditions</legend>
    <div class="col-12" id="amount">
        <label for="{{ form.event.id_for_label }}">{{ form.event.label_tag }}</label>
        {{ form.event|add_class:"form-control" }}
        {{ form.event.errors }}
    </div>
    <div class="col-12">
        <label for="{{ form.amount_check.id_for_label }}">{{ form.amount_check.label_tag }}</label>
        {{ form.amount_check|add_class:"form-control chosen-select" }}
        {{ form.amount_check.errors }}
    </div>
    <div class="col-12">
        <label for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
        {{ form.amount|add_class:"form-control" }}
        {{ form.amount.errors }}
    </div>

    <div class="col-12">
        <label for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
        {{ form.supplier |add_class:"form-control chosen-select" }}
        {{ form.supplier.errors }}
    </div>
    <div class="col-12">
        <label for="{{ form.document_type.id_for_label }}">{{ form.document_type.label_tag }}</label>
        {{ form.document_type|add_class:"form-control chosen-select" }}
        {{ form.document_type.errors }}
    </div>

     {% if workflow_rule %}
         {% workflow_rule_company_linked_objects request.session.company workflow_rule.id %}
     {% else %}
         {% workflow_rule_company_linked_objects request.session.company %}
     {% endif %}
</fieldset>
<fieldset>
    <legend>Actions</legend>
   <div class="col-12">
      <label for="{{ form.role.id_for_label }}">{{ form.role.label_tag }}</label>
      {{ form.role |add_class:"form-control" }}
      {{ form.role.errors }}
    </div>

    <div class="col-12">
        <label for="{{ form.flow_position.id_for_label }}">{{ form.flow_position.label_tag }}</label>
        {{ form.flow_position|add_class:"form-control" }}
        {{ form.flow_position.errors }}
    </div>
    <div class="col-12">
        <label for="{{ form.comment.id_for_label }}">{{ form.comment.label_tag }}</label>
        {{ form.comment|add_class:"form-control" }}
        {{ form.comment.errors }}
    </div>

</fieldset>