{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %} Interventions{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
        <a href="{% url 'create_intervention' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus"></i> New
        </a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Type of document</th>
                    <th>Event</th>
                    <th>Supplier</th>
                    <th>Item Type</th>
                    <th>Expense Type</th>
                    <th>Currency</th>
                    <th>Account</th>
                    <th>Amount</th>
                    <th>Amount Check</th>
                    <th>Role</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                {% if rules %}
                    {% for rule in rules %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_intervention' rule.id %}">
                            <td>{{ rule.company.slug }}</td>
                            <td>{{ rule.document_type }}</td>
                            <td>{{ rule.event }}</td>
                            <td>{{ rule.supplier }}</td>
                            <td>{{ rule.item_type }}</td>
                            <td>{{ rule.expense_type }}</td>
                            <td>{{ rule.company.currency }}</td>
                            <td>{{ rule.account }}</td>
                            <td>{{ rule.amount }}</td>
                            <td>{{ rule.amount_check_value }}</td>
                            <td>{{ rule.role }}</td>
                            <td>{{ rule.intervention_position }}</td>
                            <td class="actions">
                                <a href="{% url 'delete_intervention' rule.id %}" onclick="confirm('Are you sure you want to delete this intervention')"
                                   data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                   data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no rule based workflow available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}