{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Invoice processing days {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="col-lg-2 pull-right">
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
  </div>
  <div class="panel-body">
        <form method="get" action="{% url 'invoice_processing_days_report' %}" id="invoice_processing_days_report">
          <div class="col-lg-2 {% if form.company.errors %}error{% endif %}">
              <div class="form-group">
                  <label class="" for="{{ form.company.id_for_label }}">{{ form.company.label_tag }}</label>
                  {{ form.company|add_class:"form-control"  }}
              </div>
          </div>
          <div class="col-lg-2 {% if form.supplier.errors %}error{% endif %}">
              <div class="form-group">
                  <label class="" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
                  {{ form.supplier|add_class:"form-control"  }}
              </div>
          </div>

          <div class="col-lg-2">
              <label for="inputEmail3" class="col-sm-2 control-label">Accounting Date</label>
              <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                       {% render_field form.from_accounting_date class="form-control datepicker" readonly="readonly" %}
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                      {% render_field form.to_accounting_date class="form-control datepicker" readonly="readonly" %}
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-2 control-group {% if form.amount.errors %}error{% endif %}">
                <div class="form-group">
                    <label class="" for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
                    {% render_field form.amount class="form-control" %}
                </div>
          </div>
          <div class="col-lg-2 {% if form.role.errors %}error{% endif %}">
              <div class="form-group">
                  <label class="" for="{{ form.role.id_for_label }}">{{ form.role.label_tag }}</label>
                  {{ form.role|add_class:"form-control"  }}
              </div>
          </div>
          <div class="col-lg-2 {% if form.account.errors %}error{% endif %}">
              <div class="form-group">
                  <label class="" for="{{ form.account.id_for_label }}">{{ form.account.label_tag }}</label>
                  {{ form.account|add_class:"form-control"  }}
              </div>
          </div>


            <div class="col-lg-2 {% if form.number_of_lines.errors %}error{% endif %}">
                <div class="form-group">
                    <label class="" for="{{ form.number_of_lines.id_for_label }}">{{ form.number_of_lines.label_tag }}</label>
                    {{ form.number_of_lines|add_class:"form-control"  }}
                </div>
            </div>
        </form>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#invoice_processing_days_report").submit();
            });
       });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}