{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %} Invoice Processing Days {% endblock page_title %}
{% block content %}
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <form class="form-horizontal" method="get" action="{% url 'invoice_processing_days_report' %}" id="invoice_processing_days_report">
              <fieldset>
                  <div class="form-group {% if form.supplier.errors %}error{% endif %}">
                      <label class="control-label txt-font12 col-sm-2" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
                      <div class="col-sm-10">
                          {{ form.supplier|add_class:"form-control"  }}
                          {% if form.supplier.auto_id  != "id_tos" %}
                              {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                          {% endif %}
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Accounting Date</label>
                      <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                               {% render_field form.from_accounting_date class="form-control datepicker" readonly="readonly" %}
                                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                              {% render_field form.to_accounting_date class="form-control datepicker" readonly="readonly" %}
                                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group control-group {% if form.amount.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.amount class="form-control" %}
                            {% if form.amount.auto_id  != "id_tos" %}
                                {% if form.amount.errors %}<span class="help-inline">{{ form.amount.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                  </div>
                  <div class="form-group {% if form.role.errors %}error{% endif %}">
                      <label class="control-label txt-font12 col-sm-2" for="{{ form.role.id_for_label }}">{{ form.role.label_tag }}</label>
                      <div class="col-sm-10">
                          {{ form.role|add_class:"form-control"  }}
                          {% if form.role.auto_id  != "id_tos" %}
                              {% if form.role.errors %}<span class="help-inline">{{ form.role.errors }}</span>{% endif %}
                          {% endif %}
                      </div>
                  </div>
                  <div class="form-group {% if form.account.errors %}error{% endif %}">
                      <label class="control-label txt-font12 col-sm-2" for="{{ form.account.id_for_label }}">{{ form.account.label_tag }}</label>
                      <div class="col-sm-10">
                          {{ form.account|add_class:"form-control"  }}
                          {% if form.account.auto_id  != "id_tos" %}
                              {% if form.account.errors %}<span class="help-inline">{{ form.account.errors }}</span>{% endif %}
                          {% endif %}
                      </div>
                  </div>


                    <div class="form-group {% if form.number_of_lines.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.number_of_lines.id_for_label }}">{{ form.number_of_lines.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.number_of_lines|add_class:"form-control"  }}
                            {% if form.number_of_lines.auto_id  != "id_tos" %}
                                {% if form.number_of_lines.errors %}<span class="help-inline">{{ form.number_of_lines.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>


              </fieldset>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Supplier</th>
                        <th>Supplier's name</th>
                        <th>Default currency amount</th>
                        <th>Number of invoices</th>
                        <th>No of roles</th>
                        <th>Processing in days</th>
                    </tr>
                </thead>
                <tbody>
                    {% if suppliers %}
                        {% for supplier in suppliers %}
                            <tr>
                                <td>{{ supplier.code }}</td>
                                <td>{{ supplier.name }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no invoices available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}