{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags %}
{% block page_title %}Create a Picking Slip{% endblock page_title %}
{% block content %}
<style type="text/css">
label {
    font-weight: normal !important;
}
</style>
<form method="post" novalidate="novalidate" id="picking_slip_form"
  action="{% url 'create_estimate_picking_slip' estimate_id=estimate.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading ">&nbsp;
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-large save-delivery" name="submit_delivery_and_continue"
                        id="save_picking_slip"
                        data-action="continue"><i class="fa fa-send-o"></i> Send</button>
                <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
            </div>
        </div>
        <div class="panel-body align-center">
            <div class="container-fluid" id="estimate_delivery">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4 text-left">
                         {% display_logo company 200 75 %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        {% include "sales/address/company.html" %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 text-right">
                        <table class="table table-borderless table-condensed" width="100%">
                            <tr>
                                <td><strong class="h4">SEND FOR PICKING</strong></td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Vat Registration Number</td>
                                <td>{{ company.vat_number }}</td>
                            </tr>
                            <tr>
                                <td>Estimate</td>
                                <td>#<a href="{% url 'estimate_detail' estimate.id %}">{{ estimate }}</a></td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{ date|date:'d-M-Y' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
               <div class="row" id="customer-data">
                        <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                            <div class="panel panel-default height invoice-col">
                                <div class="panel-heading">Customer</div>
                                <div class="panel-body" style="padding: 5px;">
                                    {% with sales_invoice=estimate %}
                                        {% include "sales/address/postal.html" %}
                                    {% endwith %}
                                    <input type="hidden" id="invoice_discount" name="discount_percentage" value="{% if estimate.discount_percentage %}{{ estimate.discount_percentage }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-default height invoice-col">
                                <div class="panel-heading">
                                  <div class="pull-left">Deliver To:</div>
                                    <div class="pull-right">
                                        Pick Up &nbsp;&nbsp; {% render_field form.is_pick_up class="" tabindex='7'  %}
                                    </div>
                                </div>
                                <div class="panel-body" style="padding: 5px;" id="shipping_to">
                                    {% with sales_invoice=estimate %}
                                        {% include "sales/address/delivery.html" %}
                                    {% endwith %}
                                    <table class="table">
                                        <tr>
                                            <td>{{ form.delivery_method.label_tag }}</td>
                                            <td>
                                                {% render_field form.delivery_method class="form-control form-control-sm " %}
                                                {% if form.delivery_method.auto_id  != "id_tos" %}
                                                    {% if form.delivery_method.errors %}<span class="help-inline">{{ form.delivery_method.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ form.delivery_term.label_tag }}</td>
                                            <td>
                                                {% render_field form.delivery_term class="form-control form-control-sm" %}
                                                {% if form.delivery_term.auto_id  != "id_tos" %}
                                                    {% if form.delivery_term.errors %}<span class="help-inline">{{ form.delivery_term.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ form.date.label_tag }}</td>
                                            <td>
                                                {% render_field form.date class="form-control form-control-sm future_datepicker" %}
                                                {% if form.date.auto_id  != "id_tos" %}
                                                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ form.delivery_time.label_tag }}</td>
                                            <td>
                                                {% render_field form.delivery_time class="form-control form-control-sm" %}
                                                {% if form.delivery_time.auto_id  != "id_tos" %}
                                                    {% if form.delivery_time.errors %}<span class="help-inline">{{ form.delivery_time.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="panel panel-default height invoice-col">
                                <div class="panel-heading">&nbsp;</div>
                                <div class="panel-body" style="padding: 5px;">
                                    {% include "estimates/estimate.html" %}
                                    <table class="table">
                                        <tr>
                                            <td>{{ form.purchase_order.label_tag }}</td>
                                            <td>
                                                {% render_field form.purchase_order class="form-control form-control-sm" %}
                                                {% if form.purchase_order.auto_id  != "id_tos" %}
                                                    {% if form.purchase_order.errors %}<span class="help-inline">{{ form.purchase_order.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">&nbsp;</div>
                                <div class="panel-body">
                                    <div id="delivery_items">
                                        <table class="table table-bordered" width="100%">
                                            <thead>
                                                <tr class="item-titles">
                                                    <th class="po-brdr-r po-pad-left">Stock Code</th>
                                                    <th class="po-brdr-r po-pad-left">Description</th>
                                                    <th class="po-brdr-r po-pad-right">Store Area</th>
                                                    <th class="po-brdr-r po-pad-right">Rack</th>
                                                    <th class="po-brdr-r po-pad-right">Bin</th>
                                                    <th class="po-brdr-r po-pad-right">Stock Level</th>
                                                    <th class="po-brdr-r po-pad-right text-right">Qty Requested</th>
                                                    <th class="po-brdr-r po-pad-right text-right">Qty To Pick</th>
                                                    <th class="po-brdr-r po-pad-right text-right">Create Picking</th>
                                                    <th class="po-brdr-r po-pad-right text-right">Balance</th>
                                                    <th class="po-brdr-r po-pad-right text-right">Create Back Order</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for estimate_item in estimate_items %}
                                                    {% with sales_item=estimate_item row=estimate_item.id %}
                                                        {% include 'pickingslip/sales_item.html' %}
                                                    {% endwith %}
                                                {% empty %}
                                                    <tr class="line-items sales-items">
                                                        <td colspan="11">No inventory items found</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                {% render_field form.sub_total %}
                                                {% render_field form.line_discount %}
                                                {% render_field form.customer_discount %}
                                                {% render_field form.net_amount %}
                                                {% render_field form.vat_amount %}
                                                {% render_field form.total_amount %}
                                                <input type="hidden" id="default_vat" value="{{ default_vat }}">
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            {% with sales_invoice=estimate %}
                                {% include "sales/metrics.html" %}
                            {% endwith %}
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-12">

                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap-timepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/picking_slip.js' %}?{% now "YmdHis" %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}