{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}  Distribution Balance - {{ year }}{% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group">
                <button type="button" id="run_distribution_journal"
                        data-modal="{% url 'run_distribution_journal' %}"
                class="btn btn-large btn-success">Run Distribution Journal</button>
                <a type="button" href="{% url 'download_invoice_report' %}" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</a>
                <a href="javascript:history.back(-1);" id="previous_page" class="btn btn-default btn-sm"> Prev. Level</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="__form">
            <span id="loader"></span>
            <div class="container-fluid">
                <form class="form-horizontal" method="get"action="{% url 'distribution_balance' %}"  id="distribution_balance_report" name="distribution_balance_report">
                    <section class="row">
                        <fieldset class="col well">
                                <!-- Main Name Field -->
                                <div class="form-group col-sm-2">
                                  <label class="control-label txt-font12">Processing</label>
                                     <input  type="checkbox" id="status_processing" name="status" value="processing" style="border: 1px solid #8c8c8c;" {% if 'processing' in statuses %} checked="checked" {% endif %} />
                                </div>
                                <div class="form-group col-sm-2">
                                  <label class="control-label txt-font12">Completed</label>
                                     <input  type="checkbox" id="status_completed" name="status"
                                             value="completed" style="border: 1px solid #8c8c8c;"
                                             {% if 'completed' in statuses %}
                                                checked="checked"
                                             {% endif %} />
                                </div>
                        </fieldset>
                    </section>
                </form>
            </div>
        </div>
        <div class="__table">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%">
                    <tr>
                        <th>Company:</th>
                        <th>{{ company.slug }}</th>
                        <th class="text-left">{{ company.name }}</th>
                        <th class="text-right"><a href="#">{{ report_date }}</a></th>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table id="invoices" class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
{#                                        <th class="text-right">120+ Days</th>#}
{#                                        <th class="text-right">90 Days</th>#}
{#                                        <th class="text-right">60 Days</th>#}
{#                                        <th class="text-right">30 Days</th>#}
{#                                        <th class="text-right">Current</th>#}
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if report.distributions|length > 0 %}
                                        {% for k, distribution in report.distributions.items %}
                                             <tr >
                                                <td>{{ distribution.name }}</td>
{#                                                <td class="text-right">{{ distribution.one_twenty_or_more_days|money }}</td>#}
{#                                                <td class="text-right">{{ distribution.ninety_days|money }}</td>#}
{#                                                <td class="text-right">{{ distribution.sixty_days|money }}</td>#}
{#                                                <td class="text-right">{{ distribution.thirty_days|money }}</td>#}
{#                                                <td class="text-right">{{ distribution.current|money }}</td>#}
                                                <td class="text-right">
                                                    <a href="{% url 'show_distribution_balance_breakdown' k %}{% if 'completed' in statuses and 'processing' in statuses %}?status=completed&status=processing{% else %}{% if 'completed' in statuses %}?status=completed{% endif %}{% if 'processing' in statuses %}?status=processing{% endif %}{% endif %}">
                                                        {{ distribution.total|money }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                             <tr>
                                                <td></td>
{#                                                <td class="text-right">{{ report.day_ranges.one_twenty_or_more_days.total|money }}</td>#}
{#                                                <td class="text-right">{{ report.day_ranges.ninety_days.total|money }}</td>#}
{#                                                <td class="text-right">{{ report.day_ranges.sixty_days.total|money }}</td>#}
{#                                                <td class="text-right">{{ report.day_ranges.thirty_days.total|money }}</td>#}
{#                                                <td class="text-right">{{ report.day_ranges.current.total|money }}</td>#}
                                                <td class="text-right">{{ report.total|money }}</td>
                                            </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">There are no distribution balances available</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#distribution_balance_report").submit();
            });
       });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}