{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}  Distribution Balance - {{ year }}{% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
        <button type="button" id="run_distribution_journal"
                data-modal="{% url 'run_distribution_journal' %}"
                class="btn btn-large btn-success">Run Distribution Journal</button>
        </div>

        <div class="pull-right">
            <div class="form-group">
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="__form">
            <span id="loader"></span>
            &nbsp;&nbsp;
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#distribution_balance_report").submit();
            });
       });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}