{% extends 'modal.html' %}
{% load static %}
{% block title %} Distribution {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form" id="create_journal_distribution" name="create_journal_distribution"
        action="{% url 'create_journal_distribution' journal_line_id=journal_line.id %}">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered" width="100%">
                 <thead>
                    <tr>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Select</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr class="">
                        <td>{{ journal_line.account.code }}</td>
                        <td>{{ journal_line.amount }}</td>
                        <td>
                            <input type="checkbox" class="distribution-account checkbox-input"
                                name="journal_account"
                                id="distribute"
                                checked="checked"
                                value="{{ journal_line.id }}" />
                        </td>
                    </tr>
                 </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include 'common/form.html' %}
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-primary btn-large" id="distribute_journal_accounts"
                            data-ajax-url="{% url "generate_journal_line_distribution" journal_line.id %}">Distribute</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="account_distribution">
                {% include "journaldistribution/accounts_distribution.html" %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-large" name="submit_distribution"
                type="button" id="submit_distribution"><i class="fa fa-save"></i> Accept</button>
    </div>
  </form>

{% endblock %}