{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load static %}
{% block page_title %}Distribution {{ distribution }}{% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="send_email"
                      data-toggle="tooltip"><i class="fa fa-envelope"></i> Email</button>
              <a type="button" class="btn btn-primary btn-sm" name="submit" id="print"
                 onclick="printHtml('distribution_table');"
                 data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
              {% if distribution.invoice.id %}
                 <a href="{% url 'invoice_detail' distribution.invoice.id %}" class="btn btn-default btn-sm">Show Document</a>
              {% endif %}
              <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
            <div class="table-responsive">

                {% if distributions|length > 0 %}
                    <div class="col-12" id="distribution_table">
                        <table class="table table-bordered" width="100%">
                         <thead>
                            <tr>
                                <th>Year</th>
                                <th>Period</th>
                                <th>Per Date</th>
                                <th>Account</th>
                                {% for k, linked_model in linked_models.items %}
                                    <th>{{ linked_model.label }}</th>
                                {% endfor %}
                                <th>Journal</th>
                                <th class="text-right">Debit</th>
                                <th class="text-right">Credit</th>
                            </tr>
                         </thead>
                         <tbody>
                            {% for year_id, year in distributions.items %}
                                <tr>
                                    <td>{{ year.year }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    {% for k, linked_model in linked_models.items %}
                                        <td></td>
                                    {% endfor %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for period_id, period in year.periods.items %}
                                    <tr>
                                        <td></td>
                                        <td>{{ period.period }}</td>
                                        <td></td>
                                        <td></td>
                                        {% for k, linked_model in linked_models.items %}
                                            <td></td>
                                        {% endfor %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% for account_date, accounts_by_date in period.accounts.items %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>{{ account_date|date:'d/m/Y' }}</td>
                                            <td></td>
                                            {% for k, linked_model in linked_models.items %}
                                                <td></td>
                                            {% endfor %}
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        {% for distr_account in accounts_by_date %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td data-toggle="tooltip" data-original-title="{{ distr_account.account.account }}"
                                                >{{ distr_account.account.account.code }}</td>
                                                {% for k, object_item in distr_account.object_items.items %}
                                                    <td>{{ object_item }}</td>
                                                {% endfor %}
                                                <td>
                                                    {% if distr_account.account.ledger_line %}
                                                        <a href="{% url 'journal_lines' distr_account.account.ledger_line.journal.id %}">{{ distr_account.account.ledger_line.journal.journal_number }}</a>
                                                    {% endif %}
                                                </td>
                                                <td class="text-right">
                                                    {% if distr_account.account.debit > 0 %}
                                                        {{ distr_account.account.debit|money }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-right">
                                                    {% if distr_account.account.credit > 0 %}
                                                        {{ distr_account.account.credit|money }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                         </tbody>
                         <tfoot>
                            <tr>
                                <td colspan="6">&nbsp;</td>
                                {% for k, linked_model in linked_models.items %}
                                    <td></td>
                                {% endfor %}
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                {% for k, linked_model in linked_models.items %}
                                    <td></td>
                                {% endfor %}
                                <td>Total distribution account</td>
                                <td class="text-right">{{ total_debit|money }}</td>
                                <td class="text-right">
                                    {{ total_credit|money }}
                                    <input type="hidden" id="total_amount" name="total_amount" value="{{ total_credit }}" />
                                </td>
                            </tr>
                         </tfoot>
                        </table>
                    </div>
{#                    <div class="col-12">#}
{#                        <div class="pull-right">#}
{#                        </div>#}
{#                    </div>#}
                {% else %}
                    Distribution not available
                {% endif %}
            </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
