{% load invoice_tags %}
<table class="table table-bordered" width="100%">
 <thead>
    <tr>
        <th></th>
        <th>Period</th>
        <th>Per Date</th>
        <th>Account</th>
        <th class="text-right">Debit</th>
        <th class="text-right">Credit</th>
    </tr>
 </thead>
 <tbody>
    {% for k, account_distribution in distributions.items %}
        <tr class="{% if account_distribution.period %} - {% else %} text-danger {% endif %}">
             <td>{{ account_distribution.counter }}</td>
            <td>
                {% if account_distribution.period %}
                    {{ account_distribution.period }}
                    <span style="display:none;">{{account_distribution.period.id}}</span>
                {% else %}
                    <strong>Not found</strong>
                {% endif %}
            </td>
            <td>
                {{ account_distribution.day|date:'d/m/Y' }}
                <input type="hidden" name="distribution_{{ k }}" value="{{ k }}">
                <input type="hidden" name="date_{{ k }}" value="{{ account_distribution.day|date:'Y-m-d' }}">
                <input type="hidden" name="period_{{ k }}" value="{{ account_distribution.period.id }}">
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="{% if account_distribution.period %} - {% else %} text-danger {% endif %}">
            <td></td>
            <td></td>
            <td></td>
            <td>
                {{ account_distribution.line_account.account.code }}
                <input type="hidden" name="accounts_{{ k }}" value="{{ account_distribution.line_account.account.id }}">
                <input type="hidden" name="accounts_{{ k }}_debit_{{ account_distribution.line_account.account.id }}" value="{{ account_distribution.line_account.debit }}">
                <input type="hidden" name="accounts_{{ k }}_credit_{{ account_distribution.line_account.account.id }}" value="{{ account_distribution.line_account.credit }}">
            </td>
            <td class="text-right">
                {% if account_distribution.line_account.debit %}
                    {{ account_distribution.line_account.debit|money }}
                {% endif %}

            </td>
            <td class="text-right">
                {% if account_distribution.line_account.credit %}
                    {{ account_distribution.line_account.credit|money }}
                {% endif %}
            </td>
        </tr>
        <tr class="{% if account_distribution.period %} - {% else %} text-danger {% endif %}">
            <td></td>
            <td></td>
            <td></td>
            <td>
                {{ account_distribution.default_account.account.code }}
                <input type="hidden" name="accounts_{{ k }}" value="{{ account_distribution.default_account.account.id }}">
                <input type="hidden" name="accounts_{{ k }}_debit_{{ account_distribution.default_account.account.id }}" value="{{ account_distribution.default_account.debit }}">
                <input type="hidden" name="accounts_{{ k }}_credit_{{ account_distribution.default_account.account.id }}" value="{{ account_distribution.default_account.credit }}">
            </td>
            <td class="text-right">
                {% if account_distribution.default_account.debit %}
                    {{ account_distribution.default_account.debit|money }}
                {% endif %}
            </td>
            <td class="text-right">
                {% if account_distribution.default_account.credit %}
                    {{ account_distribution.default_account.credit|money }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
 </tbody>
 <tfoot>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>Total distribution account</td>
        <td class="text-right">{{ total_distribution|money }}</td>
        <td class="text-right">{{ total_distribution|money }}</td>
    </tr>
 </tfoot>
</table>