{% extends 'modal.html' %}
{% load static %}
{% block title %} Distribution {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="edit_journal_distribution" name="edit_journal_distribution"
        action="{% url 'edit_journal_distribution' distribution.id%}">
     <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                 <table class="table table-bordered" width="100%">
                     <thead>
                        <tr>
                            <th>Account</th>
                            <th>Amount</th>
                            <th>Select</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr class="{% if distribution %} distributed {% endif %}">
                            <td>{{ distribution.journal_line.account.code }}</td>
                            <td>{{ distribution.journal_line.amount }}</td>
                            <td>
                                <input type="checkbox" class="distribution-account"
                                    name="distribution_accounts"
                                    id="distribution_account_{{ distribution.journal_line.id }}"
                                    checked="checked"
                                    value="{{ distribution.journal_line.account_id }}" />
                            </td>
                        </tr>
                     </tbody>
                 </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include 'common/form.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-primary btn-large" id="distribute_journal_accounts"
                    data-ajax-url="{% url "generate_line_distribution" %}">Distribute</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="account_distribution">
                {% include "journaldistribution/distribution_accounts.html" %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>

        <button class="btn btn-primary btn-large" name="delete_journal_distribution"
                data-ajax-url="{% url 'delete_journal_distribution' distribution.id %}"
                type="button" id="delete_journal_distribution"><i class="fa fa-trash"></i> Delete</button>
        <button class="btn btn-primary btn-large" name="submit_distribution_update"
                type="button" id="submit_distribution_update"><i class="fa fa-save"></i> Update</button>
    </div>
  </form>

{% endblock %}