{% load i18n %}
{% load static %}
{% load widget_tweaks %}

<div class="form-group control-group {% if form.bank.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.bank.id_for_label }}">
        {{ form.bank.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.bank class="form-control" %}
        {% if form.bank.auto_id  != "id_tos" %}
            {% if form.bank.errors %}
                <span class="help-inline">{{ form.bank.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.account_number.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.account_number.id_for_label }}">
        {{ form.account_number.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.account_number class="form-control" %}
        {% if form.account_number.auto_id  != "id_tos" %}
            {% if form.account_number.errors %}
                <span class="help-inline">{{ form.account_number.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.branch.id_for_label }}">
        {{ form.branch.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.branch class="form-control" %}
        {% if form.branch.auto_id  != "id_tos" %}
            {% if form.branch.errors %}
                <span class="help-inline">{{ form.branch.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.currency.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.currency.id_for_label }}">
        {{ form.currency.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.currency class="form-control" %}
        {% if form.currency.auto_id  != "id_tos" %}
            {% if form.currency.errors %}
                <span class="help-inline">{{ form.currency.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>