{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<div class="form-group control-group {% if form.is_active.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label_tag }}</label>
    <div class="controls">
        {% render_field form.is_active class="form-control" %}
        {% if form.is_active.auto_id  != "id_tos" %}
            {% if form.is_active.errors %}<span class="help-inline">{{ form.is_active.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.is_blocked.errors %}error{% endif %}">
    {{ form.is_blocked.label_tag }}
    <div class="controls">
        {% render_field form.is_blocked class="form-control" %}
        {% if form.is_blocked.auto_id  != "id_tos" %}
            {% if form.is_blocked.errors %}<span class="help-inline">{{ form.is_blocked.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.is_classified.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.is_classified.id_for_label }}">{{ form.is_classified.label_tag }}</label>
    <div class="controls">
        {% render_field form.is_classified class="form-control" %}
        {% if form.is_classified.auto_id  != "id_tos" %}
            {% if form.is_classified.errors %}<span class="help-inline">{{ form.is_classified.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.bee_scorecard_code.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.bee_scorecard_code.id_for_label }}">
        {{ form.bee_scorecard_code.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.bee_scorecard_code class="form-control" %}
        {% if form.bee_scorecard_code.auto_id  != "id_tos" %}
            {% if form.bee_scorecard_code.errors %}
                <span class="help-inline">{{ form.bee_scorecard_code.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.template.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.template.id_for_label }}">
        {{ form.template.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.template class="form-control" %}
        {% if form.template.auto_id  != "id_tos" %}
            {% if form.template.errors %}
                <span class="help-inline">{{ form.template.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.payment_terms.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.payment_terms.id_for_label }}">
        {{ form.payment_terms.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.payment_terms class="form-control" %}
        {% if form.payment_terms.auto_id  != "id_tos" %}
            {% if form.payment_terms.errors %}
                <span class="help-inline">{{ form.payment_terms.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.payment_days.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.payment_days.id_for_label }}">
        {{ form.payment_days.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.payment_days class="form-control" %}
        {% if form.payment_days.auto_id  != "id_tos" %}
            {% if form.payment_days.errors %}
                <span class="help-inline">{{ form.payment_days.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>


<div class="form-group control-group {% if form.discount_available.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.discount_available.id_for_label }}">
        {{ form.discount_available.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.discount_available class="form-control" %}
        {% if form.discount_available.auto_id  != "id_tos" %}
            {% if form.discount_available.errors %}
                <span class="help-inline">{{ form.discount_available.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.discount.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.discount.id_for_label }}">
        {{ form.discount.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.discount class="form-control" %}
        {% if form.discount.auto_id  != "id_tos" %}
            {% if form.discount.errors %}
                <span class="help-inline">{{ form.discount.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.discount_terms.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.discount_terms.id_for_label }}">
        {{ form.discount_terms.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.discount_terms class="form-control" %}
        {% if form.discount_terms.auto_id  != "id_tos" %}
            {% if form.discount_terms.errors %}
                <span class="help-inline">{{ form.discount_terms.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.discount_days.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.discount_days.id_for_label }}">
        {{ form.discount_days.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.discount_days class="form-control" %}
        {% if form.discount_days.auto_id  != "id_tos" %}
            {% if form.discount_days.errors %}
                <span class="help-inline">{{ form.discount_days.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.flow_proposal.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.flow_proposal.id_for_label }}">
        {{ form.flow_proposal.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.flow_proposal class="form-control" %}
        {% if form.flow_proposal.auto_id  != "id_tos" %}
            {% if form.flow_proposal.errors %}
                <span class="help-inline">{{ form.flow_proposal.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.account_posting_proposal.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.account_posting_proposal.id_for_label }}">
        {{ form.account_posting_proposal.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.account_posting_proposal class="form-control" %}
        {% if form.account_posting_proposal.auto_id  != "id_tos" %}
            {% if form.account_posting_proposal.errors %}
                <span class="help-inline">{{ form.account_posting_proposal.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.is_document_protected.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.is_document_protected.id_for_label }}">
        {{ form.is_document_protected.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.is_document_protected class="form-control checkbox-input" %}
        {% if form.is_document_protected.auto_id  != "id_tos" %}
            {% if form.is_document_protected.errors %}
                <span class="help-inline">{{ form.is_document_protected.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>