<div class="row">
    <div class="col-6">
        <div class="form-group control-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="5">Total Purchase</th>
                    </tr>
                    <tr>
                        <th>Period</th>
                        <th>Month</th>
                        <th class="text-right">Excl.</th>
                        <th class="text-right">Vat</th>
                        <th class="text-right">Incl.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in supplier.periods.all %}
                        <tr>
                            <td>{{ history.period }}</td>
                            <td>{{ history.period.name }}</td>
                            <td class="text-right">{{ history.net_amount }}</td>
                            <td class="text-right">{{ history.vat_amount }}</td>
                            <td class="text-right">{{ history.total_amount }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">No history found the current year</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right">{{ supplier_history.total_net }}</td>
                        <td class="text-right">{{ supplier_history.total_vat }}</td>
                        <td class="text-right">{{ supplier_history.total }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-6">
        <canvas id="supplier_history" data-ajax-url="{% url 'supplier_history' %}?supplier={{ supplier.id }}" class="chartjs" width="1540" height="770" style="display: block; height: 385px; width: 770px;"></canvas>
    </div>
</div>