{% load i18n %}
{% load static %}
{% load widget_tweaks %}
    <div class="row">
        <div class="col-4">
            <div class="form-group control-group {% if form.code.errors %}error{% endif %}">
                {{ form.code.label_tag }}
                <div class="controls">
                    {% render_field form.code class="form-control" %}
                    {% if form.code.auto_id  != "id_tos" %}
                        {% if form.code.errors %}<span class="help-inline">{{ form.code.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group {% if form.name.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
                <div class="controls">
                    {% render_field form.name class="form-control"  %}
                    {% if form.name.auto_id  != "id_tos" %}
                        {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group control-group {% if form.is_vat_registered.errors %}error{% endif %}">
                <label class=" control-label txt-font12" for="{{ form.is_vat_registered.id_for_label }}">{{ form.is_vat_registered.label_tag }}</label>
                <div class="controls">
                    {% render_field form.is_vat_registered class="form-control" %}
                    {% if form.is_vat_registered.auto_id  != "id_tos" %}
                        {% if form.is_vat_registered.errors %}<span class="help-inline">{{ form.is_vat_registered.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group control-group {% if form.address_line_1.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.address_line_1.id_for_label }}">
            {{ form.address_line_1.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.address_line_1 class="form-control" %}
            {% if form.address_line_1.auto_id  != "id_tos" %}
                {% if form.address_line_1.errors %}
                    <span class="help-inline">{{ form.address_line_1.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.address_line_2.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.address_line_2.id_for_label }}">
            {{ form.address_line_2.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.address_line_2 class="form-control" %}
            {% if form.address_line_2.auto_id  != "id_tos" %}
                {% if form.address_line_2.errors %}
                    <span class="help-inline">{{ form.address_line_2.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.postal_code.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.postal_code.id_for_label }}">
            {{ form.postal_code.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.postal_code class="form-control" %}
            {% if form.postal_code.auto_id  != "id_tos" %}
                {% if form.postal_code.errors %}
                    <span class="help-inline">{{ form.postal_code.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <div class="form-group control-group {% if form.phone.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.phone.id_for_label }}">
            {{ form.phone.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.phone class="form-control" %}
            {% if form.phone.auto_id  != "id_tos" %}
                {% if form.phone.errors %}
                    <span class="help-inline">{{ form.phone.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>



    <div class="form-group control-group {% if form.vat_number.errors %}error{% endif %}">
        {{ form.vat_number.label_tag }}
        <div class="controls">
            {% render_field form.vat_number class="form-control" %}
            {% if form.vat_number.auto_id  != "id_tos" %}
                {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.vat_method.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.vat_method.id_for_label }}">{{ form.vat_method.label_tag }}</label>
        <div class="controls">
            {% render_field form.vat_method class="form-control" %}
            {% if form.vat_method.auto_id  != "id_tos" %}
                {% if form.vat_method.errors %}<span class="help-inline">{{ form.vat_method.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.email_address.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.email_address.id_for_label }}">
            {{ form.email_address.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.email_address class="form-control" %}
            {% if form.email_address.auto_id  != "id_tos" %}
                {% if form.email_address.errors %}
                    <span class="help-inline">{{ form.email_address.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.company_number.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.company_number.id_for_label }}">
            {{ form.company_number.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.company_number class="form-control" %}
            {% if form.company_number.auto_id  != "id_tos" %}
                {% if form.company_number.errors %}
                    <span class="help-inline">{{ form.company_number.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.default_account.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.default_account.id_for_label }}">
            {{ form.default_account.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.default_account class="form-control chosen-select" %}
            {% if form.default_account.auto_id  != "id_tos" %}
                {% if form.default_account.errors %}
                    <span class="help-inline">{{ form.default_account.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>