{% load i18n %}
{% if bank %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2">{% translate "Banking Details" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% translate "Account Holder" %}</td>
                <td>{{ bank.account_holder }}</td>
            </tr>
            <tr>
                <td>{% translate "Account Type" %}</td>
                <td>{{ bank.account_type }}</td>
            </tr>
            <tr>
                <td>{% translate "Bank" %}</td>
                <td>{{ bank.bank_name }}</td>
            </tr>
            <tr>
                <td>{% translate "Account Number" %}</td>
                <td>{{ bank.account_number }}</td>
            </tr>
            <tr>
                <td>{% translate "Branch" %}</td>
                <td>{{ bank.branch }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}