{% extends 'modal.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block title %} {% translate "Complete Draft Invoice" %} {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="complete_draft_form" name="complete_draft_form"
      action="{% url 'complete_draft' invoice.id %}">
     <div class="modal-body">
        {% csrf_token %}
         <div class="text-danger">
              {% translate "The customer does not have enough credit" %}
         </div>
         <hr />
         <div class="col-12">
            <label for="{{ form.override_key.id_for_label }}">{% translate "If you have an override key enter it below" %}:</label>
            {{ form.override_key|add_class:"form-control" }}
         </div>
         <span id="override_result"></span>
     </div>
     <div class="modal-footer">
         <button class="btn btn-warning" data-dismiss="modal">{% translate "Cancel" %}</button>
         <button type="button" class="btn btn-primary btn-large save-document" name="override_continue"
                 disabled="disabled"
                 data-save-type="save"
                 id="override_continue"><i class="fa fa-save"></i> {% translate "Override" %}</button>
    </div>
</form>
{% endblock %}