{% extends 'base.html' %}
{% load static i18n %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags %}
{% block page_title %}{{ invoice_type }} {% endblock page_title %}

{% block content %}
<form method="post" novalidate="novalidate" id="sales_invoice_form" action="{% url 'copy_invoice' invoice.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <a href="{% url 'sales_delivery_index' %}" class="btn btn-warning">{% translate "Cancel" %}</a>
            <button type="button" class="btn btn-primary btn-large save-invoice"
                    name="submit_invoice"
                    id="submit_invoice_and_print"
                    data-action="print"><i class="fa fa-print" disabled="disabled"></i> {% translate "Print" %}</button>
            <button type="button" class="btn btn-primary btn-large save-invoice"
                    name="submit_invoice" id="submit_invoice_and_continue"
                    data-is-cash="0" data-cash-payment-url="{% url 'create_cash_invoice_receipt' %}"
                    data-cash-action-url="{% url 'copy_invoice' invoice.id %}"
                    data-credit-action-url="{% url 'copy_invoice' invoice.id %}"
                    data-action-url="{% url 'copy_invoice' invoice.id %}"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    data-action="continue" ><i class="fa fa-save"></i> {% translate "Save" %}</button>
            </div>
        </div>
        <div class="panel-body align-center">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                         <div class="controls">
                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                            {% if form.branch.auto_id  != "id_tos" %}
                            {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-8"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-4">
                    {% display_logo company 200 75 %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    {% include "sales/address/company.html" %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="h4">{{ invoice_type }}</span>
                                {% render_field form.invoice_type value=invoice_type.id %}
                                <input type="hidden" id="invoice_type_id" value="{{ invoice_type.id }}" />
                            </td>
                            <td class="text-right">#</td>
                        </tr>
                        <tr>
                            <td>{% translate "Vat Registration Number" %}:</td>
                            <td class="text-right">{{ company.vat_number }}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td class="text-right">{{ invoice_date|date:'d-M-Y' }}</td>
                        </tr>
                        <tr>
                            <td>{% translate "Original Invoice" %}</td>
                            <td class="text-right"><a href="{% url 'view_sales_invoice' invoice.id %}" target="_blank">{{ invoice }}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="customer-data">
                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">{% translate "Customer" %}</div>
                        <div class="panel-body" style="padding: 5px;">
                            <input type="hidden" name="customer_name" id="customer_name" value="{{ invoice.customer }}" />
                            {% with sales_invoice=invoice %}
                                {% include "sales/address/postal.html" %}
                            {% endwith %}
                            {% render_field form.customer %}
                            {% render_field form.postal_street %}
                            {% render_field form.delivery_country %}
                            {% render_field form.delivery_street %}
                            {% render_field form.postal_country %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">{% translate "Shipping To" %}:</div>
                        <div class="panel-body" style="padding: 5px;" id="shipping_to">
                            {% with sales_invoice=invoice %}
                                {% include "sales/address/delivery.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body" style="padding: 5px;">
                            <table class="table">
                                 <tr class="{% if form.estimate_number.errors %}error{% endif %}">
                                     <td>{{ form.estimate_number.label_tag }}</td>
                                     <td class="text-right">
                                        {% render_field form.estimate_number class="form-control form-control-sm-sm" %}
                                        {% if form.estimate_number.auto_id  != "id_tos" %}
                                            {% if form.estimate_number.errors %}<span class="help-inline">{{ form.estimate_number.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.po_number.errors %}error{% endif %}">
                                     <td>{{ form.po_number.label_tag }}</td>
                                     <td class="text-right">
                                        {% render_field form.po_number class="form-control form-control-sm-sm" %}
                                        {% if form.po_number.auto_id  != "id_tos" %}
                                            {% if form.po_number.errors %}<span class="help-inline">{{ form.po_number.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.vat_number.errors %}error{% endif %}">
                                     <td>{{ form.vat_number.label_tag }}</td>
                                     <td class="text-right">
                                        {% render_field form.vat_number class="form-control form-control-sm-sm" %}
                                        {% if form.vat_number.auto_id  != "id_tos" %}
                                            {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.period.errors %}error{% endif %}">
                                     <td>{{ form.period.label_tag }}</td>
                                     <td class="text-right">
                                        {% render_field form.period class="form-control form-control-sm-sm" %}
                                        {% if form.period.auto_id  != "id_tos" %}
                                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.invoice_date.errors %}error{% endif %}">
                                     <td>{{ form.invoice_date.label_tag }}</td>
                                     <td class="text-right">
                                        {% render_field form.invoice_date class="form-control form-control-sm-sm datepicker" %}
                                        {% if form.invoice_date.auto_id  != "id_tos" %}
                                            {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.due_date.errors %}error{% endif %}">
                                     <td>{{ form.due_date.label_tag }}</td>
                                     <td class="text-right">
                                        {% render_field form.due_date class="form-control form-control-sm-sm datepicker" %}
                                        {% if form.due_date.auto_id  != "id_tos" %}
                                            {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.salesman.errors %}error{% endif %}">
                                     <td>{% translate "Salesman" %}</td>
                                     <td class="text-right">
                                        {% render_field form.salesman class="form-control form-control-sm-sm chosen-select" %}
                                        {% if form.salesman.auto_id  != "id_tos" %}
                                            {% if form.salesman.errors %}<span class="help-inline">{{ form.salesman.errors }}</span>{% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 <tr class="{% if form.salesman.errors %}error{% endif %}">
                                     <td><label class="col-sm-4 control-label txt-font12" for="pricing">Pricing</label></td>
                                     <td class="text-right">
                                        <select id="id_pricing" name="pricing" class="form-control form-control-sm">
                                        </select>
                                     </td>
                                 </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                {% invoice_linked_objects request.session.company request.session.role None 'horizontal' %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="border-0">{% translate "Type" %}</th>
                                            <th class="border-0">{% translate "Stock Code/Description" %}</th>
                                            <th class="text-right">{% translate "Stock" %}</th>
                                            <th class="text-right">{% translate "Quantity" %}</th>
                                            <th class="border-0">{% translate "Unit" %}</th>
                                            <th class="border-0 text-right">{% translate "Price" %}</th>
                                            <th class="border-0 text-right">{% translate "Discount" %}</th>
                                            <th class="border-0 text-right">{% translate "Net Price" %}</th>
                                            <th class="border-0 text-right">{% translate "Vat" %}</th>
                                            <th class="border-0 text-right">{% translate "Vat Amount" %}</th>
                                            <th class="border-0 text-right">{% translate "Total Incl" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for invoice_item in invoice_items %}
                                            {% if invoice_item.is_inventory %}
                                                {% include "sales/invoice_items/credit/inventory.html" %}
                                            {% elif invoice_item.is_description %}
                                                {% include "sales/invoice_items/credit/text.html" %}
                                            {% elif invoice_item.is_account %}
                                                {% include "sales/invoice_items/credit/account.html" %}
                                            {% endif %}
                                        {% endfor %}
                                        <tr>
                                            <td class="po-total" colspan="10">{% translate "SUB TOTAL" %}</td>
                                            <td class="po-total">
                                                <span id="sub_total"></span>
                                                {% render_field form.sub_total %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="10">{% translate "LINE DISCOUNTS" %}</td>
                                            <td class="po-total">
                                                <span id="total_discount"></span>
                                                {% render_field form.line_discount %}
                                            </td>
                                        </tr>
                                        <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                            <td class="po-total" colspan="10">{% translate "CUSTOMER DISCOUNTS" %}</td>
                                            <td class="po-total">
                                                <span id="customer_invoice_discounts"></span>
                                                {% render_field form.customer_discount %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="10">{% translate "NETT TOTAL" %}</td>
                                            <td class="po-total">
                                                <span id="net_total"></span>
                                                {% render_field form.net_amount %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="10">{% translate "VAT" %}</td>
                                            <td class="po-total">
                                                <span id="total_vat_amount"></span>
                                                <input type="hidden" id="default_vat" value="{{ default_vat}}">
                                                {% render_field form.vat_amount %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="10">{% translate "TOTAL ORDER VALUE" %}</td>
                                            <td class="po-total">
                                                <span id="total_order_value"></span>
                                                {% render_field form.total_amount %}
                                                <input type="hidden" id="invoice_type" value="{{ invoice_type.code }}" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="space" colspan="{{ cols }}">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="display: none;">
                <div class=" col-xs-12 col-md-6 col-lg-6 col-sm-12">
                    <div>
                        <table class="table table-bordered" width="100%">
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Gross Weight" %}</td>
                                <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Net Weight" %}</td>
                                <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Total Items" %}</td>
                                <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-12">
                    <div class="panel customer-discount-calculation" id="calculation_summary" >
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                        <thead>
                            <tr>
                                <th>{% translate "Vat Recon" %}</th>
                                <th class="text-right">{% translate "Excl" %}</th>
                                <th class="text-right">{% translate "Vat" %}</th>
                            </tr>
                        </thead>
                        <tbody id="summary_body">
                        </tbody>
                            <tfoot>
                                <tr>
                                    <td>{% translate "Total" %}</td>
                                    <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                    <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            {% include "sales/footer.html" %}
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}?{% now "YmdHis" %}"></script>
{% endblock %}