{% extends 'modal.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags sales_tags %}
{% block title %} {% translate "Create disposal invoice" %} {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form" id="create_disposal_invoice" name="create_disposal_invoice"
        action="{% url 'create_invoice_disposed_assets' %}">
  {% csrf_token %}
     <div class="modal-body">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                    <label class="control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                    <div class="controls">
                        {% render_field form.period class="form-control form-control-sm-sm chosen-select" %}
                        {% if form.period.auto_id  != "id_tos" %}
                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
                    <label class="control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">Date</label>
                    <div class="controls">
                        {% render_field form.invoice_date class="form-control datepicker" %}
                        {% if form.invoice_date.auto_id  != "id_tos" %}
                            {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group control-group {% if form.customer.errors %}error{% endif %}">
                    <label class="control-label txt-font12" for="{{ form.customer.id_for_label }}">{{ form.customer.label_tag }}</label>
                    <div class="controls">
                        {% render_field form.customer class="form-control"  tabindex="1001" %}
                        {% if form.customer.auto_id  != "id_tos" %}
                            {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group control-group {% if form.vat_number.errors %}error{% endif %}">
                    <label class="control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
                    <div class="controls">
                        {% render_field form.vat_number class="form-control form-control-sm vat-number" tabindex="1002" %}
                        {% if form.vat_number.auto_id  != "id_tos" %}
                            {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div id="postal_customer_form" style="display: none">
                    <div class="form-group">
                        {% render_field form.customer_name class="form-control form-control-sm" tabindex='2' placeholder='Customer Name'  %}
                        {% if form.customer_name.auto_id  != "id_tos" %}
                            {% if form.customer_name.errors %}<span class="help-inline">{{ form.customer_name.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_street class="form-control form-control-sm" tabindex='2' placeholder='Street'  %}
                        {% if form.postal_street.auto_id  != "id_tos" %}
                            {% if form.postal_street.errors %}<span class="help-inline">{{ form.postal_street.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_city class="form-control form-control-sm" tabindex='3' placeholder='City'  %}
                        {% if form.postal_city.auto_id  != "id_tos" %}
                            {% if form.postal_city.errors %}<span class="help-inline">{{ form.postal_city.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_province class="form-control form-control-sm" tabindex='4'  placeholder='Province' %}
                        {% if form.postal_province.auto_id  != "id_tos" %}
                            {% if form.postal_province.errors %}<span class="help-inline">{{ form.postal_province.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_postal_code class="form-control form-control-sm" tabindex='5'  placeholder='Postal Code' %}
                        {% if form.postal_postal_code.auto_id  != "id_tos" %}
                            {% if form.postal_postal_code.errors %}<span class="help-inline">{{ form.postal_postal_code.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_country class="form-control form-control-sm" tabindex='6'  placeholder='Country' %}
                        {% if form.postal_country.auto_id  != "id_tos" %}
                            {% if form.postal_country.errors %}<span class="help-inline">{{ form.postal_country.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div id="customer_details">
                    <div class="customer">
                        <span id="postal_street"></span>
                        <span class="postal" id="postal_city"></span>
                        <span class="postal" id="postal_province"></span>
                        <span class="postal" id="postal_country"></span>
                        <input type="hidden" name="credit_limit" id="credit_limit" value="0">
                        <span class="font-italic" id="credit_limit_val"></span>
                        <div class="limit">
                            <span><strong>Available Credit</strong></span>
                            <span class="font-italic" id="available_credit_val"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div id="delivery_customer_form" style="display: none">
                     <div class="form-group {% if form.delivery_address.errors %}error{% endif %}">
                        {% render_field form.delivery_address class="form-control form-control-sm form-control form-control-sm-sm" tabindex='7' %}
                        {% if form.delivery_address.auto_id  != "id_tos" %}
                            {% if form.delivery_address.errors %}<span class="help-inline">{{ form.delivery_address.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.address_id %}
                        {% render_field form.delivery_street class="form-control form-control-sm" tabindex='7' placeholder='Street'  %}
                        {% if form.delivery_street.auto_id  != "id_tos" %}
                            {% if form.delivery_street.errors %}<span class="help-inline">{{ form.delivery_street.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.delivery_city class="form-control form-control-sm" tabindex='8' placeholder='City'  %}
                        {% if form.delivery_city.auto_id  != "id_tos" %}
                            {% if form.delivery_city.errors %}<span class="help-inline">{{ form.delivery_city.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.delivery_province class="form-control form-control-sm" tabindex='9' placeholder='Province'  %}
                        {% if form.delivery_province.auto_id  != "id_tos" %}
                            {% if form.delivery_province.errors %}<span class="help-inline">{{ form.delivery_province.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.delivery_postal_code class="form-control form-control-sm" tabindex='10' placeholder='Postal Code'  %}
                        {% if form.delivery_postal_code.auto_id  != "id_tos" %}
                            {% if form.delivery_postal_code.errors %}<span class="help-inline">{{ form.delivery_postal_code.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.delivery_country class="form-control form-control-sm" tabindex='11'  %}
                        {% if form.delivery_country.auto_id  != "id_tos" %}
                            {% if form.delivery_country.errors %}<span class="help-inline">{{ form.delivery_country.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div class="panel">
            <div class="panel-heading">{% translate "Assets for disposal" %}</div>
            <div class="panel-body">
                <div class="row" id="disposed_assets" data-ajax-url="{% url 'invoice_disposal_assets' %}"></div>
            </div>
        </div>
        <div class="panel" id="payments_form">
            <div class="panel-heading">Payments</div>
            <div class="panel-body">
                <div class="row" id="cash_customer_payment_details" data-ajax-url="{% url 'cash_invoice_receipt_form' %}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                 <div class="form-group control-group {% if form.salesman.errors %}error{% endif %}">
                    <label class="control-label txt-font12" for="{{ form.salesman.id_for_label }}">{{ form.salesman.label_tag }}</label>
                    <div class="controls">
                        {% render_field form.salesman class="form-control form-control-sm" tabindex="13" %}
                        {% if form.salesman.auto_id  != "id_tos" %}
                            {% if form.salesman.errors %}<span class="help-inline">{{ form.salesman.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                {% invoice_linked_objects request.session.company request.session.role None 'vertical' %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
         {% render_field form.vat_amount class="form-control"  %}
         {% render_field form.sub_total class="form-control" %}
         {% render_field form.total_amount class="form-control" %}
         {% render_field form.net_amount class="form-control" %}
         {% render_field form.due_date class="form-control" %}
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="save_disposal_invoice"
                type="submit" id="save_disposal_invoice"><i class="fa fa-save"></i> Save
        </button>
    </div>
  </form>
{% endblock %}