{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
{% block page_title %}{% translate "CREATE CUSTOMER SALE" %} - {{ estimate }} <span class="pull-right">&nbsp;{{ estimate }}</span>
{% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="sales_invoice_form"
    action="{% url 'create_delivery_invoice' delivery_id=delivery.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">&nbsp;&nbsp;</div>
      <div class="panel-body aligin-center">
           <div id="po-page">
                <table class="table table-condensed table-bordered" id="delivery-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols|add:'-6' }}">
                            <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                             <div class="controls">
                                {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                                {% if form.branch.auto_id  != "id_tos" %}
                                    {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </td>
                        <td class="line" colspan="{{ cols|add:'-5' }}">

                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        <div id="">
                                           {% display_logo company 200 75 %}
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">{{ invoice_type }}</strong><br><br>
                                        Number:&nbsp;&nbsp;#
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ delivery.date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><strong>Customer:</strong></td>
                                     <td colspan="2"></td>
                                     <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% render_field form.customer class="form-control form-control-sm chosen-select"  %}
                                        {% if form.customer.auto_id  != "id_tos" %}
                                            {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                        {% endif %}
                                        <input type="hidden" id="line_discount">
                                        <a href="{% url 'create_customer' %}?redirect={% url 'create_delivery_invoice' delivery_id=delivery.id %}"><i class="fa fa-plus"></i></a>
                                    </td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.delivery_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.delivery_number.id_for_label }}">{{ form.delivery_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.delivery_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                                {% if form.delivery_number.auto_id  != "id_tos" %}
                                                    {% if form.delivery_number.errors %}<span class="help-inline">{{ form.delivery_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span id="customer_number"></span></td>
                                    <td><span id="shipping_address"></span></td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.estimate_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.estimate_number.id_for_label }}">{{ form.estimate_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.estimate_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                                {% if form.estimate_number.auto_id  != "id_tos" %}
                                                    {% if form.estimate_number.errors %}<span class="help-inline">{{ form.estimate_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_street">
                                            {% if delivery.customer %}
                                                {{ delivery.customer.postal_address.address_line_1 }}
                                            {% endif %}
                                        </span>

                                    </td>
                                    <td>
                                        <span id="delivery_street">
                                            {% if delivery.customer %}
                                                {{ delivery.customer.delivery_address.address_line_1 }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.po_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.po_number.id_for_label }}">{{ form.po_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.po_number class="form-control form-control-sm" %}
                                                {% if form.po_number.auto_id  != "id_tos" %}
                                                    {% if form.po_number.errors %}<span class="help-inline">{{ form.po_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_city">
                                            {% if delivery.customer %}
                                                {{ delivery.customer.postal_address.city }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_city">
                                            {% if delivery.customer %}
                                                {{ delivery.customer.delivery_address.city }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.vat_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.vat_number class="form-control form-control-sm vat-number" %}
                                                {% if form.vat_number.auto_id  != "id_tos" %}
                                                    {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_province">
                                            {% if delivery.customer %}
                                                {{ delivery.customer.postal_address.province_name }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_province">
                                            {% if delivery.customer %}
                                                {{ delivery.customer.delivery_address.province_name }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.period class="form-control form-control-sm"  %}
                                                {% if form.period.auto_id  != "id_tos" %}
                                                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_country">
                                            {% if delivery.customer %}
                                                {{ delivery.customer.postal_address.country.name }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_country">
                                            {% if estimate.customer %}
                                                {{ estimate.customer.delivery_address.country.name }}
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">{{ form.invoice_date.label_tag }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.invoice_date class="form-control form-control-sm datepicker" %}
                                                {% if form.invoice_date.auto_id  != "id_tos" %}
                                                    {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.due_date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.due_date class="form-control form-control-sm datepicker" readonly="readonly"  %}
                                                {% if form.due_date.auto_id  != "id_tos" %}
                                                    {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" colspan="{{ cols }}">
                        <div class="form-group control-group {% if form.comments.errors %}error{% endif %}">
                            <label class="control-label txt-font12" for="{{ form.comments.id_for_label }}">{{ form.comments.label_tag }}</label>
                            <div class="controls">
                                {% render_field form.comments class="form-control form-control-sm" %}
                                {% if form.comments.auto_id  != "id_tos" %}
                                    {% if form.comments.errors %}<span class="help-inline">{{ form.comments.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">DELIVERY CREATED BY</td>
                                    <td class="text-center" colspan="3">DATE CREATED</td>
                                    <td class="text-center" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if delivery.profile %}{{ delivery.profile }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if delivery.created_at %}{{ delivery.created_at|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if delivery.created_at %}{{ delivery.created_at|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3">{{ delivery.branch }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <th class="border-0">Type</th>
                        <th class="border-0">Stock Code</th>
                        <th class="border-0">Description</th>
                        <th class="border-0 text-right">Quantity On Hand</th>
                        <th class="text-right">Delivered</th>
                        <th class="text-right">Invoiced</th>
                        <th class="text-right">Back Order</th>
                        <th class="border-0">Unit</th>
                        <th class="border-0 text-right">Price</th>
                        <th class="border-0 text-right">Price Incl</th>
                        <th class="border-0">Disc(%)</th>
                        <th class="border-0 text-right">Discount</th>
                        <th class="border-0 text-right">Net Price</th>
                        <th class="border-0 text-right">Vat</th>
                        <th class="border-0">Total Incl</th>
                    </tr>
                    <tbody id="invoice_items_body" data-ajax-url="{% url 'invoice_delivery_items' delivery_id=delivery.id %}">
                        <tr id="invoice_items_placeholder">
                            <td colspan="15">
                                <img src="{% static 'images/loader.gif' %}">
                            </td>
                        </tr>
                        <tr id="actions">
                            <td class="text-right" colspan="15">
                                <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                        data-ajax-url="{% url 'add_invoice_items' %}"
                                >Add</button>
                            </td>
                        </tr>
                    </tbody>
                    <tr class="line-items">
                        {% for i in i|rjust:cols %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr class="line-items">
                        {% for i in i|rjust:cols %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="po-total" colspan="12">SUB TOTAL</td>
                        <td class="po-total" >&nbsp;<span id="total_price_excl"></span></td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="12">LINE DISCOUNTS</td>
                        <td class="po-total" >&nbsp;<span id="total_discount"></span></td>
                    </tr>
                    {% if customer_discount != 0 %}
                        <tr>
                            <td class="po-total" colspan="12">CUSTOMER DISCOUNTS</td>
                            <td class="po-total" >&nbsp;{{ delivery.customer_discount|money }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="po-total" colspan="12">NETT TOTAL</td>
                        <td class="po-total" >&nbsp;{{ delivery.net_total|money }}</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="12">VAT</td>
                        <td class="po-total" >&nbsp;{{ delivery.total_customer_invoice_vat|money }}</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="12">TOTAL ESTIMATE VALUE</td>
                        <td class="po-total" >&nbsp;<span id="total_price_inc"></span></td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="12">Gross Weight</td>
                        <td class="po-total" >&nbsp;{{ delivery.gross_weight|money }}</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="12">Net Weight</td>
                        <td class="po-total" >&nbsp;{{ delivery.net_weight|money }}</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="12">Total Items</td>
                        <td class="po-total" >&nbsp;{{ delivery.total_quantity|money }}</td>
                    </tr>
                    <tr class="customer-discount-calculation" style="display: none;">
                        <td class="text-left" colspan="3">
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">Vat Summary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vat on line ordered</td>
                                        <td class="text-right">{{ delivery.vat_amount|money }}</td>
                                    </tr>
                                    <tr>
                                        <td>Vat on customer discounts</td>
                                        <td class="text-right">{{ delivery.vat_on_customer_discount|money }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right">{{ delivery.total_customer_invoice_vat|money }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <td class="space" colspan="8">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Signed by Customer as received</td>
                        <td class="text-right writtable" colspan=4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Print Name:</td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Date: </td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
                <div class="form-group">
                   <span class="ajax-loader" id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
                </div>
                <div class="controls text-right">
                    <input type="hidden" id="default_vat" value="{{ default_vat}}">
                    <div class="form-group {% if form.is_picking_slip_required.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.is_picking_slip_required.id_for_label }}">{{ form.is_picking_slip_required.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.is_picking_slip_required class="form-control"  %}
                            {% if form.is_picking_slip_required.auto_id  != "id_tos" %}
                                {% if form.is_picking_slip_required.errors %}<span class="help-inline">{{ form.is_picking_slip_required.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url 'sales_delivery_index' %}" class="btn btn-warning">Cancel</a>
                    <button type="button" class="btn btn-primary btn-large save-invoice" name="submit_invoice"
                            id="submit_invoice_and_continue"
                            data-action="continue"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-primary btn-large save-invoice" name="submit_invoice_and_print"
                            id="submit_invoice_and_print"
                            data-action="print"><i class="fa fa-print"></i> Save and Print</button>
                </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
{% endblock %}