{% extends 'base.html' %}
{% load static %}
{% load invoice_tags company_tags sales_tags vat %}
{% load thumbnail %}
{% load widget_tweaks %}
{% block page_title %}CREATE CUSTOMER INVOICE {{ invoice_type }} {% endblock page_title %}
{% block stylesheet %}
     <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="sales_invoice_form"
  action="{% url 'create_invoice' invoice_type=invoice_type.code %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
            <a href="{% url 'sales_documents_index' %}" class="btn btn-warning">Cancel</a>
            <button type="button" class="btn btn-primary btn-large save-cash-invoice" name="submit_invoice"
                    data-payment-url="{% url 'create_cash_invoice_receipt' %}"
                    id="submit_invoice_and_continue"
                    data-action="continue"><i class="fa fa-save"></i> Save</button>
            <button type="button" class="btn btn-primary btn-large save-cash-invoice"
                    data-payment-url="{% url 'create_cash_invoice_receipt' %}"
                    name="submit_invoice_and_print"
                    id="submit_invoice_and_print"
                    data-action="print"><i class="fa fa-print"></i> Save and Print</button>
{#            <button type="button" class="btn btn-primary btn-large save-invoice" name="submit_cash_invoice"#}
{#                    id="save_cash_invoice"#}
{#                    data-action="continue"><i class="fa fa-save"></i> Save</button>#}
{#            <button type="button" class="btn btn-primary btn-large save-invoice" name="submit_invoice_and_print"#}
{#                    id="submit_invoice_and_print"#}
{#                    data-action="print"><i class="fa fa-print"></i> Save and Print</button>#}
          </div>
      </div>
      <div class="panel-body align-center">
           <div id="sales-document">
                <table class="table table-condensed table-bordered" id="delivery-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="line" width="50%">
                                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                                         <div class="controls">
                                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                                            {% if form.branch.auto_id  != "id_tos" %}
                                                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="line" width=50%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        <div id="">
                                           {% display_logo company 200 75 %}
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">{{ invoice_type }}</strong><br><br>
                                        Number:&nbsp;&nbsp;#
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ invoice.invoice_date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td><strong>Customer:</strong></td>
                                     <td><strong>Shipping To:</strong></td>
                                     <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        {% render_field form.customer_name class="form-control form-control-sm" tabindex=1  %}
                                        {% if form.customer_name.auto_id  != "id_tos" %}
                                            {% if form.customer_name.errors %}<span class="help-inline">{{ form.customer_name.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="form-group control-group">
                                            <label class="col-sm-4 control-label">Pick Up</label>
                                            <div class="col-sm-8">
                                                <input type="checkbox"
                                                       class="form-control checkbox-input checkbox-inline"
                                                       name="pick_up"
                                                       id="pick_up" checked="checked" tabindex="6" />
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.estimate_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.estimate_number.id_for_label }}">{{ form.estimate_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.estimate_number class="form-control form-control-sm" tabindex="11" %}
                                                {% if form.estimate_number.auto_id  != "id_tos" %}
                                                    {% if form.estimate_number.errors %}<span class="help-inline">{{ form.estimate_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control postal" name="postal_street" id="street"  tabindex=2
                                            {% if invoice and invoice.postal.street %}
                                               value="{{ invoice.postal.street }}"
                                            {% endif %}
                                            placeholder="Street"
                                            />
                                    </td>
                                    <td>
                                        <div class="delivery-address" style="visibility: hidden;">
                                            <input class="form-control delivery" name="delivery_street" id="street" tabindex="7"
                                                {% if invoice and invoice.delivery.street %}
                                                   value="{{ invoice.delivery.street }}"
                                                {% endif %}
                                                placeholder="Delivery Street"
                                                />
                                        </div>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.po_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.po_number.id_for_label }}">{{ form.po_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.po_number class="form-control form-control-sm" tabindex="12" %}
                                                {% if form.po_number.auto_id  != "id_tos" %}
                                                    {% if form.po_number.errors %}<span class="help-inline">{{ form.po_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <input class="form-control postal" name="postal_city" id="city"  tabindex=3
                                            {% if invoice and invoice.postal.city %}
                                               value="{{ invoice.postal.city}}"
                                            {% endif %}
                                            placeholder="City"
                                        />
                                    </td>
                                    <td>
                                        <div class="delivery-address" style="visibility: hidden;">
                                            <input class="form-control delivery" name="delivery_city" id="city" tabindex="8"
                                                {% if invoice and invoice.delivery.city %}
                                                   value="{{ invoice.delivery.city}}"
                                                {% endif %}
                                                placeholder="Delivery City"
                                            />
                                        </div>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.vat_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.vat_number class="form-control form-control-sm vat-number" tabindex="13" %}
                                                {% if form.vat_number.auto_id  != "id_tos" %}
                                                    {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% render_field form.postal_province class="form-control chosen-select" tabindex=4 style="width:350px" %}
                                        {% if form.postal_province.auto_id  != "id_tos" %}
                                            {% if form.postal_province.errors %}
                                                <span class="help-inline">{{ form.postal_province.errors }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="delivery-address" style="visibility: hidden;">
                                            {% render_field form.delivery_province class="form-control chosen-select" tabindex="9" style="width:350px" %}
                                            {% if form.delivery_province.auto_id  != "id_tos" %}
                                                {% if form.delivery_province.errors %}
                                                    <span class="help-inline">{{ form.delivery_province.errors }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.period class="form-control form-control-sm" tabindex="14"  %}
                                                {% if form.period.auto_id  != "id_tos" %}
                                                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       {% render_field form.postal_country class="form-control chosen-select" tabindex=5 style="width:350px" %}
                                       {% if form.postal_country.auto_id  != "id_tos" %}
                                          {% if form.postal_country.errors %}
                                              <span class="help-inline">{{ form.postal_country.errors }}</span>
                                          {% endif %}
                                       {% endif %}
                                    </td>
                                    <td>
                                        <div class="delivery-address" style="visibility: hidden;">
                                            {% render_field form.delivery_country class="form-control chosen-select" tabindex="10" style="width:350px" %}
                                            {% if form.delivery_country.auto_id  != "id_tos" %}
                                                {% if form.delivery_country.errors %}
                                                    <span class="help-inline">{{ form.delivery_country.errors }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">{{ form.invoice_date.label_tag }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.invoice_date class="form-control form-control-sm datepicker" tabindex="15" %}
                                                {% if form.invoice_date.auto_id  != "id_tos" %}
                                                    {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" colspan="{{ cols }}">
                        <div class="form-group control-group {% if form.notes.errors %}error{% endif %}">
                            <label class="control-label txt-font12" for="{{ form.notes.id_for_label }}">{{ form.notes.label_tag }}</label>
                            <div class="controls">
                                {% render_field form.notes class="form-control form-control-sm" %}
                                {% if form.notes.auto_id  != "id_tos" %}
                                    {% if form.notes.errors %}<span class="help-inline">{{ form.notes.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            {% invoice_linked_objects request.session.company request.session.role None 'horizontal' %}
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">INVOICE CREATED BY</td>
                                    <td class="text-center" colspan="3">DATE CREATED</td>
                                    <td class="text-center" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if estimate.profile %}{{ estimate.profile }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if estimate.created_at %}{{ estimate.created_at|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if estimate.created_at %}{{ estimate.created_at|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3">{{ estimate.branch }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table class="table" width="100%">
                                <tr>
                                    <th class="border-0">Type</th>
                                    <th class="border-0">Stock Code/Description</th>
                                    <th class="text-right">Stock</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Invoiced</th>
                                    <th class="border-0">Unit</th>
                                    <th class="border-0 text-right">Price</th>
                                    <th class="border-0">Disc(%)</th>
                                    <th class="border-0 text-right">Discount</th>
                                    <th class="border-0 text-right">Net Price</th>
                                    <th class="border-0 text-right">Vat</th>
                                    <th class="border-0 text-right">Vat Amount</th>
                                    <th class="border-0">Total Incl</th>
                                    <th class="border-0"></th>
                                </tr>
                                <tbody id="invoice_items_body" data-ajax-url="{% url 'add_invoice_items' %}">
                                    <tr id="invoice_items_placeholder">
                                        <td colspan="14">
                                            <img src="{% static 'images/loader.gif' %}">
                                        </td>
                                    </tr>
                                    <tr id="actions">
                                        <td class="text-right" colspan="14">
                                            <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                                    data-ajax-url="{% url 'add_invoice_items' %}"
                                            >Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr class="totals">
                        <td colspan="{{ cols }}" class="text-right">
                            <table width="100%" class="table">
                              <tr>
                                    <td class="po-total" colspan="14">SUB TOTAL</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="sub_total"></span>
                                        {% render_field form.sub_total %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">LINE DISCOUNTS</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_discount"></span>
                                        {% render_field form.line_discount %}
                                    </td>
                                </tr>
                                <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                    <td class="po-total" colspan="14">CUSTOMER DISCOUNTS</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="customer_invoice_discounts"></span>
                                        {% render_field form.customer_discount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">NETT TOTAL</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="net_total"></span>
                                        {% render_field form.net_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">VAT</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_vat_amount"></span>
                                        {% render_field form.vat_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">TOTAL ORDER VALUE</td>
                                    <td class="po-total" >&nbsp;
                                        <span id="total_order_value"></span>
                                        {% render_field form.total_amount %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="space" colspan="{{ cols }}">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="12">Gross Weight</td>
                                    <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="12">Net Weight</td>
                                    <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="12">Total Items</td>
                                    <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="customer-discount-calculation" style="display: none;">
                        <td class="text-left" colspan="3">
                            <table class="table table-bordered table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">Vat Summary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vat on line ordered</td>
                                        <td class="text-right">{{ estimate.vat_amount|money }}</td>
                                    </tr>
                                    <tr>
                                        <td>Vat on customer discounts</td>
                                        <td class="text-right">{{ estimate.vat_on_customer_discount|money }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-right">{{ estimate.total_customer_invoice_vat|money }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <td class="space" colspan="8">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Signed by Customer as received</td>
                        <td class="text-right writtable" colspan="5"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Print Name:</td>
                        <td class="text-right writtable" colspan="5"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Date: </td>
                        <td class="text-right writtable" colspan="5"></td>
                        <td class="space" colspan="6">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
                <div class="form-group">
                   <span class="ajax-loader" id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
                </div>
                <div class="controls text-right">
                    <input type="hidden" id="default_vat" value="{{ default_vat}}">
{#                    <div class="form-group {% if form.is_picking_slip_required.errors %}error{% endif %}">#}
{#                        <label class=" control-label txt-font12" for="{{ form.is_picking_slip_required.id_for_label }}">{{ form.is_picking_slip_required.label_tag }}</label>#}
{#                        <div class="controls">#}
{#                            {% render_field form.is_picking_slip_required class="form-control"  %}#}
{#                            {% if form.is_picking_slip_required.auto_id  != "id_tos" %}#}
{#                                {% if form.is_picking_slip_required.errors %}<span class="help-inline">{{ form.is_picking_slip_required.errors }}</span>{% endif %}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}

                </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}"></script>
{% endblock %}