{% load invoice_tags %}
{% for invoice_item in invoice_items.all %}
    {% if invoice_item.invoice_item_type == 0 %}
        <tr id="invoice_item_row_{{ invoice_item.id }}" class="sales-items invoice_item_row"
            data-row-id="{{ invoice_item.id }}"
            data-invoice-id="{{ invoice_item.id }}">
            <td>
                {{ invoice_item.type_name }}
            </td>
            <td>
                {{ invoice_item.inventory.inventory }} - {{ invoice_item.inventory.description }}
                <input type="hidden" name="id_{{ invoice_item.id }}" value="{{ invoice_item.id }}" />
            </td>
            <td class="text-right">
                {{ invoice_item.inventory.available_stock }}
            </td>
            <td class="text-right">
                <input type="text" class="form-control form-control-sm quantity"
                   value="{{ invoice_item.available_quantity|money }}"
                   name="quantity_{{ invoice_item.id }}"
                   id="quantity_{{ invoice_item.id }}"
                   data-item-id="{{ invoice_item.id }}"
                />
                <input type="hidden"
                   value="0"
                   id="allow_negative_stock_{{ invoice_item.id }}"
                   data-item-id="{{ invoice_item.id }}"
                />
                <input type="hidden"
                   value="{{ invoice_item.available_quantity }}"
                   id="in_stock_{{ invoice_item.id }}"
                   data-item-id="{{ invoice_item.id }}"
                />
            </td>
            <td class="text-right">
                {{ invoice_item.inventory.unit }}
            </td>
            <td class="text-right">
                <span id="price_excl_{{ invoice_item.id }}">{{ invoice_item.price|money }}</span>
                <input type="hidden"
                       name="price_{{ invoice_item.id }}"
                       id="price_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.price }}" />
                <input type="hidden" class="sub-total"
                       name="sub_total_{{ invoice_item.id }}"
                       id="sub_total_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.sub_total }}" />
                    <input type="hidden" class="form-control form-control-sm price-including"
                       name="price_including_{{ invoice_item.id }}"
                       id="price_including_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.price_including }}" />
            </td>
            <td class="text-right">
                {{ invoice_item.discount|money }}
                <input type="hidden" class="form-control form-control-sm discount" value="{{ invoice_item.discount }}"
                       name="discount_percentage_{{ invoice_item.id }}"
                       id="discount_percentage_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}" />
                <input type="hidden" class="form-control form-control-sm total-discount" value="" readonly="readonly"
                       name="total_discount_{{ invoice_item.id }}"
                       id="total_discount_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}" />
            </td>
            <td class="text-right">
                <span class="price-exc" id="total_price_exl_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
                    {{ invoice_item.total_price_excluding|money }}
                </span>
                <input type="hidden" value="{{ invoice_item.total_price_excluding }}"
                       name="total_price_excluding_{{ invoice_item.id }}"
                       id="total_price_excluding_{{ invoice_item.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                <span class="vat-type" id="vat_type_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
                    {{ invoice_item.vat_code }}
                </span>
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
                    {{ invoice_item.vat|money }}
                </span>
                <input type="hidden" value="{{ invoice_item.vat }}"
                       name="vat_percentage_{{ invoice_item.id }}"
                       id="vat_percentage_{{ invoice_item.id }}"
                       class="vat-percentage"
                >
                <input type="hidden" value="{{ invoice_item.vat_code.id }}"
                       name="vat_code_{{ invoice_item.id }}"
                       id="vat_code_{{ invoice_item.id }}"
                       data-percentage="{{ invoice_item.vat_code.percentage }}"
                       class="vat vat-codes"
                       data-item-id="{{ invoice_item.id }}"
                       data-text="{{ invoice_item.vat_code }}"
                />
                <input type="hidden"
                       name="total_vat_{{ invoice_item.id }}"
                       id="total_vat_{{ invoice_item.id }}"
                       class="total-vat total-vat-amount"
                       value="{{ invoice_item.total_vat_amount }}"
                />
            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ invoice_item.id }}">{{ invoice_item.total_price_including|money }}</span>
                <input type="hidden" value="{{ invoice_item.total_price_including|money }}"
                       name="total_price_including_{{ invoice_item.id }}"
                       id="total_price_including_{{ invoice_item.id }}"
                       class="total-price-incl open-input"
                >
            </td>
        </tr>
    {% elif invoice_item.invoice_item_type == 1 %}

    {% endif %}
{% endfor %}