{% load i18n %}
<div id="postal_street" class="form-group control-group">
    <input type="text" name="customer_name" id="customer_name" class="form-control form-control-sm" placeholder="{% translate "Customer Name" %}" />
</div>
<div id="postal_city" class="form-group control-group postal">
    <input type="text" name="postal_street" id="postal__street" class="form-control form-control-sm" placeholder="{% translate "Street Address" %}" />
</div>
<div id="postal_city" class="form-group control-group postal">
    <input type="text" name="postal_city" id="postal__city" class="form-control form-control-sm" placeholder="{% translate "City" %}" />
</div>
<div id="postal_province" class="form-group control-group postal">
     <select type="text" name="postal_province" id="postal__province" class="form-control form-control-sm">
         {% for province_id, province in provinces.items %}
            <option value="{{ province }}">{{ province  }}</option>
         {% endfor %}
     </select>
</div>
<div id="postal_postal_code" class="form-group control-group postal">
    <input type="text" name="postal_postal_code" id="postal__postal_code" class="form-control form-control-sm" placeholder="{% translate "Postal Code" %}" />
</div>
<div id="postal_country" class="form-group control-group postal">
     <select name="postal_country" id="postal__country" class="form-control form-control-sm chosen-select">
         {% for code, country in countries.items %}
            <option {% if code == 'ZA' %} selected="selected" {% endif %}  value="{{ code }}">{{ country  }}</option>
         {% endfor %}
     </select>
</div>