<table class="table align-right" style="float: left;">
   {% if not invoice.is_cash %}

        <tr>
            <td class="text-left">{{ invoice.customer.number }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ invoice.customer.name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ invoice.customer.postal_address.street }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ invoice.customer.postal_address.postal_code }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ invoice.customer.postal_address.province_name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ invoice.customer.postal_address.country.name }}</td>
        </tr>
    {% else %}
        {% if invoice.customer_name %}
            <tr>
                <td class="text-left">{{ invoice.customer_name }}</td>
            </tr>
        {% endif %}
        {% if invoice.postal_address %}
            {% if invoice.postal_address.address_line_1 %}
            <tr>
                <td class="text-left">{{ invoice.postal_address.address_line_1 }}</td>
            </tr>
            {% endif %}
            {% if invoice.postal_address.city %}
            <tr>
                <td class="text-left">{{ invoice.postal_address.city }}</td>
            </tr>
            {% endif %}
            {% if invoice.postal_address.province_name %}
            <tr>
                <td class="text-left">{{ invoice.postal_address.province_name }}</td>
            </tr>
            {% endif %}
            {% if invoice.postal_address.postal_code %}
                <tr>
                    <td class="text-left">{{ invoice.postal_address.postal_code }}</td>
                </tr>
            {% endif %}
            {% if invoice.postal_address.country %}
            <tr>
                <td class="text-left">{{ invoice.postal_address.country.name }}</td>
            </tr>
            {% endif %}
        {% endif %}
    {% endif %}
</table>