{% load invoice_tags %}
{% for delivery_term in delivery_items.all %}
    {% if delivery_term.delivery_type == 0 %}
        <tr id="invoice_item_row_{{ delivery_term.id }}" class="invoice_item_row" data-row-id="{{ delivery_term.id }}"
             data-estimate-id="{{ delivery_term.id }}"
        >
            <td>
                {{ delivery_term.type_name }}
            </td>
            <td>
                {{ delivery_term.inventory.inventory }}
                <input type="hidden" name="estimate_id" value="{{ delivery_term.id }}">
            </td>
            <td>
                {{ delivery_term.inventory.description }}
            </td>
            <td class="text-right">
                {{ delivery_term.inventory.available_stock }}
            </td>
            <td class="text-right">
                {{ delivery_term.quantity|money }}
                <input type="hidden" name="quantity_ordered_{{ delivery_term.id }}"
                       id="quantity_ordered_{{ delivery_term.id }}"
                       value="{{ delivery_term.quantity|money }}">
            </td>
            <td class="text-right">

                <input type="text" class="form-control form-control-sm quantity"
                   value="{{ delivery_term.deliverable_quantity|money }}"
                   name="quantity_{{ delivery_term.id }}"
                   id="quantity_{{ delivery_term.id }}"
                   data-item-id="{{ delivery_term.id }}"
                />
            </td>
            <td class="text-right">
                <input type="checkbox" class="checkbox-input create-back-order"
                       {% if delivery_term.is_inventory_available %}
                           disabled="disabled"
                       {% endif %}
                       name="back_order_{{ delivery_term.id }}"
                       id="back_order_{{ delivery_term.id }}"
                       data-item-id="{{ delivery_term.id }}"
                       value="{{ delivery_term.id }}"
                />
            </td>
            <td class="text-right">
                {{ delivery_term.inventory.unit }}
            </td>
            <td class="text-right">
                {{ delivery_term.price|money }}
                <input type="hidden" class="form-control form-control-sm price"
                       name="price_{{ delivery_term.id }}"
                       id="price_{{ delivery_term.id }}"
                       data-item-id="{{ delivery_term.id }}"
                       value="{{ delivery_term.price }}" />

            </td>
            <td class="text-right">
                {{ delivery_term.price_including|money }}
        <input type="hidden" class="form-control form-control-sm price-including"
               name="price_including_{{ delivery_term.id }}"
               id="price_including_{{ delivery_term.id }}"
               data-item-id="{{ delivery_term.id }}"
               value="{{ delivery_term.price_including }}" />
            </td>
            <td class="text-right">
                {{ delivery_term.discount|money }}
                <input type="hidden" class="form-control form-control-sm discount" value="{{ delivery_term.discount }}"
                       name="discount_percentage_{{ delivery_term.id }}"
                       id="discount_percentage_{{ delivery_term.id }}"
                       data-item-id="{{ delivery_term.id }}" />
            </td>
            <td class="text-right">
                {{ delivery_term.discount_amount|money }}
                <input type="hidden" class="form-control form-control-sm total-discount" value="" readonly="readonly"
                       name="total_discount_{{ delivery_term.id }}"
                       id="total_discount_{{ delivery_term.id }}"
                       data-item-id="{{ delivery_term.id }}" />
            </td>
            <td class="text-right">
                {{ delivery_term.total_price_excluding|money }}
                <input type="hidden" value="{{ delivery_term.total_price_excluding }}"
                       name="total_price_excluding_{{ delivery_term.id }}"
                       id="total_price_excluding_{{ delivery_term.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                {{ delivery_term.vat|money }}
                <input type="hidden" value="{{ delivery_term.vat }}"
                       name="vat_percentage_{{ delivery_term.id }}"
                       id="vat_percentage_{{ delivery_term.id }}"
                       class="vat-percentage"
                >
            </td>
            <td class="text-right">
                {{ delivery_term.total_price_including|money }}
                <input type="hidden" value="{{ delivery_term.total_price_including|money }}"
                       name="total_price_including_{{ delivery_term.id }}"
                       id="total_price_including_{{ delivery_term.id }}"
                       class="total-price-incl open-input"
                >
            </td>
        </tr>
    {% elif delivery_term.estimate_type == 1 %}

    {% endif %}
{% endfor %}