{% extends 'base.html' %}
{% load static i18n %}
{% load thumbnail %}
{% load widget_tweaks compress %}
{% load invoice_tags comment_tags %}
{% block page_title %}{% translate "Invoice" %} - {{ invoice }}  <span class="pull-right">&nbsp;{{ invoice }}</span>{% endblock page_title %}
{% block stylesheets %}
{% endblock %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left">
                <span class="ui-state ui-state-info-text">{{ invoice.status_name }}</span>
            </h5>
        </div>
      <div class="pull-right">
        {% block action_buttons %}
            {% if invoice.is_draft %}
                <button type="button" class="btn btn-success action btn-loading"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-modal="{% url 'complete_draft' invoice.id %}" id="complete_draft">
                <i class="fa fa-check"></i> {% translate "Complete" %}</button>
                &nbsp;&nbsp; | &nbsp;&nbsp;
                {% if invoice.customer %}
                    <a href="{% url 'edit_invoice' invoice.id %}" class="btn btn-primary btn-sm"
                            id="edit_invoice"
                            data-toggle="tooltip"><i class="fa fa-pencil"></i> {% translate "Edit" %}</a>
                {% else %}
                    <a href="{% url 'edit_invoice' invoice.id %}" class="btn btn-primary btn-sm"
                            id="edit_invoice"
                            data-toggle="tooltip"><i class="fa fa-pencil"></i> {% translate "Edit" %}</a>
                {% endif %}
            {% else %}
                <button class="btn btn-info btn-sm" name="invoice_tracking" id="invoice_tracking"
                    data-modal="{% url 'sales_invoice_tracking' invoice.id %}"
                    data-toggle="tooltip"><i class="fa fa-eye"></i> {% translate "Tracking" %}</button>
                &nbsp;&nbsp; | &nbsp;&nbsp;
                {% if invoice.is_creditable %}
                    <button type="button" class="btn btn-primary btn-sm single-action" name="credit_invoice"
                            id="credit_invoice" data-action="copy_invoice"
                            data-loading-text="<i class='fa fa-spinner'></i> Processing"
                            data-ajax-url="{% url 'single_invoice_action' action='credit' %}"
                            data-invoice-id="{{ invoice.id }}"
                            data-toggle="tooltip"><i class="fa fa-credit-card"></i> {% translate "Credit" %}</button>
                {% endif %}
                {% if invoice.receipt %}
                    <a data-fancybox data-type="ajax" data-src="{% url 'view_invoice_payment' invoice.id %}"
                       class="btn btn-success" href="javascript:;"><i class="fa fa-money"></i> {% translate "Payment" %}</a>
                {% else %}
                    <button type="button" class="btn btn-success btn-loading"
                            data-action="mark_as_paid"
                            data-loading-text="<i class='fa fa-spinner'></i> Processing"
                            data-modal="{% url 'create_invoice_receipt' invoice.id %}" id="mark_as_paid">
                    <i class="fa fa-credit-card"></i> {% translate "Mark As Paid" %}</button>

                {% endif%}

                {% if not invoice.is_printed %}
                    <button type="button" class="btn btn-primary btn-sm single-action" name="copy_invoice"
                            id="copy_invoice" data-invoice-id="{{ invoice.id }}" data-action="copy_invoice"
                            data-loading-text="<i class='fa fa-spinner'></i> Processing"
                            data-ajax-url="{% url 'single_invoice_action' action='copy' %}?invoice_id={{ invoice.id }}"
                            data-toggle="tooltip"><i class="fa fa-copy"></i> {% translate 'Copy' %}</button>
                    {% if invoice.customer and invoice.customer.df_number %}
                        <button type="button" class="btn btn-primary btn-sm action"
                                name="submit_invoice" id="send_to_docuflow" data-is-cash="0"
                                {% if invoice.purchase_invoice %} disabled="disabled" {% endif %}
                                data-ajax-url="{% url 'send_to_docuflow' invoice.id %}"
                                data-loading-text="<i class='fa fa-spinner'></i> Sending ..."
                                data-action="send_to_docuflow"><i class="fa fa-file"></i> {% translate "Send to docuflow" %}</button>
                    {% endif %}
                    <a href="{% url 'edit_invoice' invoice.id %}" class="btn btn-primary btn-sm"
                            id="edit_invoice"
                            data-toggle="tooltip"><i class="fa fa-pencil"></i> {% translate "Edit" %}</a>
                {% endif  %}
                &nbsp;&nbsp; | &nbsp;&nbsp;
                <button type="button" class="btn btn-success btn-loading action"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-ajax-url="{% url 'send_invoice_email' invoice.id %}" id="re_email">
                <i class="fa fa-envelope"></i> {% translate "Email" %}</button>
            {% endif %}
            <a href="{% url 'view_sales_invoice' invoice.id %}?print=1" type="button" class="btn btn-primary btn-sm"
                data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
              <a href="{% url 'sales_documents_index' %}" id="previous_level" class="btn btn-default btn-sm"> {% translate "Prev. Level" %}</a>
        {% endblock %}
      </div>
  </div>
  <div class="panel-body align-center" id="invoice_document">
      {% if invoice.invoice_type.is_swe_format %}
         {% include "sales/formats/swe/template.html" %}
      {% else %}
          {% include "sales/template.html" %}
      {% endif %}
  </div>
  <div class="row">
    <div class="col-8">{% comments invoice.id content_type.id %}</div>
    <div class="col-4"></div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
        <script>
            $(function(){
                $('.invoice-col').matchHeight();
            });
        </script>
    {% endcompress %}
{% endblock %}
