{% load invoice_tags %}
{% for estimate_item in estimate_items.all %}
    {% if estimate_item.estimate_type == 0 %}
        <tr id="sales_item_{{ estimate_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ estimate_item.id }}"
             data-estimate-id="{{ estimate_item.id }}"
        >
            <td>
                {{ estimate_item.item_type }}
            </td>
            <td>
                {{ forloop.index0 }}
                {{ estimate_item.inventory.inventory }}
                <input type="hidden" name="estimate_id" value="{{ estimate_item.id }}">
            </td>
            <td>
                {{ estimate_item.inventory.description }}
            </td>
            <td class="text-right">
                {{ estimate_item.inventory.available_stock }}
            </td>
            <td class="text-right">
                {{ estimate_item.quantity|money }}
                <input type="hidden" name="quantity_ordered_{{ estimate_item.id }}" id="quantity_ordered_{{ estimate_item.id }}"
                       value="{{ estimate_item.quantity|money }}">
            </td>
            <td class="text-right">
                <input type="text" class="form-control form-control-sm quantity"
                   value="{{ estimate_item.deliverable_quantity|money }}"
                   name="quantity_{{ estimate_item.id }}"
                   id="quantity_{{ estimate_item.id }}"
                   data-item-id="{{ estimate_item.id }}"
                />
            </td>
            <td class="text-right">
                <input type="checkbox" class="checkbox-input create-back-order"
                       {% if estimate_item.is_inventory_available %}
                           disabled="disabled"
                       {% endif %}
                       name="back_order_{{ estimate_item.id }}"
                       id="back_order_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.id }}"
                />
            </td>
            <td class="text-right">
                {{ estimate_item.unit }}
            </td>
            <td class="text-right">
                {{ estimate_item.price|money }}
                <input type="hidden" class="form-control form-control-sm price"
                       name="price_{{ estimate_item.id }}"
                       id="price_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.price }}" />

            </td>
            <td class="text-right">
                {{ estimate_item.price_including|money }}
                <input type="hidden" class="form-control form-control-sm price-including"
                       name="price_including_{{ estimate_item.id }}"
                       id="price_including_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.price_including }}" />
                <input type="hidden" class="sub-total"
                       name="sub_total_{{ estimate_item.id }}"
                       id="sub_total_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.sub_total }}" />
            </td>
            <td class="text-left">
                <span class="price" id="_discount_percentage_{{ estimate_item.id }}">{{ estimate_item.discount|money }}</span>
                <input type="hidden" class="form-control form-control-sm discount" value="{{ estimate_item.discount }}"
                       name="discount_percentage_{{ estimate_item.id }}"
                       id="discount_percentage_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}" />
            </td>
            <td class="text-right">
                <span class="discount-amount" id="discount_amount_{{ estimate_item.id }}"
                      data-item-id="{{ estimate_item.id }}">{{ estimate_item.total_discount_amount|money }}</span>
                <input type="hidden" class="form-control form-control-sm total-discount"
                       value="{{ estimate_item.total_discount_amount }}" readonly="readonly"
                       name="total_discount_{{ estimate_item.id }}"
                       id="total_discount_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}" />
            </td>
            <td class="text-right">
                <span class="price-exc" id="total_price_exl_{{ estimate_item.id }}" data-item-id="{{ estimate_item.id }}">
                    {{ estimate_item.total_price_excluding|money }}
                </span>
                <input type="hidden" value="{{ estimate_item.total_price_excluding }}"
                       name="total_price_excluding_{{ estimate_item.id }}"
                       id="total_price_excluding_{{ estimate_item.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ estimate_item.id }}" data-item-id="{{ estimate_item.id }}">
                    {{ estimate_item.total_vat_amount|money }}
                </span>
                <input type="hidden" value="{{ estimate_item.vat_code.id }}"
                       name="vat_code_{{ estimate_item.id }}"
                       id="vat_code_{{ estimate_item.id }}"
                       data-percentage="{{ estimate_item.vat_code.percentage }}"
                       class="vat vat-codes"
                       data-item-id="{{ estimate_item.id }}"
                       data-text="{{ estimate_item.vat_code }}"
                />
                <input type="hidden" value="{{ estimate_item.vat }}"
                       name="vat_percentage_{{ estimate_item.id }}"
                       id="vat_percentage_{{ estimate_item.id }}"
                       class="vat-percentage"
                />
                <input type="hidden"
                       name="total_vat_{{ estimate_item.id }}"
                       id="total_vat_{{ estimate_item.id }}"
                       class="total-vat total-vat-amount"
                       value="{{ estimate_item.total_vat_amount }}"
                />
            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ estimate_item.id }}">{{ estimate_item.total_price_including|money }}</span>
                <input type="hidden" value="{{ estimate_item.total_price_including|money }}"
                       name="total_price_including_{{ estimate_item.id }}"
                       id="total_price_including_{{ estimate_item.id }}"
                       class="total-price-incl open-input" />
            </td>
        </tr>
    {% elif estimate_item.estimate_type == 1 %}

    {% endif %}
{% endfor %}