{% load i18n %}
<div class="row">
    <div class="col-6">
        <div>{% translate "Signed by Customer as" %} {% if invoice_type and invoice_type.is_credit %} returned {% else %} received {% endif %}</div>
        <div class="signing-footer text-right writtable"></div>
        <div class="space">&nbsp;</div>
    </div>
    <div class="col-6">
        <div>{% translate "Print Name" %}:</div>
        <div class="signing-footer text-right writtable"></div>
        <div class="space">&nbsp;</div>
    </div>
    <div class="col-6">
        <div>{% translate "Date" %}: </div>
        <div class="signing-footer text-right writtable"></div>
        <div class="space">&nbsp;</div>
    </div>
    <div class="col-6">
        <div class="signing-footer df-copyright">Printed via Docuflow &copy; www.docuflow.co.za</div>
    </div>
</div>