{% extends 'datatable.html' %}
{% load static %}
{% load i18n %}
{% load invoice_tags %}
{% block page_title %}{% translate "Customer Documents" %} {{ year }} {% endblock page_title %}
{% block datatable %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>
            <div class="pull-right">
                {% if invoice_type %}
                     <a class="btn btn-large btn-primary" {% if year.is_final %}disabled="disabled"{% endif %}
                        href="{% url 'recurring_invoice' %}"><i class="fa fa-list-alt"></i> {% translate "Recurring" %}</a>
&nbsp; &nbsp;&nbsp;| &nbsp;&nbsp; &nbsp;
                     {% if tax_invoice_type %}
                         <a class="btn btn-large btn-primary" {% if year.is_final %}disabled="disabled"{% endif %}
                            href="{% url 'create_invoice' invoice_type=tax_invoice_type.code %}"><i class="fa fa-file"></i> {% translate "Create Invoice" %}</a>
                     {% endif %}
                     {% if credit_invoice_type %}
                         <a class="btn btn-large btn-primary" {% if year.is_final %}disabled="disabled"{% endif %}
                            href="{% url 'create_invoice' invoice_type=credit_invoice_type.code %}"><i class="fa fa-file-text"></i> {% translate "Create Credit" %}</a>
                          &nbsp; | &nbsp;
                     {% endif %}
                     <button type="button" class="btn btn-primary btn-loading bulk-action"
                             data-loading-text="<i class='fa fa-spinner'></i> Processing"
                             {% if year.is_final %}disabled="disabled"{% endif %}
                             data-ajax-url="{% url 'send_invoices_email' %}" id="re_email">
                            <i class="fa fa-envelope"></i> {% translate "Email" %}</button>
                     <button type="button" class="btn btn-primary btn-sm single-action" name="print_invoice"
                             id="print_invoice" {% if year.is_final %}disabled="disabled"{% endif %}
                             data-ajax-url="{% url 'single_invoice_action' action='print' %}"
                             data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</button>
                      &nbsp; | &nbsp;
                     <button type="button" class="btn btn-primary btn-sm single-action" name="credit_invoice"
                             id="credit_invoice" {% if year.is_final %}disabled="disabled"{% endif %}
                             data-ajax-url="{% url 'single_invoice_action' action='credit' %}"
                             data-toggle="tooltip"><i class="fa fa-credit-card"></i> {% translate "Credit" %}</button>
                     <button type="button" class="btn btn-primary single-action btn-loading"
                             {% if year.is_final %}disabled="disabled"{% endif %}
                             data-loading-text="<i class='fa fa-spinner'></i> Processing"
                             data-ajax-url="{% url 'single_invoice_action' action='create_picking_slip' %}" id="generate_picking_slip">
                            <i class="fa fa-hand-grab-o"></i> {% translate "Picking Slip" %} </button>
                     <button type="button" class="btn btn-primary btn-sm single-action" name="edit_invoice"
                             id="edit_invoice" {% if year.is_final %}disabled="disabled"{% endif %}
                             data-ajax-url="{% url 'single_invoice_action' action='edit' %}"
                             data-toggle="tooltip"><i class="fa fa-pencil"></i> {% translate "Edit" %}</button>
                  {% else %}
                         <span class="text-danger">{% translate "Please setup document types for the sales module" %}</span>
                  {% endif %}
            </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>{% translate "Document No" %}</th>
                        <th>{% translate "Document Type" %}</th>
                        <th>{% translate "Customer Nr" %}</th>
                        <th>{% translate "Customer Name" %}</th>
                        <th>{% translate "Doc Date" %}</th>
                        <th class="text-right">{% translate "Ex Vat" %}</th>
                        <th class="text-right">{% translate "Incl Vat" %}</th>
                        <th class="text-right">{% translate "Balance" %}</th>
                        <th>{% translate "Due Date" %}</th>
                        <th>{% translate "Status" %}</th>
                        <th>{% translate "Action" %}</th>
                    </tr>
                </thead>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#invoices").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/sales/invoices/?format=datatables',
              'columns': [
                { data: 'document_number', name: 'invoice_id', searchable: true},
                { data: 'invoice_type', name: 'invoice_type__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    }
                },
                { data: 'customer', name: 'customer__number', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.number : '-';
                    }
                },
                { data: 'customer', name: 'customer__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    }
                },
                { data: 'invoice_date', name: 'invoice_date', searchable: true},
                { data: 'net_amount', name: 'net_amount', searchable: true, className: 'text-right'},
                { data: 'total_amount', name: 'total_amount', searchable: true, className: 'text-right'},
                { data: 'open_amount', name: 'open_amount', searchable: true, className: 'text-right'},
                { data: 'due_date', name: 'due_date'},
                { data: 'status', name: 'status', searchable: false},
                { data: 'id', name: 'id', searchable: false, title:'Action', className: 'actions text-center'},
                { data: 'created_at', name: 'created_at', searchable: true, visible: false}
              ],
             "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        if (data) {
                            return accounting.formatMoney(data)
                        } else {
                            return '-'
                        }
                    },
                    "targets": [5, 6, 7]
                },
                {
                    "render": function ( data, type, row ) {
                        return displayDate(data)
                    },
                    "targets": [4]
                },
                {
                    "render": function ( data, type, row ) {
                        if (row['show_due_date']) {
                            return "<span class='text-warning'>" + dueDays(row['due_days']) + "</span>&nbsp;" + displayDate(data);
                        } else {
                            return "<span class='text-warning'>-</span>"
                        }
                    },
                    "targets": 8
                },
                {
                    "render": function ( data, type, row ) {
                        if (data === 'Deleted') {
                            return "<span class='text-warning'>-</span>";
                        } else {
                            return "<input type='checkbox' class='checkbox-input invoice-action' data-invoice-id='"+ data +"' name='invoice_action_"+ data +"' id='invoice_action_"+ data + "' value='"+ data +"' />";
                        }
                    },
                    "targets": 10
                },
                {
                    "render": function ( data, type, row ) {
                        if (data) {
                            if (row['is_printed']) {
                                return "<span class='text-success'>" + data.label + "</span> ";
                            } else {
                                return "<span class='text-warning'><i class='fa fa-hourglass-half'></i> "+ data.label +"</span>";
                            }
                        } else {
                            return "<span class='text-warning'>-</span> ";
                        }
                    },
                    "targets": 9
                }
            ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 11, 'desc' ]]
        });

        $('#invoices').on('click', 'td', function() {
            const tdClasses =  $(this).prop('class').split(' ')
            if (tdClasses.indexOf('actions') < 0) {
                const tr = $(this).parent();
                const rowData = table.row(tr).data();
                if (rowData.detail_url) {
                    document.location.href = rowData.detail_url + "?redirect={% url 'estimates_index' %}";
                }
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });

    });
    </script>
    <script type="text/javascript" src="{% static 'js/sales.js' %}?{% now 'dhisMY' %}"></script>
{% endblock %}