{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}{% translate "Invoice" %}{% endblock page_title %}
{% block stylesheets %}

{% endblock %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left"></h5>
        </div>

      <div class="pull-right">
        {% block action_buttons %}
            <button type="button" class="btn btn-success btn-loading action"
                data-loading-text="<i class='fa fa-spinner'></i> Processing"
                data-ajax-url="{% url 'send_invoice_email'  invoice.id  %}" id="re_email">
            <i class="fa fa-envelope"></i>{% translate "Re-Email" %} </button>
            {% if invoice.receipt %}
                <a data-fancybox data-type="ajax" data-src="{% url 'view_invoice_payment' invoice.id %}"
                   class="btn btn-success"
                   href="javascript:;"><i class="fa fa-money"></i>{% translate "Payment" %}</a>
            {% else %}
                <button type="button" class="btn btn-success action btn-loading"
                        data-action="mark_as_paid"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-ajax-url="{% url 'create_invoice_receipt' invoice.id %}" id="mark_as_paid">
                <i class="fa fa-ticket"></i> {% translate "Mark As Paid" %}</button>
            {% endif%}
            |
            {% if not invoice.is_printed %}
                <button type="button" class="btn btn-primary btn-sm action" name="copy_invoice"
                        id="copy_invoice"
                        data-action="copy_invoice"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-ajax-url="{% url 'copy_invoice' invoice.id %}"
                        data-toggle="tooltip"><i class="fa fa-copy"></i> {% translate "Copy" %}</button>
                <button type="button" class="btn btn-primary btn-sm action"
                        name="credit_invoice"
                        id="credit_invoice"
                        data-action="copy_invoice"
                        data-loading-text="<i class='fa fa-spinner'></i> {% translate "Processing" %}"
                        data-ajax-url="{% url 'credit_invoice' invoice.id %}"
                        data-toggle="tooltip"><i class="fa fa-credit-card"></i>  {% translate "Credit" %}</button>

                <a href="{% url 'edit_invoice' invoice.id %}" class="btn btn-primary btn-sm"
                        id="edit_invoice"
                        data-toggle="tooltip"><i class="fa fa-pencil"></i> {% translate "Edit" %}</a>
            {% endif  %}
            <a type="button" class="btn btn-primary btn-sm" id="print"
               onclick="printHtml('po-page');"
               data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</a>
              <a href="{% url 'sales_documents_index' %}" id="previous_level" class="btn btn-default btn-sm"> {% translate "Prev. Level" %}</a>
        {% endblock %}
      </div>
  </div>
  <div class="panel-body aligin-center">
     {% include "sales/template.html" %}
  </div>
</div>
{% endblock %}
{% block javascript %}


    <script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
{% endblock %}
