{% for k, company_object in object_categories.items %}
    {% if form_style and form_style == 'horizontal'%}
        <div class="form-group control-group">
            <label class="col-sm-4 control-label txt-font12" for="object_item_{{ k }}">{{ company_object.label }}</label>
            <div class="col-sm-8">
                {% include "sales/select_linked_object.html" %}
            </div>
        </div>
        <br />
    {% else %}
        <div class="col-12">
            <label for="object_item_{{ k }}">{{ company_object.label }}</label>
            {% include "sales/select_linked_object.html" %}
        </div>
    {% endif %}
{% endfor %}
