{% load i18n %}
{% load sales_tags common_tags %}
<table class="table table-bordered" width="100%">
    <tr>
        <td class="po-total">{% translate "Gross Weight" %}</td>
        <td class="po-total" >&nbsp;<span id="total_gross_weight">{{ sales_invoice.gross_weight|quantity }}</span></td>
    </tr>
    <tr>
        <td class="po-total">{% translate "Net Weight" %}</td>
        <td class="po-total" >&nbsp;<span id="total_net_weight">{{ sales_invoice.net_weight|quantity }}</span></td>
    </tr>
    <tr>
        <td class="po-total">{% translate "Total Items" %}</td>
        <td class="po-total" >&nbsp;<span id="total_received">{{ sales_invoice.total_quantity|quantity }}</span></td>
    </tr>
</table>