{% extends 'modal.html' %}
{% load static i18n %}
{% load widget_tweaks invoice_tags %}
{% block title %}{% translate "Not Enough Credit" %} - {{ customer.name }} {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="not_enough_credit_form" name="not_enough_credit_form"
      action="{% url 'not_enough_credit' customer_id=customer.id %}">
     <div class="modal-body">
        {% csrf_token %}
         <div class="row">
             <div class="col-12">
                 <div class="text-danger alert">
                      {% translate "The customer does not have enough credit" %}
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-12">
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>{% translate "Limit" %}</th>
                            <th>{% translate "Balance" %}</th>
                            <th>{% translate "Available" %}</th>
                            <th>{% translate "This Invoice" %}</th>
                            <th>{% translate "New" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ customer.credit_limit|money }}</td>
                            <td>{{ customer.total_invoiced|money }}</td>
                            <td>{{ customer.calculate_available|money }}</td>
                            <td>{{ amount|money }}</td>
                            <td>{{ new_balance|money }}</td>
                        </tr>
                    </tbody>
                </table>
             </div>
         </div>
         <div class="row">
             <div class="col-12">
                <label for="{{ form.override_key.id_for_label }}">
                    {{ form.override_key.label_tag }}
                </label>
                {{ form.override_key|add_class:"form-control" }}
             </div>
         </div>
         <div class="row">
             <div class="col-12">
                 <span id="loader" style="display:none;"></span>
                 <span id="override_result"></span>
             </div>
         </div>
     </div>
     <div class="modal-footer">
         <button class="btn btn-warning" data-dismiss="modal">{% translate "Cancel" %}</button>
         <button type="button" class="btn btn-primary btn-large save-document"
                 data-save-type="draft"
                 name="save_draft"
                 id="save_draft"><i class="fa fa-save"></i> {% translate "Save Draft" %}</button>
         <button type="button" class="btn btn-primary btn-large save-document" name="override_continue"
                 disabled="disabled"
                 data-save-type="save"
                 id="override_continue"><i class="fa fa-save"></i> {% translate "Override" %}</button>
    </div>
</form>
{% endblock %}