{% extends 'modal.html' %}
{% load static i18n %}
{% block title %}{% translate "Invoice Payment" %} {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="payment_method_form" name="payment_method_form">
     <div class="modal-body">
        <table class="table" id="payment_methods_table">
            <thead>
                <tr>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{% translate "Date" %}</th>
                    <td>
                        <input type="text" class="datepicker form-control form-control-sm" />
                    </td>
                </tr>
                <tr>
                    <th colspan="2"></th>
                </tr>
                {% for payment_method in payment_methods %}
                    <tr>
                        <td>{{ payment_method }}</td>
                        <td>
                            <input type="text" class="datepicker form-control form-control-sm" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate "Close" %}</button>
        <button class="btn btn-primary btn-large modal-save" name="continue" type="submit" id="continue"><i class="fa fa-save"></i> {% translate "Continue" %}</button>
    </div>
  </form>
{% endblock %}