<select id="object_item_{{ k }}" name="object_item" class="form-control chosen-select">
    <option value="">--</option>
        {% for object_item in company_object.objects %}
            {% if company_object.value and company_object.value == object_item.id  %}
                <option value="{{ object_item.id }}" selected="selected">{{ object_item }}</option>
            {% else %}
                <option value="{{ object_item.id }}">{{ object_item }}</option>
            {% endif %}
        {% endfor %}
</select>