{% load static i18n %}
<table class="table align-right" style="float: left;">
    {% if not invoice.is_cash %}
        <tr>
            <td class="text-left">{{ invoice.customer.delivery_address.street }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ invoice.customer.delivery_address.postal_code }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ invoice.customer.delivery_address.province_name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ invoice.customer.delivery_address.country.name }}</td>
        </tr>
    {% else %}
        {% if invoice.delivery_address %}
            {% if invoice.delivery_address.address_line_1 %}
                <tr>
                    <td class="text-left">{{ invoice.delivery_address.address_line_1 }}</td>
                </tr>
            {% endif %}
            {% if invoice.delivery_address.city %}
                <tr>
                    <td class="text-left">{{ invoice.delivery_address.city }}</td>
                </tr>
            {% endif %}
            {% if invoice.delivery_address.province_name %}
                <tr>
                    <td class="text-left">{{ invoice.delivery_address.province_name }}</td>
                </tr>
            {% endif %}
            {% if invoice.delivery_address.postal_code %}
                <tr>
                    <td class="text-left">{{ invoice.delivery_address.postal_code }}</td>
                </tr>
            {% endif %}
            {% if invoice.delivery_address.country %}
                <tr>
                    <td class="text-left">{{ invoice.delivery_address.country.name }}</td>
                </tr>
            {% endif %}
        {% endif %}
    {% endif %}
</table>