{% load static i18n %}
<div class="cash">
    <div id="delivery_street" class="form-group control-group delivery">
        <input type="text" name="delivery_street" id="delivery__street" class="form-control form-control-sm" placeholder="{% translate "Street Address" %}" />
    </div>
    <div id="delivery_city" class="form-group control-group delivery">
        <input type="text" name="delivery_city" id="delivery__city" class="form-control form-control-sm" placeholder="{% translate "City" %}" />
    </div>
    <div id="delivery_province" class="form-group control-group delivery">
         <select type="text" name="delivery_province" id="delivery__province" class="form-control form-control-sm">
             {% for province_id, province in provinces.items %}
                <option value="{{ province }}">{{ province  }}</option>
             {% endfor %}
         </select>
    </div>
    <div id="delivery_postal_code" class="form-group control-group delivery">
        <input type="text" name="delivery_postal_code" id="delivery__postal_code" class="form-control form-control-sm" placeholder="{% translate "Postal Code" %}" />
    </div>
    <div id="delivery_country" class="form-group control-group delivery">
         <select name="delivery_country" id="delivery__country" class="form-control form-control-sm chosen-select">
         {% for code, country in countries.items %}
            <option {% if code == 'ZA' %} selected="selected" {% endif %} value="{{ code }}">{{ country  }}</option>
         {% endfor %}
     </select>
    </div>
</div>