{% load static i18n %}
<table class="table table-bordered" width="100%">
    <tr class="signing-footer">
        <td width="40%">{% translate "Signed by Driver/Delivery Responsible" %}</td>
        <td width="60%" class="text-right writtable" colspan="6"></td>
    </tr>
    <tr class="signing-footer">
        <td width="40%">{% translate "Print Name" %}:</td>
        <td width="60%" class="text-right writtable" colspan="6"></td>
    </tr>
    <tr class="signing-footer">
        <td width="40%">{% translate "Date" %}: </td>
        <td width="60%" class="text-right writtable" colspan="6"></td>
    </tr>
</table>