<div class="pull-left">
    {% if invoice.is_printed %}
        <span class="text-success">{{ invoice.status_name }}</span>
    {% else %}
        <span class='text-warning'><i class='fa fa-hourglass-half'></i> {{ invoice.status_name }}</span>
    {% endif %}
</div>
<div class="pull-right">
    {% if invoice.picking_slip %}
        <span class="text-success" data-toggle="tooltip" data-original-title="The document has been sent for picking on {{ invoice.picking_slip }}"><i class="fa fa-hand-grab-o"></i> </span>
    {% endif %}
</div>