{% extends 'modal.html' %}
{% load static i18n %}
{% load invoice_tags %}
{% block title %} {% translate "Invoice Tracking" %} {% endblock title %}
{% block content %}
    <div class="container table-responsive">
        <table class="table" width="100%">
                <tr>
                    <td>
                        <h4>{% translate "Invoice Updates Report" %}</h4>
                        <table width="100%" class="table">
                            <thead>
                                 <tr>
                                    <th colspan="5"></th>
                                    <th class="text-right">{% translate "Debit" %}</th>
                                    <th class="text-right">{% translate "Debit" %}</th>
                                    <th class="text-right">{% translate "Credit" %}</th>
                                </tr>
                                <tr>
                                    <th>{% translate "Created At" %}</th>
                                    <th>{% translate "Report" %}</th>
                                    <th>{% translate "Journal" %}</th>
                                    <th>{% translate "Created By" %}</th>
                                    <th>{% translate "Role" %}</th>
                                    <th class="text-right">{% translate "NETT" %}</th>
                                    <th class="text-right">{% translate "VAT" %}</th>
                                    <th class="text-right">{% translate "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice_update in tracking.updates %}
                                    <tr>
                                        <td>{{ invoice_update.update.created_at }}</td>
                                        <td>
                                            {% if invoice_update.update %}
                                                <a href="{% url 'sales_update_detail' invoice_update.update.id %}?invoice_id={{ invoice_update.invoice_id }}" target="_blank">{{ invoice_update.update }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if invoice_update.update.journal %}
                                                <a  href="{% url 'journal_lines' invoice_update.update.journal.id %}?invoice_id={{ invoice_update.invoice_id }}" target="_blank">{{ invoice_update.update.journal }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ invoice_update.update.created_by }}</td>
                                        <td>{{ invoice_update.update.role }}</td>
                                        <td class="text-right">{{ invoice_update.invoice.net_amount|money }}</td>
                                        <td class="text-right">{{ invoice_update.invoice.vat_amount|money }}</td>
                                        <td class="text-right">{{ invoice_update.invoice.total_amount|money }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="8">{% translate "No updates found" %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Update of Payment</h4>
                        <table width="100%" class="table">
                            <thead>
                                 <tr>
                                    <th colspan="5"></th>
                                    <th class="text-right">{% translate "Debit" %}</th>
                                    <th class="text-right">{% translate "Debit" %}</th>
                                    <th class="text-right">{% translate "Credit" %}</th>
                                </tr>
                                <tr>
                                    <th>{% translate "Created At" %}</th>
                                    <th>{% translate "Report" %}</th>
                                    <th>{% translate "Journal" %}</th>
                                    <th>{% translate "Created By" %}</th>
                                    <th>{% translate "Role" %}</th>
                                    <th class="text-right">{% translate "NETT" %}</th>
                                    <th class="text-right">{% translate "VAT" %}</th>
                                    <th class="text-right">{% translate "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice_payment in tracking.payments %}
                                    <tr>
                                        <td>{{ invoice_payment.payment.created_at }}</td>
                                        <td>
                                            {% if invoice_payment.payment %}
                                                <a href="{% url 'posting_invoice_journal_detail' invoice_payment.payment.id %}?invoice_id={{ invoice_payment.invoice_id }}" target="_blank">{{ invoice_payment.payment }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if invoice_payment.payment.journal %}
                                                <a  href="{% url 'journal_lines' invoice_payment.payment.journal.id %}?invoice_id={{ invoice_payment.invoice_id }}" target="_blank">{{ invoice_payment.payment.journal }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ invoice_payment.payment.profile }}</td>
                                        <td>{{ invoice_payment.payment.role }}</td>
                                        <td class="text-right">{{ invoice_payment.amount|money }}</td>
                                        <td class="text-right">{{ invoice_payment.amount|money }}</td>
                                        <td class="text-right">{{ invoice_payment.amount|money }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="8">No payments found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>{% translate "Receipts" %}</h4>
                        <table width="100%" class="table">
                            <thead>
                                <tr>
                                    <th>{% translate "Reference" %}</th>
                                    <th>{% translate "Created At" %}</th>
                                    <th>{% translate "Cash Up" %}</th>
                                    <th>{% translate "Cash Up Created At" %}</th>
                                    <th class="text-right">{% translate "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice_receipt in tracking.receipts %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'receipt_detail' invoice_receipt.receipt.id %}">
                                                {{ invoice_receipt.receipt }}
                                            </a>
                                        </td>
                                        <td>{{ invoice_receipt.receipt.created_at }}</td>
                                        <td>
                                            {% if invoice_receipt.receipt.cash_up %}
                                                <a href="{% url 'cash_up_detail' invoice_receipt.receipt.cash_up.id %}">
                                                    {{ invoice_receipt.receipt.cash_up }}
                                                </a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if invoice_receipt.receipt.cash_up %}
                                                {{ invoice_receipt.receipt.created_at }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td class="text-right">{{ invoice_receipt.amount|money }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">{% translate "No receipts found" %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>{% translate "Invoice Credited" %}</h4>
                        <table width="100%" class="table">
                            <thead>
                                <tr>
                                    <th>{% translate "Invoice" %}</th>
                                    <th>{% translate "Created At" %}</th>
                                    <th>{% translate "Created By" %}</th>
                                    <th>{% translate "Role" %}</th>
                                    <th class="text-right">{% translate "NETT" %}</th>
                                    <th class="text-right">{% translate "VAT" %}</th>
                                    <th class="text-right">{% translate "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice_link in tracking.invoices %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'view_sales_invoice' invoice_link.id %}">
                                                {{ invoice_link }}
                                            </a>
                                        </td>
                                        <td>{{ invoice_link.created_at }}</td>
                                        <td>{{ invoice_link.profile }}</td>
                                        <td>{{ invoice_link.role }}</td>
                                        <td class="text-right">{{ invoice_link.net_amount|money }}</td>
                                        <td class="text-right">{{ invoice_link.vat_amount|money }}</td>
                                        <td class="text-right">{{ invoice_link.total_amount|money }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>{% translate "No results found" %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% if tracking.linked_invoice|length > 0 %}
                <tr>
                    <td>
                        <h4>{% translate "Linked Invoice" %}</h4>
                        <table width="100%" class="table">
                            <thead>
                                <tr>
                                    <th>{% translate "Invoice" %}</th>
                                    <th>{% translate "Created At" %}</th>
                                    <th>{% translate "Created By" %}</th>
                                    <th>{% translate "Role" %}</th>
                                    <th class="text-right">{% translate "NETT" %}</th>
                                    <th class="text-right">{% translate "VAT" %}</th>
                                    <th class="text-right">{% translate "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice_linked in tracking.linked_invoice %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'view_sales_invoice' invoice_linked.id %}">
                                                {{ invoice_linked }}
                                            </a>
                                        </td>
                                        <td>{{ invoice_linked.created_at }}</td>
                                        <td>{{ invoice_linked.profile }}</td>
                                        <td>{{ invoice_linked.role }}</td>
                                        <td class="text-right">{{ invoice_linked.net_amount|money }}</td>
                                        <td class="text-right">{{ invoice_linked.vat_amount|money }}</td>
                                        <td class="text-right">{{ invoice_linked.total_amount|money }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                    <h4>{% translate "Delivery" %}</h4>
                    {% with trackings=delivery_tracking %}
                        {% include 'sales/tracking/template.html' %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <th colspan="2"></th>
            </tr>
            <tr>
                <td colspan="2">
                    <h4>{% translate "Picking Slip" %}</h4>
                    {% with trackings=pickings_slip_tracking %}
                        {% include 'sales/tracking/template.html' %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <th colspan="2"></th>
            </tr>
            <tr>
                <td colspan="2">
                    <h4>{% translate "Estimate" %}</h4>
                    {% with trackings=estimate_tracking %}
                        {% include 'sales/tracking/template.html' %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4>{% translate "Back Order" %}</h4>
                    {% with trackings=backorder_tracking %}
                        {% include 'sales/tracking/template.html' %}
                    {% endwith %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}