{% load static i18n %}
{% load invoice_tags %}
{% if summary %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>{% translate "Vat Reconciliation" %}</th>
                <th class="text-right">{% translate "Excluding" %}</th>
                <th class="text-right">{% translate "Vat" %}</th>
            </tr>
        </thead>
        <tbody id="summary_body">
            {% for vat_code, recon in summary.vat_codes.items %}
                <tr>
                    <td>{{ vat_code }} - {{ vat_code.percentage|money }}%</td>
                    <td class="text-right">{{ recon.total_excl|money }}</td>
                    <td class="text-right">{{ recon.total_vat|money }}</td>
                </tr>
            {% endfor %}
            {% if summary.customer_discounts %}
                <tr>
                    <td>{% translate "Vat on Customer Discount" %}</td>
                    <td class="text-right">{{ summary.customer_discounts.total|money }}</td>
                    <td class="text-right">{{ summary.customer_discounts.total_vat|money }}</td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td>{% translate "Total Vat" %}</td>
                <td class="text-right">
                    <span id="vat_summary_total_excl">{{ summary.total_excl|money }}</span>
                </td>
                <td class="text-right">
                    <span id="vat_summary_total_vat">{{ summary.total_vat|money }}</span>
                </td>
            </tr>
        </tfoot>
    </table>
{% endif %}