{% extends 'public.html' %}
{% load static i18n %}
{% block page_title %}{% translate "Invoice" %} - {{ invoice }}  <span class="pull-right">&nbsp;{{ invoice }}</span>{% endblock page_title %}
{% block stylesheets %}
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header clear-fix">
        <div class="pull-left">{% translate "Customer Statement" %} - {{ customer }}</div>
        <div class="pull-right">
            <a href="javascript:history.back(-1)" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-backward"></i> {% translate "Prev. Level" %}</a>
        </div>
    </div>
    <div class="card-body">
         {% include "sales/template.html" %}
    </div>
</div>
{% endblock %}

