{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

<div class="form-group control-group {% if form.default_goods_received_account.errors %}error{% endif %}">
    {{ form.default_goods_received_account.label_tag }}
    <div class="controls">
        {% render_field form.default_goods_received_account class="form-control chosen-select" %}
        {% if form.default_goods_received_account.auto_id  != "id_tos" %}
            {% if form.default_goods_received_account.errors %}<span class="help-inline">{{ form.default_goods_received_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.stock_adjustment_account.errors %}error{% endif %}">
    {{ form.stock_adjustment_account.label_tag }}
    <div class="controls">
        {% render_field form.stock_adjustment_account class="form-control chosen-select" %}
        {% if form.stock_adjustment_account.auto_id  != "id_tos" %}
            {% if form.stock_adjustment_account.errors %}<span class="help-inline">{{ form.stock_adjustment_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_inventory_control_account.errors %}error{% endif %}">
    {{ form.default_inventory_control_account.label_tag }}
    <div class="controls">
        {% render_field form.default_inventory_control_account class="form-control chosen-select" %}
        {% if form.default_inventory_control_account.auto_id  != "id_tos" %}
            {% if form.default_inventory_control_account.errors %}<span class="help-inline">{{ form.default_inventory_control_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_inventory_variance_account.errors %}error{% endif %}">
    {{ form.default_inventory_variance_account.label_tag }}
    <div class="controls">
        {% render_field form.default_inventory_variance_account class="form-control chosen-select" %}
        {% if form.default_inventory_variance_account.auto_id  != "id_tos" %}
            {% if form.default_inventory_variance_account.errors %}<span class="help-inline">{{ form.default_inventory_variance_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
