{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

<div class="form-group control-group {% if form.default_vat_receivable_account.errors %}error{% endif %}">
    {{ form.default_vat_receivable_account.label_tag }}
    <div class="controls">
        {% render_field form.default_vat_receivable_account class="form-control chosen-select" %}
        {% if form.default_vat_receivable_account.auto_id  != "id_tos" %}
            {% if form.default_vat_receivable_account.errors %}<span class="help-inline">{{ form.default_vat_receivable_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_vat_payable_account.errors %}error{% endif %}">
    {{ form.default_vat_payable_account.label_tag }}
    <div class="controls">
        {% render_field form.default_vat_payable_account class="form-control chosen-select" %}
        {% if form.default_vat_payable_account.auto_id  != "id_tos" %}
            {% if form.default_vat_payable_account.errors %}<span class="help-inline">{{ form.default_vat_payable_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_bank_account.errors %}error{% endif %}">
    {{ form.default_bank_account.label_tag }}
    <div class="controls">
        {% render_field form.default_bank_account class="form-control chosen-select" %}
        {% if form.default_bank_account.auto_id  != "id_tos" %}
            {% if form.default_bank_account.errors %}<span class="help-inline">{{ form.default_bank_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_payment_method.errors %}error{% endif %}">
    {{ form.default_payment_method.label_tag }}
    <div class="controls">
        {% render_field form.default_payment_method class="form-control chosen-select" %}
        {% if form.default_payment_method.auto_id  != "id_tos" %}
            {% if form.default_payment_method.errors %}<span class="help-inline">{{ form.default_payment_method.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.default_retained_income_account.errors %}error{% endif %}">
    {{ form.default_retained_income_account.label_tag }}
    <div class="controls">
        {% render_field form.default_retained_income_account class="form-control chosen-select" %}
        {% if form.default_retained_income_account.auto_id  != "id_tos" %}
            {% if form.default_retained_income_account.errors %}<span class="help-inline">{{ form.default_retained_income_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.default_previous_year_account.errors %}error{% endif %}">
    {{ form.default_previous_year_account.label_tag }}
    <div class="controls">
        {% render_field form.default_previous_year_account class="form-control chosen-select" %}
        {% if form.default_previous_year_account.auto_id  != "id_tos" %}
            {% if form.default_previous_year_account.errors %}<span class="help-inline">{{ form.default_previous_year_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>