{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

<div class="form-group control-group {% if form.default_payroll_account.errors %}error{% endif %}">
    {{ form.default_payroll_account.label_tag }}
    <div class="controls">
        {% render_field form.default_payroll_account class="form-control chosen-select" %}
        {% if form.default_payroll_account.auto_id  != "id_tos" %}
            {% if form.default_payroll_account.errors %}<span class="help-inline">{{ form.default_payroll_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>