{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

<div class="form-group control-group {% if form.default_trade_creditors_account.errors %}error{% endif %}">
    {{ form.default_trade_creditors_account.label_tag }}
    <div class="controls">
        {% render_field form.default_trade_creditors_account class="form-control chosen-select" %}
        {% if form.default_trade_creditors_account.auto_id  != "id_tos" %}
            {% if form.default_trade_creditors_account.errors %}<span class="help-inline">{{ form.default_trade_creditors_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_expenditure_account.errors %}error{% endif %}">
    {{ form.default_expenditure_account.label_tag }}
    <div class="controls">
        {% render_field form.default_expenditure_account class="form-control chosen-select" %}
        {% if form.default_expenditure_account.auto_id  != "id_tos" %}
            {% if form.default_expenditure_account.errors %}<span class="help-inline">{{ form.default_expenditure_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_vat_account.errors %}error{% endif %}">
    {{ form.default_vat_account.label_tag }}
    <div class="controls">
        {% render_field form.default_vat_account class="form-control chosen-select" %}
        {% if form.default_vat_account.auto_id  != "id_tos" %}
            {% if form.default_vat_account.errors %}<span class="help-inline">{{ form.default_vat_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_supplier_account.errors %}error{% endif %}">
    {{ form.default_supplier_account.label_tag }}
    <div class="controls">
        {% render_field form.default_supplier_account class="form-control chosen-select" %}
        {% if form.default_supplier_account.auto_id  != "id_tos" %}
            {% if form.default_supplier_account.errors %}<span class="help-inline">{{ form.default_supplier_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_distribution_account.errors %}error{% endif %}">
    {{ form.default_distribution_account.label_tag }}
    <div class="controls">
        {% render_field form.default_distribution_account class="form-control chosen-select" %}
        {% if form.default_distribution_account.auto_id  != "id_tos" %}
            {% if form.default_distribution_account.errors %}<span class="help-inline">{{ form.default_distribution_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.default_discount_received_account.errors %}error{% endif %}">
    {{ form.default_discount_received_account.label_tag }}
    <div class="controls">
        {% render_field form.default_discount_received_account class="form-control chosen-select" %}
        {% if form.default_discount_received_account.auto_id  != "id_tos" %}
            {% if form.default_discount_received_account.errors %}<span class="help-inline">{{ form.default_discount_received_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
