{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

<div class="form-group control-group {% if form.default_discount_allowed_account.errors %}error{% endif %}">
    {{ form.default_discount_allowed_account.label_tag }}
    <div class="controls">
        {% render_field form.default_discount_allowed_account class="form-control chosen-select" %}
        {% if form.default_discount_allowed_account.auto_id  != "id_tos" %}
            {% if form.default_discount_allowed_account.errors %}<span class="help-inline">{{ form.default_discount_allowed_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.default_customer_account.errors %}error{% endif %}">
    {{ form.default_customer_account.label_tag }}
    <div class="controls">
        {% render_field form.default_customer_account class="form-control chosen-select" %}
        {% if form.default_customer_account.auto_id  != "id_tos" %}
            {% if form.default_customer_account.errors %}<span class="help-inline">{{ form.default_customer_account.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.line_discount.errors %}error{% endif %}">
    {{ form.line_discount.label_tag }}
    <div class="controls">
        {% render_field form.line_discount class="form-control chosen-select" %}
        {% if form.line_discount.auto_id  != "id_tos" %}
            {% if form.line_discount.errors %}<span class="help-inline">{{ form.line_discount.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
