{% load static %}
{% load widget_tweaks %}
{% load invoice_tags inventory_tags %}
<table class="table table-bordered table-condensed" width="100%">
    <thead>
        <tr class="primary-head">
            <th></th>
            <th></th>
            <th>SKU</th>
            <th>Name</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Valuation</th>
        </tr>
    </thead>
    <tbody>
        {% for level, level_report in report.levels.items %}
            <tr>
                <td><strong>{{ level }}</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for level_item, level_item_report in level_report.level_items.items %}
                <tr>
                    <td></td>
                    <td><strong>{{ level_item }}</strong></td>
                   <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for inventory, ledgers in level_item_report.inventory_items.items %}
                    <tr class="journal-account-row">
                        <td></td>
                        <td></td>
                        <td>
                            <span id="inventory_breakdown_{{ inventory.id }}" class="ledger inventory-item"
                               data-inventory-id="{{ inventory.id }}"
                               data-ajax-url="{% url 'inventory_ledger_breakdown' inventory.id %}"
                            >{{ inventory }}</span>

                        </td>
                        <td>{{ inventory.description }}</td>
                        <td class="text-right">{{ inventory.history.in_stock|money }}</td>
                        <td class="text-right">{{ ledgers.history.total_value|money }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-right bold">{{ level_item }} Totals</td>
                    <td class="text-right"><strong>{{ level_item_report.total_quantity|money }}</strong></td>
                    <td class="text-right"><strong>{{ level_item_report.total|money }}</strong></td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" class="text-right bold">{{ level }} Totals</td>
                <td class="text-right"><strong>{{ level_report.total_quantity|money }}</strong></td>
                <td class="text-right"><strong>{{ level_report.total|money }}</strong></td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="text-right bold" colspan="4">Totals</td>
            <td class="text-right"><strong>{{ report.total_quantity|money }}</strong></td>
            <td class="text-right"><strong>{{ report.total|money }}</strong></td>
        </tr>
        <tr>
            <td colspan="7">&nbsp;</td>
        </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>