{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
<table class="table table-bordered table-condensed" width="100%">
    <thead>
        <tr class="primary-head">
            <th>Name</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Valuation</th>
        </tr>
    </thead>
    <tbody>
        {% for level, level_report in report.levels.items %}
            {% for level_item, level_item_report in level_report.level_items.items %}
                <tr>
                    <td class="text-left bold">{{ level_item }}</td>
                    <td class="text-right">{{ level_item_report.total_quantity|money }}</td>
                    <td class="text-right">{{ level_item_report.total|money }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="text-right bold">Totals</td>
            <td class="text-right"><strong>{{ report.total_quantity|money }}</strong></td>
            <td class="text-right"><strong>{{ report.total|money }}</strong></td>
        </tr>
    </tfoot>
</table>