{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
<table class="table table-bordered table-condensed" width="100%">
    <thead>
        <tr class="primary-head">
            <th>Group Level</th>
            <th class="text-right">Valuation</th>
        </tr>
    </thead>
    <tbody>
        {% for level, level_report in report.levels.items %}
            <tr>
                <td><strong>{{ level }}</strong></td>
                <td class="text-right"><strong>{{ level_report.total|money }}</strong></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="bold">Total</td>
            <td class="text-right"><strong>{{ report.total|money }}</strong></td>
        </tr>
    </tfoot>
</table>