{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags inventory_tags %}
{% block page_title %} Inventory Valuation - {{ branch }} {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left">
          <button class="btn btn-default btn-large" type="button" id="copy_opening_balances"
                  data-ajax-url="{%  url 'copy_inventory_previous_year_balances' %}"
                  disabled="disabled"><i class="fa fa-copy"></i>  {% translate "Copy opening balances" %}</button>
            <a href="{% url 'import_inventory_opening_balances' %}" class="btn btn-primary">{% translate "Import opening balances" %}</a>
        </div>
        <div class="pull-right">
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> {% translate "Search Again" %}</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form ledger-form" id="inventory_valuation" action="{% url 'generate_inventory_valuation' %}"
                  data-ajax-url="{% url 'generate_inventory_valuation' %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group control-group">
                                <label class=" control-label txt-font12" for="from_inventory">{% translate "Inventory" %}</label>
                                <div class="controls">
                                    {% render_field form.from_inventory tabindex="1" %}
                                </div>
                            </div>
                        </div>
                        <div class="col-2">&nbsp;</div>
                        <div class="col-5">
                            <div class="form-group">
                                <label class=" control-label txt-font12" for="to_inventory">{% translate "Inventory" %}</label>
                                <div class="controls">
                                    {% render_field form.to_inventory tabindex="2" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default height">
                        <div class="panel-heading">Branches</div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class=" control-label txt-font12" for="branch_id">Branch</label>
                                        <div class="controls">
                                            {% render_field form.branch tabindex="3" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group control-group">
                                        <label>&nbsp;&nbsp;</label>
                                        <div class="controls">&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Show Each Branch</label>
                                        <div class="controls">
                                            <input type="checkbox" id="show_each_branch" class="input-checkbox"
                                                   name="show_each_branch" value="1" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Include Zeros</label>
                                <div class="controls">
                                    <input type="checkbox" id="include_zeros" class="input-checkbox"
                                           name="include_zeros" value="1" />
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="panel panel-default height">
                            <div class="panel-heading">Break By Group Levels</div>
                            <div class="panel-body" style="padding: 5px;">
                                <div class="row">
                                    {% if group_levels|length > 0 %}
                                        {% for group_level in group_levels %}
                                            <div class="col-2">
                                                {{ group_level }}
                                                <div class="controls">
                                                    <input type="radio" id="group_level_{{ group_level.id }}"
                                                           name="break_by" value="group_levels" checked="checked"
                                                           tabindex="6" />
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="col-2">
                                        Break by Parent - Totals
                                        <div class="controls">
                                            <input type="radio" id="break_by_parent_totals"
                                                   name="break_by" value="parent_totals" tabindex="7" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        Break by Children - Totals
                                        <div class="controls">
                                            <input type="radio" id="break_by_children_totals"
                                                   name="break_by" value="children_totals" tabindex="7" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        Break by Parent - No Totals
                                        <div class="controls">
                                            <input type="radio" id="break_by_parent_no_totals"
                                                   name="break_by" value="parent_no_totals" tabindex="7" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        Break by Parent and Children Totals
                                        <div class="controls">
                                            <input type="radio" id="break_by_parent_and_children_totals"
                                                   name="break_by" value="parent_and_children_totals" tabindex="7" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        No breaking
                                        <div class="controls">
                                            <input type="radio" id="no_breaking"
                                                   name="break_by" value="no_breaking" tabindex="7" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="footer">
                        <div class="form-inline">
                            <div class="form-group">
                                <button type="submit" id="display_print" class="btn btn-primary generate"
                                    data-action="print" tabindex="{{ 6 }}"
                                ><i class="fa fa-print"></i> Print</button>
                            </div>
                            <div class="form-group">
                                <button type="button" id="display_screen" class="btn btn-primary generate"
                                        data-action="screen" tabindex="{{ 7 }}">
                                    <i class="fa fa-window-maximize"></i> Generate</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="display_excell" class="btn btn-primary generate"
                                        data-ajax-url="{% url 'download_inventory_valuation' %}"
                                        data-action="download" tabindex="{{ 8 }}">
                                    <i class="fa fa-file-excel-o"></i> Excel</button>
                            </div>
                            <div class="form-group">
                                <button type="reset" id="cancel" class="btn btn-primary"
                                    data-action="cancel" tabindex="{{ 10 }}"
                                >Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 col-xs-12 data-container" id="inventory_valuation">
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ledger.js' %}"></script>
{% endblock %}
