{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
<table class="table table-bordered table-condensed" width="100%">
    <thead>
        <tr class="primary-head">
            <th>SKU</th>
            <th>Name</th>
            <th>Date</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Valuation</th>
        </tr>
    </thead>
    <tbody>
        {% for inventory, breakdown in report.inventories.items %}
            <tr class="journal-account-row">
                <td >
                    <strong>
                    <span id="inventory_breakdown_{{ inventory.id }}" class="ledger inventory-item"
                       data-inventory-id="{{ inventory.id }}"
                       data-ajax-url="{% url 'inventory_ledger_breakdown' inventory.id %}"
                    >{{ inventory }}</span>
                    </strong>
                </td>
                <td><a href="{% url 'inventory_item_fifo' inventory.pk %}">{{ inventory.description }}</a></td>
                <td class="date">{% now 'Y-m-d' %}</td>
                <td class="text-right">{{ inventory.history.in_stock|money }}</td>
                <td class="text-right">{{ inventory.history.total_value|money }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="18">Inventory not available</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><strong>Totals</strong></td>
            <td class="text-right font-weight-bolder"><strong>{{ report.total_quantity|money }}</strong></td>
            <td class="text-right font-weight-bolder"><strong>{{ report.total|money }}</strong></td>
        </tr>
    </tfoot>
</table>