{% extends 'base.html' %}
{% block page_title %} Create Supplier Template {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'common/form.html' %}

    <div class="form-group">
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
    </div>

  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
{% endblock %}