{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    <div class="row">
        <div class="col-6">
            Define {{ supplier }} Template Invoice Fields Mapping
        </div>
        <div class="pull-right col-6">
            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control" name="search_text" id="search_text" placeholder="search OCR: like find, eg: Due Date" />
                </div>
                <div class="col-4">
                    <button class="btn btn-default btn-sm" name="search_highlight" id="search_highlight"><i class="fa fa-search"></i> Search </button>
                </div>
            </div>
        </div>
    </div>
{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" action="{% url 'update_supplier_template' supplier_id=supplier.id %}" id="define_supplier_template">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Invoice Field</th>
                        <th>Before</th>
                        <th>Value</th>
                        <th>After</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invloce_field in invoice_fields %}
                        <tr id="row-{{ invloce_field.id }}">
                            <td>
                                {{ invloce_field.label }}  {% if invloce_field.ie %}(<strong>i.e<em>  {{ invloce_field.ie }}</em></strong>){% endif %}
                                {% if invloce_field.info %}
                                    <a href="javascript:void(0);" title="{{ invloce_field.info|safe }}" data-modal="{% url 'update_field_values' field_id=invloce_field.id %}"><i class="fa fa-info-circle" title=""></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <input type="text" id="before_{{ invloce_field.id }}" name="before_{{ invloce_field.id }}" value="{{ invloce_field.before }}" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="pattern_{{ invloce_field.id }}" name="pattern_{{ invloce_field.id }}" value="{{ invloce_field.pattern }}" readonly="readonly" class="form-control" />
                                {% if 'formats' in invloce_field %}
                                     <select id="format_{{ invloce_field.id }}" name="format_{{ invloce_field.id }}" class="form-control">
                                        <option value="--">Format</option>
                                        {% for f in invloce_field.formats %}
                                            {% if invloce_field.format == f.format %}
                                              <option value="{{ f.format }}" selected="selected">{{ f.ie }}</option>
                                            {% else %}
                                                <option value="{{ f.format }}">{{ f.ie }}</option>
                                            {% endif %}
                                         {% endfor %}
                                    </select>
                                {% endif %}
                            </td>
                            <td>
                                <input type="text" id="after_{{ invloce_field.id }}" name="after_{{ invloce_field.id }}" value="{{ invloce_field.after }}" class="form-control" />
                            </td>
                            <td>
                                <select id="type_{{ invloce_field.id }}" name="type_{{ invloce_field.id }}" class="form-control">
                                    {% for k, v in options %}
                                        {% if invloce_field.type == k %}
                                            <option value="{{ k }}" selected="selected">{{ v }}</option>
                                        {% else %}
                                            <option value="{{ k }}">{{ v }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="match_result"></div>
        </div>
        <div class="col-6">
          {% if contents %}
              <div style="height: 500px;overflow-y: scroll;" id="template_contents" onmouseup="getSelectedText(this, '{% url 'supplier_template_field_definition' supplier_id=supplier.id %}')">
                  {{ contents|safe }}
              </div>
          {% else  %}
              No content found. Please load sample file <a href="{% url 'create_supplier_template' supplier.id %} ">here</a>
          {% endif %}
        </div>

    </div>
      <div class="form-group">
         {% if contents %}
            <button class="btn btn-success btn-large" data-ajax-url="{% url 'supplier_template_match_reg' supplier_id=supplier.id %}" id="matching"><i class="fa fa-search"></i> Match field in invoice content</button>
         {% endif %}
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>
    </div>

  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/hilitor.js' %}"></script>
    <script type="text/javascript">

        $(function () {

            $(document).on('click', '[data-modal]', function (event) {
                event.preventDefault();
                $.get($(this).data('modal'), function (data) {
                    $(data).modal('show');

                    $("#template_field_values_submit").on('click', function (event) {
                        event.preventDefault();
                        submitModalForm($("form[name='template_field_values_form']"));
                    });
                });
            });

            var myHilitor = new Hilitor("template_contents");
            $("#search_highlight").on('click', function(e){
                e.preventDefault();
                var text = $("#search_text").val();
                myHilitor.apply(text);
            });
{#            $("#template_contents").on('mouseup', function(e){#}
{#                getSelectedText($(this))#}
{#            });#}

            $("#matching").on('click', function(e){
                $("#match_result").html('Processing ...');
                e.preventDefault();
                var ajaxUrl = $(this).data('ajax-url');
                $("#define_supplier_template").ajaxSubmit({
                    url: ajaxUrl,
                    target:        '#match_result',   // target element(s) to be updated with server response
                    beforeSubmit:  function(formData, jqForm, options) {
                        var queryString = $.param(formData);
                    },  // pre-submit callback
                    error: function (data) {
{#                        var element;#}
{#                        // show error for each element#}
{#                        if (data.responseJSON && 'errors' in data.responseJSON) {#}
{#                            $.each(data.responseJSON.errors, function (key, value) {#}
{#                                element.addClass('is-invalid');#}
{#                                element.after('<div class="is-invalid-message">' + value[0] + '</div>');#}
{#                            });#}
{#                        }#}
{##}
{#                        // flash error message#}
{#                        flash('danger', 'Errors have occurred.');#}
                    },
                    success:       function(responseJson, statusText, xhr, $form)  {
                        var element;
                        if ('results' in responseJson) {
                            $.each(responseJson['results'], function(index, result){
                                if (result) {
                                    $("#pattern_" + index).val( result );
                                    $("#row-" + index).css({'color': 'green', 'backgroud-color': 'green'});
                                } else {
                                    $("#pattern_" + index).val( result );
                                    $("#row-" + index).css({'color': 'red', 'backgroud-color': 'red'});
                                }
                            });
                        }
                        $("#match_result").html(responseJson.text);
                        // perform redirect
{#                        document.location.reload();#}
                    },  // post-submit callback
                    dataType: 'json',
                    type: 'post'
                    // $.ajax options can be used here too, for example:
                    //timeout:   3000
                });
                //submitModalForm($("form[name='define_supplier_template']"));
{#                $.post(ajaxUrl, {#}
{#                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()#}
{#                }, function (data) {#}
{#                    event.preventDefault();#}
{#                    #}
{#                }, 'json');#}
            });

        });
        var getSelectedText = function(el, ajaxUrl){
            var selectedText = '';
            if (window.getSelection()) {
                var selRange = window.getSelection();
                selectedText = selRange.toString();
            }
            if (selectedText) {
{#                $.get(ajaxUrl, {#}
{#                    text: selectedText#}
{#                }, function (data) {#}
{#                    $(data).modal('show');#}
{##}
{#                    $("#template_field_submit").on('click', function (event) {#}
{#                        event.preventDefault();#}
{#                        submitModalForm($("form[name='define_field_form']"));#}
{#                    });#}
{#                });#}
            }
        }


    </script>
{% endblock %}