{% extends 'modal.html' %}
{% load static %}
{% block title %} Definition {% endblock title %}
{% block content %}

  <form method="get" novalidate="novalidate" role="form" id="define_field_form" name="define_field_form" action="{% url 'define_field_form' template.id %}">
     <div class="modal-body">

        <div class="form-group control-group">
            <label class="control-label txt-font12" for="">Matches Field</label>
            <div class="controls">
                <select name="field" id="field" class="form-control">
                    {% for field in invoice_fields %}
                        <option value="{{ field.id }}">{{ field.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group control-group">
            <label class="control-label txt-font12" for="">Field Type</label>
            <div class="controls">
                <select name="field" id="field" class="form-control">
                    {% for k, v in options %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
         <div class="form-group control-group">
            <label class="control-label txt-font12" for="">Variable Text (value)</label>
            <div class="controls">
                <input type="text" name="pattern" id="pattern" class="form-control" value="{{ text }}" />
            </div>
        </div>
        <div class="form-group control-group">
            <label class="control-label txt-font12" for="">Before</label>
            <div class="controls">
                <input type="text" name="before" id="before" class="form-control" />
            </div>
        </div>
        <div class="form-group control-group">
            <label class="control-label txt-font12" for="">After</label>
            <div class="controls">
                <input type="text" name="after" id="after" class="form-control" />
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="template_field_submit" type="submit" id="template_field_submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>

{% endblock %}