{% extends 'modal.html' %}
{% load static %}
{% block title %} Options {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="template_field_values_form" name="template_field_values_form" action="{% url 'save_template_field_value_options' supplier_id=supplier.id field_id=field %}">
      {% csrf_token %}
     <div class="modal-body">
         {% if field_data %}
             <table class="table table-bordered" width="100%">
                 {% for option in options %}
                     <tr>
                        <td><input class="form-control" type="text" name="option_values[]" value="{{ option }}" /></td>
                     </tr>
                 {% endfor %}
                <tr>
                     <td><input class="form-control" type="text" name="option_values[]" value=""></td>
                 </tr>
             </table>
         {% endif %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="template_field_values_submit" type="submit" id="template_field_values_submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>

{% endblock %}