{% extends 'base.html' %}
{% block page_title %} Accounting date {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create-accounting-date' %}" class="btn btn-primary" role="button">
            <i class="fa fa-calendar-plus-o"></i> Create a new accounting date
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if accountingdates %}
                    {% for accountingdate in accountingdates%}
                            <tr>
                                <td>{{ accountingdate.name }}</td>
                                <td>{{ accountingdate.day }}</td>
                                <td>{{ accountingdate.day }}</td>
                                <td class="text-left actions">
                                    <a href="{% url 'edit-accounting-date' accountingdate.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'delete-accounting-date' accountingdate.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">There are no Non banking days available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}