{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load company_linked_objects_tags %}
{% block title %} Account posting line {% endblock title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="account_posting_line_form" name="account_posting_line_form"
          action="{% url 'add_accounting_posting_line' account_posting_id=account_posting.id line_type=line_type %}">
         <div class="modal-body">
            {% csrf_token %}
            {% account_posting_object_items request.session.company %}
            <div class="col-12">
                <label for="{{ form.vat_code.id_for_label }}">{{ form.vat_code.label_tag }}</label>
                {{ form.vat_code|add_class:"form-control chosen-select" }}
            </div>
             <div class="col-12">
                <label for="{{ form.percentage.id_for_label }}">{{ form.percentage.label_tag }}</label>
                {{ form.percentage|add_class:"form-control" }}
            </div>
             <div class="col-12">
                <label for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
                {{ form.amount|add_class:"form-control" }}
            </div>
             <div class="col-12">
                <label for="{{ form.distribution.id_for_label }}">{{ form.distribution.label_tag }}</label>
                {{ form.distribution|add_class:"form-control" }}
            </div>
             <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
         </div>
         <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
             <button type="submit" class="btn btn-primary btn-large"
                     name="save_account_posting_line_submit"
                     id="save_account_posting_line_submit"><i class="fa fa-save"></i> Add</button>
         </div>
    </form>
{% endblock %}