{% for object_category in object_categories %}
    {% if object_category.slug == 'accounts' %}
        <div class="col-12">
            <label for="accounts">Accounts</label>
            <select id="{{ object_category.id }}" name="object_item_{{ object_category.slug }}" class="form-control chosen-select">
                <option value="">--</option>
                    {% for account in accounts %}
                        <option value="{{ account.id }}">{{ account }}</option>
                    {% endfor %}
            </select>
        </div>
    {% else %}
        <div class="col-12">
            <label for="{{ object_category.id }}">{{ object_category.label }}</label>
            <select id="{{ object_category.id }}" name="object_item_{{ object_category.slug }}" class="form-control chosen-select">
                <option value="">--</option>
                {% if object_category.category_object_items %}
                    {% for object_item in object_category.category_object_items.all %}
                        <option value="{{ object_item.id }}">{{ object_item.label }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    {% endif %}
{% endfor %}