{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Account Posting Proposal{% endblock page_title %}
{% block content %}
<style type="text/css">
    .panel-heading h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 75%;
        padding-top: 8px;
    }
      #undo_redo_to{
          height: 500px !important;
      }
      #undo_redo{
          height: 500px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
</style>
{% if account_postings.paginator.count > 0 %}
    {% for account_posting in account_postings %}
        <form method="post" id="account_posting_detail">
          {% csrf_token %}
              <div class="panel panel-primary">
                  <div class="panel-heading clearfix">
                      <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">Record {{ account_postings.number }}/{{ account_postings.paginator.num_pages }}</h5>


                      <div class="btn-group pull-right">
                        <a href="{% url 'create_account_posting' %}" class="btn btn-sm btn-success" role="button">
                            <i class="fa fa-plus"></i> New
                        </a>
                        <button type="submit" id="update_account_posting" class="btn btn-primary btn-sm" data-ajax-url="{% url 'update_account_posting' account_posting.id %}"><i class="fa fa-save"></i> Update</button>
                        &nbsp;
                        <a href="{% url 'account_posting_index' %}" class="btn btn-sm btn-default" role="button">
                            <i class="fa fa-paperclip"></i> Prev. Level
                        </a>
                      </div>
                  </div>
                  <div class="panel-body aligin-center">
                        <table class="table align-center" width="">
                            <tr>
                                <td colspan="2">
                                    <table class="table">
                                        <tr>
                                            <th>Company</th>
                                            <td>
                                                <select class="form-control" id="company_filter">

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Account Posting Proposalss</th>
                                            <td>
                                                <select class="form-control" id="id_account" name="account">
                                                    <option value="">--</option>
                                                    {% for account in accounts %}
                                                        {% if account.id == account_posting.account_id %}
                                                            <option value="{{ account.id }}" selected="selected">{{ account.name }}</option>
                                                        {% else %}
                                                            <option value="{{ account.id }}">{{ account.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Belongs to role</th>
                                            <td>
                                                <select class="form-control" id="id_role" name="role">
                                                    <option value="">--</option>
                                                    {% for role in roles %}
                                                        {% if role.id == account_posting.role.id %}
                                                            <option value="{{ role.id }}" selected="selected">{{ role.label }}</option>
                                                        {% else %}
                                                            <option value="{{ role.id }}">{{ role.label }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>User Group</th>
                                            <td>
                                                <select class="form-control" id="id_group" name="group">
                                                    <option value="">--</option>
                                                    {% for group in groups %}
                                                        {% if group.id == account_posting.group.id %}
                                                            <option value="{{ group.id }}" selected="selected">{{ group.label }}</option>
                                                        {% else %}
                                                            <option value="{{ group.id }}">{{ group.label }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Account From Supplier</th>
                                            <td>
                                                  <div class="checkbox">
                                                      <label style="font-size: 1em">
                                                          {% if account_posting.account_from_supplier %}
                                                              <input type="checkbox" checked="checked" name="account_from_supplier" id="id_account_from_supplier" value="1" />
                                                          {% else %}
                                                              <input type="checkbox" name="account_from_supplier" id="id_account_from_supplier" value="1" />
                                                          {% endif %}
                                                          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                      </label>
                                                  </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Default</th>
                                            <td>
                                                  <div class="checkbox">
                                                      <label style="font-size: 1em">
                                                          {% if account_posting.is_default %}
                                                              <input type="checkbox" name="is_default" id="id_is_default" value="1" />
                                                          {% else %}
                                                              <input type="checkbox" checked="checked" name="is_default" id="id_is_default" value="1" />
                                                          {% endif %}
                                                          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                      </label>
                                                  </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Distrubution</th>
                                            <td>
                                                {% render_field form.distribution class="form-control" value=account_posting.distribution %}
                                                {% if form.distribution.auto_id  != "id_tos" %}
                                                    {% if form.distribution.errors %}<span class="help-inline">{{ form.distribution.errors }}</span>{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Account</th>
                                                <th>Account posting proposal</th>
                                                <th>VAT Code</th>
                                                <th>Percentage (%)</th>
                                                <th>Amount</th>
                                                <th>Days of distribution</th>
                                                <th>
                                                    <a href="javascript:void(0);" id="add_accounting_posting_line"  data-modal="{% url 'add_accounting_posting_line' account_posting_id=account_posting.id %}" data-ajax-url="{% url 'add_accounting_posting_line' account_posting_id=account_posting.id %}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for account_posting_line in account_posting.lines %}
                                                <tr>
                                                    <td>{{ account_posting_line.account }}</td>
                                                    <td>{{ account_posting_line.name }}</td>
                                                    <td>{{ account_posting_line.vat_code }}</td>
                                                    <td>{{ account_posting_line.percentage }}</td>
                                                    <td>{{ account_posting_line.amount }}</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                  </div>
              </div>
        </form>
    {% endfor %}
{% else %}
    <div class="alert alert-warning">Account posting proposal not found</div>
{% endif %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account_posting.js' %}"></script>
{% endblock %}