{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load company_linked_objects_tags %}
{% block title %} Edit Account posting line {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="edit_account_posting_line_form"
      name="edit_account_posting_line_form"
      action="{% url 'edit_accounting_posting_line' account_posting_line.id %}">
    <div class="modal-body">
        {% csrf_token %}
        {% account_posting_object_items request.session.company account_posting_line.id %}
        <div class="col-12">
            <label for="{{ form.vat_code.id_for_label }}">{{ form.vat_code.label_tag }}</label>
            {{ form.vat_code|add_class:"form-control chosen-select" }}
        </div>
        <div class="col-12">
            <label for="{{ form.percentage.id_for_label }}">{{ form.percentage.label_tag }}</label>
            {{ form.percentage|add_class:"form-control" }}
        </div>
        <div class="col-12">
            <label for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
            {{ form.amount|add_class:"form-control" }}
        </div>
        <div class="col-12">
            <label for="{{ form.distribution.id_for_label }}">{{ form.distribution.label_tag }}</label>
            {{ form.distribution|add_class:"form-control" }}
        </div>
        <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary btn-large"
               name="edit_account_posting_line_submit" id="edit_account_posting_line_submit" value="Save">
    </div>
</form>
{% endblock %}