<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Account</th>
            <th>VAT Code</th>
            <th>Percentage (%)</th>
            <th>Amount</th>
            <th>Days of distribution</th>
            <th>
                <a href="javascript:void(0);" id="add_accounting_posting_line"  data-modal="{% url 'add_accounting_posting_line' account_posting_id=account_posting.id %}" data-ajax-url="{% url 'add_accounting_posting_line' account_posting_id=account_posting.id %}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for account_posting_line in account_posting.lines.all %}
            <tr>
                <td>{{ account_posting_line.account }}</td>
                <td>{{ account_posting_line.vat_code }}</td>
                <td>{{ account_posting_line.percentage }}</td>
                <td>{{ account_posting_line.amount }}</td>
                <td>{{ account_posting_line.distribution }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>