{% for k, account_posting_type in account_posting_types.items %}
    <h4>{{ account_posting_type.title }}</h4>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Account</th>
                {% for k, linked_model in linked_models.items %}
                    <th>{{ linked_model.label }}</th>
                {% endfor %}
                <th>Percentage (%)</th>
                <th>Months of distribution</th>
                <th>
                    <a href="javascript:void(0);"
                       id="add_accounting_posting_line"
                       data-modal="{% url 'add_accounting_posting_line' account_posting_id=account_posting.id line_type=k  %}"
                       class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for line in account_posting_type.lines %}
                <tr>
                    <td>{{ line.account }}</td>
                    {% for k,object_item in line.object_items.items %}
                        {% if object_item.value %}
                            <td>{{ object_item.value }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ line.percentage }}</td>
                    <td>{{ line.distribution }}</td>
                    <td>
                        <a href="javascript:void(0);" id="edit_accounting_posting_line"
                           data-modal="{% url 'edit_accounting_posting_line' line.id  %}"
                           data-ajax-url="{% url 'edit_accounting_posting_line' line.id %}"
                           class="btn btn-success btn-sm"><i class="fa fa-pencil"></i>
                        </a>
                        <a href="javascript:void(0)" class="delete_line text-danger"
                           id="delete_line_{{ line.id }}" data-ajax-url="{% url 'delete_account_posting_line' line.id %}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                {% if object_categories %}
                    <td colspan="{{ object_categories|length  }}"></td>
                {% endif %}
                <td>{{ account_posting_type.total }}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endfor %}