{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Units{% endblock page_title %}
{% block content %}


<div class="panel-body aligin-center">
    <div class="table-responsive">
        <table class="table table-bordered" width="100%">
            <tr>
                <th>Measure</th>
                <th>{{ unit.measure }}</th>
            </tr>
        </table>
    </div>
    <form method="post" novalidate="novalidate" role="form" id="conversion_form" name="conversion_form"
          action="{% url 'unit_conversions' unit.id %}"
    >
         {% csrf_token %}
         <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Unit</th>
                            <th></th>
                            <th class="text-right">Conversion</th>
                            <th>Unit To</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if units %}
                            {% for unit_conversion in units %}
                                <tr>
                                    <td>1{{ unit.unit }}</td>
                                    <td class="text-center">=</td>
                                    <td class="text-right">
                                       <input class="text-right" type="text" name="unit_to_{{ unit_conversion.id }}"
                                              value="{{ unit_conversion.current_rate }}" />
                                    </td>
                                    <td>{{ unit_conversion }} <em>({{ unit_conversion.unit }})</em></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">There are no units for this {{ unit.measure }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
         </div>
         <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
            <button class="btn btn-primary btn-large" name="save" type="submit" id="save"><i class="fa fa-save"></i> Save</button>
        </div>
    </form>
</div>
{% endblock %}
