{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Units{% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
             <a href="{% url 'create_unit' %}" class="btn labeled btn-primary" role="button">
                <i class="fa fa-plus-circle"></i> Create
             </a>
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Measure</th>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Action</th>
                        <th>Conversion</th>
                    </tr>
                </thead>
                <tbody>
                    {% if units %}
                        {% for unit in units %}
                            <tr>
                                <td>{{ unit.measure }}</td>
                                <td>{{ unit }}</td>
                                <td class="text-left actions">
                                   <span class="label label-success">{{ unit.unit }}</span>
                                </td>
                                <td class="text-left actions">
                                   <a href="{% url 'edit_unit' unit.id %}"
                                      data-toggle="tooltip" title="" class="btn-sm btn-primary"
                                      data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                   <a href="{% url 'delete_unit' unit.id %}" onclick="return confirm('Are you sure you want to delete this unit')"
                                      data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                      data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                </td>
                                <td>
                                   <a href="javascript:void(0);"
                                      data-modal="{% url 'unit_conversions' unit.id %}"
                                      data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                      data-original-title="Conversions"><i class="fa fa-gears"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no units available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/unit.js' %}"></script>

    <script type="text/javascript">
        function updateMasterBranch(el, year_id)
        {
            $.post($(el).data('ajax-url'), {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}