{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load compress %}
{% block page_title %} {% translate "Update incoming invoices" %} - {{ year }} {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clear-fix">
            <div class="pull-left">
                <button type="button" class="btn btn-sm btn-primary btn-loading"
                        {% if year.is_final %}disabled="disabled"{% endif %}
                        data-modal="{% url 'create_incoming_invoices' %}"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        id="journal_for_incoming_invoice"> <i class="fa fa-arrow-circle-up"></i> {% translate "UPDATE INCOMING INVOICES" %}</button>
            </div>

          <div class="pull-right">
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>{% translate "Ref" %}</th>
                        <th>{% translate "Date" %}</th>
                        <th>{% translate "Created Date" %}</th>
                        <th>{% translate "Role" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for update in updates %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'invoice_journal_detail' update.id %}">
                            <td>{{ update.report_unique_number }}</td>
                            <td>{{ update.date }}</td>
                            <td>{{ update.created_at }}</td>
                            <td>{{ update.role }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">{% translate "There are no updated incoming invoices available for the selected year" %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Last</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/incoming.js' %}"></script>
    {% endcompress %}
{% endblock %}