{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Update incoming invoices - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Report Unique Number:</th>
                    <th>{{ journal.report_unique_number }}</th>
                    <th class="text-right">Jnl</th>
                    <th class="text-right">
                         {% if journal.ledger %}
                             <a href="{% url 'journal_lines' journal.ledger.id %}">{{ journal.ledger.journal_number }}</a>
                         {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>{{ journal.created_by.code }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Role:</th>
                    <th>{{ journal.role }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Report Date:</th>
                    <th>
                        <u>{{ journal.date|date:'d, M Y' }}</u>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Created Date:</th>
                    <th>
                        {{ journal.created_at|date:'d, M Y' }}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                 <tr>
                                    <th colspan="11"></th>
                                    <th class="text-right">Debit</th>
                                    <th class="text-right">Debit</th>
                                    <th class="text-right">Credit</th>
                                </tr>
                                <tr>
                                    <th>Per</th>
                                    <th>Docuflow Unique</th>
                                    <th>Accounting Date</th>
                                    <th>Document Date</th>
                                    <th>Due Date</th>
                                    <th>Supplier Name</th>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th>Reference 1</th>
                                    <th>Reference 2</th>
                                    <th>Vat Type</th>
                                    <th class="text-right">NETT</th>
                                    <th class="text-right">VAT</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if report.invoices|length > 0 %}

                                    {% for k, invoice_update in report.invoices.items %}
                                        <tr
                                                onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'invoice_detail' invoice_update.invoice.id %}"
                                        >
                                            <td>{{ journal.period }}</td>
                                            <td>{{ invoice_update.invoice }}</td>
                                            <td>{{ invoice_update.invoice.accounting_date }}</td>
                                            <td>{{ invoice_update.invoice.invoice_date }}</td>
                                            <td>{{ invoice_update.invoice.due_date }}</td>
                                            <td>{{ invoice_update.invoice.supplier_name }}</td>
                                            <td>{{ invoice_update.invoice.invoice_type }}</td>
                                            <td>{{ invoice_update.invoice.invoice_number }}</td>
                                            <td>{{ invoice_update.invoice.reference_1 }}</td>
                                            <td>{{ invoice_update.invoice.reference_2 }}</td>
                                            <td>{{ invoice_update.invoice.vat_code }}</td>
                                            <td class="text-right">{{ invoice_update.update.net|money }}</td>
                                            <td class="text-right">{{ invoice_update.update.vat|money }}</td>
                                            <td class="text-right">{{ invoice_update.update.total|money }}</td>
                                        </tr>
                                        {% for linked_update_invoice in invoice_update.children %}
                                            <tr style="border: orangered 1px solid; color: #9f3a38;">
                                                <td>{{ journal.period }}</td>
                                                <td>{{ linked_update_invoice.invoice }}</td>
                                                <td>{{ linked_update_invoice.invoice.accounting_date }}</td>
                                                <td>{{ linked_update_invoice.invoice.invoice_date }}</td>
                                                <td>{{ linked_update_invoice.invoice.due_date }}</td>
                                                <td>{{ linked_update_invoice.invoice.supplier.name }}</td>
                                                <td>{{ linked_update_invoice.invoice.invoice_type }}</td>
                                                <td>{{ linked_update_invoice.invoice.invoice_number }}</td>
                                                <td>{{ linked_update_invoice.invoice.reference_1 }}</td>
                                                <td>{{ linked_update_invoice.invoice.reference_2 }}</td>
                                                <td>{{ linked_update_invoice.invoice.vat_code }}</td>
                                                <td class="text-right">{{ linked_update_invoice.net|money }}</td>
                                                <td class="text-right">{{ linked_update_invoice.vat|money }}</td>
                                                <td class="text-right">{{ linked_update_invoice.total|money }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
{#                                         <tr>#}
{#                                            <td colspan="12">&nbsp;</td>#}
{#                                        </tr>#}
{#                                         <tr>#}
{#                                            <td colspan="9"></td>#}
{#                                            <td>Journals</td>#}
{#                                            <td class="text-right"><strong>{{ report.debit_nett_account }}</strong></td>#}
{#                                            <td class="text-right"><strong>{{ report.debit_vat_account }}</strong></td>#}
{#                                            <td class="text-right"><strong>{{ report.debit_credit_account }}</strong></td>#}
{#                                        </tr>#}
                                       <tr>
                                            <td colspan="10"></td>
                                            <td></td>
                                             <td class="text-right"><strong>{{ report.total_net|money }}</strong></td>
                                            <td class="text-right"><strong>{{ report.total_vat|money }}</strong></td>
                                            <td class="text-right"><strong>{{ report.total|money }}</strong></td>
                                        </tr>
{#                                       <tr>#}
{#                                            <td colspan="10"></td>#}
{#                                            <td class="text-right">Debit</td>#}
{#                                            <td class="text-right">Debit</td>#}
{#                                            <td class="text-right">Credit</td>#}
{#                                        </tr>#}
                                {% else %}
                                    <tr>
                                        <td colspan="5">There are no invoices available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}