{% load invoice_tags inventory_tags %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th class="text-right">Quantity</th>
            <th>Unit</th>
            <th>Recipe Qty for 1</th>
            <th>Control Unit</th>
            <th class="text-right">Quantity for {{ quantity }}</th>
            <th class="text-right">Unit Code</th>
            <th class="text-right" style="display: none;">Hidden</th>
            <th class="text-right" style="display: none;">Each</th>
            <th class="text-right">Estimated Cost</th>
        </tr>
    </thead>
    <tbody>
        {% if errors %}
            <tr>
                <td colspan="11">{{ errors }}</td>
            </tr>
        {% else %}
            {% for received_not_returned in recipe_items %}
                <tr>
                    <td>{{ received_not_returned.inventory }}</td>
                    <td>{{ received_not_returned.description }}</td>
                    <td class="text-right">{{ received_not_returned.item_quantity }}</td>
                    <td class="text-center">{{ received_not_returned.item_unit }}</td>
                    <td class="text-right">{{ received_not_returned.individual_quantity }}</td>
                    <td class="text-center">{{ received_not_returned.stock_unit_code }}</td>
                    <td class="text-right">{{ received_not_returned.quantity }}</td>
                    <td class="text-right">{{ received_not_returned.unit_price }}</td>
                    <td class="text-right" style="display: none;">{{ received_not_returned.total_cost }}</td>
                    <td class="text-right" style="display: none;">{{ received_not_returned.each_price }}</td>
                    <td class="text-right">
                        {{ received_not_returned.total }}
                        <input type="hidden" name="recipe_{{ recipe.id }}_recipe_item_id" id="recipe_{{ recipe.id }}_recipe_item_id" value="{{ received_not_returned.recipe_id }}" />
                        <input type="hidden" name="recipe_{{ recipe.id }}_item_total_{{ received_not_returned.id }}" id="recipe_{{ recipe.id }}_item_total_{{ received_not_returned.id }}" value="{{ received_not_returned.total }}" />
                        <input type="hidden" name="recipe_{{ recipe.id }}_item_each_price_{{ received_not_returned.id }}" id="recipe_{{ recipe.id }}_item_each_price_{{ received_not_returned.id }}" value="{{ received_not_returned.unit_price }}" />
                        <input type="hidden" name="recipe_{{ recipe.id }}_item_quantity_{{ received_not_returned.id }}" id="recipe_{{ recipe.id }}_item_quantity_{{ received_not_returned.id }}" value="{{ received_not_returned.quantity }}" />
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    {% if not errors %}
        <tfoot>
            <tr>
                <td colspan="7"></td>
                <td class="text-right">{{ each_price }}</td>
                <td class="text-right">{{ total|money }}</td>
            </tr>
        </tfoot>
    {% endif %}
</table>
