{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags company_tags %}
{% block page_title %}Manufacturing <span class="pull-right">&nbsp;{{ manufacturing }}</span>
{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left"></h5>
        </div>

      <div class="pull-right">
          <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
      </div>
  </div>
  <div class="panel-body align-center">
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 text-left">
                 {% display_logo manufacturing.branch.company 200 75 %}
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4">
                {% with company=manufacturing.branch.company %}
                    {% include "companies/address.html" %}
                {% endwith %}
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 text-right">
                <table class="table table-borderless table-condensed">
                    <tr>
                        <td colspan="2"><strong class="h4">Manufacturing</strong></td>
                    </tr>
                    <tr>
                        <td>Reference</td>
                        <td>#{{ manufacturing }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ manufacturing.date|date:'d-M-Y' }}</td>
                    </tr>
                    <tr>
                        <td>Period</td>
                        <td>{{ manufacturing.period }}</td>
                    </tr>
                    <tr>
                        <td>Text</td>
                        <td>{{ manufacturing.description }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>Stock Code</th>
                        <th>Description</th>
                        <th class="text-right">Quantity</th>
                        <th></th>
                        <th class="text-right">Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe_item, movements in recipes.items %}
                        <tr>
                            <td>{{ recipe_item.recipe.inventory }}</td>
                            <td>{{ recipe_item.recipe.inventory.description }}</td>
                            <td class="text-right"><strong>{{ recipe_item.quantity }}</strong></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                        </tr>
                        {% for movement in movements %}
                            <tr style="background-color: #e8e8e8;">
                                <td class="text-center">
                                    {{ movement.inventory }}
{#                                    -#}
{#                                    {{ movement.received }}#}
                                </td>
                                <td>{{ movement.inventory.description }}</td>
                                <td class="text-right">{{ movement.quantity }}</td>
                                <td class="text-right">{{ movement.each_price }}</td>
                                <td class="text-right">{{ movement.total|money }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td></td>
                            <td class="text-right bold" style="background-color: #e8e8e8;">{{ recipe_item.value|money }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"></td>
                        <td class="text-right">{{ total|money }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
