{% load static %}
{% load i18n %}
{% load company_linked_objects_tags %}
{% load widget_tweaks %}
{% for manufacturing_inventory_item in manufacturing_recipe_items %}
    {{ details }}
    <tr class="recipe_item_row {{ forloop.counter }}" id="row_{{ forloop.counter0 }}" data-row-id="{{ forloop.counter }}">
        <td>
            <select id="{{ forloop.counter }}_recipe_item" name="recipe_item_{{ forloop.counter }}"
                    class="form-control chosen-select recipe_item">
                <option value="">--</option>
                {% for recipe_item in recipe_items %}
                    <option value="{{ recipe_item.id }}"
                            {% if manufacturing_inventory_item.recipe.id == recipe_item.id %} selected="selected" {% endif %}
                            data-unit="{{ recipe_item.unit }}"
                            {% if recipe_item.unit%}
                                data-unit-id="{{ recipe_item.unit.id }}"
                            {% endif %}
                            data-price="{{ recipe_item.selling_price }}"
                            {% if recipe_item.min_reorder %}
                                data-min-order="{{ recipe_item.min_reorder }}"
                            {% endif %}
                            data-max-order="{{ recipe_item.balance_stock }}"
                            {% if recipe_item.supplier %}
                                data-preferred-supplier="{{ recipe_item.supplier }}"
                                data-preferred-supplier-id="{{ recipe_item.supplier.id }}"
                            {% endif %}
                    >{{ recipe_item.fullname }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="text" class="form-control validate_number quantity" id="quantity_{{ forloop.counter }}"
                   name="quantity_{{ forloop.counter }}" value="{{ manufacturing_inventory_item.quantity }}"/>
        </td>
        <td>
            <button id="remove_{{ forloop.counter }}"
                    data-row-id="{{ forloop.counter }}"
                    class="btn btn-danger remove-recipe-inventory-item">Remove</button>
        </td>
    </tr>
{% endfor %}
<tr class="recipe_item_row {{ row }}" id="row_{{ row }}" data-row-id="{{ row }}">
    <td>
        <select id="{{ row }}_recipe_item" name="recipe_item_{{ row }}"
                class="form-control chosen-select recipe_item">
            <option value="">--</option>
            {% for recipe_item in recipe_items %}
                <option value="{{ recipe_item.id }}"
                        data-units-url="{% url 'measure_units' %}"
                        {% if recipe_item.measure %}
                            data-measure="{{ recipe_item.measure }}"
                        {% endif %}
                        {% if recipe_item.unit%}
                            data-unit-id="{{ recipe_item.unit.id }}"
                        {% endif %}
                        data-price="{{ recipe_item.selling_price }}"
                        {% if recipe_item.min_reorder %}
                            data-min-order="{{ recipe_item.min_reorder }}"
                        {% endif %}
                        data-max-order="{{ recipe_item.balance_stock }}"
                        {% if recipe_item.supplier %}
                            data-preferred-supplier="{{ recipe_item.supplier }}"
                            data-preferred-supplier-id="{{ recipe_item.supplier.id }}"
                        {% endif %}
                >{{ recipe_item.fullname }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <input type="text" class="form-control validate_number quantity" id="quantity_{{ row }}"
               name="quantity_{{ row }}"/>
        <input type="hidden" class="form-control" id="rate_{{ row }}" name="rate_{{ row }}" />
    </td>
</tr>
