{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Edit Manufacturing - {{ recipe }} {% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="manufacturing_form"
      action="{% url 'edit_manufacturing' manufacturing.id %}">
        {% csrf_token %}
        <div class="form-group {% if form.period.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="controls">
                {% render_field form.period class="form-control chosen-select"  %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.date.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="controls">
                {% render_field form.date class="form-control"  %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.description.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}</label>
            <div class="controls">
                {% render_field form.description class="form-control"  %}
                {% if form.description.auto_id  != "id_tos" %}
                    {% if form.description.errors %}<span class="help-inline">{{ form.description.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Inventory</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="manufacturing_recipe_items" data-ajax-url="{% url 'edit_manufacturing_recipe_items' manufacturing.id %}">
                    <tr id="recipes__placeholder">
                        <td colspan="2">
                            <img src="{% static 'images/loader.gif' %}">
                        </td>
                    </tr>
                    <tr id="actions">
                        <td class="text-right" colspan="2">
                            <button type="button" id="add_inventory_recipe_line" class="btn btn-primary"
                                    data-ajax-url="{% url 'add_manufacturing_recipe_items' %}"
                            >Add</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td><span id="total_received"></span></td>
                    </tr>
                </tfoot>
            </table>

        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
        <div class="controls text-right">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-large" name="submit_manufacturing"
                    id="submit_manufacturing"><i class="fa fa-save"></i> Update Manufacturing</button>
        </div>
    </form>
{% endblock  %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/manufacturing.js' %}"></script>
{% endblock %}