{% extends 'datatable.html' %}
{% load static %}
{% load i18n %}
{% load invoice_tags %}
{% block title %} :: Manufacturing - {{ branch }} {% endblock title %}
{% block page_title %}Manufacturing - {{ branch }} {% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-right">
             <a {% if year.is_final %}disabled="disabled"{% endif %} class="btn btn-sm btn-primary"
                href="{% url 'create_manufacturing' %}"><i class="fa fa-plus-circle"></i> Create New</a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="manufacturing" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Note</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#manufacturing").DataTable({
            serverSide: true,
            ajax: '/api/v1/inventories/manufacturing/?format=datatables',
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 2, 'desc' ]],
            processing: true,
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            columns: [
                { data: 'reference', name: 'id', searchable: true },
                { data: 'description', name: 'description', searchable: true},
                { data: 'date', name: 'date', searchable: false},
              ]
        });

        $('#manufacturing tbody').on( 'click', 'tr', function () {
            const rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'manufacturing_index' %}";
            }
        });

    });
    </script>
{% endblock %}