{% load invoice_tags %}
<table class="table" id="recipe_inventory_items_{{ row }}">
    <thead>
        <tr>
            <th>Inventory</th>
            <th class="text-right">Quantity</th>
            <th>Unit</th>
            <th>Control Unit</th>
            <th class="text-right">Quantity Used</th>
            <th class="text-right">Unit Cost</th>
            <th class="text-right">Total Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe_item in recipe_items %}
            <tr>
                <td>{{ recipe_item.recipe_inventory.inventory }} ({{ recipe_item.recipe_inventory.inventory.description }})</td>
                <td class="text-right">
                    {{ recipe_item.recipe_inventory.quantity }}
                    <input type="hidden" value="{{ recipe_item.recipe_inventory.quantity }}"
                           name="recipe_{{ row }}_inventory_item_{{ recipe_item.recipe_inventory.id }}_qty"
                           data-row-id="{{ recipe_item.recipe_inventory.id }}"
                           id="row_{{ row }}_inventory_recipe_qty_{{ recipe_item.recipe_inventory.id }}"
                           class="recipe_qty_{{ row }}_{{ recipe.id }} recipe_inventory_{{ recipe_item.recipe_inventory.id }}" />
                </td>
                <td>
                    {{ recipe_item.recipe_inventory.unit }}
                    <input type="hidden" value="{{ recipe_item.recipe_inventory.unit.unit }}"
                           name="recipe_{{ row }}_inventory_item_{{ recipe_item.recipe_inventory.id }}_unit"
                           data-row-id="{{ recipe_item.recipe_inventory.id }}"
                           id="row_{{ row }}_inventory_recipe_unit_{{ recipe_item.recipe_inventory.id }}"
                           class="recipe_unit_{{ row }}_{{ recipe.id }}"
                    />
                </td>
                <td>
                    {{ recipe_item.recipe_inventory.inventory.stock_unit }}
                    <input type="hidden" value="{{ recipe_item.recipe_inventory.inventory.stock_unit.unit }}"
                           name="recipe_{{ row }}_inventory_item_{{ recipe_item.recipe_inventory.id }}_sale_unit"
                           data-row-id="{{ recipe_item.recipe_inventory.id }}"
                           id="row_{{ row }}_inventory_recipe_sale_unit_{{ recipe_item.recipe_inventory.id }}"
                           class="recipe_ctrl_unit_{{ row }}_{{ recipe.id }}"
                    />
                </td>
                <td class="text-right">
                    <span id="row_{{ row }}_quantity_used_{{ recipe_item.recipe_inventory.id }}">{{ recipe_item.quantity }}</span>{{ recipe_item.recipe_inventory.inventory.stock_unit }}
                    <input type="hidden" value="{{ recipe_item.quantity }}"
                           name="recipe_{{ row }}_inventory_item_{{ recipe_item.recipe_inventory.id }}_quantity"
                           id="row_{{ row }}_inventory_recipe_qty_used_{{ recipe_item.recipe_inventory.id }}"
                           data-row-id="{{ recipe_item.recipe_inventory.id }}"
                           class="recipe_qty_used_{{ row }}_{{ recipe.id }}"
                    />
                    <input type="hidden" class="form-control"
                           id="rate_{{ row }}_{{ recipe_item.recipe_inventory.id }}"
                           name="rate_{{ row }}_{{ recipe_item.recipe_inventory.id }}" />
                </td>
                <td class="text-right">
                    <span id="row_{{ row }}_unit_cost_{{ recipe_item.recipe_inventory.id }}">{{ recipe_item.unit_price|money }}</span>
                    <input type="hidden" class="form-control"
                           value="{{ recipe_item.unit_price }}"
                           id="unit_cost_{{ row }}_{{ recipe_item.recipe_inventory.id }}"
                           name="unit_cost_{{ row }}_{{ recipe_item.recipe_inventory.id }}" />
                </td>
                <td class="text-right">
                    <span id="row_{{ row }}_total_cost_{{ recipe_item.recipe_inventory.id }}">{{ recipe_item.total_cost|money }}</span>
                    <input type="hidden" class="form-control"
                           value="{{ recipe_item.total_cost }}"
                           id="total_cost_{{ row }}_{{ recipe_item.recipe_inventory.id }}"
                           name="total_cost_{{ row }}_{{ recipe_item.recipe_inventory.id }}" />
                </td>
            </tr>
        {% endfor  %}
        <tfoot>
            <tr>
                <th></th>
                <th class="text-right"></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{ unit_cost|money }}</th>
                <th class="text-right">{{ total_cost|money }}</th>
            </tr>
        </tfoot>
    </tbody>
</table>