{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<tr class="recipe_item_row {{ row }}" id="row_{{ row }}" data-row-id="{{ row }}">
    <td>
        <select id="{{ row }}_recipe_item" name="recipe_item_{{ row }}"
                class="form-control chosen-select recipe_item">
            <option value="">--</option>
            {% for recipe_item in recipe_items %}
                <option value="{{ recipe_item.id }}"
                        data-unit="{{ recipe_item.unit }}"
                        data-units-url="{% url 'measure_units' %}"
                        data-ajax-recipe-url="{% url 'recipe_inventory_items_list' %}?row={{ row }}&recipe_id={{ recipe_item.id }}"
                        data-ajax-cost-url="{% url 'recipe_cost_breakdown' %}?row={{ row }}&recipe_id={{ recipe_item.id }}"
                        {% if recipe_item.vat_code %}
                            data-vat-id="{{ recipe_item.vat_code.id }}"
                        {% endif %}
                        {% if recipe_item.measure %}
                            data-measure="{{ recipe_item.measure }}"
                        {% endif %}
                        {% if recipe_item.unit%}
                            data-unit-id="{{ recipe_item.unit.id }}"
                        {% endif %}
                        data-price="{{ recipe_item.selling_price }}"
                        {% if recipe_item.min_reorder %}
                            data-min-order="{{ recipe_item.min_reorder }}"
                        {% endif %}
                        data-max-order="{{ recipe_item.balance_stock }}"
                        {% if recipe_item.supplier %}
                            data-preferred-supplier="{{ recipe_item.supplier }}"
                            data-preferred-supplier-id="{{ recipe_item.supplier.id }}"
                        {% endif %}
                >{{ recipe_item.fullname }}</option>
            {% endfor %}
        </select>
    </td>
    <td class="text-left">
        <input type="text" class="form-control validate_number quantity" id="quantity_{{ row }}"
               data-ajax-cost-url="{% url 'recipe_cost_breakdown' %}"
               data-ajax-recipe-url="{% url 'recipe_inventory_items_list' %}?row={{ row }}&recipe_id={{ recipe_item.id }}"
               name="quantity_{{ row }}"/>
    </td>
    <td>
        <span id="total_cost_{{ row }}"></span>
    </td>
</tr>
<tr class="recipe_item_row {{ row }}" data-row-id="{{ row }}">
    <td colspan="3">
        <div id="recipe_details_{{ row }}"></div>
    </td>
</tr>
