<table class="table">
    <thead>
        <tr>
            <th>Inventory</th>
            <th>Description</th>
            <th class='text-right'>Quantity</th>
            <th>Unit</th>
            <th>Recipe Qty for 1 </th>
            <th>Control Unit</th>
            <th class='text-right'>Qty for " + recipeItems['quantity'] +"</th>
            <th class='text-right'>Unit Cost</th>
            <th class='text-right' style='display: none'>Hidden</th>
            <th class='text-right' style='display: none'>Each</th>
            <th class='text-right'>Estimated Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ recipeItem.inventory }}</td>
            <td>{{ recipeItem.description }}</td>
            <td class='text-right'>{{ recipeItem.item_quantity }}</td>
            <td>{{ recipeItem.item_unit }}</td>
            <td>{{ recipeItem.individual_quantity }}</td>
            <td>{{ accounting.toFixed(recipeItem.individual_quantity, 6) }}</td>
            <td>{{ accounting.toFixed(recipeItem.quantity, 4) }}</td>
            <td>{{ accounting.formatMoney(recipeItem.unit_price) }}</td>
            <td>{{ recipeItem.total_cost }}</td>
            <td class='text-right' style='display: none'>{{ accounting.formatMoney(recipeItem.each_price) }}</td>
            <td class='text-right'>{{ accounting.formatMoney(recipeItem.total) }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th class='text-right'></th>
            <th class='text-right'></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class='text-right'>{{ accounting.formatMoney(response.unit_cost)  }}</th>
            <th class='text-right' style='display: none'>{{ response.total_cost }}</th>
            <th class='text-right' style='display: none'>{{ accounting.formatMoney(response.each_price)  }}</th>
            <th class='text-right'>
                <input type='hidden' name='recipe_"+ recipeId +"_total_cost' value='"+accounting.unformat(response.total)+"' />
            </th>
        </tr>
    </tfoot>
</table>