{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Create Group Level {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" id="create_journal_level" action="{{ post_url }}">
     <div class="modal-body">
        {% include 'common/form.html' %}
        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-large" name="save_group_level"
                id="save_group_level"><i class="fa fa-save"></i> Save</button>
    </div>
</form>
{% endblock %}