{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %} Group Levels {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
            </div>

          <div class="pull-right">
                <a href="javascript:void(0);" data-modal="{% url 'create_group_level' %}"class="btn btn-primary"
                   role="button"><i class="fa fa-plus"></i> Create Group Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">

                <div class="accordion enabled" id="unit-controller-accordion" style="position: relative; margin: 20px; border-bottom: 0;">

                    <ul id="sortable" class="ui-sortable" style="list-style: none; margin: 0; padding: 0;">
                         {% for group_level in group_levels %}
                             <li id="object_{{ group_level.id }}">
                                <h3 id="{{ group_level.id }}" class="object" onclick="openObject(this)"  class="active" style="height: 35px; font-size: inherit; padding: 10px 15px; background: #0b91d2; color: #FFFFFF; font-weight: normal; margin: 15px 0 0 0; border-bottom: 1px solid #EEE; z-index: 99; position: relative;">
                                  <span class="pull-left">{{ group_level }}</span>
                                  <span class="pull-right">
                                    <span style="float: right; margin-left: 10px; margin-top: -3px;"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                                    <span style="float: right; margin-left: 10px; margin-top: -3px;"><i class="fa fa-angle-down"></i></span>
                                  </span>
                                </h3>
                                <div class="inner-content" style="display: none;"  id="{{ group_level.id }}_object_children">
                                    <div class="row margin_top_10">
                                        <table class="table table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Parent</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            {% for group_level_item in group_level.items.all %}
                                                 <tr>
                                                     <th>{{ group_level_item }}</th>
                                                     <th>{{ group_level_item.parent }}</th>
                                                     <th>
                                                        <a href="{% url 'edit_group_level_item' pk=group_level_item.id group_level_id=group_level.id  %}"
                                                           data-modal="{% url 'edit_group_level_item'  pk=group_level_item.id group_level_id=group_level.id %}"
                                                           data-toggle="tooltip" title="" class="btn-sm btn-success" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                                        <a href="{% url 'delete_group_level_item' pk=group_level_item.id group_level_id=group_level.id %}"
                                                            onclick="return confirm('Are you sure you want to delete this object item.')"
                                                           data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                                     </th>
                                                 </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="row footer-content col" style="min-height: 30px; padding-top: 5px;">
                                        <div class="pull-right">
                                            <a href="javascript:void(0);"
                                               data-modal="{% url 'edit_group_level' group_level.id %}"
                                               data-toggle="tooltip" title="" class="btn-sm btn-secondary"
                                               data-original-title="Edit"><i class="fa fa-pencil"></i> Edit {{ group_level }}</a>
                                            <a href="{% url 'delete_group_level' group_level.id %}"
                                               data-toggle="tooltip" title=""
                                               data-original-title="Delete" onclick="return confirm('Are you sure you want to delete this group level. All items linked to this group level will be unlinked.')"><i class="fa fa-trash"></i> Delete {{ group_level }}</a>
                                            <a href="javascript:void(0);"
                                               data-modal="{% url 'create_group_level_item' group_level_id=group_level.id %}"
                                               data-toggle="tooltip" title="" class="btn-sm btn-secondary"
                                               data-original-title="Add"><i class="fa fa-plus"></i> Add {{ group_level }}</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}?{% now 'YmdHis' %}"></script>
    <script type="text/javascript">
        function openObject(el)
        {
            $("#" + $(el).attr('id')+"_object_children").toggle();
            return false;
        }
    </script>
{% endblock %}
