{% load invoice_tags sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items estimate_item_row" data-row-id="{{ row }}">
    <td >
        {% line_types row start module_url line_type col.col0 %}
    </td>
    <td>
        {% account_cell row start col.col1 %}
    </td>
    <td>
        {% account_description_cell row start col.col2 %}
    </td>
    <td>
        {% quantity_cell row start col.col3 %}
    </td>
    <td>
        {% unit_cell row start col.col4 %}
    </td>
    <td class="text-right" >
        {% price_cell row start col.col5 %}
    </td>
    <td>
        {% discount_cell row start col.col6 %}
    </td>
    <td class="text-right" >
        <span class="discount-amount" id="discount_amount_{{ row }}" data-item-id="{{ row }}"></span>

    </td>
    <td class="text-right" >
        <span class="price-exc" id="total_price_exl_{{ row }}" data-item-id="{{ row }}"></span>
    </td>
    <td>
        {% vat_code_cell row start default_vat_code col.col7 %}
    </td>
    <td class="text-right" >
        <span class="total-vat" id="vat_total_{{ row }}" data-item-id="{{ row }}"></span>
    </td>
    <td class="text-right" >
        <span class="price" id="total_price_incl_{{ row }}"></span>
    </td>
    <td class="text-center">
        {% if is_deletable %}
            <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" id="delete_{{ row }}">
                <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
            </a>
        {% endif %}
    </td>
</tr>