{% extends 'modal.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags sales_tags %}
{% block title %} {% translate "Copy estimate to customer" %} {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form" id="create_customer_estimate_copy_form" name="create_customer_estimate_copy"
        action="{% url 'create_estimate_customer_copy' estimate_id=estimate.id %}">
  {% csrf_token %}
     <div class="modal-body">

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group control-group {% if form.customer.errors %}error{% endif %}">
                    <label class="control-label txt-font12" for="{{ form.customer.id_for_label }}">{{ form.customer.label_tag }}</label>
                    <div class="controls">
                        {% render_field form.customer class="form-control chosen-select" %}
                        {% if form.customer.auto_id  != "id_tos" %}
                            {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12"></div>
        </div>

        <div class="row  mt-3">
            <div class="col-lg-6 col-sm-12">
                <div id="postal_customer_form" style="display: none">
                    <h4>Postal Address</h4>
                    <div class="form-group">
                        {% render_field form.customer_name class="form-control form-control-sm" tabindex='2' placeholder='Customer Name'  %}
                        {% if form.customer_name.auto_id  != "id_tos" %}
                            {% if form.customer_name.errors %}<span class="help-inline">{{ form.customer_name.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_street class="form-control form-control-sm" tabindex='2' placeholder='Street'  %}
                        {% if form.postal_street.auto_id  != "id_tos" %}
                            {% if form.postal_street.errors %}<span class="help-inline">{{ form.postal_street.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_city class="form-control form-control-sm" tabindex='3' placeholder='City'  %}
                        {% if form.postal_city.auto_id  != "id_tos" %}
                            {% if form.postal_city.errors %}<span class="help-inline">{{ form.postal_city.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_province class="form-control form-control-sm" tabindex='4'  placeholder='Province' %}
                        {% if form.postal_province.auto_id  != "id_tos" %}
                            {% if form.postal_province.errors %}<span class="help-inline">{{ form.postal_province.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_postal_code class="form-control form-control-sm" tabindex='5'  placeholder='Postal Code' %}
                        {% if form.postal_postal_code.auto_id  != "id_tos" %}
                            {% if form.postal_postal_code.errors %}<span class="help-inline">{{ form.postal_postal_code.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.postal_country class="form-control form-control-sm" tabindex='6'  placeholder='Country' %}
                        {% if form.postal_country.auto_id  != "id_tos" %}
                            {% if form.postal_country.errors %}<span class="help-inline">{{ form.postal_country.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div id="customer_details">
                    <div class="customer">
                        <span id="postal_street"></span>
                        <span class="postal" id="postal_city"></span>
                        <span class="postal" id="postal_province"></span>
                        <span class="postal" id="postal_country"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div id="delivery_customer_form" style="display: none">
                    <h4>Delivery Address</h4>
                     <div class="form-group {% if form.delivery_address.errors %}error{% endif %}">
                        {% render_field form.delivery_address class="form-control form-control-sm form-control form-control-sm-sm" tabindex='7' %}
                        {% if form.delivery_address.auto_id  != "id_tos" %}
                            {% if form.delivery_address.errors %}<span class="help-inline">{{ form.delivery_address.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.address_id %}
                        {% render_field form.delivery_street class="form-control form-control-sm" tabindex='7' placeholder='Street'  %}
                        {% if form.delivery_street.auto_id  != "id_tos" %}
                            {% if form.delivery_street.errors %}<span class="help-inline">{{ form.delivery_street.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.delivery_city class="form-control form-control-sm" tabindex='8' placeholder='City'  %}
                        {% if form.delivery_city.auto_id  != "id_tos" %}
                            {% if form.delivery_city.errors %}<span class="help-inline">{{ form.delivery_city.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.delivery_province class="form-control form-control-sm" tabindex='9' placeholder='Province'  %}
                        {% if form.delivery_province.auto_id  != "id_tos" %}
                            {% if form.delivery_province.errors %}<span class="help-inline">{{ form.delivery_province.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.delivery_postal_code class="form-control form-control-sm" tabindex='10' placeholder='Postal Code'  %}
                        {% if form.delivery_postal_code.auto_id  != "id_tos" %}
                            {% if form.delivery_postal_code.errors %}<span class="help-inline">{{ form.delivery_postal_code.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% render_field form.delivery_country class="form-control form-control-sm" tabindex='11'  %}
                        {% if form.delivery_country.auto_id  != "id_tos" %}
                            {% if form.delivery_country.errors %}<span class="help-inline">{{ form.delivery_country.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate "Close" %}</button>
        <button class="btn btn-primary btn-large" name="save_estimate_customer_copy"
                data-loading-text="<i class='fa fa-spinner'></i> Processing"
                type="button" id="save_estimate_customer_copy"><i class="fa fa-save"></i> {% translate "Save" %}
        </button>
    </div>
  </form>
{% endblock %}