{% extends 'base.html' %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static i18n %}
{% load compress %}
{% load company_tags invoice_tags sales_tags %}
{% block page_title %}{% translate "Create Estimate" %} {{ invoice_type }} {% endblock page_title %}
{% block stylesheet %}{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="estimate_form"
      {% if not is_template %}action="{% url 'create_estimate' %}"{% else %}action="{% url 'create_estimate' estimate_type='template' %}"{% endif %}>
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <a href="{% url 'estimates_index' %}" class="btn btn-warning">{% translate "Cancel" %}</a>
                <button type="button" class="btn btn-primary btn-large save-estimate" name="submit_estimate"
                        data-action="save" data-loading-text="<i class='fa fa-spinner'></i> Saving ..."
                        id="submit_estimate"><i class="fa fa-save"></i> {% translate "Save" %}</button>
                {% if not is_template %}
                    <button type="button" class="btn btn-primary btn-large save-estimate" name="print_estimate"
                            data-action="print"
                            id="print_estimate"><i class="fa fa-print"></i> {% translate "Print" %}</button>

                    <button type="button" class="btn btn-primary btn-large save-estimate" name="email_estimate"
                            data-action="email"
                            id="email_estimate"><i class="fa fa-envelope"></i> {% translate "Email" %}</button>
                {% endif %}
            </div>
        </div>
        <div class="panel-body align-center">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                         <div class="controls">
                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                            {% if form.branch.auto_id  != "id_tos" %}
                            {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-8"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    {% display_logo company 200 75 %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    {% include "sales/address/company.html" %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <table class="table" width="100%">
                        <tr>
                            <td>
                                <strong class="h4" id="estimate_type">{% translate "ESTIMATE" %}</strong>
                            </td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>{% translate "Vat Registration Number" %}:</td>
                            <td>{{ company.vat_number }}</td>
                        </tr>
                        {% if is_template %}
                            {% render_field form.period|attr:"type:hidden" %}
                            {% render_field form.date %}
                            {% render_field form.expires_at %}
                            <input type="hidden" name="is_template" id="id_is_template" value="1" />
{#                        {% else %}#}
{#                            <tr>#}
{#                                <td>{% translate "Make template" %}:</td>#}
{#                                <td>{{ form.is_template }}</td>#}
{#                            </tr>#}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row" id="customer-data">
                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">
                            <div class="pull-left">{% translate "Customer" %}</div>
                            <div class="pull-right">
                                <a href="{% url 'create_customer' %}?redirect={% url 'create_estimate' %}"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="form-group">
                                {% render_field form.customer class="form-control form-control-sm chosen-select" tabindex="1" autofocus='1'  %}
                                {% if form.customer.auto_id  != "id_tos" %}
                                    {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                {% endif %}
                                <input type="hidden" id="line_discount">
                                <input type="hidden" id="invoice_discount" name="discount_percentage">
                                <div id="customer_full_name"></div>
                            </div>
                            <div id="postal_customer_form" style="display: none">
                                <div class="form-group">
                                    {% render_field form.customer_name class="form-control form-control-sm" tabindex='2' placeholder='Customer Name'  %}
                                    {% if form.customer_name.auto_id  != "id_tos" %}
                                        {% if form.customer_name.errors %}<span class="help-inline">{{ form.customer_name.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_street class="form-control form-control-sm" tabindex='2' placeholder='Street'  %}
                                    {% if form.postal_street.auto_id  != "id_tos" %}
                                        {% if form.postal_street.errors %}<span class="help-inline">{{ form.postal_street.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_city class="form-control form-control-sm" tabindex='3' placeholder='City'  %}
                                    {% if form.postal_city.auto_id  != "id_tos" %}
                                        {% if form.postal_city.errors %}<span class="help-inline">{{ form.postal_city.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_province class="form-control form-control-sm" tabindex='4'  placeholder='Province' %}
                                    {% if form.postal_province.auto_id  != "id_tos" %}
                                        {% if form.postal_province.errors %}<span class="help-inline">{{ form.postal_province.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_postal_code class="form-control form-control-sm" tabindex='5'  placeholder='Postal Code' %}
                                    {% if form.postal_postal_code.auto_id  != "id_tos" %}
                                        {% if form.postal_postal_code.errors %}<span class="help-inline">{{ form.postal_postal_code.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_country class="form-control form-control-sm" tabindex='6'  placeholder='Country' %}
                                    {% if form.postal_country.auto_id  != "id_tos" %}
                                        {% if form.postal_country.errors %}<span class="help-inline">{{ form.postal_country.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div id="customer_details">
                                <div class="customer">
                                    <span id="postal_street"></span>
                                    <span class="postal" id="postal_city"></span>
                                    <span class="postal" id="postal_province"></span>
                                    <span class="postal" id="postal_country"></span>
                                    <input type="hidden" name="credit_limit" id="credit_limit" value="0">
                                    <span class="font-italic" id="credit_limit_val"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">
                            <div class="pull-left">{% translate "Deliver To" %}:</div>
                            <div class="pull-right">
                                {% translate "Pick Up" %} &nbsp;&nbsp; {% render_field form.is_pick_up class="" tabindex='7'  %}
                            </div>
                        </div>
                        <div class="panel-body" style="padding: 5px;">
                            <div id="delivery_is_pick_up" style="display: none;">{% translate "Pick Up" %}</div>
                            <div class="clearfix"></div>
                            <div id="delivery_customer_form" class="shipping-to" style="display: none">
                                 <div class="form-group {% if form.delivery_address.errors %}error{% endif %}">
                                    {% render_field form.delivery_address class="form-control form-control-sm form-control form-control-sm-sm" tabindex='8' %}
                                    {% if form.delivery_address.auto_id  != "id_tos" %}
                                        {% if form.delivery_address.errors %}<span class="help-inline">{{ form.delivery_address.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_street class="form-control form-control-sm" tabindex='9' placeholder='Street'  %}
                                    {% if form.delivery_street.auto_id  != "id_tos" %}
                                        {% if form.delivery_street.errors %}<span class="help-inline">{{ form.delivery_street.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_city class="form-control form-control-sm" tabindex='10' placeholder='City'  %}
                                    {% if form.delivery_city.auto_id  != "id_tos" %}
                                        {% if form.delivery_city.errors %}<span class="help-inline">{{ form.delivery_city.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_province class="form-control form-control-sm" tabindex='11' placeholder='Province'  %}
                                    {% if form.delivery_province.auto_id  != "id_tos" %}
                                        {% if form.delivery_province.errors %}<span class="help-inline">{{ form.delivery_province.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_postal_code class="form-control form-control-sm" tabindex='12' placeholder='Postal Code'  %}
                                    {% if form.delivery_postal_code.auto_id  != "id_tos" %}
                                        {% if form.delivery_postal_code.errors %}<span class="help-inline">{{ form.delivery_postal_code.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_country class="form-control form-control-sm" tabindex='13'  %}
                                    {% if form.delivery_country.auto_id  != "id_tos" %}
                                        {% if form.delivery_country.errors %}<span class="help-inline">{{ form.delivery_country.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body" style="padding: 5px;">
                            <table class="table">
                                <tr class="{% if form.customer_vat_number.errors %}error{% endif %}">
                                    <td>{{ form.customer_vat_number.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.customer_vat_number class="form-control form-control-sm" tabindex="18" %}
                                        {% if form.customer_vat_number.auto_id  != "id_tos" %}
                                            {% if form.customer_vat_number.errors %}<span class="help-inline">{{ form.customer_vat_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if not is_template %}
                                    <tr class="{% if form.period.errors %}error{% endif %}">
                                        <td>{{ form.period.label_tag }}</td>
                                        <td class="text-right">
                                            {% render_field form.period class="form-control form-control-sm" tabindex="19" %}
                                            {% if form.period.auto_id  != "id_tos" %}
                                                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="{% if form.date.errors %}error{% endif %}">
                                        <td>{{ form.date.label_tag }}</td>
                                        <td class="text-right">
                                            {% render_field form.date class="form-control form-control-sm datepicker" tabindex="20" %}
                                            {% if form.date.auto_id  != "id_tos" %}
                                                {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="{% if form.expires_at.errors %}error{% endif %}">
                                        <td>{{ form.expires_at.label_tag }}</td>
                                        <td class="text-right">
                                            {% render_field form.expires_at class="form-control form-control-sm datepicker" tabindex="21" %}
                                            {% if form.expires_at.auto_id  != "id_tos" %}
                                                {% if form.expires_at.errors %}<span class="help-inline">{{ form.expires_at.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr class="{% if form.phone_number.errors %}error{% endif %}">
                                    <td>{{ form.phone_number.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.phone_number class="form-control form-control-sm" tabindex="22" %}
                                        {% if form.phone_number.auto_id  != "id_tos" %}
                                            {% if form.phone_number.errors %}<span class="help-inline">{{ form.phone_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="{% if form.salesman.errors %}error{% endif %}">
                                    <td>{{ form.salesman.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.salesman class="form-control form-control-sm" tabindex="23" %}
                                        {% if form.salesman.auto_id  != "id_tos" %}
                                            {% if form.salesman.errors %}<span class="help-inline">{{ form.salesman.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="{% if form.pricing.errors %}error{% endif %}">
                                    <td><label class="col-sm-4 control-label txt-font12" for="pricing">Pricing</label></td>
                                    <td class="text-right">
                                        <select id="id_pricing" name="pricing" class="form-control form-control-sm" tabindex="24"></select>
                                    </td>
                                </tr>
                                <tr class="{% if form.email_address.errors %}error{% endif %}">
                                    <td><label class="col-sm-4 control-label txt-font12" for="email_address">Email Address</label></td>
                                    <td class="text-right">
                                        {% render_field form.email_address class="form-control form-control-sm" tabindex="25" %}
                                        {% if form.email_address.auto_id  != "id_tos" %}
                                            {% if form.email_address.errors %}<span class="help-inline">{{ form.email_address.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table" width="100%">
                                    <thead>
                                        <tr>
                                            <th>{% translate "Type" %}</th>
                                            <th width="5%" class="border-0">{% translate "Code" %}</th>
                                            <th width="10%">{% translate "Description" %}</th>
                                            <th class="text-left">{% translate "Quantity" %}</th>
                                            <th class="text-left">{% translate "Unit" %}</th>
                                            <th class="text-left">{% translate "Unit Price" %}</th>
                                            <th class="text-left">{% translate "Disc(%)" %}</th>
                                            <th class="text-right">{% translate "Discount" %}</th>
                                            <th class="text-right">{% translate "Net Price" %}</th>
                                            <th class="text-left">{% translate "Vat" %}</th>
                                            <th class="text-right">{% translate "Vat Amount" %}</th>
                                            <th class="text-right">{% translate "Total Incl" %}</th>
                                            <th class=""></th>
                                        </tr>
                                    </thead>
                                    <tbody id="estimate_items_body" data-ajax-url="{% url 'add_estimate_items' %}">
                                        <tr id="estimate_items_placeholder">
                                            <td colspan="13">
                                                <img src="{% static 'images/loader.gif' %}">
                                            </td>
                                        </tr>
                                        <tr id="actions">
                                            <td class="text-right" colspan="13">
                                                <button type="button" id="add_estimate_line" class="btn btn-primary"
                                                        data-add-type="estimate"
                                                        data-ajax-url="{% url 'add_estimate_items' %}"
                                                        tabindex="1000"
                                                >{% translate "Add" %}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div>
                        <table class="table table-bordered" width="100%">
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Gross Weight" %}</td>
                                <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Net Weight" %}</td>
                                <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Total Items" %}</td>
                                <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="panel customer-discount-calculation" id="calculation_summary" >
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Line Discounts" %}</td>
                                <td class="po-total" >&nbsp;
                                    <span id="total_discount"></span>
                                    {% render_field form.line_discount %}
                                </td>
                            </tr>
                          <tr>
                                <td class="po-total" colspan="14">{% translate "Sub Total" %}</td>
                                <td class="po-total" >&nbsp;
                                    <span id="sub_total"></span>
                                    {% render_field form.sub_total %}
                                </td>
                            </tr>

                            <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                <td class="po-total" colspan="14">{% translate "Customer Discounts" %}</td>
                                <td class="po-total" >&nbsp;
                                    <span id="customer_invoice_discounts"></span>
                                    {% render_field form.customer_discount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Amount Excluding Vat" %}</td>
                                <td class="po-total" >&nbsp;
                                    <span id="net_total"></span>
                                    {% render_field form.net_amount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Vat" %}</td>
                                <td class="po-total" >&nbsp;
                                    <span id="total_vat_amount"></span>
                                    {% render_field form.vat_amount %}
                                </td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">{% translate "Total Including Vat" %}</td>
                                <td class="po-total" >&nbsp;
                                    <span id="total_order_value"></span>
                                    <input type="hidden" value="{{ default_vat }}" id="default_vat" />
                                    {% render_field form.total_amount %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">

                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="panel customer-discount-calculation" id="calculation_summary"  style="display: none;">
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                            <thead>
                                <tr>
                                    <th>{% translate "Vat Recon" %}</th>
                                    <th class="text-right">{% translate "Excl" %}</th>
                                    <th class="text-right">{% translate "Vat" %}</th>
                                </tr>
                            </thead>
                            <tbody id="summary_body">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>{% translate "Total" %}</td>
                                    <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                    <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6" data-ajax-url="{% url 'add_comments' content_type.id %}" id="add_comments"></div>
                <div class="col-6"></div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/estimate.js' %}"></script>
    {% endcompress %}
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
            $("#id_customer_chosen").focus();
            $("#id_customer").focus();
        });
    </script>
{% endblock %}