{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %} Create Estimate {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" id="estimate_form" action="{% url 'create_estimate_from_template' estimate.id %}">
    {% csrf_token %}
     <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                    {{ form.period.label_tag }}
                    <div class="controls">
                        {% render_field form.period class="form-control" %}
                        {% if form.period.auto_id  != "id_tos" %}
                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
                    {{ form.date.label_tag }}
                    <div class="controls">
                        {% render_field form.date class="form-control datepicker" %}
                        {% if form.date.auto_id  != "id_tos" %}
                            {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group control-group {% if form.expires_at.errors %}error{% endif %}">
                    {{ form.expires_at.label_tag }}
                    <div class="controls">
                        {% render_field form.expires_at class="form-control datepicker"  %}
                        {% if form.expires_at.auto_id  != "id_tos" %}
                            {% if form.expires_at.errors %}<span class="help-inline">{{ form.expires_at.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary btn-large modal-save"
                name="create_estimate_from_template"
                id="create_estimate_from_template"><i class="fa fa-save"></i> Continue</button>
    </div>
  </form>
{% endblock %}