<table class="table align-right" style="float: left;">
    {% if sales_invoice.is_cash %}
        {% if sales_invoice.customer_name %}
            <tr>
                <td class="text-left">{{ sales_invoice.customer_name }}</td>
            </tr>
        {% endif %}
        {% if sales_invoice.postal %}
            {% if sales_invoice.postal.street %}
            <tr>
                <td class="text-left">{{ sales_invoice.postal.street }}</td>
            </tr>
            {% endif %}
            {% if sales_invoice.postal.city %}
            <tr>
                <td class="text-left">{{ sales_invoice.postal.city }}</td>
            </tr>
            {% endif %}
            {% if sales_invoice.postal.province %}
            <tr>
                <td class="text-left">{{ sales_invoice.postal_province }}</td>
            </tr>
            {% endif %}
            {% if sales_invoice.postal.postal_code %}
                <tr>
                    <td class="text-left">{{ sales_invoice.postal.postal_code }}</td>
                </tr>
            {% endif %}
            {% if sales_invoice.postal.country %}
            <tr>
                <td class="text-left">{{ sales_invoice.postal_country }}</td>
            </tr>
            {% endif %}
        {% endif %}
    {% else %}
        <tr>
            <td class="text-left">{{ sales_invoice.customer.number }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ sales_invoice.customer.name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ sales_invoice.customer.postal_address.address_line_1 }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ sales_invoice.customer.postal_address.city }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ sales_invoice.customer.postal_address.postal_code }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ sales_invoice.customer.postal_address.province_name }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ sales_invoice.customer.postal_address.country.name }}</td>
        </tr>
    {% endif %}
</table>