{% extends 'base.html' %}
{% load static i18n %}
{% load thumbnail %}
{% load compress %}
{% load company_tags vat invoice_tags comment_tags %}
{% block page_title %}{% translate "Estimate" %} - {{ estimate }}  <span class="pull-right">&nbsp;{{ estimate }}</span>
{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            {% include "estimates/status.html" %}
        </div>

      <div class="pull-right">
        {% if estimate.is_template %}

        {% else %}
            <button class="btn btn-info btn-sm" name="invoice_tracking" id="invoice_tracking"
                    data-modal="{% url 'estimate_tracking' estimate.id %}"
                    data-toggle="tooltip"><i class="fa fa-dedent"></i> {% translate "Tracking" %}</button>
            <button class="btn btn-info btn-sm" name="estimate_customer_copy" id="estimate_customer_copy"
                    data-modal="{% url 'create_estimate_customer_copy' estimate_id=estimate.id %}"
                    data-toggle="tooltip"><i class="fa fa-copy"></i> {% translate "New Customer Copy" %}</button>
                &nbsp;&nbsp;|&nbsp;&nbsp;
             {% if not estimate.is_completed %}
                 <a type="button" class="btn btn-primary btn-sm" id="Copy"
                    href="{% url 'create_estimate_copy' estimate_id=estimate.id %}"
                         data-toggle="tooltip"><i class="fa fa-copy"></i> {% translate "Copy" %}</a>
                 <a type="button" class="btn btn-primary btn-sm"
                         id="picking_slip"
                         href="{% url 'create_estimate_picking_slip' estimate_id=estimate.id %}"
                         data-toggle="tooltip"><i class="fa fa-hand-grab-o"></i> {% translate "Picking" %}</a>
                 {% if  estimate.is_pick_up %}
                     <button type="button" class="btn btn-gray btn-sm action-estimate"
                             disabled="disabled"
                             data-confirm-message="The Pricing on this Estimate has been based on the customer collecting the goods. Are you sure you want to continue to change this Estimate to a Delivery for this customer at the current pricing as quoted?"
                             name="delivery_note" id="delivery_note"
                             data-ajax-pickup-update="{% url 'update_pick_up_state' estimate.id %}"
                             data-ajax-url="{% url 'create_estimate_delivery_note' estimate.id %}"
                             data-toggle="tooltip"><i class="fa fa-truck"></i> {% translate "Delivery" %}</button>
                 {% else %}
                     <button type="button" class="btn btn-primary btn-sm action-estimate"
                             name="delivery_note" id="delivery_note"
                             data-ajax-pickup-update="{% url 'update_pick_up_state' estimate.id %}"
                             data-ajax-url="{% url 'create_estimate_delivery_note' estimate.id %}"
                             data-toggle="tooltip"><i class="fa fa-truck"></i> {% translate "Delivery" %}</button>
                 {% endif %}
                 <button type="button" class="btn btn-primary btn-sm action-estimate" name="invoice" id="invoice"
                         data-ajax-url="{% url 'create_estimate_invoice' estimate.id %}"
                         data-toggle="tooltip"><i class="fa fa-inbox"></i> {% translate "Invoice" %}</button>
                 &nbsp;&nbsp;|&nbsp;&nbsp;
                 <button type="button" class="btn btn-primary btn-sm action-estimate" name="re_email" id="re_email"
                         data-ajax-url="{% url 'email_estimate' estimate.id %}"
                         data-toggle="tooltip"><i class="fa fa-envelope"></i> {% translate "Email" %}</button>

             {% endif %}
             <a class="btn btn-info btn-sm" href="{% url 'print_proforma' estimate.id %}"
                data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print Proforma" %}</a>
             <a href="{% url 'estimate_detail' estimate.id %}?print=1" type="button" class="btn btn-primary btn-sm print"
                   data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</a>
              &nbsp;&nbsp;|&nbsp;&nbsp;
            {% if not  estimate.is_pick_up %}
                 <button type="button" class="btn btn-danger btn-sm action-estimate" name="remove" id="remove"
                         data-ajax-url="{% url 'remove_estimate' estimate.id %}"
                         data-toggle="tooltip"><i class="fa fa-trash"></i> {% translate "Remove" %}</button>
            {% endif %}
        {% endif %}
         <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> {% translate "Prev. Level" %}</a>
      </div>
  </div>
  <div class="panel-body align-center" id="estimate_document">
      {% include "estimates/template.html" %}
  </div>
  <div class="row">
    <div class="col-8">{% comments estimate.id content_type.id %}</div>
    <div class="col-4"></div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/future/estimate.js' %}"></script>
    {% endcompress %}
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}
