{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Edit Cash Sale Estimate {% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="estimate_form"
      action="{% url 'edit_cash_estimate' %}">
        {% csrf_token %}
        <div class="form-group {% if form.branch.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
            <div class="controls">
                {% render_field form.branch class="form-control chosen-select"  %}
                {% if form.branch.auto_id  != "id_tos" %}
                    {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group {% if form.period.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="controls">
                {% render_field form.period class="form-control"  %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.date.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="controls">
                {% render_field form.date class="form-control datepicker"  %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group {% if form.expires_at.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.expires_at.id_for_label }}">{{ form.expires_at.label_tag }}</label>
            <div class="controls">
                {% render_field form.expires_at class="form-control datepicker"  %}
                {% if form.expires_at.auto_id  != "id_tos" %}
                    {% if form.expires_at.errors %}<span class="help-inline">{{ form.expires_at.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.is_deposit_required.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.is_deposit_required.id_for_label }}">{{ form.is_deposit_required.label_tag }}</label>
            <div class="controls">
                {% render_field form.is_deposit_required class="form-control"  %}
                {% if form.is_deposit_required.auto_id  != "id_tos" %}
                    {% if form.is_deposit_required.errors %}<span class="help-inline">{{ form.is_deposit_required.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.deposit.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.deposit.id_for_label }}">{{ form.deposit.label_tag }}</label>
            <div class="controls">
                {% render_field form.deposit class="form-control"  %}
                {% if form.deposit.auto_id  != "id_tos" %}
                    {% if form.deposit.errors %}<span class="help-inline">{{ form.deposit.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div id="estimate_items">

            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Code/Description</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Vat</th>
                        <th>Disc(%)</th>
                        <th>Discount Amount</th>
                        <th>Vat</th>
                        <th>Vat Amount</th>
                        <th>Total</th>
                        <th>Order Item</th>
                    </tr>
                </thead>
                <tbody id="estimate_items_body" data-ajax-url="{% url 'add_estimate_items' %}">
                    <tr id="estimate_items_placeholder">
                        <td colspan="13">
                            <img src="{% static 'images/loader.gif' %}">
                        </td>
                    </tr>
                    <tr id="actions">
                        <td class="text-right" colspan="13">
                            <button type="button" id="add_estimate_line" class="btn btn-primary"
                                    data-ajax-url="{% url 'add_estimate_items' %}"
                            >Add</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
        <div class="controls text-right">
            <a href="{% url 'estimates_index' %}" class="btn btn-warning">Cancel</a>
            <button type="button" class="btn btn-primary btn-large" name="submit_estimate"
                    id="submit_estimate"><i class="fa fa-save"></i> Save and Continue</button>
            <button type="button" class="btn btn-primary btn-large" name="submit_estimate"
                    id="submit_estimate"><i class="fa fa-save"></i> Save</button>
            <button type="button" class="btn btn-primary btn-large" name="submit_estimate"
                    id="submit_estimate"><i class="fa fa-save"></i> Save and Send Email</button>
            <button type="button" class="btn btn-primary btn-large" name="submit_estimate"
                    id="submit_estimate"><i class="fa fa-save"></i> Save and Send to DF</button>
            <button type="button" class="btn btn-primary btn-large" name="submit_estimate"
                    id="submit_estimate"><i class="fa fa-save"></i> Save and Print</button>
        </div>
    </form>
{% endblock  %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/estimate.js' %}"></script>
{% endblock %}