{% load static %}
{% load invoice_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags %}
<div id="po-page">
    <table id="po-docu">
    <tr>
        <td class="space" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td>
            {{ company.name }}<br>
            {{ company.address_line_1 }}<br>
            {{ company.address_line_2 }}<br>
            Phone: {{ company.landline_number }}
            <br>
            <br>
        </td>
        <td class="po-deets text-right" colspan="8">
            <strong>Estimate</strong><br>
            NUMBER: {{ estimate }}
            <br>
            <span>Date: {{ estimate.date|date:'d-M-Y' }}</span>
        </td>
    </tr>
    <tr>
        <td class="space" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td class="line" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr class="po-from-to">
        <td colspan="4" class="text-left">
            <strong>SUPPLIER:</strong><br>
            {{ estimate.supplier.code }}<br>
            {{ estimate.supplier.name }}<br>
            {{ estimate.supplier.address_line_1 }}<br>
            {{ estimate.supplier.address_line_2 }}<br>
        </td>
        <td class="po-ship text-right" colspan="5">
            <strong>DELIVER TO: </strong><br>
            {% if branch %}
            {{ branch.label }}<br>
            {{ branch.address_line_1 }}<br>
            {{ branch.address_line_2 }}<br>
            {{ branch.town }}, {{ branch.area_code }}<br>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="space" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td class="line" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="5">Memo to Supplier:</td>
        <td colspan="4">Purchase Order to Supplier:</td>
    </tr>
    <tr>
        <td class="space" colspan="5">&nbsp;  {{ estimate.note }}</td>
        {% if estimate.purchase_order %}
            <td class="space" colspan="4">
                <a href="{% url 'invoice_detail' estimate.purchase_order.id %}?redirect={% url 'view_received' received.id %}">{{ received.purchase_order }}</a>
            </td>
        {% endif %}
    </tr>
    <tr>
        <td class="line" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td class="po-brdr-r" colspan="3">RECEIVED BY<br>{% if estimate.profile %}{{ estimate.profile }}{% endif %}</td>
        <td class="po-brdr-r po-pad-left" colspan="2">DATE CREATED<br>{% if estimate.created_at %}{{ estimate.created_at|date:'d-M-Y' }}{% endif %}</td>
        <td class="po-brdr-r po-pad-left" colspan="2">TIME CREATED<br>{% if estimate.created_at %}{{ estimate.created_at|date:'H:s' }}{% endif %}</td>
        <td class="po-pad-left" colspan="2">COMPANY CODE<br>{{ estimate.branch.company.slug }}</td>
    </tr>
    <tr>
        <td class="space" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td class="line" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td class="space" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td class="space" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr class="item-titles">
        <th class="po-brdr-r po-pad-left">Stock Code</th>
        <th class="po-brdr-r po-pad-left">Description</th>
        <th class="po-brdr-r po-pad-right text-right">Quantity</th>
        <th class="po-brdr-r po-pad-left">Discount</th>
        <th class="po-brdr-r po-pad-left">Vat</th>
        <th class="po-brdr-r po-right-align text-right">Price Exc</th>
        <th class="po-brdr-r po-right-align text-right">Price Inc</th>
        <th class="po-brdr-r po-right-align text-right">Price Total Exc</th>
        <th class="po-brdr-r po-right-align text-right">Price Total Inc</th>
    </tr>
    <tr>
        <td class="line" colspan="11">&nbsp;</td>
    </tr>
    {% for estimate_item in estimate.estimate_items.all %}
        <tr class="line-items">
            <td>{{ estimate_item.inventory }}</td>
            <td>{{ estimate_item.inventory.description }}</td>
            <td class="text-right">{{ estimate_item.quantity }}</td>
            <td class="text-right">{{ estimate_item.discount_amount|money }}</td>
            <td class="text-right">{{ estimate_item.vat_amount|money }}</td>
            <td class="text-right">{{ estimate_item.price|money }}</td>
            <td class="text-right">{{ estimate_item.price_including|money }}</td>
            <td class="text-right">{{ estimate_item.total_price_excluding|money }}</td>
            <td class="text-right">{{ estimate_item.total_price_including|money }}</td>
        </tr>
    {% endfor %}
    <tr class="line-items">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="po-right-align">&nbsp;</td>
        <td class="po-right-align">&nbsp;</td>
        <td class="po-right-align">&nbsp;</td>
        <td class="po-right-align">&nbsp;</td>
    </tr>
    <tr class="line-items">
        {% for i in i|rjust:cols %}
            <td>&nbsp;</td>
        {% endfor %}
    </tr>
    <tr class="line-items">
        {% for i in i|rjust:cols %}
            <td>&nbsp;</td>
        {% endfor %}
    </tr>
    <tr>
        {% for i in i|rjust:cols %}
            <td>&nbsp;</td>
        {% endfor %}
    </tr>
    <tr>
        <td class="po-total" colspan="8">NETT TOTAL</td>
        <td class="po-total" >&nbsp;{{ estimate.net_amount|money }}</td>
    </tr>
    <tr>
        <td class="po-total" colspan="8">VAT</td>
        <td class="po-total" >&nbsp;{{ estimate.vat_amount|money }}</td>
    </tr>
    <tr>
        <td class="po-total" colspan="8">TOTAL ORDER VALUE</td>
        <td class="po-total" >&nbsp;{{ estimate.total_amount|money }}</td>
    </tr>
    <tr>
        <td class="space" colspan="{{ cols }}">&nbsp;</td>
    </tr>
    <tr>
        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
    </tr>
    </table>
</div>
