{% extends 'datatable.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load compress %}
{% block page_title %}{% translate "ESTIMATE DOCUMENTS STILL OUTSTANDING" %}{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
              <div class="pull-right">
                 <a class="btn btn-large btn-success" href="{% url 'estimate_templates' %}">
                     <i class="fa fa-list-alt"></i> {% translate "Templates" %}</a>
                  &nbsp;&nbsp; | &nbsp;&nbsp;
                 <a class="btn btn-large btn-success" href="{% url 'create_estimate' %}">
                     <i class="fa fa-plus-circle"></i> {% translate "Create" %}</a>
                  &nbsp;&nbsp; | &nbsp;&nbsp;
                 <button type="button" class="btn btn-primary btn-sm single-action" name="submit" id="Copy"
                         data-ajax-url="{% url 'single_estimate_action' action='copy' %}"
                         data-toggle="tooltip"><i class="fa fa-copy"></i> {% translate "Copy" %}</button>
                 <button type="button" class="btn btn-primary btn-sm single-action" name="picking" id="picking"
                         data-ajax-url="{% url 'single_estimate_action' action='picking' %}"
                         data-toggle="tooltip"><i class="fa fa-hand-grab-o"></i> {% translate "Picking" %}</button>
                 <button type="button" class="btn btn-primary btn-sm single-action" name="delivery_note" id="delivery_note"
                         data-ajax-url="{% url 'single_estimate_action' action='delivery' %}"
                         data-toggle="tooltip"><i class="fa fa-folder-open-o"></i> {% translate "Delivery" %}</button>
                 <button type="button" class="btn btn-primary btn-sm single-action" name="invoice" id="invoice"
                         data-ajax-url="{% url 'single_estimate_action' action='invoice' %}"
                         data-toggle="tooltip"><i class="fa fa-folder-open"></i> {% translate "Invoice" %}</button>
                  &nbsp;&nbsp; | &nbsp;&nbsp;
                 <button type="button" class="btn btn-primary btn-sm bulk-action" name="re_email" id="re_email"
                         data-ajax-url="{% url 'email_estimates' %}"
                         data-toggle="tooltip"><i class="fa fa-envelope"></i> {% translate "Email" %}</button>
                 <button type="button" class="btn btn-primary btn-sm single-action" name="submit" id="Print"
                         data-ajax-url="{% url 'single_estimate_action' action='print' %}"
                         data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</button>
                  &nbsp;&nbsp; | &nbsp;&nbsp;
                 <button type="button" class="btn btn-primary btn-sm bulk-action" name="remove" id="remove"
                         data-confirm="1"
                         data-confirm-text="Are you sure you want to remove these estimates"
                         data-ajax-url="{% url 'remove_estimates' %}"
                         data-toggle="tooltip"><i class="fa fa-trash"></i> {% translate "Remove" %}</button>
              </div>
          </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="estimates" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
                <th>{% translate "Estimate No" %}</th>
                <th>{% translate "Cust Nr" %}</th>
                <th>{% translate "Customer Name" %}</th>
                <th>{% translate "Doc Date" %}</th>
                <th>{% translate "Expires" %}</th>
                <th class="text-right">{% translate "Ex Vat" %}</th>
                <th class="text-right">{% translate "Incl Vat" %}</th>
                <th>{% translate "Action" %}</th>
                <th>{% translate "Status" %}</th>
                <th>{% translate "Proforma Invoice" %}</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#estimates").DataTable({
              serverSide: true,
              ajax: '/api/v1/sales/estimates/?format=datatables&year={{ year.year }}',
              pagingType: 'full_numbers',
              iDisplayLength: '{{display_rows}}',
              lengthMenu:  JSON.parse("{{ menu_length }}"),
              order: [[ 3, 'desc' ]],
              processing: true,
              language: {
                 processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
              },
              columns: [
                { data: 'document_number', name: 'estimate_id', searchable: true},
                { data: 'customer', name: 'customer__number', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.number : '-';
                    }
                },
                { data: 'customer', name: 'customer__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    }
                },
                { data: 'created_at', name: 'created_at', searchable: true},
                { data: 'expires_at', name: 'expires_at', searchable: true},
                { data: 'net_amount', name: 'net_amount', searchable: true, className: 'text-right'},
                { data: 'total_amount', name: 'total_amount', searchable: true, className: 'text-right'},
                { data: 'id', name: 'id', searchable: false, title:'Action', className: 'actions text-center'},
                { data: 'status_name', name: 'status', searchable: true},
                { data: 'proforma_invoice', name: 'proforma_invoice', searchable: true, title:'Proforma Invoice'}
              ],
              columnDefs: [
                {
                    "render": function ( data, type, row ) {
                        return displayDate(data)
                    },
                    "targets": [3, 4]
                },
                {
                    "render": function ( data, type, row ) {
                        if (data === 'Deleted') {
                            return "<span class='text-warning'>-</span>";
                        } else {
                            return "<input type='checkbox' class='checkbox-input estimate-action' data-estimate-id='"+ data +"' name='action' id='action_"+ data + "' value='"+ data +"' />";
                        }
                    },
                    "targets": 7
                },
                {
                    "render": function ( data, type, row ) {
                        if (row['status_name'] === 'COMPLETED') {
                            return "<span class='text-success'>" + row['status'] + "</span> ";
                        } else if (row['is_expired']) {
                            return "<span class='text-warning'>Expired</span>";
                        } else if (data === 'Partially completed') {
                            return "<span class='text-danger'>" + row['status'] + "</span>";
                        } else if (data === 'DELETED') {
                            return "<span class='text-warning'>" + row['status'] + "</span>";
                        } else {
                            return "<span class='text-info'>" + row['status'] + "</span>";
                        }
                    },
                    "targets": 8
                }
            ],
        });

        $('#estimates').on('click', 'td', function() {
            const tdClasses =  $(this).prop('class').split(' ')
            if (tdClasses.indexOf('actions') < 0) {
                const tr = $(this).parent();
                const rowData = table.row(tr).data();
                if (rowData.detail_url) {
                    document.location.href = rowData.detail_url + "?redirect={% url 'estimates_index' %}";
                }
            }
        });
    });
    </script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/estimate.js' %}"></script>
    {% endcompress %}
{% endblock %}