{% load invoice_tags sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items estimate_item_row" data-row-id="{{ row }}">
    <td>
        {% line_types row start module_url line_type col.col0 %}
    </td>
    <td>
        {% inventory_cell row start col.col1 %}
    </td>
    <td>
        <span id="inventory_item_description_{{ row }}"></span>
    </td>
    <td class="text-left">
        {% quantity_cell row start col.col2 %}
    </td>
    <td class="text-left">
        {% unit_cell row start col.col3 %}
    </td>
    <td class="text-left" >
        {% price_cell row start col.col4 %}
    </td>
    <td class="text-right" >
        {% discount_cell row start col.col5 %}
    </td>
    <td class="text-right" >
        <span class="discount-amount" id="discount_amount_{{ row }}" data-item-id="{{ row }}"></span>
    </td>
    <td class="text-right">
        <span class="price-exc" id="total_price_exl_{{ row }}" data-item-id="{{ row }}"></span>
    </td>
    <td class="text-right">
        {% vat_code_cell row start default_vat_code col.col6 %}
    </td>
    <td class="text-right">
        <span class="total-vat" id="vat_total_{{ row }}" data-item-id="{{ row }}"></span>
    </td>
    <td class="text-right">
        <span class="price" id="total_price_incl_{{ row }}"></span>
    </td>
{#    <td class="text-right">#}
{#        <span class="order-items" id="order_item_{{ row_id }}"></span>#}
{#    </td>#}
    <td class="text-center">
        <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" id="delete_{{ row }}">
            <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
        </a>
    </td>
</tr>
