<sou></sou>
{% if estimate.deleted %}
    <span class="text-danger">Deleted</span>
{% elif estimate.is_expired %}
    <span class="text-warning">Expired</span>
{% elif estimate.is_completed %}
    <span class="text-success">{{ estimate.status_name }}</span>
{% elif estimate.is_partially_completed %}
    <span class="text-warning">{{ estimate.status_name }}</span>
{% else %}
    <span class="text-info">{{ estimate.status_name }}</span>
{% endif %}