{% extends 'datatable.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block page_title %}{% translate "Estimates Templates" %}{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
          <div class="pull-right">
             <a class="btn btn-large btn-success" href="{% url 'create_estimate' estimate_type='template' %}">
                 <i class="fa fa-plus"></i> {% translate "Create" %}</a>
              &nbsp;&nbsp; | &nbsp;&nbsp;
             <button type="button" class="btn btn-success btn-loading single-action"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-ajax-url="{% url 'single_estimate_action' action='send_estimate' %}" id="send_estimate">
                    <i class="fa fa-caret-right"></i> Create Estimate</button>
            &nbsp;&nbsp; | &nbsp;&nbsp;
             <button type="button" class="btn btn-primary btn-sm bulk-action" name="remove" id="remove"
                     data-confirm="1"
                     data-confirm-text="Are you sure you want to remove these estimates"
                     data-ajax-url="{% url 'remove_estimates' %}"
                     data-toggle="tooltip"><i class="fa fa-trash"></i> {% translate "Remove" %}</button>
          </div>
    </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="estimates" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
                <th>{% translate "Estimate No" %}</th>
                <th>{% translate "Cust Nr" %}</th>
                <th>{% translate "Customer Name" %}</th>
                <th>{% translate "Doc Date" %}</th>
                <th class="text-right">{% translate "Ex Vat" %}</th>
                <th class="text-right">{% translate "Incl Vat" %}</th>
                <th>{% translate "Action" %}</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#estimates").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/sales/estimates/?format=datatables&is_template=1',
              'columns': [
                { data: 'document_number', name: 'estimate_id', searchable: true},
                { data: 'customer', name: 'customer__number', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.number : '-';
                    }
                },
                { data: 'customer', name: 'customer__name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    }
                },
                { data: 'created_at', name: 'created_at', searchable: true},
                { data: 'net_amount', name: 'net_amount', searchable: true, className: 'text-right'},
                { data: 'total_amount', name: 'total_amount', searchable: true, className: 'text-right'},
                { data: 'id', name: 'id', searchable: false, title:'Action', className: 'actions text-center'},
              ],
             "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        return displayDate(data)
                    },
                    "targets": [3]
                },
                {
                    "render": function ( data, type, row ) {
                        if (data === 'Deleted') {
                            return "<span class='text-warning'>-</span>";
                        } else {
                            return "<input type='checkbox' class='checkbox-input estimate-action' data-estimate-id='"+ data +"' name='action' id='action_"+ data + "' value='"+ data +"' />";
                        }
                    },
                    "targets": 6
                },
            ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 3, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#estimates').on('click', 'td', function() {
            const tdClasses =  $(this).prop('class').split(' ')
            if (tdClasses.indexOf('actions') < 0) {
                const tr = $(this).parent();
                const rowData = table.row(tr).data();
                if (rowData.detail_url) {
                    document.location.href = rowData.detail_url + "?redirect={% url 'estimates_index' %}";
                }
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });

    });
    </script>
    <script type="text/javascript" src="{% static 'js/estimate.js' %}?{% now 'dhisMY' %}"></script>
{% endblock %}