{% load static i18n %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags vat %}
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
         {% if is_print %}
            {% display_logo company 200 75 is_print=is_print %}
         {% else %}
            {% display_logo company 200 75 %}
         {% endif %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
        {% include "sales/address/company.html" %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-right left-pad">
        <table class="table table-borderless table-condensed">
            {% if is_proforma_invoice %}
                <tr>
                    <td><strong class="h4">{% translate "Proforma Invoice" %}</strong></td>
                    <td>#{{ estimate.proforma_reference }}</td>
                </tr>
            {% else %}
                <tr>
                    <td><strong class="h4">{% translate "Estimate" %}</strong></td>
                    <td>#{{ estimate }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>{% translate "Vat Registration Number" %}</td>
                <td>{{ company.vat_number }}</td>
            </tr>
            <tr>
                <td>{% translate "Date" %}</td>
                <td>{{ estimate.date|date:'d-M-Y' }}</td>
            </tr>
            {% if page %}
                <tr>
                    <td>{% translate "Page" %}</td>
                    <td>#{{ page }}</td>
                </tr>
            {% endif%}
        </table>
    </div>
</div>
<div class="row" id="customer-data">
    <div class="col-xs-4 col-md-4 col-lg-4 pull-left right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">{% translate "Customer" %}</div>
            <div class="panel-body" style="padding: 5px;">
                {% with sales_invoice=estimate %}
                    {% include "sales/address/postal.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">
                {% if is_print %}
                    {% translate "Delivery To" %}
                {% else %}
                    <div class="pull-left">{% translate "Delivery To" %}</div>
                    <div class="pull-right">
                        {% translate "Pick Up" %}
                        <input type="checkbox" name="is_pick_up" id="can_pick_up" value="1" data-was-pick-up="{% if estimate.is_pick_up %}yes{% else %}no{% endif %}"{% if estimate.is_pick_up %} checked="checked" {% endif %} />
                    </div>
                {% endif %}
            </div>
            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                {% if is_print and estimate.is_pick_up %}
                    <table class="table" width="100%">
                        <tr>
                            <td>{% translate "Pick Up" %}</td>
                            <td class="text-right"><i class="fa fa-check"></i></td>
                        </tr>
                    </table>
                {% elif estimate.is_pick_up  %}
                    <table class="table" width="100%">
                        <tr>
                            <td>{% translate "Pick Up" %}</td>
                            <td class="text-right"><i class="fa fa-check"></i></td>
                        </tr>
                    </table>
                {% else %}
                    {% with sales_invoice=estimate %}
                        {% include "sales/address/delivery.html" %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body" style="padding: 1px; !important;">
                {% include "estimates/estimate.html" %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
             {% if not is_print%}
                <div class="panel-heading">&nbsp;</div>
             {% endif %}
            <div class="panel-body sales-items">
                <div class="table-responsive">
                   <table width="100%" class="table">
                        <tr class="item-titles">
                            <th class="po-brdr-r po-pad-left">{% translate "Code" %}</th>
                            <th class="po-brdr-r po-pad-left">{% translate "Description" %}</th>
                            {% if not is_print %}
                                <th class="po-brdr-r po-pad-right text-right">{% translate "Stock" %}</th>
                            {% endif %}
                            <th class="po-brdr-r po-pad-right text-right">{% translate "Quantity" %}</th>
                            <th class="po-brdr-r po-right-align text-right">{% translate "Price Exc" %}</th>
                            <th class="po-brdr-r po-right-align text-right">{% translate "Price Inc" %}</th>
                            <th class="po-brdr-r po-pad-left text-right">{% translate "Discount(%)" %}</th>
                            <th class="po-brdr-r po-pad-left text-right">{% translate "Discount" %}</th>
                            <th class="po-brdr-r po-right-align text-right"> {% translate "Total Exc" %}</th>
                            <th class="po-brdr-r po-pad-left text-right">{% translate "Vat" %}</th>
                            <th class="po-brdr-r po-right-align text-right"> {% translate "Total Inc" %}</th>
                        </tr>

                        {% for estimate_item in estimate_items %}
                            {% if estimate_item.account %}
                                <tr class="line-items">
                                    <td>
                                        {{ estimate_item.account.code }}
                                    </td>
                                    <td>
                                        {% if estimate_item.description %}
                                            {{ estimate_item.description }}
                                        {% else %}
                                            {{ estimate_item.account.name }}
                                        {% endif %}
                                    </td>
                                    {% if not is_print %}
                                        <td></td>
                                    {% endif %}
                                    <td class="text-right">{{ estimate_item.quantity|money }}</td>
                                    <td class="text-right">{{ estimate_item.price|money }}</td>
                                    <td class="text-right">{{ estimate_item.price_including|money }}</td>
                                    <td class="text-right">{{ estimate_item.discount|money  }}%</td>
                                    <td class="text-right">{{ estimate_item.total_discount_amount|money }}</td>
                                    <td class="text-right">{{ estimate_item.net_price|money }}</td>
                                    <td class="text-right">{{ estimate_item.vat_amount|money }}</td>
                                    <td class="text-right">{{ estimate_item.total_price_including|money }}</td>
                                </tr>
                            {% elif estimate_item.is_description %}
                                <tr class="line-items">
                                    <td colspan="10">{{ estimate_item.description }}</td>
                                </tr>
                            {% else %}
                                <tr class="line-items sales-item-{{ estimate_item.status_name|lower }}">
                                    <td>{{ estimate_item.inventory }}</td>
                                    <td>{{ estimate_item.inventory.description }}</td>
                                    {% if not is_print %}
                                        <td class="text-right">
                                            {% if estimate_item.is_available  == -1 %}
                                                <span class="label label-warning"
                                                      data-toggle="tooltip"
                                                      data-original-title="There is stock but not enough to fill the quantity estimated."
                                                >~</span>
                                            {% elif estimate_item.is_available  %}
                                                <span class="label label-success"
                                                      data-toggle="tooltip"
                                                      data-original-title="Stock available."
                                                ><i class="fa fa-check"></i></span>
                                            {% else %}
                                                <span class="label label-danger"
                                                      data-toggle="tooltip"
                                                      data-original-title="Stock not available."
                                                ><i class="fa fa-close"></i></span>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td class="text-right">{{ estimate_item.quantity|money }}</td>
                                    <td class="text-right">{{ estimate_item.price|money }}</td>
                                    <td class="text-right">{{ estimate_item.price_including|money }}</td>
                                    <td class="text-right">{{ estimate_item.discount|money  }}%</td>
                                    <td class="text-right">{{ estimate_item.total_discount_amount|money }}</td>
                                    <td class="text-right">{{ estimate_item.net_price|money }}</td>
                                    <td class="text-right">{{ estimate_item.vat_amount|money }}</td>
                                    <td class="text-right">{{ estimate_item.total_price_including|money }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        {% with gross_weight=estimate.total_gross_weight net_weight=estimate.total_net_weight quantity=estimate.quantity_total %}
            {% include "sales/partials/weight_summary.html" %}
        {% endwith %}
        {% with bank=account_details %}
            {% include "sales/bank.html" %}
        {% endwith %}
    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        <table width="100%" class="table table-bordered">
            <tr>
                <td class="po-total">{% translate "Sub Total" %}</td>
                <td class="po-total text-right" >&nbsp;{{ estimate.total_sub|money }}</td>
            </tr>
            {% if customer_discount != 0 %}
                <tr>
                    <td class="po-total">{% translate "Customer Discount" %}</td>
                    <td class="po-total text-right" >&nbsp;{{ estimate.customer_discount|money }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="po-total">{% translate "Amount Excluding Vat" %}</td>
                <td class="po-total text-right" >&nbsp;{{ estimate.net_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">{% translate "Vat" %}</td>
                <td class="po-total text-right" >&nbsp;{{ estimate.vat_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">{% translate "Total Including Vat" %}</td>
                <td class="po-total text-right" >R&nbsp;{{ estimate.total_amount|money }}</td>
            </tr>
        </table>
        {% vat_summary estimate estimate.estimate_items.all %}
    </div>
</div>
