{% load invoice_tags sales_tags %}
<tr id="sales_item_{{ row }}" class="sales-items estimate_item_row" data-row-id="{{ row }}">
    <td>
        {% line_types row start module_url line_type col.col0 %}
    </td>
    <td colspan="6">
        {% description_cell row start col.col1 %}
    </td>
    <td class="text-right" colspan="5"></td>
    <td class="text-center">
        {% if is_deletable %}
            <a href="javascript:void(0);" data-row-id="{{ row_id }}" class="delete-row" id="delete_{{ row_id }}">
                <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row_id }}"></i>
            </a>
        {% endif %}
    </td>
</tr>
