{% extends 'modal.html' %}
{% load static %}
{% load invoice_tags %}
{% block title %} Estimate Tracking - {{ estimate }}{% endblock title %}
{% block content %}
<div class="container table-responsive">
    <table class="table table-bordered" width="100%">
        {% with sales_invoice=estimate %}
            {% include "sales/tracking/header.html" %}
        {% endwith %}
        <tr>
            <td colspan="2">
                {% with trackings=tracking %}
                    {% include 'sales/tracking/template.html' %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td colspan="2">
                <h4>Picking</h4>
                {% with trackings=picking_tracking %}
                    {% include 'sales/tracking/template.html' %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td colspan="2">
                <h4>Delivery</h4>
                {% with trackings=delivery_tracking %}
                    {% include 'sales/tracking/template.html' %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td colspan="2">
                <h4>Invoice</h4>
                {% with trackings=invoice_tracking %}
                    {% include 'sales/tracking/template.html' %}
                {% endwith %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}