{% load i18n %}
{% load invoice_tags %}
<table width="100%" class="table table-bordered">
    <tr>
        <td class="po-total">{% translate "Gross Weight" %}</td>
        <td class="po-total text-right">&nbsp;{{ gross_weight|money }} kg</td>
    </tr>
    <tr>
        <td class="po-total">{% translate "Net Weight" %}</td>
        <td class="po-total text-right">&nbsp;{{ net_weight|money }} kg</td>
    </tr>
    <tr>
        <td class="po-total">{% translate "Total Items" %}</td>
        <td class="po-total text-right">&nbsp;{{ quantity|money }} kg</td>
    </tr>
</table>