{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}{% translate 'CASH UP SUMMARY' %}{% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="cashup_form"
      action="{% url 'complete_cash_up' %}">
        {% csrf_token %}
        <div class="row controls">
            <label class="col-2 control-label txt-font12" for="created-by">{% translate 'Created By' %}:</label>
            <div class="col-8 text-left pull-left form-group control-group created-by">
                <input type="text" disabled="disabled" class="form-control form-control-sm" value="{{ profile }}" />
            </div>
        </div>
        <div class="row controls">
            <label class="col-2 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="col-8 text-left pull-left form-group control-group created-by">
                {% render_field form.period class="form-control" readonly=readonly  %}
            </div>
        </div>
        <div class="row controls">
            <label class="col-2 control-label txt-font12 txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="col-8 text-left pull-left form-group control-group created-by">
                {% render_field form.date class="form-control datepicker" readonly=readonly   %}
            </div>
        </div>

        {% if summary.receipts %}
        <div id="cashup_items">
            <h4>{% translate 'Receipts' %}</h4>
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>{% translate 'Cash Receipt No' %}</th>
                        <th>{% translate 'Document Type' %}</th>
                        <th>{% translate 'Original Cash Sale' %}</th>
                        <th>{% translate 'Customer Name' %}</th>
                        <th>{% translate 'Doc Date' %}</th>
                        <th class="text-right">{% translate 'Incl Vat' %}</th>
                    </tr>
                </thead>
                {% for receipt in summary.receipts %}
                        <tr>
                            <td>
                                {{ receipt }}
                                <input type="hidden" name="receipts" value="{{ receipt.id }}">
                            </td>
                            <td>{% translate 'Receipt' %}</td>
                            <td>{{ 0|money }}</td>
                            <td>{{ receipt.customer.name }}</td>
                            <td>{{ receipt.date }}</td>
                            <td class="text-right">{{ receipt.amount|money }}</td>
                        </tr>
                {% endfor %}
                <tr>
                    <td colspan="5"><strong>{% translate 'Total' %}</strong></td>
                    <td class="text-right">{{ summary.total|money }}</td>
                </tr>
            </table>
            <hr />
            <h4>{% translate 'Receipts by payment methods' %}</h4>
            <table class="table" width="100%">
                {% for depositable, depositable_receipts in summary.cashup.items %}
                    {% if depositable == 0 %}
                        <tr>
                            <td colspan="3">{% translate 'Petty Cash' %}</td>
                            <td colspan="2">
                                {% render_field form.petty_cash_account class="form-control chosen-select" style="width:300px" %}
                            </td>
                            <td class="text-right">
                                <input type="text" name="petty_cash" id="petty_cash" value="" class="form-control form-control-sm text-right" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">{% translate 'Bank Slip' %}</td>
                            <td colspan="2">
                                {% render_field form.bank_account class="form-control chosen-select" style="width:300px"  %}
                            </td>
                            <td class="text-right">
                                <input type="text" id="cash_out" class="text-right form-control form-control-sm" readonly="readonly" value="{{ depositable_receipts.total|money }}" />
                                {% render_field form.bank_cash class="form-control form-control-sm" style="width:300px" value=depositable_receipts.total  %}
                                <input type="hidden" name="total_cash" id="total_cash" class="text-right form-control form-control-sm" readonly="readonly" value="{{ depositable_receipts.total|money }}" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td class="text-right">
                                <span id="banked_amount"></span>
                                <input type="hidden" name="banked_amount" id="banked_amount" value="">
                            </td>
                        </tr>
                    {% else %}
                        {% for payment_method, payment_method_receipts in depositable_receipts.methods.items %}
                            <tr>
                                <td colspan="12"><strong>{{ payment_method }}</strong></td>
                            </tr>
                            {% for payment_receipt in payment_method_receipts.receipts %}
                                <tr>
                                    <td>{{ payment_receipt.receipt.reference }}</td>
                                    <td>{{ payment_receipt.receipt.invoice_type }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ payment_receipt.receipt.customer.name }}</td>
                                    <td class="text-right">{{ payment_receipt.amount|money }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5"><strong>{% translate 'Total' %} {{ payment_method }}</strong></td>
                                <td class="text-right">{{ payment_method_receipts.total|money }}</td>
                            </tr>
                            <tr>
                                <td colspan="6">&nbsp;</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">{% translate 'Total' %}</td>
                    <td class="text-right">{{ summary.receipts_total|money }}</td>
                </tr>
            </table>
        </div>

        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
        <div class="controls text-right">
            <a href="{% url 'cash_up_index' %}" class="btn btn-warning">{% translate 'Cancel' %}</a>
            <button type="button" class="btn btn-primary btn-large save-cashup" name="submit_cashup"
                    id="generate_cashup"><i class="fa fa-save"></i> {% translate 'Generate' %} </button>
        </div>
        {% else %}
            {% translate 'No invoices available for cash up' %}
        {% endif%}
    </form>
{% endblock  %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/cashup.js' %}"></script>
{% endblock %}