{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}Generate Cash UP SUMMARY{% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="generate_cashup_form" action="{% url 'create_cash_up' %}">
        {% csrf_token %}
    <div class="modal-body">
        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">
                Period
            </label>
            <div class="col-sm-8">
                {% render_field form.period class="form-control" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
            <label class="col-sm-4 control-label txt-font12" for="{{ form.date.id_for_label }}">
                Upto and Including
            </label>
            <div class="col-sm-8">
                {% render_field form.date class="form-control datepicker" %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button"
                class="btn btn-primary btn-large generate-cashup"
                name="continue_generate_cashup"
                id="continue_generate_cashup"><i class="fa fa-save"></i> Continue </button>
    </div>
</form>
{% endblock  %}
