{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<tr>
    <td colspan="2" class="text-right">
        {% render_field form.terminal class="form-control form-control-sm"  %}
    </td>
    <td colspan="2" class="text-right">
        {% render_field form.amount class="form-control form-control-sm"  %}
    </td>
    <td colspan="2" class="text-right">
        <span id="total"></span>
    </td>
</tr>
