{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %}Cash Up <span class="pull-right">&nbsp;{{ cash_up }}</span>{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left"></h5>
        </div>

      <div class="pull-right">
          <a href="?print=1" id="print_cash_up" class="btn btn-default btn-sm"><i class="fa fa-print"></i> Print</a>
          <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
      </div>
  </div>
  <div class="panel-body align-center">
      {% include "cashup/template.html" %}
  </div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}
