{% extends 'datatable.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% block page_title %}{{ year }} {% translate "Cash Ups" %}{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            <a class="btn btn-large btn-success" data-modal="{% url 'create_cash_up' %}"><i class="fa fa-plus-circle"></i>&nbsp; {% translate 'Create' %} </a>
        </div>
    </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="cashups" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
                <th>{% translate 'Document No' %}</th>
                <th>{% translate 'Date' %}</th>
                <th>{% translate 'Created By' %}</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#cashups").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/sales/cashup/?format=datatables',
              'columns': [
                { data: 'reference', name: 'cashup_id', searchable: true},
                { data: 'date', name: 'date', searchable: true},
                { data: 'profile', name: 'profile__user__first_name', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.user.name : '-';
                    }
                }
              ],
             "columnDefs": [
                   {
                        "render": function ( data, type, row ) {
                            return displayDate(data)
                        },
                        "targets": [1]
                    },
             ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 1, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#cashups').on('click', 'td', function() {
            const tdClasses =  $(this).prop('class').split(' ')
            if (tdClasses.indexOf('actions') < 0) {
                const tr = $(this).parent();
                const rowData = table.row(tr).data();
                if (rowData.detail_url) {
                    document.location.href = rowData.detail_url + "?redirect={% url 'estimates_index' %}";
                }
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });

    });
    </script>
    <script type="text/javascript" src="{% static 'js/cashup.js' %}?{% now 'dhisMY' %}"></script>
{% endblock %}