{% load invoice_tags company_tags %}
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left">
         {% if is_print %}
            {% display_logo invoice.branch.company 200 75 is_print=is_print %}
         {% else %}
            {% display_logo invoice.branch.company 200 75 %}
         {% endif %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        {% with company=cash_up.branch.company %}
            {% include "companies/address.html" %}
        {% endwith %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-right">
        <table class="table table-borderless table-condensed">
            <tr>
                <td colspan="2"><strong class="h4">Cash Up</strong></td>
            </tr>
            <tr>
                <td>Reference</td>
                <td>#{{ cash_up }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ cash_up.date|date:'d-M-Y' }}</td>
            </tr>
            <tr>
                <td>Created By</td>
                <td>{{ cash_up.profile }}</td>
            </tr>
            {% if cash_up.journal %}
                <tr>
                    <td>Journal</td>
                    <td><a href="{% url 'journal_lines' cash_up.journal.id %}" target="_blank">{{ cash_up.journal.journal_number }}</a></td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="table-responsive">
    <h4>Total Receipts</h4>
    <table class="table table-bordered" width="100%">
        <thead>
            <tr>
                <th>Cash Receipt No</th>
                <th>Document Type</th>
                <th>Original Cash Sale</th>
                <th>Customer Name</th>
                <th>Doc Date</th>
                <th class="text-right">Incl Vat</th>
            </tr>
        </thead>
        {% for receipt in summary.receipts %}
            <tr>
                <td>
                    {{ receipt }}
                    <input type="hidden" name="receipts" value="{{ receipt.id }}">
                </td>
                <td>Receipt</td>
                <td>{{ receipt.invoice.invoice }}</td>
                <td>{{ receipt.customer.name }}</td>
                <td>{{ receipt.date }}</td>
                <td class="text-right">{{ receipt.total_allocated|money }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5"><strong>Total</strong></td>
            <td class="text-right">{{ summary.total|money }}</td>
        </tr>
    </table>
    <hr />
</div>
<div class="table-responsive">
    <h4>Transactions on Receipts</h4>
    <table class="table table-bordered" width="100%">
        <thead>
            <tr>
                <th>Receipt No</th>
                <th>Account</th>
                <th>Details</th>
                <th></th>
                <th class="text-right">Vat</th>
                <th class="text-right">Incl Vat</th>
            </tr>
        </thead>
        {% for receipt in summary.receipts %}
            {% if receipt.total_discounts %}
                <tr>
                    <td>
                        {{ receipt }}
                        <input type="hidden" name="receipts" value="{{ receipt.id }}">
                    </td>
                    <td></td>
                    <td>{{ discount_account }}</td>
                    <td></td>
                    <td class="text-right">{{ receipt.total_discounts_vat|money }}</td>
                    <td class="text-right">{{ receipt.total_discounts|money }}</td>
                </tr>
            {% endif %}
            {% for receipt_account in receipt.accounts.all %}
                <tr>
                    <td>{{ receipt }}</td>
                    <td></td>
                    <td>{{ receipt_account.account }}</td>
                    <td></td>
                    <td class="text-right">{{ receipt_account.vat_amount|money }}</td>
                    <td class="text-right">{{ receipt_account.amount|money }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td colspan="4"><strong>Total</strong></td>
            <td class="text-right">{{ summary.total_vat|money }}</td>
            <td class="text-right">{{ summary.transactions_total|money }}</td>
        </tr>
    </table>
    <hr />
</div>
<div class="table-responsive">
    <table class="table table-bordered" width="100%">
        <tr>
            <td colspan="5"><strong>Net Amount to be banked</strong></td>
            <td class="text-right">{{ summary.net_to_be_banked|money }}</td>
        </tr>
    </table>
    <hr />
</div>
<div class="table-responsive">
    <h4>Receipts by payment methods</h4>
    <table class="table table-bordered" >
        {% for depositable, depositable_receipts in summary.cashup.items %}
            {% for payment_method, payment_method_receipts in depositable_receipts.methods.items %}
                <tr>
                    <td colspan="12"><strong>{{ payment_method }}</strong></td>
                </tr>
                {% for payment_receipt in payment_method_receipts.receipts %}
                    <tr>
                        <td>{{ payment_receipt.receipt.reference }}</td>
                        <td>{{ payment_receipt.invoice.invoice_type }}</td>
                        <td></td>
                        <td>{{ payment_receipt.content_type }}</td>
                        <td>{{ payment_receipt.invoice_date }}</td>
                        <td class="text-right">{{ payment_receipt.amount|money }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5"><strong>Total {{ payment_method }}</strong></td>
                    <td class="text-right">{{ payment_method_receipts.total|money }}</td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr>
            <td colspan="6">&nbsp;</td>
        </tr>
        {% for cash_account in cash_up.cash_accounts.all %}
            <tr>
                <td colspan="5">
                    {{ cash_account.account }}
                </td>
                <td class="text-right">
                    <span>{{ cash_account.total_amount|money }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>