{% extends 'modal.html' %}
{% load static %}
{% block title %} Add Flow {% endblock title %}
{% block content %}
  {% if order_number %}
      <form method="post" novalidate="novalidate" role="form" id="state_role_form" name="state_role_form" action="{% url 'add_invoice_flow' invoice_id=invoice.id after=order_number %}">
  {% else %}
      <form method="post" novalidate="novalidate" role="form" id="state_role_form" name="state_role_form" action="{% url 'add_invoice_flow' invoice_id=invoice.id  %}">
  {% endif %}
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="add_state_role_submit" type="submit" id="add_state_role_submit"><i class="fa fa-save"></i> Add</button>
    </div>
  </form>

{% endblock %}