{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %} Vat Code {% endblock page_title %}
{% block content %}
<div class="row">
  <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
  <div class="pull-left">
        <a href="{% url 'vat_code_index' %}" class="btn btn-sm btn-default" role="button">
            <i class="fa fa-paperclip"></i> Prev. Level
        </a>
  </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="tabs">
          <ul>
              <li><a href="{% url 'purchases_vat_code_index' %}">Input</a></li>
              <li><a href="{% url 'sales_vat_code_index' %}">Output</a></li>
          </ul>
          <div id="purchase">
          </div>
          <div id="sales">

          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
      $( function() {
        $( "#tabs" ).tabs();
      });
  </script>
{% endblock %}