{% load widget_tweaks %}
<div class="row">
  <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
  <div class="pull-left">
        <a href="{% url 'create_sales_vat_code' %}" class="btn btn-sm btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a vat code
        </a>
  </div>
</div>
<div class="table-responsive">
    <form method="get" class="pull-right">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="form-group">
                    <label for="{{ filter.form.label.id_for_label }}">Name:</label>
                    {{ filter.form.label|attr:"class:form-control"  }}
                </div>
            </div>
            <div class="form-group col-lg-3 col-sm-12">
                <label>&nbsp;</label><br />
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                <span id="loader" style="display:none;"><img src="/images/loader-medium.gif" ></span>
            </div>
        </div>
    </form>
    <table class="table table-bordered" width="100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>Label</th>
                <th>Percentage</th>
                <th>Account</th>
                <th>Default</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if vat_codes %}
                {% for vat_code in vat_codes %}
                    <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_vatcode' vat_code.id %}">
                        <td>{{ vat_code.code }}</td>
                       <td>{{ vat_code.label }}</td>
                       <td>{{ vat_code.percentage }}%</td>
                        <td>{{ vat_code.account }}</td>
                        <td>
                            {% if vat_code.is_default %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                       <td class="text-left actions">
                            <a href="{% url 'edit_vatcode' vat_code.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'delete_vatcode' vat_code.id %}" onclick="confirm('Are you sure you want to delete this vat code')" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                       </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">There are no vat codes available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>