{% extends 'base.html' %}
{% block page_title %} <h2>Delete Role</h2> {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}

    <button type="submit">Confirm Role Delete</button>
  </form>
{% endblock %}