{% extends 'base.html' %}
{% block page_title %} Roles {% endblock page_title %}
{% block content %}
{#    {{ perms.workflow }}#}
    {% if perms.workflow.add_role %}
        <div class="ui vertical segment">
            <a href="{% url 'create-role' %}" class="btn labeled btn-primary" role="button">
                <i class="fa fa-plus"></i> Create a Role
            </a>
        </div>
    {% endif %}
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if roles %}
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.name }}</td>
                            <td class="text-left actions">
                               {% if perms.workflow.add_role %}
                                   <a href="{% url 'edit-role' role.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                   <a href="{% url 'delete-role' role.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>

                               {% else %}
                                    --
                               {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no roles available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}