{% extends 'base.html' %}
{% load static %}
{% block page_title %}Create Asset Category{% endblock page_title %}
{% block content %}

  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <fieldset>
        {% include 'assetcategory/form.html' %}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}