{% load i18n %}
{% load static %}
{% load widget_tweaks %}

    {% csrf_token %}
    <div class="form-group control-group {% if form.category.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.category.id_for_label }}">{{ form.category.label_tag }}</label>
        <div class="controls">
            {% render_field form.category class="form-control"  %}
            {% if form.category.auto_id  != "id_tos" %}
                {% if form.category.errors %}<span class="help-inline">{{ form.category.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
        <label class="control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
        <div class="controls">
            {% render_field form.name class="form-control"  %}
            {% if form.name.auto_id  != "id_tos" %}
                {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col-12">
        <h5>Account</h5>
        <div class="form-group control-group {% if form.account.errors %}error{% endif %}">
            <label class="control-label txt-font12" for="{{ form.account.id_for_label }}">{{ form.account.label_tag }}</label>
            <div class="controls">
                {% render_field form.account class="form-control chosen-select" %}
                {% if form.account.auto_id  != "id_tos" %}
                    {% if form.account.errors %}<span class="help-inline">{{ form.account.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group control-group {% if form.accumulated_depreciation_account.errors %}error{% endif %}">
            <label class="control-label txt-font12" for="{{ form.accumulated_depreciation_account.id_for_label }}">{{ form.accumulated_depreciation_account.label_tag }}</label>
            <div class="controls">
                {% render_field form.accumulated_depreciation_account class="form-control chosen-select" %}
                {% if form.accumulated_depreciation_account.auto_id  != "id_tos" %}
                    {% if form.accumulated_depreciation_account.errors %}<span class="help-inline">{{ form.accumulated_depreciation_account.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12">
        <h5>Default</h5>
        <div class="form-group control-group {% if form.depreciation_account.errors %}error{% endif %}">
            <label class="control-label txt-font12" for="{{ form.depreciation_account.id_for_label }}">{{ form.depreciation_account.label_tag }}</label>
            <div class="controls">
                {% render_field form.depreciation_account class="form-control chosen-select" %}
                {% if form.depreciation_account.auto_id  != "id_tos" %}
                    {% if form.depreciation_account.errors %}<span class="help-inline">{{ form.depreciation_account.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group control-group {% if form.depreciation_method.errors %}error{% endif %}">
            <label class="control-label txt-font12" for="{{ form.depreciation_method.id_for_label }}">{{ form.depreciation_method.label_tag }}</label>
            <div class="controls">
                {{ form.depreciation_method|add_class:"form-control"  }}
                {% if form.supplier_account_ref.auto_id  != "id_tos" %}
                    {% if form.depreciation_method.errors %}<span class="help-inline">{{ form.depreciation_method.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group control-group {% if form.depreciation_rate.errors %}error{% endif %}">
            <label class="control-label txt-font12" for="{{ form.depreciation_rate.id_for_label }}">{{ form.depreciation_rate.label_tag }}</label>
            <div class="controls">
                {% render_field form.depreciation_rate class="form-control" %}
                {% if form.depreciation_rate.auto_id  != "id_tos" %}
                    {% if form.depreciation_rate.errors %}<span class="help-inline">{{ form.depreciation_rate.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>


