{% extends 'base.html' %}
{% block page_title %} Asset Categories {% endblock page_title %}
{% block content %}
    <div class="pull-right">
        <a href="{% url 'create_asset_category' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> Create
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Account</th>
                    <th>Depreciation Rate</th>
                    <th>Method</th>
                    <th>Depreciation Account</th>
                    <th>Accumulated Depreciation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if categories %}
                    {% for asset_category in categories %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_asset_category' asset_category.id %}">
                            <td>{{ asset_category.name }}</td>
                            <td>{{ asset_category.category.name }}</td>
                            <td data-toggle="tooltip"
                                data-original-title="{{ asset_category.account.name }}">{{ asset_category.account.code }}</td>
                            <td>{{ asset_category.depreciation_rate_percentage }}</td>
                            <td>{{ asset_category.method_name }}</td>
                            <td data-toggle="tooltip"
                                data-original-title="{{ asset_category.depreciation_account.name }}"
                            >{{ asset_category.depreciation_account.code }}</td>
                            <td data-toggle="tooltip"
                                data-original-title="{{ asset_category.accumulated_depreciation_account.name }}"
                            >{{ asset_category.accumulated_depreciation_account.code }}</td>
                            <td class="text-left actions">
                               <a href="{% url 'edit_asset_category' asset_category.id %}"
                                  data-toggle="tooltip" title="" class="btn-sm btn-primary"
                                  data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                               <a href="{% url 'delete_asset_category' asset_category.id %}" onclick="return confirm('Are you sure you want to delete this asset category')"
                                  data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                  data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no asset categories available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}