{% extends 'modal.html' %}
{% load static i18n %}
{% block title %}{% translate "Add Role to Flow" %}{% endblock title %}
{% block content %}
  <form method="post" class="add-flow-form" id="modal_form" enctype="multipart/form-data"
        action="{% url 'add_invoice_flow_role' invoice_id=flow.invoice_id flow_id=flow.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate "Cancel" %}</button>
        <button type="button" class="btn btn-primary modal-submit"
                data-loading-text="<i class='fa fa-spinner'></i> Processing" id="modal_save_btn"><i class="fa fa-save"></i>&nbsp;{% translate "Save" %}</button>
    </div>
  </form>

{% endblock %}