{% extends 'modal.html' %}
{% load static i18n %}
{% block title %} Delete Flow Role - {{ flow_role.role }} {% endblock title %}
{% block content %}
<form method="post" class="delete-flow-form" id="modal_form" enctype="multipart/form-data"
      data-ajax-url="{% url 'delete_invoice_flow_role' invoice_id=flow_role.flow.invoice_id flow_role_id=flow_role.id %}"
      action="{% url 'delete_invoice_flow_role' invoice_id=flow_role.flow.invoice_id flow_role_id=flow_role.id %}"
      novalidate="novalidate">
    {% csrf_token %}
     <div class="modal-body">
        <div class="form-group text-danger">
            Are you sure you want to delete this?
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate "Cancel" %}</button>
        <button type="button" class="btn btn-primary modal-submit"
                data-loading-text="<i class='fa fa-spinner'></i> Processing" id="modal_save_btn">&nbsp;{% translate "Confirm" %}</button>
    </div>
  </form>
{% endblock %}