{% extends 'modal.html' %}
{% load static i18n %}
{% block title %} {% translate "Add Flow" %} {% endblock title %}
{% block content %}
    <form method="post" class="add-flow-form" id="modal_form" enctype="multipart/form-data"
          action="{% url 'create_invoice_flow' invoice_id=invoice.id after=order_number %}"
    >
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate "Cancel" %}</button>
        <button type="button" class="btn btn-primary modal-submit"
                data-loading-text="<i class='fa fa-spinner'></i> Processing" id="modal_save_btn"><i class="fa fa-save"></i>&nbsp;{% translate "Save" %}</button>
    </div>
  </form>

{% endblock %}