{% if flow.is_current %}
    <li class="list-group-item" style="padding: 20px; border: 1px solid darkred; border-radius: 5px; background-color: lightskyblue;">
{% elif flow.is_signed %}
    <li  class="list-group-item" style="padding: 20px; border: 1px solid white; border-radius: 5px;  background-color: #e2f9e2;">
{% else %}
    {% if flow.flow_status and flow.flow_status.slug == 'processed' %}
        <li  class="list-group-item" style="padding: 20px; border: 1px solid darkred; border-radius: 5px;">
    {% else %}
        <li  class="list-group-item" style="padding: 20px; border: 1px solid darkred; border-radius: 5px;">
    {% endif %}
{% endif %}
   <p class="list-group-item-text">
        {% if not flow.is_signed %}
            {% if can_edit %}
               <a href="javascript:void(0)" id="add_flow_role" data-modal="{% url 'add_invoice_flow_role' flow_id=flow.id %}" class="label label-primary pull-right"><i class="fa fa-plus"></i></a>
            {% endif %}
        {% endif %}
        <i class="fa fa-user"></i>
        {% for flow_role in flow.roles.all %}
            {% if flow_role.is_pending %}
              <span class="label label-danger" style="background-color: #dc3545 !important;">{{ flow_role.role }}</span>
            {% elif flow_role.is_processed %}
              <span class="label label-success" style="background-color: #28a745 !important;">{{ flow_role.role }}</span>
            {% else %}
              <span class="label label-info" style="background-color: #007bff !important;">{{ flow_role.role }}</span>
            {% endif %}

            {% if can_edit %}
               <a class="ui-state-error-text delete_invoice_flow_role" href="javascript:void(0);" id="delete_invoice_flow_role_{{ flow_role.id }}" data-ajax-url="{% url "delete_invoice_flow_role" flow.id flow_role.id %}"><i class="fa fa-trash"></i></a>
            {% endif %}
        {% endfor %}
        {% if flow.latest_signed %}
            {{ flow.latest_signed }}
        {% endif %}
      </p>
  </li>
  <!-- if this flow has signed this invoice, then we can nologer add after it -->
  {% if not flow.is_signed %}
      <li class="list-group-item text-right">
        {% if can_edit %}
           <a href="javascript:void(0)" id="add_flow" data-modal="{% url 'add_invoice_flow' invoice_id=invoice.id after=flow.order_number %}" class="label label-info"><i class="fa fa-plus"></i></a>
        {% endif %}
      </li>
  {% endif %}
  {% if not forloop.last %}
     <li class="list-group-item" style="padding: 10px;"><i class="fa fa-angle-down"></i></li>
  {% endif %}
