{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %} Flow Change Log {% endblock page_title %}
{% block content %}
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>    
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Note</th>
                        <th>By</th>
                        <th>Flow Status</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if comments %}
                        {% for comment in comments %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ comment.note }}</td>
                                <td>{{ comment.participant }} {% if comment.role %} - {{ comment.role }} {% endif %}</td>
                                <td>{{ comment.invoice_flow.status }}</td>
                                <td>{{ comment.created_at }}</td>
                                <td class="text-left actions"></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">There are no comments available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
