{% if flows %}
  <div class="invoice-flow" data-example-id="list-group-custom-content">
      <div class="list-group flows">
          {% for flow in flows %}
            {% if flow.is_current %}
                <div class="list-group-item level current" id="flow_{{flow.id}}">
            {% elif flow.is_signed %}
                <div class="list-group-item level signed" id="flow_{{flow.id}}">
            {% else %}
                {% if flow.is_processed %}
                    <div class="list-group-item level processed" id="flow_{{flow.id}}">
                {% else %}
                    <div class="list-group-item level processing" id="flow_{{flow.id}}">
                {% endif %}
            {% endif %}
               <div class="list-group-item-text">
                    {% if not flow.is_signed %}
                        {% if can_edit %}
                           <span class="pull-right">
                              <i class="fa fa-user pull-left "></i>
                              <a href="javascript:void(0)" id="add_flow_role"
                                 data-modal="{% url 'add_invoice_flow_role' invoice_id=invoice.id flow_id=flow.id %}"
                                 class="label label-primary pull-right"><i class="fa fa-plus"></i></a>
                            </span>
                        {% endif %}
                    {% endif %}
                    <ul class="list-inline inline">
                        {% for flow_role in flow.roles %}
                         <li
                           {% if flow_role.is_action_required %}
                                class="flow-role escalated-role">{{ flow_role.role }}
                           {% elif flow_role.is_pending %}
                               class="flow-role pending-role">{{ flow_role.role }}
                           {% elif flow_role.is_processed %}
                                class="flow-role processed-role">{{ flow_role.role }}
                           {% elif flow_role.is_parked %}
                               class="flow-role parked-role">{{ flow_role.role }}
                           {% else %}
                                class="flow-role processing-role">{{ flow_role.role }}
                           {% endif %}
                           {% if flow_role.can_delete  %}
                               <a class="ui-state-error-text delete-invoice-flow-role"
                                  href="javascript:void(0);"
                                  id="delete_invoice_flow_role_{{ flow_role.id }}"
                                  data-modal="{% url 'delete_invoice_flow_role' invoice_id=invoice.id flow_role_id=flow_role.id %}">
                                <i class="fa fa-trash"></i></a>
                           {% endif %}
                           <br />
                           {% if flow_role.signed_at %}
                                <span class="signed small">
                                    {% if flow_role.signed_by %}
                                        <span class="signed-by">{{ flow_role.signed_by }}</span>
                                    {% endif  %}
                                     <br />
                                    <span class="signed-at">{{ flow_role.signed_at|date:'d-M-Y H:i' }}</span>
                                </span>
                           {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
               </div>
              </div>
              <!-- if this flow has signed this invoice, then we can no loger add after it -->
              {% if not flow.is_signed %}
                  <div class="list-group-item add-to-flow">
                       <a href="javascript:void(0)" id="add_flow"
                          data-modal="{% url 'create_invoice_flow' invoice_id=invoice.id after=flow.order_number %}"
                          class="label label-info"><i class="fa fa-plus"></i></a>
                  </div>
               {% endif %}
              {% if not forloop.last %}
                 <div class="list-group-item flow-down"><i class="fa fa-caret-down"></i></div>
              {% endif %}
         {% endfor %}
      </div>
  </div>
{% else %}
    <br />
    <div>
        {% if can_edit %}
            <a href="javascript:void(0)" id="add_role"
               data-modal="{% url 'create_invoice_flow' invoice_id=invoice.id after=0 %}"
               class="label label-info"><i class="fa fa-plus"></i></a>
        {% endif %}
    </div>
{% endif %}