{% extends 'email.html' %}
{% load static %}
{% load invoice_tags %}
{% block content %}
<h3 style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 14px; font-weight: bold; margin-top: 0; text-align: left;">Dear {{ profile }}</h3>
<p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Thank you for using the Docuflow.co.za website!</p>
<div class="table" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; font-size: 12px; line-height: 1.2em; ">
    <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
        <tr>
            <td>
                <h2>{{ company }}</h2>
                <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Hey {{ profile.user.first_name }} you have important document in your company that requires processing.</p>
                <p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Please process it within 24 hours or the invoice will be forwarded to your supervisor  for processing</p>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" class="table-condensed" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody style="border-top: 2px solid #ecf0f1;">
                            <tr>
                                <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Document</th>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ certificate }}</td>
                            </tr>
                            <tr>
                                <th style="text-align: right !important; font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px;" class="text-right">Document Type</th>
                                <td style="text-align: right !important; padding: 3px; line-height: inherit; vertical-align: top;" class="text-right">{{ certificate.document_type }}</td>
                            </tr>
                            <tr>
                                <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Document Number</th>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ certificate.document_number }}</td>
                            </tr>
                            <tr>
                                <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Supplier</th>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ certificate.supplier }}</td>
                            </tr>
                            <tr>
                                <th style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; border-bottom: 1px solid #edeff2; padding-bottom: 8px; text-align: left;">Comments</th>
                                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 13px; line-height: 13px; font-weight: normal; padding: 10px 0;">{{ certificate.comments }}</td>
                            </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
{% endblock %}