{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Update Provisional Tax Estimate - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<form class="form"  method="post" id="provisional_tax_estimate" action="{% url 'update_provisional_tax_estimate' estimate.id %}"
  data-ajax-url="{% url 'update_provisional_tax_estimate' estimate.id %}">
    {% csrf_token %}
    <input type="hidden" id="id_tax_estimate_type" value="{{ estimate.tax_estimate_type.value }}">
    <input type="hidden" id="estimate_id" value="{{ estimate.id }}" />
    <div class="panel panel-primary">
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right">
                Created By {{ estimate.role }} - {{ estimate.profile }}
                <a href="{% url 'provisional_tax_estimate_index' %}" class="btn btn-default btn-sm"><i class="fa fa-caret-left"></i> Prev Level</a>
            </div>
        </div>
        <div class="panel-body align-center">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 text-left">
                    <table width="100%" class="table table-bordered">
                        <tr>
                            <td>Year of Assessment</td>
                            <td>{{ year }}</td>
                        </tr>
                        <tr>
                            <td>Provisional Period</td>
                            <td>
                                {{ period }}
                                {% render_field form.period %}
                            </td>
                        </tr>
                        <tr>
                            <td>Due Date</td>
                            <td>
                                {{ due_date }}
                                {% render_field form.due_date %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12" id="search_box">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <tr>
                                        <td colspan="2">Up to which period are the results complete</td>
                                        <td>
                                            {% render_field form.to_period class="form-control form-control-sm " tabindex='2' %}
                                            {% if form.to_period.auto_id  != "id_tos" %}
                                                {% if form.to_period.errors %}<span class="help-inline">{{ form.to_period.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="bold">Return for Payment of Provisional Tax Calculation</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-primary" id="recalculate" type="button">Update</button>
                                        </td>
                                        <td class="text-right bold">Results</td>
                                        <td class="text-right bold">Annualized</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">Up to period <span id="upto_period"></span> </td>
                                        <td class="text-right">For 12 months</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Turnover</td>
                                        <td></td>
                                        <td class="text-right">
                                            <span id="turnover">{{ estimate.turnover|money:0 }}</span>
                                            {% render_field form.turnover %}
                                        </td>
                                        <td class="text-right">
                                            <span id="annual_turnover">{{ estimate.annual_turnover|money:0 }}</span>
                                            {% render_field form.annual_turnover %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Estimated Income
                                        </td>
                                        <td class="text-left">
                                            <button type="button" class="btn btn-primary" id="toggle_estimate_income">Hide</button>
                                            {% render_field form.tax_rate %}
                                        </td>
                                        <td class="text-right">
                                            <span id="estimated_income">{{ estimate.estimated_income|money:0 }}</span>
                                            {% render_field form.estimated_income %}
                                        </td>
                                        <td class="text-right">
                                            <span id="annual_estimated_income">{{ estimate.annual_estimated_income|money:0 }}</span>
                                            {% render_field form.annual_estimated_income %}
                                        </td>
                                    </tr>
                                    <tr class="estimated-income">
                                        <td>Turnover</td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <span id="collapsed_turnover">{{ estimate.turnover|money:0 }}</span>
                                            <input type="hidden" id="id_collapsed_turnover" name="collapsed_turnover" value="" />
                                        </td>
                                        <td class="text-right">
                                            <span id="collapsed_annual_turnover">{{ estimate.annual_turnover|money:0 }}</span>
                                            <input type="hidden" id="id_collapsed_annual_turnover" name="collapsed_annual_turnover" value="" />
                                        </td>
                                    </tr>
                                    <tr class="estimated-income" id="expenses_deductable">
                                        <td>Income Statement deductable</td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <span id="collapsed_deductable_expenses">{{ estimate.income_deductable|money:0 }}</span>
                                            {% render_field form.income_deductable %}
                                        </td>
                                        <td class="text-right">
                                            <span id="collapsed_annual_deductable_expenses">{{ estimate.annual_income_deductable|money:0 }}</span>
                                            <input type="hidden" id="id_collapsed_annual_deductable_expenses" name="collapsed_annual_deductable_expenses" value="" />
                                        </td>
                                    </tr>
                                    <tr class="estimated-income" id="estimated_taxable_income">
                                        <td>Estimated taxable income</td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <span id="collapsed_taxable_income">{{ estimate.taxable_income|money:0 }}</span>
                                            <input type="hidden" id="id_collapsed_gross_profit" name="collapsed_gross_profit" value="" />
                                            <input type="hidden" id="id_collapsed_taxable_income" name="collapsed_taxable_income" value="{{ estimate.taxable_income }}" />
                                        </td>
                                        <td class="text-right">
                                            <span id="collapsed_annual_taxable_income">{{ estimate.annual_taxable_income|money:0 }}</span>
                                            <input type="hidden" id="id_collapsed_annual_gross_profit" name="collapsed_annual_gross_profit" value="" />
                                            <input type="hidden" id="id_collapsed_annual_taxable_income" name="collapsed_annual_taxable_income" value="{{ estimate.annual_taxable_income }}" />
                                        </td>
                                    </tr>
                                    <tr class="estimated-income">
                                        <td>Income Statement non deductable</td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <span id="collapsed_non_deductable_expense">{{ estimate.income_non_deductable|money:0 }}</span>
                                            {% render_field form.income_non_deductable %}
                                        </td>
                                        <td class="text-right">
                                            <span id="collapsed_annual_non_deductable_expense">{{ estimate.annual_income_non_deductable|money:0 }}</span>
                                            <input type="hidden" id="id_collapsed_annual_non_deductable_expense" name="collapsed_annual_non_deductable_expense" value="" />
                                        </td>
                                    </tr>
                                    <tr class="estimated-income">
                                        <td>Profit/Loss as per Income statement</td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <span id="collapsed_profit_loss">{{ estimate.profit_loss|money:0 }}</span>
                                            <input type="hidden" id="id_collapsed_profit_loss" name="collapsed_profit_loss" value="{{ estimate.profit_loss }}" />
                                        </td>
                                        <td class="text-right">
                                            <span id="collapsed_annual_profit_loss">{{ estimate.annual_profit_loss|money:0 }}</span>
                                            <input type="hidden" id="id_collapsed_annual_profit_loss" name="collapsed_annual_profit_loss" value="{{ estimate.annual_profit_loss }}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Less: Assesed Loss Carried Forward Prior Year</td>
                                        <td></td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            {% render_field form.assesed_loss_previous_year class="text-right" %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Estimated Taxable Income / Assesed Loss Carry Forward - Current Year</td>
                                        <td></td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <span id="taxable_income_assesed_loss"></span>
                                            <input type="hidden" id="id_taxable_income_assesed_loss" name="taxable_income_assesed_loss" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tax on estimated taxable income</td>
                                        <td></td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <span id="taxable_income"></span>
                                            <input type="hidden" id="id_taxable_income" name="taxable_income" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Less: Rebates (for individuals only)</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            {% render_field form.rebates class="form-control form-control-sm text-right" tabindex='2' %}
                                            {% if form.rebates.auto_id  != "id_tos" %}
                                                {% if form.rebates.errors %}<span class="help-inline">{{ form.rebates.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Tax for the year</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            <span id="year_tax"></span>
                                            {% render_field form.year_tax %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Tax for this period</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            <span id="period_tax"></span>
                                            {% render_field form.period_tax %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Less: Employee's tax for this period</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            {% render_field form.employee_tax class="form-control form-control-sm text-right" tabindex='3' %}
                                            {% if form.employee_tax.auto_id  != "id_tos" %}
                                                {% if form.employee_tax.errors %}<span class="help-inline">{{ form.employee_tax.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Less: Foreign tax for this period</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            {% render_field form.foreign_tax class="form-control form-control-sm text-right" tabindex='4' %}
                                            {% if form.foreign_tax.auto_id  != "id_tos" %}
                                                {% if form.foreign_tax.errors %}<span class="help-inline">{{ form.foreign_tax.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Less: Provisional tax paid on first provision</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            {% render_field form.tax_paid class="form-control form-control-sm text-right" tabindex='5' %}
                                            {% if form.tax_paid.auto_id  != "id_tos" %}
                                                {% if form.tax_paid.errors %}<span class="help-inline">{{ form.tax_paid.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Tax payable for this period</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            <span id="tax_payable_for_period"></span>
                                            <input type="hidden" id="id_tax_payable_for_period" name="tax_payable_for_period" value="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Add: Penalty on late payment (estimated)</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            {% render_field form.late_payment_penalty class="form-control form-control-sm text-right" tabindex='6' %}
                                            {% if form.late_payment_penalty.auto_id  != "id_tos" %}
                                                {% if form.late_payment_penalty.errors %}<span class="help-inline">{{ form.late_payment_penalty.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="">Add: Interest on late payment (estimated)</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            {% render_field form.late_payment_interest class="form-control form-control-sm text-right" tabindex='7' %}
                                            {% if form.late_payment_interest.auto_id  != "id_tos" %}
                                                {% if form.late_payment_interest.errors %}<span class="help-inline">{{ form.late_payment_interest.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Total Amount Payable</td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">
                                            <span id="total_amount"></span>
                                            {% render_field form.total_amount class="form-control form-control-sm text-right" tabindex='8' %}
                                            {% if form.total_amount.auto_id  != "id_tos" %}
                                                {% if form.total_amount.errors %}<span class="help-inline">{{ form.total_amount.errors }}</span>{% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="form-inline text-right">
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <button type="button" id="save" class="btn btn-primary save" data-action="save"
                                >Update</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/provisionaltax.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}