{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Provisional Tax Estimate - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">

        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12">
            <table class="table table-bordered">
               <tbody>
                    {% for estimate_type, estimate in estimates.items %}
                        <tr>
                            <td>{{ estimate.label }}</td>
                            {% if estimate.line %}
                                <td class="text-right">{{ estimate.line.total_amount|money }}</td>
                                <td>
                                    <a href="{% url 'update_provisional_tax_estimate' estimate.line.id %}">Edit</a>
                                </td>
                            {% else %}
                                <td></td>
                                <td>
                                    <a href="{% url 'create_provisional_tax_estimate' tax_estimate_type=estimate_type %}">Create</a>
                                </td>
                            {% endif  %}
                        </tr>
                    {% endfor %}
               </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/ledger.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}