{% extends 'base.html' %}
{% block page_title %} Sources {% endblock page_title %}
{% block content %}
    <div class="row actions">
        <ul class="list-inline">
            <li class="item">
                <a href="{% url 'watch-create-source' %}" class="btn labeled btn-default" role="button">
                    <i class="icon icon-plus"></i> Create a new watch source
                </a>
            </li>
        </ul>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Label</th>
                <th>Type</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% if sources %}
                    {% for source in sources %}
                            <tr>
                                <td><a href="">{{ source.label }}</a></td>
                                <td>{{ source.type }}</td>
                                <td>{{ source.enabled }}</td>
                                <td class="text-left actions">
                                    <a href="{% url 'watch-edit-source' source.id   %}" class="btn btn-primary btn-xs">Edit</a> |
                                    <a href="{% url 'watch-delete-source' source.id   %}" class="btn btn-danger btn-xs">Delete</a>
                                </td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no imap sources setup available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}