{% extends 'modal.html' %}
{% block page_title %} Delete Setup Line {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="modal_form" action="{% url 'delete_payroll_setup_line' setup_line.id %}">
    {% csrf_token %}
    <div class="modal-body">
        Are you sure you want to delete this setup line?.
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger btn-large" name="submit" type="submit" id="modal_save_btn"
        ><i class="fa fa-trash"></i> Delete this setup line</button>
    </div>
  </form>
{% endblock %}