{% load invoice_tags sales_tags %}
<tr id="{{ item_type }}_setup_item_{{ row }}" class="setup-items setup-item-row-{{ item_type }}" data-row-id="{{ row }}">
    <td>
        <input type="text" id="{{ item_type }}_pastel_account_code_{{ row }}" name="{{ item_type }}_pastel_account_code_{{ row }}"
               value="{% if setup_line %}{{ setup_line.code }}{% endif %}"
        >
    </td>
    <td>
        <input type="text" id="{{ item_type }}_pastel_account_description_{{ row }}" name="{{ item_type }}_pastel_account_description_{{ row }}"
               {% if default_code or setup_line.description in deduction_codes %}readonly="readonly" style="background-color: grey;" {% endif %}
               value="{% if setup_line %}{{ setup_line.description }}{% elif default_code %}{{ default_code }}{% endif %}">
    </td>
    <td>
        <input type="text" id="{{ item_type }}_account_code_{{ row }}" name="{{ item_type }}_account_code_{{ row }}"
               class="search-box-{{ item_type }} search-account-box"
               value="{% if setup_line %}{{ setup_line.account.code }}{% endif %}"
               data-item-type="{{  item_type }}"
               data-row-id="{{ row }}"
               data-ajax-url="{% url "autocomplete_accounts_search" %}"
        >

        <input type="hidden" id="{{ item_type }}_account_{{ row }}" name="{{ item_type }}_account_{{ row }}"
               value="{% if setup_line and setup_line.account %}{{ setup_line.account.id }}{% endif %}">
    </td>
    <td>
        <span id="{{ item_type }}_account_description_{{ row }}">
            {% if setup_line.account %}{{ setup_line.account.name }}{% endif %}
        </span>
    </td>
    <td>
        <select type="text" id="{{ item_type }}_suffix_{{ row }}" name="{{ item_type }}_suffix_{{ row }}">
            <option value="0" {% if setup_line and not setup_line.is_suffix %}selected="selected"{% endif %}>No</option>
            <option value="1" {% if setup_line and setup_line.is_suffix %}selected="selected"{% endif %}>Yes</option>
        </select>
    </td>
    <td>
        {% if setup_line %}
            <a href="#" data-modal="{% url 'edit_payroll_setup_line' setup_line.id %}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#" data-modal="{% url 'delete_payroll_setup_line' setup_line.id %}">Delete</a>
        {% endif %}
    </td>
</tr>
