{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% load widget_tweaks %}
{% load common_tags invoice_tags sales_tags %}
{% block page_title %} Payroll System Setup {% endblock page_title %}
{% block content %}
<form class="form payroll-setup-form" id="payroll_setup" action="{% url 'payroll_setup' %}" data-ajax-url="{% url 'payroll_setup' %}">
    {% csrf_token %}
    <div class="panel panel-primary"    >
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
        <div class="panel-body align-center">
            <div class="col-lg-12 col-xs-12">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
                                {{ form.supplier.label_tag }}
                                <div class="controls">
                                    {% render_field form.supplier class="form-control chosen-select" %}
                                    {% if form.supplier.auto_id  != "id_tos" %}
                                        {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.document_type.errors %}error{% endif %}">
                                {{ form.document_type.label_tag }}
                                <div class="controls">
                                    {% render_field form.document_type class="form-controll chosen-select" %}
                                    {% if form.document_type.auto_id  != "id_tos" %}
                                        {% if form.document_type.errors %}<span class="help-inline">{{ form.document_type.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.payroll_system.errors %}error{% endif %}">
                                {{ form.payroll_system.label_tag }}
                                <div class="controls">
                                    {% render_field form.payroll_system class="form-control chosen-select"  %}
                                    {% if form.payroll_system.auto_id  != "id_tos" %}
                                        {% if form.payroll_system.errors %}<span class="help-inline">{{ form.payroll_system.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.payment_type.errors %}error{% endif %}">
                                {{ form.payment_type.label_tag }}
                                <div class="controls">
                                    {% render_field form.payment_type class="form-control" %}
                                    {% if form.payment_type.auto_id  != "id_tos" %}
                                        {% if form.payment_type.errors %}<span class="help-inline">{{ form.payment_type.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">&nbsp;Income</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="border-0" width="10%">Pastel</th>
                                                    <th width="30%">Description</th>
                                                    <th width="10%">Docuflow</th>
                                                    <th width="30%">Description</th>
                                                    <th width="10%">Suffix</th>
                                                    <th width="10%" class="border-0"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="payroll_setup_income_items_body" class="payroll-setup-body" data-item-type="income" data-ajax-url="{% url 'add_payroll_items_line' 'income' %}">
                                                {% for income_item in income_items %}
                                                    {% with row=income_item.id setup_line=income_item  item_type='income' %}
                                                        {% include 'payroll/setup_line.html' %}
                                                    {% endwith  %}
                                                {% endfor  %}
                                                <tr id="income_payroll_setup_placeholder">
                                                    <td colspan="5">
                                                        <img src="{% static 'images/loader.gif' %}">
                                                    </td>
                                                </tr>

                                                <tr id="actions">
                                                    <td colspan="4"></td>
                                                    <td class="text-right">
                                                        <button type="button" id="add_income_payroll_items_line" class="btn btn-primary add-payroll-setup-item"
                                                                data-text="Add"
                                                                data-item-type="income"
                                                                data-ajax-url="{% url 'add_payroll_items_line' 'income' %}"
                                                        >Add</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">&nbsp;Deductions</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="border-0" width="10%">Pastel</th>
                                                    <th width="30%">Description</th>
                                                    <th width="10%">Docuflow</th>
                                                    <th width="30%">Description</th>
                                                    <th width="10%">Suffix</th>
                                                    <th width="10%" class="border-0"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="payroll_setup_deductions_items_body" class="payroll-setup-body" data-item-type="deductions" data-ajax-url="{% url 'add_payroll_items_line' 'deductions' %}">
                                                {% for deduction_item in deduction_items %}
                                                    {% with row=deduction_item.id setup_line=deduction_item item_type='deductions' deduction_codes=deduction_codes %}
                                                        {% include 'payroll/setup_line.html' %}
                                                    {% endwith  %}
                                                {% empty %}
                                                    {% for row, default_code in default_codes.items %}
                                                        {% with row=row default_code=default_code item_type='deductions' %}
                                                            {% include 'payroll/setup_line.html' %}
                                                        {% endwith  %}
                                                    {% endfor %}
                                                {% endfor  %}
                                                <tr id="deductions_payroll_setup_placeholder">
                                                    <td colspan="5">
                                                        <img src="{% static 'images/loader.gif' %}">
                                                    </td>
                                                </tr>
                                                <tr id="actions">
                                                    <td colspan="4"></td>
                                                    <td class="text-right">
                                                        <button type="button" id="add_deductions_payroll_setup_line" class="btn btn-primary add-payroll-setup-item"
                                                                data-text="Add"
                                                                data-item-type="deductions"
                                                                data-ajax-url="{% url 'add_payroll_items_line' 'deductions' %}"
                                                        >Add</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer clear-fix mt-3">
            <div class="pull-left"></div>
            <div class="pull-right">
                <button type="button" id="save" class="btn btn-primary action"
                    data-action="save"
                >Save</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/payroll.js' %}"></script>
    {% endcompress %}
{% endblock %}
