{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% load widget_tweaks %}
{% load common_tags invoice_tags sales_tags %}
{% block page_title %} Statutory Setup {% endblock page_title %}
{% block content %}
<form class="form payroll-setup-form" id="payroll_setup" action="{% url 'save_statutory_setup' %}" data-ajax-url="{% url 'save_statutory_setup' %}">
    {% csrf_token %}
    <div class="panel panel-primary"    >
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
        <div class="panel panel-default">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="border-0" width="10%">Code</th>
                            <th width="20%">Description</th>
                            <th width="10%">Include in Salary Cost</th>
                            <th width="20%">Account Number</th>
                            <th width="30%">Description</th>
                            <th width="10%">Company Cost</th>
                            <th width="5%" class="border-0"></th>
                        </tr>
                    </thead>
                    <tbody id="payroll_statutory_setup_items_body" class="payroll-setup-body" data-ajax-url="{% url 'add_payroll_items_line' 'deductions' %}">
                        {% for row, default_code in default_codes.items %}
                            <tr id="statutory_setup_item_{{ row }}" class="setup-items statutory-setup-item-row" data-row-id="{{ row }}">
                                <td>
                                    <input type="hidden"
                                           value="{% if default_code.setup %}{{ default_code.setup.code }}{% else %}{{ default_code.code }}{% endif %}"
                                           name="statutory_code_{{ row }}" />
                                    {% if default_code.setup %}{{ default_code.setup.code }}{% else %}{{ default_code.code }}{% endif %}
                                </td>
                                <td>
                                    <input type="hidden"
                                           value="{% if default_code.setup %}{{ default_code.setup.description }}{% else %}{{ default_code.description }}{% endif %}"
                                           name="statutory_description_{{ row }}" />
                                    {% if default_code.setup %}{{ default_code.setup.description }}{% else %}{{ default_code.description }}{% endif %}
                                </td>
                                <td>
                                    <input type="checkbox" id="statutory_include_in_salary_{{ row }}"
                                           name="statutory_include_in_salary_{{ row }}"
                                           data-row-id="{{ row }}"
                                           class="include-in-salary"
                                           value="1"
                                           {% if default_code.setup and default_code.setup.is_included_in_salary_cost %}checked="checked"{% endif %}
                                    >
                                </td>
                                <td>
                                    <input type="text" id="statutory_account_code_{{ row }}" name="statutory_account_code_{{ row }}"
                                           class="search-box search-account-box"
                                           value="{% if default_code.setup and default_code.setup.account %}{{ default_code.setup.account.code }}{% endif %}"
                                           data-item-type="statutory"
                                           data-row-id="{{ row }}"
                                           data-ajax-url="{% url "autocomplete_accounts_search" %}"
                                           {% if default_code.setup and default_code.setup.is_included_in_salary_cost %}disabled="disabled"{% endif %}
                                    >

                                    <input type="hidden" id="statutory_account_{{ row }}" name="statutory_account_{{ row }}"
                                           value="{% if default_code.setup and default_code.setup.account %}{{ default_code.setup.account_id }}{% endif %}"
                                    >
                                </td>
                                <td>
                                    <span id="statutory_account_description_{{ row }}">
                                        {% if default_code.setup and default_code.setup.account %}{{ default_code.setup.account.name }}{% endif %}
                                    </span>
                                </td>
                                <td>
                                    <input type="number" id="statutory_company_cost_{{ row }}"
                                           name="statutory_company_cost_{{ row }}"
                                           value="{% if default_code.setup and default_code.setup.company_cost %}{{ default_code.setup.company_cost }}{% endif %}" />
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer clear-fix mt-3">
            <div class="pull-left"></div>
            <div class="pull-right">
                <button type="button" id="save" class="btn btn-primary action"
                    data-action="save"
                >Save</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/payroll.js' %}"></script>
    {% endcompress %}
{% endblock %}
