{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Cash Flow statement - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form ledger-form" id="generate_cash_flow" action="{% url 'generate_cash_flow' %}"
                  data-ajax-url="{% url 'generate_cash_flow' %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group control-group">
                                <label for="layout">Layout</label>
                                <div class="controls">
                                    <select name="layout" id="layout"
                                            class="form-control accounts chosen-select"
                                            tabindex="1">
                                        <option value="default">Default</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.from_period.errors %}error{% endif %}">
                                {{ form.from_period.label_tag }}
                                <div class="controls">
                                    {% render_field form.from_period class="form-control chosen-select" tabindex="2" %}
                                    {% if form.from_period.auto_id  != "id_tos" %}
                                        {% if form.from_period.errors %}<span class="help-inline">{{ form.from_period.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.to_period.errors %}error{% endif %}">
                                <label class=" control-label txt-font12" for="{{ form.to_period.id_for_label }}">{{ form.to_period.label_tag }}</label>
                                <div class="controls">
                                    {% render_field form.to_period class="form-control chosen-select" tabindex="3" %}
                                    {% if form.to_period.auto_id  != "id_tos" %}
                                        {% if form.to_period.errors %}<span class="help-inline">{{ form.to_period.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                     {% for company_object in company_objects %}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group">
                                    <label>{{ company_object }}</label>
                                    <div class="controls">
                                        <select name="object_items" id="object_item"
                                                class="form-control objects chosen-select"
                                                tabindex="{{ 4|add:forloop.counter0 }}">
                                            <option value="all_{{ company_object.id }}">All</option>
                                            {% for object_item in company_object.object_items.all %}
                                                <option value="{{ object_item.id }}">{{ object_item }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">

                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Include Cents</label>
                                <div class="controls">
                                    <input type="checkbox" id="include_cents" class="inout-checkbox"
                                           name="include_cents" value="1" tabindex="{{ 5|add:objects_count }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label></label>
                                <div class="controls">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="display_print" class="btn btn-primary generate"
                                data-action="print" tabindex="{{ 17|add:objects_count }}"
                            >Print</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="display_screen" class="btn btn-primary generate"
                                data-action="screen" tabindex="{{ 18|add:objects_count }}"
                            >Screen</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_pdf" class="btn btn-primary generate"
                                data-action="screen" tabindex="{{ 20|add:objects_count }}"
                            >
                            Pdf
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary"
                                data-action="cancel" tabindex="{{ 21|add:objects_count }}"
                            >Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-lg-12 col-md-12 data-container" id="cashflow_sheet">
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/ledger.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}