{% load static %}
{% load widget_tweaks %}
{% load invoice_tags report_tags %}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Cash Flow statement report</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
            <tr>
                <td>Cash Flow statement for</td>
                <td>Whole Company</td>
            </tr>
            <tr>
                <td>Period dates(s)</td>
                <td>{{ start_date }} - {{ end_date }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 text-right">
        {% updates_summary company year start_date end_date %}
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
                <div class="table-responsive">
                    {% if errors %}
                        {% for k, err in errors.items %}
                            <span class="text-danger">{{ err }}</span>
                        {% endfor %}
                    {% else %}
                        <table class="table table-bordered table-condensed" width="100%">
                        <thead>
                            <tr class="primary-head">
                                <th></th>
                                <th></th>
                                <th class="text-right">Current</th>
                                <th class="text-right">Prior</th>
                            </tr>
                            <tr class="primary-head">
                                <th></th>
                                <th></th>
                                <th class="text-right">Year</th>
                                <th class="text-right">Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>CASH FLOW FROM OPERATING ACTIVITIES</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% for key, values in cashflow_statement.operating_activities.items %}
                                {% if key == 'total' %}
                                    <tr>
                                        <td>{{ values.title }}</td>
                                        <td></td>
                                        <td class="text-right">{{ values.amount|money:include_cents }}</td>
                                        <td class="text-right">{{ values.prev_year|money:include_cents }}</td>
                                    </tr>
                                {% else %}
                                    {% for k, value in values.items %}
                                        <tr>
                                            <td>{{ value.title }}</td>
                                            <td></td>
                                            <td class="text-right">{{ value.amount|money:include_cents }}</td>
                                            <td class="text-right">{{ value.prev_year|money:include_cents }}</td>
                                        </tr>
                                    {% endfor  %}
                                {% endif %}
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                            {% endfor  %}
                            <tr>
                                <td><strong>CASH FLOW FROM INVESTING ACTIVITIES</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% for key, values in cashflow_statement.investing_activities.items %}
                                {% if key == 'total' %}
                                    <tr>
                                        <td>{{ values.title }}</td>
                                        <td></td>
                                        <td class="text-right">{{ values.amount|money:include_cents }}</td>
                                        <td class="text-right">{{ values.prev_year|money:include_cents }}</td>
                                    </tr>
                                {% else %}
                                    {% for k, value in values.items %}
                                        <tr>
                                            <td>{{ value.title }}</td>
                                            <td></td>
                                            <td class="text-right">{{ value.amount|money:include_cents }}</td>
                                            <td class="text-right">{{ value.prev_year|money:include_cents }}</td>
                                        </tr>
                                    {% endfor  %}
                                {% endif %}
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                            {% endfor  %}
                            <tr>
                                <td><strong>CASH FLOW FROM FINANCING ACTIVITIES</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% for key, values in cashflow_statement.financing_activities.items %}
                                {% if key == 'total' %}
                                    <tr>
                                        <td>{{ values.title }}</td>
                                        <td></td>
                                        <td class="text-right">{{ values.amount|money:include_cents }}</td>
                                        <td class="text-right">{{ values.prev_year|money:include_cents }}</td>
                                    </tr>
                                {% else %}
                                    {% for k, value in values.items %}
                                        <tr>
                                            <td>{{ value.title }}</td>
                                            <td></td>
                                            <td class="text-right">{{ value.amount|money:include_cents }}</td>
                                            <td class="text-right">{{ value.prev_year|money:include_cents }}</td>
                                        </tr>
                                    {% endfor  %}
                                {% endif %}
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                            {% endfor  %}

                            {% for key, values in cashflow_statement.increase_decrease.items %}
                                {% if key == 'total' %}
                                    <tr>
                                        <td>{{ values.title }}</td>
                                        <td></td>
                                        <td class="text-right">{{ values.amount|money:include_cents }}</td>
                                        <td class="text-right">{{ values.prev_year|money:include_cents }}</td>
                                    </tr>
                                {% else %}
                                    {% for k, value in values.items %}
                                        <tr>
                                            <td>{{ value.title }}</td>
                                            <td></td>
                                            <td class="text-right">{{ value.amount|money:include_cents }}</td>
                                            <td class="text-right">{{ value.prev_year|money:include_cents }}</td>
                                        </tr>
                                    {% endfor  %}
                                {% endif %}
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                            {% endfor  %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>