{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load common_tags invoice_tags sales_tags %}
{% block page_title %} Stock Adjustment - {{ year }} {% endblock page_title %}
{% block content %}
<form class="form" id="create_stock_adjustment" action="{% url 'create_stock_adjustment' %}" data-ajax-url="{% url 'create_stock_adjustment' %}">
    {% csrf_token %}
    <div class="panel panel-primary"    >
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
        <div class="panel-body align-center">
            <div class="col-lg-12 col-xs-12" id="create_receipt_box">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                                    {{ form.period.label_tag }}
                                    <div class="controls">
                                        {% render_field form.period class="form-control datepicker" %}
                                        {% if form.period.auto_id  != "id_tos" %}
                                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
                                    {{ form.date.label_tag }}
                                    <div class="controls">
                                        {% render_field form.date class="form-control datepicker" %}
                                        {% if form.date.auto_id  != "id_tos" %}
                                            {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group {% if form.note.errors %}error{% endif %}">
                                    {{ form.comment.label_tag }}
                                    <div class="controls">
                                        {% render_field form.comment class="form-control" %}
                                        {% if form.comment.auto_id  != "id_tos" %}
                                            {% if form.comment.errors %}<span class="help-inline">{{ form.comment.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-xs-12 data-container" id="inventories">
                <table class="table" width="100%">
                    <thead>
                        <tr>
                            <th>Inventory Code</th>
                            <th>Account</th>
                            <th>On Hand</th>
                            <th class="text-right">New On Hand</th>
                            <th class="text-right">Adjust with</th>
                            <th class="text-right">Price Type</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="inventory_items" data-inventory-items-url="{% url 'stock_adjustment_inventory_items' %}">
                        <tr class="inventory_form-add">
                            <td colspan="8"></td>
                            <td>
                                <button type="button" id="add_invoice_item_line" class="btn btn-primary add-row">Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input id="id_inventory_form-TOTAL_FORMS" name="inventory_form-TOTAL_FORMS" type="hidden" value="1">
                <input id="id_inventory_form-INITIAL_FORMS" name="inventory_form-INITIAL_FORMS" type="hidden" value="0">
                <input id="id_inventory_form-MIN_NUM_FORMS" name="inventory_form-MIN_NUM_FORMS" type="hidden" value="0">
                <input id="id_inventory_form-MAX_NUM_FORMS" name="inventory_form-MAX_NUM_FORMS" type="hidden" value="1000">

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-12 col-md-12 pull-right text-right">
                <div class="form-inline">
                    <div class="form-group">
                        <button type="submit" id="cancel" class="btn btn-primary action"
                            data-action="cancel" tabindex="{{ 6 }}"
                        >Cancel</button>
                    </div>
                    <div class="form-group">
                        <button type="button" id="save" class="btn btn-primary" disabled="disabled"
                            data-action="save" tabindex="{{ 8 }}"
                        >Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory/stock_adjustment.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}
