{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags company_tags %}
{% block page_title %}Stock Adjustment <span class="pull-right">&nbsp;{{ stock_adjustment }}</span>
{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left"></h5>
        </div>

      <div class="pull-right">
          <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
      </div>
  </div>
  <div class="panel-body align-center">
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 text-left">
                 {% display_logo stock_adjustment.branch.company 200 75 %}
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4">
                {% with company=stock_adjustment.branch.company %}
                    {% include "companies/address.html" %}
                {% endwith %}
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4 text-right">
                <table class="table table-borderless table-condensed">
                    <tr>
                        <td colspan="2"><strong class="h4">Stock Adjustment</strong></td>
                    </tr>
                    <tr>
                        <td>Reference</td>
                        <td>#{{ stock_adjustment }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ stock_adjustment.date|date:'d-M-Y' }}</td>
                    </tr>
                    <tr>
                        <td>Period</td>
                        <td>{{ stock_adjustment.period }}</td>
                    </tr>
                    <tr>
                        <td>Comment</td>
                        <td>{{ stock_adjustment.comment }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th>Stock Code</th>
                        <th>Description</th>
                        <th>Cost Of Sales Account</th>
                        <th>GL Account</th>
                        <th class="text-right">Opening</th>
                        <th class="text-right">Quantity Adjust</th>
                        <th class="text-right">New Closing</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock_adjust_inventory, adjustment_breakdown in adjustments.items %}
                         {% for breakdown in adjustment_breakdown.breakdown %}
                            <tr>
                                <td>{{ stock_adjust_inventory.inventory }}</td>
                                <td>{{ stock_adjust_inventory.inventory.description }}</td>
                                <td data-toggle="tooltip" data-original-title="{{ stock_adjust_inventory.inventory.cost_of_sales_account.name }}">
                                    {{ stock_adjust_inventory.inventory.cost_of_sales_account.code }}</td>
                                <td data-toggle="tooltip" data-original-title="{{ stock_adjust_inventory.inventory.gl_account.name }}">
                                    {{ stock_adjust_inventory.inventory.gl_account.code }}</td>
                                <td class="text-right"><em>{{ breakdown.opening|money }}</em></td>
                                <td class="text-right">{{ breakdown.quantity|money }}</td>
                                <td class="text-right"><em>{{ breakdown.closing|money }}</em></td>
                                <td class="text-right">{{ breakdown.price|money }}</td>
                                <td class="text-right">{{ breakdown.total|money }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <td colspan="9"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7"></td>
                        <td class="text-right"></td>
                        <td class="text-right">{{ adjustments.total|money }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
