{% extends 'datatable.html' %}
{% load static %}
{% load widget_tweaks invoice_tags %}
{% block page_title %} Stock Adjustments {{ year }} {% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-right">
         <a {% if year.is_final %}disabled="disabled"{% endif %} class="btn btn-sm btn-primary" href="{% url 'create_stock_adjustment' %}"><i class="fa fa-plus-circle"></i> Create</a>
      </div>
  </div>
  <div class="panel-body algin-center">
     <div class="col-sm-12">
        <table class="table table-items-list" width="100%" id="adjustments">
            <thead>
                <tr>
                    <th>Adjustment</th>
                    <th>Comment</th>
                    <th class="text-right">Date</th>
                </tr>
            </thead>
        </table>
     </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#adjustments").DataTable({
              'serverSide': true,
              'ajax': '/api/v1/inventories/adjustments/?format=datatables',
              'columns': [
                { data: 'reference', name: 'adjustment_id', searchable: false, title:'Adjustment' },
                { data: 'comment', name: 'comment', searchable: true, title:'Comment' },
                { data: 'date', name: 'date', searchable: false, title:'Date'},
              ],
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'desc' ]],
            dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
            tableTools: {
                sRowSelect: "multi",
                sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                aButtons: [
                    {
                        sExtends:    'copy',
                        sButtonText: 'Copy',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'print',
                        sButtonText: 'Print',
                        sButtonClass: 'btn btn-default'
                    },
                    {
                        sExtends:    'collection',
                        sButtonText: 'Save <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'csv', 'xls', 'pdf' ]
                    },
                    {
                        sExtends: 'collection',
                        sButtonText: 'Tools <span class="caret"></span>',
                        sButtonClass: 'btn btn-primary',
                        aButtons:    [ 'select_all', 'select_none' ]
                    }
                ]
            }
        });

        $('#adjustments tbody').on( 'click', 'tr', function () {
            var rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'stock_adjustment' %}";
            }
        });

        $.extend( $.fn.dataTable.defaults, {
            autoWidth: false,
            pagingType: 'full_numbers',
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
            }
        });
    });
    </script>
{% endblock %}