<tr id="inventory_form-{{ row }}-row" class="inventory-line inventory-form row-{{ row }}" data-row-id="0">
    <td>
        <select name="inventory_form_{{ row }}_inventory" id="id_inventory_form_{{ row }}_inventory"
                class="form-control chosen-select"
                data-ajax-url="{% url 'fetch_inventory_item' %}">
            <option value=""></option>
            {% for inventory in inventories %}
                <option value="{{ inventory.id }}">{{ inventory.inventory.code }} - {{ inventory.description }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <select name="inventory_form_{{ row }}_account" id="id_inventory_form_{{ row }}_account" class="form-control chosen-select">
            <option value=""></option>
            {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.code }} - {{ account.name }}</option>
            {% endfor %}
        </select>
    </td>
    <td class="text-right">
        <span id="id_inventory_form_{{ row }}_on_hand"></span>
        <input type="hidden" name="inventory_form_{{ row }}_in_stock" id="id_inventory_form_{{ row }}_in_stock" value="0" class="text-right" />
    </td>
    <td class="text-right">
        <input type="text" name="inventory_form_{{ row }}_quantity" id="id_inventory_form_{{ row }}_quantity" value="0" class="text-right" />
    </td>
    <td class="text-right">
        <input type="text" name="inventory_form_{{ row }}_adjustment" id="id_inventory_form_{{ row }}_adjustment" value="0" readonly="readonly" class="text-right" />
    </td>
    <td>
        <select name="inventory_form_{{ row }}_price_type" id="id_inventory_form_{{ row }}_price_type" class="form-control price-choice-{{ row }}">
            <option value="own_price">Own Price</option>
            <option value="average_price">Average</option>
            <option value="current_price">Last Price</option>
        </select>
        <input type="hidden" name="inventory_form_{{ row }}_average_price" id="id_inventory_form_{{ row }}_average_price" value="0" />
        <input type="hidden" name="inventory_form_{{ row }}_current_price" id="id_inventory_form_{{ row }}_current_price" value="0" />
    </td>
    <td class="text-right">
        <input type="text" name="inventory_form_{{ row }}_price" id="id_inventory_form_{{ row }}_price" value="0" class="price-choice-{{ row }}" />
    </td>
    <td>
        <span id="id_inventory_form_{{ row }}_total_value" class="price-choice-{{ row }}"></span>
        <input type="hidden" name="inventory_form_{{ row }}_total" id="id_inventory_form_{{ row }}_total" value="0" class="price-choice" />
    </td>
    <td>
        {% if row > 1 %}
            <a href="javascript:void(0);" data-row-id="{{ row }}" class="delete-row" id="delete_{{ row }}">
                <i class="fa fa-trash ui-state-error-text" id="delete_row_{{ row }}"></i>
            </a>
        {% endif %}
    </td>
</tr>