{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks compress %}
{% block page_title %} Object Posting Proposal{% endblock page_title %}
{% block content %}
<form method="post" id="object_posting_detail">
  {% csrf_token %}
      <div class="panel panel-primary">
          <div class="panel-heading clearfix">
              <div class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">
                  {{ object_posting.number }}
              </div>
              <div class="btn-group pull-right">
                   <div class="form-group">
                        <button type="submit" id="update_account_posting" class="btn btn-primary btn-sm"
                                {%  if not object_posting.is_valid_percentage %} disabled="disabled" {% endif %}
                                data-ajax-url="{% url 'edit_object_posting' object_posting.id %}"><i class="fa fa-save"></i> Update</button>
                        &nbsp;
                        <a href="{% url 'posting_object_index' %}" class="btn btn-sm btn-default" role="button">
                            <i class="fa fa-paperclip"></i> Prev. Level
                        </a>
                   </div>
              </div>
          </div>
          <div class="panel-body aligin-center">
                 <div class="col-12">
                    <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
                        {{ form.name.label_tag }}
                        <div class="controls">
                            {% render_field form.name class="form-control" %}
                            {% if form.name.auto_id  != "id_tos" %}
                                {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                 <div class="col-12">
                    <div class="form-group control-group {% if form.company_object.errors %}error{% endif %}">
                        {{ form.company_object.label_tag }}
                        <div class="controls">
                            {% render_field form.company_object class="form-control" %}
                            {% if form.company_object.auto_id  != "id_tos" %}
                                {% if form.company_object.errors %}<span class="help-inline">{{ form.company_object.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                 <div class="col-12">
                    <div class="form-group control-group {% if form.is_active.errors %}error{% endif %}">
                        {{ form.is_active.label_tag }}
                        <div class="controls">
                            {% render_field form.is_active class="form-control" %}
                            {% if form.is_active.auto_id  != "id_tos" %}
                                {% if form.is_active.errors %}<span class="help-inline">{{ form.is_active.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="table-responsive"
                     id="object_posting_items"
                     data-ajax-url="{% url 'posting_object_item_index' object_posting_id=object_posting.id %}">
                </div>
          </div>
      </div>
</form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/future/object_posting.js' %}"></script>
    {% endcompress %}
{% endblock %}