{% extends 'base.html' %}
{% block page_title %} Object Posting Proposal {% endblock page_title %}
{% block content %}
<div class="panel-heading clearfix">
    <div class="pull-left"></div>
    <div class="pull-right">
        <a href="{% url 'create_object_posting' %}" class="btn btn-sm btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> New
        </a>
    </div>
</div>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Object</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="object_postings">
                    {% for object_posting in object_postings %}
                        <tr data-detail-url="{% url 'edit_object_posting' object_posting.id %}">
                            <td>{{ object_posting }}</td>
                            <td>{{ object_posting.company_object }}</td>
                            <td>
                                {% if object_posting.is_active %}
                                    <i class="fa fa-check text-success"></i>
                                {% else %}
                                    <i class="fa fa-close text-danger"></i>
                                {% endif %}
                            </td>
                            <td class="actions">
                                <a href="{% url 'delete_object_posting' object_posting.id %}"
                                   class="delete_object_posting text-danger"
                                   id="delete_object_posting_{{ object_posting.id }}"
                                   onclick="return confirm('Are you sure you want to delete object posting')"
                                   >
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">There are no object postings available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){

            $("#object_postings>tr>td:not(.actions)").on('click', function(){
                document.location.href = $(this).parent('tr').data('detail-url');
                return false;
            });

       });
    </script>
{% endblock %}