{% load invoice_tags inventory_tags %}
{% for estimate_item in estimate_items.all %}
    {% if estimate_item.is_inventory %}
        <tr id="sales_item_{{ estimate_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ estimate_item.id }}"
             data-estimate-id="{{ estimate_item.id }}"
        >
            <td>{{ estimate_item.item_type }}</td>
            <td>
                {{ estimate_item.inventory.inventory }}
{#                <input type="hidden" name="inventory_item_{{ estimate_item.id }}" value="{{ estimate_item.inventory.id }}" />#}
            <input type="hidden" name="id_{{ estimate_item.id }}" value="{{ estimate_item.id }}" />
            <input type="hidden" value="{{ estimate_item.inventory.gross_weight }}"
                    id="gross_weight_{{ estimate_item.id }}"
                    data-row-id="{{ estimate_item.id }}"
                    class="gross-weight" />
            <input type="hidden" value="{{ estimate_item.inventory.weight }}"
                    id="net_weight_{{ estimate_item.id }}"
                    data-row-id="{{ estimate_item.id }}"
                    class="net-weight" />
            </td>
            <td>
                {{ estimate_item.inventory.description }}
            </td>
            <td class="text-right">
                {% if estimate_item.is_invoicable %}
                    <span class="text-success">{{ estimate_item.inventory.in_stock|quantity }}</span>
                {% elif estimate_item.invoicable_stock > 0 %}
                    <span class="text-warning">{{ estimate_item.invoicable_stock|quantity }}</span>
                {% else %}
                    <span class="text-danger">{{ estimate_item.invoicable_stock|quantity }}</span>
                {% endif %}
                <input type="hidden" id="in_stock_{{ estimate_item.id }}" value="{{ estimate_item.invoicable_stock|quantity }}" />
                <input type="hidden" id="allow_negative_stock_{{ estimate_item.id }}" value="{% if estimate_item.inventory.allow_negative_stocks %}1{% else %}-1{% endif %}" />
            </td>
            <td class="text-right">
                {{ estimate_item.quantity|quantity }}
                <input type="hidden" name="quantity_ordered_{{ estimate_item.id }}" id="quantity_ordered_{{ estimate_item.id }}"
                       value="{{ estimate_item.quantity }}">
            </td>
            <td class="text-right">
                <input type="text" class="text-right form-control-sm quantity"
                   value="{{ estimate_item.invoicable_stock|quantity }}"
                   name="quantity_{{ estimate_item.id }}"
                   id="quantity_{{ estimate_item.id }}"
                   data-item-id="{{ estimate_item.id }}"
                />
                <input type="hidden" name="invoiced_{{ estimate_item.id }}" id="invoiced_{{ estimate_item.id }}"
                       value="{{ estimate_item.quantity|quantity }}">
            </td>
            <td class="text-right">
                <input type="checkbox" class="checkbox-input create-back-order"
                       {% if estimate_item.is_inventory_available %}disabled="disabled"{% else %}checked="checked"{% endif %}
                       name="back_order_{{ estimate_item.id }}"
                       id="back_order_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.id }}"
                />
            </td>
            <td class="text-right">
                {{ estimate_item.unit }}
            </td>
            <td class="text-right">
                {{ estimate_item.price|money }}
                <input type="hidden" class="form-control form-control-sm price"
                       name="price_{{ estimate_item.id }}"
                       id="price_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.price }}" />

            </td>
            <td class="text-right">
                {{ estimate_item.price_including|money }}
                <input type="hidden" class="form-control form-control-sm price-including"
                       name="price_including_{{ estimate_item.id }}"
                       id="price_including_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.price_including }}" />
                <input type="hidden" class="sub-total"
                       name="sub_total_{{ estimate_item.id }}"
                       id="sub_total_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.sub_total }}" />
            </td>
            <td class="text-left">
                <span class="price" id="_discount_percentage_{{ estimate_item.id }}">{{ estimate_item.discount|money }}</span>
                <input type="hidden" class="form-control form-control-sm discount" value="{{ estimate_item.discount|money }}"
                       name="discount_percentage_{{ estimate_item.id }}"
                       id="discount_percentage_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}" />
            </td>
            <td class="text-right">
                <span class="discount-amount" id="discount_amount_{{ estimate_item.id }}"
                      data-item-id="{{ estimate_item.id }}">{{ estimate_item.total_discount_amount|money }}</span>
                <input type="hidden" class="form-control form-control-sm total-discount"
                       value="{{ estimate_item.discount_amount }}" readonly="readonly"
                       name="total_discount_{{ estimate_item.id }}"
                       id="total_discount_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}" />
            </td>
            <td class="text-right">
                <span class="price-exc" id="total_price_exl_{{ estimate_item.id }}" data-item-id="{{ estimate_item.id }}">
                    {{ estimate_item.total_price_excluding|money }}
                </span>
                <input type="hidden" value="{{ estimate_item.total_price_excluding }}"
                       name="total_price_excluding_{{ estimate_item.id }}"
                       id="total_price_excluding_{{ estimate_item.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ estimate_item.id }}" data-item-id="{{ estimate_item.id }}">
                    {{ estimate_item.vat_amount|money }}
                </span>
                <input type="hidden" value="{{ estimate_item.vat_code.id }}"
                       name="vat_code_{{ estimate_item.id }}"
                       id="vat_code_{{ estimate_item.id }}"
                       data-percentage="{{ estimate_item.vat_code.percentage }}"
                       class="vat vat-codes"
                       data-item-id="{{ estimate_item.id }}"
                       data-text="{{ estimate_item.vat_code }}"
                />
                <input type="hidden" value="{{ estimate_item.vat }}"
                       name="vat_percentage_{{ estimate_item.id }}"
                       id="vat_percentage_{{ estimate_item.id }}"
                       class="vat-percentage"
                />
                <input type="hidden"
                       name="total_vat_{{ estimate_item.id }}"
                       id="total_vat_{{ estimate_item.id }}"
                       class="total-vat total-vat-amount"
                       value="{{ estimate_item.vat_amount }}"
                />
                <input type="hidden"
                       name="vat_amount_{{ estimate_item.id }}"
                       id="vat_amount_{{ estimate_item.id }}"
                       class="vat-amount"
                       value="{{ estimate_item.vat_amount }}"
                />
            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ estimate_item.id }}">{{ estimate_item.total_price_including|money }}</span>
                <input type="hidden" value="{{ estimate_item.total_price_including|money }}"
                       name="total_price_including_{{ estimate_item.id }}"
                       id="total_price_including_{{ estimate_item.id }}"
                       class="total-price-incl open-input" />
            </td>
        </tr>
    {% elif estimate_item.is_account %}
        <tr id="sales_item_{{ estimate_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ estimate_item.id }}"
             data-estimate-id="{{ estimate_item.id }}"
        >
            <td>
                {{ estimate_item.item_type }}
            </td>
            <td>
                {{ estimate_item.account.code }}
{#                <input type="hidden" name="account_{{ estimate_item.id }}" value="{{ estimate_item.account.id }}" />#}
                <input type="hidden" name="description_{{ estimate_item.id }}" value="{{ estimate_item.description }}" />
                <input type="hidden" name="id_{{ estimate_item.id }}" value="{{ estimate_item.id }}" />
                <input type="hidden" id="allow_negative_stock_{{ estimate_item.id }}" value="1" />
            </td>
            <td>{{ estimate_item.description }}</td>
            <td class="text-right">{{ estimate_item.quantity|money }}</td>
            <td class="text-right">
                {{ estimate_item.quantity|quantity }}
                <input type="hidden" name="quantity_ordered_{{ estimate_item.id }}" id="quantity_ordered_{{ estimate_item.id }}"
                       value="{{ estimate_item.quantity }}">
            </td>
            <td class="text-right">
                <input type="text" class="text-right form-control-sm quantity"
                       value="{{ estimate_item.quantity }}"
                       name="quantity_{{ estimate_item.id }}"
                       id="quantity_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                />
            </td>
            <td class="text-right">
                -
            </td>
            <td class="text-right">
                -
            </td>
            <td class="text-right">
                {{ estimate_item.price|money }}
                <input type="hidden" class="form-control form-control-sm price"
                       name="price_{{ estimate_item.id }}"
                       id="price_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.price }}" />

            </td>
            <td class="text-right">
                {{ estimate_item.price_including|money }}
                <input type="hidden" class="form-control form-control-sm price-including"
                       name="price_including_{{ estimate_item.id }}"
                       id="price_including_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.price_including }}" />
                <input type="hidden" class="sub-total"
                       name="sub_total_{{ estimate_item.id }}"
                       id="sub_total_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}"
                       value="{{ estimate_item.sub_total }}" />
            </td>
            <td class="text-left">
                <span class="price" id="_discount_percentage_{{ estimate_item.id }}">{{ estimate_item.discount|money }}</span>
                <input type="hidden" class="form-control form-control-sm discount" value="{{ estimate_item.discount|money }}"
                       name="discount_percentage_{{ estimate_item.id }}"
                       id="discount_percentage_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}" />
            </td>
            <td class="text-right">
                <span class="discount-amount" id="discount_amount_{{ estimate_item.id }}"
                      data-item-id="{{ estimate_item.id }}">{{ estimate_item.discount_amount|money }}</span>
                <input type="hidden" class="form-control form-control-sm total-discount"
                       value="{{ estimate_item.total_discount_amount }}" readonly="readonly"
                       name="total_discount_{{ estimate_item.id }}"
                       id="total_discount_{{ estimate_item.id }}"
                       data-item-id="{{ estimate_item.id }}" />
            </td>
            <td class="text-right">
                <span class="price-exc" id="total_price_exl_{{ estimate_item.id }}" data-item-id="{{ estimate_item.id }}">
                    {{ estimate_item.total_price_excluding|money }}
                </span>
                <input type="hidden" value="{{ estimate_item.total_price_excluding }}"
                       name="total_price_excluding_{{ estimate_item.id }}"
                       id="total_price_excluding_{{ estimate_item.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ estimate_item.id }}" data-item-id="{{ estimate_item.id }}">
                    {{ estimate_item.vat_amount|money }}
                </span>
                <input type="hidden" value="{{ estimate_item.vat_code.id }}"
                       name="vat_code_{{ estimate_item.id }}"
                       id="vat_code_{{ estimate_item.id }}"
                       data-percentage="{{ estimate_item.vat_code.percentage }}"
                       class="vat vat-codes"
                       data-item-id="{{ estimate_item.id }}"
                       data-text="{{ estimate_item.vat_code }}"
                />
                <input type="hidden" value="{{ estimate_item.vat }}"
                       name="vat_percentage_{{ estimate_item.id }}"
                       id="vat_percentage_{{ estimate_item.id }}"
                       class="vat-percentage"
                />
                <input type="hidden"
                       name="total_vat_{{ estimate_item.id }}"
                       id="total_vat_{{ estimate_item.id }}"
                       class="total-vat total-vat-amount"
                       value="{{ estimate_item.total_vat_amount }}"
                />
                <input type="hidden"
                       name="vat_amount_{{ estimate_item.id }}"
                       id="vat_amount_{{ estimate_item.id }}"
                       class="vat-amount"
                       value="{{ estimate_item.vat_amount }}"
                />
            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ estimate_item.id }}">{{ estimate_item.total_price_including|money }}</span>
                <input type="hidden" value="{{ estimate_item.total_price_including|money }}"
                       name="total_price_including_{{ estimate_item.id }}"
                       id="total_price_including_{{ estimate_item.id }}"
                       class="total-price-incl open-input" />
            </td>
        </tr>
    {% elif estimate_item.is_description %}
        <tr id="sales_item_{{ estimate_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ estimate_item.id }}"
             data-estimate-id="{{ estimate_item.id }}"
        >
            <td>
                {{ estimate_item.item_type }}
            </td>
            <td>
                <input type="hidden" name="description_{{ estimate_item.id }}" value="{{ estimate_item.description }}" />
                <input type="hidden" name="id_{{ estimate_item.id }}" value="{{ estimate_item.id }}" />
            </td>
            <td colspan="11">{{ estimate_item.description }}</td>
        </tr>
    {% endif %}
{% endfor %}