{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %}  {% endblock page_title %}
{% block content %}
    <style type="text/css">
        tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">Version Log</h5>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Version</th>
                        <th>Major</th>
                        <th>Minor</th>
                        <th>Revision</th>
                        <th>Valid From</th>
                    </tr>
                </thead>
                <tbody>
                    {% if version_logs %}
                        {% for version_log in version_logs %}
                            <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_role' role.id %}">
                               <td>{{ version_log.label }}</td>
                               <td>{{ version_log.version }}</td>
                                <td>{{ version_log.major }}</td>
                                <td>{{ version_log.minor }}</td>
                                <td>{{ version_log.revision }}</td>
                                <td>{{ version_log.valid_from }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no version logs available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}