{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Opening Balances - {{ year }} {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">

            </div>
            <div class="pull-right">
                <button class="btn btn-success btn-large" type="button" id="copy_opening_balances"
                        data-ajax-url="{%  url 'copy_fixed_asset_previous_year_balances' year.id %}"
                ><i class="fa fa-copy"></i>  Copy opening balances</button>
            </div>
      </div>
      <div class="panel-body align-center">
            <div class="table-responsive">
                <table class="table table-bordered table-condensed" width="100%">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Asset Description</th>
                            <th class="text-right">Original Cost</th>
                            <th class="text-right">Opening Cost</th>
                            <th class="text-right">Opening Acc. Depr</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, category_assets in categories.items %}
                            <tr>
                                <th class="table-header" colspan="5">{{ category }}</th>
                            </tr>
                            {% for asset in category_assets.assets %}
                                <tr class="fixed-asset-row">
                                    <td></td>
                                    <td>{{ asset.name }}</td>
                                    <td class="text-right">{{ asset.cost_price|money }}</td>
                                    <td class="text-right">
                                        <input type="text" value="{{ asset.opening_value }}"
                                               data-asset-id="{{ asset.id }}"
                                               id="opening_balance_{{ asset.id }}"
                                               name="opening_balance[{{ asset.id }}]"
                                               data-ajax-url="{% url 'update_year_fixed_asset_balance' fixed_asset_id=asset.id %}"
                                               class="form-control fixed-asset-opening-balance text-right"
                                        >
                                    </td>
                                    <td class="text-right">
                                        <input type="text" value="{{ asset.opening_depreciation }}"
                                               data-asset-id="{{ asset.id }}"
                                               id="opening_depreciation_value_{{ asset.id }}"
                                               name="opening_depreciation_value_[{{ asset.id }}]"
                                               data-ajax-url="{% url 'update_year_fixed_asset_balance' fixed_asset_id=asset.id %}"
                                               class="form-control fixed-asset-opening-balance text-right"
                                        >
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr class="totals-row">
                                    <td></td>
                                    <td><strong>Total {{ category }}</strong></td>
                                    <td></td>
                                    <td class="text-right">
                                        <span id="balances_total_{{ category.id }}">{{ category_assets.total_assets_value|money }}</span>
                                    </td>
                                    <td class="text-right">
                                        <span id="balances_total_{{ category.id }}">{{ category_assets.total_depreciation_value|money }}</span>
                                    </td>
                                </tr>
                        {% empty %}
                            <tr>
                                <td colspan="10">There no accounts</td>
                            </tr>
                        {% endfor %}
                            <tr class="totals-row">
                                <td><strong>Total</strong></td>
                                <td colspan="2"></td>
                                <td class="text-right">
                                    <span id="balances_total">{{ total|money }}</span>
                                </td>
                                <td class="text-right">
                                    <span id="balances_total">{{ total_depreciation|money }}</span>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fixed_asset.js' %}"></script>
{% endblock %}