{% load static %}
{% load widget_tweaks %}
{% load invoice_tags report_tags %}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="pull-right float-right">
        <table class="table">
            <tr>
                <td colspan="2">Page 1</td>
            </tr>
            <tr>
                <td>Printed</td>
                <td>{{ print_date }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Balance sheet report</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
            <tr>
                <td>Balance sheet for</td>
                <td>{{ report_title }}</td>
            </tr>
            <tr>
                <td>Report for period(s)</td>
                <td></td>
            </tr>
            <tr>
                <td>Period dates(s)</td>
                <td>{{ start_date }} - {{ end_date }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 text-right">
        {% updates_summary company year start_date end_date %}
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed" width="100%">
                        <thead>
                            <tr class="primary-head">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="text-right">Ingoing Balance</th>
                                 {% if show_movement %}
                                    <th class="text-right">Movement Balance</th>
                                 {% endif %}
                                <th class="text-right">Period</th>
                                <th class="text-right">Outgoing Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="journal-account-row">
                                <td colspan="{% if show_movement %}7{% else %}6{% endif %}" class="text-left"><strong>ASSETS</strong></td>
                            </tr>

                            {% for report_type, report_accounts in balance_sheet.assets.items %}
                                <tr class="journal-account-row">
                                    <td></td>
                                    <td colspan="{% if show_movement %}6{% else %}5{% endif %}">
                                        {% if report_type.slug %}
                                            <strong><a href="{% url 'report_type_lines' year_id=year.id slug=report_type.slug %}">{{ report_type.name }}</a></strong>
                                        {% else %}
                                            {{ report_type.name }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% for account, account_line in report_accounts.accounts.items %}
                                    <tr>
                                        <td></td>
                                        <td>{{ account.name }}</td>
                                        <td>{{ account.code }}</td>
                                        <td class="text-right">{{ account_line.incoming|money:include_cents }}</td>
                                        {% if show_movement %}
                                            <td class="text-right">{{ account_line.movement_amount|money:include_cents }}</td>
                                        {% endif %}
                                        <td class="text-right">{{ account_line.period_amount|money:include_cents }}</td>
                                        <td class="text-right">{{ account_line.outgoing|money:include_cents }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td colspan="2"><strong>Subtotal {{ report_type.1 }}</strong>:</td>
                                    <td class="text-right"><strong>{{ report_accounts.incoming|money:include_cents }}</strong></td>
                                    {% if show_movement %}
                                        <td class="text-right"><strong>{{ report_accounts.movement_amount|money:include_cents }}</strong></td>
                                    {% endif %}
                                    <td class="text-right"><strong>{{ report_accounts.period_amount|money:include_cents }}</strong></td>
                                    <td class="text-right"><strong>{{ report_accounts.outgoing|money:include_cents }}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="{% if show_movement %}7{% else %}6{% endif %}"><hr /></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="text-right"><strong>Total Assets</strong></td>
                                <td class="text-right"><strong>{{ balance_sheet.total_incoming_asset|money:include_cents }}</strong></td>
                                {% if show_movement %}
                                    <td class="text-right"><strong>{{ balance_sheet.total_movement_asset|money:include_cents }}</strong></td>
                                {% endif %}
                                <td class="text-right"><strong>{{ balance_sheet.total_period_asset|money:include_cents }}</strong></td>
                                <td class="text-right"><strong>{{ balance_sheet.total_outgoing_asset|money:include_cents }}</strong></td>
                            </tr>
                            <tr>
                                <td colspan="{% if show_movement %}7{% else %}6{% endif %}">&nbsp;</td>
                            </tr>
                            <tr class="journal-account-row">
                                <td colspan="{% if show_movement %}7{% else %}6{% endif %}" class="text-left"><strong>LIABILITIES AND EQUITY</strong></td>
                            </tr>
                            {% for report_type, liabilities_accounts in balance_sheet.liabilities.items %}
                                <tr class="journal-account-row">
                                    <td></td>
                                    <td colspan="{% if show_movement %}6{% else %}5{% endif %}"><strong>{{ report_type.name }}</strong></td>
                                </tr>
                                {% for account, account_line in liabilities_accounts.accounts.items %}
                                    <tr>
                                        <td></td>
                                        <td>{{ account.name }}</td>
                                        <td>{{ account.code }}</td>
                                        <td class="text-right">{{ account_line.incoming|money:include_cents }}</td>
                                        {% if show_movement %}
                                            <td class="text-right">{{ account_line.movement_amount|money:include_cents }}</td>
                                        {% endif %}
                                        <td class="text-right">{{ account_line.period_amount|money:include_cents }}</td>
                                        <td class="text-right">{{ account_line.outgoing|money:include_cents }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td colspan="2"><strong>Subtotal {{ report_type.1 }}</strong>:</td>
                                    <td class="text-right"><strong>{{ liabilities_accounts.incoming|money:include_cents }}</strong></td>
                                    {% if show_movement %}
                                        <td class="text-right"><strong>{{ liabilities_accounts.movement_amount|money:include_cents }}</strong></td>
                                    {% endif %}
                                    <td class="text-right"><strong>{{ liabilities_accounts.period_amount|money:include_cents }}</strong></td>
                                    <td class="text-right"><strong>{{ liabilities_accounts.outgoing|money:include_cents }}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="7">&nbsp;</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="text-right">Total Liabilities and Own Capital</td>
                                <td class="text-right"><strong>{{ balance_sheet.total_incoming_liabilities|money:include_cents }}</strong></td>
                                {% if show_movement %}
                                    <td class="text-right"><strong>{{ balance_sheet.total_movement_liabilities|money:include_cents }}</strong></td>
                                {% endif %}
                                <td class="text-right"><strong>{{ balance_sheet.total_period_liabilities|money:include_cents }}</strong></td>
                                <td class="text-right"><strong>{{ balance_sheet.total_outgoing_liabilities|money:include_cents }}</strong></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">Total</td>
                                <td class="text-right"><strong>{{ balance_sheet.total_incoming|money:include_cents }}</strong></td>
                                {% if show_movement %}
                                    <td class="text-right"><strong>{{ balance_sheet.total_movement|money:include_cents }}</strong></td>
                                {% endif %}
                                <td class="text-right"><strong>{{ balance_sheet.total_period|money:include_cents }}</strong></td>
                                <td class="text-right"><strong>{{ balance_sheet.total_outgoing|money:include_cents }}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>