{% extends 'base.html' %}
{% block page_title %} File Types {% endblock page_title %}
{% block content %}
<div class="panel-heading clearfix">
    <div class="pull-left"></div>
    <div class="pull-right">
        <a href="{% url 'create_master_file_type' master_company_id=company.id %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus"></i> New
        </a>
    </div>
</div>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Module</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% if file_types %}
                    {% for file_type in file_types %}
                        <tr onclick="openDetail(this)"
                            data-detail-url="{% url 'edit_master_file_type' master_company_id=company.id pk=file_type.id %}">
                            <td>{{ file_type.name }}</td>
                            <td>{{ file_type.module_name }}</td>
                            <td class="text-left actions">
                                <a href="{% url 'edit_master_file_type' master_company_id=company.id pk=file_type.id %}"
                                   data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'delete_master_file_type' master_company_id=company.id pk=file_type.id %}"
                                   onclick="return confirm('Are you sure you want to delete this file type')"
                                   data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">There are no file types </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}