{% extends 'modal.html' %}
{% load static i18n %}
{% block title %} {% translate "Generate Vat Report" %} {{ year }} {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="create_vat_report" name="create_vat_report"
    action="{% url 'create_vat_report' %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate "Cancel" %}</button>
        <button class="btn btn-primary btn-large" name="create_vat_report_submit"
                data-loading-text="<i class='fa fa-spinner'></i> Processing"
                type="button" id="create_vat_report_submit"><i class="fa fa-forward"></i> {% translate "Genreate" %}</button>
    </div>
</form>
{% endblock %}