{% extends 'base.html' %}
{% load static i18n %}
{% load invoice_tags %}
{% block page_title %} Current vat processed - {{ vat_report }} {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left"></div>
          <div class="pull-right">
             <a href="{% url 'view_vat_report' vat_report.id %}?print=1" type="button" class="btn btn-primary btn-sm print"
                   data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</a>
              &nbsp;&nbsp;|&nbsp;&nbsp;
             <a href="{% url 'vat_report' %}" id="previous_level" class="btn btn-default btn-sm"> {% translate "Prev. Level" %}</a>
          </div>
      </div>
      <div class="panel-body align-center" id="vat_report_document">
          {% include "vat/vat_lines.html" %}
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}