{% extends 'base.html' %}
{% load static i18n %}
{% load compress %}
{% load invoice_tags %}
{% block page_title %} {% translate "Vat Report" %} - {{ year }} {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <button id="generate_vat_report" class="btn btn-large btn-success"
                data-modal="{% url 'create_vat_report' %}"
        >{% translate "Run Vat Report" %}</button>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% translate "Vat Period" %}</th>
                    <th class="text-right">{% translate "Turnover Inc" %}</th>
                    {% for vat_type in vat_types %}
                        {% if vat_type.is_output %}
                            <th class="text-right">{{ vat_type.label }}</th>
                        {% endif %}
                    {% endfor %}
                    <th class="text-right">{% translate "Turnover Excl" %}</th>
                    {% for vat_type in vat_types %}
                        {% if vat_type.is_input %}
                            <th class="text-right">{{ vat_type.label }}</th>
                        {% endif %}
                    {% endfor %}
                    <th class="text-right">{% translate "Net Due/Receivable" %}</th>
                </tr>
            </thead>
            <tbody>
                {% if vat_reports.items|length > 0 %}
                    {% for k, vat_report in vat_reports.items %}
                        <tr class="vat-report-row" onclick="openDetail(this)" data-detail-url="{% url 'view_vat_report' vat_report.report.id %}">
                            <td>{{ vat_report.report }}</td>
                            <td class="text-right">{{ vat_report.turnover_incl|money }}</td>
                            {% for v, report_vat_type in vat_report.vat_types.items %}
                                {% if v.is_output %}
                                    <td class="text-right">{{ report_vat_type.total|money }}</td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-right">{{ vat_report.turnover_excl|money }}</td>
                            {% for v, report_vat_type in vat_report.vat_types.items %}
                                {% if v.is_input %}
                                    <td class="text-right">{{ report_vat_type.total|money }}</td>
                                {% endif %}
                            {% endfor %}
                            <td class="text-right">{{vat_report.total|money}}</td>
                        </tr>
                   {% endfor %}
               {% else %}
                    <tr>
                        <td colspan="4">{% translate "No vat reports available" %}</td>
                        {% for vat_type in vat_types %}
                            <td></td>
                        {% endfor %}
                    </tr>
               {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vat_report.js' %}"></script>
    {% endcompress %}
{% endblock %}