{% extends 'base.html' %}
{% load static i18n %}
{% load compress %}
{% load invoice_tags %}
{% block page_title %}{% translate 'Current vat transactions to be processed' %}{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left"></h5>
        </div>
        <div class="pull-right">
          <div class="pull-left"></div>
          <div class="pull-right">
            <button type="button" id="save_vat_report"
                    data-ajax-url="{% url 'save_vat_report' month %}"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    class="btn btn-large btn-success"><i class='fa fa-folder'></i> {% translate 'File' %}</button>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="?print=1" type="button" class="btn btn-primary btn-sm print"
                 data-toggle="tooltip"><i class="fa fa-print"></i> {% translate "Print" %}</a>
              &nbsp;&nbsp;|&nbsp;&nbsp;
             <a href="{% url 'vat_report' %}" id="previous_level" class="btn btn-default btn-sm"> {% translate "Prev. Level" %}</a>
          </div>

        </div>
    </div>
    <div class="panel-body align-center">
        <div class="table-responsive">


            <table class="table table-bordered" width="100%">
                <tr>
                    <th>{% translate 'Vat Period' %}:</th>
                    <th>{{ category_period }}</th>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </table>
            {% include 'vat/vat_lines.html' %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vat_report.js' %}"></script>
    {% endcompress %}
{% endblock %}