{% load static i18n %}
{% load invoice_tags %}
<table class="table table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th colspan="2">&nbsp;</th>
        </tr>
        <tr>
            <th class="text-center">Vat Report</th>
            <th class="text-center">Balance Sheet Total</th>
        </tr>
    </thead>
    <tbody>
        <td class="text-center">
            <h1 class="huge {% if is_balancing %}text-success{% else %}text-danger{% endif %}">{{ vat_total|money:0 }}</h1>
        </td>
        <td class="text-center">
            <h1 class="huge {% if is_balancing %}text-success{% else %}text-danger{% endif %}">{{ balance_sheet_total|money:0 }}</h1>
        </td>
    </tbody>
</table>