{% load i18n %}
{% load invoice_tags %}
<div class="panel-body align-center" id="vat_report_document">
    {% for vat_code, vat_code_lines in journal_lines.items %}
        <div class="table-responsive" style="margin-bottom: 10px;">
            <h4>{{vat_code_lines.vat_code}}</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{% translate "Accounting Date" %}</th>
                        <th>{% translate "Document Date" %}</th>
                        <th>{% translate "Docuflow" %}</th>
                        <th>{% translate "Module" %}</th>
                        <th>{% translate "Journal" %}</th>
                        <th>{% translate "Journal Text" %}</th>
                        <th>{% translate "Supplier" %}</th>
                        <th>{% translate "Document Number" %}</th>
                        <th>{% translate "Document Type" %}</th>
                        <th class="text-right">{% translate "Excluding" %}</th>
                        <th class="text-right">{% translate "Vat" %}</th>
                        <th class="text-right">{% translate "Include" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vat_line in vat_code_lines.lines %}
                        <tr class="journal-line-row" style="border: #8c8c8c 1px solid; background-color: #f5f2f2;"
                            {% if vat_line.invoice %}
                                 onclick="openDetail(this)"
                                 data-detail-url="{% url 'invoice_detail' vat_line.invoice.id %}"
                            {% elif vat_line.sales_invoice %}
                                 onclick="openDetail(this)"
                                 data-detail-url="{% url 'view_sales_invoice' vat_line.sales_invoice.id %}"
                            {% elif vat_line.payment %}
                                 onclick="openDetail(this)"
                                 data-detail-url="{% url 'payment_advice' vat_line.payment.id %}"
                            {% else %}
                                 onclick="openDetail(this)"
                                 data-detail-url="{% url 'journal_lines' vat_line.journal_id %}"
                            {% endif %}
                            >
                            <td>{{ vat_line.accounting_date }}</td>
                            <td>
                                 {% if vat_line.invoice %}
                                    {{ vat_line.invoice.invoice_date }}
                                 {% elif vat_line.sales_invoice %}
                                    {{ vat_line.sales_invoice.invoice_date }}
                                 {% elif vat_line.payment %}
                                    {{ vat_line.payment.payment_date }}
                                 {% else %}
                                    {{ vat_line.journal.date }}
                                 {% endif %}
                            </td>
                            <td>
                                 {% if vat_line.invoice %}
                                    {{ vat_line.invoice }}
                                 {% elif vat_line.sales_invoice %}
                                    {{ vat_line.sales_invoice }}
                                 {% elif vat_line.payment %}
                                    {{ vat_line.payment }}
                                 {% else %}
                                    {{ vat_line.journal }}
                                 {% endif %}
                            </td>
                            <td>{{ vat_line.journal.module }}</td>
                            <td>{{ vat_line.journal.journal_number }}</td>
                            <td>
                                {% if not vat_line.text %}
                                    {{ vat_line.journal.journal_text }}
                                {% else %}
                                    {{ vat_line.text }}
                                {% endif %}
                            </td>
                            <td>
                                {% if vat_line.supplier %}
                                    {{ vat_line.supplier }}
                                {% elif vat_line.invoice and vat_line.invoice.supplier %}
                                    {{ vat_line.invoice.supplier }}
                                {% elif vat_line.payment and vat_line.payment.supplier %}
                                    {{ vat_line.payment.supplier }}
                                {% elif vat_line.sales_invoice and vat_line.sales_invoice.customer %}
                                    {{ vat_line.sales_invoice.customer }}
                                {% endif %}
                            </td>
                            <td>
                                 {% if vat_line.invoice %}
                                    {{ vat_line.invoice.invoice_number }}
                                 {% elif vat_line.sales_invoice %}
                                    {{ vat_line.sales_invoice.invoice_number }}
                                 {% elif vat_line.payment.reference %}
                                    {{ vat_line.payment.reference }}
                                {% endif %}
                            </td>
                            <td>
                                {% if vat_line.invoice %}
                                    {{ vat_line.invoice.invoice_type }}
                                {% elif vat_line.sales_invoice %}
                                    {{ vat_line.sales_invoice.invoice_type }}
                                {% elif vat_line.payment.payment_type_name %}
                                    {{ vat_line.payment.payment_type_name }}
                                {% else %}
                                    Journal
                                {% endif %}
                            </td>
                            <td class="text-right">{{ vat_line.excluding_vat|money }}</td>
                            <td class="text-right">{{ vat_line.line_vat_amount|money }}</td>
                            <td class="text-right">{{ vat_line.including_vat|money }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="9">&nbsp;</td>
                        <td class="text-right"><strong>{{vat_code_lines.total_net|money}}</strong></td>
                        <td class="text-right"><strong>{{vat_code_lines.total_vat|money}}</strong></td>
                        <td class="text-right"><strong>{{vat_code_lines.total|money}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>