<div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Note</th>
                <th>By</th>
                <th>Date</th>
                <th>Attachment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if comments %}
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.note }}</td>
                        <td>{{ comment.by }}</td>
                        <td>{{ comment.created_at }}</td>
                        <td class="text-left actions">
                            {% if comment.attachment %}
                                <a href="{{ upload_url }}{{ comment.attachment }}" target="_blank">
                                    <i class="fa fa-paperclip"></i>
                                </a>
                            {% elif comment.link_url %}
                                <a href="{{ comment.link_url  }}" target="_blank">
                                    <i class="fa fa-paperclip"></i>
                                </a>
                            {% elif comment.is_linked %}
                                <a href="{% url 'invoice_detail' comment.linked_invoice.id %}" target="_blank">
                                    <i class="fa fa-paperclip"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="text-left actions not-editable">
                            {% if comment.can_edit_delete %}
                                <a href="javascript:void(0)" id="edit_invoice_comment_{{ account.id }}"
                                   class="delete-invoice-comment text-danger"
                                   data-invoice-id="{{ comment.id }}"
                                   data-account-id="{{  comment.id }}"
                                   data-modal="{% url 'edit_invoice_comment' comment.id %}"><i class="fa fa-pencil"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="{% url 'delete_invoice_comment' comment.id %}"
                                   id="delete_invoice_comment_{{ account.id }}"
                                   class="delete-invoice-comment text-danger"
                                   onclick="return confirm('Are you sure you want to delete this comment')"
                                   data-invoice-id="{{ comment.id }}"
                                   data-account-id="{{  comment.id }}"
                                   ><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">There are no comments available</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

</div>