{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Server error' %}{% endblock %}

{% block content %}
    <style>
    @import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
        * {
          position: relative;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

        .centered {
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        h1 {
          margin-bottom: 50px;
          font-family: 'Lato', sans-serif;
          font-size: 50px;
        }

        .message {
          display: inline-block;
          line-height: 1.2;
          transition: line-height .2s, width .2s;
          overflow: hidden;
        }

        .message,
        .hidden {
          font-family: 'Roboto Slab', serif;
          font-size: 18px;
        }

        .hidden {
          color: #FFF;
        }
    </style>
    <section class="centered">
        <h1>{% trans '500 Server Error' %}</h1>
        <p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>
        <ul class="list-inline">
            {% if user.is_authenticated %}
                <li><a href="{% url 'all-invoices' %}">Home</a></li>
            {% else %}
                <li><a href="{% url 'homepage' %}">Home</a></li>
            {% endif %}
            <li><a href="javascript:history.back(-1)">Back</a></li>
        </ul>
        {% if request.sentry.id %}
            <p>{% trans 'If you need assistance, you may reference this error via the following identifier:' %}</p>
            <p><strong>{{ request.sentry.id }}</strong></p>
        {% endif %}
    </section>
{% endblock %}
