{% load static %}
{% load thumbnail %}
{% load compress %}
<html lang="en">
<head>
  <title>Docuflow {% block title %}  {% endblock %}</title>
  {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/fancybox/jquery.fancybox.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'js/jquery/datetimepicker/bootstrap-datetimepicker.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/usebootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'bundles/css/style.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'js/jquery/jquery-ui/jquery-ui.css' %}" />
      <link rel="stylesheet" media="print" href="{% static 'css/bootstrap.min.css' %}">
    {% endcompress %}
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  {{ form.media.css }}
  {% block stylesheet %}{% endblock stylesheet %}
</head>
<body>
<div id="container">
    {% include 'header.html' %}
    {% with hideCol=False %}
        {% include 'column_left.html' %}
    {% endwith %}
    <div id="content"  class="active">
      <div class="page-header">
        <div class="container-fluid">
           <div class="pull-right">
            {% block actions %} {% endblock %}
          </div>
          <div class="page-title">
            {% if headline %}
                {{ headline }}
            {% else %}
                {% block page_title %}{% endblock %}
            {% endif %}
          </div>

        </div>
      </div>
      <div class="container-fluid">
          {% include 'common/messages.html' %}

          {% block content %}<!-- default content text (typically empty) -->{% endblock %}
      </div>
    </div>
</div>
<script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
{% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery-ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.fancybox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/loadingoverlay.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/notify/bootstrap-notify.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/accounting.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/chosen/chosen.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/chosen/chosen.ajaxaddition.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/lodash.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
{% endcompress %}
{{ form.media.js }}

{% block javascript %}{% endblock %}
</body>
</html>