{% load role_menu %}
{% load invoice_tags %}
{% load company_tags %}
{% if hideCol %}
{% else %}
    <nav id="column-left" >
        {% display_role_menu request.session.role request.session.profile request.session.company %}
        <div id="stats" class="sidebar-nav">
            {% if request.session.role %}
               {% role_stats request.session.role request.session.profile request.session.company %}
            {% endif %}
        </div>
    </nav>
{% endif %}