<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body>
    <table class="wrapper" width="100%" cellpadding="0" cellspacing="0" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #0c1e50;margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
      <tr>
        <td align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
          <table class="content" width="100%" cellpadding="0" cellspacing="0" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
            <tr>
              <td class="header" style="color: #ffffff; font-weight: bolder; font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 25px 0; text-align: center;">
                <a href="https://docuflow.co.za" class="f-fallback email-masthead_name" style="color: #ffffff !important;">
                    Docuflow.co.za
                </a>
              </td>
            </tr>
            <!-- Email Body -->
            <tr>
              <td class="body" width="100%" cellpadding="0" cellspacing="0" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; border-bottom: 1px solid #edeff2; border-top: 1px solid #edeff2; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                <table class="inner-body" align="center" width="1000" cellpadding="0" cellspacing="0" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; margin: 0 auto; padding: 0; width: 1000px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 1000px;">
                    <!-- Body content -->
                    <tr>
                        <td class="content-cell" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                            {% block content %}{% endblock %}
                            <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                               <tr>
                                  <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">
                                    Regards,
                                    <br> <a href="https://docuflow.co.za">Docuflow.co.za</a> team
                                  </td>
                               </tr>
                            </table>
                        </td>
                    </tr>
                </table>
              </td>
            </tr>
            <tr>
                <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #fff;">
                    <table class="footer" align="center" width="1000" cellpadding="0" cellspacing="0" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0 auto; padding: 0; text-align: center; width: 1000px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 1000px; font-size: 12px; line-height: 1.2em; ">
                        <tr>
                            <td class="content-cell" align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 2px;">
                                <p style="font-weight: bolder; color: #ffffff; font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; line-height: 1.2em; margin-top: 0; font-size: 12px; text-align: center;">{{ company }}.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-cell" align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 5px;">
                                <p style="font-weight: bolder; color: #ffffff; font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; line-height: 1.2em; margin-top: 0; font-size: 12px; text-align: center;">© {% now 'Y' %} Docuflow. All rights reserved.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>