{% load static %}
{% load thumbnail %}
{% load compress %}
<html lang="en">
<head>
  {% block title %}<title>Docuflow Invoices</title>{% endblock %}
  {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/fancybox/jquery.fancybox.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'js/jquery/datetimepicker/bootstrap-datetimepicker.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/usebootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'js/jquery/jquery-ui/jquery-ui.css' %}" />
  {% endcompress %}
  <style>

  </style>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  {% block stylesheet %}{% endblock stylesheet %}
</head>
<body>
<div id="container">
    {% with hideCol=True %}
        {% include 'column_left.html' %}
    {% endwith %}

    <div id="content"  class="active">
      <div class="container-fluid">
          {% include 'common/messages.html' %}

          {% block content %}<!-- default content text (typically empty) -->{% endblock %}
      </div>
    </div>
</div>
<script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/jquery-ui/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/notify/bootstrap-notify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/loadingoverlay.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/accounting.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/chosen/chosen.jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}?"></script>
{% endcompress %}
<script type="text/javascript">
    // using jQuery
   $(function(){
        $("#search").on('click', function(){
           $("#show_captured_invoice").submit();
        });
       
       var chosenSelect = $(".chosen-select");
       if (chosenSelect.length) {
          chosenSelect.chosen();
       }

   });
</script>
{% block javascript %}{% endblock %}
</body>
</html>