{% load static %}
{% load role_tags %}
{% load company_tags %}
<header id="header" class="navbar navbar-static-top">
  <div class="container-fluid">
      <div id="header-logo" class="navbar-header">
        <a href="{{ home }}" class="navbar-brand logo">
            <img class="img-logo" src="{% static 'images/df_logo.png' %}" alt="{{ heading_title }}" title="{{ heading_title }}" />
        </a>
      </div>
      <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
         <i class="glyphicon glyphicon-align-left"></i>
         <span></span>
       </button>
    <a href="#" id="button-menu" class="hidden-md hidden-lg"><span class="fa fa-bars"></span></a>
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_staff %}
                 <li><a href="{% url 'user_logout' %}"><i class="fa fa-sign-out"></i> <span class="hidden-xs hidden-sm hidden-md">Logout</span></a></li>
              {% elif request.session.profile %}
                 {% currency request.session.company %}
                 {% temporary_profiles request.session.profile request.session.user request.session.company %}
                 {% profile_roles request.session.profile request.session.user request.session.company request.session.role %}
                 {% profile_branches request.session.profile request.session.company %}

                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% current_year request.session %}<i class="fa fa-caret-down fa-fw"></i>
                     </a>
                    {% profile_years request.session.profile request.session.company request.session.profile_year_id %}
                 </li>
    {#          <li class="dropdown">#}
    {#              <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
    {#                  Notifications<i class="fa fa-caret-down fa-fw"></i>#}
    {#              </a>#}
    {#          </li>#}
                <li><a href="{% url 'company_user_logout' %}"><i class="fa fa-sign-out"></i> <span class="hidden-xs hidden-sm hidden-md">Logout</span></a></li>
             {% endif %}
        </ul>
    {% endif %}
  </div>
</header>