{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>Docuflow</title>{% endblock %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/docuflow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/frontend/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/frontend/ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/frontend/responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery/jquery-ui/jquery-ui.css' %}" />
{% endcompress  %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block stylesheet %}{% endblock stylesheet %}
</head>
<body>

<header class="section-header" style="background-color: #0C1E50 !important;">

    <nav class="navbar navbar-dark navbar-expand p-0">
        <div class="container">
            <ul class="navbar-nav d-none d-md-flex mr-auto">

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="tel:0414502777" class="nav-link">041-450 2777</a></li>
                <li class="nav-item dropdown"><a class="nav-link" href="mailto:info@docuflow.co.za">info@docuflow.co.za</a></li>
            </ul> <!-- list-inline //  -->
        </div> <!-- container //  -->
    </nav> <!-- header-top-light.// -->

    <section class="border-bottom">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'homepage' %}"><img class="logo" src="/static/images/logo.jpg"></a>
                <a href="" class="btn btn-light d-md-none">My cart (2)</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav1" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="widgets-wrap d-none d-md-block">
                    <div class="collapse navbar-collapse" id="main_nav1">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'plans_pricing' %}">plans & pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'homepage' %}#features">features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">support</a>
                            </li>
                            <li class="nav-item">
                            {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                    <a href="{% url 'my-companies' %}" class="nav-link">dashboard</a>
                                {% else %}
                                    <a href="{% url 'all-invoices' %}" class="nav-link">dashboard</a>
                                {% endif %}
                            {% else %}
                                <a class="nav-link" href="{% url 'plans_pricing' %}">sign up</a>
                            {% endif %}
                            </li>
                        </ul>
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- collapse .// -->
            </div> <!-- container .// -->
        </nav>
    </section>
</header> <!-- section-header.// -->

{% block content %}
{% endblock %}

<!-- ========================= FOOTER ========================= -->

<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-12 text-center">
				<p class="text-muted"> <img src="/static/images/footer_logo.png">
                    &copy {% now 'Y' %} Docuflow </p>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
{% compress js %}
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/notify/bootstrap-notify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/jquery-ui/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/loadingoverlay.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/accounting.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}? %}"></script>
<script type="text/javascript" src="{% static 'js/docuflow.js' %}"></script>
{% endcompress %}
{% block javascript %}{% endblock %}
</body>
</html>