{% load static %}
{% load thumbnail %}
<html lang="en">
<head>
  <title>Docuflow - {% block title %}  {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/print/bootstrap2.css' %}?d3f6e75ss804fcabae0b92ffbb43c7656d" />
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<style type="text/css">
    .left-pad {
         padding-left: 3px !important;
    }
    .right-pad {
         padding-right: 3px !important;
    }
</style>
  {% block stylesheet %}{% endblock stylesheet %}
</head>
<body onload="beforePrint()">
  <div class="container-fluid">
    {% block content %}<!-- default content text (typically empty) -->{% endblock %}
  </div>
  {% block javascript %}{% endblock %}
  <script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
  <script>
        function beforePrint() {
            $('.invoice-col').matchHeight();
        }
  </script>
</body>
</html>