<div class="modal modal-ajax" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% block title %} {% endblock %}</h4>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
