{% load static %}
{% load thumbnail %}
<html lang="en">
<head>
  {% block title %}<title>Docuflow Invoices</title>{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/usebootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/fancybox/jquery.fancybox.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery/datetimepicker/bootstrap-datetimepicker.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'js/jquery/jquery-ui/jquery-ui.css' %}" />
  {% block stylesheet %}{% endblock stylesheet %}
</head>
<body>
<div id="container">
    {% include 'header.html' %}
    {% include 'column_left.html' %}
    <div id="content" class="active">
      <div class="container-fluid">
          {% include 'common/messages.html' %}
            <div class="panel panel-primary">
              <div class="panel-heading clearfix">
                  <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">{% block page_title %}{% endblock %}</h5>
                  <div class="btn-group pull-right">
                        <div class="form-group pull-right">
                            {% block actions %} {% endblock %}
                        </div>
                  </div>
              </div>
              <div class="panel-body">
                  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
              </div>
            </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/jquery-ui/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/usebootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/loadingoverlay.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/datetimepicker/moment/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/notify/bootstrap-notify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>


{% block javascript %}{% endblock %}
</body>
</html>