{% load static %}
{% load compress %}
<html lang="en">
<head>
  {% block title %}<title>Docuflow</title>{% endblock %}
  {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/usebootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}" />
  {% endcompress %}
</head>
<body class="login">
    <div class="container">
      <h3>{% block page_title %}{% endblock %}</h3>
      {% include 'common/messages.html' %}
      {% block content %}<!-- default content text (typically empty) -->{% endblock %}

    </div>
{% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/loadingoverlay.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/usebootstrap.js' %}"></script>
{% endcompress %}
{% block javascript %}{% endblock %}
</body>
</html>