{% extends 'base.html' %}
{% load static %}
{% block page_title %} Create Workflow {% endblock page_title %}
{% block content %}

  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}
       <div class="panel-heading">Flow</div>
       <div class="panel-body text-center" style="overflow:scroll; min-height:400px;">
          <div class="bs-example" data-example-id="list-group-custom-content">
              <ul class="list-group">
                {% for flow_level in levels %}
                    {% include 'level/show.html' %}
                {% endfor %}
              </ul>
          </div>
       </div>
       <div class="form-group">
           <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
       </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/workflow.js' %}"></script>
{% endblock %}