{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %} <h2>Edit Workflow</h2> {% endblock page_title %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/workflow.css' %}" />
{% endblock %}

{% block content %}
   <style type="text/css">
      #id_permissions{
          height: 500px !important;
      }
   </style>
   <form method="post" novalidate="novalidate">
       {% include 'common/form.html' %}
       <div class="panel-heading">Flow</div>
       <div class="panel-body text-center" style="overflow:scroll; height:400px;">
          <div class="bs-example" data-example-id="list-group-custom-content">
              <ul class="list-group">
                {% for flow_level in levels %}
                    {% include 'level/show_edit.html' %}
                {% endfor %}
              </ul>
          </div>
       </div>
    <div class="form-group">
      <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-check"></i> Update!</button>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/workflow.js' %}"></script>
{% endblock %}