{% extends 'base.html' %}
{% load static %}
{% block page_title %} Workflow {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
        </div>
        <div class="pull-right">
            <a href="{% url 'create_workflow' %}" class="btn labeled btn-primary" role="button">
                <i class="fa fa-plus-circle"></i> Create a workflow
            </a>
        </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                {% if workflows %}
                    {% for workflow in workflows %}
                        <tr>
                            <td>{{ workflow.name }}</td>
                            <td class="text-left actions">
                               <a href="{% url 'edit_workflow' workflow.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                               <a onclick="return confirm('Are you sure you want to delete this workflow proposal')" href="{% url 'delete_workflow' workflow.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                            <td class="text-left actions">
                              <label style="font-size: 1em">
                                  <input type="radio" {% if workflow.is_default %} checked="checked" {% endif %}
                                         class="default_workflow"
                                         name="default_workflow"
                                         id="default_workflow_{{ workflow.id }}"
                                         value="{{ workflow.id }}",
                                         data-ajax-url="{% url 'update_default_workflow' workflow.id %}"
                                         onchange="updateDefaultWorkflow(this, '{{ workflow.id }}')"
                                  >
                              </label>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no workflows available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function(){
{#            $('.default_workflow').on("change", function(e){#}
{#                var ajaxUrl = $("this").data('ajax-url');#}
{#                $.post(ajaxUrl, {#}
{#                    is_default: true,#}
{#                    csrfmiddlewaretoken: window.csrftoken#}
{#                }, function(response){#}
{#                    responseNotification(response)#}
{#                }, 'json');#}
{#            });#}
        });
        function updateDefaultWorkflow(el, workflow_id)
        {
            var ajaxUrl = $(el).data('ajax-url')
            $.post(ajaxUrl, {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}
