{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/workflow.css' %}" />

<div class="workflow-container workflow">
    <div class="col-12" style="clear: both; margin-bottom: 10px;">
        <div class="pull-left"><h3>{{ workflow }}</h3></div>
        <div class="pull-right">
            <a href="javascript:void(0);" id="close_invoice_image" data-ajax-url="{% url 'invoice_image' invoice_id %}" class="btn btn-primary"><i class="fa fa-close"></i>Close</a>
        </div>
    </div>
    <div class="col-12" style="clear: both;">
        <ul style="list-style: none;">
            {% for flow_level in workflow.levels.all %}
                <li  class="workflow-level list-group-item-{{ flow_level.level }}" id="level_{{ flow_level.level }}">

                       <div class="list-group-item-text processing">
                           <span class="pull-right">
                              <i class="fa fa-user pull-left "></i>
                            </span>

                            <ul class="list-inline inline">
                                {% for role in flow_level.roles.all %}
                                    <li class="list-inline-item workflow-role processing-role" id="level_{{ flow_level.level }}_role_{{ role.id }}">
                                        <span>{{ role }}</span>
                                        <br />
                                    </li>
                                {% endfor %}
                            </ul>
                       </div>
                    <div class="list-group-item"><i class="fa fa-caret-down"></i></div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>