{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Income statement by period - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form ledger-form" id="generate_balance_sheet" action="{% url 'generate_period_income_statement' %}"
                  data-ajax-url="{% url 'generate_period_income_statement' %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group control-group">
                                <label for="layout">Layout</label>
                                <div class="controls">
                                    <select name="layout" id="layout" class="form-control accounts chosen-select" tabindex="1">
                                        <option value="default">Default</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label>From period</label>
                                <div class="controls">
                                    <select class="form-control" id="from_period" name="from_period" tabindex="2">
                                        {% for period in from_periods %}
                                            <option value="{{ period.period }}">{{ period.period }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class=" control-label txt-font12" for="to_period">To period</label>
                                <div class="controls">
                                    <select class="form-control" id="to_period" name="to_period" tabindex="2">
                                        {% for period in to_periods %}
                                            <option value="{{ period.period }}">{{ period.period }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                     {% for company_object in company_objects %}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group">
                                    <label>{{ company_object }}</label>
                                    <div class="controls">
                                        <select name="object_items" id="object_item"
                                                class="form-control objects chosen-select"
                                                tabindex="{{ 4|add:forloop.counter0 }}">
                                            <option value="all_{{ company_object.id }}">All</option>
                                            {% for object_item in company_object.object_items.all %}
                                                <option value="{{ object_item.id }}">{{ object_item }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">

                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Include Cents</label>
                                <div class="controls">
                                    <input type="checkbox" id="include_cents" class="inout-checkbox"
                                           name="include_cents" value="1" tabindex="{{ 5|add:objects_count }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label></label>
                                <div class="controls"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default height">
                        <div class="panel-heading">Show Columns {{ objects_count }}</div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="row">
                                <div class="col-3">
                                    Budget
                                    <div class="controls">
                                        <input type="checkbox" id="columns_budget" name="columns" value="budget"
                                               checked="checked" tabindex="{{ 7|add:objects_count }}" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    Variance to Budget
                                    <div class="controls">
                                        <input type="checkbox" id="columns_budget" name="columns"
                                               value="budget_variance" tabindex="{{ 8|add:objects_count }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="panel panel-default height">
                                <div class="panel-heading">Show in Budget column the </div>
                                <div class="panel-body" style="padding: 5px;">
                                    <div class="form-group control-group">
                                        Whole Year
                                        <div class="controls">
                                            <input type="radio" id="budget_column_whole_year" name="budget_title"
                                                   value="Whole" checked="checked" tabindex="{{ 9|add:objects_count }}" />
                                        </div>
                                    </div>
                                    <div class="form-group control-group">
                                        Selected Period
                                        <div class="controls">
                                            <input type="radio" id="budget_column_selected_period" name="budget_title"
                                                   value="Period" tabindex="{{ 10|add:objects_count }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="display_print" class="btn btn-primary generate"
                                data-action="print" tabindex="{{ 11|add:objects_count }}"
                            >Print</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="display_screen" class="btn btn-primary generate"
                                data-action="screen" tabindex="{{ 12|add:objects_count }}"
                            >Screen</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="file" class="btn btn-primary generate"
                                data-action="file" tabindex="{{ 13|add:objects_count }}"
                            >File</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_pdf" class="btn btn-primary generate"
                                data-action="screen" tabindex="{{ 14|add:objects_count }}"
                            >
                            Pdf
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary"
                                data-action="cancel" tabindex="{{ 15|add:objects_count }}"
                            >Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-lg-12 col-md-12 data-container" id="balance_sheet">
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/ledger.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}