{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load report_tags %}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Income statement report by period</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
            <tr>
                <td>Income statement for</td>
                <td>{{ report_title }}</td>
            </tr>
            <tr>
                <td>Period(s)</td>
                <td>{{ from_period }} - {{ to_period }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 text-right">
        {% updates_summary company year from_period.from_date end_date %}
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed" width="100%">
                        <thead>
                            <tr class="primary-head">
                                <th></th>
                                <th></th>
                                <th class="text-right" colspan="{{ periods|length }}"></th>
                                <th></th>
                                {% if 'budget' in columns %}
                                    <th class="text-right">{{ budget_title }}</th>
                                {% endif %}
                                {% if 'budget_variance' in columns %}
                                    <th class="text-right" rowspan="2">Variance to Budget</th>
                                {% endif %}
                            </tr>
                            <tr class="primary-head">
                                <th></th>
                                <th></th>
                                {% for p in periods %}
                                    <th class="text-right">{{ p }}</th>
                                {% endfor %}
                                <th class="text-right">Total</th>
                                {% if 'budget' in columns %}
                                    <th class="text-right">Budget</th>
                                {% endif %}
{#                                {% if 'budget_variance' in columns %}#}
{#                                    <th class="text-right"></th>#}
{#                                {% endif %}#}
                            </tr>
                        </thead>
                        <tbody>
                            {% for group_type, group_lines in income_statement.lines.items %}
                                {% for report_type, report_types in group_lines.report_type_lines.items %}
                                    <tr class="journal-account-row">
                                        <td colspan="{{ column_count|add:3 }}"><strong>{{ report_type.1 }}</strong></td>
                                    </tr>
                                    {% for account, account_line in report_types.accounts.items %}
                                        <tr>
                                            <td>{{ account.1 }}</td>
                                            <td>{{ account.0 }}</td>
                                            {% for period, period_line in account_line.periods.items %}
                                                <td class="text-right">{{ period_line.amount|money:include_cents }}</td>
                                            {% endfor %}
                                            <td class="text-right">{{ account_line.period_amount|money:include_cents }}</td>
                                            {% if 'budget' in columns %}
                                                <td class="text-right">{{ account_line.budget_amount|money:include_cents }}</td>
                                            {% endif %}
                                            {% if 'budget_variance' in columns %}
                                                <td class="text-right">{{ account_line.budget_variance|money:include_cents }}%</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    <tr style="background-color: #f7fbfc;">
                                        <td></td>
                                        <td class="text-left bold">Subtotal {{ report_type.1 }}:</td>
                                        {% for period, report_type_period_line in report_types.periods.items %}
                                            <td class="text-right bold">{{ report_type_period_line.amount|money:include_cents }}</td>
                                        {% endfor %}
                                        <td class="text-right bold">{{ report_types.period_amount|money:include_cents }}</td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right bold">{{ report_types.budget_amount|money:include_cents }}</td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right bold">{{ report_types.budget_variance|money:include_cents }}%</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                </tr>
                                {% if group_type == 'gross_profit' %}
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Gross Profit</strong>
                                        </td>
                                        <td class="text-right"></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold"><strong>{{ group_period_line.period_amount|money:include_cents }}</strong></td>
                                        {% empty %}
                                            {% for p in periods %}
                                                <td class="text-right"><strong>0</strong></td>
                                            {% endfor %}
                                        {% endfor %}
                                        <td class="text-right"><strong>{{ group_lines.period_amount|money:include_cents }}</strong></td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_variance|money:include_cents }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Gross Profit %</strong>
                                        </td>
                                        <td></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold"><strong>{{ group_period_line.profit_percentage|money }}%</strong></td>
                                        {% empty %}
                                            {% for p in periods %}
                                                <td class="text-right"><strong>0%</strong></td>
                                            {% endfor %}
                                        {% endfor %}
                                        <td class="text-right"><strong>{{ group_lines.profit_percentage|money }}%</strong></td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_gross_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>0%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                {% elif group_type == 'other_costs' %}
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Net Gross Profit</strong>
                                        </td>
                                        <td class="text-right"></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold">{{ group_period_line.total|money:include_cents }}</td>
                                        {% endfor %}
                                        <td class="text-right">{{ group_lines.total|money:include_cents }}</td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_variance|money:include_cents }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Net Gross Profit %</strong>
                                        </td>
                                        <td></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold"><strong>{{ group_period_line.profit_percentage|money }}%</strong></td>
                                        {% endfor %}
                                        <td class="text-right"><strong>{{ group_lines.profit_percentage|money }}%</strong></td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_net_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>0%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                {% elif group_type == 'income' %}
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left"><strong>Total Income</strong></td>
                                        <td></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold"><strong>{{ group_period_line.total|money:include_cents }}</strong></td>
                                        {% endfor %}
                                        <td class="text-right"><strong>{{ group_lines.total_income|money:include_cents }}</strong></td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_income_variance|money:include_cents }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                {% elif group_type == 'expenses' %}
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left"><strong>Results before Depreciation</strong></td>
                                        <td></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold"><strong>{{ group_period_line.total|money:include_cents }}</strong></td>
                                        {% endfor %}
                                        <td class="text-right"><strong>{{ group_lines.total|money:include_cents }}</strong></td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_variance_total|money:include_cents }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                {% elif group_type == 'depreciation_costs' %}
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left"><strong>Results after Depreciation</strong></td>
                                        <td></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold"><strong>{{ group_period_line.total|money:include_cents }}</strong></td>
                                        {% endfor %}
                                        <td class="text-right"><strong>{{ group_lines.total|money:include_cents }}</strong></td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_variance_total|money:include_cents }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                {% elif group_type == 'financial_costs' %}
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left"><strong>Results before Income Tax</strong></td>
                                        <td></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold"><strong>{{ group_period_line.total|money:include_cents }}</strong></td>
                                        {% endfor %}
                                        <td class="text-right"><strong>{{ group_lines.total|money:include_cents }}</strong></td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_variance|money:include_cents }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                {% elif group_type == 'tax' %}
                                    <tr>
                                        <td colspan="{{ periods_count|add:3 }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left"><strong>Net Results</strong></td>
                                        <td></td>
                                        {% for period, group_period_line in group_lines.periods.items %}
                                            <td class="text-right bold"><strong>{{ group_period_line.total|money:include_cents }}</strong></td>
                                        {% endfor %}
                                        <td class="text-right"><strong>{{ group_lines.total|money:include_cents }}</strong></td>
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ group_lines.budget_variance|money:include_cents }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>