{% extends 'base.html' %}
{% load static %}
{% block page_title %} Define Template Invoice Fields Mapping {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" action="{% url 'save_template_invoice_fields' template.id %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
                <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Invoice Field</th>
                    <th>Before</th>
                    <th>Value</th>
                    <th>After</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for invloce_field in invoice_fields %}
                    <tr>
                        <td>{{ invloce_field.label }}  (<strong>i.e<em>  {{ invloce_field.ie }}</em></strong>)</td>
                        <td>
                            <input type="text" id="before_{{ invloce_field.id }}" name="before_{{ invloce_field.id }}" class="form-control" />
                        </td>
                        <td>
                            {INVOICE_VALUE}
                        </td>
                        <td>
                            <input type="text" id="after_{{ invloce_field.id }}" name="after_{{ invloce_field.id }}" class="form-control" />
                        </td>
                        <td>
                            <select id="type" name="type" class="form-control">
                                {% for k, v in options %}
                                    <option value="{{ k }}">{{ v }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="col-6">
          {% if contents %}
              <div id="template_contents" onmouseup="getSelectedText(this, '{% url 'field_definition' template.id %}')">
                  {{ contents|safe }}
              </div>
          {% elif document.image_filename  %}
                 <a class="fancybox-thumb thumbnail" rel="fancybox-thumb"href="{% static 'images/documents/'|add:document.image_filename %}">
                    <img src="{% static 'images/documents/'|add:document.image_filename %}" height="580" class="img-responsive" />
                </a>
          {% endif %}
        </div>

    </div>
      <div class="form-group">
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>
    </div>

  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
{#            $("#template_contents").on('mouseup', function(e){#}
{#                getSelectedText($(this))#}
{#            });#}

        });
        var getSelectedText = function(el, ajaxUrl){
            var selectedText = '';
            if (window.getSelection()) {
                var selRange = window.getSelection();
                selectedText = selRange.toString();
            }
            if (selectedText) {
                $.get(ajaxUrl, {
                    text: selectedText
                }, function (data) {
                    $(data).modal('show');

                    $("#template_field_submit").on('click', function (event) {
                        event.preventDefault();
                        submitModalForm($("form[name='define_field_form']"));
                    });
                });
            }
        }

    </script>
{% endblock %}