{% load invoice_tags %}
{% for picking_slip_item in picking_slip_items.all %}
    <tr id="sales_item_{{ picking_slip_item.id }}" class="sales-items invoice_item_row"
        data-row-id="{{ picking_slip_item.id }}"
        data-picking-slip-id="{{ picking_slip_item.id }}"
    >
        <td>
            {{ picking_slip_item.type_name }}
        </td>
        <td>
            {{ picking_slip_item.inventory.inventory }}&nbsp;&nbsp;
            {{ picking_slip_item.inventory.description }}
            <input type="hidden" name="estimate_id" value="{{ picking_slip_item.id }}">
        </td>

        <td class="text-right">
            {{ picking_slip_item.quantity|money }}
            <input type="hidden" name="quantity_ordered_{{ picking_slip_item.id }}" id="quantity_ordered_{{ picking_slip_item.id }}"
                   value="{{ picking_slip_item.quantity|money }}">
        </td>
        <td class="text-right">
            {{ picking_slip_item.quantity|money }}
            <input type="hidden" class="form-control form-control-sm quantity"
               value="{{ picking_slip_item.quantity|money }}"
               name="quantity_{{ picking_slip_item.id }}"
               id="quantity_{{ picking_slip_item.id }}"
               data-item-id="{{ picking_slip_item.id }}"
            />
        </td>
{#        <td class="text-center">#}
{#            <input type="checkbox" class="checkbox-input create-back-order"#}
{#                   {% if picking_slip_item.is_inventory_available %}#}
{#                       disabled="disabled"#}
{#                   {% endif %}#}
{#                   name="back_order_{{ picking_slip_item.id }}"#}
{#                   id="back_order_{{ picking_slip_item.id }}"#}
{#                   data-item-id="{{ picking_slip_item.id }}"#}
{#                   value="{{ picking_slip_item.id }}"#}
{#            />#}
{#        </td>#}
        <td class="text-center">
            {{ picking_slip_item.unit }}
        </td>
        <td class="text-right">
            {{ picking_slip_item.price|money }}
            <input type="hidden" class="form-control form-control-sm price"
                   name="price_{{ picking_slip_item.id }}"
                   id="price_{{ picking_slip_item.id }}"
                   data-item-id="{{ picking_slip_item.id }}"
                   value="{{ picking_slip_item.price }}" />

        </td>
        <td class="text-right">
            {{ picking_slip_item.price_including|money }}
            <input type="hidden" class="form-control form-control-sm price-including"
                   name="price_including_{{ picking_slip_item.id }}"
                   id="price_including_{{ picking_slip_item.id }}"
                   data-item-id="{{ picking_slip_item.id }}"
                   value="{{ picking_slip_item.price_including }}" />
            <input type="hidden" class="sub-total"
                   name="sub_total_{{ picking_slip_item.id }}"
                   id="sub_total_{{ picking_slip_item.id }}"
                   data-item-id="{{ picking_slip_item.id }}"
                   value="{{ picking_slip_item.sub_total }}" />
        </td>
        <td class="text-left">
            <span class="price" id="_discount_percentage_{{ picking_slip_item.id }}">{{ picking_slip_item.discount|money }}</span>
            <input type="hidden" class="form-control form-control-sm discount" value="{{ picking_slip_item.discount }}"
                   name="discount_percentage_{{ picking_slip_item.id }}"
                   id="discount_percentage_{{ picking_slip_item.id }}"
                   data-item-id="{{ picking_slip_item.id }}" />
        </td>
        <td class="text-right">
            <span class="discount-amount" id="discount_amount_{{ picking_slip_item.id }}"
                  data-item-id="{{ picking_slip_item.id }}">{{ picking_slip_item.total_discount_amount|money }}</span>
            <input type="hidden" class="form-control form-control-sm total-discount"
                   value="{{ picking_slip_item.total_discount_amount }}" readonly="readonly"
                   name="total_discount_{{ picking_slip_item.id }}"
                   id="total_discount_{{ picking_slip_item.id }}"
                   data-item-id="{{ picking_slip_item.id }}" />
        </td>
        <td class="text-right">
            <span class="price-exc" id="total_price_exl_{{ picking_slip_item.id }}" data-item-id="{{ picking_slip_item.id }}">
                {{ picking_slip_item.total_price_excluding|money }}
            </span>
            <input type="hidden" value="{{ picking_slip_item.total_price_excluding }}"
                   name="total_price_excluding_{{ picking_slip_item.id }}"
                   id="total_price_excluding_{{ picking_slip_item.id }}"
                   class="total-price-excl" />
        </td>
        <td class="text-right">
            <span class="total-vat" id="vat_total_{{ picking_slip_item.id }}" data-item-id="{{ picking_slip_item.id }}">
                {{ picking_slip_item.total_vat_amount|money }}
            </span>
            <input type="hidden" value="{{ picking_slip_item.vat_code.id }}"
                   name="vat_code_{{ picking_slip_item.id }}"
                   id="vat_code_{{ picking_slip_item.id }}"
                   data-percentage="{{ picking_slip_item.vat_code.percentage }}"
                   class="vat vat-codes"
                   data-item-id="{{ picking_slip_item.id }}"
                   data-text="{{ picking_slip_item.vat_code }}"
            />
            <input type="hidden" value="{{ picking_slip_item.vat }}"
                   name="vat_percentage_{{ picking_slip_item.id }}"
                   id="vat_percentage_{{ picking_slip_item.id }}"
                   class="vat-percentage"
            />
            <input type="hidden"
                   name="total_vat_{{ picking_slip_item.id }}"
                   id="total_vat_{{ picking_slip_item.id }}"
                   class="total-vat total-vat-amount"
                   value="{{ picking_slip_item.total_vat_amount }}"
            />
        </td>
        <td class="text-right">
            <span class="price" id="total_price_incl_{{ picking_slip_item.id }}">{{ picking_slip_item.total_price_including|money }}</span>
            <input type="hidden" value="{{ picking_slip_item.total_price_including|money }}"
                   name="total_price_including_{{ picking_slip_item.id }}"
                   id="total_price_including_{{ picking_slip_item.id }}"
                   class="total-price-incl open-input" />
        </td>
    </tr>

{% endfor %}