{% extends 'base.html' %}
{% block page_title %} Logout all company users {% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate">
        {% csrf_token %}
        <div class="alert alert-warning">
            <p>
                All users (except you), will be logged out of the system and no one will be able to login to the system whilst the year is being started,
                This process will take about 2mins
            </p>
            <p>
                Is it okay to logout all users for at least 2mins? Have they been informed?.
            </p>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <a href="{% url 'start_next_year' year.pk %}" class="btn btn-primary btn-large"> Continue</a>
            </div>
            <div class="form-group">
                <a href="{% url 'years_index' %}" class="btn btn-primary btn-large"> Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $('.year-status').on("click", function(e){
                e.preventDefault();
                console.log($(this).data('ajax-url'))
                $.getJSON($(this).data('ajax-url'), function(response){
                    responseNotification(response)
                });
            });
        });
        function updateCurrentActiveYear(el, year_id)
        {
            $.post($(el).data('ajax-url'), {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}