{% extends 'base.html' %}
{% block page_title %} Open Batches {% endblock page_title %}
{% block content %}
    <div class="alert alert-warning">
        <p>
            There are open batches that need to be updated before you can start the year, please update all your batches in all periods.
        </p>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    {% for period, period_items in periods.items %}
                        <th>{{ period }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Update Incoming</td>
                    {% for period, period_items in periods.items %}
                        <td>
                            {% if period_items.incoming %}
                                <span class="text-danger">{{ period_items.incoming }}</span>
                            {% else %}
                                <span class="text-success">{{ period_items.incoming }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Update Account Posting</td>
                    {% for period, period_items in periods.items %}
                        <td>
                            {% if period_items.posting %}
                                <span class="text-danger">{{ period_items.posting }}</span>
                            {% else %}
                                <span class="text-success">{{ period_items.posting }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Update Payments</td>
                    {% for period, period_items in periods.items %}
                        <td>
                            {% if period_items.payments %}
                                <span class="text-danger">{{ period_items.payments }}</span>
                            {% else %}
                                <span class="text-success">{{ period_items.payments }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Update Invoices</td>
                    {% for period, period_items in periods.items %}
                        <td>
                            {% if period_items.sales_tax_invoice %}
                                <span class="text-danger">{{ period_items.sales_tax_invoice }}</span>
                            {% else %}
                                <span class="text-success">{{ period_items.sales_tax_invoice }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Update Credit Notes</td>
                    {% for period, period_items in periods.items %}
                        <td>
                            {% if period_items.sales_tax_credit_note %}
                                <span class="text-danger">{{ period_items.sales_tax_credit_note }}</span>
                            {% else %}
                                <span class="text-success">{{ period_items.sales_tax_credit_note }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Update Cash Ups</td>
                    {% for period, period_items in periods.items %}
                        <td>
                            {% if period_items.cash_ups %}
                                <span class="text-danger">{{ period_items.cash_ups }}</span>
                            {% else %}
                                <span class="text-success">{{ period_items.cash_ups }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $('.year-status').on("click", function(e){
                e.preventDefault();
                console.log($(this).data('ajax-url'))
                $.getJSON($(this).data('ajax-url'), function(response){
                    responseNotification(response)
                });
            });
        });
        function updateCurrentActiveYear(el, year_id)
        {
            $.post($(el).data('ajax-url'), {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}