{% extends 'base.html' %}
{% load static %}
{% block page_title %} Starting year {% endblock page_title %}
{% block content %}
    <h4>Starting the year</h4>
    <br />
    <div class="table-responsive" id="process_year_in_stages" data-ajax-url="{% url 'year_starting' year.id %}">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bold">Kicking out all logged in users</td>
                    <td>
                        <span class="process-year" id="kicking_out_all_logged_in_users"></span>
                    </td>
                </tr>
                <tr>
                    <td>Shutting login screen</td>
                    <td>
                        <span class="process-year text-danger" id="shutting_login_screen">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Closing periods {{ previous_year.first_period }} to {{ previous_year.second_last_period }} in {{ previous_year }}</td>
                    <td>
                        <span class="process-year text-danger" id="close_all_periods">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Ensuring period {{ previous_year.last_period }} in {{ previous_year }}</td>
                    <td>
                        <span class="process-year text-danger" id="ensure_last_period_is_open">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Changing status of {{ previous_year }} to Closing</td>
                    <td>
                        <span class="process-year text-danger" id="change_status_to_closing">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="bold" colspan="2">Copying balances</td>
                </tr>
                <tr>
                    <td>Fixed Asset Register Closing Balances</td>
                    <td>
                        <span class="process-year text-danger" id="fixed_assets_closing_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>General Ledger Closing Balances</td>
                    <td>
                        <span class="process-year text-danger" id="general_ledger_closing_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Inventory Closing Balances</td>
                    <td>
                        <span class="process-year text-danger" id="inventory_closing_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Customer Closing Balances</td>
                    <td>
                        <span class="process-year text-danger" id="customer_closing_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Supplier Closing Balances</td>
                    <td>
                        <span class="process-year text-danger" id="supplier_closing_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Distribution Balances</td>
                    <td>
                        <span class="process-year text-danger" id="distribution_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Goods Received - Awaiting Invoice Balances</td>
                    <td>
                        <span class="process-year text-danger" id="goods_received_balances">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Invoices Not Yet Posted</td>
                    <td>
                        <span class="process-year text-danger" id="invoices_not_year_posted">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="bold">Getting the system ready</td>
                </tr>
                <tr>
                    <td>Creating Year {{ next_year }} and Periods for distribution purposes</td>
                    <td>
                        <span class="process-year text-danger" id="creating_next_year">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Opening {{ year }} Year</td>
                    <td>
                        <span class="process-year text-danger" id="opening_year">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Opening first period</td>
                    <td>
                        <span class="process-year text-danger" id="opening_first_period">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td>Opening Login</td>
                    <td>
                        <span class="process-year text-danger" id="opening_login">Waiting to run</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span class="process-year text-danger" id="done"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/year.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}