{% extends 'base.html' %}
{% block page_title %} Start Year {% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate">
    {% include 'common/form.html' %}
    <div class="form-inline">
        <div class="form-group">
            <button class="btn btn-primary btn-large" name="submit" type="submit"> Yes</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-large" name="reset" type="reset"> No</button>
        </div>
    </div>
</form>
{% endblock %}