{% extends 'base.html' %}
{% block page_title %} Update Period {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% include 'common/form.html' %}
    <div class="form-group">
         <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Update</button>
    </div>
  </form>
{% endblock %}