{% extends 'base.html' %}
{% load widget_tweaks %}
{% block page_title %} Periods - {{ year }} {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">&nbsp;</div>
      </div>
      <div class="panel-body align-center">
          <div class="table-responsive">
             <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Year End</th>
                    <th>Period</th>
                    <th>Name</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% if periods %}
                        {% for period in periods %}
                             {% if not period.is_locked %}
                                <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_period' period.id %}">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td>{{ period.period_year }}</td>
                                <td>{{ period.period }}</td>
                                <td>{{ period.name }}</td>
                                <td>{{ period.from_date }}</td>
                                <td>{{ period.to_date }}</td>
                                <td>
                                    {% if period.is_locked %}
                                        <span class="bold text-danger">Locked</span>
                                    {% elif period.is_open %}
                                        <span class="bold text-success">Open</span>
                                    {% else %}
                                        <span class="bold text-warning">Closed</span>
                                    {% endif %}
                                </td>
                                <td class="text-left actions">
                                    {% if not period.is_locked %}
                                        <a href="{% url 'edit_period' period.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                        <a href="{% url 'delete_period' period.id %}"
                                           onclick="return confirm('Are you sure you want to delete this period')"
                                           data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">There are no periods set </td>
                        </tr>
                    {% endif %}
                </tbody>
             </table>
          </div>
      </div>
    </div>
{% endblock %}