{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Default Accounts{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="customer_form" action="{% url 'default_accounts' %}">
    {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div id="tabs">
                  <ul>
                     <li><a href="{% url 'default_accounts' 0 %}">Purchases</a></li>
                     <li><a href="{% url 'default_accounts' 3 %}">Sales</a></li>
                     <li><a href="{% url 'default_accounts' 2 %}">Inventory</a></li>
                     <li><a href="{% url 'default_accounts' 8 %}">Fixed Asset</a></li>
                  </ul>
                  <div id="purchases">
                  </div>
                  <div id="sales">
                  </div>
                  <div id="inventory">
                  </div>
                  <div id="fixed-asset">

                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-large" id="save_customer" type="button">
            <i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/customer.js' %}"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs({
             load: function( event, ui ) {
                $(".chosen-select").chosen();
             }
        });
      });
  </script>
{% endblock %}