{% extends 'base.html' %}
{% block page_title %}Delete Bank{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}

    <button type="submit">Confirm Branch Delete</button>
  </form>
{% endblock %}