{% extends 'base.html' %}
{% block page_title %} Banking Details {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
   <div class="panel-heading clearfix">
      <div class="pull-left"></div>
      <div class="pull-right">
        <a href="{% url 'create_bank' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> Create
        </a>
      </div>
   </div>
   <div class="panel-body align-center">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Account Holder</th>
                        <th>Account Type</th>
                        <th>Bank</th>
                        <th>Branch</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bank in banks %}
                        <tr>
                            <td>{{ bank.account_holder }}</td>
                            <td>{{ bank.account_type }}</td>
                            <td>{{ bank.bank_name }}</td>
                            <td>{{ bank.branch }}</td>
                            <td class="text-left actions">
                               <a href="{% url 'edit_bank' bank.id %}"
                                  data-toggle="tooltip" title="" class="btn-sm btn-primary"
                                  data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                               <a href="{% url 'delete_bank' bank.id %}" onclick="return confirm('Are you sure you want to delete this bank')"
                                  data-toggle="tooltip" title="" class="btn-sm btn-danger"
                                  data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">There are no banks available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">

        function updateMasterBranch(el, year_id)
        {
            $.post($(el).data('ajax-url'), {
                is_default: true,
                csrfmiddlewaretoken: window.csrftoken
            }, function(response){
                responseNotification(response)
            }, 'json');
        }

    </script>
{% endblock %}