{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Show Balance {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group">
                <a type="button" href="{% url 'download_invoice_report' %}" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</a>
                <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="__form">
            <span id="loader"></span>
            <div class="container-fluid">
                <form class="form-horizontal" method="get"action="{% url 'show_balance_index' %}"  id="show_invoice_report" name="role-filter">
                <section class="row">
                    <fieldset class="col well">
                        <div class="row">
                            <!-- Main Name Field -->
                           <div class="form-group col-sm-2">
                              <label class="control-label txt-font12" for="{{ form.company.id_for_label }}">{{ form.company.label_tag }}</label>
                              {{ form.company|add_class:"form-control"  }}
                           </div>
                           <div class="form-group col-sm-2">
                              <label class="control-label txt-font12" for="{{ form.status.id_for_label }}">{{ form.status.label_tag }}</label>
                              {{ form.status|add_class:"form-control"  }}
                           </div>
                           <div class="form-group col-sm-2">
                              <label for="to-accounting-date" class="control-label">Accounting Date</label>
                              {% render_field form.from_accounting_date class="form-control datepicker" readonly="readonly" %}
                           </div>
                           <div class="form-group col-sm-2">
                              <label for="from-accounting-date" class="control-label">Accounting Date</label>
                              {% render_field form.to_accounting_date class="form-control datepicker" readonly="readonly" %}
                           </div>
                           <div class="form-group col-sm-2">
                              <label class="control-label txt-font12" for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
                              {% render_field form.amount class="form-control" %}
                           </div>
                           <div class="form-group col-sm-2">
                              <label class="control-label txt-font12" for="{{ form.number_of_lines.id_for_label }}">{{ form.number_of_lines.label_tag }}</label>
                              {{ form.number_of_lines|add_class:"form-control"  }}
                           </div>
                        </div>
                    </fieldset>
                </section>
                </form>
            </div>
        </div>
        <div class="__table">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>1-2 days</th>
                            <th>3-5 days</th>
                            <th>6-9 days</th>
                            <th>>10 days</th>
                            <th>0 processing time in days</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if roles %}
                            {% for role in roles%}
                                <tr>
                                    <td>{{ role }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">There are no invoices available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#show_balance_report").submit();
            });
       });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}