{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %}Recipe - {{ recipe }} {% endblock page_title %}
{% block content %}
    <table class="table">
        <tr>
            <th>Supplier</th>
            <td>{{ movement.supplier }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Period</th>
            <td>{{ movement.period }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ movement.date }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Delivery Note</th>
            <td>{{ movement.note }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Purchase order ref</th>
            <td>{{ movement.reference }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">
                <table class="table" width="100%">
                    <thead>
                        <tr>
                            <th>Stock Code</th>
                            <th>Description</th>
                            <th>Qty Ord</th>
                            <th>Qty Rec.</th>
                            <th>Short</th>
                            <th>Create BO</th>
                            <th>Vat</th>
                            <th class="text-right">Price Exc</th>
                            <th class="text-right">Price Inc</th>
                            <th class="text-right">Price Total Exc</th>
                            <th class="text-right">Price Total Inc</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movement_item in movement.inventory_received.all %}
                            <tr>
                                <td>{{ movement_item.inventory }}</td>
                                <td>{{ movement_item.inventory.description }}</td>
                                <td>{{ movement_item.ordered }}</td>
                                <td>{{ movement_item.received }}</td>
                                <td>{{ movement_item.inventory }}</td>
                                <td>{{ movement_item.inventory }}</td>
                                <td>{{ movement_item.vat }}</td>
                                <td class="text-right">{{ movement_item.price_excluding }}</td>
                                <td class="text-right">{{ movement_item.price_including }}</td>
                                <td class="text-right">{{ movement_item.total_price_excluding }}</td>
                                <td class="text-right">{{ movement_item.total_price_including }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ movement_item.vat }}</td>
                                <td>{{ movement_item.price }}</td>
                                <td>{{ movement_item.price }}</td>
                                <td>{{ movement_item.price }}</td>
                                <td>{{ movement_item.price }}</td>
                            </tr>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </table>
{% endblock  %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}