{% extends 'base.html' %}
{% load static i18n %}
{% load compress %}
{% load widget_tweaks %}
{% block page_title %}Edit Recipe- {{ recipe }} {% endblock page_title %}
{% block content %}
    <form method="post" novalidate="novalidate" id="recipe_form" action="{% url 'edit_recipe' recipe.id %}">
        {% csrf_token %}
        <div class="form-group {% if form.inventory.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.inventory.id_for_label }}">{{ form.inventory.label_tag }}</label>
            <div class="controls">
                {% render_field form.inventory class="form-control chosen-select"  %}
                {% if form.inventory.auto_id  != "id_tos" %}
                    {% if form.inventory.errors %}<span class="help-inline">{{ form.inventory.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>

        <div class="form-group {% if form.description.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}</label>
            <div class="controls">
                {% render_field form.description class="form-control"  %}
                {% if form.description.auto_id  != "id_tos" %}
                    {% if form.description.errors %}<span class="help-inline">{{ form.description.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Stock Code</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="recipe_inventory_items" data-ajax-url="{% url 'edit_recipe_inventory_items' recipe.id %}">
                <tr id="recipe_inventory_placeholder">
                    <td colspan="4">
                        <img src="{% static 'images/loader.gif' %}">
                    </td>
                </tr>
                <tr id="actions">
                    <td class="text-right" colspan="3">
                        <button type="button" id="add_inventory_recipe_line" class="btn btn-primary"
                                data-ajax-url="{% url 'add_recipe_inventory_items' %}"
                        >Add</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td><span id="total_received"></span></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
        <div class="controls text-right">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-large" name="submit_recipe"
                    id="submit_recipe"><i class="fa fa-save"></i> Update Recipe</button>
        </div>
    </form>
{% endblock  %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/recipe.js' %}"></script>
    {% endcompress %}
{% endblock %}