{% load static %}
{% load i18n %}
{% load company_linked_objects_tags %}
{% load widget_tweaks %}
{% for recipe_inventory_item, details in recipe_inventory_items.items %}
    {{ details }}
    <tr class="inventory_item_row {{ forloop.counter }}" id="row_{{ forloop.counter }}" data-row-id="{{ forloop.counter }}">
        <td>
            <select id="{{ forloop.counter }}_inventory_item" name="inventory_item_{{ forloop.counter }}"
                class="form-control chosen-select inventory_item"
                data-ajax-url="{% url 'inventory_item_search_list' %}"
                data-ajax-inventory-url="{% url 'fetch_inventory_item' %}"
            >
                <option value="">--</option>
                    <option value="{{ recipe_inventory_item.inventory.id }}"
                    {% if recipe_inventory_item.inventory.id %} selected="selected" {% endif %}
                    >{{ recipe_inventory_item.inventory.full_name }}</option>
            </select>
            <input type="hidden" id="recipe_item_id_{{ forloop.counter }}" name="recipe_item_id_{{ forloop.counter }}"
                   value="{{ recipe_inventory_item.id }}" />
        </td>
        <td>
            <select class="form-control chosen-select" id="unit_{{ forloop.counter }}" name="unit_{{ forloop.counter }}">
                 {% if  details.units %}
                     {% for unit in details.units %}
                         <option value="{{ unit.id }}"
                                 {% if unit.id == recipe_inventory_item.unit_id %} selected="selected" {% endif %}
                         >{{ unit }}</option>
                     {% endfor %}
                 {% endif %}
            </select>
        </td>
        <td>
            <input type="text" class="form-control  form-control-sm validate_number quantity" id="quantity_{{ forloop.counter }}"
                   name="quantity_{{ forloop.counter }}" value="{{ recipe_inventory_item.quantity }}"/>
        </td>
        <td>
            <a id="remove_{{ forloop.counter }}"
               href="javascript:void(0);"
               data-row-id="{{ forloop.counter }}"
               data-line-id="{{ recipe_inventory_item.id }}"
               data-ajax-url="{% url 'delete_recipe_inventory_item' recipe_inventory_item.id  %}"
               class="danger remove-recipe-inventory-item"><i class="fa fa-trash-o ui-state-error-text"></i></a>
        </td>
    </tr>
{% endfor %}
<tr class="inventory_item_row {{ row }}" id="row_{{ row }}" data-row-id="{{ row }}">
    <td>
        <select id="{{ row }}_inventory_item" name="inventory_item_{{ row }}"
                class="form-control chosen-select inventory_item"
                data-ajax-url="{% url 'inventory_item_search_list' %}"
                data-ajax-inventory-url="{% url 'fetch_inventory_item' %}"
        >
            <option value="">--</option>
        </select>
    </td>
    <td>
        <select class="form-control chosen-select" id="unit_{{ row }}" name="unit_{{ row }}">
        </select>
    </td>
    <td>
        <input type="text" class="form-control form-control-sm validate_number quantity" id="quantity_{{ row }}"
               name="quantity_{{ row }}"/>
    </td>
</tr>
