{% extends 'datatable.html' %}
{% load i18n %}
{% block page_title %}Recipes - {{ branch }}{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
         <a class="btn btn-large btn-success" href="{% url 'create_recipe' %}"><i class="fa fa-plus-circle"></i> Create New Recipe</a>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="recipes" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
                <th>Inventory</th>
                <th>Description</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#recipes").DataTable({
            serverSide: true,
            ajax: '/api/v1/inventories/recipes/?format=datatables',
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 0, 'desc' ]],
            processing: true,
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            columns: [
                { data: 'inventory', name: 'inventory__inventory__code', searchable: true,
                    render: function(data, type, row) {
                        return data ? data.description : '-';
                    }
                },
                { data: 'description', name: 'description'}
            ]
        });

        $('#recipes tbody').on( 'click', 'tr', function(){
            const rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'recipe_index' %}";
            }
        });

    });
    </script>
{% endblock %}

