{% load static %}
{% load i18n %}
{% load company_linked_objects_tags %}
{% load widget_tweaks %}
<tr class="inventory_item_row {{ row }}" id="row_{{ row }}" data-row-id="{{ row }}">
    <td>
        <select id="{{ row }}_inventory_item" name="inventory_item_{{ row }}"
                class="form-control chosen-select inventory_item"
                data-ajax-url="{% url 'inventory_item_search_list' %}"
                data-ajax-inventory-url="{% url 'fetch_inventory_item' %}"
        >
            <option value="">--</option>
        </select>
    </td>
    <td>
        <select class="form-control chosen-select" id="unit_{{ row }}" name="unit_{{ row }}">
        </select>
    </td>
    <td>
        <input type="text" class="form-control validate_number quantity" id="quantity_{{ row }}"
               name="quantity_{{ row }}"/>
    </td>
</tr>
