{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Trial Balance - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form report-form" id="generate_trial_balance" action="{% url 'generate_trial_balance' %}"
                  data-ajax-url="{% url 'generate_trial_balance' %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group control-group">
                                <label for="layout">Layout</label>
                                <div class="controls">
                                    <select name="layout" id="layout"
                                            class="form-control accounts chosen-select"
                                            tabindex="1">
                                        <option value="default">Default</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.from_date.errors %}error{% endif %}">
                                {{ form.from_date.label_tag }}
                                <div class="controls">
                                    {% render_field form.from_date class="form-control datepicker" tabindex="2" %}
                                    {% if form.from_date.auto_id  != "id_tos" %}
                                        {% if form.from_date.errors %}<span class="help-inline">{{ form.from_date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.to_date.errors %}error{% endif %}">
                                <label class=" control-label txt-font12" for="{{ form.to_date.id_for_label }}">{{ form.to_date.label_tag }}</label>
                                <div class="controls">
                                    {% render_field form.to_date class="form-control datepicker"  tabindex="2" %}
                                    {% if form.to_date.auto_id  != "id_tos" %}
                                        {% if form.to_date.errors %}<span class="help-inline">{{ form.to_date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                     {% for company_object in company_objects %}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-group">
                                    <label>{{ company_object }}</label>
                                    <div class="controls">
                                        <select name="object_items" id="object_item"
                                                class="form-control objects chosen-select"
                                                tabindex="{{ 4|add:forloop.counter0 }}">
                                            <option value="all_{{ company_object.id }}">All</option>
                                            {% for object_item in company_object.object_items.all %}
                                                <option value="{{ object_item.id }}">{{ object_item }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>Include Cents</label>
                                <div class="controls">
                                    <input type="checkbox" id="include_cents" class="inout-checkbox"
                                           name="include_cents" value="1" tabindex="{{ 5|add:objects_count }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Include Zero Accounts</label>
                                <div class="controls">
                                    <input type="checkbox" id="include_zero_accounts" class="inout-checkbox"
                                           name="include_zero_accounts" value="1" tabindex="{{ 6|add:objects_count }}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group control-group">
                                <label></label>
                                <div class="controls">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="display_print" class="btn btn-primary generate"
                                data-action="print" tabindex="{{ 6|add:objects_count }}"
                            ><i class="fa fa-print"></i> Print</button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="display_screen" class="btn btn-primary generate"
                                data-action="screen" tabindex="{{ 7|add:objects_count }}"
                            ><i class="fa fa-window-maximize"></i> Screen</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_excell" class="btn btn-primary generate"
                                    data-ajax-url="{% url 'download_trial_balance' %}"
                                    data-action="download" tabindex="{{ 8|add:objects_count }}">
                                <i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="display_pdf" class="btn btn-primary generate"
                                    data-action="screen" tabindex="{{ 9|add:objects_count }}">
                                <i class="fa fa-file-pdf-o"></i> Pdf
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary"
                                data-action="cancel" tabindex="{{ 10|add:objects_count }}"
                            >Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 col-xs-12 report-container" id="balance_sheet"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/report.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}