{% load static %}
{% load widget_tweaks %}
{% load invoice_tags report_tags %}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Trial Balance Report</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
            <tr>
                <td>Trial Balance for</td>
                <td>{{ report_title }}</td>
            </tr>
            <tr>
                <td>Report for period(s)</td>
                <td></td>
            </tr>
            <tr>
                <td>Period dates(s)</td>
                <td>{{ start_date }} - {{ end_date }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 text-right">
        {% updates_summary company year start_date end_date %}
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed" width="100%">
                        <thead>
                            <tr class="primary-head">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="text-right">Ingoing Balance</th>
                                {% if show_movement %}
                                <th class="text-right">Movement Balance</th>
                                {% endif %}
                                <th class="text-right">Period</th>
                                <th class="text-right">Outgoing Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="journal-account-row">
                                <td colspan="{% if show_movement %}7{% else %}6{% endif %}" class="text-left"><strong>ASSETS</strong></td>
                            </tr>
                            {% for report_type, report_accounts in balance_sheet.assets.items %}
                                {% for account, account_line in report_accounts.accounts.items %}
                                    <tr>
                                        <td></td>
                                        <td>{{ account.name }}</td>
                                        <td>{{ account.code }}</td>
                                        <td class="text-right">{{ account_line.incoming|money:include_cents }}</td>
                                        {% if show_movement %}
                                            <td class="text-right">{{ account_line.movement_amount|money:include_cents }}</td>
                                        {% endif %}
                                        <td class="text-right">{{ account_line.period_amount|money:include_cents }}</td>
                                        <td class="text-right">{{ account_line.outgoing|money:include_cents }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="text-right">Total Assets</td>
                                <td class="text-right"><strong>{{ balance_sheet.total_incoming_asset|money:include_cents }}</strong></td>
                                {% if show_movement %}
                                    <td class="text-right"><strong>{{ balance_sheet.total_movement_asset|money:include_cents }}</strong></td>
                                {% endif %}
                                <td class="text-right"><strong>{{ balance_sheet.total_period_asset|money:include_cents }}</strong></td>
                                <td class="text-right"><strong>{{ balance_sheet.total_outgoing_asset|money:include_cents }}</strong></td>
                            </tr>
                            <tr>
                                <td colspan="{% if show_movement %}7{% else %}6{% endif %}">&nbsp;</td>
                            </tr>
                            <tr class="journal-account-row">
                                <td colspan="{% if show_movement %}7{% else %}6{% endif %}" class="text-left"><strong>LIABILITIES AND EQUITY</strong></td>
                            </tr>
                            {% for report_type, liabilities_accounts in balance_sheet.liabilities.items %}
                                {% for account, account_line in liabilities_accounts.accounts.items %}
                                    <tr>
                                        <td></td>
                                        <td>{{ account.name }}</td>
                                        <td>{{ account.code }}</td>
                                        <td class="text-right">{{ account_line.incoming|money:include_cents }}</td>
                                        {% if show_movement %}
                                            <td class="text-right">{{ account_line.movement_amount|money:include_cents }}</td>
                                        {% endif%}
                                        <td class="text-right">{{ account_line.period_amount|money:include_cents }}</td>
                                        <td class="text-right">{{ account_line.outgoing|money:include_cents }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="text-right">Total Liabilities and Own Capital</td>
                                <td class="text-right"><strong>{{ balance_sheet.total_incoming_liabilities|money:include_cents }}</strong></td>
                                {% if show_movement %}
                                    <td class="text-right"><strong>{{ balance_sheet.total_movement_liabilities|money:include_cents }}</strong></td>
                                {% endif %}
                                <td class="text-right"><strong>{{ balance_sheet.total_period_liabilities|money:include_cents }}</strong></td>
                                <td class="text-right"><strong>{{ balance_sheet.total_outgoing_liabilities|money:include_cents }}</strong></td>
                            </tr>
                            <tr class="journal-account-row">
                                <td colspan="{% if show_movement %}7{% else %}6{% endif %}" class="text-left"><strong>INCOME STATEMENT</strong></td>
                            </tr>
                            {% for lines_type, lines in income_statement.lines.items %}
                                {% for report_type, report_lines in lines.report_type_lines.items %}
                                    {% for account, income_account_line in report_lines.accounts.items %}
                                        <tr>
                                            <td></td>
                                            <td><span class="mx-3" style="margin-left: 5px;">{{ account.0 }}</span></td>
                                            <td>{{ account.1 }}</td>
                                            <td class="text-right">{{ 0|money:include_cents }}</td>
                                            {% if show_movement %}
                                                <td class="text-right">{{ income_account_line.current_year_amount|money:include_cents }}</td>
                                            {% endif %}
                                            <td class="text-right">{{ income_account_line.period_amount|money:include_cents }}</td>
                                            <td class="text-right">{{ income_account_line.outgoing_amount|money:include_cents }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                {% if lines_type == 'tax' %}
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td></td>
                                        <td class="text-left"></td>
                                        <td>Total Income Statement</td>
                                        <td class="text-right">{{ 0|money:include_cents }}</td>
                                        {% if show_movement %}
                                            <td class="text-right">{{ lines.current_year_net_result|money:include_cents }}</td>
                                        {% endif %}
                                        <td class="text-right">{{ lines.total|money:include_cents }}</td>
                                        <td class="text-right">{{ lines.current_year_net_result|money:include_cents }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">Total</td>
                                <td class="text-right"><strong>{{ balance_sheet.total_incoming|money:include_cents }}</strong></td>
                                {% if show_movement %}
                                    <td class="text-right"><strong>{{ balance_sheet.total_movement|money:include_cents }}</strong></td>
                                {% endif %}
                                <td class="text-right"><strong>{{ balance_sheet.total_period|money:include_cents }}</strong></td>
                                <td class="text-right"><strong>{{ balance_sheet.total_outgoing|money:include_cents }}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>