{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load group_permissions_form %}
{% block page_title %} System Access Levels {% endblock page_title %}
{% block content %}
<form method="post" action="" id="permission_group_permissions" class="form-horizontal">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left">
          </div>
          <div class="pull-right">
            <a href="{% url 'create_permission_group' %}" class="btn btn-sm btn-primary" role="button"><i class="fa fa-plus"></i> New</a>
            <button type="submit" id="save_permission_group_permissions" class="btn btn-success btn-sm" data-ajax-url="{% url 'save_permission_group_permissions' %}"><i class="fa fa-save"></i> Save</button>
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive col-lg-12">

                <div class="form-group control-group">
                    <label class="col-sm-2 control-label txt-font12" for="group">Permission Group:</label>
                    <div class="col-sm-10">
                        <select id="group" name="group" class="form-control chosen-select"
                                data-ajax-url="{%  url 'group_permission_system_access_settings' %}">
                            <option value="">----</option>
                            {% for group  in groups %}
                                <option value="{{ group.id }}">{{ group }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="group_permission_settings">
                    {% if group %}
                        {% permission_group_permissions group %}
                    {% endif  %}
                </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/system_access_levels.js' %}"></script>
{% endblock %}