<select name="distribution_{{ row|add:start }}" id="distribution_{{ row|add:start }}"
        class="form-control distributions" tabindex="{{ col.col7|add:start }}"
        data-ajax-url="{% url 'create_journal_distribution' %}" disabled="disabled"
        data-row-id="{{ row|add:start }}"
>
    <option value="no">No</option>
    <option value="yes">Yes</option>
</select>