<select name="ledger_{{ row }}" id="ledger_{{ row }}" class="ledgers form-control"
        tabindex="{{ tab_index }}"
        style="min-width: 20px !important; max-width: 50px !important;"
        data-tab-start="{{ start }}"
        data-row-id="{{ row }}"
        data-ajax-url="{{ module_url }}"
        data-ajax-accounts-url="{% url 'ledger_accounts_list' %}"
        data-ajax-supplier-url="{% url 'search_suppliers_list' %}"
        data-ajax-customers-url="{% url 'customers_list' %}"
>
    <option value="">--</option>
    {% for ledger in ledgers %}
        <option value="{{ ledger.value }}"
            {% if ledger.value == ledger_type %}
                selected="selected"
            {% elif ledger.is_default %}
                selected="selected"
            {% endif %}
        >{{ ledger.name }}</option>
    {% endfor %}
</select>
