{% for k, object in objects.items %}
    <td>
        <select name="object_item_{{ row }}" id="object_item_{{ row }}-{{ k }}"
                class="form-control object_items chosen-select" tabindex="{{ tab_index }}"
                data-row-id="{{ row }}"
        >
            <option value="">--</option>
            {% for object_item in object.object_items %}
                <option value="{{ object_item.id }}" data-description="{{ object_item.name }}">{{ object_item }}</option>
            {% endfor %}
        </select>
    </td>
{% endfor %}