{% extends 'fullpage.html' %}
{% load static %}
{% block page_title %}
    <span class="left">Create Certificate</span>
    <span class="right pull-right"></span>
{% endblock page_title %}
{% block stylesheet %}
    <style>

    </style>
{% endblock %}
{% block content %}

  <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;">Create new Record</h5>
          <div class="btn-group pull-right">
                <div class="form-group pull-right">
                    <a href="{% url 'certificates' %}" class="btn btn-default btn-sm">Prev. Level</a>
                    <button id="save_certificate" data-ajax-url="{% url 'create_certificate' %}" type="submit"
                            class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                    <a href="javascript:void(0);" id="add_image"
                       data-modal="{% url 'upload_certificate_document' %}"
                       data-ajax-url="{% url 'upload_certificate_document' %}"
                       class="btn btn-success btn-sm"> <i class="fa fa-upload"></i> Upload</a>

                </div>
          </div>
      </div>
      <div class="panel-body">
          <div class="col-lg-4 col-sm-12">
              <div class="panel panel-info">
                  <div class="panel-heading">Document</div>
                  <div class="panel-body" style="overflow:scroll; height:1300px;">
                      {% include 'certificate/form.html' %}
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-sm-12">
              <div class="panel panel-info" id="create_invoice_detail_container">
                  <div class="panel-heading">Document Image</div>
                  <div class="panel-body" style="overflow:scroll; height:1000px;">
                  <div id="invoice_pdf" data-pdf-url=""></div>
              </div>
              <div style="overflow:scroll; height:200px;"
                     data-ajax-url="{% url 'add_comments' content_type=content_type.id %}" id="add_comments">

              </div>
          </div>

      </div>
  </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            const el = $("#add_comments");
            if (el.length) {
                $.get(el.data('ajax-url'), function(responseHtml){
                    el.html(responseHtml)
                });
            }
        });
    </script>
{% endblock %}