{% extends 'fullpage.html' %}
{% load static %}
{% load edit_certificate_form %}
{% load role_tags comment_tags %}
{% block page_title %}
    <span class="left">Create Certificate</span>
    <span class="right pull-right"></span>
{% endblock page_title %}
{% block stylesheet %}
    <style>

    </style>
{% endblock %}
{% block content %}

  <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left">
            <span class="panel-title" style="padding-right: 30px;">
               Record {{ certificates.number }}/{{ certificates.paginator.num_pages }}
            </span>
            {% if certificates.has_other_pages %}
                <ul class="pagination btn-group">
                    {% if certificates.has_previous %}
                        <a href="?page=1" type="button" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="?page={{ certificates.previous_page_number }}" type="button" class="btn btn-info"
                           aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled"
                           class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    {% endif %}

                    {% if certificates.has_next %}
                        <a href="?page={{ certificates.next_page_number }}" type="button" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        <a href="?page={{ certificates.paginator.num_pages }}" type="button" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                    {% endif %}
                </ul>
            {% endif %}
          </div>
          <div class="btn-group pull-right">
                <div class="form-group pull-right">
                    {% if is_locked %}
                        <span class="label label-danger">Locked</span>
                    {% elif can_edit  %}
                        <a href="{% url 'certificates' %}" class="btn btn-default btn-sm">Prev. Level</a>
                        <button id="update_certificate" data-ajax-url="{% url 'update_certificate' certificate.id %}" class="btn btn-primary btn-sm"><i class="fa fa-save" {% if certificate.supplier.is_blocked %} disabled="disabled" {% endif %}></i> Update</button>
                        <a type="button" class="btn btn-danger btn-sm" name="delete_certificate" id="delete_certificate" href="{% url 'delete_certificate' certificate.id %}" onclick="return confirm('Are you sure you want to delete  this document, this is a HARD delete')" data-toggle="tooltip" ><i class="fa fa-close"></i> Delete</a>
                    {% else %}
                        <a href="javascript:history.back(-1)"  class="btn btn-default btn-sm"> Previous Level</a>
                    {% endif %}
                </div>
          </div>
      </div>
      <div class="panel-body">
          <div class="col-lg-4 col-sm-12">
              <div class="panel panel-info">
                  <div class="panel-heading">Document</div>
                  <div class="panel-body" style="overflow:scroll; min-height:500px;">
                      {% edit_form certificate request.session.role %}
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-sm-12">
              <div class="panel panel-info" id="create_invoice_detail_container">
                  <div class="panel-heading">Document Image</div>
                  <div class="panel-body" style="overflow:scroll; height:1000px;">
                  <div id="pdf_viewer" data-pdf-url="{{ MEDIA_URL }}{{ certificate.file_location }}"></div>
              </div>

              <div style="overflow:scroll; height:200px;">
                    {% comments certificate.id content_type.id %}
              </div>
          </div>

      </div>
  </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}