{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<form method="post" novalidate="novalidate" id="certificate_form" class="form-horizontal" action="{% url 'create_certificate' %}">
    {% csrf_token %}
    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.supplier class="form-control chosen-select"  %}
            {% if form.supplier.auto_id  != "id_tos" %}
                {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
            {% endif %}
            <span id="supplier_detail_url" data-ajax-url="{% url 'supplier_detail' %}"></span>
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_name.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_name.id_for_label }}">{{ form.supplier_name.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.supplier_name class="form-control" %}
            {% if form.supplier_name.auto_id  != "id_tos" %}
                {% if form.supplier_name.errors %}<span class="help-inline">{{ form.supplier_name.errors }}</span>{% endif %}
            {% endif %}

        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.supplier_number.id_for_label }}">{{ form.supplier_number.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.supplier_number class="form-control" %}
            {% if form.supplier_number.auto_id  != "id_tos" %}
                {% if form.supplier_number.errors %}<span class="help-inline">{{ form.supplier_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>


    <div class="form-group control-group {% if form.document_type.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.document_type.id_for_label }}">{{ form.document_type.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.document_type class="form-control" %}
            {% if form.document_type.auto_id  != "id_tos" %}
                {% if form.document_type.errors %}<span class="help-inline">{{ form.document_type.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.document_number.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.document_number.id_for_label }}">{{ form.document_number.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.document_number class="form-control" %}
            {% if form.document_number.auto_id  != "id_tos" %}
                {% if form.document_number.errors %}<span class="help-inline">{{ form.document_number.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reference_1.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reference_1.id_for_label }}">{{ form.reference_1.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.reference_1 class="form-control" %}
            {% if form.reference_1.auto_id  != "id_tos" %}
                {% if form.reference_1.errors %}<span class="help-inline">{{ form.reference_1.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reference_2.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reference_2.id_for_label }}">{{ form.reference_2.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.reference_2 class="form-control" %}
            {% if form.reference_2.auto_id  != "id_tos" %}
                {% if form.reference_2.errors %}<span class="help-inline">{{ form.reference_2.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.employee.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.employee.id_for_label }}">
        {{ form.employee.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.employee class="form-control chosen-select" %}
            {% if form.employee.auto_id  != "id_tos" %}
                {% if form.employee.errors %}<span class="help-inline">{{ form.employee.errors }}</span>{% endif %}
            {% endif %}
           <i class="fa fa-plus-circle"></i>
        </div>
    </div>

    <div class="form-group control-group {% if form.document_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.document_date.id_for_label }}">{{ form.document_date.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.document_date class="form-control datepicker"  %}
            {% if form.document_date.auto_id  != "id_tos" %}
                {% if form.document_date.errors %}<span class="help-inline">{{ form.document_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.expiry_date.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.expiry_date.id_for_label }}">{{ form.expiry_date.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.expiry_date class="form-control datepicker" %}
            {% if form.expiry_date.auto_id  != "id_tos" %}
                {% if form.expiry_date.errors %}<span class="help-inline">{{ form.expiry_date.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reminder.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reminder.id_for_label }}">{{ form.reminder.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.reminder class="form-control" %}
            {% if form.reminder.auto_id  != "id_tos" %}
                {% if form.reminder.errors %}<span class="help-inline">{{ form.reminder.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.reminder_days.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.reminder_days.id_for_label }}">{{ form.reminder_days.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.reminder_days class="form-control" %}
            {% if form.reminder_days.auto_id  != "id_tos" %}
                {% if form.reminder_days.errors %}<span class="help-inline">{{ form.reminder_days.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.remind_role.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.remind_role.id_for_label }}">{{ form.remind_role.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.remind_role class="form-control" %}
            {% if form.remind_role.auto_id  != "id_tos" %}
                {% if form.remind_role.errors %}<span class="help-inline">{{ form.remind_role.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.comment.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.comment.id_for_label }}">{{ form.comment.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.comment class="form-control" %}
            {% if form.comment.auto_id  != "id_tos" %}
                {% if form.comment.errors %}<span class="help-inline">{{ form.comment.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.profiles.errors %}error{% endif %}">
        <label class="col-sm-4 control-label txt-font12" for="{{ form.profiles.id_for_label }}">{{ form.profiles.label_tag }}</label>
        <div class="col-sm-8">
            {% render_field form.profiles class="form-control" %}
            {% if form.profiles.auto_id  != "id_tos" %}
                {% if form.profiles.errors %}<span class="help-inline">{{ form.profiles.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <input type="hidden" name="invoice_image" id="invoice_image" value="" />

    <span id="validate_document_number" data-validate-document-number-url="{% url 'validate_document_number'  %}"></span>
</form>
