{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} {% translate 'Important Documents ' %} {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <a href="{% url 'create_certificate' %}" class="btn btn-sm btn-primary" role="button">
                <i class="fa fa-plus-circle"></i> {% translate 'Add New Document' %}
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>{% translate 'ID' %}</th>
                        <th>{% translate 'Supplier' %}</th>
                        <th>{% translate 'Supplier code' %}</th>
                        <th>{% translate 'Employee' %}</th>
                        <th>{% translate 'Document Type' %}</th>
                        <th>{% translate 'Document Date' %}</th>
                        <th>{% translate 'Expiry Date' %}</th>
                        <th>{% translate 'Reminder' %}</th>
                        <th>{% translate 'Comment' %}</th>
                    </tr>
                </thead>
                <tbody id="important_documents">
                    {% for certificate in certificates %}
                         {% if certificate.owner_id == request.session.profile %}
                             <tr data-detail-url="{% url 'certificate_detail' certificate.id %}?page={{ forloop.counter }}&c=1">
                         {% else %}
                             <tr data-detail-url="{% url 'certificate_show' certificate.id %}?page={{ forloop.counter }}&c=1">
                         {% endif %}
                            <td>{{ certificate }}</td>
                            <td>{{ certificate.supplier.name }}</td>
                            <td>{{ certificate.supplier.code }}</td>
                            <td>{{ certificate.employee }}</td>
                            <td>{{ certificate.document_type }}</td>
                            <td>{{ certificate.document_date }}</td>
                            <td>{{ certificate.expiry_date }}</td>
                            <td>
                                {% if certificate.reminder %}
                                    <span class="label label-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="label label-danger"><i class="fa fa-close"></i></span>
                                {% endif %}
                            </td>
                            <td class="actions" data-original-title="{{ certificate.comment }}" data-toggle="tooltip">
                                <div class="truncated" id="content_{{ certificate.id }}">
                                    {{ certificate.comment|safe|truncatechars_html:40 }}
                                </div>
                                <div class="full-content" id="full_content_{{ certificate.id }}">
                                    {{ certificate.comment|safe }}
                                </div>
                                 {% if certificate.comment|length > 40 %}
                                     <a href="javascript:void(0)" class="content-show content actions"
                                        data-content-id="{{ certificate.id }}"
                                        id="show_{{ certificate.id }}">{% translate 'More' %}</a>
                                     <a href="javascript:void(0)" style="display: none;" class="content-hide content actions"
                                        data-content-id="{{ certificate.id }}"
                                        id="hide_{{ certificate.id }}">{% translate 'Less' %}</a>
                                 {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="15" class="actions">{% translate 'There are no documents available' %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="9" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>{% translate "First" %}</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>{% translate "Prev" %}</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>{% translate "Next" %}</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>{% translate "Last" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
        $(function(){
            $("#important_documents>tr>td:not(.actions)").on('click', function(){
                document.location.href = $(this).parent('tr').data('detail-url');
                return false;
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
