{% extends 'fullpage.html' %}
{% load static i18n %}
{% load role_tags %}
{% load edit_certificate_form %}
{% block page_title %}
    <span class="left">{% translate "Create Certificate" %}</span>
    <span class="right pull-right"></span>
{% endblock page_title %}
{% block content %}

  <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left">
            <span class="panel-title" style="padding-right: 30px;">
               {% translate "Record" %} {{ certificates.number }}/{{ certificates.paginator.num_pages }}
            </span>
            {% if certificates.has_other_pages %}
                <ul class="pagination btn-group">
                    {% if certificates.has_previous %}
                        <a href="?page=1" type="button" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
                        <a href="?page={{ certificates.previous_page_number }}" type="button" class="btn btn-info"
                           aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled"
                           class="btn btn-info" aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    {% endif %}

                    {% if certificates.has_next %}
                        <a href="?page={{ certificates.next_page_number }}" type="button" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        <a href="?page={{ invoices.paginator.num_pages }}" type="button" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                    {% else %}
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        <button type="button" disabled="disabled" class="btn btn-info"
                           aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                    {% endif %}
                </ul>
            {% endif %}
          </div>
          <div class="btn-group pull-right">
                <div class="form-group pull-right">
                    {% if is_locked %}
                        <span class="label label-danger">{% translate "Locked" %}</span>
                    {% elif can_edit  %}
                        <a href="{% url 'certificates' %}" class="btn btn-default btn-sm">{% translate "Prev. Level" %}</a>
                    {% else %}
                        <a href="javascript:history.back(-1)"  class="btn btn-default btn-sm">{% translate " Previous Level" %}</a>
                    {% endif %}
                </div>
          </div>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-lg-4 col-sm-12">
                  <div class="panel panel-info">
                      <div class="panel-heading">{% translate "Document" %}</div>
                      <div class="panel-body" style="overflow:scroll; min-height:500px;">
                        {% edit_form certificate request.session.role False %}
                      </div>
                  </div>
              </div>
              <div class="col-lg-8 col-sm-12">
                  <div class="panel panel-info" id="create_invoice_detail_container">
                      <div class="panel-heading">{% translate "Document Image" %}</div>
                      <div class="panel-body" style="overflow:scroll; height:500px;"></div>
                      <div id="pdf_viewer" data-pdf-url="{{ MEDIA_URL }}{{ certificate.file_location }}"></div>
                  </div>
                  <div style="overflow:scroll; height:200px;"
                         data-ajax-url="{% url 'comment_index' content_type=content_type.id object_id=certificate.pk %}" id="add_comments">

                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/pdfobject/pdfobject.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            const el = $("#add_comments");
            if (el.length) {
                $.get(el.data('ajax-url'), function(responseHtml){
                    el.html(responseHtml)
                });
            }
        });
    </script>

{% endblock %}