{% extends 'modal.html' %}
{% load static %}
{% block title %} Add Document {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="add_invoice_image_form" name="add_invoice_image_form"
        action="{% url 'upload_certificate_document' %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="add_invoice_image_submit" type="submit" id="add_invoice_image_submit"><i class="fa fa-save"></i> Save</button>
    </div>
  </form>

{% endblock %}