{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags vat sales_tags %}
{% block page_title %}CREATE INVOICE FROM {{ proforma_invoice }} <span class="pull-right">&nbsp;{{ proforma_invoice }}</span>
{% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
    <style type="text/css">
label {
    font-weight: normal !important;
}
</style>
<form method="post" novalidate="novalidate" id="sales_invoice_form" action="{% url 'create_invoice_from_proforma_invoice' proforma_invoice_id=proforma_invoice.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">&nbsp;
          <div class="pull-right">
            <button type="button"
                    class="btn btn-primary btn-large save-invoice"
                    name="submit_invoice"
                    data-payment-url="{% url 'create_cash_invoice_receipt' %}"
                    data-is-cash="{% if proforma_invoice.is_cash %}1{% else %}0{% endif %}"
                    data-cash-payment-url="{% url 'create_cash_invoice_receipt' %}"
                    data-cash-action-url="{% url 'create_invoice_from_proforma_invoice'  proforma_invoice_id=proforma_invoice.id %}"
                    data-credit-action-url="{% url 'create_invoice_from_proforma_invoice'  proforma_invoice_id=proforma_invoice.id %}"
                    data-action-url="{% url 'create_invoice_from_proforma_invoice'  proforma_invoice_id=proforma_invoice.id %}"
                    id="submit_invoice_and_continue"
                    data-action="continue"><i class="fa fa-save"></i> Save</button>
            <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body align-center">
           <div class="sales-document">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-4 text-left">
                         {% display_logo company 200 75 %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        {% include "sales/address/company.html" %}
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4 text-right">
                        <table class="table table-borderless table-condensed">
                            <tr>
                                <td colspan="2"><strong class="h4">{{ proforma_invoice.invoice_type|upper }}</strong></td>
                            </tr>
                            <tr>
                                <td>Vat Registration Number</td>
                                <td>{{ company.vat_number }}</td>
                            </tr>
                            <tr>
                                <td>Document Number</td>
                                <td>#</td>
                            </tr>
                            <tr>
                                <td>Proforma Invoice</td>
                                <td>{{ proforma_invoice }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" id="customer-data">
                    <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                        <div class="panel panel-default height invoice-col">
                            <div class="panel-heading">Customer</div>
                            <div class="panel-body" style="padding: 5px;">
                                {% with sales_invoice=proforma_invoice %}
                                    {% include "sales/address/postal.html" %}
                                {% endwith %}
                                <input type="hidden" id="invoice_discount" name="discount_percentage"
                                       value="{% if proforma_invoice.discount_percentage %}{{ proforma_invoice.discount_percentage }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="panel panel-default height invoice-col">
                            <div class="panel-heading">Delivery To</div>
                            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                                {% with sales_invoice=proforma_invoice %}
                                    {% include "sales/address/delivery.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="panel panel-default height invoice-col">
                            <div class="panel-heading">&nbsp;</div>
                            <div class="panel-body" style="padding: 5px;">
                                {% include "proforma/estimate.html" %}
                                 <table class="table">
                                     <tr class="{% if form.delivery_number.errors %}error{% endif %}">
                                         <td>{{ form.delivery_number.label_tag }}</td>
                                         <td class="text-right">
                                            {% render_field form.delivery_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                            {% if form.delivery_number.auto_id  != "id_tos" %}
                                                {% if form.delivery_number.errors %}<span class="help-inline">{{ form.delivery_number.errors }}</span>{% endif %}
                                            {% endif %}
                                         </td>
                                     </tr>
                                      <tr class="{% if form.period.errors %}error{% endif %}">
                                         <td>{{ form.period.label_tag }}</td>
                                         <td class="text-right">
                                            {% render_field form.period class="form-control form-control-sm form-control form-control-sm-sm" %}
                                            {% if form.period.auto_id  != "id_tos" %}
                                                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                            {% endif %}
                                         </td>
                                     </tr>
                                      <tr class="{% if form.invoice_date.errors %}error{% endif %}">
                                         <td>{{ form.invoice_date.label_tag }}</td>
                                         <td class="text-right">
                                            {% render_field form.invoice_date class="form-control form-control-sm form-control datepicker" %}
                                            {% if form.invoice_date.auto_id  != "id_tos" %}
                                                {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                            {% endif %}
                                         </td>
                                     </tr>
                                      <tr class="{% if form.due_date.errors %}error{% endif %}">
                                         <td>{{ form.due_date.label_tag }}</td>
                                         <td class="text-right">
                                            {% render_field form.due_date class="form-control form-control-sm form-control datepicker"  readonly="readonly" %}
                                            {% if form.due_date.auto_id  != "id_tos" %}
                                                {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
                                            {% endif %}
                                         </td>
                                     </tr>
                                 </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                        {% invoice_linked_objects request.session.company request.session.role None 'horizontal' %}
                   </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">&nbsp;</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table" width="100%">
                                        <tr>
                                            <th class="border-0">Type</th>
                                            <th class="border-0">Stock Code</th>
                                            <th class="border-0">Description</th>
                                            <th class="border-0 text-right">Quantity On Hand</th>
                                            <th class="text-right">Invoiced</th>
                                            <th class="text-right">Back Order</th>
                                            <th class="border-0">Unit</th>
                                            <th class="border-0 text-right">Price Excl</th>
                                            <th class="border-0 text-right">Price</th>
                                            <th class="border-0">Disc(%)</th>
                                            <th class="border-0 text-right">Discount</th>
                                            <th class="border-0 text-right">Net Price</th>
                                            <th class="border-0 text-right">Vat</th>
                                            <th class="border-0 text-right">Total Incl</th>
                                        </tr>
                                        <tbody id="invoice_items_body" data-ajax-url="{% url 'proforma_invoice_items' proforma_invoice_id=proforma_invoice.id %}">
                                            <tr id="invoice_items_placeholder">
                                                <td colspan="14">
                                                    <img src="{% static 'images/loader.gif' %}">
                                                </td>
                                            </tr>
                                            <tr id="actions">
                                                <td class="text-right" colspan="14">
                                                    <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                                            data-ajax-url="{% url 'add_invoice_items' %}"
                                                    >Add</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="po-total" colspan="13">Sub Total</td>
                                                <td class="po-total" >&nbsp;
                                                    <span id="sub_total"></span>
                                                    {% render_field form.sub_total %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">Line Discounts</td>
                                                <td class="po-total" >&nbsp;
                                                    <span id="total_discount"></span>
                                                    {% render_field form.line_discount %}
                                                </td>
                                            </tr>
                                            <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                                <td class="po-total" colspan="13">Customer Discounts</td>
                                                <td class="po-total" >&nbsp;
                                                    <span id="customer_invoice_discounts"></span>
                                                    {% render_field form.customer_discount %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">Amount Excluding Vat</td>
                                                <td class="po-total" >&nbsp;
                                                    <span id="net_total"></span>
                                                    {% render_field form.net_amount %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">Vat</td>
                                                <td class="po-total" >&nbsp;
                                                    <span id="total_vat_amount"></span>
                                                    {% render_field form.vat_amount %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="po-total" colspan="13">Amount Including Vat</td>
                                                <td class="po-total" >&nbsp;
                                                    <span id="total_order_value"></span>
                                                    {% render_field form.total_amount %}
                                                    <input type="hidden" id="default_vat" value="{{ default_vat}}" />
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div>
                            <table class="table table-bordered" width="100%">
                                <tr>
                                    <td class="space" colspan="{{ cols }}">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Gross Weight</td>
                                    <td class="po-total" >&nbsp;{{ estimate.gross_weight|money }}</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Net Weight</td>
                                    <td class="po-total" >&nbsp;{{ estimate.net_weight|money }}</td>
                                </tr>
                                <tr>
                                    <td class="po-total" colspan="14">Total Items</td>
                                    <td class="po-total" >&nbsp;{{ estimate.total_quantity|money }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="panel customer-discount-calculation" id="calculation_summary" >
                            {% vat_summary estimate estimate.estimate_items.all %}
                        </div>
                    </div>
                </div>
                <table class="table table-condensed table-bordered" id="invoice-document" width="100%">
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/estimate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}