{% extends 'base.html' %}
{% load static %}
{% load company_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load invoice_tags vat sales_tags %}
{% block page_title %}CREATE INVOICE FROM {{ estimate }} <span class="pull-right">&nbsp;{{ estimate }}</span>
{% endblock page_title %}
{% block stylesheet %}
{# <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.css' %}" />
{% endblock stylesheet %}
{% block content %}
<form method="post" novalidate="novalidate" id="sales_invoice_form"
    action="{% url 'create_estimate_invoice' estimate_id=estimate.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">&nbsp;
          <div class="text-right">
            <a href="{% url 'sales_delivery_index' %}" class="btn btn-warning">Cancel</a>
            <button type="button" class="btn btn-primary btn-large save-cash-invoice" name="submit_invoice"
                    data-payment-url="{% url 'create_cash_invoice_receipt' %}"
                    id="submit_invoice_and_continue"
                    data-action="continue"><i class="fa fa-save"></i> Save</button>
            <button type="button" class="btn btn-primary btn-large save-cash-invoice"
                    data-payment-url="{% url 'create_cash_invoice_receipt' %}"
                    name="submit_invoice_and_print"
                    id="submit_invoice_and_print"
                    data-action="print"><i class="fa fa-print"></i> Save and Print</button>
          </div>
      </div>
      <div class="panel-body aligin-center">
           <div class="sales-document">
                <table class="table table-condensed table-bordered" id="invoice-document" width="100%">
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="line" width="50%">
                                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                                         <div class="controls">
                                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                                            {% if form.branch.auto_id  != "id_tos" %}
                                                {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="line" width=50%"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="3">
                                        <div id="">
                                           {% display_logo company 200 75 %}
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        {{ company.name }}<br>
                                        {{ company.address_line_1 }}<br>
                                        {{ company.address_line_2 }}<br>
                                        Phone: {{ company.landline_number }}
                                        <br>
                                        <br>
                                    </td>
                                    <td class="po-deets text-right" colspan="4">
                                        <strong class="h4">{{ invoice_type|upper }}</strong><br><br>
                                        Number:&nbsp;&nbsp;#
                                        <br><br>
                                        <span>Date:&nbsp;&nbsp; {{ estimate.date|date:'d-M-Y' }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td colspan="2"><strong>Cash Customer:</strong></td>
                                     <td colspan="2"></td>
                                     <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ estimate.customer_name }}
                                        <input type="hidden" name="customer_name" value="{{ estimate.customer_name }}">
                                        <input type="hidden" id="line_discount" value="">
                                        <input type="hidden" id="invoice_discount" value="">
                                    </td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.delivery_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.delivery_number.id_for_label }}">{{ form.delivery_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.delivery_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                                {% if form.delivery_number.auto_id  != "id_tos" %}
                                                    {% if form.delivery_number.errors %}<span class="help-inline">{{ form.delivery_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span id="customer_number"></span></td>
                                    <td><span id="shipping_address"></span></td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.estimate_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.estimate_number.id_for_label }}">{{ form.estimate_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.estimate_number class="form-control form-control-sm form-control form-control-sm-sm" %}
                                                {% if form.estimate_number.auto_id  != "id_tos" %}
                                                    {% if form.estimate_number.errors %}<span class="help-inline">{{ form.estimate_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_street">
                                            {{ estimate.postal.address_line_1 }}
                                            <input type="hidden" name="postal_street" value="{{ estimate.postal.address_line_1 }}">
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_street">
                                            {{ estimate.delivery.address_line_1 }}
                                            <input type="hidden" name="delivery_street" value="{{ estimate.delivery.address_line_1 }}">
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.po_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.po_number.id_for_label }}">{{ form.po_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.po_number class="form-control form-control-sm" %}
                                                {% if form.po_number.auto_id  != "id_tos" %}
                                                    {% if form.po_number.errors %}<span class="help-inline">{{ form.po_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                         </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_city">
                                            {{ estimate.postal.city }}
                                            <input type="hidden" name="postal_city" value="{{ estimate.postal.city }}">
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_city">
                                            {{ estimate.delivery.city }}
                                            <input type="hidden" name="delivery_city" value="{{ estimate.delivery.city }}">
                                        </span>
                                    </td>
                                    <td class="text-right">
                                         <div class="form-group control-group  {% if form.vat_number.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.vat_number class="form-control form-control-sm vat-number" %}
                                                {% if form.vat_number.auto_id  != "id_tos" %}
                                                    {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_province">
                                            {{ estimate.postal.province_name }}
                                            <input type="hidden" name="postal_province" value="{{ estimate.province }}">
                                        </span>
                                    </td>
                                    <td>
                                        <span id="delivery_province">
                                            {{ estimate.postal.province_name }}
                                            <input type="hidden" name="delivery_province" value="{{ estimate.postal.province }}">
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.period class="form-control form-control-sm"  %}
                                                {% if form.period.auto_id  != "id_tos" %}
                                                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="postal_country">
                                            {{ estimate.postal.country.name }}
                                            <input type="hidden" name="postal_country" value="{{ estimate.postal.country }}">
                                        </span>
                                    </td>
                                    <td>
                                       <span id="delivery_country">
                                            {{ estimate.delivery.country.name }}
                                            <input type="hidden" name="delivery_country" value="{{ estimate.delivery.country }}">
                                        </span>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">{{ form.invoice_date.label_tag }}</label>
                                            <div class="col-sm-8">
                                                {% render_field form.invoice_date class="form-control form-control-sm datepicker" %}
                                                {% if form.invoice_date.auto_id  != "id_tos" %}
                                                    {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right">
                                        <div class="form-group control-group {% if form.due_date.errors %}error{% endif %}">
                                            <label class="col-sm-4 control-label txt-font12" for="{{ form.due_date.id_for_label }}">{{ form.due_date.label_tag }}</label>
                                             <div class="col-sm-8">
                                                {% render_field form.due_date class="form-control form-control-sm datepicker" readonly="readonly"  %}
                                                {% if form.due_date.auto_id  != "id_tos" %}
                                                    {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left" colspan="{{ cols }}">
                        <div class="form-group control-group {% if form.comments.errors %}error{% endif %}">
                            <label class="control-label txt-font12" for="{{ form.comments.id_for_label }}">{{ form.comments.label_tag }}</label>
                            <div class="controls">
                                {% render_field form.comments class="form-control form-control-sm" %}
                                {% if form.comments.auto_id  != "id_tos" %}
                                    {% if form.comments.errors %}<span class="help-inline">{{ form.comments.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </td>
                    </tr>
                                    <tr>
                        <td class="line" colspan="{{ cols }}">
                            {% invoice_linked_objects request.session.company request.session.role None 'horizontal' %}
                        </td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="line" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table width="100%">
                                <tr>
                                    <td class="" colspan="2">DELIVERY CREATED BY</td>
                                    <td class="text-center" colspan="3">DATE CREATED</td>
                                    <td class="text-center" colspan="3">TIME CREATED</td>
                                    <td class="text-right" colspan="3">BRANCH</td>
                                </tr>
                                <tr>
                                    <td class="" colspan="2">{% if profile %}{{ profile }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if created_at %}{{ estimate.created_at|date:'d-M-Y' }}{% endif %}</td>
                                    <td class="text-center" colspan="3">{% if created_at %}{{ estimate.created_at|date:'H:s' }}{% endif %}</td>
                                    <td class="text-right" colspan="3">{{ estimate.branch }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">
                            <table class="table" width="100%">
                                <tr>
                                    <th class="border-0">Type</th>
                                    <th class="border-0">Stock Code</th>
                                    <th class="border-0">Description</th>
                                    <th class="border-0 text-right">Quantity On Hand</th>
                                    <th class="text-right">Estimated</th>
                                    <th class="text-right">Invoiced</th>
                                    <th class="text-right">Back Order</th>
                                    <th class="border-0">Unit</th>
                                    <th class="border-0 text-right">Price Excl</th>
                                    <th class="border-0 text-right">Price</th>
                                    <th class="border-0">Disc(%)</th>
                                    <th class="border-0 text-right">Discount</th>
                                    <th class="border-0 text-right">Net Price</th>
                                    <th class="border-0 text-right">Vat</th>
                                    <th class="border-0 text-right">Total Incl</th>
                                </tr>
                                <tbody id="invoice_items_body" data-ajax-url="{% url 'invoice_estimate_items' estimate_id=estimate.id %}">
                                    <tr id="invoice_items_placeholder">
                                        <td colspan="15">
                                            <img src="{% static 'images/loader.gif' %}">
                                        </td>
                                    </tr>
                                    <tr id="actions">
                                        <td class="text-right" colspan="15">
                                            <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                                    data-ajax-url="{% url 'add_invoice_items' %}"
                                            >Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="line-items">
                        {% for i in i|rjust:cols %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr class="line-items">
                        {% for i in i|rjust:cols %}
                            <td>&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="po-total" colspan="14">SUB TOTAL</td>
                        <td class="po-total" >&nbsp;
                            <span id="sub_total"></span>
                            {% render_field form.sub_total %}
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="14">LINE DISCOUNTS</td>
                        <td class="po-total" >&nbsp;
                            <span id="total_discount"></span>
                            {% render_field form.line_discount %}
                        </td>
                    </tr>
                    <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                        <td class="po-total" colspan="14">CUSTOMER DISCOUNTS</td>
                        <td class="po-total" >&nbsp;
                            <span id="customer_invoice_discounts"></span>
                            {% render_field form.customer_discount %}
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="14">NETT TOTAL</td>
                        <td class="po-total" >&nbsp;
                            <span id="net_total"></span>
                            {% render_field form.net_amount %}
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="14">VAT</td>
                        <td class="po-total" >&nbsp;
                            <span id="total_vat_amount"></span>
                            {% render_field form.vat_amount %}
                        </td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="14">TOTAL ESTIMATE VALUE</td>
                        <td class="po-total" >&nbsp;
                            <span id="total_order_value"></span>
                            {% render_field form.total_amount %}
                        </td>
                    </tr>
                    <tr>
                        <td class="space" colspan="{{ cols }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="14">Gross Weight</td>
                        <td class="po-total" >&nbsp;{{ estimate.gross_weight|money }}</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="14">Net Weight</td>
                        <td class="po-total" >&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="po-total" colspan="14">Total Items</td>
                        <td class="po-total" >&nbsp;</td>
                    </tr>
                    {% vat_summary estimate estimate.estimate_items.all %}
                    <tr class="signing-footer">
                        <td>Signed by Customer as received</td>
                        <td class="text-right writtable" colspan=4"></td>
                        <td class="space" colspan="10">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Print Name:</td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="10">&nbsp;</td>
                    </tr>
                    <tr class="signing-footer">
                        <td>Date: </td>
                        <td class="text-right writtable" colspan="4"></td>
                        <td class="space" colspan="10">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="df-copyright" colspan="{{ cols }}">Printed via Docuflow &copy; www.docuflow.co.za</td>
                    </tr>
                </table>
            </div>
                <div class="form-group">
                   <span class="ajax-loader" id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
                </div>
                <div class="controls text-right">
                    <input type="hidden" id="default_vat" value="{{ default_vat}}">
{#                    <div class="form-group {% if form.is_picking_slip_required.errors %}error{% endif %}">#}
{#                        <label class=" control-label txt-font12" for="{{ form.is_picking_slip_required.id_for_label }}">#}
{#                            {{ form.is_picking_slip_required.label_tag }}#}
{#                            {% render_field form.is_picking_slip_required class="form-control"  %}#}
{#                            {% if form.is_picking_slip_required.auto_id  != "id_tos" %}#}
{#                                {% if form.is_picking_slip_required.errors %}<span class="help-inline">{{ form.is_picking_slip_required.errors }}</span>{% endif %}#}
{#                            {% endif %}#}
{#                        </label>#}
{#                    </div>#}

                </div>
          </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/estimate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}"></script>
{% endblock %}