{% load invoice_tags common_tags %}
{% for invoice_item in invoice_items.all %}
    {% if invoice_item.is_inventory %}
        <tr id="sales_item_{{ invoice_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ invoice_item.id }}"
             data-invoice-item-id="{{ invoice_item.id }}"
        >
            <td>
                {{ invoice_item.item_type }}
            </td>
            <td>
                {{ forloop.index0 }}
                {{ invoice_item.inventory.inventory }}
                <input type="hidden" name="invoice_item_id" value="{{ invoice_item.id }}">
            </td>
            <td>
                {{ invoice_item.inventory.description }}
            </td>
            <td class="text-right">
                {{ invoice_item.inventory.available_stock|quantity }}
                <input type="hidden" name="quantity_ordered_{{ invoice_item.id }}" id="quantity_ordered_{{ invoice_item.id }}"
                       value="{{ invoice_item.quantity }}">
            </td>
            <td class="text-right">
                <input type="text" class="form-control form-control-sm quantity"
                   value="{{ invoice_item.deliverable_quantity }}"
                   name="quantity_{{ invoice_item.id }}"
                   id="quantity_{{ invoice_item.id }}"
                   data-item-id="{{ invoice_item.id }}"
                />
            </td>
            <td class="text-right">
                <input type="checkbox" class="checkbox-input create-back-order"
                       {% if invoice_item.is_inventory_available %}
                           disabled="disabled"
                       {% endif %}
                       name="back_order_{{ invoice_item.id }}"
                       id="back_order_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.id }}"
                />
            </td>
            <td class="text-right">
                {{ invoice_item.unit }}
            </td>
            <td class="text-right">
                {{ invoice_item.price|money }}
                <input type="hidden" class="form-control form-control-sm price"
                       name="price_{{ invoice_item.id }}"
                       id="price_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.price }}" />

            </td>
            <td class="text-right">
                {{ invoice_item.price_including|money }}
                <input type="hidden" class="form-control form-control-sm price-including"
                       name="price_including_{{ invoice_item.id }}"
                       id="price_including_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.price_including }}" />
                <input type="hidden" class="sub-total"
                       name="sub_total_{{ invoice_item.id }}"
                       id="sub_total_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.sub_total }}" />
            </td>
            <td class="text-left">
                <span class="price" id="_discount_percentage_{{ invoice_item.id }}">{{ invoice_item.discount|money }}</span>
                <input type="hidden" class="form-control form-control-sm discount" value="{{ invoice_item.discount }}"
                       name="discount_percentage_{{ invoice_item.id }}"
                       id="discount_percentage_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}" />
            </td>
            <td class="text-right">
                <span class="discount-amount" id="discount_amount_{{ invoice_item.id }}"
                      data-item-id="{{ invoice_item.id }}">{{ invoice_item.total_discount_amount|money }}</span>
                <input type="hidden" class="form-control form-control-sm total-discount"
                       value="{{ invoice_item.total_discount_amount }}" readonly="readonly"
                       name="total_discount_{{ invoice_item.id }}"
                       id="total_discount_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}" />
            </td>
            <td class="text-right">
                <span class="price-exc" id="total_price_exl_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
                    {{ invoice_item.total_price_excluding|money }}
                </span>
                <input type="hidden" value="{{ invoice_item.total_price_excluding }}"
                       name="total_price_excluding_{{ invoice_item.id }}"
                       id="total_price_excluding_{{ invoice_item.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
                    {{ invoice_item.total_vat_amount|money }}
                </span>
                <input type="hidden" value="{{ invoice_item.vat_code.id }}"
                       name="vat_code_{{ invoice_item.id }}"
                       id="vat_code_{{ invoice_item.id }}"
                       data-percentage="{{ invoice_item.vat_code.percentage }}"
                       class="vat vat-codes"
                       data-item-id="{{ invoice_item.id }}"
                       data-text="{{ invoice_item.vat_code }}"
                />
                <input type="hidden" value="{{ invoice_item.vat }}"
                       name="vat_percentage_{{ invoice_item.id }}"
                       id="vat_percentage_{{ invoice_item.id }}"
                       class="vat-percentage"
                />
                <input type="hidden"
                       name="total_vat_{{ invoice_item.id }}"
                       id="total_vat_{{ invoice_item.id }}"
                       class="total-vat total-vat-amount"
                       value="{{ invoice_item.total_vat_amount }}"
                />
            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ invoice_item.id }}">{{ invoice_item.total_price_including|money }}</span>
                <input type="hidden" value="{{ invoice_item.total_price_including|money }}"
                       name="total_price_including_{{ invoice_item.id }}"
                       id="total_price_including_{{ invoice_item.id }}"
                       class="total-price-incl open-input" />
            </td>
        </tr>
    {% elif invoice_item.is_account %}
        <tr id="sales_item_{{ invoice_item.id }}" class="sales-items invoice_item_row" data-row-id="{{ invoice_item.id }}"
             data-invoice-item-id="{{ invoice_item.id }}"
        >
            <td>
                {{ invoice_item.item_type }}
            </td>
            <td>
                {{ invoice_item.account.code }}
                <input type="hidden" name="account_{{ invoice_item.id }}" value="{{ invoice_item.account.id }}" />
                <input type="hidden" name="description_{{ invoice_item.id }}" value="{{ invoice_item.description }}" />
            </td>
            <td>{{ invoice_item.description }}</td>
            <td class="text-right">{{ invoice_item.quantity|money }}</td>
            <td class="text-right">
                <input type="hidden" name="quantity_ordered_{{ invoice_item.id }}" id="quantity_ordered_{{ invoice_item.id }}"
                       value="{{ invoice_item.quantity }}">
                <input type="text" class="form-control form-control-sm quantity"
                   value="{{ invoice_item.quantity|money }}"
                   name="quantity_{{ invoice_item.id }}"
                   id="quantity_{{ invoice_item.id }}"
                   data-item-id="{{ invoice_item.id }}"
                />
            </td>
            <td class="text-right">
                -
            </td>
            <td class="text-right">
                {{ invoice_item.unit }}
            </td>
            <td class="text-right">
                {{ invoice_item.price|money }}
                <input type="hidden" class="form-control form-control-sm price"
                       name="price_{{ invoice_item.id }}"
                       id="price_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.price }}" />

            </td>
            <td class="text-right">
                {{ invoice_item.price_including|money }}
                <input type="hidden" class="form-control form-control-sm price-including"
                       name="price_including_{{ invoice_item.id }}"
                       id="price_including_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.price_including }}" />
                <input type="hidden" class="sub-total"
                       name="sub_total_{{ invoice_item.id }}"
                       id="sub_total_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}"
                       value="{{ invoice_item.sub_total }}" />
            </td>
            <td class="text-left">
                <span class="price" id="_discount_percentage_{{ invoice_item.id }}">{{ invoice_item.discount|money }}</span>
                <input type="hidden" class="form-control form-control-sm discount" value="{{ invoice_item.discount }}"
                       name="discount_percentage_{{ invoice_item.id }}"
                       id="discount_percentage_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}" />
            </td>
            <td class="text-right">
                <span class="discount-amount" id="discount_amount_{{ invoice_item.id }}"
                      data-item-id="{{ invoice_item.id }}">{{ invoice_item.total_discount_amount|money }}</span>
                <input type="hidden" class="form-control form-control-sm total-discount"
                       value="{{ invoice_item.total_discount_amount }}" readonly="readonly"
                       name="total_discount_{{ invoice_item.id }}"
                       id="total_discount_{{ invoice_item.id }}"
                       data-item-id="{{ invoice_item.id }}" />
            </td>
            <td class="text-right">
                <span class="price-exc" id="total_price_exl_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
                    {{ invoice_item.total_price_excluding|money }}
                </span>
                <input type="hidden" value="{{ invoice_item.total_price_excluding }}"
                       name="total_price_excluding_{{ invoice_item.id }}"
                       id="total_price_excluding_{{ invoice_item.id }}"
                       class="total-price-excl" />
            </td>
            <td class="text-right">
                <span class="total-vat" id="vat_total_{{ invoice_item.id }}" data-item-id="{{ invoice_item.id }}">
                    {{ invoice_item.total_vat_amount|money }}
                </span>
                <input type="hidden" value="{{ invoice_item.vat_code.id }}"
                       name="vat_code_{{ invoice_item.id }}"
                       id="vat_code_{{ invoice_item.id }}"
                       data-percentage="{{ invoice_item.vat_code.percentage }}"
                       class="vat vat-codes"
                       data-item-id="{{ invoice_item.id }}"
                       data-text="{{ invoice_item.vat_code }}"
                />
                <input type="hidden" value="{{ invoice_item.vat }}"
                       name="vat_percentage_{{ invoice_item.id }}"
                       id="vat_percentage_{{ invoice_item.id }}"
                       class="vat-percentage"
                />
                <input type="hidden"
                       name="total_vat_{{ invoice_item.id }}"
                       id="total_vat_{{ invoice_item.id }}"
                       class="total-vat total-vat-amount"
                       value="{{ invoice_item.total_vat_amount }}"
                />
            </td>
            <td class="text-right">
                <span class="price" id="total_price_incl_{{ invoice_item.id }}">{{ invoice_item.total_price_including|money }}</span>
                <input type="hidden" value="{{ invoice_item.total_price_including|money }}"
                       name="total_price_including_{{ invoice_item.id }}"
                       id="total_price_including_{{ invoice_item.id }}"
                       class="total-price-incl open-input" />
            </td>
        </tr>
    {% endif %}
{% endfor %}