`{% load static %}
{% load widget_tweaks %}
{% load invoice_tags report_tags %}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Income statement report</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
            <tr>
                <td>Income statement for</td>
                <td>{{ report_title }}</td>
            </tr>
            <tr>
                <td>Report for period(s)</td>
                <td></td>
            </tr>
            <tr>
                <td>Period dates(s)</td>
                <td>{{ start_date }} - {{ end_date }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 text-right">
        {% updates_summary company year start_date end_date %}
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table table-bordered table-condensed" width="100%">
                        <thead>
                            <tr class="primary-head">
                                <th></th>
                                <th></th>
                                {% if 'period' in columns %}
                                    <th class="text-right"></th>
                                {% endif %}
                                {% if 'accumulated' in columns %}
                                    <th class="text-right">Accumulated</th>
                                {% endif %}
                                {% if 'previous_year' in columns %}
                                    <th class="text-right">
                                        {{ previous_year_title }}
                                    </th>
                                {% endif %}
                                {% if 'budget' in columns %}
                                    <th class="text-right">
                                        {{ budget_title }}
                                    </th>
                                {% endif %}
                                {% if 'budget_variance' in columns %}
                                    <th class="text-right">Accumulated</th>
                                {% endif %}
                            </tr>
                            <tr class="primary-head">
                                <th></th>
                                <th></th>
                                {% if 'period' in columns %}
                                    <th class="text-right">Period</th>
                                {% endif %}
                                {% if 'accumulated' in columns %}
                                <th class="text-right">Current Year</th>
                                {% endif %}
                                {% if 'previous_year' in columns %}
                                    <th class="text-right">Previous Year</th>
                                {% endif %}
                                {% if 'budget' in columns %}
                                    <th class="text-right">Budget</th>
                                {% endif %}
{#                                {% if 'accumulated' in columns %}#}
{#                                    <th class="text-right">Actual/Budget</th>#}
{#                                {% endif %}#}
                                {% if 'budget_variance' in columns %}
                                    <th class="text-right">Actual/Budget</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for lines_type, lines in income_statement.lines.items %}
                                {% for report_type, report_lines in lines.report_type_lines.items %}

                                    <tr class="journal-account-row">
                                        <td colspan="9"><strong>{{ report_type.1 }}</strong></td>
                                    </tr>
                                    {% for account, account_line in report_lines.accounts.items %}

                                            <tr>
                                                <td><span class="mx-3" style="margin-left: 5px;">{{ account.1 }}</span></td>
                                                <td>{{ account.0 }}</td>
                                                {% if 'period' in columns %}
                                                    <td class="text-right">{{ account_line.period_amount|money:include_cents }}</td>
                                                {% endif %}
                                                {% if 'accumulated' in columns %}
                                                    <td class="text-right">{{ account_line.current_year_amount|money:include_cents }}</td>
                                                {% endif %}
                                                {% if 'previous_year' in columns %}
                                                    <td class="text-right">{{ account_line.previous_year_amount|money:include_cents }}</td>
                                                {% endif %}
                                                {% if 'budget' in columns %}
                                                    <td class="text-right">{{ account_line.budget_amount|money:include_cents }}</td>
                                                {% endif %}
        {#                                        {% if 'accumulated' in columns %}#}
        {#                                            <td class="text-right">{{ account_line.budget|money }}</td>#}
        {#                                        {% endif %}#}
                                                {% if 'budget_variance' in columns %}
                                                    <td class="text-right">{{ account_line.budget_variance|money }}%</td>
                                                {% endif %}
                                            </tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td>Subtotal {{ report_type.1 }}:</td>
                                        {% if 'period' in columns %}
                                            <td class="text-right"><strong>{{ report_lines.period_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ report_lines.current_year_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ report_lines.previous_year_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ report_lines.budget_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ report_lines.budget_variance|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                </tr>
                                {% if lines_type == 'gross_profit' %}
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Gross Profit</strong>
                                        </td>
                                        <td class="text-right"></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right"><strong>{{ lines.period_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_amount|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_variance|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Gross Profit %</strong>
                                        </td>
                                        <td></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right">{{ lines.profit_percentage|money }}%</td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_gross_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_gross_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                    </tr>
                                {% elif lines_type == 'other_costs' %}
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Net Gross Profit</strong>
                                        </td>
                                        <td class="text-right"></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right"><strong>{{ lines.total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_variance|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Net Gross Profit %</strong>
                                        </td>
                                        <td></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right">{{ lines.profit_percentage|money }}%</td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_net_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_variance_net_profit_percentage|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                    </tr>
                                {% elif lines_type == 'income' %}
                                    <tr>
                                        <td colspan="{{ column_count }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Total Income</strong>
                                        </td>
                                        <td></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right">{{ lines.total_income|money:include_cents }}</td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_total_income|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_total_income|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_variance|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                    </tr>
                                {% elif lines_type == 'expenses' %}
                                    <tr>
                                        <td colspan="{{ column_count }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Results before Depreciation</strong>
                                        </td>
                                        <td></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right">{{ lines.total|money:include_cents }}</td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_expenses|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_expenses|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_variance_total|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr class="">
                                        <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                    </tr>
                                {% elif lines_type == 'depreciation_costs' %}
                                    <tr>
                                        <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Results after Depreciation</strong>
                                        </td>
                                        <td></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right">{{ lines.total|money:include_cents }}</td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_depreciation_costs|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_depreciation_costs|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_variance_total|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                    <tr class="">
                                        <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                    </tr>
                                {% elif lines_type == 'financial_costs' %}
                                    <tr>
                                        <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Results before Income Tax</strong>
                                        </td>
                                        <td></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right">{{ lines.total|money:include_cents }}</td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_financial_costs|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_financial_costs|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_variance|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                {% elif lines_type == 'tax' %}
                                    <tr>
                                        <td colspan="{{ column_count|add:5 }}">&nbsp;</td>
                                    </tr>
                                    <tr class="font-weight-bolder ui-state-ok-text totals-line">
                                        <td class="text-left">
                                            <strong>Net Results</strong>
                                        </td>
                                        <td></td>
                                        {% if 'period' in columns %}
                                            <td class="text-right">{{ lines.total|money:include_cents }}</td>
                                        {% endif %}
                                        {% if 'accumulated' in columns %}
                                            <td class="text-right"><strong>{{ lines.current_year_net_result|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'previous_year' in columns %}
                                            <td class="text-right"><strong>{{ lines.previous_year_net_result|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_total|money:include_cents }}</strong></td>
                                        {% endif %}
                                        {% if 'budget_variance' in columns %}
                                            <td class="text-right"><strong>{{ lines.budget_variance|money }}%</strong></td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>