{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %} Update {{ object }}  {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" id="create_object_item" action="{% url 'edit_object'  pk=object.id %}">
     <div class="modal-body">
        {% include 'common/form.html' %}
        <div class="form-group">
           <span id="loader" style="display:none;"><img src="{% static 'images/loader-medium.gif' %}"></span>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-large" name="save_object_item_submit" id="save_object_item_submit"><i class="fa fa-save"></i> Update</button>
    </div>
</form>
{% endblock %}