{% extends 'base.html' %}
{% load static %}
{% block page_title %} Objects {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>
            <div class="pull-right">
                <a href="javascript:void(0);" data-modal="{% url 'create_object' %}"class="btn btn-primary" role="button">
                   <i class="fa fa-plus-circle"></i> Create Object
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <div class="accordion enabled" id="unit-controller-accordion" style="position: relative; margin: 20px; border-bottom: 0;">
                    <ul id="sortable" class="ui-sortable" style="list-style: none; margin: 0; padding: 0;">
                         {% for object in objects %}
                             <li id="object_{{ object.id }}">
                                <h3 id="{{ object.id }}" class="object" onclick="openObject(this)"  class="active" style="height: 35px; font-size: inherit; padding: 10px 15px; background: #0b91d2; color: #FFFFFF; font-weight: normal; margin: 15px 0 0 0; border-bottom: 1px solid #EEE; z-index: 99; position: relative;">
                                  <span class="pull-left">{{ object.label }}</span>
                                  <span class="pull-right">
                                    <span style="float: right; margin-left: 10px; margin-top: -3px;"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                                    <span style="float: right; margin-left: 10px; margin-top: -3px;"><i class="fa fa-angle-down"></i></span>
                                  </span>
                                </h3>
                                <div class="inner-content" style="display: none;"  id="{{ object.id }}_object_children">
                                    <div class="row margin_top_10">
                                        <table class="table table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            {% for object_item in object.object_items.all %}
                                                 <tr>
                                                     <th>{{ object_item.code }}</th>
                                                     <th>{{ object_item.label }}</th>
                                                     <th>
                                                        <a href="{% url 'edit_object_item' pk=object_item.id object_id=object.id  %}"
                                                           data-modal="{% url 'edit_object_item'  pk=object_item.id object_id=object.id %}"
                                                           data-toggle="tooltip" title="" class="btn-sm btn-success" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                                        <a href="{% url 'delete_object_item' pk=object_item.id object_id=object.id %}"
                                                            onclick="return confirm('Are you sure you want to delete this object item.')"
                                                           data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                                     </th>
                                                 </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="row footer-content col" style="min-height: 30px; padding-top: 5px;">
                                        <div class="pull-right">
                                            <a href="javascript:void(0);"
                                               data-modal="{% url 'edit_object' object.id %}"
                                               data-toggle="tooltip" title="" class="btn-sm btn-secondary"
                                               data-original-title="Edit"><i class="fa fa-pencil"></i> Edit {{ object.label }}</a>
                                            <a href="{% url 'delete_object' object.id %}"
                                               data-toggle="tooltip" title=""
                                               data-original-title="Delete" onclick="return confirm('Are you sure you want to delete this object. All items linked to this object will be unlinked.')"><i class="fa fa-trash"></i> Delete {{ object.label }}</a>
                                            <a href="javascript:void(0);"
                                               data-modal="{% url 'create_object_item' object_id=object.id %}"
                                               data-toggle="tooltip" title="" class="btn-sm btn-secondary"
                                               data-original-title="Add"><i class="fa fa-plus"></i> Add {{ object.label }}</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/objects.js' %}"></script>
        <script type="text/javascript">
        function openObject(el)
        {
            $("#" + $(el).attr('id')+"_object_children").toggle();
            return false;
        }
    </script>
{% endblock %}
