{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}
<fieldset class="well">

    <div class="form-group control-group service-sku {% if form.service_cost.errors %}error{% endif %}"
         style="{% if inventory and inventory.is_service_sku %}  {% else %} display:none {% endif %}">
        {{ form.service_cost.label_tag }}
        <div class="controls">
            {% render_field form.service_cost class="form-control" %}
            {% if form.service_cost.auto_id  != "id_tos" %}
                {% if form.service_cost.errors %}<span class="help-inline">{{ form.service_cost.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group service-sku {% if form.service_account.errors %}error{% endif %}"
         style="{% if inventory and inventory.is_service_sku %}  {% else %} display:none {% endif %}">
        {{ form.service_account.label_tag }}
        <div class="controls">
            {% render_field form.service_account class="form-control" %}
            {% if form.service_account.auto_id  != "id_tos" %}
                {% if form.service_account.errors %}<span class="help-inline">{{ form.service_account.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.cost_of_sales_account.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.cost_of_sales_account.id_for_label }}">
        {{ form.cost_of_sales_account.label_tag }}
        </label>
        <div class="controls">
        {% render_field form.cost_of_sales_account class="form-control chosen-select purchase" %}
        {% if form.cost_of_sales_account.auto_id  != "id_tos" %}
            {% if form.cost_of_sales_account.errors %}
                <span class="help-inline">{{ form.cost_of_sales_account.errors }}</span>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.stock_adjustment_account.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none; {% else %} {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.stock_adjustment_account.id_for_label }}">
            {{ form.stock_adjustment_account.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.stock_adjustment_account class="form-control  chosen-select purchase" %}
            {% if form.stock_adjustment_account.auto_id  != "id_tos" %}
                {% if form.stock_adjustment_account.errors %}
                    <span class="help-inline">{{ form.stock_adjustment_account.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.stock_unit.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.stock_unit.id_for_label }}">
            {{ form.stock_unit.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.stock_unit class="form-control" %}
            {% if form.stock_unit.auto_id  != "id_tos" %}
                {% if form.stock_unit.errors %}
                    <span class="help-inline">{{ form.stock_unit.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.allow_negative_stocks.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none; {% else %} {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.allow_negative_stocks.id_for_label }}">
            {{ form.allow_negative_stocks.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.allow_negative_stocks class="form-control" %}
            {% if form.allow_negative_stocks.auto_id  != "id_tos" %}
                {% if form.allow_negative_stocks.errors %}
                    <span class="help-inline">{{ form.allow_negative_stocks.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.price_type.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none; {% else %} {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.price_type.id_for_label }}">
            {{ form.price_type.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.price_type class="form-control" %}
            {% if form.price_type.auto_id  != "id_tos" %}
                {% if form.price_type.errors %}
                    <span class="help-inline">{{ form.price_type.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>


    <div class="form-group control-group sku {% if form.critical_stock_level.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none;  {% else %}  {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.critical_stock_level.id_for_label }}">
            {{ form.critical_stock_level.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.critical_stock_level class="form-control" %}
            {% if form.critical_stock_level.auto_id  != "id_tos" %}
                {% if form.critical_stock_level.errors %}
                    <span class="help-inline">{{ form.critical_stock_level.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.lowest_stock_level.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none;  {% else %} {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.lowest_stock_level.id_for_label }}">
            {{ form.lowest_stock_level.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.lowest_stock_level class="form-control" %}
            {% if form.lowest_stock_level.auto_id  != "id_tos" %}
                {% if form.lowest_stock_level.errors %}
                    <span class="help-inline">{{ form.lowest_stock_level.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.max_stock_level.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none; {% else %} {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.max_stock_level.id_for_label }}">
            {{ form.max_stock_level.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.max_stock_level class="form-control" %}
            {% if form.max_stock_level.auto_id  != "id_tos" %}
                {% if form.max_stock_level.errors %}
                    <span class="help-inline">{{ form.max_stock_level.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.level_to_order_stock.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %}  display:none; {% else %} {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.level_to_order_stock.id_for_label }}">
            {{ form.level_to_order_stock.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.level_to_order_stock class="form-control" %}
            {% if form.level_to_order_stock.auto_id  != "id_tos" %}
                {% if form.level_to_order_stock.errors %}
                    <span class="help-inline">{{ form.level_to_order_stock.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.min_reorder.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %}   display:none; {% else %} {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.min_reorder.id_for_label }}">
            {{ form.min_reorder.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.min_reorder class="form-control" %}
            {% if form.min_reorder.auto_id  != "id_tos" %}
                {% if form.min_reorder.errors %}
                    <span class="help-inline">{{ form.min_reorder.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.max_reorder.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %}  display:none  {% else %}{% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.max_reorder.id_for_label }}">
            {{ form.max_reorder.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.max_reorder class="form-control" %}
            {% if form.max_reorder.auto_id  != "id_tos" %}
                {% if form.max_reorder.errors %}
                    <span class="help-inline">{{ form.max_reorder.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.store_area.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none  {% else %}  {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.store_area.id_for_label }}">
            {{ form.store_area.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.store_area class="form-control" %}
            {% if form.store_area.auto_id  != "id_tos" %}
                {% if form.store_area.errors %}
                    <span class="help-inline">{{ form.store_area.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.rack.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none {% else %} {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.rack.id_for_label }}">
            {{ form.rack.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.rack class="form-control" %}
            {% if form.rack.auto_id  != "id_tos" %}
                {% if form.rack.errors %}
                    <span class="help-inline">{{ form.rack.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group sku {% if form.bin_location.errors %}error{% endif %}"
    style="{% if inventory and inventory.is_service_sku %} display:none {% else %}  {% endif %}"
    >
        <label class=" control-label txt-font12" for="{{ form.bin_location.id_for_label }}">
            {{ form.bin_location.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.bin_location class="form-control" %}
            {% if form.bin_location.auto_id  != "id_tos" %}
                {% if form.bin_location.errors %}
                    <span class="help-inline">{{ form.bin_location.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if inventory %}
        {% inventory_group_levels request.session.company inventory 'vertical' %}
    {% else %}
        {% inventory_group_levels request.session.company None 'vertical' %}
    {% endif %}
    <div class="form-group control-group {% if form.measure.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.measure.id_for_label }}">
            {{ form.measure.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.measure class="form-control" %}
            {% if form.measure.auto_id  != "id_tos" %}
                {% if form.measure.errors %}
                    <span class="help-inline">{{ form.measure.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</fieldset>