{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}
<table class="table table-bordered">
    <tr>
        <td>Supplier</td>
        <td>
            {% if history and history.supplier %}
                {{ history.supplier }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Supplier Product Code (if different from ours)</td>
        <td>
            {% if history and history.supplier_code %}
                {{ history.supplier }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Update Pricing at</td>
        <td>
            {% if history and history.updated_at %}
                {{ history.updated_at }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Last price 1 updated</td>
        <td>
            {% if history and history.last_price_paid %}
                {{ history.last_price_paid|money }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Price Paid 1</td>
        <td>
            {% if history and history.second_last_price_paid %}
                {{ history.second_last_price_paid|money }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Price Paid 2</td>
        <td>
            {% if history and history.third_last_price_paid %}
                {{ history.third_last_price_paid|money }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Price Paid 3</td>
        <td>
            {% if history and history.fourth_last_price_paid %}
                {{ history.fourth_last_price_paid|money }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Average Price</td>
        <td>{{ inventory.average_price|money }}</td>
    </tr>
    <tr>
        <td>Statistics</td>
        <td></td>
    </tr>
    <tr>
        <td>Stock on Hand</td>
        <td>{{ inventory.in_stock|money }}</td>
    </tr>
    <tr>
        <td>Inventory on Order</td>
        <td>
            {% if history and history.on_order %}
                {{ inventory.on_order }}
            {% else %}
                0
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Inventory on Estimates</td>
        <td>
            {% if history and history.on_order %}
                {{ inventory.on_order }}
            {% else %}
                0
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Inventory on Delivery</td>
        <td>
            {% if history and history.on_delivery %}
                {{ inventory.on_delivery_total }}
            {% else %}
                0
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>IEstimates Inventory Level</td>
        <td></td>
    </tr>
    <tr>
        <td>Last out transaction date</td>
        <td></td>
    </tr>
    <tr>
        <td>Last out transaction invoice</td>
        <td></td>
    </tr>
    <tr>
        <td>Last stock count date</td>
        <td></td>
    </tr>
    <tr>
        <td>October</td>
        <td></td>
    </tr>
    <tr>
        <td>November</td>
        <td></td>
    </tr>
    <tr>
        <td>December</td>
        <td></td>
    </tr>
    <tr>
        <td>January</td>
        <td></td>
    </tr>
    <tr>
        <td>February</td>
        <td></td>
    </tr>
    <tr>
        <td>March</td>
        <td></td>
    </tr>
    <tr>
        <td>April</td>
        <td></td>
    </tr>

    <tr>
        <td>May</td>
        <td></td>
    </tr>
    <tr>
        <td>June</td>
        <td></td>
    </tr>
    <tr>
        <td>July</td>
        <td></td>
    </tr>
    <tr>
        <td>August</td>
        <td></td>
    </tr>
    <tr>
        <td>September</td>
        <td></td>
    </tr>
    <tr>
        <td>Total for last 12 months</td>
        <td></td>
    </tr>
    <tr>
        <td>Average per month</td>
        <td></td>
    </tr>
</table>
