{% load i18n static %}
{% load widget_tweaks %}
{% load invoice_tags inventory_tags %}

<div class="col-12">
    <table>
        <tr>
            <th><label class=" control-label txt-font12" for="master-code">{% translate "Master Code" %}</label></th>
            <td>{{ inventory.inventory.code }}</td>
        </tr>
        <tr>
            <th><label class=" control-label txt-font12" for="master-code">{% translate "Master Description" %}</label></th>
            <td>{{ inventory.inventory.description }}</td>
        </tr>
    </table>
</div>

<div class="row">

    <div class="col-4">
        <div class="form-group control-group {% if form.is_recipe_item.errors %}error{% endif %}">
            {{ form.is_recipe_item.label_tag }}
            <div class="controls">
                {% render_field form.is_recipe_item class="form-control" %}
                {% if form.is_recipe_item.auto_id  != "id_tos" %}
                    {% if form.is_recipe_item.errors %}<span class="help-inline">{{ form.is_recipe_item.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group {% if form.is_blocked.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.is_blocked.id_for_label }}">{{ form.is_blocked.label_tag }}</label>
            <div class="controls">
                {% render_field form.is_blocked class="form-control"  %}
                {% if form.is_blocked.auto_id  != "id_tos" %}
                    {% if form.is_blocked.errors %}<span class="help-inline">{{ form.is_blocked.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group control-group {% if form.is_pos_blocked.errors %}error{% endif %}">
            <label class=" control-label txt-font12" for="{{ form.is_pos_blocked.id_for_label }}">{{ form.is_pos_blocked.label_tag }}</label>
            <div class="controls">
                {% render_field form.is_pos_blocked class="form-control" %}
                {% if form.is_pos_blocked.auto_id  != "id_tos" %}
                    {% if form.is_pos_blocked.errors %}<span class="help-inline">{{ form.is_pos_blocked.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <div class="form-group control-group {% if form.sku_type.errors %}error{% endif %}">
        {{ form.sku_type.label_tag }}
        <div class="controls">
            {% render_field form.sku_type class="form-control" %}
            {% if form.sku_type.auto_id  != "id_tos" %}
                {% if form.sku_type.errors %}<span class="help-inline">{{ form.sku_type.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>
<div class="form-group control-group {% if form.description.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}</label>
    <div class="controls">
        {% render_field form.description class="form-control" %}
        {% if form.description.auto_id  != "id_tos" %}
            {% if form.description.errors %}<span class="help-inline">{{ form.description.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.invoice_text.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.invoice_text.id_for_label }}">
        {{ form.invoice_text.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.invoice_text class="form-control" %}
        {% if form.invoice_text.auto_id  != "id_tos" %}
            {% if form.invoice_text.errors %}
                <span class="help-inline">{{ form.invoice_text.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>


<div class="form-group control-group {% if form.bar_code.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.bar_code.id_for_label }}">
        {{ form.bar_code.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.bar_code class="form-control" %}
        {% if form.bar_code.auto_id  != "id_tos" %}
            {% if form.bar_code.errors %}
                <span class="help-inline">{{ form.bar_code.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>