{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}
{% if inventory and inventory.is_service_sku %}
    {{ inventory.sku_type }}
{% else %}
    <div class="form-group control-group {% if form.unit.errors %}error{% endif %} ">
        <label class=" control-label txt-font12" for="{{ form.unit.id_for_label }}">
        {{ form.unit.label_tag }}
        </label>
        <div class="controls">
        {% render_field form.unit class="form-control purchase" %}
        {% if form.unit.auto_id  != "id_tos" %}
            {% if form.unit.errors %}
                <span class="help-inline">{{ form.unit.errors }}</span>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier_code.errors %}error{% endif %} not-reciped">
        <label class=" control-label txt-font12" for="{{ form.supplier_code.id_for_label }}">
        {{ form.supplier_code.label_tag }}
        </label>
        <div class="controls">
        {% render_field form.supplier_code class="form-control purchase" %}
        {% if form.supplier_code.auto_id  != "id_tos" %}
            {% if form.supplier_code.errors %}
                <span class="help-inline">{{ form.supplier_code.errors }}</span>
            {% endif %}
        {% endif %}
        </div>
    </div>


    <div class="form-group control-group  {% if form.gl_account.errors %}error{% endif %}">
        {{ form.gl_account.label_tag }}
        <div class="controls">
            {% render_field form.gl_account class="form-control  chosen-select purchase" %}
            {% if form.gl_account.auto_id  != "id_tos" %}
                {% if form.gl_account.errors %}
                    <span class="help-inline">{{ form.gl_account.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.amount_in_package.errors %}error{% endif %} not-reciped">
        <label class=" control-label txt-font12" for="{{ form.amount_in_package.id_for_label }}">
        {{ form.amount_in_package.label_tag }}
        </label>
        <div class="controls">
        {% render_field form.amount_in_package class="form-control purchase" %}
        {% if form.amount_in_package.auto_id  != "id_tos" %}
            {% if form.amount_in_package.errors %}
                <span class="help-inline">{{ form.amount_in_package.errors }}</span>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.package_size.errors %}error{% endif %} not-reciped">
        <label class=" control-label txt-font12" for="{{ form.package_size.id_for_label }}">
        {{ form.package_size.label_tag }}
        </label>
        <div class="controls">
        <div class="row">
            <div class="col-sm-3">
                <label class="control-label">L</label>
                <div class="controls">
                    <input class="form-control form-control-sm purchase" name="l" id="purchase_length"
                    {% if inventory and inventory.package_size %}
                       value="{{ inventory.package_size.l }}"
                   {% endif %}
                    />
                </div>
            </div>
            <div class="col-sm-3">
                <label class="control-label">B</label>
                <div class="controls">
                    <input class="form-control form-control-sm purchase" name="b" id="purchase_breadth"
                    {% if inventory and inventory.package_size %}
                       value="{{ inventory.package_size.b }}"
                   {% endif %}
                    />
                </div>
            </div>
            <div class="col-sm-3">
                <label class="control-label">H</label>
                <div class="controls">
                    <input class="form-control form-control-sm purchase" name="h" id="purchase_height"
                    {% if inventory and inventory.package_size %}
                       value="{{ inventory.package_size.h }}"
                   {% endif %}
                    />
                </div>
            </div>
        </div>
        {% if form.package_size.auto_id  != "id_tos" %}
            {% if form.package_size.errors %}
                <span class="help-inline">{{ form.package_size.errors }}</span>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.cost_price.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.cost_price.id_for_label }}">
        {{ form.cost_price.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.cost_price class="form-control purchase" %}
            {% if form.cost_price.auto_id  != "id_tos" %}
                {% if form.cost_price.errors %}
                    <span class="help-inline">{{ form.cost_price.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.vat_code.errors %}error{% endif %} not-reciped">
        <label class=" control-label txt-font12" for="{{ form.vat_code.id_for_label }}">
            {{ form.vat_code.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.vat_code class="form-control  chosen-select purchase calculate-price-inc-vat" %}
            {% if form.vat_code.auto_id  != "id_tos" %}
                {% if form.vat_code.errors %}
                    <span class="help-inline">{{ form.vat_code.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.delivery_fee.errors %}error{% endif %} not-reciped">
        <label class=" control-label txt-font12" for="{{ form.delivery_fee.id_for_label }}">
            {{ form.delivery_fee.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.delivery_fee class="form-control purchase" %}
            {% if form.delivery_fee.auto_id  != "id_tos" %}
                {% if form.delivery_fee.errors %}
                    <span class="help-inline">{{ form.delivery_fee.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.environment_fee.errors %}error{% endif %} not-reciped">
        <label class=" control-label txt-font12" for="{{ form.environment_fee.id_for_label }}">
            {{ form.environment_fee.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.environment_fee class="form-control purchase" %}
            {% if form.environment_fee.auto_id  != "id_tos" %}
                {% if form.environment_fee.errors %}
                    <span class="help-inline">{{ form.environment_fee.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %} not-reciped">
        <label class=" control-label txt-font12" for="{{ form.supplier.id_for_label }}">
            {{ form.supplier.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.supplier class="form-control chosen-select purchase" %}
            {% if form.supplier.auto_id  != "id_tos" %}
                {% if form.supplier.errors %}
                    <span class="help-inline">{{ form.supplier.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}