{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load invoice_tags %}
{% load widget_tweaks %}

<div class="form-group control-group {% if form.sale_unit.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.sale_unit.id_for_label }}">
        {{ form.sale_unit.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.sale_unit class="form-control" %}
        {% if form.sale_unit.auto_id  != "id_tos" %}
            {% if form.sale_unit.errors %}
                <span class="help-inline">{{ form.sale_unit.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.is_discounted.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.is_discounted.id_for_label }}">
        {{ form.is_discounted.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.is_discounted class="form-control" %}
        {% if form.is_discounted.auto_id  != "id_tos" %}
            {% if form.is_discounted.errors %}
                <span class="help-inline">{{ form.is_discounted.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="form-group control-group {% if form.sales_account.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.sales_account.id_for_label }}">
        {{ form.sales_account.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.sales_account class="form-control chosen-select sale" %}
        {% if form.sales_account.auto_id  != "id_tos" %}
            {% if form.sales_account.errors %}
                <span class="help-inline">{{ form.sales_account.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if not inventory.is_service_sku %}
    <div class="form-group control-group {% if form.sale_quantity_in_package.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.sale_quantity_in_package.id_for_label }}">
            {{ form.sale_quantity_in_package.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.sale_quantity_in_package class="form-control" %}
            {% if form.sale_quantity_in_package.auto_id  != "id_tos" %}
                {% if form.sale_quantity_in_package.errors %}
                    <span class="help-inline">{{ form.sale_quantity_in_package.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group {% if form.sale_package_size.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.sale_package_size.id_for_label }}">
            {{ form.sale_package_size.label_tag }}
        </label>
        <div class="controls">
            <div class="row">
                <div class="col-sm-3">
                    <label class="control-label">L</label>
                    <div class="controls">
                        <input class="form-control form-control-sm" name="l" id="length"
                        {% if inventory and inventory.sale_package_size %}
                           value="{{ inventory.sale_package_size.l }}"
                       {% endif %}
                        />
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">B</label>
                    <div class="controls">
                        <input class="form-control form-control-sm" name="b" id="breadth"
                        {% if inventory and inventory.sale_package_size %}
                           value="{{ inventory.sale_package_size.b }}"
                       {% endif %}
                        />
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">H</label>
                    <div class="controls">
                        <input class="form-control form-control-sm" name="h" id="height"
                        {% if inventory and inventory.sale_package_size %}
                           value="{{ inventory.sale_package_size.h }}"
                       {% endif %}
                        />
                    </div>
                </div>
            </div>
            {% if form.sale_package_size.auto_id  != "id_tos" %}
                {% if form.sale_package_size.errors %}
                    <span class="help-inline">{{ form.sale_package_size.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
<div class="form-group control-group {% if form.selling_price.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.selling_price.id_for_label }}">
        {{ form.selling_price.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.selling_price class="form-control" %}
        {% if form.selling_price.auto_id  != "id_tos" %}
            {% if form.selling_price.errors %}
                <span class="help-inline">{{ form.selling_price.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.sale_vat_code.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.sale_vat_code.id_for_label }}">
        {{ form.sale_vat_code.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.sale_vat_code class="form-control sale calculate-price-inc-vat chosen-select" %}
        {% if form.sale_vat_code.auto_id  != "id_tos" %}
            {% if form.sale_vat_code.errors %}
                <span class="help-inline">{{ form.sale_vat_code.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group">
    <label class=" control-label txt-font12" for="selling_price_inc_vat">
        Default Selling Price (Inc Vat)
    </label>
    <div class="controls">
        <input type="text" class="form-control" disabled="disabled"
               id="selling_price_inc_vat"
               {% if inventory %}
                   value="{{ inventory.selling_price_with_vat }}"
               {% endif %}
               data-calculate-selling-price="{% url 'calculate_selling_price_with_vat' %}" />
    </div>
</div>
<div class="form-group control-group {% if form.sale_delivery_fee.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.sale_delivery_fee.id_for_label }}">
        {{ form.sale_delivery_fee.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.sale_delivery_fee class="form-control" %}
        {% if form.sale_delivery_fee.auto_id  != "id_tos" %}
            {% if form.sale_delivery_fee.errors %}
                <span class="help-inline">{{ form.sale_delivery_fee.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.sale_environment_fee.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.sale_environment_fee.id_for_label }}">
        {{ form.sale_environment_fee.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.sale_environment_fee class="form-control" %}
        {% if form.sale_environment_fee.auto_id  != "id_tos" %}
            {% if form.sale_environment_fee.errors %}
                <span class="help-inline">{{ form.sale_environment_fee.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.sold_as_type.errors %}error{% endif %}">
    <label class=" control-label txt-font12" for="{{ form.sold_as_type.id_for_label }}">
        {{ form.sold_as_type.label_tag }}
    </label>
    <div class="controls">
        {% render_field form.sold_as_type class="form-control" %}
        {% if form.sold_as_type.auto_id  != "id_tos" %}
            {% if form.sold_as_type.errors %}
                <span class="help-inline">{{ form.sold_as_type.errors }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>
{% if not inventory.is_service_sku %}
    <div class="form-group control-group sku {% if form.gross_weight.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.gross_weight.id_for_label }}">
            {{ form.gross_weight.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.gross_weight class="form-control" %}
            {% if form.gross_weight.auto_id  != "id_tos" %}
                {% if form.gross_weight.errors %}
                    <span class="help-inline">{{ form.gross_weight.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="form-group control-group sku {% if form.weight.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.weight.id_for_label }}">
            {{ form.weight.label_tag }}
        </label>
        <div class="controls">
            {% render_field form.weight class="form-control" %}
            {% if form.weight.auto_id  != "id_tos" %}
                {% if form.weight.errors %}
                    <span class="help-inline">{{ form.weight.errors }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}