{% extends 'home/auth.html' %}
{% load static %}
{% load thumbnail %}
{% block auth_content %}
    <h2>Login here</h2>
    <form method="post" novalidate="novalidate" action="{% url 'admin_login' company.slug %}">
        {% include 'common/form.html' %}

        <div class="form-group">
            <button class="btn btn-primary btn-large" name="submit" type="submit" id="login"><i class="fa fa-key"></i > Login </button>
        </div>
        <ul class="inline list-inline">
            {% if company %}
                <li>{{ company.name }}</li>
            {% else %}
                <li><a href="{% url 'plans_pricing' %}">Sign Up</a></li>
            {% endif %}
            <li><a href="{% url 'user_password_request' slug=company.slug %}">Lost password?</a></li>
        </ul>
    </form>
{% endblock %}