{% extends 'public.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<div id="login-wrapper">
    {% if company %}
        <div id="login-form">
            <div class="col-lg-12 login-header">
                <div class="col-6 pull-left">
                    <img class="img-logo" src="{% static 'images/docuflow.png' %}" height="100" alt="{{ heading_title }}" ttle="{{ heading_title }}" />
                </div>
                <div class="col-6 pull-right text-right login-address">
                    <strong>{{ company.name }}</strong> <br />
                    Company ID: <strong> {{ company.slug }}</strong>  <br />
                    <a href="mailto:senddoc@docuflow.co.za">senddoc@docuflow.co.za</a> <br />
                   Phone Support: 041-450 2777<br />
                </div>
            </div>
            <hr  class="login-line" />
            <div class="login-body">
                {% block auth_content %} {% endblock %}
            </div>
        </div>
    {% else %}
        <div class="alert text-danger">Company not found</div>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}{% endblock %}