{% extends 'public.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <style>
    .login-header {
        margin-bottom: 10px;
    }
    .login-body {
        margin-top: 10px;
    }
    .login-line {
        border: 1px solid #FC8851;
    }
    .login-address {
        font-size: 12px;
    }
</style>
    <div id="login-wrapper">
         <div id="login-form">
                <div class="col-lg-12" class="login-header">
                    <div class="col-8 pull-left">
                        <img class="img-logo" src="{% static 'images/docuflow.png' %}" height="100" alt="{{ heading_title }}" ttle="{{ heading_title }}" />
                    </div>
                    <div class="col-4 pull-right text-right login-address">
                        <strong>Docuflow Admin</strong> <br />
                        Company ID: <strong> 00000</strong>  <br />
                        <a href="mailto:senddoc@docuflow.co.za">senddoc@docuflow.co.za</a> <br />
                       Phone Support: 041-4500 999<br />
                    </div>
                </div>
                <hr  class="login-line" />
                <div class="login-body">
                    <h2>Login here</h2>
                    <form method="post" novalidate="novalidate" action="{% url 'docuflow_login' %}">
                        {% include 'common/form.html' %}

                        <div class="form-group">
                            <button class="btn btn-primary btn-large" name="submit" type="submit" id="login"><i class="fa fa-key"></i > Login </button>
                        </div>
                        <ul class="inline list-inline">
                            <li>Docuflow Admin</li>
                        </ul>
                    </form>
                </div>
         </div>
    </div>
{% endblock %}