{% extends 'layout.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}

    <div id="background">
        <div class="background_img">
            <img src="{% static 'images/background/background_img_1.jpg' %}">
        </div>
        <div id="strapline">
            <div id="main_strapline">
                <h2>It&#39;s like having your auditor looking at every document</h2>
            </div>
            <div id="sub_strapline">
                <h3>Join the businesses already using Docuflow to scan, digitize and organise their companies documents getting the required segregation of duties when signing off documents and giving you the peace of mind that you have full control over your business expenses all the time!</h3>
            </div>
        </div>
    </div>

    {% include 'enquiry/enquire.html' %}

	<div id="happy_clients">
		<div class="inner">
			<h2>Our Happy Clients</h2>

			<table>
				<tr>
					<td><img src="{% static 'images/clients/logo1.png' %}"></td>
					<td><img src="{% static 'images/clients/logo2.png' %}"></td>
					<td><img src="{% static 'images/clients/logo3.png' %}"></td>
					<td><img src="{% static 'images/clients/logo4.png' %}"></td>
					<td><img src="{% static 'images/clients/logo5.png' %}"></td>
					<td><img src="{% static 'images/clients/logo6.png' %}"></td>
				</tr>
			</table>
		</div>
	</div>



	<div id="features">
		<div class="inner">

		<div id="docu_features_header">
			<h1>Go paperless with docuflow</h1>
		</div>


		<div id="docu_features_holder">


			<div id="feat_items_col_1">

			<div class="feature_item" id="feature_item_1">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-organise.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Document Organization</h3>
					</div>
				</div>


				<div id="feat_item_text">
					<p>Documents flow into the system automatically via an email, limiting the number of envelopes or printing of documents required</p>
				</div>

			</div>


			<div class="feature_item" id="feature_item_2">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-vat-prep.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Vat Preperation</h3>
					</div>
				</div>

				<div id="feat_item_text">
					<p>Claim your VAT once the document arrives into the docuflow system, not when your creditors person has captured the document when received from your management</p>
				</div>
			</div>



			<div class="feature_item" id="feature_item_3">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-reporting.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Reporting</h3>
					</div>
				</div>

				<div id="feat_item_text">
					<p>Various standard reports to help and assist your accountant to know exactly what is happening, giving you better, quicker feedback on your business</p>
				</div>
			</div>

		</div>



		<div id="feat_items_col_2">
			<div class="feature_item" id="feature_item_4">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-backup.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Proper backup</h3>
					</div>
				</div>

				<div id="feat_item_text">
					<p>All documents are stored in the cloud in a two backup storage system always ensuring that your documents are always available</p>
				</div>
			</div>

			<div class="feature_item" id="feature_item_5">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-track-documents.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Approve and Track Documents</h3>
					</div>
				</div>

			<div id="feat_item_text">
				<p>On the go, anywhere, anytime a company employee can go in and approve, track, run a report on any document and see where it is, what happened to it and who signed it</p>
			</div>
			</div>

			<div class="feature_item" id="feature_item_6">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-standardized-posting.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Standardized Account Posting</h3>
					</div>
				</div>

				<div id="feat_item_text">
					<p>With the ability to attach standard account posting onto suppliers, it helps to allow your numbers to come through more consistent giving you a better comparison</p>
				</div>
			</div>
		</div

		<div id="feat_items_col_3">

			<div class="feature_item" id="feature_item_3">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-handling.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Better Control, Faster handling</h3>
					</div>
				</div>

				<div id="feat_item_text">
					<p>Reduce the risk for fraud, handle the document faster without losing track of the document at any stage and have full control of the document</p>
				</div>
			</div>


			<div class="feature_item" id="feature_item_6">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-avoid-duplication.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Avoid duplication of documents</h3>
					</div>
				</div>

				<div id="feat_item_text">
					<p>The system keeps an eye out for you to ensure that you do not pay an document twice by mistake and ensures that only approved documents are paid</p>
				</div>
			</div>


			<div class="feature_item" id="feature_item_9">
				<div class="feature_item_top">

					<div class="feat_item_img">
						<img src="{% static 'images/icons/icon-intervention.png' %}">
					</div>

					<div class="feat_item_title">
						<h3>Intervention</h3>
					</div>
				</div>

				<div id="feat_item_text">
					<p>Allows the system to determine if a document needs to flow through to a supervisor, to review the document before it is paid. Easy to sete up, better control again for top management</p>
				</div>
			</div>

		</div>
	</div>

	<div class="singup_cta">
		<a href="{% url 'plans_pricing' %}">Sign up now and take control of your business expenses</a>
	</div>

	</div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript"></script>
{% endblock %}