<!DOCTYPE html>
<html>
	<head>
        {% load static %}
		<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<title>Docuflow</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,800" rel="stylesheet">
	</head>

	<body>
		<div id="inner">

			<div id="strapline">
				<h2>Keeping a handle on your invoice flow,<br>
				means keeping a handle on your business.</h2>
			</div>

			<div id="logo_holder">
				<img src="{% static 'images/logo.png' %}">
			</div>

			<div id="login">
				<div id="login_inner">
					{% if user.is_authenticated %}
                        <a href="{% url 'all-invoices' %}">Profile</a>
                    {% else %}
                        <a href="{% url 'plans_pricing' %}">Join</a> Or <a href="{% url 'user_login' %}">Login</a><span class="text_seperator"></span>
                           <span class="text_seperator"> | </span>
                        <a href="/admin">Admin Log In</a>
                    {% endif %}
				</div>
			</div>
		</div>
	</body>
</html>


<style type="text/css">
body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;

}
html {
    background-image: url({% static 'images/background_img.jpg' %});
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div#strapline {
    background-color: rgba(1, 175, 239, 0.45);
    width: 933px;
    margin: 45px auto 40px;
    display: block;
    float: none;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
	max-width: 90%;
}
div#strapline h2 {
    color: #ffffff;
    font-weight: 200;
    font-size: 40px;
    margin: 0px;
}
div#logo_holder {
    width: 463px;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    display: block;
    float: none;
}
div#logo_holder img {
    max-width: 100%;
}
div#inner {
    width: 933px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 90%;
    height: auto;
}
div#login_inner {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #1A9ED2;
    margin: 4px;
}
div#login {
    border: solid 7px #ffffff;
    width: 240px;
    margin: 80px auto 0px;
    display: block;
    float: none;
}
div#login a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}
span.text_seperator {
    font-size: 25px;
    color: #ffffff;
    margin-left: 13px;
    margin-right: 13px;
}
div#login a:hover {
    padding: 0px;
    color: #444444;
    font-weight: 700;
    text-decoration: underline;
}



/*------------------ MEDIA QUERIES ------------------ */
@media only screen and (max-width: 600px) {
div#strapline h2 {
    font-size: 1.5em;
}
}

@media only screen and (min-width: 601px) and (max-width: 899px) {
div#strapline h2 {
    font-size: 1.5em;
}
}
</style>