{% extends 'home/auth.html' %}
{% load static i18n %}
{% load thumbnail widget_tweaks %}
{% load compress %}
{% block auth_content %}
    <h2>{% translate 'Login here' %}</h2>
    <form method="post" novalidate="novalidate" action="{% url 'user_ajax_login' company.slug %}?next={% url 'all-invoices' %}" id="company_login"
          data-ajax-url="{% url 'user_ajax_login' company.slug %}?next={% url 'all-invoices' %}">
        {% csrf_token %}
        <span id="result"></span>
        <fieldset class="well">
        {% for field in form %}
            <div class="form-group control-group {% if field.errors %}text-danger error{% endif %}">
                {{ field.label_tag }}
                <div class="controls">
                    {{ field|add_class:"form-control form-control-sm"  }}
                    {% if field.auto_id  != "id_tos" %}
                        {% if field.errors %}<span class="help-inline text-danger">{{ field.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </fieldset>

        <div class="form-group">
            <button class="btn btn-primary btn-large" type="submit" id="login"><i class="fa fa-key"></i > Login </button>
        </div>
        <ul class="inline list-inline">
            {% if company %}
                <li>{{ company.name }}</li>
            {% else %}
                <li><a href="{% url 'plans_pricing' %}">{% translate 'Sign Up' %}</a></li>
            {% endif %}
            <li><a href="{% url 'user_password_request' slug=company.slug %}">{% translate 'Lost password?' %}</a></li>
        </ul>
    </form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
    {% endcompress %}
{% endblock %}

