{% extends 'layout.html' %}
{% block content %}
  <h2>Complete Docuflow Registration</h2>
  {% if subscription_plan  %}
      <form method="post">
        {% csrf_token %}
         <h4>{{ subscription_plan.name }}</h4>

        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i > Complete</button>
      </form>
  {% else %}
    Subscription plan not found
  {% endif %}
{% endblock %}