{% extends 'layout.html' %}
{% block content %}

  <h2>Docuflow Plans </h2>

  {% if subscription_plans  %}
        <div class="row">
            <section class="plans-container" id="plans">
            {% for subscription_plan in subscription_plans %}
                <article class="col s12 m6 l4">
                    <div class="card z-depth-2">
                        <div class="card-image light-blue darken-1 waves-effect">
                            <div class="card-title">{{ subscription_plan.name }}</div>
                            <div class="price"><sup>$</sup>{{ subscription_plan.price }}<sub>/mo</sub></div>
                        </div>
                        <div class="card-content">
                            <small>{{ subscription_plan.description }}</small>
                            <ul class="collection">
                                <li class="collection-item">From {{ subscription_plan.invoices_from }}
                                 {% if subscription_plan.invoices_to > 0  %} to {{ subscription_plan.invoices_to }}{% else %} + {% endif %} invoices
                                </li>
                                <li class="collection-item">unlimited data</li>
                                <li class="collection-item">10 users</li>
                                <li class="collection-item">first 30 day free</li>
                            </ul>
                        </div>
                        <div class="card-action center-align">
                          <a class="waves-effect waves-light light-blue btn" href="{{ subscription_plan.get_absolute_url }}">Sign Up</a>
                        </div>

                    </div>
                </article>
            {% endfor %}
            </section>
        </div>
  {% else %}
    There are no plans available
  {% endif %}
{% endblock %}