{% extends 'home/auth.html' %}
{% load static %}
{% load thumbnail %}
{% block auth_content %}

    <h2>Forgot Password</h2>
    <form method="post" novalidate="novalidate">
        {% include 'common/form.html' %}

        <div class="form-group">
            <button class="btn btn-primary btn-large" name="submit" type="submit" id="request-password"><i class="fa fa-key"></i > Request </button>
        </div>
        <ul class="inline list-inline">
            <li><a href="{% url 'plans_pricing' %}">Sign Up</a></li>
            <li><a href="{% url 'company_login' slug=company.slug %}">Sign In</a></li>
        </ul>
    </form>
{% endblock %}