{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5 my-5">
    <div class="card">
        <article class="card-body">
            <header class="mb-4">
                <h4 class="card-title">Join Docuflow now</h4>
            </header>
        </article>
        <div class="col s12 z-depth-4 card-panel">
          <form class="login-form" method="post" novalidate="novalidate" id="sign_up_form">
              {% csrf_token %}
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group control-group {% if form.first_name.errors %}error{% endif %}">
                            {{ form.first_name.label_tag }}
                            <div class="controls">
                                {% render_field form.first_name class="form-control" %}
                                {% if form.first_name.auto_id  != "id_tos" %}
                                    {% if form.first_name.errors %}<span class="help-inline">{{ form.first_name.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group control-group {% if form.last_name.errors %}error{% endif %}">
                            {{ form.last_name.label_tag }}
                            <div class="controls">
                                {% render_field form.last_name class="form-control" %}
                                {% if form.last_name.auto_id  != "id_tos" %}
                                    {% if form.last_name.errors %}<span class="help-inline">{{ form.last_name.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group  {% if form.email.errors %}error{% endif %}">
                    <label class=" control-label txt-font12" for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
                    <div class="controls">
                        {% render_field form.email class="form-control" %}
                        {% if form.email.auto_id  != "id_tos" %}
                            {% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                  <div class="col-6">
                      <div class="form-group control-group {% if form.password1.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.password1.id_for_label }}">{{ form.password1.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.password1 class="form-control" %}
                            {% if form.password1.auto_id  != "id_tos" %}
                                {% if form.password1.errors %}<span class="help-inline">{{ form.password1.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group control-group {% if form.password2.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.password2.id_for_label }}">{{ form.password2.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.password2 class="form-control" %}
                            {% if form.password2.auto_id  != "id_tos" %}
                                {% if form.password2.errors %}<span class="help-inline">{{ form.password2.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                  </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group control-group {% if form.name.errors %}error{% endif %}">
                            <label class=" control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
                            <div class="controls">
                                {% render_field form.name class="form-control" %}
                                {% if form.name.auto_id  != "id_tos" %}
                                    {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group control-group {% if form.type.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.type.id_for_label }}">{{ form.type.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.type class="form-control" %}
                            {% if form.type.auto_id  != "id_tos" %}
                                {% if form.type.errors %}<span class="help-inline">{{ form.type.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                      <div class="form-group control-group {% if form.company_number.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.company_number.id_for_label }}">{{ form.company_number.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.company_number class="form-control" %}
                            {% if form.company_number.auto_id  != "id_tos" %}
                                {% if form.company_number.errors %}<span class="help-inline">{{ form.company_number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group control-group {% if form.start_date.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.start_date.id_for_label }}">{{ form.start_date.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.start_date class="form-control future_dateicker datepicker" %}
                            {% if form.start_date.auto_id  != "id_tos" %}
                                {% if form.start_date.errors %}<span class="help-inline">{{ form.start_date.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                      <div class="form-group control-group {% if form.area_code.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.area_code.id_for_label }}">{{ form.area_code.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.area_code class="form-control" %}
                            {% if form.area_code.auto_id  != "id_tos" %}
                                {% if form.area_code.errors %}<span class="help-inline">{{ form.area_code.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group control-group {% if form.address_line_1.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.address_line_1.id_for_label }}">{{ form.address_line_1.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.address_line_1 class="form-control" %}
                            {% if form.address_line_1.auto_id  != "id_tos" %}
                                {% if form.address_line_1.errors %}<span class="help-inline">{{ form.address_line_1.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                      <div class="form-group control-group {% if form.address_line_2.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.address_line_2.id_for_label }}">{{ form.address_line_2.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.address_line_2 class="form-control" %}
                            {% if form.address_line_2.auto_id  != "id_tos" %}
                                {% if form.address_line_2.errors %}<span class="help-inline">{{ form.address_line_2.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group control-group {% if form.province.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.province.id_for_label }}">{{ form.province.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.province class="form-control" %}
                            {% if form.province.auto_id  != "id_tos" %}
                                {% if form.province.errors %}<span class="help-inline">{{ form.province.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                      <div class="form-group control-group {% if form.vat_number.errors %}error{% endif %}">
                        <label class=" control-label txt-font12" for="{{ form.vat_number.id_for_label }}">{{ form.vat_number.label_tag }}</label>
                        <div class="controls">
                            {% render_field form.vat_number class="form-control" %}
                            {% if form.vat_number.auto_id  != "id_tos" %}
                                {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>

                <div class="row mb-3">
                  <div class="input-field col s12">

                  </div>
                  <div class="input-field col s12 text-right">
                      <button class="btn submit" id="sign_up" name="submit" type="button"><i class="fa fa-check"></i > Register Now </button>
                  </div>
                </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
{% endblock %}

