{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div id="login-page" class="col s12 m8 l9">
        <br /><br />
        <div class="alert alert-success" role="alert">
            Thank you for registering with Docuflow. An email with login instructions was send.
        </div>
        <br /><br />
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
{% endblock %}

