{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Create Package {% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'subscription/form.html' %}
    <div class="form-group">
        <button class="btn btn-primary btn-large" name="submit" type="submit"><i class="fa fa-save"></i> Save</button>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript">
        $("#add_bullet_item").on('click', function(e){
            var bulletItem = $("#bullet_items");
            var item = $($(".plan-items").last()).data('counter');
            var lastItem = parseInt(item);
            var nextItem = lastItem + 1;
            var html = "<li class=\"list plan-items\" id=\"bullet_item_"+ nextItem +"\" data-counter=\""+ nextItem +"\">";
            html += "<div class=\"form-group control-group\">";
            html += "<label class=\"control-label txt-font12\">List Item "+ nextItem +"</label>";
            html += "<div class=\"controls\">";
            html += "<input type=\"text\" name=\"item\" id=\"item_"+ nextItem +"\" value=\"\"  class=\"form-control\" />";
            html += "</div>";
            html += "</div>";
            html += "</li>";
            bulletItem.append(html);
        });
    </script>
{% endblock %}
