{% load i18n %}
{% load static %}
{% load widget_tweaks %}
<div class="form-group control-group {% if form.name.errors %}error{% endif %} " >
    <label class="control-label txt-font12" for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
    <div class="controls">
        {% render_field form.name class="form-control" value=subscription.name  %}
        {% if form.name.auto_id  != "id_tos" %}
            {% if form.name.errors %}<span class="help-inline">{{ form.name.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.price.errors %}error{% endif %} " >
    <label class="control-label txt-font12" for="{{ form.price.id_for_label }}">{{ form.price.label_tag }}</label>
    <div class="controls">
        {% render_field form.price class="form-control" value=subscription.price  %}
        {% if form.price.auto_id  != "id_tos" %}
            {% if form.price.errors %}<span class="help-inline">{{ form.price.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.monthly_price.errors %}error{% endif %} " >
    <label class="control-label txt-font12" for="{{ form.monthly_price.id_for_label }}">{{ form.monthly_price.label_tag }}</label>
    <div class="controls">
        {% render_field form.monthly_price class="form-control" value=subscription.monthly_price  %}
        {% if form.monthly_price.auto_id  != "id_tos" %}
            {% if form.monthly_price.errors %}<span class="help-inline">{{ form.monthly_price.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.invoices_from.errors %}error{% endif %} " >
    <label class="control-label txt-font12" for="{{ form.invoices_from.id_for_label }}">{{ form.invoices_from.label_tag }}</label>
    <div class="controls">
        {% render_field form.invoices_from class="form-control" value=subscription.invoices_from  %}
        {% if form.invoices_from.auto_id  != "id_tos" %}
            {% if form.invoices_from.errors %}<span class="help-inline">{{ form.invoices_from.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.invoices_to.errors %}error{% endif %} " >
    <label class="control-label txt-font12" for="{{ form.invoices_to.id_for_label }}">{{ form.invoices_to.label_tag }}</label>
    <div class="controls">
        {% render_field form.invoices_to class="form-control" value=subscription.invoices_to  %}
        {% if form.invoices_to.auto_id  != "id_tos" %}
            {% if form.invoices_to.errors %}<span class="help-inline">{{ form.invoices_to.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.description.errors %}error{% endif %} " >
    <label class="control-label txt-font12" for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}</label>
    <div class="controls">
        {% render_field form.description class="form-control" value=subscription.description  %}
        {% if form.description.auto_id  != "id_tos" %}
            {% if form.description.errors %}<span class="help-inline">{{ form.description.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="form-group control-group {% if form.modules.errors %}error{% endif %} " >
    <label class="control-label txt-font12" for="{{ form.modules.id_for_label }}">{{ form.modules.label_tag }}</label>
    <div class="controls">
        {% render_field form.modules class="form-control" value=subscription.modules  %}
        {% if form.modules.auto_id  != "id_tos" %}
            {% if form.modules.errors %}<span class="help-inline">{{ form.modules.errors }}</span>{% endif %}
        {% endif %}
    </div>
</div>
<div class="well">
    <div class="form-group control-group" >
        <label class="col-sm-4 control-label txt-font12">Plan List</label>
        <div class="col-sm-8 controls">
            <ul class="list-group" id="bullet_items">
                {% for plan_item in plan.plan_items %}
                    <li class="list plan-items" id="bullet_item_{{ forloop.counter }}" data-counter="{{ forloop.counter }}">
                        <div class="form-group control-group">
                            <label class="control-label txt-font12">List Item {{ forloop.counter }}</label>
                            <div class="controls">
                                <input type="text" name="item" id="item_{{ forloop.counter }}" value="{{ plan_item }}" class="form-control" />
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <li class="list plan-items" id="bullet_item_{{ start }}" data-counter="{{ start }}">
                    <div class="form-group control-group">
                        <label class="control-label txt-font12">List Item {{ start }}</label>
                        <div class="controls">
                            <input type="text" name="item" id="item_{{ start }}" value="" class="form-control" />
                        </div>
                    </div>
                </li>
            </ul>
            <div class="form-group">
                 <button class="btn btn-primary btn-large" id="add_bullet_item" type="button">
                     <i class="fa fa-list"></i> Add List Item</button>
            </div>
        </div>
    </div>
</div>
