{% extends 'base.html' %}
{% block page_title %} Companies {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_package' %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus"></i> Create a new package
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-items-list">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="{{ modules|length }}" class="text-center">System Access</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Once Off</th>
                    <th>Monthly</th>
                    <th>Document Limit</th>
                    <th>Document Users</th>
                    <th>Extra per User</th>
                    {% for k, module in modules.items %}
                        <th>{{ module }}</th>
                    {% endfor %}
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if packages %}
                    {% for package in packages %}
                        <tr data-detail-url="{% url 'edit_package' package.id %}">
                            <td>{{ package.name }}</td>
                            <td>{{ package.price }}</td>
                            <td>{{ package.price }}</td>
                            <td>{{ package.invoices_from }}</td>
                            <td>{{ package.invoices_to }}</td>
                            <td>0</td>
                            {% for k, module in modules.items %}
                                <td>
                                    {% if k in package.module_list %}
                                        <span class="label label-success"><i class="fa fa-check"></i></span>
                                    {% else %}
                                        <span class="label label-danger"><i class="fa fa-close"></i></span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td class="text-left actions">
                                <a href="{% url 'edit_package' package.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no companies available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}