{% extends 'base.html' %}
{% load static %}
{% load i18n invoice_tags %}
{% block page_title %}Deliveries not invoiced{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
             <a class="btn btn-large btn-success" href="{% url 'create_sales_delivery' %}">
                 <i class="fa fa-plus"></i> Create</a>
             <a class="btn btn-large btn-success bulk-action" data-ajax-url="{% url 'create_sales_delivery_invoice' %}">
                 <i class="fa fa-plus-circle"></i> Invoice</a>
             <a class="btn btn-large btn-success bulk-action" data-ajax-url="{% url 'remove_delivery_note' %}">
                 <i class="fa fa-trash"></i> Remove</a>
             <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="estimates" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Delivery Number</th>
                        <th>Customer Name</th>
                        <th>DF Number</th>
                        <th>Delivery Date</th>
                        <th>Value</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="estimate_body">
                    {% if deliveries %}
                        {% for delivery in deliveries %}
                            <tr data-detail-url="{% url 'delivery_detail' delivery.pk %}?redirect={% url 'sales_delivery_index' %}">
                                <td>{{ delivery }}</td>
                                <td>{{ delivery.customer }}</td>
                                <td>{{ delivery.customer.number }}</td>
                                <td>{{ delivery.date|date:"d, M Y" }}</td>
                                <td>{{ delivery.total_amount|money }}</td>
                                <td class="actions">
                                    <input type="checkbox" class="checkbox-input delivery-action"
                                           data-delivery-id="{{ delivery.id }}"
                                           name="action"
                                           id="action_{{ delivery.id }}"
                                           value="{{ delivery.id }}" />
                                </td>
                            <td>{{ estimate.status_name }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no deliveries not invoiced found</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/delivery.js' %}"></script>
{% endblock %}