{% extends 'base.html' %}
{% load static %}
{% block page_title %}Back Order - {{ back_order }}  <span class="pull-right">&nbsp;{{ back_order }}</span>
{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left"></h5>
        </div>
      <div class="pull-right">
        <button class="btn btn-info btn-sm" name="delivery_tracking" id="delivery_tracking"
                data-modal="{% url 'back_order_tracking' back_order.id %}"
                data-toggle="tooltip"><i class="fa fa-dedent"></i> Tracking</button>
          &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="{% url 'backorder_detail' back_order.id %}?print=1" type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
          {% if back_order.can_manage %}
             <a type="button" class="btn btn-primary btn-sm"
                id="picking_slip"
                href="{% url 'create_back_order_picking_slip' back_order_id=back_order.id %}"
                data-toggle="tooltip"><i class="fa fa-hand-grab-o"></i> Picking</a>
             <a type="button" class="btn btn-primary btn-sm"
                href="{% url 'create_back_order_delivery_note' back_order_id=back_order.id %}"
                data-toggle="tooltip"><i class="fa fa-truck"></i> {% if back_order.is_pick_up %} Collection {% else %} Delivery {% endif %}</a>
             <a type="button" class="btn btn-primary btn-sm"
                id="invoice"
                href="{% url 'create_back_order_invoice' back_order_id=back_order.id %}"
                data-toggle="tooltip"><i class="fa fa-inbox"></i> Invoice</a>
          {% endif %}
         <a href="javascript:history.back(-1);" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
      </div>
  </div>
  <div class="panel-body align-center" id="back_order_detail">
        {% include "backorder/template.html" %}
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/estimate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}
