{% extends 'datatable.html' %}
{% load static %}
{% load i18n invoice_tags %}
{% block page_title %}{% translate 'Back Orderssss' %}{% endblock page_title %}
{% block datatable %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
             <button type="button" class="btn btn-primary btn-sm single-action"
                     name="picking"
                     id="picking"
                     data-ajax-url="{% url 'single_back_order_action' action='create_picking' %}"
                     data-toggle="tooltip"><i class="fa fa-folder-open-o"></i> {% translate 'Picking' %}</button>
             <button type="button" class="btn btn-primary btn-sm single-action"
                     name="delivery"
                     id="delivery"
                     data-ajax-url="{% url 'single_back_order_action' action='create_delivery' %}"
                     data-toggle="tooltip"><i class="fa fa-folder-open-o"></i> {% translate 'Delivery' %}</button>
             <button type="button" class="btn btn-primary btn-sm single-action"
                     name="invoice"
                     id="invoice"
                     data-ajax-url="{% url 'single_back_order_action' action='create_invoice' %}"
                     data-toggle="tooltip"><i class="fa fa-folder-open"></i> {% translate 'Invoice' %}</button>

             <button type="button" class="btn btn-danger btn-sm bulk-action"
                     name="remove"
                     id="remove"
                     data-confirm="1"
                     data-confirm-text="Are you sure you want to delete these back orders"
                     data-ajax-url="{% url 'bulk_back_order_action' action='remove' %}"
                     data-toggle="tooltip"><i class="fa fa-trash"></i> {% translate 'Remove' %}</button>
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="back_orders" class="table table-bordered table-items-list" width="100%">
                <thead>
                    <tr>
                        <th>{% translate 'Delivery Number' %}</th>
                        <th>{% translate 'Customer Name' %}</th>
                        <th>{% translate 'Customer Number' %}</th>
                        <th>{% translate 'Delivery Date' %}</th>
                        <th>{% translate 'Value' %}</th>
                        <th>{% translate 'Status' %}</th>
                        <th>{% translate 'Action' %}</th>
                    </tr>
                </thead>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        // using jQuery
        $(function(){
            var table = $("#back_orders").DataTable({
                  'serverSide': true,
                  'ajax': '/api/v1/sales/backorders/?format=datatables',
                  'columns': [
                    { data: 'document_number', name: 'id', searchable: true},
                    { data: 'customer', name: 'customer__name', searchable: true,
                        render: function(data, type, row) {
                            return data ? data.name : '-';
                        }
                    },
                    { data: 'customer', name: 'customer__number', searchable: true,
                        render: function(data, type, row) {
                            return data ? data.number : '-';
                        }
                    },
                    { data: 'date', name: 'date', searchable: true},
                    { data: 'total_amount', name: 'total_amount', searchable: true, className: 'text-right'},
                    { data: 'status_name', name: 'status', searchable: true},
                   { data: 'id', name: 'id', searchable: false, className: 'actions'},
                  ],
                 "columnDefs": [
                    {
                        "render": function ( data, type, row ) {
                            return displayDate(data)
                        },
                        "targets": [3]
                    },
                    {
                        "render": function ( data, type, row ) {
                            if (data) {
                                return accounting.formatMoney(data)
                            } else {
                                return '-'
                            }
                        },
                        "targets": [4]
                    },
                    {
                        "render": function ( data, type, row ) {
                            if (row['status'] === 'PROCESSED') {
                                return "<span class='text-success text-bold'>"+ data  +"</span> "
                            } else if (row['status'] === 'REMOVED') {
                                return "<span class='text-danger'>"+ data +"</span> ";
                            }  else {
                                if (row['inventory_status'] === 1) {
                                    return "<span class='text-info text-bold' data-toggle='tooltip' data-original-title='Stock available.'>Available</span> "
                                } else if (row['inventory_status'] === -1) {
                                    return "<span class='text-warning text-bold' data-toggle='tooltip' data-original-title='There is stock but not enough to fill the quantity estimated.'>Partially Pending</span> "
                                } else {
                                    html = []
                                    if (row['status'] === 'PENDING') {
                                        html.push("<span class='text-warning text-bold' data-toggle='tooltip' data-original-title='"+ data + "'>");
                                    } else {
                                        html.push("<span class='text-danger text-bold' data-toggle='tooltip' data-original-title='"+ data + "'>");
                                    }
                                    html.push(data);
                                    html.push("</span> ");
                                    return html.join(' ')
                                }
                            }
                        },
                        "targets": 5
                    },
                    {
                        "render": function ( data, type, row ) {
                            if (row['status'] === 'REMOVED') {
                                return "<span class='text-danger'>-</span> ";
                            } else {
                                return "<input type='checkbox' class='checkbox-input back-order-action' data-back-order-id='"+ data +"' name='action' id='action_" + data + "' value='"+ data +"' />";
                            }
                        },
                        "targets": 6
                    }
                ],
                pagingType: 'full_numbers',
                iDisplayLength: '{{display_rows}}',
                lengthMenu:  JSON.parse("{{ menu_length }}"),
                order: [[ 3, 'desc' ], [ 0, 'desc' ]],
                dom: '<"datatable-header"Tfl>t<"datatable-footer"ip>',
                tableTools: {
                    sRowSelect: "multi",
                    sSwfPath: "media/swf/copy_csv_xls_pdf.swf",
                    aButtons: [
                        {
                            sExtends:    'copy',
                            sButtonText: 'Copy',
                            sButtonClass: 'btn btn-default'
                        },
                        {
                            sExtends:    'print',
                            sButtonText: 'Print',
                            sButtonClass: 'btn btn-default'
                        },
                        {
                            sExtends:    'collection',
                            sButtonText: 'Save <span class="caret"></span>',
                            sButtonClass: 'btn btn-primary',
                            aButtons:    [ 'csv', 'xls', 'pdf' ]
                        },
                        {
                            sExtends: 'collection',
                            sButtonText: 'Tools <span class="caret"></span>',
                            sButtonClass: 'btn btn-primary',
                            aButtons:    [ 'select_all', 'select_none' ]
                        }
                    ]
                }
            });

            $('#back_orders').on('click', 'td', function() {
                const tdClasses =  $(this).prop('class').split(' ')
                if (tdClasses.indexOf('actions') < 0) {
                    const tr = $(this).parent();
                    const rowData = table.row(tr).data();
                    if (rowData.detail_url) {
                        document.location.href = rowData.detail_url + "?redirect={% url 'sales_back_order_index' %}";
                    }
                }
            });

            $.extend( $.fn.dataTable.defaults, {
                autoWidth: false,
                pagingType: 'full_numbers',
                dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
                language: {
                    search: '<span>Filter:</span> _INPUT_',
                    lengthMenu: '<span>Show:</span> _MENU_',
                    paginate: { 'first': 'First', 'last': 'Last', 'next': '>', 'previous': '<' }
                }
            });

        });
    </script>
    <script type="text/javascript" src="{% static 'js/back_order.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}