{% extends 'base.html' %}
{% load static %}
{% load i18n invoice_tags %}
{% block page_title %}Picking Slips {{ branch }}{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
             <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="deliveries" class="table table-bordered table-items-list" width="100%">
                <thead>
                    <tr>
                        <th>Picking Slip Number</th>
                        <th>Customer Name</th>
                        <th>DF Number</th>
                        <th>Picking Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="deliveries_body">
                    {% if picking_slips %}
                        {% for picking_slip in picking_slips %}
                            <tr data-detail-url="{% url 'picking_detail' picking_slip.pk %}?redirect={% url 'delivery_pickings' %}">
                                <td>{{ picking_slip }}</td>
                                <td>{{ picking_slip.delivery.customer }}</td>
                                <td>{{ picking_slip.delivery.customer.number }}</td>
                                <td>{{ picking_slip.date|date:"d, M Y" }}</td>
                            <td>{{ picking_slip.status_name }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no picking slips available</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/delivery.js' %}"></script>
{% endblock %}