{% load thumbnail %}
{% load company_tags invoice_tags vat %}
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        {% display_logo company 200 75 %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        {% include "sales/address/company.html" %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
        <table class="table table-borderless table-condensed">
            <tr>
                <td colspan="2"><strong class="h4">BACK ORDER</strong></td>
            </tr>
            <tr>
                <td>Vat Registration Number</td>
                <td>{{ company.vat_number }}</td>
            </tr>
            <tr>
                <td>Document Number</td>
                <td>#{{ back_order }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ back_order.date|date:'d-M-Y' }}</td>
            </tr>
            {% if back_order.estimate %}
                <tr>
                    <td>Estimate</td>
                    <td><a href="{% url 'estimate_detail' back_order.estimate.id %}">{{ back_order.estimate }}</a></td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
<div class="row" id="customer-data">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">Customer</div>
            <div class="panel-body" style="padding: 5px;">
                {% with sales_invoice=back_order %}
                    {% include "sales/address/postal.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">Delivery To</div>
            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                {% with sales_invoice=back_order %}
                    {% include "sales/address/delivery.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body" style="padding: 5px;">
                {% with estimate=back_order.estimate %}
                    {% include "estimates/estimate.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
                <div class="table-responsive">
                   <table width="100%" class="table">
                        <tr class="item-titles">
                            <th class="po-brdr-r po-pad-left">Stock Code</th>
                            <th class="po-brdr-r po-pad-left">Description</th>
                            {% if not is_print %}
                                <th class="po-brdr-r po-pad-right text-right">Stock</th>
                            {% endif %}
                            <th class="po-brdr-r po-pad-right text-right">Quantity</th>
                            <th class="po-brdr-r po-right-align text-right">Price Exc</th>
                            <th class="po-brdr-r po-right-align text-right">Price Inc</th>
                            <th class="po-brdr-r po-pad-left text-right">Discount(%)</th>
                            <th class="po-brdr-r po-pad-left text-right">Discount</th>
                            <th class="po-brdr-r po-right-align text-right"> Total Exc</th>
                            <th class="po-brdr-r po-pad-left text-right">Vat</th>
                            <th class="po-brdr-r po-right-align text-right"> Total Inc</th>
                        </tr>
                        {% for back_order_item in back_order_items.all %}
                            <tr class="line-items sales-item-{{ back_order_item.status_name|lower }}">
                                <td>{{ back_order_item.inventory }}</td>
                                <td>{{ back_order_item.inventory.description }}</td>
                                {% if not is_print %}
                                    <td class="text-right">
                                        {% if back_order_item.is_available  == -1 %}
                                            <span class="label label-warning"
                                                  data-toggle="tooltip"
                                                  data-original-title="There is stock but not enough to fill the quantity estimated."
                                            ><i class="fa fa-check"></i></span>
                                        {% elif back_order_item.is_available  %}
                                            <span class="label label-success"
                                                  data-toggle="tooltip"
                                                  data-original-title="Stock available."
                                            ><i class="fa fa-check"></i></span>
                                        {% else %}
                                            <span class="label label-danger"
                                                  data-toggle="tooltip"
                                                  data-original-title="Stock not available."
                                            ><i class="fa fa-close"></i></span>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td class="text-right">{{ back_order_item.quantity|money }}</td>
                                <td class="text-right">{{ back_order_item.price|money }}</td>
                                <td class="text-right">{{ back_order_item.price_including|money }}</td>
                                <td class="text-right">{{ back_order_item.discount|money  }}%</td>
                                <td class="text-right">{{ back_order_item.total_discount_amount|money }}</td>
                                <td class="text-right">{{ back_order_item.net_price|money }}</td>
                                <td class="text-right">{{ back_order_item.total_vat_amount|money }}</td>
                                <td class="text-right">{{ back_order_item.total_price_including|money }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        {% with sales_invoice=back_order %}
            {% include "sales/metrics.html" %}
        {% endwith %}
    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        <table width="100%" class="table table-bordered">
            <tr>
                <td class="po-total">Sub Total</td>
                <td class="po-total" >&nbsp;{{ back_order.sub_total|money }}</td>
            </tr>
{#            <tr>#}
{#                <td class="po-total">LINE DISCOUNTS</td>#}
{#                <td class="po-total" >&nbsp;{{ estimate.line_discount|money }}</td>#}
{#            </tr>#}
            {% if customer_discount != 0 %}
                <tr>
                    <td class="po-total">Customer Discount</td>
                    <td class="po-total" >&nbsp;{{ back_order.customer_discount|money }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="po-total">Amount excluding Vat</td>
                <td class="po-total" >&nbsp;{{ back_order.net_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Vat</td>
                <td class="po-total" >&nbsp;{{ back_order.vat_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Amount including Vat</td>
                <td class="po-total" >R&nbsp;{{ back_order.total_amount|money }}</td>
            </tr>

        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">&nbsp;</div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        {% vat_summary back_order back_order.back_order_items.all %}
    </div>
</div>