{% load invoice_tags %}
<tr id="delivery_row_{{ row_id }}" class="delivery_item_row" data-row-id="{{ row_id }}">
    <td>
        <select class="form-control form-control-sm chosen-select line-type" name="type_{{ row_id }}" data-row-id="{{ row_id }}"
               id="type_{{ row_id }}" data-ajax-url="{% url 'add_delivery_items' %}">
            <option value="i" {% if line_type == 'i' %} selected="selected" {% endif %}>I</option>
            <option value="t" {% if line_type == 't' %} selected="selected" {% endif %}>T</option>
        </select>
    </td>
    <td>
        <input class="form-control form-control-sm" name="description_{{ row_id }}" id="description_{{ row_id }}"
               placeholder="Description"
        />
    </td>
    <td>
        <input type="text" class="form-control form-control-sm quantity" value=""
               name="quantity_{{ row_id }}"
               id="quantity_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td>
        <select class="form-control form-control-sm chosen-select row-unit" name="unit_{{ row_id }}" data-row-id="{{ row_id }}"
               id="unit_{{ row_id }}">
            {% for unit in units %}
               <option value="{{ unit.id }}">{{ unit }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <input type="text" class="form-control form-control-sm price"
               name="price_{{ row_id }}"
               id="price_{{ row_id }}"
               data-item-id="{{ row_id }}"
               value="" />
    </td>
    <td>
        <input type="text" class="form-control form-control-sm discount" value=""
               name="discount_percentage_{{ row_id.id }}"
               id="discount_percentage_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td>

        <input type="text" class="form-control form-control-sm discount-amount" value="" readonly="readonly"
               name="discount_amount_{{ row_id }}"
               id="discount_amount_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
    </td>
    <td class="text-right">
        <span class="price-exc" id="total_price_exl_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" name="total_price_excluding_{{ row_id }}"
               id="total_price_excluding_{{ row_id }}"
               class="total-price-excl open-input"
        >
    </td>
    <td>
        <input type="hidden" class="form-control form-control-sm vat" value="" readonly="readonly"
               name="vat_percentage_{{ row_id }}"
               id="vat_percentage_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
        <select class="form-control form-control-sm chosen-select row-vat" name="vat_code_{{ row_id }}" data-row-id="{{ row_id }}"
               id="vat_code_{{ row_id }}">
            {% for vat_code in vat_codes %}
               <option value="{{ vat_code.id }}" data-percentage="{{ vat_code.percentage }}">{{ vat_code }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <input type="hidden" class="form-control form-control-sm vat-amount" value="" readonly="readonly"
               name="vat_amount_{{ row_id }}"
               id="vat_amount_{{ row_id }}"
               data-item-id="{{ row_id }}"
        >
        <span class="total-vat" id="vat_total_{{ row_id }}" data-item-id="{{ row_id }}"></span>
        <input type="hidden" value="{{ row_id }}"
               name="total_vat_{{ row_id }}"
               id="total_vat_{{ row_id }}"
               class="total-vat-amount"
        >
    </td>
    <td>
        <span class="price" id="total_price_incl_{{ row_id }}"></span>
        <input type="hidden" value="" name="total_price_including_{{ row_id }}"
               id="total_price_including_{{ row_id }}"
               class="total-price-incl open-input"
        >
    </td>
    <td class="text-center">
        <span class="" id="order_item">Yes</span>
    </td>
</tr>
