{% extends 'modal.html' %}
{% load static %}
{% load invoice_tags %}
{% block title %} Delivery Tracking - {{ delivery }}{% endblock title %}
{% block content %}
<div class="container table-responsive">
    <table class="table table-bordered" width="100%">
        <tr>
            <td>Created By</td>
            <td class="text-left">{% if back_order.profile %}{{ back_order.profile }}{% endif %}</td>
        </tr>
        <tr>
            <td>Role</td>
            <td class="text-left">{% if back_order.role %}{{ back_order.role }}{% endif %}</td>
        </tr>
        <tr>
            <td>Date Created</td>
            <td class="text-left">{% if back_order.created_at %}{{ back_order.created_at|date:'d-M-Y' }}{% endif %}</td>
        </tr>
        <tr>
            <td>Time Created</td>
            <td class="text-left">{% if back_order.created_at %}{{ back_order.created_at|date:'H:s' }}{% endif %}</td>
        </tr>
            <tr>
            <td colspan="2">
                {% with trackings=tracking %}
                    {% include 'sales/tracking/template.html' %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td colspan="2">
                <h4>Picking</h4>
                {% with trackings=picking_tracking %}
                    {% include 'sales/tracking/template.html' %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td colspan="2">
                <h4>Delivery</h4>
                {% with trackings=delivery_tracking %}
                    {% include 'sales/tracking/template.html' %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td colspan="2">
                <h4>Invoice</h4>
                {% with trackings=invoice_tracking %}
                    {% include 'sales/tracking/template.html' %}
                {% endwith %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}