{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Show Balance {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear_invoice_changes" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group">
                <a type="button" href="{% url 'download_invoice_report' %}" class="btn btn-primary btn-sm" name="submit" id="Excel" data-toggle="tooltip"><i class="fa fa-spreadsheet"></i> Excel</a>
                <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete_invoice" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
            <div class="__form">
                <span id="loader"></span>
                <div class="container-fluid">
                    <form class="form-horizontal" method="get"action="{% url 'show_balance_index' %}"  id="show_invoice_report" name="role-filter">
                    <section class="my machine is a bit slow today,  yes its okay
">
                        <fieldset class="col well">
                            <div class="row">
                                <!-- Main Name Field -->
                               <div class="form-group col-sm-1">
                                  <label for="date" class="control-label">From Date</label>
                                  {% render_field filter.from_date class="form-control datepicker" readonly="readonly" %}
                               </div>
                               <div class="form-group col-sm-1">
                                  <label for="date" class="control-label">To Date</label>
                                  {{ filter.to_date|add_class:"form-control"  }}
                               </div>
                               <div class="form-group col-sm-1">
                                  <label class="control-label txt-font12" for="{{ filter.company.id_for_label }}">{{ filter.company.label_tag }}</label>
                                  {{ filter.company|add_class:"form-control"  }}
                               </div>
                               <div class="form-group col-sm-1">
                                  <label for="{{ filter.form.status.id_for_label }}" class="control-label">Status:</label>
                                  {{ filter.form.status|attr:"class:form-control"  }}
                               </div>
                               <div class="form-group col-sm-1">
                                  <label for="{{ filter.supplier.id_for_label }}" class="control-label">Supplier</label>
                                  {{ filter.form.supplier|attr:"class:form-control"  }}
                               </div>
                               <div class="form-group col-sm-1">
                                  <label for="{{ filter.supplier.id_for_label }}" class="control-label">Supplier number:</label>
                                  {{ filter.form.supplier|attr:"class:form-control"  }}
                               </div>
                               <div class="form-group col-sm-1">
                                    <label class="control-label txt-font12" for="reference1">Reference 1</label>
                                    <input type="text" name="reference1" id="reference1" class="form-control">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label class="control-label txt-font12" for="reference2">Reference 2</label>
                                    <input type="text" name="reference2" id="reference2" class="form-control">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label for="{{ filter.total_amount.id_for_label }}" class="control-label">Total Amount</label>
                                    {{ filter.form.total_amount|attr:"class:form-control"  }}
                                </div>
                                <div class="form-group col-sm-1">
                                    <label class="control-label txt-font12" for="alias">Alias</label>
                                    <input type="text" name="alias" id="alias" class="form-control">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label class="control-label txt-font12" for="invoice_series">Invoice Series</label>
                                    <input type="text" name="invoice_series" id="invoice_series" class="form-control">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label class="control-label txt-font12" for="serial_number">Serial Number</label>
                                    <input type="text" name="serial_number" id="serial_number" class="form-control">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label class="control-label txt-font12" for="number_of_lines">Number of lines:</label>
                                    <input type="text" name="number_of_lines" id="number_of_lines" class="form-control">
                                </div>
                            </div>
                        </fieldset>
                    </section>
                    </form>
                </div>
            </div>
            <div class="__table">
            <div class="table-responsive">
              <table id="dataTable" class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Role</th>
                            <th>Company</th>
                            <th>Supplier</th>
                            <th>Supplier's name</th>
                            <th>Supplier's inv. no.</th>
                            <th>Delivery slip. no</th>
                            <th>Purchase order. no</th>
                            <th>Contract</th>
                            <th>Invoice date</th>
                            <th>Due date</th>
                            <th>Reference 1</th>
                            <th>Reference 2</th>
                            <th>Currency</th>
                            <th class="text-right">Amount</th>
                            <th class="text-right">VAT Amount</th>
                            <th class="text-right">Fee Amount 1</th>
                            <th class="text-right">Fee Amount 2</th>
                            <th class="text-right">Fee Amount 3</th>
                            <th>Payment Ref</th>
                            <th>Bank Account</th>
                            <th>Alias</th>
                            <th>Invoice image</th>
                            <th>Number of images</th>
                            <th>Number of lines</th>
                            <th>File type</th>
                            <th>Transferred</th>
                            <th>Invoice series</th>
                            <th>Serial no.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if invoices %}
                            {% for invoice in invoices %}
                                <tr>
                                    <td></td>
                                    <td>{{ invoice.id }}</td>
                                    <td>{{ invoice.created_at }}</td>
                                    <td>{{ invoice.company }}</td>
                                    <td>{{ invoice.supplier }}</td>
                                    <td>{{ invoice.supplier }}</td>
                                    <td>{{ invoice.supplier.code }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ invoice.invoice_date }}</td>
                                    <td>{{ invoice.due_date }}</td>
                                    <td>Reference 1</td>
                                    <td>Reference 2</td>
                                    <td></td>
                                    <td class="text-right">{{ invoice.net_amount|money }}</td>
                                    <td class="text-right">{{ invoice.vat_amount|money }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ invoice.image }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="30">There are no invoices available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#search").on('click', function(){
               $("#show_balance_report").submit();
            });
       });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}