{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}Pricing - <strong>{{ customer }}</strong> {% endblock title %}
{% block content %}
<form method="post" action="{% url 'create_pricing' customer_id=customer.id %}" id="pricing_form"
      name="pricing_form" class="form-horizontal" novalidate="novalidate">
    {% csrf_token %}
     <div class="modal-body">
         {% if has_error %}
             <div id="text-reason">{{ message }}</div>
         {% endif %}
        <div class="col-sm-12 form">
            {% include 'common/form.html' %}
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary save-btn" id="pricing">Save</button>
    </div>
</form>
{% endblock %}