<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th class="text-center" colspan="2">Default</th>
            <th>&nbsp;</th>
            <th class="text-center" colspan="2">This Price List</th>
        </tr>
         <tr>
            <th></th>
            <th></th>
            <th class="text-right">Price Exc</th>
            <th class="text-right">Price Inc</th>
            <th>&nbsp;</th>
            <th class="text-right">Price Exc</th>
            <th class="text-right">Price Inc</th>
        </tr>
    </thead>
    <tbody>
        <tr id="">
            <td colspan="7">

            </td>
        </tr>
        <tr>
            <td colspan="7" class="text-right">
               <button  data-modal="{% url 'create_pricing' customer_id=customer.id %}"
                        id="add_inventory_price"
                        class="btn-primary btn">Add</button>
            </td>
        </tr>
    </tbody>
</table>