{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}Edit inventory fixed price - <strong>{{ pricing }}</strong> {{ fixed_pricing.inventory }} {% endblock title %}
{% block content %}
<form method="post" action="{% url 'edit_fixed_pricing' fixed_pricing.id %}" id="inventory_fixed_price_form"
      name="inventory_fixed_price_form" class="form-horizontal">
     <div class="modal-body">
         {% if has_error %}
             <div id="text-reason">{{ message }}</div>
         {% endif %}
        <div class="col-sm-12 form">
            <div class="form-group control-group {% if form.price.errors %}error{% endif %}">
                <label class="col-sm-4 control-label txt-font12" for="{{ form.price.id_for_label }}">{{ form.price.label_tag }}</label>
                <div class="col-sm-8">
                    {% render_field form.price class="form-control" %}
                    {% if form.price.auto_id  != "id_tos" %}
                        {% if form.price.errors %}<span class="help-inline">{{ form.price.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group control-group {% if form.price_including.errors %}error{% endif %}">
                <label class="col-sm-4 control-label txt-font12" for="{{ form.price_including.id_for_label }}">{{ form.price_including.label_tag }}</label>
                <div class="col-sm-8">
                    {% render_field form.price_including class="form-control" %}
                    {% if form.price_including.auto_id  != "id_tos" %}
                        {% if form.price_including.errors %}<span class="help-inline">{{ form.price_including.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary save-btn" id="inventory_fixed_price">Update</button>
    </div>
</form>
{% endblock %}