{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}Import inventory fixed price - <strong>{{ pricing }}</strong> {% endblock title %}
{% block content %}
<form method="post" action="{% url 'import_fixed_pricing' pricing_id=pricing.id %}"
      id="import_inventory_fixed_price_form" name="import_inventory_fixed_price_form"
      class="form-horizontal"  enctype="multipart/form-data">
     <div class="modal-body">
         {% if has_error %}
             <div id="text-reason">{{ message }}</div>
         {% endif %}
        <div class="col-sm-12 form">
            <div class="form-group control-group {% if form.csv_file.errors %}error{% endif %}">
                <label class="col-sm-4 control-label txt-font12" for="{{ form.csv_file.id_for_label }}">{{ form.csv_file.label_tag }}</label>
                <div class="col-sm-8">
                    {% render_field form.csv_file class="form-control" %}
                    {% if form.csv_file.auto_id  != "id_tos" %}
                        {% if form.csv_file.errors %}<span class="help-inline">{{ form.csv_file.errors }}</span>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary save-btn" data-text="Processing" id="import_inventory_fixed_price">Upload</button>
    </div>
</form>
{% endblock %}