{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %}Fixed prices - <strong>{{ pricing }}</strong> {% endblock title %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-bordered" width="100%">
            <thead>
                <tr class="primary-head">
                    <th>Inventory</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Price Including</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if fixed_prices|length > 0 %}
                    {% for fixed_price in fixed_prices %}
                        <tr class="fixed-price-row">
                            <td><strong>{{ fixed_price.inventory.inventory }}</strong></td>
                            <td><strong>{{ fixed_price.inventory.description }}</strong></td>
                            <td class="text-right">{{ fixed_price.price }}</td>
                            <td class="text-right">{{ fixed_price.price_including }}</td>
                            <td class="text-right actions">
                                <a href="javascript:void(0)" data-modal="{% url 'edit_fixed_pricing' fixed_price.id %}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-danger delete-fixed-pricing"
                                        data-modal="{% url 'delete_fixed_pricing' fixed_price.id %}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">Fixed prices not available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}