{% extends 'modal.html' %}
{% load static %}
{% block title %} Update Posting Invoices {{ year }} {% endblock title %}
{% block content %}

    <form method="post" novalidate="novalidate" role="form"
        id="create_vat_report" name="create_vat_report"
        action="{% url 'create_update_posting_invoices' %}">
         <div class="modal-body">
            {% include 'common/form.html' %}
         </div>
         <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary btn-large" name="update_posting_invoices_submit"
                    type="button" id="update_posting_invoices_submit"><i class="fa fa-save"></i> Create</button>
        </div>
    </form>

{% endblock %}