{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Update posting invoices - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">

                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                 <tr>
                                    <th colspan="12"></th>
                                     {% if linked_models_count > 0 %}
                                        <th colspan="{{ report.linked_models.items|length }}" class="text-center">Object</th>
                                     {% endif %}
                                    <th class="text-right">Net</th>
                                    <th class="text-right">Vat</th>
                                    <th class="text-right">Total</th>
                                </tr>
                                <tr>
                                    <th>Per</th>
                                    <th>Docuflow Unique</th>
                                    <th>Accounting Date</th>
                                    <th>Document Date</th>
                                    <th>Due Date</th>
                                    <th>Supplier Name</th>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th>IIR</th>
                                    <th>Account</th>
                                    {% if linked_models_count > 0 %}
                                        {% for k, linked in report.linked_models.items %}
                                            <th class="text-right">{{ linked.label }}</th>
                                        {% endfor %}
                                    {% endif %}
                                    <th>Distribute</th>
                                    <th>Vat Type</th>
                                    <th class="text-right">Amount</th>
                                    <th class="text-right">Amount</th>
                                    <th class="text-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if report.invoices_accounts|length > 0 %}
                                    {% for k, invoice_accounts in report.invoices_accounts.items %}
                                        {% for posting_invoice_account in invoice_accounts %}
                                            <tr class="{{ posting_invoice_account.invoice.document_type.slug }}"
                                                data-invoice-url="{% url 'invoice_detail' posting_invoice_account.invoice_id %}">
                                                <td>{{ posting_invoice_account.invoice.period }}</td>
                                                <td>{{ posting_invoice_account.invoice }}</td>
                                                <td>{{ posting_invoice_account.invoice.accounting_date }}</td>
                                                <td>{{ posting_invoice_account.invoice.invoice_date }}</td>
                                                <td>{{ posting_invoice_account.invoice.due_date }}</td>
                                                <td>{{ posting_invoice_account.invoice.supplier_name }}</td>
                                                <td>{{ posting_invoice_account.invoice.invoice_type }}</td>
                                                <td>{{ posting_invoice_account.invoice.document_number }}</td>
                                                <td>{{ posting_invoice_account.ledger_number }}</td>
                                                <td>{{ posting_invoice_account.account.code }}</td>
                                                {% if linked_models_count > 0 %}
                                                    {% for object_link in posting_invoice_account.object_links %}
                                                        <td class="text-right"></td>
                                                    {% endfor %}
                                                {% endif %}
                                                <td>{{ posting_invoice_account.distribution }}</td>
                                                <td>{{ posting_invoice_account.vat_code }}</td>
                                                <td class="text-right">
                                                    {{ posting_invoice_account.net_amount|money }}
                                                </td>
                                                <td class="text-right">
                                                    {{ posting_invoice_account.vat_amount|money }}
                                                </td>
                                                <td class="text-right">
                                                    {{ posting_invoice_account.total_amount|money }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                       <tr>
                                            <td colspan="11"></td>
                                            {% if linked_models_count > 0 %}
                                                {% for k, linked in report.linked_models.items %}
                                                    <td></td>
                                                {% endfor %}
                                            {% endif %}
                                            <td>Totals</td>
                                            <td class="text-right"><strong>{{ report.net_total|money }}<strong></td>
                                            <td class="text-right"><strong>{{ report.vat_total|money }}</strong></td>
                                            <td class="text-right"><strong>{{ report.invoice_account_total|money }}<strong></td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">There are no invoices available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        // using jQuery
       $(function(){
            $("#dataTable>tbody>tr>td").on('click', function(){
                var detailUrl = $(this).parent('tr').data('invoice-url');
                document.location.href = detailUrl;
                return false;
            });

            $("#recalculate_posting_ledger").on('click', function(e){
                var ajaxUrl = $(this).data('ajax-url');
               $.getJSON(ajaxUrl, function(response){
                   responseNotification(response)
               })
            });

       });
    </script>
{% endblock %}