{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Update posting invoices - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Report Unique Number:</th>
                    <th>{{ journal.report_unique_number }}</th>
                    <th class="text-right">Jnl</th>
                    <th class="text-right">
                         {% if journal.ledger %}
                             <a href="{% url 'journal_lines' journal.ledger.id %}">{{ journal.ledger.journal_number }}</a>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>{{ journal.created_by.code }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Role:</th>
                    <th>{{ journal.role }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Date:</th>
                    <th>
                        <u>{{ journal.created_at|date:'d, M Y' }}</u>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                 <tr>
                                    <th colspan="12"></th>
                                    {% for h, linked_mode in linked_models.items %}
                                        <th></th>
                                    {% endfor %}
                                    <th class="text-right"></th>
                                    <th class="text-right">Credit</th>
                                </tr>
                                <tr>
                                    <th>Per</th>
                                    <th>Docuflow Unique</th>
                                    <th>Accounting Date</th>
                                    <th>Document Date</th>
                                    <th>Due Date</th>
                                    <th>Supplier Name</th>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th>Reference 1</th>
                                    <th>Reference 2</th>
                                    <th>Account</th>
                                    {% for i, linked_mode in linked_models.items %}
                                        <th>{{linked_mode.label}}</th>
                                    {% endfor %}
                                    <th>Vat Type</th>
                                    <th>Text</th>
                                    <th class="text-right">NETT/VAT</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if report.invoices|length > 0 %}
                                    {% for k, invoice in report.invoices.items %}
                                        <tr>
                                            <td>{{ journal.period }}</td>
                                            <td>{{ invoice.docuflow_unique }}</td>
                                            <td>{{ invoice.accounting_date }}</td>
                                            <td>{{ invoice.invoice_date }}</td>
                                            <td>{{ invoice.due_date }}</td>
                                            <td>{{ invoice.supplier_name }}</td>
                                            <td>{{ invoice.document_type }}</td>
                                            <td>{{ invoice.supplier_inv }}</td>
                                            <td>{{ invoice.reference_1 }}</td>
                                            <td>{{ invoice.reference_2 }}</td>
                                            <td></td>
                                            {% for j, linked_mode in linked_models.items %}
                                                <td></td>
                                            {% endfor %}
                                            <td></td>
                                            <td></td>
                                            <td class="text-right"></td>
                                            <td class="text-right"><strong>{{ invoice.credit_total|money }}</strong></td>
                                        </tr>
                                        {% for linked_invoice in invoice.children %}
                                            <tr style="border: orangered 1px solid; color: #9f3a38;">
                                                <td>{{ journal.period }}</td>
                                                <td>{{ linked_invoice.docuflow_unique }}</td>
                                                <td>{{ linked_invoice.accounting_date }}</td>
                                                <td>{{ linked_invoice.invoice_date }}</td>
                                                <td>{{ linked_invoice.due_date }}</td>
                                                <td>{{ linked_invoice.supplier_name }}</td>
                                                <td>{{ linked_invoice.document_type }}</td>
                                                <td>{{ linked_invoice.supplier_inv }}</td>
                                                <td>{{ linked_invoice.reference_1 }}</td>
                                                <td>{{ linked_invoice.reference_2 }}</td>
                                                <td></td>
                                                {% for p, linked_mode in linked_models.items %}
                                                    <td></td>
                                                {% endfor %}
                                                <td></td>
                                                <td></td>
                                                <td class="text-right"></td>
                                                <td class="text-right">{{ linked_invoice.credit_total|money }}</td>
                                            </tr>
                                        {% endfor %}
                                        {% for posting_invoice_account in invoice.invoice_accounts %}
                                            <tr style="border: #8c8c8c 1px solid; background-color: #f5f2f2;">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{ posting_invoice_account.account.code }}</td>
                                                {% for k, object_link in posting_invoice_account.object_links.items %}
                                                   <td>
                                                    {% if object_link.value %}
                                                       {{object_link.value}}
                                                    {% endif %}
                                                   </td>
                                                {% endfor %}
                                                <td>{{ posting_invoice_account.vat_code }}</td>
                                                <td>
                                                    {% if posting_invoice_account.comment %}
                                                        {{ posting_invoice_account.comment }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-right">
                                                 {{ posting_invoice_account.total_amount|money }}
                                                </td>
                                                <td class="text-right">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                       <tr>
                                            <td colspan="10"></td>
                                            {% for p, linked_mode in linked_models.items %}
                                                <td></td>
                                            {% endfor %}
                                            <td></td>
                                           <td></td>
                                            <td class="text-right"></td>
                                            <td class="text-right"><strong>{{ total_vat_net|money }}</strong></td>
                                            <td class="text-right"><strong>{{ report.total|money }}</strong></td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">There are no invoices available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}