{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Create Budget  - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <a href="{% url 'budget_index' %}" type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Prev. Level</a>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form budget-form" id="create_budget" action="{% url 'create_year_budget' year_id=year.id %}"
                  data-ajax-url="{% url 'create_year_budget' year_id=year.id %}">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12 well">
                            <div class="form-group control-group bold {% if form.budget_type.errors %}error{% endif %}">
                                What type of budget do you want?
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label>Whole Company</label>
                                <div class="controls">
                                    <input type="radio" name="budget_type" value="0" id="budget_type_all" class="input-checkbox" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group control-group">
                                <label>Individual Objects</label>
                                <div class="controls">
                                    <input type="radio" name="budget_type" value="1" id="budget_type_individual" class="input-checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="company_objects" style="visibility: hidden;">
                         {% for company_object in company_objects %}
                            <div class="row individual-budget">
                                <div class="col-6">
                                    <div class="form-group control-grocompany_objectsup">
                                        <label>{{ company_object }}</label>
                                        <div class="controls">
                                            <select name="object_items" id="object_item"
                                                    class="form-control objects chosen-select"
                                                    tabindex="{{ 4|add:forloop.counter0 }}">
                                                <option value="all_{{ company_object.id }}">All</option>
                                                {% for object_item in company_object.object_items.all %}
                                                    <option value="{{ object_item.id }}">{{ object_item }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="footer text-right">
                    <div class="form-inline">
                        <div class="form-group">
                            <button type="submit" id="create" class="btn btn-primary save-budget"
                                data-action="create"
                            >Create</button>
                        </div>
                        <div class="form-group">
                            <button type="reset" id="cancel" class="btn btn-primary cancel-budget"
                                    data-action="cancel"
                            >Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 col-xs-12 data-container" id="balance_sheet"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/budget.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}