{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Create Budget  - {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
            <button id="search_again" class="btn btn-default btn-sm"><i class="fa fa-search"></i> Search Again</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">
            <form class="form budget-form" id="create_budget" action="{% url 'create_budget' year_id=year.id %}"
                  data-ajax-url="{% url 'create_budget' year_id=year.id %}">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group control-group {% if form.from_date.errors %}error{% endif %}">
                                {{ form.from_date.label_tag }}
                                <div class="controls">
                                    {% render_field form.from_date class="form-control datepicker" tabindex="2" %}
                                    {% if form.from_date.auto_id  != "id_tos" %}
                                        {% if form.from_date.errors %}<span class="help-inline">{{ form.from_date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group {% if form.to_date.errors %}error{% endif %}">
                                <label class=" control-label txt-font12" for="{{ form.to_date.id_for_label }}">{{ form.to_date.label_tag }}</label>
                                <div class="controls">
                                    {% render_field form.to_date class="form-control datepicker"  tabindex="2" %}
                                    {% if form.to_date.auto_id  != "id_tos" %}
                                        {% if form.to_date.errors %}<span class="help-inline">{{ form.to_date.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                     {% for company_object in company_objects %}
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group control-grocompany_objectsup">
                                    <label>{{ company_object }}</label>
                                    <div class="controls">
                                        <select name="object_items" id="object_item"
                                                class="form-control objects chosen-select"
                                                tabindex="{{ 4|add:forloop.counter0 }}">
                                            <option value="all_{{ company_object.id }}">All</option>
                                            {% for object_item in company_object.object_items.all %}
                                                <option value="{{ object_item.id }}">{{ object_item }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="col-lg-12 col-xs-12 data-container" id="balance_sheet"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/budget.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}