{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Budgets {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <a href="{% url 'import_budget' %}" class="btn labeled btn-info" role="button">
                <i class="fa fa-upload"></i> Import
            </a>
        </div>
    </div>
    <div class="panel-body align-center">
        <table class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Type</th>
{#                    {% for object in objects.all %}#}
{#                        <th>{{ object }}</th>#}
{#                    {% endfor %}#}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for year in years  %}
                    <tr>
                        <td><span class="label label-primary">{{ year }}</span></td>
                        {% with has_budget=year.has_budget %}
                            <td>{% if has_budget %} {{ year.type_name }} {% else %} {% endif %}</td>
                            <td class="text-left actions">
                                {% if has_budget %}
                                    {% if year.is_individual_objects  %}
                                        <a class="btn btn-primary" href="{% url 'view_year_budget' year_id=year.id %}">View</a>
                                    {% else %}
                                        <a class="btn btn-primary" href="{% url 'whole_budget_detail' year.id %}">View</a>
                                    {% endif %}
                                    <a onclick="confirm('Are you sure you want to delete this budget')" class="btn btn-danger" href="{% url 'delete_budget' year_id=year.id %}">Delete</a>
                                {% else %}
                                    {% if year.can_manage %}
                                        <a class="btn btn-primary" href="{% url 'create_year_budget' year_id=year.id %}"><i class="fa fa-plus-circle"></i> Create</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/budget.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}