{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Budget  - {{ budget }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-lg-12 col-xs-12" id="search_box">

        </div>
        <div class="col-lg-12 col-xs-12 budget-accounts" id="accounts">
            <table class="table table-bordered" width="100%">
                <thead>
                    <th>Account</th>
                    <th class="text-right">Total Amount</th>
                </thead>
                <tbody>
                    {% for account in accounts %}
                        <tr onclick="openDetail(this)"
                            data-detail-url="{% url 'account_budget_detail' budget.id account.id %}">
                            <td>{{ account }}</td>
                            <td class="text-right">{{ account.total_amount|money }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/budget.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}