{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Budget  - {{ budget }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary btn-sm" id="print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="row">
            <div class="col-lg-12 col-xs-12" id="search_box">
                <table width="100%" class="table table-bordered">
                    <tr>
                        <td colspan="2"><strong>Budget</strong></td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td>{{ budget.year.start_date }} - {{ budget.year.end_date }}</td>
                    </tr>
                    <tr>
                        <td>Type(s)</td>
                        <td>{{ budget.year.type_name }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12 budget-accounts" id="accounts">
                <table class="table table-bordered" width="100%">
                    <thead>
                        <th>Account</th>
                        <th class="text-right">Total Amount</th>
                        <th class="text-right"></th>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                            <tr>
                                <td>{{ account }}</td>
                                <td class="text-right">{{ account.total_amount|money }}</td>
                                <td class="text-right actions">
                                    <button class="btn btn-primary actions"
                                            data-modal="{% url 'edit_budget_account' budget_id=budget.id account_id=account.id %}">Edit</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/budget.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}