{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Budgets {{ year }} {% endblock page_title %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
        </div>
    </div>
    <div class="panel-body align-center">
        <table class="table table-striped table-bordered dataTable">
            <thead>
                <tr>
                    <th>Year</th>
                    {% for object in objects.all %}
                        <th>{{ object }}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects.all  %}
                    {% for object in objects.all %}
                    <tr>
                        <td><span class="label label-primary">{{ budget.year }}</span></td>
                            <td></td>
                        {% endfor %}
                        <td class="text-left actions">
                            <a class="btn btn-primary" href="{% url 'view_budget' budget.id %}">View</a>
                            <a onclick="confirm('Are you sure you want to delete this budget')" class="btn btn-danger" href="{% url 'delete_budget' budget.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/budget.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}