{% extends 'base.html' %}
{% block page_title %} Currency {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
        <a href="{% url 'create_currency' %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus-circle"></i> New
        </a>
        <a href="javascript:history.back()" class="btn btn-default" role="button">
            <i class="fa fa-prev"></i> Prev. Level
        </a>
      </div>
  </div>
  <div class="panel-body align-center">
      <div class="table-responsive">
         <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Symbol</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% if currencies %}
                    {% for currency in currencies %}
                        <tr onclick="openDetail(this)" data-detail-url="{% url 'edit_currency' currency.id %}">
                            <td>{{ currency.name }}</td>
                            <td>{{ currency.code }}</td>
                            <td>{{ currency.symbol }}</td>
                            <td class="text-left actions">
                                <a href="{% url 'edit_currency' currency.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'delete_currency' currency.id %}"
                                   onclick="return confirm('Are you sure you want to delete this currency')"
                                   data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">There are no currencies set </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
      </div>
  </div>
</div>
{% endblock %}