{% extends 'base.html' %}
{% block page_title %} Currency {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_master_currency' master_company_id=company.id %}" class="btn btn-primary" role="button">
            <i class="fa fa-plus"></i> New
        </a>
        <a href="javascript:history.back()" class="btn btn-default" role="button">
            <i class="fa fa-prev"></i> Prev. Level
        </a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Symbol</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% if currencies %}
                    {% for currency in currencies %}
                        <tr onclick="openDetail(this)"
                            data-detail-url="{% url 'edit_master_currency' master_company_id=company.id pk=currency.id %}">
                            <td>{{ currency.name }}</td>
                            <td>{{ currency.code }}</td>
                            <td>{{ currency.symbol }}</td>
                            <td class="text-left actions">
                                <a href="{% url 'edit_master_currency' master_company_id=company.id pk=currency.id %}"
                                   data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'delete_master_currency' master_company_id=company.id pk=currency.id %}"
                                   onclick="return confirm('Are you sure you want to delete this currency')"
                                   data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">There are no currencies set </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}