{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags inventory_tags %}
<div id="tabs">
  <ul>
     <li><a href="#inventory-details">{% translate "Inventory Details" %}</a></li>
     <li><a href="#purchase">{% translate "Purchases" %}</a></li>
     <li><a href="#sale">{% translate "Sale" %}</a></li>
     <li><a href="#control">{% translate "Control/Usage" %}</a></li>
     <li><a href="#history">{% translate "History" %}</a></li>
  </ul>
  <div id="inventory-details">
      {% include 'inventory/tabs/inventory.html' %}
  </div>
  <div id="purchase">
      {% include 'inventory/tabs/purchase.html' %}
  </div>
  <div id="sale">
      {% include 'inventory/tabs/sale.html' %}
  </div>
  <div id="control">
      {% include 'inventory/tabs/control.html' %}
  </div>
  <div id="history">
      {% include 'inventory/tabs/history.html' %}
  </div>
</div>
