{% extends 'modal.html' %}
{% load static %}
{% load i18n %}
{% block title %}Copy Inventory{% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="copy_inventory_form"
        action="{% url 'copy_inventory_to_branches' inventory_id=inventory.id %}">
      <div class="modal-body">
          <div class="alert alert-warning">
              Inventory code {{ inventory.code }} exists, copy the details from branch?.
          </div>
          {% include 'common/form.html' %}
      </div>
      <div class="modal-footer">
          <button class="btn btn-default btn-large"  data-dismiss="modal" id="cancel" type="button">
            <i class="fa fa-cancel"></i> No</button>
          <button class="btn btn-primary btn-large" id="copy_inventory" type="button">
            <i class="fa fa-save"></i> Yes</button>
      </div>
  </form>
{% endblock %}
