{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Copy inventory to branch {% endblock page_title %}
{% block content %}

<form method="post" action="{% url 'copy_inventory_to_branch' %}" id="copy_inventory_to_branch">
  {% csrf_token %}
      <div class="panel panel-default">
          <div class="panel-heading clearfix">
              <div class="pull-right">
                <button type="button" id="save_copy_inventory_to_branch" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:history.back(-1);" class="btn btn-default btn-sm"> Prev. Level</a>
              </div>
          </div>
          <div class="panel-body aligin-center">
                <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                    <label class=" control-label txt-font12" for="{{ form.branch.id_for_label }}">
                        {{ form.branch.label_tag }}
                    </label>
                    <div class="controls">
                        {% render_field form.branch class="form-control chosen-select" %}
                        {% if form.branch.auto_id  != "id_tos" %}
                            {% if form.branch.errors %}
                                <span class="help-inline">{{ form.branch.errors }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group control-group" style="margin-top: 10px">
                    <table class="table align-center" width="">
                        <tr>
                            <td colspan="2">
                                <fieldset class="well" id="inventories">
                                    <div class="row" id="inventory_codes">
                                        <div class="form-group col-sm-4">
                                            <select multiple="multiple" class="form-control" id="undo_redo" name="unassigned_inventories">

                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-xs-2">
                                            <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
                                            <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block">
                                                <i class="fa fa-angle-double-right"></i>
                                            </button>
                                            <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block">
                                                <i class="fa fa-angle-right"></i>
                                            </button>
                                            <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block">
                                                <i class="fa fa-angle-left"></i>
                                            </button>
                                            <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block">
                                                <i class="fa fa-angle-double-left"></i>
                                            </button>
                                            <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <select multiple="multiple" class="form-control" id="undo_redo_to" name="branch_inventories">

                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                </div>
          </div>
      </div>
</form>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/multiselect/multiselect.min.js' %}"></script>
    <script type="text/javascript">
    // using jQuery
        $(function(){

            $("#save_copy_inventory_to_branch").on('click', function(e){
                var branchInventories = [];
                var branchInventorySelect = document.getElementById("undo_redo_to");
                for (var i = 0; i < branchInventorySelect.options.length; i++) {
                     branchInventories.push(branchInventorySelect.options[i].value)
                }

                ajaxSubmitForm($(this), $("#copy_inventory_to_branch"), {
                    inventories: branchInventories
                });
                e.preventDefault();
            });

            $("#id_branch").on('change', function(){
                var registeredObject = $(this).val();
                var selectedInventories = $("#undo_redo_to");
                var availableInventories = $("#undo_redo");
                var branchId = $(this).val();
                selectedInventories.empty();
                availableInventories.empty();
                var ajaxUrl = "{% url 'branch_inventory_list' %}";
                if (!branchId) {
                    alert('Please select the branch');
                } else {
                    $.getJSON(ajaxUrl, {
                       branch_id: branchId
                    }, function(response){
                        console.log( response )
                        var leftHtml = [];
                        var rightHtml = [];
                        var filterHtml = [];
                        filterHtml.push("<option value=''>--please select--</option>");
                        $.each(response['right_list'], function(index, leftList){
                            var optionHtml = "<option value='"+leftList.id+"'>"+leftList.name+"</option>";
                            rightHtml.push(optionHtml);
                            filterHtml.push(optionHtml);
                        });
                        $.each(response['left_list'], function(index, leftList){
                            var optionHtml = "<option value='"+leftList.id+"'>"+leftList.name+"</option>";
                            leftHtml.push(optionHtml);
                            filterHtml.push(optionHtml);
                        });
                        selectedInventories.html( rightHtml );
                        availableInventories.html( leftHtml );
                    });
                }
            });

            $('#undo_redo').multiselect({
                search: {
                    left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                    right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                },
                fireSearch: function(value) {
                    return value.length > 3;
                }
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}