{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Create Inventory Register{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="create_inventory_item"
        action="{% url 'create_inventory_item' %}">
    {% csrf_token %}
    {% include 'inventory/form.html' %}

    <div class="form-group">
        <button class="btn btn-primary btn-large" id="save_inventory_item" type="button">
            <i class="fa fa-save"></i> Save</button>
        <button class="btn btn-primary btn-large" id="save_and_copy_to_all" type="button">
            <i class="fa fa-life-saver"></i> Save and copy to branches </button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}