{% extends 'base.html' %}
{% load static i18n %}
{% load compress %}
{% block page_title %}Create Branch Inventory ({{ inventory }}) - {{ branch }} {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="create_branch_inventory"
        action="{% url 'create_branch_inventory' inventory_id=inventory.id %}">
    {% csrf_token %}
    {% include 'inventory/branch_form.html' %}

    <div class="form-group">
        <button class="btn btn-primary btn-large" id="submit_create_branch_inventory" type="button">
            <i class="fa fa-save"></i> Save</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
    {% endcompress %}
    <script>
      $( function() {
        $( "#tabs" ).tabs();
      });
    </script>
{% endblock %}