{% load invoice_tags %}

<br /><br />
<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12">
                <table class="table" width="100%" valign="top">
                    <tbody>
                        <tr>
                            <th colspan="2">Location of own stock</th>
                        </tr>
                        <tr>
                            <td>Store Area</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.store_area }}</td>
                        </tr>
                        <tr>
                            <td>Rack</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.rack }}</td>
                        </tr>
                        <tr>
                            <td>Bin Location</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.bin_location }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12">
                <table class="table" width="100%" valign="top">
                    <thead>
                        <tr>
                            <th>Pricing</th>
                            <th class="text-right">Excluding</th>
                            <th class="text-right">Including</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Normal Selling Pricing</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.selling_price|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.selling_price_with_vat|money }}</td>
                        </tr>
                        <tr>
                            <td>Last Cost Price</td>
                            <td class="text-right">
                                {{ branch_inventory.own.inventory.last_price_paid|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.last_price_paid_with_vat|money }}</td>
                        </tr>
                        <tr>
                            <td><strong>Gross Margin</strong></td>
                            <td class="text-right">{{ branch_inventory.own.inventory.gross_margin|money }}</td>
                            <td class="text-right">-</td>
                        </tr>
                        <tr>
                            <td>GP%</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.gross_margin_percentage|money }}%</td>
                            <td class="text-right"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12">
                  <table class="table" width="100%" valign="top">
                    <thead>
                        <tr>
                            <th>Campaign Pricing</th>
                            <th>From</th>
                            <th>To</th>
                            <th class="text-right">Excluding</th>
                            <th class="text-right">Including</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Normal Selling Pricing</td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{ branch_inventory.own.inventory.cost_price }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.selling_price }}</td>
                        </tr>
                        <tr>
                            <td>Last Cost Price</td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{ branch_inventory.own.inventory.cost_price }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.cost_price }}</td>
                        </tr>
                        <tr>
                            <td><strong>Gross Margin</strong></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{ branch_inventory.own.inventory.cost_price }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.cost_price }}</td>
                        </tr>
                        <tr>
                            <td><strong>GP%</strong></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{ branch_inventory.own.inventory.cost_price }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.cost_price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-sm-12">
               <table class="table" width="100%"  valign="top">
                    <thead>
                        <tr>
                            <th>Inventory Levels</th>
                            <th class="text-right">On Hand</th>
                            <th class="text-right">Being Picked</th>
                            <th class="text-right">On Delivery</th>
                            <th class="text-right">On Invoice</th>
                            <th class="text-right">Physical</th>
                            <th class="text-right">Last Counted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Own</td>
                            <td class="text-right">{{ branch_inventory.own.total_in_hand|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.being_picked_total|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.on_delivery_total|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.inventory.on_invoice_total|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.current_in_hand|money }}</td>
                            <td></td>
                        </tr>
                        {% for branch_inventory in branch_inventories.branches.items %}
                            <tr>
                                <td>{{ branch_inventory.branch }}</td>
                                <td class="text-right">{{ detail.total_in_hand|money }}</td>
                                <td class="text-right">{{ branch_inventory.being_picked_total|money }}</td>
                                <td class="text-right">{{ branch_inventory.on_delivery_total|money}}</td>
                                <td class="text-right">{{ branch_inventory.on_invoice_total|money }}</td>
                                <td class="text-right">{{ detail.current_in_hand|money }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
{#                <tr>#}
{#                    <td>Totals</td>#}
{#                    <td class="text-right">{{ totals.total_received }}</td>#}
{#                    <td class="text-right">{{ totals.total_returned }}</td>#}
{#                    <td class="text-right">{{ totals.total_balance_stock }}</td>#}
{#                    <td class="text-right"></td>#}
{#                    <td></td>#}
{#                </tr>#}
                `    </tfoot>
                </table>`
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-sm-12">
                <table class="table" width="100%"  valign="top">
                    <thead>
                        <tr>
                            <th>Inventory forecast</th>
                            <th class="text-right">Physical</th>
                            <th class="text-right">On Order</th>
                            <th class="text-right">On Backorder</th>
                            <th class="text-right">Theoretical</th>
                            <th class="text-right">Last Order Date</th>
                            <th class="text-right">Lead Time</th>
                            <th class="text-right">Expected home</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Own</td>
                            <td class="text-right">{{ branch_inventory.own.total_in_hand|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.on_order|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.on_order|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.last_order_date|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.lead_time|money }}</td>
                            <td class="text-right">{{ branch_inventory.own.expected_time|money }}</td>
                            <td></td>
                        </tr>
                        {% for branch_inventory in branch_inventories.branches.items %}
                            <tr>
                                <td>{{ branch_inventory.branch }}</td>
                                <td class="text-right">{{ detail.total_in_hand|money }}</td>
                                <td class="text-right">{{ detail.on_order|money }}</td>
                                <td class="text-right">{{ detail.on_order|money }}</td>
                                <td class="text-right">{{ detail.last_order_date|money}}</td>
                                <td class="text-right">{{ detail.lead_time|money }}</td>
                                <td class="text-right">{{ detail.expected_time|money }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
