{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Edit Branch Inventory ({{ inventory }}) - {{ branch }} {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="update_inventory_form"
        action="{% url 'edit_branch_inventory' inventory.id %}">
    {% csrf_token %}
    {% include 'inventory/branch_form.html' %}

    <div class="form-group">
        <button class="btn btn-primary btn-large" id="update_inventory" type="button">
            <i class="fa fa-save"></i> Update</button>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}?pubam"></script>
    <script>
      $( function() {
        $( "#tabs" ).tabs();
      });
    </script>
{% endblock %}