{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} {{ inventory }} FIFO {% endblock page_title %}
{% block content %}
  <style type="text/css">
    select {
      width: 200px;
    }
  </style>
    <div class="panel panel-primary">
      <div class="panel-body align-center">
          <div class="row">
          </div>
          <div class="col-sm-12">
              <table class="table-bordered table">
                  <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Received</th>
                        <th>Returned</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Rec. Value</th>
                        <th class="text-right">Ret. Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for movement in available_movements %}
                        <tr>
                            <td>{{ movement.id }}</td>
                            <td>{{ movement.received_object }}</td>
                            <td>{{ movement.returned_object }}</td>
                            <td class="text-right">{{ movement.quantity }}</td>
                            <td class="text-right">{{ movement.price }}</td>
                            <td class="text-right">{{ movement.received_value }}</td>
                            <td class="text-right">{{ movement.returned_value }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                        <td colspan="6">--&nbsp;--</td>
                    </tr>
                    <tr>
                        <td>Valuation</td>
                        <td></td>
                        <td></td>
                        <td class="text-right">{{ total_qty }}</td>
                        <td class="text-right">{{ average }}</td>
                        <td class="text-right"></td>
                        <td class="text-right">{{ total_value }}</td>
                    </tr>
                    <tr>
                        <td>History - In Stock</td>
                        <td></td>
                        <td></td>
                        <td class="text-right">{{ inventory.in_stock }}</td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right">{{ inventory.total_value }}</td>
                    </tr>
                  </tfoot>
              </table>
          </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}