{% load i18n %}
{% load static %}
{% load inventory_tags %}
{% load widget_tweaks %}
<fieldset class="well">
    <legend>Inventory Details</legend>

    <div class="form-group {% if form.code.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.code.id_for_label }}">{{ form.code.label_tag }}</label>
        <div class="controls">
            {% render_field form.code class="form-control"  %}
            {% if form.code.auto_id  != "id_tos" %}
                {% if form.code.errors %}<span class="help-inline">{{ form.code.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group {% if form.is_blocked.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.is_blocked.id_for_label }}">{{ form.is_blocked.label_tag }}</label>
        <div class="controls">
            {% render_field form.is_blocked class="form-control"  %}
            {% if form.is_blocked.auto_id  != "id_tos" %}
                {% if form.is_blocked.errors %}<span class="help-inline">{{ form.is_blocked.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.is_pos_blocked.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.is_pos_blocked.id_for_label }}">{{ form.is_pos_blocked.label_tag }}</label>
        <div class="controls">
            {% render_field form.is_pos_blocked class="form-control" %}
            {% if form.is_pos_blocked.auto_id  != "id_tos" %}
                {% if form.is_pos_blocked.errors %}<span class="help-inline">{{ form.is_pos_blocked.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

    <div class="form-group control-group {% if form.description.errors %}error{% endif %}">
        <label class=" control-label txt-font12" for="{{ form.description.id_for_label }}">{{ form.description.label_tag }}</label>
        <div class="controls">
            {% render_field form.description class="form-control" %}
            {% if form.description.auto_id  != "id_tos" %}
                {% if form.description.errors %}<span class="help-inline">{{ form.description.errors }}</span>{% endif %}
            {% endif %}
        </div>
    </div>

</fieldset>

