{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Create Inventory Item{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <label class="control-label">Create New</label>
                <button type="button" class="btn btn-large btn-success btn-loading create-journal"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-ajax-url="{% url 'create_new_goods_received' %}"
                        id="create_new_goods_received">Received</button>
                <button type="button" class="btn btn-large btn-success btn-loading create-journal"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-ajax-url="{% url 'create_new_goods_returned' %}"
                        id="create_new_goods_received">Returned</button>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Document</th>
                        <th>Document Type</th>
                        <th>Supplier No</th>
                        <th>Supplier</th>
                        <th>Doc Date</th>
                        <th>Ex Vat</th>
                        <th>Incl Vat</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if goods %}
                        {% for good in goods %}
                            <tr>
                                <td>Document</td>
                                <td>Document Type</td>
                                <td>Supplier No</td>
                                <td>Supplier</td>
                                <td>Doc Date</td>
                                <td>Ex Vat</td>
                                <td>Incl Vat</td>
                                <td>Action</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no goods received or retutned</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}