{% if form_style and form_style == 'horizontal'%}
    {% for k, model in group_level_categories.items %}
        <div class="form-group control-group">
            <label class="col-sm-4 control-label txt-font12" for="group_level_item_{{ k }}">{{ model.label }}</label>
            <div class="col-sm-8">
                <select id="group_level_item_{{ k }}" name="group_level_items" class="form-control chosen-select {% if model.is_parent %}is-group-level-parent{% else %}children-of-{{ model.parent }}{% endif %}"
                        data-parent-id="{{ k }}"
                        data-ajax-children-url="{% url 'group_level_children' %}"
                >
                    <option value="">--</option>
                        {% for o, object_item in model.objects.items %}
                            {% if model.value and model.value == object_item.id  %}
                                <option value="{{ object_item.id }}" selected="selected">{{ object_item }}</option>
                            {% else %}
                                <option value="{{ object_item.id }}">{{ object_item }}</option>
                            {% endif %}
                        {% endfor %}
                </select>
            </div>
        </div>
    {% endfor %}
{% else %}
    {% for k, model in group_level_categories.items %}
        <div class="col-12">
            <label for="group_level_item_{{ k }}">{{ model.label }}</label>
            <select id="group_level_item_{{ k }}" name="group_level_items"
                    class="form-control chosen-select {% if model.is_parent %}is-group-level-parent{% else %}children-of-{{ model.parent }}{% endif %}"
                    data-parent-id="{{ k }}"
                    data-ajax-children-url="{% url 'group_level_children' %}"
            >
                <option value="">--</option>
                    {% for object_item in model.objects %}
                        {% if model.value and model.value == object_item.id  %}
                            <option value="{{ object_item.id }}" selected="selected">{{ object_item }}</option>
                        {% else %}
                            <option value="{{ object_item.id }}">{{ object_item }}</option>
                        {% endif %}
                    {% endfor %}
            </select>
        </div>
    {% endfor %}
{% endif %}
