{% extends 'base.html' %}
{% block page_title %} Import Inventory {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" enctype="multipart/form-data">
    {% include 'common/form.html' %}

    <div class="form-group">
        <button class="btn btn-danger btn-large" name="submit" type="submit"><i class="fa fa-upload"></i> Upload</button>
    </div>

  </form>
{% endblock %}