{% extends 'datatable.html' %}
{% load i18n %}
{% block page_title %}Inventory Register{% endblock page_title %}
{% block datatable %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-left">
      </div>
      <div class="pull-right">
        <a class="btn btn-large btn-success" href="{% url 'import_inventory' %}"><i class="fa fa-upload"></i>  Import</a>
        <a class="btn btn-large btn-success" href="{% url 'create_inventory_item' %}"><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;Create New</a>
        <a class="btn btn-large btn-success" href="{% url 'copy_inventory_to_branch' %}"><i class="fa fa-copy"></i> &nbsp;&nbsp; Copy</a>
         <button class="btn btn-success btn-large" type="button" id="copy_opening_balances"
                 data-ajax-url="{%  url 'copy_inventory_previous_year_balances' %}">
             <i class="fa fa-copy"></i>  Copy opening balances</button>
        <a href="{% url 'download_inventory_register' %}" id="download-xlsx" class="btn btn-large btn-success"> <i class="fa fa-file-excel-o"></i> Download XLSX</a>
        <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
      </div>
  </div>
  <div class="panel-body align-center">
    <div class="table-responsive">
        <table id="customers" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Recipe</th>
{#                    <th>Category 1</th>#}
{#                    <th>Category 2</th>#}
                <th>Inventory GL Acc</th>
                <th>Unit</th>
                <th>Cost of Sale Acc</th>
                <th class="text-right">Selling Excl</th>
                <th class="text-right">Selling Incl</th>
                <th>Sales Acc</th>
                <th>Discounted</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        var table = $("#customers").DataTable({
            serverSide: true,
            pagingType: 'full_numbers',
            iDisplayLength: '{{display_rows}}',
            lengthMenu:  JSON.parse("{{ menu_length }}"),
            order: [[ 2, 'desc' ]],
            ajax: '/api/v1/inventories/?format=datatables',
            processing: true,
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
            },
            columns: [
                { data: 'reference', name: 'inventory__code', searchable: true, title:'Code' },
                { data: 'description', name: 'description', searchable: true, title:'Description' },
                { data: 'is_recipe_item', name: 'is_recipe_item', title:'Recipe' },
                { data: 'gl_account', name: 'gl_account', searchable: false,
                    render: function(data, type, row) {
                        return data ? data.code : '-';
                    },
                    title:'Gl Account'
                },
                { data: 'unit', name: 'unit', searchable: false,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    },
                    title:'Unit'
                },
                { data: 'cost_of_sales_account', name: 'cost_of_sales_account', searchable: false,
                    render: function(data, type, row) {
                        return data ? "<span data-toggle='tooltip' data-original-title='" + data.name +"'>" + data.code + "</span>" : '-';
                    },
                    title:'Cost Of Sales'
                },
                { data: 'selling_price', name: 'selling_price', searchable: false, title:'Selling Excl.', className: 'text-right' },
                { data: 'selling_price_with_vat', name: 'selling_price_with_vat', searchable: false, title:'Selling Incl.', className: 'text-right' },
                { data: 'sales_account', name: 'sales_account', searchable: false,
                    render: function(data, type, row) {
                        return data ? data.name : '-';
                    },
                    title:'Sales Account'
                },
                { data: 'is_discounted', name: 'is_discounted', searchable: false, title:'Discounted'}
              ],
            columnDefs: [
                {
                    "render": function ( data, type, row ) {
                        if (row.is_recipe_item) {
                            return '<span class="text-success fa fa-check"></span>';
                        } else {
                            return '<span class="text-danger fa fa-close"></span>';
                        }
                    },
                    "targets": 2
                },
                {
                    "render": function ( data, type, row ) {
                        if (row.is_discounted) {
                            return '<span class="text-success fa fa-check"></span>';
                        } else {
                            return '<span class="text-danger fa fa-close"></span>';
                        }
                    },
                    "targets": 9
                }
            ]
        });

        $('#customers tbody').on( 'click', 'tr', function () {
            const rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'inventory_index' %}";
            }
        });

    });
    </script>
{% endblock %}

