{% extends 'base.html' %}
{% load static %}
{% load invoice_tags %}
{% load widget_tweaks %}
{% load i18n %}
{% block page_title %}Inventory Register - {{ branch }}{% endblock page_title %}
{% block stylesheet %}
    <link href="{% static 'css/tabulator/bootstrap/tabulator_bootstrap.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
             <a class="btn btn-large btn-success" href="{% url 'import_inventory' %}">Import</a>
             <a class="btn btn-large btn-success" href="{% url 'create_inventory_item' %}">Create New</a>
             <a class="btn btn-large btn-success" href="{% url 'copy_inventory_to_branch' %}">Copy</a>
              <button class="btn btn-success btn-large" type="button" id="copy_opening_balances"
                      data-ajax-url="{%  url 'copy_inventory_previous_year_balances' %}">
                  <i class="fa fa-copy"></i>  Copy opening balances</button>

             <button id="download-csv" class="btn btn-large btn-success">Download CSV</button>
             <button id="download-xlsx" class="btn btn-large btn-success">Download XLSX</button>
             <button id="download-pdf" class="btn btn-large btn-success">Download PDF</button>
             <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
             <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="inventory-table">
            </table>
        </div>
      </div>
    </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/tabulator/js/tabulator.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/tabulator/js/jquery_wrapper.min.js' %}"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}?{% now 'YmdHis' %}"></script>
    <script type="text/javascript">
        $(function(){
            var table = new Tabulator("#inventory-table", {
                ajaxURL:"{% url 'branch_inventories' %}", //ajax URL
                ajaxFiltering:true,
                layout:"fitColumns",      //fit columns to width of tabledisplay_rows
                responsiveLayout:"hide",  //hide columns that dont fit on the table
                tooltips:true,            //show tool tips on cells
                addRowPos:"top",          //when adding a new row, add it to the top of the table
                history:true,             //allow undo and redo actions on the table
                pagination:"remote",       //paginate the data
                paginationSizeSelector: JSON.parse("{{ lengthMenu }}"),
                paginationSize:20,         //allow 7 rows per page of data
                movableColumns:true,      //allow column order to be changed
                resizableRows:true,       //allow row order to be changed
                selectable:true, //make rows selectable
                initialSort:[             //set the initial sort order of the data
                    {column:"inventory_code", dir:"asc"},
                ],
                columns:[                 //define the table columns
                    {title:"Inventory Code", field:"inventory_code", width:100, headerFilter:"input", headerFilterPlaceholder:"Code"},
                    {title:"Description", field:"description", width:150, align:"left", formatter:"input", headerFilter:"input", headerFilterPlaceholder:"Description"},
                    {title:"Recipe", field:"is_recipe", formatter:"tickCross", width:25,  headerFilter:"tickCross",  headerFilterParams:{"tristate":true},headerFilterEmptyCheck:function(value){return value === null}},
                    {title:"Supplier", field:"supplier", formatter:"supplier", align:"center", headerFilter:"input", headerFilterPlaceholder:"Supplier", width:250},
                    {title:"Supplier Code", field:"supplier_code", headerFilter:"input", headerFilterPlaceholder:"Supplier Code", visible:false},
                    {title:"Bar Code", field:"bar_code", sorter:"date", headerFilter:"input", headerFilterPlaceholder:"Bar", visible: false},
                    {title:"Sales Account", field:"sales_account", align:"center", headerFilter:"input", headerFilterPlaceholder:"Account", width:130,  align:"left", tooltip:true},
                    {title:"Cost of sales account", field:"cost_of_sales_account", headerFilter:"input", headerFilterPlaceholder:"Sales Account", width:140,  align:"left", tooltip:true},
                    {title:"GL Account", field:"gl_account", align:"center", headerFilter:"input", width:130,  align:"left", tooltip:true},
                    {title:"In Hand", field:"in_hand",  align:"right", width:75},
                    {title:"Status", field:"is_active", formatter:"tickCross", width:50,  headerFilter:"tickCross",  headerFilterParams:{"tristate":false},headerFilterEmptyCheck:function(value){return value === null}},
                    {title:"Selling price", field:"selling_price", align:"right", width:75},
                    {title:"Vat amount", field:"vat_amount", align:"right",  width:75},
                    {title:"Vat code", field:"vat_code", sorter:"right", align:"center", width:75},
                    {title:"Selling price with vat", field:"selling_price_with_vat", align:"right", width:75},
                    {title:"Id", field:"inventory_id", align:"right", visible:false},
                    {title:"Edit", field:"edit_url", visible:false},
                    {title:"Sales Account Name", field:"sales_account_name", visible:false},
                    {title:"Cost of sales", field:"cost_of_sales_account_name", visible:false},
                    {title:"GL Account", field:"gl_account_name", visible:false}
                ],
                ajaxURLGenerator:function(url, config, params){
                    //url - the url from the ajaxURL property or setData function
                    //config - the request config object from the ajaxConfig property
                    //params - the params object from the ajaxParams property, this will also include any pagination, filter and sorting properties based on table setup
                    params.filters =  JSON.stringify(params['filters']);

                    //return request url
                    return url + "?" + $.param(params); //encode parameters as a json object
                },
                rowSelectionChanged:function(data, rows){
                    //update selected row counter on selection change
                    if (data[0] !== undefined ){
                      document.location.href =  data[0]['edit_url'];
                    }
                },
                tooltips:function(cell){
                    //cell - cell component

                    //function should return a string for the tooltip of false to hide the tooltip
                    return  cell.getColumn().getField() + " - " + cell.getValue(); //return cells "field - value";
                },
            });

            $("#download-csv").click(function(){
                table.download("csv", "data.csv");
            });

            //trigger download of data.json file
            $("#download-json").click(function(){
                table.download("json", "data.json");
            });

            //trigger download of data.xlsx file
            $("#download-xlsx").click(function(){
                table.download("xlsx", "data.xlsx", {sheetName:"My Data"});
            });

        });
    </script>
{% endblock %}