{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} INVENTORY VIEW {% endblock page_title %}
{% block content %}
  <style type="text/css">
    select {
      width: 200px;
    }
  </style>
    <div class="panel panel-primary">
      <div class="panel-body align-center">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                  {% render_field form.inventory %}
              </div>
          </div>
          <div class="col-sm-12" id="inventory_item_detail" data-ajax-url="{% url 'detailed_view_inventory_item' %}">
          </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory.js' %}"></script>
{% endblock %}