{% load invoice_tags %}
<style>
    .returned {
        color: #FF0000 !important;
    }
    .received {
        color: #086D0C !important;
    }
</style>
<table class="table table-bordered breakdown">
    <thead>
        <tr>
            <th>Period</th>
            <th>Date</th>
            <th>Module</th>
            <th>Reference</th>
            <th>PO</th>
            <th>Supplier</th>
            <th class="received text-right">Quantity</th>
            <th class="received text-right">Price</th>
        </tr>
    </thead>
    {% for received_item, received_movement in movements.items %}
       <tr class="movement-row detail row-{{ received_item.id }}"
           data-movement-id="{{ received_item.id }}"
           data-ajax-url="{% url 'inventory_ledger_inventory_line_detail' received_item.id %}"
       >
            <td class="received">{{ received_item.received.period }}</td>
            <td class="received">{{ received_item.received.date|date:'d-M Y' }}</td>
            <td>{{ received_item.received.module_name }}</td>
            <td class="received">{{ received_item.received }}</td>
            <td>
                {% if received_item.received.purchase_order %}
                    {{ received_item.received.purchase_order }}
                {% endif %}
            </td>
            <td class="received">{{ received_item.received.supplier }}</td>
            <td class="received text-right">{{ received_movement.quantity }}</td>
            <td class="received text-right">{{ received_movement.total_price|money }}</td>
        </tr>
        <tr class="movement_breakdown closed" id="movement_breakdown_{{ inventory.id }}_{{ received_item.id }}" style="display: none;">
            <td colspan="8">
                <table width="100%" class="table">
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th>Date</th>
                            <th>Module</th>
                            <th>Reference</th>
                            <th>PO</th>
                            <th>Supplier</th>
                            <th class="received text-right">Quantity</th>
                            <th class="received text-right">Price</th>
                            <th class="returned">Period</th>
                            <th class="returned">Date</th>
                            <th class="returned">Reference</th>
                            <th class="returned">Supplier</th>
                            <th class="returned text-right">Quantity</th>
                            <th class="returned text-right">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, inventory_received in received_movement.breakdown.items %}
                            <tr class="detail row-{{ received_item.id }}">
                                <td class="received">{{ received_item.received.period }}</td>
                                <td class="received">{{ received_item.received.date|date:'d-M Y' }}</td>
                                <td>{{ received_item.received.module_name }}</td>
                                <td class="received">{{ received_item.received }}</td>
                                <td>
                                    {% if received_item.received.purchase_order %}
                                        {{ received_item.received.purchase_order }}
                                    {% endif %}
                                </td>
                                <td class="received">{{ received_item.received.supplier }}</td>
                                <td class="received text-right">1</td>
                                <td class="received text-right">{{ received_item.price_excluding|money }}</td>
                                {% if inventory_received.returned  %}
                                    <td class="returned">{{ inventory_received.returned.returned.period }}</td>
                                    <td class="returned">{{ inventory_received.returned.returned.date|date:'d-M Y' }}</td>
                                    <td class="returned">{{ inventory_received.returned.returned }}</td>
                                    <td class="returned">{{ inventory_received.returned.returned.supplier }}</td>
                                    <td class="returned text-right">{{ inventory_received.returned.total }}</td>
                                    <td class="returned text-right">{{ inventory_received.returned.price_excluding|money }}</td>
                                {% else %}
                                    <td class="returned"></td>
                                    <td class="returned"></td>
                                    <td class="returned"></td>
                                    <td class="returned"></td>
                                    <td class="returned text-right"></td>
                                    <td class="returned text-right"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>-</th>
            <th>-</th>
        </tr>
    </tfoot>
</table>