{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% load inventory_tags %}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h2 class="card-title"><strong>{{ company }}</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
        <table width="100%" class="table table-bordered">
            <tr>
                <td colspan="2"><strong>Supplier Ledger report</strong></td>
            </tr>
            <tr>
                <td colspan="2">Preliminary</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ year.start_date }} - {{ year.end_date }}</td>
            </tr>
            <tr>
                <td>Supplier Ledger for</td>
                <td>{{ report_title }}</td>
            </tr>
            <tr>
                <td>Report for period(s)</td>
                <td></td>
            </tr>
            <tr>
                <td>Period dates(s)</td>
                <td>{{ start_date }} - {{ end_date }}</td>
            </tr>
        </table>
    </div>
{#    <div class="col-xs-6 col-md-6 col-lg-6 text-right">#}
{#        {% updates_summary company year start_date end_date %}#}
{#    </div>#}
</div>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 text-left">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed" width="100%">
                <thead>
                    <tr class="primary-head">
                        <th>Supplier</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Period</th>
                        <th>Date</th>
                        <th>Document Type</th>
                        <th>Document Number</th>
                        <th>Module</th>
                        <th>Journal Number</th>
                        <th>Journal Text</th>
                        <th class="text-right">Debit</th>
                        <th class="text-right">Credit</th>
                        <th class="text-right">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% if supplier_ledgers|length > 0 %}
                        {% for supplier, ledgers in supplier_ledgers.items %}
                            <tr class="supplier-row">
                                <td>
                                    <strong>
                                        <a href="" id="supplier_breakdown_{{ supplier.id }}" class="supplier-item"
                                           data-customer-id="{{ supplier.id }}"
                                        >{{ supplier.number }}</a>
                                    </strong>
                                </td>
                                <td><strong>{{ supplier }}</strong></td>
                                <td><strong>{{ supplier.name }}</strong></td>
                                <td class="date"></td>
                                <td colspan="6"></td>
                            </tr>
                           <tr>
                                <td colspan="7" class="text-right"><strong>Incoming Balance</strong></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right">{{ ledgers.incoming_balance|money }}</td>
                            </tr>
                            <tr>
                                <td class="text-right" colspan="7"><strong>Initial balance</strong></td>
                                <td class="text-right">{{ ledgers.initial_debit|money }}</td>
                                <td class="text-right">{{ ledgers.initial_credit|money }}</td>
                                <td class="text-right">{{ ledgers.initial_balance|money }}</td>
                            </tr>
                            {% for ledger_line in ledgers.lines %}
                                <tr class="ledger-line line-row {% if ledger_line.line.is_pending %} not-updated {% endif %}"
                                    id="row_{{ ledger_line.line.id }}"
                                    {% if ledger_line.line.content_type.model == 'invoice' %}
                                        onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'invoice_detail' ledger_line.line.object_id %}"
                                    {% else %}

                                    {% endif %}
                                >
                                    <td>{{ ledger_line.line.period }}</td>
                                    <td>{{ ledger_line.line.date|date:'d-M Y' }}</td>
                                    {% if ledger_line.line.content_type.model == 'invoice' %}
                                        <td>{{ ledger_line.line.content_object.invoice_type }}</td>
                                        <td>{{ ledger_line.line.content_object.invoice_number }}</td>
                                    {% elif ledger_line.line.content_type.model == 'journal_line' %}

                                        <td>{{ ledger_line.line.content_object }}</td>
                                        <td>{{ ledger_line.line.content_object }}</td>
                                    {% else %}
                                        <td>{{ ledger_line.line.content_object.invoice_type }}</td>
                                        <td>{{ ledger_line.line.content_object.invoice_number }}</td>
                                    {% endif %}
                                    <td>{{ ledger_line.line.module_name }}</td>
                                    <td>{{ ledger_line.line.journal.journal_number }}</td>
                                    <td>{{ ledger_line.line.text }}</td>
                                    <td class="text-right">
                                        {{ ledger_line.debit_amount|money }}
                                    </td>
                                    <td class="text-right">
                                        {{ ledger_line.credit_amount|money }}
                                    </td>
                                    <td class="text-right">{{ ledger_line.balance|money }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="7" class="text-right">Movement for period</td>
                                <td class="text-right">{{ ledgers.movement_debit|money }}</td>
                                <td class="text-right">{{ ledgers.movement_credit|money }}</td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-right">Balance Carry Forward</td>
                                <td class="text-right">{{ ledgers.debit|money }}</td>
                                <td class="text-right">{{ ledgers.credit|money }}</td>
                                <td class="text-right">{{ ledgers.balance|money }}</td>
                            </tr>
                            <tr>
                                <td colspan="10"><hr /></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10">Supplier ledger not available</td>
                        </tr>
                    {% endif %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</div>