{% load static %}
{% if documents %}
    {% for document in documents %}
            <tr>
               <td>{{ document.id }}</td>
               <td>
                  {% if document.content %}
                       <a href="{% url 'documents-content' document.id %}"><span class="badge">{{ document.title }}</span></a>
                  {% else %}
                      <span class="badge">{{ document.title }}</span>
                  {% endif %}
               </td>
               <td>
                    {% if document.image_filename  %}
                         <a class="fancybox-thumb thumbnail" rel="fancybox-thumb"href="{% static 'images/documents/'|add:document.image_filename %}">
                            <img src="{% static 'images/documents/'|add:document.image_filename %}" width="60" height="60" class="img-responsive"  />
                        </a>
                        {#<img src="{{ MEDIA_URL }}consume/images/{{ document.image_filename }}" width="60" height="60" class="img-responsive"  />#}
                    {% else %}
                        --
                    {% endif %}
               </td>
               <td>
                    {% if not document.template %}
                        <a href="{% url 'document-template' document.id %}"><i class="fa fa-pencil"></i> Template</a>
                    {% else %}
                        <a href="{% url 'document-template' document.id %}"><i class="fa fa-pencil"></i></a>
                        <span class="label label-info">{{ document.template }}</span>
                    {% endif %}
               </td>
               <td>
                    <span class="label label-danger">No</span>
                </td>
                <td class="text-left actions">
                    {% if document.deleted %}
                        <a href="{% url 'document-restore' document.id %}" data-toggle="tooltip" title="" class="btn-sm btn-success" data-original-title="Restore"><i class="fa fa-recycle"></i></a>
                    {% else %}
                         {% if document.template %}
                            <a href="{% url 'documents-content' document.id   %}">View Raw Content</a> |
                            <a href="{% url 'ocr-document' document.id   %}">Get contents</a>
                        {% else %}
                             <span class="label label-danger">No template match</span>
                        {% endif %}
                        <a href="{% url 'document-delete' document.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete" onclick="confirm('Are you sure you want to delete this document')"><i class="fa fa-trash"></i></a>
                    {% endif %}

                </td>
            </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="5">There are no documents available</td>
    </tr>
{% endif %}