{% extends 'base.html' %}
{% load static %}
{% block page_title %} Documents {% endblock page_title %}
{% block actions %}
    <button type="button" id="documents-in-trash" title="In trash" data-loading-text="text_loading" class="btn btn-danger"><i class="fa fa-recycle"></i></button>
{% endblock %}
{% block content %}
    {% if perms.documents.add_document %}
        <div class="ui vertical segment">
            <a href="{% url 'documents-push' %}" class="btn labeled btn-primary" role="button">
                <i class="fa fa-upload"></i> Create a document
            </a>

            <a href="{% url 'scan-documents' %}" class="btn labeled btn-info" role="button">
                <i class="fa fa-refresh"></i> Scan documents
            </a>
        </div>
    {% endif %}
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Template</th>
                    <th>In Flow</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="documents-list">
               {% include 'documents/documents.html' %}
            </tbody>
        </table>
    </div>
    <ul class="list-inline">

    </ul>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
     jQuery(function($){
         $("#documents-in-trash").on('click', function(e){
             e.preventDefault();
             $(this).after("<br /><span id='loading'>Loading ...</span>");

             $.get("/documents/list/", {
               in_trash: 1
             }, function(responseHtml){
                $("#documents-list").html( responseHtml );
                $("#loading").remove();
             });

         });
     });
  </script>
{% endblock %}
