{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %} Document Content {% endblock page_title %}
{% block content %}
    <h3>{{ document.title }}</h3>
    <br />
    <div class="table-responsive">
        {{ document.content | safe }}
        {% if document.image_filename  %}
            <a class="fancybox-thumb thumbnail" rel="fancybox-thumb"href="{% static 'consume/images/'|add:document.image_filename %}">
                <img src="{% static 'consume/images/'|add:document.image_filename %}" width="60" height="60" class="img-responsive"  />
            </a>
        {% else %}
            --
        {% endif %}
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function(){
                        $(".fancybox-thumb").fancybox({
                prevEffect	: 'none',
                nextEffect	: 'none',
                helpers	: {
                    title	: {
                        type: 'outside'
                    },
                    thumbs	: {
                        width	: 50,
                        height	: 50
                    }
                }
            });
        })
    </script>
{% endblock %}