{% extends 'base.html' %}
{% block page_title %} <h2>Documents Upload</h2> {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    {% include 'common/form.html' %}

    <div class="form-group">
      <button class="btn btn-primary btn-large" name="submit" type="submit" tabindex="11"><i class="fa fa-check"></i>Create!</button>
    </div>
  </form>
{% endblock %}