{% load i18n %}
{% load widget_tweaks %}
{% csrf_token %}
   <style type="text/css">
    .panel-heading h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 75%;
        padding-top: 8px;
    }
      #undo_redo_to{
          height: 500px !important;
      }
      #undo_redo{
          height: 500px !important;
      }
    .checkbox label:after {
      content: '';
      display: table;
      clear: both;
    }

    .checkbox .cr {
      position: relative;
      display: inline-block;
      border: 1px solid #a9a9a9;
      border-radius: .25em;
      width: 1.3em;
      height: 1.3em;
      float: left;
      margin-right: .5em;
    }

    .checkbox .cr .cr-icon {
      position: absolute;
      font-size: .8em;
      line-height: 0;
      top: 50%;
      left: 20%;
    }

    .checkbox label input[type="checkbox"] {
      display: none;
    }

    .checkbox label input[type="checkbox"]+.cr>.cr-icon {
      opacity: 0;
    }

    .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
      opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled+.cr {
      opacity: .5;
    }
   </style>
<fieldset class="well">
{% for field in form %}
    {% if field|widget_type  == 'checkboxinput' %}
        <div class="form-group">
            {{ field.label_tag }}
            <div class="controls">
                {{ field|attr:"class:input-checkbox"  }}
                {% if field.auto_id  != "id_tos" %}
                  {% if field.errors %}<span class="help-inline">{{ field.errors }}</span>{% endif %}
              {% endif %}
            </div>
        </div>
    {% else %}
        <div class="form-group control-group {% if field.errors %}error{% endif %}">
            {{ field.label_tag }}
            <div class="controls">
                {{ field|add_class:"form-control"  }}
                {% if field.auto_id  != "id_tos" %}
                    {% if field.errors %}<span class="help-inline">{{ field.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
</fieldset>