{% extends 'base.html' %}
{% load static %}
{% block page_title %} Dashboard{% endblock page_title %}
{% block content %}
    <h2 class="clearfix font-weight-bolder"><strong>INCOME STATEMENT</strong></h2>
<div class="panel-body align-center">
    <div class="row mt-3" style="margin-top: 5px;">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bold_100 text-center"><h2>Turnover</h2></div>
                <div class="panel-body" style="margin: 3px" id="turnover_vs_budget" data-ajax-url="{% url 'turnover_vs_budget_summary' %}"></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bold_100 text-center"><h2>Monthly Turnover</h2></div>
                <div class="panel-body" style="margin: 3px" id="turnover_graph" data-ajax-url="{% url 'monthly_turnover_data' %}">
                    <canvas id="monthly_turnover" class="chartjs"  width="1540" height="770" style="display: block; height: 385px; width: 770px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<h2 class="clearfix font-weight-bolder mt-5"><strong>ASSETS</strong></h2>
<div class="panel-body align-center">
    <div class="row mt-3" style="margin-top: 5px;">
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bold_100 text-center"><h2>Fixed Assets</h2></div>
                <div class="panel-body" style="margin: 3px" id="asset_register" data-ajax-url="{% url 'fixed_assets_summary' %}"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bold_100 text-center"><h2>Inventory Valuation</h2></div>
                <div class="panel-body" style="margin: 3px" id="inventory_valuation" data-ajax-url="{% url 'valuation_summary' %}"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bold_100 text-center"><h2>Customer</h2></div>
                <div class="panel-body" style="margin: 3px" id="customer_report" data-ajax-url="{% url 'balance_sheet_vs_age_analysis' %}"></div>
            </div>
        </div>
    </div>

    <div class="row mt-5" style="margin-top: 10px;">
            <div class="col-lg-4 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading bold_100 text-center"><h2>Distributions</h2></div>
                    <div class="panel-body" style="margin: 3px" id="distribution_balances" data-ajax-url="{% url 'distributions_vs_balance_sheet' %}"></div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading bold_100 text-center"><h2>Cash</h2></div>
                    <div class="panel-body" style="margin: 3px" id="cash_register" data-ajax-url="{% url 'cash_report' %}"></div>
                </div>
            </div>
        </div>
</div>


<h2 class="clearfix font-weight-bolder"><strong>LIABILITIES</strong></h2>
<div class="panel-body align-center">
    <div class="row mt-5" style="margin-top: 10px;">
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bold_100 text-center"><h2>Supplier</h2></div>
                <div class="panel-body" style="margin: 3px" id="supplier_report" data-ajax-url="{% url 'supplier_balance_sheet_vs_age_analysis' %}"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bold_100 text-center"><h2>Goods Received Awaiting Invoice</h2></div>
                <div class="panel-body" style="margin: 3px" id="good_received_awaiting" data-ajax-url="{% url 'good_received_awaiting_summary' %}"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading bold_100 text-center"><h2>VAT</h2></div>
                <div class="panel-body" style="margin: 3px" id="vat_summary" data-ajax-url="{% url 'vat_summary' %}"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="{% static 'vendor/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $(function(){

            const monthlyTurnoverEl = $("#turnover_graph");
            if (monthlyTurnoverEl.length) {
                $.getJSON(monthlyTurnoverEl.data('ajax-url'), function(response){
                    new Chart(document.getElementById("monthly_turnover"),{
                        type: "line",
                        data:{
                            labels: response.periods,
                            datasets : [
                                {
                                    label: "Turnover",
                                    data: response.turnover,
                                    fill: false,
                                    borderColor: "rgb(75, 192, 192)",
                                    lineTension: 0.1
                                },
                                {
                                    label: "Budget",
                                    data: response.budget,
                                    fill: false,
                                    borderColor: "rgb(136,34,15)",
                                    lineTension: 0.1
                                },
                            ]
                        },"options":{}
                    });
                 });
            }

            const goodReceivedAwaitingEl = $("#good_received_awaiting");
            goodReceivedAwaitingEl.html('Loading ...');
            $.get(goodReceivedAwaitingEl.data("ajax-url"), function(responseHtml){
               goodReceivedAwaitingEl.html(responseHtml);
            });

            const vatSummaryEl = $("#vat_summary");
            vatSummaryEl.html('Loading ...');
            $.get(vatSummaryEl.data("ajax-url"), function(responseHtml){
               vatSummaryEl.html(responseHtml);
            });

            const cashRegisterEl = $("#cash_register");
            cashRegisterEl.html('Loading ...');
            $.get(cashRegisterEl.data("ajax-url"), function(responseHtml){
               cashRegisterEl.html(responseHtml);
            });

            const turnoverVsBudgetEl = $("#turnover_vs_budget");
            turnoverVsBudgetEl.html('Loading ...');
            $.get(turnoverVsBudgetEl.data("ajax-url"), function(responseHtml){
               turnoverVsBudgetEl.html(responseHtml);
            });

            const assetRegisterEl = $("#asset_register");
            assetRegisterEl.html('Loading ...');
            $.get(assetRegisterEl.data("ajax-url"), function(responseHtml){
               assetRegisterEl.html(responseHtml);
            });

            const inventoryValuationEl = $("#inventory_valuation");
            inventoryValuationEl.html('Loading ...');
            $.get(inventoryValuationEl.data("ajax-url"), function(responseHtml){
               inventoryValuationEl.html(responseHtml);
            });

            const currentAssetsEl = $("#current_assets");
            currentAssetsEl.html('Loading ...');
            $.get(currentAssetsEl.data("ajax-url"), function(responseHtml){
               currentAssetsEl.html(responseHtml);
            });

            const cashReportEl = $("#cash_report");
            cashReportEl.html('Loading ...');
            $.get(cashReportEl.data("ajax-url"), function(responseHtml){
               cashReportEl.html(responseHtml);
            });

            const currentLiabilitiesEl = $("#current_liabilities");
            currentLiabilitiesEl.html('Loading ...');
            $.get(currentLiabilitiesEl.data("ajax-url"), function(responseHtml){
               currentLiabilitiesEl.html(responseHtml);
            });

            const customerReportEl = $("#customer_report");
            customerReportEl.html('Loading ...');
            $.get(customerReportEl.data("ajax-url"), function(responseHtml){
               customerReportEl.html(responseHtml);
            });

            const supplierReportEl = $("#supplier_report");
            supplierReportEl.html('Loading ...');
            $.get(supplierReportEl.data("ajax-url"), function(responseHtml){
               supplierReportEl.html(responseHtml);
            });

            const distributionBalancesEl = $("#distribution_balances");
            distributionBalancesEl.html('Loading ...');
            $.get(distributionBalancesEl.data("ajax-url"), function(responseHtml){
               distributionBalancesEl.html(responseHtml);
            });
        })
    </script>
{% endblock %}