{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message|safe }}</div>
        {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message|safe }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if error_install %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close pull-right" data-dismiss="alert">&times;</button>
      <i class="fa fa-exclamation-circle"></i> {{ error_install }}</div>
{% endif %}
<div id="error_messages"></div>