{% extends 'base.html' %}
{% block page_title %} Notifications {% endblock page_title %}
{% block content %}
<style>
/* CSS used here will be applied after bootstrap.css */
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
</style>
    <div class="col-sm-12 col-md-12">

        <!-- Tab panes -->
        <div class="tab-pane fade in active" id="home">
            <div class="list-group">
                {% if notifications|length > 0 %}
                    {% for notificatiton in notifications %}

                    {% endfor %}
                {% else %}
                        <a href="#" class="list-group-item">
                            <span class="name" style="min-width: 120px;display: inline-block;"></span>
                            <span class="text-muted" style="font-size: 11px;">There are no notices</span>
                        </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}