{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Move {{ inventory }} Stock {% endblock title %}
{% block content %}

<form method="post" action="{% url 'create_stock_branch_movement' inventory_id=inventory.id %}" id="move_branch_stock"  class="form-horizontal">
    {% csrf_token %}
    <div class="modal-body">
        <div class="form-group {% if form.branch.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.branch class="form-control chosen-select" %}
                {% if form.branch.auto_id  != "id_tos" %}
                    {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.period class="form-control chosen-select" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.date class="form-control datepicker" %}
                {% if form.date.auto_id  != "id_tos" %}
                    {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group {% if form.on_hand.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12"for="{{ form.on_hand.id_for_label }}">{{ form.on_hand.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.on_hand value=inventory.in_stock class="form-control" readonly="readonly"  %}
                {% if form.on_hand.auto_id  != "id_tos" %}
                    {% if form.on_hand.errors %}<span class="help-inline">{{ form.on_hand.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.quantity.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.quantity.id_for_label }}">{{ form.quantity.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.quantity class="form-control" %}
                {% if form.quantity.auto_id  != "id_tos" %}
                    {% if form.quantity.errors %}<span class="help-inline">{{ form.quantity.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.reason.errors %}error{% endif %}">
            <label class="col-sm-2 control-label txt-font12" for="{{ form.reason.id_for_label }}">{{ form.reason.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field form.reason class="form-control" %}
                {% if form.reason.auto_id  != "id_tos" %}
                    {% if form.reason.errors %}<span class="help-inline">{{ form.reason.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
{#        <div class="form-group control-group {% if form.price.errors %}error{% endif %}">#}
{#            <label class="col-sm-2 control-label txt-font12" for="{{ form.price.id_for_label }}">{{ form.price.label_tag }}</label>#}
{#            <div class="col-sm-10">#}
                {% render_field form.price class="form-control" %}
                {% if form.price.auto_id  != "id_tos" %}
                    {% if form.price.errors %}<span class="help-inline">{{ form.price.errors }}</span>{% endif %}
                {% endif %}
{#            </div>#}
{#        </div>#}
        <div class="form-group control-group">
            <label class="col-sm-12 control-label txt-font12" id="total_price_{{ inventory.id }}"></label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary btn-large" name="submit_branch_movement" type="button" id="submit_branch_movement"><i class="fa fa-check"></i> Move</button>
    </div>
</form>
{% endblock %}
