{% extends 'base.html' %}
{% load static i18n compress %}
{% load widget_tweaks %}
{% block page_title %}{% translate "Move Stock between branches" %}{% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
      <div class="pull-right">
         <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm">{% translate "Prev. Level" %}</a>
      </div>
  </div>
  <div class="panel-body align-center">
     <div class="col-lg-12">
        <div class="col-sm-12">
            <table class="table" width="100%" id="inventory_items">
                <thead>
                    <tr>
                        <th>{% translate "Inventory Item" %}</th>
                        <th>{% translate "Description" %}</th>
                        <th>{% translate "Account" %}</th>
                        <th class="text-right">{% translate "On Hand" %}</th>
                        <th class="text-right">{% translate "Move" %}</th>
                    </tr>
                    <tr>
                        <th><input type="text" id="code" value="" class="form-control form-control-sm" /></th>
                        <th><input type="text" id="description" value="" class="form-control form-control-sm" /></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="inventory_items_body" data-ajax-url="{% url 'move_branch_inventory_items' %}">
                    <tr>
                        <td colspan="9" class="text-center">
                            <img src="{% static 'images/loader.gif' %}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/inventory_adjustment.js' %}"></script>
    {% endcompress %}
{% endblock %}