{% load i18n %}
{% if inventory_items %}
    {% for inventory_item in inventory_items %}
        <tr>
            <td>
                {{ inventory_item }}
                <input type="hidden"
                       data-inventory-item-id="{{ inventory_item.id }}"
                       id="inventory_item_{{ inventory_item.id }}"
                       name="inventory_item_{{ inventory_item.id }}"
                       value="{{ inventory_item.id }}"
                />
            </td>
            <td>{{ inventory_item.description }}</td>
            <td>{{ inventory_item.default_stock_adjustment_account }}</td>
            <td class="text-right">
                <input class="form-control form-control-sm quantity on-hand text-right"
                       value="{{ inventory_item.in_stock }}"
                       data-inventory-item-id="{{ inventory_item.id }}"
                       id="quantity_on_hand_{{ inventory_item.id }}"
                       name="original_quantity_{{ inventory_item.id }}"
                       disabled="disabled"
                />
            </td>
            <td class="text-right">
                <button {% if year.is_final %}disabled="disabled"{% endif %} class="btn btn-sm btn-info"
                        data-modal="{% url 'create_stock_branch_movement' inventory_id=inventory_item.id %}"
                        id="create_adjustment_{{ inventory_item.id }}">{% translate "Move" %}</button>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="5">{% translate "No inventory items found" %}</td>
    </tr>
{% endif %}