{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% load widget_tweaks %}
{% load common_tags %}
{% block page_title %} Create New System Journal{% endblock page_title %}
{% block content %}
<form class="form-horizontal" method="post" action="{% url 'create_generate_journal' %}" id="create_journal_form" name="create_journal_form">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
            <button type="button" id="save_general_journal" class="btn btn-primary"
                    data-loading-text="<i class='fa fa-spinner'></i> Processing"
                    data-ajax-check--asset-account-url="{% url 'check_fixed_asset_accounts' %}"
                    data-ajax-url="{% url 'create_generate_journal' %}"
                    disabled="disabled">Register</button>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <button type="button" class="btn btn-large btn-info">Copy Template</button>
            {% previous_level_btn %}
          </div>
      </div>
      <div class="panel-body align-center">

            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group {% if form.journal_number.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.journal_number.id_for_label }}">{{ form.journal_number.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.journal_number class="form-control" readonly=readonly tabindex=1 value=journal_number %}
                            {% if form.journal_number.auto_id  != "id_tos" %}
                                {% if form.journal_number.errors %}<span class="help-inline">{{ form.journal_number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.default_year.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.default_year.id_for_label }}">{{ form.default_year.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.default_year class="form-control" readonly=readonly value=year  tabindex=2 %}
                            {% if form.year.auto_id  != "id_tos" %}
                                {% if form.default_year.errors %}<span class="help-inline">{{ form.default_year.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.period.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.period class="form-control" tabindex=3 %}
                            {% if form.period.auto_id  != "id_tos" %}
                                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.date class="form-control journal-datepicker"  tabindex=3 %}
                            {% if form.date.auto_id  != "id_tos" %}
                                {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.journal_text.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.journal_text.id_for_label }}">{{ form.journal_text.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.journal_text class="form-control" tabindex=4 %}
                            {% if form.journal_text.auto_id  != "id_tos" %}
                                {% if form.journal_text.errors %}<span class="help-inline">{{ form.journal_text.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <span id="validate_journal_period" data-validate-period-ajax-url="{% url 'validate_journal_period' %}"></span>
                </div>
                <div class="col-6" data-ajax-url="{% url 'add_comments' content_type.id %}" id="add_comments"></div>
            </div>
            <div class="col-10 scrollable">
                <table class="table table-bordered table-fixed">
                    <thead>
                        <tr>
                            <th>Ledger</th>
                            <th>Code</th>
                            <th>Description</th>
                            {% for k, object in objects.items %}
                                <th>{{ object.label }}</th>
                            {% endfor %}
                            <th>Suffix</th>
                            <th>Vat Type</th>
                            <th class="text-right">Debit</th>
                            <th class="text-right">Credit</th>
                            <th>Dist.</th>
                        </tr>
                    </thead>
                    <tbody id="journal_lines" data-ajax-url="{% url 'add_journal_line' %}">
                    </tbody>
                </table>
            </div>
            <div class="col-10">
                <table class="table table-bordered table-condensed table-fixed">
                    <tfoot>
                        <tr>
                            <td colspan="4">Totals</td>
                            {% for k, object in objects.items %}
                                <td></td>
                            {% endfor %}
                            <td></td>
                            <td class="text-right">
                                <span id="debit_total"></span>
                                <input type="hidden" name="total_debit" id="total_debit" value="" />
                            </td>
                            <td class="text-right">
                                <span id="credit_total"></span>
                                <input type="hidden" name="total_credit" id="total_credit" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">Difference</td>
                            {% for k, object in objects.items %}
                                <td></td>
                            {% endfor %}
                            <td class="text-right"><span id="debit_difference"></span></td>
                            <td class="text-right"><span id="credit_difference"></span></td>
                            <td>
                                <span id="difference_text"></span>
                                <input type="hidden" name="difference" id="difference" value="" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
             </div>
            <div class="col-10">
                <div class="pull-right">

                </div>
             </div>
      </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    {% compress js file journals %}
        <script type="text/javascript" src="{% static 'js/distribution.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/journal.js' %}"></script>
    {% endcompress %}
{% endblock %}