{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags comment_tags %}
{% block page_title %} Journals {{ journal }}{% endblock page_title %}
{% block content %}
<div class="panel-heading clearfix">
    <div class="pull-left">
        <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-primary btn-sm" id="logs"
              data-modal="{% url 'journal_logs' journal.id %}"
              data-toggle="tooltip"><i class="fa fa-list"></i> Logs</button>
      <a href="{% url 'journals_index' %}" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-6">
        <table class="table table-bordered table-condensed" width="100%">
            <tr>
                <th>Journal Number:</th>
                <th>{{ journal.journal_number }}</th>
            </tr>
            <tr>
                <th>Year</th>
                <th>{{ journal.year }}</th>
            </tr>
            <tr>
                <th>Period:</th>
                <th>{{ journal.period }}</th>
            </tr>
            <tr>
                <th>Date:</th>
                <th>{{ journal.date }}</th>
            </tr>
            <tr>
                <th>Journal Text:</th>
                <th>{{ journal.journal_text }}</th>
            </tr>
        </table>
    </div>
    <div class="col-lg-6 col-xs-6">{% comments journal.id ledger_content_type.id %}</div>
</div>
<div class="row">
    <table class="table table-bordered table-condensed" width="100%">
            <thead>
            <tr>
                <th>Account</th>
                <th>Account Description</th>
                {% for k, object in objects.items %}
                    <th>{{ object.label }}</th>
                {% endfor %}
                <th>Suffix</th>
                <th>Vat Type</th>
                <th>Text</th>
                <th class="text-right">Debit</th>
                <th class="text-right">Credit</th>
                <th class="text-right">Dist.</th>
            </tr>
        </thead>
        <tbody id="ledger_lines" data-ajax-url="{% url 'add_journal_line' %}">
        {% for journal_line in journal_lines.lines %}
            <tr id="journal_line_{{ forloop.counter0 }}"
                data-row-id="{{ forloop.counter0 }}"
                data-line-id="{{ journal_line.line.id }}"
                {% if journal_line.line.invoice %}
                     onclick="openInvoiceDetail(this)" data-invoice-url="{% url 'invoice_detail' journal_line.line.invoice.id %}"
                     {% if request.GET.invoice_id == journal_line.line.invoice.id %}
                         class="ledger-lines journal-line-row alert ledger-line-{{ forloop.counter0 }}"
                     {% else %}
                         class="ledger-lines journal-line-row ledger-line-{{ forloop.counter0 }}"
                     {% endif %}
                {% else %}
                    class="ledger-lines journal-line-row ledger-line-{{ forloop.counter0 }}"
                {% endif %}
                >
                <td>{{ journal_line.line.account.code }}</td>
                <td>{{ journal_line.line.account.name }}</td>
               {% for k, object_item in journal_line.object_links.items %}
                    {% if object_item.value %}
                        <td>{{ object_item.value }}</td>
                    {% else  %}
                       <td></td>
                    {% endif %}
                {% endfor %}
                <td>{{ journal_line.line.suffix }}</td>
                <td>{% if journal_line.line.vat_code %}{{ journal_line.line.vat_code }}{% endif %}</td>
                <td>{{ journal_line.line.journal_text }}</td>
                <td class="text-right">
                    {{ journal_line.line.debit_amount|money }}
                    <input type="hidden" name="debit_{{ forloop.counter0 }}" id="debit_{{ forloop.counter0 }}"
                           value="{{ journal_line.line.debit_amount }}" class="debit-amount"
                            data-row-id="{{ forloop.counter0 }}"
                    />
                </td>
                <td class="text-right">
                    {{ journal_line.line.credit_amount|money }}
                    <input type="hidden" name="credit_{{ forloop.counter0 }}" id="credit_{{ forloop.counter0 }}" value="{{ journal_line.line.credit_amount }}"
                           class="credit-amount" data-row-id="{{ forloop.counter0 }}" />
                </td>
                <td class="text-right">
                    {% if journal_line.line.is_distribution %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td colspan="{{ objects.items|length  }}"></td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td></td>
            {% if objects.items|length > 0 %}
                <td colspan="{{ objects.items|length  }}"></td>
            {% endif %}
            <td colspan="4" class="text-right">Sums</td>
            <td class="text-right">
                <span id="debit_total">{{ journal_lines.debit_sum|money }}</span>
                <input type="hidden" value="" id="total_debit" />
            </td>
            <td class="text-right">
                <span id="credit_total">{{ journal_lines.credit_sum|money }}</span>
                <input type="hidden" value="" id="total_credit" />
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td></td>
            {% if objects.items|length > 0 %}
                <td colspan="{{ objects.items|length  }}"></td>
            {% endif %}
            <td colspan="4" class="text-right">Difference</td>
            <td></td>
            <td class="text-right">
                <span id="difference">{{ journal_lines.difference|money }}</span>
            </td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/distribution.js' %}?{% now  'YmdHis' %}"></script>
    <script type="text/javascript" src="{% static 'js/journal.js' %}?{% now  'YmdHis' %}"></script>
{% endblock %}