{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags comment_tags %}
{% block page_title %} Journals {{ journal }}{% endblock page_title %}
{% block content %}
<form id="create_journal_form" action="{% url 'journal_lines' journal.id %}">
    {% csrf_token  %}
    <div class="panel panel-primary"    >
        <div class="panel-heading clear-fix">
            <div class="pull-left"></div>
            <div class="pull-right">
                  <a class="btn btn-primary btn-sm" id="logs"
                          href="{% url 'journal_export' journal.id %}"
                          data-toggle="tooltip"><i class="fa fa-file-export"></i> {% translate "Export" %}</a>
                  <button type="button" class="btn btn-primary btn-sm" id="logs"
                          data-modal="{% url 'journal_logs' journal.id %}"
                          data-toggle="tooltip"><i class="fa fa-list"></i> {% translate "Logs" %}</button>
                  <button type="button" class="btn btn-primary btn-sm" id="save_general_journal"
                          {% if not can_edit %}disabled="disabled"{% endif %}
                          data-ajax-check--asset-account-url="{% url 'check_fixed_asset_accounts' %}?id={{ journal.id }}"
                          data-toggle="tooltip"><i class="fa fa-pencil"></i> {% translate "Update" %}</button>

                  <a href="{% url 'journals_index' %}" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
            </div>
        </div>
        <div class="panel-body align-center">
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group control-group {% if form.journal_number.errors %}error{% endif %} " >
                                    <label class="col-sm-4 control-label txt-font12" for="{{ form.journal_number.id_for_label }}">{{ form.journal_number.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {% render_field form.journal_number class="form-control" readonly='readonly' %}
                                        {% if form.journal_number.auto_id  != "id_tos" %}
                                            {% if form.journal_number.errors %}<span class="help-inline">{{ form.journal_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group control-group {% if form.year.errors %}error{% endif %} " >
                                    <label class="col-sm-4 control-label txt-font12" for="{{ form.year.id_for_label }}">{{ form.year.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {% render_field form.year class="form-control" %}
                                        {% if form.year.auto_id  != "id_tos" %}
                                            {% if form.year.errors %}<span class="help-inline">{{ form.year.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group control-group {% if form.date.errors %}error{% endif %} " >
                                    <label class="col-sm-4 control-label txt-font12" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {% render_field form.date class="form-control datepicker" %}
                                        {% if form.date.auto_id  != "id_tos" %}
                                            {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group control-group {% if form.period.errors %}error{% endif %} " >
                                    <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {% render_field form.period class="form-control datepicker" %}
                                        {% if form.period.auto_id  != "id_tos" %}
                                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group control-group {% if form.journal_text.errors %}error{% endif %} " >
                                    <label class="col-sm-4 control-label txt-font12" for="{{ form.journal_text.id_for_label }}">{{ form.journal_text.label_tag }}</label>
                                    <div class="col-sm-8">
                                        {% render_field form.journal_text class="form-control" %}
                                        {% if form.journal_text.auto_id  != "id_tos" %}
                                            {% if form.journal_text.errors %}<span class="help-inline">{{ form.journal_text.errors }}</span>{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-6">{% comments journal.id ledger_content_type.id %}</div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12 data-container">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>{% translate "Account" %}</th>
                            <th>{% translate "Account Description" %}</th>
                            <th>{% translate "Branch" %}</th>
                            {% for k, object in objects.items %}
                                <th>{{ object.label }}</th>
                            {% endfor %}
                            <th>{% translate "Suffix" %}</th>
                            <th>{% translate "Vat Type" %}</th>
                            <th>{% translate "Text" %}</th>
                            <th class="text-right">{% translate "Debit" %}</th>
                            <th class="text-right">{% translate "Credit" %}</th>
                            <th class="text-right">{% translate "Dist." %}</th>
                            <th class="text-center">
                                {% if can_edit %}
                                    <a href="javascript:void(0);" id="all_lines" class="delete-lines"><i class="fa fa-trash text-danger"></i></a>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ledger_lines" data-ajax-url="{% url 'add_journal_line' %}">
                        {% for journal_line in journal_lines.lines %}
                            {% with row=forloop.counter %}
                                <tr id="journal_line_{{ row }}"
                                    data-row-id="{{ row }}"
                                    data-line-id="{{ journal_line.line.id }}"
                                    class="ledger-lines journal-lines ledger-line-{{ row }}"
                                    >
                                    <td>{{ journal_line.line.account.code }}</td>
                                    <td>{{ journal_line.line.account.name }}</td>
                                    <td>{{ journal_line.line.branch.label }}</td>
                                   {% for k, object_item in journal_line.object_links.items %}
                                        {% if object_item.value %}
                                            <td>{{ object_item.value }}</td>
                                        {% else  %}
                                           <td></td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>{{ journal_line.line.suffix }}</td>
                                    <td>{% if journal_line.line.vat_code %}{{ journal_line.line.vat_code }}{% endif %}</td>
                                    <td>{{ journal_line.line.journal_text }}</td>
                                    <td class="text-right">
                                        {{ journal_line.line.debit_amount|money }}
                                        <input type="hidden" name="debit_{{ row }}" id="debit_{{ row }}"
                                               value="{{ journal_line.line.debit_amount }}" class="debit-amount"
                                                data-row-id="{{ row }}"
                                        />
                                    </td>
                                    <td class="text-right">
                                        {{ journal_line.line.credit_amount|money }}
                                        <input type="hidden" name="credit_{{ row }}" id="credit_{{ row }}" value="{{ journal_line.line.credit_amount }}"
                                               class="credit-amount" data-row-id="{{ row }}" />
                                    </td>
                                    <td class="text-right">
                                        {% if journal_line.line.account.can_distribute %}
                                            {% if journal_line.line.distribution %}
                                               <a href="javascript:void(0);"
                                                  data-modal="{% url 'edit_distribution' journal_line.line.distribution.id %}">Yes</a>
                                            {% else %}
                                               <a href="javascript:void(0);"
                                                  data-modal="{% url 'create_distribution' content_type_id=content_type.id object_id=journal_line.line.id %}">No</a>
                                            {% endif %}
                                        {% elif journal_line.line.distribution %}
                                           <a href="javascript:void(0);"
                                              data-modal="{% url 'edit_distribution' journal_line.line.distribution.id %}">Yes</a>
                                        {% else %}
                                            <i class="fa fa-times text-danger"></i>
                                        {% endif %}
                                    </td>
                                    <td class="actions text-center">
                                        {% if can_edit %}
                                         <input type="hidden" id="line_{{ row }}" name="delete_{{ row }}" value="" />
                                         <a href="javascript:void(0);"  data-row-id="{{ row }}"
                                            data-ajax-url="{% url 'validate_delete_journal_line' journal_line.line.id %}"
                                            id="delete_{{ row }}" data-line-id="{{ journal_line.line.id }}"
                                            class="delete-line"
                                         ><i class="fa fa-trash text-danger"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        {% if can_edit %}
                            <tr>
                                <td></td>
                                <td colspan="{{ objects.items|length  }}"></td>
                                <td colspan="7"></td>
                                <td>
                                    <button type="button" id="add_ledger_line" class="btn btn-primary pull-right">{% translate "Add" %}</button>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td></td>
                            {% if objects.items|length > 0 %}
                                <td colspan="{{ objects.items|length  }}"></td>
                            {% endif %}
                            <td colspan="5" class="text-right">Sums</td>
                            <td class="text-right">
                                <span id="debit_total">{{ journal_lines.debit_sum|money }}</span>
                                <input type="hidden" value="" id="total_debit" />
                            </td>
                            <td class="text-right">
                                <span id="credit_total">{{ journal_lines.credit_sum|money }}</span>
                                <input type="hidden" value="" id="total_credit" />
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td></td>
                            {% if objects.items|length > 0 %}
                                <td colspan="{{ objects.items|length  }}"></td>
                            {% endif %}
                            <td colspan="5" class="text-right">Difference</td>
                            <td></td>
                            <td class="text-right">
                                <span id="difference">{{ journal_lines.difference|money }}</span>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/distribution.js' %}?{% now  'YmdHis' %}"></script>
    <script type="text/javascript" src="{% static 'js/journal.js' %}?{% now  'YmdHis' %}"></script>
{% endblock %}