{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Edit Journal{% endblock page_title %}
{% block content %}
<form class="form-horizontal" method="post" action="{% url 'edit_generate_journal' journal.id %}">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left">
                    <span class="ui-state ui-state-info-text"></span>
                </h5>
            </div>
            <div class="pull-right">
                <button type="button" id="save_general_journal" value="Update" class="btn btn-large btn-success"
                   {% if difference < 0 %} disabled="disabled" {% endif %}
                   {% if difference > 0 %} disabled="disabled" {% endif %}
                   {% if not period_is_open %} disabled="disabled" {% endif %}
                >Update</button>
            </div>
        </div>
        <div class="panel-body align-center" id="journal_document">
            <div class="row">
                <div class="col-6">
                    <div class="form-group {% if form.journal_number.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.journal_number.id_for_label }}">{{ form.journal_number.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.journal_number class="form-control" readonly=readonly value=journal.journal_number %}
                            {% if form.journal_number.auto_id  != "id_tos" %}
                                {% if form.journal_number.errors %}<span class="help-inline">{{ form.journal_number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.default_year.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.default_year.id_for_label }}">{{ form.default_year.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.default_year class="form-control" readonly=readonly value=year %}
                            {% if form.default_year.auto_id  != "id_tos" %}
                                {% if form.default_year.errors %}<span class="help-inline">{{ form.default_year.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.period.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.period.id_for_label }}">{{ form.period.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.period|add_class:"form-control"  }}
                            {% if form.period.auto_id  != "id_tos" %}
                                {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.date.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.date.id_for_label }}">{{ form.date.label_tag }}</label>
                        <div class="col-sm-10">
                            {% if period_is_open %}
                                {% render_field form.date class="form-control journal-datepicker" value=journal.date %}
                            {% else %}
                                {% render_field form.date class="form-control journal-datepicker" value=journal.date disabled='disabled' %}
                            {% endif %}
                            {% if form.date.auto_id  != "id_tos" %}
                                {% if form.date.errors %}<span class="help-inline">{{ form.date.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.journal_text.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.journal_text.id_for_label }}">{{ form.journal_text.label_tag }}</label>
                        <div class="col-sm-10">
                            {% if period_is_open %}
                                {% render_field form.journal_text class="form-control" value=journal.journal_text %}
                            {% else %}
                                {% render_field form.journal_text class="form-control" value=journal.journal_text disabled='disabled' %}
                            {% endif %}
                            {% if form.journal_text.auto_id  != "id_tos" %}
                                {% if form.journal_text.errors %}<span class="help-inline">{{ form.journal_text.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <span id="validate_journal_period" data-validate-period-ajax-url="{% url 'validate_journal_period' %}"></span>
                </div>
                <div class="col-6">
                    <div class="form-group control-group">
                        <label class="control-label txt-font12 col-sm-2">DOCUFLOW</label>
                    </div>
                    <div class="form-group control-group">
                        <div class="well col-12">
                            {% if comment %}
                                {{ comment.comment }}
                                {% if comment.attachment %}
                                    <a href="{{ upload_url }}{{ comment.attachment }}" target="_blank">
                                        <i class="fa fa-paperclip"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row scrollable">
                <table class="table table-bordered table-condensed" width="100%">
                    <thead>
                        <tr>
                            <th>Ledger</th>
                            <th>Account</th>
                            {% for k, object in objects.items %}
                                <th>{{ object.label }}</th>
                            {% endfor %}
                            <th>Vat Type</th>
                            <th>Text</th>
                            <th class="text-right">Debit</th>
                            <th class="text-right">Credit</th>
                            <th>Dist</th>
                    {#                    <th>Amended By</th>#}
                    {#                    <th>Date</th>#}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="min-height: 400px !important;" id="ledger_lines" class="ledger-lines"
                           {% if period_is_open %} data-ajax-url="{% url 'add_journal_line' %}{% endif %}">
                        {% for journal_line in journal_lines %}
                            <tr style="border: 1px solid #8C8C8C !important;" id="journal_line_row_{{ journal_line.reference }}"
                                class="ledger-lines journal-line-row">
                                 <td>
                                    <select name="ledger_{{ forloop.counter0 }}" id="ledger_{{ forloop.counter0 }}"
                                            class="form-control chosen-select"
                                            style="min-width: 20px !important; max-width: 50px !important;">
                                        <option value="">--</option>
                                        {% for ledger in ledgers %}
                                            <option value="{{ ledger.value }}" {% if journal_line.line.ledger == ledger.value %} selected="selected" {% elif ledger.is_default %} selected="selected" {% endif %}>{{ ledger.name }}</option>
                                        {% endfor %}
                                    </select>
                                 </td>
                                 <td>
                                    <select name="account_{{ forloop.counter0 }}" id="account_{{ forloop.counter0 }}"
                                            class="form-control accounts chosen-select"
                                            style="width: 200px"
                                            data-row-id="{{ forloop.counter0 }}"
                                            data-ajax-url="{% url 'add_journal_line' %}"
                                            data-ajax-accounts-url="{% url 'ledger_accounts_list' %}"
                                            data-ajax-supplier-url="{% url 'search_suppliers_list' %}"
                                            data-ajax-customers-url="{% url 'customers_list' %}"
                                            {% if not period_is_open %}  disabled="disabled" {% endif %}
                                    >
                                        <option value="">--</option>
                                        {% for account in accounts %}
                                            <option value="{{ account.id }}"
                                                    {% if journal_line.line.account_id == account.id %} selected="selected" {% endif %}
                                                    data-account-type="{{ account.account_type }}"
                                                    data-description="{{ account.name }}">{{ account }}</option>
                                        {% endfor %}
                                    </select>
                                     <input type="hidden" name="journal_line_id_{{ forloop.counter0 }}"
                                            id="journal_line_id{{ forloop.counter0 }}" value="{{ journal_line.line.id }}" />
                                </td>

                                {% for k, object_link in journal_line.object_links.items %}
                                    <td>
                                        <select name="object_item_{{ forloop.counter0 }}" id="object_item_{{ forloop.counter0 }}"
                                                {% if not period_is_open %}  disabled="disabled" {% endif %}
                                                class="form-control object_items chosen-select"
                                                style="min-width: 200px !important; max-width: 200px !important;"
                                        >
                                            <option value="">--</option>
                                            {% for object_link_item in object_link.object_items %}
                                                <option value="{{ object_link_item.id }}"
                                                        {% if object_link_item.id == object_link.selected %} selected="selected" {% endif %}
                                                        data-description="{{ object_link_item.name }}">{{ object_link_item }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                {% endfor %}

                                <td id="vat_codes_cell_{{ forloop.counter0 }}">
                                    <div id="vat_code_container_{{ forloop.counter0 }}"></div>
                                    {% if journal_line.vat_type %}
                                        <select name="vat_code_{{ forloop.counter0 }}" id="vat_code_{{ forloop.counter0 }}"
                                                {% if not period_is_open %}  disabled="disabled" {% endif %}
                                                class="form-control object_items chosen-select"
                                                style="min-width: 2000px !important; max-width: 2000px !important;">
                                            <option value="">--</option>
                                            {% for vat_code in vat_codes %}
                                                <option value="{{ vat_code.id }}"
                                                        {% if vat_code.id == journal_line.line.vat_type.id %} selected="selected" {% endif %}
                                                        data-description="{{ vat_code.name }}">{{ vat_code }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ journal_line.line.text }}
                                </td>
                                <td class="text-right">
                                    <input type="text" name="debit_{{ forloop.counter0 }}" id="debit_{{ forloop.counter0 }}"
                                           value="{% if journal_line.debit %}{{ journal_line.debit}}{% endif %}"
                                           class="debit-amount text-right" {% if not journal_line.line.debit %} disabled="disabled" {% endif %} />
                                </td>
                                <td class="text-right">
                                    <input type="text" name="credit_{{ forloop.counter0 }}" id="credit_{{ forloop.counter0 }}"
                                           value="{% if journal_line.line.credit %}{{ journal_line.line.credit }}{% endif %}"
                                           class="credit-amount text-right"
                                           {% if not period_is_open %}  disabled="disabled" {% endif %}
                                    />
                                </td>
                                <td>

                                    <select name="distribution_{{ forloop.counter0 }}" id="distribution_{{ forloop.counter0 }}"
                                            class="form-control distributions"
                                            data-ajax-url="{% url 'create_journal_distribution' %}"
                                            {% if not period_is_open %}  disabled="disabled" {% endif %}
                                            {% if not journal_line.line.account.account_type == 1 %}  disabled="disabled" {% endif %}
                                    >
                                        <option value="no">No</option>
                                        <option value="yes">Yes</option>
                                    </select>
                                </td>
                    {#                        <td>#}
                    {#                            <input type="text" name="amended_by_{{ journal_line.reference }}" id="amended_by_{{ journal_line.reference }}" value="" disabled="disabled" />#}
                    {#                        </td>#}
                    {#                        <td>#}
                    {#                            <input type="text" name="date_{{ journal_line.reference }}" id="date_{{ journal_line.reference }}" class="datepicker" value="" disabled="disabled" />#}
                    {#                        </td>#}
                                <td>
{#                                    <button id="delete_line_{{ forloop.counter0 }}"#}
{#                                            role="button"#}
{#                                            name="delete_line_{{ forloop.counter0 }}"#}
{#                                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing "#}
{#                                            class="btn btn-effect btn-danger delete_journal_line"><i class="fa fa-trash"></i> </button>#}
{#                                    #}
                                         <i data-row-id="{{ forloop.counter0 }}" class="fa fa-trash text-danger delete-line"
                                            id="delete_{{ forloop.counter0 }}" data-line-id="journal_line.line.id"
                                         ></i>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            {% for k, object_link in journal_line.object_links.items %}
                                <td></td>
                            {% endfor %}
                            <td colspan="7"></td>
                            <td>
                                {% if period_is_open %}
                                    <button id="add_ledger_line"
                                            role="button"
                                            name="add_ledger_line"
                                            data-ajax-url="{% url 'add_journal_line' %}"
                                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing "
                                            class="btn btn-effect btn-primary"><i class="fa fa-plus"></i>Add </button>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3" class="text-right">Totals</td>
                            {% for k, object_link in journal_row.object_links.items %}
                                <td></td>
                            {% endfor %}
                            <td class="text-right">
                                <span class="bold_700" id="debit_total">{{ total_debit|money }}</span>
                                <input type="hidden" name="total_debit" id="total_debit" value="{{ total_debit }}" />
                            </td>
                            <td class="text-right">
                                <span class="bold_700" id="credit_total">{{ total_credit|money }}</span>
                                <input type="hidden" name="total_credit" id="total_credit" value="{{ total_credit }}" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">Difference</td>
                            {% for k, object_link in journal_row.object_links.items %}
                                <td></td>
                            {% endfor %}
                            <td class="text-right">
                                <span class="bold_700" id="difference">{{ difference|money }}</span>
                                <input type="hidden" name="difference" id="difference" value="{{ difference }}" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/journal.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}