{% extends 'datatable.html' %}
{% load i18n %}
{% block page_title %} Journals - {{ year }}{% endblock page_title %}
{% block datatable %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-left">
          </div>
          <div class="pull-right">
             <a href="{% url 'export_journals' %}" type="button" class="btn btn-sm btn-primary"
                ><i class="fa fa-file-excel-o"></i> {% translate "Export" %}</a>
             <a {% if year.is_final %}disabled="disabled"{% endif %} href="{% url 'import_generate_journal' %}"
                type="button" class="btn btn-sm btn-primary"><i class="fa fa-cloud-upload"></i> {% translate "Import" %}</a>

             <a {% if year.is_final %}disabled="disabled"{% endif %} href="{% url 'create_generate_journal' %}"
                type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle"></i> {% translate "Create" %}</a>
          </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="journalsTable" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                    <th>Journal No</th>
                    <th>Period</th>
                    <th>Accounting Date</th>
                    <th>Journal Date</th>
                    <th>Module</th>
                    <th>Journal Text</th>
                    <th>Comment</th>
                    <th>By</th>
                    <th>Status of period</th>
                    <th></th>
                </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    // using jQuery
    $(function(){
        let table = $("#journalsTable").DataTable({
          serverSide: true,
          ajax: '/api/v1/journals/?format=datatables',
          columns: [
              { data: 'journal_number', name: 'journal_number', searchable: true, title:'Journal Number' },
              { data: 'period_number', name: 'period.period', searchable: true, title:'Period' },
              { data: 'date', name: 'date', searchable: true, title:'Accounting Date' },
              { data: 'created_date', name: 'created_at', title:'Created At' },
              { data: 'module', name: 'module', searchable: true, title:'Module' },
              { data: 'journal_text', name: 'journal_text', searchable: true, title:'Text' },
              { data: 'comment', name: 'comment', searchable: true, title:'Comment' },
              { data: 'creator', name: 'created_by', searchable: false, title:'By' },
              { data: 'is_open', name: 'is_open', searchable: false, title:'Status of period', className: 'text-center' },
              { data: 'is_edited', name: 'is_edited', searchable: false, title:'', className: 'text-center' }
           ],
           pagingType: 'full_numbers',
           iDisplayLength: '{{display_rows}}',
           lengthMenu:  JSON.parse("{{ menu_length }}"),
           order: [[ 0, 'desc' ]],
           columnDefs: [
               {
                    // The `data` parameter refers to the data for the cell (defined by the
                    // `data` option, which defaults to the column being worked with, in
                    // this case `data: 0`.
                    render: function ( data, type, row ) {
                        if (row.is_locked) {
                            return '<span class="label label-danger">Locked</span>';
                        } else if(row.is_open) {
                            return '<span class="label label-success">Open</span>';
                        } else {
                            return '<span class="label label-warning">Closed</span>';
                        }
                    },
                    targets: 8
               },
               {
                    // The `data` parameter refers to the data for the cell (defined by the
                    // `data` option, which defaults to the column being worked with, in
                    // this case `data: 0`.
                    render: function ( data, type, row ) {
                        if (row.has_been_edited) {
                            return '<i class="fa fa-pencil text-success"></i>';
                        }
                        return ''
                    },
                    targets: 9
               },
            ]
        });

        $('#journalsTable tbody').on( 'click', 'tr', function () {
            const rowData = table.row( this ).data();
            if (rowData.detail_url) {
                document.location.href = rowData.detail_url + "?redirect={% url 'journals_index' %}";
            }
        });

    });
    </script>
{% endblock %}