{% load common_tags journal_tags %}
<tr style="border: 1px solid #8C8C8C !important;" id="journal_line_{{ row }}" class="journal-lines" data-row-id="{{ row }}">
     <td>
        {% journal_type_cell row start col.col0 module_url ledger_type %}
    </td>
    <td id="accounts_row_{{ row }}">
        {% account_cell row start col.col1 %}
    </td>
    {% if not is_edit %}
        <td><span id="account_item_description_{{ row }}"></span></td>
    {% endif %}
    {% objects_items_cells row start col.col2 objects %}
    {% if is_edit %}
        <td></td>
    {% endif %}
    <td>
        {% suffix_cell row start col.col3 %}
    </td>
    <td id="vat_codes_cell_{{ row }}">
        {% vat_code_cell row start col.col4 %}
    </td>
    {% if is_edit %}
        <td>
            {% text_cell row start col.col5 %}
        </td>
    {% endif %}
    <td class="text-right">
        {% debit_cell row start col.col6 %}
    </td>
    <td class="text-right">
        {% credit_cell row start col.col7 %}
    </td>
    <td>
        <a style="display: none;" href="javascript:void(0);" id="distribution_{{ row|add:start }}"
           data-ajax-url="{% url 'create_account_distribution' content_type_id=content_type.id %}"
        >No</a>
    </td>
</tr>