{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Journals {{ year }}{% endblock page_title %}
{% block content %}
<div class="panel-heading clearfix">
    <div class="pull-left">
        <h5 class="panel-title pull-left"></h5>
    </div>
    <div class="pull-right">
      <a href="javascript:history.back(-1);" class="btn btn-default btn-sm"> Prev. Level</a>
    </div>
</div>
<div class="row col-12">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>-</th>
                <th>Account</th>
                <th>Account Description</th>
                <th>Date</th>
                <th>Text</th>
                <th class="text-right">Debit</th>
                <th class="text-right">Credit</th>
            </tr>
        </thead>
        <tbody id="ledger_lines" data-ajax-url="{% url 'add_journal_line' %}">
            {% for journal_line in lines %}
                <tr>
                    <td>{{ journal_line.id }} / {{ journal_line.journal_id }}</td>
                    <td>{{ journal_line.account.code }}</td>
                    <td>{{ journal_line.account.name }}</td>
                    <td>{{ journal_line.accounting_date }}</td>
                    <td>{{ journal_line.journal_text }}</td>
                    <td class="text-right">
                        {{ journal_line.debit_amount|money }}
                    </td>
                    <td class="text-right">
                        {{ journal_line.credit_amount|money }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
                <td class="text-right">{{ total_credit|money }}</td>
                <td class="text-right">{{ total_debit|money }}</td>
            </tr>
            <tr>
                <td colspan="7">&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">Opening</td>
                <td class="text-right"></td>
                <td class="text-right"><strong>{{ opening|money }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">Movement</td>
                <td class="text-right"></td>
                <td class="text-right">{{ year_total|money }}</td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">Balance</td>
                <td class="text-right"></td>
                <td class="text-right"><strong>{{ report_type_balance|money }}</strong></td>
            </tr>

        </tfoot>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/journal.js' %}?{% now  'YmdHis' %}"></script>
{% endblock %}