{% load common_tags invoice_tags %}
<tr class="suffix-lines" id="suffix_lines_{{ row_id }}">
    <td colspan="2">
        <form id="suffix_lines_form_{{ row_id }}" method="post" action="{% url 'update_suffixes' %}" data-ajax-url="{% url 'update_suffixes' %}">
            {% csrf_token %}
            <table class="table table-bordered">
            {% for line in lines %}
                <tr style="border: 1px solid #8C8C8C !important;" id="journal_line_{{ line.id }}" class="journal-lines"
                    data-row-id="{{ line.id }}">
                    <td>{{ line.account.code }}</td>
                    <td>{{ line.account.name }}</td>
                    <td>
                        <input type="text" value="{{ line.suffix }}" id="suffix_{{ line.id }}" class="search-box-{{  row_id }}"
                               data-row-id="{{ line.id }}" data-ajax-url="{% url "search_suffix" %}"
                               name="suffix_{{ line.id }}" />
                    </td>
                    <td>{% if line.vat_code %}{{ line.vat_code }}{% endif %}</td>
                    <td>{{ line.journal_text }}</td>
                    <td class="text-right">
                        {{ line.debit_amount|money }}
                    </td>
                    <td class="text-right">
                        {{ line.credit_amount|money }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </form>
    </td>
</tr>
<tr class="suffix-lines">
    <td colspan="2" class="text-right">
        <button id="update_suffix_{{ row_id }}" type="button" class="btn btn-primary"
                data-row-id="{{ row_id }}"
        >Update</button>
    </td>
</tr>
