{% extends 'modal.html' %}
{% load static %}
{% load invoice_tags %}
{% block title %} Logs {% endblock title %}
{% block content %}

<div class="table-responsive">
    <table class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Note</th>
                <th>By</th>
                <th>Account</th>
                <th>Description</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.comment }}</td>
                    <td>{{ log.profile }}</td>
                    <td>{{ log.journal_line.account.code }}</td>
                    <td>{{ log.journal_line.account.name }}</td>
                    <td>{{ log.journal_line.debit_amount|money }}</td>
                    <td>{{ log.journal_line.credit_amount|money }}</td>
                    <td>{{ log.created_at }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">There are no logs available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}