{% extends 'modal.html' %}
{% load static i18n %}
{% block title %} {% translate "Distribution" %} {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form" id="create_journal_line_distribution" name="create_journal_line_distribution"
        action="{% url 'create_account_distribution' content_type_id=content_type.id %}">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered" width="100%">
                 <thead>
                    <tr>
                        <th>{% translate "Account" %}</th>
                        <th>{% translate "Amount" %}</th>
                        <th>{% translate "Select" %}</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr class="">
                        <td>{{ account.code }}</td>
                        <td>{{ amount }}</td>
                        <td>
                            <input type="checkbox" class="distribution-account checkbox-input"
                                name="journal_account"
                                id="distribute"
                                checked="checked"
                                value="{{ account.id }}" />
                        </td>
                    </tr>
                 </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include 'distribution/form.html' %}
                <div class="form-group pull-right">
                    <input type="hidden" id="suffix" value="{{ suffix }}">
                    <button type="button" class="btn btn-primary btn-large" id="distribute_journal_accounts"
                            data-ajax-url="{% url "distribute_amount" %}">{% translate "Distribute" %}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="account_distribution">
                {% include "distribution/account/detail.html" %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate "Cancel" %}</button>
        <button class="btn btn-primary btn-large" name="submit_distribution"
                type="button" id="submit_distribution"><i class="fa fa-save"></i> {% translate "Accept" %}</button>
    </div>
  </form>

{% endblock %}