{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} Supplier History {% endblock page_title %}
{% block content %}
    <div class="panel panel-primary">
      <div class="panel-body align-center">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                  {% render_field form.supplier %}
              </div>
          </div>
          <div class="col-sm-12" id="supplier_detail"
               data-ajax-history-url="{% url 'supplier_history_data' %}"
               data-ajax-url="{% url 'view_supplier_history' %}">
          </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'vendor/Chart.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/supplier.js' %}?{% now 'YmidHs' %}"></script>
{% endblock %}