<div class="panel panel-info">
    <div class="panel-heading">
        <span class="left">Comments</span>
        <span class="right pull-right">
            <button type="button" class="btn btn-danger btn-large" name="submit" id="add_comment"
                    tabindex="2000"
                    data-modal="{% url 'add_comment' content_type %}"
                    data-toggle="tooltip" data-original-title="" title="">
                <i class="fa fa-comment"></i> Add Comment
            </button>
        </span>
    </div>
    <div class="panel-body" style="overflow:scroll; height:100px;" id="comments">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Note</th>
                    <th>By</th>
                    <th>Date</th>
                    <th>Attachment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for comment in tmp_comments  %}
                    <tr>
                        <td>{{ comment.comment }}</td>
                        <td>{{ comment.profile_name }}</td>
                        <td>-</td>
                        <td class="text-left actions">
                            {% if comment.attachment %}
                                <a href="{{ upload_url }}{{ comment.attachment }}" target="_blank">
                                    <i class="fa fa-paperclip"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="text-left actions not-editable">
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-left actions not-editable" colspan="5">
                            No comments available.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
