<div class="panel panel-default">
    <div class="panel-heading">
        <span class="left">Comments</span>
        <span class="right pull-right">
            <button type="button" class="btn btn-danger btn-large" name="submit" id="add_comment"
                    data-modal="{% url 'create_comment' object_id=object_id content_type=content_type_id %}"
                    data-toggle="tooltip" data-original-title="" title="">
                <i class="fa fa-comment"></i> Add Comment
            </button>
        </span>
    </div>
    <div class="panel-body" style="overflow:scroll; height:100px;" id="comments">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Note</th>
                    <th>By</th>
                    <th>Date</th>
                    <th>Attachment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments  %}
                    <tr>
                        <td>{{ comment.comment }}</td>
                        <td>{{ comment.profile }}</td>
                        <td>{{ comment.created_at }}</td>
                        <td class="text-left actions">
                            {% if comment.attachment %}
                                <a href="{{ upload_url }}{{ comment.attachment }}" target="_blank">
                                    <i class="fa fa-paperclip"></i>
                                </a>
                            {% elif comment.link_url %}
                                <a href="{{ comment.link_url  }}" target="_blank">
                                    <i class="fa fa-paperclip"></i>
                                </a>
                            {% elif comment.is_linked %}
                                <a href="{% url 'invoice_detail' comment.invoice_id %}" target="_blank">
                                    <i class="fa fa-paperclip"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="text-left actions not-editable">
                            {% if comment.can_edit_delete %}
                                <a href="javascript:void(0)" id="edit_invoice_comment_{{ comment.id }}"
                                   class="delete-invoice-comment text-danger"
                                   data-comment-id="{{  comment.id }}"
                                   data-modal="{% url 'edit_comment' comment.id %}"><i class="fa fa-pencil"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="{% url 'delete_comment' comment.id %}"
                                   id="delete_invoice_comment_{{ comment.id }}"
                                   class="delete-invoice-comment text-danger"
                                   onclick="return confirm('Are you sure you want to delete this comment')"
                                   data-comment-id="{{  comment.id }}"
                                   ><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-left actions not-editable" colspan="5">
                            No comments available.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
