{% extends 'base.html' %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load static %}
{% load company_tags invoice_tags sales_tags %}
{% block page_title %}CREATE RECURRING INVOICE {{ invoice_type }} {% endblock page_title %}
{% block content %}
<form method="post" novalidate="novalidate" id="sales_invoice_form"
  action="{% url 'create_recurring_invoice' invoice_type=invoice_type.code %}">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
          <div class="pull-right">
            <a href="{% url 'recurring_invoice' %}" class="btn btn-warning">Cancel</a>
            <button type="button" class="btn btn-primary btn-large save-invoice"
                    name="submit_invoice"
                    id="submit_invoice_and_print"
                    data-action="print"><i class="fa fa-print" disabled="disabled"></i> Print</button>
            <button type="button" class="btn btn-primary btn-large save-invoice"
                    name="submit_invoice"
                    id="submit_invoice_and_continue"
                    data-is-cash="0"
                    data-cash-payment-url="{% url 'create_cash_invoice_receipt' %}"
                    data-cash-action-url="{% url 'create_recurring_invoice' invoice_type=invoice_type.code %}"
                    data-credit-action-url="{% url 'create_recurring_invoice' invoice_type=invoice_type.code %}"
                    data-action-url="{% url 'create_recurring_invoice' invoice_type=invoice_type.code %}"
                    data-action="continue" ><i class="fa fa-save"></i> Save</button>

          </div>
      </div>
      <div class="panel-body align-center">
          <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group control-group {% if form.branch.errors %}error{% endif %}">
                        <label class="control-label" for="{{ form.branch.id_for_label }}">{{ form.branch.label_tag }}</label>
                         <div class="controls">
                            {% render_field form.branch class="form-control form-control-sm chosen-select"  %}
                            {% if form.branch.auto_id  != "id_tos" %}
                            {% if form.branch.errors %}<span class="help-inline">{{ form.branch.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 col-lg-8"></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">
                   {% display_logo company 200 75 %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    {% include "sales/address/company.html" %}
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="h4">{{ invoice_type }}</span>
                                {% render_field form.invoice_type value=invoice_type.id %}
                                <input type="hidden" id="invoice_type_id" value="{{ invoice_type.id }}" />
                            </td>
                            <td class="text-right">#</td>
                        </tr>
                        <tr>
                            <td>Vat Registration Number:</td>
                            <td class="text-right">{{ company.vat_number }}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td class="text-right">{{ invoice_date|date:'d-M-Y' }}</td>
                        </tr>
                        <tr>
                            <td>Recurring </td>
                            <td class="text-right">
                                <i class="text-success fa fa-check-circle-o"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" id="customer-data">
                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">
                            <div class="pull-left">Customer</div>
                            <div class="pull-right">
                                <a href="{% url 'create_customer' %}?redirect={% url 'create_customer_invoice' invoice_type=invoice_type.code %}"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="panel-body" style="padding: 5px;">
                            <div class="form-group">
                                {% render_field form.customer class="form-control form-control-sm chosen-select" tabindex='1'  %}
                                {% if form.customer.auto_id  != "id_tos" %}
                                    {% if form.customer.errors %}<span class="help-inline">{{ form.customer.errors }}</span>{% endif %}
                                {% endif %}
                                <input type="hidden" id="line_discount">
                                <input type="hidden" id="invoice_discount">

                                <div id="customer_full_name"></div>
                            </div>
                            <div id="postal_customer_form" style="display: none">
                                <div class="form-group">
                                    {% render_field form.postal_street class="form-control form-control-sm" tabindex='2' placeholder='Street'  %}
                                    {% if form.postal_street.auto_id  != "id_tos" %}
                                        {% if form.postal_street.errors %}<span class="help-inline">{{ form.postal_street.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_city class="form-control form-control-sm" tabindex='3' placeholder='City'  %}
                                    {% if form.postal_city.auto_id  != "id_tos" %}
                                        {% if form.postal_city.errors %}<span class="help-inline">{{ form.postal_city.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_province class="form-control form-control-sm" tabindex='4'  placeholder='Province' %}
                                    {% if form.postal_province.auto_id  != "id_tos" %}
                                        {% if form.postal_province.errors %}<span class="help-inline">{{ form.postal_province.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_postal_code class="form-control form-control-sm" tabindex='5'  placeholder='Postal Code' %}
                                    {% if form.postal_postal_code.auto_id  != "id_tos" %}
                                        {% if form.postal_postal_code.errors %}<span class="help-inline">{{ form.postal_postal_code.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.postal_country class="form-control form-control-sm" tabindex='6'  placeholder='Country' %}
                                    {% if form.postal_country.auto_id  != "id_tos" %}
                                        {% if form.postal_country.errors %}<span class="help-inline">{{ form.postal_country.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div id="customer_details">
                                <div class="customer">
                                    <span id="postal_street"></span>
                                    <span class="postal" id="postal_city"></span>
                                    <span class="postal" id="postal_province"></span>
                                    <span class="postal" id="postal_country"></span>
                                    <input type="hidden" name="credit_limit" id="credit_limit" value="0">
                                    <span class="font-italic" id="credit_limit_val"></span>
                                    <div class="limit">
                                        <span><strong>Available Credit</strong></span>
                                        <span class="font-italic" id="available_credit_val"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height invoice-col ">
                        <div class="panel-heading">Shipping To:</div>
                        <div class="panel-body" style="padding: 5px;" id="shipping_to">
                            <div id="delivery_customer_form" style="display: none">
                                 <div class="form-group {% if form.delivery_address.errors %}error{% endif %}">
                                    {% render_field form.delivery_address class="form-control form-control-sm form-control form-control-sm-sm" tabindex='7' %}
                                    {% if form.delivery_address.auto_id  != "id_tos" %}
                                        {% if form.delivery_address.errors %}<span class="help-inline">{{ form.delivery_address.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.address_id %}
                                    {% render_field form.delivery_street class="form-control form-control-sm" tabindex='7' placeholder='Street'  %}
                                    {% if form.delivery_street.auto_id  != "id_tos" %}
                                        {% if form.delivery_street.errors %}<span class="help-inline">{{ form.delivery_street.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_city class="form-control form-control-sm" tabindex='8' placeholder='City'  %}
                                    {% if form.delivery_city.auto_id  != "id_tos" %}
                                        {% if form.delivery_city.errors %}<span class="help-inline">{{ form.delivery_city.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_province class="form-control form-control-sm" tabindex='9' placeholder='Province'  %}
                                    {% if form.delivery_province.auto_id  != "id_tos" %}
                                        {% if form.delivery_province.errors %}<span class="help-inline">{{ form.delivery_province.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_postal_code class="form-control form-control-sm" tabindex='10' placeholder='Postal Code'  %}
                                    {% if form.delivery_postal_code.auto_id  != "id_tos" %}
                                        {% if form.delivery_postal_code.errors %}<span class="help-inline">{{ form.delivery_postal_code.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% render_field form.delivery_country class="form-control form-control-sm" tabindex='11'  %}
                                    {% if form.delivery_country.auto_id  != "id_tos" %}
                                        {% if form.delivery_country.errors %}<span class="help-inline">{{ form.delivery_country.errors }}</span>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height invoice-col">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body" style="padding: 5px;">
                            <table class="table">
                                <tr class=" {% if form.estimate_number.errors %}error{% endif %}">
                                    <td>{{ form.estimate_number.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.estimate_number class="form-control form-control-sm form-control form-control-sm-sm" tabindex='18' %}
                                        {% if form.estimate_number.auto_id  != "id_tos" %}
                                            {% if form.estimate_number.errors %}<span class="help-inline">{{ form.estimate_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.po_number.errors %}error{% endif %}">
                                    <td>{{ form.po_number.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.po_number class="form-control form-control-sm form-control form-control-sm-sm" tabindex='19' %}
                                        {% if form.po_number.auto_id  != "id_tos" %}
                                            {% if form.po_number.errors %}<span class="help-inline">{{ form.po_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.vat_number.errors %}error{% endif %}">
                                    <td>{{ form.vat_number.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.vat_number class="form-control form-control-sm form-control form-control-sm-sm" tabindex='20' %}
                                        {% if form.vat_number.auto_id  != "id_tos" %}
                                            {% if form.vat_number.errors %}<span class="help-inline">{{ form.vat_number.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.period.errors %}error{% endif %}">
                                    <td>{{ form.period.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.period class="form-control form-control-sm" tabindex='21' disabled='disabled' %}
                                        {% if form.period.auto_id  != "id_tos" %}
                                            {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.invoice_date.errors %}error{% endif %}">
                                    <td>{{ form.invoice_date.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.invoice_date class="form-control form-control-sm datepicker" tabindex='22' disabled='disabled' %}
                                        {% if form.invoice_date.auto_id  != "id_tos" %}
                                            {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.due_date.errors %}error{% endif %}">
                                    <td>{{ form.due_date.label_tag }}</td>
                                    <td class="text-right">
                                        {% render_field form.due_date class="form-control form-control-sm datepicker" tabindex='23' disabled='disabled' %}
                                        {% if form.due_date.auto_id  != "id_tos" %}
                                            {% if form.due_date.errors %}<span class="help-inline">{{ form.due_date.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.salesman.errors %}error{% endif %}">
                                    <td><label class="col-sm-4 control-label txt-font12" for="salesman">Salesman</label></td>
                                    <td class="text-right">
                                        {% render_field form.salesman class="form-control form-control-sm" tabindex='24' %}
                                        {% if form.salesman.auto_id  != "id_tos" %}
                                            {% if form.salesman.errors %}<span class="help-inline">{{ form.salesman.errors }}</span>{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class=" {% if form.pricing.errors %}error{% endif %}">
                                    <td><label class="col-sm-4 control-label txt-font12" for="pricing">Pricing</label></td>
                                    <td class="text-right">
                                        <select id="id_pricing" name="pricing" class="form-control form-control-sm" tabindex='25'></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {% invoice_linked_objects request.session.company request.session.role None 'horizontal' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="border-0">Type</th>
                                            <th width="5%" class="border-0">Code</th>
                                            <th width="10%">Description</th>
                                            <th class="text-right">Stock</th>
                                            <th class="text-right">Quantity</th>
                                            <th class="text-right">Invoiced</th>
                                            <th class="border-0">Unit</th>
                                            <th class="border-0 text-right">Price</th>
                                            <th class="border-0">Disc(%)</th>
                                            <th class="border-0 text-right">Discount</th>
                                            <th class="border-0 text-right">Net Price</th>
                                            <th class="border-0 text-right">Vat</th>
                                            <th class="border-0 text-right">Vat Amount</th>
                                            <th class="border-0">Total Incl</th>
                                            <th class="border-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="invoice_items_body" data-ajax-url="{% url 'add_invoice_items' %}">
                                        <tr id="invoice_items_placeholder">
                                            <td colspan="15">
                                                <img src="{% static 'images/loader.gif' %}">
                                            </td>
                                        </tr>
                                        <tr id="actions">
                                            <td colspan="14"></td>
                                            <td>
                                                <button type="button" id="add_invoice_item_line" class="btn btn-primary"
                                                        data-ajax-url="{% url 'add_invoice_items' %}"
                                                >Add</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="13">Line Discounts</td>
                                            <td class="po-total">
                                                <span id="total_discount"></span>
                                                {% render_field form.line_discount %}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="13">Sub Total</td>
                                            <td class="po-total">
                                                <span id="sub_total"></span>
                                                {% render_field form.sub_total %}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr id="customer_discounts" style="{% if customer_discount != 0 %} display: table-row; {% else %} display: none; {% endif %}">
                                            <td class="po-total" colspan="13">Customer Discounts</td>
                                            <td class="po-total">
                                                <span id="customer_invoice_discounts"></span>
                                                {% render_field form.customer_discount %}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="13">Amount Excluding Vat</td>
                                            <td class="po-total">
                                                <span id="net_total"></span>
                                                {% render_field form.net_amount %}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="13">Vat</td>
                                            <td class="po-total">
                                                <span id="total_vat_amount"></span>
                                                <input type="hidden" id="default_vat" value="{{ default_vat}}">
                                                {% render_field form.vat_amount %}
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="po-total" colspan="13">Total Including Vat</td>
                                            <td class="po-total">
                                                <span id="total_order_value"></span>
                                                {% render_field form.total_amount %}
                                                <input type="hidden" id="invoice_type" value="{{ invoice_type.code }}" />
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="space" colspan="15">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row " style="display: none;">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div>
                        <table class="table table-bordered" width="100%">
                            <tr>
                                <td class="po-total" colspan="14">Gross Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_gross_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Net Weight</td>
                                <td class="po-total" >&nbsp;<span id="total_net_weight"></span></td>
                            </tr>
                            <tr>
                                <td class="po-total" colspan="14">Total Items</td>
                                <td class="po-total" >&nbsp;<span id="total_received"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="panel customer-discount-calculation" id="calculation_summary" >
                        <table class="table table-bordered table-condensed table-striped" width="50%">
                            <thead>
                                <tr>
                                    <th>Vat Recon</th>
                                    <th class="text-right">Excl</th>
                                    <th class="text-right">Vat</th>
                                </tr>
                            </thead>
                            <tbody id="summary_body">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td class="text-right"><span id="vat_summary_total_excl"></span></td>
                                    <td class="text-right"><span id="vat_summary_total_vat"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6" data-ajax-url="{% url 'add_comments' content_type.id %}" id="add_comments"></div>
                <div class="col-6"></div>
            </div>
          </div>
      </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/future/common.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/message.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/form.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/customer.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_item.js' %}?{% now "YmdHis" %}"></script>
    <script type="text/javascript" src="{% static 'js/future/sales_invoice.js' %}?{% now "YmdHis" %}"></script>
{% endblock %}