{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load invoice_tags comment_tags %}
{% block page_title %}Invoice - {{ invoice }}  <span class="pull-right">&nbsp;{{ invoice }}</span>{% endblock page_title %}
{% block stylesheets %}
{% endblock %}
{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left">
                <span class="text-success">Recurring</span>
            </h5>
        </div>
      <div class="pull-right">
        {% block action_buttons %}
                <button class="btn btn-info btn-sm" name="invoice_tracking" id="invoice_tracking"
                    data-modal="{% url 'sales_invoice_tracking' invoice.id %}"
                    data-toggle="tooltip"><i class="fa fa-eye"></i> Tracking</button>
                &nbsp;&nbsp; | &nbsp;&nbsp;
                <button type="button" class="btn btn-primary btn-sm action" name="copy_invoice"
                        id="copy_invoice"
                        data-action="copy_invoice"
                        data-loading-text="<i class='fa fa-spinner'></i> Processing"
                        data-ajax-url="{% url 'copy_invoice' invoice.id %}"
                        data-toggle="tooltip"><i class="fa fa-copy"></i> Copy</button>
                <a href="{% url 'edit_invoice' invoice.id %}" class="btn btn-primary btn-sm"
                        id="edit_invoice"
                        data-toggle="tooltip"><i class="fa fa-pencil"></i> Edit</a>
                &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="{% url 'view_sales_invoice' invoice.id %}?print=1" type="button" class="btn btn-primary btn-sm"
                data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
              <a href="{% url 'recurring_invoice' %}" id="previous_level" class="btn btn-default btn-sm"> Prev. Level</a>
        {% endblock %}
      </div>
  </div>
  <div class="panel-body align-center" id="invoice_document">
     {% include "sales/recurring/template.html" %}
  </div>
  <div class="row">
    <div class="col-8">{% comments invoice.id content_type.id %}</div>
    <div class="col-4"></div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery/jquery.matchHeight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sales.js' %}?{% now 'HisYmd' %}"></script>
    <script>
        $(function(){
            $('.invoice-col').matchHeight();
        });
    </script>
{% endblock %}
