{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load invoice_tags %}
{% block page_title %}Recurring Customer Documents {{ year }} {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>
            <div class="pull-right">
                {% if invoice_type %}
                     {% if tax_invoice_type %}
                         <a class="btn btn-large btn-success"
                            href="{% url 'create_recurring_invoice' invoice_type=tax_invoice_type.code %}"><i class="fa fa-file"></i> Create Invoice</a>
                     {% endif %}
                    &nbsp; | &nbsp;
                     <button type="button" class="btn btn-primary btn-sm single-action" name="edit_invoice" id="edit_invoice"
                             data-ajax-url="{% url 'single_invoice_action' action='edit' %}"
                             data-toggle="tooltip"><i class="fa fa-pencil"></i> Edit</button>
                     <button type="button" class="btn btn-primary btn-sm bulk-action" name="delete_invoice" id="delete_invoice"
                             data-ajax-url="{% url 'bulk_invoice_action' action='delete' %}"
                             data-toggle="tooltip"><i class="fa fa-trash-o"></i> Delete</button>
                     <button type="button" class="btn btn-success btn-loading bulk-action"
                                data-loading-text="<i class='fa fa-spinner'></i> Processing"
                                data-ajax-url="{% url 'bulk_invoice_action' action='recurring_send' %}" id="re_email">
                            <i class="fa fa-caret-right"></i> Send</button>

                     <a href="{% url 'sales_documents_index' %}" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
                  {% else %}
                         <span class="text-danger">Please setup document types for the sales module</span>
                  {% endif %}
            </div>
      </div>
      <div class="panel-body align-center">
        <div class="table-responsive">
            <table id="sales_documents" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>{% translate 'Document Type' %}</th>
                        <th>Customer Nr</th>
                        <th>Customer Name</th>
                        <th class="text-right">Ex Vat</th>
                        <th class="text-right">Incl Vat</th>
                        <th class="text-center actions">
                            <input type="checkbox" class="checkbox-input"
                                   name="action"
                                   id="all_invoices"
                                   value="action"
                            />
                            &nbsp;All
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                        <tr data-detail-url="{% url 'recurring_invoice_detail' invoice.id %}?redirect={% url 'sales_documents_index' %}"
                            class="{% if invoice.is_draft %} draft {% endif %}"
                        >
                            <td>{{ invoice.invoice_type }}</td>
                            <td>{{ invoice.customer }}</td>
                            <td>{{ invoice.customer.name }}</td>
                            <td class="text-right">{{ invoice.net_amount|money }}</td>
                            <td class="text-right">{{ invoice.total_amount|money }}</td>
                            <td class="text-center actions">
                                <input type="checkbox" class="checkbox-input invoice-action invoice-line"
                                       name="action"
                                       id="invoice_{{ invoice.id }}"
                                       value="action"
                                       data-invoice-id="{{ invoice.id }}"

                                />
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="11">There are no recurring documents available</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% if is_paginated %}
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-left">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" type="button" class="btn btn-success"
                                       aria-label="Left Align"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-success"
                                       aria-label="Center Align"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Prev</a>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-info"
                                       aria-label="Right Align"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" type="button" class="btn btn-info"
                                       aria-label="Justify"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>Last</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/sales.js' %}"></script>
{% endblock %}