{% load invoice_tags %}
<table class="table align-right" style="float: right;">
    {% if invoice.linked_invoice %}
        <tr>
            <td>Original Invoice</td>
            <td class="text-right"><a href="{% url 'view_sales_invoice' invoice.linked_invoice.id %}" target="_blank">{{ invoice.linked_invoice }}</a></td>
        </tr>
    {% endif %}
    {% if invoice.delivery %}
        <tr>
            <td>Delivery:</td>
            <td class="text-right">
                <a href="{% url 'delivery_detail' invoice.delivery.id %}">{{ invoice.delivery }}</a>
            </td>
        </tr>
        {% if invoice.delivery.estimate %}
            <tr>
                <td>Estimate:</td>
                <td class="text-right">
                    <a href="{% url 'estimate_detail' invoice.delivery.estimate_id %}">{{ invoice.delivery.estimate }}</a>
                </td>
            </tr>
        {% endif %}
    {% endif %}
    {% if invoice.estimate %}
        <tr>
            <td>Estimate:</td>
            <td class="text-right">
                <a href="{% url 'estimate_detail' invoice.estimate.id %}">
                    {{ invoice.estimate }}
                </a>
            </td>
        </tr>
    {% elif invoice.estimate_number %}
        <td>Our Ref. Number:</td>
        <td class="text-right">{{ invoice.estimate_number }}</td>
    {% endif %}
    {% if invoice.is_picking_slip_required and delivery.picking_slip %}
        <tr>
            <td>Picking Slip:</td>
            <td class="text-right">
                <a href="{% url 'picking_detail' invoice.picking_slip.id %}">{{ invoice.picking_slip }}</a>
            </td>
        </tr>
    {% endif %}
    {% if invoice.po_number %}
        <tr>
           <td>Your Ref. Number:</td>
            <td class="text-right">{{ invoice.po_number }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>Vat Number:</td>
        <td class="text-right">
            {% if invoice.is_cash %}
                {{ invoice.vat_number }}
            {% else %}
                {{ invoice.customer.vat_number }}
            {% endif  %}
        </td>
    </tr>
    {% if invoice.salesman %}
        <tr>
            <td>Salesman:</td>
            <td class="text-right">
                {{ invoice.salesman }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>Period:</td>
        <td class="text-right">{{ invoice.period }}</td>
    </tr>
    {% if invoice.customer.phone_number %}
        <tr>
            <td>Telephone Number:</td>
            <td class="text-right">
                {{ invoice.customer.phone_number }}
            </td>
        </tr>
    {% endif %}
    {% if not is_print %}
        {% if invoice.customer.credit_limit %}
            <tr>
                <td>Credit Limit</td>
                <td class="text-right">{{ invoice.customer.credit_limit|money }}</td>
            </tr>
        {% endif %}
        {% if invoice.customer.credit_limit %}
            <tr>
                <td>Available Credit</td>
                <td class="text-right">{{ invoice.customer.available_credit|money }}</td>
            </tr>
        {% endif %}
    {% endif %}
</table>