{% extends 'modal.html' %}
{% load static %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block title %} Send Recurring Invoices {% endblock title %}
{% block content %}
  <form method="post" action="{% url 'send_recurring_invoices' %}" novalidate="novalidate" role="form" id="send_recurring_invoices_form" name="send_recurring_invoices_form">
     {% csrf_token %}
     <div class="modal-body">
        <div class="form-group control-group {% if form.period.errors %}error{% endif %}">
            <label class="col-sm-4 control-label txt-font12" for="{{ form.period.id_for_label }}">
                Period
            </label>
            <div class="col-sm-8">
                {% render_field form.period class="form-control" %}
                {% if form.period.auto_id  != "id_tos" %}
                    {% if form.period.errors %}<span class="help-inline">{{ form.period.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="form-group control-group {% if form.invoice_date.errors %}error{% endif %}">
            <label class="col-sm-4 control-label txt-font12" for="{{ form.invoice_date.id_for_label }}">
                Invoice Date
            </label>
            <div class="col-sm-8">
                {% render_field form.invoice_date class="form-control datepicker" %}
                {% if form.invoice_date.auto_id  != "id_tos" %}
                    {% if form.invoice_date.errors %}<span class="help-inline">{{ form.invoice_date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary btn-large modal-save"
                id="create_recurring_invoices"><i class="fa fa-save"></i> Create Invoices</button>
    </div>
  </form>
{% endblock %}