{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load company_tags invoice_tags sales_tags vat inventory_tags %}
<div class="row">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
         {% if is_print %}
            {% display_logo invoice.branch.company 200 75 is_print=is_print %}
         {% else %}
            {% display_logo invoice.branch.company 200 75 %}
         {% endif %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4  left-pad right-pad">
        {% with company=invoice.branch.company %}
            {% include "sales/address/company.html" %}
        {% endwith %}
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <table class="table table-borderless table-condensed">
            <tr>
                <td><strong class="h4">{{ invoice.invoice_type|upper }}</strong></td>
                <td>#</td>
            </tr>
            <tr>
                <td>Vat Registration Number</td>
                <td>{{ invoice.branch.company.vat_number }}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{ invoice.invoice_date|date:'d-M-Y' }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row invoice-row" id="customer-data">
    <div class="col-xs-4 col-md-4 col-lg-4 text-left right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Customer</strong></div>
            <div class="panel-body" style="padding: 5px;">
                {% with sales_invoice=invoice %}
                    {% include "sales/address/postal.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad right-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Delivery To</strong></div>
            <div class="panel-body" style="padding: 5px;" id="shipping_to">
                {% with sales_invoice=invoice %}
                    {% include "sales/address/delivery.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4 left-pad">
        <div class="panel panel-default height invoice-col">
            <div class="panel-heading"><strong>Other</strong></div>
            <div class="panel-body" id="invoice_meta" style="padding: 5px;">
                {% include "sales/recurring/invoice.html" %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-info">
            <div class="panel-body sales-items">
                <div class="table-responsive">
                   <table width="100%" class="table">
                        <tr class="item-titles">
                            <th class="">Code</th>
                            <th class="">Description</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Price Exc</th>
                            <th class="text-right">Discount(%)</th>
                            <th class="text-right">Discount</th>
                            <th class="text-right"> Total Exc</th>
                            <th class="text-right">Vat</th>
                            <th class="text-right"> Total Inc</th>
                        </tr>
                        {% for invoice_item in invoice.invoice_items.all %}
                            {% if invoice_item.inventory %}
                                <tr class="line-items">
                                    <td>{{ invoice_item.inventory }}</td>
                                    <td>{{ invoice_item.inventory.description }}</td>
                                    <td class="text-right">{{ invoice_item.quantity|quantity }}</td>
                                    <td class="text-right">{{ invoice_item.price|money }}</td>
                                    <td class="text-right">{{ invoice_item.discount|money  }}%</td>
                                    <td class="text-right">{{ invoice_item.total_discount_amount|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_price_excluding|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_vat_amount|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_price_including|money }}</td>
                                </tr>
                            {% elif invoice_item.account %}
                                <tr class="line-items">
                                    <td>
                                        <span data-original-title="{{ invoice_item.account }}" data-toggle="tooltip">
                                            {{ invoice_item.account.code }}</span>
                                    </td>
                                    <td>{{ invoice_item.description }}</td>
                                    <td class="text-right">{{ invoice_item.quantity|money }}</td>
                                    <td class="text-right">{{ invoice_item.price|money }}</td>
    {#                                <td class="text-right">{{ invoice_item.price_including|money }}</td>#}
                                    <td class="text-right">{{ invoice_item.discount|money  }}%</td>
                                    <td class="text-right">{{ invoice_item.total_discount_amount|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_price_excluding|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_vat_amount|money }}</td>
                                    <td class="text-right">{{ invoice_item.total_price_including|money }}</td>
                                </tr>
                            {% else %}
                                <tr class="line-items">
                                    <td></td>
                                    <td colspan="5">{{ invoice_item.description }}</td>
                                    <td class="text-right"></td>
                                    <td class="text-right"></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        <table width="100%" class="table table-bordered">
            <tr>
                <td class="po-total">Gross Weight</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.total_gross_weight|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Net Weight</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.total_net_weight|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Total Items</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.quantity_total|money }}</td>
            </tr>
        </table>
        {% with bank=account_details %}
            {% include "sales/bank.html" %}
        {% endwith %}
    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        <table width="100%" class="table table-bordered">
            <tr>
                <td class="po-total">Net Excluding Vat</td>
                <td class="po-total text-right">&nbsp;{{ invoice.sub_total|money }}</td>
            </tr>
{#            <tr>#}
{#                <td class="po-total">LINE DISCOUNTS</td>#}
{#                <td class="po-total" >&nbsp;{{ invoice.line_discount|money }}</td>#}
{#            </tr>#}
            {% if customer_discount != 0 %}
                <tr>
                    <td class="po-total">Customer Discount</td>
                    <td class="po-total text-right" >&nbsp;{{ invoice.customer_discount|money }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="po-total">Net after Invoice Discount</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.net_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Vat</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.vat_amount|money }}</td>
            </tr>
            <tr>
                <td class="po-total">Total Including Vat</td>
                <td class="po-total text-right" >&nbsp;{{ invoice.total_amount|money }}</td>
            </tr>
        </table>
        {% vat_summary invoice invoice.invoice_items.all %}
    </div>
</div>

