{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}Stock Count Variance Report - {{ stock_count }}{% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="pull-left"></div>
        <div class="pull-right">
            {% if inventories_counted.count > 0 %}
                <button class="btn btn-large btn-success"
                    data-modal="{% url 'make_stock_variance_adjustment' stock_count.id %}"
                    id="save_adjustment">Make Adjustment</button>
                <a href="?print=1" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</a>
            {% endif %}
            <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
        </div>
    </div>
    {% include "stockcount/variance/template.html" %}
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/inventory/stock_count.js' %}?{% now 'YmdHis' %}"></script>
{% endblock %}