<div class="panel-body aligin-center">
        <div class="row">
            <table class="table">
                <tr>
                    <td><strong>Branch</strong></td>
                    <td>{{ stock_count.branch }}</td>
                </tr>
                <tr>
                    <td><strong>Count Sheet</strong></td>
                    <td>{{ stock_count }}</td>
                </tr>
                <tr>
                    <td><strong>Created By</strong></td>
                    <td>{{ stock_count.captured_by }}</td>
                </tr>
                <tr>
                    <td><strong>Date Captured</strong></td>
                    <td>{{ stock_count.date }}</td>
                </tr>
            </table>
        </div>
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Inventory</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Counted</th>
                        <th class="text-right">Variance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock_count_inventory_item in inventories_counted %}
                        <tr>
                            <td>{{ stock_count_inventory_item.inventory.full_name }}</td>
                            <td class="text-right">
                                {{ stock_count_inventory_item.original_quantity }}
                                <input type="hidden" name="quantity_{{ stock_count_inventory_item.id }}" id="quantity_{{ stock_count_inventory_item.id }}" value="{{ stock_count_inventory_item.original_quantity }}" />
                            </td>
                            <td class="text-right">
                                {{ stock_count_inventory_item.quantity }}
                                <input type="hidden" name="quantity_counted_{{ stock_count_inventory_item.id }}" id="quantity_counted_{{ stock_count_inventory_item.id }}" />
                            </td>
                            <td class="text-right">
                                {{ stock_count_inventory_item.variance }}
                                <input type="hidden" name="variance_{{ stock_count_inventory_item.id }}"
                                       class="stock-count-variance"
                                       id="variance_{{ stock_count_inventory_item.id }}" value="{{ stock_count_inventory_item.variance }}" />
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">There are no stock to be counted found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>