{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Show Invoices {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="Search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group pull-right">
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
  </div>
  <div class="panel-body">

        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
              <fieldset>
                  <legend>Captured Values</legend>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                               {% render_field form.invoice_date class="form-control datepicker" readonly="readonly" %}
                              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                              {% render_field form.due_date class="form-control datepicker" readonly="readonly" %}
                              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                  </div>
                    <div class="form-group {% if form.company.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.company.id_for_label }}">{{ form.company.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.company|add_class:"form-control"  }}
                            {% if form.company.auto_id  != "id_tos" %}
                                {% if form.company.errors %}<span class="help-inline">{{ form.company.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.invoice_type.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.invoice_type.id_for_label }}">{{ form.invoice_type.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.invoice_type class="form-control" %}
                            {% if form.invoice_type.auto_id  != "id_tos" %}
                                {% if form.invoice_type.errors %}<span class="help-inline">{{ form.invoice_type.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.supplier.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.supplier.id_for_label }}">{{ form.supplier.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.supplier class="form-control" %}
                            {% if form.supplier.auto_id  != "id_tos" %}
                                {% if form.supplier.errors %}<span class="help-inline">{{ form.supplier.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.supplier_number.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.supplier_number.id_for_label }}">{{ form.supplier_number.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.supplier_number class="form-control" %}
                            {% if form.supplier_number.auto_id  != "id_tos" %}
                                {% if form.supplier_number.errors %}<span class="help-inline">{{ form.supplier_number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>


                    <div class="form-group control-group {% if form.reference1.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.reference1.id_for_label }}">{{ form.reference1.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.reference1 class="form-control"%}
                            {% if form.reference1.auto_id  != "id_tos" %}
                                {% if form.reference1.errors %}<span class="help-inline">{{ form.reference1.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.reference2.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.reference2.id_for_label }}">{{ form.reference2.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.reference2|add_class:"form-control"  }}
                            {% if form.reference2.auto_id  != "id_tos" %}
                                {% if form.reference2.errors %}<span class="help-inline">{{ form.reference2.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.total_amount.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.total_amount.id_for_label }}">{{ form.total_amount.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.total_amount class="form-control" %}
                            {% if form.total_amount.auto_id  != "id_tos" %}
                                {% if form.total_amount.errors %}<span class="help-inline">{{ form.total_amount.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.alias.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.alias.id_for_label }}">{{ form.alias.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.alias class="form-control" %}
                            {% if form.alias.auto_id  != "id_tos" %}
                                {% if form.alias.errors %}<span class="help-inline">{{ form.alias.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.attachment_file_type.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.attachment_file_type.id_for_label }}">{{ form.attachment_file_type.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.attachment_file_type class="form-control" %}
                            {% if form.attachment_file_type.auto_id  != "id_tos" %}
                                {% if form.attachment_file_type.errors %}<span class="help-inline">{{ form.attachment_file_type.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.status.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.status.id_for_label }}">{{ form.status.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.status class="form-control datepicker" readonly="readonly" %}
                            {% if form.status.auto_id  != "id_tos" %}
                                {% if form.status.errors %}<span class="help-inline">{{ form.status.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
              </fieldset>
              <fieldset>
                  <legend>Invoice</legend>
                    <div class="form-group {% if form.invoice_series.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.invoice_series.id_for_label }}">{{ form.invoice_series.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.invoice_series|add_class:"form-control"  }}
                            {% if form.invoice_series.auto_id  != "id_tos" %}
                                {% if form.invoice_series.errors %}<span class="help-inline">{{ form.invoice_series.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.serial_number.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.serial_number.id_for_label }}">{{ form.serial_number.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.serial_number|add_class:"form-control"  }}
                            {% if form.serial_number.auto_id  != "id_tos" %}
                                {% if form.serial_number.errors %}<span class="help-inline">{{ form.serial_number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.number_of_lines.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.number_of_lines.id_for_label }}">{{ form.number_of_lines.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.number_of_lines|add_class:"form-control"  }}
                            {% if form.number_of_lines.auto_id  != "id_tos" %}
                                {% if form.number_of_lines.errors %}<span class="help-inline">{{ form.number_of_lines.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

              </fieldset>
        </form>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}