{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page_title %} Journal Reports {% endblock page_title %}
{% block content %}
<style type="text/css">
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
</style>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
        <div class="pull-left">
            <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            <button type="button" class="btn btn-primary btn-sm" name="submit" id="Search" data-toggle="tooltip"><i class="fa fa-search"></i> Search</button>
            <a href="javascript:void(0);" id="clear" class="btn btn-default btn-sm"> Clear</a>
        </div>

        <div class="pull-right">
            <div class="form-group pull-right form-inline">
                <select id="template" class="form-control">
                    <option>--select template--</option>
                </select>
                <button type="button" class="btn btn-success btn-sm" name="submit" id="decline" data-toggle="tooltip"><i class="fa fa-save"></i> Save</button>
                <a href="javascript:void(0);" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
            </div>
        </div>
  </div>
  <div class="panel-body">

        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
              <fieldset>
                    <div class="form-group {% if form.company.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.company.id_for_label }}">{{ form.company.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.company|add_class:"form-control"  }}
                            {% if form.company.auto_id  != "id_tos" %}
                                {% if form.company.errors %}<span class="help-inline">{{ form.company.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.role.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.role.id_for_label }}">{{ form.role.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.role class="form-control" %}
                            {% if form.role.auto_id  != "id_tos" %}
                                {% if form.role.errors %}<span class="help-inline">{{ form.role.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.user.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.user.id_for_label }}">{{ form.user.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.user class="form-control" %}
                            {% if form.user.auto_id  != "id_tos" %}
                                {% if form.user.errors %}<span class="help-inline">{{ form.user.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group control-group {% if form.report_number.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.report_number.id_for_label }}">{{ form.report_number.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.report_number class="form-control" %}
                            {% if form.report_number.auto_id  != "id_tos" %}
                                {% if form.report_number.errors %}<span class="help-inline">{{ form.report_number.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                               {% render_field form.invoice_date class="form-control datepicker" readonly="readonly" %}
                              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                              {% render_field form.due_date class="form-control datepicker" readonly="readonly" %}
                              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                  </div>


                    <div class="form-group control-group {% if form.debit_total.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.debit_total.id_for_label }}">{{ form.debit_total.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.debit_total class="form-control"%}
                            {% if form.debit_total.auto_id  != "id_tos" %}
                                {% if form.debit_total.errors %}<span class="help-inline">{{ form.debit_total.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.vat_total.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.vat_total.id_for_label }}">{{ form.vat_total.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ form.vat_total|add_class:"form-control"  }}
                            {% if form.vat_total.auto_id  != "id_tos" %}
                                {% if form.vat_total.errors %}<span class="help-inline">{{ form.vat_total.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group control-group {% if form.creidit_total.errors %}error{% endif %}">
                        <label class="control-label txt-font12 col-sm-2" for="{{ form.creidit_total.id_for_label }}">{{ form.creidit_total.label_tag }}</label>
                        <div class="col-sm-10">
                            {% render_field form.creidit_total class="form-control" %}
                            {% if form.creidit_total.auto_id  != "id_tos" %}
                                {% if form.creidit_total.errors %}<span class="help-inline">{{ form.creidit_total.errors }}</span>{% endif %}
                            {% endif %}
                        </div>
                    </div>
              </fieldset>
        </form>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/form/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/form/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}