{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %}{% translate 'Docuflow Invoices Not Yet Posted' %}{% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> {% translate 'Print' %}</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> {% translate 'Prev. Level' %}</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>{% translate 'Report for period ending' %}</th>
                    <th>{{ report.report_date }}</th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>{% translate 'Docuflow Unique' %}</th>
                                    <th>{% translate 'Flow Status' %}</th>
                                    <th>{% translate 'Accounting Date' %}</th>
                                    <th>{% translate 'Invoice Date' %}</th>
                                    <th>{% translate 'Due Date' %}</th>
                                    <th>{% translate 'Document Type' %}</th>
                                    <th>{% translate 'Supplier Inv' %}</th>
                                    <th>{% translate 'Role' %}</th>
                                    <th class="text-right">{% translate 'Net' %}</th>
                                    <th class="text-right">{% translate 'Total' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if report.invoices|length > 0 %}
                                    {% for invoice in report.invoices %}
                                        <tr class="{{ invoice.document_type.code }}" onclick="openDetail(this)"
                                            data-detail-url="{% url 'invoice_detail' invoice.pk %}">
                                            <td>{{ invoice }}</td>
                                            <td>{{ invoice.status }}</td>
                                            <td>{{ invoice.accounting_date }}</td>
                                            <td>{{ invoice.invoice_date }}</td>
                                            <td>{{ invoice.due_date }}</td>
                                            <td>{{ invoice.invoice_type }}</td>
                                            <td>{{ invoice.supplier }}</td>
                                            <td class="ui-state-error-text">
                                                {% if invoice.flow and invoice.flow.current_role %}
                                                    {{ invoice.flow.current_role.role }}
                                                {% endif %}
                                            </td>
                                            <td class="text-right">{{ invoice.net_amount|money }}</td>
                                            <td class="text-right">{{ invoice.total_amount|money }}</td>
                                        </tr>
                                    {% endfor %}
                                       <tr>
                                            <td colspan="8"></td>
                                            <td class="text-right"><strong>{{ report.total_net|money }}</strong></td>
                                            <td class="text-right"><strong>{{ report.total|money }}</strong></td>
                                       </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10">There are no <strong>invoices not yet posted</strong> available</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}