{% load invoice_tags %}
<table class="table table-bordered" width="100%">
 <thead>
    <tr>
        <th>Year</th>
        <th>Period</th>
        <th>Per Date</th>
        <th>Account</th>
        <th>Journal</th>
        {% for k, linked_model in linked_models.items %}
            <th>{{ linked_model.label }}</th>
        {% endfor %}
        <th class="text-right">Debit</th>
        <th class="text-right">Credit</th>
    </tr>
 </thead>
 <tbody>
    {% for year_id, year in distributions.items %}
        <tr>
            <td>{{ year.year }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% for k, linked_model in linked_models.items %}
                <td></td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
        {% for period_id, period in year.periods.items %}
            <tr>
                <td></td>
                <td>{{ period.period }}</td>
                <td></td>
                <td></td>
                <td></td>
                {% for k, linked_model in linked_models.items %}
                    <td></td>
                {% endfor %}
                <td></td>
                <td></td>
            </tr>
            {% for account_date, accounts_by_date in period.accounts.items %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{ account_date|date:'d/m/Y' }}</td>
                    <td></td>
                    <td></td>
                    {% for k, linked_model in linked_models.items %}
                        <td></td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                </tr>
                {% for distr_account in accounts_by_date %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td data-toggle="tooltip" data-original-title="{{ distr_account.account.account }}"
                        >{{ distr_account.account.account.code }}</td>
                        <td>
                            {% if distr_account.account.journal %}
                                <a href="{% url 'journal_lines' distr_account.account.journal.journal.id %}">{{ distr_account.account.journal.journal.journal_number }}</a>
                            {% endif %}
                        </td>
                        {% for k, object_item in distr_account.object_items.items %}
                            <td>{{ object_item }}</td>
                        {% endfor %}
                        <td class="text-right">
                            {% if distr_account.account.debit > 0 %}
                                {{ distr_account.account.debit|money }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if distr_account.account.credit > 0 %}
                                {{ distr_account.account.credit|money }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
 </tbody>
 <tfoot>
    <tr>
        <td colspan="7">&nbsp;</td>
        {% for k, linked_model in linked_models.items %}
            <td></td>
        {% endfor %}
    </tr>
    <tr>
        <td colspan="4"></td>
        <td>Total distribution account</td>
        {% for k, linked_model in linked_models.items %}
            <td></td>
        {% endfor %}
        <td class="text-right">{{ total_debit|money }}</td>
        <td class="text-right">
            {{ total_credit|money }}
            <input type="hidden" id="total_amount" name="total_amount" value="{{ total_credit }}" />
        </td>
    </tr>
 </tfoot>
</table>
{#<table class="table table-bordered" width="100%">#}
{# <thead>#}
{#    <tr>#}
{#        <th></th>#}
{#        <th>Period</th>#}
{#        <th>Per Date</th>#}
{#        <th>Account</th>#}
{#        <th>Journal</th>#}
{#        <th class="text-right">Debit</th>#}
{#        <th class="text-right">Credit</th>#}
{#    </tr>#}
{# </thead>#}
{# <tbody>#}
{#    {% for k, accounts in distributions.items %}#}
{#        <tr>#}
{#            <td>{{ forloop.index }}</td>#}
{#            <td></td>#}
{#            <td>{{ k|date:'d/m/Y' }}</td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        {% for distribution_account in accounts %}#}
{#            <tr>#}
{#                <td></td>#}
{#                <td>{{ distribution_account.period }}</td>#}
{#                <td></td>#}
{#                <td data-toggle="tooltip" data-original-title="{{ distribution_account.account }}"#}
{#                >{{ distribution_account.account.code }}</td>#}
{#                <td>#}
{#                    {% if distribution_account.journal %}#}
{#                        <a href="{% url 'journal_lines' distribution_account.journal.journal.id %}">{{ distribution_account.journal.journal.journal_number }}</a>#}
{#                    {% endif %}#}
{#                </td>#}
{#                <td class="text-right">{{ distribution_account.debit|money }}</td>#}
{#                <td class="text-right">{{ distribution_account.credit|money }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{# </tbody>#}
{# <tfoot>#}
{#    <tr>#}
{#        <td colspan="7">&nbsp;</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td colspan="4"></td>#}
{#        <td>Total distribution account</td>#}
{#        <td class="text-right">{{ distribution.total_amount|money }}</td>#}
{#        <td class="text-right">#}
{#            {{ distribution.total_amount|money }}#}
{#            <input type="hidden" id="total_amount" name="total_amount" value="{{ distribution.total_amount }}" />#}
{#        </td>#}
{#    </tr>#}
{# </tfoot>#}
{#</table>#}