{% extends 'modal.html' %}
{% load static %}
{% block title %} Distribution {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form"
        id="create_invoice_account_distribution" name="create_invoice_account_distribution"
        action="{% url 'create_invoice_account_distribution' invoice_id=account.invoice_id account_id=account.id %}">
     <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
             <table class="table table-bordered" width="100%">
                 <thead>
                    <tr>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Select</th>
                    </tr>
                 </thead>
                 <tbody>
                    {% for invoice_account in invoice_accounts %}
                        <tr class="{% if invoice_account.distribution %} distributed {% endif %}">
                            <td>{{ invoice_account.account.code }}</td>
                            <td>{{ invoice_account.amount }}</td>
                            <td>
                                {% if not invoice_account.distribution %}
                                    <input type="checkbox" class="distribution-invoice-account checkbox-input"
                                        name="invoice_accounts"
                                        id="invoice_account_{{ invoice_account.id }}"
                                        {% if invoice_account.id == account.id %} checked="checked" {% endif %}
                                        value="{{ invoice_account.id }}" />
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                 </tbody>
             </table>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            {% include 'common/form.html' %}
            <div class="form-group pull-right">
                <button type="button" class="btn btn-primary btn-large" id="distribute_invoice_accounts"
                data-ajax-url="{% url "distribute_invoice_accounts" invoice_id=account.invoice_id account_id=account.id  %}">Distribute</button>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="account_distribution">
                {% include "invoicedistribution/accounts_distribution.html" %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-large" name="create_invoice_account_distribution_submit"
                type="button" id="create_invoice_account_distribution_submit"><i class="fa fa-save"></i> Accept</button>
    </div>
  </form>

{% endblock %}