{% load invoice_tags %}
<table class="table table-bordered" width="100%">
 <thead>
    <tr>
        <th></th>
        <th>Period</th>
        <th>Per Date</th>
        <th>Account</th>
        <th class="text-right">Debit</th>
        <th class="text-right">Credit</th>
    </tr>
 </thead>
 <tbody>
    {% for k, account_distribution in distributions.items %}
        <tr class="{% if account_distribution.period %} - {% else %} text-danger {% endif %}">
             <td>{{ account_distribution.counter }}</td>
            <td>
                {% if account_distribution.period %}
                    {{ account_distribution.period }}
                    <span style="display:none;">{{account_distribution.period.id}}</span>
                {% else %}
                    <strong>Not found</strong>
                {% endif %}
            </td>
            <td>{{ account_distribution.day|date:'d/m/Y' }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for invoice_account in account_distribution.accounts %}
            <tr class="{% if account_distribution.period %} - {% else %} text-danger {% endif %}">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ invoice_account.account.code }}</td>
                <td class="text-right">
                    {% if invoice_account.debit > 0 %}
                        {{ invoice_account.debit|money }}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if invoice_account.credit > 0 %}
                        {{ invoice_account.credit|money }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr class="{% if account_distribution.period %} - {% else %} text-danger {% endif %}">
            <td></td>
            <td></td>
            <td></td>
            <td>{{ account_distribution.distribution_account.code }}</td>
            <td class="text-right">
                {% if account_distribution.debit > 0 %}
                    {{ account_distribution.debit|money }}
                {% endif %}
            </td>
            <td class="text-right">
                {% if account_distribution.credit > 0 %}
                    {{ account_distribution.credit|money }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
 </tbody>
 <tfoot>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>Total distribution account</td>
        <td class="text-right">{{ total_distribution|money }}</td>
        <td class="text-right">
            {{ total_distribution|money }}
            <input type="hidden" id="total_amount" name="total_amount" value="{{ total_distribution }}" />
        </td>
    </tr>
 </tfoot>
</table>