{% extends 'modal.html' %}
{% load static %}
{% block title %} Distribution {% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form"
        id="edit_invoice_account_distribution" name="edit_invoice_account_distribution"
        action="{% url 'edit_invoice_account_distribution' invoice_id=account.invoice_id account_id=account.id %}">
     <div class="modal-body">
        <div class="col-lg-12">
             <table class="table table-bordered" width="100%">
                 <thead>
                    <tr>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Select</th>
                    </tr>
                 </thead>
                 <tbody>
                    {% for invoice_account in invoice_accounts %}
                        <tr class="{% if invoice_account.distribution %} distributed {% endif %}">
                            <td>{{ invoice_account.account.code }}</td>
                            <td>{{ invoice_account.amount }}</td>
                            <td>
                                <input type="checkbox" class="distribution-invoice-account"
                                    name="invoice_accounts"
                                    id="invoice_account_{{ invoice_account.id }}"
                                    {% if invoice_account.id == account.id %} checked="checked" {% endif %}
                                    value="{{ invoice_account.id }}" />
                            </td>
                        </tr>
                    {% endfor %}
                 </tbody>
             </table>
        </div>
        <div class="col-lg-12">
            {% include 'common/form.html' %}
            <div class="form-group pull-right">
                <button type="button" class="btn btn-primary btn-large" id="distribute_invoice_accounts"
                data-ajax-url="{% url "distribute_invoice_accounts" invoice_id=account.invoice_id account_id=account.id  %}">Distribute</button>
            </div>
        </div>
        <div class="col-lg-12" id="account_distribution">
            {% include "invoicedistribution/distribution_accounts.html" %}
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
{#        <button class="btn btn-primary btn-large" name="clear_invoice_account_distribution_submit"#}
{#                data-ajax-url="{% url 'clear_invoice_account_distribution' account.id %}"#}
{#                type="button" id="clear_invoice_account_distribution_submit"><i class="fa fa-ban"></i> Clear</button>#}
        <button class="btn btn-primary btn-large" name="delete_invoice_account_distribution"
                data-ajax-url="{% url 'delete_invoice_account_distribution' account.id %}"
                type="button" id="delete_invoice_account_distribution"><i class="fa fa-trash"></i> Delete</button>
        <button class="btn btn-primary btn-large" name="create_invoice_account_distribution_submit"
                type="button" id="create_invoice_account_distribution_submit"><i class="fa fa-save"></i> Update</button>
    </div>
  </form>

{% endblock %}