{% extends 'base.html' %}
{% block page_title %} Branches {% endblock page_title %}
{% block content %}
    <div class="ui vertical segment">
        <a href="{% url 'create_branch' %}" class="btn labeled btn-primary" role="button">
            <i class="fa fa-plus"></i> Create
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if branches %}
                    {% for branch in branches %}
                        <tr>
                            <td>{{ branch.name }}</td>
                            <td>

                            </td>
                            <td class="text-left actions">
                               <a href="{% url 'edit_branch' branch.id %}" data-toggle="tooltip" title="" class="btn-sm btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                               <a href="{% url 'delete_branch' branch.id %}" data-toggle="tooltip" title="" class="btn-sm btn-danger" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">There are no branches available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}