{% extends 'modal.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Distribution Journals {{ year }} {% endblock title %}
{% block content %}
<form method="post" novalidate="novalidate" role="form" id="create_distribution_journals_form"
      name="create_distribution_journals_form" action="{% url 'run_distribution_journal' %}">
    {% csrf_token %}
    <div class="modal-body">
        {% include 'common/form.html' %}
    </div>
     <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-large" name="create_distribution_journal_submit"
                type="button" id="create_distribution_journal_submit"><i class="fa fa-save"></i> Create</button>
    </div>
</form>
{% endblock %}