{% extends 'base.html' %}
{% block page_title %} <h2>Delete Pop3 Email Account</h2> {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
      Delete Pop3 Email Account
    {% csrf_token %}
    {% include 'common/form.html' %}

    <button type="submit" class="btn btn-danger btn-large">Confirm Delete</button>
  </form>
{% endblock %}