{% extends 'modal.html' %}
{% load static %}
{% block title %} Distribution {% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" role="form" id="create_distribution" name="create_distribution"
        action="{% url 'create_distribution' content_type_id=content_type.id object_id=object_id %}">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered" width="100%">
                 <thead>
                    <tr>
                        <th>Account</th>
                        <th>Amount</th>
                        <th>Select</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr class="">
                        <td>{{ content_object.account.code }}</td>
                        <td>{{ content_object.amount }}</td>
                        <td>
                            <input type="checkbox" class="distribution-account checkbox-input"
                                name="journal_account"
                                id="distribute"
                                checked="checked"
                                value="{{ content_object.account_id }}" />
                        </td>
                    </tr>
                 </tbody>
                </table>
            </div>
        </div>
        <div class="border-gray" style="margin-bottom: 3px;" id="create_distribution_box">
            <div class="row">
                <div class="col-12">
                    <input id="suffix" value="{{ suffix }}" type="hidden" />
                    {% include 'distribution/form.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-primary btn-large" id="distribute_accounts"
                                data-ajax-url="{% url "distribute_amount" %}">Distribute</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" id="account_distribution">
                {% include "distribution/account/distributions.html" %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-large" name="submit_distribution"
                type="button" id="submit_distribution"><i class="fa fa-save"></i> Accept</button>
    </div>
  </form>

{% endblock %}