{% extends 'modal.html' %}
{% load static i18n %}
{% block title %} {% translate 'Distribution' %} - {{ distribution }}{% endblock title %}
{% block content %}

  <form method="post" novalidate="novalidate" role="form" id="create_distribution" name="edit_distribution"
        action="{% url 'edit_distribution' distribution.id %}">
     <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                 <table class="table table-bordered" width="100%">
                     <thead>
                        <tr>
                            <th>{% translate 'Account' %}</th>
                            <th>{% translate 'Amount' %}</th>
                            <th>{% translate 'Select' %}</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr class="{% if distribution %} distributed {% endif %}">
                            <td>{{ distribution.account.code }}</td>
                            <td>{{ distribution.total_amount }}</td>
                            <td>
                                <input type="checkbox" class="distribution-account"
                                    name="distribution_accounts" id="distribution_account_{{ distribution.id }}"
                                    checked="checked" value="{{ distribution.account_id }}" />
                            </td>
                        </tr>
                     </tbody>
                 </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12 mb-3 border-gray" id="create_distribution_box">
                {% include 'distribution/form.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-primary btn-large" id="distribute_accounts"
                    data-ajax-url="{% url "distribute_amount" %}">{% translate 'Distribute' %}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="account_distribution">
                {% include "distribution/account/distributions.html" %}
            </div>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">{% translate 'Cancel' %}</button>

        <button class="btn btn-primary btn-large" name="delete_journal_distribution"
                data-ajax-url="{% url 'delete_distribution' distribution.id %}"
                type="button" id="delete_journal_distribution"><i class="fa fa-trash"></i> {% translate 'Delete' %}</button>
        <button class="btn btn-primary btn-large" name="submit_distribution_update"
                type="button" id="submit_distribution_update"><i class="fa fa-save"></i> {% translate 'Update' %}</button>
    </div>
  </form>

{% endblock %}