{% load widget_tweaks %}
{% csrf_token %}
{% render_field form.total_amount %}
{% render_field form.account %}
<div class="row">
    <div class="col-6">
        <div class="form-group control-group {% if form.starting_date.errors %}error{% endif %}">
            {{ form.starting_date.label_tag }}
            <div class="controls">
                {% render_field form.starting_date class="form-control datepicker" %}
                {% if form.starting_date.auto_id  != "id_tos" %}
                    {% if form.starting_date.errors %}<span class="help-inline">{{ form.starting_date.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group control-group {% if form.nb_months.errors %}error{% endif %}">
            {{ form.nb_months.label_tag }}
            <div class="controls">
                {% render_field form.nb_months class="form-control" %}
                {% if form.nb_months.auto_id  != "id_tos" %}
                    {% if form.nb_months.errors %}<span class="help-inline">{{ form.nb_months.errors }}</span>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>