{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} {% translate 'Distributions' %} - {{ year }} {% endblock page_title %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading clear-fix">
        <div class="pull-left"></div>
        <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> {% translate 'Print' %}</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> {% translate 'Prev. Level' %}</a>
        </div>
    </div>
    <div class="panel-body align-center">
        <div class="col-xs-12 col-lg-12 col-md-12">
            <table id="distributions" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>{% translate 'Title' %}</th>
                        <th>{% translate 'Months' %}</th>
                        <th>{% translate 'Starting Date' %}</th>
                        <th class="text-right">{% translate 'Amount' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for distribution in distributions %}
                        <tr data-distribution-url="{% url 'distribution_detail' distribution.id %}">
                            <td>{{ distribution }}</td>
                            <td>{{ distribution.nb_months }}</td>
                            <td>{{ distribution.starting_date|date:'d, M Y' }}</td>
                            <td class="text-right">{{ distribution.total_amount|money }}</td>
                            <td class="text-left actions">
                                <a href="{% url 'distribution_detail' distribution.id %}" target="_blank">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">{% translate 'There are no distributions' %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
       $(function(){
            $("#distributions>tbody>tr>td").on('click', function(){
                document.location.href = $(this).parent('tr').data('distribution-url');;
                return false;
            });
       });
    </script>
{% endblock %}