{% extends 'base.html' %}
{% block page_title %} Delete delivery method{% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group">
       <button class="btn btn-danger btn-large" name="submit" type="submit"><i class="fa fa-trash"></i> Confirm delete of this delivery method?</button>
    </div>
  </form>
{% endblock %}