{% extends 'email.html' %}
{% load static %}
{% load invoice_tags %}
<!-- Email Body -->
{% block content %}
<h3 style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 14px; font-weight: bold; margin-top: 0; text-align: left;">Dear {{ first_name }} {{ last_name }},</h3>
<p style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #232529; font-size: 12px; line-height: 1.2em; margin-top: 0; text-align: left;">Thank you for using the Docuflow.co.za website!</p>
<div class="table" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; font-size: 12px; line-height: 1.2em; ">
    <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 10px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
        <tr>
            <td>
                <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 30px auto; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                    <tr>
                        <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">Company Code:</td>
                        <td style="text-align: left !important;">{{ company.slug }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">Username:</td>
                        <td style="text-align: left !important;">{{ username }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">Login Url:</td>
                        <td style="text-align: left !important;">{{ login_url }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                  <tr>
                    <td>
                      <table style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                        <tr>
                          <td style="font-size: 12px; line-height: 1.2em; font-weight: bold;">
                            <a style="padding: 6px 25px; border-radius: 1.5rem; border: 1px solid transparent; background-color: #00b08c; color: #fff; font-size: .8125rem; font-weight: 700; line-height: 1.3;" href="{{ login_url }}" target="_blank">Login</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="f-fallback sub">If you’re having trouble with the button above, copy and paste the URL below into your web browser.</p>
                      <p style="color: #0A246A;, border-bottom: 1px solid #edeff2; font-size: 12px; line-height: 1.2em; font-weight: bold;">{{login_url}}</p>
                    </td>
                  </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
