<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css" rel="stylesheet" media="all">
        /* Media Queries */
        @media only screen and (max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }
        .body-action{
            width: 100%; margin: 30px auto; padding: 0; text-align: center;
        }
        .body-sub {
            margin-top: 25px; padding-top: 25px; border-top: 1px solid #EDEFF2;
        }
        .paragraph-sub {
            margin-top: 0; color: #74787E; font-size: 12px; line-height: 1.5em;
        }
        .button {
            display: block; display: inline-block; width: 200px; min-height: 20px; padding: 10px;
                 background-color: #3869D4; border-radius: 3px; color: #ffffff; font-size: 15px; line-height: 25px;
                 text-align: center; text-decoration: none; -webkit-text-size-adjust: none;
        }
        .button-green{
            background-color: #22BC66;
        }
        .button-red {
            background-color: #dc4d2f;
        }
        .button-blue{
            background-color: #3869D4;
        }
    </style>
</head>

<body style="margin: 0; padding: 0; width: 100%; background-color: #F2F4F6;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%; margin: 0; padding: 0; background-color: #F2F4F6;" align="center">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <!-- Logo -->
                    <tr>
                        <td style="padding: 25px 0; text-align: center;">
                            <a style="font-family: Arial, \'Helvetica Neue\', Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #2F3133; text-decoration: none; text-shadow: 0 1px 0 white;" href="{% url 'homepage' %}" target="_blank">
                                Docuflow.co.za
                            </a>
                        </td>
                    </tr>

                    <!-- Email Body -->
                    <tr>
                        <td style="width: 100%; margin: 0; padding: 0; border-top: 1px solid #EDEFF2; border-bottom: 1px solid #EDEFF2; background-color: #FFF;" width="100%">
                            <table style="width: auto; max-width: 570px; margin: 0 auto; padding: 0;" align="center" width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="font-family: Arial, \'Helvetica Neue\', Helvetica, sans-serif; color: #AEAEAE; padding: 35px; text-align: center;">
                                        <!-- Greeting -->
                                    <h1 style="margin-top: 0; color: #2F3133; font-size: 19px; font-weight: bold; text-align: left;">
                                        Hi Docuflow Team,
                                    </h1>
                                    <p>A new enquiry has been created on docuflow.co.za by</p>
                                    <ul style="list-style: none;">
                                        <li>Name: {{ name }}</li>
                                        <li>Surname: {{ surname }}</li>
                                        <li>Company: {{ company }}</li>
                                        <li>Email: {{ email }}</li>
                                        <li>Phone Number: {{ phone_no }}</li>
                                    </ul>
                                        <!-- Salutation -->
                                        <p style="margin-top: 0; color: #74787E; font-size: 16px; line-height: 1.5em;">
                                            Regards,<br> Docuflow.co.za
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- Footer -->
                    <tr>
                        <td>
                            <table style="width: auto; max-width: 570px; margin: 0 auto; padding: 0; text-align: center;" align="center" width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="font-family: Arial, \'Helvetica Neue\', Helvetica, sans-serif; color: #AEAEAE; padding: 35px; text-align: center;">
                                        <p style="margin-top: 0; color: #74787E; font-size: 16px; line-height: 1.5em;">
                                            &copy; <a style="color: #3869D4;" href="{%  url 'homepage'  %}" target="_blank">Docuflow.co.za</a>.
                                            All rights reserved.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>