{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_title %} Update payment invoices - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                  <button type="button" class="btn btn-large btn-success btn-loading create-journal" data-loading-text="<i class='fa fa-spinner'></i> Processing" data-ajax-url="{% url 'create_journal_for_payment_invoice' %}" id="journal_for_payment_invoice">UPDATE PAYMENTS</button>
                  <select class="form-control" name="period" id="period" required="required">
                      <option value="">--Period--</option>
                      {% for period in periods %}
                          <option value="{{ period.id }}">{{ period }}</option>
                      {% endfor %}
                  </select>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table id="invoices" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Created Date</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% if journals %}
                        {% for journal in journals %}
                            <tr onclick="openDetail(this)" data-detail-url="{% url 'payments_invoice_journal_detail' journal.id %}">
                                <td>{{ journal.report_unique_number }}</td>
                                <td>{{ journal.created_at }}</td>
                                <td>{{ journal.role }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">There are no updated payments available for the selected year</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
{% endblock %}