{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Update payments - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Report Unique Number:</th>
                    <th>{{ journal.report_unique_number }}</th>
                    <th class="text-right">Report Date</th>
                    <th class="text-right"><a href="#">{{ journal.created_at }}</a></th>
                </tr>
                <tr>
                    <th>Role:</th>
                    <th>{{ journal.role }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>User in role:</th>
                    <th>
                        {{ role_profiles }}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Docuflow Unique</th>
                                    <th>Invoice Date</th>
                                    <th>Due Date</th>
                                    <th>Payment Date</th>
                                    <th>Supplier Name</th>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th>Account Number</th>
                                    <th class="text-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if journal_report.invoices|length > 0 %}
                                    {% for k, invoice in journal_report.invoices.items %}
                                        <tr>
                                            <td>{{ invoice.period }}</td>
                                            <td>{{ invoice.docuflow_unique }}</td>
                                            <td>{{ invoice.invoice_date|date:'d-M-Y' }}</td>
                                            <td>{{ invoice.due_date|date:'d-M-Y' }}</td>
                                            <td>{{ invoice.date_paid|date:'d-M-Y' }}</td>
                                            <td>{{ invoice.supplier_name }}</td>
                                            <td>{{ invoice.document_type }}</td>
                                            <td>{{ invoice.supplier_inv }}</td>
                                            <td data-original-title="{{ debit_credit_account }}">{{ default_supplier_account.code }}</td>
                                            <td class="text-right">{{ invoice.credit_total|money }}</td>
                                        </tr>
                                    {% endfor %}
                                       <tr>
                                            <td colspan="10">&nbsp;</td>
                                       </tr>
                                       {% if journal_report.total_discounts %}
                                           <tr>
                                                <td colspan="7" class="text-right">Discounts</td>
                                                <td></td>
                                                <td>{{ discount_received_account.code }}</td>
                                                <td class="text-right"><strong>{{ journal_report.total_discounts|money }}</strong></td>
                                           </tr>
                                           <tr>
                                                <td colspan="7" class="text-right">Vat on Discounts</td>
                                                <td></td>
                                                <td>{{ debit_vat_account.code }}</td>
                                                <td class="text-right"><strong>{{ report.total|money }}</strong></td>
                                            </tr>
                                       {% endif %}
                                       {% for p, payment in journal_report.payments.items %}
                                           <tr>
                                                <td colspan="7" class="text-right">Payment</td>
                                                <td>{{ payment.reference }}</td>
                                                <td>{{ payment.account_number }}</td>
                                                <td class="text-right"><strong>{{ remmitance|money }}</strong></td>
                                           </tr>
                                       {% endfor %}
                                       <tr>
                                            <td colspan="6"></td>
                                            <td class="text-right">Totals</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right"><strong>{{ journal_report.total|money }}</strong></td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">There are no updated payments available for the selected year</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}