{% extends 'base.html' %}
{% load widget_tweaks %}
{% load invoice_tags %}
{% block page_title %} Update payments - {{ year }} {% endblock page_title %}
{% block content %}
    <style type="text/css">
        table#invoices tbody>tr:hover{
            background-color: lightgray;
            border-top: 1px solid #000000;
        }
    </style>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
            <div class="pull-left">
                <h5 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 30px;"></h5>
            </div>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm" name="submit" id="Print" data-toggle="tooltip"><i class="fa fa-print"></i> Print</button>
              <a href="javascript:history.back(-1);" id="prev_level" class="btn btn-default btn-sm"> Prev. Level</a>
          </div>
      </div>
      <div class="panel-body aligin-center">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Report Unique Number:</th>
                    <th>{{ journal.report_unique_number }}</th>
                    <th class="text-right">Report Date</th>
                    <th class="text-right"><a href="#">{{ journal.created_at }}</a></th>
                </tr>
                <tr>
                    <th>Role:</th>
                    <th>{{ journal.role }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>User in role:</th>
                    <th>
                        {{ role_profiles }}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="invoices" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Period</th>
                                    <th>Payment Date</th>
                                    <th>Remmitance</th>
                                    <th>Docuflow Unique</th>
                                    <th>Invoice Date</th>
                                    <th>Due Date</th>
                                    <th>Supplier</th>
                                    <th>Document Type</th>
                                    <th>Document Number</th>
                                    <th class="text-right">Vat</th>
                                    <th class="text-right">Invoice Total</th>
                                    {#<th class="text-right">Discount</th>#}
                                    <th class="text-right">Vat on discount</th>
                                    <th class="text-right">Net discount</th>
                                    <th class="text-right">Net Payment</th>
                                    <th>Credit Acc</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if journal_report.invoices|length > 0 %}
                                    {% for k, invoice in journal_report.invoices.items %}
                                        <tr>
                                            <td>{{ invoice.period }}</td>
                                            <td>{{ invoice.date_paid|date:'d-M-Y' }}</td>
                                            <td>{{ invoice.remmitance }}</td>
                                            <td>{{ invoice.docuflow_unique }}</td>
                                            <td>{{ invoice.invoice_date|date:'d-M-Y' }}</td>
                                            <td>{{ invoice.due_date|date:'d-M-Y' }}</td>
                                            <td>{{ invoice.supplier_name }}</td>
                                            <td>{{ invoice.document_type }}</td>
                                            <td>{{ invoice.supplier_inv }}</td>
                                            <td class="text-right">{{ invoice.vat }}</td>
                                            <td class="text-right">{{ invoice.credit_total|money }}</td>
                                            {#                                            <td class="text-right">{{ invoice.discount|money }}</td>#}
                                            <td class="text-right">{{ invoice.vat_on_discount|money }}</td>
                                            <td class="text-right">{{ invoice.net_discount|money }}</td>
                                            <td class="text-right">{{ invoice.net_payment|money }}</td>
                                            <td>{{ invoice.credit_acc }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if journal_report.total_payment_discount %}
                                           <tr>
                                                <td colspan="10" class="text-right">Discounts</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td class="text-right"><strong>{{ journal_report.total_payment_discount|money }}</strong></td>
                                           </tr>
                                    {% endif %}
                                       <tr>
                                            <td colspan="15">&nbsp;</td>
                                       </tr>
                                       <tr>
                                            <td colspan="10" class="text-right">Journals</td>
                                            <td class="text-right"><strong>{{ credit_account }}</strong></td>
                                            <td class="text-right"><strong>{{ vat_account }}</strong></td>
                                            <td class="text-right"><strong>{{ discount_received_account}}</strong></td>
                                            <td class="text-right"></td>
                                       </tr>
                                       <tr>
                                           <td colspan="9"></td>
                                            <td class="text-right">Totals</td>
                                            <td class="text-right">{{ journal_report.invoice_total|money }}</td>
                                            <td class="text-right">{{ journal_report.vat_on_discount_total|money }}</td>
                                            <td class="text-right">{{ journal_report.total_discount|money }}</td>
                                            <td class="text-right">{{ journal_report.total_net_payment|money }}</td>
                                       </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">There are no updated payments available for the selected year</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
{% endblock %}