{% extends 'modal.html' %}
{% block page_title %} Delete Warranty {% endblock page_title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="modal_form" action="{% url 'delete_fixed_asset_warranty' warranty.fixed_asset_id warranty.id %}">
    {% csrf_token %}
    <div class="modal-body">
        Are you sure you want to delete this warranty?.
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger btn-large" name="submit" type="submit" id="modal_save_btn"
        ><i class="fa fa-trash"></i> Delete this warranty</button>
    </div>
  </form>
{% endblock %}