{% extends 'modal.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load fixed_asset_tags %}
{% block title %}Edit Warranty{% endblock title %}
{% block content %}
  <form method="post" novalidate="novalidate" id="modal_form"
        action="{% url 'edit_fixed_asset_warranty' fixed_asset.id warranty.id %}"
        data-ajax-url="{% url 'edit_fixed_asset_warranty' fixed_asset.id warranty.id %}">
        {% csrf_token %}
       <div class="modal-body">
            {% include 'common/form.html' %}
       </div>
       <div class="modal-footer">
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
            <button class="btn btn-primary btn-large" name="save_warranty" type="submit" id="modal_save_btn"><i class="fa fa-save"></i> Update</button>
       </div>
  </form>
{% endblock %}