<table class="table-bordered table">
    <thead>
        <tr>
            <th>Supplier</th>
            <th>Period</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for warranty in warranties %}
            <tr>
                <td>{{ warranty.supplier }}</td>
                <td>{{ warranty.period }}</td>
                <td>{{ warranty.end_date }}</td>
                <td>
                    <a href="#" data-modal="{% url 'edit_fixed_asset_warranty' fixed_asset_id=warranty.fixed_asset_id pk=warranty.id %}">Edit</a>
                    &nbsp;&nbsp;
                    <a href="#" data-modal="{% url 'delete_fixed_asset_warranty' fixed_asset_id=warranty.fixed_asset_id pk=warranty.id %}">Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No warranties found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>